Repository apache/beam, pull requests merged in 2020-11, with the labels that each got.

#12838 [BEAM-10892] Add Proto support to Kafka Table Provider
  CHANGES.md
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoMessageSchema.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoMessageSchemaTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/TestProtoSchemas.java
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaProtoTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProvider.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaTableAvroTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaTableProtoTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaTableTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderProtoIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderTest.java
  sdks/java/extensions/sql/src/test/proto/kafka/kafka_messages.proto
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
Labels: build, extensions, java, sql

#12572 [BEAM-10123] Add Kafka Commit transform.
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaCommitOffset.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
Labels: io, java, kafka

#12711 Support read/write ZetaSQL DATETIME/NUMERIC types from/to BigQuery
  CHANGES.md
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/SchemaUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
Labels: extensions, gcp, io, java, sql

#11706 [BEAM-8451] annotate python only sections
  website/www/site/content/en/documentation/runners/direct.md
Labels: website

#12960 [BEAM-9804] Allow user configuration of BigQuery temporary dataset
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: gcp, io, python

#12867 [BEAM-10114] Pub/Sub Lite getSplitBacklog implementation
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedReader.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/SubscriberOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/TopicBacklogReader.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/TopicBacklogReaderImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/TopicBacklogReaderSettings.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedReaderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/TopicBacklogReaderImplTest.java
Labels: build, gcp, io, java

#12611 [BEAM-10139][BEAM-10140] Add cross-language support for Java SpannerIO with python wrapper
  sdks/java/io/google-cloud-platform/expansion-service/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/MutationUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerTransformRegistrar.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/StructUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/MutationUtilsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/StructUtilsTest.java
  sdks/python/apache_beam/io/gcp/spanner.py
  sdks/python/apache_beam/io/gcp/tests/xlang_spannerio_it_test.py
  sdks/python/test-suites/portable/common.gradle
  settings.gradle
Labels: build, gcp, io, java, python

#13377 [BEAM-10896] Support ZetaSQL UNNEST syntax on array of struct type
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLQueryPlanner.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ArrayScanColumnRefToUncollect.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ArrayScanLiteralToUncollectConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ArrayScanToJoinConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/unnest/BeamZetaSqlUncollectRel.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/unnest/BeamZetaSqlUncollectRule.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/unnest/BeamZetaSqlUnnestRel.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/unnest/BeamZetaSqlUnnestRule.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/unnest/ZetaSqlUnnest.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/unnest/package-info.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/TestInput.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlTestBase.java
Labels: extensions, java, sql

#13416 Fix Java 11 V2 CI test and add V2 tests to dashboard
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PostCommit_Java_Examples_Dataflow_V2_Java11.groovy
Labels: infra

#13401 [BEAM-11324] Add additional verification in PartitioningSession
  sdks/python/apache_beam/dataframe/expressions.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
  sdks/python/apache_beam/dataframe/partitionings.py
Labels: python

#13418 [release-2.26.0][BEAM-11324] Fix some partitioning errors that can lead to execution-time errors
  sdks/python/apache_beam/dataframe/expressions.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
  sdks/python/apache_beam/dataframe/partitionings.py
Labels: python

#13335 [BEAM-10921]: Fix BEAM-10921 and underlying issues
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/background_caching_job_test.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
  sdks/python/apache_beam/runners/interactive/recording_manager_test.py
  sdks/python/apache_beam/runners/interactive/user_pipeline_tracker.py
  sdks/python/apache_beam/runners/interactive/user_pipeline_tracker_test.py
Labels: python

#13422 remove tabs in shared
  sdks/python/apache_beam/utils/shared.py
Labels: python

#13389 Go SDK Combine load tests
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Go.groovy
  sdks/go/test/load/build.gradle
  sdks/go/test/load/combine/combine.go
Labels: build, go, infra

#13388 Go SDK Group by key load tests
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Go.groovy
  sdks/go/test/load/build.gradle
  sdks/go/test/load/group_by_key/group_by_key.go
Labels: build, go, infra

#13417 [BEAM-10278] Move pipeline jar tests from job server projects to pyth…
  .test-infra/jenkins/job_PostCommit_PortableJar_Flink.groovy
  .test-infra/jenkins/job_PostCommit_PortableJar_Spark.groovy
  runners/flink/job-server/flink_job_server.gradle
  runners/portability/test_flink_uber_jar.sh
  runners/portability/test_pipeline_jar.sh
  runners/spark/job-server/build.gradle
  sdks/python/test-suites/portable/common.gradle
Labels: build, flink, infra, portability, python, runners, spark

#12930 [BEAM-10962] Add Multiple PubSub reader to Python SDK
  sdks/python/apache_beam/io/gcp/pubsub.py
  sdks/python/apache_beam/io/gcp/pubsub_test.py
Labels: gcp, io, python

#13423 Advance the chromedriver-binary version with new screenshots.
  sdks/python/apache_beam/runners/interactive/testing/integration/goldens/Linux/7a35f487b2a5f3a9b9852a8659eeb4bd.png
  sdks/python/setup.py
Labels: python

#13425 [BEAM-11342] fix google3 import error
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#13427 [BEAM-11343] Make ExpansionServiceClient accesible outside of core-construction-java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/DefaultExpansionServiceClientFactory.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ExpansionServiceClient.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ExpansionServiceClientFactory.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/External.java
Labels: core, runners

#13026 [BEAM-7003 BEAM-8639 BEAM-8774] Update Kafka dependencies, enable IT test in Postcommit
  build.gradle
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: build, io, java, kafka

#13433 Warn if temp dataset cleanup permission is denied
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: gcp, io, python

#13170 [BEAM-9650] Adding support for ReadAll from BigQuery transform
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_internal.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/iobase.py
Labels: gcp, io, python

#13137 [BEAM-11073] Dicom IO Connector for Java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/DicomIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/WebPathParser.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/DicomIOReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/DicomIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/WebPathParserTest.java
  sdks/java/io/google-cloud-platform/src/test/resources/DICOM/testDicomFile.dcm
Labels: gcp, io, java

#13332 Fixes silent fail in bigtableio.py by logging ImportError
  sdks/python/apache_beam/io/gcp/bigtableio.py
Labels: gcp, io, python

#13445 [BEAM-11343] Run spotlessApply
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/External.java
Labels: core, runners

#13442 [BEAM-7372] Update python version support in Python quickstart
  website/www/site/content/en/get-started/quickstart-py.md
Labels: website
