Repository apache/beam, pull requests merged in 2020-04, with the labels that each got.

#11229 [BEAM-9608] Increasing scope of context managers for FnApiRunner
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
Labels: python

#10870 [BEAM-9263] Bump up sdk dataflow environment major versions
  runners/google-cloud-dataflow-java/build.gradle
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: build, dataflow, examples, infra, java, kotlin, python, runners

#11273 Update Jet Runner to Jet version 4.0
  runners/jet/build.gradle
  runners/jet/src/main/java/org/apache/beam/runners/jet/DAGBuilder.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/JetPipelineOptions.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/JetPipelineResult.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/JetRunner.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/JetTransformTranslators.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/metrics/JetMetricResults.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/metrics/JetMetricsContainer.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/processors/AbstractParDoP.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/processors/AssignWindowP.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/processors/BoundedSourceP.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/processors/FlattenP.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/processors/ImpulseP.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/processors/UnboundedSourceP.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/processors/ViewP.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/processors/WindowGroupP.java
  runners/jet/src/test/java/org/apache/beam/runners/jet/JetTestRunnerRegistrar.java
  runners/jet/src/test/java/org/apache/beam/runners/jet/TestJetRunner.java
  website/src/_sass/_toggler-nav.scss
  website/src/documentation/runners/jet.md
  website/src/js/language-switch.js
Labels: build, jet, runners, website

#11104 Update BigQuery source in bigquery_tornadoes example
  sdks/python/apache_beam/examples/cookbook/bigquery_tornadoes.py
Labels: examples, python

#11242 [BEAM-1894] Remove obsolete EagerRunner test
  sdks/python/apache_beam/pipeline_test.py
Labels: python

#11172 Add dependency comment in streaming cache
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache.py
Labels: python

#11277 [BEAM-9340] Populate requirement for timer families.
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/PrimitiveParDoSingleFactory.java
Labels: core, dataflow, runners

#11257 [BEAM-9642] Create runtime invokers for SDF methods.
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_test.go
Labels: go

#11284 Revert "Merge pull request #11104 from y1chi/update_tornado_test"
  sdks/python/apache_beam/examples/cookbook/bigquery_tornadoes.py
Labels: examples, python

#11288 [BEAM-9668] Disable tests till Dataflow containers are updated.
  runners/google-cloud-dataflow-java/examples/build.gradle
Labels: build, dataflow, runners

#11280 [BEAM-9652] Ensure that the multipartition write sets the correct coder to use instead of relying on coder inference.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/ReifyAsIterable.java
Labels: gcp, io, java

#11183 [BEAM-8889]add experiment flag use_grpc_for_gcs
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
Labels: extensions, google-cloud-platform-core, java

#11276 [BEAM-7923] An indicator of progress in notebooks
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
Labels: python

#11265 Fix a Py2/3 incompatibility in profiler.
  sdks/python/apache_beam/utils/profiler.py
Labels: python

#11297 [BEAM-9562] Update missed TimerSpec conversion in Go SDK
  sdks/go/pkg/beam/core/runtime/pipelinex/clone.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/metrics.pb.go
Labels: go

#11287 [BEAM-9667] Allow metrics in DoFn Setup
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
Labels: go

#11271 [BEAM-9624] Adds Convert to Accumulators operator for use in combiner lifting for streaming pipelines
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformTranslation.java
  sdks/go/pkg/beam/core/runtime/exec/combine.go
  sdks/go/pkg/beam/core/runtime/exec/combine_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/CombineRunners.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/CombineRunnersTest.java
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/transforms/combiners.py
Labels: core, go, java, model, python, runners

#11290 [BEAM-9670] Fix nullability widening in CoGroup key resolution
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/CoGroup.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaUtilsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/CoGroupTest.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamSetOperatorRelBase.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11286 [BEAM-4374] Short IDs for the Python SDK
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
Labels: python

#11299 Fix minor typo - Transform -> PTransform
  website/src/documentation/programming-guide.md
Labels: website

#11294 [BEAM-9677] Fix path -> url typo in ArtifactUrlPayload
  model/pipeline/src/main/proto/beam_runner_api.proto
  sdks/python/apache_beam/runners/portability/artifact_service.py
  sdks/python/apache_beam/runners/portability/artifact_service_test.py
Labels: model, python

#11067 [BEAM-9136]Add licenses for dependencies for Python
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PreCommit_Python_DockerBuild.groovy
  build.gradle
  release/src/main/scripts/verify_release_build.sh
  sdks/python/container/Dockerfile
  sdks/python/container/license_scripts/dep_urls_py.yaml
  sdks/python/container/license_scripts/manual_licenses/singledispatch/LICENSE
  sdks/python/container/license_scripts/manual_licenses/termcolor/LICENSE
  sdks/python/container/license_scripts/pull_licenses_py.py
  sdks/python/container/py2/build.gradle
  sdks/python/container/py35/build.gradle
  sdks/python/container/py36/build.gradle
  sdks/python/container/py37/build.gradle
Labels: build, docker, infra, python

#10973 [BEAM-9476] KinesisIO retry LimitExceededException
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/SimplifiedKinesisClient.java
  sdks/java/io/kinesis/src/test/java/org/apache/beam/sdk/io/kinesis/AmazonKinesisMock.java
  sdks/java/io/kinesis/src/test/java/org/apache/beam/sdk/io/kinesis/KinesisMockReadTest.java
Labels: io, java, kinesis

#10529 [BEAM-9044] Protobuf options to Schema options
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/OneOfType.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoDomain.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoDynamicMessageSchema.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslator.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoDomainTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoDynamicMessageSchemaTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoMessageSchemaTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslatorTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/TestProtoSchemas.java
  sdks/java/extensions/protobuf/src/test/proto/proto3_schema_messages.proto
  sdks/java/extensions/protobuf/src/test/proto/proto3_schema_options.proto
Labels: extensions, java, protobuf

#11303 [BEAM-9645] Fix premature removal of Docker container and logs
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/DockerEnvironmentFactory.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/DockerEnvironmentFactoryTest.java
Labels: fn-execution, runners

#11289 [BEAM-9660]: Add an explicit check for integer overflow.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
Labels: dataflow, runners

#11300 [BEAM-9686] Get default TmpCheckpointDir value from PipelineOptions
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkCommonPipelineOptions.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/SparkPipelineOptionsTest.java
Labels: runners, spark

#11199 [BEAM-9562] Update Timer encoding with respect of dynamic timers
  model/fn-execution/src/main/proto/beam_fn_api.proto
  model/fn-execution/src/main/resources/org/apache/beam/model/fnexecution/v1/standard_coders.yaml
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/CoderTranslators.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Timer.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/CoderTranslationTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/CommonCoderTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/ParDoTranslationTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/TimerTest.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperator.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/fn/control/TimerReceiver.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/fn/control/TimerReceiverTest.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/TimerReceiverFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/translation/PipelineTranslatorUtils.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/coders/standard_coders_test.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/transforms/userstate.py
Labels: core, dataflow, flink, fn-execution, java, model, python, runners

#11302 [BEAM-9607] Populate source data from SDF
  sdks/python/apache_beam/io/iobase.py
Labels: io, python

#11306 [BEAM-9687] Change delimeter to a dash as the pipe is a reserved symbol in Windows in file names
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
Labels: python

#11305 [BEAM-9577] Update container boot code to stage from dependencies, if present.
  sdks/go/container/boot.go
  sdks/go/pkg/beam/artifact/materialize.go
  sdks/go/pkg/beam/artifact/materialize_test.go
  sdks/java/container/boot.go
  sdks/python/container/boot.go
Labels: docker, go, java, python

#11310 [BEAM-6217] Fixing typos on javadoc
  runners/core-java/src/main/java/org/apache/beam/runners/core/triggers/AfterWatermarkStateMachine.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/View.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/windowing/AfterWatermark.java
Labels: core, java, runners

#11259 Use attachValues in SQL
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/BeamSqlPipelineOptions.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamAggregationRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamCalcRel.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRel.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlUtils.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlUtilsTest.java
Labels: extensions, java, sql

#11313 Rename ResolveArtifact to ResolveArtifacts
  model/job-management/src/main/proto/beam_artifact_api.proto
  sdks/go/pkg/beam/artifact/materialize.go
  sdks/go/pkg/beam/artifact/materialize_test.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/python/apache_beam/runners/portability/artifact_service.py
  sdks/python/apache_beam/runners/portability/artifact_service_test.py
Labels: go, model, python

#11139 [BEAM-9509] Improve error message for bad job server URL.
  sdks/python/apache_beam/runners/portability/flink_runner.py
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server.py
  sdks/python/apache_beam/runners/portability/spark_runner.py
  sdks/python/apache_beam/runners/portability/spark_uber_jar_job_server.py
Labels: python

#11304 [BEAM-8201] Cleanup FnServices from DockerEnvironmentFactory and ProcessEnvironmentFactory
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/DockerEnvironmentFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/ProcessEnvironmentFactory.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/DockerEnvironmentFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/ProcessEnvironmentFactoryTest.java
Labels: fn-execution, runners

#11301 [BEAM-9688] Fixes platform-dependent assumptions in subprocess_server_test.py.
  sdks/python/apache_beam/utils/subprocess_server_test.py
Labels: python

#11185 [BEAM-8019] Updates Python SDK to handle remote SDK coders and preserve tags added by remote SDKs and propagate restriction coders.
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/coders/typecoders.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/sideinputs.py
  sdks/python/apache_beam/typehints/native_type_compatibility.py
Labels: python

#11307 [BEAM-9136] (test remove behavior) remove nose
  sdks/python/container/base_image_requirements.txt
  sdks/python/container/license_scripts/dep_urls_py.yaml
Labels: docker, python

#11235 [BEAM-9618] Pull bundle descriptors.
  model/fn-execution/src/main/proto/beam_fn_api.proto
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/fn/BeamFnControlService.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/SdkHarnessRegistryTest.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/FnApiControlClient.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/FnApiControlClientPoolService.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/FnApiControlClientPoolServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/FnApiControlClientTest.java
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/worker_id_interceptor.py
Labels: dataflow, fn-execution, model, python, runners

#11269 [BEAM-9199] Require Dataflow --region in Python SDK.
  release/src/main/python-release/python_release_automation_utils.sh
  release/src/main/python-release/run_release_candidate_python_mobile_gaming.sh
  release/src/main/python-release/run_release_candidate_python_quickstart.sh
  release/src/main/scripts/run_rc_validation.sh
  release/src/main/scripts/script.config
  sdks/python/apache_beam/examples/complete/game/game_stats.py
  sdks/python/apache_beam/examples/complete/game/game_stats_it_test.py
  sdks/python/apache_beam/examples/complete/game/hourly_team_score.py
  sdks/python/apache_beam/examples/complete/game/hourly_team_score_it_test.py
  sdks/python/apache_beam/examples/complete/game/leader_board.py
  sdks/python/apache_beam/examples/complete/game/leader_board_it_test.py
  sdks/python/apache_beam/examples/complete/game/user_score.py
  sdks/python/apache_beam/examples/complete/game/user_score_it_test.py
  sdks/python/apache_beam/examples/complete/juliaset/juliaset_main.py
  sdks/python/apache_beam/examples/complete/top_wikipedia_sessions.py
  sdks/python/apache_beam/examples/cookbook/multiple_output_pardo.py
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/io/gcp/bigquery_read_perf_test.py
  sdks/python/apache_beam/io/gcp/bigquery_write_perf_test.py
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_validator.py
  sdks/python/apache_beam/options/pipeline_options_validator_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/testing/benchmarks/nexmark/nexmark_launcher.py
  sdks/python/apache_beam/transforms/external_java.py
  sdks/python/container/run_validatescontainer.sh
  sdks/python/scripts/run_integration_test.sh
  website/src/contribute/release-guide.md
  website/src/documentation/runtime/environments.md
  website/src/documentation/sdks/python-streaming.md
  website/src/get-started/quickstart-py.md
Labels: build, docker, examples, gcp, io, python, website

#11281 [BEAM-9199] Require --region option for Dataflow in Java SDK.
  .test-infra/jenkins/NexmarkBigqueryProperties.groovy
  release/src/main/groovy/TestScripts.groovy
  release/src/main/groovy/quickstart-java-dataflow.groovy
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/examples-streaming/build.gradle
  runners/google-cloud-dataflow-java/examples/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/TestDataflowRunnerTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptionsTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/transforms/DataflowGroupByKeyTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/transforms/DataflowViewTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesSplitOnlySourceTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/datacatalog/build.gradle
  sdks/java/extensions/zetasketch/build.gradle
  website/src/documentation/runners/dataflow.md
  website/src/documentation/sdks/nexmark.md
  website/src/get-started/quickstart-java.md
  website/src/get-started/wordcount-example.md
Labels: build, dataflow, examples, extensions, infra, java, runners, sql, website, zetasketch

#11308 [BEAM-9685] remove Go SDK container from release process from 2.22.0
  release/src/main/scripts/build_release_candidate.sh
  release/src/main/scripts/publish_docker_images.sh
  website/src/contribute/release-guide.md
Labels: build, website

#11323 [BEAM-9705] Go sdk add value length validation checking on write to d…
  sdks/go/pkg/beam/io/databaseio/writer.go
Labels: go, io

#11320 [BEAM-9704] Deprecate FieldType metadata
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
Labels: java

#11037 [BEAM-9434] Improve Spark runner reshuffle translation to maximize parallelism
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/GroupCombineFunctions.java
Labels: aws, io, java, runners, spark

#11055 [BEAM-9436] Improve GBK in spark structured streaming runner
  runners/spark/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/GroupByKeyTranslatorBatch.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/functions/GroupAlsoByWindowViaOutputBufferFn.java
  sdks/java/testing/load-tests/build.gradle
Labels: build, infra, java, runners, spark

#11226 [BEAM-9557] Fix timer window boundary checking
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: core, java, runners

#11244 [BEAM-3097] _ReadFromBigQuery supports valueprovider for table
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: gcp, io, python

#11334 [Go SDK] Name the pipeline_v1 proto import
  sdks/go/pkg/beam/artifact/materialize.go
  sdks/go/pkg/beam/artifact/materialize_test.go
Labels: go

#11329 [BEAM-9715] Ensuring annotations_test passes in all environments
  sdks/python/apache_beam/utils/annotations_test.py
Labels: python

#11337 Fix flaky interactive_runner_test
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
Labels: python

#11205 [BEAM-9578] Enumerating artifacts is too expensive in Java
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ArtifactResolver.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/DefaultArtifactResolver.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/DefaultArtifactResolverTest.java
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/PortableRunner.java
Labels: core, model, portability, runners

#11330 Fix some Go SDK linter/vet warnings.
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/mtime/time.go
  sdks/go/pkg/beam/core/runtime/exec/coder.go
  sdks/go/pkg/beam/core/runtime/exec/reshuffle.go
  sdks/go/pkg/beam/core/runtime/pipelinex/replace.go
Labels: go

#11326 [BEAM-9707] Hardcode Unified harness image for fixing dataflow VR 2 t…
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/scripts/run_integration_test.sh
Labels: python

#11309 [BEAM-9691] Ensuring BQ Native Sink is avoided on FnApi pipelines
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python

#11324 [BEAM-9618] Pull bundle descriptors for Go.
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
Labels: dataflow, fn-execution, go, model, python, runners

#11312 [BEAM-9577] Plumb resources through Python job service and runner.
  sdks/python/apache_beam/runners/portability/artifact_service.py
  sdks/python/apache_beam/runners/portability/artifact_service_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
Labels: python

#11175 [BEAM-9529] Remove datastore.v1, googledatastore
  CHANGES.md
  ownership/PYTHON_DEPENDENCY_OWNERS.yaml
  sdks/python/apache_beam/examples/cookbook/datastore_wordcount.py
  sdks/python/apache_beam/examples/cookbook/datastore_wordcount_it_test.py
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  sdks/python/apache_beam/io/gcp/datastore/v1/__init__.py
  sdks/python/apache_beam/io/gcp/datastore/v1/datastoreio.py
  sdks/python/apache_beam/io/gcp/datastore/v1/datastoreio_test.py
  sdks/python/apache_beam/io/gcp/datastore/v1/fake_datastore.py
  sdks/python/apache_beam/io/gcp/datastore/v1/helper.py
  sdks/python/apache_beam/io/gcp/datastore/v1/helper_test.py
  sdks/python/apache_beam/io/gcp/datastore/v1/query_splitter.py
  sdks/python/apache_beam/io/gcp/datastore/v1/query_splitter_test.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/adaptive_throttler.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/adaptive_throttler_test.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/datastore_write_it_test.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/datastoreio.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/datastoreio_test.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/query_splitter_test.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/types.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/types_test.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/util.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/util_test.py
  sdks/python/apache_beam/io/gcp/datastore_write_it_pipeline.py
  sdks/python/apache_beam/io/gcp/datastore_write_it_test.py
  sdks/python/container/base_image_requirements.txt
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/setup.py
  sdks/python/tox.ini
Labels: build, docker, examples, gcp, io, python

#11241 [BEAM-5422] Document DynamicDestinations.getTable uniqueness requirement
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/DynamicDestinations.java
Labels: gcp, io, java

#11261 [BEAM-9147] Add a VideoIntelligence transform to Java SDK
  build.gradle
  sdks/java/extensions/ml/build.gradle
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideo.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/VideoIntelligence.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/package-info.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoTest.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/VideoIntelligenceIT.java
  sdks/java/extensions/ml/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  settings.gradle
Labels: build, extensions, java

#11346 [BEAM-9580] Allow Flink 1.10 processing timers to finish on pipeline shutdown
  .test-infra/jenkins/CommonTestProperties.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Flink.groovy
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/utils/Workarounds.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/SplittableDoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/WindowDoFnOperator.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: flink, infra, java, runners

#11348 [BEAM-9714] [Go SDK] Require --region flag in Dataflow runner.
  sdks/go/README.md
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/test/run_integration_tests.sh
  website/src/get-started/quickstart-go.md
  website/src/get-started/wordcount-example.md
Labels: dataflow, go, runners, website

#11343 [BEAM-9724] Use consistent short package names for protos
  sdks/go/cmd/beamctl/cmd/artifact.go
  sdks/go/cmd/beamctl/cmd/provision.go
  sdks/go/pkg/beam/artifact/gcsproxy/retrieval.go
  sdks/go/pkg/beam/artifact/gcsproxy/staging.go
  sdks/go/pkg/beam/artifact/materialize.go
  sdks/go/pkg/beam/artifact/materialize_test.go
  sdks/go/pkg/beam/artifact/server_test.go
  sdks/go/pkg/beam/artifact/stage.go
  sdks/go/pkg/beam/artifact/stage_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/harness/datamgr.go
  sdks/go/pkg/beam/core/runtime/harness/datamgr_test.go
  sdks/go/pkg/beam/core/runtime/harness/logging.go
  sdks/go/pkg/beam/core/runtime/harness/logging_test.go
  sdks/go/pkg/beam/core/runtime/harness/monitoring.go
  sdks/go/pkg/beam/core/runtime/harness/session.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr_test.go
  sdks/go/pkg/beam/core/runtime/pipelinex/replace.go
  sdks/go/pkg/beam/core/runtime/pipelinex/replace_test.go
  sdks/go/pkg/beam/provision/provision.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/translate.go
  sdks/go/pkg/beam/runners/session/session.go
  sdks/go/pkg/beam/runners/universal/runnerlib/execute.go
  sdks/go/pkg/beam/runners/universal/runnerlib/job.go
Labels: dataflow, go, runners

#11349 [BEAM-9596] Ensure metrics are available in PipelineResult when the pipeline fails
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
Labels: flink, runners

#11336 [BEAM-9718] Updates comments for WINDOWED_VALUE coder
  model/pipeline/src/main/proto/beam_runner_api.proto
Labels: model

#11352 Update session.go (typofix)
  sdks/go/pkg/beam/runners/session/session.go
Labels: go, runners

#11283 [BEAM-9322] [BEAM-1833] Better naming for composite transform output tags.
  CHANGES.md
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/transforms/ptransform.py
Labels: python

#11328 [BEAM-9618] Java SDK worker support for pulling bundle descriptors.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/BeamFnControlClient.java
Labels: java

#11332 [BEAM-9716] Alias zone to worker_zone and warn user.
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptions.java
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_validator.py
  sdks/python/apache_beam/options/pipeline_options_validator_test.py
Labels: dataflow, extensions, google-cloud-platform-core, java, python, runners

#10952 [Beam-9063]update documentation
  website/src/documentation/runtime/environments.md
Labels: website

#11354 [BEAM-9719] Adds nose back to the base image
  sdks/python/container/base_image_requirements.txt
  sdks/python/container/license_scripts/dep_urls_py.yaml
Labels: docker, python

#11356 [BEAM-9618] Mark push registration as deprecated.
  model/fn-execution/src/main/proto/beam_fn_api.proto
Labels: model

#11351 [BEAM-9399] Ensure that empty messages are not flushed to handler.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/logging/JulHandlerPrintStreamAdapterFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/logging/JulHandlerPrintStreamAdapterFactoryTest.java
Labels: dataflow, runners

#11345 [BEAM-9721] Add --region to Dataflow-based load tests
  .test-infra/jenkins/LoadTestConfig.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java_Smoke.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python_reiterate.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python_37.groovy
  .test-infra/jenkins/job_LoadTests_Python_Smoke.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Python.groovy
  sdks/python/apache_beam/testing/load_tests/co_group_by_key_test.py
  sdks/python/apache_beam/testing/load_tests/combine_test.py
  sdks/python/apache_beam/testing/load_tests/group_by_key_test.py
  sdks/python/apache_beam/testing/load_tests/pardo_test.py
Labels: infra, python

#11193 [BEAM-9550] Increase JVM Metaspace size for the TaskExecutors.
  .test-infra/dataproc/flink_cluster.sh
  .test-infra/dataproc/init-actions/flink.sh
Labels: infra

#11344 [BEAM-9721]Conditionally add Dataflow region to Dataflow-based load tests and performance tests
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, java

#11361 [BEAM-9647] Fix MQTT clientId too long
  sdks/java/io/mqtt/src/main/java/org/apache/beam/sdk/io/mqtt/MqttIO.java
Labels: io, java, mqtt

#11232 [BEAM-8280] Document Python 3 annotations support
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  sdks/python/apache_beam/examples/snippets/snippets_test_py3.py
  website/src/documentation/sdks/python-type-safety.md
Labels: examples, python, website

#11359 [BEAM-9731] Include more detail in passert.Equals errors.
  sdks/go/pkg/beam/testing/passert/equals.go
  sdks/go/pkg/beam/testing/passert/equals_test.go
  sdks/go/pkg/beam/testing/passert/passert.go
  sdks/go/pkg/beam/testing/passert/passert.shims.go
Labels: go

#11092 [BEAM-9085] Fix performance regression in SyntheticSource on Python 3
  sdks/python/apache_beam/testing/synthetic_pipeline.py
  sdks/python/scripts/generate_pydoc.sh
Labels: python

#11353 [BEAM-9726] Make region optional for non-service runner.
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  sdks/python/apache_beam/options/pipeline_options_validator.py
  sdks/python/apache_beam/options/pipeline_options_validator_test.py
Labels: dataflow, python, runners

#11363 [BEAM-4374] Fix missing deletion of metrics.
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#11364 [BEAM-9651] Prevent StreamPool and stream initialization livelock
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/DirectStreamObserver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/ForwardingClientResponseObserver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServerTest.java
Labels: dataflow, runners

#11367 Revert "[BEAM-9651] Prevent StreamPool and stream initialization livelock"
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/DirectStreamObserver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/ForwardingClientResponseObserver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServerTest.java
Labels: dataflow, runners

#11355 [BEAM-9727] Automatically set required experiment flags for dataflow runner v2.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python

#11366 Allow unset write threshold for state backed iterable coder.
  sdks/python/apache_beam/coders/coders.py
Labels: python

#11370 Update environments.py to add a method to specify container image
  sdks/python/apache_beam/transforms/environments.py
Labels: python

#11247 add missing bracket
  website/src/documentation/io/built-in-hcatalog.md
Labels: website

#11376 [BEAM-9734] Revert #11122
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
Labels: java

#11315 [BEAM-8889] Upgrades gcsio to 2.1.2
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11311 [BEAM-9577] Attempt to stage resources via new API in portable runner.
  sdks/python/apache_beam/runners/portability/portable_runner.py
Labels: python

#11383 [BEAM-9736] Fix from_container_image call
  sdks/python/apache_beam/transforms/environments.py
Labels: python

#11384 [BEAM-9736] Fix from_container_image call
  sdks/python/apache_beam/transforms/environments.py
Labels: python

#11373 [BEAM-9562] Update Element.timer and Element.Timer to Element.timers and Element.Timers
  model/fn-execution/src/main/proto/beam_fn_api.proto
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataGrpcMultiplexer.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataSizeBasedBufferingOutboundObserver.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataGrpcMultiplexerTest.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataSizeBasedBufferingOutboundObserverTest.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataTimeBasedBufferingOutboundObserverTest.java
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/data_plane.py
Labels: go, java, model, python

#11365 [BEAM-9735] Adding Always trigger and using it in Reshuffle
  sdks/python/apache_beam/transforms/trigger.py
  sdks/python/apache_beam/transforms/trigger_test.py
  sdks/python/apache_beam/transforms/util.py
Labels: python

#11372 [BEAM-9443] support direct_num_workers=0
  CHANGES.md
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
Labels: python

#11385 TOIL: Update Unified worker image
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python

#11378 [BEAM-9734] Revert #11122
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
Labels: java

#11208 [BEAM-8751] google-api-client 1.30.9
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11400 [BEAM-8019] Updates Dataflow stateful DoFn setup to support external transforms
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/transforms/core.py
Labels: python

#11371 [BEAM-9738] Update dataflow to setup correct docker environment options.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python

#11243 [BEAM-9136]Add licenses for dependencies for Java
  build.gradle
  sdks/java/container/Dockerfile
  sdks/java/container/build.gradle
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/container/license_scripts/license_script.sh
  sdks/java/container/license_scripts/pull_licenses_java.py
Labels: build, docker, infra, java

#10760 [BEAM-9545] Dataframe transforms
  sdks/python/apache_beam/dataframe/expressions.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/transforms.py
  sdks/python/apache_beam/dataframe/transforms_test.py
Labels: python

#11402 [BEAM-9562] Fix output timestamp to be inferred from scheduled time when in the event time domain.
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/Timer.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java

#11401 [BEAM-9744] Add missing region option to py perf tests.
  .test-infra/jenkins/job_PerformanceTests_Python.groovy
Labels: infra

#11407 [BEAM-9562] Cherry-pick: Fix output timestamp to be inferred from scheduled time w…
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/Timer.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java

#11395 [Cherrypick 11365] [BEAM-9735] Adding Always trigger and using it in Reshuffle
  sdks/python/apache_beam/transforms/trigger.py
  sdks/python/apache_beam/transforms/trigger_test.py
  sdks/python/apache_beam/transforms/util.py
Labels: python

#11408 [BEAM-9744] Remove --region option from SQL tests.
  sdks/java/extensions/sql/build.gradle
Labels: build, extensions, java, sql

#11411 Cherry-pick late --region changes onto 2.21 branch.
  .test-infra/jenkins/job_PerformanceTests_Python.groovy
  CHANGES.md
  sdks/java/extensions/sql/build.gradle
Labels: build, extensions, infra, java, sql

#11389 Refactor the BCJ and capture controls to be more testable
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/background_caching_job_test.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/options/capture_control.py
  sdks/python/apache_beam/runners/interactive/options/capture_control_test.py
  sdks/python/apache_beam/runners/interactive/options/capture_limiters.py
Labels: python

#11410 [BEAM-9751] Upgrade ZetaSQL java 2020.04.1
  sdks/java/extensions/sql/zetasql/build.gradle
Labels: build, extensions, java, sql

#11182 [BEAM-9650] Add PeriodicImpulse Transform and slowly changing side input documentation
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  sdks/python/apache_beam/transforms/periodicsequence.py
  sdks/python/apache_beam/transforms/periodicsequence_test.py
  website/src/documentation/patterns/side-inputs.md
Labels: examples, io, python, website

#11412 Documentation minor fix for FlatMapElements#via()
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/FlatMapElements.java
Labels: java

#11390 [BEAM-9738] Update dataflow to setup correct docker environment options.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python

#11338 [BEAM-7923] Screendiff Integration Tests
  sdks/python/apache_beam/runners/interactive/testing/integration/__init__.py
  sdks/python/apache_beam/runners/interactive/testing/integration/goldens/7a35f487b2a5f3a9b9852a8659eeb4bd.png
  sdks/python/apache_beam/runners/interactive/testing/integration/notebook_executor.py
  sdks/python/apache_beam/runners/interactive/testing/integration/screen_diff.py
  sdks/python/apache_beam/runners/interactive/testing/integration/test_notebooks/init_square_cube.ipynb
  sdks/python/apache_beam/runners/interactive/testing/integration/tests/init_square_cube_test.py
  sdks/python/setup.py
Labels: python

#11327 [BEAM-9642] Add SDF execution units.
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
Labels: go

#11416 [BEAM-9136] reduce third_party_dependencies size
  sdks/java/container/license_scripts/license_script.sh
  sdks/java/container/license_scripts/pull_licenses_java.py
Labels: build, docker, java

#11413 [BEAM-9746] check for 0 length copies from state
  sdks/go/pkg/beam/core/runtime/harness/datamgr.go
  sdks/go/pkg/beam/core/runtime/harness/datamgr_test.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr_test.go
Labels: go

#11423 [BEAM-9642] Fix infinite recursion.
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
Labels: go

#11409 [BEAM-2939] Update unbounded source as SDF wrapper to resume successfully.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: java

#11420 [BEAM-9577] Fix test to create urls from paths which are compatible with urlopen on Windows.
  sdks/python/apache_beam/runners/portability/artifact_service_test.py
Labels: python

#11422 [BEAM-9763] Removing underscore from _ReadFromBigQuery to make it external. It re…
  sdks/python/apache_beam/io/gcp/big_query_query_to_table_pipeline.py
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_io_read_pipeline.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/testing/benchmarks/chicago_taxi/preprocess.py
  sdks/python/apache_beam/testing/benchmarks/chicago_taxi/process_tfma.py
  sdks/python/apache_beam/testing/benchmarks/chicago_taxi/tfdv_analyze_and_validate.py
Labels: gcp, io, python

#11421 [release-2.21.0] Cherrypick license_java
  build.gradle
  sdks/java/container/Dockerfile
  sdks/java/container/build.gradle
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/container/license_scripts/license_script.sh
  sdks/java/container/license_scripts/pull_licenses_java.py
Labels: build, docker, java

#11417 [BEAM-9756] Nexmark: only use --region in Dataflow.
  .test-infra/jenkins/NexmarkBigqueryProperties.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Dataflow.groovy
Labels: infra

#11381 [BEAM-8889] add gRPC suport in GCS connector (behind an experimental-flag)
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
Labels: extensions, google-cloud-platform-core, java

#11240 [BEAM-8466] Make strip_iterable more strict
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/typehints/typed_pipeline_test_py3.py
Labels: python

#11425 [BEAM-9119] Disable flaky test_large_elements
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python

#11404 Fixing type names for BQ Avro Tools
  sdks/python/apache_beam/io/gcp/bigquery_avro_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_avro_tools_test.py
Labels: gcp, io, python

#11426 [BEAM-9756] [cherry-pick] Nexmark: only use --region in Dataflow.
  .test-infra/jenkins/NexmarkBigqueryProperties.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Dataflow.groovy
Labels: infra

#11358 [BEAM-9729, BEAM-8486] Runner-side bundle registration cleanup.
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FnApiWindowMappingFnTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/fn/control/BeamFnMapTaskExecutorTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/fn/control/RegisterAndProcessBundleOperationTest.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/FnApiControlClient.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/InstructionRequestHandler.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/SdkHarnessClient.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/FnApiControlClientTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/SdkHarnessClientTest.java
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
Labels: dataflow, fn-execution, python, runners

#11285 Add new release 2.20.0 to beam website
  website/_config.yml
  website/src/.htaccess
  website/src/get-started/downloads.md
Labels: website

#11298 add 2.20.0 blog post
  website/src/_data/authors.yml
  website/src/_posts/2020-04-15-beam-2.20.0.md
Labels: website

#11151 [BEAM-9468] Hl7v2 io
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2Message.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2MessageCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareIOError.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareIOErrorCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareIOErrorToTableRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/package-info.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/GcpApiSurfaceTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7V2MessagePagesTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IOReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IOTestUtil.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IOWriteIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClientTest.java
Labels: build, gcp, io, java

#11434 Fix typo
  sdks/python/apache_beam/io/external/kafka.py
Labels: io, python

#11375 [BEAM-8671] Migrate Load Tests to Python 3.7
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python_reiterate.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python_37.groovy
  .test-infra/jenkins/job_LoadTests_Python_Smoke.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Python.groovy
Labels: infra

#11424 Remove outdated doc for ReadFromBigQuery transform
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: gcp, io, python

#11135 Add spark structured streaming runner to load tests
  .test-infra/jenkins/job_LoadTests_CoGBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java_spark_structured_streaming.groovy
Labels: build, infra, java

#11429 [BEAM-9765] Exclude module-info.class from vendored Calcite.
  vendor/calcite-1_20_0/build.gradle
Labels: build, vendor

#11433 [BEAM-9769] Ensuring JSON is the default export format for BQ sink
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: gcp, io, python

#11436 Document Beam Schemas (forked PR)
  website/src/_includes/section-menu/documentation.html
  website/src/documentation/programming-guide.md
Labels: website

#11275 [BEAM-9648]: DirectRunner should return null on timeout
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/ExecutorServiceParallelExecutor.java
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/DirectRunnerTest.java
Labels: direct, runners

#11441 [BEAM-5379] Ignore go.sum files in RAT checks
  build.gradle
Labels: build

#11435 [release-2.21.0][BEAM-9769] Ensuring JSON is the default export format for BQ sink
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: gcp, io, python

#11319 [BEAM-9703]Include user distritribution into metric-dedicated validate runner test.
  sdks/python/apache_beam/metrics/metric_test.py
Labels: python

#11414 [BEAM-5605, BEAM-2939] Add support for FnApiDoFnRunner to handle split calls.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/HandlesSplits.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/BundleSplitListener.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/BundleSplitListenerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
Labels: java

#11292 [BEAM-9674] Don't specify selected fields when fetching BigQuery table size
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageSourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageTableSource.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageQueryTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadTest.java
Labels: gcp, io, java

#11386 [BEAM-9737] Fix website postcommit
  website/build.gradle
Labels: build, website

#11415 [BEAM-9650] Cleanup documentation on side inputs patterns
  website/src/documentation/patterns/side-inputs.md
Labels: website

#11430 [BEAM-9768] Gradle command for Python ULR.
  sdks/python/apache_beam/runners/portability/local_job_service_main.py
  sdks/python/build.gradle
Labels: build, python
