Repository apache/beam, pull requests merged in 2020-09, with the labels that each got.

#12723 [BEAM-10846] Wrap RestrictionTracker in SplittableParDoNaiveBounded
  runners/core-construction-java/build.gradle
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDoNaiveBounded.java
Labels: build, core, runners

#12741 [BEAM-5002] Upgrade SLF4J version to latest 1.7 patch version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_26_0.groovy
  learning/katas/kotlin/build.gradle
Labels: build, learning

#12559 [BEAM-7705] Update BigQuery docs with new code snippets
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: website

#12719 Add note about state and timers in the face of retry.
  website/www/site/content/en/documentation/runtime/model.md
Labels: website

#12605 Copy subtransforms to output of translations.pipeline_from_stages()
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
Labels: python

#12752 [BEAM-10841] Set SETUPTOOLS_USE_DISTUTILS=stdlib on jenkins
  .test-infra/jenkins/CommonJobProperties.groovy
Labels: infra

#12297 [BEAM-10137] Add KinesisIO for cross-language usage with python wrapper
  sdks/java/io/kinesis/expansion-service/build.gradle
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/KinesisIO.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/KinesisTransformRegistrar.java
  sdks/python/apache_beam/io/external/xlang_kinesisio_it_test.py
  sdks/python/apache_beam/io/kinesis.py
  sdks/python/test-suites/portable/common.gradle
  settings.gradle
Labels: build, io, java, kinesis, python, website

#12757 [BEAM-10171] Update CHANGES.md, multi-sdk roadmap website with kinesis and snowflake python wrappers
  CHANGES.md
  sdks/python/apache_beam/io/kinesis.py
  website/www/site/content/en/roadmap/connectors-multi-sdk.md
Labels: io, python, website

#12733 [BEAM-10760] Optimize state cleanup for global window in portable Flink runner
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/state/FlinkStateInternals.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperatorTest.java
Labels: flink, runners

#12697 [BEAM-10773] Use the image flag before the default environment.
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
Labels: dataflow, go, runners

#12685 [BEAM-10807] Add scheduled mail with metrics report
  .test-infra/jenkins/InfluxDBCredentialsHelper.groovy
  .test-infra/jenkins/NexmarkDatabaseProperties.groovy
  .test-infra/jenkins/README.md
  .test-infra/jenkins/build.gradle
  .test-infra/jenkins/job_LoadTests_CoGBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python_reiterate.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Python.groovy
  .test-infra/jenkins/job_Metrics_Report.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Java.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_HadoopFormat.groovy
  .test-infra/jenkins/job_PerformanceTests_JDBC.groovy
  .test-infra/jenkins/job_PerformanceTests_KafkaIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_MongoDBIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_PubsubIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_Python.groovy
  .test-infra/jenkins/metrics_report/dashboards_parser.py
  .test-infra/jenkins/metrics_report/report_generator.py
  .test-infra/jenkins/metrics_report/requirements.txt
  .test-infra/jenkins/metrics_report/templates/Metrics_Report.template
  .test-infra/jenkins/metrics_report/tox.ini
Labels: build, infra

#12688 [BEAM-10808] Health checks streaming rpcs to streaming engine backend
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/options/StreamingDataflowWorkerOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServer.java
Labels: dataflow, runners

#12626 [BEAM-10545] Added the inspector of PCollections and pipelines
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/package.json
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InspectableList.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InspectableListItem.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InspectableView.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InspectableViewModel.test.ts
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/Inspectables.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InteractiveInspector.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InspectableList.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InspectableListItem.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InspectableView.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InspectableViewModel.ts
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/Inspectables.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InteractiveInspector.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/style/index.css
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/tsconfig.json
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/yarn.lock
Labels: python

#12710 [BEAM-10303] Refactor split logic to reuse common logic.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
Labels: java

#12701 [BEAM-10603] Gracefully shutdown the channel reader in the test_stream_impl
  sdks/python/apache_beam/runners/direct/test_stream_impl.py
Labels: python

#12765 [BEAM-10567] Add LICENSE for pbr
  sdks/python/container/license_scripts/dep_urls_py.yaml
Labels: docker, python

#12755 [BEAM-10829] unit test for validating headers are written
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
Labels: io, java, kafka

#12223 [Beam-4379] Make ParquetIO read splittable
  sdks/java/io/parquet/src/main/java/org/apache/beam/sdk/io/parquet/ParquetIO.java
  sdks/java/io/parquet/src/test/java/org/apache/beam/sdk/io/parquet/ParquetIOTest.java
Labels: io, java, parquet

#12707 Identify pair-with-none DoFn in CombineGlobally with a named URN.
  sdks/python/apache_beam/portability/python_urns.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/transforms/core.py
Labels: python

#12761 [BEAM-10853] Fixing copy name issue: Single name for all copies
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: gcp, io, python

#12738 [BEAM-10615] Eliminate nullability errors from :sdks:java:extensions:sql:jdbc
  sdks/java/extensions/sql/jdbc/build.gradle
  sdks/java/extensions/sql/jdbc/src/main/java/org/apache/beam/sdk/extensions/sql/jdbc/BeamSqlLine.java
  sdks/java/extensions/sql/jdbc/src/test/java/org/apache/beam/sdk/extensions/sql/jdbc/BeamSqlLineIT.java
  sdks/java/extensions/sql/jdbc/src/test/java/org/apache/beam/sdk/extensions/sql/jdbc/JdbcJarTest.java
Labels: build, extensions, java, sql

#12749 [BEAM-10720] Add implementation for elementwise str methods
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#12769 Badge fixes in README and PR Template
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: build

#12763 [BEAM-10849] Test that default Dataflow region option is set.
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DefaultGcpRegionFactory.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptionsTest.java
Labels: dataflow, runners

#12670 [BEAM-5757] Add ElasticsearchIO: delete document support
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-2/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOIT.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-2/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOIT.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOIT.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOIT.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTestCommon.java
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: elasticsearch, io, java

#12718 More logging for missing next work index.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkItemStatusClient.java
Labels: dataflow, runners

#12774 [BEAM-10567] Cherrypick #12765: Add LICENSE for pbr
  sdks/python/container/license_scripts/dep_urls_py.yaml
Labels: docker, python

#12772 [cherry-pick][BEAM-10853] Fixing copy name issue: Single name for all copies
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: gcp, io, python

#12778 [BEAM-10661] Fixes Java quickstart using Gradle doesn't work
  website/www/site/content/en/get-started/quickstart-java.md
Labels: website

#12698 [BEAM-10672] Add Python Combine Load Tests for streaming on Flink
  .test-infra/dataproc/init-actions/docker.sh
  .test-infra/dataproc/init-actions/flink.sh
  .test-infra/jenkins/Docker.groovy
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Python.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Flink.groovy
  .test-infra/jenkins/job_Publish_Docker_Snapshots.groovy
  sdks/python/apache_beam/testing/load_tests/combine_test.py
  sdks/python/apache_beam/testing/load_tests/pardo_test.py
  sdks/python/apache_beam/testing/synthetic_pipeline.py
Labels: infra, python

#12759 [BEAM-10760] Generalize state cleanup optimization for global window
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/state/FlinkStateInternals.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperatorTest.java
Labels: flink, runners

#12785 [BEAM-3612] Augment supported container types.
  sdks/go/pkg/beam/util/starcgenx/starcgenx.go
  sdks/go/pkg/beam/util/starcgenx/starcgenx_test.go
Labels: go

#12739 [BEAM-10840] Don't run code coverage on microbenchmarks
  .github/codecov.yml
Labels: build

#12703 [BEAM-10603] Add describe and cancel to RecordingManager
  sdks/python/apache_beam/runners/interactive/options/capture_limiters.py
  sdks/python/apache_beam/runners/interactive/options/capture_limiters_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
  sdks/python/apache_beam/runners/interactive/recording_manager_test.py
Labels: python

#12655 [BEAM-10779] Support multiple main inputs and side inputs for PTransformOverride
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
Labels: python

#12789 Support updating from a job in DRAINING state
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python

#12793 [BEAM-10864] Update Snowflake JDBC dependency
  CHANGES.md
  sdks/java/io/snowflake/build.gradle
Labels: build, io, java

#12709 [BEAM-8258] add more options and monitoring to nexmark launcher
  sdks/python/apache_beam/testing/benchmarks/nexmark/nexmark_launcher.py
  sdks/python/apache_beam/testing/benchmarks/nexmark/nexmark_perf.py
  sdks/python/apache_beam/testing/benchmarks/nexmark/nexmark_util.py
Labels: python

#12783 [BEAM-10860] avoid runtimeerror: dictionary size change when shutting down BundleProcessorCache
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#12795 Fix Python formatting on master branch
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python

#12791 [BEAM-10863] Change encoding of Pubsub sink to global window.
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
Labels: dataflow, runners

#12786 [BEAM-7925]Add Column Projection to ParquetIO
  sdks/java/io/parquet/src/main/java/org/apache/beam/sdk/io/parquet/ParquetIO.java
  sdks/java/io/parquet/src/test/java/org/apache/beam/sdk/io/parquet/ParquetIOTest.java
Labels: io, java, parquet

#12776 [BEAM-9456] Upgrade Gradle to 6.6.1 (smaller version of #12568)
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle/wrapper/gradle-wrapper.properties
  runners/flink/build.gradle
  runners/flink/flink_runner.gradle
  settings.gradle
Labels: build, flink, runners

#12796 Update doc URLs for RabbitMqIO and KuduIO
  website/www/site/data/io_matrix.yaml
Labels: website

#12797 [BEAM-10603] Fix data races in BCJ and RecordingManager
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
Labels: python

#12695 [BEAM-8758] Google-cloud-spanner upgrade to 1.59.0 and google_cloud_bigtable_client_core to 1.16.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/GcpApiSurfaceTest.java
Labels: build, gcp, io, java

#12788 [BEAM-8893] Fix issues with state and multiple workers.
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
Labels: python

#12801 [BEAM-10701] Fix Python coverage reporting
  .gitignore
  sdks/python/scripts/run_pytest.sh
  sdks/python/tox.ini
Labels: build, python

#12803 [BEAM-10762] Fix artifact staging bug in Flink/Spark uber jar runners.
  runners/flink/job-server/flink_job_server.gradle
  runners/flink/job-server/test_flink_uber_jar.sh
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineRunner.java
  runners/java-job-service/src/main/java/org/apache/beam/runners/jobsubmission/PortablePipelineJarUtils.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkPipelineRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PortablePipelineOptions.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/options/PortablePipelineOptionsTest.java
Labels: flink, java, runners, spark

#12810 [BEAM-9456] Update Gradle Wrapper
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: build

#12435 [BEAM-10616] Added Python Pardo load tests for streaming on Dataflow
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  sdks/python/apache_beam/testing/load_tests/pardo_test.py
Labels: infra, python

#12816 [BEAM-10874] Support v2 Go protos.
  sdks/go/pkg/beam/coder.go
Labels: go

#12756 [BEAM-10824] [BEAM-7654] Change hash function in ApproximateUniqueCombineFn
  sdks/python/apache_beam/transforms/stats.py
  sdks/python/apache_beam/transforms/stats_test.py
  sdks/python/container/base_image_requirements.txt
  sdks/python/container/license_scripts/dep_urls_py.yaml
Labels: docker, python

#12560 [BEAM-9561] Fix issue with pickling in doctests.
  sdks/python/apache_beam/dataframe/doctests.py
  sdks/python/apache_beam/dataframe/frame_base.py
Labels: python

#12764 [BEAM-10009] Add beam:logical_type:micros_instant:v1
  model/fn-execution/src/main/resources/org/apache/beam/model/fnexecution/v1/standard_coders.yaml
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/CommonCoderTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/SchemaTranslationTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/MicrosInstant.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/NanosType.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/SqlTypes.java
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/coders/row_coder_test.py
  sdks/python/apache_beam/coders/standard_coders_test.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
Labels: core, java, model, python, runners

#12829 [BEAM-10868] Fix build (docker run) concurrency issue when building golang license dependencies
  release/go-licenses/common.gradle
Labels: build

#12814 [BEAM-9547] A couple trivial but common dataframe methods.
  sdks/python/apache_beam/dataframe/frames.py
Labels: python

#12798 [BEAM-10833] Fix type inference for BUILD_MAP.
  sdks/python/apache_beam/typehints/decorators_test.py
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
Labels: python

#12817 [BEAM-10876] Fix TypeError in dataflow_metrics when distribution sum …
  sdks/python/apache_beam/runners/dataflow/dataflow_metrics.py
Labels: python

#12826 [BEAM-7523] Enable KafkaCSVTableIT using KafkaContainer
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaCSVTableIT.java
Labels: build, extensions, java, sql

#12815 [BEAM-9561] Improve WontImplement reporting.
  sdks/python/apache_beam/dataframe/doctests.py
Labels: python

#12706 [BEAM-6868, BEAM-10670] Add support for bundle finalization to DoFnOperator for non-portable streaming pipelines.
  runners/flink/flink_runner.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/SplittableDoFnOperator.java
Labels: flink, runners

#12802 Deprecate obsolete CombineFn.add_inputs.
  sdks/python/apache_beam/transforms/combiners.py
  sdks/python/apache_beam/transforms/combiners_test.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/stats.py
Labels: python

#12828 [BEAM-10678] Split up assertion for clarity
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/DefaultJobBundleFactoryTest.java
Labels: fn-execution, runners

#12760 [BEAM-10861] Adds URNs and payloads to PubSub transforms to allow runner-native overrides
  model/pipeline/src/main/proto/beam_runner_api.proto
  sdks/python/apache_beam/io/gcp/pubsub.py
  sdks/python/apache_beam/io/gcp/pubsub_test.py
Labels: gcp, io, model, python

#12744 [BEAM-10463] Twister2 Beam Runner Documentation
  .github/autolabeler.yml
  .test-infra/jenkins/README.md
  website/www/site/content/en/documentation/_index.md
  website/www/site/content/en/documentation/runners/twister2.md
  website/www/site/content/en/get-started/beam-overview.md
  website/www/site/content/en/roadmap/twister2-runner.md
  website/www/site/data/capability_matrix.yaml
  website/www/site/data/works_with.yaml
  website/www/site/layouts/partials/section-menu/en/roadmap.html
  website/www/site/layouts/partials/section-menu/en/runners.html
  website/www/site/static/images/logo_twister2.png
  website/www/site/static/images/logos/runners/twister2.png
Labels: build, infra, website

#12731 [BEAM-10830] Twister2 quickstarts and the runner maven archetypes
  release/build.gradle
  release/src/main/groovy/quickstart-java-twister2.groovy
  release/src/main/scripts/run_rc_validation.sh
  release/src/main/scripts/script.config
  runners/twister2/build.gradle
  runners/twister2/src/main/java/org/apache/beam/runners/twister2/Twister2PipelineResult.java
  runners/twister2/src/main/java/org/apache/beam/runners/twister2/Twister2Runner.java
  sdks/java/maven-archetypes/examples/src/main/resources/archetype-resources/pom.xml
Labels: build, java, runners, twister2

#12686 Removing dead code from Interactive Beam.
  sdks/python/apache_beam/runners/interactive/pipeline_analyzer.py
  sdks/python/apache_beam/runners/interactive/pipeline_analyzer_test.py
Labels: python

#12840 [BEAM-10886] Also publish build scans from Github actions.
  settings.gradle
Labels: build

#12773 [BEAM-10505][BEAM-10530] Add truncate capability.
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/EnvironmentsTest.java
  sdks/python/apache_beam/transforms/environments.py
  sdks/python/apache_beam/transforms/environments_test.py
Labels: core, python, runners

#12726 [BEAM-10475] Add max buffering duration to GroupIntoBatches (Java)
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupIntoBatches.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupIntoBatchesTest.java
Labels: java

#12831 [BEAM-10252] Add null check on logical type override
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/RowUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/AvroUtilsTest.java
Labels: java

#12833 Updates Dataflow containers used by unreleased SDKs.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#12553 [BEAM-9615] Add initial schema proto documentation.
  model/pipeline/src/main/proto/schema.proto
Labels: model

#12656 [BEAM-10781] Add PTransformOverride.get_replacement_transform_for_applied_ptransform()
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/dataflow/ptransform_overrides.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/runners/direct/sdf_direct_runner.py
Labels: python

#12704 [BEAM-10603] Implement the new Large Source Recording API.
  CHANGES.md
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization_test.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_beam_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/messaging/interactive_environment_inspector.py
  sdks/python/apache_beam/runners/interactive/messaging/interactive_environment_inspector_test.py
Labels: python

#12813 write to file ability for java suite
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkConfiguration.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkLauncher.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkOptions.java
Labels: java

#12808 add readme file to python nexmark
  sdks/python/apache_beam/testing/benchmarks/nexmark/README.md
Labels: python

#12807 [BEAM-2855] implement query 10
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/queries/Query10.java
  sdks/python/apache_beam/testing/benchmarks/nexmark/queries/query10.py
Labels: java, python

#12834 Document GroupBy transform.
  sdks/python/.yapfignore
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupby_test.py
  website/www/site/content/en/documentation/transforms/python/aggregation/combineperkey.md
  website/www/site/content/en/documentation/transforms/python/aggregation/groupby.md
  website/www/site/content/en/documentation/transforms/python/aggregation/groupbykey.md
Labels: examples, python, website

#12846 [BEAM-10886] Fix Java Wordcount Direct Runner (windows-latest)
  .github/workflows/java_tests.yml
Labels: build

#12811 [BEAM-10705] Fixes a bug when passing whl files in --sdk_location from https locations
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/runners/portability/stager_test.py
Labels: python

#12812 [BEAM-10873] Stronger testing of dataframe partitioning declarations.
  sdks/python/apache_beam/dataframe/doctests.py
  sdks/python/apache_beam/dataframe/expressions.py
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
  sdks/python/apache_beam/dataframe/partitionings.py
Labels: python

#12787 [BEAM-10641] Add eliminate_common_key_with_none graph optimizer
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations_test.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
Labels: python

#12820 [BEAM-9575] Only copy the Spark runner jar, not whatever other jars h…
  runners/java-job-service/src/main/java/org/apache/beam/runners/jobsubmission/PortablePipelineJarCreator.java
Labels: runners

#12818 [BEAM-10875] Support NUMERIC in spanner schema parser
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTest.java
Labels: gcp, io, java

#12845 [BEAM-6928] Update changelog with WriteToBigQuery changed requirements.
  CHANGES.md
  release/src/main/python-release/run_release_candidate_python_mobile_gaming.sh
Labels: build

#12848 [BEAM-10616] Add missing ParDo test cases for streaming/Flink
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
Labels: infra

#12821 Bump versions of protobuf, shadow, other gradle plugins.
  buildSrc/build.gradle
  settings.gradle
Labels: build

#12617 [BEAM-10670] Update Samza to be opt-out for SplittableDoFn powering the Read transform.
  CHANGES.md
  runners/samza/build.gradle
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaRunner.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SplittableParDoProcessKeyedElementsOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ImpulseTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ParDoBoundMultiTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/SamzaPipelineTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/SamzaTransformOverrides.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/SplittableParDoTranslators.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/SamzaStoreStateInternalsTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: build, java, runners, samza

#12847 [BEAM-7523] Fix starting Kafka container twice in KafkaCSVTableIT
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaCSVTableIT.java
Labels: extensions, java, sql

#12616 [BEAM-10670] Update Jet to be opt-out for SplittableDoFn powering the Read transform.
  CHANGES.md
  runners/jet/build.gradle
  runners/jet/src/main/java/org/apache/beam/runners/jet/JetRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: build, java, jet, runners

#12588 [BEAM-7009] Add Go SDK Standard Coders yaml tests.
  model/fn-execution/src/main/resources/org/apache/beam/model/fnexecution/v1/standard_coders.yaml
  sdks/go/gogradle.lock
  sdks/go/pkg/beam/core/graph/coder/coder.go
  sdks/go/pkg/beam/core/graph/coder/coder_test.go
  sdks/go/pkg/beam/core/graph/coder/row.go
  sdks/go/pkg/beam/core/graph/coder/windows.go
  sdks/go/pkg/beam/core/runtime/exec/coder.go
  sdks/go/pkg/beam/core/runtime/exec/hash.go
  sdks/go/pkg/beam/core/runtime/exec/hash_test.go
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/core/runtime/graphx/coder_test.go
  sdks/go/pkg/beam/core/runtime/graphx/dataflow.go
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
  sdks/go/test/regression/coders/fromyaml/fromyaml_test.go
Labels: go, model

#12854 [BEAM-10907] Revert "Deprecate obsolete CombineFn.add_inputs. (#12802)"
  sdks/python/apache_beam/transforms/combiners.py
  sdks/python/apache_beam/transforms/combiners_test.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/stats.py
Labels: python

#12843 [BEAM-10895] Support UNNEST an (possibly nested) array field of an struct column
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamUnnestRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rule/BeamUnnestRule.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ArrayScanColumnRefToUncollect.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/TestInput.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlTestBase.java
Labels: extensions, java, sql

#12809 [BEAM-10870] Add raw private key param to snowflake cross-language python wrapper
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/crosslanguage/CrossLanguageConfiguration.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/crosslanguage/ReadBuilder.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/crosslanguage/WriteBuilder.java
  sdks/python/apache_beam/io/external/xlang_snowflakeio_it_test.py
  sdks/python/apache_beam/io/snowflake.py
Labels: io, java, python

#12862 [BEAM-10816] Make KinesisClientThrottledException public
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisClientThrottledException.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/KinesisClientThrottledException.java
Labels: aws, io, java, kinesis

#12835 [BEAM-10889] Add a note about BatchElements on GroupIntoBatches pages.
  website/www/site/content/en/documentation/transforms/python/aggregation/groupintobatches.md
Labels: website

#12859 [BEAM-10915] Fix error hint for AVG(INT64).
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/AggregateScanConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
Labels: extensions, java, sql

#12540 [BEAM-10620] Eliminate nullability errors from :sdks:java:extensions:sql:perf-tests
  sdks/java/extensions/sql/perf-tests/build.gradle
  sdks/java/extensions/sql/perf-tests/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryIOPushDownIT.java
  sdks/java/io/common/src/test/java/org/apache/beam/sdk/io/common/IOTestPipelineOptions.java
Labels: build, extensions, io, java, sql

#12860 Minor GroupBy doc fixes
  website/www/site/content/en/documentation/transforms/python/aggregation/groupby.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website

#12866 [BEAM-10921] Fix flaky unit tests on Windows
  sdks/python/apache_beam/runners/interactive/pipeline_instrument_test.py
Labels: python

#12735 [BEAM-9543] Add blog post for MATCH_RECOGNIZE
  website/www/site/content/en/blog/pattern-match-beam-sql.md
Labels: website

#12678 [BEAM-10703] Add a step property for shardable states during Dataflow graph translation (Java)
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformMatchers.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/GroupIntoBatchesOverride.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/PropertyNames.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupIntoBatches.java
Labels: core, dataflow, java, runners

#12832 [BEAM-10906] Add basic ToRows transform.
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupby_test.py
  sdks/python/apache_beam/pvalue.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/row_type.py
  sdks/python/apache_beam/typehints/trivial_inference.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
  sdks/python/apache_beam/typehints/typehints.py
Labels: examples, python

#12491 Avoid re-encoding row types.
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
Labels: python

#12745 Add a blog post for Apache Beam 2.24.0.
  CHANGES.md
  website/www/site/content/en/blog/beam-2.24.0.md
Labels: website

#12743 Update Beam website to release 2.24.0.
  website/www/site/config.toml
  website/www/site/content/en/get-started/downloads.md
  website/www/site/static/.htaccess
Labels: website

#12841 [BEAM-10894] Basic CSV reading and writing.
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/io.py
  sdks/python/apache_beam/dataframe/io_test.py
Labels: python

#12872 [BEAM-7372] Remove Python 2 testing.
  .test-infra/jenkins/job_Inventory.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesContainer_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow_V2.groovy
  .test-infra/jenkins/job_PreCommit_Portable_Python.groovy
  .test-infra/jenkins/job_PreCommit_Python_ValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_Publish_Docker_Snapshots.groovy
  build.gradle
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/container/build.gradle
  sdks/python/container/py2/build.gradle
  sdks/python/container/run_validatescontainer.sh
  sdks/python/scripts/run_mini_py2lint.sh
  sdks/python/test-suites/dataflow/py2/build.gradle
  sdks/python/test-suites/direct/py2/build.gradle
  sdks/python/test-suites/gradle.properties
  sdks/python/test-suites/portable/common.gradle
  sdks/python/test-suites/portable/py2/build.gradle
  sdks/python/test-suites/tox/py2/build.gradle
  sdks/python/tox.ini
  settings.gradle
Labels: build, docker, infra, python

#12857 [BEAM-9547] Add not_implemented_ok
  sdks/python/apache_beam/dataframe/doctests.py
  sdks/python/apache_beam/dataframe/doctests_test.py
Labels: python

#12869 Allow pandas 1.x.
  CHANGES.md
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
  sdks/python/setup.py
Labels: python

#12856 [BEAM-9547] Add indexing tests
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#12721 [BEAM-10871] Add deidentify for FhirIO connector
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOLROIT.java
Labels: gcp, io, java

#12876 [BEAM-10931] Remove obsolete ZetaSQL precommit Gradle task.
  build.gradle
Labels: build

#12879 [BEAM-9136] Add CSV for python dependency license names, URLs and types
  sdks/python/container/Dockerfile
  sdks/python/container/license_scripts/pull_licenses_py.py
Labels: docker, python

#12886 [BEAM-9154] Disable Chicago Taxi Example on Jenkins
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Flink.groovy
Labels: infra

#12871 Fix broken link for ParDo docs
  website/www/site/content/en/documentation/transforms/python/elementwise/pardo.md
Labels: website

#12875 Clarify Beam's use of semantic versioning
  website/www/site/content/en/contribute/dependencies.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#12891 [BEAM-7372][BEAM-9372] Removes Python 2 and Python 3.5 Postcommit jobs.
  .github/PULL_REQUEST_TEMPLATE.md
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PostCommit_Python2.groovy
  .test-infra/jenkins/job_PostCommit_Python35.groovy
Labels: build, infra

#12367 [BEAM-10564] Support more Avro field name formats when mapping to Jav…
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/test/avro/org/apache/beam/sdk/schemas/test.avsc
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/AvroSchemaTest.java
Labels: java

#12794 [BEAM-10865] Support for Kafka deserialization API with headers (since Kafka API 2.1.0)
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ConsumerSpEL.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
Labels: build, io, java, kafka

#12896 Update indexing skips for pandas 1.x
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#12889 Dataframe wordcount example.
  CHANGES.md
  sdks/python/apache_beam/examples/wordcount_dataframe.py
  sdks/python/apache_beam/examples/wordcount_dataframe_test.py
Labels: examples, python

#12880 [BEAM-10933] Adjust GBK type before creating the pipeline proto
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python

#12885 [BEAM-7746] Add type checking to runners.pipeline_context
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/mypy.ini
  sdks/python/scripts/generate_pydoc.sh
Labels: python

#12895 [BEAM-9372][BEAM-9980] Switches Flink VR suite to Py36 and makes the version configurable.
  .github/PULL_REQUEST_TEMPLATE.md
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Flink.groovy
  sdks/python/test-suites/gradle.properties
  sdks/python/test-suites/portable/build.gradle
Labels: build, infra, python

#12898 [BEAM-7372][BEAM-9980] Cleans up Flink precommit VR suite definition and makes Python version configurable.
  .github/PULL_REQUEST_TEMPLATE.md
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PreCommit_Python_ValidatesRunner_Flink.groovy
  sdks/python/test-suites/gradle.properties
  sdks/python/test-suites/portable/build.gradle
Labels: build, infra, python

#12767 [BEAM-10916] Remove experimental annotations for BQ storage API source
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageQuerySource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageSourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageTableSource.java
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: gcp, io, java, website

#12758 [BEAM-9898] Move snowflake.py from apache_beam.io to apache_beam.io.external for backwards compatibility
  CHANGES.md
  sdks/python/apache_beam/io/external/snowflake.py
Labels: io, python

#12902 [BEAM-10871] Fix FhirLROIT tests
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOLROIT.java
Labels: gcp, io, java

#11459 [BEAM-2546] Add InfluxDbIO
  .test-infra/jenkins/job_PerformanceTests_InfluxDBIO_IT.groovy
  .test-infra/kubernetes/influxdb/influxdb.yml
  .test-infra/kubernetes/influxdb/setup.sh
  .test-infra/kubernetes/influxdb/teardown.sh
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/influxdb/build.gradle
  sdks/java/io/influxdb/src/main/java/org/apache/beam/sdk/io/influxdb/DBShardInformation.java
  sdks/java/io/influxdb/src/main/java/org/apache/beam/sdk/io/influxdb/InfluxDbIO.java
  sdks/java/io/influxdb/src/main/java/org/apache/beam/sdk/io/influxdb/ShardInformation.java
  sdks/java/io/influxdb/src/main/java/org/apache/beam/sdk/io/influxdb/ShardInformationByStartDate.java
  sdks/java/io/influxdb/src/main/java/org/apache/beam/sdk/io/influxdb/package-info.java
  sdks/java/io/influxdb/src/test/java/org/apache/beam/sdk/io/influxdb/GenerateData.java
  sdks/java/io/influxdb/src/test/java/org/apache/beam/sdk/io/influxdb/InfluxDBPipelineOptions.java
  sdks/java/io/influxdb/src/test/java/org/apache/beam/sdk/io/influxdb/InfluxDbIOIT.java
  sdks/java/io/influxdb/src/test/java/org/apache/beam/sdk/io/influxdb/InfluxDbIOTest.java
  sdks/java/io/influxdb/src/test/java/org/apache/beam/sdk/io/influxdb/Model.java
  settings.gradle
Labels: build, infra, io, java

#12877 Upgrade GCS IO to 2.1.5 and Google OAuth to 1.31.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#12762 [BEAM-10948] Ensuring that BigQuery jobs are tagged with the Dataflow step that launches them
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_io_metadata.py
Labels: gcp, io, python

#12900 [BEAM-10941] Use standard sharding conventions for fileio writes.
  sdks/python/apache_beam/io/fileio.py
  sdks/python/apache_beam/io/fileio_test.py
Labels: io, python

#12799 [BEAM-10603] Add record_pipeline, clear to RM and fix duration limiter
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/options/capture_limiters.py
  sdks/python/apache_beam/runners/interactive/options/capture_limiters_test.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
  sdks/python/apache_beam/runners/interactive/recording_manager_test.py
  sdks/python/apache_beam/runners/interactive/utils.py
Labels: python

#12730 [BEAM-10532] convert NUMERIC field in TableSchema
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
Labels: gcp, io, java

#12844 [BEAM-10894] Support for more pandas formats.
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/io.py
  sdks/python/apache_beam/dataframe/io_test.py
Labels: python

#12901 Move ZetaSQL UDF tests into separate class.
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlUdfTest.java
Labels: extensions, java, sql

#12637 [BEAM-10768] Don't assert the order in which elements are received.
  sdks/python/apache_beam/runners/worker/data_plane_test.py
Labels: python

#12858 [BEAM-9547] Raise NotImplementedError and WontImplementError throughout DeferredDataframe
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#9907 [BEAM-4091] Pass type hints in ptransform_fn
  CHANGES.md
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_validator_test.py
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/typehints/decorators.py
  sdks/python/apache_beam/typehints/typed_pipeline_test.py
  sdks/python/apache_beam/typehints/typed_pipeline_test_py3.py
  sdks/python/conftest.py
  website/www/site/content/en/documentation/sdks/python-type-safety.md
Labels: python, website

#12853 [BEAM-3083] Sets sdk_harness_container_images property for all Dataflow Runner V2 jobs
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python

#12830 [BEAM-10716] TestPubsub/TestPubsubSignal clean up subscriptions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/TestPubsub.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/TestPubsubSignal.java
Labels: gcp, io, java

#12910 Revert "[BEAM-9547] Raise NotImplementedError and WontImplementError …
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#12906 [BEAM-7372] Drop Python 2 shims and update docstring in apache_beam.typehints.schemas
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
Labels: python

#12638 [BEAM-10769] Clarify Avro IO documentation.
  sdks/python/apache_beam/io/avroio.py
Labels: io, python

#12882 [BEAM-10814][BEAM-10570] DataframeTransform outputs elements
  build.gradle
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/dataframe/convert.py
  sdks/python/apache_beam/dataframe/convert_test.py
  sdks/python/apache_beam/dataframe/io.py
  sdks/python/apache_beam/dataframe/io_test.py
  sdks/python/apache_beam/dataframe/schemas.py
  sdks/python/apache_beam/dataframe/schemas_test.py
  sdks/python/apache_beam/dataframe/transforms.py
  sdks/python/apache_beam/dataframe/transforms_test.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
Labels: build, python

#12908 [BEAM-10871] Fix FhirLROIT tests (again)
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOLROIT.java
Labels: gcp, io, java

#12800 [BEAM-10603] Add the ib.recordings API
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_beam_test.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_environment_test.py
  sdks/python/apache_beam/runners/interactive/options/capture_control_test.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
  sdks/python/apache_beam/runners/interactive/recording_manager_test.py
Labels: python
