Repository apache/beam, pull requests merged in 2020-10, with the labels that each got.

#12981 [BEAM-10435] Add LOOPBACK mode Java ValidatesRunner test suite for ULR
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_ULR_LOOPBACK.groovy
  runners/portability/java/build.gradle
Labels: build, infra, portability, runners

#12987 Yichuan66/fix typo
  sdks/go/pkg/beam/pipeline.go
Labels: go

#12979 [BEAM-10545] Add 2 show options
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/package.json
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InspectableView.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InspectableViewModel.test.ts
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InspectableView.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InspectableViewModel.ts
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/style/mdc-theme.css
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/yarn.lock
Labels: python

#12385 [BEAM-10527] Migrate Flink and Spark tests to pytest.
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Spark.groovy
  .test-infra/jenkins/job_PreCommit_Python_ValidatesRunner_Flink.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/portability/portable_runner_test.py
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
  sdks/python/conftest.py
  sdks/python/scripts/pytest_validates_runner.sh
  sdks/python/scripts/run_tox.sh
  sdks/python/test-suites/portable/common.gradle
  sdks/python/tox.ini
Labels: build, infra, python

#12819 [BEAM-9561] Initial framework for testing pandas website docs.
  sdks/python/apache_beam/dataframe/doctests.py
  sdks/python/apache_beam/dataframe/doctests_test.py
  sdks/python/apache_beam/dataframe/pandas_docs_test.py
  sdks/python/scripts/generate_pydoc.sh
Labels: python

#12927 Update some of the Python dependencies from Beam Dependency Check Report
  sdks/python/container/base_image_requirements.txt
  sdks/python/setup.py
Labels: docker, io, python

#12874 [BEAM-10930] Use dense JSON responses for BigQueryIO interactions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TestBigQuery.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilTest.java
Labels: gcp, io, java

#12988 Remove redundant Dataflow Runner Harness precommits
  .test-infra/jenkins/job_PreCommit_Java_PortabilityApi.groovy
  .test-infra/jenkins/job_PreCommit_Java_PortabilityApi_Java11.groovy
Labels: build, infra

#12989 [BEAM-9026] Avoid side effects from positional value provider arguments.
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server_test.py
  sdks/python/apache_beam/runners/portability/spark_uber_jar_job_server_test.py
Labels: python

#12991 [cherry-pick][BEAM-10950] Passing project properly in BQSource
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: gcp, io, python

#12983 [BEAM-10994] Add hotKeyLoggingEnabled to the Java DataflowPipelineOptions
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
Labels: dataflow, runners

#12980 [BEAM-10991] Revert "[BEAM-8543] Dataflow streaming timers are not strictly time ordered when set earlier mid-bundle (#11924)"
  CHANGES.md
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternals.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: dataflow, java, runners

#12887 [BEAM-10935] Replace @abstractproperty with @abstractmethod
  sdks/python/apache_beam/io/filesystemio.py
Labels: io, python

#12804 Fix translations.optimize_pipeline() failure on empty pipelines
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations_test.py
Labels: python

#12790 [BEAM-10862] Handle empty tfrecord files within a glob
  sdks/python/apache_beam/io/filebasedsource.py
  sdks/python/apache_beam/io/tfrecordio_test.py
Labels: io, python

#12970 [BEAM-8024] Add dataflow and flink runner to JPMS test
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PostCommit_Java_Jpms_Dataflow_Java11.groovy
  .test-infra/jenkins/job_PostCommit_Java_Jpms_Direct_Java11.groovy
  .test-infra/jenkins/job_PostCommit_Java_Jpms_Flink_Java11.groovy
  sdks/java/testing/jpms-tests/build.gradle
Labels: build, infra, java

#12964 [BEAM-10639] Integration test that exercises --setup_file flag on Dataflow
  sdks/python/apache_beam/examples/complete/juliaset/juliaset/juliaset_test.py
  sdks/python/apache_beam/examples/complete/juliaset/juliaset/juliaset_test_it.py
Labels: examples, python

#12919 [BEAM-10832] Fixed ClickhouseIO's getTableSchema method is called before Pipeline Starts
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIO.java
Labels: clickhouse, io, java

#12883 [BEAM-7746] Add more typing to metrics
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/execution.py
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/metrics/metricbase.py
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/mypy.ini
Labels: python

#12939 [BEAM-9506] Evaluate gcs_location at runtime, not at pipeline construction time
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: gcp, io, python

#12825 [BEAM-9399] Change DataflowWorkerLoggingHandler to report errors to t…
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/logging/DataflowWorkerLoggingInitializer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/logging/JulHandlerPrintStreamAdapterFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/logging/JulHandlerPrintStreamAdapterFactoryTest.java
Labels: dataflow, runners

#12990 [BEAM-9547] Implement dot method for dataframes.
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#11856 [BEAM-7505] SideInput Python Load Test job
  .test-infra/jenkins/job_LoadTests_SideInput_Python.groovy
  sdks/python/apache_beam/testing/load_tests/sideinput_test.py
Labels: infra, python

#12951 [BEAM-7463] Fix BQ IT flake with streaming inserts
  sdks/python/apache_beam/io/gcp/big_query_query_to_table_it_test.py
  sdks/python/apache_beam/io/gcp/tests/bigquery_matcher.py
  sdks/python/apache_beam/io/gcp/tests/bigquery_matcher_test.py
  sdks/python/apache_beam/testing/test_utils.py
  sdks/python/apache_beam/utils/retry.py
  sdks/python/apache_beam/utils/retry_test.py
Labels: gcp, io, python

#12924 [BEAM-10124] Add ContextualTextIO
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSource.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileIO.java
  sdks/java/io/contextualtextio/build.gradle
  sdks/java/io/contextualtextio/src/main/java/org/apache/beam/sdk/io/contextualtextio/ContextualTextIO.java
  sdks/java/io/contextualtextio/src/main/java/org/apache/beam/sdk/io/contextualtextio/ContextualTextIOSource.java
  sdks/java/io/contextualtextio/src/main/java/org/apache/beam/sdk/io/contextualtextio/RecordWithMetadata.java
  sdks/java/io/contextualtextio/src/main/java/org/apache/beam/sdk/io/contextualtextio/package-info.java
  sdks/java/io/contextualtextio/src/test/java/org/apache/beam/sdk/io/contextualtextio/ContextualTextIOTest.java
  settings.gradle
Labels: build, io, java

#12913 Minor fixes to the get-started/wordcount-example webpage.
  website/www/site/content/en/get-started/wordcount-example.md
Labels: website

#11720 [BEAM-9729] Ignore bundle registration requests.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/RegisterHandler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/RegisterHandlerTest.java
Labels: java, website

#12992 [BEAM-10848] Initialize gauge to 0
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/monitoring_infos_test.py
Labels: python

#12881 [BEAM-7746] Get mypy passing on runners.worker
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/data_plane.py
  sdks/python/apache_beam/runners/worker/log_handler.py
  sdks/python/apache_beam/runners/worker/logger.py
  sdks/python/apache_beam/runners/worker/opcounters.py
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
  sdks/python/apache_beam/runners/worker/sideinputs.py
  sdks/python/apache_beam/runners/worker/statecache.py
  sdks/python/apache_beam/runners/worker/worker_status.py
  sdks/python/apache_beam/utils/sentinel.py
  sdks/python/apache_beam/utils/timestamp.py
  sdks/python/apache_beam/utils/urns.py
  sdks/python/apache_beam/utils/windowed_value.py
  sdks/python/mypy.ini
  sdks/python/tox.ini
Labels: python

#12993 [BEAM-10991] Cherrypick #12980 to 2.25.0: Revert "[BEAM-8543] Dataflow streaming timers are not strictly time ordered when set earlier mid-bundle (#11924)"
  CHANGES.md
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternals.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: build, dataflow, java, python, runners

#12996 [BEAM-10545] Advance the jupyterlab sidepanel extension version for first release
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/package.json
Labels: python

#12892 [BEAM-10937] Add first introductory notebook
  examples/notebooks/tour-of-beam/getting-started.ipynb
Labels: examples

#12855 Update BigQueryAvroUtils.java to properly support BOOL type of Big Query
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtils.java
Labels: gcp, io, java

#12994 [BEAM-11044] Add support for gracefully aborting workers.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowWorkProgressUpdater.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/GroupingShuffleReader.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/common/worker/MapTaskExecutor.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/common/worker/NativeReader.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/common/worker/ReadOperation.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowWorkProgressUpdaterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/common/worker/MapTaskExecutorTest.java
Labels: dataflow, runners

#12746 [BEAM-10845] Add Union support to AvroUtils
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/AvroUtilsTest.java
Labels: java

#12953 Minor programming guide improvements
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/static/images/unwindowed-pipeline-bounded.svg
  website/www/site/static/images/windowing-pipeline-bounded.svg
  website/www/site/static/images/windowing-pipeline-unbounded.svg
Labels: examples, python, website

#12952 [BEAM-11022] Support bundle finalization for portable Flink in streaming.
  .test-infra/jenkins/job_PostCommit_Java_PortableValidatesRunner_Flink_Streaming.groovy
  runners/flink/job-server/flink_job_server.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperator.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/functions/FlinkExecutableStageFunctionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperatorTest.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/DefaultJobBundleFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/SdkHarnessClient.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/SingleEnvironmentInstanceJobBundleFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/StageBundleFactory.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/SparkExecutableStageFunctionTest.java
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
Labels: flink, fn-execution, python, runners

#12971 [BEAM-10988] Partition dataframes according to size estimates.
  sdks/python/apache_beam/dataframe/partitionings.py
  sdks/python/apache_beam/dataframe/partitionings_test.py
  sdks/python/apache_beam/dataframe/transforms.py
Labels: python

#12870 [BEAM-2146] Continuously test Dataflow ValidatesRunner forcing streaming
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Dataflow_streaming.groovy
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, dataflow, infra, runners

#12982 [BEAM-9547] Dataframe covariance and correlation.
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#12955 Add Relative Path Sensitivity
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/worker/legacy-worker/build.gradle
  sdks/java/maven-archetypes/examples/build.gradle
  sdks/python/build.gradle
Labels: build, dataflow, java, python, runners

#12937 [BEAM-10969] Upgrade Spark to version 2.4.7
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#12888 [BEAM-10861]Adds PubSub Runner API encoding to Read/Write transforms
  model/pipeline/src/main/proto/beam_runner_api.proto
  sdks/python/apache_beam/io/gcp/pubsub_test.py
  sdks/python/apache_beam/io/iobase.py
Labels: gcp, io, model, python

#12705 [BEAM-10720] Finish implementing StringMethods (cat, repeat)
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
  sdks/python/apache_beam/dataframe/transforms_test.py
Labels: python

#12984 [BEAM-10994] Add ability for HotKeyLogger to log a key
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/HotKeyLogger.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/HotKeyLoggerTest.java
Labels: dataflow, runners

#12921 [BEAM-10009] Document micros_instant
  model/pipeline/src/main/proto/beam_runner_api.proto
Labels: model

#12389 [BEAM-10587] Support Maps in BigQuery
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
Labels: gcp, io, java

#12957 [BEAM-10114] Upgrade version of pubsublite to 0.4.1.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/BufferingPullSubscriber.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedReader.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/TranslatingPullSubscriber.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/BufferingPullSubscriberTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteSinkTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedReaderTest.java
Labels: build, gcp, io, java

#12864 [BEAM-10650] Windmill implementation for TimestampOrderedState
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternals.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateReader.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternalsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateReaderTest.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: build, dataflow, runners

#12986 [BEAM-10994] Adds ability to log literal hot key in Streaming Dataflow
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
Labels: dataflow, runners

#12985 [BEAM-10994] Adds ability to log literal hot key in Batch Dataflow
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowWorkProgressUpdater.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkItemStatusClient.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowWorkProgressUpdaterTest.java
Labels: dataflow, runners

#12659 [BEAM-10787] make external sorter 2048MB memory limit Hadoop only
  sdks/java/extensions/sorter/src/main/java/org/apache/beam/sdk/extensions/sorter/BufferedExternalSorter.java
  sdks/java/extensions/sorter/src/main/java/org/apache/beam/sdk/extensions/sorter/ExternalSorter.java
  sdks/java/extensions/sorter/src/test/java/org/apache/beam/sdk/extensions/sorter/ExternalSorterTest.java
Labels: extensions, java, sorter

#12643 [BEAM-10438] Update SupportedZetaSqlBuiltinFunctions and support math functions
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BeamBigQuerySqlDialect.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SupportedZetaSqlBuiltinFunctions.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlCalciteTranslationUtils.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlMathFunctionsTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlTypesUtils.java
Labels: extensions, java, sql

#12839 [BEAM-10893] Add Json support to Kafka Table Provider
  CHANGES.md
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaJsonTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProvider.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaTableJsonTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderJsonIT.java
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
Labels: extensions, java, sql

#12806 [BEAM-10869] Make WriteToPubsub output serialized PubsubMessage proto bytes when using runner v2
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/ExternalRead.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/ExternalWrite.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessages.java
  sdks/python/apache_beam/io/gcp/pubsub.py
  sdks/python/apache_beam/io/gcp/pubsub_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
Labels: dataflow, gcp, io, java, python, runners

#12780 [BEAM-5504] Add Avro support to Pubsub table provider
  CHANGES.md
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/DataCatalogTableProvider.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubTableProvider.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/PubsubToBigqueryIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubAvroIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubJsonIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubTableProviderIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubTableProviderTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageToRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaIOProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/RowToPubsubMessage.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageToRowTest.java
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
Labels: build, extensions, gcp, io, java, sql
