Repository apache/beam, pull requests merged in 2020-07, with the labels that each got.

#12140 Remove misleading unsupported features mention for Python streaming
  website/www/site/content/en/documentation/sdks/python-streaming.md
Labels: website

#12087 [BEAM-10321] retain environments in flatten for preventing it from be…
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
Labels: python

#12103 Bug fix: non 200 response streams are read twice which cause "Cannot …
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
Labels: gcp, io, java

#12123 MetricFilter matching by Metric objects.
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/metrics/metric_test.py
Labels: python

#12138 Update ZetaSQL to 2020.06.1 release.
  sdks/java/extensions/sql/zetasql/build.gradle
Labels: build, extensions, java, sql

#12047 [BEAM-10291] Adding full thread dump upon lull detection
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
Labels: python

#12086 [BEAM-10322] allow only single assignment to producing stages by pcol…
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
Labels: python

#12119 Add nexmark option to allow cancel streaming query job after complete
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkLauncher.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkOptions.java
Labels: java

#12129 [BEAM-6696] Change GroupIntoBatches to group for real
  CHANGES.md
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupintobatches_test.py
  sdks/python/apache_beam/transforms/util.py
Labels: examples, python

#12136 [BEAM-10391] Add attribute map null check in dataflow worker
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/PubsubSink.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessage.java
Labels: dataflow, gcp, io, java, runners

#12097 [BEAM-10327] Create a pattern that shows use of Schema using Joins
  examples/java/src/main/java/org/apache/beam/examples/snippets/Snippets.java
  examples/java/src/test/java/org/apache/beam/examples/snippets/SnippetsTest.java
  website/www/site/content/en/documentation/patterns/overview.md
  website/www/site/content/en/documentation/patterns/schema.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: examples, java, website

#12153 [BEAM-9953] [ZetaSQL] Implement CREATE FUNCTION and scalar UDF.
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/FullNameTableProvider.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLPlannerImpl.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/AggregateScanConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ArrayScanColumnRefToUncollect.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/FilterScanConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/JoinScanConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/LimitOffsetScanToLimitConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/LimitOffsetScanToOrderByLimitConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#12156 [BEAM-9754] Add Py 3.8 support to Dataflow runner.
  sdks/python/apache_beam/__init__.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
  sdks/python/apache_beam/runners/dataflow/internal/names.py
  sdks/python/apache_beam/runners/dataflow/template_runner_test.py
  sdks/python/setup.py
Labels: python

#12085 [BEAM-10318] fix uninitialized grpc_server in FnApiRunner
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
Labels: python

#12154 [BEAM-9709] Add test for timestamp from date in default timezone
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#12148 Minor fix on documentation to remove a duplicated word 'to'
  website/www/site/content/en/documentation/transforms/java/aggregation/combine.md
Labels: website

#12131 [BEAM-10335] add STS assume role to AwsModule
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/amazon-web-services/build.gradle
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/options/AwsModule.java
  sdks/java/io/amazon-web-services/src/test/java/org/apache/beam/sdk/io/aws/options/AwsModuleTest.java
Labels: aws, build, io, java

#12052 Update walkthrough.md
  website/www/site/content/en/documentation/dsls/sql/walkthrough.md
Labels: website

#11709 Throw an error when main output has the same tag as side outputs
  sdks/python/apache_beam/transforms/core.py
Labels: python

#12158 [BEAM-10378] Adding Azure IO module
  sdks/java/io/azure/build.gradle
Labels: build, io, java

#12171 [BEAM-10403] Removed asterisk from default file prefix in SnowflakeIO
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakeIO.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/write/QueryDispositionLocationTest.java
Labels: io, java

#12137 [BEAM-10392] Attempt to fix/enable detection of rabbitmq:test stuckness.
  sdks/java/io/rabbitmq/src/test/java/org/apache/beam/sdk/io/rabbitmq/RabbitMqIOTest.java
  sdks/java/io/rabbitmq/src/test/java/org/apache/beam/sdk/io/rabbitmq/RabbitMqTestUtils.java
Labels: io, java, rabbitmq

#12146 [BEAM-10383] Update Snowflake JDBC dependency
  CHANGES.md
  sdks/java/io/snowflake/build.gradle
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakeIO.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/DataSourceConfigurationTest.java
Labels: build, io, java

#12176 [BEAM-9895] Added integration test for SnowflakeIO
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/BatchSnowflakeIOIT.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/TestUtils.java
Labels: io, java

#12084 [BEAM-10317] Python - Update BigQueryIO to tag BigQuery Jobs with the Dataflow Job ID
  sdks/python/apache_beam/internal/http_client.py
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_io_metadata.py
  sdks/python/apache_beam/io/gcp/bigquery_io_metadata_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/gce_metadata_util.py
Labels: gcp, io, python

#12075 Remove usage of jdk-internal NotNull annotation
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/metrics/MetricsReader.java
Labels: java

#11765 [BEAM-9322] Remove passthrough_pcollection_output_ids and force_generated_pcollection_output_ids flags
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/testing/test_stream.py
  sdks/python/apache_beam/testing/test_stream_test.py
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/sideinputs_test.py
Labels: python

#12165 fix formatting for pull request post-commit status table
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build

#12177 [BEAM-10317] Add requests to python deps
  sdks/python/setup.py
Labels: python

#12141 [BEAM-9615] Add Row coder functions.
  sdks/go/pkg/beam/core/graph/coder/row.go
  sdks/go/pkg/beam/core/graph/coder/row_test.go
Labels: go

#12161 [BEAM-10378] Adding Azure IO FileSystem
  sdks/java/io/azure/README.md
  sdks/java/io/azure/src/main/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystem.java
  sdks/java/io/azure/src/main/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystemRegistrar.java
  sdks/java/io/azure/src/test/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystemTest.java
Labels: build, io, java

#12057 Use bz2 to compress pickler output for better compression.
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/internal/pickler.py
Labels: python

#12083 [BEAM-10317] Java - Update BigQueryIO to tag BigQuery Jobs with the Dataflow Job ID
  examples/java/src/main/java/org/apache/beam/examples/cookbook/BigQueryTornadoes.java
  examples/java/src/test/java/org/apache/beam/examples/cookbook/BigQueryTornadoesIT.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GceMetadataUtil.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOMetadata.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQuerySource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageQuerySource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageTableSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryTableSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteRename.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteTables.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOMetadataTest.java
Labels: examples, extensions, gcp, google-cloud-platform-core, io, java

#12168 Move Kafka directly to io submodule.
  sdks/python/apache_beam/io/external/kafka.py
  sdks/python/apache_beam/io/external/xlang_kafkaio_it_test.py
  sdks/python/apache_beam/io/kafka.py
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
Labels: io, python

#12178 Remove the non-actional warning message
  sdks/python/apache_beam/utils/interactive_utils.py
Labels: python

#12142 [BEAM-10004] Fixes occasional ZeroDivisionError when bundle size weights become 0 for MongoDB IO
  sdks/python/apache_beam/io/mongodbio.py
Labels: io, python

#12175 [BEAM-10201] Reduce scope of ParseResult AutoValue properties.
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/JsonToRow.java
Labels: java

#12181 Pass the pipeline's options when visualizing the pipeline graph.
  sdks/python/apache_beam/runners/interactive/display/pipeline_graph.py
Labels: python

#12187 [BEAM-10410] Move Kafka directly to io submodule.
  sdks/python/apache_beam/io/external/kafka.py
  sdks/python/apache_beam/io/external/xlang_kafkaio_it_test.py
  sdks/python/apache_beam/io/kafka.py
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
Labels: io, python

#12133 [BEAM-10385] Integrate SQL expansion into Flink job server
  runners/direct-java/build.gradle
  runners/flink/job-server/flink_job_server.gradle
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/transforms/sql.py
Labels: build, direct, extensions, flink, java, python, runners, sql

#12179 [BEAM-5414] - Update grpcio-tools to its latest version.
  sdks/python/build-requirements.txt
Labels: python

#12159 [BEAM-10093] Run ZetaSQL Nexmark in postcommit
  .test-infra/jenkins/NexmarkBuilder.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Direct.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Flink.groovy
Labels: infra

#12183 Fix a class cast bug: TupleTagList is not a collection.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IO.java
Labels: gcp, io, java

#12180 [BEAM-9754] Adds Python 3.8 ValidatesRunner tests for Dataflow.
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow.groovy
Labels: infra

#12090 [BEAM-10336,BEAM-10337] Add SchemaIO abstraction and implement for PubSub
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/InvalidConfigurationException.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/InvalidSchemaException.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/SchemaCapableIOProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/SchemaIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/package-info.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubIOJsonTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubJsonTableProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageToRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaCapableIOProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/RowToPubsubMessage.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageToRowTest.java
Labels: extensions, gcp, io, java, sql

#12190 Fix typos in programming guide
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#12089 [BEAM-10283] Add new overloads of withKeyRanges and withRowFilter met…
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadOptions.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: gcp, io, java

#12169 [BEAM-9953[SQL][ZetaSQL] Support Pure SQL user-defined table-valued function.
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/ZetaSqlUserDefinedSQLNativeTableValuedFunction.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamTableFunctionScanRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/utils/TVFStreamingUtils.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLPlannerImpl.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ConversionContext.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/FilterScanConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/TVFScanConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#12186 Fix threading issue with default artifact resolver registration.
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/DefaultArtifactResolver.java
Labels: core, runners

#12067 [BEAM-10308] Make component ID assignments consistent across PipelineContext instances
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/apache_beam/runners/pipeline_context_test.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/sql_test.py
Labels: python

#12182 [BEAM-4605] Remove portable runner GBK hack.
  sdks/python/apache_beam/runners/portability/portable_runner.py
Labels: python

#12189 [BEAM-10414] Fix FlinkStreamingImpulseSource translation
  sdks/python/apache_beam/io/flink/flink_streaming_impulse_source.py
  sdks/python/apache_beam/io/flink/flink_streaming_impulse_source_test.py
Labels: io, python

#12184 [BEAM-10392] Make sure that messages that are unroutable are returned to the sender and redelivered.
  sdks/java/io/rabbitmq/src/test/java/org/apache/beam/sdk/io/rabbitmq/RabbitMqIOTest.java
Labels: io, java, rabbitmq

#12132 [BEAM-10371] Run dependency check script with Python 3
  sdks/python/build.gradle
  sdks/python/scripts/run_dependency_check.sh
  sdks/python/test-suites/tox/pycommon/build.gradle
  sdks/python/tox.ini
Labels: build, python

#12191 [BEAM-10419] Skip FhirIORead integration test due to flakiness
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOReadIT.java
Labels: gcp, io, java

#11912 [BEAM-10165] Cache and return error messages on pipeline failure.
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/python/apache_beam/runners/portability/local_job_service_test.py
Labels: python

#12120 [BEAM-10224] Test group by and aggregation on DATE and TIME type
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamAggregationRel.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/TestInput.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#12143 [BEAM-10291] Adding full thread dump upon lull detection for Dataflow…
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowOperationContext.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowOperationContextTest.java
Labels: dataflow, runners

#12200 [BEAM-10243] Fix and test FieldValueBuilder::withFieldValues.
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/values/RowTest.java
Labels: java

#12197 [BEAM-8494] Declare Python 3.8 support in setup.py.
  CHANGES.md
  sdks/python/apache_beam/__init__.py
  sdks/python/setup.py
Labels: python

#12193 [BEAM-8472] get default GCP region option (Go)
  sdks/go/pkg/beam/options/gcpopts/options.go
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
Labels: dataflow, go, runners

#11744 [BEAM-10007] Handle ValueProvider pipeline options in PortableRunner
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main_test.py
Labels: python

#12204 [BEAM-10431] Add missing step name in graphite metrics sink messages.
  runners/extensions-java/metrics/src/main/java/org/apache/beam/runners/extensions/metrics/MetricsGraphiteSink.java
  runners/extensions-java/metrics/src/test/java/org/apache/beam/runners/extensions/metrics/MetricsGraphiteSinkTest.java
Labels: extensions-java, runners

#12205 Fix TODO comment in tox.ini
  sdks/python/tox.ini
Labels: python

#12163 [BEAM-9712] Refactor ZetaSQL planner code and support setting default timezone
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/BeamSqlPipelineOptions.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/CalciteQueryPlanner.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamEnumerableConverter.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BeamBigQuerySqlDialect.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRel.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLPlannerImpl.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLQueryPlanner.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/TestInput.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#12207 [BEAM-10432] Improve error message for missing pipeline options.
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
Labels: dataflow, runners

#12211 [BEAM-9996] Unshadow test_metrics test for flink_runner_test
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python

#12107 Interactive Environment Inspector for messaging
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/messaging/__init__.py
  sdks/python/apache_beam/runners/interactive/messaging/interactive_environment_inspector.py
  sdks/python/apache_beam/runners/interactive/messaging/interactive_environment_inspector_test.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
Labels: python

#12214 [BEAM-10438] Sync ZetaSQL function allowlist with full list from ZetaSQL
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlStdOperatorMappingTable.java
Labels: extensions, java, sql

#12144 [BEAM-10395] Deduplicate uploads by destinations before uploading
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/PackageUtil.java
Labels: dataflow, runners

#12208 [BEAM-10433] Swap to use an embedded derby instance instead of starting and waiting for an instance which is unreliable.
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOTest.java
Labels: io, java, jdbc

#12209 [BEAM-9629] Fix several connection leak issues.
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: io, java, jdbc

#12192 [BEAM-10420] Move restriction/watermark estimator state into PerWindowInvoker
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/direct/sdf_direct_runner.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python

#12210 [BEAM-10419] Ignore FhirIOWriteIT testFhirIO_Import instead of FhirIO…
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOWriteIT.java
Labels: gcp, io, java

#12128 [BEAM-10417] - Move Shared object from tfx_bsl
  CHANGES.md
  sdks/python/apache_beam/utils/shared.py
  sdks/python/apache_beam/utils/shared_test.py
Labels: python

#11939 [BEAM-10197] Support typehints for Python's frozenset
  sdks/python/apache_beam/typehints/decorators_test.py
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
  sdks/python/apache_beam/typehints/trivial_inference.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
  website/www/site/content/en/documentation/sdks/python-type-safety.md
Labels: python, website

#12221 [BEAM-10165] Exclude stateless messages from test.
  sdks/python/apache_beam/runners/portability/local_job_service_test.py
Labels: python

#12219 Refactor time functions test out of giant ZetaSqlDialectSpecTest
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/StreamingSqlTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLTestBase.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlTestBase.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlTimeFunctionsTest.java
Labels: build, extensions, java, sql

#12060 [BEAM-10218] Add FnApiRunner to cross-language validate runner test
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_Direct.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/flink/job-server/flink_job_server.gradle
  runners/spark/job-server/build.gradle
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/python/test-suites/direct/xlang/build.gradle
  settings.gradle
Labels: build, flink, infra, python, runners, spark

#12218 [BEAM-10444] Simpler PAssert for simpler cases.
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/PAssert.java
Labels: java

#12020 [BEAM-9066] Add javax.annotation-api dependency.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#12220 [BEAM-10455] Provide an example of how to memoize the DataSource provider.
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: io, java, jdbc

#12226 [BEAM-10450] [BEAM-10449] Fix empty flatten bundle processing.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
Labels: java

#11919 [BEAM-10114] Copy Pub/Sub Lite IO from Pub/Sub Lite github to beam.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Reshuffle.java
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/AddUuidsTransform.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/BufferingPullSubscriber.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/CloudPubsubChecks.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/OffsetCheckpointMark.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/OffsetFinalizer.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PerServerPublisherCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PublisherCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PublisherOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PublisherOrError.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteSink.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedReader.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PullSubscriber.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/SerializableStatusFunction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/SerializableSupplier.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/SubscriberOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/Uuid.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/UuidCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/UuidDeduplicationOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/UuidDeduplicationTransform.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/package-info.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/GcpApiSurfaceTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/AddUuidsTransformTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/BufferingPullSubscriberTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/FakeSerializable.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/OffsetCheckpointMarkTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteSinkTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedReaderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/UuidDeduplicationTransformTest.java
Labels: build, gcp, io, java

#12237 [BEAM-10407] Revamped SchemaCapableIOProvider interface to SchemaIOProvider
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/SchemaIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/SchemaIOProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaCapableIOProvider.java
Labels: gcp, io, java

#12231 [BEAM-9178] Support more EXTRACT functions
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BeamBigQuerySqlDialect.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlExtractTimestampOperatorRewriter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlOperators.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlStdOperatorMappingTable.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlTimeFunctionsTest.java
Labels: extensions, java, sql

#12227 [BEAM-10081] Fix ApiSurface to work with Java 11
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ApiSurface.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ClassPath.java
Labels: direct, extensions, google-cloud-platform-core, java, runners

#12225 [BEAM-10080] Fix LocalFileSystemsTest to work with Java 11
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/LocalFileSystem.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/LocalFileSystemTest.java
Labels: java

#12216 For Java container, generate license report only for container modules
  runners/samza/job-server/build.gradle
  sdks/java/container/build.gradle
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: build, docker, java, runners, samza

#12244 add direct runner xlang test badge
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: build

#12238 [BEAM-4709] Adding PostCommit jenkins job that builds Javadoc
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PostCommit_Javadoc.groovy
Labels: infra

#12201 [BEAM-10291] log full thread dump only when lull duration is more tha…
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
Labels: python

#12245 DoFnTester is deprecated and should not be recommended.
  website/www/site/content/en/documentation/pipelines/test-your-pipeline.md
Labels: website

#12233 [BEAM-10465] Add checksum for Python source distribution and wheels
  .github/workflows/build_wheels.yml
Labels: build

#12246 Add Python snippets in testing guide.
  website/www/site/content/en/documentation/pipelines/test-your-pipeline.md
Labels: website

#12253 Exclude beam.* from license download since these are invalid artifact coordinates
  sdks/java/container/build.gradle
Labels: build, docker, java

#12250 [BEAM-10460] Limit SparkPortableExecutionTest to a single thread.
  runners/spark/src/test/java/org/apache/beam/runners/spark/SparkPortableExecutionTest.java
Labels: runners, spark

#12224 [BEAM-10080] Fixes PipelineOptionsFactoryTest and ReflectHelpersTest for Java 11
  sdks/java/core/src/test/java/org/apache/beam/sdk/options/PipelineOptionsFactoryTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/common/ReflectHelpersTest.java
Labels: build, java

#12241 [BEAM-10420] Fix minor race condition related to splitting that will cause None has no method 'yyy'
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
Labels: python

#11792 [BEAM-10435] Add ValidatesRunner task for local_job_service and Java SDK harness
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/artifact/ArtifactRetrievalService.java
  runners/portability/java/build.gradle
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/testing/TestUniversalRunner.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
  sdks/python/apache_beam/runners/portability/local_job_service_main.py
Labels: build, fn-execution, java, portability, python, runners

#12230 [BEAM-7014] filesystemio.py PipeStream rewind fix
  sdks/python/apache_beam/io/filesystemio.py
  sdks/python/apache_beam/io/filesystemio_test.py
Labels: io, python

#12236 [BEAM-10419] Ignore missing temporary files in retrys.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOWriteIT.java
Labels: gcp, io, java

#12249 Make tracking/cleanup of cache and in-environment states per pipeline
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/background_caching_job_test.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_environment_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/options/capture_control.py
  sdks/python/apache_beam/runners/interactive/options/capture_control_test.py
  sdks/python/apache_beam/runners/interactive/options/capture_limiters.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument_test.py
Labels: python

#11975 [BEAM-9198] BeamSQL aggregation analytics functionality
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Group.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/planner/BeamRuleSets.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamSortRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamWindowRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rule/BeamCalcRule.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rule/BeamWindowRule.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/transform/BeamBuiltinAnalyticFunctions.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/transform/agg/AggregationCombineFnAdapter.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamAnalyticFunctionsTest.java
Labels: extensions, java, sql

#11639 [BEAM-4440] Throw exception when file to stage is not found, instead of logging a warning
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
Labels: dataflow, runners

#12167 [BEAM-9889] Populate local instance of InfluxDB with data
  .test-infra/metrics/docker-compose.yml
  .test-infra/metrics/influxdb/Dockerfile
  .test-infra/metrics/influxdb/gsutil/.boto
  .test-infra/metrics/influxdb/gsutil/Dockerfile
  .test-infra/metrics/kubernetes/beam-influxdb-autobackup.yaml
Labels: infra

#12260 [BEAM-10486] Update OffsetRestrictionTracker to honor failed claim attempt marking the claim as done when checkpointing.
  sdks/python/apache_beam/io/restriction_trackers.py
  sdks/python/apache_beam/io/restriction_trackers_test.py
Labels: io, python

#12217 [BEAM-7390] Add cogroupbykey code snippets
  website/www/site/content/en/documentation/transforms/python/aggregation/cogroupbykey.md
Labels: website

#12222 Gate GH actions so it only runs in main/upstream repo
  .github/workflows/build_wheels.yml
Labels: build

#12265 [BEAM-8727] Bump software.amazon.awssdk to 2.13.54
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#12262 [BEAM-10491] Simplify PeriodicSequence generator to use OffsetRanges with whole whole numbers
  sdks/python/apache_beam/transforms/periodicsequence.py
Labels: python

#12270 [BEAM-10025] [Samza] Exclude UsesUnboundedPCollections tests.
  runners/samza/build.gradle
Labels: build, runners, samza

#12126 Update docs for Reshuffle to remove the reference for deduplication
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Reshuffle.java
  sdks/python/apache_beam/transforms/util.py
Labels: java, python

#12174 [BEAM-10239] Support ZetaSQL NUMERIC type in BeamSQL
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BeamBigQuerySqlDialect.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlBeamTranslationUtils.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlCalciteTranslationUtils.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/TableScanConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/TestInput.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlTestBase.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlTypesUtils.java
Labels: extensions, java, sql

#12240 [BEAM-10462] transforms handle Double.NaN
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Max.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Min.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/MaxTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/MinTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/SumTest.java
Labels: java

#12252 [BEAM-7390] Add combineglobally code snippets
  website/www/site/content/en/documentation/transforms/python/aggregation/combineglobally.md
Labels: website

#12273 Replace com.sun.istack.Nullable with checkframework Nullable
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkTranslationContext.java
  sdks/java/build-tools/src/main/resources/beam/checkstyle.xml
  sdks/java/io/hcatalog/src/main/java/org/apache/beam/sdk/io/hcatalog/HCatalogBeamSchema.java
Labels: build, hcatalog, io, java, runners, spark

#12164 [BEAM-10397] add missing environment in windowing strategy for Dataflow
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/WindowingStrategyTranslation.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/PCollectionTranslationTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/RehydratedComponentsTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/WindowingStrategyTranslationTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/WindowingStrategy.java
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: core, java, python, runners

#12243 [BEAM-10460] Increase SparkPortableExecutionTest.testExecution timeout to 10 minutes
  runners/spark/src/test/java/org/apache/beam/runners/spark/SparkPortableExecutionTest.java
Labels: runners, spark

#12272 [BEAM-10502] Enable checker in zetasketch extension
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Combine.java
  sdks/java/extensions/zetasketch/build.gradle
  sdks/java/extensions/zetasketch/src/main/java/org/apache/beam/sdk/extensions/zetasketch/HllCount.java
  sdks/java/extensions/zetasketch/src/main/java/org/apache/beam/sdk/extensions/zetasketch/HllCountMergePartialFn.java
  sdks/java/extensions/zetasketch/src/test/java/org/apache/beam/sdk/extensions/zetasketch/BigQueryHllSketchCompatibilityIT.java
Labels: build, extensions, java, zetasketch

#12248 Cleanup some old pipeline examples.
  sdks/python/apache_beam/examples/cookbook/bigtableio_it_test.py
  sdks/python/apache_beam/examples/cookbook/combiners_test.py
  sdks/python/apache_beam/pipeline.py
Labels: examples, python

#12074 [BEAM-10313] Add without_defaults to built-in Combiners in Python
  sdks/python/apache_beam/transforms/combiners.py
  sdks/python/apache_beam/transforms/combiners_test.py
  sdks/python/scripts/generate_pydoc.sh
Labels: python

#12271 [BEAM-10496] Improve nullability analysis for :sdks:java:core
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PipelineOptionsFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PipelineOptionsValidator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/common/ReflectHelpers.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/common/ReflectHelpersTest.java
Labels: java

#12279 [BEAM-10506]: Fix Flake / failure in SplunkEventWriterTest
  sdks/java/io/splunk/src/test/java/org/apache/beam/sdk/io/splunk/SplunkEventWriterTest.java
  sdks/java/io/splunk/src/test/java/org/apache/beam/sdk/io/splunk/SplunkIOTest.java
Labels: io, java

#12281 Loosen Nexmark streaming pipeline finish condition
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkLauncher.java
Labels: java

#12254 Add note on zetaSQL dependencies
  website/www/site/content/en/documentation/dsls/sql/overview.md
Labels: website

#12247 [BEAM-9179] Refactor: move Java function implementations to a sub-module
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SupportedZetaSqlBuiltinFunctions.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlIdUtils.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/AggregateScanConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlCaseWithValueOperatorRewriter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlCoalesceOperatorRewriter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlIfNullOperatorRewriter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlNullIfOperatorRewriter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlOperatorRewriter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlOperators.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlStdOperatorMappingTable.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlWindowTableFunction.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/impl/BeamBuiltinMethods.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/impl/DateFunctions.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/impl/StringFunctions.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/impl/TimestampFunctions.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/impl/package-info.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlTimeFunctionsTest.java
Labels: extensions, java, sql

#12125 Reducing how much we call BigQuery Get Table API. The BQ API is queri…
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: gcp, io, python

#12215 [BEAM-10310] Adding thread-safe restriction tracker wrapper.
  sdks/go/examples/stringsplit/stringsplit.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/core/sdf/lock.go
  sdks/go/pkg/beam/core/sdf/sdf.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange.go
  sdks/go/pkg/beam/io/synthetic/source.go
  sdks/go/pkg/beam/io/synthetic/step.go
Labels: examples, go, io

#12276 [BEAM-10471] Change assertion method to improve expressiveness and increase error margin on non deterministic size test in CassandraIO to avoid flakiness
  sdks/java/io/cassandra/src/test/java/org/apache/beam/sdk/io/cassandra/CassandraIOTest.java
Labels: cassandra, io, java

#12172 [BEAM-10185] Building python wheels for Windows (on Github Actions)
  .github/workflows/build_wheels.yml
  sdks/python/apache_beam/runners/worker/crossplatform_time.h
  sdks/python/apache_beam/runners/worker/crossplatform_unistd.h
  sdks/python/apache_beam/runners/worker/statesampler_fast.pyx
  sdks/python/setup.py
Labels: build, python

#12147 [BEAM 7624] Added Null Behavior in JsonToRow
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/JsonToRow.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/JsonToRowTest.java
Labels: java

#12291 Disable flaky test: testMultipleAdvanceWatermark in Samza runner
  runners/samza/src/test/java/org/apache/beam/runners/samza/adapter/UnboundedSourceSystemTest.java
Labels: runners, samza

#12259 [BEAM-9561] Run Pandas tests on Beam.
  sdks/python/apache_beam/dataframe/doctests.py
  sdks/python/apache_beam/dataframe/doctests_test.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#12266 [BEAM-10494] PubsubSchemaCapableIOProvider config inner class rather than row
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaCapableIOProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/RowToPubsubMessage.java
Labels: gcp, io, java

#12283 [BEAM-10514] Restrict cache file path length
  sdks/python/apache_beam/runners/interactive/cache_manager.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
Labels: python

#12286 [BEAM-8244] Split FlinkRunnerTest.test_external_transforms.
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
Labels: python

#12256 [BEAM-10487] Link release blog posts on the Downloads page
  website/www/site/content/en/get-started/downloads.md
Labels: website

#12287 [BEAM-10341] Support drain in Java SDK
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/SplittableParDoExpander.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/EnvironmentsTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/SplittableParDoTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/SplittableParDoExpanderTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/SplittableParDoProcessFnTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PeriodicSequence.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Watch.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnInvoker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignature.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/ByteKeyRangeTracker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/GrowableOffsetRangeTracker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/OffsetRangeTracker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/RestrictionTracker.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnInvokersTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnSignaturesSplittableDoFnTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/splittabledofn/GrowableOffsetRangeTrackerTest.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/splittabledofn/RestrictionTrackers.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/splittabledofn/RestrictionTrackersTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
Labels: core, fn-execution, java, model, runners

#12303 [BEAM-8244] Don't run external transform tests with pre_optimize=all.
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
Labels: python

#12293 [BEAM-8454] Increase timeout and also enable thread stuckness detector.
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnHarnessTest.java
Labels: java

#12261 [BEAM-10490] Support read/write ZetaSQL DATE/TIME types from/to BigQuery
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
Labels: gcp, io, java

#12301 [BEAM-10526] Use GrpcCleanupRule to use consistent methodology on server/channel shutdown in tests.
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/fn/BeamFnControlServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/GrpcContextHeaderAccessorProviderTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/ServerFactoryTest.java
  runners/portability/java/src/test/java/org/apache/beam/runners/portability/PortableRunnerTest.java
Labels: dataflow, fn-execution, portability, runners

#12196 [release-2.23.0][BEAM-10308] Make component ID assignments consistent across Pipeline…
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/apache_beam/runners/pipeline_context_test.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/sql_test.py
Labels: python

#12278 [BEAM-10397] add missing environment in windowing strategy for Dataflow
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/WindowingStrategyTranslation.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/PCollectionTranslationTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/RehydratedComponentsTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/WindowingStrategyTranslationTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/WindowingStrategy.java
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: core, java, python, runners

#12115 [BEAM-7672] dynamically setup acceptable wheel specs according to installed python version
  sdks/python/container/boot.go
Labels: docker, python

#12305 [BEAM-9968] Guarantee that outstanding split/progress requests are handled before bundle completion (and before any final progress/checkpoint data sent to handlers).
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/RemoteBundle.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/SdkHarnessClient.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/SdkHarnessClientTest.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataSizeBasedBufferingOutboundObserver.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataSizeBasedBufferingOutboundObserverTest.java
Labels: fn-execution, java, runners

#12288 [BEAM-10474] Relax matchers to match display data from the specific tests, not from all options.
  sdks/python/apache_beam/transforms/display_test.py
Labels: python

#12275 [BEAM-10420] Add support for per window invocation of beam:transform:sdf_process_sized_element_and_restrictions:v1
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/io/restriction_trackers.py
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/common_test.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
  sdks/python/apache_beam/runners/worker/operations.py
Labels: io, python

#12290 Use debian:buster for go SDK container
  sdks/go/container/Dockerfile
Labels: docker, go
