Repository apache/beam, pull requests merged in 2020-06, with the labels that each got.

#11858 [BEAM-8608] Chain DoFns in Flink batch runner when possible.
  runners/flink/1.10/src/main/java/org/apache/beam/runners/flink/FlinkCapabilities.java
  runners/flink/1.8/src/main/java/org/apache/beam/runners/flink/FlinkCapabilities.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkBatchTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkDoFnFunction.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkStatefulDoFnFunction.java
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
Labels: build, flink, java, runners

#11776 [BEAM-9421] Better documentation of output results from AnnotateText transform
  sdks/python/apache_beam/examples/snippets/snippets.py
  website/www/site/content/en/documentation/patterns/ai-platform.md
  website/www/site/content/en/documentation/patterns/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: examples, python, website

#11075 [BEAM-9421] Website section that describes getting predictions using AI Platform Prediciton
  website/www/site/content/en/documentation/patterns/ai-platform.md
  website/www/site/content/en/documentation/patterns/overview.md
Labels: website

#11876 [BEAM-10162, BEAM-10163] change pubsub and bq jobs name
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_PubsubIO_Python.groovy
Labels: infra

#11864 [BEAM-10051] Scope instruction data.
  sdks/go/pkg/beam/core/runtime/harness/datamgr.go
  sdks/go/pkg/beam/core/runtime/harness/datamgr_test.go
Labels: go

#11872 Fix Programming guide typo
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#11865 [BEAM-10154] Remove stray version number.
  website/www/site/content/en/documentation/dsls/sql/overview.md
Labels: website

#11867 [BEAM-10158] Use a shared unbounded thread pool within Beam Python.
  sdks/python/apache_beam/runners/portability/artifact_service_test.py
  sdks/python/apache_beam/runners/portability/expansion_service_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/python/apache_beam/runners/portability/portable_stager_test.py
  sdks/python/apache_beam/runners/worker/data_plane_test.py
  sdks/python/apache_beam/runners/worker/log_handler_test.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
  sdks/python/apache_beam/runners/worker/worker_pool_main.py
  sdks/python/apache_beam/runners/worker/worker_status_test.py
  sdks/python/apache_beam/utils/thread_pool_executor.py
  sdks/python/apache_beam/utils/thread_pool_executor_test.py
Labels: python

#11610 [BEAM-9825] | Implement Intersect,Union,Except transforms
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Sets.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/SetsTest.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamSetOperatorRelBase.java
Labels: extensions, java, sql

#11566 [BEAM-9723] Add DLP integration transforms
  CHANGES.md
  sdks/java/extensions/ml/build.gradle
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/BatchRequestForDLP.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/DLPDeidentifyText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/DLPInspectText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/DLPReidentifyText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/MapStringToDlpRow.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/BatchRequestForDlpTest.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/DLPDeidentifyTextTest.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/DLPInspectTextTest.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/DLPReidentifyTextTest.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/DLPTextOperationsIT.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/MapStringToDlpRowTest.java
Labels: build, extensions, java

#11874 Flink Batch Runner: optimize GBK translation for non-merging windows.
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkBatchPipelineTranslator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkBatchTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkBatchTranslationContext.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkExplodeWindowsFunction.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkNonMergingReduceFunction.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/types/WindowedKvKeySelector.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/utils/CountingPipelineVisitor.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/utils/LookupPipelineVisitor.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/batch/NonMergingGroupByKeyTest.java
  website/www/site/layouts/shortcodes/flink_java_pipeline_options.html
  website/www/site/layouts/shortcodes/flink_python_pipeline_options.html
Labels: flink, runners, website

#11887 [BEAM-10171] Add Kinesis, Spanner, Jdbc IOs to the portability roadmap website
  website/www/site/content/en/roadmap/connectors-multi-sdk.md
Labels: website

#11890 Update Jira priorities to the new Beam custom priority scheme
  website/www/site/content/en/contribute/jira-priorities.md
Labels: website

#11892 [BEAM-10050][BEAM-10058][release-2.22.0] Fix VideoIntelligence Test flakes
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/VideoIntelligenceIT.java
  sdks/python/apache_beam/ml/gcp/videointelligenceml_test_it.py
Labels: extensions, java, python

#11891 [BEAM-4766] Migrate to use vendored protobuf for bytestring
  sdks/java/build-tools/src/main/resources/beam/checkstyle.xml
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextSource.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/range/ByteKey.java
Labels: build, java

#11888 [BEAM-10173] Upgrade zstd-jni to version 1.4.5-2
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11899 [BEAM-10179] Clean-up URNJavaDoFn workaround in Go SDK.
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
Labels: go

#11880 [BEAM-10167] Fix 2.21.0 downloads link in blog post
  website/www/site/content/en/blog/beam-2.21.0.md
Labels: website

#11897 [BEAM-10177] Remove "Review Release Notes in JIRA" from release guide
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#11785 [BEAM-10063] Create a WontImplementError for skipping features.
  sdks/python/apache_beam/dataframe/doctests.py
  sdks/python/apache_beam/dataframe/doctests_test.py
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frames.py
Labels: python

#11878 Remove conditional grpc imports.
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/runners/direct/test_stream_impl.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python

#11902 [BEAM-10168] Add Github 'publish release' to release guide
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#11885 Add a GCThrashingPerPeriod option for MemoryMonitor
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/MemoryMonitor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/MemoryMonitorTest.java
Labels: dataflow, runners

#11682 [BEAM-9946] | added new api in Partition Transform
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Partition.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/PartitionTest.java
Labels: java

#11779 [BEAM-10055] Add --region to python examples where it was missing
  sdks/python/apache_beam/examples/fastavro_it_test.py
  sdks/python/apache_beam/examples/wordcount_debugging.py
  sdks/python/apache_beam/examples/wordcount_minimal.py
Labels: examples, python

#11661 [BEAM-7774] Remove perfkit benchmarking tool from python performance …
  .test-infra/jenkins/CommonJobProperties.groovy
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PerformanceTests_Python.groovy
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_Performance_Tests.json
  sdks/python/apache_beam/examples/wordcount_it_test.py
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/dataflow/py2/build.gradle
  sdks/python/test-suites/dataflow/py37/build.gradle
Labels: build, examples, infra, python

#11816 [BEAM-5863] Jenkins job to deploy Beam Metrics infrastructure automatically upon code changes
  .test-infra/jenkins/CommonJobProperties.groovy
  .test-infra/jenkins/Kubernetes.groovy
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PostCommit_BeamMetrics_Publish.groovy
  .test-infra/metrics/build.gradle
  .test-infra/metrics/build_and_publish_containers.sh
  .test-infra/metrics/kubernetes/beam-grafana-etcdata-persistentvolumeclaim.yaml
  .test-infra/metrics/kubernetes/beam-grafana-libdata-persistentvolumeclaim.yaml
  .test-infra/metrics/kubernetes/beam-grafana-logdata-persistentvolumeclaim.yaml
  .test-infra/metrics/kubernetes/beam-influxdb-autobackup.yaml
  .test-infra/metrics/kubernetes/beam-influxdb-backups-persistentvolumeclaim.yaml
  .test-infra/metrics/kubernetes/beam-influxdb-storage-persistentvolumeclaim.yaml
  .test-infra/metrics/kubernetes/beam-influxdb.yaml
  .test-infra/metrics/kubernetes/beam-postgresql-data-persistentvolumeclaim.yaml
  .test-infra/metrics/kubernetes/beamgrafana-deploy.yaml
  .test-infra/metrics/sync/github/Dockerfile
  .test-infra/metrics/sync/jenkins/Dockerfile
  .test-infra/metrics/sync/jira/Dockerfile
Labels: build, infra

#11905 [BEAM-10132] Update Docker images in Flink runner page.
  website/www/site/content/en/documentation/runners/flink.md
Labels: website

#11906 Fix an issue with kubectl not being configured properly
  .test-infra/jenkins/CommonJobProperties.groovy
  .test-infra/jenkins/job_PostCommit_BeamMetrics_Publish.groovy
  .test-infra/metrics/build.gradle
Labels: build, infra

#11908 [BEAM-9948] Fix mascot invalid directory link
  website/www/site/content/en/community/mascot.md
Labels: website

#11889 [BEAM-10164] Flink Batch Runner: Memory efficient combine implementat…
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkBatchTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkPartialReduceFunction.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkReduceFunction.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/SingleWindowFlinkCombineRunner.java
Labels: flink, runners

#11331 [BEAM-9646] Add Google Cloud vision integration transform
  CHANGES.md
  sdks/java/extensions/ml/build.gradle
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateImages.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/CloudVision.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/AnnotateImagesTest.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/CloudVisionIT.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/CloudVisionTest.java
Labels: build, core, extensions, java, runners

#11907 [BEAM-10096] Fix Spark runners numbering
  website/www/site/content/en/documentation/runners/spark.md
Labels: website

#11903 Fix hub existence test in RC script
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#11896 [BEAM-8841] Make bigquery_avro_tools_test py3 compatible
  sdks/python/apache_beam/io/gcp/bigquery_avro_tools_test.py
Labels: gcp, io, python

#11881 [BEAM-10166] Context improvements for exec errors.
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/exec/util.go
  sdks/go/pkg/beam/internal/errors/errors.go
Labels: go

#11914 [BEAM-10187] Push release candidate tag to Github.
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#11895 [Beam 9879] support STRING_AGG function in Beam ZetaSQL
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/SqlTransform.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/UdafImpl.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/udaf/StringAgg.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/udaf/package-info.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlOperators.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlStdOperatorMappingTable.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLPlannerImpl.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11917 [BEAM-8602] Use shadow configuration for remaining DirectRunner dependencies
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/build.gradle
  sdks/java/io/thrift/build.gradle
  sdks/java/testing/load-tests/build.gradle
  sdks/java/testing/nexmark/build.gradle
Labels: build, elasticsearch, io, java, thrift

#11777 [BEAM-10054] Fix watermark hold for on_time_pane
  sdks/python/apache_beam/transforms/trigger.py
  sdks/python/apache_beam/transforms/trigger_test.py
Labels: python

#11732 [BEAM-10017] Expose Cassandra Connect and Read timeouts
  sdks/java/io/cassandra/src/main/java/org/apache/beam/sdk/io/cassandra/CassandraIO.java
Labels: cassandra, io, java

#11898 [BEAM-10178] Improved error messages when option is not set
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
Labels: gcp, io, java, python

#11787 [BEAM-10063] Better emulate the pandas testing environment.
  sdks/python/apache_beam/dataframe/doctests.py
  sdks/python/apache_beam/dataframe/doctests_test.py
Labels: python

#11915 [BEAM-10190] Reduce cost of toString of MetricKey and MetricName
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricKey.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricName.java
Labels: java

#11893 [BEAM-10175] use bearer token header instead of url param for token
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
Labels: gcp, io, java

#11918 [BEAM-10188] Add instructions to programmatically publish release to Github
  release/src/main/scripts/publish_github_release_notes.sh
  website/www/site/content/en/contribute/release-guide.md
Labels: build, website

#11920 Minor formatting updates.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
Labels: gcp, io, java

#11921 [BEAM-10194] Call println() in Katas test failures.
  learning/katas/java/build.gradle
  learning/katas/kotlin/build.gradle
Labels: build, learning

#11766 [BEAM-10036] More flexible dataframes partitioning.
  sdks/python/apache_beam/dataframe/expressions.py
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/partitionings.py
  sdks/python/apache_beam/dataframe/partitionings_test.py
  sdks/python/apache_beam/dataframe/transforms.py
  sdks/python/apache_beam/dataframe/transforms_test.py
Labels: python

#11835 Various fixes to allow Java PAssert to run on Python
  sdks/python/apache_beam/runners/portability/abstract_job_service.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/trigger.py
  sdks/python/apache_beam/transforms/trigger_test.py
Labels: python

#11926 [BEAM-9615] Additional coder unit tests
  sdks/go/pkg/beam/coder_test.go
  sdks/go/pkg/beam/core/graph/coder/coder.go
  sdks/go/pkg/beam/core/graph/coder/coder_test.go
Labels: go

#11758 Old Fastjson has a serious security problem
  sdks/java/extensions/sql/build.gradle
Labels: build, extensions, java, sql

#11934 [BEAM-10205] @Ignore:BYTES can work with UNION ALL
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11805 Add documentation for python apache-beam[aws] installation
  website/www/site/content/en/get-started/quickstart-py.md
Labels: website

#11882 [BEAM-10112] Add state and timer python examples to website
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#11927 [BEAM-9615] finish standardizing proto import names
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/core/runtime/graphx/dataflow.go
  sdks/go/pkg/beam/core/runtime/graphx/serialize.go
  sdks/go/pkg/beam/core/runtime/graphx/serialize_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/core/runtime/graphx/user.go
  sdks/go/pkg/beam/core/runtime/pipelinex/clone.go
  sdks/go/pkg/beam/core/runtime/pipelinex/clone_test.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/execute.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/fixup.go
  sdks/java/container/boot.go
  sdks/python/container/boot.go
Labels: dataflow, docker, go, java, python, runners

#11846 [BEAM-9869] adding self-contained Kafka service jar for testing
  sdks/java/testing/kafka-service/build.gradle
  sdks/java/testing/kafka-service/src/test/java/org/apache/beam/sdk/testing/kafka/LocalKafka.java
  sdks/java/testing/kafka-service/src/test/java/org/apache/beam/sdk/testing/kafka/LocalZookeeper.java
  sdks/java/testing/kafka-service/src/test/resources/log4j.properties
  settings.gradle
Labels: build, java

#11937 [BEAM-9615] Remove LP indicator on string methods.
  sdks/go/pkg/beam/core/graph/coder/stringutf8.go
  sdks/go/pkg/beam/core/graph/coder/stringutf8_test.go
Labels: go

#11922 [BEAM-2939] Fix FnApiDoFnRunner to ensure that we output within the correct window when processing a splittable dofn
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataReadRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/HandlesSplits.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/BundleSplitListener.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataReadRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/BundleSplitListenerTest.java
Labels: java

#11933 [BEAM-10204] @Ignore: re-enable LIKE operator related unit tests.
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11931 [BEAM-10145] Delete persistent disks after every KafkaIO performance test run
  .test-infra/kubernetes/kafka-cluster/01-configure/gke-storageclass-broker-pd.yml
  .test-infra/kubernetes/kafka-cluster/01-configure/gke-storageclass-zookeeper-ssd.yml
Labels: infra

#11739 [BEAM-10024] Mark testOutputTimestampDefault with UsesUnboundedPColle…
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java

#11947 Fix links for type hint changes in 2.21 blog post
  website/www/site/content/en/blog/beam-2.21.0.md
Labels: website

#11945 [BEAM-10211] Upgrade Spark to version 2.4.6
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11904 Update Beam website to release 2.22.0
  website/www/site/config.toml
  website/www/site/content/en/get-started/downloads.md
  website/www/site/static/.htaccess
Labels: website

#11910 Add blog post announcing the 2.22.0 release
  website/www/site/content/en/blog/beam-2.22.0.md
Labels: website

#11626 Cleanup ToString transforms.
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python

#11948 [BEAM-10213] @Ignore: fix the test for testCastToDateWithCase.
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11953 [BEAM-9191] Add Jira Link (BEAM-9191) to empty @Ignore message
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11952 [BEAM-10215] @Ignore: Concat now works with varargs
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11946 Fix VideoIntelligence IT tests
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/VideoIntelligenceIT.java
  sdks/python/apache_beam/ml/gcp/videointelligenceml_test_it.py
Labels: extensions, java, python

#11941 [BEAM-2939] Fix splittable DoFn lifecycle.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
Labels: java

#11940 [BEAM-6215] Additional tests for FlatMap label.
  sdks/python/apache_beam/transforms/ptransform_test.py
Labels: python

#11958 [BEAM-10198] Roll back changes
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamSetOperatorRelBase.java
Labels: extensions, java, sql

#11923 [BEAM-10176] Support STRUCT, FLOAT64, INT64 BigQuery types
  sdks/python/apache_beam/io/gcp/bigquery_avro_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_avro_tools_test.py
Labels: gcp, io, python

#11928 [ BEAM-3788] Updates kafka.py pydocs
  sdks/python/apache_beam/io/external/kafka.py
  website/www/site/content/en/documentation/io/built-in.md
Labels: io, python, website

#11951 [BEAM-8828] Added BigQueryTableProvider WriteDisposition configuration
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryTable.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryReadWriteIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryTableProviderTest.java
Labels: extensions, java, sql

#11901 Prototype schema-inferring Row constructor.
  sdks/python/apache_beam/__init__.py
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/pvalue.py
  sdks/python/apache_beam/transforms/sql_test.py
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/row_type.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/trivial_inference.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
Labels: python

#11851 [BEAM-10144] Update PipelineOptions snippets for best practices
  sdks/python/apache_beam/examples/snippets/snippets.py
Labels: examples, python

#11932 [BEAM-9577] Migrate PortablePipelineJarCreator to new artifact service.
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/artifact/ArtifactRetrievalService.java
  runners/java-job-service/src/main/java/org/apache/beam/runners/jobsubmission/PortablePipelineJarCreator.java
  runners/java-job-service/src/test/java/org/apache/beam/runners/jobsubmission/PortablePipelineJarCreatorTest.java
Labels: fn-execution, runners

#11870 [BEAM-9951] Adding integration tests for synthetic pipelines in Go
  sdks/go/pkg/beam/io/synthetic/source.go
  sdks/go/pkg/beam/io/synthetic/step.go
  sdks/go/pkg/beam/testing/passert/count.go
  sdks/go/pkg/beam/testing/passert/count_test.go
  sdks/go/pkg/beam/testing/passert/passert.go
  sdks/go/pkg/beam/testing/passert/passert.shims.go
  sdks/go/test/integration/driver.go
  sdks/go/test/integration/synthetic/synthetic.go
  sdks/go/test/run_integration_tests.sh
Labels: go, io

#11984 [BEAM-9217] Update DoFn javadoc for schema type translation
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
Labels: java

#11983 [BEAM-10234] Fix error message for missing licenses.
  sdks/python/container/license_scripts/pull_licenses_py.py
Labels: docker, python

#11950 [BEAM-8596]: Add SplunkIO transform to write messages to Splunk
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/splunk/build.gradle
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/HttpEventPublisher.java
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/SplunkEvent.java
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/SplunkEventWriter.java
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/SplunkIO.java
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/SplunkWriteError.java
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/package-info.java
  sdks/java/io/splunk/src/test/java/org/apache/beam/sdk/io/splunk/HttpEventPublisherTest.java
  sdks/java/io/splunk/src/test/java/org/apache/beam/sdk/io/splunk/SplunkEventTest.java
  sdks/java/io/splunk/src/test/java/org/apache/beam/sdk/io/splunk/SplunkEventWriterTest.java
  sdks/java/io/splunk/src/test/java/org/apache/beam/sdk/io/splunk/SplunkIOTest.java
  sdks/java/io/splunk/src/test/java/org/apache/beam/sdk/io/splunk/SplunkWriteErrorTest.java
  settings.gradle
Labels: build, io, java

#11868 [BEAM-9363] Support HOP and SESSION as TVF
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/TVFSlidingWindowFn.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamTableFunctionScanRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/utils/TVFStreamingUtils.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/TestInput.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/StreamingSQLTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLTestBase.java
Labels: extensions, java, sql

#11989 [BEAM-9615] Add String UTF8 coder.
  sdks/go/pkg/beam/coder.go
  sdks/go/pkg/beam/core/graph/coder/coder.go
  sdks/go/pkg/beam/core/runtime/coderx/string.go
  sdks/go/pkg/beam/core/runtime/exec/coder.go
  sdks/go/pkg/beam/core/runtime/exec/coder_test.go
  sdks/go/pkg/beam/core/runtime/exec/hash.go
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/core/runtime/graphx/coder_test.go
  sdks/go/pkg/beam/core/runtime/graphx/dataflow.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
Labels: go

#11999 [BEAM-7163] Correcting godoc for passert.Sum
  sdks/go/pkg/beam/testing/passert/sum.go
Labels: go

#11998 [BEAM-10250]: Update io_matrix with new SplunkIO
  website/www/site/data/io_matrix.yaml
Labels: website

#11969 Remove a hack used to retrieve schematized data from HL7v2 messages, …
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2Message.java
Labels: build, gcp, io, java

#11986 [BEAM-10235] Adding a CountElms transform to the Go SDK.
  sdks/go/pkg/beam/transforms/stats/count.go
  sdks/go/pkg/beam/transforms/stats/count_test.go
  sdks/go/pkg/beam/transforms/stats/stats.shims.go
  sdks/go/pkg/beam/transforms/stats/util_gen.go
  sdks/go/pkg/beam/transforms/stats/util_gen.tmpl
Labels: go

#11997 [BEAM-10249] Populate state cache with initial values before appending
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
Labels: python

#11996 [BEAM-10247] Pin google-api-core to 1.17.0
  sdks/python/container/base_image_requirements.txt
  sdks/python/setup.py
Labels: docker, python

#12000 BEAM-10221: Add in example tests cases of Kotlin cookbook
  examples/kotlin/src/test/java/org/apache/beam/examples/kotlin/cookbook/DistinctExampleTest.kt
  examples/kotlin/src/test/java/org/apache/beam/examples/kotlin/cookbook/FilterExamplesTest.kt
  examples/kotlin/src/test/java/org/apache/beam/examples/kotlin/cookbook/JoinExamplesTest.kt
  examples/kotlin/src/test/java/org/apache/beam/examples/kotlin/cookbook/MaxPerKeyExamplesTest.kt
Labels: examples, kotlin

#12015 Clarify release guide for publishing release notes to GitHub
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#12008 [BEAM-9951] Fixing some lint bugs.
  sdks/go/pkg/beam/io/synthetic/step.go
Labels: go, io

#12017 Lump together PMC-only steps in release guide
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#12005 Update screen_diff deps and goldens as stable Chrome version advances.
  sdks/python/apache_beam/runners/interactive/testing/integration/goldens/Darwin/7a35f487b2a5f3a9b9852a8659eeb4bd.png
  sdks/python/apache_beam/runners/interactive/testing/integration/goldens/Linux/7a35f487b2a5f3a9b9852a8659eeb4bd.png
  sdks/python/setup.py
Labels: python

#11957 [BEAM-10033] zetaSqlValueToJavaObject uses value.getType()
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlUtils.java
Labels: extensions, java, sql

#12012 [BEAM-10260] Fix continuation token support with statecache
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
  sdks/python/apache_beam/runners/worker/statecache.py
  sdks/python/apache_beam/runners/worker/statecache_test.py
Labels: python

#11086 [BEAM-8910] Make custom BQ source read from Avro
  CHANGES.md
  sdks/python/apache_beam/io/gcp/big_query_query_to_table_it_test.py
  sdks/python/apache_beam/io/gcp/big_query_query_to_table_pipeline.py
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: gcp, io, python

#11838 [BEAM-9322] Modify the TestStream to output a dict when no output_tags are specified
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument_test.py
  sdks/python/apache_beam/testing/test_stream.py
Labels: python

#11942 [BEAM-10208] add cross-language KafkaIO integration test
  build.gradle
  sdks/python/apache_beam/io/external/xlang_kafkaio_it_test.py
  sdks/python/test-suites/portable/common.gradle
Labels: build, io, python

#12003 [BEAM-10251] Adds transform id to TestStream step
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: dataflow, python, runners

#11944 [BEAM-10210] Beam Katas for Kotlin Blog Post
  website/www/site/content/en/blog/beam-katas-kotlin-release.md
  website/www/site/data/authors.yml
  website/www/site/static/images/blog/beam-katas-kotlin-release/beam-and-kotlin.png
  website/www/site/static/images/blog/beam-katas-kotlin-release/beam-katas-in-edutools.png
Labels: website

#11970 [BEAM-7672] add cp37 wheel to acceptableWhlSpecs
  sdks/python/container/boot.go
Labels: docker, python

#11790 [BEAM-9926] Programming guide - Fix typos and add clearer Python text
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#12018 [BEAM-9679] Update Stepik course information
  learning/katas/go/Core Transforms/CoGroupByKey/CoGroupByKey/task-remote-info.yaml
  learning/katas/go/Core Transforms/Combine/Combine PerKey/task-remote-info.yaml
  learning/katas/go/Core Transforms/Combine/CombineFn/task-remote-info.yaml
  learning/katas/go/Core Transforms/Combine/Simple Function/task-remote-info.yaml
  learning/katas/go/Core Transforms/Flatten/Flatten/task-remote-info.yaml
  learning/katas/go/Core Transforms/GroupByKey/GroupByKey/task-remote-info.yaml
  learning/katas/go/Core Transforms/Map/ParDo OneToMany/task-remote-info.yaml
  learning/katas/go/Core Transforms/Map/ParDo Struct/task-remote-info.yaml
  learning/katas/go/Core Transforms/Map/ParDo/task-remote-info.yaml
  learning/katas/go/Core Transforms/Partition/Partition/task-remote-info.yaml
  learning/katas/go/Core Transforms/Partition/lesson-remote-info.yaml
  learning/katas/go/Introduction/Hello Beam/Hello Beam Test/task-remote-info.yaml
  learning/katas/go/Introduction/Hello Beam/Hello Beam/task-remote-info.yaml
  learning/katas/go/course-remote-info.yaml
Labels: learning

#11976 [BEAM-10169] - ParDo functions with correct output N in their error messages.
  sdks/go/pkg/beam/pardo.go
  sdks/go/pkg/beam/pardo_test.go
Labels: go

#11972 [BEAM-9852] Do not create data channel for empty timer descriptor.
  sdks/python/apache_beam/runners/worker/data_plane.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#11966 [BEAM-10217] CALL_FUNCTION and CALL_METHOD fixes
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/trivial_inference.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
Labels: python

#12019 Migrating to new CI - Beam Jenkins Master
  .github/PULL_REQUEST_TEMPLATE.md
  .test-infra/jenkins/README.md
  .test-infra/jupyter/precommit_job_times.ipynb
  .test-infra/metrics/grafana/dashboards/Post-Commits_status_dashboard.json
  .test-infra/metrics/grafana/dashboards/post-commit_tests.json
  .test-infra/metrics/sync/jenkins/syncjenkins.py
  README.md
  website/www/site/content/en/contribute/release-guide.md
Labels: build, infra, website

#11955 [BEAM-10220] add support for implicit nulls for converting between beam rows and json
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJson.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/RowJsonTest.java
Labels: java

#11873 [BEAM-3489] DataflowRunner to read PubsubMessage if getNeedsMessageId is true
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
Labels: dataflow, runners

#11821 [BEAM-10097, BEAM-5982, BEAM-3080] Use primitive views directly instead of transforming KV<Void, Iterable<T>> to the view type via a naive mapping.
  runners/apex/src/test/java/org/apache/beam/runners/apex/translation/ParDoTranslatorTest.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PCollectionViewTranslation.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/CreatePCollectionViewTranslationTest.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SideInputHandler.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/SideInputHandlerTest.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/SideInputContainer.java
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/EvaluationContextTest.java
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/SideInputContainerTest.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkSideInputReader.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/SideInputInitializer.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StateFetcher.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StateFetcherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/graph/InsertFetchAndFilterStreamingSideInputNodesTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/functions/SparkSideInputReader.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/util/SparkSideInputReader.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Combine.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFnTester.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/View.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionViews.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/testing/PCollectionViewTesting.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ViewTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/values/PCollectionViewsTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/IterableSideInput.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/SideInputSpec.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
Labels: apex, core, dataflow, direct, flink, fn-execution, java, runners, spark

#11943 [BEAM-10209] Add without_defaults to Mean combiner in Python
  sdks/python/apache_beam/transforms/combiners.py
  sdks/python/apache_beam/transforms/combiners_test.py
Labels: python

#11964 [BEAM-9987] added instruction for converting maven project to gradle
  website/www/site/content/en/get-started/quickstart-java.md
Labels: website

#12013 Fix error creating unnecessary data channel for user timer in py sdk
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python

#12026 [BEAM-10271] Removes experimental annotations from stabilized GCP connector APIs.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/pubsub.py
Labels: gcp, io, java, python

#12021 [BEAM-9758] Fix string interpolation in echo statements.
  .test-infra/jenkins/LoadTestsBuilder.groovy
  .test-infra/jenkins/NexmarkBuilder.groovy
Labels: infra

#12025 [BEAM-9164] Unify watermark emission timer registration in UnboundedSourceWrapper
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapper.java
Labels: flink, runners

#12028 [BEAM-10273] Fix sql_test failure in python 2
  sdks/python/apache_beam/transforms/sql_test.py
Labels: python

#12029 [BEAM-10153] Fix VoidCoder with FnApiDoFnRunner
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Timer.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
Labels: core, java, runners

#12014 Fix default in 'would you like to proceed' in publish_github_release_notes.sh
  release/src/main/scripts/publish_github_release_notes.sh
Labels: build

#11913 Cleaner logging, explicit errors on unimplemented features.
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
Labels: python

#12007 [BEAM-10254] Fix exception with typing.Pattern
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
Labels: python

#12027 [BEAM-9179] Refactor Beam ZetaSQL type translation code
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRel.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlBeamTranslationUtils.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlCalciteTranslationUtils.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/AggregateScanConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLPushDownTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlUtilsTest.java
Labels: build, extensions, java, sql

#12031 Update Beam Katas Built-in IOs to get the Kotlin Katas featured
  learning/katas/java/Common Transforms/Aggregation/Count/task-remote-info.yaml
  learning/katas/java/Common Transforms/Aggregation/Max/task-remote-info.yaml
  learning/katas/java/Common Transforms/Aggregation/Mean/task-remote-info.yaml
  learning/katas/java/Common Transforms/Aggregation/Min/task-remote-info.yaml
  learning/katas/java/Common Transforms/Aggregation/Sum/task-remote-info.yaml
  learning/katas/java/Common Transforms/Filter/Filter/task-remote-info.yaml
  learning/katas/java/Common Transforms/Filter/ParDo/task-remote-info.yaml
  learning/katas/java/Common Transforms/WithKeys/WithKeys/task-remote-info.yaml
  learning/katas/java/Core Transforms/Branching/Branching/task-remote-info.yaml
  learning/katas/java/Core Transforms/CoGroupByKey/CoGroupByKey/task-remote-info.yaml
  learning/katas/java/Core Transforms/Combine/BinaryCombineFn Lambda/task-remote-info.yaml
  learning/katas/java/Core Transforms/Combine/BinaryCombineFn/task-remote-info.yaml
  learning/katas/java/Core Transforms/Combine/Combine PerKey/task-remote-info.yaml
  learning/katas/java/Core Transforms/Combine/CombineFn/task-remote-info.yaml
  learning/katas/java/Core Transforms/Combine/Simple Function/task-remote-info.yaml
  learning/katas/java/Core Transforms/Composite Transform/Composite Transform/task-remote-info.yaml
  learning/katas/java/Core Transforms/DoFn Additional Parameters/DoFn Additional Parameters/task-remote-info.yaml
  learning/katas/java/Core Transforms/Flatten/Flatten/task-remote-info.yaml
  learning/katas/java/Core Transforms/GroupByKey/GroupByKey/task-remote-info.yaml
  learning/katas/java/Core Transforms/Map/FlatMapElements/task-remote-info.yaml
  learning/katas/java/Core Transforms/Map/MapElements/task-remote-info.yaml
  learning/katas/java/Core Transforms/Map/ParDo OneToMany/task-remote-info.yaml
  learning/katas/java/Core Transforms/Map/ParDo/task-remote-info.yaml
  learning/katas/java/Core Transforms/Partition/Partition/task-remote-info.yaml
  learning/katas/java/Core Transforms/Side Input/Side Input/task-remote-info.yaml
  learning/katas/java/Core Transforms/Side Output/Side Output/task-remote-info.yaml
  learning/katas/java/Examples/Word Count/Word Count/task-remote-info.yaml
  learning/katas/java/IO/Built-in IOs/Built-in IOs/task-remote-info.yaml
  learning/katas/java/IO/Built-in IOs/Built-in IOs/task.md
  learning/katas/java/IO/Built-in IOs/Built-in IOs/test/org/apache/beam/learning/katas/io/builtinios/TaskTest.java
  learning/katas/java/IO/TextIO/TextIO Read/task-remote-info.yaml
  learning/katas/java/Introduction/Hello Beam/Hello Beam/task-remote-info.yaml
  learning/katas/java/Triggers/Early Triggers/Early Triggers/task-remote-info.yaml
  learning/katas/java/Triggers/Event Time Triggers/Event Time Triggers/task-remote-info.yaml
  learning/katas/java/Triggers/Window Accumulation Mode/Window Accumulation Mode/task-remote-info.yaml
  learning/katas/java/Windowing/Adding Timestamp/ParDo/task-remote-info.yaml
  learning/katas/java/Windowing/Adding Timestamp/WithTimestamps/task-remote-info.yaml
  learning/katas/java/Windowing/Fixed Time Window/Fixed Time Window/task-remote-info.yaml
  learning/katas/java/course-remote-info.yaml
  learning/katas/kotlin/IO/Built-in IOs/Built-in IOs/task-remote-info.yaml
  learning/katas/kotlin/IO/Built-in IOs/Built-in IOs/task.md
  learning/katas/kotlin/IO/Built-in IOs/Built-in IOs/test/org/apache/beam/learning/katas/io/builtinios/TaskTest.kt
  learning/katas/kotlin/IO/Built-in IOs/lesson-remote-info.yaml
  learning/katas/kotlin/course-remote-info.yaml
Labels: learning

#12033 [BEAM-10276] Replace `grpc._channel._Rendezvous` with `grpc.RpcError`
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python

#11930 [BEAM-10202] make cross-language testing scripts OSX-compatible
  sdks/python/scripts/run_expansion_services.sh
  sdks/python/scripts/run_job_server.sh
Labels: python

#10165 [BEAM-7390] Add code snippet for GroupIntoBatches
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupintobatches.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupintobatches_test.py
Labels: examples, python

#11894 [BEAM-7074] Enable test_pardo_timers_clear for fn_runner
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python

#12043 Update Dataflow Python container to 20200619
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: gcp, io, java, python

#12036 [BEAM-10267] ZetaSQLCalc makes grpc call per row
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRel.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlBeamTranslationUtils.java
Labels: extensions, java, sql

#12001 [BEAM-10082] Remove dependency on java.xml.ws and remove deprecated MetricName methods
  runners/extensions-java/metrics/src/main/java/org/apache/beam/runners/extensions/metrics/MetricsHttpSink.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricName.java
Labels: extensions-java, java, runners

#11405 [BEAM-9747] Deprecate RedisIO.readAll() and add RedisIO.readKeyPatterns as a replacement
  CHANGES.md
  sdks/java/io/redis/src/main/java/org/apache/beam/sdk/io/redis/RedisIO.java
Labels: io, java, redis

#11977 Remove "whitelist" and "blacklist" terminology from repository where possible
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineWorkerPoolOptions.java
  sdks/java/build-tools/src/main/resources/beam/checkstyle.xml
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/AvroCoder.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlDslSqlStdOperatorsTest.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlStdOperatorMappingTable.java
  sdks/java/io/hadoop-format/src/test/resources/cassandra.yaml
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
Labels: build, dataflow, extensions, hadoop, io, java, kafka, runners, sql

#12053 [BEAM-10301] Ignoring negative estimated sizes when creating Dataflow split responses
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSources.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
Labels: dataflow, runners

#12041 [BEAM-10286] Fix race in direct runner
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/ExecutorServiceParallelExecutor.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamEnumerableConverter.java
Labels: direct, extensions, java, runners, sql

#12058 Format PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build

#12038 [BEAM-5853] Trigger autodeploy on commit ID and image tag mismatch
  .test-infra/metrics/build.gradle
  .test-infra/metrics/kubernetes/beamgrafana-deploy.yaml
Labels: build, infra

#12048 [BEAM-10258] Fix Dataflow-based Jenkins jobs
  .test-infra/jenkins/CommonTestProperties.groovy
  .test-infra/jenkins/job_PerformanceTests_PubsubIO_Python.groovy
  sdks/python/apache_beam/io/gcp/pubsub_io_perf_test.py
Labels: gcp, infra, io, python

#12044 [BEAM-9707] Remove hardcoded unified harness image
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python

#12055 [BEAM-9272] Remove obsolete portable SDF urns
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/GreedyPCollectionFusers.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/PipelineValidator.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/QueryablePipeline.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
Labels: core, java, model, python, runners

#12045 [BEAM-9615] Generate Go Schema Protos
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/gen.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/metrics.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/schema.pb.go
Labels: go

#12004 Enabling custom retry strategy for BQ streaming inserts.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/InsertRetryPolicy.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/InsertRetryPolicyTest.java
Labels: gcp, io, java

#12059 Adding a helper function for making custom coders.
  sdks/go/pkg/beam/coder.go
  sdks/go/pkg/beam/core/graph/coder/coder.go
  sdks/go/pkg/beam/core/runtime/exec/combine_test.go
Labels: go

#12002 [BEAM-9872] Moved Spark validates tests to shared file
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Spark.groovy
  build.gradle
  sdks/python/test-suites/portable/common.gradle
  sdks/python/test-suites/portable/py2/build.gradle
Labels: build, examples, infra, java, kotlin, learning, python

#12061 [BEAM-4634] Add options to allow BigQuery StandardSQL queries.
  sdks/go/pkg/beam/io/bigqueryio/bigquery.go
Labels: gcp, go, io

#11794 [BEAM-9894] Add batch SnowflakeIO.Write to Java SDK
  CHANGES.md
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakeIO.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakePipelineOptions.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakeServiceImpl.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/enums/CloudProvider.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/enums/WriteDisposition.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/enums/package-info.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/ServiceConfig.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeService.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeServiceConfig.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeServiceImpl.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/package-info.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/FakeSnowflakeDatabase.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/FakeSnowflakeServiceImpl.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/TestUtils.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/TestPipelineOptions.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/read/SnowflakeIOReadTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/write/QueryDispositionLocationTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/write/SnowflakeIOWriteTest.java
Labels: io, java

#11982 [BEAM-6892] Supporting bucket auto-creation for Dataflow.
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/options/pipeline_options.py
Labels: gcp, io, python
