Repository apache/beam, pull requests merged in 2020-12, with the labels that each got.

#13447 [BEAM-11200] Update useragent version of Go SDK
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go
Labels: dataflow, go, runners

#13446 Revert "Add use_unified_worker to pipeline options."
  sdks/python/apache_beam/examples/kafkataxi/README.md
Labels: examples, python

#13319 [BEAM-11173] Add Bigtable table with read operation
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableProvider.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/package-info.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableCreationFailuresTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableFlatTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableWithRowsTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableRowToBeamRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableRowToBeamRowFlat.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableRowToBeamRowFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/CellValueParser.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/RowUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigtableEmulatorWrapper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigtableTestUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableRowToBeamRowFlatTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableRowToBeamRowTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/CellValueParserTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/TestUtils.java
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
Labels: build, extensions, gcp, io, java, sql, website

#13451 Update python versions in pre-requisites
  website/www/site/content/en/contribute/_index.md
Labels: website

#12779 [BEAM-10856] Support for NestedValueProvider for Python SDK
  CHANGES.md
  sdks/python/apache_beam/options/value_provider.py
  sdks/python/apache_beam/options/value_provider_test.py
Labels: python

#13227 [BEAM-10480] Add splittable dofn as the recommended way of building connectors.
  website/www/site/content/en/documentation/io/developing-io-java.md
  website/www/site/content/en/documentation/io/developing-io-overview.md
  website/www/site/content/en/documentation/io/developing-io-python.md
Labels: website

#13431 [BEAM-11354] Allow DoFn itself to be used as the restriction provider.
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: examples, python

#13454 [release-2.26.0][BEAM-11214] Exclude more KuduIO from checker since it crashes under Java 11 which…
  sdks/java/io/kudu/build.gradle
Labels: build, io, java, kudu

#13429 Add start_times to MonitoringInfos and populate them in the python SDK
  model/pipeline/src/main/proto/metrics.proto
  sdks/python/apache_beam/metrics/cells.pxd
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/cells_test.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
Labels: model, python

#13426 [BEAM-9980] use ALL_SUPPORTED_VERSIONS for constant SUPPORTED_CONTAINER_TASKS for python
  .test-infra/jenkins/PythonTestProperties.groovy
Labels: infra

#13458 [BEAM-11375] Downgrade Kafka clients dependency to fix spark postcommit
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#13449 [BEAM-11365] Direct Runner: Handle pipeline option string quotes under windows os
  runners/direct-java/build.gradle
Labels: build, direct, runners

#13450 [BEAM-11376] Ignoring DicomIOReadIT
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/DicomIOReadIT.java
Labels: gcp, io, java

#13463 [BEAM-10911] Grafana post-commit status board: job_name cells now link to corresponding Jenkins job.
  .test-infra/metrics/grafana/dashboards/Post-Commits_status_dashboard.json
Labels: infra

#13467 [BEAM-11385] Supress keyfor for KeyedTimerData in Samza
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/KeyedTimerData.java
Labels: runners, samza

#13453 [BEAM-10986] Update shadow jar plugin.
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#13466 Make checkstyle suppression filepath absolute
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#13444 [BEAM-11363] Create `:sdks:java:extensions:ml:integrationTest` target, run in Java PostCommit
  build.gradle
  sdks/java/extensions/ml/build.gradle
Labels: build, extensions, java

#13465 Fixed a couple of comments
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
Labels: python

#13443 [BEAM-11361] Dynamic splitting of SDF IOs.
  sdks/python/apache_beam/dataframe/io.py
  sdks/python/apache_beam/dataframe/io_test.py
  sdks/python/apache_beam/io/restriction_trackers.py
Labels: io, python

#13432 [BEAM-11355] Fix topological ordering of pipeline_from_stages after sort_stages
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations_test.py
Labels: python

#13478 [BEAM-11070]Use EventRecorder instead of relying on class var.
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python

#13473 [BEAM-11392] SideInputHandlerTest: inline trivial test setup for clarity
  runners/core-java/src/test/java/org/apache/beam/runners/core/SideInputHandlerTest.java
Labels: core, runners

#13262 [BEAM-11151] Adds the ToStringFn Bundle Processor to Python
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python

#13480 [release-2.26.0][BEAM-11273][BEAM-10974] Skip GroupByKeyTest.testLargeKeys10MB.
  runners/flink/job-server/flink_job_server.gradle
Labels: flink, runners

#13468 [BEAM-11386] Fail BQ STREAMING_INSERTS with SchemaUpdateOptions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: gcp, io, java

#13399 [BEAM-11312] Log cloud build url and enable kaniko cache in sdk_container_builder
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
Labels: python

#13474 [BEAM-10475] Add typehints for ShardedKeyCoder
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/typehints/sharded_key_type.py
  sdks/python/apache_beam/typehints/sharded_key_type_test.py
Labels: python

#13308 [BEAM-10891] Standardized developer build environment using Docker
  dev-support/docker/Dockerfile
  dev-support/docker/bashcolors.sh
  dev-support/docker/beam_env_checks.sh
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/Timers.java
  sdks/python/build-requirements.txt
  start-build-env.sh
  website/www/site/content/en/contribute/_index.md
Labels: java, python, website

#13464 [BEAM-11383] Add runtime normalization for file timestamps
  build.gradle
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, java, model

#13452 [BEAM-11373] Add write to Bigtable Table for BeamSQL
  CHANGES.md
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTable.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableFlatTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableWithRowsTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BeamRowToBigtableMutation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableRowToBeamRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableRowToBeamRowFlat.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableRowToBeamRowFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/CellValueParser.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigtableTestUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BeamRowToBigtableMutationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/CellValueParserTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/TestUtils.java
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
Labels: extensions, gcp, io, java, sql, website

#13438 [BEAM-11075] CoGBK tests for Go SDK
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Go.groovy
  sdks/go/test/load/build.gradle
  sdks/go/test/load/cogbk/cogbk.go
Labels: build, go, infra

#13199 [BEAM-11132] Remove Experimental annotation from SDF related APIs.
  sdks/java/core/src/main/java/org/apache/beam/sdk/annotations/Experimental.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Deduplicate.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PeriodicSequence.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Watch.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/ByteKeyRangeTracker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/GrowableOffsetRangeTracker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/HasDefaultTracker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/HasDefaultWatermarkEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/ManualWatermarkEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/OffsetRangeTracker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/RestrictionTracker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/SplitResult.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/TimestampObservingWatermarkEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/WatermarkEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/WatermarkEstimators.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/package-info.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseIO.java
  sdks/python/apache_beam/io/iobase.py
Labels: hbase, io, java, python

#13490 Avoiding queries that check whether a BQ table is empty for streaming inserts
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: gcp, io, python

#13487 [BEAM-11394] Make job server Java launcher configurable via pipeline …
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/portability/job_server.py
Labels: python

#13499 [BEAM-11412] Skip SparkRunnerTest::test_sdf_with_dofn_as_watermark_es…
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
Labels: python

#13500 [BEAM-7372] Remove some py 2 and 3.5 references from the website
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/content/en/documentation/sdks/python-dependencies.md
Labels: website

#13501 [BEAM-11312] Minor improvement in retrieving build log
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
Labels: python

#13484 [BEAM-11207] Return valid error on job failures
  sdks/go/pkg/beam/runners/universal/runnerlib/execute.go
Labels: go, runners

#13498 [BEAM-11413] Fix default job server for Spark tests.
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
Labels: python

#13507 [BEAM-11417] Use Cache with time eviction policy for commitCallbacks
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
Labels: dataflow, runners

#13395 [BEAM-11426] Add FHIR Search to io/gcp/healthcare/FhirIO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/GcpApiSurfaceTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOSearchIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOTest.java
Labels: gcp, io, java

#13405 [BEAM-10703, BEAM-10475] Add GroupIntoBatches to runner API; add Dataflow override in Python SDK
  model/pipeline/src/main/proto/beam_runner_api.proto
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/runners/dataflow/internal/names.py
  sdks/python/apache_beam/runners/dataflow/ptransform_overrides.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: model, python

#13494 [BEAM-11075] Fix go sdk gbk load test
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Go.groovy
Labels: go, infra

#13486 [BEAM-11400] Change StreamingDataflowWorker to ignore commits that do…
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
Labels: dataflow, runners

#13459 [BEAM-11384] Change StreamingDataflowWorker from encoding key
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
Labels: dataflow, runners

#13508 Better logging for Python Docker environment
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/transforms/environments.py
Labels: python

#13502 [BEAM-11415] Setup and bugfixes for Go ValidatesRunner framework.
  sdks/go/pkg/beam/core/runtime/graphx/xlang.go
  sdks/go/pkg/beam/runners/universal/runnerlib/compile.go
  sdks/go/pkg/beam/testing/ptest/ptest.go
Labels: go, runners

#13509 [BEAM-10114] Bump Pub/Sub lite version and clean up settings classes.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/CloudPubsubChecks.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/OffsetCheckpointMark.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/OffsetFinalizer.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PublisherCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PublisherOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PublisherOrError.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/Publishers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteSink.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedReader.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/SerializableStatusFunction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/SerializableSupplier.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/SubscriberOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/TopicBacklogReader.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/TopicBacklogReaderSettings.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/TranslatingPullSubscriber.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/UuidDeduplicationOptions.java
  sdks/java/io/google-cloud-platform/src/test/java/com/google/cloud/spanner/FakeBatchTransactionId.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteSinkTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteUnboundedReaderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/TopicBacklogReaderImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/UuidDeduplicationTransformTest.java
Labels: build, gcp, io, java

#13503 [BEAM-11415] In-progress Go ValidatesRunner framework.
  sdks/go/pkg/beam/runners/universal/universal.go
  sdks/go/test/build.gradle
  sdks/go/test/run_validatesrunner_tests.sh
  sdks/go/test/validatesrunner/reshuffle_test.go
  sdks/go/test/validatesrunner/validatesrunner.go
  sdks/go/test/validatesrunner/validatesrunner_test.go
  sdks/go/test/validatesrunner/xlang_test.go
Labels: build, go, runners

#13522 [BEAM-11435] Reuse already set timers.
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
Labels: flink, runners

#13520 Log exception caught during UnboundedSource#split
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: java

#13521 [BEAM-10556][BEAM-10402] Cleanup DoFnOperatorTest warnings.
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
Labels: flink, runners

#13505 [BEAM-11425] Metrics extraction via Monitoring API
  sdks/go/pkg/beam/core/metrics/metrics.go
  sdks/go/pkg/beam/core/runtime/metricsx/metricsx.go
  sdks/go/pkg/beam/pipeline.go
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/execute.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/metrics.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/metrics_test.go
  sdks/go/pkg/beam/runners/universal/runnerlib/execute.go
Labels: dataflow, go, runners

#13495 [BEAM-11374] Add key regex filter to Bigtable for BeamSQL
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableFilter.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTable.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableFilterTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableFlatTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/RowUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigtableTestUtils.java
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
Labels: extensions, gcp, io, java, sql, website

#13368 [BEAM-10480] Add SDF capability_matrix.
  website/www/site/data/capability_matrix.yaml
  website/www/site/data/capability_matrix_snapshot.yaml
Labels: website

#13456 [BEAM-10480] Add a small announcement for Splittable DoFn.
  website/www/site/content/en/blog/splittable-do-fn-is-available.md
Labels: website

#13525 [BEAM-10402] Supress nullness and keyfor DoFnOperatorTest warnings.
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
Labels: flink, runners

#13415 [BEAM-11337] Make the ThriftCoder class visible from outside its package
  sdks/java/io/thrift/src/main/java/org/apache/beam/sdk/io/thrift/ThriftCoder.java
Labels: io, java, thrift

#13233 [BEAM-11016] Serialize AwsCredentialsProvider for AWS SDK v2 IO connectors
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/dynamodb/BasicDynamoDbClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsSerializableUtils.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/BasicSnsAsyncClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/BasicSnsClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/BasicSqsClientProvider.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/dynamodb/BasicDynamoDbClientProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/AwsSerializableUtilsTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/BasicSnsAsyncClientProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/BasicSnsClientProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/BasicSqsClientProviderTest.java
Labels: aws, io, java

#13528 [BEAM-11439] Fix Snowflake streaming docs
  website/www/site/content/en/documentation/io/built-in/snowflake.md
Labels: website

#13421 [BEAM-9602] Add timer family support for python SDK
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/direct/direct_userstate.py
  sdks/python/apache_beam/runners/direct/transform_evaluator.py
  sdks/python/apache_beam/runners/direct/util.py
  sdks/python/apache_beam/runners/direct/watermark_manager.py
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/trigger.py
  sdks/python/apache_beam/transforms/trigger_test.py
  sdks/python/apache_beam/transforms/userstate.py
  sdks/python/apache_beam/transforms/userstate_test.py
Labels: python

#13531 Add myself (lostluck) to the authors.yml list
  website/www/site/data/authors.yml
Labels: website

#13519 [BEAM-11434]Expose batch/admin clients in Spanner Accessor
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
Labels: gcp, io, java

#13481 Update Beam website to release 2.26.0.
  website/www/site/config.toml
  website/www/site/content/en/get-started/downloads.md
  website/www/site/static/.htaccess
Labels: website

#13482 Add a blogpost for ApacheBeam 2.26.0.
  CHANGES.md
  website/www/site/content/en/blog/beam-2.26.0.md
Labels: website

#13532 Fix typo in publish_docker_images.sh
  release/src/main/scripts/publish_docker_images.sh
Labels: build

#13428 [BEAM-11338] Beam schema for thrift data
  CHANGES.md
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/io/thrift/build.gradle
  sdks/java/io/thrift/src/main/java/org/apache/beam/sdk/io/thrift/ThriftSchema.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/TestThriftEnum.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/TestThriftInnerStruct.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/TestThriftStruct.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/TestThriftUnion.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/ThriftSchemaTest.java
  sdks/java/io/thrift/src/test/resources/thrift/thrift_test.thrift
Labels: build, core, io, java, runners, thrift

#13534 Fix missing bracket in the 2.25 signature.
  website/www/site/content/en/get-started/downloads.md
Labels: website

#13489 Workaround for incremental in read_json.
  sdks/python/apache_beam/dataframe/io.py
Labels: python

#13530 [BEAM-9196] Update testcontainers to 1.15.1
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#13537 [BEAM-10124] Add missing announcement from CHANGES.md
  website/www/site/content/en/blog/beam-2.26.0.md
Labels: website

#13539 [BEAM-11338] Addendum: handle private fields in generated thrift code
  sdks/java/io/thrift/src/main/java/org/apache/beam/sdk/io/thrift/ThriftSchema.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/TestThriftEnum.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/TestThriftInnerStruct.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/TestThriftStruct.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/TestThriftUnion.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/ThriftIOTest.java
  sdks/java/io/thrift/src/test/resources/thrift/thrift_test.thrift
Labels: io, java, thrift

#13493 [BEAM-10475] Add output type hints for GroupIntoBatches.
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/apache_beam/typehints/sharded_key_type.py
  sdks/python/apache_beam/typehints/sharded_key_type_test.py
Labels: python

#13541 [BEAM-11444] Python IO MongoDB: mask password in display_data uri and spec.
  CHANGES.md
  sdks/python/apache_beam/io/mongodbio.py
  sdks/python/apache_beam/io/mongodbio_test.py
Labels: io, python

#13516 Change the output type of FHIR Search from String to JsonArray
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/JsonArrayCoder.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOSearchIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOTest.java
Labels: gcp, io, java

#13535 [BEAM-11429] User-friendly names for packed combiners
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations_test.py
Labels: python

#13112 [BEAM-11065] Apache Beam pipeline example to ingest from Apache Kafka to Google Pub/Sub
  examples/java/build.gradle
  examples/java/src/main/java/org/apache/beam/examples/complete/README.md
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/KafkaPubsubConstants.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/KafkaToPubsub.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/README.md
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/avro/AvroDataClass.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/avro/AvroDataClassKafkaAvroDeserializer.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/avro/package-info.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/kafka/consumer/SslConsumerFactoryFn.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/kafka/consumer/Utils.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/kafka/consumer/package-info.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/options/KafkaToPubsubOptions.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/options/package-info.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/package-info.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/transforms/FormatTransform.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/transforms/package-info.java
  examples/java/src/test/java/org/apache/beam/examples/complete/kafkatopubsub/KafkaToPubsubTest.java
Labels: build, examples, java

#13549 [BEAM-11196] Fix `None` parent when fusing >2 stages
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations_test.py
Labels: python

#13455 [BEAM-10641] Add Combiner Packing to Dataflow
  CHANGES.md
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python

#13544 [BEAM-11230] Fix a bug with decoding repeated fields
  sdks/python/apache_beam/io/gcp/bigquery_read_internal.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: gcp, io, python

#13547 [BEAM-10450][BEAM-10449][BEAM-10453][BEAM-10995] Enable more Java tests on Python FnRunner
  runners/portability/java/build.gradle
Labels: build, portability, runners

#13475 Do not add unnecessary experiment use_multiple_sdk_containers.
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python

#13553 Skip dynamic timer test in portable spark test
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
Labels: python

#13552 Bump up python container versions
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#13536 [BEAM-11360] Updates Dataflow Python multi-language pipelines to use portable job submission by default
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/coders/typecoders.py
  sdks/python/apache_beam/io/flink/flink_streaming_impulse_source_test.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/environments.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/typehints/native_type_compatibility.py
Labels: examples, io, python

#13485 [BEAM-11401][BEAM-11366] Change ReaderCache invalidations to be async…
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/ReaderCache.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/ReaderCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
Labels: dataflow, runners

#13555 Revert "Do not add unnecessary experiment use_multiple_sdk_containers."
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python

#13551 Adding limitations of SchemaUpdateOptions to BQIO javadoc.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
Labels: gcp, io, java

#13556 [BEAM-11472] Support SDF on non-splitting runners such as legacy Dataflow.
  sdks/python/apache_beam/io/restriction_trackers.py
  sdks/python/apache_beam/runners/common.py
Labels: io, python

#13538 [BEAM-11443] Implement byte-based GBK for Flink Streaming Runner.
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingPortablePipelineTranslator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTranslationContext.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/SingletonKeyedWorkItemCoder.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/WorkItemKeySelector.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/WindowDoFnOperatorTest.java
Labels: flink, runners

#13436 [BEAM-11075] Go SDK SideInput load tests
  .test-infra/jenkins/job_LoadTests_SideInput_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Go.groovy
  .test-infra/metrics/grafana/dashboards/perftests_metrics/SideInput_Load_Tests.json
  sdks/go/test/load/build.gradle
  sdks/go/test/load/sideinput/sideinput.go
Labels: build, go, infra

#13353 [BEAM-11267] Remove unnecessary reshuffle for stateful ParDo after key…
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingPortablePipelineTranslator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTranslationContext.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/WorkItemKeySelector.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkStreamingPipelineTranslatorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/WindowDoFnOperatorTest.java
Labels: flink, runners

#13559 Update DoFn docstring
  sdks/python/apache_beam/transforms/core.py
Labels: python

#13563 Fix concat source fraction_consumed() in degenerate case.
  sdks/python/apache_beam/io/concat_source.py
  sdks/python/apache_beam/io/concat_source_test.py
Labels: io, python

#13566 fix PerPartitionSubscriptionSdf methods with incorrect visibility
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PerSubscriptionPartitionSdf.java
Labels: gcp, io, java

#13517 [BEAM-11432] put latest tag when publishing SDK head containers to gcr
  .test-infra/jenkins/job_Publish_SDK_Image_Snapshots.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/container/build.gradle
  sdks/java/container/common.gradle
  sdks/python/container/common.gradle
Labels: build, docker, go, infra, java, python

#13305 [BEAM-10925] Add interfaces for SQL Java scalar UDF.
  sdks/java/extensions/sql/udf/build.gradle
  sdks/java/extensions/sql/udf/src/main/java/org/apache/beam/sdk/extensions/sql/udf/ScalarFn.java
  sdks/java/extensions/sql/udf/src/main/java/org/apache/beam/sdk/extensions/sql/udf/package-info.java
  settings.gradle
Labels: build, extensions, java, sql

#13533 [BEAM-11474] Track transform processing thread in Java SDK harness and set log entry field
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/TransformProcessingThreadTracker.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
Labels: java

#13306 [BEAM-10925] Create interface for SQL Java aggregate function.
  sdks/java/extensions/sql/udf/src/main/java/org/apache/beam/sdk/extensions/sql/udf/AggregateFn.java
Labels: build, extensions, java, sql

#13512 [BEAM-11407] Add IT tests to Bigtable for BeamSQL
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableClientWrapper.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableCreationFailuresTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableFlatTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableTestUtils.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableWithRowsTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigtableEmulatorWrapper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigtableTestUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigtableUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BeamRowToBigtableMutationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableRowToBeamRowFlatTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableRowToBeamRowTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableTestUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/CellValueParserTest.java
Labels: extensions, gcp, io, java, sql, website

#13526 [BEAM-11459] Thread safe addition of new metrics
  sdks/python/apache_beam/metrics/execution.pxd
  sdks/python/apache_beam/metrics/execution.py
Labels: python

#13513 [Beam-11002] Fixes BufferOverflowException in XMLReader
  sdks/java/io/xml/src/main/java/org/apache/beam/sdk/io/xml/XmlSource.java
  sdks/java/io/xml/src/test/java/org/apache/beam/sdk/io/xml/XmlSourceTest.java
Labels: io, java, xml

#13573 Adding combiner packing optimization for Portable Runner
  sdks/python/apache_beam/runners/portability/portable_runner.py
Labels: python

#13576 [BEAM-10658] Update website to recommend the right version
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: website

#13420 Rewrite container docs for custom containers
  website/www/site/content/en/contribute/_index.md
  website/www/site/content/en/documentation/runtime/environments.md
Labels: website

#13580 Cleanup directory with SVN repo for PMC members
  release/src/main/scripts/preparation_before_release.sh
Labels: build

#13561 Add DataFrame Preview announcment blog post
  website/www/site/content/en/blog/dataframe-api-preview-available.md
  website/www/site/data/authors.yml
Labels: website

#13560 Dataframe docs
  website/www/site/content/en/documentation/dsls/dataframes/overview.md
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: website

#13318 [BEAM-11300] Improve Nexmark performance:
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/queries/Query10.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/queries/Query3.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/queries/Query5.java
Labels: java

#13571 [BEAM-11481] emit output watermark on watermark hold change
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/KeyedPushedBackElementsHandler.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/state/FlinkStateInternals.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
Labels: flink, runners

#13514 [BEAM-11329] HDFS not deduplicating identical configuration paths
  sdks/java/io/hadoop-file-system/src/main/java/org/apache/beam/sdk/io/hdfs/HadoopFileSystemOptions.java
  sdks/java/io/hadoop-file-system/src/test/java/org/apache/beam/sdk/io/hdfs/HadoopFileSystemOptionsTest.java
Labels: hadoop, io, java

#13579 [BEAM-10925] SQL AggregateFn: Separate mutable accumulator from immut…
  sdks/java/extensions/sql/udf/src/main/java/org/apache/beam/sdk/extensions/sql/udf/AggregateFn.java
Labels: extensions, java, sql

#13309 [BEAM-10925] Create ZetaSQL-specific subclass of ScalarFunctionImpl t…
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/ScalarFunctionImpl.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlOperators.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ZetaSqlScalarFunctionImpl.java
Labels: extensions, java, sql

#13472 [BEAM-11391] Improve Nexmark Kafka support to track
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkLauncher.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkOptions.java
Labels: java

#13581 [BEAM-9426] Add JVM properties to JavaJarJobServer.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/portability/job_server.py
  sdks/python/apache_beam/runners/portability/job_server_test.py
Labels: python

#13568 [BEAM-3245] Release bundle processor when any exceptions during processing.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
Labels: java

#13587 [BEAM-10925] Add UdfProvider interface.
  sdks/java/extensions/sql/udf/src/main/java/org/apache/beam/sdk/extensions/sql/udf/UdfProvider.java
Labels: extensions, java, sql

#13584 [BEAM-9637] Add all runners to Python --runner help text.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/runner.py
Labels: python

#13590 [BEAM-10925] [cherry-pick] Add UdfProvider interface.
  sdks/java/extensions/sql/udf/src/main/java/org/apache/beam/sdk/extensions/sql/udf/UdfProvider.java
Labels: extensions, java, sql

#13583 [BEAM-10925] [cherry-pick] SQL AggregateFn: Separate mutable accumulator from immut…
  sdks/java/extensions/sql/udf/src/main/java/org/apache/beam/sdk/extensions/sql/udf/AggregateFn.java
Labels: extensions, java, sql

#13577 Fix typo in join explanation
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#13570 Fix regex in Kotlin MinimalWordCount example.
  examples/kotlin/src/main/java/org/apache/beam/examples/kotlin/MinimalWordCount.kt
Labels: examples, kotlin

#13542 [BEAM-11456] Fix flaky table provider IT tests (Kafka and Pubsub)
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderAvroIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderCSVIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderJsonIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderProtoIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubAvroIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubJsonIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubTableProviderIT.java
Labels: build, extensions, java, sql

#13578 [release-2.27.0][cherry-pick] Adding combiner packing optimization for Portable Runner
  sdks/python/apache_beam/runners/portability/portable_runner.py
Labels: python

#13593 [BEAM-10925] Convert ScalarFn to Method.
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/ScalarFnReflector.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/ScalarFnReflectorTest.java
Labels: build, extensions, java, sql

#13518 [BEAM-11415][BEAM-11416] Move Go ValidatesRunner tests and add filtering
  sdks/go/build.gradle
  sdks/go/pkg/beam/testing/ptest/ptest.go
  sdks/go/test/build.gradle
  sdks/go/test/integration/driver/driver.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/cogbk_test.go
  sdks/go/test/integration/primitives/flatten_test.go
  sdks/go/test/integration/primitives/pardo_test.go
  sdks/go/test/integration/synthetic/synthetic_test.go
  sdks/go/test/integration/wordcount/wordcount_test.go
  sdks/go/test/integration/xlang/xlang_test.go
  sdks/go/test/run_integration_tests.sh
  sdks/go/test/run_validatesrunner_tests.sh
  sdks/go/test/validatesrunner/reshuffle_test.go
  sdks/go/test/validatesrunner/validatesrunner.go
  sdks/go/test/validatesrunner/validatesrunner_test.go
Labels: build, go

#13599 [BEAM-11515] Add check for missing authors, add missing authors
  website/www/site/content/en/blog/beam-2.13.0.md
  website/www/site/content/en/blog/beam-2.21.0.md
  website/www/site/content/en/blog/beam-2.22.0.md
  website/www/site/content/en/blog/beam-2.23.0.md
  website/www/site/content/en/blog/beam-2.24.0.md
  website/www/site/content/en/blog/beam-2.25.0.md
  website/www/site/content/en/blog/beam-2.26.0.md
  website/www/site/content/en/blog/pattern-match-beam-sql.md
  website/www/site/content/en/contribute/release-guide.md
  website/www/site/data/authors.yml
  website/www/site/layouts/blog/single.html
Labels: gcp, io, java, website

#13598 [BEAM-11159] Use official GCP client in TestPubSubSignal
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/TestPubsub.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/TestPubsubSignal.java
Labels: gcp, io, java

#13609 [BEAM-11515] Minor release guide updates
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#13612 [BEAM-11522] Revert "Optimizes extract_output for 1 element accumulator case."
  CHANGES.md
  sdks/python/apache_beam/transforms/core.py
Labels: python

#13414 [BEAM-11523] Bump Gradle to 6.7.1
  gradle/wrapper/gradle-wrapper.properties
Labels: build

#13615 [BEAM-11524] Remove usages of WriteStringsToPubSub in examples
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  sdks/python/apache_beam/examples/sql_taxi.py
Labels: examples, python

#13616 [BEAM-11460] Support reading Parquet files with unknown schema
  CHANGES.md
  sdks/java/io/parquet/src/main/java/org/apache/beam/sdk/io/parquet/ParquetIO.java
  sdks/java/io/parquet/src/test/java/org/apache/beam/sdk/io/parquet/ParquetIOTest.java
Labels: io, java, parquet

#13592 [BEAM-11403] Cache UnboundedReader per UnboundedSourceRestriction in SDF Wrapper DoFn.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/TestPipeline.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/ReadTest.java
Labels: build, java

#13608 Fix for Kafka To PubSub Example
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/kafka/consumer/SslConsumerFactoryFn.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/transforms/FormatTransform.java
Labels: examples, java

#13613 [BEAM-11522] Revert "Optimizes extract_output for 1 element accumulator case. (#13220)"
  sdks/python/apache_beam/transforms/core.py
Labels: python

#13618 [BEAM-11403] Cherry-pick: Cache UnboundedReader per CheckpointMark in SDF Wrapper DoFn.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/TestPipeline.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/ReadTest.java
Labels: java

#13601 [BEAM-11517] Fix test_file_loads on Dataflow
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: gcp, io, python

#13582 [BEAM-11481] emit output watermark on watermark hold change
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/KeyedPushedBackElementsHandler.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/state/FlinkStateInternals.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
Labels: flink, runners

#13621 Fix for Kafka To PubSub Example
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/kafka/consumer/SslConsumerFactoryFn.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/transforms/FormatTransform.java
Labels: examples, java

#13623 [BEAM-11531] Restrict pandas version to <1.2.0
  sdks/python/setup.py
Labels: python

#13625 [BEAM-10925] Change UserFunctionDefinitions into an AutoValue and Bui…
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLPlannerImpl.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ConversionContext.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/UserFunctionDefinitions.java
Labels: extensions, java, sql

#13460 [BEAM-9980] use constant for job_Inventory.groovy and do not use hardcoded python versions
  .test-infra/jenkins/job_Inventory.groovy
Labels: infra

#13614 [BEAM-11524] Change WriteStringsToPubsub to use WriteToPubsub.
  sdks/python/apache_beam/io/gcp/pubsub.py
  sdks/python/apache_beam/io/gcp/pubsub_test.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
Labels: gcp, io, python

#13611 [BEAM-9615] Custom Schema Coder Support
  sdks/go/pkg/beam/core/graph/coder/map_test.go
  sdks/go/pkg/beam/core/graph/coder/row.go
  sdks/go/pkg/beam/core/graph/coder/row_decoder.go
  sdks/go/pkg/beam/core/graph/coder/row_encoder.go
  sdks/go/pkg/beam/core/graph/coder/row_test.go
  sdks/go/pkg/beam/core/graph/coder/testutil/testutil.go
  sdks/go/pkg/beam/core/graph/coder/testutil/testutil_test.go
Labels: go

#13628 [BEAM-10925] Default to empty maps in UserFunctionDefinitions.Builder.
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/UserFunctionDefinitions.java
Labels: extensions, java, sql

#13631 Oxford comma
  website/www/site/content/en/get-started/beam-overview.md
Labels: website

#13632 [BEAM-11537] Fix TestPubSubSignal.waitForStart
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/TestPubsubSignal.java
Labels: gcp, io, java

#13572 [BEAM-11482] Thrift support for KafkaTableProvider
  CHANGES.md
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/RowMessages.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoMessageSchema.java
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaThriftTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProvider.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaTableThriftTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/thrift/ItThriftMessage.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/thrift/SimpleThriftMessage.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/thrift/TestThriftMessage.java
  sdks/java/extensions/sql/src/test/thrift/kafka/messages.thrift
  sdks/java/io/thrift/src/main/java/org/apache/beam/sdk/io/thrift/ThriftCoder.java
  sdks/java/io/thrift/src/main/java/org/apache/beam/sdk/io/thrift/ThriftSchema.java
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
Labels: build, extensions, io, java, protobuf, sql, thrift, website
