Repository apache/beam, pull requests merged in 2020-03, with the labels that each got.

#10974 [BEAM-9384] Add SchemaRegistry.getSchemaCoder to get SchemaCoders for registered types
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaRegistry.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaRegistryTest.java
Labels: java

#11010 Fix non correctly formatted class in sdks/java/core
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java

#10940 [BEAM-9288] Not bundle conscrypt in gRPC vendor
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_26_0.groovy
Labels: build, vendor

#11009 [BEAM-9342[ Update bytebuddy to version 1.10.8
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AutoValueUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ConvertHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyOnTimerInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/StableInvokerNamingStrategy.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
Labels: build, extensions, java, protobuf

#11012 [BEAM-8327] Override Gradle build cache for community metrics prober
  .test-infra/jenkins/job_PostCommit_CommunityMetrics.groovy
Labels: infra

#11014 [BEAM-8925] Tika version update to 1.23
  sdks/java/io/tika/build.gradle
  sdks/java/io/tika/src/test/java/org/apache/beam/sdk/io/tika/TikaIOTest.java
Labels: build, io, java, tika

#10968 [BEAM-9381] Adding display data to BoundedSource SDF
  sdks/python/apache_beam/io/iobase.py
Labels: io, python

#10989 [BEAM-9397] Pass all supported StartBundleContext/FinishBundleContext except output receiver parameters to start bundle/finish bundle methods.
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDoNaiveBounded.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SplittableParDoViaKeyedWorkItems.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFnTester.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnSignaturesTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: core, java, runners

#10915 [BEAM-8335] Add PCollection to DataFrame logic for InteractiveRunner.
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
Labels: python

#10897 [BEAM-2939] Java UnboundedSource SDF wrapper
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
Labels: java

#11027 Revert "[BEAM-8335] Add PCollection to DataFrame logic for InteractiveRunner."
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
Labels: python

#11000 Add integration test for AnnotateImage transform
  sdks/python/apache_beam/ml/gcp/visionml_test_it.py
Labels: python

#11015 [BEAM-9424] Allow grouping by LogicalType
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaCoder.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamComplexTypeTest.java
Labels: extensions, java, sql

#11013 Add metrics export to documentation on the website.
  website/src/_includes/section-menu/documentation.html
  website/src/documentation/programming-guide.md
Labels: website

#9765 [BEAM-8382] Add rate limit policy to KinesisIO.Read
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/KinesisClientThrottledException.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/KinesisIO.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/KinesisReader.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/KinesisSource.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/RateLimitPolicy.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/RateLimitPolicyFactory.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/ShardReadersPool.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/SimplifiedKinesisClient.java
  sdks/java/io/kinesis/src/test/java/org/apache/beam/sdk/io/kinesis/KinesisReaderTest.java
  sdks/java/io/kinesis/src/test/java/org/apache/beam/sdk/io/kinesis/RateLimitPolicyFactoryTest.java
  sdks/java/io/kinesis/src/test/java/org/apache/beam/sdk/io/kinesis/ShardReadersPoolTest.java
  sdks/java/io/kinesis/src/test/java/org/apache/beam/sdk/io/kinesis/SimplifiedKinesisClientTest.java
Labels: io, java, kinesis

#11029 [BEAM-9288] Bump version number vendored gRPC build.
  vendor/grpc-1_26_0/build.gradle
Labels: build, vendor

#11007 [BEAM-7746] Support Timestamp/Duration equality testing with arbitrary objects
  sdks/python/apache_beam/utils/timestamp.py
Labels: python

#11011 [website] Update link to environment_type (SDK harness configuration)
  sdks/python/apache_beam/io/mongodbio.py
  sdks/python/apache_beam/transforms/stats.py
  website/src/documentation/runners/flink.md
  website/src/documentation/runners/spark.md
Labels: io, python, website

#11030 [BEAM-8335] Add PCollection to Dataframe logic for InteractiveRunner.
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
Labels: python

#10951 [BEAM-8575] Modified the test to work for different runners.
  sdks/python/apache_beam/transforms/combiners_test.py
Labels: python

#11023 [BEAM-9413]Fix a py post commit failure caused by docker migration
  sdks/python/container/run_validatescontainer.sh
Labels: docker, python

#11018 [BEAM-9415] fix postcommit xvr tests
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/External.java
  sdks/java/testing/expansion-service/build.gradle
  sdks/python/apache_beam/runners/portability/expansion_service_test.py
Labels: build, core, java, python, runners

#10497 [BEAM-8335] Add the ReverseTestStream
  sdks/python/apache_beam/runners/direct/clock.py
  sdks/python/apache_beam/runners/direct/test_stream_impl.py
  sdks/python/apache_beam/runners/direct/transform_evaluator.py
  sdks/python/apache_beam/testing/test_stream.py
  sdks/python/apache_beam/testing/test_stream_test.py
Labels: io, python

#11025 [BEAM-6428] Improve select performance with codegen
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/CoGroup.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Filter.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Group.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/SchemaAggregateFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Select.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyLocalVariableManager.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/RowSelector.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SelectByteBuddyHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SelectHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFnSchemaInformation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/SelectHelpersTest.java
Labels: java

#11043 [BEAM-3713] Remove nosetests from tox.ini
  sdks/python/test-suites/tox/py2/build.gradle
  sdks/python/test-suites/tox/py35/build.gradle
  sdks/python/test-suites/tox/py36/build.gradle
  sdks/python/test-suites/tox/py37/build.gradle
  sdks/python/tox.ini
Labels: build, python

#10942 [BEAM-6374] Emit PCollection metrics from GoSDK
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/pcollection.go
  sdks/go/pkg/beam/core/runtime/exec/pcollection_test.go
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/monitoring.go
  sdks/go/pkg/beam/runners/direct/direct.go
Labels: direct, go, runners

#10943 [BEAM-9360] Fix equivalence check for FieldType
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTest.java
Labels: java

#11031 Update container image tags used by Dataflow runner for Beam master
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#10869 [BEAM-9321] Add BigQuery Avro logical type support on write
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteTables.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: gcp, io, java

#11024 [BEAM-8328] Disable community metrics integration test in 'test' task
  .test-infra/metrics/build.gradle
Labels: build, infra

#11036 Update lostluck's info on the Go SDK roadmap
  website/src/roadmap/go-sdk.md
Labels: website

#10986 Add integration test for AnnotateVideoWithContext transform
  sdks/python/apache_beam/ml/gcp/videointelligenceml_test_it.py
  sdks/python/apache_beam/ml/gcp/visionml_test_it.py
Labels: build, python

#11017 [BEAM-9453] Fix potential UnsupportedEncodingException
  sdks/java/io/rabbitmq/src/main/java/org/apache/beam/sdk/io/rabbitmq/RabbitMqMessage.java
Labels: io, java, rabbitmq

#11056 [BEAM-9452] Update classgraph to latest version to resolve windows classpath scanning issue
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11057 Cherry pick https://github.com/apache/beam/pull/11056
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11049 [BEAM-9288] Not bundle conscrypt in gRPC vendor in META-INF
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_26_0.groovy
Labels: build

#11059 [Hotfix] fix rabbitmp spotless check
  sdks/java/io/rabbitmq/src/main/java/org/apache/beam/sdk/io/rabbitmq/RabbitMqMessage.java
Labels: io, java, rabbitmq

#11054 [BEAM-9450] Update www.apache.org/dist/ links to downloads.apache.org
  website/.github/PULL_REQUEST_TEMPLATE.md
  website/README.md
  website/src/_posts/2016-03-17-capability-matrix.md
  website/src/_posts/2016-06-13-flink-batch-runner-milestone.md
  website/src/_posts/2016-06-15-first-release.md
  website/src/_posts/2016-10-12-strata-hadoop-world-and-beam.md
  website/src/_posts/2017-01-09-added-apex-runner.md
  website/src/_posts/2017-02-01-graduation-media-recap.md
  website/src/_posts/2017-08-04-splittable-do-fn.md
  website/src/_posts/2018-08-20-review-input-streaming-connectors.md
  website/src/_posts/2019-05-01-adding-data-sources-to-sql.md
  website/src/_posts/2019-05-11-beam-summit-europe-2019.md
  website/src/community/contact-us.md
  website/src/contribute/committer-guide.md
  website/src/contribute/ptransform-style-guide.md
  website/src/contribute/release-guide.md
  website/src/documentation/dsls/sql/calcite/data-types.md
  website/src/documentation/dsls/sql/calcite/lexical-structure.md
  website/src/documentation/dsls/sql/calcite/overview.md
  website/src/documentation/dsls/sql/calcite/query-syntax.md
  website/src/documentation/dsls/sql/overview.md
  website/src/documentation/dsls/sql/zetasql/data-types.md
  website/src/documentation/dsls/sql/zetasql/lexical.md
  website/src/documentation/index.md
  website/src/documentation/io/built-in-google-bigquery.md
  website/src/documentation/io/testing.md
  website/src/documentation/pipelines/test-your-pipeline.md
  website/src/documentation/resources/learning-resources.md
  website/src/documentation/runners/apex.md
  website/src/documentation/runners/capability-matrix.md
  website/src/documentation/runners/gearpump.md
  website/src/documentation/runners/mapreduce.md
  website/src/documentation/runners/nemo.md
  website/src/documentation/runners/samza.md
  website/src/documentation/runners/spark.md
  website/src/documentation/sdks/euphoria.md
  website/src/documentation/transforms/java/aggregation/hllcount.md
  website/src/get-started/beam-overview.md
  website/src/get-started/downloads.md
  website/src/get-started/index.md
  website/src/get-started/quickstart-java.md
  website/src/get-started/quickstart-py.md
  website/src/index.md
  website/src/privacy_policy/index.md
Labels: website

#10979 [BEAM-8841] Support writing data to BigQuery via Avro in Python SDK
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_avro_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_avro_tools_test.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
  sdks/python/apache_beam/io/localfilesystem.py
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/scripts/run_integration_test.sh
Labels: gcp, io, python

#11061 [BEAM-9459] Revert "[BEAM-6374] Emit PCollection metrics from GoSDK"
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/pcollection.go
  sdks/go/pkg/beam/core/runtime/exec/pcollection_test.go
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/monitoring.go
  sdks/go/pkg/beam/runners/direct/direct.go
Labels: direct, go, runners

#11032 [BEAM-8335] Display rather than logging when is_in_notebook.
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/options/capture_control.py
  sdks/python/apache_beam/utils/interactive_utils.py
  sdks/python/apache_beam/utils/interactive_utils_test.py
Labels: python

#11062 Fix a bug in performance test for reading data from BigQuery
  sdks/python/apache_beam/io/gcp/bigquery_read_perf_test.py
Labels: gcp, io, python

#11042 [BEAM-5537] Upgrading google-cloud-bigquery to 1.108.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11021 Remove excessive logging.
  sdks/python/apache_beam/runners/portability/fn_api_runner.py
Labels: python

#11016 Reduce warnings in pytest runs.
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/io/filesystem_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: io, python

#11065 [BEAM-2939, BEAM-9458] Add deduplication transform
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Deduplicate.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/DeduplicateTest.java
Labels: java

#11066 [BEAM-9465] Fire repeatedly in reshuffle
  sdks/python/apache_beam/transforms/util.py
Labels: python

#10810 [BEAM-9274] Support running yapf in a git pre-commit hook
  .pre-commit-config.yaml
  sdks/python/tox.ini
Labels: python

#11064 [BEAM-9464] Fix WithKeys to respect parameterized types
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/WithKeys.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/WithKeysTest.java
Labels: java

#11026 [BEAM-9396] Fix Docker image name in CoGBK test for Python on Flink
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Python.groovy
Labels: infra

#11079 [BEAM-9288] Update to use vendored gRPC without shaded conscrypt
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11047 [BEAM-9463] Upgrade ZetaSQL to 2020.03.1
  sdks/java/extensions/sql/zetasql/build.gradle
Labels: build, extensions, java, sql

#11072 [BEAM-9319] Clean up start topic in TestPubsubSignal
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/TestPubsubSignal.java
Labels: gcp, io, java

#11051 [BEAM-9448] Fix log message for job server cache.
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python

#11080 [BEAM-2939] Mark Deduplicate as experimental
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Deduplicate.java
Labels: java

#11082 [BEAM-9473] Dont copy over META-INF index/checksum/signing files during vendoring
  buildSrc/src/main/groovy/org/apache/beam/gradle/VendorJavaPlugin.groovy
Labels: build

#11020 [BEAM-7926] Update Data Visualization
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization_test.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/options/capture_control.py
  sdks/python/apache_beam/runners/interactive/options/interactive_options.py
  sdks/python/apache_beam/testing/test_stream_service.py
Labels: python

#11085 [BEAM-9475] Fix typos and shore up expectations on type
  sdks/python/apache_beam/runners/worker/operations.py
Labels: python

#11068 [BEAM-2939, BEAM-9458] Use deduplication transform for UnboundedSources wrapped as SDFs that need dedup
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: dataflow, java, runners

#11077 Fix wrong generated code comment in spark Encoders
  runners/spark/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/EncoderHelpers.java
Labels: runners, spark

#11063 [BEAM-5898] Upgrading gRPC to 1.27
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11089 [BEAM-9478] Update samza runner page to reflect post 1.0 changes
  website/src/documentation/runners/samza.md
Labels: website

#11003 [BEAM-9411] Enable BigQuery DIRECT_READ by default in SQL
  sdks/java/extensions/sql/datacatalog/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/DataCatalogBigQueryIT.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryTable.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryReadWriteIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryTableProviderTest.java
  website/src/documentation/dsls/sql/extensions/create-external-table.md
Labels: extensions, java, sql, website

#10994 [BEAM-8335] TeststreamService integration with DirectRunner
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/runners/direct/test_stream_impl.py
  sdks/python/apache_beam/runners/direct/transform_evaluator.py
  sdks/python/apache_beam/runners/interactive/background_caching_job_test.py
  sdks/python/apache_beam/testing/test_stream.py
  sdks/python/apache_beam/testing/test_stream_service.py
  sdks/python/apache_beam/testing/test_stream_service_test.py
  sdks/python/apache_beam/testing/test_stream_test.py
Labels: model, python

#11094 Updating BigQuery client APIs
  sdks/python/apache_beam/io/gcp/internal/clients/bigquery/bigquery_v2_client.py
  sdks/python/apache_beam/io/gcp/internal/clients/bigquery/bigquery_v2_messages.py
Labels: gcp, io, python

#11093 [BEAM-9481] Exclude signature files from expansion service test dependencies
  sdks/java/testing/expansion-service/build.gradle
Labels: build, java

#10821 Install typing package only for Python < 3.5
  sdks/python/setup.py
Labels: python

#11033 [BEAM-9431] Remove ReadFromPubSub/Read-out0-ElementCount from the met…
  sdks/python/apache_beam/runners/dataflow/dataflow_exercise_streaming_metrics_pipeline_test.py
Labels: python

#11091 [BEAM-9479] Add pre-commit hook for pylint
  .pre-commit-config.yaml
  sdks/python/tox.ini
Labels: python

#10945 [BEAM-9295] Add Flink 1.10 build target and Make FlinkRunner compatible with Flink 1.10
  .test-infra/dataproc/flink_cluster.sh
  .test-infra/jenkins/CommonTestProperties.groovy
  .test-infra/jenkins/Flink.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Python.groovy
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_PortableValidatesRunner_Flink_Batch.groovy
  .test-infra/jenkins/job_PostCommit_Java_PortableValidatesRunner_Flink_Streaming.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_PortableJar_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Flink.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  examples/java/build.gradle
  examples/kotlin/build.gradle
  release/build.gradle
  release/src/main/scripts/build_release_candidate.sh
  release/src/main/scripts/run_rc_validation.sh
  runners/flink/1.10/build.gradle
  runners/flink/1.10/job-server-container/build.gradle
  runners/flink/1.10/job-server/build.gradle
  runners/flink/1.10/src/main/java/org/apache/beam/runners/flink/BeamFlinkRemoteStreamEnvironment.java
  runners/flink/1.10/src/test/java/org/apache/beam/runners/flink/FlinkRunnerTest.java
  runners/flink/1.10/src/test/java/org/apache/beam/runners/flink/streaming/StreamSources.java
  runners/flink/1.7/src/main/java/org/apache/beam/runners/flink/BeamFlinkRemoteStreamEnvironment.java
  runners/flink/1.7/src/test/java/org/apache/beam/runners/flink/FlinkRunnerTest.java
  runners/flink/flink_runner.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineRunner.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkRunner.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkExecutionEnvironmentsTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkPipelineExecutionEnvironmentTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkRequiresStableInputTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSavepointTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSubmissionTest.java
  sdks/go/test/build.gradle
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/maven-archetypes/examples/build.gradle
  sdks/java/testing/nexmark/build.gradle
  sdks/python/test-suites/portable/common.gradle
  sdks/python/test-suites/portable/py2/build.gradle
  sdks/python/test-suites/portable/py35/build.gradle
  sdks/python/test-suites/portable/py36/build.gradle
  sdks/python/test-suites/portable/py37/build.gradle
  settings.gradle
  website/src/contribute/release-guide.md
  website/src/documentation/dsls/sql/shell.md
  website/src/documentation/runners/flink.md
  website/src/documentation/sdks/nexmark.md
Labels: build, examples, flink, infra, java, kotlin, runners

#11095 [BEAM-8681] Upgrading grpc-google-cloud-pubsub-v1 to 1.85.1
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11101 [BEAM-9074] Update Python roadmap for 2.7 eol
  website/src/roadmap/python-sdk.md
Labels: website

#10997 [BEAM-9402] Remove options overwrite
  sdks/python/apache_beam/transforms/sideinputs_test.py
Labels: infra, python

#11073 [BEAM-7815] update MemoryReporter comments about using guppy3
  sdks/python/apache_beam/utils/profiler.py
  sdks/python/container/base_image_requirements.txt
Labels: docker, python

#11084 [BEAM-9474] Improve robustness of BundleFactory and ProcessEnvironment
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/DefaultJobBundleFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/ProcessEnvironment.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/ProcessManager.java
Labels: fn-execution, runners

#11005 [BEAM-8335] Modify the StreamingCache to subclass the CacheManager
  sdks/python/apache_beam/runners/interactive/cache_manager.py
  sdks/python/apache_beam/runners/interactive/cache_manager_test.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache_test.py
  sdks/python/apache_beam/runners/interactive/display/display_manager.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument_test.py
  sdks/python/apache_beam/runners/interactive/testing/test_cache_manager.py
Labels: extensions, java, python, sql, website

#10884 [BEAM-9298] Drop support for Flink 1.7
  release/src/main/scripts/build_release_candidate.sh
  runners/flink/1.10/build.gradle
  runners/flink/1.7/build.gradle
  runners/flink/1.7/job-server-container/build.gradle
  runners/flink/1.7/job-server/build.gradle
  runners/flink/1.7/src/main/java/org/apache/beam/runners/flink/translation/types/CoderTypeSerializer.java
  runners/flink/1.7/src/main/java/org/apache/beam/runners/flink/translation/types/EncodedValueSerializer.java
  runners/flink/1.7/src/test/java/org/apache/beam/runners/flink/RemoteMiniClusterImpl.java
  runners/flink/1.7/src/test/java/org/apache/beam/runners/flink/streaming/FlinkBroadcastStateInternalsTest.java
  runners/flink/1.7/src/test/java/org/apache/beam/runners/flink/streaming/FlinkStateInternalsTest.java
  runners/flink/1.7/src/test/java/org/apache/beam/runners/flink/translation/types/CoderTypeSerializerTest.java
  runners/flink/1.8/build.gradle
  runners/flink/1.8/src/main/java/org/apache/beam/runners/flink/BeamFlinkRemoteStreamEnvironment.java
  runners/flink/1.8/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/BeamStoppableFunction.java
  runners/flink/1.8/src/test/java/org/apache/beam/runners/flink/FlinkRunnerTest.java
  runners/flink/1.8/src/test/java/org/apache/beam/runners/flink/streaming/StreamSources.java
  runners/flink/1.9/build.gradle
  runners/flink/flink_runner.gradle
  settings.gradle
  website/src/contribute/release-guide.md
  website/src/documentation/runners/flink.md
  website/src/documentation/runtime/environments.md
Labels: build, flink, runners, website

#11106 Fixing apache_beam.io.gcp.bigquery_test:PubSubBigQueryIT. at head
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/options/pipeline_options.py
Labels: build, gcp, io, python

#11105 [BEAM-9297] Verify schema early in ToJson and JsonToRow
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/JsonToRow.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/ToJson.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJson.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJsonValidation.java
Labels: java

#10621 [BEAM-9056] Staging artifacts from environment
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SdkComponents.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/EnvironmentsTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/QueryablePipelineTest.java
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/PortableRunner.java
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/portability/expansion_service.py
  sdks/python/apache_beam/runners/portability/expansion_service_test.py
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server_test.py
  sdks/python/apache_beam/runners/portability/local_job_service_test.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/apache_beam/runners/portability/portable_runner_test.py
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/runners/portability/stager_test.py
  sdks/python/apache_beam/transforms/environments.py
  sdks/python/apache_beam/transforms/environments_test.py
Labels: core, model, portability, python, runners

#11103 [BEAM-9494] Reifying outputs from BQ file writing
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
Labels: gcp, io, python

#11050 [BEAM-8335] Implemented Capture Size limitation
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/cache_manager.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/options/capture_control.py
  sdks/python/apache_beam/runners/interactive/options/capture_control_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
Labels: python

#11102 [BEAM-9294] Move RowJsonException out of RowJsonSerializer
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJson.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJsonUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJsonValueExtractors.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/RowJsonTest.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubMessageToRow.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/text/TextTableProvider.java
Labels: extensions, java, sql

#11046 [BEAM-9442] Properly handle nullable fields in Select
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SelectByteBuddyHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SelectHelpers.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/SelectHelpersTest.java
Labels: java

#11118 [BEAM-9287] disable validates runner test which uses teststreams for …
  sdks/python/apache_beam/transforms/sideinputs_test.py
  sdks/python/test-suites/dataflow/py2/build.gradle
  sdks/python/test-suites/dataflow/py35/build.gradle
  sdks/python/test-suites/dataflow/py36/build.gradle
  sdks/python/test-suites/dataflow/py37/build.gradle
Labels: build, python

#10850 [BEAM-9299] Upgrade Flink Runner from 1.8.2 to 1.8.3
  runners/flink/1.10/src/main/java/org/apache/beam/runners/flink/BeamFlinkRemoteStreamEnvironment.java
  runners/flink/1.8/build.gradle
  runners/flink/1.8/src/main/java/org/apache/beam/runners/flink/BeamFlinkRemoteStreamEnvironment.java
  runners/flink/1.9/build.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkExecutionEnvironmentsTest.java
Labels: build, flink, runners

#10992 [BEAM-2939] Provide user facing API for reporting the watermark in SplittableDoFns.
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDoNaiveBounded.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/OutputAndTimeBoundedSplittableProcessElementInvoker.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFnTester.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnInvoker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignature.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/HasDefaultWatermarkEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/ManualWatermarkEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/TimestampObservingWatermarkEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/WatermarkEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/WatermarkEstimators.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnInvokersTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnSignaturesSplittableDoFnTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/splittabledofn/WatermarkEstimatorsTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: core, io, java, runners

#11097 [BEAM-9485] Raise error when transform urn is not implemented
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python

#11121 [BEAM-9499] Sickbay test_multi_triggered_gbk_side_input for streaming…
  sdks/python/apache_beam/transforms/sideinputs_test.py
Labels: python

#11114 [BEAM-9481] fix indentation
  sdks/java/testing/expansion-service/build.gradle
Labels: build, java

#11120 Update Dataflow py container version
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#11100 [BEAM-7923] Streaming support and pipeline pruning when instrumenting a pipeline with interactivity
  sdks/python/apache_beam/runners/interactive/README.md
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument_test.py
  sdks/python/apache_beam/runners/interactive/testing/pipeline_assertion.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/setup.py
Labels: python

#10757 [BEAM-9496] Starting implementation of dataframes for Beam
  sdks/python/apache_beam/dataframe/__init__.py
  sdks/python/apache_beam/dataframe/expressions.py
  sdks/python/apache_beam/dataframe/expressions_test.py
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frame_base_test.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#11127 Update default value in Java snippet
  website/src/documentation/programming-guide.md
Labels: website

#11088 [BEAM-9477] RowCoder should be hashable and picklable
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/coders/row_coder_test.py
Labels: python

#11109 [BEAM-8335] Final PR to merge the InteractiveBeam feature branch
  sdks/python/apache_beam/runners/direct/consumer_tracking_pipeline_visitor.py
  sdks/python/apache_beam/runners/direct/consumer_tracking_pipeline_visitor_test.py
  sdks/python/apache_beam/runners/direct/test_stream_impl.py
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/background_caching_job_test.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache.py
  sdks/python/apache_beam/runners/interactive/display/pipeline_graph.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/options/capture_control.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument_test.py
  sdks/python/apache_beam/runners/interactive/testing/pipeline_assertion.py
  sdks/python/apache_beam/runners/interactive/utils.py
Labels: python

#11108 [BEAM-9490] Guard referencing for environment expiration via a lock
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperatorTest.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/DefaultJobBundleFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/NoopLock.java
Labels: flink, fn-execution, java, runners

#11122 [BEAM-9346] Improve the efficiency of TFRecordIO
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
Labels: java

#11048 [BEAM-9433] Create expansion service artifact for common Java IOs.
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/io/expansion-service/build.gradle
  sdks/python/apache_beam/io/external/kafka.py
  sdks/python/apache_beam/runners/portability/job_server.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/utils/subprocess_server.py
  sdks/python/apache_beam/utils/subprocess_server_test.py
  settings.gradle
Labels: build, io, java, python

#11129 [BEAM-9504] Sickbay streaming test for batch VR
  sdks/python/apache_beam/runners/dataflow/dataflow_exercise_streaming_metrics_pipeline_test.py
Labels: python

#11117 [BEAM-9472] Remove excessive logging.
  sdks/python/apache_beam/runners/portability/fn_api_runner.py
Labels: python

#10834 Logs BQ insert failures
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: gcp, io, python

#11138 [BEAM-8335] Refactor IPythonLogHandler
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
  sdks/python/apache_beam/utils/interactive_utils.py
  sdks/python/apache_beam/utils/interactive_utils_test.py
Labels: python

#11130 [BEAM-8070] Preserve type for empty array
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11131 [BEAM-8057] Reject Infinite or NaN literals at parse time
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
Labels: extensions, java, sql

#10991 [BEAM-3301] Refactor DoFn validation & allow specifying main inputs.
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/pardo.go
Labels: go

#11145 Update dataflow py container ver
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#11134 Skip removal of manifest when no artifacts were staged.
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/artifact/BeamFileSystemArtifactStagingService.java
Labels: fn-execution, runners

#9758 [BEAM-8374] Enable returning missing PublishResult fields in SnsIO.Write
  sdks/java/io/amazon-web-services/build.gradle
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/coders/AwsCoders.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/coders/package-info.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/sns/PublishResultCoder.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/sns/PublishResultCoders.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/sns/SnsCoderProviderRegistrar.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/sns/SnsIO.java
  sdks/java/io/amazon-web-services/src/test/java/org/apache/beam/sdk/io/aws/coders/AwsCodersTest.java
  sdks/java/io/amazon-web-services/src/test/java/org/apache/beam/sdk/io/aws/sns/PublishResultCodersTest.java
  sdks/java/io/amazon-web-services/src/test/java/org/apache/beam/sdk/io/aws/sns/SnsIOTest.java
Labels: aws, build, io, java

#11142 [BEAM-9510] Fixing version incompatibilities in base_image_requirements.txt
  sdks/python/container/base_image_requirements.txt
Labels: docker, python

#11123 [BEAM-9503] Insert missing comma in process worker script.
  sdks/python/apache_beam/runners/worker/worker_pool_main.py
Labels: python

#11141 [BEAM-7923] Include side effects in p.run
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument_test.py
Labels: python

#11140 [BEAM-8866] Use unique temp dir for output of portable word count tests.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11119 [BEAM-9498] Include descriptor and type of unsupported fields in RowJson exception
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJson.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/RowJsonTest.java
Labels: java

#11149 [BEAM-9533] Adding tox cloud tests
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/apache_beam/io/aws/s3io_test.py
  sdks/python/test-suites/tox/py2/build.gradle
  sdks/python/test-suites/tox/py35/build.gradle
  sdks/python/test-suites/tox/py36/build.gradle
  sdks/python/test-suites/tox/py37/build.gradle
  sdks/python/tox.ini
Labels: aws, build, io, python

#11146 Flink 1.10 yarn deployment fix
  .test-infra/dataproc/init-actions/flink.sh
Labels: infra

#11155 [BEAM-9539] Fix copy-pasted comment in load-tests' build.gradle
  sdks/java/testing/load-tests/build.gradle
Labels: build, java

#11143 [BEAM-9526] Add missing unmarshalling in top.LargestPerKey.
  sdks/go/pkg/beam/transforms/top/top.go
  sdks/go/pkg/beam/transforms/top/top_test.go
Labels: go

#11147 [BEAM-7923] Support dict and iterable PCollections in show
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_beam_test.py
Labels: python

#11161 [BEAM-7923] Change Transform Label Prefix Syntax
  sdks/python/apache_beam/runners/interactive/display/pipeline_graph_test.py
  sdks/python/apache_beam/utils/interactive_utils.py
Labels: python

#11152 [BEAM-9536] Specify return types of window start/end functions explicitly
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
Labels: extensions, java, sql

#11132 [BEAM-9513][BEAM-9521] Translate ZetaSQL joins without condition
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/JoinScanConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/JoinScanWithRefConverter.java
Labels: extensions, java, sql

#11133 [BEAM-9511][BEAM-9515][BEAM-9516] Uncollect takes arbitrary expressions
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ArrayScanToUncollectConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11158 [BEAM-9533] Fixing tox.ini variants
  sdks/python/tox.ini
Labels: python

#11159 BEAM-8924 - Update Apache Tika to 1.24
  sdks/java/io/tika/build.gradle
Labels: build, io, java, tika

#10413 [BEAM-9035] Typed options for Row Schema and Field
  model/pipeline/src/main/proto/schema.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/CoderTranslators.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/CommonCoderTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/SchemaTranslationTest.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/SchemaCoderCloudObjectTranslator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/SchemaVerification.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaOptionsTest.java
Labels: core, dataflow, java, model, runners

#11170 [BEAM-9553] Use latest Flink job server image as default.
  sdks/python/apache_beam/runners/portability/job_server.py
Labels: python

#10815 [BEAM-9279] Make HBase.ReadAll based on Reads instead of HBaseQuery
  CHANGES.md
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseCoderProviderRegistrar.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseIO.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseQuery.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseQueryCoder.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseReadSplittableDoFn.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseUtils.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/SerializableScan.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/HBaseIOTest.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/SerializableScanTest.java
Labels: hbase, io, java

#11090 [BEAM-9470] :sdks:java:io:kinesis:test is flaky
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/RateLimitPolicyFactory.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/ShardReadersPool.java
  sdks/java/io/kinesis/src/test/java/org/apache/beam/sdk/io/kinesis/ShardReadersPoolTest.java
Labels: io, java, kinesis

#11164 [BEAM-9551] Environment PB Pointer cleanup
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
Labels: go

#11150 [BEAM-9535] Remove unused ParDoPayload.Parameters.
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/PrimitiveParDoSingleFactory.java
Labels: core, dataflow, model, runners

#11160 [BEAM-9339] Declare capabilities in the Java SDK.
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/EnvironmentsTest.java
Labels: core, runners

#11157 [BEAM-9540] Rename beam:source:runner:0.1/beam:sink:runner:0.1 to beam:runner:source:v1/beam:runner:sink:v1
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/graph/CreateExecutableStageNodeFunction.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/graph/RegisterNodeFunction.java
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/runners/session/session.go
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/RemoteGrpcPortRead.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/RemoteGrpcPortWrite.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: dataflow, go, java, python, runners

#11126 [BEAM-9430, BEAM-2939] Migrate from ProcessContext#updateWatermark to WatermarkEstimators
  runners/apex/src/main/java/org/apache/beam/runners/apex/translation/ParDoTranslator.java
  runners/apex/src/main/java/org/apache/beam/runners/apex/translation/operators/ApexParDoOperator.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDoNaiveBounded.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/DoFnRunners.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/OutputAndTimeBoundedSplittableProcessElementInvoker.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SplittableParDoViaKeyedWorkItems.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SplittableProcessElementInvoker.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/OutputAndTimeBoundedSplittableProcessElementInvokerTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/SplittableParDoProcessFnTest.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/SplittableProcessElementsEvaluatorFactory.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/TransformEvaluatorRegistry.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/PrimitiveParDoSingleFactory.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/SplittableProcessFnFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFnTester.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Watch.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnInvoker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/ManualWatermarkEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/WatermarkEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/WatermarkEstimators.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnInvokersTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/splittabledofn/WatermarkEstimatorsTest.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/splittabledofn/WatermarkEstimators.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/splittabledofn/WatermarkEstimatorsTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
Labels: apex, core, dataflow, direct, flink, java, runners

#10988 [BEAM-9382] Clean up of TestStreamTranscriptTests.
  sdks/python/apache_beam/testing/data/trigger_transcripts.yaml
  sdks/python/apache_beam/transforms/trigger.py
Labels: python

#11166 [BEAM-7923] Emit info when capture control options are configured.
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/options/capture_control.py
Labels: python

#11098 fix typo at Python Package name
  sdks/python/apache_beam/io/filesystems.py
Labels: io, python

#11169 [BEAM-9552] Bump TestPubsub subscription creation ACK deadline to 60s
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/TestPubsub.java
Labels: gcp, io, java

#11144 [BEAM-3301] Perform SDF validation (missing RestrictionTrackers).
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/pardo.go
Labels: go

#11128 [BEAM-9524] Fix for ib.show() executing indefinitely
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache_test.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument_test.py
Labels: python

#11167 [BEAM-4374] Define the protos for a "short" id mechanism for metrics
  model/fn-execution/src/main/proto/beam_fn_api.proto
Labels: model

#11176 [BEAM-7923] Remove the excessive logging from capturable sources property.
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
Labels: python

#11177 [BEAM-9562] Add Timer to Elements proto representation.
  model/fn-execution/src/main/proto/beam_fn_api.proto
Labels: model

#11162 [BEAM-9339, BEAM-2939] Drop splittable field from ParDoPayload, add splittable dofn requirement to Python SDK.
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/PrimitiveParDoSingleFactory.java
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/python/apache_beam/runners/portability/fn_api_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner_transforms.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/transforms/core.py
Labels: core, dataflow, go, model, python, runners

#11179 [BEAM-3301] Bugfix in DoFn validation.
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/pardo.go
Labels: go

#11173 [BEAM-9558] Add explicit end bit for data channel.
  model/fn-execution/src/main/proto/beam_fn_api.proto
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/fn/data/BeamFnDataGrpcServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/data/GrpcDataServiceTest.java
  sdks/go/pkg/beam/core/runtime/harness/datamgr.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataInboundObserver.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataSizeBasedBufferingOutboundObserver.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataSizeBasedBufferingOutboundObserverTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/BeamFnDataGrpcClientTest.java
  sdks/python/apache_beam/runners/worker/data_plane.py
Labels: dataflow, fn-execution, go, java, model, python, runners

#11153 [BEAM-9537] Adding a new module for FnApiRunner
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/__init__.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/apache_beam/runners/portability/portable_runner_test.py
Labels: python

#10717 [BEAM-8280] Enable type hint annotations
  CHANGES.md
  sdks/python/apache_beam/typehints/decorators.py
  sdks/python/apache_beam/typehints/decorators_test.py
  sdks/python/apache_beam/typehints/decorators_test_py3.py
  sdks/python/apache_beam/typehints/typed_pipeline_test.py
  sdks/python/apache_beam/typehints/typed_pipeline_test_py3.py
  sdks/python/apache_beam/typehints/typehints_test_py3.py
Labels: python

#11041 [BEAM-4076] Use beam join api in sql
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/FieldAccessDescriptor.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/CoGroup.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Join.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Select.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SelectHelpers.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/FieldAccessDescriptorTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/CoGroupTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/JoinTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/SelectTest.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamCoGBKJoinRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamJoinRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamSideInputJoinRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rule/BeamIOPushDownRule.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/transform/BeamJoinTransforms.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/mongodb/MongoDbTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/test/TestTableProvider.java
Labels: extensions, java, sql

#11180 [BEAM-9563] Change ToListCombineFn access level to private
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
Labels: java
