Repository apache/beam, pull requests merged in 2020-02, with the labels that each got.

#10805 Reject unsupported WindowFns and Window types.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python

#10798 [BEAM-9266] Remove unused fields from provisioning API.
  model/fn-execution/src/main/proto/beam_provision_api.proto
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/provisioning/JobInfo.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/provisioning/StaticGrpcProvisionServiceTest.java
  sdks/java/container/boot.go
  sdks/python/apache_beam/runners/portability/fn_api_runner.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
Labels: java, python

#10746 [BEAM-9241] Fix inconsistent proto nullability
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslator.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoMessageSchemaTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslatorTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/TestProtoSchemas.java
  sdks/java/extensions/protobuf/src/test/proto/proto2_schema_messages.proto
Labels: java

#10802 [BEAM-8537] Move wrappers of RestrictionTracker out of iobase
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/io/iobase_test.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/portability/fn_api_runner_test.py
  sdks/python/apache_beam/runners/sdf_utils.py
  sdks/python/apache_beam/runners/sdf_utils_test.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python

#10759 [BEAM-8095] Remove no_xdist for test
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python

#10800 Fix method name in Combine and coGBK tests
  sdks/python/apache_beam/io/gcp/bigquery_write_perf_test.py
  sdks/python/apache_beam/testing/load_tests/co_group_by_key_test.py
  sdks/python/apache_beam/testing/load_tests/combine_test.py
Labels: python

#10844 [AVRO-2737] Exclude a buggy avro version from requirements spec.
  sdks/python/setup.py
Labels: python

#10848 Update roadmap page for python 3 support
  website/src/roadmap/index.md
Labels: website

#10828 [BEAM-7198] rename ToStringCoder to ToBytesCoder for proper representation of its role
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  sdks/python/apache_beam/io/filebasedsink_test.py
  sdks/python/apache_beam/io/textio.py
Labels: python

#10845 Refine labels/categories for PR autolabeling
  .github/autolabeler.yml
Labels: build

#10832 [BEAM-9292] Provide an ability to specify additional maven repositories for published POMs
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/kafka/build.gradle
Labels: build, io, java, kafka

#10818 [BEAM-9281] Update commons-csv to version 1.8
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#10841 [BEAM-9301] Check in beam-linkage-check.sh
  sdks/java/build-tools/beam-linkage-check.sh
Labels: build, java

#10838 [BEAM-6522] [BEAM-7455] Unskip Avro IO tests that are now passing.
  sdks/python/apache_beam/examples/fastavro_it_test.py
  sdks/python/apache_beam/io/avroio_test.py
Labels: examples, io, python

#10576 [BEAM-5605] Convert all BoundedSources to SplittableDoFns when using beam_fn_api experiment.
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/JavaReadViaImpulse.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/expansion/ExpansionService.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/GreedyPipelineFuser.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/JavaReadViaImpulseTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/PortableExecutionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/PortableStateExecutionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/PortableTimersExecutionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/ReadSourcePortableTest.java
  runners/google-cloud-dataflow-java/examples/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/SingleEnvironmentInstanceJobBundleFactoryTest.java
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/PortableRunner.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/SparkPortableExecutionTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/AvroIOTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/ReadTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOReadTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/testing/PAssertTest.java
Labels: build, core, dataflow, flink, fn-execution, java, portability, runners, spark

#10765 [BEAM-8758] Google-cloud-spanner upgrade to 1.49.1
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/BatchSpannerRead.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/CreateTransactionFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/NaiveSpannerRead.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/ReadSpannerSchema.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/GcpApiSurfaceTest.java
Labels: build, gcp, io, java

#10777 [BEAM-3545] Return metrics as MonitoringInfos
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/monitoring.go
Labels: go

#10826 [BEAM-8335] Modify the TestStreamPayload to accept an argument of output_tags and…
  model/interactive/src/main/proto/beam_interactive_api.proto
  model/pipeline/src/main/proto/beam_runner_api.proto
Labels: model

#10827 [BEAM-9290] Support runner_harness_container_image in released python…
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python

#10817 [BEAM-9280] Update commons-compress to version 1.20
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/flink/flink_runner.gradle
  runners/java-fn-execution/build.gradle
  runners/samza/build.gradle
Labels: build, flink, fn-execution, runners, samza

#10861 [BEAM-9313] Bump dataflow container version
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, dataflow, runners

#10855 [BEAM-9311] ZetaSQL Named Parameters are case-insensitive
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/QueryPlanner.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#10856 [BEAM-8335] Update StreamingCache with new Protos
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache_test.py
Labels: python

#10867 [BEAM-9317] Fix portable test executions to specify the beam_fn_api argument
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, core, runners

#10783 [BEAM-7746] Add attributes defined in operations.pxd but missing in operations.py
  sdks/python/apache_beam/runners/worker/operations.py
Labels: python

#10833 [BEAM-9289] Improve performance for metrics update of samza runner
  runners/samza/src/main/java/org/apache/beam/runners/samza/adapter/BoundedSourceSystem.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/adapter/UnboundedSourceSystem.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/DoFnRunnerWithMetrics.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/FnWithMetricsWrapper.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaMetricsContainer.java
Labels: runners, samza

#10707 [BEAM-9212] fix zetasql struct exception
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
Labels: extensions, java, sql

#10795 [BEAM-9265] @RequiresTimeSortedInput respects allowedLateness
  runners/core-java/src/main/java/org/apache/beam/runners/core/StatefulDoFnRunner.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/StatefulDoFnRunnerTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesRequiresTimeSortedInput.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: core, java, runners

#10868 [BEAM-9317] Fix portable Dataflow tests to not perform SplittableDoFn expansion.
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, dataflow, runners

#10816 [BEAM-9273] Explicitly disable @RequiresTimeSortedInput on unsupported runners
  runners/apex/src/main/java/org/apache/beam/runners/apex/translation/ParDoTranslator.java
  runners/gearpump/src/main/java/org/apache/beam/runners/gearpump/translators/ParDoMultiOutputTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/BatchStatefulParDoOverrides.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/Utils.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaDoFnRunners.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ParDoBoundMultiTranslator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnSignaturesTest.java
Labels: apex, dataflow, gearpump, java, jet, runners, samza, spark

#10871 [BEAM-6857] Classify unbounded dynamic timers tests in the UsesUnboundedPCollections category
  runners/flink/flink_runner.gradle
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: flink, java, runners

#10851 Pin Avro dependency in Python SDK to be consistent with Avro versioning
  sdks/python/setup.py
Labels: python

#10858 Update container images used by Dataflow runner with unreleased SDK.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#10864 [BEAM-9314] Make dot output deterministic
  sdks/go/pkg/beam/core/util/dot/dot.go
Labels: go

#10723 [BEAM-9211] upload missing Spark portable jar test script
  runners/flink/job-server/flink_job_server.gradle
  runners/portability/test_pipeline_jar.sh
  runners/spark/job-server/build.gradle
Labels: build, flink, portability, runners, spark

#10874 Remove experimental parallelization (-j 8) flags from sphinx
  sdks/python/scripts/generate_pydoc.sh
Labels: python

#10813 [BEAM-9277] Fix exception when running in IPython notebook
  CHANGES.md
  sdks/python/apache_beam/utils/interactive_utils.py
Labels: python

#10865 [BEAM-9301] Checkout the hash of master instead of the branch in beam linkage checker script
  sdks/java/build-tools/beam-linkage-check.sh
Labels: build, java

#10872 Exclude Unbounded PCollection tests from Flink Portable runner batch tests
  runners/flink/job-server/flink_job_server.gradle
Labels: flink, runners

#10877 Fix typo on runners/extensions-java label for github PR autolabeler
  .github/autolabeler.yml
Labels: build

#10862 [BEAM-9320] Add AlwaysFetched annotation
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDoNaiveBounded.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/OutputAndTimeBoundedSplittableProcessElementInvoker.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFnTester.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnInvoker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignature.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnInvokersTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnSignaturesTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: core, java, runners

#10880 Change static Map fields in ReflectUtils to be concurrent
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ReflectUtils.java
Labels: java

#10849 [BEAM-9258] Integrate Google Cloud Data loss prevention functionality for Python SDK
  CHANGES.md
  sdks/python/apache_beam/ml/__init__.py
  sdks/python/apache_beam/ml/gcp/__init__.py
  sdks/python/apache_beam/ml/gcp/cloud_dlp.py
  sdks/python/apache_beam/ml/gcp/cloud_dlp_test.py
  sdks/python/setup.py
Labels: python

#10829 [BEAM-9291] Upload graph option in dataflow's python sdk
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: examples, python

#10891 Removed compile time generation of test Thrift class.
  sdks/java/io/thrift/build.gradle
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/TestThriftStruct.java
  sdks/java/io/thrift/src/test/java/org/apache/beam/sdk/io/thrift/ThriftIOTest.java
Labels: build, io, java, thrift

#10876 [BEAM-6522] Exclude the test that fails on earlier versions of Avro dependency that are still within allowed version range.
  sdks/python/apache_beam/io/avroio_test.py
  sdks/python/setup.py
Labels: examples, io, python

#10712 [BEAM-7246] Added Google Spanner Write Transform
  CHANGES.md
  sdks/python/apache_beam/io/gcp/experimental/spannerio.py
  sdks/python/apache_beam/io/gcp/experimental/spannerio_test.py
Labels: gcp, io, python

#10873 Add capabilities and requirements to beam protos.
  model/pipeline/src/main/proto/beam_runner_api.proto
Labels: model

#10860 [BEAM-1833] Fixes BEAM-1833
  CHANGES.md
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: io, python

#10890 [BEAM-1080] Skip tests that required GCP credentials
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python

#10764 [BEAM-9146] Integrate GCP Video Intelligence functionality for Python SDK
  CHANGES.md
  sdks/python/apache_beam/ml/__init__.py
  sdks/python/apache_beam/ml/gcp/__init__.py
  sdks/python/apache_beam/ml/gcp/videointelligenceml.py
  sdks/python/apache_beam/ml/gcp/videointelligenceml_test.py
  sdks/python/setup.py
Labels: python

#10896 [BEAM-9333] Add DataCatalogPipelineOptionsRegistrar
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/DataCatalogPipelineOptionsRegistrar.java
Labels: extensions, java, sql

#10875 Allow unknown non-merging WindowFns of know window type.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python

#10835 [BEAM-8575] Removed MAX_TIMESTAMP from testing data
  sdks/python/apache_beam/transforms/util_test.py
Labels: python

#10863 [BEAM-9287] Add Python streaming Validates runner tests for Unified Worker
  sdks/python/scripts/run_integration_test.sh
  sdks/python/test-suites/dataflow/py2/build.gradle
Labels: build, python

#10903 Update python sdk container to beam-master-20200219
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#10906 [BEAM-3545] Fix race condition w/plan metrics.
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/harness/monitoring.go
  sdks/go/pkg/beam/runners/direct/direct.go
Labels: direct, go, runners

#10907 [BEAM-9338] add postcommit XVR spark badges
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: build

#10898 Don't exclude UsesUnboundedPCollections in Dataflow VR tests
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, dataflow, runners

#10885 [BEAM-9085] Fix performance regression in SyntheticSource
  sdks/python/apache_beam/testing/synthetic_pipeline.py
Labels: python

#10913 Update google-cloud-videointelligence dependency
  sdks/python/setup.py
Labels: python

#10904 [BEAM-8280] no_annotations decorator
  sdks/python/apache_beam/typehints/decorators.py
  sdks/python/apache_beam/typehints/decorators_test_py3.py
Labels: python

#10823 [BEAM-9286] Create validation runner test for metrics (user counter).
  sdks/python/apache_beam/metrics/metric_test.py
Labels: metrics, python

#10912 [BEAM-9341] postcommit xvr flink fix
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/ValidateRunnerXlangTest.java
Labels: build, core, runners

#10894 [BEAM-8280] Enable and improve IOTypeHints debug_str traceback
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/typehints/decorators.py
  sdks/python/apache_beam/typehints/decorators_test.py
  sdks/python/apache_beam/typehints/decorators_test_py3.py
Labels: python

#10918 [BEAM-9343]Upgrade ZetaSQL to 2020.02.1
  sdks/java/extensions/sql/zetasql/build.gradle
Labels: build, extensions, java, sql

#10895 Add ThriftIO to list of supported I/O on website and change log
  CHANGES.md
  website/src/documentation/io/built-in.md
Labels: website

#10886 [BEAM-8019] Updates DataflowRunner to support multiple SDK environments.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
  sdks/python/apache_beam/transforms/external.py
Labels: python

#10893 [BEAM-5605] Honor the bounded source timestamps timestamp in the SDF wrapper.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: java

#10733 [BEAM-9229] Adding dependency information to Environment proto
  model/pipeline/src/main/proto/beam_runner_api.proto
Labels: model

#10923 [BEAM-9349] Update joda-time version to 2.10.5
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#10911 [BEAM-9339] Declare capabilities for Go SDK.
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/universal/universal.go
Labels: dataflow, go, runners

#10921 [BEAM-9022] publish Spark job server Docker image
  release/src/main/scripts/build_release_candidate.sh
  release/src/main/scripts/publish_docker_images.sh
  runners/spark/job-server/container/build.gradle
  website/src/contribute/release-guide.md
Labels: build, docker, runners, spark, website

#10916 [BEAM-9225] Fix Flink uberjar job termination bug.
  runners/flink/job-server/test_flink_uber_jar.sh
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server.py
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server_test.py
Labels: flink, python, runners

#10920 [BEAM-5605] Eagerly close the BoundedReader once we have read everything or have failed.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: java

#10924 Revert "[BEAM-9085] Fix performance regression in SyntheticSource"
  sdks/python/apache_beam/testing/synthetic_pipeline.py
Labels: python

#10375 [BEAM-8537] Provide WatermarkEstimator to track watermark
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/io/watermark_estimators.py
  sdks/python/apache_beam/io/watermark_estimators_test.py
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/direct/sdf_direct_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner_test.py
  sdks/python/apache_beam/runners/sdf_utils.py
  sdks/python/apache_beam/runners/sdf_utils_test.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/core_test.py
Labels: io, python

#10922 Make sure calling try_claim(0) more than once also trows exception.
  sdks/python/apache_beam/io/restriction_trackers.py
Labels: io, python

#10908 [BEAM-9339] Declare capabilities for Python SDK.
  model/pipeline/src/main/proto/beam_runner_api.proto
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/transforms/environments.py
  sdks/python/apache_beam/transforms/environments_test.py
Labels: model, python

#10612 [BEAM-9063] migrate docker images to apache
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  release/src/main/scripts/build_release_candidate.sh
  release/src/main/scripts/publish_docker_images.sh
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/flink/job-server-container/flink_job_server_container.gradle
  runners/flink/job-server/flink_job_server.gradle
  runners/google-cloud-dataflow-java/build.gradle
  runners/spark/job-server/build.gradle
  runners/spark/job-server/container/build.gradle
  sdks/go/container/build.gradle
  sdks/go/pkg/beam/options/jobopts/options.go
  sdks/java/container/build.gradle
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ReleaseInfo.java
  sdks/python/apache_beam/runners/portability/job_server.py
  sdks/python/apache_beam/transforms/environments.py
  sdks/python/container/py2/build.gradle
  sdks/python/container/py35/build.gradle
  sdks/python/container/py36/build.gradle
  sdks/python/container/py37/build.gradle
  website/src/contribute/release-guide.md
  website/src/documentation/runners/flink.md
  website/src/documentation/runtime/environments.md
  website/src/documentation/runtime/sdk-harness-config.md
  website/src/get-started/quickstart-go.md
  website/src/get-started/wordcount-example.md
Labels: build, core, dataflow, docker, flink, go, java, python, runners, spark, website

#10902 Mark Test categories as internal and improve categorization
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/LargeKeys.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/NeedsRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesBoundedSplittableParDo.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesCommittedMetrics.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesCounterMetrics.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesCrossLanguageTransforms.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesCustomWindowMerging.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesDistributionMetrics.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesFailureMessage.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesGaugeMetrics.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesImpulse.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesKms.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesMapState.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesMetricsPusher.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesParDoLifecycle.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesRequiresTimeSortedInput.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesSetState.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesSideInputs.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesSideInputsWithDifferentCoders.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesSplittableParDoWithWindowedSideInputs.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesStatefulParDo.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesStrictTimerOrdering.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesSystemMetrics.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesTestStream.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesTestStreamWithMultipleStages.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesTestStreamWithOutputTimestamp.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesTestStreamWithProcessingTime.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesTimerMap.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesTimersInParDo.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesUnboundedPCollections.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesUnboundedSplittableParDo.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/ValidatesRunner.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/runners/PipelineRunnerTest.java
Labels: java

#10930 [BEAM-9252] Exclude jboss's Main and module-info.java
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_26_0.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/VendorJavaPlugin.groovy
  vendor/grpc-1_26_0/build.gradle
Labels: build, vendor

#10917 [BEAM-9359] Switch to Data Catalog client
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/sql/datacatalog/build.gradle
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/BigQueryTableFactory.java
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/ChainedTableFactory.java
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/DataCatalogPipelineOptions.java
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/DataCatalogTableProvider.java
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/GcsTableFactory.java
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/PubsubTableFactory.java
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/SchemaUtils.java
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/TableFactory.java
Labels: build, extensions, java, sql

#10910 [BEAM-9344] Add support for bundle finalization execution to the Beam Java SDK.
  runners/apex/build.gradle
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDoNaiveBounded.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/ParDoTranslationTest.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/OutputAndTimeBoundedSplittableProcessElementInvoker.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SplittableParDoViaKeyedWorkItems.java
  runners/direct-java/build.gradle
  runners/flink/flink_runner.gradle
  runners/flink/job-server/flink_job_server.gradle
  runners/gearpump/build.gradle
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/PrimitiveParDoSingleFactory.java
  runners/jet/build.gradle
  runners/portability/java/build.gradle
  runners/samza/build.gradle
  runners/spark/build.gradle
  runners/spark/job-server/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesBundleFinalizer.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFnTester.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnInvoker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignature.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/SplittableDoFnTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnInvokersTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnSignaturesTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataReadRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataWriteRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BoundedSourceRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/CombineRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FlattenRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/MapFnRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PTransformRunnerFactory.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/FinalizeBundleHandler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/AssignWindowsRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataReadRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataWriteRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BoundedSourceRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/CombineRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FlattenRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/MapFnRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/FinalizeBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
Labels: apex, build, core, dataflow, direct, flink, gearpump, java, jet, portability, runners, samza, spark

#10948 Add Dataflow Java11 ValidatesRunner badge to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build

#10937 [BEAM-8019] Branch on having multiple environments.
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python

#10909 [BEAM-9340] Populate requirements for Python DoFn properties.
  model/job-management/src/main/proto/beam_expansion_api.proto
  model/pipeline/src/main/proto/beam_runner_api.proto
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/apache_beam/runners/portability/expansion_service.py
  sdks/python/apache_beam/runners/portability/fn_api_runner.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/external.py
Labels: model, python

#10944 [BEAM-7274] optimize oneOf handling
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
Labels: extensions, java, protobuf

#10939 [BEAM-9342] Upgrade vendored bytebuddy to version 1.10.8
  settings.gradle
  vendor/bytebuddy-1_10_8/build.gradle
Labels: build, vendor

#10927 [BEAM-8280] Fix IOTypeHints origin traceback on partials
  sdks/python/apache_beam/typehints/decorators.py
  sdks/python/apache_beam/typehints/decorators_test_py3.py
Labels: python

#10936 [BEAM-9063] migrate docker images to apache - fix postcommit failure
  sdks/go/test/run_integration_tests.sh
Labels: go

#10941 [GoSDK] Fix race conditions in statemgr & test
  sdks/go/pkg/beam/core/runtime/harness/statemgr.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr_test.go
Labels: go

#10919 [BEAM-9347] Don't overwrite default runner harness for unified worker
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python

#10929 [BEAM-9357] Bump google cloud bigquery to 1.24.0
  sdks/python/container/base_image_requirements.txt
  sdks/python/setup.py
Labels: docker, python

#10926 [BEAM-9353] Fix bytebuddy nullable
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AutoValueUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ConvertHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaBeanSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaFieldSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/TestJavaBeans.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/TestPOJOs.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
Labels: extensions, java, protobuf

#10933 [BEAM-8537] Update docstring of ManualWatermarkEstimator.set_watermark()
  sdks/python/apache_beam/io/watermark_estimators.py
Labels: io, python

#10935 [BEAM-9296] Clean up and add type-hints to SDF API
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/sdf_utils.py
  sdks/python/apache_beam/transforms/core.py
Labels: io, python

#10847 [BEAM-9228] Support further partition for FnApi ListBuffer
  sdks/python/apache_beam/runners/portability/fn_api_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner_test.py
Labels: python

#10731 [BEAM-7926] Data-centric Interactive Part3
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization_test.py
  sdks/python/apache_beam/runners/interactive/examples/Interactive Beam Example.ipynb
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_beam_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument_test.py
Labels: python

#10744 [BEAM-9240]: Check for Nullability in typesEqual() method of FieldTyp…
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTest.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamCalcRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/utils/CalciteUtils.java
Labels: extensions, java, sql

#10953 Allow metrics update to be tolerant to uninitalized metric containers.
  sdks/python/apache_beam/runners/worker/statesampler_fast.pyx
  sdks/python/apache_beam/runners/worker/statesampler_slow.py
Labels: python

#10960 [BEAM-8616] Make hadoop-client a provided dependency on ParquetIO
  sdks/java/extensions/sql/build.gradle
  sdks/java/io/file-based-io-tests/build.gradle
  sdks/java/io/parquet/build.gradle
  sdks/java/testing/expansion-service/build.gradle
Labels: build, extensions, io, java, parquet, sql, tests

#10947 [BEAM-9364] Refactor KafkaIO to use DeserializerProviders
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/BasicCSRClientProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ConfluentSchemaRegistryDeserializerProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/DeserializerProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/LocalDeserializerProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOExternalTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/LocalDeserializerProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/TestCSRClientProvider.java
Labels: build, io, java, kafka

#10955 [BEAM-8019] Updates Dataflow client
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
  sdks/python/apache_beam/runners/dataflow/internal/clients/dataflow/dataflow_v1b3_client.py
  sdks/python/apache_beam/runners/dataflow/internal/clients/dataflow/dataflow_v1b3_messages.py
Labels: python

#10957 [BEAM-8537] Use NoOpWatermarkEstimator in sdf_direct_runner
  sdks/python/apache_beam/runners/direct/sdf_direct_runner.py
Labels: python

#10931 [BEAM-9356] reduce Flink test logs to warn
  runners/flink/job-server/test_flink_uber_jar.sh
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
Labels: flink, python, runners

#10502 [BEAM-7274] Add DynamicMessage Schema support
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/OneOfType.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoDomain.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoDynamicMessageSchema.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslator.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoDynamicMessageSchemaTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/TestProtoSchemas.java
Labels: extensions, java, protobuf

#10969 [BEAM-9382] Changes TestStreamTranscriptTest to only inserts two elements
  sdks/python/apache_beam/testing/data/trigger_transcripts.yaml
Labels: python

#10963 [BEAM-9252] Update to vendored gRPC without problematic module-info.class and Main.class
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#10971 [BEAM-9322] Fix tag output names within Dataflow to be consistent with values used in proto.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/operations.py
Labels: python

#10956 [BEAM-2822, BEAM-2939, BEAM-6189, BEAM-4374] Enable passing completed and remaining amounts of work using new metrics format for splittable dofns in the Python SDK.
  model/pipeline/src/main/proto/metrics.proto
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/apache_beam/runners/worker/operations.py
Labels: model, python

#10962 [BEAM-9329] Support request of schemas by version on KafkaIO + CSR
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ConfluentSchemaRegistryDeserializerProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ConfluentSchemaRegistryDeserializerProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
Labels: io, java, kafka

#10959 [BEAM-9247] Integrate GCP Vision API functionality
  CHANGES.md
  sdks/python/apache_beam/ml/gcp/visionml.py
  sdks/python/apache_beam/ml/gcp/visionml_test.py
  sdks/python/setup.py
Labels: python

#10976 Fix kotlin warnings
  examples/kotlin/src/main/java/org/apache/beam/examples/kotlin/cookbook/BigQueryTornadoes.kt
  examples/kotlin/src/main/java/org/apache/beam/examples/kotlin/cookbook/FilterExamples.kt
  examples/kotlin/src/main/java/org/apache/beam/examples/kotlin/snippets/Snippets.kt
  examples/kotlin/src/test/java/org/apache/beam/examples/DebuggingWordCountTestKotlin.java
  examples/kotlin/src/test/java/org/apache/beam/examples/MinimalWordCountTestKotlin.java
  examples/kotlin/src/test/java/org/apache/beam/examples/WindowedWordCountITKotlin.kt
  examples/kotlin/src/test/java/org/apache/beam/examples/WordCountITKotlin.java
  examples/kotlin/src/test/resources/LICENSE
Labels: examples, kotlin

#10965 Update python sdk container version to beam-master-20200225
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#10938 [BEAM-9352] Align version of transitive jackson dependencies with Beam version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/sql/build.gradle
  sdks/java/io/kafka/build.gradle
  sdks/java/io/rabbitmq/build.gradle
Labels: build, extensions, io, java, kafka, rabbitmq, sql

#10881 [BEAM-9248] Integrate Google Cloud Natural Language functionality for Python SDK
  CHANGES.md
  sdks/python/apache_beam/ml/gcp/naturallanguageml.py
  sdks/python/apache_beam/ml/gcp/naturallanguageml_test.py
  sdks/python/setup.py
Labels: build, python

#10900 [BEAM-9335] update hard-coded coder id when translating Java external transforms
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/External.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ExternalTranslation.java
Labels: core, runners

#10928 [BEAM-9355] Basic support for NewType
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
Labels: python

#10899 [BEAM-8335] Background Caching job
  sdks/python/apache_beam/runners/interactive/background_caching_job.py
  sdks/python/apache_beam/runners/interactive/background_caching_job_test.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization_test.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_environment_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/options/__init__.py
  sdks/python/apache_beam/runners/interactive/options/capture_control.py
  sdks/python/apache_beam/runners/interactive/options/capture_control_test.py
  sdks/python/apache_beam/runners/interactive/options/interactive_options.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument.py
Labels: python

#10859 Update Dataflow monitoring URL
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/MonitoringUtil.java
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/test_dataflow_runner.py
Labels: dataflow, python, runners

#10892 [BEAM-8335] Make TestStream to/from runner_api include the output_tags property.
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/runners/direct/test_stream_impl.py
  sdks/python/apache_beam/runners/portability/expansion_service.py
  sdks/python/apache_beam/runners/portability/expansion_service_test.py
  sdks/python/apache_beam/testing/test_stream.py
  sdks/python/apache_beam/testing/test_stream_test.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/external_it_test.py
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/util.py
Labels: io, python

#9852 [BEAM-8458] Add option to set temp dataset in BigQueryIO.Read
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQueryHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQuerySourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageQuerySource.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpersTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageQueryTest.java
Labels: gcp, io, java

#10796 Refine access level for `sdks/java/extensions/protobuf`
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslator.java
Labels: extensions, java, protobuf

#10964 Make logger naming consistent with Apache Beam LOG standard
  learning/katas/java/util/src/org/apache/beam/learning/katas/util/Log.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/fn/BeamFnControlService.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/fn/logging/BeamFnLoggingService.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/FnApiControlClientPoolService.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/logging/GrpcLoggingService.java
  sdks/java/build-tools/src/main/resources/beam/checkstyle.xml
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datastore/DataStoreV1Table.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/mongodb/MongoDbTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/text/TextTable.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLPlannerImpl.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/stream/DirectStreamObserver.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/FinalizeBundleHandler.java
  sdks/java/io/cassandra/src/test/java/org/apache/beam/sdk/io/cassandra/CassandraIOTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageSourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamSource.java
  sdks/java/io/hadoop-format/src/main/java/org/apache/beam/sdk/io/hadoop/format/HDFSSynchronization.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/StartingPointShardsFinder.java
Labels: build, cassandra, dataflow, extensions, fn-execution, gcp, hadoop, io, java, kinesis, learning, runners, sql

#10934 [BEAM-9322] [BEAM-1833] Broke some people, setting the default to have the experiment be disabled
  CHANGES.md
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
Labels: python

#10901 [BEAM-8965] Remove duplicate sideinputs in ConsumerTrackingPipelineVisitor
  sdks/python/apache_beam/runners/direct/consumer_tracking_pipeline_visitor.py
  sdks/python/apache_beam/runners/direct/consumer_tracking_pipeline_visitor_test.py
Labels: python

#10655 [BEAM-8618] Tear down unused DoFns periodically in Python SDK harness.
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#10981 Fix formatting
  sdks/python/apache_beam/runners/dataflow/test_dataflow_runner.py
Labels: python

#10984 [BEAM-9394] DynamicMessage handling of empty map violates schema null…
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoDynamicMessageSchema.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoDynamicMessageSchemaTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoMessageSchemaTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/TestProtoSchemas.java
Labels: extensions, java, protobuf

#10854 State timers documentation
  website/src/_includes/section-menu/documentation.html
  website/src/documentation/programming-guide.md
Labels: website

#10811 [BEAM-9276] Create a class to encapsulate the steps required to submit a pipeline
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server_test.py
  sdks/python/apache_beam/runners/portability/local_job_service_test.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
Labels: python

#10961 [BEAM-9258] Add integration test for Cloud DLP
  sdks/python/apache_beam/ml/gcp/cloud_dlp_it_test.py
  sdks/python/apache_beam/ml/gcp/cloud_dlp_test.py
Labels: python

#10987 [BEAM-5524] Fix minor issue in style guide.
  website/src/contribute/ptransform-style-guide.md
Labels: website

#10843 [BEAM-8201] Pass all other endpoints through provisioning service.
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/DefaultJobBundleFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/DockerEnvironmentFactory.java
  sdks/go/container/boot.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api.pb.go
  sdks/java/container/boot.go
  sdks/python/apache_beam/runners/portability/fn_api_runner.py
  sdks/python/container/boot.go
Labels: docker, fn-execution, go, java, python, runners

#10993 [BEAM-9400] Linkage Checker 1.1.4
  build.gradle
Labels: build

#10954 [BEAM-9373] Spark/Flink tests fix string concat
  runners/flink/job-server/flink_job_server.gradle
  runners/spark/job-server/build.gradle
Labels: build, flink, runners, spark

#10996 Bump Dataflow Java worker container version
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, dataflow, runners

#10967 [BEAM-9300] convert struct literal in ZetaSQL
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BeamBigQuerySqlDialect.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/TypeUtils.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#10985 [BEAM-9396] Match Docker image names between Jenkins jobs and Gradle tasks
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Python.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Flink.groovy
Labels: infra

#10982 [BEAM-9392] Fix Multi TestStream assertion errors
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/testing/test_stream.py
  sdks/python/apache_beam/testing/test_stream_test.py
  sdks/python/apache_beam/transforms/sideinputs_test.py
Labels: python

#10977 Add integration test for AnnotateText transform
  sdks/python/apache_beam/ml/gcp/naturallanguageml_test_it.py
Labels: build, python

#10995 [BEAM-9401] bind Flink MiniCluster to localhost
  runners/flink/job-server/test_flink_uber_jar.sh
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkMiniClusterEntryPoint.java
Labels: flink, runners

#10822 [BEAM-7746] Minor typing updates / fixes
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/io/aws/s3filesystem_test.py
  sdks/python/apache_beam/io/aws/s3io.py
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pvalue.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/direct/evaluation_context.py
  sdks/python/apache_beam/runners/direct/sdf_direct_runner.py
  sdks/python/apache_beam/runners/direct/transform_evaluator.py
  sdks/python/apache_beam/runners/interactive/background_caching_job_test.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache_test.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization_test.py
  sdks/python/apache_beam/runners/interactive/display/pipeline_graph_renderer.py
  sdks/python/apache_beam/runners/interactive/display/pipeline_graph_test.py
  sdks/python/apache_beam/runners/interactive/interactive_environment_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/options/capture_control_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment_test.py
  sdks/python/apache_beam/runners/portability/abstract_job_service.py
  sdks/python/apache_beam/runners/portability/fn_api_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner_transforms.py
  sdks/python/apache_beam/runners/runner.py
  sdks/python/apache_beam/runners/sdf_utils.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/data_plane.py
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/testing/test_stream_service_test.py
  sdks/python/apache_beam/transforms/combiners.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/environments.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_java.py
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/timeutil.py
  sdks/python/apache_beam/transforms/trigger.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/window.py
  sdks/python/apache_beam/typehints/decorators.py
  sdks/python/apache_beam/typehints/decorators_test.py
  sdks/python/apache_beam/typehints/decorators_test_py3.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/utils/processes.py
  sdks/python/apache_beam/utils/proto_utils.py
  sdks/python/apache_beam/utils/retry.py
  sdks/python/setup.cfg
  sdks/python/tox.ini
Labels: aws, io, python

#10932 [BEAM-8487] Handle nested forward references
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
Labels: python

#10999 [BEAM-9345] Fix source of test flakiness in FlinkSubmissionTest
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSubmissionTest.java
Labels: flink, runners

#10998 [BEAM-9287] Add Postcommit tests for dataflow runner v2
  .github/PULL_REQUEST_TEMPLATE.md
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow_V2.groovy
  README.md
  sdks/python/scripts/run_integration_test.sh
  sdks/python/test-suites/dataflow/py2/build.gradle
  sdks/python/test-suites/dataflow/py35/build.gradle
  sdks/python/test-suites/dataflow/py36/build.gradle
  sdks/python/test-suites/dataflow/py37/build.gradle
Labels: build, infra, python

#11001 [BEAM-9405] Fix post-commit error about create_job_service
  sdks/python/apache_beam/runners/portability/portable_runner.py
Labels: python

#11004 Adds DisplayData for StateSpecs used by stateful ParDos
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/SerializableCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/ParDo.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java
