Repository apache/beam, pull requests merged in 2020-05, with the labels that each got.

#11587 Guard grpc import.
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python

#11452 [BEAM-9692] Move apply_Read to PTransformOverride
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/runners/dataflow/ptransform_overrides.py
Labels: gcp, io, python

#11369 [BEAM-9600] Get metrics in Flink uber jar job server.
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerStepMap.java
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server.py
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server_test.py
Labels: core, python, runners

#11585 [BEAM-9860] Make job_endpoint required for PortableRunner
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/apache_beam/runners/portability/job_server.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/test-suites/portable/py2/build.gradle
  sdks/python/test-suites/portable/py35/build.gradle
  sdks/python/test-suites/portable/py36/build.gradle
  sdks/python/test-suites/portable/py37/build.gradle
Labels: build, python

#11492 [BEAM-9801] Pass in fire timestamp to timer callback
  runners/core-java/src/main/java/org/apache/beam/runners/core/InMemoryTimerInternals.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkExecutableStageFunction.java
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/direct/transform_evaluator.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/worker/operations.py
Labels: core, flink, python, runners

#11571 [BEAM-2128] Remove PipelineRunner.fromOptions call
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineExecutionEnvironment.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/BatchStatefulParDoOverridesTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/PipelineTest.java
Labels: flink, java, runners

#11523 [BEAM-8414] Cleanup Python codebase to enable some of the excluded Python lint checks.
  sdks/python/.pylintrc
  sdks/python/apache_beam/io/fileio_test.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/io/restriction_trackers.py
  sdks/python/apache_beam/metrics/execution_test.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/worker/opcounters_test.py
Labels: gcp, io, python

#11595 [BEAM-9801] Fire timers set within timers in Spark.
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkExecutableStageFunction.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/translation/PipelineTranslatorUtils.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkExecutableStageFunction.java
Labels: flink, fn-execution, runners, spark

#11597 [BEAM-9874] Support clearing timers in portable batch mode (Spark/Flink)
  runners/core-java/src/main/java/org/apache/beam/runners/core/InMemoryTimerInternals.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkExecutableStageFunction.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkExecutableStageFunction.java
Labels: core, flink, runners, spark

#11578 [BEAM-8025] Increase the number of retrials and retrial delay in case of load in CassandraIOTest
  sdks/java/io/cassandra/src/test/java/org/apache/beam/sdk/io/cassandra/CassandraIOTest.java
Labels: cassandra, io, java

#11556 [BEAM-9841] Support finite wait on PortableRunner's PipelineResult
  sdks/python/apache_beam/runners/portability/portable_runner.py
Labels: python

#11593 [BEAM-9870] Always generate Dataflow-compatible FnApi protos.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python

#11599 [BEAM-9870] Always generate Dataflow-compatible FnApi protos.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python

#11576 Go fmt changes
  sdks/go/pkg/beam/runners/universal/runnerlib/stage.go
Labels: go, runners

#11333 [BEAM-9418] Support ANY_VALUE aggregation functions
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Sample.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/transform/BeamBuiltinAggregations.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlDslAggregationTest.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlStdOperatorMappingTable.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11598 [BEAM-9877] Estimate sizes of group-by-key values behind a key lazily only.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BatchGroupAlsoByWindowViaIteratorsFn.java
Labels: dataflow, java, runners

#11601 [BEAM-9877] [cherry-pick] Make BatchGroupAlsoByWindowViaIteratorsFn extend the Elem…
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BatchGroupAlsoByWindowViaIteratorsFn.java
Labels: dataflow, runners

#11553 [BEAM-9799] Automated validation for RTrackers.
  sdks/go/examples/stringsplit/stringsplit.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/core/sdf/sdf.go
Labels: examples, go

#11606 [BEAM-9880] fix cannot touch issue
  sdks/java/container/build.gradle
Labels: build, docker, java

#11517 [BEAM-9643] Adding Go SDF Documentation.
  sdks/go/examples/stringsplit/offsetrange/offsetrange.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/core/sdf/sdf.go
  sdks/go/pkg/beam/pardo.go
Labels: examples, go, runners

#11560 [BEAM-9886] Auto-inferring project for ReadFromBigQuery
  sdks/python/apache_beam/examples/cookbook/bigquery_tornadoes.py
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: examples, gcp, io, python

#11527 Update error prone plugin
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#11604 [BEAM-9659][BEAM-9657][BEAM-9664] Reject unsupported unnest joins
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ArrayScanToJoinConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11602 [BEAM-9661] Fix ORDER BY with LIMIT
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/LimitOffsetScanToOrderByLimitConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11477 [BEAM-9650] Add PeriodicSequence generator.
  examples/java/src/main/java/org/apache/beam/examples/snippets/Snippets.java
  examples/java/src/test/java/org/apache/beam/examples/snippets/SnippetsTest.java
  runners/direct-java/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PeriodicImpulse.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PeriodicSequence.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/PeriodicImpulseTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/PeriodicSequenceTest.java
  website/src/documentation/patterns/side-inputs.md
Labels: build, direct, examples, java, runners, website

#11574 [BEAM-9449] Pass PipelineOptions through expansion service
  model/job-management/src/main/proto/beam_expansion_api.proto
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/python/apache_beam/runners/job/utils.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/apache_beam/transforms/external.py
Labels: dataflow, flink, java, model, python, runners

#11614 Disable two flaky tests (BEAM-8035, BEAM-9164)
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapperTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/WatchTest.java
Labels: flink, java, runners

#11612 [BEAM-9888] Drop data based on input watermark in @RequiresTimeSortedInput
  runners/core-java/src/main/java/org/apache/beam/runners/core/StatefulDoFnRunner.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/StatefulDoFnRunnerTest.java
Labels: core, runners

#11569 [BEAM-9840] Support for Parameterized Types when converting from HCat…
  sdks/java/io/hcatalog/src/main/java/org/apache/beam/sdk/io/hcatalog/SchemaUtils.java
  sdks/java/io/hcatalog/src/test/java/org/apache/beam/sdk/io/hcatalog/SchemaUtilsTest.java
Labels: hcatalog, io, java

#11623 [BEAM-9908] Fix Python build failures in release script.
  release/src/main/scripts/build_release_candidate.sh
  website/src/contribute/release-guide.md
Labels: build, website

#11620 [BEAM-7746] Enable mypy type checking for Beam Python code.
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/io/gcp/bigquery_avro_tools.py
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/environments.py
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/userstate.py
  sdks/python/mypy.ini
  sdks/python/tox.ini
Labels: gcp, io, python

#11621 Remove a bunch of spurious warnings in tests.
  sdks/python/apache_beam/coders/standard_coders_test.py
  sdks/python/apache_beam/io/fileio_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/testing/util.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/transforms/timeutil.py
  sdks/python/apache_beam/transforms/trigger.py
  sdks/python/apache_beam/transforms/trigger_test.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/apache_beam/transforms/window.py
Labels: io, python

#11627 Fix thread local to be initialized on every thread.
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python

#11590 [BEAM-8944] Improve UnboundedThreadPoolExecutor performance
  sdks/python/apache_beam/utils/thread_pool_executor.py
Labels: python

#11555 [BEAM-8134] Grafana dashboards for Load Tests and IO IT Performance Tests
  .test-infra/metrics/beamgrafana-deploy.yaml
  .test-infra/metrics/grafana/Dockerfile
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Combine_Load_Tests.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/GBK_Load_Tests.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Java_IO_IT_Tests_Dataflow.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/ParDo_Load_Tests.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_IO_IT_Tests_Dataflow.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/coGBK_Load_Tests.json
  .test-infra/metrics/grafana/provisioning/dashboards/all.yaml
Labels: infra

#11534 Push ioit tests metrics to influxdb
  sdks/java/extensions/sql/perf-tests/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryIOPushDownIT.java
  sdks/java/io/bigquery-io-perf-tests/src/test/java/org/apache/beam/sdk/bigqueryioperftests/BigQueryIOIT.java
  sdks/java/io/common/src/test/java/org/apache/beam/sdk/io/common/IOTestPipelineOptions.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/avro/AvroIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/parquet/ParquetIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/text/TextIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/tfrecord/TFRecordIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/xml/XmlIOIT.java
  sdks/java/io/hadoop-format/src/test/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIOIT.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOIT.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDBIOIT.java
  sdks/java/testing/load-tests/src/main/java/org/apache/beam/sdk/loadtests/LoadTest.java
  sdks/java/testing/load-tests/src/main/java/org/apache/beam/sdk/loadtests/LoadTestOptions.java
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/metrics/IOITMetrics.java
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/publishing/InfluxDBPublisher.java
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/publishing/InfluxDBSettings.java
Labels: extensions, gcp, hadoop, io, java, jdbc, kafka, mongodb, sql, tests

#11558 [BEAM-8742] Add stateful and timely processing benchmarks
  .test-infra/dataproc/init-actions/flink.sh
  .test-infra/jenkins/Docker.groovy
  .test-infra/jenkins/LoadTestsBuilder.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Flink.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/flink/job-server/flink_job_server.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPortableRunnerResult.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingPortablePipelineTranslator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/TestFlinkRunner.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/ImpulseSourceFunction.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/utils/CheckpointStats.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapper.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkExecutionEnvironmentsTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkPipelineOptionsTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkRequiresStableInputTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSavepointTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSubmissionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/PortableExecutionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/PortableStateExecutionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/PortableTimersExecutionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/ReadSourcePortableTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/streaming/GroupByWithNullValuesTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/functions/ImpulseSourceFunctionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapperTest.java
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/testing/load_tests/load_test.py
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
  sdks/python/apache_beam/testing/load_tests/pardo_test.py
  sdks/python/apache_beam/testing/test_pipeline.py
  sdks/python/test-suites/portable/py2/build.gradle
  website/src/_includes/flink_java_pipeline_options.html
  website/src/_includes/flink_python_pipeline_options.html
Labels: build, flink, infra, python, runners

#11630 [BEAM-9913] remove license dir if exists
  sdks/java/container/license_scripts/license_script.sh
Labels: docker, java

#11624 [BEAM-9767] Make streaming_wordcount use a test timeout and increase from 5s to 30s
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
Labels: python

#11615 [BEAM-9731] passert.Equals: sort output strings for easier reading
  sdks/go/pkg/beam/testing/passert/equals.go
Labels: go

#11631 [BEAM-9907] Revert "Pass pipeline options from caller to expansion service (#11574)"
  model/job-management/src/main/proto/beam_expansion_api.proto
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/python/apache_beam/runners/job/utils.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/apache_beam/transforms/external.py
Labels: java, model, python

#11635 [BEAM-9868] Remove tests of Java on Dataflows Java Runner Harness
  .test-infra/jenkins/job_PostCommit_Java_Dataflow_Portability_Examples_Java11.groovy
  .test-infra/jenkins/job_PostCommit_Java_PortabilityApi.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_DataflowPortabilityExecutableStage.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_PortabilityApi_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_PortabilityApi_Dataflow_Java11.groovy
  build.gradle
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, dataflow, infra, runners

#11636 [BEAM-9929] Support UNNEST(array_column) in ZetaSQL
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ArrayScanColumnRefToUncollect.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ArrayScanLiteralToUncollectConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/QueryStatementConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11577 [BEAM-8132, BEAM-8133] Apply InfluxDB pipeline options in Load Tests and Performance Tests
  .test-infra/jenkins/InfluxDBCredentialsHelper.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python_reiterate.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Java.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_HadoopFormat.groovy
  .test-infra/jenkins/job_PerformanceTests_JDBC.groovy
  .test-infra/jenkins/job_PerformanceTests_KafkaIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_MongoDBIO_IT.groovy
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/publishing/InfluxDBPublisher.java
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/publishing/InfluxDBSettings.java
Labels: infra, java

#11438 [BEAM-9505] Remove spurious error message in SpannerIO when streaming.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
Labels: gcp, io, java

#11628 [BEAM-9911]Replace SpannerIO.write latency counter to distribution
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
Labels: gcp, io, java

#11605 [BEAM-9883] Refactor SDF test restrictions.
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
Labels: go

#11643 [BEAM-4782] Remove workaround in Python multimap tests.
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python

#11622 [BEAM-3288] Add suggested fix to error message
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupByKey.java
Labels: java

#11649 [BEAM-9940] Set timer family spec for TimerDeclarations in dataflow r…
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/PrimitiveParDoSingleFactory.java
Labels: dataflow, runners

#11648 [BEAM-8872] check lastAttemptedOffset non-null
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/OffsetRangeTracker.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/splittabledofn/OffsetRangeTrackerTest.java
Labels: java

#11646 [BEAM-9941] Add a BeamJava test with Flatten with different input and output Coders
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/FlattenTest.java
Labels: java

#11640 [BEAM-9930] Beam Summit Digital 2020 announcement on blog
  website/src/_posts/2020-05-08-beam-summit-digital-2020.md
Labels: website

#11654 [BEAM-9930] Correct authors of beam summit digital blog post
  website/src/_data/authors.yml
  website/src/_posts/2020-05-08-beam-summit-digital-2020.md
Labels: website

#11377 [BEAM-9439] Return split instead of total backlog size
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/KinesisReader.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/ShardReadersPool.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/ShardRecordsIterator.java
  sdks/java/io/kinesis/src/test/java/org/apache/beam/sdk/io/kinesis/KinesisReaderTest.java
  sdks/java/io/kinesis/src/test/java/org/apache/beam/sdk/io/kinesis/ShardReadersPoolTest.java
  sdks/java/io/kinesis/src/test/java/org/apache/beam/sdk/io/kinesis/ShardRecordsIteratorTest.java
Labels: io, java, kinesis

#11660 Fix InfluxDB credentials binding
  .test-infra/jenkins/LoadTestsBuilder.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python_reiterate.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
Labels: infra

#11664 [BEAM-9216] Upgrades katas gradle to version 5.2.1
  learning/katas/java/gradle/wrapper/gradle-wrapper.jar
  learning/katas/java/gradle/wrapper/gradle-wrapper.properties
Labels: learning

#11609 [BEAM-9887] Throw IllegalArgumentException when building Row with logical types with Invalid input
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/RowUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/values/RowTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamComplexTypeTest.java
Labels: extensions, java, sql

#11588 [BEAM-9776] Register default filesystems in Beam SQL enumerable converter (makes them available to SQL shell)
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamEnumerableConverter.java
Labels: extensions, java, sql

#11663 [BEAM-9767]: Fix flaky streaming wordcount
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache.py
  sdks/python/apache_beam/runners/interactive/caching/streaming_cache_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
Labels: python

#11637 Waiting for BQ Query and Export jobs for more than 5 minutes.
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: gcp, io, python

#11647 [BEAM-9884] Add options to SqlTransform for specifying planner
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/SqlTransform.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11603 [BEAM-9875] Use explicit FlinkRunner instead of PortableRunner in cross-language tests.
  sdks/python/apache_beam/examples/wordcount_xlang.py
  sdks/python/test-suites/portable/py2/build.gradle
Labels: build, docker, examples, java, python

#11644 [BEAM-9835] [Portable Spark] Broadcast a PCollection at most once.
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkBatchPortablePipelineTranslator.java
Labels: runners, spark

#11668 [BEAM-9952] Revert "remove PipelineRunner.fromOptions call"
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
Labels: java

#11653 [BEAM-9935] Respect allowed split points in Python.
  model/fn-execution/src/main/proto/beam_fn_api.proto
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
Labels: model, python

#11669 Make grpc-requiring class definition optional.
  sdks/python/apache_beam/transforms/external.py
Labels: python

#11645 [BEAM-9642] Adding Go SDF fallback for unexpanded SDFs.
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/runners/direct/direct.go
Labels: direct, go, runners

#11629 [BEAM-6710] Add landing page with links to relevant dashboards
  .test-infra/metrics/beamgrafana-deploy.yaml
  .test-infra/metrics/grafana/dashboards/home/getting_started.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Combine_Load_Tests.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/GBK_Load_Tests.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Java_IO_IT_Tests_Dataflow.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/ParDo_Load_Tests.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_IO_IT_Tests_Dataflow.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/coGBK_Load_Tests.json
  .test-infra/metrics/grafana/provisioning/dashboards/all.yaml
Labels: infra

#11658 [BEAM-9947] Store updated ParDoPayload for length-prefixed timer coders
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ModelCoders.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/ProcessBundleDescriptors.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/ProcessBundleDescriptorsTest.java
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: core, fn-execution, python, runners

#11655 [BEAM-9930] Add image to Beam Summit blog post
  website/src/_posts/2020-05-08-beam-summit-digital-2020.md
  website/src/images/blog/beamsummit/beamsummit-digital.png
Labels: website

#11667 [release-2.21.0][BEAM-9947] Store updated ParDoPayload for length-prefixed timer coders
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ModelCoders.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/ProcessBundleDescriptors.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/ProcessBundleDescriptorsTest.java
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: core, fn-execution, python, runners

#11675 Fix metrics reporting in HDFS IO IT tests
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
Labels: infra

#11677 [BEAM-9963] Fix coder type in failing ParDo streaming load test
  sdks/python/apache_beam/testing/load_tests/pardo_test.py
Labels: python

#11567 [BEAM-8132] Report Python metrics to InfluxDB
  sdks/python/apache_beam/testing/load_tests/load_test.py
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
Labels: python

#11680 Fix InfluxDB measurement names to match those in Grafana dashboards
  .test-infra/jenkins/job_LoadTests_CoGBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java_spark_structured_streaming.groovy
Labels: infra

#11652 [BEAM-9945] Report data channel progress via a designated counter.
  model/pipeline/src/main/proto/metrics.proto
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoConstants.java
  sdks/go/pkg/beam/core/metrics/store.go
  sdks/go/pkg/beam/core/runtime/harness/monitoring.go
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataReadRunner.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataReadRunnerTest.java
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: core, go, java, model, python, runners

#11521 [BEAM-9577] Update Java Runners to handle dependency-based artifact staging.
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkJobServerDriverTest.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/GrpcFnServer.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/artifact/ArtifactStagingService.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/DefaultJobBundleFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/SingleEnvironmentInstanceJobBundleFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/DockerEnvironmentFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/EmbeddedEnvironmentFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/EnvironmentFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/ExternalEnvironmentFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/ProcessEnvironmentFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/StaticRemoteEnvironmentFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/provisioning/StaticGrpcProvisionService.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/EmbeddedSdkHarness.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/DefaultJobBundleFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/SingleEnvironmentInstanceJobBundleFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/DockerEnvironmentFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/ProcessEnvironmentFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/provisioning/StaticGrpcProvisionServiceTest.java
  runners/java-job-service/src/main/java/org/apache/beam/runners/jobsubmission/InMemoryJobService.java
  runners/java-job-service/src/main/java/org/apache/beam/runners/jobsubmission/JobServerDriver.java
  runners/java-job-service/src/test/java/org/apache/beam/runners/jobsubmission/InMemoryJobServiceTest.java
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/PortableRunner.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaExecutionContext.java
Labels: flink, fn-execution, portability, runners, samza

#11673 [BEAM-9967] Adding support for BQ labels on Query/Export jobs
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: gcp, io, python

#11671 [BEAM-9935] [release-2.21.0] Respect allowed split points in Python.
  model/fn-execution/src/main/proto/beam_fn_api.proto
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
Labels: model, python

#11679 [BEAM-9164] Re-enable UnboundedSourceWrapper#testWatermarkEmission test
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapperTest.java
Labels: flink, runners

#11687 [BEAM-9488] [release-2.21.0] Ensure we pass through PCollection ids instead of attempt…
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/operations.pxd
  sdks/python/apache_beam/runners/worker/operations.py
Labels: python

#11684 [BEAM-9622] Add Python SqlTransform test that joins tagged PCollections
  sdks/python/apache_beam/transforms/sql_test.py
Labels: python

#11685 [BEAM-9945] [release-2.21.0] Report data channel progress via a desig…
  model/pipeline/src/main/proto/metrics.proto
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: model, python

#11686 [BEAM-9959] Root Transform fixes
  sdks/go/pkg/beam/core/runtime/pipelinex/replace.go
  sdks/go/pkg/beam/core/runtime/pipelinex/replace_test.go
  sdks/go/pkg/beam/core/runtime/pipelinex/util.go
  sdks/go/pkg/beam/core/runtime/pipelinex/util_test.go
Labels: go

#11616 Use csv reader instead of split to read csv data.
  sdks/python/apache_beam/runners/interactive/examples/UsCovidDataExample.ipynb
Labels: python

#11689 [BEAM-9945] Ensure that the read index represents the number of fully processed elements including at the end of the channel or after splitting.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataReadRunner.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataReadRunnerTest.java
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: java, python

#11694 [BEAM-9983] Revert "Merge pull request #11673 from [BEAM-9967] Adding support for…
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: gcp, io, python

#11641 [BEAM-9931] Support custom Avro DatumReaders in AvroIO
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/AvroSourceTest.java
Labels: java

#11695 [BEAM-9985] Disambiguate method filter for toArray for Java 11.
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
Labels: java

#11697 [BEAM-9945] [release-2.21.0] Ensure that the read index represents the number of fully…
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python

#11670 [BEAM-9001, BEAM-6327] Ensure that all transforms (except for required runner implemented transforms) have an environment id.
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/PipelineValidator.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/TrivialNativeTransformExpander.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/QueryablePipelineTest.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineRunner.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingPortablePipelineTranslator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkPipelineRunner.java
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/python/apache_beam/pipeline.py
Labels: core, flink, go, model, python, runners, spark

#11696 [BEAM-9975] Log invalid dictionary after unsuccessful struct conversion.
  sdks/python/apache_beam/runners/job/utils.py
Labels: python

#11683 Bump Flink 1.10 version
  .test-infra/dataproc/flink_cluster.sh
  .test-infra/jenkins/Flink.groovy
  runners/flink/1.10/build.gradle
  runners/flink/1.10/src/test/java/org/apache/beam/runners/flink/FlinkRunnerTest.java
Labels: build, flink, infra, runners

#11688 [BEAM-9935, BEAM-3836] Respect allowed split points in Java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataReadRunner.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataReadRunnerTest.java
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
Labels: java, python

#11690 [BEAM-9928] Add qualified import name to task descriptors
  learning/katas/go/Core Transforms/Map/ParDo OneToMany/task.md
  learning/katas/go/Core Transforms/Map/ParDo Struct/task.md
  learning/katas/go/Core Transforms/Map/ParDo/task.md
  learning/katas/go/Introduction/Hello Beam/Hello Beam/task.md
Labels: learning

#11703 [BEAM-9001, BEAM-6327] Ensure that all transforms (except for require…
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/PipelineValidator.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/TrivialNativeTransformExpander.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/QueryablePipelineTest.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineRunner.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingPortablePipelineTranslator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkPipelineRunner.java
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/python/apache_beam/pipeline.py
Labels: core, flink, go, model, python, runners, spark

#11611 [BEAM-9634] Add natural language analysis transform
  CHANGES.md
  sdks/java/extensions/ml/build.gradle
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateText.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/AnnotateTextIT.java
Labels: build, extensions, java

#11607 [BEAM-9430] Fixes the bounds of initial watermark set to estimators instead of raising an error
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/WatermarkEstimators.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/windowing/BoundedWindow.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/splittabledofn/WatermarkEstimatorsTest.java
Labels: java

#11700 [BEAM-9967] Adding support for BQ labels on Query/Export jobs. (Roll …
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: gcp, io, python

#11666 [BEAM-9941] Added a test of a GBK followed by a Flatten with an unknown output coder
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/FlattenTest.java
Labels: java

#11672 Clarify pubsub IO comment about timestamps
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
Labels: gcp, io, java

#11705 Clarifies an error message in Katas to explain what is actually wrong.
  learning/katas/python/test_helper.py
Labels: learning

#11210 [BEAM-8949] SpannerIO integration tests
  CHANGES.md
  sdks/python/apache_beam/io/gcp/experimental/spannerio_read_it_test.py
  sdks/python/apache_beam/io/gcp/experimental/spannerio_write_it_test.py
  sdks/python/test-suites/direct/common.gradle
Labels: build, gcp, io, python

#11711 [BEAM-9993] Add option defaults for Flink Python tests.
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
Labels: python

#11699 Update the range for pyarrow to qualify pyarrow 0.17.x
  sdks/python/apache_beam/io/parquetio.py
  sdks/python/setup.py
Labels: io, python

#11713 Run Inventory jobs every 12 hours.
  .test-infra/jenkins/job_Inventory.groovy
Labels: infra

#11714 Update release notes link for 2.20.0
  website/www/site/content/en/get-started/downloads.md
Labels: website

#11659 [BEAM-2530] PreCommit Dataflow examples - test compiled with java 11
  .test-infra/jenkins/job_PreCommit_Java_Examples_Dataflow_Java11.groovy
  build.gradle
Labels: build, infra

#11716 [BEAM-2939] Ensure that we don't checkpoint the initial restriction as it has been checkpointed in a prior bundle.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: java

#11693 [BEAM-9966] Use dataproc staging bucket for checkpoints directory
  .test-infra/dataproc/init-actions/flink.sh
  sdks/python/apache_beam/testing/load_tests/pardo_test.py
Labels: flink, infra, python, runners

#11718 Make Post-Commits status dashboard compatible with the latest Grafana
  .test-infra/metrics/beamgrafana-deploy.yaml
  .test-infra/metrics/grafana/dashboards/Post-Commits_status_dashboard.json
Labels: infra

#11584 [BEAM-9136]support isRelease tag for docker build command & update release guide
  .test-infra/jenkins/CommonJobProperties.groovy
  release/src/main/scripts/build_release_candidate.sh
  sdks/java/container/build.gradle
  sdks/python/container/py2/build.gradle
  sdks/python/container/py35/build.gradle
  sdks/python/container/py36/build.gradle
  sdks/python/container/py37/build.gradle
  website/www/site/content/en/contribute/release-guide.md
Labels: build, docker, infra, java, python, website

#11698 [BEAM-9522] Reject FULL JOIN ON false
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamJoinRel.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11721 [BEAM-1866] Enable validation of PAssert counts in portable Java validates runner tests for Dataflow
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/TestDataflowRunner.java
Labels: dataflow, runners

#11719 [BEAM-10001] Change the code block colors from grey to blue to increase the contrast between text and background
  website/www/site/assets/scss/_syntax-highlighting.scss
Labels: website

#11710 [BEAM-9964] Setting --workerCacheMB for Streaming Pipeline
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateCache.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternalsTest.java
Labels: dataflow, runners

#11634 Change TestStreamImpl to a producer/consumer pattern
  sdks/python/apache_beam/runners/direct/test_stream_impl.py
Labels: python

#11665 [BEAM-9951] Creating a synthetic source for the Go SDK.
  sdks/go/examples/stringsplit/stringsplit.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange.go
  sdks/go/pkg/beam/io/synthetic/source.go
  sdks/go/pkg/beam/io/synthetic/source_test.go
Labels: examples, go, io

#11717 [BEAM-9136] Update doc about docker image license pulling
  CHANGES.md
  website/www/site/content/en/documentation/runtime/environments.md
Labels: website

#11728 [BEAM-9951] Creating a synthetic step for the Go SDK.
  sdks/go/pkg/beam/io/synthetic/rand.go
  sdks/go/pkg/beam/io/synthetic/source.go
  sdks/go/pkg/beam/io/synthetic/source_test.go
  sdks/go/pkg/beam/io/synthetic/step.go
  sdks/go/pkg/beam/io/synthetic/step_test.go
Labels: go, io

#11725 [BEAM-10015] Fix output timestamp on dataflow runner
  runners/apex/src/test/java/org/apache/beam/runners/apex/translation/operators/ApexTimerInternalsTest.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/ReduceFnContextFactory.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SplittableParDoViaKeyedWorkItems.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/TimerInternals.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/InMemoryTimerInternalsTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/KeyedWorkItemCoderTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/ReduceFnTester.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/SimpleDoFnRunnerTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/SimplePushbackSideInputDoFnRunnerTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/TimerInternalsTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/triggers/TriggerStateMachineTester.java
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/DirectTimerInternalsTest.java
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/DoFnLifecycleManagerRemovingTransformEvaluatorTest.java
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/EvaluationContextTest.java
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/WatermarkManagerTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperatorTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternals.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingGroupAlsoByWindowFnsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingKeyedWorkItemSideInputDoFnRunnerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingSideInputFetcherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/UserParDoFnFactoryTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillKeyedWorkItemTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternalsTest.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/DoFnOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/KeyedTimerData.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaTimerInternalsFactory.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/KeyedTimerDataTest.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/SamzaTimerInternalsFactoryTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: apex, core, dataflow, direct, flink, java, runners, samza

#11735 [BEAM-2939] Ensure that watermark advances even when no elements are output.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: java

#11692 [BEAM-2530] Implement Zeta SQL precommit compile tests and run on java 11
  .test-infra/jenkins/job_PreCommit_BeamSQL_ZetaSQL_Java11.groovy
  build.gradle
Labels: build, infra

#11678 [BEAM-6733] Add pipeline option to flush bundle data before checkpointing
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkPipelineOptionsTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/website/PipelineOptionsTableGenerator.java
  website/www/site/layouts/shortcodes/flink_java_pipeline_options.html
  website/www/site/layouts/shortcodes/flink_python_pipeline_options.html
Labels: flink, runners, website

#11733 [BEAM-8019] Python3 fix - convert dict.keys() to list before indexing
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python

#11726 [BEAM-9819] Updates google-apitools and httplib2
  sdks/python/setup.py
Labels: python

#11731 [BEAM-10018] Fix timestamps in two windowing Python katas
  learning/katas/python/Windowing/Adding Timestamp/ParDo/task-info.yaml
  learning/katas/python/Windowing/Adding Timestamp/ParDo/task.html
  learning/katas/python/Windowing/Adding Timestamp/ParDo/task.py
  learning/katas/python/Windowing/Adding Timestamp/ParDo/tests.py
  learning/katas/python/Windowing/Fixed Time Window/Fixed Time Window/task-info.yaml
  learning/katas/python/Windowing/Fixed Time Window/Fixed Time Window/task.py
  learning/katas/python/requirements.txt
Labels: learning

#11730 Python Katas - Remove answer placeholder checks
  learning/katas/python/Common Transforms/Aggregation/Count/task-remote-info.yaml
  learning/katas/python/Common Transforms/Aggregation/Count/tests.py
  learning/katas/python/Common Transforms/Aggregation/Largest/task-remote-info.yaml
  learning/katas/python/Common Transforms/Aggregation/Largest/tests.py
  learning/katas/python/Common Transforms/Aggregation/Mean/task-remote-info.yaml
  learning/katas/python/Common Transforms/Aggregation/Mean/tests.py
  learning/katas/python/Common Transforms/Aggregation/Smallest/task-remote-info.yaml
  learning/katas/python/Common Transforms/Aggregation/Smallest/tests.py
  learning/katas/python/Common Transforms/Aggregation/Sum/task-remote-info.yaml
  learning/katas/python/Common Transforms/Aggregation/Sum/tests.py
  learning/katas/python/Common Transforms/Filter/Filter/task-remote-info.yaml
  learning/katas/python/Common Transforms/Filter/Filter/tests.py
  learning/katas/python/Common Transforms/Filter/ParDo/task-remote-info.yaml
  learning/katas/python/Common Transforms/Filter/ParDo/tests.py
  learning/katas/python/Common Transforms/WithKeys/WithKeys/task-remote-info.yaml
  learning/katas/python/Common Transforms/WithKeys/WithKeys/tests.py
  learning/katas/python/Core Transforms/Branching/Branching/task-remote-info.yaml
  learning/katas/python/Core Transforms/Branching/Branching/tests.py
  learning/katas/python/Core Transforms/CoGroupByKey/CoGroupByKey/task-remote-info.yaml
  learning/katas/python/Core Transforms/CoGroupByKey/CoGroupByKey/tests.py
  learning/katas/python/Core Transforms/Combine/Combine PerKey/task-remote-info.yaml
  learning/katas/python/Core Transforms/Combine/Combine PerKey/tests.py
  learning/katas/python/Core Transforms/Combine/CombineFn/task-remote-info.yaml
  learning/katas/python/Core Transforms/Combine/CombineFn/tests.py
  learning/katas/python/Core Transforms/Combine/Simple Function/task-remote-info.yaml
  learning/katas/python/Core Transforms/Combine/Simple Function/tests.py
  learning/katas/python/Core Transforms/Composite Transform/Composite Transform/task-remote-info.yaml
  learning/katas/python/Core Transforms/Composite Transform/Composite Transform/tests.py
  learning/katas/python/Core Transforms/Flatten/Flatten/task-remote-info.yaml
  learning/katas/python/Core Transforms/Flatten/Flatten/tests.py
  learning/katas/python/Core Transforms/GroupByKey/GroupByKey/task-remote-info.yaml
  learning/katas/python/Core Transforms/GroupByKey/GroupByKey/tests.py
  learning/katas/python/Core Transforms/Map/FlatMap/task-remote-info.yaml
  learning/katas/python/Core Transforms/Map/FlatMap/tests.py
  learning/katas/python/Core Transforms/Map/Map/task-remote-info.yaml
  learning/katas/python/Core Transforms/Map/Map/tests.py
  learning/katas/python/Core Transforms/Map/ParDo OneToMany/task-remote-info.yaml
  learning/katas/python/Core Transforms/Map/ParDo OneToMany/tests.py
  learning/katas/python/Core Transforms/Map/ParDo/task-remote-info.yaml
  learning/katas/python/Core Transforms/Map/ParDo/tests.py
  learning/katas/python/Core Transforms/Partition/Partition/task-remote-info.yaml
  learning/katas/python/Core Transforms/Partition/Partition/tests.py
  learning/katas/python/Core Transforms/Side Input/Side Input/task-remote-info.yaml
  learning/katas/python/Core Transforms/Side Input/Side Input/tests.py
  learning/katas/python/Core Transforms/Side Output/Side Output/task-remote-info.yaml
  learning/katas/python/Core Transforms/Side Output/Side Output/tests.py
  learning/katas/python/Examples/Word Count/Word Count/task-remote-info.yaml
  learning/katas/python/Examples/Word Count/Word Count/tests.py
  learning/katas/python/IO/TextIO/ReadFromText/task-remote-info.yaml
  learning/katas/python/IO/TextIO/ReadFromText/tests.py
  learning/katas/python/Introduction/Hello Beam/Hello Beam/task-remote-info.yaml
  learning/katas/python/Introduction/Hello Beam/Hello Beam/tests.py
  learning/katas/python/Windowing/Adding Timestamp/ParDo/task-remote-info.yaml
  learning/katas/python/Windowing/Adding Timestamp/ParDo/tests.py
  learning/katas/python/Windowing/Fixed Time Window/Fixed Time Window/task-remote-info.yaml
  learning/katas/python/Windowing/Fixed Time Window/Fixed Time Window/tests.py
  learning/katas/python/course-remote-info.yaml
Labels: learning

#11272 [BEAM-9641] Support ZetaSQL DATE type as a Beam LogicalType
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/Date.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/SqlTypes.java
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/SchemaUtils.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamCalcRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamEnumerableConverter.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/schema/BeamTableUtils.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/utils/CalciteUtils.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamComplexTypeTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlCastTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlCliTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlDslSqlStdOperatorsTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/integrationtest/BeamSqlDateFunctionsIntegrationTest.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlStdOperatorMappingTable.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/TestInput.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlUtils.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11708 [BEAM-9577] Artifact v2 support for uber jars.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/ClassLoaderFileSystem.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/ClassLoaderFileSystemTest.java
  sdks/python/apache_beam/runners/portability/abstract_job_service.py
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server.py
  sdks/python/apache_beam/runners/portability/local_job_service_test.py
  sdks/python/apache_beam/runners/portability/spark_uber_jar_job_server.py
  sdks/python/apache_beam/runners/portability/spark_uber_jar_job_server_test.py
Labels: java, python

#11528 [BEAM-9821] Populate all SpannerIO batching parameters in display data.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOWriteTest.java
Labels: gcp, io, java

#11748 [BEAM-9339] Ensure that Dataflow's pipeline proto also contains the capabilities
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
Labels: dataflow, runners

#10946 [BEAM-9363] TUMBLE as TVF
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/planner/BeamRuleSets.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamTableFunctionScanRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rule/BeamTableFunctionScanRule.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/utils/TVFStreamingUtils.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlAnalyzer.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlWindowTableFunction.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/QueryStatementConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/TVFScanConverter.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: build, extensions, java, sql

#11691 [BEAM-2530] Sql precommit compile and run on java 11
  .test-infra/jenkins/job_PreCommit_SQL_Java11.groovy
  build.gradle
Labels: build, infra

#11751 Updated Flink runner version in NEXMark documentation
  website/www/site/content/en/documentation/sdks/java/testing/nexmark.md
Labels: website

#11752 Upgrade Dataflow Python container versions.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#11039 [BEAM-9383] Staging Dataflow artifacts from environment
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/GcsStager.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/PackageUtil.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/Stager.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/util/GCSUploadMain.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/util/PackageUtilTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ZipFiles.java
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: core, dataflow, java, model, portability, python, runners

#11350 [BEAM-1589] Added @OnWindowExpiration annotation.
  runners/apex/build.gradle
  runners/core-java/src/main/java/org/apache/beam/runners/core/DoFnRunner.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/LateDataDroppingDoFnRunner.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/ReduceFnContextFactory.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/StatefulDoFnRunner.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/triggers/TriggerStateMachineContextFactory.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/SimplePushbackSideInputDoFnRunnerTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/triggers/TriggerStateMachineTester.java
  runners/flink/flink_runner.gradle
  runners/flink/job-server/flink_job_server.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/metrics/DoFnRunnerWithMetricsUpdate.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/stableinput/BufferingDoFnRunner.java
  runners/gearpump/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowProcessFnRunner.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/GroupAlsoByWindowFnRunner.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/SimpleParDoFn.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingKeyedWorkItemSideInputDoFnRunner.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingSideInputDoFnRunner.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternals.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/UserParDoFnFactoryTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/fn/control/BeamFnMapTaskExecutorTest.java
  runners/jet/build.gradle
  runners/samza/build.gradle
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/DoFnRunnerWithMetrics.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/DoFnRunnerWithKeyedInternals.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaDoFnRunners.java
  runners/spark/build.gradle
  runners/spark/job-server/build.gradle
  runners/spark/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnRunnerWithMetrics.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/DoFnRunnerWithMetrics.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/Timers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesOnWindowExpiration.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignature.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: apex, build, core, dataflow, flink, gearpump, java, jet, runners, samza, spark

#11674 [BEAM-9958] Linkage Checker to use exclusion files as baseline
  build.gradle
  sdks/java/build-tools/beam-linkage-check.sh
Labels: build, java

#11532 [BEAM-9822] Disable grouping when streaming
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOWriteTest.java
Labels: gcp, io, java

#11437 [BEAM-9770] Add BigQueryIO deadletter pattern
  examples/java/src/main/java/org/apache/beam/examples/snippets/Snippets.java
  sdks/python/apache_beam/examples/snippets/snippets.py
Labels: examples, java, python, website

#11747 [BEAM-9951] Using the builder pattern for Go synthetic config frontend
  sdks/go/pkg/beam/io/synthetic/source.go
  sdks/go/pkg/beam/io/synthetic/source_test.go
  sdks/go/pkg/beam/io/synthetic/step.go
  sdks/go/pkg/beam/io/synthetic/step_test.go
Labels: go, io

#11740 [BEAM-8019] Prevent Dataflow from starting multiple containers for the same image
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python

#11737 [BEAM-9984] Support BIT_OR aggregation function in Beam SQL
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/transform/BeamBuiltinAggregations.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlDslAggregationTest.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SqlStdOperatorMappingTable.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLDialectSpecTest.java
Labels: extensions, java, sql

#11750 [BEAM-9900] Fix polling behavior in UnboundedSourceWrapper
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapper.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapperTest.java
Labels: flink, runners

#11274 [BEAM-9633] Add PubsubIO performance test
  .test-infra/jenkins/CommonTestProperties.groovy
  .test-infra/jenkins/LoadTestsBuilder.groovy
  .test-infra/jenkins/job_PerformanceTests_PubsubIO_Python.groovy
  sdks/python/apache_beam/io/gcp/pubsub_io_perf_test.py
  sdks/python/apache_beam/io/gcp/tests/pubsub_matcher.py
  sdks/python/apache_beam/testing/benchmarks/chicago_taxi/preprocess.py
  sdks/python/apache_beam/testing/benchmarks/chicago_taxi/process_tfma.py
  sdks/python/apache_beam/testing/benchmarks/chicago_taxi/tfdv_analyze_and_validate.py
  sdks/python/apache_beam/testing/load_tests/build.gradle
  sdks/python/apache_beam/testing/load_tests/load_test.py
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
Labels: build, gcp, infra, io, python

#11596 [BEAM-9856] Optimization/hl7v2 io list messages
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2MessageCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareIOErrorCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7V2MessagePagesTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IOReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IOTestUtil.java
Labels: gcp, io, java

#11755 [BEAM-10038] Add script to mass-comment Jenkins triggers on PR
  release/src/main/scripts/mass_comment.py
  release/src/main/scripts/verify_release_build.sh
  website/www/site/content/en/contribute/release-guide.md
Labels: build, website

#11575 [BEAM-9699] Add test verifying we can use ZetaSQL in Python SqlTransform
  sdks/java/extensions/sql/expansion-service/build.gradle
  sdks/java/extensions/sql/expansion-service/src/main/java/org/apache/beam/sdk/extensions/sql/expansion/ExternalSqlTransformRegistrar.java
  sdks/java/extensions/sql/expansion-service/src/main/java/org/apache/beam/sdk/extensions/sql/expansion/package-info.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/SqlTransform.java
  sdks/python/apache_beam/transforms/sql.py
  sdks/python/apache_beam/transforms/sql_test.py
Labels: build, dataflow, extensions, flink, java, model, python, runners, sql
