Repository apache/beam, pull requests merged in 2021-06, with the labels that each got.

#13724 Add a blog post on how to perform release validations
  website/www/site/content/en/blog/validate-beam-release.md
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#11296 [BEAM-9640] Sketching watermark tracking on FnApiRunner
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/visualization_tools.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/watermark_manager.py
Labels: python

#13645 [BEAM-11289] [Java] Integrate Google Cloud Recommendations AI functio…
  sdks/java/extensions/ml/build.gradle
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAICreateCatalogItem.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIIO.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIImportCatalogItems.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIImportUserEvents.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIPredict.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIWriteUserEvent.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/DelegatingAtomicCoder.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/GenericJsonCoder.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/RecommendationAICatalogItemIT.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/RecommendationAIPredictIT.java
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/RecommendationAIUserEventIT.java
Labels: build, extensions, java
