Repository apache/beam, pull requests merged in 2021-02, with the labels that each got.

#13723 [BEAM-11736] Propagate pipeline options to direct runner
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
Labels: python

#13681 [BEAM-11531] Allow pandas <1.3.0
  sdks/python/apache_beam/dataframe/schemas.py
  sdks/python/apache_beam/dataframe/schemas_test.py
  sdks/python/setup.py
Labels: python

#13511 [BEAM-11372-11371-11369][Website revamp] Implemented community and contact us pages, navbar on mobiles
  website/www/site/assets/icons/community/bee-icon.svg
  website/www/site/assets/icons/community/box-icon.svg
  website/www/site/assets/icons/community/calendar-icon.svg
  website/www/site/assets/icons/community/contact-us/bug.svg
  website/www/site/assets/icons/community/contact-us/discussion.svg
  website/www/site/assets/icons/community/contact-us/gitArrows.svg
  website/www/site/assets/icons/community/contact-us/knot.svg
  website/www/site/assets/icons/community/contact-us/messages.svg
  website/www/site/assets/icons/community/contact-us/notification.svg
  website/www/site/assets/icons/community/contact-us/question-mark.svg
  website/www/site/assets/icons/community/envelope-icon.svg
  website/www/site/assets/icons/community/message-icon.svg
  website/www/site/assets/scss/_global.sass
  website/www/site/assets/scss/_hero.scss
  website/www/site/assets/scss/_lists.scss
  website/www/site/assets/scss/_navbar-desktop.scss
  website/www/site/assets/scss/_navbar-mobile.sass
  website/www/site/assets/scss/_search.scss
  website/www/site/assets/scss/_section-nav.sass
  website/www/site/assets/scss/_table-wrapper.sass
  website/www/site/assets/scss/_table-wrapper.scss
  website/www/site/assets/scss/_typography.scss
  website/www/site/assets/scss/bootstrap/_navbar.scss
  website/www/site/assets/scss/main.scss
  website/www/site/content/en/community/_index.md
  website/www/site/content/en/community/contact-us.md
  website/www/site/data/authors.yml
  website/www/site/data/en/community_list.yaml
  website/www/site/data/en/contact_us.yaml
  website/www/site/i18n/navbar/en.yaml
  website/www/site/layouts/partials/head.html
  website/www/site/layouts/partials/header.html
  website/www/site/layouts/partials/section-menu/en/community.html
  website/www/site/layouts/shortcodes/community/list_with_icons.html
  website/www/site/layouts/shortcodes/community/table_with_icons.html
  website/www/site/static/images/beam_logo_navbar_mobile.png
  website/www/site/static/js/section-nav.js
Labels: website

#13718 [BEAM-11518-11509-11470][Website revamp] Implemented searchbar, join beam page and navigations
  website/www/site/assets/icons/close-icon.svg
  website/www/site/assets/icons/edit-icon.svg
  website/www/site/assets/icons/search-icon.svg
  website/www/site/assets/scss/_global.sass
  website/www/site/assets/scss/_hero-mobile.scss
  website/www/site/assets/scss/_lists.scss
  website/www/site/assets/scss/_media.scss
  website/www/site/assets/scss/_navbar-mobile.sass
  website/www/site/assets/scss/_page-nav.sass
  website/www/site/assets/scss/_page-nav.scss
  website/www/site/assets/scss/_search.scss
  website/www/site/assets/scss/_section-nav.scss
  website/www/site/assets/scss/main.scss
  website/www/site/content/en/community/join-beam.md
  website/www/site/data/en/join_beam.yaml
  website/www/site/layouts/partials/head.html
  website/www/site/layouts/partials/section-menu/en/community.html
  website/www/site/layouts/shortcodes/community/join_beam_columns.html
  website/www/site/static/images/arrow-expandable.svg
  website/www/site/static/images/ellipse-mobile.svg
  website/www/site/static/images/ellipse.svg
  website/www/site/static/js/hero/hero-mobile.js
  website/www/site/static/js/page-nav.js
  website/www/site/static/js/section-nav.js
Labels: build, extensions, go, java, sql, website

#13606 [BEAM-11519] Adding PYPI_INSTALL_REQ role and SDK container support
  model/pipeline/src/main/proto/beam_runner_api.proto
  sdks/go/container/boot.go
  sdks/go/pkg/beam/artifact/materialize.go
  sdks/go/pkg/beam/artifact/materialize_test.go
  sdks/go/pkg/beam/core/runtime/xlangx/resolve.go
  sdks/java/container/boot.go
  sdks/python/container/boot.go
Labels: docker, go, java, model, python

#12995 [BEAM-2914] Add portable merging window support to Python.
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python

#13523 Simplify LateDataDropping runner.
  runners/core-java/src/main/java/org/apache/beam/runners/core/LateDataDroppingDoFnRunner.java
Labels: core, runners

#13607 [BEAM-11520] Stage extra PyPI dependencies with generated requirements
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/runners/portability/stager_test.py
  sdks/python/apache_beam/transforms/environments.py
Labels: docker, go, java, model, python

#13558 [BEAM-11494][BEAM-11821] FileIO stops overwriting files on retries
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSink.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystems.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/fs/MatchResult.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/fs/MoveOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/storage/GcsFileSystem.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/s3/S3FileSystem.java
  sdks/java/io/azure/src/main/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystem.java
Labels: java

#13483 [BEAM-11800] Support ARRAY_AGG fn for Zetasql dialect
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/udaf/ArrayAgg.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SupportedZetaSqlBuiltinFunctions.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlOperatorMappingTable.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlOperators.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
Labels: extensions, java, sql

#13694 Remove redundant or inappropriate pieces of the capability matrix
  website/www/site/data/capability_matrix.yaml
  website/www/site/layouts/shortcodes/capability-matrix.html
Labels: website
