Repository apache/beam, pull requests merged in 2021-01, with the labels that each got.

#13627 [release-2.27.0][BEAM-11524] Fix WriteStringsToPubSub, remove usages in examples
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  sdks/python/apache_beam/examples/sql_taxi.py
  sdks/python/apache_beam/io/gcp/pubsub.py
  sdks/python/apache_beam/io/gcp/pubsub_test.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/setup.py
Labels: examples, gcp, io, python

#13639 [BEAM-11526] Add Beam schema support for ParquetIO reads.
  sdks/java/io/parquet/src/main/java/org/apache/beam/sdk/io/parquet/ParquetIO.java
  sdks/java/io/parquet/src/test/java/org/apache/beam/sdk/io/parquet/ParquetIOTest.java
Labels: io, java, parquet

#13543 [BEAM-11457] Add option to skip key-value clone
  CHANGES.md
  sdks/java/io/hadoop-format/src/main/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIO.java
  sdks/java/io/hadoop-format/src/test/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIOReadTest.java
Labels: hadoop, io, java

#12973 [BEAM-10234] Create ApproximateDistinct using HLL Impl
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/ApproximateUnique.java
  sdks/java/extensions/zetasketch/src/main/java/org/apache/beam/sdk/extensions/zetasketch/ApproximateCountDistinct.java
  sdks/java/extensions/zetasketch/src/test/java/org/apache/beam/sdk/extensions/zetasketch/ApproximateCountDistinctTest.java
Labels: extensions, java, zetasketch

#13653 [BEAM-10234] Reverts apache/beam#12973 Create ApproximateDistinct using HLL Impl
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/ApproximateUnique.java
  sdks/java/extensions/zetasketch/src/main/java/org/apache/beam/sdk/extensions/zetasketch/ApproximateCountDistinct.java
  sdks/java/extensions/zetasketch/src/test/java/org/apache/beam/sdk/extensions/zetasketch/ApproximateCountDistinctTest.java
Labels: extensions, java, zetasketch

#13659 Replace . with ; in schema programming guide snippet
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#13646 [BEAM-11526] Cleanup Code for Schema support
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroIO.java
  sdks/java/io/parquet/src/main/java/org/apache/beam/sdk/io/parquet/GenericRecordReadConverter.java
  sdks/java/io/parquet/src/main/java/org/apache/beam/sdk/io/parquet/ParquetIO.java
  sdks/java/io/parquet/src/main/java/org/apache/beam/sdk/io/parquet/ParquetSchemaIOProvider.java
  sdks/java/io/parquet/src/test/java/org/apache/beam/sdk/io/parquet/GenericRecordToRowTest.java
  sdks/java/io/parquet/src/test/java/org/apache/beam/sdk/io/parquet/ParquetIOTest.java
Labels: io, java, parquet

#13655 [BEAM-10324] Create ApproximateDistinct using HLL Impl
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/ApproximateUnique.java
  sdks/java/extensions/zetasketch/src/main/java/org/apache/beam/sdk/extensions/zetasketch/ApproximateCountDistinct.java
  sdks/java/extensions/zetasketch/src/test/java/org/apache/beam/sdk/extensions/zetasketch/ApproximateCountDistinctTest.java
Labels: extensions, java, zetasketch

#13638 [BEAM-8829] only drop event_timestamp when it exists
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/RowToPubsubMessage.java
Labels: gcp, io, java

#13633 [BEAM-9541] Use a single source of truth for latest Flink version in Gradle tasks.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  examples/java/build.gradle
  examples/kotlin/build.gradle
  gradle.properties
  runners/flink/flink_runner.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  sdks/go/test/build.gradle
  sdks/java/maven-archetypes/examples/build.gradle
  sdks/java/testing/jpms-tests/build.gradle
  sdks/python/test-suites/portable/common.gradle
Labels: build, examples, flink, go, java, kotlin, python, runners

#13670 [BEAM-11569] Clone ad-m/github-push-action into Beam repository to comply with Apache security requirements
  .github/actions/github-push-action/LICENSE
  .github/actions/github-push-action/README.md
  .github/actions/github-push-action/action.yml
  .github/actions/github-push-action/start.js
  .github/actions/github-push-action/start.sh
  .github/workflows/build_wheels.yml
Labels: build

#13674 [BEAM-11569] Enabling wheels to be built using Apache-based workflow
  .github/workflows/build_wheels.yml
Labels: build

#13652 [BEAM-11512] Fix sdk.properties caching, remove timestamp
  build.gradle
  sdks/java/core/build.gradle
  sdks/java/core/src/main/resources/org/apache/beam/sdk/sdk.properties
Labels: build, java

#13677 [BEAM-11569] Building wheels with airflow-clone of github-push action
  .github/actions/github-push-action/LICENSE
  .github/actions/github-push-action/README.md
  .github/actions/github-push-action/action.yml
  .github/actions/github-push-action/start.js
  .github/actions/github-push-action/start.sh
  .github/workflows/build_wheels.yml
Labels: build

#13604 Fix for Java container release
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#13679 [BEAM-11569] Fixing cancel workflows
  .github/workflows/cancel.yml
Labels: build

#13678 [BEAM-11415] Add Dataflow Runner to new Go ValidatesRunner framework.
  sdks/go/pkg/beam/testing/ptest/ptest.go
  sdks/go/test/build.gradle
  sdks/go/test/integration/integration.go
  sdks/go/test/run_validatesrunner_tests.sh
Labels: build, go

#13683 [BEAM-11415] Adds documentation to integration package.
  sdks/go/test/integration/integration.go
Labels: go

#13693 [BEAM-11580] Add disk_size_gb flag for Go SDK.
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go
Labels: dataflow, go, runners

#12963 [BEAM-10983] Add getting started from Spark page
  website/www/site/content/en/get-started/beam-overview.md
  website/www/site/content/en/get-started/from-spark.md
  website/www/site/layouts/partials/section-menu/en/get-started.html
Labels: website

#13515 Clarify some assertions
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python

#13589 [BEAM-11504] Clean up direct runner parallelism section.
  website/www/site/content/en/documentation/runners/direct.md
Labels: website

#13620 [BEAM-11419] Update Flink supported versions in the website
  website/www/site/content/en/documentation/runners/flink.md
Labels: website

#13696 Revert "[BEAM-11474] Track transform processing thread in Java SDK harness and set log entry field"
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/TransformProcessingThreadTracker.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
Labels: java

#13672 [BEAM-1833] Give transforms more control over the names of their inputs and outputs.
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/transforms/ptransform.py
Labels: python

#13697 [BEAM-11582] Merge website/.gitignore into .gitignore
  .gitignore
  website/.gitignore
Labels: build, website

#13698 Correct the license in website package.json file
  website/www/package.json
Labels: website

#13640 [BEAM-11543] Increase Spanner streaming read timeout to 2 hours
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
Labels: gcp, io, java

#13435 [BEAM-11358] Remove unused endOfStreamMonitor from nexmark and remove redundant distributions from monitor
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/Monitor.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkLauncher.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/queries/NexmarkQuery.java
Labels: core, java, runners

#13410 [BEAM-11327] Replace Charset.defaultCharset() with StandardCharsets.UTF_8
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPortableClientEntryPoint.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/logging/JulHandlerPrintStreamAdapterFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/logging/JulHandlerPrintStreamAdapterFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/ProcessManagerTest.java
  sdks/java/build-tools/src/main/resources/beam/checkstyle.xml
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/AutoValueSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaBeanSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaFieldSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtilsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/POJOUtilsTest.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GceMetadataUtil.java
  sdks/java/extensions/schemaio-expansion-service/src/test/java/org/apache/beam/sdk/extensions/schemaio/expansion/ExternalSchemaIOTransformRegistrarTest.java
  sdks/java/extensions/sorter/src/test/java/org/apache/beam/sdk/extensions/sorter/ExternalSorterBenchmark.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/EntityToRowRowToEntityTest.java
  sdks/java/io/hadoop-format/src/test/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIOCassandraTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/KeyPairUtils.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/crosslanguage/ReadBuilder.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeBatchServiceImpl.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/FakeSnowflakeStreamingServiceImpl.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/TestUtils.java
  sdks/java/io/solr/src/test/java/org/apache/beam/sdk/io/solr/SolrIOTest.java
Labels: build, dataflow, extensions, flink, fn-execution, gcp, google-cloud-platform-core, hadoop, io, java, kafka, runners, solr, sorter

#13682 [BEAM-11579] Specify flink_job_server_jar instead of using default.
  sdks/python/test-suites/portable/common.gradle
Labels: python

#13605 [BEAM-11508] Set sdkHarnessContainerImages in workerpool configuratio…
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
Labels: dataflow, runners

#13701 [BEAM-11327] Update JulHandler with Charset.defaultCharset()
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/logging/DataflowWorkerLoggingInitializer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/logging/JulHandlerPrintStreamAdapterFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/logging/JulHandlerPrintStreamAdapterFactoryTest.java
Labels: dataflow, runners

#13602 Adding website update for release 2.27.0
  website/www/site/config.toml
  website/www/site/content/en/get-started/downloads.md
  website/www/site/static/.htaccess
Labels: website

#13703 Fixing script for Java8/Java11 docker container push
  release/src/main/scripts/publish_docker_images.sh
Labels: build

#13603 Add 2.27.0 blog post, and update CHANGES.md
  CHANGES.md
  website/www/site/content/en/blog/beam-2.27.0.md
Labels: website

#13708 Update the blog date for 2.27
  website/www/site/content/en/blog/beam-2.27.0.md
Labels: website

#13700 [BEAM-11584] Upgrade junit to version 4.13.1
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#13713 [BEAM-8493] Add test to standard double coder
  sdks/go/pkg/beam/core/graph/coder/double_test.go
Labels: go

#13712 [BEAM-11588] Fix the dependency
  sdks/python/setup.py
Labels: python

#13699 Update Dataflow worker harness container image version.
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, dataflow, runners

#13711 [BEAM-11586] Fix on-demand pulling of Java container licenses
  sdks/java/container/build.gradle
  sdks/java/container/common.gradle
Labels: build, docker, java

#13691 Add version and sdk_version as inputs to ProcessResources task.
  sdks/java/core/build.gradle
  sdks/java/core/src/main/resources/org/apache/beam/sdk/sdk.properties
Labels: build, java

#13721 [BEAM-11588] Move forward jupyter-client version.
  sdks/python/setup.py
Labels: python

#13719 [BEAM-10402] Trigger#subTriggers might return null
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/windowing/Trigger.java
Labels: java

#13239 Update doc/examples: BigQuerySource to ReadFromBigQuery
  sdks/python/apache_beam/examples/cookbook/bigquery_side_input.py
  sdks/python/apache_beam/examples/cookbook/filters.py
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/io/gcp/bigquery.py
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: examples, gcp, io, python, website

#13702 [BEAM-11474] Set log entry transform id with best effort in Java SDK harness
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateTracker.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
Labels: core, java, runners

#13727 Revert "Update Dataflow worker harness container image version."
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, dataflow, runners

#13705 [BEAM-11531] Remove transform implementation
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#13704 [BEAM-11531] Skip some DataFrame tests that are broken in pandas 1.2.0
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#13434 [BEAM-11357] Add annotations to PTransforms and enable them in Go SDK
  model/pipeline/src/main/proto/beam_runner_api.proto
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/metrics.pb.go
  sdks/go/pkg/beam/pardo_test.go
Labels: go, model

#13731 [BEAM-11533] PubSub support Beam DATETIME (SQL TIMESTAMP) type
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJson.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJsonValueExtractors.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/RowJsonTest.java
Labels: java

#13690 [BEAM-10961] Make plugins' transitive dependencies compileOnly dependencies.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#13726 [BEAM-11622]Change the input type of FHIR Search to KV<String, Map<String, Object>>
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOSearchIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOTest.java
Labels: gcp, io, java

#13720 [BEAM-11604] Fix translate.go to prevent panic
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
Labels: go

#13716 [BEAM-11594] Upgrade gradle to version 6.8
  gradle/wrapper/gradle-wrapper.properties
Labels: build

#13635 [BEAM-11538] Add a Deque Encoder
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/DequeCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/CoderProperties.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Create.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/DequeCoderTest.java
Labels: java

#13668 [BEAM-10961] Enabled strict dependency on Spark
  runners/spark/build.gradle
  runners/spark/job-server/build.gradle
Labels: build, runners, spark

#13665 [BEAM-10961] Enabled strict dependency on Local Java
  runners/local-java/build.gradle
Labels: build, local, runners

#13692 [BEAM-11461] update tox and simplify tox.ini
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/tox.ini
Labels: build, python

#13654 [BEAM-10961] Enabled strict dependency on Core Java runner
  runners/core-java/build.gradle
Labels: build, core, runners

#13669 [BEAM-10961] Enabled strict dependency on Twister2
  runners/twister2/build.gradle
Labels: build, runners, twister2

#13687 [BEAM-10961] Enabled strict dependencies on sdks-fn-execution and sdks-harness
  sdks/java/fn-execution/build.gradle
  sdks/java/harness/build.gradle
Labels: build, java

#13650 [BEAM-10961] Enabled strict dependency on core-construction runner module
  runners/core-construction-java/build.gradle
Labels: build, core, runners

#13657 [BEAM-10961] Enabled strict dependency in metrics extension library
  runners/extensions-java/metrics/build.gradle
Labels: build, extensions-java, runners

#13662 [BEAM-10961] Enabled strict dependencies on java-job-service
  runners/java-job-service/build.gradle
Labels: build, runners

#13661 [BEAM-10961] Enabled Strict dependency on Fn-execution Runner
  runners/java-fn-execution/build.gradle
Labels: build, fn-execution, runners

#13710 [BEAM-11325] ReadFromKafkaDoFn should stop reading when topic/partition is removed or marked as stopped
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: io, java, kafka

#13667 [BEAM-10961] Enabled strict dependencies on samza
  runners/samza/build.gradle
  runners/samza/job-server/build.gradle
Labels: build, runners, samza

#12852 [BEAM-10890] Log error counts to debug BigQuery streaming insert requ…
  model/pipeline/src/main/proto/metrics.proto
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerImpl.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoConstants.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricsLogger.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/LatencyRecordingHttpRequestInitializer.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingWriteFn.java
Labels: core, dataflow, extensions, gcp, google-cloud-platform-core, io, java, runners

#13666 [BEAM-10961] Enabled strict Dependency on Portability
  runners/portability/java/build.gradle
Labels: build, portability, runners

#13649 [BEAM-10961] Enabled strict dependencies on example module
  examples/java/build.gradle
  examples/kotlin/build.gradle
Labels: build, examples, java, kotlin

#13685 [BEAM-10961] enabled strict dependency on sdks-core and sdks-expansion-service
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/core/build.gradle
  sdks/java/expansion-service/build.gradle
Labels: build, docker, java

#13689 [BEAM-10961] Enabled strict dependency on SDKS-Testing
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/testing/expansion-service/build.gradle
  sdks/java/testing/jpms-tests/build.gradle
  sdks/java/testing/kafka-service/build.gradle
  sdks/java/testing/load-tests/build.gradle
  sdks/java/testing/nexmark/build.gradle
  sdks/java/testing/test-utils/build.gradle
Labels: build, java

#13663 [BEAM-10961] Enabled strict dependency on Jet Runner
  runners/jet/build.gradle
Labels: build, jet, runners

#13722 [BEAM-11570] Disable classloader check for [auto] mode.
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
Labels: flink, runners

#13656 [BEAM-10961] Enabled strict dependency on Direct Java runner
  runners/direct-java/build.gradle
Labels: build, direct, runners

#13637 [BEAM-11542] Add support for projecting GroupBy objects
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#13675 [BEAM-9541] Jenkins tests use latest Flink version (1.12).
  .test-infra/jenkins/CommonTestProperties.groovy
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_PortableValidatesRunner_Flink_Batch.groovy
  .test-infra/jenkins/job_PostCommit_Java_PortableValidatesRunner_Flink_Streaming.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Flink_Java11.groovy
  .test-infra/jenkins/job_Publish_Docker_Snapshots.groovy
Labels: flink, infra, runners

#13636 [BEAM-11411] [BEAM-11410] Kafka to pub sub E2E test
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  examples/java/build.gradle
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/KafkaToPubsub.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/kafka/consumer/Utils.java
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/options/KafkaToPubsubOptions.java
  examples/java/src/test/java/org/apache/beam/examples/complete/kafkatopubsub/KafkaToPubsubE2ETest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/TestPubsub.java
Labels: build, examples, gcp, io, java

#13695 [BEAM-11581] Start ExecutionStateSampler in Java SDK harness before d…
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
Labels: java

#12647 [BEAM-10378] Deserializing Azure Credentials
  sdks/java/io/azure/src/main/java/org/apache/beam/sdk/io/azure/blobstore/DefaultBlobstoreClientBuilderFactory.java
  sdks/java/io/azure/src/main/java/org/apache/beam/sdk/io/azure/options/AzureModule.java
  sdks/java/io/azure/src/main/java/org/apache/beam/sdk/io/azure/options/BlobstoreOptions.java
Labels: io, java

#13591 [BEAM-10112] Add more state and timer python examples to website
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#13629 [BEAM-10925] Load SQL UDFs from jar.
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/JavaUdfLoader.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/JavaUdfLoaderTest.java
  sdks/java/extensions/sql/udf-test-provider/build.gradle
  sdks/java/extensions/sql/udf-test-provider/src/main/java/org/apache/beam/sdk/extensions/sql/provider/UdfTestProvider.java
  sdks/java/extensions/sql/udf-test-provider/src/main/java/org/apache/beam/sdk/extensions/sql/provider/package-info.java
  settings.gradle
Labels: build, extensions, java, sql

#13355 [BEAM-11272] Fix combiner label constructor arg
  sdks/python/apache_beam/transforms/combiners.py
Labels: python

#13658 [BEAM-10961] Enabled strict dependency on flink runner
  runners/flink/1.10/job-server/build.gradle
  runners/flink/1.11/job-server/build.gradle
  runners/flink/1.12/job-server/build.gradle
  runners/flink/1.8/job-server/build.gradle
  runners/flink/1.9/job-server/build.gradle
  runners/flink/flink_runner.gradle
Labels: build, flink, runners

#13706 [BEAM-11531] Add pd.to_datetime, handle DeferredBase args in _defer_to_pandas
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
  sdks/python/apache_beam/dataframe/pandas_top_level_functions.py
Labels: python

#13496 [BEAM-11408] Integrate BigQuery sink streaming inserts with GroupIntoBatches
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchedStreamingWrite.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingInserts.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingWriteFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingWriteTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TagWithUniqueIds.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: gcp, io, java

#13569 [BEAM-11698] Implementation of bit_xor for Zetasql dialect
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/transform/BeamBuiltinAggregations.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/SupportedZetaSqlBuiltinFunctions.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlOperatorMappingTable.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/SqlOperators.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
Labels: extensions, java, sql

#13684 [BEAM-11415] Enabling new ValidatesRunner framework on Jenkins.
  build.gradle
  sdks/go/test/integration/xlang/xlang_test.go
  sdks/go/test/run_validatesrunner_tests.sh
Labels: build, go
