Repository apache/beam, pull requests merged in 2021-04, with the labels that each got.

#13644 [BEAM-11544] BQML pattern
  website/www/site/content/en/documentation/patterns/bqml.md
  website/www/site/content/en/documentation/patterns/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website

#13642 [BEAM-11546] Cross-language pipeline pattern
  website/www/site/content/en/documentation/patterns/cross-language.md
  website/www/site/content/en/documentation/patterns/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website

#13492 [BEAM-2888]-GSoD: Script to generate data for capability matrix
  .test-infra/validate-runner/README.md
  .test-infra/validate-runner/build.gradle
  .test-infra/validate-runner/src/main/java/org/apache/beam/validate/runner/Main.java
  .test-infra/validate-runner/src/main/java/org/apache/beam/validate/runner/model/CaseResult.java
  .test-infra/validate-runner/src/main/java/org/apache/beam/validate/runner/model/Configuration.java
  .test-infra/validate-runner/src/main/java/org/apache/beam/validate/runner/model/SuiteResult.java
  .test-infra/validate-runner/src/main/java/org/apache/beam/validate/runner/model/TestResult.java
  .test-infra/validate-runner/src/main/java/org/apache/beam/validate/runner/service/ModeTestService.java
  .test-infra/validate-runner/src/main/java/org/apache/beam/validate/runner/service/TestService.java
  .test-infra/validate-runner/src/main/java/org/apache/beam/validate/runner/util/CategoryRetriever.java
  .test-infra/validate-runner/src/main/java/org/apache/beam/validate/runner/util/FileReaderUtil.java
  .test-infra/validate-runner/src/main/resources/configuration.yaml
  .test-infra/validate-runner/src/main/resources/log4j.properties
  settings.gradle.kts
Labels: build, infra

#14622 [BEAM-8357] Upgrading auto-value to 1.8.1 from 1.8
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: java

#13617 [BEAM-11289] [Python] Integrate Google Cloud Recommendations AI functionality
  sdks/python/apache_beam/ml/gcp/recommendations_ai.py
  sdks/python/apache_beam/ml/gcp/recommendations_ai_test.py
  sdks/python/apache_beam/ml/gcp/recommendations_ai_test_it.py
  sdks/python/setup.py
Labels: python
