Repository apache/beam, pull requests merged in 2022-09, with the labels that each got.

#22899 Make RowTypeConstraint callable, test nested optional row in schemas and RowCoder
  sdks/python/apache_beam/coders/row_coder_test.py
  sdks/python/apache_beam/typehints/row_type.py
  sdks/python/apache_beam/typehints/schemas_test.py
Labels: python

#22988 Move Go examples under the cookbook directory to generic registration
  sdks/go/examples/cookbook/combine/combine.go
  sdks/go/examples/cookbook/filter/filter.go
  sdks/go/examples/cookbook/join/join.go
  sdks/go/examples/cookbook/max/max.go
  sdks/go/examples/cookbook/tornadoes/tornadoes.go
Labels: go, examples, Next Action: Reviewers

#22942 Improve BQ test utils to support JSON in a more simple manner
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
Labels: java, io, gcp

#22981 [fixes #22980] Migrate BeamFnLoggingClient to the new execution state sampler.
  runners/java-fn-execution/build.gradle
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/ReferenceCountingExecutableStageContextFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ExecutionStateSamplerTest.java
Labels: java, runners, fn-execution

#22616 Add initial read_gbq wrapper
  sdks/python/apache_beam/dataframe/io.py
  sdks/python/apache_beam/dataframe/io_it_test.py
  sdks/python/apache_beam/dataframe/io_test.py
Labels: python, io, gcp, Next Action: Reviewers

#22993 Update proto generation script due to BEAM-13939.
  sdks/typescript/src/apache_beam/proto/beam_artifact_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/beam_artifact_api.ts
  sdks/typescript/src/apache_beam/proto/beam_expansion_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/beam_expansion_api.ts
  sdks/typescript/src/apache_beam/proto/beam_fn_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/beam_fn_api.grpc-server.ts
  sdks/typescript/src/apache_beam/proto/beam_fn_api.ts
  sdks/typescript/src/apache_beam/proto/beam_job_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/beam_job_api.ts
  sdks/typescript/src/apache_beam/proto/beam_provision_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/beam_provision_api.grpc-server.ts
  sdks/typescript/src/apache_beam/proto/beam_provision_api.ts
  sdks/typescript/src/apache_beam/proto/beam_runner_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/beam_runner_api.grpc-server.ts
  sdks/typescript/src/apache_beam/proto/beam_runner_api.ts
  sdks/typescript/src/apache_beam/proto/endpoints.ts
  sdks/typescript/src/apache_beam/proto/external_transforms.ts
  sdks/typescript/src/apache_beam/proto/gen_protos.sh
  sdks/typescript/src/apache_beam/proto/metrics.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.grpc-server.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/fn_execution/v1/beam_provision_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/fn_execution/v1/beam_provision_api.grpc-server.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/fn_execution/v1/beam_provision_api.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/job_management/v1/beam_artifact_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/job_management/v1/beam_artifact_api.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/job_management/v1/beam_expansion_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/job_management/v1/beam_expansion_api.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/job_management/v1/beam_job_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/job_management/v1/beam_job_api.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.grpc-client.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.grpc-server.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/pipeline/v1/endpoints.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/pipeline/v1/external_transforms.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/pipeline/v1/metrics.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/pipeline/v1/schema.ts
  sdks/typescript/src/apache_beam/proto/org/apache/beam/model/pipeline/v1/standard_window_fns.ts
  sdks/typescript/src/apache_beam/proto/schema.ts
  sdks/typescript/src/apache_beam/proto/standard_window_fns.ts
Labels: typescript

#22998 Minor: Fix lint failure
  sdks/python/apache_beam/dataframe/io_it_test.py
Labels: python

#22967 [Tour Of Beam][backend] get unit content
  learning/tour-of-beam/backend/function.go
  learning/tour-of-beam/backend/internal/entity.go
  learning/tour-of-beam/backend/internal/json.go
  learning/tour-of-beam/backend/internal/service/content.go
  learning/tour-of-beam/backend/internal/service/mock.go
  learning/tour-of-beam/backend/internal/storage/datastore.go
  learning/tour-of-beam/backend/internal/storage/iface.go
  learning/tour-of-beam/backend/samples/api/get_unit_content.json
Labels: learning

#22941 Allows to use databaseio with postgres driver
  sdks/go/pkg/beam/io/databaseio/database.go
  sdks/go/pkg/beam/io/databaseio/writer.go
  sdks/go/pkg/beam/io/databaseio/writer_test.go
Labels: go, io, Next Action: Reviewers

#22991 [BEAM-22859] Allow the specification of extra packages for external Python transforms.
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonService.java
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/PythonExternalTransformTest.java
Labels: java, extensions

#22794 [Tour of Beam]: Welcome Screen frontend layout
  build.gradle.kts
  learning/tour-of-beam/README.md
  learning/tour-of-beam/frontend/.metadata
  learning/tour-of-beam/frontend/README.md
  learning/tour-of-beam/frontend/analysis_options.yaml
  learning/tour-of-beam/frontend/assets/png/beam-logo.png
  learning/tour-of-beam/frontend/assets/png/laptop-dark.png
  learning/tour-of-beam/frontend/assets/png/laptop-light.png
  learning/tour-of-beam/frontend/assets/svg/theme-mode.svg
  learning/tour-of-beam/frontend/assets/svg/welcome-progress-0.svg
  learning/tour-of-beam/frontend/assets/translations/en.yaml
  learning/tour-of-beam/frontend/integration_test/app_test.dart
  learning/tour-of-beam/frontend/lib/components/complexity.dart
  learning/tour-of-beam/frontend/lib/components/footer.dart
  learning/tour-of-beam/frontend/lib/components/logo.dart
  learning/tour-of-beam/frontend/lib/components/page_container.dart
  learning/tour-of-beam/frontend/lib/components/sign_in/sign_in_button.dart
  learning/tour-of-beam/frontend/lib/components/sign_in/sign_in_overlay_content.dart
  learning/tour-of-beam/frontend/lib/components/toggle_theme_button.dart
  learning/tour-of-beam/frontend/lib/config/theme/colors_provider.dart
  learning/tour-of-beam/frontend/lib/config/theme/switch_notifier.dart
  learning/tour-of-beam/frontend/lib/config/theme/theme.dart
  learning/tour-of-beam/frontend/lib/constants/assets.dart
  learning/tour-of-beam/frontend/lib/constants/colors.dart
  learning/tour-of-beam/frontend/lib/constants/links.dart
  learning/tour-of-beam/frontend/lib/constants/sizes.dart
  learning/tour-of-beam/frontend/lib/locator.dart
  learning/tour-of-beam/frontend/lib/main.dart
  learning/tour-of-beam/frontend/lib/pages/welcome/screen.dart
  learning/tour-of-beam/frontend/pubspec.lock
  learning/tour-of-beam/frontend/pubspec.yaml
  learning/tour-of-beam/frontend/test/config/theme/switch_notifier_test.dart
  learning/tour-of-beam/frontend/test_driver/integration_test.dart
  learning/tour-of-beam/frontend/web/favicon.ico
  learning/tour-of-beam/frontend/web/index.html
  learning/tour-of-beam/frontend/web/manifest.json
  playground/frontend/playground_components/.metadata
  playground/frontend/playground_components/CHANGELOG.md
  playground/frontend/playground_components/LICENSE
  playground/frontend/playground_components/README.md
  playground/frontend/playground_components/analysis_options.yaml
  playground/frontend/playground_components/lib/dismissible_overlay.dart
  playground/frontend/playground_components/pubspec.yaml
Labels: build, learning

#22861 Unsickbay testEventTimeTimerSetWithinAllowedLateness test
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#22926 Adding support for Beam Schema Rows with BQ DIRECT_READ
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeJobService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadTest.java
Labels: java, io, gcp, Next Action: Reviewers

#22611 Add java Bigquery IO known issue to beam 2.40 release blogpost
  website/www/site/content/en/blog/beam-2.40.0.md
Labels: website

#23015 [Playground] - Remove authentication step for Example pipeline
  .github/workflows/playground_deploy_examples.yml
Labels: build

#22971 Add run-inference component for autolabeling
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/issue-rules.yml
Labels: build, Next Action: Reviewers

#22722 [Playground] [Infrastructure] Deleting the Cloud Storage Client
  .github/workflows/build_playground_backend.yml
  .github/workflows/build_playground_frontend.yml
  .github/workflows/playground_deploy_examples.yml
  learning/katas/java/Core Transforms/CoGroupByKey/CoGroupByKey/src/org/apache/beam/learning/katas/coretransforms/cogroupbykey/Task.java
  learning/katas/java/Examples/Word Count/Word Count/src/org/apache/beam/learning/katas/examples/wordcount/Task.java
  learning/katas/python/Examples/Word Count/Word Count/task.py
  playground/backend/containers/go/Dockerfile
  playground/backend/containers/go/build.gradle
  playground/backend/containers/java/Dockerfile
  playground/backend/containers/python/Dockerfile
  playground/backend/containers/python/build.gradle
  playground/backend/containers/router/Dockerfile
  playground/backend/containers/router/build.gradle
  playground/backend/containers/scio/Dockerfile
  playground/backend/env_setup.sh
  playground/backend/go.mod
  playground/backend/go.sum
  playground/backend/internal/code_processing/code_processing.go
  playground/backend/internal/code_processing/code_processing_test.go
  playground/backend/internal/fs_tool/fs.go
  playground/backend/internal/preparers/java_preparers.go
  playground/backend/internal/utils/preparers_utils.go
  playground/infrastructure/cd_helper.py
  playground/infrastructure/ci_cd.py
  playground/infrastructure/config.py
  playground/infrastructure/datastore_client.py
  playground/infrastructure/helper.py
  playground/infrastructure/requirements.txt
  playground/infrastructure/test_cd_helper.py
  playground/infrastructure/test_ci_cd.py
  playground/infrastructure/test_datastore_client.py
  playground/infrastructure/test_helper.py
  playground/infrastructure/test_utils.py
Labels: python, java, go, build, model, infra, examples, docker, io, learning, gcp, jdbc, typescript

#23017 Updates Java RunInference to infer Python dependencies when possible
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/transforms/RunInference.java
Labels: java, extensions

#22949 Adding TensorFlow support to the Machine Learning overview page
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#22924 [#19857] Migrate to using a memory aware cache within the Python SDK harness
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
  sdks/python/apache_beam/runners/worker/statecache.py
  sdks/python/apache_beam/runners/worker/statecache_test.py
  sdks/python/apache_beam/runners/worker/worker_status.py
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#22260 Generalize interface of InfluxDBPublisher to support more use cases (test-utils)
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/Main.java
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/NamedTestResult.java
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/publishing/InfluxDBPublisher.java
  sdks/java/testing/test-utils/src/test/java/org/apache/beam/sdk/testutils/publishing/InfluxDBPublisherTest.java
Labels: java, community-metrics

#23013 Revert "Remove subprocess.PIPE usage by using a temp file"
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python, Next Action: Reviewers

#22929 Allow users to pass ClassLoader to dynamically load JDBC drivers.
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#22962 Fix withCheckStopReadingFn to not cause the pipeline to crash
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, kafka, Next Action: Reviewers

#21738 Inference benchmark tests
  .test-infra/jenkins/LoadTestsBuilder.groovy
  .test-infra/jenkins/job_InferenceBenchmarkTests_Python.groovy
  sdks/python/apache_beam/examples/inference/pytorch_image_classification.py
  sdks/python/apache_beam/examples/inference/pytorch_language_modeling.py
  sdks/python/apache_beam/testing/benchmarks/inference/__init__.py
  sdks/python/apache_beam/testing/benchmarks/inference/pytorch_image_classification_benchmarks.py
  sdks/python/apache_beam/testing/benchmarks/inference/pytorch_language_modeling_benchmarks.py
  sdks/python/apache_beam/testing/load_tests/build.gradle
  sdks/python/scripts/generate_pydoc.sh
Labels: python, infra, examples

#22824 [Go SDK]: Add support for Google Cloud Profiler for pipelines
  CHANGES.md
  sdks/go.mod
  sdks/go.sum
  sdks/go/container/boot.go
  sdks/go/container/boot_test.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
Labels: go, docker, Next Action: Reviewers, slow-review

#23037 [Playground] [Backend] Missing DB index creation step condition
  .github/workflows/build_playground_backend.yml
Labels: build, Next Action: Reviewers, beam-playground

#22943 Minor: Use typehints in benchmark utilities
  sdks/python/apache_beam/tools/utils.py
Labels: python, Next Action: Reviewers, slow-review

#23042 Disable singleIterate
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
Labels: go

#22999 Allow expansion service to choose pickler.
  sdks/python/apache_beam/internal/pickler.py
  sdks/python/apache_beam/runners/portability/local_job_service_main.py
Labels: python

#22982 [BEAM-22856] PythonService Beam version compatibility
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonService.java
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/PythonServiceTest.java
Labels: java, extensions

#22479 Upgrade to Gradle 7.5.1
  gradle/wrapper/gradle-wrapper.properties
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextRowCountEstimator.java
Labels: build, Next Action: Reviewers

#23051 Fixes RunInference test failure
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/transforms/RunInference.java
Labels: java, extensions, Next Action: Reviewers

#22559 Allowing more flexible precision for TIMESTAMP, DATETIME fields.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#23044 Reenable run-inference tests on windows
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python

#23053 [BEAM-12164] Support new value capture types NEW_ROW NEW_VALUES for s…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/ValueCaptureType.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapperTest.java
Labels: java, io, gcp, Next Action: Reviewers

#23059 Fix example registration input arity
  sdks/go/pkg/beam/register/doc.go
  sdks/go/pkg/beam/register/example_register_test.go
Labels: go

#23018 Clarify inference example docs
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/pytorch_image_classification.py
  sdks/python/apache_beam/examples/inference/pytorch_image_segmentation.py
  sdks/python/apache_beam/examples/inference/pytorch_language_modeling.py
  sdks/python/apache_beam/examples/inference/sklearn_mnist_classification.py
Labels: python, examples

#17274 BEAM-13468 allow non-lts jvm version
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/EnvironmentsTest.java
Labels: runners, core

#23067 Keep stale action from closing issues
  .github/workflows/stale.yml
Labels: build

#22996 [BEAM-11205] Update Libraries BOM dependencies to version 26.1.1
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, build, docker, io, gcp

#23073 Use cloudpickle for Java Python transforms.
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/python/apache_beam/runners/portability/expansion_service_main.py
  sdks/python/apache_beam/runners/portability/local_job_service_main.py
Labels: python, java, extensions

#23057 clean up comments and register functional DoFn in wordcount.go
  sdks/go/examples/wordcount/wordcount.go
Labels: go, examples, Next Action: Reviewers

#23019 [Test] Decrease derby.locks.waitTimeout in jdbc unit test
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOExceptionHandlingParameterizedTest.java
Labels: java, io, jdbc, Next Action: Reviewers

#23095 Auto-cancel old unit test Actions Runs
  .github/workflows/build_playground_backend.yml
  .github/workflows/build_playground_frontend.yml
  .github/workflows/build_wheels.yml
  .github/workflows/go_tests.yml
  .github/workflows/java_tests.yml
  .github/workflows/local_env_tests.yml
  .github/workflows/python_tests.yml
  .github/workflows/typescript_tests.yml
Labels: build

#23092 Cross-langauge tests in github actions.
  .github/workflows/typescript_tests.yml
  sdks/typescript/test/io_test.ts
Labels: build, Next Action: Reviewers, typescript

#23093 Use cloudpickle for Java Python transforms.
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/python/apache_beam/runners/portability/expansion_service_main.py
  sdks/python/apache_beam/runners/portability/local_job_service_main.py
Labels: python, java, extensions

#23001 remove `"io/ioutil"` package
  sdks/go/cmd/specialize/main.go
  sdks/go/container/boot_test.go
  sdks/go/pkg/beam/artifact/materialize_test.go
  sdks/go/pkg/beam/artifact/stage.go
  sdks/go/pkg/beam/artifact/stage_test.go
  sdks/go/pkg/beam/core/runtime/harness/datamgr_test.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr_test.go
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/download_test.go
  sdks/go/pkg/beam/core/util/symtab/symtab_test.go
  sdks/go/pkg/beam/io/avroio/avroio_test.go
  sdks/go/pkg/beam/io/fhirio/import_test.go
  sdks/go/pkg/beam/io/filesystem/memfs/memory.go
  sdks/go/pkg/beam/io/filesystem/util.go
  sdks/go/pkg/beam/io/parquetio/parquetio.go
  sdks/go/pkg/beam/options/gcpopts/options_test.go
  sdks/go/pkg/beam/runners/dot/dot.go
  sdks/go/pkg/beam/util/gcsx/gcs.go
  sdks/go/test/load/util.go
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
  sdks/go/test/regression/coders/fromyaml/fromyaml_test.go
Labels: go, docker, io, runners, Next Action: Reviewers

#23035 Add one NER example to use a spaCy model with RunInference
  examples/notebooks/beam-ml/run_custom_inference.ipynb
Labels: examples

#22771 Implement JsonUtils
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JsonUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/JsonUtilsTest.java
Labels: java

#23087 Support models returning a dictionary of outputs
  sdks/python/apache_beam/examples/inference/pytorch_language_modeling.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python, examples

#22545 [TPC-DS] Store metrics into BigQuery and InfluxDB
  .test-infra/jenkins/TpcdsDatabaseProperties.groovy
  .test-infra/jenkins/job_PostCommit_Java_Tpcds_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Java_Tpcds_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_Tpcds_Spark.groovy
  .test-infra/metrics/grafana/dashboards/perftests_metrics/TPC-DS_Dataflow_SQL.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/TPC-DS_Flink_SQL.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/TPC-DS_Spark_Classic_New_SQL.json
  sdks/java/testing/tpcds/build.gradle
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/SqlTransformRunner.java
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/TpcdsOptions.java
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/TpcdsRun.java
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/TpcdsRunResult.java
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/TpcdsUtils.java
Labels: java, infra

#22915 [Website] Update from-spark page table content overflow
  website/www/site/content/en/get-started/from-spark.md
Labels: website

#22810 [Website] update homepage mobile styles
  website/www/site/assets/scss/_footer.sass
  website/www/site/assets/scss/_pillars.scss
Labels: website

#23055 Use a ClassLoadingStrategy that is compatible with Java 17+
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
Labels: java, Next Action: Reviewers

#22793 [Website] Update case-studies logo images
  website/www/site/assets/scss/_case_study.scss
  website/www/site/content/en/case-studies/hop.md
  website/www/site/content/en/case-studies/lyft.md
Labels: website

#22498 [Website] Update ctas button container on homepage
  website/www/site/assets/scss/_ctas.sass
Labels: website

#22427 [Website] fix code tags content overflow
  website/www/site/assets/scss/_global.sass
Labels: website

#23021 Clean up Kafka Cluster and pubsub topic in rc validation script
  release/src/main/scripts/run_rc_validation.sh
Labels: build, Next Action: Reviewers

#23098 Fix assertions in the Spanner IO IT tests
  sdks/python/apache_beam/io/gcp/experimental/spannerio_read_it_test.py
Labels: python, io, gcp, Next Action: Reviewers

#22275 [Website] update shortcode languages
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#23111 Use existing pickle_library flag in expansion service.
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/python/apache_beam/runners/portability/expansion_service_main.py
Labels: python, java, extensions

#23118 [release-2.42.0] Use existing pickle_library flag in expansion service.
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/python/apache_beam/runners/portability/expansion_service_main.py
Labels: python, java, extensions

#23107 Revert "[#19857] Migrate to using a memory aware cache within the Python SDK harness (#22924)"
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
  sdks/python/apache_beam/runners/worker/statecache.py
  sdks/python/apache_beam/runners/worker/statecache_test.py
  sdks/python/apache_beam/runners/worker/worker_status.py
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#23027 Assert pipeline results in performance tests
  .test-infra/jenkins/job_PerformanceTests_KafkaIO_IT.groovy
  sdks/java/extensions/sql/perf-tests/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryIOPushDownIT.java
  sdks/java/io/bigquery-io-perf-tests/src/test/java/org/apache/beam/sdk/bigqueryioperftests/BigQueryIOIT.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/CdapIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/avro/AvroIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/parquet/ParquetIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/text/TextIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/tfrecord/TFRecordIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/xml/XmlIOIT.java
  sdks/java/io/hadoop-format/src/test/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIOIT.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOIT.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDBIOIT.java
Labels: java, io, extensions, sql, gcp, hadoop, jdbc, kafka, mongodb, tests, Next Action: Reviewers

#23072 Consolidate Samza TranslationContext and PortableTranslationContext
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/GroupByKeyTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ParDoBoundMultiTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/PortableTranslationContext.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ReshuffleTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/SamzaPortablePipelineTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/TranslationContext.java
Labels: runners, samza

#23045 Improvements to SchemaTransform implementations for BQ and Kafka
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaIOProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSchemaTransformReadConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSchemaTransformReadProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaSchemaTransformReadProviderTest.java
Labels: java, io, gcp, kafka, Next Action: Reviewers

#23139 [TPC-DS] Use common queries argument for Jenkins jobs
  .test-infra/jenkins/TpcdsDatabaseProperties.groovy
  .test-infra/jenkins/job_PostCommit_Java_Tpcds_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Java_Tpcds_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_Tpcds_Spark.groovy
Labels: infra

#22762 pubsublite: Reduce commit logspam
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/CheckpointMarkImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/CloserReference.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/UnboundedReaderImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/UnboundedSourceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/CheckpointMarkImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/UnboundedReaderImplTest.java
Labels: java, io, gcp, Next Action: Reviewers

#23159 [GitHub Actions] - Added documentation in ACTIONS.md
  .github/ACTIONS.md
Labels: build, Next Action: Reviewers

#23121 Pin cloudpickle to 2.1.0 in preparation for Beam 2.42.0 release.
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#23183 Bump dataflow java fnapi container version to beam-master-20220830
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#23188 [release-2.42.0] Only close committers after all CheckpointMarks have gone away.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/CheckpointMarkImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/CloserReference.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/UnboundedReaderImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/UnboundedSourceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/CheckpointMarkImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/UnboundedReaderImplTest.java
Labels: java, io, gcp

#23100 [Issue#23071] Fix AfterProcessingTime for Python to behave like Java
  sdks/python/apache_beam/transforms/trigger.py
  sdks/python/apache_beam/transforms/trigger_test.py
Labels: python, Next Action: Reviewers

#23197 Don't depend on java 11 docker container for go test
  sdks/go/test/build.gradle
Labels: go

#23204 Properly close Spark (streaming) context if Pipeline translation fails
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/SparkRunnerStreamingContextFactory.java
Labels: runners, spark

#23202 Annotate stateful VR test in TestStreamTest with UsesStatefulParDo (related to #22472)
  sdks/java/core/src/test/java/org/apache/beam/sdk/testing/TestStreamTest.java
Labels: java

#22997 Allow and test pyarrow 8.x and 9.x
  sdks/python/setup.py
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#23011 (BQ Python) Pass project field from options or parameter when writing with dynamic destinations
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
Labels: python, io, gcp, Next Action: Reviewers

#23209 Update python-machine-learning.md
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#23120 Pin the version of cloudpickle to 2.1.x
  sdks/python/setup.py
Labels: python

#21903 Add streaming test for Write API sink
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageWriteIT.java
Labels: java, io, gcp

#23216 [Go SDK] Proto changes for timer param
  sdks/go/pkg/beam/core/runtime/graphx/v1/v1.pb.go
  sdks/go/pkg/beam/core/runtime/graphx/v1/v1.proto
Labels: go, Next Action: Reviewers

#23211 Update to objsize to 0.5.2 which is under BSD-3 license (fixes #23096)
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#23217 Exclude insignificant whitespace from cloud object
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/SchemaCoderCloudObjectTranslator.java
Labels: runners, dataflow

#22233 Trying out property-based tests for Beam python coders
  sdks/python/apache_beam/coders/coders_property_based_test.py
  sdks/python/setup.py
Labels: python

#23041 Publish results of JMH benchmark runs (Java SDK) to InfluxDB (#22238).
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/testing/test-utils/build.gradle
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/jmh/Main.java
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/jmh/package-info.java
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/publishing/InfluxDBPublisher.java
Labels: java, build

#23226 Exclude protobuf 3.20.2
  sdks/python/build-requirements.txt
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#23205 Fix IllegalStateException in StorageApiWriteUnshardedRecords error handling
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#23024 Update cibuildwheel
  .github/workflows/build_wheels.yml
Labels: build, Next Action: Reviewers

#23215 Add section to docs on resource hints/RunInference
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#23233 Fix IllegalStateException in StorageApiWriteUnshardedRecords error ha…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#23012 (BQ Python) Perform job waits in finish_bundle to allow BQ streaming writes with large batch loads
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
Labels: python, io, gcp, Next Action: Reviewers

#23199 Resolve script parsing error when changing from bash to sh.
  release/src/main/scripts/cut_release_branch.sh
  release/src/main/scripts/verify_release_build.sh
Labels: build

#23192 Optimize varint reading and writing for small ints.
  sdks/python/apache_beam/coders/stream.pyx
Labels: python

#23182 Pass namespace through RunInference transform
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/testing/benchmarks/inference/pytorch_image_classification_benchmarks.py
  sdks/python/apache_beam/testing/benchmarks/inference/pytorch_language_modeling_benchmarks.py
Labels: python, Next Action: Reviewers

#23158 [GitHub Actions] - INFRA scripts to implement GCP Self-hosted runners (Ubuntu&Windows)
  .github/gh-actions-self-hosted-runners/README.md
  .github/gh-actions-self-hosted-runners/diagrams/gh-actions-k8s-runners-pod.png
  .github/gh-actions-self-hosted-runners/diagrams/self-hosted-runners-architecture.png
  .github/gh-actions-self-hosted-runners/diagrams/self-hosted-runners-delete-function.png
  .github/gh-actions-self-hosted-runners/helper-functions/README.md
  .github/gh-actions-self-hosted-runners/helper-functions/cloud-functions/example.env
  .github/gh-actions-self-hosted-runners/helper-functions/cloud-functions/generateToken/index.js
  .github/gh-actions-self-hosted-runners/helper-functions/cloud-functions/generateToken/package.json
  .github/gh-actions-self-hosted-runners/helper-functions/cloud-functions/monitorRunnersStatus/index.js
  .github/gh-actions-self-hosted-runners/helper-functions/cloud-functions/monitorRunnersStatus/package.json
  .github/gh-actions-self-hosted-runners/helper-functions/cloud-functions/removeOfflineRunners/index.js
  .github/gh-actions-self-hosted-runners/helper-functions/cloud-functions/removeOfflineRunners/package.json
  .github/gh-actions-self-hosted-runners/helper-functions/cloud-functions/shared/constants.js
  .github/gh-actions-self-hosted-runners/self-hosted-linux/README.md
  .github/gh-actions-self-hosted-runners/self-hosted-linux/docker/Dockerfile
  .github/gh-actions-self-hosted-runners/self-hosted-linux/docker/docker-compose.yml
  .github/gh-actions-self-hosted-runners/self-hosted-linux/docker/entrypoint.sh
  .github/gh-actions-self-hosted-runners/self-hosted-linux/docker/example.var.env
  .github/gh-actions-self-hosted-runners/self-hosted-linux/kubernetes/delete-k8s-deployment.sh
  .github/gh-actions-self-hosted-runners/self-hosted-linux/kubernetes/github-actions-deployment.yml
  .github/gh-actions-self-hosted-runners/self-hosted-linux/kubernetes/github-actions-hpa.yml
  .github/gh-actions-self-hosted-runners/self-hosted-linux/kubernetes/github-actions-secrets.yml
  .github/gh-actions-self-hosted-runners/self-hosted-linux/kubernetes/github-actions-vpa.yml
  .github/gh-actions-self-hosted-runners/self-hosted-linux/kubernetes/run-k8s-deployment.sh
  .github/gh-actions-self-hosted-runners/self-hosted-windows/README.md
  .github/gh-actions-self-hosted-runners/self-hosted-windows/shutdownScript.ps1
  .github/gh-actions-self-hosted-runners/self-hosted-windows/startupScript.ps1
Labels: build, Next Action: Reviewers

#23109 GA migration - Base actions to use for precommit and postcommit workflows
  .github/actions/gradle-command-self-hosted-action/action.yml
  .github/actions/setup-default-test-properties/action.yml
  .github/actions/setup-default-test-properties/test-properties.json
  .github/actions/setup-self-hosted-action/action.yml
Labels: build, Next Action: Reviewers

#22968 [Website] update site navigation #22902
  website/www/site/content/en/get-started/resources/learning-resources.md
  website/www/site/content/en/get-started/resources/videos-and-podcasts.md
  website/www/site/layouts/partials/section-menu/en/get-started.html
Labels: website

#23191 Test fix Kafka Performance test batch
  .test-infra/jenkins/job_PerformanceTests_KafkaIO_IT.groovy
  .test-infra/kubernetes/kafka-cluster/05-kafka/configmap-config.yaml
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, infra, io, kafka, Next Action: Reviewers

#23237 Revert "Exclude protobuf 3.20.2"
  sdks/python/build-requirements.txt
  sdks/python/setup.py
Labels: python

#23231 Fix outdated code in python sdk install
  sdks/python/findSupportedPython.groovy
  sdks/python/gen_protos.py
Labels: python, Next Action: Reviewers

#23238 Bump up dataflow python container version to beam-master-20220914
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#23196 Improve the performance of TextSource by reducing how many byte[]s are copied (fixes #23193)
  CHANGES.md
  sdks/java/core/jmh/build.gradle
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/jmh/io/TextSourceBenchmark.java
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/jmh/io/package-info.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOReadTest.java
Labels: java

#23225 [Website] Correct spelling of structural
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#22131 TensorRT Initial commit
  build.gradle.kts
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/tensorrt_object_detection.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference_test.py
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/test-suites/containers/tensorrt_runinference/README.md
  sdks/python/test-suites/containers/tensorrt_runinference/tensor_rt.dockerfile
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, build, examples, Next Action: Reviewers

#23274 Fix Kafka performance test sourceOption to match expected hash
  .test-infra/jenkins/job_PerformanceTests_KafkaIO_IT.groovy
Labels: java, io, kafka, Next Action: Reviewers

#23218 updated the pydoc for running a custom model on Beam
  examples/notebooks/beam-ml/run_custom_inference.ipynb
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website, examples

#23266 Add drop_example flag to the RunInference and Model Handler
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
Labels: python, Next Action: Reviewers

#23279 Enable verbose output for RAT Precommit
  .test-infra/jenkins/README.md
  build.gradle.kts
Labels: build, infra

#23222 [Go SDK] Add timer coder support
  sdks/go/pkg/beam/core/graph/coder/coder.go
  sdks/go/pkg/beam/core/runtime/exec/coder.go
  sdks/go/pkg/beam/core/runtime/exec/coder_test.go
  sdks/go/pkg/beam/core/runtime/exec/timers_test.go
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/core/typex/class.go
  sdks/go/pkg/beam/core/typex/fulltype.go
  sdks/go/pkg/beam/core/typex/special.go
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
Labels: go

#23272 Fix wrong comment
  sdks/go/pkg/beam/runners/direct/gbk.go
Labels: go, runners, direct, Next Action: Reviewers

#23265 Revert "Trying out property-based tests for Beam python coders (#22233)"
  sdks/python/apache_beam/coders/coders_property_based_test.py
  sdks/python/setup.py
Labels: python

#16947 [BEAM-13416] Introduce Schema provider for AWS model classes extending SdkPojo
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/coders/AwsCoders.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsBuilderFactory.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsSchemaProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsSchemaRegistrar.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsSchemaUtils.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsTypes.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/package-info.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/PublishResponseCoders.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsCoderProviderRegistrar.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsResponseCoder.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/MessageCoder.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SendMessageRequestCoder.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/schemas/AwsSchemaProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/schemas/AwsSchemaUtilsTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/schemas/Sample.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/SnsIOTest.java
Labels: java, io, aws

#17828 [BEAM-14378] [CdapIO] SparkReceiverIO Read via SDF
  sdks/java/io/sparkreceiver/build.gradle
  sdks/java/io/sparkreceiver/src/main/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFn.java
  sdks/java/io/sparkreceiver/src/main/java/org/apache/beam/sdk/io/sparkreceiver/SparkConsumer.java
  sdks/java/io/sparkreceiver/src/main/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIO.java
  sdks/java/io/sparkreceiver/src/main/java/org/apache/beam/sdk/io/sparkreceiver/WrappedSupervisor.java
  sdks/java/io/sparkreceiver/src/test/java/org/apache/beam/sdk/io/sparkreceiver/CustomReceiverWithOffset.java
  sdks/java/io/sparkreceiver/src/test/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIOTest.java
Labels: java, io

#23302 [Java SDK core] emit watermark from PeriodicSequence (#23301)
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PeriodicSequence.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/PeriodicSequenceTest.java
Labels: java

#23269 Allow longer Class-Path entries
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python, Next Action: Reviewers

#23294 SpannerIO - Do not use .get() on ValueProvider during pipeline creation
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/BatchSpannerRead.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
Labels: java, io, gcp, Next Action: Reviewers

#22446 Improved pipeline translation in SparkStructuredStreamingRunner
  runners/spark/2/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/EncoderFactory.java
  runners/spark/2/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/utils/ScalaInterop.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/SparkStructuredStreamingRunner.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/io/BoundedDatasetFactory.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/io/package-info.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/metrics/WithMetricsSupport.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/AbstractTranslationContext.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/PipelineTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/TransformTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/TranslationContext.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/AggregatorCombiner.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/Aggregators.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CombineGloballyTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CombinePerKeyTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CreatePCollectionViewTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DatasetSourceBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnFunction.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnMapPartitionsFactory.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/FlattenTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/GroupByKeyHelpers.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/GroupByKeyTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ImpulseTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/PipelineTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ProcessContext.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ReadSourceTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ReshuffleTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/WindowAssignTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/CoderHelpers.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/EncoderFactory.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/EncoderHelpers.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/MultiOutputCoder.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/RowHelpers.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/SchemaHelpers.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/WindowingHelpers.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/streaming/DatasetSourceStreaming.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/streaming/PipelineTranslatorStreaming.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/streaming/ReadSourceTranslatorStreaming.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/streaming/package-info.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/utils/ScalaInterop.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/aggregators/metrics/sink/InMemoryMetrics.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/AggregatorsTest.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CombineGloballyTest.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CombinePerKeyTest.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ComplexSourceTest.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/FlattenTest.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/GroupByKeyTest.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTest.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/SimpleSourceTest.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/WindowAssignTest.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/EncoderHelpersTest.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkCommonPipelineOptions.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkPipelineOptions.java
Labels: runners, spark

#23214 use avro DataFileReader to read avro container files
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/AvroSourceTest.java
Labels: java, Next Action: Reviewers

#23300 Change google_cloud_bigdataoss_version to 2.2.8.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#23337 Fix Nexmark default log level
  sdks/java/testing/nexmark/src/main/resources/log4j.properties
Labels: java

#23351 [Go SDK] lint fixes to go
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
Labels: go, Next Action: Reviewers

#23352 Bump Java FnApi Container version to beam-master-20220923
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#23271 Upgraded Flink on Dataproc support from Interacitve Beam
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager.py
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager_test.py
  sdks/python/apache_beam/runners/interactive/dataproc/types.py
  sdks/python/apache_beam/runners/interactive/interactive_beam_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/messaging/interactive_environment_inspector_test.py
Labels: python

#23221 Stack Trace Decoration for Beam Samza Runner
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaPipelineExceptionContext.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/OpAdapter.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/FlattenPCollectionsTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/GroupByKeyTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ParDoBoundMultiTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/SplittableParDoTranslators.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/WindowAssignTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/util/SamzaPipelineExceptionListener.java
Labels: runners, samza

#22966 [#22478]: Add read_time support to Google Firestore connector
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1ReadFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1FnBatchGetDocumentsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1FnListCollectionIdsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1FnListDocumentsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1FnPartitionQueryTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1FnRunQueryTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/PartitionQueryResponseToRunQueryRequestTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/BaseFirestoreIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/FirestoreTestingHelper.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/FirestoreV1IT.java
Labels: java, io, gcp, Next Action: Reviewers

#22984 Changes CoGroupByKey typehint from List to Iterable
  CHANGES.md
  sdks/python/apache_beam/transforms/util.py
Labels: python, Next Action: Reviewers

#23376 Fix TextSource incorrect handling in channels that return short reads.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOReadTest.java
Labels: java, Next Action: Reviewers

#23173 Add a tensorflow example to the run_inference_basic notebook
  examples/notebooks/beam-ml/README.md
  examples/notebooks/beam-ml/run_inference_pytorch.ipynb
  examples/notebooks/beam-ml/run_inference_sklearn.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
Labels: examples

#23354 set upper bound on google-cloud-profiler
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#23370 Make identifier of Date/Time/DateTime to be a public static field
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/Date.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/DateTime.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/Time.java
Labels: java, Next Action: Reviewers

#23396 Pin objsize version to avoid regression in 0.6.0
  sdks/python/setup.py
Labels: python

#23349 [Tour Of Beam] API adjustments
  .github/workflows/tour_of_beam_backend.yml
  .github/workflows/tour_of_beam_backend_integration.yml
  learning/tour-of-beam/backend/README.md
  learning/tour-of-beam/backend/docker-compose.yml
  learning/tour-of-beam/backend/function.go
  learning/tour-of-beam/backend/integration_tests/api.go
  learning/tour-of-beam/backend/integration_tests/client.go
  learning/tour-of-beam/backend/integration_tests/function_test.go
  learning/tour-of-beam/backend/integration_tests/local.sh
  learning/tour-of-beam/backend/internal/entity.go
  learning/tour-of-beam/backend/internal/fs_content/builders.go
  learning/tour-of-beam/backend/internal/fs_content/load.go
  learning/tour-of-beam/backend/internal/fs_content/load_test.go
  learning/tour-of-beam/backend/internal/sdk.go
  learning/tour-of-beam/backend/internal/sdk_test.go
  learning/tour-of-beam/backend/internal/storage/adapter.go
  learning/tour-of-beam/backend/internal/storage/datastore.go
  learning/tour-of-beam/backend/internal/storage/index.yaml
  learning/tour-of-beam/backend/internal/storage/schema.go
  learning/tour-of-beam/backend/middleware.go
  learning/tour-of-beam/backend/samples/api/get_content_tree.json
  learning/tour-of-beam/backend/samples/api/get_sdk_list.json
  learning/tour-of-beam/backend/samples/api/get_unit_content.json
  learning/tour-of-beam/backend/samples/api/get_unit_content_full.json
Labels: build, learning, Next Action: Reviewers

#23408 Regenerate Go Protos
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api_grpc.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/endpoints.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/external_transforms.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/metrics.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/schema.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/standard_window_fns.pb.go
Labels: go

#23365 Support google-cloud-spanner v3 and fixes broken unit tests
  sdks/python/apache_beam/io/gcp/experimental/spannerio.py
  sdks/python/apache_beam/io/gcp/experimental/spannerio_test.py
  sdks/python/apache_beam/metrics/execution.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
  sdks/python/setup.py
Labels: python, io, gcp, Next Action: Reviewers

#23404 Add relevant docs to Cloud Profiler exceptions.
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
Labels: python

#23391 Update state cache to not fail when measuring object sizes.
  sdks/python/apache_beam/runners/worker/statecache.py
  sdks/python/apache_beam/runners/worker/statecache_test.py
Labels: python

#23407 Small pytorch notebook bug fix
  examples/notebooks/beam-ml/README.md
  examples/notebooks/beam-ml/run_inference_pytorch.ipynb
Labels: examples

#23023 PubsubIO - Improve limit validations to consider attributes
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
Labels: java, io, gcp, Next Action: Reviewers

#23289 Example of Online Clustering
  sdks/python/apache_beam/examples/inference/online_clustering/clustering_pipeline/__init__.py
  sdks/python/apache_beam/examples/inference/online_clustering/clustering_pipeline/config.py
  sdks/python/apache_beam/examples/inference/online_clustering/clustering_pipeline/main.py
  sdks/python/apache_beam/examples/inference/online_clustering/clustering_pipeline/pipeline/__init__.py
  sdks/python/apache_beam/examples/inference/online_clustering/clustering_pipeline/pipeline/options.py
  sdks/python/apache_beam/examples/inference/online_clustering/clustering_pipeline/pipeline/transformations.py
  sdks/python/apache_beam/examples/inference/online_clustering/clustering_pipeline/setup.py
  sdks/python/apache_beam/examples/inference/online_clustering/write_data_to_pubsub_pipeline/__init__.py
  sdks/python/apache_beam/examples/inference/online_clustering/write_data_to_pubsub_pipeline/config.py
  sdks/python/apache_beam/examples/inference/online_clustering/write_data_to_pubsub_pipeline/main.py
  sdks/python/apache_beam/examples/inference/online_clustering/write_data_to_pubsub_pipeline/pipeline/__init__.py
  sdks/python/apache_beam/examples/inference/online_clustering/write_data_to_pubsub_pipeline/pipeline/options.py
  sdks/python/apache_beam/examples/inference/online_clustering/write_data_to_pubsub_pipeline/pipeline/utils.py
  sdks/python/apache_beam/examples/inference/online_clustering/write_data_to_pubsub_pipeline/setup.py
  website/www/site/content/en/documentation/ml/online-clustering.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, website, examples

#23409 Add documentation link to the interactive environment
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
Labels: python

#22960 Send JavaScript messages to Playground iframes when switching the language in docs (#22361)
  website/www/site/assets/js/language-switch-v2.js
  website/www/site/assets/scss/_capability-matrix.scss
  website/www/site/assets/scss/_global.sass
  website/www/site/assets/scss/_playground.sass
  website/www/site/assets/scss/_syntax-highlighting.scss
  website/www/site/content/en/documentation/runners/flink.md
  website/www/site/content/en/documentation/runners/jet.md
  website/www/site/content/en/documentation/runners/spark.md
  website/www/site/content/en/documentation/runners/twister2.md
  website/www/site/layouts/shortcodes/language-switcher.html
  website/www/site/layouts/shortcodes/playground.html
  website/www/site/layouts/shortcodes/playground_snippet.html
Labels: website

#23047 Expand Python cross language docs.
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#22312 [BEAM-10785] Change RowAsDictJsonCoder to not ensure ASCII while encoding
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
Labels: python, io, gcp

#23426 RunInference Benchmarks UI
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_ML_RunInference_Benchmark_Tests.json
Labels: infra

#23326 Relax `pip` check in setup.py to allow installation via other package managers (e.g. `poetry`)
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#23446 replaced tabs with spaces in inference/readme.md file
  sdks/python/apache_beam/examples/inference/README.md
Labels: python, examples

#23194 Batch encoding and decoding of schema data.
  .github/workflows/build_wheels.yml
  sdks/python/apache_beam/coders/coder_impl.pxd
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coder_impl_row_encoders.pyx
  sdks/python/apache_beam/coders/row_coder_test.py
  sdks/python/apache_beam/coders/standard_coders_test.py
  sdks/python/apache_beam/tools/coders_microbenchmark.py
  sdks/python/build-requirements.txt
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/setup.py
Labels: python, build

#23242 Fix type inference for set/delete attr.
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
Labels: python
