Repository apache/beam, pull requests merged in 2022-10, with the labels that each got.

#23444 JdbcIO fetchSize can be set to Integer.MIN_VALUE
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc

#23419 [Tour Of Beam] return taskSnippetId/solutionSnippedId
  learning/tour-of-beam/backend/internal/entity.go
  learning/tour-of-beam/backend/internal/fs_content/builders.go
  learning/tour-of-beam/backend/internal/fs_content/load.go
  learning/tour-of-beam/backend/internal/fs_content/load_test.go
  learning/tour-of-beam/backend/internal/fs_content/sdk_context.go
  learning/tour-of-beam/backend/internal/sdk.go
  learning/tour-of-beam/backend/internal/sdk_test.go
  learning/tour-of-beam/backend/internal/storage/adapter.go
  learning/tour-of-beam/backend/internal/storage/datastore.go
  learning/tour-of-beam/backend/internal/storage/schema.go
  learning/tour-of-beam/backend/samples/api/get_content_tree.json
  learning/tour-of-beam/backend/samples/api/get_unit_content.json
  learning/tour-of-beam/backend/samples/learning-content/python/module 1/intro-unit/unit-info.yaml
Labels: learning

#23230 Beam 21465 add requires stable input to KafkaIO commit in finalize
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaCommitOffset.java
Labels: java, io, kafka, Next Action: Reviewers

#21796 Fix JdbcIOIT, which seems to have never worked
  sdks/java/io/common/src/test/java/org/apache/beam/sdk/io/common/DatabaseTestHelper.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOIT.java
Labels: java, io, jdbc

#23468 Require time-bound flag for non-UW streaming Python jobs for new SDKs.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python

#23014 Support DECIMAL logical type in python SDK
  model/fn-execution/src/main/resources/org/apache/beam/model/fnexecution/v1/standard_coders.yaml
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/schema.proto
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/wire/CommonCoderTest.java
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/FixedPrecisionNumeric.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/logicaltypes/LogicalTypesTest.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcUtil.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/LogicalTypes.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/SchemaUtil.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOTest.java
  sdks/python/apache_beam/coders/coder_impl.pxd
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/typehints/schemas.py
Labels: python, java, go, model, io, runners, jdbc, fn-execution, Next Action: Reviewers

#23369 [Website] fix navbar footer overlap
  website/www/site/assets/scss/_global.sass
  website/www/site/assets/scss/_lists.scss
  website/www/site/assets/scss/_playground.sass
  website/www/site/assets/scss/_section-nav.scss
  website/www/site/layouts/contribute/arrow_template.html
  website/www/site/layouts/documentation/baseof.html
  website/www/site/layouts/languages/baseof.html
  website/www/site/layouts/runners/arrow_template.html
Labels: website

#23443 AI/ML pipelines master page documentation
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
  website/www/site/static/images/ml-workflows.svg
Labels: website

#23474 [Minor] Fix go fmt error
  sdks/go/pkg/beam/transforms/filter/distinct_test.go
Labels: go

#23392 Revert "Add drop_example flag to the RunInference and Model Handler"
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
Labels: python

#23469 Prep sidepanel 3.0.0 release
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/package.json
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/clusters/Clusters.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/clusters/Clusters.tsx
Labels: python

#22974 Documented supported PyTorch versions
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#23383 [Go SDK] Add fake impulse for inputs in Xlang Transform
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
Labels: go, Next Action: Reviewers

#23481 GA Migration Adding Removal of /.m2/settings.xml
  .github/actions/gradle-command-self-hosted-action/action.yml
  .github/actions/setup-self-hosted-action/action.yml
Labels: build

#23480 Bump google-cloud-spanner version for py containers
  CHANGES.md
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/container/run_generate_requirements.sh
  sdks/python/setup.py
Labels: python, docker

#23496 Fix validation of measurement name in InfluxDBPublisher
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/publishing/InfluxDBPublisher.java
Labels: java

#23495 Ensure Java JMH benchmark tasks run sequentially
  .test-infra/jenkins/job_Java_Jmh.groovy
  build.gradle.kts
Labels: build, infra

#23445 [Tour Of Beam] export group.id in API
  learning/tour-of-beam/backend/internal/entity.go
  learning/tour-of-beam/backend/internal/fs_content/load.go
  learning/tour-of-beam/backend/internal/fs_content/load_test.go
  learning/tour-of-beam/backend/internal/storage/adapter.go
  learning/tour-of-beam/backend/internal/storage/schema.go
  learning/tour-of-beam/backend/samples/api/get_content_tree.json
  learning/tour-of-beam/backend/samples/learning-content/python/module 1/group/group-info.yaml
Labels: learning

#23485 Give issue tagger permission to write issues
  .github/workflows/issue-tagger.yml
Labels: build

#23486 Update UID of the RunInference Benchmarks
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_ML_RunInference_Benchmark_Tests.json
Labels: infra

#23482 Improve error message in GcsUtil
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
Labels: java, extensions, gcp

#23058 Add more typescript examples to the programming guide.
  sdks/typescript/src/apache_beam/coders/row_coder.ts
  sdks/typescript/src/apache_beam/internal/environments.ts
  sdks/typescript/src/apache_beam/transforms/external.ts
  sdks/typescript/src/apache_beam/transforms/python.ts
  sdks/typescript/src/apache_beam/transforms/window.ts
  sdks/typescript/src/apache_beam/transforms/windowings.ts
  sdks/typescript/test/docs/programming_guide.ts
  website/www/site/content/en/documentation/io/built-in.md
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/data/io_matrix.yaml
Labels: website, typescript

#23505 opt in for schema update. addresses #23504
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsTableRow.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#23493 fix: only report backlog bytes on data records
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DataChangeRecordAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DataChangeRecordActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
Labels: java, io, gcp

#23516 Fix broken link in online clustering documentation
  website/www/site/content/en/documentation/ml/online-clustering.md
Labels: website

#23334 Fix failing Py37 BQ file loads test
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/test-suites/direct/common.gradle
Labels: python, io, gcp

#23523 [Website] update links to https
  website/www/check-links.sh
  website/www/site/content/en/blog/adding-data-sources-to-sql.md
  website/www/site/content/en/blog/dataframe-api-preview-available.md
  website/www/site/content/en/blog/graduation-media-recap.md
  website/www/site/content/en/blog/python-sdk-now-public.md
  website/www/site/content/en/blog/six-months.md
  website/www/site/content/en/contribute/committer-guide.md
  website/www/site/content/en/contribute/release-guide.md
  website/www/site/content/en/documentation/io/built-in/snowflake.md
  website/www/site/content/en/documentation/sdks/java/testing/tpcds.md
  website/www/site/content/en/get-started/beam-overview.md
  website/www/site/content/en/get-started/from-spark.md
  website/www/site/content/en/get-started/resources/learning-resources.md
  website/www/site/content/en/get-started/resources/videos-and-podcasts.md
  website/www/site/layouts/partials/footer.html
  website/www/site/layouts/partials/header.html
Labels: website

#22718 Support custom avro DatumReader when reading from BigQuery
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQuerySource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQuerySourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryTableSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryTableSourceDef.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
Labels: java, io, gcp, Next Action: Reviewers

#23515 Rename 'clean' Gradle task that required Flutter and has been breaking nightly build
  .test-infra/jenkins/job_Release_NightlySnapshot.groovy
  playground/frontend/build.gradle
  playground/frontend/playground_components/build.gradle.kts
Labels: infra

#23498 Content/multi model pipelines
  examples/notebooks/beam-ml/run_inference_multi_model.ipynb
  website/www/site/content/en/documentation/ml/multi-model-pipelines.md
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website, examples

#23519 fix typo - s/befrehand/beforehand
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#23518 Correctly detect retryable TransientKinesisExceptions (fixes #23517)
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/SimplifiedKinesisClient.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/SimplifiedKinesisClientTest.java
Labels: java, io, aws, Next Action: Reviewers

#23543 Fixing right nav on Get Started page
  website/www/site/content/en/get-started/_index.md
Labels: website

#23544 Fix small error message typo
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonService.java
Labels: java, extensions

#23547 update bom to the latest one.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#23500 [Website] fix right nav-menu and videos overlap
  website/www/site/assets/scss/_global.sass
  website/www/site/content/en/community/youtube-channel.md
  website/www/site/content/en/get-started/resources/videos-and-podcasts.md
Labels: website

#23479 [Website] update python-dependencies.md link
  website/www/site/assets/scss/_local.scss
  website/www/site/assets/scss/main.scss
  website/www/site/content/en/documentation/sdks/python-dependencies.md
Labels: website

#23322 Support named databases in Firestore connector. Fix and enable Firestore IT test
  runners/google-cloud-dataflow-java/build.gradle
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/common/GcpIoPipelineOptionsRegistrar.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1WriteFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/BaseFirestoreFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/BaseFirestoreIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/FirestoreTestingHelper.java
Labels: java, io, runners, dataflow, gcp, Next Action: Reviewers

#23046 [fixes #23000] Update the Python SDK harness state cache to be a loading cache
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/statecache.py
  sdks/python/apache_beam/runners/worker/statecache_test.py
Labels: python

#23530 [cherry-pick][release-2.42.0][BEAM-12164]: fix throughput estimator to only report backlog bytes on data records (#23493)
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DataChangeRecordAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DataChangeRecordActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
Labels: java, io, gcp, Next Action: Reviewers

#23563 Fix permission for Build python wheel branch_repo_nightly step
  .github/workflows/build_wheels.yml
Labels: build

#23425 Reolling forward property-based tests for coders
  sdks/python/apache_beam/coders/coders_property_based_test.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#23565 Updated README for jupyterlab-sidepanel
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/README.md
Labels: python

#23522 Downgrade Scala version in Spark job-server to prevent Scala serialization bug
  runners/spark/3/job-server/build.gradle
Labels: runners, spark

#23567 [Website] fix distribution example in golang guide
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#22216 BEAM-13592 Add getOrderingKey in o.a.b.sdk.io.gcp.pubsub.PubsubMessage
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubCoderProviderRegistrar.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessage.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageWithAttributesAndMessageIdAndOrderingKeyCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessages.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubTestClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSource.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubSubWritePayloadTranslationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageWithAttributesAndMessageIdAndOrderingKeyCoderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSinkTest.java
Labels: java, io, gcp

#23377 Add database role to SpannerConfig for role-based access control.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessorTest.java
Labels: java, io, gcp, Next Action: Reviewers

#23473 Add a multi-process shared utility.
  sdks/python/apache_beam/utils/multi_process_shared.py
  sdks/python/apache_beam/utils/multi_process_shared_test.py
  sdks/python/setup.py
Labels: python

#23571 Replace website references to deprecated aws / kinesis modules with more recent aws2 module.
  website/www/site/content/en/blog/review-input-streaming-connectors.md
  website/www/site/content/en/documentation/io/built-in/snowflake.md
  website/www/site/content/en/documentation/io/connectors.md
Labels: website

#23557 Remove obsolete and deprecated bigquery native read.
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python, io, gcp

#23387 Feature/name all java threads
  CHANGES.md
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowRunnerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/FetchAndFilterStreamingSideInputsOperation.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/JfrInterop.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServer.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/BundleCheckpointHandlers.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/ReferenceCountingExecutableStageContextFactory.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/EmbeddedEnvironmentFactory.java
  runners/spark/2/src/main/java/org/apache/beam/runners/spark/structuredstreaming/SparkStructuredStreamingRunner.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/SparkStructuredStreamingRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkPipelineRunner.java
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/ProcessBundleBenchmark.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClient.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
Labels: java, io, runners, spark, dataflow, gcp, kafka, fn-execution, Next Action: Reviewers

#23583 [Go SDK] Don't construct plans in lock section.
  sdks/go/pkg/beam/core/runtime/harness/harness.go
Labels: go

#23558 Remove obsolete and deprecated bigquery native write. #23557
  CHANGES.md
  sdks/python/apache_beam/io/gcp/big_query_query_to_table_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/runners/dataflow/ptransform_overrides.py
Labels: python, io, gcp, Next Action: Reviewers

#23595 Increase Python PostCommit timeout.
  .test-infra/jenkins/job_PostCommit_Python.groovy
Labels: infra

#23575 [website][adhoc] Fix spellcheck errors and typos
  website/www/site/content/en/community/case-study.md
  website/www/site/content/en/documentation/basics.md
  website/www/site/content/en/documentation/dsls/sql/extensions/joins.md
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
  website/www/site/content/en/documentation/io/built-in/hadoop.md
  website/www/site/content/en/documentation/io/built-in/hcatalog.md
  website/www/site/content/en/documentation/io/built-in/snowflake.md
  website/www/site/content/en/documentation/io/developing-io-overview.md
  website/www/site/content/en/documentation/io/testing.md
  website/www/site/content/en/documentation/patterns/custom-windows.md
  website/www/site/content/en/documentation/patterns/grouping-elements-for-efficient-external-service-calls.md
  website/www/site/content/en/documentation/patterns/side-inputs.md
  website/www/site/content/en/documentation/pipelines/test-your-pipeline.md
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/content/en/documentation/runners/capability-matrix/_index.md
  website/www/site/content/en/documentation/runners/flink.md
  website/www/site/content/en/documentation/runners/jet.md
  website/www/site/content/en/documentation/runners/jstorm.md
  website/www/site/content/en/documentation/runners/samza.md
  website/www/site/content/en/documentation/sdks/java-multi-language-pipelines.md
  website/www/site/content/en/documentation/sdks/java-thirdparty.md
  website/www/site/content/en/documentation/sdks/java/euphoria.md
  website/www/site/content/en/documentation/sdks/java/testing/nexmark.md
  website/www/site/content/en/documentation/sdks/java/testing/tpcds.md
  website/www/site/content/en/documentation/sdks/python-streaming.md
  website/www/site/content/en/documentation/transforms/java/elementwise/pardo.md
  website/www/site/content/en/get-started/mobile-gaming-example.md
  website/www/site/content/en/get-started/wordcount-example.md
Labels: website

#23545 Migrate GcsOptions#getExecutorService to an unbounded ScheduledExecutorService
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineJobTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/util/PackageUtilTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/BatchDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowBatchWorkerHarnessTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowWorkUnitClientTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/NanoClock.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/UnboundedScheduledExecutorService.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/FastNanoClockAndSleeper.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/FastNanoClockAndSleeperTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/UnboundedScheduledExecutorServiceTest.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/GcpCoreApiSurfaceTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtilTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/RetryHttpRequestInitializerTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
Labels: java, io, extensions, runners, dataflow, gcp

#23602 (BQ Java) Explicitly set coder for multi-partition batch load writes
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
Labels: java, io, gcp

#23574 Fix typo in bootstrap_beam_venv.py
  sdks/java/extensions/python/src/main/resources/org/apache/beam/sdk/extensions/python/bootstrap_beam_venv.py
Labels: java, extensions

#23605 [CherryPick][#23062] Fix Java Examples_Flink in 2.42.0 release.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
Labels: java, io, gcp, Next Action: Reviewers

#23088 [Playground][Tour Of Beam] Datastore entities split by origin
  .github/workflows/playground_deploy_examples.yml
  playground/infrastructure/cd_helper.py
  playground/infrastructure/checker.py
  playground/infrastructure/ci_cd.py
  playground/infrastructure/ci_helper.py
  playground/infrastructure/config.py
  playground/infrastructure/datastore_client.py
  playground/infrastructure/helper.py
  playground/infrastructure/test_cd_helper.py
  playground/infrastructure/test_ci_cd.py
  playground/infrastructure/test_ci_helper.py
  playground/infrastructure/test_datastore_client.py
  playground/infrastructure/test_helper.py
Labels: build

#23594 Use writer schema only for BigQueryIO Read API
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
Labels: java, io, gcp, Next Action: Reviewers

#23589 [Go SDK]: SingleFlight bundle descriptor requests
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/core/runtime/harness/harness.go
Labels: go

#23617 Extend a timeout to create a bt cluster.
  sdks/python/apache_beam/examples/cookbook/bigtableio_it_test.py
Labels: python, examples

#23512 Added content: The direct runner is not suited to production pipelines
  website/www/site/content/en/documentation/runners/direct.md
Labels: website

#23524 Adding beam blog info to the Community page
  website/www/site/data/en/join_beam.yaml
Labels: website

#23165 Automatically open module/packages for Java 11+
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  release/src/main/scripts/build_release_candidate.sh
  sdks/go/test/run_validatesrunner_tests.sh
  sdks/java/container/Dockerfile
  sdks/java/container/agent/build.gradle
  sdks/java/container/agent/src/main/java/org/apache/beam/agent/OpenModuleAgent.java
  sdks/java/container/boot.go
  sdks/java/container/common.gradle
  sdks/java/container/java11/build.gradle
  sdks/java/container/java11/option-jamm.json
  sdks/java/container/java17/build.gradle
  sdks/java/container/java17/option-jamm.json
  settings.gradle.kts
  website/www/site/content/en/contribute/release-guide.md
Labels: java, go, build, website, docker

#23578 Remove artificial timeout in FirestoreV1IT, Dataflow runner is very slow
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/BaseFirestoreIT.java
Labels: java, io, gcp

#23625 Bump Legacy dataflow container image tag
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#23623 Align translation logging for Spark dataset runner with rdd runner
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/PipelineTranslator.java
Labels: runners, spark

#23622 Fix SparkSessionFactory to not fail when using Spark master local[*]
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/SparkSessionFactory.java
Labels: runners, spark

#23638 [Spark dataset runner] Add direct translation of Reshuffle and Reshuffle.ViaRandomKey transforms.
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/PipelineTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ReshuffleTranslatorBatch.java
Labels: runners, spark

#23644 Make GCP OAuth scopes configurable via pipeline options.
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/auth/GcpCredentialFactory.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptions.java
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/interactive/utils.py
Labels: python, java, io, extensions, gcp

#23234 Update BQIO to a single scheduled executor service reduce threads
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/ExecutorOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, extensions, gcp, Next Action: Reviewers

#23390 [GitHub Actions] - Verify Release Build Workflow
  .github/actions/setup-gh-cli-linux/action.yml
  .github/workflows/verify_release_build.yml
  CI.md
  scripts/ci/ci_check_git_branch.sh
  scripts/ci/release/comment_pr_trigger_phrases.sh
  scripts/ci/release/test/resources/jenkins_trigger_phrases.txt
  scripts/ci/release/test/resources/mass_comment.txt
Labels: build, Next Action: Reviewers

#23652 Blog post for Hop web in Google Cloud
  website/www/site/content/en/blog/hop-web-cloud.md
  website/www/site/static/images/blog/hop-web-cloud/hop-web-cloud-image1.png
  website/www/site/static/images/blog/hop-web-cloud/hop-web-cloud-image2.png
  website/www/site/static/images/blog/hop-web-cloud/hop-web-cloud-image3.png
  website/www/site/static/images/blog/hop-web-cloud/hop-web-cloud-image4.png
  website/www/site/static/images/blog/hop-web-cloud/hop-web-cloud-image5.png
  website/www/site/static/images/blog/hop-web-cloud/hop-web-cloud-image6.png
Labels: website

#23476 [Playground] Examples CI
  .github/workflows/playground_examples_ci.yml
  .github/workflows/playground_examples_reusable.yml
  .github/workflows/tour_of_beam_examples_ci.yml
  playground/infrastructure/checker.py
  playground/infrastructure/grpc_client.py
  playground/infrastructure/test_checker.py
Labels: build, Next Action: Reviewers

#23318 [Tour Of Beam] README update
  learning/tour-of-beam/backend/README.md
Labels: learning

#23639 [Jenkins,Spark] Stop running Nexmark suite for deprecated Spark 2 runners
  .test-infra/jenkins/CommonTestProperties.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Spark.groovy
Labels: infra

#23607 Fix beam_PerformanceTests_PubsubIOIT_Python_Streaming
  .test-infra/jenkins/job_PerformanceTests_PubsubIO_Python.groovy
  sdks/python/apache_beam/io/gcp/pubsub_io_perf_test.py
  sdks/python/apache_beam/testing/load_tests/build.gradle
Labels: python, infra, io, gcp

#23406 2.42.0 Release Blog Post
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.42.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#23619 Adds a Java RunInference example
  examples/java/build.gradle
  examples/java/src/main/java/org/apache/beam/examples/multilanguage/SklearnMnistClassification.java
  examples/multi-language/README.md
  examples/multi-language/build.gradle
  examples/multi-language/src/main/java/org/apache/beam/examples/multilanguage/PythonDataframeWordCount.java
  sdks/java/maven-archetypes/examples/generate-sources.sh
  sdks/java/maven-archetypes/examples/src/main/resources/archetype-resources/pom.xml
Labels: java, examples, Next Action: Author

#23667 Suppress a FloatingPointLiteralPrecision error
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoIT.java
Labels: java, io, gcp, Next Action: Reviewers

#23669 Better error for disabling runner v2 with cross language pipelines.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python, Next Action: Reviewers

#23677 Update scopes to match the existing set and update test to clear credentials during failure
  sdks/python/apache_beam/examples/wordcount_it_test.py
  sdks/python/apache_beam/options/pipeline_options.py
Labels: python, examples

#23531 [GitHub Actions] - Run RC Validations Workflow
  .github/actions/common-rc-validation/action.yaml
  .github/workflows/run_rc_validation.yml
  CI.md
Labels: build

#23629 Add workflow to update milestone on issue close
  .github/workflows/assign_milestone.yml
Labels: build, Next Action: Reviewers

#23552 add website page about data processing for ML
  website/www/site/content/en/documentation/ml/data-processing.md
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website

#23450 [Go SDK] Dataframe API wrapper
  CHANGES.md
  sdks/go/pkg/beam/schema.go
  sdks/go/pkg/beam/transforms/xlang/dataframe/dataframe.go
  sdks/go/pkg/beam/transforms/xlang/python/external.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/transforms/xlang/dataframe/dataframe.go
  sdks/go/test/integration/transforms/xlang/dataframe/dataframe_test.go
Labels: go

#23582 [Go SDK]: Adds Automated Python Expansion Service
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
  sdks/go/pkg/beam/core/runtime/xlangx/expand_test.go
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/download.go
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/process.go
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/process_test.go
  sdks/go/pkg/beam/core/runtime/xlangx/registry.go
Labels: go

#23685 Include CombineFn's in __all__
  sdks/python/apache_beam/transforms/combiners.py
Labels: python

#23641 [Go SDK] Extract output coders in expandCrossLanguage
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
Labels: go

#23679 Fixes #22192: Avoids nullpointer error. Preserves previous behavior.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystems.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/FileSystemsTest.java
Labels: java

#23609 Migrate nexmark to common config for cron jobs
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Dataflow_V2.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Direct.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Spark.groovy
Labels: infra

#23678 Deflaking tests for BQ row insertions. These tests were flaky due to …
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
Labels: java, io, gcp

#23680 [23286] Run beam_PerformanceTests_InfluxDbIO_IT on beam-perf node
  .test-infra/jenkins/job_PerformanceTests_InfluxDBIO_IT.groovy
Labels: infra

#23699 [Go SDK]: Enable automatic python expansion service
  CHANGES.md
  sdks/go/pkg/beam/transforms/xlang/dataframe/dataframe.go
  sdks/go/pkg/beam/transforms/xlang/python/external.go
Labels: go

#23649 Remove numpy C API dep from public declarations.
  sdks/python/apache_beam/coders/coder_impl.pxd
Labels: python

#23696 Update portable runner test timeout
  sdks/python/apache_beam/runners/portability/portable_runner_test.py
Labels: python

#23510 Vortex multiplexing streams
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
Labels: java, build, io, gcp, Next Action: Reviewers

#22932 Io jms fix ack message checkpoint
  CHANGES.md
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsCheckpointMark.java
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsIO.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/JmsIOTest.java
Labels: java, io, jms, Next Action: Reviewers

#23603 Keep Spark version in a single place only (BeamModulePlugin)
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/spark/2/build.gradle
  runners/spark/3/build.gradle
Labels: build, runners, spark

#23729 Move Tensorflow Documentation
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#23662 [ToB] [Frontend] Unit Content markdown styles (#23592)
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/content.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/unit_content.dart
  learning/tour-of-beam/frontend/pubspec.lock
  learning/tour-of-beam/frontend/pubspec.yaml
  playground/frontend/playground_components/lib/src/constants/colors.dart
  playground/frontend/playground_components/lib/src/constants/sizes.dart
  playground/frontend/playground_components/lib/src/theme/theme.dart
  playground/frontend/playground_components/pubspec.yaml
Labels: learning

#23733 Add reopen issue command
  .github/ACTIONS.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/workflows/self-assign.yml
Labels: build, Next Action: Reviewers

#23497 Add example of real time Anomaly Detection using RunInference
  sdks/python/apache_beam/examples/inference/anomaly_detection/anomaly_detection_pipeline/__init__.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/anomaly_detection_pipeline/config.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/anomaly_detection_pipeline/main.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/anomaly_detection_pipeline/pipeline/__init__.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/anomaly_detection_pipeline/pipeline/options.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/anomaly_detection_pipeline/pipeline/transformations.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/anomaly_detection_pipeline/setup.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/write_data_to_pubsub_pipeline/__init__.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/write_data_to_pubsub_pipeline/config.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/write_data_to_pubsub_pipeline/main.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/write_data_to_pubsub_pipeline/pipeline/__init__.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/write_data_to_pubsub_pipeline/pipeline/options.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/write_data_to_pubsub_pipeline/pipeline/utils.py
  sdks/python/apache_beam/examples/inference/anomaly_detection/write_data_to_pubsub_pipeline/setup.py
  website/www/site/content/en/documentation/ml/anomaly-detection.md
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, website, examples, Next Action: Reviewers

#23070 Support TIMESTAMP type in BigQueryIO with BEAM_ROW output type, and in read_gbq
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_schema_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_schema_tools_test.py
Labels: python, io, gcp, Next Action: Reviewers

#23296 Add PytorchBatchConverter
  sdks/python/apache_beam/typehints/pytorch_type_compatibility.py
  sdks/python/apache_beam/typehints/pytorch_type_compatibility_test.py
Labels: python

#23735 Pin version to grpcio in build-requirements.txt
  sdks/python/build-requirements.txt
Labels: python

#23716 Bump up python container versions.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#23635 Reduce log flood in Python PostCommit flink task
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/SdkHarnessOptions.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
  sdks/python/scripts/run_integration_test.sh
  sdks/python/test-suites/portable/common.gradle
Labels: python, java, build, runners, flink

#23737 Speed up check on website links
  website/www/check-links.sh
Labels: website

#23748 tests: fixes SpannerIO unavailable retry test
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
Labels: java, io, gcp, Next Action: Reviewers

#23727 Revert bigdataoss version upgrade
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#23743 Updating Python dependencies for the 2.43.0 release
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#23732 Update the timeout in ValidatesContainer suite.
  sdks/python/container/run_validatescontainer.sh
Labels: python, docker

#23742 Verify that secondary key coder is deterministic in SortValues
  sdks/java/extensions/sorter/src/main/java/org/apache/beam/sdk/extensions/sorter/SortValues.java
Labels: java, extensions, sorter, Next Action: Reviewers

#23759 [Go SDK] Fix lints in recent import
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/process.go
  sdks/go/pkg/beam/transforms/xlang/python/external.go
Labels: go

#23755 Update google cloud vision >= 2.0.0
  sdks/python/apache_beam/ml/gcp/visionml.py
  sdks/python/apache_beam/ml/gcp/visionml_test.py
  sdks/python/apache_beam/ml/gcp/visionml_test_it.py
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#23766 Update GcsIO initialization to support converting input parameters to PipelineOptions for authentication
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, gcp

#23721 Adds instructions for running the Multi-language Java quickstart from released Beam
  examples/java/src/main/java/org/apache/beam/examples/multilanguage/PythonDataframeWordCount.java
  examples/multi-language/README.md
  examples/multi-language/build.gradle
  website/www/site/content/en/documentation/sdks/java-multi-language-pipelines.md
Labels: java, website, examples

#23770 [cherry-pick][release-2.43.0] Update GcsIO initialization to support converting input parameters to PipelineOptions for authentication (#23766)
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, gcp

#23749 Remove Spark2 from Java testing projects
  sdks/java/testing/load-tests/build.gradle
  sdks/java/testing/nexmark/build.gradle
  sdks/java/testing/tpcds/README.md
  sdks/java/testing/tpcds/build.gradle
Labels: java, Next Action: Reviewers

#23777 bugfix/wrong-notebook-link
  website/www/site/content/en/documentation/ml/multi-model-pipelines.md
Labels: website

#22584 [CdapIO] Integration CdapIO with SparkReceiverIO
  sdks/java/io/cdap/build.gradle
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/CdapIO.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/ConfigWrapper.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/MappingUtils.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/Plugin.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/CdapIOIT.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/CdapIOTest.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/EmployeeConfig.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/PluginTest.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/batch/EmployeeBatchSink.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/batch/EmployeeBatchSource.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/batch/EmployeeInputFormat.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/batch/EmployeeInputFormatProvider.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/batch/EmployeeOutputFormat.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/batch/EmployeeOutputFormatProvider.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/streaming/EmployeeReceiver.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/streaming/EmployeeStreamingSource.java
  sdks/java/io/sparkreceiver/build.gradle
  sdks/java/io/sparkreceiver/src/main/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFn.java
  sdks/java/io/sparkreceiver/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ArrayBufferDataReceiver.java
  sdks/java/io/sparkreceiver/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ByteBufferDataReceiver.java
  sdks/java/io/sparkreceiver/src/test/java/org/apache/beam/sdk/io/sparkreceiver/IteratorDataReceiver.java
  sdks/java/io/sparkreceiver/src/test/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIOTest.java
Labels: java, io, Next Action: Reviewers

#23731 Avoid Circular imports related to bigquery_schema_tools
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_schema_tools.py
Labels: python, io, gcp

#23772 Adds instructions for running the Multi-language Java quickstart from…
  examples/java/src/main/java/org/apache/beam/examples/multilanguage/PythonDataframeWordCount.java
  examples/multi-language/README.md
  examples/multi-language/build.gradle
  website/www/site/content/en/documentation/sdks/java-multi-language-pipelines.md
Labels: java, website, examples

#23767 Use Flink 1.13 for load tests
  .test-infra/jenkins/Flink.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Python.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Flink.groovy
Labels: infra

#23773 Remove obsolete sparkRunner task from hadoop-format
  sdks/java/io/hadoop-format/build.gradle
Labels: java, io, hadoop, Next Action: Reviewers

#23549 Remove obsolete native text io translation.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python, Next Action: Reviewers

#23744 Eliminate nullness errors from GenerateSequence
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/GenerateSequence.java
Labels: java, io, Next Action: Reviewers

#23778 Re-enable PubsubTableProviderIT.testSQLSelectsArrayAttributes
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/pubsub/PubsubTableProviderIT.java
Labels: java, extensions, sql, Next Action: Reviewers

#23781 Add logos to case-studies "Also Used By"
  website/www/site/content/en/case-studies/Amazon.md
  website/www/site/content/en/case-studies/ML6.md
  website/www/site/content/en/case-studies/Strivr.md
  website/www/site/content/en/case-studies/TrustPilot.md
  website/www/site/content/en/case-studies/Twitter.md
  website/www/site/content/en/case-studies/Wayfair.md
  website/www/site/content/en/case-studies/Wizeline.md
  website/www/site/static/images/logos/powered-by/Amazon.png
  website/www/site/static/images/logos/powered-by/ML6.jpg
  website/www/site/static/images/logos/powered-by/Strivr.png
  website/www/site/static/images/logos/powered-by/Trustpilot.png
  website/www/site/static/images/logos/powered-by/Twitter.png
  website/www/site/static/images/logos/powered-by/Wayfair.png
  website/www/site/static/images/logos/powered-by/Wizeline.png
Labels: website

#23739 Avoid pickling unstable reference to moved proto classes.
  sdks/python/apache_beam/typehints/schemas.py
Labels: python

#23684 Allow local packages in requirements.txt dependency list.
  CHANGES.md
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/runners/portability/stager_test.py
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: python, website

#23791 Unskip test_generated_class_pickle for cloudpickle.
  sdks/python/apache_beam/typehints/schemas_test.py
Labels: python

#23793 Revert "Update BQIO to a single scheduled executor service reduce thr…
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/ExecutorOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, extensions, gcp

#23786 Updates Python test expansion service to use Cloud Pickle
  sdks/python/apache_beam/runners/portability/expansion_service_test.py
Labels: python

#23795 Revert 23234: issue #23794
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/ExecutorOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptions.java
Labels: java, extensions, gcp

#23556 Forward failed storage-api row inserts to the failedStorageApiInserts PCollection addresses #23628
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigqueryClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryNestedRecordsIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkFailedRowsIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoIT.java
Labels: java, build, io, gcp, Next Action: Reviewers

#23775 Remove unnecessary dependencies from jpms test
  sdks/java/testing/jpms-tests/build.gradle
Labels: java, Next Action: Reviewers

#23751 Use Spark 3 job-server as default Spark job-server for PortableRunner
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/test/build.gradle
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/portability/spark_runner.py
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
  sdks/python/apache_beam/runners/portability/spark_uber_jar_job_server.py
  sdks/python/test-suites/portable/common.gradle
  website/www/site/content/en/documentation/runners/spark.md
Labels: python, go, build, website, Next Action: Reviewers

#23553 Support usage of custom profileName with AWS ProfileCredentialsProvider
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsModule.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsOptions.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/AwsModuleTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/SerializationTestUtil.java
Labels: java, build, io, aws

#23730 Migrate examples and maven-archetypes (including Java Quickstart) to Spark 3 runner
  examples/java/build.gradle
  examples/kotlin/build.gradle
  release/build.gradle.kts
  runners/spark/3/build.gradle
  runners/spark/spark_runner.gradle
  sdks/java/maven-archetypes/examples/build.gradle
  sdks/java/maven-archetypes/examples/src/main/resources/archetype-resources/pom.xml
  sdks/java/maven-archetypes/gcp-bom-examples/build.gradle
  sdks/java/maven-archetypes/gcp-bom-examples/src/main/resources/archetype-resources/pom.xml
Labels: java, build, examples, runners, spark, kotlin

#23796 Bump dataflow java fn container version to beam-master-20221022
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#23579 Publish Python nexmark metrics to influxdb
  .github/codecov.yml
  sdks/python/apache_beam/testing/benchmarks/nexmark/nexmark_launcher.py
Labels: python, Next Action: Reviewers

#23790 Updated ipywidgets
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#23807 Bump Dataflow python containers to 20221021
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#23798 Avoid pickling unstable reference to moved proto classes. (#23739)
  sdks/python/apache_beam/typehints/schemas.py
Labels: python

#23811 Allow MoreFutures.allAsList/allAsListWithExceptions to have the passed in list to be mutated
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/MoreFutures.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/MoreFuturesTest.java
Labels: java

#23818 [release-2.43.0][cherry-pick] Allow MoreFutures.allAsList/allAsListWithExceptions to have the passed in list to be mutated (#23811)
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/MoreFutures.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/MoreFuturesTest.java
Labels: java
