Repository apache/beam, pull requests merged in 2022-08, with the labels that each got.

#22539 Exclude grpcio==1.48.0
  sdks/python/setup.py
Labels: python

#22519 [release-2.41.0]Change _build import from setuptools to distutils
  sdks/python/apache_beam/examples/complete/juliaset/setup.py
Labels: python, examples, Next Action: Reviewers

#22304 Fix JDBCIOIT
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOIT.java
Labels: java, io, jdbc

#22055 Update pytest to support Python 3.10
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
  sdks/python/tox.ini
Labels: python, build, docker, Next Action: Reviewers

#22549 Update the imprecise link.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build

#22371 Remove normalization in Pytorch Image Segmentation example
  sdks/python/apache_beam/examples/inference/pytorch_image_segmentation.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_it_test.py
Labels: python, examples, Next Action: Reviewers, slow-review

#22273 Downgrade less informative logs during write to files
  sdks/python/apache_beam/io/aws/s3io.py
  sdks/python/apache_beam/io/azure/blobstorageio.py
  sdks/python/apache_beam/io/fileio.py
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, aws, gcp, Next Action: Reviewers, slow-review

#22419 Add zstd compression/decompression support
  CHANGES.md
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/io/filesystem_test.py
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, io, Next Action: Reviewers

#22510 Beam ml notebooks
  examples/notebooks/beam-ml/run_inference_basic.ipynb
Labels: examples

#22562 [Go SDK]: Add clearer error message for xlang transforms on the Go Direct Runner
  sdks/go/pkg/beam/runners/direct/direct.go
Labels: go, runners, direct

#22313 [CdapIO] Add integration tests for CdapIO (Batch)
  .test-infra/jenkins/job_PerformanceTests_CdapIO.groovy
  sdks/java/io/cdap/build.gradle
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/CdapIOIT.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/DBBatchSink.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/DBBatchSource.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/DBConfig.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/DBInputFormatProvider.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/DBOutputFormatProvider.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/TestRowDBWritable.java
Labels: java, infra, io, Next Action: Reviewers

#22485 Bugfix: Fix broken assertion in PipelineTest
  sdks/java/core/src/test/java/org/apache/beam/sdk/PipelineTest.java
Labels: java, tests, Next Action: Reviewers

#22557 Mention Java RunInference support in the Website
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#22567 Update run_inference_basic.ipynb
  examples/notebooks/beam-ml/run_inference_basic.ipynb
Labels: examples

#22525 Fix deleteTimer in InMemoryTimerInternals and enable VR tests for GroupIntoBatches.
  runners/core-java/src/main/java/org/apache/beam/runners/core/InMemoryTimerInternals.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/TransformTranslator.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupIntoBatchesTest.java
Labels: java, runners, spark, core, Next Action: Reviewers

#22580 Update Dataflow container version
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#22347 [22188]Set allowed timestamp skew
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#22565 Added experimental annotation to fixes #22564
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
Labels: python

#22589 [release-2.41.0]Merge pull request #22347: [22188]Set allowed timestamp skew
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#22594 [BEAM-14117, #21519] Delete vendored bytebuddy gradle build
  settings.gradle.kts
  vendor/bytebuddy-1_12_8/build.gradle.kts
Labels: build, vendor

#22460 Add Import transform to Go FhirIO
  sdks/go/examples/fhirio/import/import.go
  sdks/go/examples/fhirio/read_write_pubsub/read_write_pubsub.go
  sdks/go/pkg/beam/io/fhirio/common.go
  sdks/go/pkg/beam/io/fhirio/deidentify.go
  sdks/go/pkg/beam/io/fhirio/deidentify_test.go
  sdks/go/pkg/beam/io/fhirio/import.go
  sdks/go/pkg/beam/io/fhirio/import_test.go
  sdks/go/pkg/beam/io/fhirio/utils_test.go
  sdks/go/test/integration/io/fhirio/fhirio_test.go
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
Labels: java, go, examples, io, gcp

#22596 Allow unsafe triggers for python nexmark benchmarks
  sdks/python/apache_beam/testing/benchmarks/nexmark/nexmark_launcher.py
Labels: python, Next Action: Reviewers

#22585 pubsublite: Fix max offset for computing backlog
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/TopicBacklogReaderImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/TopicBacklogReaderImplTest.java
Labels: java, io, gcp, Next Action: Reviewers

#22138 Add support when writing to locked buckets by handling retentionPolicyNotMet error
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtilTest.java
Labels: java, extensions, gcp

#22607 [BEAM-14118, #21639] Vendor gRPC 1.48.1
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_48_1.groovy
  settings.gradle.kts
  vendor/README.md
  vendor/grpc-1_48_1/build.gradle
Labels: build, vendor

#22282 [21894] Validates inference_args early
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python, Next Action: Reviewers

#22548 Return type for _ExpandIntoRanges DoFn should be Iterable.
  sdks/python/apache_beam/io/filebasedsource.py
Labels: python, io, Next Action: Reviewers

#22458 Add PyDoc buttons to the top and bottom of the Machine Learning page
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#22326 [Playground]: Modified WithKeys Playground Example
  learning/katas/java/Common Transforms/WithKeys/WithKeys/src/org/apache/beam/learning/katas/commontransforms/withkeys/Task.java
Labels: learning, beam-playground

#22613 Minor: Clean up an assertion in schemas_test
  sdks/python/apache_beam/dataframe/schemas_test.py
Labels: python, Next Action: Reviewers

#22593 Exclude testWithShardedKeyInGlobalWindow on streaming runner v1
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#22417 Add an example for `Distinct` PTransform
  website/www/site/content/en/documentation/transforms/java/aggregation/distinct.md
Labels: website

#22145 Pub/Sub Schema Transform Read Provider
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformReadProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformReadProviderTest.java
Labels: java, io, gcp

#22452 Update BigQuery URI validation to allow more valid URIs through
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/setup.py
Labels: python, io, gcp, Next Action: Reviewers

#22429 Fix bug in StructUtils of SpannerIO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/StructUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/StructUtilsTest.java
Labels: java, io, gcp

#22428 Add units tests for SpannerIO
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/MutationSizeEstimatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/MutationUtilsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerTransformRegistrarTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataAdminDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/InitializeDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/PostProcessingMetricsDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/ChangeStreamRecordMetadataTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/PartitionMetadataTest.java
Labels: java, io, gcp

#22633 Fix for #22631 KafkaIO considers readCommitted() as it would commit back the offsets, which it doesn't
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
Labels: java, io, kafka

#22641 [CdapIO] Add CdapIO dashboard in Grafana
  .test-infra/jenkins/README.md
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Java_IO_IT_Tests_Dataflow.json
Labels: infra

#22640 Add information on how to take/close issues in the contribution guide.
  website/www/site/content/en/contribute/_index.md
Labels: website

#22623 Skip dataflow_exercise_metrics_pipeline_test.ExerciseMetricsPipelineTest.test_metrics_it
  sdks/python/apache_beam/runners/dataflow/dataflow_exercise_metrics_pipeline_test.py
Labels: python

#22635 Add stdlib distutils env variable while building the wheels
  .github/workflows/build_wheels.yml
Labels: build

#22636 [release-2.41.0]use stdlib distutils while building the RC wheels
  .github/workflows/build_wheels.yml
Labels: build

#22579 Persist ghprbPullId parameter in seed job
  .test-infra/jenkins/job_00_seed.groovy
Labels: infra

#22638 Adhoc: Fix logging in Spark runner to avoid unnecessary creation of strings
  runners/spark/2/src/main/java/org/apache/beam/runners/spark/structuredstreaming/aggregators/AggregatorsAccumulator.java
  runners/spark/2/src/main/java/org/apache/beam/runners/spark/structuredstreaming/metrics/MetricsAccumulator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/aggregators/AggregatorsAccumulator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/metrics/MetricsAccumulator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkPipelineRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkRunnerDebugger.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/TestSparkRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/aggregators/AggregatorsAccumulator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/io/MicrobatchSource.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/io/SourceDStream.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/metrics/MetricsAccumulator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/stateful/SparkGroupAlsoByWindowViaWindowSet.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/WatermarkSyncedDStream.java
Labels: runners, spark

#22405 Improve exception when requested error tag does not exist (#22401)
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteResult.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#22468 [Website] update contribution content collapse
  website/www/site/assets/scss/_lists.scss
  website/www/site/content/en/contribute/get-started-contributing.md
Labels: website

#22649 Clean up checkstyle suppressions.xml
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
Labels: java, build

#22630 Minor: Add helpful names for parameterized tests in `dataframe.schemas_test`
  sdks/python/apache_beam/dataframe/schemas_test.py
Labels: python, Next Action: Reviewers

#22655 Change Python PostCommits timeout
  .test-infra/jenkins/job_PostCommit_Python.groovy
Labels: infra

#22554 Fix broken link to Retry Policy blog
  website/www/site/content/en/documentation/resources/learning-resources.md
Labels: website

#22677 Update vendored gRPC version for SpannerTransformRegistrarTest
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerTransformRegistrarTest.java
Labels: java, io, gcp

#22654 Remove subprocess.PIPE usage by using a temp file
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python, Next Action: Reviewers

#22648 [#22647] Upgrade org.apache.samza to 1.6
  runners/samza/build.gradle
  runners/samza/job-server/build.gradle
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaTimerInternalsFactory.java
Labels: runners, samza

#22687 Fix seed job
  .test-infra/jenkins/committers_list_generator/cert.pem
  .test-infra/jenkins/committers_list_generator/main.py
Labels: infra

#22700 Fix wordcount setup-java
  .github/workflows/java_tests.yml
Labels: build

#22470 [Website] update runners table content overflow
  website/www/site/content/en/documentation/runners/dataflow.md
  website/www/site/content/en/documentation/runners/jet.md
  website/www/site/content/en/documentation/runners/samza.md
  website/www/site/content/en/documentation/runners/spark.md
  website/www/site/content/en/documentation/runners/twister2.md
  website/www/site/layouts/shortcodes/flink_java_pipeline_options.html
  website/www/site/layouts/shortcodes/flink_python_pipeline_options.html
Labels: website

#22674 Bump mongo_java_driver to 3.12.11 and embed.mongo to 3.0.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/mongodb/MongoDbReadWriteIT.java
  sdks/java/io/mongodb/build.gradle
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDBGridFSIOTest.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDbIOTest.java
Labels: java, build, io, extensions, sql, mongodb

#22664 [Go SDK]: Implement standalone single-precision float encoder
  CHANGES.md
  sdks/go/pkg/beam/core/graph/coder/coder_fuzz_test.go
  sdks/go/pkg/beam/core/graph/coder/float.go
  sdks/go/pkg/beam/core/graph/coder/float_test.go
  sdks/go/pkg/beam/core/graph/coder/row_decoder.go
  sdks/go/pkg/beam/core/graph/coder/row_encoder.go
Labels: go

#22679 Add GeneratedClassRowTypeConstraint
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/typehints/row_type.py
  sdks/python/apache_beam/typehints/schema_registry.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
Labels: python, Next Action: Reviewers

#22262 Implement PubsubSchemaTransformWriteConfiguration
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformWriteConfiguration.java
Labels: java, io, gcp

#22626 Add support for FLOAT to Python RowCoder
  model/fn-execution/src/main/resources/org/apache/beam/model/fnexecution/v1/standard_coders.yaml
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/coders/slow_stream.py
  sdks/python/apache_beam/coders/stream.pxd
  sdks/python/apache_beam/coders/stream.pyx
  sdks/python/apache_beam/coders/stream_test.py
Labels: python, go, model, Next Action: Reviewers

#22697 Bump up python container versions
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#22618 fix minor unreachable code caused by log.Fatal
  sdks/go/pkg/beam/core/runtime/harness/worker_status_test.go
  sdks/python/container/boot.go
  sdks/typescript/boot.go
Labels: python, go, docker, typescript

#22688 Attempt to fix SpannerIO test flakes
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/SerializableCoderCloudObjectTranslator.java
Labels: java, runners, dataflow, Next Action: Reviewers

#22661 Add a dataflow override for runnerv1 to still use SDF on runnerv2.
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscribeTransform.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/UnboundedReaderImpl.java
Labels: java, io, runners, dataflow, gcp, Next Action: Reviewers

#22342 [Website] update case-studies layout
  website/www/site/assets/scss/_case_study.scss
  website/www/site/assets/scss/_global.sass
  website/www/site/layouts/case-studies/baseof.html
  website/www/site/layouts/case-studies/list.html
Labels: website

#22390 Fix UpdateSchemaDestination when source format is set to AVRO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/UpdateSchemaDestination.java
Labels: java, io, gcp, Next Action: Reviewers

#22403 Implement KafkaSchemaTransformReadConfiguration
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSchemaTransformReadConfiguration.java
Labels: java, io, kafka, Next Action: Reviewers

#22716 [Go SDK]: Handle single-precision float values in the standard coders tests
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
Labels: go, Next Action: Reviewers

#22627 [BEAM-13015, #21250] Remove looking up thread local metrics container holder and object creation on hot path
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/legacy-worker/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricsEnvironment.java
  sdks/java/harness/build.gradle
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistry.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PTransformFunctionRegistry.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistryTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PTransformFunctionRegistryTest.java
Labels: java, runners, dataflow

#22732 [fixes #22731] Publish nightly snapshot of legacy Dataflow worker jar
  runners/google-cloud-dataflow-java/worker/legacy-worker/build.gradle
Labels: runners, dataflow

#22745 [fixes #22744] Update hadoop library patch versions to 2.10.2 and 3.2.4
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/spark/spark_runner.gradle
  sdks/java/extensions/sorter/build.gradle
  sdks/java/extensions/sql/build.gradle
  sdks/java/io/hadoop-common/build.gradle
  sdks/java/io/hadoop-file-system/build.gradle
  sdks/java/io/hadoop-format/build.gradle
  sdks/java/io/hcatalog/build.gradle
  sdks/java/io/parquet/build.gradle
Labels: java, build, io, extensions, runners, spark, sql, hadoop, hcatalog, parquet, sorter

#22741 Update beam-master version for legacy
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#22750 Remove assert schema.id
  sdks/python/apache_beam/typehints/schemas.py
Labels: python

#22730 Fix direct running mode multi_processing on win32
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/python/apache_beam/runners/portability/portable_runner_test.py
Labels: python, Next Action: Reviewers

#22469 Improve error message on schema issues
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
Labels: java

#22088 sklearn runinference regression example
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/sklearn_japanese_housing_regression.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_it_test.py
Labels: python, examples

#22759 [release-2.41.0] Revert "[BEAM-14117] Unvendor bytebuddy dependency (#17317)"
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/build-tools/src/main/resources/beam/checkstyle.xml
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AutoValueUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyLocalVariableManager.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ConvertHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SelectByteBuddyHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyOnTimerInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/StableInvokerNamingStrategy.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/options/ProxyInvocationHandlerTest.java
  sdks/java/extensions/protobuf/build.gradle
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
Labels: java, build, extensions, protobuf

#22757 [Website] add Intuit case-study
  website/www/site/content/en/case-studies/intuit.md
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/intuit/intuit-quote.png
  website/www/site/static/images/case-study/intuit/intuit_stream_processing_pipeline.png
  website/www/site/static/images/case-study/intuit/nick_hwang.png
  website/www/site/static/images/case-study/intuit/stream_processing_tech_stack.png
  website/www/site/static/images/logos/powered-by/intuit.png
Labels: website

#22767 Avoid panic on type assert.
  sdks/go/pkg/beam/core/runtime/exec/translate.go
Labels: go

#22702 [#21935] Reject ill formed GroupByKey coders during pipeline.run validation within Beam Java SDK.
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupByKey.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PTransform.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupByKeyTest.java
Labels: java

#22432 [fixes #22431] Don't use batch interface for single object operations
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtilTest.java
Labels: java, extensions, gcp, Next Action: Reviewers

#22764 Label kata changes with the language they're modifying
  .github/autolabeler.yml
Labels: build

#22774 [Website] Add GitHub issue link in Contribution guide
  website/www/site/content/en/contribute/_index.md
Labels: website

#22763 Fix some typos in the ML doc
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#22761 Go stateful DoFns user side changes
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/funcx/fn_test.go
  sdks/go/pkg/beam/core/graph/edge.go
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/serialize.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/v1/v1.pb.go
  sdks/go/pkg/beam/core/runtime/graphx/v1/v1.proto
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/pkg/beam/core/state/state_test.go
  sdks/go/pkg/beam/pardo.go
Labels: go, Next Action: Reviewers

#22770 fixed column width in tables in Getting started from Spark guide
  website/www/site/content/en/get-started/from-spark.md
Labels: website

#22782 Testing authentication for Playground
  .github/workflows/playground_deploy_examples.yml
Labels: build

#22765 Downgrade bytebuddy version to 1.11.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#22645 [BEAM-12776, fixes #21095] Limit parallel closes from the prior element to the next element.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
Labels: java, Next Action: Reviewers

#22780 [BEAM-13015, #21250] Reuse buffers when possible when writing on Dataflow streaming hot paths.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/PubsubSink.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillSink.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternals.java
Labels: runners, dataflow

#22754 [Website] update Available contact channels table content
  website/www/site/data/en/contact_us.yaml
Labels: website

#22608 [Website] update commits link
  website/www/site/data/en/contact_us.yaml
Labels: website

#22235 [Website] scroll to correct position if anchor is present
  website/www/site/assets/js/anchor-content-jump-fix.js
  website/www/site/assets/js/language-switch-v2.js
  website/www/site/layouts/partials/head.html
Labels: website

#22796 [Go SDK] Fix go lint errors
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/pkg/beam/core/state/state_test.go
Labels: go

#22433 [BEAM-8701] bump commons-io to 2.7
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/redis/build.gradle
Labels: java, build, io, redis, Next Action: Reviewers

#22164 Modify RunInference to return PipelineResult for the benchmark tests
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/pytorch_image_classification.py
  sdks/python/apache_beam/examples/inference/pytorch_image_segmentation.py
  sdks/python/apache_beam/examples/inference/pytorch_language_modeling.py
  sdks/python/apache_beam/examples/inference/sklearn_japanese_housing_regression.py
  sdks/python/apache_beam/examples/inference/sklearn_mnist_classification.py
Labels: python, examples, Next Action: Reviewers, slow-review

#22800 Fix lint issues
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
Labels: go

#22785 Add Release category to release announcement blogs
  website/www/site/content/en/blog/beam-2.10.0.md
  website/www/site/content/en/blog/beam-2.11.0.md
  website/www/site/content/en/blog/beam-2.12.0.md
  website/www/site/content/en/blog/beam-2.13.0.md
  website/www/site/content/en/blog/beam-2.14.0.md
  website/www/site/content/en/blog/beam-2.15.0.md
  website/www/site/content/en/blog/beam-2.16.0.md
  website/www/site/content/en/blog/beam-2.17.0.md
  website/www/site/content/en/blog/beam-2.18.0.md
  website/www/site/content/en/blog/beam-2.19.0.md
  website/www/site/content/en/blog/beam-2.20.0.md
  website/www/site/content/en/blog/beam-2.21.0.md
  website/www/site/content/en/blog/beam-2.22.0.md
  website/www/site/content/en/blog/beam-2.23.0.md
  website/www/site/content/en/blog/beam-2.24.0.md
  website/www/site/content/en/blog/beam-2.25.0.md
  website/www/site/content/en/blog/beam-2.26.0.md
  website/www/site/content/en/blog/beam-2.27.0.md
  website/www/site/content/en/blog/beam-2.28.0.md
  website/www/site/content/en/blog/beam-2.29.0.md
  website/www/site/content/en/blog/beam-2.3.0.md
  website/www/site/content/en/blog/beam-2.30.0.md
  website/www/site/content/en/blog/beam-2.31.0.md
  website/www/site/content/en/blog/beam-2.32.0.md
  website/www/site/content/en/blog/beam-2.33.0.md
  website/www/site/content/en/blog/beam-2.34.0.md
  website/www/site/content/en/blog/beam-2.35.0.md
  website/www/site/content/en/blog/beam-2.36.0.md
  website/www/site/content/en/blog/beam-2.37.0.md
  website/www/site/content/en/blog/beam-2.38.0.md
  website/www/site/content/en/blog/beam-2.39.0.md
  website/www/site/content/en/blog/beam-2.40.0.md
  website/www/site/content/en/blog/beam-2.5.0.md
  website/www/site/content/en/blog/beam-2.6.0.md
  website/www/site/content/en/blog/beam-2.7.0.md
  website/www/site/content/en/blog/beam-2.8.0.md
  website/www/site/content/en/blog/beam-2.9.0.md
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#22804 [BEAM-13657] Update Python version used by mypy.
  sdks/python/mypy.ini
Labels: python, Next Action: Reviewers

#22812 Align neo4j error messages with API
  sdks/java/io/neo4j/src/main/java/org/apache/beam/sdk/io/neo4j/Neo4jIO.java
Labels: java, io, Next Action: Reviewers

#22801 Add Python nexmark to gradle
  sdks/python/apache_beam/testing/benchmarks/nexmark/README.md
  sdks/python/apache_beam/testing/benchmarks/nexmark/build.gradle
  settings.gradle.kts
Labels: python, build, Next Action: Reviewers

#22798 E2E basic state support
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/combine.go
  sdks/go/pkg/beam/core/runtime/exec/data.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/sideinput_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/exec/userstate.go
  sdks/go/pkg/beam/core/runtime/exec/userstate_test.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr_test.go
  sdks/go/pkg/beam/core/state/state.go
Labels: go

#22815 Add state integration test
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/state.go
  sdks/go/test/integration/primitives/state_test.go
Labels: go

#22740 Evaluate proper metric in TextIOIT
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Java_IO_IT_Tests_Dataflow.json
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/text/TextIOIT.java
  sdks/java/testing/test-utils/src/main/java/org/apache/beam/sdk/testutils/NamedTestResult.java
Labels: java, infra, io, tests, Next Action: Reviewers

#22706 Update Beam 2.41.0 release docs
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.41.0.md
  website/www/site/content/en/get-started/downloads.md
  website/www/site/data/authors.yml
Labels: website

#22816 Add bag state support
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/exec/userstate.go
  sdks/go/pkg/beam/core/runtime/exec/userstate_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/pkg/beam/core/state/state_test.go
Labels: go

#17819 [BEAM-10496] Eliminate some null errors from sdks/java/core
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/Preconditions.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollection.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionList.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionRowTuple.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionTuple.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionView.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PValue.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PValueBase.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PValues.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/RowWithGetters.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/RowWithStorage.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/TaggedPValue.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/TimestampedValue.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/TypeDescriptor.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/TypeDescriptors.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/TypeParameter.java
Labels: java

#22830 Fix dates for 2.41.0 release
  CHANGES.md
  website/www/site/content/en/blog/beam-2.41.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#22832 Added link to setup instructions in WordCount example
  website/www/site/content/en/get-started/wordcount-example.md
Labels: website

#22827 Add an integration test for bag state
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/state.go
  sdks/go/test/integration/primitives/state_test.go
Labels: go

#22835 Updates old releases to use archive.apache.org
  website/www/site/content/en/get-started/downloads.md
Labels: website

#22826 Add combining state support
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/exec/userstate.go
  sdks/go/pkg/beam/core/runtime/exec/userstate_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/pkg/beam/core/state/state_test.go
Labels: go

#22772 [Website] Update videos section
  website/www/site/content/en/documentation/resources/videos-and-podcasts.md
Labels: website

#22852 Update Dataflow fnapi_container_version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#22825 unskip sklearn IT test
  sdks/python/apache_beam/ml/inference/sklearn_inference_it_test.py
Labels: python

#22841 [Website] add Python implementation to KinesisIO
  website/www/site/content/en/documentation/io/connectors.md
Labels: website

#22846 Combining state integration test
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/state.go
  sdks/go/test/integration/primitives/state_test.go
Labels: go

#22890 Small lint fixes
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/test/integration/primitives/state.go
Labels: go

#22834 Yield BatchElement batches at end of window.
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/apache_beam/transforms/window.py
Labels: python

#22814 Update to Byte Buddy 1.12.14
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DefaultPackageTest.java
Labels: java, build

#22624 Pass user specified destination type to UpdateSchemaDestination
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/UpdateSchemaDestination.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteTables.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#22904 [Go SDK] Stream decode values in single iterations
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fullvalue.go
  sdks/go/pkg/beam/core/runtime/exec/fullvalue_test.go
  sdks/go/pkg/beam/core/runtime/exec/pardo_test.go
  sdks/go/test/integration/primitives/cogbk.go
  sdks/go/test/integration/primitives/cogbk_test.go
Labels: go, Next Action: Reviewers

#16795 Sharding vortex
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: stale, java, io, gcp

#22786 Update wordcount_minimal.py by removing pipeline_args.extend
  .gitignore
  sdks/python/apache_beam/examples/wordcount_minimal.py
Labels: python, build, examples, Next Action: Reviewers

#22897 Add map state in the Go Sdk
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/data.go
  sdks/go/pkg/beam/core/runtime/exec/sideinput_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/exec/userstate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr.go
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/pkg/beam/core/state/state_test.go
  sdks/go/pkg/beam/pardo.go
Labels: go

#22769 [BEAM-12164] Feat: Added support to Cloud Spanner Change Streams connector for including transaction tags in the Change Stream records
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/DataChangeRecord.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/PostProcessingMetricsDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamOrderedWithinKeyGloballyIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamOrderedWithinKeyIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/DataChangeRecordTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/ModelEncodingTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/util/TestStructMapper.java
Labels: java, io, gcp, Next Action: Reviewers

#22919 Add set state in Go
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/pkg/beam/core/state/state_test.go
  sdks/go/pkg/beam/pardo.go
Labels: go

#22898 Go Map State integration test
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/state.go
  sdks/go/test/integration/primitives/state_test.go
Labels: go

#22917 Add clear function for bag state types
  sdks/go/pkg/beam/core/runtime/exec/userstate.go
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/pkg/beam/core/state/state_test.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/state.go
  sdks/go/test/integration/primitives/state_test.go
Labels: go

#22925 [BEAM-22923] Allow sharding specification for dataframe writes.
  sdks/python/apache_beam/dataframe/io.py
  sdks/python/apache_beam/dataframe/io_test.py
  sdks/python/apache_beam/io/fileio.py
Labels: python, io

#22724 [Playground] Update build_playground_backend.yml - add "Index creation" in backend pipeline
  .github/workflows/build_playground_backend.yml
  playground/index.yaml
Labels: build, Next Action: Reviewers

#22934 Fix linting violations
  sdks/go/pkg/beam/core/runtime/exec/fullvalue.go
  sdks/go/pkg/beam/core/runtime/exec/sideinput_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/pkg/beam/pardo.go
Labels: go

#22556 [akvelon][tour-of-beam] backend bootstraps
  .github/workflows/tour_of_beam_backend.yml
  build.gradle.kts
  learning/tour-of-beam/backend/README.md
  learning/tour-of-beam/backend/cmd/ci_cd/ci_cd.go
  learning/tour-of-beam/backend/cmd/main.go
  learning/tour-of-beam/backend/docker-compose.yml
  learning/tour-of-beam/backend/function.go
  learning/tour-of-beam/backend/go.mod
  learning/tour-of-beam/backend/go.sum
  learning/tour-of-beam/backend/internal/entity.go
  learning/tour-of-beam/backend/internal/fs_content/builders.go
  learning/tour-of-beam/backend/internal/fs_content/load.go
  learning/tour-of-beam/backend/internal/fs_content/load_test.go
  learning/tour-of-beam/backend/internal/fs_content/yaml.go
  learning/tour-of-beam/backend/internal/json.go
  learning/tour-of-beam/backend/internal/sdk.go
  learning/tour-of-beam/backend/internal/sdk_test.go
  learning/tour-of-beam/backend/internal/service/content.go
  learning/tour-of-beam/backend/internal/service/mock.go
  learning/tour-of-beam/backend/internal/storage/adapter.go
  learning/tour-of-beam/backend/internal/storage/datastore.go
  learning/tour-of-beam/backend/internal/storage/iface.go
  learning/tour-of-beam/backend/internal/storage/image/Dockerfile
  learning/tour-of-beam/backend/internal/storage/image/index.yaml
  learning/tour-of-beam/backend/internal/storage/image/start-datastore.sh
  learning/tour-of-beam/backend/internal/storage/schema.go
  learning/tour-of-beam/backend/samples/api/get_content_tree.json
  learning/tour-of-beam/backend/samples/api/get_unit_content.json
  learning/tour-of-beam/backend/samples/learning-content/java/content-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/java/module 1/module-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/java/module 1/unit-challenge/description.md
  learning/tour-of-beam/backend/samples/learning-content/java/module 1/unit-challenge/hint1.md
  learning/tour-of-beam/backend/samples/learning-content/java/module 1/unit-challenge/hint2.md
  learning/tour-of-beam/backend/samples/learning-content/java/module 1/unit-challenge/unit-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/java/module 1/unit-example/unit-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/java/module 2/module-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/java/module 2/unit-challenge/description.md
  learning/tour-of-beam/backend/samples/learning-content/java/module 2/unit-challenge/hint1.md
  learning/tour-of-beam/backend/samples/learning-content/java/module 2/unit-challenge/hint2.md
  learning/tour-of-beam/backend/samples/learning-content/java/module 2/unit-challenge/unit-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/java/module 2/unit-example/unit-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/python/content-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/python/module 1/group/group-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/python/module 1/group/unit-challenge/description.md
  learning/tour-of-beam/backend/samples/learning-content/python/module 1/group/unit-challenge/hint1.md
  learning/tour-of-beam/backend/samples/learning-content/python/module 1/group/unit-challenge/hint2.md
  learning/tour-of-beam/backend/samples/learning-content/python/module 1/group/unit-challenge/unit-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/python/module 1/group/unit-example/unit-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/python/module 1/intro-unit/unit-info.yaml
  learning/tour-of-beam/backend/samples/learning-content/python/module 1/module-info.yaml
  learning/tour-of-beam/backend/samples/learning-content_empty/java/content-info.yaml
  learning/tour-of-beam/backend/samples/learning-content_empty/python/content-info.yaml
Labels: build, learning, Next Action: Reviewers

#22937 Bump up postcommit timeout
  sdks/go/test/run_validatesrunner_tests.sh
Labels: go

#22918 Handle stateful windows correctly + integration test
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/state.go
  sdks/go/test/integration/primitives/state_test.go
Labels: go

#22561 Support Timestamp type in xlang JDBC Read and Write
  CHANGES.md
  model/fn-execution/src/main/resources/org/apache/beam/model/fnexecution/v1/standard_coders.yaml
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/schema.proto
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/wire/CommonCoderTest.java
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcUtil.java
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/typehints/schemas.py
Labels: python, java, go, model, io, runners, jdbc, fn-execution

#22922 Automatically infer state keys from their field name
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/test/integration/primitives/state.go
Labels: go

#22927 Updates to multi-lang Java quickstart
  examples/multi-language/build.gradle
  website/www/site/content/en/documentation/sdks/java-multi-language-pipelines.md
Labels: website, examples

#22952 Fix yaml duplicated mapping key
  model/fn-execution/src/main/resources/org/apache/beam/model/fnexecution/v1/standard_coders.yaml
  sdks/typescript/src/apache_beam/proto/beam_runner_api.ts
Labels: model, typescript

#22738 Fix jdbc date conversion offset 1 day
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/SchemaUtil.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/SchemaUtilTest.java
Labels: java, io, jdbc, Next Action: Reviewers

#22935 Set state integration test
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/state.go
  sdks/go/test/integration/primitives/state_test.go
Labels: go

#22946 Minor: Fix `option_from_runner_api` typehint
  sdks/python/apache_beam/typehints/schemas.py
Labels: python, Next Action: Reviewers

#22963 Filter out unsupported state tests
  sdks/go/test/integration/integration.go
Labels: go

#22938 Add ability to remove/clear map and set state
  sdks/go/pkg/beam/core/runtime/exec/userstate.go
  sdks/go/pkg/beam/core/state/state.go
  sdks/go/pkg/beam/core/state/state_test.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/state.go
  sdks/go/test/integration/primitives/state_test.go
Labels: go

#22795 Fix gpu to cpu conversion with warning logs
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/runinference_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
Labels: python, examples

#22958 Add Go stateful DoFns to CHANGES.md and fix linting violations
  CHANGES.md
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/state.go
  sdks/go/test/integration/primitives/state_test.go
Labels: go

#22806 22805: Upgrade Jackson version from 2.13.0 to 2.13.3
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#22575 Add BatchConverter implementations for pandas types, use Batched DoFns in DataFrame convert utilities
  sdks/python/apache_beam/dataframe/convert.py
  sdks/python/apache_beam/dataframe/schemas.py
  sdks/python/apache_beam/dataframe/schemas_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/typehints/__init__.py
  sdks/python/apache_beam/typehints/batch.py
  sdks/python/apache_beam/typehints/pandas_type_compatibility.py
  sdks/python/apache_beam/typehints/pandas_type_compatibility_test.py
Labels: python, Next Action: Reviewers, slow-review

#22977 Run cred rotation every month
  .test-infra/jenkins/job_IODatastoresCredentialsRotation.groovy
  .test-infra/jenkins/job_MetricsCredentialsRotation.groovy
Labels: infra
