Repository apache/beam, pull requests merged in 2022-11, with the labels that each got.

#23879 Add LogElements as a Beam PTransform
  learning/katas/python/Common Transforms/Aggregation/Count/task.py
  learning/katas/python/Common Transforms/Aggregation/Largest/task.py
  learning/katas/python/Common Transforms/Aggregation/Mean/task.py
  learning/katas/python/Common Transforms/Aggregation/Smallest/task.py
  learning/katas/python/Common Transforms/Aggregation/Sum/task.py
  learning/katas/python/Common Transforms/Filter/Filter/task.py
  learning/katas/python/Common Transforms/Filter/ParDo/task.py
  learning/katas/python/Common Transforms/WithKeys/WithKeys/task.py
  learning/katas/python/Core Transforms/Branching/Branching/task.py
  learning/katas/python/Core Transforms/CoGroupByKey/CoGroupByKey/task.py
  learning/katas/python/Core Transforms/Combine/Combine PerKey/task.py
  learning/katas/python/Core Transforms/Combine/CombineFn/task.py
  learning/katas/python/Core Transforms/Combine/Simple Function/task.py
  learning/katas/python/Core Transforms/Composite Transform/Composite Transform/task.py
  learning/katas/python/Core Transforms/Flatten/Flatten/task.py
  learning/katas/python/Core Transforms/GroupByKey/GroupByKey/task.py
  learning/katas/python/Core Transforms/Map/FlatMap/task.py
  learning/katas/python/Core Transforms/Map/Map/task.py
  learning/katas/python/Core Transforms/Map/ParDo OneToMany/task.py
  learning/katas/python/Core Transforms/Map/ParDo/task.py
  learning/katas/python/Core Transforms/Partition/Partition/task.py
  learning/katas/python/Core Transforms/Side Input/Side Input/task.py
  learning/katas/python/Core Transforms/Side Output/Side Output/task.py
  learning/katas/python/Examples/Word Count/Word Count/task.py
  learning/katas/python/IO/TextIO/ReadFromText/task.py
  learning/katas/python/Introduction/Hello Beam/Hello Beam/task.py
  learning/katas/python/Streaming/Timestamps/Add Timestamps/task.py
  learning/katas/python/Streaming/Triggers/Early Triggers/task.py
  learning/katas/python/Streaming/Triggers/Event Time Triggers/task.py
  learning/katas/python/Streaming/Triggers/Window Accumulation Modes/task.py
  learning/katas/python/Streaming/Windows/Fixed Windows/task.py
  learning/katas/python/log_elements.py
  playground/backend/containers/python/Dockerfile
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python, learning

#23911 [release-2.43.0] Revert accidental push
  .test-infra/jenkins/job_PostCommit_Java_Jpms_Dataflow_Java11.groovy
  .test-infra/jenkins/job_PostCommit_Java_Jpms_Dataflow_Java17.groovy
Labels: infra

#23886 Fix incorrect object size calculation in StateCache (#23000)
  sdks/python/apache_beam/runners/worker/statecache.py
  sdks/python/apache_beam/runners/worker/statecache_test.py
Labels: python, Next Action: Reviewers

#23905 Remove Dataflow Portability test suite from mass_comment.py
  release/src/main/scripts/mass_comment.py
Labels: build, Next Action: Reviewers

#23030 Add WriteParquetBatched
  sdks/python/apache_beam/io/parquetio.py
  sdks/python/apache_beam/io/parquetio_test.py
Labels: python, io, Next Action: Reviewers

#23761 Small fix to sync gh prs metrics when a json data is incomplete
  .test-infra/metrics/sync/github/sync.py
Labels: infra

#23887 Add notebook for doing remote inference in Beam
  examples/notebooks/beam-ml/custom_remote_inference.ipynb
  website/www/site/content/en/documentation/ml/overview.md
Labels: website, examples

#23894 Add support for converting to/from pyarrow Arrays
  sdks/python/apache_beam/typehints/arrow_type_compatibility.py
  sdks/python/apache_beam/typehints/arrow_type_compatibility_test.py
Labels: python

#23867 [Website] update kio page layout
  website/www/site/content/en/case-studies/kio.md
Labels: website

#23936 Fix Spark 3 job-server jar path for Python test suites
  sdks/python/test-suites/portable/common.gradle
Labels: python

#23305 [CdapIO] Add integration tests for SparkReceiverIO
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PerformanceTests_SparkReceiverIO_IT.groovy
  .test-infra/kubernetes/rabbit/rabbitmq.yaml
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Java_IO_IT_Tests_Dataflow.json
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/sparkreceiver/README.md
  sdks/java/io/sparkreceiver/build.gradle
  sdks/java/io/sparkreceiver/src/main/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFn.java
  sdks/java/io/sparkreceiver/src/test/java/org/apache/beam/sdk/io/sparkreceiver/RabbitMqReceiverWithOffset.java
  sdks/java/io/sparkreceiver/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFnTest.java
  sdks/java/io/sparkreceiver/src/test/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIOIT.java
Labels: java, build, infra, io, Next Action: Reviewers

#23890 [Go] Ensure iterated and emitted types are registered.
  CHANGES.md
  sdks/go/pkg/beam/core/runtime/graphx/schema/schema.go
  sdks/go/pkg/beam/core/runtime/graphx/schema/schema_test.go
  sdks/go/pkg/beam/register/emitter.go
  sdks/go/pkg/beam/register/emitter_test.go
  sdks/go/pkg/beam/register/iter.go
  sdks/go/pkg/beam/register/iter_test.go
  sdks/go/pkg/beam/register/register_test.go
Labels: go, Next Action: Reviewers

#23787 [Python SDK] Re-enable PipelineOptionsTest.test_display_data
  sdks/python/apache_beam/options/pipeline_options_test.py
Labels: python, Next Action: Reviewers

#23914 Unify PerformanceTest metric dashboard naming and series
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Java_IO_IT_Tests_Dataflow.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_IO_IT_Tests_Dataflow.json
Labels: infra

#23955 Update REVIEWERS.yaml
  .github/REVIEWERS.yml
Labels: build

#23846 [Spark dataset runner] Add direct translation of Combine.GroupedValues
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/TransformTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CombineGroupedValuesTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/PipelineTranslatorBatch.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CombineGroupedValuesTest.java
Labels: runners, spark

#23909 Initial draft of Batched DoFn user guide
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website

#22587 WIP: Dataframe API ML preprocessing notebook
  examples/notebooks/beam-ml/dataframe_api_preprocessing.ipynb
  examples/notebooks/tour-of-beam/dataframes.ipynb
  website/www/site/content/en/documentation/ml/data-processing.md
Labels: website, examples

#23954 Emit job ids via side output in TriggerFileLoads process to keep beam.Flatten() happy for Spark and Flink runners
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
Labels: python, io, gcp

#23947 [Python] Added none check while accessing active_process_bundle
  sdks/python/apache_beam/runners/worker/worker_status.py
Labels: python

#23971 Disable flaky fn_api_runner tests
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python

#23965 Make BatchConverter inference errors more helpful
  sdks/python/apache_beam/transforms/batch_dofn_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python

#23967 Merge pull request #23954: Emit job ids via side output in TriggerFileLoads process to keep beam.Flatten() happy for Spark and Flink runners
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
Labels: python, io, gcp

#23972 Improve Iterator error message
  sdks/python/apache_beam/transforms/core.py
Labels: python

#23507 Update watermark during periodic sequence/impulse
  sdks/python/apache_beam/transforms/periodicsequence.py
  sdks/python/apache_beam/transforms/periodicsequence_it_test.py
Labels: python, Next Action: Reviewers

#23456 TFX image classification example
  build.gradle.kts
  sdks/python/apache_beam/examples/inference/tfx_bsl/__init__.py
  sdks/python/apache_beam/examples/inference/tfx_bsl/build_tensorflow_model.py
  sdks/python/apache_beam/examples/inference/tfx_bsl/requirements.txt
  sdks/python/apache_beam/examples/inference/tfx_bsl/tensorflow_image_classification.py
  sdks/python/apache_beam/examples/inference/tfx_bsl/tfx_bsl_inference_it_test.py
  sdks/python/pytest.ini
  sdks/python/test-suites/direct/common.gradle
Labels: python, build, examples, Next Action: Reviewers

#23976 Correctly capture log levels and attach stage information.
  sdks/typescript/src/apache_beam/runners/direct_runner.ts
  sdks/typescript/src/apache_beam/transforms/windowings.ts
  sdks/typescript/src/apache_beam/utils/service.ts
  sdks/typescript/src/apache_beam/worker/data.ts
  sdks/typescript/src/apache_beam/worker/external_worker_service.ts
  sdks/typescript/src/apache_beam/worker/logging.ts
  sdks/typescript/src/apache_beam/worker/operators.ts
  sdks/typescript/src/apache_beam/worker/worker.ts
  sdks/typescript/src/apache_beam/worker/worker_main.ts
  sdks/typescript/test/io_test.ts
  sdks/typescript/test/worker_test.ts
Labels: runners, typescript

#23978 Add basic counter support to the typescript SDK.
  sdks/typescript/src/apache_beam/pvalue.ts
  sdks/typescript/src/apache_beam/runners/direct_runner.ts
  sdks/typescript/src/apache_beam/runners/portable_runner/runner.ts
  sdks/typescript/src/apache_beam/runners/runner.ts
  sdks/typescript/src/apache_beam/testing/proto_printing_runner.ts
  sdks/typescript/src/apache_beam/transforms/pardo.ts
  sdks/typescript/src/apache_beam/worker/metrics.ts
  sdks/typescript/src/apache_beam/worker/operators.ts
  sdks/typescript/src/apache_beam/worker/pardo_context.ts
  sdks/typescript/src/apache_beam/worker/worker.ts
  sdks/typescript/test/primitives_test.ts
Labels: runners, typescript

#23642 Add custom inference fn suport to the sklearn model handlers
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python

#23987 Remove Trailing Whitespace
  sdks/python/apache_beam/examples/ml-orchestration/kfp/components/ingestion/src/ingest.py
Labels: python, examples

#23964 Beam starter projects blog post
  website/www/site/content/en/blog/beam-starter-projects.md
  website/www/site/data/authors.yml
Labels: website

#23962 [CdapIO] Add sparkreceiver:2 module.
  .test-infra/jenkins/job_PerformanceTests_SparkReceiverIO_IT.groovy
  sdks/java/io/cdap/build.gradle
  sdks/java/io/sparkreceiver/2/OWNERS
  sdks/java/io/sparkreceiver/2/README.md
  sdks/java/io/sparkreceiver/2/build.gradle
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/HasOffset.java
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFn.java
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/ReceiverBuilder.java
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/SparkConsumer.java
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIO.java
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/WrappedSupervisor.java
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/package-info.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ArrayBufferDataReceiver.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ByteBufferDataReceiver.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/CustomReceiverWithOffset.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/IteratorDataReceiver.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/RabbitMqReceiverWithOffset.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFnTest.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ReceiverBuilderTest.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIOIT.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIOTest.java
  settings.gradle.kts
Labels: java, build, infra, io, Next Action: Reviewers

#23877 Make `documentation/io/connectors/` canonical
  website/www/site/content/en/documentation/io/built-in.md
  website/www/site/content/en/documentation/io/connectors.md
  website/www/site/content/en/documentation/patterns/custom-io.md
  website/www/site/data/io_matrix.yaml
  website/www/site/layouts/partials/section-menu/en/documentation.html
  website/www/site/layouts/shortcodes/io-matrix.html
Labels: website

#23934 [Website] change case studies page mobile layout
  website/www/site/assets/scss/_case_study.scss
Labels: website

#23411 feat: implement bigtable io connector with write capabilities
  CHANGES.md
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/io/bigtableio/bigtable.go
  sdks/go/pkg/beam/io/bigtableio/bigtable_test.go
Labels: go, io

#23882 Enforce splitting invariants by ensuring split state is reset in the same synchronized block as window index increments.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java

#24017 Switch && for || to fix bug in #23889 resolution
  sdks/go/pkg/beam/core/runtime/graphx/schema/schema.go
Labels: go, Next Action: Reviewers

#23789 Better surfacing of Scala support via Scio.
  website/www/site/content/en/documentation/sdks/scala.md
  website/www/site/data/pipelines.yaml
  website/www/site/layouts/partials/section-menu/en/sdks.html
  website/www/site/static/images/logos/sdks/scala_pipeline.png
Labels: website

#23990 [Go] Pipeline Resource Hints
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/options.go
  sdks/go/pkg/beam/options/jobopts/options.go
  sdks/go/pkg/beam/options/jobopts/options_test.go
  sdks/go/pkg/beam/options/jobopts/stringSlice.go
  sdks/go/pkg/beam/options/resource/hint.go
  sdks/go/pkg/beam/options/resource/hint_test.go
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/universal/universal.go
Labels: go, model, runners, dataflow, Next Action: Reviewers

#24014 [#21250] Trivial removal of loop over something that always has one element
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java, Next Action: Reviewers

#24026 Editorial review of the ML base API descriptions
  sdks/python/apache_beam/ml/inference/base.py
Labels: python

#23653 Update my Twitter handle
  website/www/site/data/authors.yml
Labels: website

#24011 Retroactively announce Batched DoFn support in 2.42.0 Blog
  CHANGES.md
  website/www/site/content/en/blog/beam-2.42.0.md
Labels: website

#23620 Handle Avro schema generation for logical data types in BigQueryAvroUtils
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtilsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
Labels: java, io, gcp, Next Action: Reviewers

#23992 [Go SDK] S3 implementation of the Beam filesystem
  CHANGES.md
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/io/filesystem/filesystem.go
  sdks/go/pkg/beam/io/filesystem/s3/s3.go
  sdks/go/pkg/beam/io/filesystem/s3/util.go
  sdks/go/pkg/beam/io/filesystem/s3/util_test.go
  sdks/go/pkg/beam/io/filesystem/s3/writer.go
Labels: go, io

#24057 [Spark Dataset runner] Enable projection pushdown for Spark dataset runner
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/SparkStructuredStreamingRunner.java
Labels: runners, spark

#23726 added comments for tensorflow notebook
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
Labels: examples

#24061 Convert initialisms to all caps
  sdks/go/pkg/beam/io/filesystem/s3/s3.go
  sdks/go/pkg/beam/io/filesystem/s3/util.go
  sdks/go/pkg/beam/io/filesystem/s3/util_test.go
  sdks/go/pkg/beam/options/jobopts/options.go
  sdks/go/pkg/beam/options/jobopts/options_test.go
  sdks/go/pkg/beam/options/resource/hint.go
  sdks/go/pkg/beam/options/resource/hint_test.go
Labels: go, io, Next Action: Reviewers

#24066 [Go SDK] skip output coder field in expansion request
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
Labels: go

#23915 test: add more tests to throughput estimator
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/ThroughputEstimator.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/ThroughputEstimatorTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#24070 [cherry-pick][Go SDK] Fix Dataframe wrapper issue
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
Labels: go, Next Action: Reviewers

#24043 Remove a duplicate label
  .github/issue-rules.yml
Labels: build

#24072 Fix FhirIO javadoc format broken
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
Labels: java, io, gcp, Next Action: Reviewers

#16658 [BEAM-12792] Install pipline dependencies to temporary venv
  CHANGES.md
  sdks/python/apache_beam/runners/worker/worker_pool_main.py
  sdks/python/container/Dockerfile
  sdks/python/container/boot.go
  sdks/python/container/piputil.go
Labels: python, docker

#24040 Improving stale container cleanup script
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: infra

#24056 [Playground] update snippet by persistence_key
  playground/api/v1/api.proto
  playground/backend/cmd/server/controller.go
  playground/backend/cmd/server/controller_test.go
  playground/backend/go.mod
  playground/backend/go.sum
  playground/backend/internal/api/v1/api.pb.go
  playground/backend/internal/api/v1/api_grpc.pb.go
  playground/backend/internal/constants/datastore_constants.go
  playground/backend/internal/db/datastore/datastore_db.go
  playground/backend/internal/db/datastore/datastore_db_test.go
  playground/backend/internal/db/entity/snippet.go
  playground/backend/internal/db/mapper/datastore_mapper.go
  playground/index.yaml
Labels: Next Action: Reviewers

#24083 [Tour Of Beam] handle CORS pre-flight requests
  learning/tour-of-beam/backend/README.md
  learning/tour-of-beam/backend/integration_tests/client.go
  learning/tour-of-beam/backend/middleware.go
Labels: learning

#23830 Num failed inferences
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupby_test.py
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python, examples

#24071 Add blog post on new ML resources
  website/www/site/content/en/blog/ml-resources.md
  website/www/site/static/images/blog/ensemble-model-notebook.png
  website/www/site/static/images/blog/ml-landing.png
Labels: website

#23827 Support using BigQueryIO Storage Read API with SchemaTransforms
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/package-info.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProviderTest.java
Labels: java, io, gcp, Next Action: Reviewers

#24095 cherry pick #24041: fixing BigQuery Query retry vulnerability
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQueryHelper.java
Labels: java, io, gcp

#24109 Wire SamzaPipelineOptions to Exeption listener interface
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/OpAdapter.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/util/SamzaPipelineExceptionListener.java
Labels: runners, samza

#24108 Remove TheNeuralBit from the pool of Python reviewers
  .github/REVIEWERS.yml
Labels: build, Next Action: Reviewers

#23960 Add TFX support in pydoc
  sdks/python/apache_beam/ml/inference/__init__.py
Labels: python

#24121 [Playground] temporarily disable Playground Examples CI
  .github/workflows/playground_examples_ci.yml
Labels: build

#23897 Implement PubsubRowToMessage transform
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubRowToMessage.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubRowToMessageTest.java
Labels: java, io, gcp

#24123 [Go SDK] Resolve testcontainer dependency upgrade
  sdks/go.mod
  sdks/go.sum
  sdks/go/test/integration/io/xlang/jdbc/jdbc_test.go
Labels: go

#24105 More cleanup containers
  .test-infra/jenkins/job_CleanUpPrebuiltSDKImages.groovy
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: infra

#24114 Update staging of Python wheels
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/runners/portability/stager_test.py
  sdks/python/container/boot.go
  sdks/python/setup.py
Labels: python, docker

#24127 Update staging of Python wheels (#24114)
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/runners/portability/stager_test.py
  sdks/python/container/boot.go
  sdks/python/setup.py
Labels: python, docker

#24099 Add a ValidatesContainer integration test for use_sibling_sdk_workers
  sdks/python/apache_beam/examples/wordcount_it_test.py
Labels: python, examples

#24134 Fix checkArgument format string in TestStream
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/TestStream.java
Labels: java, Next Action: Reviewers

#24136 Fix checkArgument format string in ExecutionStateTracker
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateTracker.java
Labels: runners, core

#24000 [Website] Change headers size from h4,h3 to h2
  website/www/site/content/en/documentation/basics.md
  website/www/site/content/en/get-started/_index.md
Labels: website

#24146 Make MonotonicWatermarkEstimator work like its Java SDK equivalent
  sdks/python/apache_beam/io/watermark_estimators.py
  sdks/python/apache_beam/io/watermark_estimators_test.py
Labels: python, io, Next Action: Reviewers

#24129 Test Dataproc 2.1 with Flink load tests
  .test-infra/dataproc/flink_cluster.sh
  .test-infra/jenkins/CommonTestProperties.groovy
  .test-infra/jenkins/Flink.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Python.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Flink.groovy
Labels: infra

#24149 Remove extraneous jetbrains annotation
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOReadTest.java
Labels: java, io, gcp, Next Action: Reviewers

#24135 Change DataflowBatchWorkerHarness doWork log level to INFO
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowBatchWorkerHarness.java
Labels: runners, dataflow

#24141 Fix checkArgument format in GcsPath
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/gcsfs/GcsPath.java
Labels: java, io, extensions, gcp, Next Action: Reviewers

#24118 [Tour Of Beam] verify that unit exists when saving progress
  learning/tour-of-beam/backend/function.go
  learning/tour-of-beam/backend/integration_tests/auth_test.go
  learning/tour-of-beam/backend/integration_tests/client.go
  learning/tour-of-beam/backend/integration_tests/function_test.go
  learning/tour-of-beam/backend/internal/service/content.go
  learning/tour-of-beam/backend/internal/storage/datastore.go
  learning/tour-of-beam/backend/internal/storage/iface.go
  learning/tour-of-beam/backend/internal/storage/index.yaml
  learning/tour-of-beam/backend/internal/storage/mock.go
  learning/tour-of-beam/backend/samples/api/get_user_progress.json
Labels: learning

#24076 Updates Multi-lang Java quickstart
  website/www/site/content/en/documentation/sdks/java-multi-language-pipelines.md
Labels: website

#24158 Cleanup stale BQ datasets
  .test-infra/jenkins/job_CleanUpGCPResources.groovy
  .test-infra/tools/build.gradle
  .test-infra/tools/stale_bq_datasets_cleaner.sh
Labels: infra

#23969 Support SqlTypes Date and Timestamp (MicrosInstant) in AvroUtils
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/AvroUtilsTest.java
Labels: java, Next Action: Reviewers

#23333 Track time on Cloud Dataflow streaming data reads and export via heartbeats
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateReader.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
Labels: runners, dataflow

#24162 More dataset templates to clean up
  .test-infra/tools/stale_bq_datasets_cleaner.sh
Labels: infra

#24160 Rename the test_splits flag to direct_test_splits.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/typescript/test/primitives_test.ts
Labels: python, typescript

#24081 Implement embedded WebAssembly example
  sdks/go.mod
  sdks/go.sum
  sdks/go/examples/wasm/Cargo.toml
  sdks/go/examples/wasm/README.md
  sdks/go/examples/wasm/greet.rs
  sdks/go/examples/wasm/greet.wasm
  sdks/go/examples/wasm/wasm.go
Labels: go, examples, Next Action: Reviewers

#24055 [Dockerized Jenkins] Update README how to use local repo
  .test-infra/dockerized-jenkins/README.md
Labels: infra

#24054 [Dockerized Jenkins] Fix build of dockerized jenkins (fixes #24053)
  .test-infra/dockerized-jenkins/Dockerfile
Labels: infra

#23065 [Website] Update copy icon styles
  website/www/site/assets/scss/_global.sass
Labels: website

#24125 Editorial review of the ML notebooks.
  examples/notebooks/beam-ml/README.md
  examples/notebooks/beam-ml/custom_remote_inference.ipynb
  examples/notebooks/beam-ml/dataframe_api_preprocessing.ipynb
  examples/notebooks/beam-ml/run_custom_inference.ipynb
  examples/notebooks/beam-ml/run_inference_multi_model.ipynb
  examples/notebooks/beam-ml/run_inference_pytorch.ipynb
  examples/notebooks/beam-ml/run_inference_pytorch_tensorflow_sklearn.ipynb
  examples/notebooks/beam-ml/run_inference_sklearn.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
Labels: examples

#24013 Eliminate CalciteUtil.CharType logical type
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/RowJsonTest.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamCalcRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamEnumerableConverter.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/utils/CalciteUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/CellValueParser.java
Labels: java, io, extensions, sql, gcp

#24022 Add error reporting for BatchConverter match failure
  sdks/python/apache_beam/typehints/arrow_type_compatibility.py
  sdks/python/apache_beam/typehints/arrow_type_compatibility_test.py
  sdks/python/apache_beam/typehints/batch.py
  sdks/python/apache_beam/typehints/batch_test.py
  sdks/python/apache_beam/typehints/pandas_type_compatibility.py
  sdks/python/apache_beam/typehints/pandas_type_compatibility_test.py
  sdks/python/apache_beam/typehints/pytorch_type_compatibility.py
  sdks/python/apache_beam/typehints/pytorch_type_compatibility_test.py
Labels: python, Next Action: Reviewers

#24175 Update automation to use Go 1.19
  .github/actions/setup-default-test-properties/test-properties.json
  .github/workflows/build_playground_backend.yml
  .github/workflows/go_tests.yml
  .github/workflows/local_env_tests.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  release/go-licenses/Dockerfile
  sdks/go/run_with_go_version.sh
Labels: go, build, Next Action: Reviewers

#24180 Using Teardown context instead of deprecated finalize
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#24106 [Python]Support pipe operator as Union (PEP -604)
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python

#24177 Strip FGAC database role from changestreams metadata requests
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/DaoFactory.java
Labels: java, io, gcp, Next Action: Reviewers

#24192 Re-use serializable pipeline options when already available.
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/types/CoderTypeInformation.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/KvToByteBufferKeySelector.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/SdfByteBufferKeySelector.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/WorkItemKeySelector.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapper.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/state/FlinkBroadcastStateInternals.java
Labels: runners, flink

#24159 Fix Python PostCommit Example CustomPTransformIT on portable
  .test-infra/jenkins/job_PostCommit_Python_Examples_Flink.groovy
  sdks/python/apache_beam/examples/cookbook/custom_ptransform.py
  sdks/python/test-suites/portable/common.gradle
Labels: python, infra, examples

#24189 revert upgrade to go 1.19 for action unit tests
  .github/workflows/go_tests.yml
Labels: build

#24156 Use only ValueProviders in SpannerConfig
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessorTest.java
Labels: java, io, gcp

#23776 [Tour of Beam] [Frontend] Content tree URLs
  learning/tour-of-beam/frontend/lib/models/content_tree.dart
  learning/tour-of-beam/frontend/lib/models/group.dart
  learning/tour-of-beam/frontend/lib/models/module.dart
  learning/tour-of-beam/frontend/lib/models/node.dart
  learning/tour-of-beam/frontend/lib/models/parent_node.dart
  learning/tour-of-beam/frontend/lib/models/unit.dart
  learning/tour-of-beam/frontend/lib/pages/tour/controllers/content_tree.dart
  learning/tour-of-beam/frontend/lib/pages/tour/path.dart
  learning/tour-of-beam/frontend/lib/pages/tour/state.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/group.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/group_title.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/module.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/stateless_expansion_tile.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/tour_progress_indicator.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/unit.dart
  learning/tour-of-beam/frontend/lib/pages/welcome/screen.dart
  learning/tour-of-beam/frontend/pubspec.lock
  learning/tour-of-beam/frontend/pubspec.yaml
  playground/frontend/playground_components/lib/src/constants/colors.dart
  playground/frontend/playground_components/lib/src/theme/theme.dart
Labels: learning

#24199 refs: issue-24196, fix broken hyperlink
  website/www/site/content/en/blog/splitAtFraction-method.md
  website/www/site/content/en/blog/splittable-do-fn.md
  website/www/site/content/en/documentation/runners/dataflow.md
Labels: website

#23951 Python TextIO Performance Test
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_PubsubIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_SpannerIO_Python.groovy
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_IO_IT_Tests_Dataflow.json
  sdks/python/apache_beam/io/filebasedio_perf_test.py
  sdks/python/apache_beam/testing/load_tests/load_test.py
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
  sdks/python/apache_beam/testing/synthetic_pipeline.py
Labels: python, infra, io, Next Action: Reviewers

#24219 Fix PythonLint
  sdks/python/apache_beam/typehints/batch.py
Labels: python

#24218 Update Python wheel format for RC validation
  release/src/main/python-release/python_release_automation_utils.sh
Labels: build, Next Action: Reviewers

#24186 Uses _all to follow alias/datastreams when estimating index size
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-8/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTestUtils.java
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: java, io, elasticsearch, Next Action: Reviewers

#24211 Unify test parameters for certain IOs based on test row and grafana fixes
  .test-infra/jenkins/job_PerformanceTests_CdapIO.groovy
  .test-infra/jenkins/job_PerformanceTests_HadoopFormat.groovy
  .test-infra/jenkins/job_PerformanceTests_JDBC.groovy
  .test-infra/jenkins/job_PerformanceTests_SparkReceiverIO_IT.groovy
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Java_IO_IT_Tests_Dataflow.json
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_IO_IT_Tests_Dataflow.json
Labels: infra

#24032 [Metrics] Add new performance dashboard for Java JMH benchmarks
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Java_JMH_benchmarks.json
Labels: infra

#24155 [Playground] Examples CI restore
  .github/workflows/playground_examples_ci.yml
  .github/workflows/playground_examples_ci_reusable.yml
  .github/workflows/tour_of_beam_backend_integration.yml
  playground/backend/containers/go/Dockerfile
  playground/backend/containers/python/Dockerfile
  playground/backend/containers/python/build.gradle
Labels: build, Next Action: Reviewers

#23828 Force discarding mode in with_fanout without rewindowing.
  sdks/python/apache_beam/transforms/combiners_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python

#24233 Fix checkArgument format string in BigQueryQueryHelper
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQueryHelper.java
Labels: java, io, gcp, Next Action: Reviewers

#24068 Clarify that restriction size method needs to be thread safe
  sdks/go/pkg/beam/pardo.go
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/python/apache_beam/transforms/core.py
  website/www/site/content/en/documentation/programming-guide.md
Labels: python, java, go, website

#24235 Remove google-cloud-platform-core dependency from harness
  sdks/java/harness/build.gradle
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/stream/HarnessStreamObserverFactories.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnHarnessTest.java
Labels: java, Next Action: Reviewers

#24232 Issue#24161 Updated docstring for Clusters class
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
Labels: python

#24216 Document our benchmarks
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_ML_RunInference_Benchmark_Tests.json
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/testing/benchmarks/inference/README.md
  website/www/site/content/en/documentation/ml/runinference-metrics.md
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: python, website, infra, examples

#24234 Fix checkArgument calls in BQ dynamic destinations
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTableHelpers.java
Labels: java, io, gcp, Next Action: Reviewers

#24044 Website updates for Beam 2.43.0 release
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.43.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#24157 Add @RunWith annotation to BQ test class
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaTransformWriteProviderTest.java
Labels: java, io, gcp, Next Action: Reviewers

#24133 Fix checkArgument format string in ByteKeyRange
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/range/ByteKeyRange.java
Labels: java, Next Action: Reviewers

#24246 Several fixes to the Website regarding the Beam 2.43.0 release
  website/www/site/content/en/blog/beam-2.43.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#24009 [Spark dataset runner] Cache datasets if used multiple times
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/SparkStructuredStreamingRunner.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/aggregators/AggregatorsAccumulator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/metrics/MetricsAccumulator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/EvaluationContext.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/PipelineTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/TransformTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/TranslationContext.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CreatePCollectionViewTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/PipelineTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/EncoderProvider.java
Labels: runners, spark

#23152 Remove section from troubleshooting about fixed dictionary issue
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#24255 Adding the list of example notebooks to the ML readme file
  examples/notebooks/beam-ml/README.md
Labels: examples

#24258 Updating timezone for Beam 2.43.0 release
  website/www/site/content/en/blog/beam-2.43.0.md
Labels: website

#24253 Only skip checkerframework if explicitly requested
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#23535 SingleStoreIO
  .test-infra/jenkins/job_PerformanceTests_SingleStoreIO.groovy
  .test-infra/kubernetes/singlestore/sdb-cluster-crd.yaml
  .test-infra/kubernetes/singlestore/sdb-cluster.yaml
  .test-infra/kubernetes/singlestore/sdb-operator.yaml
  .test-infra/kubernetes/singlestore/sdb-rbac.yaml
  .test-infra/kubernetes/singlestore/wait-for-pod-with-label.sh
  .test-infra/kubernetes/singlestore/wait-for.sh
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/singlestore/build.gradle
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/SingleStoreIO.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/SingleStoreUtil.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/package-info.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/DataSourceConfigurationTest.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/ReadTest.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/ReadWithPartitionsTest.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreIOIT.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreIOTestPipelineOptions.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreUtilTest.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/TestHelper.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/WriteTest.java
  settings.gradle.kts
Labels: java, build, infra, io, Next Action: Reviewers

#24259 Issue#21430 Updated dataframe io to avoid pruning
  sdks/python/apache_beam/dataframe/io.py
Labels: python

#24240 Add @RunWith annotation to pubsublite test
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/BlockingCommmitterImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/CheckpointMarkImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/UnboundedReaderImplTest.java
Labels: java, io, gcp

#24236 Remove overly broad CanIgnoreReturnValue
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PublisherOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/SubscriberOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/UuidDeduplicationOptions.java
Labels: java, io, gcp, Next Action: Reviewers

#24270 Update Java Multi-lang quickstart after the Beam 2.43.0 release
  website/www/site/content/en/documentation/sdks/java-multi-language-pipelines.md
Labels: website

#24215 Fix OrderedListState for Dataflow Streaming pipelines on SE.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternals.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternalsTest.java
Labels: runners, dataflow

#24256 [Playground] Use current Go SDK by default
  .github/workflows/playground_examples_ci_reusable.yml
  playground/backend/containers/go/Dockerfile
  playground/backend/containers/go/build.gradle
  playground/backend/containers/go/setup_sdk.sh
  playground/backend/containers/python/build.gradle
Labels: build, Next Action: Reviewers

#23997 Add GetSize implementation for DetectNewPartitions SDF
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/ChangeStreamsConstants.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ChildPartitionsRecordAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DataChangeRecordAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/HeartbeatRecordAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/DetectNewPartitionsDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/PostProcessingMetricsDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/ReadChangeStreamPartitionDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/estimator/BytesThroughputEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/estimator/EncodingException.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/estimator/NullThroughputEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/estimator/SizeEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/estimator/ThroughputEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/estimator/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/ThroughputEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/TimestampRangeTracker.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DataChangeRecordActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DetectNewPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/estimator/BytesThroughputEstimatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/estimator/NullThroughputEstimatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/ThroughputEstimatorTest.java
Labels: java, io, gcp, Next Action: Reviewers

#24093 Add ZstdCoder to wrap coders with Zstandard compression
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/ZstdCoder.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/ZstdCoderTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/CompressedSourceTest.java
Labels: java, build, Next Action: Reviewers

#24262 [#24261] Update to objsize 0.6.1
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#21728 Create template for failing tests.
  .github/ISSUE_TEMPLATE/failing_test.yml
  .github/issue-rules.yml
Labels: build

#23701 Add record_metrics argument to utils.BatchElements
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python

#24023 Add a Dataflow smoke test.
  .github/workflows/typescript_tests.yml
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/typescript/src/apache_beam/internal/pipeline.ts
  sdks/typescript/src/apache_beam/runners/dataflow.ts
  sdks/typescript/src/apache_beam/runners/direct_runner.ts
  sdks/typescript/src/apache_beam/runners/flink.ts
  sdks/typescript/src/apache_beam/runners/portable_runner/runner.ts
  sdks/typescript/src/apache_beam/runners/runner.ts
  sdks/typescript/src/apache_beam/runners/universal.ts
  sdks/typescript/src/apache_beam/testing/multi_pipeline_runner.ts
  sdks/typescript/src/apache_beam/worker/operators.ts
  sdks/typescript/src/apache_beam/worker/worker.ts
  sdks/typescript/test/primitives_test.ts
Labels: python, build, runners, typescript

#24251 [Website] add lazy loading attr to images
  website/www/site/layouts/case-studies/list.html
Labels: website

#24039 TensorRT Custom Inference Function Implementation
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference_test.py
Labels: python, Next Action: Reviewers

#24302 Fix mvn command to refer the GCP_REGION variable
  examples/multi-language/README.md
Labels: examples

#23757 Add retry to test connections
  sdks/java/io/common/src/test/java/org/apache/beam/sdk/io/common/DatabaseTestHelper.java
Labels: java, io, Next Action: Reviewers

#24269 [#24266] Update release candidate script to use -PisRelease
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#23285 Golang SpannerIO Implementation
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/io/spannerio/spanner.go
  sdks/go/pkg/beam/io/spannerio/spanner_test.go
Labels: go, io, Next Action: Reviewers

#24229 Add rootCaCertificate option to SplunkIO
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/CustomX509TrustManager.java
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/HttpEventPublisher.java
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/SplunkEventWriter.java
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/SplunkIO.java
  sdks/java/io/splunk/src/test/java/org/apache/beam/sdk/io/splunk/CustomX509TrustManagerTest.java
  sdks/java/io/splunk/src/test/java/org/apache/beam/sdk/io/splunk/HttpEventPublisherTest.java
  sdks/java/io/splunk/src/test/resources/SplunkTestCerts/PrivateKey.pem
  sdks/java/io/splunk/src/test/resources/SplunkTestCerts/RecognizedCertificate.crt.txt
  sdks/java/io/splunk/src/test/resources/SplunkTestCerts/RootCA.crt.txt
  sdks/java/io/splunk/src/test/resources/SplunkTestCerts/RootCA_2.crt.txt
  sdks/java/io/splunk/src/test/resources/SplunkTestCerts/RootCA_PrivateKey.pem
  sdks/java/io/splunk/src/test/resources/SplunkTestCerts/UnrecognizedCertificate.crt.txt
Labels: java, io, Next Action: Reviewers

#24315 fixed typo
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryResourceNaming.java
Labels: java, io, gcp, Next Action: Reviewers

#23958 [Website] update share button and ADD_CASE_STUDY.md
  website/ADD_CASE_STUDY.md
  website/www/site/content/en/case-studies/intuit.md
  website/www/site/content/en/case-studies/ricardo.md
  website/www/site/layouts/case-studies/list.html
  website/www/site/layouts/partials/quotes/quote.html
Labels: website

#24324 Dask runner tests action
  .github/workflows/dask_runner_tests.yml
Labels: build, Next Action: Reviewers

#24037 Add a portable runner that renders pipelines as a dot graph.
  CHANGES.md
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/render.py
  sdks/python/apache_beam/runners/render_test.py
  sdks/python/scripts/run_pylint.sh
Labels: python
