Repository apache/beam, pull requests merged in 2022-03, with the labels that each got.

#16956 [BEAM-13917] Improve coverage of databaseio package
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/io/databaseio/database_test.go
Labels: go, io

#16951 [BEAM-13899] Improve coverage of debug package
  sdks/go/pkg/beam/x/debug/head_test.go
  sdks/go/pkg/beam/x/debug/print_test.go
Labels: go

#16937 [BEAM-13907] Improve coverage of textio package
  sdks/go/pkg/beam/io/textio/sdf_test.go
  sdks/go/pkg/beam/io/textio/textio_test.go
Labels: go, io

#16955 [BEAM-9150] Fix beam_PostRelease_Python_Candidate (python RC validation scripts)
  release/src/main/python-release/python_release_automation_utils.sh
  release/src/main/python-release/run_release_candidate_python_mobile_gaming.sh
  release/src/main/python-release/run_release_candidate_python_quickstart.sh
Labels: build

#16744 Use default context output rather than outputWithTimestamp for ElasticsearchIO
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: java, io, elasticsearch

#16933 [Bugfix] Palo Alto case study - fix link
  website/www/site/content/en/case-studies/paloalto.md
Labels: website

#16850 [BEAM-11205] Upgrade Libraries BOM dependencies to 24.3.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#16975 Add 2022 events blog post
  website/www/site/content/en/blog/upcoming-events-for-beam-in-2022.md
  website/www/site/data/authors.yml
Labels: website

#16973 Clean up Go formatter suggestions
  sdks/go/pkg/beam/core/runtime/exec/sideinput_test.go
  sdks/go/pkg/beam/util/harnessopts/cache.go
  sdks/go/pkg/beam/util/syscallx/syscall_default.go
  sdks/go/pkg/beam/util/syscallx/syscall_linux.go
Labels: go

#16978 [BEAM-14012] Add go fmt to Github Actions
  .github/workflows/go_tests.yml
Labels: build

#16979 [BEAM-13911] Add basic tests to Go direct runner.
  sdks/go/pkg/beam/runners/direct/direct_test.go
Labels: go, runners, direct

#16875 [BEAM-13960] Add support for more types when converting from between row and proto
  model/pipeline/src/main/proto/schema.proto
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTranslationTest.java
Labels: java, model

#16989 [BEAM-5577] Bump org.mongodb:mongo-java-driver to 3.12.10
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#16904 [BEAM-13973] Link Dataproc Flink master URLs to the InteractiveRunner when FlinkRunner is used
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager.py
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager_test.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_beam_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
Labels: python

#16882 [BEAM-13964] Bump kotlin to 1.6.x
  examples/kotlin/build.gradle
  examples/kotlin/src/main/java/org/apache/beam/examples/kotlin/common/WriteOneFilePerWindow.kt
  examples/kotlin/src/main/java/org/apache/beam/examples/kotlin/cookbook/DistinctExample.kt
  examples/kotlin/src/main/java/org/apache/beam/examples/kotlin/snippets/Snippets.kt
Labels: examples, kotlin

#16993 Skipping flaky sad-path tests for Spanner changestreams
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
Labels: java, io, gcp

#16906 [BEAM-13974] Handle idle Storage Api streams
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiFlushAndFinalizeDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#16562 [BEAM-13051][D] Enable pylint warnings (no-name-in-module/no-value-for-parameter)
  sdks/python/apache_beam/io/avroio_test.py
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
Labels: python, io

#16995 [BEAM-14029] Add getter, setter for target maven repo
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/download.go
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/download_test.go
Labels: go, Next Action: Reviewers

#16994 [BEAM-13903] Improve coverage of metricsx package
  sdks/go/pkg/beam/core/runtime/metricsx/metricsx_test.go
Labels: go

#16990 [BEAM-13892] Improve coverage of avroio package
  sdks/go/data/tweet.avro
  sdks/go/pkg/beam/io/avroio/avroio_test.go
Labels: go, io, Next Action: Reviewers

#16894 [adhoc] Prepare aws2 ClientConfiguration for json serialization and cleanup AWS Module
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/ClientConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/HttpClientConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/RetryConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsModule.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/SSECustomerKey.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/common/ClientConfigurationTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/common/HttpClientConfigurationTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/common/RetryConfigurationTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/AwsModuleTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/SSECustomerKeyTest.java
Labels: java, io, aws

#16879 [BEAM-12164] Add javadocs to SpannerConfig
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
Labels: java, io, gcp

#17002 [Cleanup] Update pre-v2 go package references
  sdks/go/pkg/beam/core/runtime/harness/datamgr.go
  sdks/go/pkg/beam/core/runtime/harness/datamgr_test.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr.go
  sdks/go/pkg/beam/util/gcsx/gcs.go
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/content/en/documentation/resources/learning-resources.md
  website/www/site/content/en/documentation/sdks/go.md
  website/www/site/content/en/get-started/quickstart-go.md
  website/www/site/content/en/get-started/try-apache-beam.md
  website/www/site/content/en/get-started/wordcount-example.md
Labels: go, website

#16971 [BEAM-13885] Add unit tests to window package
  sdks/go/pkg/beam/core/graph/window/fn_test.go
  sdks/go/pkg/beam/core/graph/window/windows.go
  sdks/go/pkg/beam/core/graph/window/windows_test.go
Labels: go

#16889 [BEAM-13951] Update mass_comment.py list of Run commands
  release/src/main/scripts/mass_comment.py
Labels: build

#16578 [BEAM-10652] Allow Clustering without Partition in BigQuery
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteTables.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryClusteringIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#16908 [BEAM-13857] Add K:V flags for expansion service jars and addresses to Go ITs.
  sdks/go/test/integration/expansions.go
  sdks/go/test/integration/expansions_test.go
  sdks/go/test/integration/flags.go
  sdks/go/test/integration/internal/jars/jars.go
  sdks/go/test/integration/internal/jars/proc.go
  sdks/go/test/integration/internal/jars/proc_unix.go
  sdks/go/test/integration/internal/jars/run_nonunix.go
  sdks/go/test/integration/internal/jars/run_unix.go
  sdks/go/test/integration/internal/ports/ports.go
Labels: go

#16987 [BEAM-14011] fix s3 filesystem multipart copy
  CHANGES.md
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/s3/S3FileSystem.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/S3FileSystem.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/S3FileSystemTest.java
Labels: java, io, aws

#16887 Doc updates and blog post for 2.37.0
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.37.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#17018 Remove resolved issue in docs + update class path on sample
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/pardo.py
  website/www/site/content/en/documentation/transforms/python/elementwise/pardo.md
Labels: python, website, examples

#17009 [BEAM-14016] Fixed flaky postcommit test
  sdks/python/apache_beam/io/gcp/experimental/spannerio.py
Labels: python, io, gcp

#16677 [BEAM-13947] Add split() and rsplit(), non-deferred column operations on categorical columns
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#16998 [BEAM-13993] [BEAM-10039] Import beam plugins before starting SdkHarness
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main_test.py
Labels: python

#16988 BEAM-14026 - Fixes bug related to Unnesting nested rows in an array
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamUnnestRel.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlDslUnnestRowsTest.java
Labels: java, extensions, sql

#17021 Remove resolved issue in notebook
  examples/notebooks/documentation/transforms/python/elementwise/pardo-py.ipynb
Labels: examples

#17011 [BEAM-13995] [BEAM-13876] [BEAM-14025] Bump numpy bound to include 1.22 and regenerate container deps.
  sdks/python/container/py36/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#17007 [BEAM-11085] Test that windows are correctly observed in DoFns
  sdks/go/pkg/beam/core/runtime/exec/fullvalue_test.go
  sdks/go/pkg/beam/core/runtime/exec/pardo_test.go
Labels: go, Next Action: Reviewers

#17031 [BEAM-13925] Give pr bot write permissions on pr update
  .github/workflows/pr-bot-pr-updates.yml
Labels: build

#16940 [BEAM-14022] Add a logical type for Schema.
  model/pipeline/src/main/proto/beam_runner_api.proto
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/SchemaLogicalType.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTranslationTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/logicaltypes/LogicalTypesTest.java
Labels: java, model

#16668 BEAM-13765 missing PAssert methods
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/PAssert.java
Labels: java

#17014 [BEAM-13909] improve coverage of Provision package
  sdks/go/pkg/beam/provision/provision_test.go
Labels: go

#17019 [BEAM-14050] Update taxi.go example instructions
  sdks/go/examples/kafka/taxi.go
Labels: go, examples

#17027 [BEAM-11205] Upgrade Libraries BOM dependencies to 24.4.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#16980 [BEAM-10976] Bundle finalization: Harness and some exec changes
  sdks/go/pkg/beam/core/runtime/exec/combine.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/exec/util.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/runners/direct/buffer.go
Labels: go, runners, direct

#16976 [BEAM-14010] [Website] Add Playground section to the Home page
  website/www/site/assets/scss/_global.sass
  website/www/site/i18n/home/en.yaml
  website/www/site/layouts/_default/baseof.html
  website/www/site/layouts/index.html
Labels: website

#17032 [BEAM-12447] Upgrade cloud build client and add/cleanup SdkContainerBuilder options
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/clients/cloudbuild/__init__.py
  sdks/python/apache_beam/runners/dataflow/internal/clients/cloudbuild/cloudbuild_v1_client.py
  sdks/python/apache_beam/runners/dataflow/internal/clients/cloudbuild/cloudbuild_v1_messages.py
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
Labels: python

#17036 [BEAM-12164] Convert all static instances to be transient in the connector in order to enable concurrent testing
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/DaoFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/MapperFactory.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
Labels: java, io, gcp

#16991 [BEAM-14027] Fix unsafe variable reference
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoLifecycleTest.java
Labels: java

#17024 [BEAM-13904] Increase unit testing in the reflectx package
  sdks/go/pkg/beam/core/util/reflectx/call_test.go
  sdks/go/pkg/beam/core/util/reflectx/functions_test.go
  sdks/go/pkg/beam/core/util/reflectx/structs_test.go
  sdks/go/pkg/beam/core/util/reflectx/types_test.go
Labels: go, Next Action: Reviewers

#17049 [BEAM-14072] Revert "[BEAM-13993] [BEAM-10039] Import beam plugins before starting SdkHarness"
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main_test.py
Labels: python

#16827 [BEAM-13923] Fix the answers placeholders locations in the Java katas
  learning/katas/java/Common Transforms/Aggregation/Count/task-info.yaml
  learning/katas/java/Common Transforms/Aggregation/Max/task-info.yaml
  learning/katas/java/Common Transforms/Aggregation/Mean/task-info.yaml
  learning/katas/java/Common Transforms/Aggregation/Min/task-info.yaml
  learning/katas/java/Common Transforms/Aggregation/Sum/task-info.yaml
  learning/katas/java/Common Transforms/Filter/Filter/task-info.yaml
  learning/katas/java/Common Transforms/Filter/ParDo/task-info.yaml
  learning/katas/java/Common Transforms/WithKeys/WithKeys/task-info.yaml
  learning/katas/java/Core Transforms/Branching/Branching/task-info.yaml
  learning/katas/java/Core Transforms/CoGroupByKey/CoGroupByKey/src/org/apache/beam/learning/katas/coretransforms/cogroupbykey/Task.java
  learning/katas/java/Core Transforms/CoGroupByKey/CoGroupByKey/task-info.yaml
  learning/katas/java/Core Transforms/Combine/BinaryCombineFn Lambda/task-info.yaml
  learning/katas/java/Core Transforms/Combine/BinaryCombineFn/task-info.yaml
  learning/katas/java/Core Transforms/Combine/Combine PerKey/task-info.yaml
  learning/katas/java/Core Transforms/Combine/CombineFn/task-info.yaml
  learning/katas/java/Core Transforms/Combine/Simple Function/task-info.yaml
  learning/katas/java/Core Transforms/Composite Transform/Composite Transform/task-info.yaml
  learning/katas/java/Core Transforms/DoFn Additional Parameters/DoFn Additional Parameters/task-info.yaml
  learning/katas/java/Core Transforms/DoFn Additional Parameters/DoFn Additional Parameters/task.md
  learning/katas/java/Core Transforms/Flatten/Flatten/task-info.yaml
  learning/katas/java/Core Transforms/GroupByKey/GroupByKey/task-info.yaml
  learning/katas/java/Core Transforms/Map/FlatMapElements/src/org/apache/beam/learning/katas/coretransforms/map/flatmapelements/Task.java
  learning/katas/java/Core Transforms/Map/FlatMapElements/task-info.yaml
  learning/katas/java/Core Transforms/Map/MapElements/task-info.yaml
  learning/katas/java/Core Transforms/Map/ParDo OneToMany/task-info.yaml
  learning/katas/java/Core Transforms/Map/ParDo/task-info.yaml
  learning/katas/java/Core Transforms/Partition/Partition/task-info.yaml
  learning/katas/java/Core Transforms/Side Input/Side Input/src/org/apache/beam/learning/katas/coretransforms/sideinput/Task.java
  learning/katas/java/Core Transforms/Side Input/Side Input/task-info.yaml
  learning/katas/java/Core Transforms/Side Output/Side Output/task-info.yaml
  learning/katas/java/Examples/Word Count/Word Count/task-info.yaml
  learning/katas/java/Introduction/Hello Beam/Hello Beam/task-info.yaml
  learning/katas/java/Triggers/Early Triggers/Early Triggers/src/org/apache/beam/learning/katas/triggers/earlytriggers/Task.java
  learning/katas/java/Triggers/Early Triggers/Early Triggers/task-info.yaml
  learning/katas/java/Triggers/Event Time Triggers/Event Time Triggers/src/org/apache/beam/learning/katas/triggers/eventtimetriggers/Task.java
  learning/katas/java/Triggers/Event Time Triggers/Event Time Triggers/task-info.yaml
  learning/katas/java/Triggers/Window Accumulation Mode/Window Accumulation Mode/src/org/apache/beam/learning/katas/triggers/windowaccummode/Task.java
  learning/katas/java/Triggers/Window Accumulation Mode/Window Accumulation Mode/task-info.yaml
  learning/katas/java/Windowing/Adding Timestamp/ParDo/src/org/apache/beam/learning/katas/windowing/addingtimestamp/pardo/Task.java
  learning/katas/java/Windowing/Adding Timestamp/ParDo/task-info.yaml
  learning/katas/java/Windowing/Adding Timestamp/WithTimestamps/src/org/apache/beam/learning/katas/windowing/addingtimestamp/withtimestamps/Task.java
  learning/katas/java/Windowing/Adding Timestamp/WithTimestamps/task-info.yaml
  learning/katas/java/Windowing/Fixed Time Window/Fixed Time Window/task-info.yaml
  learning/katas/java/build.gradle
Labels: learning

#16999 [BEAM-14039] Propagate ignore_unknown_columns parameter.
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: python, io, gcp

#16922 Add a StatefulDoFn test that sets event time timer within allowed lat…
  runners/google-cloud-dataflow-java/build.gradle
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, runners, dataflow

#17056 [BEAM-14076] [SnowflakeIO] Add support for GEOGRAPHY column
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/data/SnowflakeDataType.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/data/geospatial/SnowflakeGeography.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/data/geospatial/package-info.java
  sdks/python/apache_beam/io/snowflake.py
Labels: python, java, io

#17073 [BEAM-13981] Remove Spark Runner specific code for event logging
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkPipelineRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/metrics/SparkBeamMetric.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/util/SparkCommon.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/util/SparkCompat.java
Labels: runners, spark

#17074 [BEAM-2766] Support null key/values in HadoopFormatIO
  sdks/java/io/hadoop-format/src/main/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIO.java
  sdks/java/io/hadoop-format/src/test/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIOReadTest.java
Labels: java, io, hadoop

#17078 [BEAM-14072] [BEAM-13993] [BEAM-10039] Import beam plugins before starting SdkHarness
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main_test.py
Labels: python

#17054 [BEAM-14075] [SnowflakeIO] Change a output type in WriteToSnowflake
  sdks/python/apache_beam/io/snowflake.py
Labels: python, io

#16077 [BEAM-13175] Add KinesisIO.write for AWS SDK v2.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/ClientPool.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/AsyncPutRecordsHandler.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisPartitioner.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/RecordsAggregator.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/common/ClientPoolTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/AsyncPutRecordsHandlerTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOIT.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOWriteTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/PutRecordsHelpers.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/RecordsAggregatorTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/AwsModuleTest.java
Labels: java, build, io, aws

#17087 [BEAM-13767] Move a bunch of python tasks to use gradle configuration…
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/Repositories.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/VendorJavaPlugin.groovy
  sdks/java/bom/build.gradle
  sdks/java/bom/common.gradle
  sdks/python/container/build.gradle
  sdks/python/container/common.gradle
  sdks/python/test-suites/direct/build.gradle
  sdks/python/test-suites/direct/common.gradle
  sdks/python/test-suites/portable/build.gradle
  sdks/python/test-suites/portable/common.gradle
  sdks/python/test-suites/tox/common.gradle
Labels: python, java, build, docker

#17052 [BEAM-13818] [SnowflakeIO] Add support for unencrypted private keys
  build.gradle.kts
  sdks/java/io/snowflake/build.gradle
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/KeyPairUtils.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakeIO.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/TestUtils.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/DataSourceConfigurationTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/write/StreamingWriteTest.java
  sdks/java/io/snowflake/src/test/resources/valid_encrypted_test_rsa_key.p8
  sdks/java/io/snowflake/src/test/resources/valid_unencrypted_test_rsa_key.p8
  sdks/python/apache_beam/io/snowflake.py
  website/www/site/content/en/documentation/io/built-in/snowflake.md
Labels: python, java, build, website, io

#17091 Adding pydoc for StateHandler
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#17084 BEAM-3165 Bypass split if numSplit is zero
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbIO.java
Labels: java, io, mongodb

#17010 [BEAM-14047] Updates x-lang release validation to use staged jars
  release/src/main/scripts/run_rc_validation.sh
Labels: build

#17064 [BEAM-12164]: add metrics for partition reads, queries, and latencies for Spanner Change Streams Connector
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/ChangeStreamMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/PostProcessingMetricsDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/ReadChangeStreamPartitionDoFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
Labels: java, io, gcp

#16992 Minor: Make ScopedReadStateSupplier final
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
Labels: runners, dataflow

#17004 [BEAM-14116] Chunk commit requests dynamically
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServer.java
Labels: runners, dataflow

#17079 [BEAM-13660] Add types and queries in Spanner's Postgresql dialect
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/MutationKeyEncoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/MutationSizeEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/ReadSpannerSchema.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/MutationKeyEncoderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/MutationSizeEstimatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/ReadSpannerSchemaTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteIT.java
Labels: java, build, io, gcp

#17058 [BEAM-13888] Add unit testing to ioutilx
  sdks/go/pkg/beam/core/util/ioutilx/read_test.go
  sdks/go/pkg/beam/core/util/ioutilx/write_test.go
Labels: go, Next Action: Reviewers

#17020 Minor: Make serializableCoder warning gramatically correct english
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/SerializableCoder.java
Labels: java

#17072 [BEAM-14091] Fixing Interactive Beam show/collect for remote runners
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_environment_test.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
  sdks/python/apache_beam/runners/interactive/recording_manager_test.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
Labels: python

#17059 Typehints typo
  sdks/python/apache_beam/typehints/typehints.py
Labels: python

#17086 Remove unused prebuild_sdk_container_base_image option from validate …
  sdks/python/container/run_validatescontainer.sh
Labels: python, docker

#17055 [BEAM-14087] Mapped JOB_STATE_RESOURCE_CLEANING_UP to State.RUNNING
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/MonitoringUtil.java
Labels: runners, dataflow

#17105 [BEAM-12777] Create symlink for `current` directory
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#16983 [BEAM-13015] Modify metrics to begin and reset to a non-dirty state.
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/CounterCell.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/DirtyState.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/DistributionCell.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/GaugeCell.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/HistogramCell.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/CounterCellTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/DirtyStateTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/DistributionCellTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/GaugeCellTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/HistogramCellTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MetricsContainerImplTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/HistogramData.java
Labels: java, runners, core

#17100 [BEAM-14112] Avoid storing a generator in _CustomBigQuerySource
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
Labels: python, io, gcp

#17042 Populate environment capabilities in v1beta3 protos.
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python

#17035 [BEAM-14038] Auto-startup for Python expansion service.
  sdks/java/extensions/python/build.gradle
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/ExternalPythonTransform.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonService.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/package-info.java
  sdks/java/extensions/python/src/main/resources/org/apache/beam/sdk/extensions/python/bootstrap_beam_venv.py
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/ExternalPythonTransformTest.java
  settings.gradle.kts
Labels: java, build, extensions

#17107 [BEAM-12976] Enable projection pushdown in runners
  CHANGES.md
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkRunner.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadIT.java
Labels: java, io, runners, spark, dataflow, gcp, flink

#17114 [BEAM-14123] Fix typo in hdfsIntegrationTest task name.
  sdks/python/test-suites/direct/common.gradle
Labels: python

#17003 [BEAM-13893] improved coverage of jobopts package
  sdks/go/pkg/beam/options/jobopts/options.go
  sdks/go/pkg/beam/options/jobopts/options_test.go
Labels: go

#16954 [BEAM-10212] Clean-up comments, remove rawtypes usage.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java

#16977 [BEAM-12164] Added integration test for transaction boundaries and transaction ID ordering. Made small fixes in ordered by key integration test.
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamOrderedByTimestampAndTransactionIdIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamOrderedWithinKeyGloballyIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamOrderedWithinKeyIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamTransactionBoundariesIT.java
Labels: java, io, gcp

#17117 [adhoc] Removing unused rule from aws2 tests
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIOWriteTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/SnsIOTest.java
Labels: java, io, aws

#17119 [BEAM-14125] Update website IO matrix to recommend aws2 IOs
  website/www/site/data/io_matrix.yaml
Labels: website

#17120 [BEAM-14128] Eliminating quadratic behavior of computeCompositeInputOutput
  sdks/go/pkg/beam/core/runtime/pipelinex/replace.go
  sdks/go/pkg/beam/core/runtime/pipelinex/replace_test.go
Labels: go, Next Action: Reviewers

#17008 [BEAM-12620] Add Java 17 Nexmark metrics to Grafana
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Nexmark_Dataflow_RunnerV2.json
  website/www/site/content/en/documentation/runtime/environments.md
Labels: website, infra

#16917 [BEAM-13972] Add RunInference interface
  sdks/python/apache_beam/ml/inference/api.py
Labels: python

#17116 [BEAM-12164] Remove change_stream in request tag
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/ChangeStreamDao.java
Labels: java, io, gcp

#17025 [BEAM-14059] Deprecate tags.go
  sdks/go/pkg/beam/core/util/reflectx/tags.go
Labels: go

#17067 [BEAM-12753] and [BEAM-12815] Fix Flink Integration Tests
  sdks/go/test/integration/integration.go
  sdks/go/test/resources/flink-conf.yaml
  sdks/go/test/run_validatesrunner_tests.sh
Labels: go, Next Action: Reviewers

#17076 Beam 14082 update payground for mobile
  website/www/site/assets/scss/_playground.sass
  website/www/site/assets/scss/main.scss
  website/www/site/layouts/index.html
  website/www/site/static/images/playground.png
Labels: website

#17062 [BEAM-13925] Assign committers in the scheduled action
  .github/workflows/pr-bot-pr-updates.yml
  scripts/ci/pr-bot/processNewPrs.ts
  scripts/ci/pr-bot/processPrUpdate.ts
  scripts/ci/pr-bot/shared/commentStrings.ts
  scripts/ci/pr-bot/shared/constants.ts
  scripts/ci/pr-bot/shared/pr.ts
Labels: build

#17123 Pin setup-gcloud to v0 instead of master
  .github/workflows/build_wheels.yml
  .github/workflows/java_tests.yml
  .github/workflows/playground_deploy_examples.yml
  .github/workflows/python_tests.yml
Labels: build

#17047 [BEAM-3304] documentation for PaneInfo in BPG
  sdks/go/examples/snippets/04transforms.go
  sdks/go/pkg/beam/forward.go
  sdks/go/test/integration/primitives/window_panes.go
  website/www/site/content/en/documentation/programming-guide.md
Labels: go, website, Next Action: Reviewers

#17077 [BEAM-14078] [Website] change link
  website/www/site/content/en/get-started/try-beam-playground.md
Labels: website

#17085 [BEAM-14077] [Website] add beam playground section
  website/www/site/content/en/documentation/resources/learning-resources.md
Labels: website

#17088 [BEAM-14098] wrapper for postgres on JDBC IO GO SDK
  sdks/go/pkg/beam/io/xlang/jdbcio/jdbc.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/io/xlang/jdbc/jdbc.go
  sdks/go/test/integration/io/xlang/jdbc/jdbc_test.go
Labels: go, io, Next Action: Reviewers

#17038 [BEAM-13747] Add e2e test for BigQuery Write API beam connector
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageWriteIT.java
Labels: java, io, gcp

#17023 [BEAM-12164]: Remove child partition query workaround
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/DetectNewPartitionsDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/ReadChangeStreamPartitionDoFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamActionTest.java
Labels: java, io, gcp

#17132 [BEAM-14122] Upgrade pip-licenses dependency
  sdks/python/container/Dockerfile
Labels: python, docker

#17118 [adhoc] Move aws IT tests to testing package according to best practices
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/ITEnvironment.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/dynamodb/testing/DynamoDBIOIT.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/testing/KinesisIOIT.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/testing/S3FileSystemIT.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/testing/SnsIOIT.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/testing/SqsIOIT.java
Labels: java, io, aws

#17138 fixes static checks and go lint issues in Go SDK
  sdks/go/test/integration/io/xlang/debezium/debezium.go
  sdks/go/test/integration/io/xlang/jdbc/jdbc.go
  sdks/go/test/integration/primitives/cogbk.go
  sdks/go/test/integration/primitives/window_panes.go
Labels: go

#17137 [BEAM-14136] Clean up staticcheck and linter warnings in the Go SDK
  sdks/go/pkg/beam/core/runtime/exec/sideinput.go
  sdks/go/pkg/beam/core/runtime/exec/sideinput_test.go
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/download.go
  sdks/go/pkg/beam/options/gcpopts/options_test.go
  sdks/go/pkg/beam/provision/provision_test.go
  sdks/go/pkg/beam/runners/dataflow/dataflow_test.go
  sdks/go/pkg/beam/transforms/sql/sqlx/sqlx.go
Labels: go, runners, dataflow

#17063 [BEAM-12164] Fix flaky tests
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
Labels: java, io, gcp

#17115 [BEAM-14124] Add display data to BQ storage reads.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageTableSource.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadTest.java
Labels: java, io, gcp

#17044 [BEAM-14071] Enabling Flink on Dataproc for Interactive Beam
  sdks/python/apache_beam/runners/interactive/cache_manager.py
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
Labels: python

#17143 [BEAM-4106] Remove filesToStage from Flink pipeline option list.
  website/www/site/layouts/shortcodes/flink_java_pipeline_options.html
  website/www/site/layouts/shortcodes/flink_python_pipeline_options.html
Labels: website

#17108 Minor: Bypass schema registry in schemas_test.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
Labels: python

#17141 [BEAM-14138] Revert "[BEAM-14112] Avoid storing a generator in _CustomBigQuerySource"
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
Labels: python, io, gcp

#17146 [BEAM-14141] Set Interactive Beam to use the default Dataproc image
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
Labels: python

#17102 BEAM-14115 - Update find criteria limited to _id
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbIO.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/UpdateConfiguration.java
Labels: java, io, mongodb

#17154 [BEAM-14148] Revert "[BEAM-14038] Auto-startup for Python expansion service."
  sdks/java/extensions/python/build.gradle
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/ExternalPythonTransform.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonService.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/package-info.java
  sdks/java/extensions/python/src/main/resources/org/apache/beam/sdk/extensions/python/bootstrap_beam_venv.py
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/ExternalPythonTransformTest.java
  settings.gradle.kts
Labels: java, build, extensions

#17157 Minor: Bump timeout for Java PreCommit
  .test-infra/jenkins/job_PreCommit_Java.groovy
Labels: infra

#17158 [BEAM-14152] Disable flaky SpannerChangeStreamErrorTest.testUnavailableExceptionRetries
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
Labels: java, io, gcp

#17142 Fixing a small bug in TypedSchemaTransformTest that caused it to flake.
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProviderTest.java
Labels: java

#17094 [BEAM-14116] Catch MonitoringInfoMetricName null keys or values in the constructor
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoMetricName.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
Labels: java, extensions, runners, core, google-cloud-platform-core

#17103 [BEAM-14129] Restructure SubscriptionPartitionLoader to use a manual SDF so its watermarks are reasonable given the polling semantics
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PerSubscriptionPartitionSdf.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscriptionPartitionLoader.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscriptionPartitionLoaderTest.java
Labels: java, io, gcp

#17155 [BEAM-14149] Disable BigQueryIOStorageWriteIT for general Java post-commit
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, io, gcp

#17121 [BEAM-13015] Avoid repeated weighing of StateKey in StateFetchingIterator cache usage.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateFetchingIterators.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/StateFetchingIteratorsTest.java
Labels: java

#17110 [BEAM-13695] Add option to add-open flags for Java container
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
  sdks/java/container/Dockerfile
  sdks/java/container/boot.go
  sdks/java/container/common.gradle
  sdks/java/container/java17/option-jamm.json
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/SdkHarnessOptions.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/Caches.java
Labels: java, docker, runners, dataflow

#16982 [BEAM-13015] Clarify ownership of the list for state caching across bundles
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/BagUserState.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/MultimapUserState.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateFetchingIterators.java
Labels: java

#17140 [BEAM-13232] Close clients properly in KinesisSource.
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisReader.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisSource.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/SimplifiedKinesisClient.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/SimplifiedKinesisClientTest.java
Labels: java, io, aws

#17134 [BEAM-14134] Optimize memory allocations for various core coders
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/BigEndianIntegerCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/BigEndianLongCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/BigEndianShortCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/BitConverters.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/DoubleCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/FloatCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/InstantCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/IterableLikeCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/MapCoder.java
Labels: java

#16762 [BEAM-12697] Add primitive field generation from IR to SBE extension
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/sbe/build.gradle
  sdks/java/extensions/sbe/src/main/java/org/apache/beam/sdk/extensions/sbe/IrFieldGenerator.java
  sdks/java/extensions/sbe/src/main/java/org/apache/beam/sdk/extensions/sbe/PrimitiveSbeField.java
  sdks/java/extensions/sbe/src/main/java/org/apache/beam/sdk/extensions/sbe/SbeField.java
  sdks/java/extensions/sbe/src/main/java/org/apache/beam/sdk/extensions/sbe/SbeSchema.java
  sdks/java/extensions/sbe/src/main/java/org/apache/beam/sdk/extensions/sbe/SerializableIr.java
  sdks/java/extensions/sbe/src/main/java/org/apache/beam/sdk/extensions/sbe/UnsignedOptions.java
  sdks/java/extensions/sbe/src/test/java/org/apache/beam/sdk/extensions/sbe/IrFieldGeneratorTest.java
  sdks/java/extensions/sbe/src/test/java/org/apache/beam/sdk/extensions/sbe/PrimitiveSbeFieldTest.java
  sdks/java/extensions/sbe/src/test/java/org/apache/beam/sdk/extensions/sbe/SbeSchemaTest.java
  sdks/java/extensions/sbe/src/test/java/org/apache/beam/sdk/extensions/sbe/SerializableIrTest.java
  sdks/java/extensions/sbe/src/test/java/org/apache/beam/sdk/extensions/sbe/TestSchemas.java
  sdks/java/extensions/sbe/src/test/resources/only-primitives-multi-message.xml
  sdks/java/extensions/sbe/src/test/resources/only-primitives.xml
  sdks/java/extensions/sbe/src/test/resources/person.xml
Labels: java, build, extensions

#16945 [BEAM-13977] [Website] Update Community landing page
  website/www/site/assets/scss/_page-nav.scss
  website/www/site/data/en/community_list.yaml
  website/www/site/layouts/community/baseof.html
Labels: website

#16949 [BEAM-13979] [Website] Update Community/Contact us page
  website/www/site/content/en/community/contact-us.md
  website/www/site/data/en/contact_us.yaml
Labels: website

#17040 [BEAM-14040] [Website] create new page, add link
  website/www/site/assets/scss/_connectors.sass
  website/www/site/assets/scss/main.scss
  website/www/site/content/en/documentation/io/connectors.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website

#17160 [BEAM-13058] Upgrade Kubernetes APIs
  .test-infra/kubernetes/README.md
  .test-infra/kubernetes/cassandra/LargeITCluster/cassandra-svc-statefulset.yaml
  .test-infra/kubernetes/elasticsearch/LargeProductionCluster/es-services-deployments.yaml
  .test-infra/kubernetes/elasticsearch/SmallITCluster/elasticsearch-svc-rc.yaml
  .test-infra/metrics/README.md
  .test-infra/metrics/kubernetes/beam-influxdb-autobackup.yaml
Labels: infra

#17124 [BEAM-13889] Add test cases to jsonx package
  sdks/go/pkg/beam/core/util/jsonx/jsonx_test.go
Labels: go

#17126 Add ability to handle streaming input to AvroSchemaIOProvider
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroSchemaIOProvider.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/AvroSchemaIOProviderTest.java
Labels: java

#17046 [BEAM-12898] Flink Load Tests failure- UncheckedExecutionException - leaking vms
  .test-infra/dataproc/flink_cluster.sh
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Go.groovy
Labels: infra, Next Action: Reviewers

#17162 [BEAM-14157] Don't call requestObserver.onNext on closed windmill streams
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServer.java
Labels: runners, dataflow

#17174 Minor: Make IOTypeHints a real NamedTuple
  sdks/python/apache_beam/typehints/decorators.py
Labels: python

#17145 [BEAM-14139] Drop support for Flink 1.11.
  CHANGES.md
  gradle.properties
  runners/flink/1.11/build.gradle
  runners/flink/1.11/job-server-container/build.gradle
  runners/flink/1.11/job-server/build.gradle
  runners/flink/1.11/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/AbstractStreamOperatorCompat.java
  runners/flink/1.11/src/test/java/org/apache/beam/runners/flink/FlinkRunnerTestCompat.java
  runners/flink/1.11/src/test/java/org/apache/beam/runners/flink/SourceTransformationCompat.java
  runners/flink/1.12/build.gradle
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/RemoteMiniClusterImpl.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/metrics/MetricGroupWrapper.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/streaming/StreamSources.java
  runners/flink/1.13/build.gradle
  runners/flink/1.13/src/test/java/org/apache/beam/runners/flink/streaming/StreamSources.java
  runners/flink/1.14/build.gradle
  runners/flink/1.14/src/test/java/org/apache/beam/runners/flink/streaming/StreamSources.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkRunnerTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSavepointTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslatorsTest.java
  sdks/python/apache_beam/options/pipeline_options.py
  settings.gradle.kts
Labels: python, build, runners, flink

#17176 [BEAM-14172] Update tox.ini for pydocs
  sdks/python/tox.ini
Labels: python

#17028 [BEAM-14065] Upgrade vendored bytebuddy to version 1.12.8
  settings.gradle.kts
  vendor/bytebuddy-1_12_8/build.gradle.kts
Labels: build, vendor

#17167 [BEAM-14160] Parse filesToStage in Java expansion service
  CHANGES.md
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExpansionServerTest.java
Labels: java

#17180 [BEAM-14171] More explicit asserts in CoGBKResult.
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/join/CoGbkResult.java
Labels: java

#17179 [BEAM-12572] Change java examples jobs to run periodically
  .test-infra/jenkins/job_PostCommit_Java_Examples_Direct.groovy
  .test-infra/jenkins/job_PostCommit_Java_Examples_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_Examples_Spark.groovy
Labels: infra

#17186 [DO NOT MERGE] Run seed job for PR 17179
  .test-infra/jenkins/job_PostCommit_Java_Examples_Direct.groovy
  .test-infra/jenkins/job_PostCommit_Java_Examples_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_Examples_Spark.groovy
Labels: infra

#16634 [BEAM-8218] PulsarIO Connector
  sdks/java/io/pulsar/build.gradle
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/PulsarIO.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/PulsarIOUtils.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/PulsarMessage.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/PulsarMessageCoder.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/PulsarSourceDescriptor.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/ReadFromPulsarDoFn.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/WriteToPulsarDoFn.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/package-info.java
  sdks/java/io/pulsar/src/test/java/org/apache/beam/sdk/io/pulsar/FakeMessage.java
  sdks/java/io/pulsar/src/test/java/org/apache/beam/sdk/io/pulsar/FakePulsarClient.java
  sdks/java/io/pulsar/src/test/java/org/apache/beam/sdk/io/pulsar/FakePulsarReader.java
  sdks/java/io/pulsar/src/test/java/org/apache/beam/sdk/io/pulsar/PulsarIOTest.java
  sdks/java/io/pulsar/src/test/java/org/apache/beam/sdk/io/pulsar/ReadFromPulsarDoFnTest.java
  settings.gradle.kts
Labels: java, build, io

#17066 [BEAM-14084] iterable_input_value_types changed from list to iterable
  sdks/python/apache_beam/transforms/util.py
Labels: python

#17168 Explicitly import estimator from tensorflow
  sdks/python/apache_beam/testing/benchmarks/chicago_taxi/trainer/model.py
  sdks/python/apache_beam/testing/benchmarks/chicago_taxi/trainer/task.py
Labels: python

#17177 [BEAM-14087] Mapped JOB_STATE_RESOURCE_CLEANING_UP to RESOURCE_CLEANING_UP in Pyth…
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/runner.py
Labels: python

#17188 Minor: Add warning about pubsub client to Beam 2.36.0 blog
  website/www/site/content/en/blog/beam-2.36.0.md
Labels: website

#17184 [BEAM-14177] Fix GBK re-iteration caching for portable runners.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateBackedIterable.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/StateBackedIterableTest.java
Labels: java

#17192 Only reset transform.label if it is correctly assigned
  sdks/python/apache_beam/pipeline.py
Labels: python
