Repository apache/beam, pull requests merged in 2022-12, with the labels that each got.

#24442 Fix BlobstorageIO.checksum Attribute Error
  sdks/python/apache_beam/io/azure/blobstorageio.py
Labels: python, io

#24390 [BEAM-12164] Support querying against Postgres for the SpannerIO change streams connector
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/NameGenerator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/ChangeStreamDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/ChangeStreamResultSet.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/DaoFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataAdminDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/MapperFactory.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/NameGeneratorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataAdminDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/IntegrationTestEnv.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamPostgresIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/util/TestJsonMapper.java
Labels: java, io, gcp, Next Action: Reviewers

#24437 ML notebook formatting and text updates
  examples/notebooks/beam-ml/custom_remote_inference.ipynb
  examples/notebooks/beam-ml/dataframe_api_preprocessing.ipynb
  examples/notebooks/beam-ml/run_custom_inference.ipynb
  examples/notebooks/beam-ml/run_inference_multi_model.ipynb
  examples/notebooks/beam-ml/run_inference_pytorch.ipynb
  examples/notebooks/beam-ml/run_inference_pytorch_tensorflow_sklearn.ipynb
  examples/notebooks/beam-ml/run_inference_sklearn.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
Labels: examples

#24455 [Go SDK] Lint fixes
  sdks/go/pkg/beam/core/runtime/exec/window.go
Labels: go, Next Action: Reviewers

#24461 Install venv dependencies in local env setup
  .github/workflows/local_env_tests.yml
  local-env-setup.sh
Labels: build, Next Action: Reviewers

#24316 Don't set BigQuery services in schema transform configuration
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProviderTest.java
Labels: java, io, gcp

#24344 Sort SchemaTransform configuration schema fields by name to establish consistency
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProvider.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTest.java
Labels: java

#24466 Rename from default-pool to pool-1
  .test-infra/jenkins/job_IODatastoresCredentialsRotation.groovy
Labels: infra

#24268 [Website] change svg to png
  website/www/site/assets/icons/linkedin-icon.png
  website/www/site/assets/icons/linkedin-icon.svg
  website/www/site/content/en/case-studies/hop.md
  website/www/site/content/en/case-studies/neo4j.md
  website/www/site/content/en/case-studies/spotify.md
  website/www/site/content/en/case-studies/talend.md
  website/www/site/data/en/pillars_social.yaml
  website/www/site/static/images/logos/powered-by/Trustpilot.png
  website/www/site/static/images/logos/powered-by/Wayfair.png
  website/www/site/static/images/logos/powered-by/eBay.png
  website/www/site/static/images/logos/powered-by/goga.png
  website/www/site/static/images/logos/powered-by/hop.png
  website/www/site/static/images/logos/powered-by/hop.svg
  website/www/site/static/images/logos/powered-by/kio.png
  website/www/site/static/images/logos/powered-by/klio.png
  website/www/site/static/images/logos/powered-by/liveramp.png
  website/www/site/static/images/logos/powered-by/lyft.png
  website/www/site/static/images/logos/powered-by/neo4j.png
  website/www/site/static/images/logos/powered-by/neo4j.svg
  website/www/site/static/images/logos/powered-by/oriel.png
  website/www/site/static/images/logos/powered-by/paloalto.png
  website/www/site/static/images/logos/powered-by/ricardo.png
  website/www/site/static/images/logos/powered-by/scio.png
  website/www/site/static/images/logos/powered-by/seznam.png
  website/www/site/static/images/logos/powered-by/spotify.png
  website/www/site/static/images/logos/powered-by/spotify.svg
  website/www/site/static/images/logos/powered-by/talend.png
  website/www/site/static/images/logos/powered-by/talend.svg
  website/www/site/static/images/logos/powered-by/zillow.png
Labels: website

#24474 Fix error messages in cred rotation email
  .test-infra/jenkins/job_IODatastoresCredentialsRotation.groovy
  .test-infra/jenkins/job_MetricsCredentialsRotation.groovy
Labels: infra

#24447 Add integer to NUMERIC and BIGNUMERIC conversion support
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#24445 24441: Update Jackson version from 2.13.3 to 2.14.1.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#24317 Reduce calls to FileSystem.match and API calls in FileSystem._list
  sdks/python/apache_beam/io/aws/s3filesystem.py
  sdks/python/apache_beam/io/aws/s3filesystem_test.py
  sdks/python/apache_beam/io/aws/s3io.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem_test.py
  sdks/python/apache_beam/io/azure/blobstorageio.py
  sdks/python/apache_beam/io/filebasedsource.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, aws, gcp, Next Action: Reviewers

#23973 Pandas 1.5 support
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
  sdks/python/setup.py
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#24485 Add GPU benchmark to RunInference Grafana dashboard
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_ML_RunInference_Benchmark_Tests.json
Labels: infra

#24428 [CdapIO] Update read timeout for SparkReceiverIOIT job
  .test-infra/jenkins/job_PerformanceTests_SparkReceiverIO_IT.groovy
Labels: infra

#24489 Revert "Support SqlTypes Date and Timestamp (MicrosInstant) in AvroUtils"
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/AvroUtilsTest.java
Labels: java

#24448 Reduce version matrix of build wheel on pull request event
  .github/workflows/build_wheels.yml
  sdks/python/apache_beam/transforms/core.py
Labels: python, build, Next Action: Reviewers

#24288 [Spark dataset runner] Make sure PCollection views get only broadcasted once if reused
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/PipelineTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/SparkSessionFactory.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/TransformTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnMapPartitionsFactory.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/functions/CachedSideInputReader.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/functions/SideInputValues.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/functions/SparkSideInputReader.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/SideInputBroadcast.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/utils/CachedSideInputReader.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/utils/SideInputStorage.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/functions/SideInputValuesTest.java
  runners/spark/spark_runner.gradle
Labels: runners, spark

#24481 Disable flaky async tests in samza runner
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/AsyncDoFnRunnerTest.java
Labels: runners, samza

#24463 Fix for #22951 w/ GroupIntoBatchesOverride fix
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/GroupIntoBatchesTranslationTest.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/GroupIntoBatchesOverride.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupIntoBatches.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupIntoBatchesTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
Labels: java, io, runners, dataflow, gcp, core, Next Action: Reviewers

#24494 Never mark issues as stale
  .github/workflows/stale.yml
Labels: build

#24471 [BigQueryIO] Use final destination table schema and metadata when creating temp tables
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
Labels: java, io, gcp

#24480 Minor visibility improvements to render runner.
  sdks/python/apache_beam/runners/render.py
  sdks/python/apache_beam/runners/render_test.py
Labels: python, Next Action: Reviewers

#24473 [Go SDK]: Infer field names from struct tags
  sdks/go/pkg/beam/io/bigqueryio/bigquery.go
  sdks/go/pkg/beam/io/bigqueryio/bigquery_test.go
  sdks/go/pkg/beam/io/spannerio/spanner.go
  sdks/go/pkg/beam/io/spannerio/spanner_test.go
  sdks/go/pkg/beam/util/structx/struct.go
  sdks/go/pkg/beam/util/structx/struct_test.go
Labels: go, io, gcp

#24475 [Website] Add coauthor option to case-studies
  website/ADD_CASE_STUDY.md
  website/www/site/assets/scss/_case_study.scss
  website/www/site/layouts/case-studies/list.html
Labels: website

#24503 Add panel pointing to docs for ml benchmarks
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_ML_RunInference_Benchmark_Tests.json
Labels: infra

#24271 Adding Beam Schemas capability to parse json-schemas. This is the de-…
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JsonUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JsonSchemaConversionTest.java
  sdks/java/core/src/test/resources/json-schema/array_nested_array_json_schema.json
  sdks/java/core/src/test/resources/json-schema/basic_json_schema.json
  sdks/java/core/src/test/resources/json-schema/nested_arrays_objects_json_schema.json
  sdks/java/core/src/test/resources/json-schema/object_nested_object_and_array_json_schema.json
  sdks/java/core/src/test/resources/json-schema/ref_with_ref_json_schema.json
  sdks/java/core/src/test/resources/json-schema/unsupported_nested_tuple_array.json
  sdks/java/core/src/test/resources/json-schema/unsupported_tuple_arrays.json
  sdks/java/testing/tpcds/src/test/java/org/apache/beam/sdk/tpcds/TableSchemaJSONLoaderTest.java
Labels: java, build, Next Action: Reviewers

#24490 Fix broken typescript tests
  .github/workflows/typescript_tests.yml
Labels: build

#24328 [SQL extension] Minor fixes to logging applying best practices
  sdks/java/extensions/sql/datacatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datacatalog/DataCatalogTableProvider.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/CalciteQueryPlanner.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamSqlRelUtils.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/mongodb/MongoDbTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/parquet/ParquetTable.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLQueryPlanner.java
Labels: java, extensions, sql, Next Action: Reviewers, slow-review

#24512 Fix exception caused by null StreamAppendClient
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#24275 Adding support for PubSub Lite in Schema Transforms
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/ReadWriteIT.java
Labels: java, build, io, gcp, Next Action: Reviewers, slow-review

#24511 Fix mispositioned producer_type_hints and producer_batch_converter params.
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python

#24507 Update REVIEWERS.yml
  .github/REVIEWERS.yml
Labels: build

#24524 Fix grafana dashboard id
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_ML_RunInference_Benchmark_Tests.json
Labels: infra

#24401 [Spark runner] Support running (VR) tests with Java 17
  runners/spark/spark_runner.gradle
Labels: runners, spark

#24516 Replaced deprecated finalize with DoFn Teardown
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc

#24449 Clarified error message when GCSIO fails to upload file
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, gcp, Next Action: Reviewers

#24341 Batch rename requests in fileio.WriteToFiles
  sdks/python/apache_beam/io/filebasedsink.py
  sdks/python/apache_beam/io/fileio.py
Labels: python, io, Next Action: Reviewers, slow-review

#24272 Support for JsonSchema in Kafka Read Schema Transform
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
Labels: java, io, kafka, Next Action: Reviewers

#24532 Update dataflow container version for Pandas upgrade
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#24427 [Website] center the main content of about page
  website/www/site/layouts/about/baseof.html
Labels: website

#24399 [Website] Update copy icon positioning
  website/www/site/assets/scss/_table-wrapper.scss
Labels: website

#24526 Precommit python version update
  .pre-commit-config.yaml
Labels: python, Next Action: Reviewers

#24546 Fix null pointer exception caused by clearing member variable
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp, Next Action: Reviewers

#24529 Add RunInference example for TensorFlow Hub pre-trained model
  examples/notebooks/beam-ml/run_inference_tensorflow_hub.ipynb
Labels: examples

#24551 Revert "Bump actions/setup-java from 3.6.0 to 3.7.0 (#24484)"
  .github/workflows/build_playground_backend.yml
  .github/workflows/build_playground_frontend.yml
  .github/workflows/java_tests.yml
  .github/workflows/playground_deploy_backend.yml
  .github/workflows/playground_deploy_examples.yml
  .github/workflows/playground_examples_ci_reusable.yml
  .github/workflows/run_rc_validation.yml
Labels: build

#24553 Interface{}->any for more subfolders
  sdks/go/pkg/beam/artifact/materialize_test.go
  sdks/go/pkg/beam/internal/errors/errors.go
  sdks/go/pkg/beam/io/avroio/avroio.go
  sdks/go/pkg/beam/io/avroio/avroio_test.go
  sdks/go/pkg/beam/io/bigqueryio/bigquery.go
  sdks/go/pkg/beam/io/bigtableio/bigtable_test.go
  sdks/go/pkg/beam/io/databaseio/database.go
  sdks/go/pkg/beam/io/databaseio/loader.go
  sdks/go/pkg/beam/io/databaseio/mapper.go
  sdks/go/pkg/beam/io/databaseio/util.go
  sdks/go/pkg/beam/io/databaseio/writer.go
  sdks/go/pkg/beam/io/datastoreio/datastore_test.go
  sdks/go/pkg/beam/io/fhirio/execute_bundles.go
  sdks/go/pkg/beam/io/fhirio/search.go
  sdks/go/pkg/beam/io/filesystem/s3/helper_test.go
  sdks/go/pkg/beam/io/parquetio/parquetio.go
  sdks/go/pkg/beam/io/parquetio/parquetio_test.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange_test.go
  sdks/go/pkg/beam/io/textio/textio.go
  sdks/go/pkg/beam/io/xlang/jdbcio/jdbc.go
  sdks/go/pkg/beam/io/xlang/schemaio/schemaio.go
  sdks/go/pkg/beam/log/log.go
Labels: go, io, gcp

#24570 Migrate testing subpackages from interface{} to any
  sdks/go/pkg/beam/testing/passert/equals.go
  sdks/go/pkg/beam/testing/passert/floats.go
  sdks/go/pkg/beam/testing/passert/passert.go
  sdks/go/pkg/beam/testing/ptest/ptest.go
  sdks/go/pkg/beam/testing/ptest/ptest_test.go
  sdks/go/pkg/beam/testing/teststream/teststream.go
  sdks/go/pkg/beam/testing/teststream/teststream_test.go
Labels: go, Next Action: Reviewers

#24566 [Go SDK] fix go lints
  sdks/go/pkg/beam/core/graph/xlang.go
  sdks/go/pkg/beam/core/typex/special.go
Labels: go, Next Action: Reviewers

#24276 Samza runner support for non unique stateId across multiple ParDos
  runners/samza/build.gradle
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaRunner.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/DoFnOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaDoFnRunners.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaStoreStateInternals.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ConfigBuilder.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ConfigContext.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ParDoBoundMultiTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/PortableTranslationContext.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/SamzaPipelineTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/StateIdParser.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/TranslationContext.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/util/SamzaPipelineTranslatorUtils.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/util/StoreIdGenerator.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/SamzaStoreStateInternalsTest.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/translation/ConfigGeneratorTest.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/translation/TranslationContextTest.java
Labels: runners, samza

#24410 Upgrade checker framework to 3.27.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/legacy-worker/build.gradle
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/Aggregators.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/functions/CachedSideInputReader.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/SortedMapCoder.java
  sdks/java/harness/build.gradle
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/AggregationQuery.java
Labels: java, build, io, runners, spark, dataflow, mongodb, Next Action: Reviewers

#24550 Bump to Hadoop 3.3.4 for performance tests
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
  .test-infra/kubernetes/hadoop/LargeITCluster/hdfs-multi-datanode-cluster.yml
Labels: infra

#24398 pubsub: fix typo in grpc client factory
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClient.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#24582 regenerate python dependencies
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#24508 Return empty splits if unable to split, not errors (#24504)
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/dynsplit_test.go
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
Labels: go

#24542 [Tour Of Beam] Playground Router GRPC API host
  learning/tour-of-beam/backend/README.md
  playground/infrastructure/helm-playground/templates/deployment-router-grpc.yml
  playground/infrastructure/helm-playground/templates/service-router-grpc.yml
Labels: build, learning, Next Action: Reviewers

#24571 Replaced finalize with DoFn Teardown in Neo4jIO
  sdks/java/io/neo4j/src/main/java/org/apache/beam/sdk/io/neo4j/Neo4jIO.java
Labels: java, io

#24492 [release-2.44.0] Cherry-pick: Revert 23969 sqlttypes
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/AvroUtilsTest.java
Labels: java

#24585 Simplify issue report templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/failing_test.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/issue-rules.yml
Labels: java, build, io, jdbc, Next Action: Reviewers

#24595 Fix bugs in issue template yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
Labels: build

#24597 Fix issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/failing_test.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/issue-rules.yml
Labels: build

#24577 [Cherry Pick #24447] Add integer to NUMERIC and BIGNUMERIC conversion support
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp

#24025 [#24024] Stop wrapping light weight functions with Contextful as they add a lot of overhead for functions that are meant to do almost no work.
  runners/spark/src/test/java/org/apache/beam/runners/spark/SparkRunnerDebuggerTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/FlatMapElements.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/MapElements.java
Labels: java, runners, spark

#24388 Update grouping table to sample window size as well
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PrecombineGroupingTable.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/PrecombineGroupingTableTest.java
Labels: java, Next Action: Reviewers

#24495 Implement Kafka Write Schema Transform
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
Labels: java, io, kafka, Next Action: Reviewers

#22862 Eliminate null errors from JdbcIO
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcUtil.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/LogicalTypes.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/SchemaUtil.java
Labels: java, io, jdbc, Next Action: Reviewers

#24576 docs(fix): Filter.whereFieldName(s?) -> Filter.create().whereFieldName(s?)
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Filter.java
  website/www/site/content/en/documentation/programming-guide.md
Labels: java, website, Next Action: Reviewers

#24604 ElasticsearchIO: Lower log level in flushBatch to avoid noisy log
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: java, io, elasticsearch, Next Action: Reviewers

#24574 Turn rawtype checking back on for core Java SDK
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/wire/CommonCoderTest.java
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/DefaultCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/runners/PTransformOverride.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/FieldValueTypeInformation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/FromRowUsingCreator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Group.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/SchemaAggregateFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ReflectUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/join/CoGbkResult.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/resourcehints/ResourceHints.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/resourcehints/ResourceHintsOptions.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/MoreFutures.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionList.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionTuple.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/RowWithGetters.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/TypeDescriptors.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamAggregationRel.java
Labels: java, extensions, sql, Next Action: Reviewers

#24600 interface{} -> any for registration
  sdks/go/pkg/beam/register/emitter.go
  sdks/go/pkg/beam/register/iter.go
  sdks/go/pkg/beam/register/register.go
  sdks/go/pkg/beam/register/register.tmpl
  sdks/go/pkg/beam/register/register_test.go
Labels: go, Next Action: Reviewers

#24601 Restrict tox to be in 3.x version
  .github/workflows/python_tests.yml
  sdks/python/setup.py
Labels: python, build, Next Action: Reviewers

#24592 [BigQueryIO] Initialize and increment Storage API Read metrics properly
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamSource.java
Labels: java, io, gcp, Next Action: Reviewers

#24605 Add schema conversion support from Kafka Connect Record schemas to Beam schemas
  sdks/java/io/debezium/build.gradle
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/KafkaConnectUtils.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/KafkaConnectSchemaTest.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/SourceRecordJsonTest.java
Labels: java, io

#24618 interface{} -> any for starcgen
  sdks/go/pkg/beam/beam.shims.go
  sdks/go/pkg/beam/core/runtime/coderx/coderx.shims.go
  sdks/go/pkg/beam/core/runtime/graphx/v1/v1.pb.go
  sdks/go/pkg/beam/core/runtime/harness/session/session.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api_grpc.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/endpoints.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/external_transforms.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/metrics.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/schema.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/standard_window_fns.pb.go
  sdks/go/pkg/beam/runners/vet/testpipeline/testpipeline.shims.go
  sdks/go/pkg/beam/testing/passert/passert.shims.go
  sdks/go/pkg/beam/transforms/filter/filter.shims.go
  sdks/go/pkg/beam/transforms/stats/stats.shims.go
  sdks/go/pkg/beam/transforms/top/top.shims.go
  sdks/go/pkg/beam/util/shimx/generate.go
  sdks/go/pkg/beam/util/shimx/generate_test.go
  sdks/go/pkg/beam/util/starcgenx/starcgenx.go
  sdks/go/pkg/beam/util/starcgenx/starcgenx_test.go
  sdks/go/pkg/beam/x/debug/debug.shims.go
Labels: go, runners

#24625 interface{} -> any for remaining references
  sdks/go/cmd/specialize/main.go
  sdks/go/cmd/symtab/main.go
  sdks/go/examples/native_wordcap/nativepubsubio/subscriptiontracker.go
  sdks/go/examples/snippets/01_03intro.go
  sdks/go/examples/snippets/06schemas.go
  sdks/go/examples/snippets/06schemas_test.go
  sdks/go/examples/snippets/12splittabledofns.go
  sdks/go/pkg/beam/coder.go
  sdks/go/pkg/beam/coder_test.go
  sdks/go/pkg/beam/combine.go
  sdks/go/pkg/beam/create.go
  sdks/go/pkg/beam/create_test.go
  sdks/go/pkg/beam/encoding.go
  sdks/go/pkg/beam/example_schema_test.go
  sdks/go/pkg/beam/forward.go
  sdks/go/pkg/beam/option.go
  sdks/go/pkg/beam/options/jobopts/stringSlice.go
  sdks/go/pkg/beam/pardo.go
  sdks/go/pkg/beam/partition.go
  sdks/go/pkg/beam/partition_test.go
  sdks/go/pkg/beam/provision/provision.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/messages.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/metrics.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/metrics_test.go
  sdks/go/pkg/beam/runners/direct/buffer.go
  sdks/go/pkg/beam/runners/vet/vet.go
  sdks/go/pkg/beam/schema.go
  sdks/go/pkg/beam/transforms/filter/distinct_test.go
  sdks/go/pkg/beam/transforms/filter/filter.go
  sdks/go/pkg/beam/transforms/filter/filter_test.go
  sdks/go/pkg/beam/transforms/stats/max_switch.go
  sdks/go/pkg/beam/transforms/stats/max_switch.tmpl
  sdks/go/pkg/beam/transforms/stats/mean.go
  sdks/go/pkg/beam/transforms/stats/min_switch.go
  sdks/go/pkg/beam/transforms/stats/min_switch.tmpl
  sdks/go/pkg/beam/transforms/stats/quantiles.go
  sdks/go/pkg/beam/transforms/stats/quantiles_test.go
  sdks/go/pkg/beam/transforms/stats/sum_switch.go
  sdks/go/pkg/beam/transforms/stats/sum_switch.tmpl
  sdks/go/pkg/beam/transforms/stats/util.go
  sdks/go/pkg/beam/transforms/top/top.go
  sdks/go/pkg/beam/transforms/xlang/python/external.go
  sdks/go/pkg/beam/util.go
  sdks/go/pkg/beam/xlang.go
  sdks/go/test/integration/flags.go
  sdks/go/test/integration/io/xlang/bigquery/bigquery_test.go
  sdks/go/test/integration/primitives/windowinto.go
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
  sdks/go/test/regression/pardo.go
Labels: go, examples, runners, dataflow, direct

#23143 [GitHub Actions] - Updates in Issue Tagger to runs-on Self-hosted runners
  .github/workflows/issue-tagger.yml
Labels: build, Next Action: Author

#23134 [GitHub Actions] - Updates in Build Playground Backend to runs-on Self-hosted runners
  .github/workflows/build_playground_backend.yml
Labels: build, Next Action: Reviewers

#23135 [GitHub Actions] - Updates in Build Playground Frontend to runs-on Self-hosted runners
  .github/workflows/build_playground_frontend.yml
Labels: build, Next Action: Author

#23140 [GitHub Actions] - Updates in Go Tests to runs-on Self-hosted runners
  .github/workflows/go_tests.yml
Labels: build, Next Action: Author

#23160 [GitHub Actions] - Updates in Java Tests to runs-on Self-hosted runners
  .github/workflows/java_tests.yml
Labels: build, Next Action: Author

#23145 [GitHub Actions] - Updates in Label PRs to runs-on Self-hosted runners
  .github/workflows/label_prs.yml
Labels: build, Next Action: Author

#24436 [CdapIO] CdapIO and SparkReceiverIO updates
  sdks/java/io/cdap/build.gradle
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/CdapIO.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/MappingUtils.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/Plugin.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/context/BatchContextImpl.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/context/FailureCollectorWrapper.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/CdapIOTest.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/PluginTest.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/context/FailureCollectorWrapperTest.java
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFn.java
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIO.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIOTest.java
Labels: java, io, Next Action: Reviewers

#24628 Revert "[GitHub Actions] - Updates in Java Tests to runs-on Self-hosted runners"
  .github/workflows/java_tests.yml
Labels: build

#24606 Disallow sliding windows with combiner fanout to prevent data loss
  sdks/python/apache_beam/transforms/combiners_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python, Next Action: Reviewers

#24626 Composite Action to activate SA in GitHub Actions Runners
  .github/actions/activate-service-account/action.yml
Labels: build, Next Action: Reviewers

#24564 [CdapIO] Remove 'examples' dependency from HadoopFormatIO
  sdks/java/io/hadoop-format/build.gradle
  sdks/java/io/hadoop-format/src/test/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIOSequenceFileTest.java
Labels: java, io, hadoop

#24195 Website update keywords table
  website/www/site/assets/scss/_table-wrapper.scss
  website/www/site/content/en/documentation/dsls/sql/calcite/data-types.md
  website/www/site/content/en/documentation/dsls/sql/calcite/lexical-structure.md
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
  website/www/site/content/en/documentation/dsls/sql/zetasql/conditional-expressions.md
  website/www/site/content/en/documentation/dsls/sql/zetasql/conversion-rules.md
  website/www/site/content/en/documentation/dsls/sql/zetasql/data-types.md
  website/www/site/content/en/documentation/dsls/sql/zetasql/lexical.md
  website/www/site/content/en/documentation/dsls/sql/zetasql/math-functions.md
  website/www/site/content/en/documentation/dsls/sql/zetasql/operators.md
  website/www/site/content/en/documentation/dsls/sql/zetasql/query-syntax.md
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/content/en/get-started/from-spark.md
  website/www/site/layouts/shortcodes/table.html
Labels: website

#24380 [Spark RDD runner] Remove obsolete unusable AggregatorsAccumulator / NamedAggregators
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkPipelineRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/TestSparkRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/aggregators/AggregatorsAccumulator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/aggregators/NamedAggregators.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/aggregators/NamedAggregatorsAccumulator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/aggregators/package-info.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/metrics/AggregatorMetric.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/metrics/AggregatorMetricSource.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/metrics/CompositeSource.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/metrics/sink/CsvSink.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/metrics/sink/GraphiteSink.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/ResumeFromCheckpointStreamingTest.java
Labels: runners, spark

#24632 Cherrypick #24606 to 2.44.0 release branch (disallow sliding windows in Python fanout combiner per key)
  sdks/python/apache_beam/transforms/combiners_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python, java, build, docker, io, runners, dataflow, gcp, Next Action: Reviewers

#24439 Release automation - Publish GitHub release notes
  .github/workflows/publish_github_release_notes.yml
Labels: build, Next Action: Author

#24358 Release Automation - Update Python Dependencies
  .github/workflows/update_python_dependencies.yml
Labels: build, Next Action: Reviewers

#24075 [Github Actions] - Choose RC Commit Workflow
  .github/workflows/choose_rc_commit.yml
  CI.md
Labels: build, Next Action: Author

#24639 Updating connector page for BigtableIO
  website/www/site/content/en/documentation/io/connectors.md
Labels: website

#24583 Suppress checker framework memory constraint warning
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#24631 Eliminate rawtypes from KafkaIO
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ConfluentSchemaRegistryDeserializerProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaCommitOffset.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaExactlyOnceSink.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaRecordCoder.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ProducerRecordCoder.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ConfluentSchemaRegistryDeserializerProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOExternalTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibilityTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOUtilsTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaRecordCoderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ProducerRecordCoderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, kafka, Next Action: Reviewers

#24366 Improve Integer conversion in BigQueryIO's Storage Write API method.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#24642 Remove 'Hidden' attribute from serviceAccount PipelineOption
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
Labels: runners, dataflow

#24454 Allow avro block size to be configurable in AvroIO.write
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroSink.java
Labels: java, Next Action: Reviewers

#24624 Eliminate rawtypes from GCP IO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/UpdateSchemaDestination.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/DicomIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubSubPayloadTranslation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/DetectNewPartitionsDoFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/DicomIOReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/util/TestTransactionAnswer.java
Labels: java, io, gcp, Next Action: Reviewers

#24594 [Website] Fix join beam page mobile layout
  website/www/site/assets/scss/_lists.scss
  website/www/site/assets/scss/_local.scss
  website/www/site/content/en/community/join-beam.md
Labels: website

#24590 [CdapIO] Complete examples for CDAP ServiceNow plugins
  examples/java/cdap/README.md
  examples/java/cdap/build.gradle
  examples/java/cdap/servicenow/build.gradle
  examples/java/cdap/servicenow/src/main/java/org/apache/beam/examples/complete/cdap/servicenow/CdapServiceNowToTxt.java
  examples/java/cdap/servicenow/src/main/java/org/apache/beam/examples/complete/cdap/servicenow/README.md
  examples/java/cdap/servicenow/src/main/java/org/apache/beam/examples/complete/cdap/servicenow/options/CdapServiceNowOptions.java
  examples/java/cdap/servicenow/src/main/java/org/apache/beam/examples/complete/cdap/servicenow/options/package-info.java
  examples/java/cdap/servicenow/src/main/java/org/apache/beam/examples/complete/cdap/servicenow/package-info.java
  examples/java/cdap/servicenow/src/main/java/org/apache/beam/examples/complete/cdap/servicenow/transforms/FormatInputTransform.java
  examples/java/cdap/servicenow/src/main/java/org/apache/beam/examples/complete/cdap/servicenow/transforms/package-info.java
  examples/java/cdap/servicenow/src/main/java/org/apache/beam/examples/complete/cdap/servicenow/utils/PluginConfigOptionsConverter.java
  examples/java/cdap/servicenow/src/main/java/org/apache/beam/examples/complete/cdap/servicenow/utils/package-info.java
  examples/java/cdap/src/main/java/org/apache/beam/examples/complete/cdap/options/BaseCdapOptions.java
  examples/java/cdap/src/main/java/org/apache/beam/examples/complete/cdap/options/package-info.java
  examples/java/cdap/src/main/java/org/apache/beam/examples/complete/cdap/package-info.java
  examples/java/cdap/src/main/java/org/apache/beam/examples/complete/cdap/utils/StructuredRecordUtils.java
  examples/java/cdap/src/main/java/org/apache/beam/examples/complete/cdap/utils/package-info.java
  settings.gradle.kts
Labels: java, build, examples, io, Next Action: Reviewers

#24497 [Go SDK] RunInference wrapper supporting Sklearn Model Handler
  CHANGES.md
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
  sdks/go/pkg/beam/core/runtime/xlangx/namespace.go
  sdks/go/pkg/beam/transforms/xlang/inference/inference.go
  sdks/go/pkg/beam/transforms/xlang/xlang.go
  sdks/go/test/integration/transforms/xlang/inference/inference.go
  sdks/go/test/integration/transforms/xlang/inference/inference_test.go
Labels: go, Next Action: Reviewers

#24650 Remove 'Hidden' attribute from serviceAccount PipelineOption (#24642)
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
Labels: runners, dataflow

#24425 [Playground] notebook url backend API
  playground/api/v1/api.proto
  playground/backend/cmd/server/controller_test.go
  playground/backend/internal/api/v1/api.pb.go
  playground/backend/internal/components/cache_component_test.go
  playground/backend/internal/db/dto/precompiled_object.go
  playground/backend/internal/db/entity/example.go
  playground/backend/internal/db/mapper/precompiled_object_mapper.go
  playground/backend/internal/db/mapper/precompiled_object_mapper_test.go
  playground/backend/internal/tests/test_data/test_data.go
  playground/frontend/playground_components/lib/src/api/v1/api.pb.dart
  playground/frontend/playground_components/lib/src/api/v1/api.pbjson.dart
Labels: build, Next Action: Reviewers

#24668 [#20287][Go SDK] Make base_sdk URN versioned on default docker container.
  sdks/go/pkg/beam/core/core.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/options/jobopts/options.go
  sdks/go/pkg/beam/options/jobopts/options_test.go
Labels: go, Next Action: Reviewers

#23361 Add hypothesis strategy to generate complex schemas, use it to test `schemas` module
  .gitignore
  sdks/python/apache_beam/typehints/row_type.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
  sdks/python/apache_beam/typehints/testing/__init__.py
  sdks/python/apache_beam/typehints/testing/strategies.py
  sdks/python/setup.py
Labels: python, build

#24608 Add Debezium IO to doc
  website/www/site/content/en/documentation/io/connectors.md
Labels: website

#24652 Ensure that we handle formatting errors during logging in portable Python jobs.
  sdks/python/apache_beam/runners/worker/log_handler.py
  sdks/python/apache_beam/runners/worker/log_handler_test.py
Labels: python

#24589 [CdapIO] Complete examples for CDAP Zendesk plugins
  examples/java/cdap/README.md
  examples/java/cdap/zendesk/build.gradle
  examples/java/cdap/zendesk/src/main/java/org/apache/beam/examples/complete/cdap/zendesk/CdapZendeskToTxt.java
  examples/java/cdap/zendesk/src/main/java/org/apache/beam/examples/complete/cdap/zendesk/README.md
  examples/java/cdap/zendesk/src/main/java/org/apache/beam/examples/complete/cdap/zendesk/options/CdapZendeskOptions.java
  examples/java/cdap/zendesk/src/main/java/org/apache/beam/examples/complete/cdap/zendesk/options/package-info.java
  examples/java/cdap/zendesk/src/main/java/org/apache/beam/examples/complete/cdap/zendesk/package-info.java
  examples/java/cdap/zendesk/src/main/java/org/apache/beam/examples/complete/cdap/zendesk/transforms/FormatInputTransform.java
  examples/java/cdap/zendesk/src/main/java/org/apache/beam/examples/complete/cdap/zendesk/transforms/package-info.java
  examples/java/cdap/zendesk/src/main/java/org/apache/beam/examples/complete/cdap/zendesk/utils/PluginConfigOptionsConverter.java
  examples/java/cdap/zendesk/src/main/java/org/apache/beam/examples/complete/cdap/zendesk/utils/package-info.java
  settings.gradle.kts
Labels: java, build, examples, Next Action: Reviewers

#23491 Add MultimapState API
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/InMemoryStateInternals.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/StateTag.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/StateTags.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/CopyOnAccessInMemoryStateInternals.java
  runners/flink/flink_runner.gradle
  runners/flink/job-server/flink_job_server.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/state/FlinkBroadcastStateInternals.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/state/FlinkStateInternals.java
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternals.java
  runners/jet/build.gradle
  runners/portability/java/build.gradle
  runners/samza/build.gradle
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaStoreStateInternals.java
  runners/spark/job-server/spark_job_server.gradle
  runners/spark/spark_runner.gradle
  runners/spark/src/main/java/org/apache/beam/runners/spark/stateful/SparkStateInternals.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/MultimapState.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/StateBinder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/StateSpec.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/StateSpecs.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesMultimapState.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/ParDo.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
Labels: java, model, runners, spark, dataflow, direct, core, flink, jet, portability, samza

#24681 Sickbay test_metrics_fnapi_it
  sdks/python/apache_beam/runners/dataflow/dataflow_exercise_metrics_pipeline_test.py
Labels: python

#24653 Add additional logging for temp file deletion
  sdks/python/apache_beam/io/filebasedsink.py
Labels: python, io, Next Action: Reviewers

#24543 [Spark Dataset runner] Reduce binary size of Java serialized task related for ParDo translation
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnMapPartitionsFactory.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnPartitionIteratorFactory.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
Labels: runners, spark

#24634 Fix BigQueryIO.Write.Method.STORAGE_WRITE_API missing project id
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableDestination.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp, Next Action: Reviewers

#24230 [Github Actions] - Start Snapshot Build
  .github/workflows/start_snapshot_build.yml
  CI.md
Labels: build, Next Action: Reviewers

#24696 [Playground] infrastructure ci/cd unify
  examples/java/src/main/java/org/apache/beam/examples/KafkaWordCountAvro.java
  examples/java/src/main/java/org/apache/beam/examples/KafkaWordCountJson.java
  learning/katas/python/Examples/Word Count/Word Count/task.py
  playground/infrastructure/cd_helper.py
  playground/infrastructure/ci_cd.py
  playground/infrastructure/config.py
  playground/infrastructure/conftest.py
  playground/infrastructure/datastore_client.py
  playground/infrastructure/grpc_client.py
  playground/infrastructure/helper.py
  playground/infrastructure/models.py
  playground/infrastructure/repository.py
  playground/infrastructure/requirements.txt
  playground/infrastructure/test_cd_helper.py
  playground/infrastructure/test_ci_cd.py
  playground/infrastructure/test_ci_helper.py
  playground/infrastructure/test_datastore_client.py
  playground/infrastructure/test_helper.py
  playground/infrastructure/test_repository.py
  playground/infrastructure/test_utils.py
  playground/infrastructure/test_verify.py
  playground/infrastructure/verify.py
Labels: python, java, examples, learning, Next Action: Reviewers

#23148 [GitHub Actions] - Updates in PR bot PR Updates to runs-on Self-hosted runners
  .github/workflows/pr-bot-pr-updates.yml
Labels: build, Next Action: Author

#23150 [GitHub Actions] - Updates in PR Bot PRs Needing Attention to runs-on Self-hosted runners
  .github/workflows/pr-bot-prs-needing-attention.yml
Labels: build, Next Action: Author

#23153 [GitHub Actions] - Updates in Report Generator to runs-on Self-hosted runners
  .github/workflows/reportGenerator.yml
Labels: build, Next Action: Author

#23154 [GitHub Actions] - Updates in Self-assign to runs-on Self-hosted runners
  .github/workflows/self-assign.yml
Labels: build, Next Action: Author

#23156 [GitHub Actions] - Updates in Triaged on Assign to runs-on Self-hosted runners
  .github/workflows/triaged-on-assign.yml
Labels: build, Next Action: Author

#23164 [GitHub Actions] - Updates in Typescript Tests to runs-on Self-hosted runners
  .github/workflows/typescript_tests.yml
Labels: build, Next Action: Author

#23155 [GitHub Actions] - Updates in Stale to runs-on Self-hosted runners
  .github/workflows/stale.yml
Labels: build, Next Action: Author

#23146 [GitHub Actions] - Updates in PR Bot New PRs to runs-on Self-hosted runners
  .github/workflows/pr-bot-new-prs.yml
Labels: build, Next Action: Author

#24698 Ensure SDK suffix to avoid mis-labels of Go.
  .github/ISSUE_TEMPLATE/failing_test.yml
  .github/issue-rules.yml
Labels: build, Next Action: Reviewers

#24290 Implemented SchemaTransforms for SingleStoreIO
  .test-infra/jenkins/job_PerformanceTests_SingleStoreIO.groovy
  .test-infra/jenkins/job_PostCommit_Java_SingleStoreIO_IT.groovy
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/SingleStoreDefaultRowMapper.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/SingleStoreDefaultUserDataMapper.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/SingleStoreIO.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/SingleStoreUtil.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/SingleStoreSchemaTransformReadConfiguration.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/SingleStoreSchemaTransformReadProvider.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/SingleStoreSchemaTransformWriteConfiguration.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/SingleStoreSchemaTransformWriteProvider.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/package-info.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreDefaultRowMapperTest.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreDefaultUserDataMapperTest.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreIODefaultMapperIT.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreIOPerformanceIT.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreIOSchemaTransformIT.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreUtilTest.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/TestHelper.java
Labels: java, infra, io, Next Action: Reviewers

#24536 Ensure WRITE_TRUNCATE BigQuery loads to the same table are processed together.
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
Labels: python, io, gcp, Next Action: Reviewers

#24669 [24664] Fix ProcessBundleBenchmarkTest.testStateWithCaching
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/ProcessBundleBenchmark.java
Labels: java, Next Action: Reviewers

#24732 flaky -> flake in autolabeler
  .github/issue-rules.yml
Labels: build

#23988 Support writing to BQ via Storage Write API with SchemaTransforms
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
Labels: java, io, gcp

#24719 Add some alphabet companies that make heavy use of Beam.
  website/www/site/content/en/case-studies/calico.md
  website/www/site/content/en/case-studies/deepmind.md
  website/www/site/content/en/case-studies/nest.md
  website/www/site/content/en/case-studies/verily.md
  website/www/site/content/en/case-studies/waymo.md
  website/www/site/static/images/logos/powered-by/calico.png
  website/www/site/static/images/logos/powered-by/deepmind.png
  website/www/site/static/images/logos/powered-by/nest.png
  website/www/site/static/images/logos/powered-by/verily.png
  website/www/site/static/images/logos/powered-by/waymo.png
Labels: website

#24699 [BigQueryIO] Pick provided schema if existing table has null schema
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/DynamicDestinationsHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/UpdateSchemaDestination.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp, Next Action: Reviewers

#24733 Fix link to videos-and-podcasts page.
  website/www/site/content/en/blog/gsoc-19.md
  website/www/site/content/en/get-started/from-spark.md
  website/www/site/content/en/get-started/mobile-gaming-example.md
  website/www/site/content/en/get-started/quickstart-go.md
  website/www/site/content/en/get-started/quickstart-java.md
  website/www/site/content/en/get-started/quickstart-py.md
  website/www/site/content/en/get-started/quickstart/java.md
  website/www/site/content/en/get-started/resources/videos-and-podcasts.md
  website/www/site/content/en/get-started/try-apache-beam.md
  website/www/site/content/en/get-started/wordcount-example.md
Labels: website

#24629 DebeziumIO schema transform
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
  sdks/java/io/debezium/build.gradle
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/Connectors.java
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/DebeziumIO.java
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformProvider.java
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/KafkaConnectUtils.java
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/KafkaSourceConsumerFn.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumIOMySqlConnectorIT.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumIOPostgresSqlConnectorIT.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformTest.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/KafkaSourceConsumerFnTest.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/OffsetTrackerTest.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#24738 jamm on -javaagent instead of classpath
  sdks/java/harness/jmh/build.gradle
Labels: java

#24736 Fix some typos
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/SingleStoreSchemaTransformReadConfiguration.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/SingleStoreSchemaTransformWriteConfiguration.java
Labels: java, io, Next Action: Reviewers

#24712 Adding Setup python to Dataflow job in Java Tests
  .github/workflows/java_tests.yml
Labels: build, Next Action: Reviewers

#24718 Add a couple of well-known Google properties that use Beam extensively.
  website/www/site/content/en/case-studies/android.md
  website/www/site/content/en/case-studies/chrome.md
  website/www/site/content/en/case-studies/fitbit.md
  website/www/site/content/en/case-studies/googleplay.md
  website/www/site/content/en/case-studies/youtube.md
  website/www/site/static/images/logos/powered-by/android.png
  website/www/site/static/images/logos/powered-by/chrome.png
  website/www/site/static/images/logos/powered-by/fitbit.png
  website/www/site/static/images/logos/powered-by/googleplay.png
  website/www/site/static/images/logos/powered-by/youtube.png
Labels: website

#24756 Support SqlTypes Date in AvroUtils
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/AvroUtilsTest.java
Labels: java, Next Action: Reviewers

#24753 Fix SingleStoreIO performance test job
  .test-infra/jenkins/job_PerformanceTests_SingleStoreIO.groovy
Labels: infra

#24746 Fix a small wrong url link in notebook
  examples/notebooks/tour-of-beam/reading-and-writing-data.ipynb
Labels: examples

#24758 Exclude MultimapState related tests in Dataflow legacy worker validates runner tests
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#24744 [Website] delete 404 links
  website/www/site/content/en/documentation/io/built-in/cdap.md
  website/www/site/content/en/documentation/io/built-in/sparkreceiver.md
  website/www/site/content/en/documentation/io/connectors.md
Labels: website

#24635 [Website] update links with 404 status code
  website/www/site/content/en/blog/review-input-streaming-connectors.md
  website/www/site/content/en/contribute/postcommits-policies.md
  website/www/site/content/en/contribute/precommit-triage-guide.md
  website/www/site/content/en/contribute/runner-guide.md
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#24418 [Release Tasks Migration] - Git Tag Workflow
  .github/workflows/git_tag_released_version.yml
  CI.md
Labels: build, Next Action: Reviewers

#24760 Fix POM of beam-sdks-java-core
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#23931 Change Point Analysis
  .github/workflows/run_perf_alert_tool.yml
  sdks/python/apache_beam/testing/analyzers/README.md
  sdks/python/apache_beam/testing/analyzers/__init__.py
  sdks/python/apache_beam/testing/analyzers/analyze_metric_data.ipynb
  sdks/python/apache_beam/testing/analyzers/constants.py
  sdks/python/apache_beam/testing/analyzers/github_issues_utils.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_test.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_utils.py
  sdks/python/apache_beam/testing/analyzers/tests_config.yaml
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
  sdks/python/scripts/generate_pydoc.sh
Labels: python, build, Next Action: Reviewers

#24762 change examples to licensed ones with mentions of autors and licenses
  examples/notebooks/beam-ml/run_inference_multi_model.ipynb
Labels: examples

#24443 Implement PubsubWriteSchemaTransformProvider
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubRowToMessage.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformWriteConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubTestClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubRowToMessageTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProviderIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/resources/org/apache/beam/sdk/io/gcp/pubsub/all_data_types_flat_schema.proto
  sdks/java/io/google-cloud-platform/src/test/resources/org/apache/beam/sdk/io/gcp/pubsub/avro_all_data_types_flat_schema.json
Labels: java, io, gcp, Next Action: Reviewers
