Repository apache/beam, pull requests merged in 2022-04, with the labels that each got.

#17237 [BEAM-13951] Update release guide with pointers on updating mass_comment.py
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#17230 [BEAM-13741] Remove forced calcite dependency from BaseBeamTable
  sdks/java/extensions/sql/hcatalog/build.gradle
  sdks/java/extensions/sql/hcatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/hcatalog/HCatalogTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/schema/BeamPCollectionTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/BaseBeamTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/parquet/ParquetTable.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamEnumerableConverterTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamSideInputLookupJoinRelTest.java
Labels: java, extensions, sql

#17147 [BEAM-14153] Reshuffled Row Coder PCollection used as Side Input cause encoder issues.
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/exec/translate_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/core/runtime/graphx/v1/v1.pb.go
  sdks/go/pkg/beam/core/runtime/graphx/v1/v1.proto
  sdks/go/test/regression/lperror.go
  sdks/go/test/regression/lperror_test.go
Labels: go, Next Action: Reviewers

#17235 [BEAM-14148] Roll PyExpansionService forward, skipping flaky test for now.
  sdks/java/extensions/python/build.gradle
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/ExternalPythonTransform.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonService.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/package-info.java
  sdks/java/extensions/python/src/main/resources/org/apache/beam/sdk/extensions/python/bootstrap_beam_venv.py
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/ExternalPythonTransformTest.java
  settings.gradle.kts
Labels: java, build, extensions

#16841 Revert "Revert "Merge pull request #15441 from [BEAM-8823] Make FnApi…
  sdks/python/apache_beam/examples/matrix_power.py
  sdks/python/apache_beam/examples/matrix_power_test.py
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/visualization_tools.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/watermark_manager.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/transforms/userstate_test.py
  sdks/python/apache_beam/transforms/util.py
Labels: python, examples, io

#17210 [BEAM-14192] Update legacy container version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#17224 [rollback][release-2.38.0][BEAM-14116] Rollback of #17004: Chunk commit requests dynamically
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServer.java
Labels: runners, dataflow

#17238 [BEAM-14225] load balance jenkins jobs
  .test-infra/jenkins/CommonJobProperties.groovy
  .test-infra/jenkins/CronJobBuilder.groovy
  .test-infra/jenkins/PostcommitJobBuilder.groovy
  .test-infra/jenkins/job_00_seed.groovy
  .test-infra/jenkins/job_Dependency_Check.groovy
  .test-infra/jenkins/job_LoadTests_FnApiRunner_Python.groovy
  .test-infra/jenkins/job_Metrics_Report.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Java.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_HadoopFormat.groovy
  .test-infra/jenkins/job_PerformanceTests_InfluxDBIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_JDBC.groovy
  .test-infra/jenkins/job_PerformanceTests_KafkaIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_MongoDBIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_SQLIO_Java.groovy
  .test-infra/jenkins/job_PostCommit_Python_MongoDBIO_Load_Test.groovy
  .test-infra/jenkins/job_PostRelease_NightlySnapshot.groovy
  .test-infra/jenkins/job_Publish_Docker_Snapshots.groovy
  .test-infra/jenkins/job_Release_NightlySnapshot.groovy
  .test-infra/jenkins/job_Release_Python_NightlySnapshot.groovy
Labels: infra

#17241 [cherry-pick][release-2.38.0][BEAM-14179] Fix possibly null value
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
Labels: java, io, gcp

#17211 Fix mishandling of API with BQIO
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: python, io, gcp

#17232 [BEAM-14221] Update documentation with Flink on Dataproc features
  CHANGES.md
  sdks/python/apache_beam/runners/interactive/README.md
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/README.md
Labels: python

#17133 [BEAM-14133] Fix potential NPE in BigQueryServicesImpl.getErrorInfo
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
Labels: java, io, gcp

#17255 [BEAM-14231] Revert "[BEAM-14190] Python sends dataflow schema field"
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/coders/row_coder_test.py
Labels: python

#17101 [BEAM-14143] Simplifies the ExternalPythonTransform API
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/ExternalPythonTransform.java
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/ExternalPythonTransformTest.java
Labels: java, extensions

#17245 Update python container version
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#17254 Add self-descriptive message for expected errors.
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python

#16923 [BEAM-10529] nullable xlang coder
  model/fn-execution/src/main/resources/org/apache/beam/model/fnexecution/v1/standard_coders.yaml
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/CoderTranslators.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ModelCoderRegistrar.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ModelCoders.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/CoderTranslationTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/wire/CommonCoderTest.java
  sdks/go/pkg/beam/core/graph/coder/coder.go
  sdks/go/pkg/beam/core/graph/coder/coder_test.go
  sdks/go/pkg/beam/core/graph/coder/map.go
  sdks/go/pkg/beam/core/graph/coder/map_test.go
  sdks/go/pkg/beam/core/graph/coder/nil.go
  sdks/go/pkg/beam/core/graph/coder/nil_test.go
  sdks/go/pkg/beam/core/graph/coder/row_decoder.go
  sdks/go/pkg/beam/core/graph/coder/row_encoder.go
  sdks/go/pkg/beam/core/runtime/exec/coder.go
  sdks/go/pkg/beam/core/runtime/exec/coder_test.go
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/core/runtime/graphx/coder_test.go
  sdks/go/pkg/beam/core/runtime/graphx/dataflow.go
  sdks/go/pkg/beam/core/typex/fulltype.go
  sdks/go/pkg/beam/core/typex/special.go
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/standard_coders_test.py
  sdks/python/apache_beam/coders/typecoders.py
  sdks/python/apache_beam/coders/typecoders_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, go, model, runners, core, fn-execution

#17266 Fix go fmt break in core/typex/special.go
  sdks/go/pkg/beam/core/typex/special.go
Labels: go

#17233 [BEAM-8970] Add docs to run wordcount example on portable Spark Runner
  website/www/site/content/en/documentation/runners/spark.md
Labels: website

#17256 [BEAM-5436] Add doc page on Go cross compilation.
  website/www/site/content/en/documentation/sdks/go-cross-compilation.md
  website/www/site/content/en/documentation/sdks/go.md
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: website

#17263 [BEAM-12815] Fix flink postcommits
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_Flink.groovy
  sdks/go/test/integration/integration.go
Labels: go, infra, Next Action: Reviewers

#17191 [BEAM-14157] GrpcWindmillServer: Use stream specific boolean to do client closed check
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServerTest.java
Labels: runners, dataflow

#17229 [BEAM-10582] Allow (and test) pyarrow 7.x
  sdks/python/setup.py
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python

#17240 [BEAM-13519] Solve race issues when the server responds with an error before the GrpcStateClient finishes being constructed.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/BeamFnStateGrpcClientCache.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/BeamFnStateGrpcClientCacheTest.java
Labels: java

#17243 [BEAM-13015] Disable retries for fnapi grpc channels which otherwise defaults on.
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/channel/ManagedChannelFactory.java
Labels: java

#17284 [BEAM-9649] Add region option to Mongo Dataflow test.
  .test-infra/jenkins/job_PostCommit_Python_MongoDBIO_Load_Test.groovy
Labels: infra

#17283 [BEAM-14258] Fix metrics report dependency issue
  .test-infra/jenkins/metrics_report/requirements.txt
Labels: infra

#17214 [BEAM-13952] Sickbay testAfterProcessingTimeContinuationTriggerUsingState
  runners/flink/job-server/flink_job_server.gradle
Labels: runners, flink

#17275 BEAM-14235 parquetio module does not parse PEP-440 compliant Pyarrow version
  CHANGES.md
  sdks/python/apache_beam/io/parquetio.py
Labels: python, io

#17278 [BEAM-14250] Fix coder registration for types defined in __main__.
  sdks/python/apache_beam/coders/typecoders.py
Labels: python

#17287 [Website] Contribution guide page indent bug fix
  website/www/site/content/en/contribute/_index.md
Labels: website

#17234 [BEAM-14222] Fix the error of SpannerReadIT
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadIT.java
Labels: java, io, gcp

#17048 [BEAM-10976] Document go sdk bundle finalization
  sdks/go/examples/snippets/04transforms.go
  website/www/site/content/en/documentation/programming-guide.md
Labels: go, website, examples, Next Action: Reviewers

#16957 [BEAM-13829] Expose status API from Go SDK Harness
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/init/init.go
  sdks/go/pkg/beam/core/runtime/harness/worker_status.go
  sdks/go/pkg/beam/core/runtime/harness/worker_status_test.go
Labels: go

#17285 [BEAM-14259] Clean up staticcheck warnings in the exec package
  sdks/go/pkg/beam/core/runtime/exec/coder.go
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/dynsplit_test.go
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/fullvalue_test.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/pardo_test.go
Labels: go, Next Action: Reviewers

#17295 [cherry-pick][release-2.38.0][BEAM-13519] Solve race issues when the server responds with an error before the GrpcStateClient finishes being constructed. (#17240)
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/BeamFnStateGrpcClientCache.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/BeamFnStateGrpcClientCacheTest.java
Labels: java

#17304 fixes golint and deprecated issues in recent Go SDK import
  sdks/go/pkg/beam/core/graph/coder/coder.go
  sdks/go/pkg/beam/core/runtime/harness/worker_status.go
  sdks/go/pkg/beam/core/runtime/harness/worker_status_test.go
  sdks/go/pkg/beam/core/typex/special.go
Labels: go

#17303 [BEAM-14262] Update plugins for Dockerized Jenkins.
  .test-infra/dockerized-jenkins/plugins.txt
Labels: infra

#17302 [BEAM-14266] Replace deprecated ptypes package uses
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/harness/logging.go
Labels: go, Next Action: Reviewers

#17257 [BEAM-11936] Fix rawtypes warnings in SnowflakeIO
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakeIO.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/crosslanguage/SnowflakeTransformRegistrar.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/crosslanguage/WriteBuilder.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/data/SnowflakeTableSchema.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeBatchServiceConfig.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeBatchServiceImpl.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeServices.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeServicesImpl.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeStreamingServiceConfig.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeStreamingServiceImpl.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/FakeSnowflakeBatchServiceImpl.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/FakeSnowflakeServicesImpl.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/FakeSnowflakeStreamingServiceImpl.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/TestUtils.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/data/SnowflakeDataTypeValidTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/read/SnowflakeIOReadTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/write/CreateDispositionTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/write/QueryDispositionLocationTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/write/SchemaDispositionTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/write/SnowflakeIOWriteTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/write/StreamingWriteTest.java
Labels: java, io

#17262 [BEAM-14244] Use the supplied output timestamp for processing time timers rather than the input watermark
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
Labels: runners, core, flink

#17281 [BEAM-13015] Lookup the container for the step once when registering instead of on each execution.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PTransformFunctionRegistry.java
Labels: java

#17183 [BEAM-14175] Log read loop abort at debug rather than error
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkItemStatusClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/common/worker/ReadOperation.java
Labels: runners, dataflow

#17308 [BEAM-11745] Fix author list rendering
  website/www/site/layouts/blog/single.html
Labels: website

#17151 [BEAM-14144] Record JFR profiles when GC thrashing is detected
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/status/JfrzServlet.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/status/WorkerStatusPages.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/JfrInterop.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/MemoryMonitor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/MemoryMonitorTest.java
Labels: runners, dataflow

#17113 [BEAM-14104] Support shard aware aggregation in Kinesis writer.
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/ClientPool.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/ObjectPool.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/RetryConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisPartitioner.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/RecordsAggregator.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/common/ObjectPoolTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOWriteTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/PutRecordsHelpers.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/testing/KinesisIOIT.java
Labels: java, io, aws

#17265 [BEAM-11104] Add ProcessContinuation type to Go SDK
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/funcx/fn_test.go
  sdks/go/pkg/beam/core/sdf/continuation.go
  sdks/go/pkg/beam/core/sdf/continuation_test.go
Labels: go, Next Action: Reviewers

#17250 [BEAM-13901] Add unit tests for graphx/cogbk.go
  sdks/go/pkg/beam/core/runtime/graphx/cogbk_test.go
Labels: go, Next Action: Reviewers

#17136 [BEAM-13991] [Website] update contribute to beam page
  website/www/site/assets/scss/_case_study.scss
  website/www/site/assets/scss/_contribute.sass
  website/www/site/assets/scss/_traits.scss
  website/www/site/assets/scss/main.scss
  website/www/site/content/en/contribute/_index.md
  website/www/site/content/en/contribute/get-started-contributing.md
  website/www/site/layouts/partials/section-menu/en/contribute.html
  website/www/site/static/images/talat_uyarer_photo.png
Labels: website

#16974 [BEAM-14009] Sets 'sdk_harness_container_images' property for all Dataflow jobs - Python SDK
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python

#16981 [BEAM-14009] Sets 'sdk_harness_container_images' property for all Dataflow jobs - Java SDK
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
Labels: runners, dataflow

#17301 [BEAM-14259, BEAM-14266] Remove unused function, replace use of ptypes package in exec/translate.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
Labels: go, Next Action: Reviewers

#17311 [BEAM-14274] Fix staticcheck warnings in pipelinex
  sdks/go/pkg/beam/core/runtime/pipelinex/replace.go
  sdks/go/pkg/beam/core/runtime/pipelinex/util.go
  sdks/go/pkg/beam/core/runtime/pipelinex/util_test.go
Labels: go, Next Action: Reviewers

#17161 [BEAM-13857] Switched Go IT script to using Go flags for expansion services
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/test/build.gradle
  sdks/go/test/integration/expansions.go
  sdks/go/test/integration/flags.go
  sdks/go/test/integration/io/xlang/debezium/debezium_test.go
  sdks/go/test/integration/io/xlang/jdbc/jdbc_test.go
  sdks/go/test/integration/io/xlang/kafka/kafka_test.go
  sdks/go/test/integration/xlang/xlang_test.go
Labels: go, build

#17268 [BEAM-10529] enable nullable for kafkaIO xlang
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
Labels: java, io, kafka

#17313 Update python beam-master container image.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#17279 [BEAM-14236] Parquet IO support for list to conform with Apache Parqu…
  sdks/python/apache_beam/io/parquetio.py
  sdks/python/apache_beam/io/parquetio_test.py
Labels: python, io

#17106 [BEAM-13767] Remove eclipse plugin as it generates a lot of unused tasks
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#17273 [BEAM-11714] Spotbugs print errors to Jenkins UI
  .test-infra/jenkins/job_PreCommit_Java.groovy
  .test-infra/jenkins/job_PreCommit_SQL.groovy
  .test-infra/jenkins/job_PreCommit_SQL_Java11.groovy
  .test-infra/jenkins/job_PreCommit_SQL_Java17.groovy
Labels: infra

#17276 Nit: correct description for precommit cron jobs.
  .test-infra/jenkins/PrecommitJobBuilder.groovy
Labels: infra

#17314 [BEAM-10708] Updated beam_sql error message
  sdks/python/apache_beam/runners/interactive/sql/beam_sql_magics.py
  sdks/python/apache_beam/runners/interactive/sql/utils.py
  sdks/python/apache_beam/runners/interactive/sql/utils_test.py
Labels: python

#17322 [BEAM-14281] add as_deterministic_coder to nullable coder
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test.py
Labels: python

#17272 Cleanup docs on Shared.
  sdks/python/apache_beam/utils/shared.py
Labels: python

#17129 Improvements to Beam/Spark quickstart.
  website/www/site/content/en/get-started/from-spark.md
Labels: website

#17325 [BEAM-14263] Disable BigQueryIOStorageWriteIT for Runner v2 test suite
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#17329 [BEAM-14282] Re-raise exceptions swallowed in several Python I/O connectors
  sdks/python/apache_beam/io/gcp/datastore/v1new/datastoreio.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/datastoreio_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
Labels: python, io, gcp

#16928 [BEAM-11971] Re add reverted timer consistency PR
  runners/core-java/src/main/java/org/apache/beam/runners/core/TimerInternals.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/DirectTimerInternals.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/ExecutorServiceParallelExecutor.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/QuiescenceDriver.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/StatefulParDoEvaluatorFactory.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/TestStreamEvaluatorFactory.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/WatermarkManager.java
  runners/local-java/src/main/java/org/apache/beam/runners/local/ExecutionDriver.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, runners, direct, core, local

#17332 [cherry-pick][release-2.38.0][BEAM-14172] Update tox.ini for pydocs (#17176)
  sdks/python/tox.ini
Labels: python

#17324 [BEAM-13898] Add tests to the pubsubx package.
  sdks/go/pkg/beam/util/pubsubx/pubsub.go
  sdks/go/pkg/beam/util/pubsubx/pubsub_test.go
Labels: go, Next Action: Reviewers

#17336 [BEAM-14285] Clean up Staticcheck Warnings in io packages
  sdks/go/pkg/beam/io/avroio/avroio_test.go
  sdks/go/pkg/beam/io/databaseio/util_test.go
  sdks/go/pkg/beam/io/filesystem/util_test.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange.go
  sdks/go/pkg/beam/io/synthetic/source.go
  sdks/go/pkg/beam/io/synthetic/step.go
  sdks/go/pkg/beam/io/textio/textio_test.go
Labels: go, io, Next Action: Reviewers

#17201 [BEAM-14187] Fix concurrency issue in IsmReaderImpl
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/IsmReaderImpl.java
Labels: runners, dataflow

#17326 [BEAM-13151] Support multiple layers of AutoValue nesting
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AutoValueUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/AutoValueSchemaTest.java
Labels: java

#17339 [BEAM-14288] Skip flaking test `test_pformat_namedtuple_with_unnamed_fields`
  sdks/python/apache_beam/runners/interactive/sql/utils_test.py
Labels: python

#17216 Simplify specifying additional dependencies in Go SDK in XLang IOs
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/download.go
  sdks/go/pkg/beam/core/runtime/xlangx/registry.go
  sdks/go/pkg/beam/io/xlang/jdbcio/jdbc.go
  sdks/go/test/integration/io/xlang/jdbc/jdbc.go
  sdks/go/test/integration/io/xlang/jdbc/jdbc_test.go
Labels: go, io

#17340 [BEAM-14240] Clean staticcheck warnings in runner packages
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/messages.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/translate.go
  sdks/go/pkg/beam/runners/session/session.go
  sdks/go/pkg/beam/runners/vet/testpipeline/staticcheck.conf
Labels: go, runners, dataflow, Next Action: Reviewers

#17223 [BEAM-14215] Improve argument validation in SnowflakeIO
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakeIO.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/DataSourceConfigurationTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/read/SnowflakeIOReadTest.java
Labels: java, io

#17248 [BEAM-14233] Merge requirements from expanded response for Java Exter…
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/External.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ExternalTranslation.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/ExternalTranslationTest.java
Labels: runners, core

#17312 [BEAM-14013] Add PreCommit Kotlin examples Jenkins Job
  .test-infra/jenkins/job_PreCommit_Kotlin_Examples.groovy
Labels: infra

#17316 [DO NOT MERGE] Seed job for BEAM-14013 Add PreCommit Kotlin examples Jenkins Job
  .test-infra/jenkins/job_PreCommit_Kotlin_Examples.groovy
Labels: infra

#17343 [BEAM-13538][BEAM-14296] Workaround to fix go-licenses crash.
  release/go-licenses/Dockerfile
Labels: build

#17345 [cherry-pick][release-2.38.0][BEAM-13538][BEAM-14296] Workaround to fix go-licenses crash.
  release/go-licenses/Dockerfile
Labels: build

#17350 Fix test ordering issue
  sdks/go/pkg/beam/runners/dataflow/dataflow_test.go
Labels: go, runners, dataflow

#17330 [cherry-pick][release-2.38.0][BEAM-14282] Re-raise exceptions swallowed in several Python I/O connectors
  sdks/python/apache_beam/io/gcp/datastore/v1new/datastoreio.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/datastoreio_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
Labels: python, io, gcp

#17342 [BEAM-14219] Run cleanup script to remove stale prebuilt SDK containe…
  .test-infra/jenkins/job_CleanUpPrebuiltSDKImages.groovy
  .test-infra/tools/build.gradle
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: infra

#17352 [BEAM-14116] Rollback "Chunk commit requests dynamically (#17004)"
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServer.java
Labels: runners, dataflow

#17249 [BEAM-14232] Only resolve artifacts in expanded environments for Java External Transform
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/External.java
Labels: runners, core

#16970 [BEAM-13982] A base class for run inference
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python

#17349 [BEAM-14299] Do not pass null as default value to MoreObjects.firstNonNull
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#17321 [BEAM-13864] Add remaining Dataflow test suites for Python 3.9.
  CHANGES.md
  build.gradle.kts
  sdks/python/test-suites/gradle.properties
Labels: python, build

#17361 Fix a couple style issues
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/download.go
  sdks/go/pkg/beam/core/runtime/xlangx/registry.go
Labels: go

#17337 [BEAM-14287] Clean up staticcheck warnings in graph/coder
  sdks/go/pkg/beam/core/graph/coder/map.go
  sdks/go/pkg/beam/core/graph/coder/map_test.go
  sdks/go/pkg/beam/core/graph/coder/registry_test.go
  sdks/go/pkg/beam/core/graph/coder/row_test.go
Labels: go, Next Action: Reviewers

#17070 Handle changing schemas in Storage API sink
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTableDestinations.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTableHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/SplittingIterable.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiConvertMessages.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinations.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsBeamRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsTableRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritePayload.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableSchemaCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TwoLevelMessageConverterCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeJobService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp

#17338 Improvements to dataflow job service for non-Python jobs.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
Labels: python

#15549 [BEAM-11997] Changed RedisIO implementation to SDF
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Latest.java
  sdks/java/io/redis/src/main/java/org/apache/beam/sdk/io/redis/RedisCursor.java
  sdks/java/io/redis/src/main/java/org/apache/beam/sdk/io/redis/RedisIO.java
  sdks/java/io/redis/src/test/java/org/apache/beam/sdk/io/redis/RedisIOTest.java
Labels: java, io, redis

#17362 [BEAM-13739] Remove deprecated shallow clone funcs
  CHANGES.md
  sdks/go/pkg/beam/core/runtime/pipelinex/clone.go
Labels: go, Next Action: Reviewers

#17334 [BEAM-11104] Pipe Continuation to DataSource level
  sdks/go/pkg/beam/core/graph/edge.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fn_arity.go
  sdks/go/pkg/beam/core/runtime/exec/fn_arity.tmpl
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/fullvalue.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/pkg/beam/core/util/reflectx/calls.go
  sdks/go/pkg/beam/core/util/reflectx/calls.tmpl
Labels: go, Next Action: Reviewers

#17267 [BEAM-11105] Basic Watermark Estimation (Wall Clock Observing)
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/genx/genx.go
  sdks/go/pkg/beam/core/runtime/genx/genx_test.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/sdf/sdf.go
  sdks/go/pkg/beam/core/sdf/watermark_estimator.go
Labels: go, Next Action: Reviewers

#16931 Upgrade to Gradle 7.4
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle/wrapper/gradle-wrapper.properties
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, build

#17367 Respect output coder for TextIO.
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/io/textio_test.py
Labels: python, io

#17200 [BEAM-12164]: fix the autoscaling backlog estimation for Spanner Change Streams Connector
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/ReadChangeStreamPartitionDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/ThroughputEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/TimestampRangeTracker.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamTransactionBoundariesIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/ThroughputEstimatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/TimestampRangeTrackerTest.java
Labels: java, io, runners, dataflow, gcp

#17366 [BEAM-17035] Call python3 directly when it is available.
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonService.java
Labels: java, extensions

#17375 [BEAM-8691] Declare newer google-cloud-bigtable explicitly
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/sql/build.gradle
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, build, io, extensions, sql, gcp

#17333 [BEAM-14283] BigQueryServicesImpl: reduce number of threads spawned by BoundedExecutorService
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#17379 [BEAM-13204] Fix website bug where code tabs do not appear if the default language is not available
  website/www/site/assets/js/language-switch-v2.js
Labels: website

#17371 [BEAM-14307] Fix Slow Side input pattern bug in sample
  examples/java/src/main/java/org/apache/beam/examples/snippets/Snippets.java
Labels: java, examples

#16909 [BEAM-14316] Introducing KafkaIO.Read implementation compatibility testing
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibility.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibilityTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
Labels: java, io, kafka

#17373 [BEAM-14290] Address staticcheck warnings in the reflectx package
  sdks/go/pkg/beam/core/util/reflectx/call.go
  sdks/go/pkg/beam/core/util/reflectx/call_test.go
  sdks/go/pkg/beam/core/util/reflectx/calls.go
  sdks/go/pkg/beam/core/util/reflectx/calls.tmpl
  sdks/go/pkg/beam/core/util/reflectx/types.go
  sdks/go/pkg/beam/core/util/reflectx/types_test.go
Labels: go, Next Action: Reviewers

#17356 [BEAM-14302] Simplify bools in fn.go, genx_test.go
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/runtime/genx/genx_test.go
Labels: go, Next Action: Reviewers

#17280 [BEAM-14251] add output_coder_override to ExpansionRequest
  model/job-management/src/main/proto/org/apache/beam/model/job_management/v1/beam_expansion_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/External.java
  sdks/python/apache_beam/runners/portability/expansion_service.py
  sdks/python/apache_beam/runners/portability/expansion_service_test.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_test.py
Labels: python, model, runners, core

#17382 [BEAM-12356] Close DatasetService leak as local variables
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQueryHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQuerySourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java
Labels: java, io, gcp

#17377 [BEAM-14305] Add call to RunInference in API
  sdks/python/apache_beam/ml/inference/api.py
Labels: python

#17130 Populate actual dataflow job id to bigquery write trace id
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOMetadata.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#17401 [BEAM-14326] mark static thread as a daemon thread
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableSchemaCache.java
Labels: java, io, gcp

#17363 [BEAM-13866] Add miscellaneous exec unit tests
  sdks/go/pkg/beam/core/runtime/exec/discard_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate_test.go
  sdks/go/pkg/beam/core/runtime/exec/window_test.go
Labels: go, Next Action: Reviewers

#17389 [BEAM-14323] Improve IDE integration of Spark cross version builds
  runners/spark/2/build.gradle
  runners/spark/3/build.gradle
  runners/spark/spark_runner.gradle
Labels: runners, spark

#17306 [BEAM-14112] Fixed ReadFromBigQuery with Interactive Beam
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
Labels: python, io, gcp

#17411 [BEAM-14336] Sickbay flight delays test - dataset seems to be missing
  sdks/python/apache_beam/examples/dataframe/flight_delays_it_test.py
Labels: python, examples

#17414 [BEAM-14338] Update watermark unit tests to use time.Time.Equals()
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
Labels: go

#17413 [BEAM-14328] Tweaks to "Differences from pandas" page
  website/www/site/content/en/documentation/dsls/dataframes/differences-from-pandas.md
Labels: website

#17400 [BEAM-14330] Temporarily disable the clusters auto-cleanup
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager_test.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_environment_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
Labels: python

#17415 [BEAM-14253] Disable broken test pending Dataflow fix
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/ReadWriteIT.java
Labels: java, io, gcp

#17416 [BEAM-14341]: BigQuery Storage Connector trace id population missing bracket
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#17378 Update Beam website to release 2.38.0
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.38.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#17253 [BEAM-14213] Add API and construction time validation for Batched DoFns
  sdks/python/apache_beam/transforms/batch_dofn_test.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/typehints/batch.py
  sdks/python/apache_beam/typehints/batch_test.py
Labels: python

#17419 Minor: Update release guide regarding archive.apache.org
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#17396 [BEAM-14017] beam_PreCommit_CommunityMetrics_Cron test failing
  .test-infra/metrics/build.gradle
Labels: infra

#17144 [BEAM-10917] Annotating Read API tests.
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
Labels: python, io, gcp

#17300 BEAM-13582 Fixing broken links in the documentation
  CHANGES.md
  website/www/site/content/en/blog/beam-2.29.0.md
  website/www/site/content/en/blog/beam-a-look-back.md
  website/www/site/content/en/blog/beam-summit-digital-2020.md
  website/www/site/content/en/blog/beam-summit-europe-2019.md
  website/www/site/content/en/blog/review-input-streaming-connectors.md
  website/www/site/content/en/contribute/become-a-committer.md
  website/www/site/content/en/contribute/release-guide.md
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
  website/www/site/content/en/documentation/io/testing.md
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/content/en/documentation/resources/learning-resources.md
  website/www/site/content/en/documentation/runners/direct.md
  website/www/site/content/en/documentation/runners/jstorm.md
  website/www/site/content/en/documentation/runtime/environments.md
Labels: website

#17252 [BEAM-13657] Sunset python 3.6
  .github/workflows/build_wheels.yml
  .github/workflows/python_tests.yml
  .test-infra/jenkins/PythonTestProperties.groovy
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PostCommit_PortableJar_Flink.groovy
  .test-infra/jenkins/job_PreCommit_Portable_Python.groovy
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/container/build.gradle
  sdks/python/container/py36/base_image_requirements.txt
  sdks/python/container/py36/build.gradle
  sdks/python/container/run_validatescontainer.sh
  sdks/python/setup.py
  sdks/python/test-suites/dataflow/py36/build.gradle
  sdks/python/test-suites/direct/py36/build.gradle
  sdks/python/test-suites/gradle.properties
  sdks/python/test-suites/portable/py36/build.gradle
  sdks/python/test-suites/tox/py36/build.gradle
  sdks/python/tox.ini
  settings.gradle.kts
Labels: python, build, infra, docker

#17397 Removes unsupported Python 3.6 from the release validation script
  release/src/main/scripts/run_rc_validation.sh
Labels: build

#17196 [BEAM-13984] Implement RunInference for PyTorch
  sdks/python/apache_beam/ml/inference/pytorch.py
  sdks/python/apache_beam/ml/inference/pytorch_test.py
  sdks/python/container/license_scripts/dep_urls_py.yaml
  sdks/python/pytest.ini
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, docker

#17424 [BEAM-14345] Force paranamer 2.8 for Spark Hadoop version tests to avoid issues when using Scala 2.12
  runners/spark/spark_runner.gradle
Labels: runners, spark

#17209 [BEAM-13945] add json type support for java bigquery connector
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOJsonIT.java
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, java, io, gcp

#17425 [BEAM-14346] Fix incorrect error case index in ret2()
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fn_arity.go
  sdks/go/pkg/beam/core/runtime/exec/fn_arity.tmpl
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
Labels: go, Next Action: Reviewers

#17426 Revert "Merge pull request #17223 from [BEAM-14215] Improve argument validation in SnowflakeIO"
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakeIO.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/DataSourceConfigurationTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/read/SnowflakeIOReadTest.java
Labels: java, io

#17420 [BEAM-14342] Fix wrong default buffer type in fn_runner
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
Labels: python

#17421 [BEAM-14344] bumps opencensus-api
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_43_2.groovy
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/legacy-worker/build.gradle
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, build, io, runners, dataflow, gcp

#17370 [BEAM-14306] Add unit testing to pane coder
  sdks/go/pkg/beam/core/graph/coder/panes.go
  sdks/go/pkg/beam/core/graph/coder/panes_test.go
Labels: go, Next Action: Reviewers

#17442 Updated the dep and golden for screen diff integration tests
  sdks/python/apache_beam/runners/interactive/testing/integration/goldens/Darwin/7a35f487b2a5f3a9b9852a8659eeb4bd.png
  sdks/python/setup.py
Labels: python

#17438 [BEAM-8127] The GCP module to declare google-cloud-bigtable
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, io, gcp

#17434 [BEAM-14348] Upgrade to ZetaSQL 2022.04.1
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/sql/zetasql/build.gradle
Labels: java, build, extensions, sql

#17387 [BEAM-14321] SQL passes Null for Null aggregates
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/transform/BeamBuiltinAggregations.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlDslAggregationNullableTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/utils/RowAsserts.java
Labels: java, extensions, sql

#17428 [BEAM-14326] Make sure BigQuery daemon thread doesn't exit suddenly, as this leads to pipeline stuckness
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsTableRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableSchemaCache.java
Labels: java, io, gcp

#17355 [BEAM-14301] Add lint:ignore to noescape() func
  sdks/go/pkg/beam/core/util/ioutilx/read.go
Labels: go, Next Action: Reviewers

#17398 [BEAM-14327] Convert Results to QueryResults directly
  sdks/go/pkg/beam/core/metrics/metrics.go
Labels: go, Next Action: Reviewers

#17399 [BEAM-14302] Simplify boolean check in fn.go
  sdks/go/pkg/beam/core/graph/fn.go
Labels: go, Next Action: Reviewers

#17368 [BEAM-13983] Sklearn Loader for RunInference
  sdks/python/apache_beam/examples/complete/distribopt.py
  sdks/python/apache_beam/ml/inference/sklearn_loader.py
  sdks/python/apache_beam/ml/inference/sklearn_loader_test.py
  sdks/python/apache_beam/tools/map_fn_microbenchmark.py
  sdks/python/setup.py
Labels: python, examples

#17439 [BEAM-14350] - beam_PerformanceTests_ManyFiles_TextIOIT_HDFS missing kubeconfig
  .test-infra/jenkins/Kubernetes.groovy
Labels: infra

#17436 Apache Hop blog post
  website/www/site/content/en/blog/apache-hop-with-dataflow.md
  website/www/site/data/authors.yml
  website/www/site/static/images/blog/apache-hop/image1.png
  website/www/site/static/images/blog/apache-hop/image10.png
  website/www/site/static/images/blog/apache-hop/image11.png
  website/www/site/static/images/blog/apache-hop/image12.png
  website/www/site/static/images/blog/apache-hop/image13.png
  website/www/site/static/images/blog/apache-hop/image14.png
  website/www/site/static/images/blog/apache-hop/image15.png
  website/www/site/static/images/blog/apache-hop/image16.png
  website/www/site/static/images/blog/apache-hop/image17.png
  website/www/site/static/images/blog/apache-hop/image18.png
  website/www/site/static/images/blog/apache-hop/image19.png
  website/www/site/static/images/blog/apache-hop/image2.png
  website/www/site/static/images/blog/apache-hop/image20.png
  website/www/site/static/images/blog/apache-hop/image21.png
  website/www/site/static/images/blog/apache-hop/image22.png
  website/www/site/static/images/blog/apache-hop/image23.png
  website/www/site/static/images/blog/apache-hop/image24.png
  website/www/site/static/images/blog/apache-hop/image25.png
  website/www/site/static/images/blog/apache-hop/image26.png
  website/www/site/static/images/blog/apache-hop/image27.png
  website/www/site/static/images/blog/apache-hop/image28.png
  website/www/site/static/images/blog/apache-hop/image29.png
  website/www/site/static/images/blog/apache-hop/image3.png
  website/www/site/static/images/blog/apache-hop/image30.png
  website/www/site/static/images/blog/apache-hop/image4.png
  website/www/site/static/images/blog/apache-hop/image5.png
  website/www/site/static/images/blog/apache-hop/image6.png
  website/www/site/static/images/blog/apache-hop/image7.png
  website/www/site/static/images/blog/apache-hop/image8.png
  website/www/site/static/images/blog/apache-hop/image9.png
Labels: website

#17449 [BEAM-14358] add retry to connect to testcontainer
  sdks/go.mod
  sdks/go.sum
  sdks/go/test/integration/io/xlang/jdbc/jdbc_test.go
Labels: go, Next Action: Reviewers
