Repository apache/beam, pull requests merged in 2022-05, with the labels that each got.

#17475 [BEAM-11105] Add manual watermark estimation
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/funcx/fn_test.go
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/combine.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/sdf/watermark_estimator.go
Labels: go, Next Action: Reviewers

#17521 [BEAM-14390] Set user-agent when pulling licenses to avoid 403s
  sdks/java/container/license_scripts/pull_licenses_java.py
  sdks/python/container/license_scripts/pull_licenses_py.py
Labels: python, java, docker

#17485 [BEAM-14375] Fix Java Wordcount Dataflow postcommit for Gradle 7.4
  .github/workflows/java_tests.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#17486 [BEAM-8688] Upgrade GCSIO to 2.2.6
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, build, io, gcp

#17500 [BEAM-14391] Allow arithmetic between deferred scalars.
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/transforms.py
  sdks/python/apache_beam/dataframe/transforms_test.py
Labels: python

#17523 [BEAM-14253] patch SubscriptionPartitionLoader to work around a dataflow bug
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscriptionPartitionLoader.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/ReadWriteIT.java
Labels: java, io, gcp

#17498 Add website link log to notify user of pre-build workflow.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: python, website

#17487 Adding user-agent to GCS client in Python
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
Labels: python, io, gcp

#17477 [BEAM-10265] Display error message if trying to infer recursive schema from POJO/Proto objects
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/StaticSchemaInference.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaFieldSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/POJOUtilsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/TestPOJOs.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslator.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslatorTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/TestProtoSchemas.java
  sdks/java/extensions/protobuf/src/test/proto/proto3_schema_messages.proto
Labels: java, extensions, protobuf

#17526 [BEAM-12575] Upgraded ipykernel from v5 to v6
  sdks/python/apache_beam/transforms/batch_dofn_test.py
  sdks/python/setup.py
Labels: python

#17522 [BEAM-11105] Add docs + CHANGES.md entry for Go Watermark Estimation
  CHANGES.md
  sdks/go/examples/snippets/04transforms.go
  website/www/site/content/en/documentation/programming-guide.md
Labels: go, website, examples, Next Action: Reviewers

#17380 [BEAM-14314][BEAM-9532] Add last_updated field in filesystem.FileMetaData
  sdks/python/apache_beam/io/aws/clients/s3/fake_client.py
  sdks/python/apache_beam/io/aws/s3filesystem.py
  sdks/python/apache_beam/io/aws/s3filesystem_test.py
  sdks/python/apache_beam/io/aws/s3io.py
  sdks/python/apache_beam/io/aws/s3io_test.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem_test.py
  sdks/python/apache_beam/io/azure/blobstorageio.py
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/io/filesystem_test.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/io/hadoopfilesystem.py
  sdks/python/apache_beam/io/hadoopfilesystem_test.py
  sdks/python/apache_beam/io/localfilesystem.py
  sdks/python/apache_beam/io/localfilesystem_test.py
Labels: python, io, aws, gcp

#17493 [BEAM-13657] Follow up update version warning in __init__
  sdks/python/apache_beam/__init__.py
Labels: python

#17431 [BEAM-14273] Add integration tests for BQ JSON type for Python BigQueryIO connector
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_json_it_test.py
Labels: python, io, gcp

#17205 [BEAM-14145] [Website] add carousel to homepage
  website/www/site/assets/js/keen-slider.min.js
  website/www/site/assets/js/quotes-slider.js
  website/www/site/assets/js/swiper-bundle.min.js
  website/www/site/assets/scss/_keen-slider.scss
  website/www/site/assets/scss/_quotes.scss
  website/www/site/data/en/quotes.yaml
  website/www/site/layouts/index.html
  website/www/site/layouts/partials/head.html
  website/www/site/layouts/partials/hooks/body-end.html
  website/www/site/layouts/partials/quotes/quote-mobile.html
  website/www/site/layouts/partials/quotes/quote.html
  website/www/site/static/images/logos/powered-by/blank.jpg
  website/www/site/static/images/logos/powered-by/dataflow.png
Labels: website

#17112 [BEAM-14064] fix es io windowing
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/build.gradle
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: java, io, elasticsearch

#17529 [BEAM-13670] Upgraded ipython from v7 to v8
  sdks/python/apache_beam/runners/interactive/display/display_manager.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization.py
  sdks/python/apache_beam/runners/interactive/display/pipeline_graph.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
  sdks/python/setup.py
Labels: python

#17533 [BEAM-11104] Enable ProcessContinuation return values, add unit test cases
  CHANGES.md
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/funcx/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
Labels: go, Next Action: Reviewers

#17525 [BEAM-14231] Roll-forward #17190 with fixes for flake
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/coders/row_coder_test.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
Labels: python

#17536 [BEAM-14403] Allow Prime to be used with legacy workers.
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
Labels: runners, dataflow

#17017 [BEAM-14230] JDBC config schema fields order for python
  sdks/python/apache_beam/io/jdbc.py
Labels: python, io

#17432 [BEAM-11106] Support drain in Go SDK
  CHANGES.md
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/genx/genx.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/core/sdf/lock.go
  sdks/go/pkg/beam/core/sdf/sdf.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange.go
Labels: go, io, Next Action: Reviewers

#17514 add __Init__ to inference.
  sdks/python/apache_beam/ml/inference/__init__.py
  sdks/python/apache_beam/ml/inference/api.py
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/pytorch.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/tox.ini
Labels: python

#17440 [BEAM-14329] Enable exponential backoff retries in FhirIO Execute bundle requests.
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOTestUtil.java
Labels: java, io, gcp

#17524 re-add testing package to pydoc
  sdks/python/scripts/generate_pydoc.sh
Labels: python

#17531 [BEAM-14250] Amended the workaround
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/coders/typecoders.py
Labels: python

#17546 [BEAM-11104] Fix broken split result validation
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
Labels: go

#17502 [BEAM-14382] [Website] add banner container
  website/www/site/assets/scss/_banner.sass
  website/www/site/assets/scss/_hero.scss
  website/www/site/assets/scss/_navbar-desktop.scss
  website/www/site/assets/scss/main.scss
  website/www/site/layouts/partials/header.html
  website/www/site/static/images/banner_desktop.png
  website/www/site/static/images/banner_mobile.png
Labels: website

#17545 Fixed a SQL and screenshots in the Beam SQL blog
  website/www/site/content/en/blog/beam-sql-with-notebooks.md
  website/www/site/static/images/blog/beam-sql-notebooks/image24.png
  website/www/site/static/images/blog/beam-sql-notebooks/image25.png
  website/www/site/static/images/blog/beam-sql-notebooks/image26.png
Labels: website

#17417 [BEAM-14388] Address some performance problems with the storage API
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#17512 [BEAM-14386] [Flink] Support for scala 2.12
  CHANGES.md
  runners/flink/flink_runner.gradle
Labels: runners, flink

#17542 [BEAM-14273] typo fix for BigQueryIO JSON test (python)
  sdks/python/apache_beam/io/gcp/bigquery_json_it_test.py
Labels: python, io, gcp

#17499 [BEAM-9245] Unable to pull datatore Entity which contains dict properties
  sdks/python/apache_beam/io/gcp/datastore/v1new/types.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/types_test.py
Labels: python, io, gcp

#17384 [BEAM-14294] Worker changes to support trivial Batched DoFns
  sdks/python/apache_beam/coders/fast_coders_test.py
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/portable_runner_test.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/opcounters.pxd
  sdks/python/apache_beam/runners/worker/opcounters.py
  sdks/python/apache_beam/runners/worker/operations.pxd
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/transforms/batch_dofn_test.py
  sdks/python/apache_beam/transforms/combiners.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/typehints/batch.py
  sdks/python/apache_beam/utils/windowed_value.pxd
  sdks/python/apache_beam/utils/windowed_value.py
  sdks/python/apache_beam/utils/windowed_value_test.py
Labels: python

#17051 [BEAM-14048] [CdapIO] Add ConfigWrapper for building CDAP PluginConfigs
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/io/cdap/OWNERS
  sdks/java/io/cdap/build.gradle
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/ConfigWrapper.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/PluginConfigInstantiationUtils.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/package-info.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/ConfigWrapperTest.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/PluginConfigInstantiationUtilsTest.java
  sdks/java/io/cdap/src/test/resources/service_now_test_params.json
  settings.gradle.kts
Labels: java, build, io

#17504 [BEAM-14196] add test verifying output watermark propagation in bundle
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperator.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSavepointTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperatorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/WindowDoFnOperatorTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, runners, flink

#17554 [BEAM-14173] Fix Go Loadtests on Dataflow & partial fix for Flink
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_LoadTests_Combine_Go.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Go.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Go.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Go.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Go.groovy
  CHANGES.md
  sdks/go/pkg/beam/io/synthetic/source.go
  sdks/go/test/load/sideinput/sideinput.go
Labels: go, infra, io, Next Action: Reviewers

#17561 Cherry-pick #17504: [BEAM-14196] add test verifying output wat…
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperator.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSavepointTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperatorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/WindowDoFnOperatorTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, runners, flink

#17549 Upgrade python sdk container requirements.
  sdks/python/container/license_scripts/dep_urls_py.yaml
  sdks/python/container/license_scripts/manual_licenses/beautifulsoup4/LICENSE
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#17562 [BEAM-14424] Revert commit enabling ProcessContinuation returns in Go
  CHANGES.md
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/funcx/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
Labels: go, Next Action: Reviewers

#17497 [BEAM-11205] Update Libraries BOM dependencies to version 25.2.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/GcpApiSurfaceTest.java
Labels: java, build, docker, io, gcp

#17537 [BEAM-12603] Add retry on grpc data channel and remove retry from test.
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/worker/data_plane.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#17359 [BEAM-14303] Add a way to exclude output timestamp watermark holds
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/SimpleDoFnRunnerTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternals.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/Timer.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Deduplicate.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, runners, dataflow, gcp, core

#17429 [BEAM-14347] Allow users to optimize DoFn execution with a single generic registration function
  .github/codecov.yml
  .github/workflows/go_tests.yml
  .github/workflows/local_env_tests.yml
  .github/workflows/python_tests.yml
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  playground/README.md
  sdks/go.mod
  sdks/go/cmd/specialize/main.go
  sdks/go/cmd/specialize/main_test.go
  sdks/go/pkg/beam/registration/doc.go
  sdks/go/pkg/beam/registration/example_registration_test.go
  sdks/go/pkg/beam/registration/registration.go
  sdks/go/pkg/beam/registration/registration.tmpl
  sdks/go/pkg/beam/registration/registration_test.go
  sdks/go/run_with_go_version.sh
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/content/en/get-started/quickstart-go.md
Labels: go, build, website

#17509 [BEAM-5878] Add (failing) kwonly-argument test
  sdks/python/apache_beam/runners/common_test.py
Labels: python

#17394 [BEAM-14014] Add parameter for service account impersonation in GCP credentials
  runners/google-cloud-dataflow-java/examples/build.gradle
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/auth/CredentialFactory.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/auth/GcpCredentialFactory.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptions.java
Labels: java, extensions, runners, dataflow, google-cloud-platform-core

#17490 [BEAM-14370] [Website] Add new page about appache beam
  website/www/site/assets/icons/about/abstration_icon.svg
  website/www/site/assets/icons/about/adoption_icon.svg
  website/www/site/assets/icons/about/capabilities_icon.svg
  website/www/site/assets/icons/about/extencibility_icon.svg
  website/www/site/assets/icons/about/flexibility_icon.svg
  website/www/site/assets/icons/about/model_icon.svg
  website/www/site/assets/icons/about/portability_icon.svg
  website/www/site/assets/scss/_about.sass
  website/www/site/assets/scss/_lists.scss
  website/www/site/assets/scss/_navbar-desktop.scss
  website/www/site/assets/scss/main.scss
  website/www/site/content/en/about/_index.md
  website/www/site/data/en/about_list.yaml
  website/www/site/i18n/navbar/en.yaml
  website/www/site/layouts/about/baseof.html
  website/www/site/layouts/partials/header.html
  website/www/site/layouts/shortcodes/about/list_with_icons.html
  website/www/site/static/images/batch_stream_processing_desktop.png
  website/www/site/static/images/batch_stream_processing_mobile.png
  website/www/site/static/images/vertical_line.png
Labels: website

#17541 [BEAM-14059] Delete tags.go
  sdks/go/pkg/beam/core/util/reflectx/tags.go
Labels: go, Next Action: Reviewers

#17402 [BEAM-14332] Refactored cluster management for Flink on Dataproc
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager.py
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager_test.py
  sdks/python/apache_beam/runners/interactive/dataproc/types.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_beam_test.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_environment_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/messaging/interactive_environment_inspector.py
  sdks/python/apache_beam/runners/interactive/messaging/interactive_environment_inspector_test.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
  sdks/python/apache_beam/runners/interactive/testing/mock_env.py
  sdks/python/apache_beam/runners/interactive/testing/mock_ipython.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
Labels: python

#17566 [BEAM-14146] Python Streaming job failing to drain with BigQueryIO write errors
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
Labels: python, io, gcp

#17578 [BEAM-13988] Update mtime to use time.UnixMilli() calls
  sdks/go/pkg/beam/core/graph/mtime/time.go
  sdks/go/pkg/beam/core/graph/mtime/time_test.go
Labels: go

#17564 Fixing patching error on missing dependencies
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
Labels: python, io, gcp

#17517 [BEAM-14383] Improve "FailedRows" errors returned by beam.io.WriteToBigQuery
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
Labels: python, io, gcp

#17450 Quote pip extra package names in quickstart
  website/www/site/content/en/get-started/quickstart-py.md
Labels: website

#17482 [BEAM-14374] Fix module import error in FullyQualifiedNamedTransform
  sdks/python/apache_beam/transforms/fully_qualified_named_transform.py
  sdks/python/apache_beam/transforms/fully_qualified_named_transform_test.py
Labels: python

#17582 [BEAM-13666] Stuck inventory jobs should be cancelled and rescheduled for next run
  .test-infra/jenkins/job_Inventory.groovy
Labels: infra

#17586 [BEAM-14439] [BEAM-12673] Add extra details to PubSub matcher errors
  sdks/python/apache_beam/io/gcp/tests/pubsub_matcher.py
Labels: python, io, gcp

#17559 [BEAM-14423] Add exception injection tests for BigtableIO read in BigtableIOTest
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp

#17558 [BEAM-11104] Allow self-checkpointing SDFs to return without finishing their restriction
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/pardo_test.go
Labels: go, Next Action: Reviewers

#17544 [BEAM-14415] Exception handling tests for BQIO streaming inserts in Python
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/utils/retry.py
Labels: python, io, gcp

#17575 [BEAM-14433] Improve Go split error message.
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
Labels: go, Next Action: Reviewers

#17576 [BEAM-14429] Force java load test on dataflow runner v2 forceNumIniti…
  .test-infra/jenkins/job_LoadTests_CoGBK_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Dataflow_V2_Java17.groovy
Labels: infra

#17574 [BEAM-14347] Add generic registration functions for iters and emitters
  sdks/go/pkg/beam/registration/emitter.go
  sdks/go/pkg/beam/registration/example_registration_test.go
  sdks/go/pkg/beam/registration/iter.go
  sdks/go/pkg/beam/registration/registration_test.go
Labels: go, Next Action: Reviewers

#17383 [BEAM-14169] Add Credentials rotation cron job for clusters
  .test-infra/jenkins/job_IODatastoresCredentialsRotation.groovy
  .test-infra/jenkins/job_MetricsCredentialsRotation.groovy
Labels: infra

#17579 [BEAM-14347] Add generic registration for accumulators
  sdks/go/pkg/beam/registration/registration.go
  sdks/go/pkg/beam/registration/registration.tmpl
  sdks/go/pkg/beam/registration/registration_test.go
Labels: go

#17595 Cherry-pick pull request #17566 from [BEAM-14146] Python Streaming job fail…
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
Labels: python, io, gcp

#15679 [BEAM-12918] TPC-DS: add Jenkins jobs
  .test-infra/jenkins/job_PostCommit_Java_Tpcds_Spark.groovy
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/TpcdsParametersReader.java
Labels: java, infra

#17593 [BEAM-14423] Add test cases for BigtableIO.BigtableWriterFn fails due to writeRecord
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp

#17597 Cherry-pick pull request #17394: [BEAM-14014] Add parameter for service acc…
  runners/google-cloud-dataflow-java/examples/build.gradle
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/auth/CredentialFactory.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/auth/GcpCredentialFactory.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptions.java
Labels: java, extensions, runners, dataflow, google-cloud-platform-core

#17600 [BEAM-14429] Fix SyntheticUnboundedSource data duplication with SDF wrapper
  sdks/java/io/synthetic/src/main/java/org/apache/beam/sdk/io/synthetic/SyntheticRecordsCheckpoint.java
  sdks/java/io/synthetic/src/main/java/org/apache/beam/sdk/io/synthetic/SyntheticUnboundedSource.java
  sdks/java/io/synthetic/src/test/java/org/apache/beam/sdk/io/synthetic/SyntheticUnboundedSourceTest.java
Labels: java, io, synthetic

#17601 [BEAM-14447] Revert "Merge pull request #17517 from [BEAM-14383] Improve "FailedRo…
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
Labels: python, io, gcp

#17603 [BEAM-14347] Rename registration package to register
  .github/codecov.yml
  sdks/go/pkg/beam/register/doc.go
  sdks/go/pkg/beam/register/emitter.go
  sdks/go/pkg/beam/register/example_register_test.go
  sdks/go/pkg/beam/register/iter.go
  sdks/go/pkg/beam/register/register.go
  sdks/go/pkg/beam/register/register.tmpl
  sdks/go/pkg/beam/register/register_test.go
Labels: go, build, Next Action: Reviewers

#17590 [BEAM-11104] Add self-checkpointing integration test
  sdks/go/pkg/beam/testing/ptest/ptest.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/checkpointing.go
  sdks/go/test/integration/primitives/checkpointing_test.go
Labels: go, Next Action: Reviewers

#17530 [BEAM-5492] Python Dataflow integration tests should export the pipeline console output to Jenkins Test Result section
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/test_dataflow_runner.py
Labels: python

#17602 [BEAM-14396] Bump httplib2 upper bound.
  sdks/python/setup.py
Labels: python

#17563 [BEAM-12526] Add Dependabot
  .github/dependabot.yml
  sdks/python/setup.py
Labels: python, build

#17519 [BEAM-14096] bump junit-quickcheck to 1.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#17630 Remove python 3.6 postcommit from mass_comment.py
  release/src/main/scripts/mass_comment.py
Labels: build

#17613 [BEAM-14347] Add some benchmarks for generic registration
  sdks/go/pkg/beam/register/register.go
  sdks/go/pkg/beam/register/register.tmpl
  sdks/go/pkg/beam/register/register_test.go
Labels: go, Next Action: Reviewers

#17632 [BEAM-12526] Correctly route go dependency changes to go label
  .github/autolabeler.yml
Labels: build

#17178 [BEAM-13695] Add jamm jvm options to Java 11
  sdks/java/container/boot.go
  sdks/java/container/boot_test.go
  sdks/java/container/common.gradle
  sdks/java/container/java11/option-jamm.json
  sdks/java/container/test/disabled/option-disabled.json
  sdks/java/container/test/empty/README
  sdks/java/container/test/priority/option-high.json
  sdks/java/container/test/priority/option-low.json
Labels: java, docker

#17406 [BEAM-14334] Fix leakage of SparkContext in Spark runner tests to remove forkEvery 1
  runners/spark/spark_runner.gradle
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkContextOptions.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkRunnerDebugger.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkContextFactory.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/CacheTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/GlobalWatermarkHolderTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/ProvidedSparkContextTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/SparkContextOptionsRule.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/SparkContextRule.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/SparkPipelineStateTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/SparkRunnerDebuggerTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/aggregators/metrics/sink/SparkMetricsSinkTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/coders/SparkRunnerKryoRegistratorTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/metrics/SparkMetricsPusherTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/structuredstreaming/SparkSessionRule.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/EncoderHelpersTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/CreateStreamTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/ResumeFromCheckpointStreamingTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/SparkCoGroupByKeyStreamingTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/TrackStreamingSourcesTest.java
Labels: runners, spark

#17609 Revert "[BEAM-14429] Force java load test on dataflow runner v2 forceNumIniti…"
  .test-infra/jenkins/job_LoadTests_CoGBK_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Dataflow_V2_Java17.groovy
Labels: infra

#17588 [BEAM-14442] Add GitHub issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
Labels: build

#17551 Better test assertion.
  sdks/python/apache_beam/io/gcp/bigquery_json_it_test.py
Labels: python, io, gcp

#17584 [BEAM-14415] Exception handling tests and logging for partial failure BQIO
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
Labels: python, io, gcp

#17650 [BEAM-14347] Add function for simple function registration
  sdks/go/pkg/beam/register/register.go
  sdks/go/pkg/beam/register/register.tmpl
  sdks/go/pkg/beam/register/register_test.go
Labels: go

#17640 Minor: Drop dataclasses requirement, we only support python 3.7+
  sdks/python/setup.py
Labels: python

#17645 [BEAM-14465] Reduce DefaultS3ClientBuilderFactory logging to debug level
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/s3/DefaultS3ClientBuilderFactory.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/DefaultS3ClientBuilderFactory.java
Labels: java, io, aws

#17653 Revert "Better test assertion."
  sdks/python/apache_beam/io/gcp/bigquery_json_it_test.py
Labels: python, io, gcp

#17608 [BEAM-14430] Adding a logical type support for Python callables to Row schema
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/schema.proto
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/MicrosInstant.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/PythonCallable.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/StaticSchemaInference.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/PythonCallableSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTranslationTest.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/PythonExternalTransformTest.java
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
  sdks/python/apache_beam/utils/python_callable.py
Labels: python, java, model, extensions

#17365 [BEAM-12482] Update Schema Destination during Bigquery load job when using temporary tables using zeroloadjob
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/UpdateSchemaDestination.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeJobService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaUpdateOptionsIT.java
Labels: java, io, gcp

#17605 [BEAM-14455] Add UUID to sub-schemas for PythonExternalTransform
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
Labels: java, extensions

#17244 [BEAM-14014] Support impersonation credentials in dataflow runner
  sdks/python/apache_beam/examples/wordcount_it_test.py
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
Labels: python, examples, io, gcp

#17668 Cherrypick [BEAM-14014] Support impersonation credentials in dataflow runner (#1…
  sdks/python/apache_beam/examples/wordcount_it_test.py
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
Labels: python, examples, io, gcp

#17667 [BEAM-14469] Allow nil primary returns from TrySplit() in a single-windowed context
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
Labels: go, Next Action: Reviewers

#17580 Add some auto-starting runners to the typescript SDK.
  sdks/java/extensions/python/src/main/resources/org/apache/beam/sdk/extensions/python/bootstrap_beam_venv.py
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
  sdks/typescript/src/apache_beam/examples/wordcount.ts
  sdks/typescript/src/apache_beam/runners/dataflow.ts
  sdks/typescript/src/apache_beam/runners/direct_runner.ts
  sdks/typescript/src/apache_beam/runners/flink.ts
  sdks/typescript/src/apache_beam/runners/portable_runner/runner.ts
  sdks/typescript/src/apache_beam/runners/runner.ts
  sdks/typescript/src/apache_beam/runners/universal.ts
  sdks/typescript/src/apache_beam/transforms/internal.ts
  sdks/typescript/src/apache_beam/utils/service.ts
  sdks/typescript/src/apache_beam/worker/data.ts
  sdks/typescript/src/apache_beam/worker/external_worker_service.ts
  sdks/typescript/src/apache_beam/worker/worker.ts
Labels: java, extensions

#17670 [BEAM-14371] (and BEAM-14372) - enable a couple staticchecks
  sdks/go/pkg/beam/coder.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/emit.go
  sdks/go/pkg/beam/core/runtime/genx/genx_test.go
  sdks/go/pkg/beam/core/runtime/graphx/schema/logicaltypes.go
  sdks/go/pkg/beam/core/runtime/graphx/schema/schema_test.go
  sdks/go/pkg/beam/core/runtime/graphx/serialize_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/xlang_test.go
  sdks/go/pkg/beam/core/runtime/types_test.go
  sdks/go/pkg/beam/io/xlang/jdbcio/jdbc.go
  sdks/go/pkg/beam/staticcheck.conf
  sdks/go/pkg/beam/transforms/sql/sqlx/sqlx.go
Labels: go, io

#17673 [BEAM-14470] Use Generic Registrations in loadtests.
  .test-infra/jenkins/job_LoadTests_SideInput_Go.groovy
  .test-infra/metrics/grafana/dashboards/perftests_metrics/SideInput_Load_Tests.json
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/io/synthetic/source.go
  sdks/go/pkg/beam/io/synthetic/step.go
  sdks/go/test/load/cogbk/cogbk.go
  sdks/go/test/load/combine/combine.go
  sdks/go/test/load/group_by_key/group_by_key.go
  sdks/go/test/load/pardo/pardo.go
  sdks/go/test/load/sideinput/sideinput.go
  sdks/go/test/load/util.go
Labels: go, infra, io

#17327 [BEAM-13015] Update the SDK harness grouping table to be memory bounded based upon the amount of assigned cache memory and to use an LRU eviction policy.
  runners/core-java/src/main/java/org/apache/beam/runners/core/NullSideInputReader.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/SdkHarnessOptions.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/Cache.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/Caches.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/CombineRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/GroupingTable.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PrecombineGroupingTable.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/PrecombineGroupingTableTest.java
Labels: java, runners, core

#17637 [BEAM-13982] Added output of logging for python E2E pytests
  sdks/python/scripts/run_integration_test.sh
Labels: python

#17681 [BEAM-14473] Throw error if using globally windowed, unbounded side input
  sdks/go/pkg/beam/pardo.go
  sdks/go/pkg/beam/pardo_test.go
Labels: go

#17587 [BEAM-14440] Add basic fuzz tests to the coders package
  sdks/go/pkg/beam/core/graph/coder/coder_fuzz_test.go
Labels: go, Next Action: Reviewers

#17607 [BEAM-14035] Convert BigQuery SchemaIO to SchemaTransform
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProvider.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaTransformReadConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaTransformReadProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaTransformWriteConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaTransformWriteProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaTransformReadProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaTransformWriteProviderTest.java
Labels: java, io, gcp

#17520 BEAM-12356 Close DatasetService leaked with getTable
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageQuerySource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageTableSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryTableSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryTableSourceDef.java
Labels: java, io, gcp

#17547 [BEAM-14411] Re-enable TypecodersTest, fix most issues
  sdks/python/apache_beam/coders/typecoders_test.py
Labels: python

#17662 [BEAM-14334] Remove remaining forkEvery 1 from all Spark tests and stop mixing unit tests with runner validations.
  runners/spark/spark_runner.gradle
  runners/spark/src/test/java/org/apache/beam/runners/spark/aggregators/metrics/sink/SparkMetricsSinkTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/metrics/SparkMetricsPusherTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/CreateStreamTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/SparkCoGroupByKeyStreamingTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/StreamingSourceMetricsTest.java
Labels: runners, spark

#17692 [BEAM-14035] Fix checkstyle issue
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaTransformReadProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaTransformWriteProvider.java
Labels: java, io, gcp

#17661 [BEAM-14441] Automatically assign issue labels based on responses to template
  .github/issue-rules.yml
  .github/workflows/issue-tagger.yml
Labels: build

#17456 README update for the Docker Error 255 during Website launch on Apple Silicon
  website/README.md
Labels: website

#17694 [release-2.39.0][BEAM-14481] Cherry-pick #17693 to release branch
  sdks/python/apache_beam/coders/fast_coders_test.py
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/portable_runner_test.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/opcounters.pxd
  sdks/python/apache_beam/runners/worker/opcounters.py
  sdks/python/apache_beam/runners/worker/operations.pxd
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/transforms/batch_dofn_test.py
  sdks/python/apache_beam/transforms/combiners.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/typehints/batch.py
  sdks/python/apache_beam/utils/windowed_value.pxd
  sdks/python/apache_beam/utils/windowed_value.py
  sdks/python/apache_beam/utils/windowed_value_test.py
Labels: python

#17319 [BEAM-10529] update KafkaIO Xlang integration test to publish and receive null keys
  sdks/python/apache_beam/io/external/xlang_kafkaio_it_test.py
Labels: python, io

#17695 Fix a few small linting bugs
  sdks/go/cmd/specialize/main.go
  sdks/go/pkg/beam/core/graph/coder/coder_fuzz_test.go
  sdks/go/pkg/beam/core/graph/mtime/time_test.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange.go
  sdks/go/pkg/beam/pardo_test.go
  sdks/go/test/integration/primitives/checkpointing.go
Labels: go, io, Next Action: Reviewers

#17572 [BEAM-14428] I/O, community, and contribute pages improvements
  website/www/site/assets/scss/_connectors.sass
  website/www/site/assets/scss/_contribute.sass
  website/www/site/content/en/contribute/_index.md
  website/www/site/content/en/documentation/io/connectors.md
  website/www/site/layouts/partials/section-menu/en/community.html
  website/www/site/layouts/partials/section-menu/en/contribute.html
Labels: website

#17550 Vortex performance improvement: Enable multiple stream clients per worker
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#17718 Vortex performance improvement: Enable multiple stream clients per wo…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#17711 [BEAM-14488] Alias async flags.
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
Labels: go, runners, dataflow

#17710 [BEAM-14487] Make drain & update terminal states.
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job_test.go
Labels: go, runners, dataflow, Next Action: Reviewers

#17707 Corrects I/O connectors availability status in Beam Website
  website/www/site/content/en/documentation/io/connectors.md
Labels: website

#17716 [BEAM-14484] Improve behavior surrounding primary roots in self-checkpointing
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/sdf/sdf.go
  sdks/go/pkg/beam/core/sdf/wrappedbounded.go
  sdks/go/test/integration/primitives/checkpointing.go
Labels: go, Next Action: Reviewers

#17719 Improve validation error message
  sdks/go/pkg/beam/core/graph/fn.go
Labels: go, Next Action: Reviewers

#17705 Remove unused validation configurations.
  release/src/main/scripts/script.config
Labels: build

#17684 Minor: Bump Dataflow container versions
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#17722 [BEAM-14418] added arrows to slider
  website/www/site/assets/js/quotes-slider.js
  website/www/site/assets/scss/_quotes.scss
  website/www/site/layouts/index.html
  website/www/site/static/images/swiper-button-next.png
  website/www/site/static/images/swiper-button-prev.png
Labels: website

#17702 Add labels for typescript PRs
  .github/autolabeler.yml
Labels: build

#17445 [BEAM-13015] Only create a TimerBundleTracker if there are timers.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java

#17704 Add clarification on Filter transform's input function to pydoc.
  sdks/python/apache_beam/transforms/core.py
Labels: python

#17569 [BEAM-14367]Flaky timeout in StatefulDoFnOnDirectRunnerTest.test_dynamic_timer_clear_then_set_timer
  sdks/python/apache_beam/transforms/userstate_test.py
Labels: python

#17725 [BEAM-14494] Tag RC container version to have form ${RELEASE}rc${RC_NUM}
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#17706 [BEAM-11578] Fix TypeError in dataflow_metrics has 0 distribution sum
  sdks/python/apache_beam/runners/dataflow/dataflow_metrics.py
Labels: python

#17735 [BEAM-14499] Step global, unbounded side input case back to warning
  sdks/go/pkg/beam/pardo.go
  sdks/go/pkg/beam/pardo_test.go
Labels: go

#17724 [BEAM-14484] Step back unexpected primary handling to warnings
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
  sdks/go/pkg/beam/core/sdf/sdf.go
Labels: go

#17709 [BEAM-14486] Document pubsubio & fix its behavior.
  sdks/go/pkg/beam/io/pubsubio/pubsubio.go
Labels: go, io, gcp

#17712 [BEAM-14489] Remove non-SDF version of TextIO.
  CHANGES.md
  sdks/go/pkg/beam/io/textio/sdf.go
  sdks/go/pkg/beam/io/textio/sdf_test.go
  sdks/go/pkg/beam/io/textio/textio.go
  sdks/go/pkg/beam/io/textio/textio_test.go
Labels: go, io, Next Action: Reviewers

#17738 Fix `-= 1` vs `--` linting issue
  sdks/go/pkg/beam/io/textio/textio.go
Labels: go, io

#17740 [BEAM-12308] change expected value in kakfa IT
  sdks/python/apache_beam/io/external/xlang_kafkaio_it_test.py
Labels: python, io

#17150 [BEAM-14053] [CdapIO] Add wrapper class for CDAP plugin
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  sdks/java/io/cdap/build.gradle
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/Plugin.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/PluginConstants.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/PluginTest.java
Labels: java, build, io

#17674 [BEAM-14471] Adding testcases and examples for xlang Python DataframeTransform
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  examples/multi-language/build.gradle
  examples/multi-language/src/main/java/org/apache/beam/examples/multilanguage/PythonDataframeWordCount.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/BaseExternalTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/ValidateRunnerXlangTest.java
  runners/direct-java/build.gradle
  runners/flink/job-server/flink_job_server.gradle
  runners/google-cloud-dataflow-java/build.gradle
  runners/samza/job-server/build.gradle
  runners/spark/spark_runner.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesJavaExpansionService.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExternalTest.java
  sdks/java/extensions/python/build.gradle
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/DataframeTransformTest.java
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/io/DataframeTransform.java
  sdks/python/apache_beam/io/external/generate_sequence_test.py
  sdks/python/apache_beam/io/external/xlang_parquetio_test.py
  sdks/python/apache_beam/runners/portability/expansion_service_test.py
  sdks/python/apache_beam/transforms/validate_runner_xlang_test.py
  sdks/python/scripts/run_expansion_services.sh
Labels: python, java, build, examples, io, extensions, runners, spark, dataflow, direct, core, flink, samza

#17169 [BEAM-14129] Clean up PubsubLiteIO by removing options that no longer apply
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/SubscriberOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/ExternalTransformConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/MemoryBufferedSubscriber.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/MemoryBufferedSubscriberImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PerSubscriptionPartitionSdf.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscribeTransform.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscriptionPartitionProcessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscriptionPartitionProcessorImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/ReadWriteIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/MemoryBufferedSubscriberImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PerSubscriptionPartitionSdfTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscriptionPartitionProcessorImplTest.java
  sdks/python/apache_beam/io/gcp/pubsublite/external.py
  sdks/python/apache_beam/io/gcp/pubsublite/proto_api.py
Labels: python, java, io, gcp

#17729 [BEAM-14496] Ensure that precombine is inheriting one of the timestamps output values
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PrecombineGroupingTable.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/PrecombineGroupingTableTest.java
Labels: java

#17750 [BEAM-14139] Remove unused Flink 1.11 directory
  runners/flink/1.11/src/test/java/org/apache/beam/runners/flink/streaming/StreamSources.java
Labels: runners, flink

#17737 [BEAM-14481] Remove unnecessary context
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python

#17728 [BEAM-9324] Fix incompatibility of direct runner with cython
  sdks/python/apache_beam/runners/worker/operations.py
Labels: python

#17739 [BEAM-14503] Add support for Flink 1.15
  gradle.properties
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ProcessingTimeCallbackCompat.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/MiniClusterCompat.java
  runners/flink/1.15/build.gradle
  runners/flink/1.15/job-server-container/build.gradle
  runners/flink/1.15/job-server/build.gradle
  runners/flink/1.15/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ProcessingTimeCallbackCompat.java
  runners/flink/1.15/src/test/java/org/apache/beam/runners/flink/MiniClusterCompat.java
  runners/flink/flink_runner.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapper.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkRequiresStableInputTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSavepointTest.java
  sdks/python/apache_beam/options/pipeline_options.py
  settings.gradle.kts
Labels: python, build, runners, flink

#17690 Update Beam website to release 2.39.0
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.39.0.md
  website/www/site/content/en/get-started/downloads.md
  website/www/site/data/authors.yml
Labels: website

#17752 [BEAM-14509] Add several flags to dataflow runner
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/dataflow/dataflow_test.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go
Labels: go, runners, dataflow, Next Action: Reviewers

#17756 [BEAM-14494] Fix publish_docker_images.sh
  release/src/main/scripts/publish_docker_images.sh
Labels: build

#17568 [BEAM-14426] Allow skipping of any output when writing an empty PCollection.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOWriteTest.java
  sdks/python/apache_beam/io/filebasedsink.py
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/io/textio_test.py
Labels: python, java, io

#17759 Fix 2.38.0 download page.
  website/www/site/content/en/get-started/downloads.md
Labels: website

#17715 [BEAM-14492] add flinkConfDir to FlinkPipelineOptions
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineExecutionEnvironment.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkExecutionEnvironmentsTest.java
  website/www/site/layouts/shortcodes/flink_java_pipeline_options.html
  website/www/site/layouts/shortcodes/flink_python_pipeline_options.html
Labels: website, runners, flink
