Repository apache/beam, pull requests merged in 2022-06, with the labels that each got.

#17782 [BEAM-14536] Handle 0.0 splits in offsetrange restriction
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange_test.go
Labels: go, io, Next Action: Reviewers

#17790 [BEAM-14470] Use lifecycle method names directly.
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
Labels: go, Next Action: Reviewers

#17742 [BEAM-14297] add nullable annotations and an integration test
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka

#17793 Only generate Javadocs for latest Spark runner version (Spark 3)
  runners/spark/2/build.gradle
  runners/spark/spark_runner.gradle
Labels: runners, spark

#17801 Fail Javadoc aggregateJavadoc task if there's an error
  sdks/java/javadoc/build.gradle
Labels: java

#17753 [BEAM-14510] adding exception tests to LocalFileSystem
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/build.gradle
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/LocalFileSystemTest.java
Labels: java, build

#17655 feat: allow for unknown values in change streams
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/ModType.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/ValueCaptureType.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/util/TestStructMapper.java
Labels: java, io, gcp

#16921 Support JdbcIO autosharding in Python
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
  sdks/python/apache_beam/io/jdbc.py
Labels: python, java, io, jdbc

#17754 [BEAM-14511] Growable Tracker for Go SDK
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange_test.go
Labels: go, io, Next Action: Reviewers

#17787 [BEAM-14539] Ensure that the print stream can handle larger byte arrays being written and also allow for a growable amount of carry over.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/logging/JulHandlerPrintStreamAdapterFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/logging/JulHandlerPrintStreamAdapterFactoryTest.java
Labels: runners, dataflow

#17492 [BEAM-13945] (FIX) Update Java BQ connector to support new JSON type
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
Labels: java, io, gcp

#17785 [BEAM-11105] Add more watermark estimation docs for go
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#17781 [BEAM-11106] documentation for SDF truncation in Go
  sdks/go/examples/snippets/04transforms.go
  website/www/site/content/en/documentation/programming-guide.md
Labels: go, website, examples, Next Action: Reviewers

#17669 [BEAM-11167] Updates dill package to version 0.3.5.1
  CHANGES.md
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/container/run_generate_requirements.sh
  sdks/python/setup.py
Labels: python, docker

#17777 [BEAM-6258] Use gRPC 1.33.1 as min version to ensure that we pickup keepalive fix
  sdks/python/setup.py
Labels: python

#17817 Alias worker_harness_container_image to sdk_container_image
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/dataflow/dataflow_test.go
Labels: go, runners, dataflow, Next Action: Reviewers

#17813 [BEAM-14546] Fix errant pass for empty collections in Count
  sdks/go/pkg/beam/io/synthetic/step.go
  sdks/go/pkg/beam/io/synthetic/step_test.go
  sdks/go/pkg/beam/testing/passert/count.go
  sdks/go/pkg/beam/testing/passert/count_test.go
  sdks/go/pkg/beam/testing/passert/hash.go
  sdks/go/pkg/beam/testing/passert/hash_test.go
  sdks/go/pkg/beam/testing/passert/passert.go
  sdks/go/pkg/beam/testing/passert/passert.shims.go
  sdks/go/pkg/beam/testing/passert/passert_test.go
  sdks/go/pkg/beam/testing/passert/sum.go
  sdks/go/pkg/beam/testing/passert/sum_test.go
Labels: go, Next Action: Reviewers

#18038 Revert "Merge pull request #17492 from [BEAM-13945] (FIX) Update Java…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
Labels: java, io, gcp

#17741 [BEAM-14504] Add support for including addittional parameters to executebundle method in fhirio.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirBundleParameter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirBundleResponse.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HttpHealthcareApiClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOWriteIT.java
Labels: java, io, gcp

#18374 [BEAM-13945] Roll forward JSON support for BQIO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
Labels: java, io, gcp

#17779 [BEAM-14529] Add integer to float64 conversion support
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp

#17820 [BEAM-14556] Honor the formatter installed on the root handler.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/logging/DataflowWorkerLoggingHandler.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/logging/DataflowWorkerLoggingHandlerTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClientTest.java
Labels: java, runners, dataflow

#17732 Clean up uses of == instead of === in ts sdk
  sdks/typescript/README.md
  sdks/typescript/src/apache_beam/coders/js_coders.ts
  sdks/typescript/src/apache_beam/coders/required_coders.ts
  sdks/typescript/src/apache_beam/coders/row_coder.ts
  sdks/typescript/src/apache_beam/coders/standard_coders.ts
  sdks/typescript/src/apache_beam/internal/pipeline.ts
  sdks/typescript/src/apache_beam/pvalue.ts
  sdks/typescript/src/apache_beam/runners/artifacts.ts
  sdks/typescript/src/apache_beam/runners/direct_runner.ts
  sdks/typescript/src/apache_beam/runners/portable_runner/runner.ts
  sdks/typescript/src/apache_beam/runners/runner.ts
  sdks/typescript/src/apache_beam/serialization.ts
  sdks/typescript/src/apache_beam/transforms/external.ts
  sdks/typescript/src/apache_beam/transforms/flatten.ts
  sdks/typescript/src/apache_beam/transforms/group_and_combine.ts
  sdks/typescript/src/apache_beam/transforms/internal.ts
  sdks/typescript/src/apache_beam/transforms/pardo.ts
  sdks/typescript/src/apache_beam/transforms/sql.ts
  sdks/typescript/src/apache_beam/transforms/transform.ts
  sdks/typescript/src/apache_beam/transforms/window.ts
  sdks/typescript/src/apache_beam/transforms/windowings.ts
  sdks/typescript/src/apache_beam/utils/service.ts
  sdks/typescript/src/apache_beam/worker/operators.ts
  sdks/typescript/src/apache_beam/worker/pardo_context.ts
  sdks/typescript/src/apache_beam/worker/state.ts
  sdks/typescript/src/apache_beam/worker/worker.ts
  sdks/typescript/test/standard_coders_test.ts
  sdks/typescript/test/worker_test.ts
Labels: runners, typescript

#19265 Mount GCP credentials in local docker environments.
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
Labels: python

#17825 [BEAM-14471] Fix PytestUnknownMarkingWarning
  sdks/python/apache_beam/io/filesystems_test.py
  sdks/python/pytest.ini
Labels: python, io

#17462 [BEAM-14068]Add Pytorch inference IT test and example
  build.gradle.kts
  sdks/python/apache_beam/examples/inference/__init__.py
  sdks/python/apache_beam/examples/inference/pytorch_image_classification.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_it_test.py
  sdks/python/apache_beam/ml/inference/torch_tests_requirements.txt
  sdks/python/scripts/run_integration_test.sh
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/direct/common.gradle
Labels: python, build, examples

#17680 [BEAM-12918] Add PostCommit_Java_Tpcds_Dataflow job
  .test-infra/jenkins/job_PostCommit_Java_Tpcds_Dataflow.groovy
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/TpcdsOptions.java
Labels: java, infra

#17708 [BEAM-12554] Create new instances of FileSink in sink_fn
  sdks/python/apache_beam/io/fileio.py
  sdks/python/apache_beam/io/fileio_test.py
Labels: python, io

#17335 [BEAM-14121] Fix SpannerIO service call metrics and improve tests.
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/GcpResourceIdentifiers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/BatchSpannerRead.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/NaiveSpannerRead.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOWriteExceptionHandlingTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOWriteTest.java
Labels: java, io, runners, gcp, core

#16773 DataflowRunner: Experiment added to disable unbounded PCcollection checks turning batch into streaming
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, runners, dataflow, kafka

#21733 [BEAM-14337] Support batched key examples and non-batchable kwargs params for RunInference models
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
Labels: python

#17767 More flexible Python Callable type.
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/PythonCallableSource.java
  sdks/python/apache_beam/utils/python_callable.py
  sdks/python/apache_beam/utils/python_callable_test.py
Labels: python, java

#21739 Fix for increased FAILED_PRECONDITION errors in BQ Read API.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamSource.java
Labels: java, io, gcp

#21719 Add ability to self-assign issues for non-committers
  .github/workflows/self-assign.yml
  website/www/site/content/en/contribute/get-started-contributing.md
Labels: build, website

#21753 Dont try to generate jiras as part of dependency report
  .test-infra/jenkins/dependency_check/dependency_check_report_generator.py
  .test-infra/jenkins/dependency_check/dependency_check_report_generator_test.py
  .test-infra/jenkins/dependency_check/generate_report.sh
  .test-infra/jenkins/dependency_check/report_generator_config.py
  .test-infra/jenkins/jira_utils/__init__.py
  .test-infra/jenkins/jira_utils/jira_client.py
  .test-infra/jenkins/jira_utils/jira_manager.py
  .test-infra/jenkins/jira_utils/jira_manager_test.py
  .test-infra/jenkins/job_Dependency_Check.groovy
  CHANGES.md
  website/www/site/content/en/contribute/dependencies.md
  website/www/site/content/en/contribute/release-guide.md
Labels: website, infra

#21755 Allow users to comment `.take-issue` without taking
  .github/workflows/self-assign.yml
  website/www/site/content/en/contribute/get-started-contributing.md
Labels: build, website

#17778 [Beam-14528]: Add ISO time format support for Timestamp, Date, DateTime, Time field.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp

#17297 [BEAM-14000] Fixes Elastic search IO doesnot work when both password and keystore are used
  CHANGES.md
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/src/test/resources/clientkeystore
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/src/test/resources/clientkeystore
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/src/test/resources/clientkeystore
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-8/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-8/src/test/resources/clientkeystore
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTestCommon.java
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: java, io, elasticsearch

#21746 Exclude gcp packages from dependabot
  .github/dependabot.yml
Labels: build

#21771 Update dashboards to use gh issues data instead of jira data
  .test-infra/metrics/grafana/dashboards/post-commit_tests.json
  .test-infra/metrics/grafana/dashboards/source_data_freshness.json
  .test-infra/metrics/grafana/dashboards/stability_critical_jobs_status.json
Labels: infra

#21762 Better cross langauge support for dataframe reads.
  sdks/python/apache_beam/dataframe/io.py
  sdks/python/apache_beam/io/iobase.py
Labels: python, io

#21774 Add template_location flag to Go Dataflow runner
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/execute.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go
Labels: go, runners, dataflow, Next Action: Reviewers

#21770 More Jira -> Issues doc updates
  .github/PULL_REQUEST_TEMPLATE.md
  playground/frontend/lib/constants/links.dart
  playground/frontend/lib/l10n/app_en.arb
  runners/core-java/src/main/java/org/apache/beam/runners/core/triggers/AfterDelayFromFirstElementStateMachine.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/WatermarkSyncedDStream.java
  sdks/go/README.md
  sdks/java/extensions/sql/hcatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/hcatalog/package-info.java
  sdks/java/extensions/zetasketch/src/main/java/org/apache/beam/sdk/extensions/zetasketch/HllCount.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsIO.java
  sdks/java/io/hcatalog/src/main/java/org/apache/beam/sdk/io/hcatalog/HCatalogIO.java
  sdks/java/io/hcatalog/src/main/java/org/apache/beam/sdk/io/hcatalog/package-info.java
  sdks/python/apache_beam/runners/portability/portable_runner.py
  website/CONTRIBUTE.md
  website/www/site/content/en/contribute/_index.md
  website/www/site/content/en/documentation/dsls/dataframes/differences-from-pandas.md
  website/www/site/content/en/documentation/io/built-in.md
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
  website/www/site/content/en/documentation/io/built-in/snowflake.md
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/content/en/documentation/sdks/go-cross-compilation.md
  website/www/site/content/en/documentation/sdks/java/testing/nexmark.md
  website/www/site/content/en/documentation/transforms/python/aggregation/approximatequantiles.md
  website/www/site/content/en/documentation/transforms/python/aggregation/approximateunique.md
  website/www/site/content/en/documentation/transforms/python/aggregation/combinewithcontext.md
  website/www/site/content/en/documentation/transforms/python/elementwise/pardo.md
  website/www/site/content/en/documentation/transforms/python/elementwise/reify.md
  website/www/site/content/en/documentation/transforms/python/elementwise/withkeys.md
  website/www/site/content/en/documentation/transforms/python/other/create.md
  website/www/site/content/en/documentation/transforms/python/other/flatten.md
  website/www/site/content/en/documentation/transforms/python/other/passert.md
  website/www/site/content/en/documentation/transforms/python/other/reshuffle.md
  website/www/site/content/en/documentation/transforms/python/other/view.md
  website/www/site/content/en/documentation/transforms/python/other/windowinto.md
  website/www/site/content/en/get-started/mobile-gaming-example.md
  website/www/site/content/en/get-started/wordcount-example.md
  website/www/site/content/en/roadmap/connectors-java-sdk.md
  website/www/site/content/en/roadmap/dataflow-runner.md
  website/www/site/content/en/roadmap/euphoria.md
  website/www/site/content/en/roadmap/flink-runner.md
  website/www/site/content/en/roadmap/go-sdk.md
  website/www/site/content/en/roadmap/portability.md
  website/www/site/content/en/roadmap/samza-runner.md
  website/www/site/content/en/roadmap/sql.md
  website/www/site/content/en/roadmap/twister2-runner.md
  website/www/site/data/en/join_beam.yaml
Labels: python, java, go, build, website, io, extensions, runners, spark, sql, aws, hcatalog, core, zetasketch

#17538 [BEAM-13769]Add no_xdist marker for cloudpickle test
  sdks/python/apache_beam/runners/portability/stager_test.py
Labels: python

#17780 [BEAM-14533] Bump cloudpickle to 2.1.0
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#17771 Add basic byte size estimation for batches
  sdks/python/apache_beam/runners/worker/opcounters.py
  sdks/python/apache_beam/runners/worker/opcounters_test.py
  sdks/python/apache_beam/transforms/cy_combiners.py
  sdks/python/apache_beam/transforms/cy_dataflow_distribution_counter.pxd
  sdks/python/apache_beam/transforms/cy_dataflow_distribution_counter.pyx
  sdks/python/apache_beam/transforms/py_dataflow_distribution_counter.py
  sdks/python/apache_beam/transforms/window.py
  sdks/python/apache_beam/typehints/batch.py
  sdks/python/apache_beam/typehints/batch_test.py
  sdks/python/apache_beam/utils/counters.pxd
  sdks/python/apache_beam/utils/counters.py
  sdks/python/apache_beam/utils/counters_test.py
Labels: python

#19268 Add @yields_batches and @yields_elements
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/direct/sdf_direct_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/transforms/batch_dofn_test.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/utils/windowed_value.py
Labels: python

#17800 [BEAM-14535] Added support for pandas in sklearn inference runner
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python

#17589 [BEAM-14422] Exception testing for ReadFromBigQuery
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: python, io, gcp

#21758 Add README for image classification example
  sdks/python/apache_beam/examples/inference/README.md
Labels: python, examples

#21805 Replace SklearnModelLoader with SklearnModelHandler
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python

#17955 Add native PubSub IO prototype to Go
  sdks/go/examples/native_wordcap/nativepubsubio/native.go
  sdks/go/examples/native_wordcap/nativepubsubio/subscriptiontracker.go
  sdks/go/examples/native_wordcap/wordcap.go
Labels: go, examples, io, gcp, Next Action: Reviewers

#17822 Allow creation of dynamically defined transforms in the Python expansion service.
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/PythonCallableSource.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/python/apache_beam/transforms/fully_qualified_named_transform.py
  sdks/python/apache_beam/transforms/fully_qualified_named_transform_test.py
  sdks/python/apache_beam/utils/python_callable.py
  sdks/python/apache_beam/utils/python_callable_test.py
Labels: python, java, extensions

#21777 Make keying of examples explicit.
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python

#21819 Refactor code according to keyedModelHandler changes
  sdks/python/apache_beam/examples/inference/pytorch_image_classification.py
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
Labels: python, examples

#21821 Do not allow postcommit jobs phrase triggering
  .test-infra/jenkins/PostcommitJobBuilder.groovy
Labels: infra

#21801 Refactor API code to base.py in RunInference
  sdks/python/apache_beam/examples/inference/pytorch_image_classification.py
  sdks/python/apache_beam/ml/inference/__init__.py
  sdks/python/apache_beam/ml/inference/api.py
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python, examples

#21816 Go SDK: Improve error message when a filesystem scheme is not found
  sdks/go/pkg/beam/io/filesystem/filesystem.go
Labels: go, io, Next Action: Reviewers

#21823 Disable more comments triggers
  .test-infra/jenkins/PostcommitJobBuilder.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Java.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_HadoopFormat.groovy
  .test-infra/jenkins/job_PerformanceTests_InfluxDBIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_JDBC.groovy
  .test-infra/jenkins/job_PerformanceTests_KafkaIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_MongoDBIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_SQLIO_Java.groovy
  .test-infra/jenkins/job_PostCommit_Python_MongoDBIO_Load_Test.groovy
Labels: infra

#17803 [BEAM-14532] Add integration testing to fhirio Read transform
  sdks/go/data/fhir_bundles/batch-success-failure.json
  sdks/go/data/fhir_bundles/transaction-failure.json
  sdks/go/data/fhir_bundles/transaction-success.json
  sdks/go/pkg/beam/io/fhirio/common.go
  sdks/go/pkg/beam/io/fhirio/read_test.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/io/fhirio/fhirio_test.go
Labels: go, io

#21775 Stop collecting jira metrics
  .test-infra/metrics/README.md
  .test-infra/metrics/build.gradle
  .test-infra/metrics/build_and_publish_containers.sh
  .test-infra/metrics/docker-compose.yml
  .test-infra/metrics/grafana/dashboards/post-commit_tests.json
  .test-infra/metrics/kubernetes/beamgrafana-deploy.yaml
  .test-infra/metrics/sync/github/queries.py
  .test-infra/metrics/sync/jira/Dockerfile
  .test-infra/metrics/sync/jira/README.md
  .test-infra/metrics/sync/jira/requirements.txt
  .test-infra/metrics/sync/jira/syncjira.py
Labels: infra

#17794 [#21252] Enforce pubsub message publishing limits in the python SDK
  sdks/python/apache_beam/io/gcp/pubsub.py
  sdks/python/apache_beam/io/gcp/pubsub_test.py
Labels: python, io, gcp

#21803 Separated pandas and numpy implementations of sklearn.
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python

#21756 Composite triggers and unit tests for Go SDK
  sdks/go/pkg/beam/core/graph/window/trigger/trigger.go
  sdks/go/pkg/beam/core/graph/window/trigger/trigger_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/windowinto.go
  sdks/go/test/integration/primitives/windowinto_test.go
Labels: go, Next Action: Reviewers

#21846 Enable phrase trigger for a few post commits
  .test-infra/jenkins/PhraseTriggeringPostCommitBuilder.groovy
  .test-infra/jenkins/PostcommitJobBuilder.groovy
  .test-infra/jenkins/job_PostCommit_Go.groovy
  .test-infra/jenkins/job_PostCommit_Java.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python.groovy
Labels: infra

#17821 [BEAM-14557] Read and Seek Runner Capabilities in Go SDK
  sdks/go/container/boot.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/monitoring.go
Labels: go, docker

#16818 [BEAM-13806] Add x-lang BigQuery IO integration test to Go SDK.
  sdks/go/pkg/beam/io/xlang/bigqueryio/bigquery.go
  sdks/go/test/build.gradle
  sdks/go/test/integration/flags.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/io/xlang/bigquery/bigquery.go
  sdks/go/test/integration/io/xlang/bigquery/bigquery_test.go
  sdks/go/test/integration/io/xlang/bigquery/table.go
Labels: go, io

#17809 [BEAM-14265] Add watermark hold for all timers
  runners/core-java/src/main/java/org/apache/beam/runners/core/StatefulDoFnRunner.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/state/FlinkStateInternals.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
Labels: runners, core, flink

#21820 Bump Python beam-master container
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#21810 Split PytorchModelHandler into PytorchModelHandlerTensor and PytorchModelHandlerKeyedTensor
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python

#17730 [BEAM-14036] Read Configuration for Pub/Sub SchemaTransform
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformReadConfiguration.java
Labels: java, io, gcp

#21776 [Go SDK] Add more info to Worker Status API
  sdks/go/container/boot.go
  sdks/go/pkg/beam/core/metrics/store.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/init/init.go
  sdks/go/pkg/beam/core/runtime/harness/statecache/statecache.go
  sdks/go/pkg/beam/core/runtime/harness/worker_status.go
  sdks/go/pkg/beam/core/runtime/harness/worker_status_test.go
  sdks/go/test/integration/wordcount/wordcount.go
Labels: go, docker, Next Action: Reviewers

#21815 Make PeriodicImpulse generates unbounded PCollection
  sdks/python/apache_beam/pvalue.py
  sdks/python/apache_beam/runners/common_test.py
  sdks/python/apache_beam/runners/sdf_utils.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/periodicsequence.py
  sdks/python/apache_beam/transforms/periodicsequence_test.py
Labels: python

#17305 [BEAM-14267] Update watchForNewFiles to allow watching updated files
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextIO.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/FileIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/storage/GcsMatchIT.java
Labels: java, io, gcp

#17789 [BEAM-14541]: fix Cloud Datastore Timestamp value conversion
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/EntityToRow.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/EntityToRowRowToEntityTest.java
Labels: java, io, gcp

#21854 [#21853] Adjust Go cross-compile to target entire package
  sdks/go/pkg/beam/runners/universal/runnerlib/compile.go
Labels: go, runners, Next Action: Reviewers

#17818 [BEAM-14553] Add destination coder to FileResultCoder components
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSink.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
Labels: java

#21745 Add transform names to help debug flaky test
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteIT.java
Labels: java, io, gcp

#21788 Automatically enable Runner v2 for pipelines that use cross-language transforms.
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/External.java
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
Labels: runners, dataflow, core

#21844 Document and test overriding batch type inference
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/transforms/batch_dofn_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python

#21858 Adjust Jenkins configuration to allow more memory per JVM (fixes #20819)
  .test-infra/jenkins/CommonJobProperties.groovy
Labels: infra

#21793 [21794 ] Fix output timestamp in Dataflow.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternals.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: runners, dataflow

#21818 Add Bert Language Modeling example
  sdks/python/apache_beam/examples/inference/pytorch_language_modeling.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_it_test.py
  sdks/python/apache_beam/ml/inference/torch_tests_requirements.txt
Labels: python, examples

#17773 [BEAM-14524] Returning NamedTuple from RunInference transform
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python

#21856 Unit tests for RunInference keyed/unkeyed Modelhandler and examples
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python

#17731 [BEAM-13229] side nav bug fixed
  website/www/site/assets/js/language-switch-v2.js
  website/www/site/assets/js/page-nav.js
  website/www/site/assets/scss/_page-nav.scss
  website/www/site/assets/scss/_toggler-nav.scss
Labels: website

#21744 Fix links for pipelines
  website/www/site/data/pipelines.yaml
  website/www/site/data/works_with.yaml
Labels: website

#21806 Remove kwargs and add explicit runinference_args
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python

#21871 Modify README for 3 pytorch examples
  sdks/python/apache_beam/examples/inference/README.md
Labels: python, examples

#21790 Mark issues as triaged when they are assigned
  .github/workflows/self-assign.yml
  .github/workflows/triaged-on-assign.yml
Labels: build

#21883 Add required=True to Pytorch image classification example
  sdks/python/apache_beam/examples/inference/pytorch_image_classification.py
Labels: python, examples

#21740 convert windmill min timestamp to beam min timestamp
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimeUtils.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillTimeUtilsTest.java
Labels: runners, dataflow

#21890 Switch go todos from issue # syntax to links
  sdks/go/container/boot.go
  sdks/go/pkg/beam/artifact/materialize.go
  sdks/go/pkg/beam/core/graph/coder/coder.go
  sdks/go/pkg/beam/core/graph/coder/row.go
  sdks/go/pkg/beam/core/graph/coder/row_test.go
  sdks/go/pkg/beam/core/graph/mtime/time.go
  sdks/go/pkg/beam/core/runtime/exec/coder_test.go
  sdks/go/pkg/beam/core/runtime/exec/cogbk.go
  sdks/go/pkg/beam/core/runtime/exec/combine.go
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/dynsplit_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/core/runtime/graphx/cogbk.go
  sdks/go/pkg/beam/core/runtime/graphx/dataflow.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/harness/datamgr.go
  sdks/go/pkg/beam/core/runtime/harness/monitoring.go
  sdks/go/pkg/beam/core/util/jsonx/jsonx.go
  sdks/go/pkg/beam/io/textio/textio.go
  sdks/go/pkg/beam/io/xlang/kafkaio/kafka.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/pardo.go
  sdks/go/pkg/beam/pardo_test.go
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/universal/runnerlib/stage.go
  sdks/go/pkg/beam/runners/vet/vet.go
  sdks/go/pkg/beam/transforms/stats/quantiles_test.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/xlang/expansion_test.go
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
Labels: go, docker, io, runners, dataflow

#21766 Add Pytorch image segmentation example
  sdks/python/apache_beam/examples/inference/pytorch_image_segmentation.py
  sdks/python/apache_beam/examples/inference/pytorch_language_modeling.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_it_test.py
Labels: python, examples

#21887 Add README documentation for scikit-learn MNIST example
  sdks/python/apache_beam/examples/inference/README.md
Labels: python, examples

#21888 Decompose labels for new issues
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/autolabeler.yml
  .github/issue-rules.yml
Labels: build

#21896 Use Go 1.18 for go-licenses
  release/go-licenses/Dockerfile
  release/go-licenses/common.gradle
  release/go-licenses/get-licenses.sh
  release/go-licenses/go.mod
Labels: build

#21779 [BEAM-12903] Cron job to cleanup Dataproc leaked resources
  .test-infra/dataproc/cleanup.sh
  .test-infra/jenkins/job_CleanUpDataprocResources.groovy
Labels: infra

#17749 [BEAM-7209][BEAM-9351][BEAM-9428] Upgrade Hive to version 3.1.3
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/Repositories.groovy
  sdks/java/extensions/sql/hcatalog/build.gradle
  sdks/java/extensions/sql/hcatalog/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/hcatalog/BeamSqlHiveSchemaTest.java
  sdks/java/io/hcatalog/build.gradle
  sdks/java/io/hcatalog/src/test/java/org/apache/beam/sdk/io/hcatalog/HCatalogIOTest.java
  sdks/java/io/hcatalog/src/test/java/org/apache/beam/sdk/io/hcatalog/test/EmbeddedMetastoreService.java
  sdks/java/io/hcatalog/src/test/java/org/apache/beam/sdk/io/hcatalog/test/HCatalogIOTestUtils.java
  sdks/java/io/hcatalog/src/test/java/org/apache/beam/sdk/io/hcatalog/test/package-info.java
  sdks/java/io/hcatalog/src/test/resources/hive-site.xml
  vendor/calcite-1_28_0/build.gradle
Labels: java, build, vendor, io, extensions, sql, hcatalog

#21804 Sharding IO tests (Kafka, Debezium, JDBC, Kinesis, Neo4j) from the javaPostCommit task
  .test-infra/jenkins/job_PreCommit_Java_Debezium_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_JDBC_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Kafka_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Kinesis_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Neo4j_IO_Direct.groovy
  build.gradle.kts
Labels: build, infra

#17604 [BEAM-14315] Match updated files continuously
  sdks/python/apache_beam/io/avroio.py
  sdks/python/apache_beam/io/avroio_test.py
  sdks/python/apache_beam/io/filebasedsource.py
  sdks/python/apache_beam/io/fileio.py
  sdks/python/apache_beam/io/fileio_test.py
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/io/textio_test.py
  sdks/python/apache_beam/transforms/periodicsequence.py
  sdks/python/scripts/generate_pydoc.sh
Labels: python, io

#21781 Sklearn Mnist example and IT test
  sdks/python/apache_beam/examples/inference/sklearn_mnist_classification.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_it_test.py
  sdks/python/pytest.ini
  sdks/python/test-suites/direct/common.gradle
Labels: python, examples

#21748 Add Spanner Integration tests to verify exception handling
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadIT.java
Labels: java, io, gcp

#21901 Get the latest version of go-licenses
  release/go-licenses/Dockerfile
Labels: build

#21860 Hide internal helpers added to DoFn for batched DoFns
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/transforms/batch_dofn_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python

#21868 Updated documentation for ml.inference docs.
  sdks/python/apache_beam/ml/__init__.py
  sdks/python/apache_beam/ml/inference/__init__.py
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
Labels: python

#21873 Add a type hint to nexmark query 3 joinFn
  sdks/python/apache_beam/testing/benchmarks/nexmark/queries/query3.py
Labels: python

#21898 Rollback dill.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#21895 Drops usage of setWindowingStrategyInternal in favour of direct use of WindowFn
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: java, io, elasticsearch

#21909 Fix a few small config issues
  .github/issue-rules.yml
Labels: build

#21902 Update Python base image requirements
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#21910 Revert "convert windmill min timestamp to beam min timestamp"
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimeUtils.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillTimeUtilsTest.java
Labels: runners, dataflow

#21725 Daily p0/p1/flaky reports for issues
  .github/workflows/reportGenerator.yml
  scripts/ci/issue-report/generateReport.js
  scripts/ci/issue-report/package-lock.json
  scripts/ci/issue-report/package.json
Labels: build

#21861 Remove dataframe warnings from py38-docs logs
  sdks/python/scripts/generate_pydoc.sh
Labels: python

#21916 [21709] - Fix for "beam_PostCommit_Java_ValidatesRunner_Samza Failing"
  runners/samza/build.gradle
Labels: runners, samza

#21834 Update remaining references to Jira to GH
  .test-infra/jenkins/build.gradle
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python_reiterate.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_KafkaIO_IT.groovy
  .test-infra/jenkins/job_PostCommit_Java_PortableValidatesRunner_Flink_Streaming.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Flink.groovy
  .test-infra/jenkins/metrics_report/tox.ini
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  examples/java/src/main/java/org/apache/beam/examples/complete/game/StatefulTeamScore.java
  examples/java/src/main/java/org/apache/beam/examples/snippets/Snippets.java
  examples/notebooks/documentation/transforms/python/elementwise/pardo-py.ipynb
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/metrics.proto
  release/src/main/scripts/build_release_candidate.sh
  release/src/main/scripts/run_rc_validation.sh
  scripts/ci/pr-bot/processNewPrs.ts
  sdks/typescript/src/apache_beam/proto/beam_runner_api.ts
  website/www/site/content/en/documentation/dsls/dataframes/differences-from-pandas.md
  website/www/site/content/en/documentation/patterns/ai-platform.md
  website/www/site/content/en/documentation/programming-guide.md
Labels: java, build, website, model, infra, examples, typescript

#21917 [cherry-pick][release-2.40.0] Merge pull request #21910: Revert "convert windmill min timestamp to …
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimeUtils.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillTimeUtilsTest.java
Labels: runners, dataflow

#21913 [cherry-pick][release-2.40.0] Update Python base image requirements
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#17824 [BEAM-10496] Eliminate some null errors from core SDK coders
  examples/java/src/main/java/org/apache/beam/examples/complete/datatokenization/transforms/SerializableFunctions.java
  examples/java/src/main/java/org/apache/beam/examples/complete/datatokenization/utils/ErrorConverters.java
  examples/java/src/main/java/org/apache/beam/examples/complete/datatokenization/utils/FailsafeElement.java
  examples/java/src/main/java/org/apache/beam/examples/complete/datatokenization/utils/FailsafeElementCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/AtomicCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/CoderProviders.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/DefaultCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/NullableCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/StringDelegateCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/SerializableFunctions.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/sqs/SqsMessageCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirSearchParameterCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2MessageCoder.java
Labels: java, examples, io, aws, gcp

#21914 [cherry-pick][release-2.40.0] Merge pull request #21895: Drops usage of setWindowingStrategyInterna…
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: java, io, elasticsearch

#21724 [BEAM-3177][BEAM-5468] Add pipeline options to set default logging level
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/worker/logger.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main_test.py
Labels: python

#21919 Fix NonType error when importing google.api_core fails
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: python, io, gcp

#21791 Expand pr bot to python
  .github/REVIEWERS.yml
  scripts/ci/pr-bot/processNewPrs.ts
  scripts/ci/pr-bot/processPrUpdate.ts
Labels: build

#21921 Update run inference documentation
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
Labels: python

#21783 Eliminate nullness errors in KafkaIO
  sdks/java/build-tools/src/main/resources/beam/spotbugs-filter.xml
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ConfluentSchemaRegistryDeserializerProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaCheckpointMark.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaCommitOffset.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaExactlyOnceSink.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOUtils.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaRecord.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaRecordCoder.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSourceDescriptor.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedSource.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriter.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/LocalDeserializerProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ProducerRecordCoder.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ProducerSpEL.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/TopicPartitionCoder.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/WatchKafkaTopicPartitionDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/LocalDeserializerProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/TopicPartitionCoderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/WatchKafkaTopicPartitionDoFnTest.java
Labels: java, build, io, kafka

#21931 Add guidance on self-assigning/closing to issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
Labels: build

#21900 Unsickbay copy_rewrite_token tests
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
Labels: python, io, gcp

#21908 [Website] add publishdate attribute to case studies frontmatter
  website/www/site/content/en/case-studies/hop.md
  website/www/site/content/en/case-studies/paloalto.md
  website/www/site/content/en/case-studies/ricardo.md
  website/www/site/content/en/case-studies/seznam.md
Labels: website

#21922 Fix beam_PostCommit_Java_Sickbay build
  build.gradle.kts
Labels: build

#21891 [Website] add lyft case-study
  website/www/site/assets/scss/_case_study.scss
  website/www/site/content/en/case-studies/lyft.md
  website/www/site/static/images/case-study/lyft/apache_beam_ml_features_generation.svg
  website/www/site/static/images/case-study/lyft/ravi_kiran_magham.png
  website/www/site/static/images/logos/powered-by/lyft.png
Labels: website

#21928 [Fixes #21927] Compress (Un)BoundedSourceAsSdfWrapper element and restriction coders
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: java

#21879 Adding the BASIC view setting to getTable request
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTableHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableSchemaCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilTest.java
Labels: java, io, gcp

#21933 Update container tags used by Dataflow runner with unreleased SDKs
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#21936 [cherry-pick][release-2.40.0][Fixes #21927] Compress (Un)BoundedSourceAsSdfWrapper element and restriction coders
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: java

#21938 [cherry-pick][release-2.40.0] BigQueryIO: Adding the BASIC view setting to getTable request (#21879)
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTableHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableSchemaCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilTest.java
Labels: java, io, gcp

#21939 Removing playground from main page due to scrolling
  website/www/site/layouts/index.html
Labels: website

#21940 [21941] Fix no output timestamp case
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternals.java
Labels: runners, dataflow

#21944 [cherry-pick][release-2.40.0][21941] Fix no output timestamp case
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternals.java
Labels: runners, dataflow

#21747 [BEAM-12918] Add PostCommit_Java_Tpcds_Flink job
  .test-infra/jenkins/job_PostCommit_Java_Tpcds_Flink.groovy
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/TpcdsRun.java
Labels: java, infra

#16888 Modified KafkaIO.Read SDF->Legacy forced override to fail if configured functionality would be lost
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibility.java
Labels: java, io, kafka

#17791 [BEAM-13590]Update Pytest version to support Python 3.10
  sdks/python/setup.py
  sdks/python/tox.ini
Labels: python

#21899 Beam/21742 add warning to risky kafka config
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
Labels: java, io, kafka

#21965 Update documentations and document generation
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/scripts/generate_pydoc.sh
Labels: python, Next Action: Reviewers

#21934 [Website] add lyft to quote cards on homepage
  website/www/site/assets/scss/_case_study.scss
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/lyft/lyft-quote.png
Labels: website

#17772 [BEAM-14523] Add a retry code to insertall retry policy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/InsertRetryPolicy.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/InsertRetryPolicyTest.java
Labels: java, io, gcp

#21842 [Go SDK] Adds a snippet for GBK in BPG
  sdks/go/examples/snippets/04transforms.go
  website/www/site/content/en/documentation/programming-guide.md
Labels: go, website, examples, Next Action: Reviewers, slow-review

#22006 Fix FlatMap numpy array bug
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python

#21932 Correcting the regex for the Dataflow job name
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PipelineOptions.java
  sdks/python/apache_beam/runners/dataflow/internal/clients/dataflow/dataflow_v1b3_messages.py
Labels: python, java, Next Action: Reviewers

#22001 Move model class outside of run() function in pytorch_language_modeling example
  sdks/python/apache_beam/examples/inference/pytorch_language_modeling.py
Labels: python, examples

#21986 Fix issues with test ordering
  sdks/go/pkg/beam/runners/dataflow/dataflow_test.go
Labels: go, runners, dataflow, Next Action: Reviewers
