Repository apache/beam, pull requests merged in 2022-07, with the labels that each got.

#21979 Add Search transform to Go FhirIO
  sdks/go/data/fhir_bundles/transaction-success.json
  sdks/go/pkg/beam/io/fhirio/common.go
  sdks/go/pkg/beam/io/fhirio/execute_bundles.go
  sdks/go/pkg/beam/io/fhirio/execute_bundles_test.go
  sdks/go/pkg/beam/io/fhirio/read.go
  sdks/go/pkg/beam/io/fhirio/read_test.go
  sdks/go/pkg/beam/io/fhirio/search.go
  sdks/go/pkg/beam/io/fhirio/search_test.go
  sdks/go/pkg/beam/io/fhirio/utils_test.go
  sdks/go/test/integration/io/fhirio/fhirio_test.go
Labels: go, io

#22097 Deprecate runner support for Spark 2.4 (closes #22094)
  CHANGES.md
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkContextFactory.java
  website/www/site/content/en/documentation/runners/spark.md
Labels: website, runners, spark

#22066 Python: Use RowTypeConstraint for normalizing all schema-inferrable user types
  sdks/python/apache_beam/typehints/row_type.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
  sdks/python/apache_beam/typehints/trivial_inference.py
Labels: python

#22128 changing nameBase value to Java_GCP_IO_Direct
  .test-infra/jenkins/job_PreCommit_Java_GCP_IO_Direct.groovy
Labels: infra

#22127 Bump dataflow fnapi java sdk version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#21808 Sharding IO tests(amazon web services and amazon web services 2) from java post commit task
  .test-infra/jenkins/job_PreCommit_Java_AWS2_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_AWS_IO_Direct.groovy
  build.gradle.kts
Labels: build, infra

#21943 Go SDK: Update memfs to parse the List() pattern as a glob, not a regexp
  sdks/go/pkg/beam/io/filesystem/memfs/memory.go
  sdks/go/pkg/beam/io/filesystem/memfs/memory_test.go
Labels: go, io, Next Action: Reviewers, slow-review

#17723 [BEAM-11103] Add blog post for go 2.40 release
  website/www/site/content/en/blog/go-2.40.md
  website/www/site/data/authors.yml
  website/www/site/static/images/blog/go-registration.png
Labels: website

#22126 Fix test_row_coder_fail_early_bad_schema fails run after test_row_coder_cloud_object_schema
  sdks/python/apache_beam/coders/row_coder_test.py
Labels: python, Next Action: Reviewers

#22144 Tune ByteStringCoder allocations
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/wire/ByteStringCoder.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ByteStringCoder.java
Labels: java, extensions, runners, fn-execution, protobuf

#22136 Enable supported tests on dataflow runner v2.
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#17727 [BEAM-9482] Fix "provided port is already allocated" for PerformanceTestsKafka
  .test-infra/jenkins/Kubernetes.groovy
  .test-infra/jenkins/job_PerformanceTests_KafkaIO_IT.groovy
  .test-infra/kubernetes/kafka-cluster/05-kafka/10broker-config.yml
  .test-infra/kubernetes/kubernetes.sh
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, infra

#22142 Tune StreamingModeExecutionContext allocations
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
Labels: runners, dataflow

#17726 [BEAM-3221] Improve documentation around split request and response
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
Labels: model

#22173 Fix documentation about hand implemented global aggregations
  sdks/python/apache_beam/dataframe/frames.py
Labels: python, Next Action: Reviewers

#21872 Standardizing output of WriteToBigQuery
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp

#22079 [fixes #22078] Propogate error messages from GcsUtil
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/BatchStatefulParDoOverridesTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/storage/GcsPathValidator.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptionsTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/storage/GcsPathValidatorTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtilTest.java
Labels: java, extensions, runners, dataflow, gcp

#22133 Add `schema_options` and `field_options` on RowTypeConstraint
  sdks/python/apache_beam/typehints/row_type.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
Labels: python, Next Action: Reviewers

#22119 [22188] Set timestamp when outputting finalize element
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#22186 Fix testKafkaIOReadsAndWritesCorrectlyInStreaming failing for kafka performance test
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka

#22177 Fix Hadoop upload corrupted due to buffer reuse
  sdks/python/apache_beam/io/hadoopfilesystem.py
Labels: python, io

#22162 Optimize locking in several critical-path methods
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/ProxyInvocationHandler.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/options/ProxyInvocationHandlerTest.java
Labels: java

#22093 Deprecate AWS IOs (Java) using AWS SDK v1 in favor of IOs in amazon-web-services2
  CHANGES.md
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/dynamodb/DynamoDBIO.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/s3/S3FileSystem.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/sns/SnsIO.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/sqs/SqsIO.java
  sdks/java/io/kinesis/src/main/java/org/apache/beam/sdk/io/kinesis/KinesisIO.java
  website/www/site/data/io_matrix.yaml
Labels: java, website, io, aws, kinesis

#22187 Update Go BPG xlang documentation to include Java automated service start-up
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#22096 [Playground] Infrastructure for sharing any code
  .github/workflows/build_playground_backend.yml
  playground/CI.md
  playground/README.md
  playground/backend/README.md
  playground/backend/cmd/server/controller_test.go
  playground/backend/containers/router/Dockerfile
  playground/backend/containers/router/build.gradle
  playground/backend/containers/router/datastore/Dockerfile
  playground/backend/containers/router/datastore/entrypoint.sh
  playground/backend/containers/router/docker-compose.local.yml
  playground/backend/go.mod
  playground/backend/go.sum
  playground/backend/internal/environment/property.go
  playground/backend/internal/environment/property_test.go
  playground/backend/properties.yaml
  playground/backend/start_datastore_emulator.sh
  playground/backend/stop_datastore_emulator.sh
  playground/sdks.yaml
Labels: build

#22132 Support dependencies and remote registration in the typescript SDK.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/typescript/Dockerfile
  sdks/typescript/boot.go
  sdks/typescript/build.sh
  sdks/typescript/build_container.sh
  sdks/typescript/package.json
  sdks/typescript/src/apache_beam/coders/js_coders.ts
  sdks/typescript/src/apache_beam/coders/required_coders.ts
  sdks/typescript/src/apache_beam/coders/standard_coders.ts
  sdks/typescript/src/apache_beam/internal/pipeline.ts
  sdks/typescript/src/apache_beam/internal/serialize.ts
  sdks/typescript/src/apache_beam/io/pubsub.ts
  sdks/typescript/src/apache_beam/pvalue.ts
  sdks/typescript/src/apache_beam/runners/portable_runner/runner.ts
  sdks/typescript/src/apache_beam/serialization.ts
  sdks/typescript/src/apache_beam/testing/assert.ts
  sdks/typescript/src/apache_beam/transforms/combiners.ts
  sdks/typescript/src/apache_beam/transforms/group_and_combine.ts
  sdks/typescript/src/apache_beam/transforms/index.ts
  sdks/typescript/src/apache_beam/transforms/pardo.ts
  sdks/typescript/src/apache_beam/transforms/windowings.ts
  sdks/typescript/src/apache_beam/utils/service.ts
  sdks/typescript/src/apache_beam/values.ts
  sdks/typescript/src/apache_beam/worker/worker_main.ts
Labels: python, io, runners, Next Action: Reviewers, typescript

#21958 [Website] fix change case studies link from staging to relative path
  website/www/site/content/en/about/_index.md
Labels: website

#22106 [Website] add I/O Connectors link to dropdown list, update I/O Connectors
  website/www/site/assets/scss/_connectors.sass
  website/www/site/content/en/documentation/io/connectors.md
  website/www/site/i18n/navbar/en.yaml
  website/www/site/layouts/partials/header.html
Labels: website

#22103 [BEAM-13015, #22050] Make SDK harness msec counters faster using ordered puts
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoConstants.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/control/ExecutionStateSamplerBenchmark.java
  sdks/java/harness/jmh/src/test/java/org/apache/beam/fn/harness/jmh/control/ExecutionStateSamplerBenchmarkTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistry.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PTransformFunctionRegistry.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/status/BeamFnStatusClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ExecutionStateSamplerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistryTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PTransformFunctionRegistryTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/status/BeamFnStatusClientTest.java
Labels: java, runners, core, fn-execution

#16351 Fix default type inference of CombinePerKey.
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python

#22205 Fix build error due to dep confliction of google-cloud-bigquery-storage and google-cloud-core
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#22210 [Website] Update minimum required Go version for sdk development
  website/www/site/content/en/contribute/get-started-contributing.md
Labels: website

#22174 Parallelizable DataFrame/Series mean
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python, Next Action: Reviewers

#22130 Allow one to bound the size of output shards when writing to files.
  sdks/python/apache_beam/io/filebasedsink.py
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/io/textio_test.py
Labels: python, io, Next Action: Reviewers

#22134 Use async as a suffix rather than a prefix for asynchronous variants.
  sdks/typescript/src/apache_beam/examples/wordcount_sql.ts
  sdks/typescript/src/apache_beam/examples/wordcount_textio.ts
  sdks/typescript/src/apache_beam/internal/pipeline.ts
  sdks/typescript/src/apache_beam/io/avroio.ts
  sdks/typescript/src/apache_beam/io/parquetio.ts
  sdks/typescript/src/apache_beam/io/pubsub.ts
  sdks/typescript/src/apache_beam/io/textio.ts
  sdks/typescript/src/apache_beam/pvalue.ts
  sdks/typescript/src/apache_beam/transforms/external.ts
  sdks/typescript/src/apache_beam/transforms/sql.ts
  sdks/typescript/src/apache_beam/transforms/transform.ts
  sdks/typescript/test/docs/programming_guide.ts
  sdks/typescript/test/io_test.ts
  website/www/site/content/en/documentation/programming-guide.md
Labels: website, io, typescript

#22191 Override log levels after log handler is created
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main_test.py
Labels: python

#22223 Remove deprecated unused option in seed job script
  .test-infra/jenkins/committers_list_generator/main.py
Labels: infra

#22178 Better error for external BigQuery tables.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_internal.py
Labels: python, java, io, gcp, Next Action: Reviewers

#22226 Fix playground workflow
  .github/workflows/playground_deploy_examples.yml
Labels: build

#22207 Several requests to show experiments in UIs.
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/ExperimentalOptions.java
Labels: java

#22242 Mark session runner as deprecated
  sdks/go/pkg/beam/runners/session/session.go
Labels: go, runners, Next Action: Reviewers

#22228 Add org.pentaho to calcite relocated packages to fix vendoring validation
  vendor/calcite-1_28_0/build.gradle
Labels: vendor

#22237 Update google-cloud-core dependency to <3
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#22248 Move wordcount integration test to generic registration
  sdks/go/test/integration/wordcount/wordcount.go
Labels: go, Next Action: Reviewers

#22249 Move Xlang Go examples to generic registration
  sdks/go/examples/xlang/bigquery/wordcount.go
  sdks/go/examples/xlang/cogroup_by/cogroup_by.go
  sdks/go/examples/xlang/combine/combine.go
  sdks/go/examples/xlang/combine_globally/combine_globally.go
  sdks/go/examples/xlang/flatten/flatten.go
  sdks/go/examples/xlang/group_by/group_by.go
  sdks/go/examples/xlang/partition/partition.go
  sdks/go/examples/xlang/wordcount/wordcount.go
Labels: go, examples, Next Action: Reviewers

#22247 Move Go Primitives Integration Tests to Generic Registration
  sdks/go/test/integration/primitives/checkpointing.go
  sdks/go/test/integration/primitives/drain.go
  sdks/go/test/integration/primitives/pardo.go
  sdks/go/test/integration/primitives/window_panes.go
  sdks/go/test/integration/primitives/windowinto.go
Labels: go, Next Action: Reviewers

#22195 Move youngoli to the reviewer exclusion list
  .github/REVIEWERS.yml
Labels: build

#22121 Fix pydoc rendering for annotated classes
  sdks/python/apache_beam/io/fileio.py
  sdks/python/apache_beam/utils/annotations.py
Labels: python, io

#22251 Adds an experiment that allows opting into using Kafka SDF-wrapper
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/SplittableParDoTest.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
Labels: java, io, runners, kafka, core

#22277 Pg auth test
  .github/workflows/playground_deploy_examples.yml
Labels: build

#22152 Add fhirio.Deidentify transform
  sdks/go/pkg/beam/io/fhirio/common.go
  sdks/go/pkg/beam/io/fhirio/common_test.go
  sdks/go/pkg/beam/io/fhirio/deidentify.go
  sdks/go/pkg/beam/io/fhirio/deidentify_test.go
  sdks/go/pkg/beam/io/fhirio/execute_bundles_test.go
  sdks/go/pkg/beam/io/fhirio/read_test.go
  sdks/go/pkg/beam/io/fhirio/search_test.go
  sdks/go/pkg/beam/io/fhirio/utils_test.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/io/fhirio/fhirio_test.go
Labels: go, io

#22190 Remove locks around ExecutionStateSampler
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateSampler.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateTracker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContext.java
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/control/ExecutionStateSamplerBenchmark.java
  sdks/java/harness/jmh/src/test/java/org/apache/beam/fn/harness/jmh/control/ExecutionStateSamplerBenchmarkTest.java
Labels: java, runners, dataflow, core

#22175 [BEAM-22089] Fix query retry in Java FirestoreIO
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1ReadFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/QueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1FnRunQueryTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/QueryUtilsTest.java
Labels: java, io, gcp

#17111 [BEAM-14101] [CdapIO] Add ReceiverBuilder for SparkReceiverIO
  sdks/java/io/sparkreceiver/OWNERS
  sdks/java/io/sparkreceiver/build.gradle
  sdks/java/io/sparkreceiver/src/main/java/org/apache/beam/sdk/io/sparkreceiver/ReceiverBuilder.java
  sdks/java/io/sparkreceiver/src/main/java/org/apache/beam/sdk/io/sparkreceiver/WrappedSupervisor.java
  sdks/java/io/sparkreceiver/src/main/java/org/apache/beam/sdk/io/sparkreceiver/package-info.java
  sdks/java/io/sparkreceiver/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ReceiverBuilderTest.java
  settings.gradle.kts
Labels: java, build, io

#22236 RunInference documentation updates.
  sdks/python/apache_beam/ml/inference/base.py
Labels: python, Next Action: Reviewers

#22276 Don't try to parse non-flags as retained pipeline options.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_test.py
Labels: python

#22257 Turn pr bot on for remaining common labels
  .github/REVIEWERS.yml
  scripts/ci/pr-bot/processNewPrs.ts
  scripts/ci/pr-bot/processPrUpdate.ts
Labels: build

#22069 Reviewing the RunInference ReadMe file for clarity.
  sdks/python/apache_beam/examples/inference/README.md
Labels: python, examples

#21786 fixes [21715] - fix ring range read for CassandraIO read()
  sdks/java/io/cassandra/src/main/java/org/apache/beam/sdk/io/cassandra/ReadFn.java
  sdks/java/io/cassandra/src/test/java/org/apache/beam/sdk/io/cassandra/CassandraIOTest.java
Labels: java, io, cassandra

#21959 [Website] add playground section
  website/www/site/assets/js/fix-playground-nested-scroll.js
  website/www/site/assets/scss/_playground.sass
  website/www/site/content/en/get-started/try-beam-playground.md
  website/www/site/layouts/index.html
  website/www/site/layouts/partials/head.html
  website/www/site/layouts/partials/head_homepage.html
  website/www/site/layouts/partials/hooks/body-end.html
  website/www/site/layouts/shortcodes/playground_iframe.html
Labels: website

#22250 Update RunInference documentation
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/runinference.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/runinference_test.py
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
  website/www/site/content/en/documentation/sdks/python.md
  website/www/site/content/en/documentation/transforms/python/elementwise/runinference.md
  website/www/site/content/en/documentation/transforms/python/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: python, website, examples

#22263 Rewrote Java multi-language pipeline quickstart
  website/www/site/content/en/documentation/sdks/java-multi-language-pipelines.md
Labels: website

#22300 Fixed [Playground] DeployExamples, modified "get difference" step, execution tr…
  .github/workflows/playground_deploy_examples.yml
Labels: build, beam-playground

#22259 [Playground]: enable multi file flag for multi file examples
  learning/katas/java/Core Transforms/CoGroupByKey/CoGroupByKey/src/org/apache/beam/learning/katas/coretransforms/cogroupbykey/Task.java
  learning/katas/java/Core Transforms/Side Input/Side Input/src/org/apache/beam/learning/katas/coretransforms/sideinput/Task.java
Labels: learning, beam-playground

#22280 Increase streaming server timeout
  runners/spark/job-server/spark_job_server.gradle
Labels: runners, spark

#22047 [website] Add TPC-DS benchmark documentation
  website/www/site/content/en/documentation/sdks/java.md
  website/www/site/content/en/documentation/sdks/java/testing/tpcds.md
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: website

#17317 [BEAM-14117] Unvendor bytebuddy dependency
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/build-tools/src/main/resources/beam/checkstyle.xml
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AutoValueUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyLocalVariableManager.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ConvertHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SelectByteBuddyHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyOnTimerInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/StableInvokerNamingStrategy.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/options/ProxyInvocationHandlerTest.java
  sdks/java/extensions/protobuf/build.gradle
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
Labels: java, build, extensions, protobuf

#22323 Use npm ci instead of install in CI
  .github/workflows/pr-bot-new-prs.yml
  .github/workflows/pr-bot-pr-updates.yml
  .github/workflows/pr-bot-prs-needing-attention.yml
  .github/workflows/pr-bot-update-reviewers.yml
  .github/workflows/reportGenerator.yml
  .github/workflows/typescript_tests.yml
Labels: build

#22318 Fix typo in use_single_core_per_container logic.
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python

#22320 [#22319] Regenerate proto2_coder_test_messages_pb2.py manually
  sdks/python/apache_beam/coders/coders_test.py
  sdks/python/apache_beam/coders/proto2_coder_test_messages_pb2.py
Labels: python

#22316 cleaned up types in standard_coders.ts
  sdks/typescript/src/apache_beam/coders/standard_coders.ts
Labels: typescript

#22182 JMH module for sdks:java:core with benchmarks for GetterBasedSchemaProvider (resolves #22181)
  sdks/java/core/jmh/build.gradle
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/schemas/GetterBasedSchemaProviderBenchmark.java
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/schemas/RowBundle.java
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/schemas/RowBundles.java
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/schemas/package-info.java
  settings.gradle.kts
Labels: java, build

#22327 Require unique names for stages.
  sdks/typescript/src/apache_beam/internal/pipeline.ts
  sdks/typescript/src/apache_beam/testing/assert.ts
  sdks/typescript/src/apache_beam/transforms/group_and_combine.ts
  sdks/typescript/test/docs/programming_guide.ts
  sdks/typescript/test/primitives_test.ts
Labels: typescript

#22346 [#22181] Fix java package for SDK java core benchmark org.apache.beam.sdk.schemas -> org.apache.beam.sdk.jmh.schemas
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/jmh/schemas/GetterBasedSchemaProviderBenchmark.java
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/jmh/schemas/RowBundle.java
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/jmh/schemas/RowBundles.java
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/jmh/schemas/package-info.java
Labels: java, build

#22345 [BEAM-13015, #21250] Optimize encoding to a ByteString
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/ValidateRunnerXlangTest.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodings.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/PubsubSink.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StateFetcher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingSideInputFetcher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillSink.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternals.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/fn/control/RegisterAndProcessBundleOperation.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/graph/CreateExecutableStageNodeFunction.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/graph/RegisterNodeFunction.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StateFetcherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingGroupAlsoByWindowFnsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingGroupAlsoByWindowsReshuffleDoFnTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternalsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateReaderTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  sdks/java/core/jmh/build.gradle
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/jmh/util/ByteStringOutputStreamBenchmark.java
  sdks/java/core/jmh/src/main/java/org/apache/beam/sdk/jmh/util/package-info.java
  sdks/java/core/jmh/src/test/java/org/apache/beam/sdk/jmh/util/ByteStringOutputStreamBenchmarkTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ByteStringOutputStream.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/ByteStringOutputStreamTest.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExpansionServiceTest.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/JavaClassLookupTransformProviderTest.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundAggregator.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/stream/DataStreams.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataInboundObserver2Test.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataInboundObserverTest.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundAggregatorTest.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/stream/DataStreamsTest.java
  sdks/java/harness/jmh/build.gradle
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/BagUserState.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiTimerBundleTracker.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/MultimapSideInput.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/MultimapUserState.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/BagUserStateTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/FakeBeamFnStateClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/MultimapSideInputTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/MultimapUserStateTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/StateBackedIterableTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/Uuid.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOExternalTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOExternalTest.java
Labels: java, io, runners, dataflow, gcp, kafka, core, fn-execution

#22330 Support combiner lifting.
  sdks/typescript/src/apache_beam/coders/js_coders.ts
  sdks/typescript/src/apache_beam/internal/urns.ts
  sdks/typescript/src/apache_beam/runners/direct_runner.ts
  sdks/typescript/src/apache_beam/transforms/combiners.ts
  sdks/typescript/src/apache_beam/transforms/group_and_combine.ts
  sdks/typescript/src/apache_beam/transforms/internal.ts
  sdks/typescript/src/apache_beam/worker/operators.ts
  sdks/typescript/test/combine_test.ts
  sdks/typescript/test/js_coders_test.ts
Labels: runners, typescript

#22193 [CdapIO] HasOffset interface was implemented
  sdks/java/io/sparkreceiver/build.gradle
  sdks/java/io/sparkreceiver/src/main/java/org/apache/beam/sdk/io/sparkreceiver/HasOffset.java
  settings.gradle.kts
Labels: java, build, io

#22395 Add accept-language header for MPL license
  sdks/java/container/license_scripts/pull_licenses_java.py
Labels: java, docker

#17775 [BEAM-14525] / #21626 Fix for Protobuf getter/setter method name discovery issue
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtilsTest.java
  sdks/java/extensions/protobuf/src/test/proto/proto_byte_buddy_utils_messages.proto
Labels: java, extensions, protobuf

#22256 [Website] change getting window width method
  website/www/site/assets/js/page-nav.js
Labels: website

#22414 Drop `timeseries:postCommit` dependency
  build.gradle.kts
Labels: build

#22412 Removing experimental annotation from JdbcIO
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#22308 Deduplicate identical environments in a pipeline.
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
Labels: python, Next Action: Reviewers

#22418 Skip failing torch post commit test
  sdks/python/apache_beam/ml/inference/pytorch_inference_it_test.py
Labels: python

#22420 Log level fix on local runner
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/python/apache_beam/runners/worker/log_handler.py
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python, Next Action: Reviewers

#22198 Update element_type inference (default_type_hints) for batched DoFns with yields_batches/yields_elements
  sdks/python/apache_beam/transforms/batch_dofn_test.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/typehints/decorators.py
  sdks/python/apache_beam/typehints/decorators_test.py
Labels: python, Next Action: Reviewers, slow-review

#22423 Remove spaces in experiments
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python_reiterate.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Python.groovy
Labels: infra

#22435 Disallow EventTimes in iterators
  sdks/go/pkg/beam/core/funcx/sideinput.go
  sdks/go/pkg/beam/core/funcx/sideinput_test.go
  sdks/go/pkg/beam/core/runtime/exec/input.go
  sdks/go/pkg/beam/core/runtime/exec/optimized/inputs.go
  sdks/go/pkg/beam/core/runtime/exec/optimized/inputs.tmpl
Labels: go, Next Action: Reviewers

#22398 Update the upper bound for google-cloud-recommendations-ai.
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
  sdks/python/apache_beam/utils/retry.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#22437 LoadTestsBuilder: Disallow whitespace in option values
  .test-infra/jenkins/LoadTestsBuilder.groovy
Labels: infra

#22289 Fix overly aggressive null check in RowWriterFactory
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/RowWriterFactory.java
Labels: java, io, gcp

#21949 [WEBSITE] fix relative paths bug on staging in js files
  website/www/site/assets/js/copy-to-clipboard.js
  website/www/site/assets/js/page-nav.js
  website/www/site/assets/scss/_case_study.scss
  website/www/site/layouts/partials/head.html
  website/www/site/layouts/partials/head_homepage.html
Labels: website

#21968 Replace distutils with supported modules.
  .github/workflows/build_wheels.yml
  sdks/java/extensions/python/src/main/resources/org/apache/beam/sdk/extensions/python/bootstrap_beam_venv.py
  sdks/python/apache_beam/examples/complete/juliaset/setup.py
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/container/Dockerfile
  sdks/python/setup.py
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: python, java, build, website, examples, docker, extensions

#22442 Adds KV support for the Java RunInference transform.
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/transforms/DataframeTransform.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/transforms/PythonMap.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/transforms/RunInference.java
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/transforms/RunInferenceTransformTest.java
Labels: java, extensions, Next Action: Reviewers

#21813 Enable configuration to avoid successfully written Table Row propagation as part of WriteResult for StreamingInserts
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchedStreamingWrite.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingInserts.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingWriteTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteResult.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#22455 [Go SDK]: lint fixes for recent import
  sdks/go/pkg/beam/core/runtime/harness/init/init.go
  sdks/go/pkg/beam/util/syscallx/syscall_default.go
  sdks/go/pkg/beam/util/syscallx/syscall_linux.go
Labels: go, Next Action: Reviewers

#22439 Bump timeout for Python Combine LoadTests to 12 hours
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
Labels: infra

#21915 convert windmill min timestamp to beam min timestamp
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimeUtils.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillTimeUtilsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternalsTest.java
Labels: runners, dataflow

#22399 [CdapIO] Fixed necessary warnings
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/CdapIO.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/Plugin.java
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/PluginConfigInstantiationUtils.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/CdapIOTest.java
Labels: java, io, Next Action: Reviewers

#22052 [#22051]: Add read_time support to Google Cloud Datastore connector
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1Test.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/SplitQueryFnIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1ReadIT.java
Labels: java, build, io, gcp

#22450 21730 fix offset resetting
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka, Next Action: Reviewers

#22462 Upgrades pip before installing Beam for Python default expansion service
  sdks/java/extensions/python/src/main/resources/org/apache/beam/sdk/extensions/python/bootstrap_beam_venv.py
Labels: java, extensions, Next Action: Reviewers

#22476 [Go SDK]: Plumb allowed lateness to execution
  CHANGES.md
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
Labels: go, Next Action: Reviewers

#22456 Replace distutils with supported modules.
  .github/workflows/build_wheels.yml
  sdks/java/extensions/python/src/main/resources/org/apache/beam/sdk/extensions/python/bootstrap_beam_venv.py
  sdks/python/apache_beam/examples/complete/juliaset/setup.py
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/container/Dockerfile
  sdks/python/setup.py
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: python, java, build, website, examples, docker, extensions, Next Action: Reviewers

#22481 Restrict google-api-core
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#22461 Fixes #22438. Ensure that WindmillStateReader completes all batched read futures on exceptions
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateReader.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateReaderTest.java
Labels: runners, dataflow

#22370 [22369] Default Metrics for Executable Stages in Samza Runner
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/samza/build.gradle
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaMetricsContainer.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/DoFnOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaDoFnRunners.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/util/DoFnUtils.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/util/DoFnUtilsTest.java
Labels: build, runners, samza, Next Action: Reviewers

#22415 Remove stripping of step name and replace with substring search
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
Labels: python, Next Action: Reviewers

#22444 [Website] Remove beam-summit 2022
  website/www/site/assets/scss/_banner.sass
  website/www/site/assets/scss/_hero.scss
  website/www/site/assets/scss/_navbar-desktop.scss
  website/www/site/assets/scss/main.scss
  website/www/site/layouts/partials/header.html
  website/www/site/static/images/banner_desktop.png
  website/www/site/static/images/banner_mobile.png
Labels: website

#22306 Add read/write PubSub integration example fhirio pipeline
  sdks/go/examples/fhirio/read_write_pubsub.go
  sdks/go/pkg/beam/io/fhirio/common.go
  sdks/go/pkg/beam/io/fhirio/execute_bundles.go
  sdks/go/pkg/beam/io/fhirio/execute_bundles_test.go
  sdks/go/pkg/beam/io/fhirio/read.go
  sdks/go/pkg/beam/io/fhirio/read_test.go
  sdks/go/pkg/beam/io/fhirio/utils_test.go
  sdks/go/test/integration/io/fhirio/fhirio_test.go
Labels: go, examples, io

#22505 [Go SDK]: Remove deprecated Session runner
  sdks/go/pkg/beam/runners/session/session.go
Labels: go, runners, Next Action: Reviewers

#22508 Add Go test status to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build, Next Action: Reviewers

#22484 Fix typo in Datastore V1ReadIT test
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1ReadIT.java
Labels: java, io, gcp

#22376 Remove unnecessary reference to use_runner_v2 experiment in x-lang examples and documentation
  sdks/python/apache_beam/examples/kafkataxi/README.md
  sdks/python/apache_beam/examples/kafkataxi/kafka_taxi.py
  sdks/python/apache_beam/examples/sql_taxi.py
  sdks/python/apache_beam/examples/wordcount_xlang_sql.py
  website/www/site/content/en/documentation/sdks/java-multi-language-pipelines.md
  website/www/site/content/en/documentation/sdks/python-multi-language-pipelines.md
Labels: python, website, examples, Next Action: Reviewers

#22513 Relax the google-api-core dependency.
  sdks/python/setup.py
Labels: python

#22514 [release-2.41.0] Relax google-api-core dependency
  sdks/python/setup.py
Labels: python

#22503 Change _build import from setuptools to distutils
  sdks/python/apache_beam/examples/complete/juliaset/setup.py
Labels: python, examples, Next Action: Reviewers

#22534 Remove stringx package
  sdks/go/examples/native_wordcap/wordcap.go
  sdks/go/examples/streaming_wordcap/wordcap.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/util/stringx/bytes.go
  sdks/go/pkg/beam/core/util/stringx/map.go
Labels: go, examples

#22536 Improve concrete error message
  sdks/go/pkg/beam/validate.go
Labels: go
