Repository apache/beam, pull requests merged in 2022-02, with the labels that each got.

#16675 [BEAM-13430] Revert Spark libraries in Spark runner to provided
  runners/spark/spark_runner.gradle
Labels: runners, spark

#16655 [BEAM-12164]: Add retry protection to DetectNewPartitions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/DetectNewPartitionsDoFn.java
Labels: java, io, gcp

#16586 [BEAM-13731] FhirIO: Add support for BATCH bundle errors.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOTestUtil.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOWriteIT.java
  sdks/java/io/google-cloud-platform/src/test/resources/BUNDLE_PARSE_TEST/batch-success-failure.json
  sdks/java/io/google-cloud-platform/src/test/resources/BUNDLE_PARSE_TEST/transaction-failure.json
  sdks/java/io/google-cloud-platform/src/test/resources/BUNDLE_PARSE_TEST/transaction-success.json
Labels: java, io, gcp

#16649 [BEAM-13011] Adds a link to Multi-language Pipelines Tips wiki page
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#16154 [BEAM-12572] Run python examples on multiple runners
  release/src/main/scripts/mass_comment.py
  sdks/python/apache_beam/examples/complete/autocomplete_test.py
  sdks/python/apache_beam/examples/complete/estimate_pi.py
  sdks/python/apache_beam/examples/complete/estimate_pi_test.py
  sdks/python/apache_beam/examples/complete/game/game_stats_it_test.py
  sdks/python/apache_beam/examples/complete/game/game_stats_test.py
  sdks/python/apache_beam/examples/complete/game/hourly_team_score.py
  sdks/python/apache_beam/examples/complete/game/hourly_team_score_it_test.py
  sdks/python/apache_beam/examples/complete/game/hourly_team_score_test.py
  sdks/python/apache_beam/examples/complete/game/leader_board_it_test.py
  sdks/python/apache_beam/examples/complete/game/leader_board_test.py
  sdks/python/apache_beam/examples/complete/game/user_score.py
  sdks/python/apache_beam/examples/complete/game/user_score_it_test.py
  sdks/python/apache_beam/examples/complete/game/user_score_test.py
  sdks/python/apache_beam/examples/complete/tfidf_test.py
  sdks/python/apache_beam/examples/complete/top_wikipedia_sessions_test.py
  sdks/python/apache_beam/examples/cookbook/bigquery_side_input_it_test.py
  sdks/python/apache_beam/examples/cookbook/bigquery_side_input_test.py
  sdks/python/apache_beam/examples/cookbook/bigquery_tornadoes_test.py
  sdks/python/apache_beam/examples/cookbook/coders_test.py
  sdks/python/apache_beam/examples/cookbook/combiners_test.py
  sdks/python/apache_beam/examples/cookbook/custom_ptransform_test.py
  sdks/python/apache_beam/examples/cookbook/filters_test.py
  sdks/python/apache_beam/examples/dataframe/taxiride_test.py
  sdks/python/apache_beam/examples/streaming_wordcount_debugging_test.py
  sdks/python/pytest.ini
  sdks/python/test-suites/direct/common.gradle
  sdks/python/test-suites/portable/common.gradle
Labels: python, build, examples

#16686 [BEAM-13293] Refactor JDBC IO Go Wrapper
  sdks/go/pkg/beam/io/xlang/jdbcio/jdbc.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/io/xlang/jdbc/jdbc.go
Labels: go, io

#16692 Edit license script for Java, add manual licenses for xz
  build.gradle.kts
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/container/license_scripts/license_script.sh
  sdks/java/container/license_scripts/manual_licenses/xz/COPYING
  sdks/java/container/license_scripts/pull_licenses_java.py
Labels: java, build, docker

#16657 [BEAM-13563] Restructure Kinesis Source for AWS 2
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisReader.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisSource.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/ShardReadersPool.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisReaderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/ShardReadersPoolTest.java
Labels: java, io, aws

#16689 [BEAM-4665] Allow joining a running dataflow pipeline without throwing
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/execute.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go
Labels: go, runners, dataflow

#16696 [BEAM-13801] Add standard coder tests for state backed iterable.
  model/fn-execution/src/main/resources/org/apache/beam/model/fnexecution/v1/standard_coders.yaml
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ModelCoderRegistrar.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/CoderTranslationTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/wire/CommonCoderTest.java
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
  sdks/python/apache_beam/coders/standard_coders_test.py
Labels: python, go, model, runners, core, fn-execution

#16688 [BEAM-13430] Fix provided configuration by removing extendsFrom for implementation
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/flink/flink_runner.gradle
  runners/google-cloud-dataflow-java/worker/legacy-worker/build.gradle
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/datacatalog/build.gradle
  sdks/java/io/hadoop-common/build.gradle
  sdks/java/io/hadoop-format/build.gradle
  sdks/java/io/hcatalog/build.gradle
Labels: java, build, io, extensions, runners, sql, dataflow, hadoop, hcatalog, flink

#16693 [BEAM-12830] Print clearer go version fail message
  sdks/go/prepare_go_version.sh
Labels: go

#16680 [BEAM-13782] Makes DESERIALIZATION_CONTEXT a ThreadLocal
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PipelineOptionsFactory.java
Labels: java

#16682 Add reference to Books to Learning Resources in website
  website/www/site/content/en/documentation/resources/learning-resources.md
  website/www/site/layouts/partials/section-menu/en/get-started.html
Labels: website

#16694 [BEAM-13800] Avoid packaging avro in the java harness jar.
  sdks/java/harness/build.gradle
Labels: java

#16707 [BEAM-13807] Regenerate container images to get TF 2.8.0
  sdks/python/container/license_scripts/dep_urls_py.yaml
  sdks/python/container/py36/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
Labels: python, docker

#16671 [BEAM-13399, BEAM-13683] Eagerly materialize artifacts for automated expansion service, add feature to SQL transform
  sdks/go/examples/xlang/sql/sql.go
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
  sdks/go/pkg/beam/core/runtime/xlangx/registry.go
  sdks/go/pkg/beam/core/runtime/xlangx/registry_test.go
  sdks/go/pkg/beam/core/runtime/xlangx/resolve.go
  sdks/go/pkg/beam/transforms/sql/sql.go
  sdks/go/pkg/beam/transforms/sql/sqlx/sqlx.go
Labels: go, examples

#16698 [BEAM-13802][Playground] [Bugfix] Clean all build directroies, clean kubernetes env
  .github/workflows/build_playground_backend.yml
  .github/workflows/build_playground_frontend.yml
  .github/workflows/playground_deploy_examples.yml
Labels: build

#16705 [BEAM-13293][BEAM-13806] Pipe a SchemaIO flag through Go integration test script.
  sdks/go/test/build.gradle
  sdks/go/test/integration/flags.go
  sdks/go/test/run_validatesrunner_tests.sh
Labels: go

#16706 [BEAM-13605] Modify groupby.apply implementation in preparation for pandas 1.4.0
  sdks/python/apache_beam/dataframe/frames.py
Labels: python

#16436 [BEAM-1330] - DatastoreIO Writes should flush early when duplicate keys arrive
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1WriteIT.java
Labels: java, io, gcp

#16629 [BEAM-13757] adds pane observation in DoFn
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/funcx/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/decode.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fn_arity.go
  sdks/go/pkg/beam/core/runtime/exec/fn_arity.tmpl
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/window_panes.go
  sdks/go/test/integration/primitives/window_panes_test.go
Labels: go

#16650 [BEAM-11971] Fix directrunner timer consistency
  runners/core-java/src/main/java/org/apache/beam/runners/core/TimerInternals.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/DirectTimerInternals.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/ExecutorServiceParallelExecutor.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/QuiescenceDriver.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/StatefulParDoEvaluatorFactory.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/WatermarkManager.java
  runners/local-java/src/main/java/org/apache/beam/runners/local/ExecutionDriver.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, runners, direct, core, local

#16590 [BEAM-13605] Add support for pandas 1.4.0
  CHANGES.md
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/io_test.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
  sdks/python/setup.py
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python

#16718 Change links to Books from Amazon to Publisher
  website/www/site/content/en/documentation/resources/learning-resources.md
Labels: website

#16642 [BEAM-13761] adds Debezium IO wrapper for Go SDK
  sdks/go.sum
  sdks/go/pkg/beam/io/xlang/debeziumio/debezium.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/io/xlang/debezium/debezium.go
  sdks/go/test/integration/io/xlang/debezium/debezium_test.go
Labels: go, io

#16640 [BEAM-12240] Add Jenkins tests for Java 17
  .test-infra/jenkins/job_LoadTests_CoGBK_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_Dataflow_Examples_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_Examples_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_Jpms_Dataflow_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_Jpms_Direct_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Dataflow_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Direct_Java17.groovy
  .test-infra/jenkins/job_PreCommit_SQL_Java17.groovy
  .test-infra/jenkins/job_Precommit_Java_Examples_Dataflow_Java17.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/display/DisplayData.java
  sdks/java/testing/jpms-tests/build.gradle
  sdks/java/testing/jpms-tests/src/main/java/org/apache/beam/sdk/jpmstests/WordCount.java
  sdks/java/testing/test-utils/src/test/java/org/apache/beam/sdk/testutils/jvmverification/JvmVerification.java
Labels: java, build, infra

#16719 [BEAM-13024] Unify PipelineOptions behavior
  sdks/go/pkg/beam/core/runtime/options.go
  sdks/go/pkg/beam/core/runtime/options_test.go
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/direct/direct.go
  sdks/go/pkg/beam/runners/universal/runnerlib/job.go
  sdks/go/test/integration/primitives/pardo.go
  sdks/go/test/integration/primitives/pardo_test.go
Labels: go, runners, dataflow, direct

#16710 [BEAM-13813] Add support for URL artifact to extractStagingToPath
  sdks/go/pkg/beam/artifact/materialize.go
  sdks/go/pkg/beam/artifact/materialize_test.go
Labels: go

#16713 [BEAM-13815] [Playground] [Bugfix] Remove Python SQL Test example from catalog
  sdks/python/apache_beam/transforms/sql_test.py
Labels: python

#16730 Fixed CSS for Case study page
  website/www/site/assets/scss/_case_study.scss
Labels: website

#16712 [BEAM-13663] Remove unused duplicate option for AWS client configuration (AWS Sdk v1)
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/options/AwsOptions.java
Labels: java, io, aws

#16711 [BEAM-13203] Deprecate SnsIO.writeAsync for AWS Sdk v2 due to risk of data loss.
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsIO.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/MockSnsAsyncClient.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/MockSnsAsyncExceptionClient.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/SnsIOWriteTest.java
Labels: java, io, aws

#16709 [BEAM-13811] Fix save_main_session arg in tests examples
  sdks/python/apache_beam/examples/complete/game/hourly_team_score.py
  sdks/python/apache_beam/examples/complete/game/hourly_team_score_it_test.py
  sdks/python/apache_beam/examples/complete/game/user_score.py
Labels: python, examples

#16747 Minor doc tweaks for validating vendoring.
  vendor/README.md
Labels: vendor

#16490 [BEAM-13629] Update URL artifact type for Dataflow Go
  sdks/go/pkg/beam/core/runtime/xlangx/resolve.go
  sdks/go/pkg/beam/core/runtime/xlangx/resolve_test.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/stage.go
Labels: go, runners, dataflow

#16739 [BEAM-13832] Add automated expansion service start-up to JDBCio
  sdks/go/pkg/beam/io/xlang/jdbcio/jdbc.go
Labels: go, io

#16738 [BEAM-13831] Add automated expansion service infra into Debezium Read()
  sdks/go/pkg/beam/io/xlang/debeziumio/debezium.go
Labels: go, io

#16742 Update beam-master version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#16716 [BEAM-13821] Add automated expansion service start-up to KafkaIO
  sdks/go/pkg/beam/io/xlang/kafkaio/kafka.go
  sdks/go/test/integration/io/xlang/kafka/kafka_test.go
Labels: go, io

#16691 [BEAM-13799] Create an Interactive Beam Dataproc package for users to manage clusters with
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager.py
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager_test.py
Labels: python

#16727 [BEAM-11971] remove unsafe Concurrent data structure
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/ExecutorServiceParallelExecutor.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/QuiescenceDriver.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoLifecycleTest.java
Labels: java, runners, direct

#16726 [BEAM-12164]: Parses change streams fields as json / strings
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapper.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/util/TestStructMapper.java
Labels: java, io, gcp

#16752 [BEAM-13147] Avoid nullness issue during init of AwsModule (AWS Sdk v2)
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsModule.java
Labels: java, io, aws

#16748 [BEAM-11971] Revert "Fix timer consistency in direct runner"
  runners/core-java/src/main/java/org/apache/beam/runners/core/TimerInternals.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/DirectTimerInternals.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/ExecutorServiceParallelExecutor.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/QuiescenceDriver.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/StatefulParDoEvaluatorFactory.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/WatermarkManager.java
  runners/local-java/src/main/java/org/apache/beam/runners/local/ExecutionDriver.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, runners, direct, core, local

#16439 [BEAM-13193] Aggregates fn api outbound data/timers of different endpoints
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/fn/data/BeamFnDataGrpcService.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/data/FnDataService.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/data/GrpcDataService.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataBufferingOutboundObserver.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundAggregator.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundObserver.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataSizeBasedBufferingOutboundObserver.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataTimeBasedBufferingOutboundObserver.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundAggregatorTest.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataSizeBasedBufferingOutboundObserverTest.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataTimeBasedBufferingOutboundObserverTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataWriteRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PTransformRunnerFactory.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/BeamFnDataClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/BeamFnDataGrpcClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/BeamFnTimerClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/BeamFnTimerGrpcClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiTimerBundleTracker.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataWriteRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/PTransformRunnerFactoryTestContext.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/BeamFnDataGrpcClientTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/FakeBeamFnTimerClient.java
Labels: java, runners, dataflow, fn-execution

#16648 [BEAM-13767] Migrate a bundle of grade tasks to use configuration avo…
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/flink/job-server/flink_job_server.gradle
  runners/google-cloud-dataflow-java/build.gradle
  runners/portability/java/build.gradle
  runners/samza/job-server/build.gradle
  runners/spark/job-server/spark_job_server.gradle
  sdks/go/container/build.gradle
  sdks/go/test/build.gradle
  sdks/python/build.gradle
  sdks/python/test-suites/direct/common.gradle
  sdks/python/test-suites/direct/xlang/build.gradle
  sdks/python/test-suites/portable/common.gradle
Labels: python, go, build, docker, runners, spark, dataflow, flink, portability, samza

#16728 [BEAM-13823] Update docs for SnowflakeIO
  website/www/site/content/en/documentation/io/built-in/snowflake.md
  website/www/site/data/io_matrix.yaml
Labels: website

#16746 [BEAM-12572] Change python examples jobs to run periodically
  .test-infra/jenkins/job_PostCommit_Python_Examples_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_Examples_Direct.groovy
  .test-infra/jenkins/job_PostCommit_Python_Examples_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Python_Examples_Spark.groovy
Labels: infra

#16750 [DO NOT MERGE] Running seed job for BEAM-12572
  .test-infra/jenkins/job_PostCommit_Python_Examples_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_Examples_Direct.groovy
  .test-infra/jenkins/job_PostCommit_Python_Examples_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Python_Examples_Spark.groovy
Labels: infra

#16542 [BEAM-13015] Add state caching benchmark and move benchmarks to their own module.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/harness/build.gradle
  sdks/java/harness/jmh/build.gradle
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/ProcessBundleBenchmark.java
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/logging/BeamFnLoggingClientBenchmark.java
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/logging/package-info.java
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/package-info.java
  sdks/java/harness/jmh/src/test/java/org/apache/beam/fn/harness/jmh/ProcessBundleBenchmarkTest.java
  sdks/java/harness/jmh/src/test/java/org/apache/beam/fn/harness/jmh/logging/BeamFnLoggingClientBenchmarkTest.java
  settings.gradle.kts
Labels: java, build

#16724 [BEAM-12976] Log projection pushdown optimizations.
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/ProjectionPushdownOptimizer.java
Labels: runners, core

#16765 [BEAM-13419] Check for initialization in dataflow runner
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
Labels: go, runners, dataflow

#16764 [BEAM-13293] consistent naming for expansion service address and flag update
  sdks/go/pkg/beam/io/xlang/jdbcio/jdbc.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/io/xlang/jdbc/jdbc.go
  sdks/go/test/integration/io/xlang/jdbc/jdbc_test.go
Labels: go, io

#16743 [BEAM-13830] update dependency for debeziumio expansion service
  sdks/java/io/expansion-service/build.gradle
Labels: java, io

#16770 [BEAM-13806] Shutting down SchemaIO expansion services from Go VR script
  sdks/go/test/run_validatesrunner_tests.sh
Labels: go

#16627 [release-2.36.0] Update website/changelog for release 2.36.0
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.36.0.md
  website/www/site/content/en/get-started/downloads.md
  website/www/site/data/authors.yml
  website/www/site/static/.htaccess
Labels: website

#16767 [BEAM-13848] Update numpy intersphinx link
  sdks/python/scripts/generate_pydoc.sh
Labels: python

#16729 [BEAM-13647] Use role for Go worker binary.
  model/pipeline/src/main/proto/beam_runner_api.proto
  sdks/go/container/boot.go
  sdks/go/pkg/beam/artifact/materialize.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/execute.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/stage.go
  sdks/go/pkg/beam/runners/universal/runnerlib/execute.go
  sdks/go/pkg/beam/runners/universal/runnerlib/stage.go
Labels: go, model, docker, runners, dataflow

#16756 [BEAM-13840] Fix usage of legacy rawtypes in AWS modules
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/dynamodb/DynamoDBIO.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/sns/SnsIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsIO.java
Labels: java, io, aws

#16755 [BEAM-13839] Upgrade zstd-jni to version 1.5.2-1
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#16751 [BEAM-13606] Fail bundles with failed BigTable mutations
  sdks/python/apache_beam/examples/cookbook/bigtableio_it_test.py
  sdks/python/apache_beam/io/gcp/bigtableio.py
  sdks/python/apache_beam/io/gcp/bigtableio_test.py
Labels: python, examples, io, gcp

#16517 BEAM-13439 Type annotation for ptransform_fn
  sdks/python/apache_beam/transforms/ptransform.py
Labels: python

#16714 [BEAM-13246] Add support for S3 Bucket Key at the object level (AWS Sdk v2)
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/S3Options.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/S3FileSystemConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/S3WritableByteChannel.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/S3TestUtils.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/S3WritableByteChannelTest.java
Labels: java, io, aws

#16610 [BEAM-12650] Jenkins README updated with all existing tests
  .test-infra/jenkins/README.md
Labels: infra

#16761 [BEAM-12914] Add missing 3.9 opcodes to type inference.
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/trivial_inference.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
Labels: python

#16489 [BEAM-13321] Initial BigQueryIO externalization.
  sdks/java/extensions/schemaio-expansion-service/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaIOProvider.java
Labels: java, io, extensions, gcp

#16769 [BEAM-13193] Enable process bundle response elements embedding in Jav…
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundAggregator.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundObserver.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundAggregatorTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PTransformRunnerFactory.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/BeamFnDataClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/BeamFnDataGrpcClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataWriteRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/PTransformRunnerFactoryTestContext.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/BeamFnDataGrpcClientTest.java
Labels: java

#16780 [BEAM-13830] added a debeziumio_expansion_addr flag to GoSDK
  sdks/go/test/build.gradle
  sdks/go/test/integration/flags.go
  sdks/go/test/integration/io/xlang/debezium/debezium_test.go
  sdks/go/test/run_validatesrunner_tests.sh
  sdks/java/io/expansion-service/build.gradle
Labels: java, go, io

#16783 Apply spotless.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaIOProvider.java
Labels: java, io, gcp

#16782 Update Dataflow Python dev container images.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#16785 [BEAM-13858] Fix broken github action on :sdks:go:examples:wordCount
  sdks/go/examples/build.gradle
Labels: go, examples

#16598 [BEAM-13732] Go SDK BigQuery IO wrapper. Initial implementation.
  sdks/go/pkg/beam/io/xlang/bigqueryio/bigquery.go
  sdks/go/pkg/beam/io/xlang/schemaio/schemaio.go
  sdks/go/pkg/beam/io/xlang/schemaio/schemaio_test.go
Labels: go, io

#16786 [BEAM-13732] Add example for Go BigQuery IO wrapper.
  sdks/go/examples/kafka/taxi.go
  sdks/go/examples/xlang/bigquery/wordcount.go
Labels: go, examples

#16784 [BEAM-13732] Switch x-lang BigQueryIO expansion service to GCP one.
  sdks/java/extensions/schemaio-expansion-service/build.gradle
  sdks/java/io/google-cloud-platform/expansion-service/build.gradle
Labels: java, io, extensions, gcp

#16778 [BEAM-13193] Allow BeamFnDataOutboundObserver to flush elements.
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundAggregator.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundObserver.java
Labels: java

#16777 [adhoc] Remove remaining usage of Powermock from aws2.
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/WatermarkPolicyTest.java
Labels: java, io, aws

#16775 [BEAM-13803] Add support for native iterable side inputs to the Go SDK
  sdks/go/pkg/beam/core/runtime/exec/data.go
  sdks/go/pkg/beam/core/runtime/exec/sideinput.go
  sdks/go/pkg/beam/core/runtime/exec/sideinput_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr.go
Labels: go

#16776 [BEAM-11095] Better error handling for illegal emit functions
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/funcx/fn_test.go
  sdks/go/pkg/beam/core/funcx/output.go
  sdks/go/pkg/beam/core/typex/class.go
Labels: go

#16613 Supporting JdbcIO driver in classpath for x-lang
  sdks/java/io/expansion-service/build.gradle
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
  sdks/python/apache_beam/io/jdbc.py
  sdks/python/apache_beam/io/kafka.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_test.py
  sdks/python/apache_beam/utils/subprocess_server.py
  sdks/python/setup.py
Labels: python, java, io

#15848 [BEAM-13835] An any-type implementation for readWithPartitions for JdbcIO
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/common/build.gradle
  sdks/java/io/common/src/test/java/org/apache/beam/sdk/io/common/DatabaseTestHelper.java
  sdks/java/io/jdbc/build.gradle
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcUtil.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOAutoPartitioningIT.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOIT.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcUtilTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/OtherJdbcTypesIT.java
Labels: java, build, io, jdbc

#16792 [release-2.36.0][website] Fix github release notes script, header for release 2.36.0
  release/src/main/scripts/publish_github_release_notes.sh
  website/www/site/content/en/blog/beam-2.28.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: build, website

#16796 Use shell to run python for setupVirtualenv
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#16759 Add missing Bug and contributing user
  website/www/site/content/en/blog/beam-2.35.0.md
Labels: website

#16797 [BEAM-13830] Properly shut down Debezium expansion service in IT script.
  sdks/go/test/run_validatesrunner_tests.sh
Labels: go

#16791 [BEAM-12920] Assume that bare generator types define simple generators
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
Labels: python

#16801 [BEAM-13867] Drop NaNs returned by nlargest in flight_delays example pipeline
  sdks/python/apache_beam/examples/dataframe/flight_delays.py
Labels: python, examples

#16794 [BEAM-11095] Better error handling for iter/reiter/multimap
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/funcx/fn_test.go
  sdks/go/pkg/beam/core/funcx/sideinput.go
Labels: go

#16317 Fix allowedSkew log line to properly print large skews
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java, runners, core

#16812 [BEAM-12000] Fix typo in portable Python job definition
  .test-infra/jenkins/job_PreCommit_Portable_Python.groovy
Labels: infra

#16253 [BEAM-12672] Add plugin to retry flaky tests
  .test-infra/jenkins/job_PreCommit_Java.groovy
  .test-infra/jenkins/job_PreCommit_Python.groovy
  buildSrc/build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, infra

#16813 [release-2.37.0] CP a typo fix in job_PreCommit_Portable_Python.groovy
  .test-infra/jenkins/job_PreCommit_Portable_Python.groovy
Labels: infra

#16806 [BEAM-12164]: Fixes SpannerChangeStreamIT
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamIT.java
Labels: java, io, gcp

#16789 Update license_script.sh
  sdks/java/container/license_scripts/license_script.sh
Labels: java, docker

#16816 [BEAM-13908] [Coverage] Better testing coverage for gcpopts
  sdks/go/pkg/beam/options/gcpopts/options_test.go
Labels: go

#16809 [BEAM-12164] Added integration test for strict timestamp ordering per key globally for Spanner change streams.
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamOrderedWithinKeyGloballyIT.java
Labels: java, io, gcp

#16633 [BEAM-4032]Support staging binary distributions of dependency packages
  CHANGES.md
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/portability/requirements_cache_it_test.py
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/runners/portability/stager_test.py
  sdks/python/container/piputil.go
  sdks/python/test-suites/portable/common.gradle
Labels: python, docker

#16803 Minor: Fix link to nexmark benchmarks
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#16831 [release-2.37.0][BEAM-12164]: Fixes SpannerChangeStreamIT (#16806)
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamIT.java
Labels: java, io, gcp

#16832 Regenerate python container base_image_requirements.txt
  sdks/python/container/py36/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#16661 [BEAM-9195] Bump org.testcontainers to 1.16.3
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/debezium/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/build.gradle
Labels: java, build, io, elasticsearch

#16790 [BEAM-13862][Playground][Bugfix] Fix name of project Id for SCIO GHA
  .github/workflows/build_playground_backend.yml
Labels: build

#16820 [BEAM-13836] Fix the answers placeholders locations in the Python katas
  learning/katas/python/Common Transforms/Aggregation/Count/task-info.yaml
  learning/katas/python/Common Transforms/Aggregation/Largest/task-info.yaml
  learning/katas/python/Common Transforms/Aggregation/Mean/task-info.yaml
  learning/katas/python/Common Transforms/Aggregation/Smallest/task-info.yaml
  learning/katas/python/Common Transforms/Aggregation/Sum/task-info.yaml
  learning/katas/python/Common Transforms/Filter/Filter/task-info.yaml
  learning/katas/python/Common Transforms/Filter/ParDo/task-info.yaml
  learning/katas/python/Common Transforms/WithKeys/WithKeys/task-info.yaml
  learning/katas/python/Common Transforms/WithKeys/WithKeys/task.py
  learning/katas/python/Core Transforms/Branching/Branching/task-info.yaml
  learning/katas/python/Core Transforms/CoGroupByKey/CoGroupByKey/task-info.yaml
  learning/katas/python/Core Transforms/Combine/Combine PerKey/task-info.yaml
  learning/katas/python/Core Transforms/Combine/CombineFn/task-info.yaml
  learning/katas/python/Core Transforms/Combine/Simple Function/task-info.yaml
  learning/katas/python/Core Transforms/Composite Transform/Composite Transform/task-info.yaml
  learning/katas/python/Core Transforms/Flatten/Flatten/task-info.yaml
  learning/katas/python/Core Transforms/GroupByKey/GroupByKey/task-info.yaml
  learning/katas/python/Core Transforms/Map/FlatMap/task-info.yaml
  learning/katas/python/Core Transforms/Map/Map/task-info.yaml
  learning/katas/python/Core Transforms/Map/ParDo OneToMany/task-info.yaml
  learning/katas/python/Core Transforms/Map/ParDo/task-info.yaml
  learning/katas/python/Core Transforms/Partition/Partition/task-info.yaml
  learning/katas/python/Core Transforms/Side Input/Side Input/task-info.yaml
  learning/katas/python/Core Transforms/Side Input/Side Input/task.py
  learning/katas/python/Core Transforms/Side Output/Side Output/task-info.yaml
  learning/katas/python/Examples/Word Count/Word Count/task-info.yaml
  learning/katas/python/IO/TextIO/ReadFromText/task-info.yaml
  learning/katas/python/IO/TextIO/ReadFromText/task.py
  learning/katas/python/Introduction/Hello Beam/Hello Beam/task-info.yaml
  learning/katas/python/Triggers/Early Triggers/Early Triggers/task-info.yaml
  learning/katas/python/Triggers/Early Triggers/Early Triggers/task.py
  learning/katas/python/Triggers/Early Triggers/Early Triggers/tests.py
  learning/katas/python/Triggers/Event Time Triggers/Event Time Triggers/task-info.yaml
  learning/katas/python/Triggers/Event Time Triggers/Event Time Triggers/task.py
  learning/katas/python/Triggers/Event Time Triggers/Event Time Triggers/tests.py
  learning/katas/python/Triggers/Window Accumulation Mode/Window Accumulation Mode/task-info.yaml
  learning/katas/python/Triggers/Window Accumulation Mode/Window Accumulation Mode/task.py
  learning/katas/python/Triggers/Window Accumulation Mode/Window Accumulation Mode/tests.py
  learning/katas/python/Windowing/Adding Timestamp/ParDo/task-info.yaml
  learning/katas/python/Windowing/Fixed Time Window/Fixed Time Window/task-info.yaml
  learning/katas/python/requirements.txt
Labels: learning

#16839 Update 2.36.0 blog post to mention ARM64 support
  website/www/site/content/en/blog/beam-2.36.0.md
Labels: website

#16829 Minor: Disable checker framework in nightly snapshot
  .test-infra/jenkins/job_Release_NightlySnapshot.groovy
Labels: infra

#16788 [BEAM-13860] Make `DoFn.infer_output_type` return element type
  CHANGES.md
  sdks/python/apache_beam/dataframe/schemas.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/transforms/core.py
Labels: python

#16848 [BEAM-13941][Playground] Fix example link on the Playground get-started page
  website/www/site/content/en/get-started/try-beam-playground.md
Labels: website

#16830 [BEAM-13894] Unit test utilities in the ptest package
  sdks/go/pkg/beam/testing/ptest/ptest.go
  sdks/go/pkg/beam/testing/ptest/ptest_test.go
Labels: go

#16811 [BEAM-13919] Annotate PerKeyOrderingTest with UsesStatefulParDo.
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/PerKeyOrderingTest.java
Labels: java

#16772 [BEAM-12712] Spark: Exclude looping timer tests.
  runners/spark/job-server/spark_job_server.gradle
  runners/spark/spark_runner.gradle
Labels: runners, spark

#16833 [BEAM-13922] [Coverage] Make boot.go more testable and add tests
  sdks/go/container/boot.go
  sdks/go/container/boot_test.go
Labels: go, docker

#16851 Exclude SpannerChangeStream IT from Dataflow V1 postcommit
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#16836 [BEAM-13930] Address StateSpec consistency issue between Runner and Fn API.
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/ParDoTranslationTest.java
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/transforms/userstate.py
  sdks/python/apache_beam/transforms/userstate_test.py
Labels: python, model, runners, core

#16840 Add tests for processing time continuation trigger
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupByKeyTest.java
Labels: java

#16852 [Cherrypick 2.37.0][BEAM-13930] Address StateSpec consistency issue between Runner and Fn API.
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/ParDoTranslation.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/ParDoTranslationTest.java
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/transforms/userstate.py
  sdks/python/apache_beam/transforms/userstate_test.py
Labels: python, model, runners, core

#16858 [BEAM-13854] Document casting trick for Avro value serializer in KafkaIO
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
Labels: java, io, kafka

#16838 [BEAM-13931] - make sure large rows cause BQIO to throw an error
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/InsertRetryPolicy.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
Labels: java, io, gcp

#16861 [BEAM-13694] Force hadoop-hdfs-client in hadoopVersion tests for hdfs
  sdks/java/io/hadoop-file-system/build.gradle
Labels: java, io, hadoop

#16807 [Website] Ricardo - added case study feedback
  website/www/site/assets/scss/_case_study.scss
  website/www/site/content/en/case-studies/ricardo.md
  website/www/site/layouts/case-studies/baseof.html
  website/www/site/layouts/shortcodes/case_study_feedback.html
Labels: website

#16864 [release-2.37.0][BEAM-13694] Force hadoop-hdfs-client in hadoopVersion tests for hdfs
  sdks/java/io/hadoop-file-system/build.gradle
Labels: java, io, hadoop

#16866 [release-2.37.0][BEAM-13919] Annotate PerKeyOrderingTest with UsesStatefulParDo
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/PerKeyOrderingTest.java
Labels: java

#16735 [BEAM-13827] - fix medium file size upload to s3
  sdks/python/apache_beam/io/aws/s3io.py
  sdks/python/apache_beam/io/aws/s3io_test.py
Labels: python, io, aws

#16862 [cherry-pick][release-2.37.0][BEAM-13931] - make sure large rows cause BQIO to throw an error
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/InsertRetryPolicy.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
Labels: java, io, gcp

#16865 Create test category for UsesProcessingTimeTimers are exclude from Samza
  runners/samza/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesProcessingTimeTimers.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupByKeyTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, runners, samza

#16856 [BEAM-13202] Add Coder to CountIfFn.Accum
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/transform/agg/CountIf.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/transform/agg/CountIfTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/transform/agg/VarianceFnTest.java
Labels: java, extensions, sql

#16867 [BEAM-13955] Fix pylint breakage from #16836
  sdks/python/apache_beam/transforms/userstate_test.py
Labels: python

#16868 [release-2.37.0][BEAM-13955] Fix pylint breakage from #16836
  sdks/python/apache_beam/transforms/userstate_test.py
Labels: python

#16869 [adhoc] Migrate KinesisIOIT to use ITEnvironment for Localstack based IT tests
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOIT.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisTestOptions.java
Labels: java, io, aws

#16736 Update Java LTS roadmap info on website for Java 17
  website/www/site/content/en/roadmap/_index.md
  website/www/site/content/en/roadmap/java-sdk.md
Labels: website

#16873 [release-2.37.0][BEAM-13921] filter out debeziumIO test for spark runner
  sdks/go/test/integration/integration.go
Labels: go

#16874 Bump dataflow.fnapi_container_version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#16872 [BEAM-13959] Fix StorageApi writes when a field is named f
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp

#16859 [BEAM-13952] Disable AfterSynchronizedProcessingTime test on Dataflow
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#16760 [BEAM-13563] Introducing common AWS ClientBuilderFactory (AWS Sdk v2)
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/ClientBuilderFactory.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/ClientConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/HttpClientConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/RetryConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/package-info.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/dynamodb/BasicDynamoDbClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDbClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/AWSClientsProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/BasicKinesisProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisSource.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/SimplifiedKinesisClient.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsModule.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsOptions.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsSerializableUtils.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/DefaultS3ClientBuilderFactory.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/BasicSnsAsyncClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/BasicSnsClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/BasicSqsClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsUnboundedReader.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsUnboundedSource.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/ITEnvironment.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/MockClientBuilderFactory.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/common/ClientBuilderFactoryTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/common/ClientConfigurationTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/common/RetryConfigurationTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIOIT.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIOReadTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIOWriteTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/AmazonKinesisMock.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOIT.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOReadTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisMockReadTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisServiceMock.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/AwsModuleTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/AwsOptionsTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/DefaultS3ClientBuilderFactoryTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/S3ResourceIdTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/S3TestUtils.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/SnsIOIT.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/SnsIOTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsIOIT.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsIOReadTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsIOTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsIOWriteTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsUnboundedReaderTest.java
Labels: java, build, io, aws

#16615 [BEAM-13946] Add get_dummies(), a non-deferred column operation on categorical columns
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
Labels: python

#16885 Fix final allowskew error to properly handle a large allowedSkew
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java

#16774 [release-2.36.0] Fix pickler argument for 2.36 blog
  website/www/site/content/en/blog/beam-2.36.0.md
Labels: website

#16881 [adhoc] Avoid using SerializablePipelineOptions for testing to minimize dependencies
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/AwsOptionsTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/S3OptionsTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/SerializationTestUtil.java
Labels: java, io, aws

#16886 [release-2.37.0][BEAM-13959] Fix StorageApi writes when a field is named f
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp

#16890 [BEAM-12164]: fix bug when retrieving either string or json
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapper.java
Labels: java, io, gcp

#16526 [BEAM-13051][C] Enable pylint warnings (misplaced-bare-raise/no-member)
  sdks/python/.pylintrc
  sdks/python/apache_beam/io/external/xlang_kinesisio_it_test.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
Labels: python, io

#16900 [cherry-pick][release-2.37.0][BEAM-12164]: fix bug when retrieving either string or json #16890
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapper.java
Labels: java, io, gcp

#16741 [BEAM-13812] Integrate DataprocClusterManager into Interactive Environment
  sdks/python/apache_beam/runners/interactive/dataproc/__init__.py
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager.py
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager_test.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_beam_test.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/interactive_environment_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
  sdks/python/setup.py
Labels: python

#16902 Remove build status from PR
  .github/PULL_REQUEST_TEMPLATE.md
  .test-infra/BUILD_STATUS.md
Labels: build, infra

#16914 [BEAM-13738] Reenable ignored SQS test after bumping elasticmq for fixed version
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsUnboundedReaderTest.java
  sdks/java/io/amazon-web-services2/src/test/resources/application.conf
Labels: java, io, aws

#16896 case study pages - improvements and fixes
  website/ADD_LOGO.md
  website/www/site/assets/scss/_case_study.scss
  website/www/site/content/en/case-studies/hop.md
  website/www/site/content/en/community/case-study.md
  website/www/site/layouts/case-studies/list.html
  website/www/site/static/images/logos/powered-by/hop.png
  website/www/site/static/images/logos/powered-by/hop.svg
Labels: website

#16915 Palo Alto case study
  website/www/site/assets/scss/_case_study.scss
  website/www/site/content/en/case-studies/paloalto.md
  website/www/site/static/images/case-study/paloalto/data_lake_scheme.png
  website/www/site/static/images/case-study/paloalto/direct_serialization.png
  website/www/site/static/images/case-study/paloalto/subscription_service_scheme.png
  website/www/site/static/images/case-study/paloalto/talat_uyarer.png
  website/www/site/static/images/logos/powered-by/paloalto.png
Labels: website

#16720 [BEAM-13796] projection pushdown in BQ IO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageQueryTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadTest.java
Labels: java, io, gcp

#16925 [BEAM-12645] Fix code-cov flakes due to monorepo.
  .github/codecov.yml
  .github/workflows/go_tests.yml
  sdks/python/tox.ini
Labels: python, build

#16918 [BEAM-13980] Re-add method gone missing in af2f8ee6
  sdks/python/apache_beam/io/aws/clients/s3/boto3_client.py
  website/www/site/content/en/blog/beam-2.36.0.md
Labels: python, website, io, aws
