Repository apache/beam, pull requests merged in 2023-02, with the labels that each got.

#25094 Externalizing the StreamWriter parameters for StorageWrites
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#25069 Run typedoc to generate typescript docs.
  release/src/main/scripts/build_release_candidate.sh
  sdks/typescript/README-dev.md
  sdks/typescript/README.md
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
  sdks/typescript/src/apache_beam/coders/coders.ts
  sdks/typescript/src/apache_beam/coders/js_coders.ts
  sdks/typescript/src/apache_beam/coders/row_coder.ts
  sdks/typescript/src/apache_beam/examples/wordcount_textio.ts
  sdks/typescript/src/apache_beam/pvalue.ts
  sdks/typescript/src/apache_beam/runners/direct_runner.ts
  sdks/typescript/src/apache_beam/runners/runner.ts
  sdks/typescript/src/apache_beam/testing/assert.ts
  sdks/typescript/src/apache_beam/testing/multi_pipeline_runner.ts
  sdks/typescript/src/apache_beam/transforms/external.ts
  sdks/typescript/src/apache_beam/transforms/flatten.ts
  sdks/typescript/src/apache_beam/transforms/group_and_combine.ts
  sdks/typescript/src/apache_beam/transforms/internal.ts
  sdks/typescript/src/apache_beam/transforms/pardo.ts
  sdks/typescript/src/apache_beam/transforms/python.ts
  sdks/typescript/src/apache_beam/transforms/transform.ts
  sdks/typescript/src/apache_beam/transforms/window.ts
  sdks/typescript/src/apache_beam/utils/utils.ts
  sdks/typescript/test/primitives_test.ts
  sdks/typescript/test/wordcount.ts
  sdks/typescript/typedoc.json
Labels: build, runners, typescript

#25045 Update/add torch versions to tox.ini
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers, slow-review

#25214 [Tour of Beam]Add support for templates in task hints
  learning/tour-of-beam/backend/internal/fs_content/load.go
  learning/tour-of-beam/backend/internal/fs_content/load_test.go
  learning/tour-of-beam/backend/samples/api/get_unit_content.json
  learning/tour-of-beam/backend/samples/learning-content/module 1/group/unit-challenge/hint1.md
  learning/tour-of-beam/backend/samples/learning-content/module 1/unit-challenge/hint1.md
  learning/tour-of-beam/backend/samples/learning-content/module 2/unit-challenge/hint1.md
Labels: learning

#25247 Fix XVR_Direct time out
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_Direct.groovy
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_Samza.groovy
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_Spark.groovy
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_Spark3.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/test-suites/direct/common.gradle
Labels: python, build, infra, Next Action: Reviewers

#25239 Exclude changestream integration test on DataflowLegacyWorker
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#25230 [Tour of Beam] [Task] Fix dependency management for 2.44 Playground java runner
  .github/workflows/build_playground_backend.yml
  .github/workflows/playground_deploy_backend.yml
  .github/workflows/playground_examples_ci_reusable.yml
  playground/backend/containers/java/Dockerfile
  playground/backend/containers/java/build.gradle
Labels: build

#24837 Enable async processing for SDF on Spark runner #23852
  CHANGES.md
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDoNaiveBounded.java
  runners/spark/spark_runner.gradle
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/MultiDoFnFunction.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkInputDataProcessor.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkProcessContext.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/TransformTranslator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/StreamingTransformTranslator.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/SparkInputDataProcessorTest.java
Labels: runners, spark, core

#25200 Add sideinputs to the RunInference Transform
  CHANGES.md
  sdks/python/apache_beam/examples/inference/run_inference_side_inputs.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/runinference_test.py
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
  sdks/python/apache_beam/ml/inference/utils.py
Labels: python, examples, Next Action: Reviewers

#25287 Don't raise an error if update_model is not implemented for custom model handlers
  sdks/python/apache_beam/ml/inference/base.py
Labels: python, Next Action: Reviewers

#24804 [WebSite] Add new Python quickstart
  website/www/site/content/en/get-started/quickstart-py.md
  website/www/site/content/en/get-started/quickstart/python.md
  website/www/site/layouts/partials/section-menu/en/get-started.html
Labels: website

#25206 [CdapIO] Implement windowed write
  sdks/java/io/cdap/src/main/java/org/apache/beam/sdk/io/cdap/CdapIO.java
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/CdapIOTest.java
Labels: java, io, Next Action: Reviewers

#25297 [Spark Dataset runner] Fix collection encoder bug leading to corrupt data
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/helpers/EncoderHelpers.java
Labels: runners, spark

#25187 [Spark Dataset runner] Break linage of dataset to reduce Spark planning overhead in case of large query plans
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/EvaluationContext.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/PipelineTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/TransformTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CombineGloballyTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CombineGroupedValuesTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/CombinePerKeyTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/FlattenTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/GroupByKeyTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ImpulseTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ReadSourceTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ReshuffleTranslatorBatch.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/WindowAssignTranslatorBatch.java
Labels: runners, spark

#25266 Fix flaky test due to create bigquery dataset naming conflict
  .test-infra/tools/stale_bq_datasets_cleaner.sh
  sdks/python/apache_beam/io/gcp/big_query_query_to_table_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
  sdks/python/apache_beam/io/gcp/tests/utils.py
Labels: python, infra, io, gcp, Next Action: Reviewers

#25302 Embed ML video to docs
  website/www/site/content/en/documentation/ml/overview.md
Labels: website

#25304 [Go SDK] skip automated expansion test
  sdks/go/pkg/beam/core/runtime/xlangx/expand_test.go
Labels: go, Next Action: Reviewers

#25306 Add banner highlighting beam ml
  website/www/site/assets/scss/_banner.sass
  website/www/site/assets/scss/_hero.scss
  website/www/site/assets/scss/_navbar-desktop.scss
  website/www/site/assets/scss/main.scss
  website/www/site/content/en/get-started/resources/videos-and-podcasts.md
  website/www/site/layouts/partials/header.html
  website/www/site/static/images/banner_desktop.jpg
  website/www/site/static/images/banner_mobile.jpg
Labels: website

#25245 Optimize to use cached output receiver instead of creating one on DoFn invocation #21250
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFnOutputReceivers.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java

#25307 [cherry-pick] skip automated expansion test
  sdks/go/pkg/beam/core/runtime/xlangx/expand_test.go
Labels: go, Next Action: Reviewers

#25219 Optimize PGBK table to only update cache when there is a large enough size change. #21250
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/PrecombineGroupingTableBenchmark.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/Caches.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PrecombineGroupingTable.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/PrecombineGroupingTableTest.java
Labels: java, build

#25291 Swap setting a context from being on the hot path when we emit elements to only be done during bundle creation and teardown #21250
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistry.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PTransformFunctionRegistry.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ExecutionStateSamplerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistryTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PTransformFunctionRegistryTest.java
Labels: java

#25177 Basic SchemaTransform implementation for SQLTransform.
  sdks/java/extensions/sql/expansion-service/build.gradle
  sdks/java/extensions/sql/expansion-service/src/main/java/org/apache/beam/sdk/extensions/sql/expansion/SqlTransformSchemaTransformProvider.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/SqlTransform.java
Labels: java, extensions, sql, Next Action: Reviewers

#25145 Clarify llm download/loading instructions
  sdks/python/apache_beam/examples/inference/large_language_modeling/main.py
  website/www/site/content/en/documentation/ml/large-language-modeling.md
Labels: python, website, examples

#25224 Allow for setMaxRetryJobs in BigQueryIO to be configurable
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#25342 [cherry-pick] delete file used in internal testing
  sdks/go/pkg/beam/core/runtime/xlangx/expand_test.go
Labels: go, Next Action: Reviewers

#25290 Don't discard output column names
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/planner/BeamRuleSets.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/AbstractBeamCalcRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rule/LogicalCalcMergeRule.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlMultipleSchemasTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/rule/IOPushDownRuleTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/test/TestTableProviderWithFilterAndProjectPushDown.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/test/TestTableProviderWithFilterPushDown.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/test/TestTableProviderWithProjectPushDown.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLQueryPlanner.java
Labels: java, extensions, sql, Next Action: Reviewers

#25349 Fix output timestamp for multi output receiver in FnApiDoFnRunner #25344
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java

#25300 Change UnboundedScheduledExecutorService to avoid creating threads when there is contention on the SynchronousQueue.
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/UnboundedScheduledExecutorService.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/UnboundedScheduledExecutorServiceTest.java
Labels: java

#25348 Upgrading spring-expression to latest patch version
  playground/backend/containers/java/Dockerfile
  sdks/java/io/kafka/build.gradle
Labels: java, io, kafka

#25351 Better batching for higher fixed costs.
  CHANGES.md
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python, Next Action: Reviewers

#25311 [BEAM-12164] Enforced only positive state transitions from CREATED -> SCHEDULED -> RUNNING -> FINISHED for the change stream metadata table.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDao.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDaoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25363 Add simple instructions on how to use Bigtable Change Stream API
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
Labels: java, io, gcp, Next Action: Reviewers

#25246 Added Role-based access control integration tests for Spanner Change …
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/ChangeStreamTestPipelineOptions.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/IntegrationTestEnv.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamIT.java
Labels: java, io, gcp, Next Action: Reviewers

#25313 Fail the pipeline when a mismatched Python or Beam version is detected.
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/transforms/environments.py
Labels: python, Next Action: Reviewers

#25226 Add TensorRT runinference example for Text Classification
  sdks/python/apache_beam/examples/inference/tensorrt_text_classification.py
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/content/en/documentation/ml/tensorrt-runinference.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, examples, Next Action: Reviewers

#25254 Playground Frontend Test workflow (#24728)
  .github/workflows/playground_frontend_test.yml
  playground/frontend/README.md
  playground/frontend/build.gradle
  playground/frontend/lib/config.example.dart
Labels: build, Next Action: Reviewers

#25384 [#21516] Simplify composite literal in metrics_test.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/metrics_test.go
Labels: go, runners, dataflow, Next Action: Reviewers

#25385 Replace use of deprecated strings.Title function
  sdks/go/cmd/specialize/main.go
  sdks/go/pkg/beam/util/shimx/generate.go
Labels: go, Next Action: Reviewers

#25260 Minor updates to typescript generation.
  release/src/main/scripts/build_release_candidate.sh
  sdks/typescript/package.json
Labels: build, typescript

#25369 Explicitly set mongo container version for testing
  build.gradle.kts
  sdks/python/test-suites/direct/common.gradle
Labels: python, build

#24725 Update upper bound for numpy.
  sdks/python/apache_beam/coders/row_coder_test.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
  sdks/python/build-requirements.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, docker, Next Action: Reviewers

#25370 Support batching as config in RunInference (sklearn and pytorch)
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
Labels: python, Next Action: Reviewers

#25265 Support samza portable UDF metrics.
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaMetricsBundleProgressHandler.java
Labels: runners, samza

#25268 Adding support for @SchemaFieldDescription annotation that allows ann…
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/FieldValueTypeInformation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/annotations/SchemaFieldDescription.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/StaticSchemaInference.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/AutoValueSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaBeanSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaFieldSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/TestJavaBeans.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/TestPOJOs.java
Labels: java, Next Action: Reviewers

#24999 Adding SpannerIO.readChangeStreams support for SchemaTransform
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/ReadSpannerSchema.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangestreamsReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamsSchemaTransformIT.java
Labels: java, io, gcp, Next Action: Reviewers

#25395 Add min and max batch size args to Modelhandler used in example
  sdks/python/apache_beam/examples/inference/pytorch_image_classification.py
Labels: python, examples, Next Action: Reviewers

#25056 Beam/sdks/io/gcp/java/healcare/hl7v2 io read
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2Message.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2ReadParameter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2ReadResponse.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2ReadResponseCoder.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IOReadWriteIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IOTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25353 fix doc on bq sxtorage
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: website

#25399 Fix typo - metdata -> metadata
  sdks/python/apache_beam/examples/inference/run_inference_side_inputs.py
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python, examples

#25155 Add Two Counter Metric in BigQuery Write Schema Transform
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25406 [prism] Add internal/config package
  sdks/go/pkg/beam/runners/prism/internal/config/config.go
  sdks/go/pkg/beam/runners/prism/internal/config/config_test.go
Labels: go, runners

#25422 Fix typo in args in documentation
  website/www/site/content/en/documentation/ml/tensorrt-runinference.md
Labels: website

#25193 Added MetadataSpannerConfig class for generating SpannerConfig for ac…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/MetadataSpannerConfigFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/DaoFactory.java
Labels: java, io, gcp, Next Action: Reviewers

#25409 Remove ValueProvider from BigtableIO ReadChangeStream
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
Labels: java, io, gcp, Next Action: Reviewers

#25403 Annotate Cloud Bigtable implementation details as Internal
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamMutation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/TimestampConverter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/UniqueIdGenerator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/GenerateInitialPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/ChangeStreamDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/DaoFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableAdminDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/DetectNewPartitionsDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/InitializeDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/PartitionRecord.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/ReadChangeStreamPartitionProgressTracker.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/StreamProgress.java
Labels: java, io, gcp, Next Action: Reviewers

#25425 Add dependencies in some examples
  website/www/site/content/en/documentation/pipelines/test-your-pipeline.md
Labels: website

#25418 Copy environment capabilities when creating the WorkerPool for Java pipelines
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
Labels: runners, dataflow

#25222 Update PythonMap transform to accept extra packages
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/transforms/PythonMap.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/transforms/RunInference.java
Labels: java, extensions

#25421 Data sampling proto
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
Labels: model

#24911 Support ONNX runtime in RunInference API
  CHANGES.md
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/onnx_sentiment_classification.py
  sdks/python/apache_beam/ml/inference/onnx_inference.py
  sdks/python/apache_beam/ml/inference/onnx_inference_it_test.py
  sdks/python/apache_beam/ml/inference/onnx_inference_test.py
  sdks/python/pytest.ini
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, examples, Next Action: Reviewers

#25410 Fix UpdateSchemaDestination breaking DynamicDestination in Bigquery BatchLoad
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryResourceNaming.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/UpdateSchemaDestination.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaUpdateOptionsIT.java
Labels: java, io, gcp, Next Action: Reviewers

#25431 [#25417][go] copy env details to dataflow images
  sdks/go/pkg/beam/core/runtime/pipelinex/util.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job_test.go
Labels: go, runners, dataflow

#25242 Add runtime metric to TFT tests
  .test-infra/jenkins/job_CloudMLBenchmarkTests_Python.groovy
  sdks/python/apache_beam/testing/benchmarks/cloudml/cloudml_benchmark_test.py
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, infra

#25321 Add support for loading torchscript models
  CHANGES.md
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
Labels: python

#24973 [#24971] Add a retry policy for JmsIO #24971
  CHANGES.md
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsIO.java
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/RetryConfiguration.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/JmsIOTest.java
Labels: java, io, jms, Next Action: Reviewers

#25317 (#25316) Enable LZMA compression in Python SDK I/O
  CHANGES.md
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/io/filesystem_test.py
Labels: python, io, Next Action: Reviewers

#25396 Support gauge metrics in portable mode
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerImpl.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoConstants.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MetricsContainerImplTest.java
Labels: runners, core

#25394 Validate that GBK coders are always set correctly.
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/apache_beam/typehints/schemas.py
Labels: python

#25373 Raise the RuntimeError message when some InteractiveRunner functions are misused
  sdks/python/apache_beam/runners/interactive/pipeline_fragment.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment_test.py
Labels: Next Action: Reviewers

#25426 Adding support for DLQ for ZetaSQL
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRel.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRelTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
Labels: java, extensions, sql

#25414 Add metadata table admin unit tests
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableAdminDao.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableAdminDaoTest.java
Labels: java, build, io, gcp, Next Action: Reviewers

#25411 Generate initial list of partitions to stream
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/GenerateInitialPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/ChangeStreamDao.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/GenerateInitialPartitionsActionTest.java
Labels: java, build, io, gcp

#25420 [24464] Finalize FileWriteSchemaTransformProvider
  sdks/java/io/csv/build.gradle
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIO.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOTestData.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOTestJavaBeans.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOWriteDisplayDataTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOWriteTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/RowToCsvCSVFormatTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/RowToCsvPredefinedCSVFormatsTest.java
  sdks/java/io/file-schema-transform/build.gradle
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/CsvWriteSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformConfiguration.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformFormatProviders.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/CsvFileWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformFormatProviderTest.java
Labels: java, io, Next Action: Reviewers

#25237 [Go SDK] add retries to connect with expansion service
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
Labels: go, Next Action: Reviewers

#25236 SpannerIO: parameterizing partitionQuery timeout
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadIT.java
Labels: java, io, gcp, Next Action: Reviewers

#25368 [Python] Added Tensorflow Model Handler
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/tensorflow_imagenet_segmentation.py
  sdks/python/apache_beam/examples/inference/tensorflow_mnist_classification.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_it_test.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
  sdks/python/apache_beam/ml/inference/tensorflow_tests_requirements.txt
  sdks/python/pytest.ini
  sdks/python/test-suites/direct/common.gradle
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, examples, Next Action: Reviewers

#25407 Update documents for 2.45
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.45.0.md
  website/www/site/content/en/get-started/downloads.md
  website/www/site/data/authors.yml
Labels: website

#23876 Fix beam.Row.__eq__ for rows with trailing columns
  sdks/python/apache_beam/pvalue.py
  sdks/python/apache_beam/pvalue_test.py
Labels: python, Next Action: Reviewers

#25381 TFMA notebook showing ExtractEvaluateAndWriteResult Tranfsorm
  examples/notebooks/beam-ml/tfma_beam.ipynb
Labels: examples

#25437 [Go SDK]: Allow SDF methods to have context param and error return value
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_arity.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_arity.tmpl
  sdks/go/pkg/beam/core/runtime/exec/sdf_invokers_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
  sdks/go/pkg/beam/runners/prism/internal/config/config.go
  sdks/go/pkg/beam/runners/prism/internal/urns/urns_test.go
Labels: go, runners, Next Action: Reviewers

#25203 Fix interface{} in iter& emit type of DoFn in Go
  sdks/go/pkg/beam/core/funcx/output.go
  sdks/go/pkg/beam/core/funcx/output_test.go
  sdks/go/pkg/beam/core/funcx/sideinput.go
  sdks/go/pkg/beam/core/funcx/sideinput_test.go
  sdks/go/pkg/beam/io/parquetio/parquetio.go
Labels: go, io, Next Action: Reviewers

#25093 Task #25064: Python SDK Data sampling implementation
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
  sdks/python/apache_beam/runners/worker/data_sampler.py
  sdks/python/apache_beam/runners/worker/data_sampler_test.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
  sdks/python/apache_beam/transforms/environments.py
Labels: python, Next Action: Reviewers

#25402 Swap Java SDK container to use eclipse-temurin as the base instead of OpenJDK
  CHANGES.md
  sdks/java/container/Dockerfile
Labels: Next Action: Reviewers

#25400 Update BigQueryIO documentation with details on how to override the query execution project
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: website

#24274 Support Avro GenericRecord as a valid format for StorageWrite API on BigQueryIO
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/RowWriterFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsGenericRecord.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProtoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#25544 Run prbot updates on hosted runners
  .github/workflows/pr-bot-pr-updates.yml
Labels: build

#25546 [#24789][prism] Tiny staticcheck fix
  sdks/go/pkg/beam/runners/prism/internal/jobservices/metrics_test.go
Labels: go, runners

#23210 Replace more uses of `ClassLoadingStrategy.Default.INJECTION`
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SelectByteBuddyHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyOnTimerInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ByteBuddyUtils.java
Labels: java

#25553 Fix Tensorflow intergration test model path
  sdks/python/apache_beam/ml/inference/tensorflow_inference_it_test.py
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#25535 [Go SDK]: Retrieve file size in CreateInitialRestriction in textio.Read
  sdks/go/pkg/beam/io/textio/textio.go
Labels: go, io, Next Action: Reviewers

#25520 [#24789][prism] add preprocessor and test
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess_test.go
Labels: go, runners, Next Action: Reviewers

#25560 Bump github.com/tetratelabs/wazero from 1.0.0-pre.7 to 1.0.0-pre.9 in /sdks
  sdks/go.mod
  sdks/go.sum
  sdks/go/examples/wasm/README.md
  sdks/go/examples/wasm/wasm.go
Labels: go, examples

#25557 [#24789][prism] Add testdofns for later
  sdks/go/pkg/beam/runners/prism/internal/testdofns.go
  sdks/go/pkg/beam/runners/prism/internal/testdofns_test.go
Labels: go, runners

#25556 [#24789][prism] Minimum required jobservices
  sdks/go/pkg/beam/runners/prism/internal/jobservices/artifact.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/metrics.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/server.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/server_test.go
Labels: go, runners

#25558 [#24789][prism] Handlers for combine, ParDo, GBK, Flatten
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/handlecombine.go
  sdks/go/pkg/beam/runners/prism/internal/handlepardo.go
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
Labels: go, runners

#25564 [prism] Tiny lint fixes
  sdks/go/pkg/beam/runners/prism/internal/config/config_test.go
  sdks/go/pkg/beam/runners/prism/internal/urns/urns.go
  sdks/go/test/integration/primitives/checkpointing.go
Labels: go, runners, Next Action: Reviewers

#25555 [Go SDK] minor error handling fixes
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/runtime/exec/datasink.go
Labels: go, Next Action: Reviewers

#25565 [prism] Add in element manager
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager_test.go
Labels: go, runners

#25566 Revert "Replace more uses of `ClassLoadingStrategy.Default.INJECTION` (#23210)"
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SelectByteBuddyHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyOnTimerInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ByteBuddyUtils.java
Labels: java

#25536 [Go SDK]: Use context param and error return value in mongodbio.Read SDF methods
  sdks/go/pkg/beam/io/mongodbio/read.go
Labels: go, io, Next Action: Reviewers

#25579 Revert workers for java tests
  .github/workflows/java_tests.yml
Labels: build

#25576 [Go SDK] Remove unnecessary error check
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
Labels: go

#25434 Making the default BigQuery write disposition to be WRITE_APPEND
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
Labels: java, io, gcp

#25496 [Python] Support loading of TF models with saved weights
  CHANGES.md
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/tensorflow_mnist_with_weights.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_it_test.py
  sdks/python/tox.ini
Labels: python, examples, Next Action: Reviewers

#25568 [#24789][prism] V0 Go Direct Runner Replacement, Prism.
  CHANGES.md
  sdks/go/pkg/beam/runners/prism/README.md
  sdks/go/pkg/beam/runners/prism/internal/coders_test.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/execute_test.go
  sdks/go/pkg/beam/runners/prism/internal/separate_test.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/prism.go
Labels: go, runners

#25354 PCollection data sampling for Java SDK harness #25064
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistry.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/debug/DataSampler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/debug/OutputSampler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/debug/package-info.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistryTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/debug/DataSamplerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/debug/OutputSamplerTest.java
Labels: java, Next Action: Reviewers

#25577 Add partitioned reads to JDBC SchemaIO
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProviderTest.java
  sdks/python/apache_beam/coders/coder_impl.pxd
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/coders/slow_stream.py
  sdks/python/apache_beam/coders/stream.pxd
  sdks/python/apache_beam/coders/stream.pyx
  sdks/python/apache_beam/coders/stream_test.py
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
  sdks/python/apache_beam/io/jdbc.py
Labels: python, java, io, jdbc, Next Action: Reviewers

#25534 [Avro] Deprecate Avro API classes in "sdks/java/core"
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/AvroCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/AvroGenericCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroSchemaIOProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroSink.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroSource.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/ConstantAvroDestination.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/DynamicAvroDestinations.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/SerializableAvroCodecFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/AvroRecordSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/payloads/AvroPayloadSerializerProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/extensions/avro/build.gradle
Labels: java, extensions, Next Action: Reviewers

#25589 Feature/model evaluation website
  website/www/site/content/en/documentation/ml/model-evaluation.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website

#25593 Add Data Sampling capability URN to Java SDK
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/EnvironmentsTest.java
Labels: runners, core

#25594 Add anchor link for the logo wall
  website/www/site/layouts/case-studies/list.html
Labels: website

#25392 Read API Source v2
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageSourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamBundleSource.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadWithStreamBundleSourceTest.java
Labels: java, io, gcp

#25595 Apply shallow clone for jenkins
  .test-infra/jenkins/CommonJobProperties.groovy
Labels: infra

#25603 Move dependencies from tox.ini docs task to mocking
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/tox.ini
Labels: python

#25609 Add missing entries to mass_comment.py
  release/src/main/scripts/mass_comment.py
Labels: build

#25613 Fix go postcommit naming
  .test-infra/jenkins/job_PostCommit_Go.groovy
Labels: infra

#25616 Bump to Dataproc 2.1
  .test-infra/dataproc/flink_cluster.sh
Labels: infra

#25611 [AVRO] Prioritise Avro providers from "extensions/core"
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/Providers.java
  sdks/java/extensions/schemaio-expansion-service/src/main/java/org/apache/beam/sdk/extensions/schemaio/expansion/ExternalSchemaIOTransformRegistrar.java
Labels: java, extensions, Next Action: Reviewers

#25618 Cherry Pick: Prioritise Avro providers from "extensions/core" (#25611)
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/Providers.java
  sdks/java/extensions/schemaio-expansion-service/src/main/java/org/apache/beam/sdk/extensions/schemaio/expansion/ExternalSchemaIOTransformRegistrar.java
Labels: java, extensions

#25607 restructure ml overview website page
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
  website/www/site/static/images/ml-workflows.svg
Labels: website

#25584 [Beam#25046]add support for flink 1.16 for Beam Flink Runner
  build.gradle.kts
  gradle.properties
  runners/flink/1.16/build.gradle
  runners/flink/1.16/job-server-container/build.gradle
  runners/flink/1.16/job-server/build.gradle
  runners/flink/src/test/java/org/apache/beam/runners/flink/ReadSourceStreamingTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/ReadSourceTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/streaming/GroupByNullKeyTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/streaming/TopWikipediaSessionsTest.java
  sdks/python/apache_beam/options/pipeline_options.py
  settings.gradle.kts
Labels: python, build, runners, flink, Next Action: Reviewers

#25630 Fix typo in docstring
  sdks/python/apache_beam/pipeline.py
Labels: python, Next Action: Reviewers

#25627 #25626 Use the correct constructor when creating StreamWriter
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#25472 One formatter for Timestamp fields in Storage writes
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25614 Add ReadFrom/WriteTo Csv/Json as top-level transforms to the Python SDK.
  CHANGES.md
  sdks/python/apache_beam/io/fileio.py
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/io/textio_test.py
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/setup.py
Labels: python, io, Next Action: Reviewers

#25642 #25626 Revert to old constructor.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#25633 Fix example code on from-spark.md
  website/www/site/content/en/get-started/from-spark.md
Labels: website

#25639 Fix paginated windmill sorted list state
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateReader.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateReaderTest.java
Labels: runners, dataflow

#25612 Disable triggering most IO_Direct precommit on buildSrc and core change
  .test-infra/jenkins/PrecommitJobBuilder.groovy
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PreCommit_Java_Amqp_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Cassandra_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Cdap_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Clickhouse_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Debezium_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_ElasticSearch_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_HCatalog_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Hbase_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_IOs.groovy
  .test-infra/jenkins/job_PreCommit_Java_InfluxDb_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Jms_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Kudu_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Mqtt_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Neo4j_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_RabbitMq_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Redis_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Singlestore_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Snowflake_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Solr_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Splunk_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Thrift_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Tika_IO_Direct.groovy
  build.gradle.kts
Labels: build, infra

#25651 Fix ts version on master
  sdks/typescript/package.json
Labels: typescript

#25662 Move beam to 2.46 on release branch for ts
  sdks/typescript/package.json
Labels: typescript

#25650 gen protos before running py38-docs in build_release_candidate
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#25647 whitelist->allowlist in tox.ini
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#25663 Add typescript to changed version files
  release/src/main/scripts/set_version.sh
Labels: build

#25661 Fix tensorflowhub caching issue
  sdks/python/apache_beam/ml/inference/tensorflow_inference_it_test.py
Labels: python, Next Action: Reviewers

#25654 Fix Python3.7 PostCommit Azure integration test
  sdks/python/apache_beam/io/azure/integration_test/docker-compose.yml
Labels: python, io

#25667 Cherry pick some changes to fix the python postcommits
  sdks/python/apache_beam/io/azure/integration_test/docker-compose.yml
  sdks/python/apache_beam/ml/inference/tensorflow_inference_it_test.py
Labels: python, io
