Repository apache/beam, pull requests merged in 2023-04, with the labels that each got.

#26006 Bumping up the Cloud libraries bom and spanner java client libraries version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#26067 [Go SDK] Work around for #26066 in mongodbio.
  sdks/go/pkg/beam/io/mongodbio/coder.go
Labels: go, io, Next Action: Reviewers

#26054 [Go SDK] Update beam infra to Go 1.20.2
  .github/actions/setup-self-hosted-action/action.yml
  .github/workflows/local_env_tests.yml
  .github/workflows/python_tests.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  release/go-licenses/Dockerfile
  sdks/go/run_with_go_version.sh
Labels: go, build

#26076 Remove myself from Go reviewers
  .github/REVIEWERS.yml
Labels: build

#26047 [BEAM-20807] Support Beam Go docker images on ARM64.
  sdks/go/container/Dockerfile
  sdks/go/container/build.gradle
Labels: go, docker, Next Action: Reviewers

#25904 Add XGBoost example notebook
  examples/notebooks/beam-ml/run_inference_xgboost.ipynb
Labels: examples

#26060 Disable FIrestore integration test in Dataflow PostCommits
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#25905 Added windowin example
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/milk_quality_prediction_windowing.py
Labels: python, examples, Next Action: Reviewers

#26055 Update tensorflow in base image requirements
  beam/beam/examples/notebooks/beam-ml auto_model_updates_using_side_inputs.ipynb
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#26086 Fix compatibility with dill 0.3.6.
  sdks/python/apache_beam/internal/dill_pickler.py
  sdks/python/apache_beam/transforms/window_test.py
Labels: python

#26062 [#26061][Go SDK] Return server error on stream close for artifact upload.
  sdks/go/pkg/beam/artifact/stage.go
  sdks/go/pkg/beam/runners/universal/runnerlib/stage.go
  sdks/go/pkg/beam/runners/universal/runnerlib/stage_test.go
Labels: go, Next Action: Reviewers

#25956 (Re)enable ErrorProne, Spotbug and Coverage report in IO PreCommits
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PreCommit_Java.groovy
  .test-infra/jenkins/job_PreCommit_Java_AWS2_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_AWS_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Azure_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_GCP_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Hadoop_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_IOs.groovy
  .test-infra/jenkins/job_PreCommit_Java_JDBC_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Kafka_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Kinesis_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_MongoDb_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Parquet_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Pulsar_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_SQL.groovy
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/build.gradle
Labels: java, build, infra

#26089 Restore deleted reference to pendingInserts.clear()
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp, Next Action: Reviewers

#26106 Remove status disclaimer from pydoc root.
  sdks/python/apache_beam/__init__.py
Labels: python, Next Action: Reviewers

#26119 Clean up some unneccessarily nested ifs in stage.go
  playground/frontend/playground_components/assets/symbols/go.g.yaml
  sdks/go/pkg/beam/runners/universal/runnerlib/stage.go
  sdks/go/pkg/beam/runners/universal/runnerlib/stage_test.go
Labels: go, runners, Next Action: Reviewers

#26122 DoFn lifecycle JavaDoc update.
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#26105 [Python] Separate out notebooks for tensorflow with tfx and built-in model handler
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow_with_tfx.ipynb
Labels: examples

#26143 Revert "[Python] Separate out notebooks for tensorflow with tfx and built-in model handler"
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow_with_tfx.ipynb
Labels: examples

#26127 Add Python 3.11 to python_release_automation.sh
  release/src/main/python-release/python_release_automation.sh
Labels: build, Next Action: Reviewers

#26147 [Python] Separate out notebooks for tensorflow with tfx and built-in model handler
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow_with_tfx.ipynb
Labels: examples

#26103 Update REVIEWERS list
  .github/REVIEWERS.yml
Labels: build, Next Action: Reviewers

#26123 Fixed typo in the word "appropriate"
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#26151 PreCommit_Portable_Python fix: use double quotes when using embedded values
  .test-infra/jenkins/job_PreCommit_Portable_Python.groovy
Labels: infra

#25970 Use wheels for Dataflow postcommit tests
  .github/workflows/build_wheels.yml
  .test-infra/jenkins/job_PostCommit_Python.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow_V2.groovy
  .test-infra/jenkins/job_PreCommit_PythonIT.groovy
  gradle.properties
  sdks/python/build.gradle
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/direct/build.gradle
  sdks/python/test-suites/gradle.properties
Labels: python, build, infra, Next Action: Reviewers

#26125 Fix Jacoco not working for a few modules
  .test-infra/jenkins/job_PreCommit_Java_IOs.groovy
  sdks/java/core/build.gradle
Labels: java, infra

#26114 (AWS S3 FS) Fix performance issue of S3 filesystem when reading large files
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/S3ReadableSeekableByteChannel.java
Labels: java, io, aws

#26176 Move automatic model refresh notebook to correct dir
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
Labels: examples

#26174 Fix a couple of Python3.11 support followup
  .test-infra/jenkins/job_PostCommit_Python_Sickbay.groovy
  .test-infra/jenkins/job_PreCommit_Portable_Python.groovy
  build.gradle.kts
  sdks/java/container/license_scripts/requirement.txt
Labels: java, build, infra, docker

#26163 [Go SDK]: Add support for reading gzip files in textio Read and ReadAll
  sdks/go/data/textio_test.gz
  sdks/go/pkg/beam/io/textio/textio.go
  sdks/go/pkg/beam/io/textio/textio_test.go
Labels: go, io, Next Action: Reviewers

#26108 [Go SDK] Fix some style lints.
  sdks/go/container/tools/logging.go
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/harness/logging.go
  sdks/go/pkg/beam/core/runtime/harness/logging_test.go
  sdks/go/pkg/beam/runners/universal/runnerlib/stage.go
Labels: go, docker, runners, Next Action: Reviewers

#26096 [#26095][Feature Request]: Allow to set operator chaining for flink runner
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
Labels: runners, flink

#26177 [Python] Add setup method to PostProcessor DoFn
  examples/notebooks/beam-ml/run_inference_with_tensorflow_hub.ipynb
  sdks/python/apache_beam/examples/inference/tensorflow_imagenet_segmentation.py
Labels: python, examples

#26184 [release-2.47.0] Cherry pick #26151 and #26174 into release branch
  .test-infra/jenkins/job_PostCommit_Python_Sickbay.groovy
  .test-infra/jenkins/job_PreCommit_Portable_Python.groovy
  build.gradle.kts
  sdks/java/container/license_scripts/requirement.txt
Labels: java, build, infra, docker

#26148 Update release branch script to increment TypeScript version
  release/src/main/scripts/cut_release_branch.sh
Labels: build

#26179 Disable JmsIOIT on amqp
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/JmsIOIT.java
Labels: java, io, jms

#26198 Add recently added notebooks to readme
  examples/notebooks/beam-ml/README.md
Labels: examples

#26200 [release-2.47.0] Cherry pick #26179 into release branch
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/JmsIOIT.java
Labels: java, io, jms

#26183 (#26180) Fix go-licenses container COPY, by touching a dummy file.
  sdks/go/container/Dockerfile
  sdks/go/container/build.gradle
  sdks/java/container/Dockerfile
  sdks/java/container/common.gradle
  sdks/python/container/Dockerfile
  sdks/python/container/common.gradle
  sdks/typescript/container/Dockerfile
  sdks/typescript/container/build.gradle
Labels: python, java, go, docker, Next Action: Reviewers, typescript

#26117 Refactor Kinesis IO
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/CheckpointGenerator.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/DynamicCheckpointGenerator.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisReader.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisReaderCheckpoint.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisSource.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/ShardCheckpoint.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/ShardListingUtils.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/SimplifiedKinesisClient.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/StaticCheckpointGenerator.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/DynamicCheckpointGeneratorTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOReadTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisReaderCheckpointTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisReaderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisSourceTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/ShardCheckpointTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/ShardListingUtilsTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/ShardReadersPoolExtendedTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/SimplifiedKinesisClientTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/TestHelpers.java
Labels: java, io, aws, Next Action: Reviewers

#26204 Touch a dummy file for go licenses.
  sdks/go/container/Dockerfile
  sdks/go/container/build.gradle
  sdks/java/container/Dockerfile
  sdks/java/container/common.gradle
  sdks/python/container/Dockerfile
  sdks/python/container/common.gradle
  sdks/typescript/container/Dockerfile
  sdks/typescript/container/build.gradle
Labels: python, java, go, docker, typescript

#26205 fix: Fix BigtableIO to share one BigtableService per worker and increase default attempt timeout
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp, Next Action: Reviewers

#26224 Reduce build retention to 40 for some builds
  .test-infra/jenkins/CommonJobProperties.groovy
  .test-infra/jenkins/PrecommitJobBuilder.groovy
  .test-infra/jenkins/job_PostCommit_Go_ValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Python_Examples_Flink.groovy
  .test-infra/jenkins/job_PreCommit_Java.groovy
  .test-infra/jenkins/job_PreCommit_Python.groovy
  .test-infra/jenkins/job_PreCommit_SQL.groovy
Labels: infra

#26223 [release-2.47.0] Cherrypick #26205 into release branch
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp, Next Action: Reviewers

#26087 [#25582] Use a Pathing Jar instead of long command line class paths in Java Boot loader.
  .github/workflows/go_tests.yml
  sdks/java/container/boot.go
  sdks/java/container/boot_test.go
  sdks/java/container/pathingjar.go
  sdks/java/container/pathingjar_test.go
Labels: java, build, docker, Next Action: Reviewers

#26201 Update Python textio documentation to support reading with different encodings
  sdks/python/apache_beam/io/textio.py
Labels: python, io

#26239 Remove Pablo from Python reviewers
  .github/REVIEWERS.yml
Labels: build

#26226 Copy editing Beam ML notebooks
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
  examples/notebooks/beam-ml/run_inference_multi_model.ipynb
  examples/notebooks/beam-ml/run_inference_pytorch.ipynb
  examples/notebooks/beam-ml/run_inference_sklearn.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow_with_tfx.ipynb
  examples/notebooks/beam-ml/run_inference_with_tensorflow_hub.ipynb
  examples/notebooks/beam-ml/run_inference_xgboost.ipynb
  examples/notebooks/beam-ml/tfma_beam.ipynb
Labels: examples

#26154 Added checkpoints description. Resolves : Improve checkpoints documentation #19708
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/UnboundedSource.java
Labels: java, Next Action: Reviewers

#25791 [Playground] Start Google Cloud Datastore emulator from Go tests automatically
  playground/README.md
  playground/backend/README.md
  playground/backend/build.gradle.kts
  playground/backend/cmd/server/controller_test.go
  playground/backend/internal/components/cache_component_test.go
  playground/backend/internal/db/datastore/datastore_db_test.go
  playground/backend/internal/db/datastore/emulator_wrapper.go
  playground/backend/internal/db/schema/migration/migrations_test.go
  playground/backend/start_datastore_emulator.sh
  playground/backend/stop_datastore_emulator.sh
Labels: build, Next Action: Reviewers

#26236 Pickling and Savemainsession Doc update
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: website

#26242 Add upper bound to next major version for aws and azure dependencies.
  sdks/python/setup.py
Labels: python

#26243 [#26126] Disable Debezium xlang test against Samza runner.
  sdks/go/test/integration/integration.go
Labels: go

#26248 Add manual trigger to stale
  .github/workflows/stale.yml
Labels: build

#26044 Add filename-retaining ReadAllViaFileBasedSource
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/ReadAllViaFileBasedSource.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/ReadAllViaFileBasedSourceTransform.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/ReadAllViaFileBasedSourceWithFilename.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/AvroIOTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOReadTest.java
Labels: java, Next Action: Reviewers

#23540 Kinesis enhanced fanout
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/EFOKinesisReader.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/EFOShardSubscriber.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/EFOShardSubscribersPool.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOOptions.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisSource.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/ShardCheckpoint.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/ShardReadersPool.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/TimeUtil.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/EFOKinesisReaderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/EFOShardSubscribersPoolTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/EFOStubbedKinesisAsyncClient.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOOptionsTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOReadTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisSourceTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/ShardReadersPoolExtendedTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/TestHelpers.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/TimeUtilTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/WatermarkPolicyTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/testing/KinesisIOIT.java
Labels: java, io, aws, Next Action: Reviewers

#26250 Beam ML doc updates
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
  examples/notebooks/beam-ml/run_custom_inference.ipynb
  examples/notebooks/beam-ml/run_inference_multi_model.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow_with_tfx.ipynb
  examples/notebooks/beam-ml/tfma_beam.ipynb
  website/www/site/content/en/documentation/ml/about-ml.md
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website, examples

#26246 Update dev containers for Dataflow
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#26153 Add Gradle sub-projects to enable parallel running of Kafka tests
  buildSrc/src/main/groovy/org/apache/beam/gradle/kafka/KafkaTestUtilities.groovy
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/kafka-01103/build.gradle
  sdks/java/io/kafka/kafka-100/build.gradle
  sdks/java/io/kafka/kafka-111/build.gradle
  sdks/java/io/kafka/kafka-201/build.gradle
  sdks/java/io/kafka/kafka-211/build.gradle
  sdks/java/io/kafka/kafka-222/build.gradle
  sdks/java/io/kafka/kafka-231/build.gradle
  sdks/java/io/kafka/kafka-241/build.gradle
  sdks/java/io/kafka/kafka-251/build.gradle
  sdks/java/io/kafka/kafka-integration-test.gradle
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  settings.gradle.kts
Labels: java, build, io, kafka, Next Action: Reviewers

#26265 Add output cells to notebook
  examples/notebooks/beam-ml/custom_remote_inference.ipynb
Labels: examples

#26268 Extract BundleManager to an Interface in SamzaRunner
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/BundleManager.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/ClassicBundleManager.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/DoFnOp.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/ClassicBundleManagerTest.java
Labels: runners, samza

#25930 Optimize counters by reducing allocations
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerImpl.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerStepMap.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsMap.java
Labels: runners, core

#26247 [Cherry Pick #26243] Disable debezium xlang against samza
  sdks/go/test/integration/integration.go
Labels: python, java, go, build, infra, docker, io, runners, dataflow, gcp, jms, typescript

#26207 Re-enable GroupIntoBatchesTest.testWithShardedKeyInGlobalWindow
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#26274 Refactor DoFnOp.FutureCollectorImpl to a top level class in SamzaRunner
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/DoFnOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/FutureCollectorImpl.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/AsyncDoFnRunnerTest.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/FutureCollectorImplTest.java
Labels: runners, samza

#26271 Vendor grpc 1.54.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_54_0.groovy
  settings.gradle.kts
  vendor/README.md
  vendor/grpc-1_54_0/build.gradle
Labels: build, vendor, Next Action: Reviewers

#26282 Download codecov uploader since codecov has been removed from pypi
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#26285 Adds a reference to new Java RunInference example
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#26261 DLQ support in RunInference
  CHANGES.md
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python, Next Action: Reviewers

#26156 Add ValidatesContainer tests with installing release candidates(RCs)
  .test-infra/jenkins/job_PostCommit_Python_ValidatesContainer_Dataflow.groovy
  sdks/python/container/Dockerfile
  sdks/python/container/common.gradle
  sdks/python/container/run_generate_requirements.sh
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, build, infra, docker, Next Action: Reviewers

#26284 Fix GroupIntoBatches hold
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupIntoBatches.java
Labels: java

#26098 Support Assume-Role with web identity
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsModule.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsOptions.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/AwsModuleTest.java
Labels: java, io, aws, Next Action: Reviewers

#26172 Set an auth key in multi_process_shared.py
  sdks/python/apache_beam/utils/multi_process_shared.py
Labels: python, Next Action: Reviewers

#26324 Unpin azurite version.
  sdks/python/apache_beam/io/azure/integration_test/docker-compose.yml
Labels: python, io

#26326 Cherry-pick #26324 to 2.47.0 branch.
  sdks/python/apache_beam/io/azure/integration_test/docker-compose.yml
Labels: python, io

#26270 Generating Unique ID within function so that it's unique for every run.
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#26219 Add more logging to QueryChangeStreamAction exceptions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
Labels: java, io, gcp, Next Action: Reviewers

#26267 Coalesce sources until compressed serialized bundles under API limit
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSources.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
Labels: runners, dataflow

#26322 Fix broken links
  website/www/site/content/en/documentation/ml/about-ml.md
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#26304 Add timeout to a couple of validate runner tests
  runners/flink/src/test/java/org/apache/beam/runners/flink/batch/ReshuffleTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/CombineTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/FlattenTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoSchemaTest.java
Labels: java, runners, flink, Next Action: Reviewers

#25960 Remove cloud debugger support
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/CloudDebuggerOptions.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/DataflowTransport.java
Labels: build, runners, dataflow, Next Action: Reviewers

#26314 Clean up bundle config generation for Samza Runner
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ConfigBuilder.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/util/ConfigUtils.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/translation/ConfigGeneratorTest.java
Labels: runners, samza

#26336 Tensorflow Hub Notebook minor conciseness improvements
  examples/notebooks/beam-ml/run_inference_with_tensorflow_hub.ipynb
Labels: examples

#26349 Revert #26270
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp

#26228 Upgrade version of Apache Commons (dbcp2, pool2) due to advisory/CVE
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/jdbc/build.gradle
Labels: java, build, io, jdbc

#26100 Use external config schema to construct Python SchemaTransform payload
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_test.py
Labels: python, io, gcp

#26294 [Website] add booking case-study
  website/www/site/assets/scss/_case_study.scss
  website/www/site/content/en/case-studies/booking.md
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/booking/booking.ico
  website/www/site/static/images/case-study/booking/igor_dralyuk.jpg
  website/www/site/static/images/case-study/booking/prasanjit_barua.jpg
  website/www/site/static/images/case-study/booking/sergey_dovgal.jpg
  website/www/site/static/images/case-study/booking/stateful-capabilities.png
  website/www/site/static/images/case-study/booking/streaming-processing.png
  website/www/site/static/images/case-study/booking/warren_qi.jpg
  website/www/site/static/images/logos/powered-by/booking.png
Labels: website

#26313 Prevent hashmap growing too large. Improves performance for too many Unique Keys cases.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PrecombineGroupingTable.java
Labels: java, Next Action: Reviewers

#26352 Implement naive progress tracking at BoundedSourceAsSDFRestrictionTracker
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/RestrictionTracker.java
Labels: java, Next Action: Reviewers

#26297 [Go SDK]: Create textio.ReadWithFilename transform
  CHANGES.md
  sdks/go/pkg/beam/io/textio/textio.go
  sdks/go/pkg/beam/io/textio/textio_test.go
Labels: go, io

#26287 Add JavaDoc to BundleManager
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/BundleManager.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/ClassicBundleManager.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/ClassicBundleManagerTest.java
Labels: runners, samza

#25448 Make `withDesiredBundleSizeBytes` methods public
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroIO.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/io/AvroIO.java
Labels: java, io, extensions, Next Action: Reviewers, avro

#26353 Rename _namespace to _get_display_data_namespace
  sdks/python/apache_beam/transforms/display.py
Labels: python

#26344 Increase the timeout in one of the loadtest suites.
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
Labels: infra

#26279 Add new example never_run tag for precompiled objects
  build.gradle.kts
  learning/tour-of-beam/backend/playground_api/api/v1/api.pb.go
  learning/tour-of-beam/backend/playground_api/api/v1/api_grpc.pb.go
  playground/api/v1/api.proto
  playground/backend/internal/api/v1/api.pb.go
  playground/backend/internal/api/v1/api_grpc.pb.go
  playground/backend/internal/db/dto/precompiled_object.go
  playground/backend/internal/db/entity/example.go
  playground/backend/internal/db/mapper/precompiled_object_mapper.go
  playground/frontend/playground_components/lib/src/api/v1/api.pb.dart
  playground/frontend/playground_components/lib/src/api/v1/api.pbjson.dart
  playground/infrastructure/api/v1/api_pb2.py
  playground/infrastructure/api/v1/api_pb2.pyi
  playground/infrastructure/datastore_client.py
  playground/infrastructure/helper.py
  playground/infrastructure/models.py
  playground/infrastructure/verify.py
Labels: build, learning

#26360 [BEAM-26359] Avoid expensive AsList in FileWrites.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
Labels: java, Next Action: Reviewers

#26372 Clean up tensorflow example
  sdks/python/apache_beam/examples/inference/tensorflow_imagenet_segmentation.py
  sdks/python/apache_beam/ml/inference/tensorflow_tests_requirements.txt
Labels: python, examples

#26192 [Go SDK]: Implement LastModified method in filesystems
  sdks/go/pkg/beam/io/filesystem/filesystem.go
  sdks/go/pkg/beam/io/filesystem/gcs/gcs.go
  sdks/go/pkg/beam/io/filesystem/gcs/gcs_test.go
  sdks/go/pkg/beam/io/filesystem/local/local.go
  sdks/go/pkg/beam/io/filesystem/local/local_test.go
  sdks/go/pkg/beam/io/filesystem/memfs/memory.go
  sdks/go/pkg/beam/io/filesystem/memfs/memory_test.go
  sdks/go/pkg/beam/io/filesystem/s3/s3.go
  sdks/go/pkg/beam/io/filesystem/s3/s3_test.go
Labels: go, io, Next Action: Reviewers

#26188 [Go SDK]: Implement fileio.MatchContinuously transform
  CHANGES.md
  sdks/go/pkg/beam/io/fileio/example_test.go
  sdks/go/pkg/beam/io/fileio/match.go
  sdks/go/pkg/beam/io/fileio/read.go
Labels: go, io, Next Action: Reviewers

#25869 Use containsInAnyOrder instead of equalTo to compare collections in ExternalTranslationTest
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/ExternalTranslationTest.java
Labels: runners, core

#26306 update the BQ limitations
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: website

#26363 Yaml pipeline readme.
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/runners/render.py
  sdks/python/apache_beam/yaml/README.md
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, io

#26276 Populate TransformIOMap as Config for Beam Samza Runner
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaRunner.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/SamzaPipelineTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/util/PipelineJsonRenderer.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/translation/ConfigGeneratorTest.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/util/PipelineJsonRendererTest.java
  runners/samza/src/test/resources/ExpectedDag.json
Labels: runners, samza

#26364 Wesbite fix update booking
  website/www/site/content/en/case-studies/booking.md
  website/www/site/static/images/case-study/booking/stateful-capabilities.png
  website/www/site/static/images/case-study/booking/streaming-processing.png
Labels: website

#26170 Add a GH workflow for testing conflicts in Beam's dependencies.
  .github/workflows/python_dependency_tests.yml
  sdks/python/setup.py
Labels: python, build, Next Action: Reviewers

#26378 [AWS2] Bump KCL version and exclude various transitive dependencies to prevent conflicts
  sdks/java/io/amazon-web-services2/build.gradle
Labels: java, io, aws

#26375 Add release number to python wheels script
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#26331 Adding info on picklers to docs [follow-on]
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: website

#26382 Fix lint errors from #26170
  sdks/python/setup.py
Labels: python

#26385 Fix formatting violation
  sdks/python/apache_beam/examples/inference/tensorflow_imagenet_segmentation.py
Labels: python, examples

#26063 #21431 Pubsub dynamic topic destinations
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformTranslation.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/PropertyNames.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/PubsubDynamicSink.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/PubsubDynamicSinkTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/ExternalWrite.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PreparePubsubWriteDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubSubPayloadTranslation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessage.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageWithTopicCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubTestClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PreparePubsubWriteDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubSubWritePayloadTranslationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOExternalTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubTestClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSinkTest.java
Labels: java, io, runners, dataflow, gcp, core, Next Action: Reviewers

#26374 [#26373] Fix some dataraces in the Go SDK
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/exec/plan_test.go
  sdks/go/pkg/beam/core/runtime/exec/status.go
  sdks/go/pkg/beam/core/runtime/graphx/schema/logicaltypes.go
  sdks/go/pkg/beam/core/runtime/graphx/schema/schema.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr_test.go
  sdks/go/pkg/beam/core/util/hooks/hooks_test.go
Labels: go, Next Action: Reviewers

#26202 Allow multi_process_shared objects to be called
  sdks/python/apache_beam/utils/multi_process_shared.py
  sdks/python/apache_beam/utils/multi_process_shared_test.py
Labels: python, Next Action: Reviewers

#26383 Update dataflow python to use external containers
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#26380 [AWS2] Bump AWS v2 SDK
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsModule.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/AwsModuleTest.java
Labels: java, build, io, aws

#26051 Support Dataflow runner v2 in SparkRecieverIO
  .test-infra/jenkins/job_PerformanceTests_SparkReceiverIO_IT.groovy
  examples/java/cdap/hubspot/build.gradle
  examples/java/cdap/salesforce/build.gradle
  examples/java/cdap/servicenow/build.gradle
  examples/java/cdap/zendesk/build.gradle
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/HasOffset.java
  sdks/java/io/sparkreceiver/2/src/main/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFn.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/RabbitMqReceiverWithOffset.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFnTest.java
Labels: java, infra, examples, io, Next Action: Reviewers

#26178 Force users to always specify a tag when creating a MultiProcessShared object (breaking)
  CHANGES.md
  sdks/python/apache_beam/utils/multi_process_shared.py
  sdks/python/apache_beam/utils/multi_process_shared_test.py
Labels: python

#26309 Add support for pre/post processing in RunInference
  CHANGES.md
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/pytorch_image_classification.py
  sdks/python/apache_beam/examples/inference/tensorflow_imagenet_segmentation.py
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python, examples, Next Action: Reviewers

#26416 Enable testWithShardedKeyInGlobalWindow on Dataflow V2 VR
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#26432 Push containers for python 3.10 and 3.11
  sdks/python/container/build.gradle
Labels: python, docker

#26436 Fix syntax issues with notebook
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
Labels: examples

#26434 Use github actions to cut release branch
  .github/workflows/cut_release_branch.yml
  release/src/main/scripts/cut_release_branch.sh
  website/www/site/content/en/contribute/release-guide.md
Labels: build, website

#26438 Move snapshot build into cut release branch step
  .github/workflows/cut_release_branch.yml
  .github/workflows/start_snapshot_build.yml
  release/src/main/scripts/start_snapshot_build.sh
  website/www/site/content/en/contribute/release-guide.md
Labels: build, website

#26422 Eliminate nullness and rawtype errors from java SDK Read class
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: java, Next Action: Reviewers

#26443 Eliminate nullness errors from sdks/java/extensions/sql/hcatalog
  sdks/java/extensions/sql/hcatalog/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/hcatalog/HCatalogTableProvider.java
Labels: java, extensions, sql, Next Action: Reviewers

#26446 Lower the lower bound of protobuf.
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#26406 Updating Combiners.Top PTransform Documentation
  sdks/python/apache_beam/transforms/combiners.py
Labels: python

#26407 Add artifact validation to run_rc_validation
  release/src/main/scripts/run_rc_validation.sh
Labels: build

#26419 Run unit tests with pre-released dependencies.
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#26450 Remove out of date experimental warning on SDFs
  sdks/go/pkg/beam/core/sdf/sdf.go
Labels: go, Next Action: Reviewers

#26423 Allow implicit flattening for yaml inputs.
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python

#26384 Add field annotations for high-priority Syndeo schema transforms
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangestreamsReadSchemaTransformProvider.java
Labels: java, io, gcp, Next Action: Reviewers

#26101 [Go SDK] Timers with new datalayer
  sdks/go/examples/timer_wordcap/wordcap.go
  sdks/go/pkg/beam/core/funcx/fn.go
  sdks/go/pkg/beam/core/funcx/fn_test.go
  sdks/go/pkg/beam/core/graph/edge.go
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/graph/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/coder.go
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/exec/timers.go
  sdks/go/pkg/beam/core/runtime/exec/timers_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/genx/genx.go
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/core/runtime/graphx/serialize.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/harness/datamgr.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/timers/timers.go
  sdks/go/pkg/beam/core/typex/class.go
  sdks/go/pkg/beam/core/typex/special.go
  sdks/go/pkg/beam/pardo.go
  sdks/go/test/regression/coders/fromyaml/fromyaml.go
Labels: go, examples, Next Action: Reviewers

#26327 Modify batch IT to use count instead of hash
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka, Next Action: Reviewers

#26457 keep retrying mass_comment until it has started all jobs
  release/src/main/scripts/mass_comment.py
Labels: build, Next Action: Reviewers

#25824 Add driverJars parameter to JdbcIO.
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcUtil.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/SchemaUtil.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcUtilTest.java
  sdks/python/apache_beam/io/jdbc.py
Labels: python, java, io, jdbc

#26470 [Roll Fwd PR] Rename _namespace to _get_display_data_namespace""
  sdks/python/apache_beam/transforms/display.py
Labels: python

#26473 use wheel sdk location for PostCommit_Py_Examples
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PostCommit_Python.groovy
  .test-infra/jenkins/job_PostCommit_Python_Examples_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_Sickbay.groovy
Labels: infra

#26451 Add flexible windowing syntax to yaml.
  sdks/python/apache_beam/yaml/README.md
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python

#26478 Survive errors in size estimation in MongoDbIO
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbIO.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDbIOTest.java
Labels: java, io, mongodb

#26480 Fix jdbc xlang schema type mismatch
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
  sdks/python/apache_beam/io/jdbc.py
Labels: python, java, io, jdbc

#26474 Cherry-pick: Add driverJars parameter to JdbcIO. (#25824)
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcUtil.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/SchemaUtil.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcUtilTest.java
  sdks/python/apache_beam/io/jdbc.py
Labels: python, java, io, jdbc
