Repository apache/beam, pull requests merged in 2023-06, with the labels that each got.

#26910 Adjust google-api-services-storage version to match current Storage client
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#26952 Added Github Workflow Replacement for Jenkins Job, beam_PreCommit_Go
  .github/workflows/beam_PreCommit_Go.yml
Labels: build, Next Action: Reviewers

#26951 [Playground] Fix graph.dot search path
  playground/backend/internal/fs_tool/fs.go
  playground/backend/internal/fs_tool/fs_test.go
  playground/backend/internal/fs_tool/go_fs_test.go
  playground/backend/internal/fs_tool/lc_constructor.go
Labels: Next Action: Reviewers

#26936 Make lulls message in Python SDK to be consistent with the implementation in Java SDK
  sdks/python/apache_beam/runners/worker/worker_status.py
  sdks/python/apache_beam/runners/worker/worker_status_test.py
Labels: python, Next Action: Reviewers

#26972 Revert "populate jobs with gradle scans access"
  .test-infra/jenkins/CommonJobProperties.groovy
Labels: infra

#26984 adding myself to author list for blog
  website/www/site/data/authors.yml
Labels: website

#26976 Refix offset error: add back line that was deleted during a merge
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp, Next Action: Reviewers

#26812 [GO SDK] - avroio null fix
  local-env-setup.sh
  playground/backend/go.mod
  playground/backend/go.sum
  playground/backend/internal/emulators/kafka.go
  sdks/go.mod
  sdks/go.sum
  sdks/go/data/tweetwithnulls.avro
  sdks/go/pkg/beam/io/avroio/avroio.go
  sdks/go/pkg/beam/io/avroio/avroio_test.go
  start-build-env.sh
  website/www/site/content/en/contribute/get-started-contributing.md
Labels: go, website, io, Next Action: Reviewers

#26782 [#22737] Fit & Finish for Go SDK timer support.
  sdks/go/examples/timer_wordcap/wordcap.go
  sdks/go/pkg/beam/core/graph/edge.go
  sdks/go/pkg/beam/core/runtime/exec/coder.go
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/pardo_test.go
  sdks/go/pkg/beam/core/runtime/exec/timers.go
  sdks/go/pkg/beam/core/runtime/exec/timers_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/timers/timers.go
  sdks/go/pkg/beam/pardo.go
Labels: go, examples

#26923 fix output_handler
  sdks/python/apache_beam/runners/direct/sdf_direct_runner.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python

#27002 Remove this log "Default Python SDK image for environment..."
  sdks/python/apache_beam/transforms/environments.py
Labels: python

#26971 remove 360M of installer files bloat.
  sdks/python/container/Dockerfile
Labels: python, docker

#26689 Adds new python avro example, removes broken example
  sdks/python/apache_beam/examples/avro_bitcoin.py
  sdks/python/apache_beam/examples/avro_nyc_trips.py
  sdks/python/apache_beam/examples/avro_nyc_trips_it_test.py
  sdks/python/apache_beam/examples/avro_nyc_trips_test.py
Labels: python, examples, Next Action: Reviewers

#26488 Add new Beam Java SDK examples
  examples/java/src/main/java/org/apache/beam/examples/ApproximateQuantilesExample.java
  examples/java/src/main/java/org/apache/beam/examples/CoGroupByKeyExample.java
  examples/java/src/main/java/org/apache/beam/examples/CombineExample.java
  examples/java/src/main/java/org/apache/beam/examples/CountExample.java
  examples/java/src/main/java/org/apache/beam/examples/CountPerKeyExample.java
  examples/java/src/main/java/org/apache/beam/examples/CreateExample.java
  examples/java/src/main/java/org/apache/beam/examples/DistinctExample.java
  examples/java/src/main/java/org/apache/beam/examples/FlatMapElementsExample.java
  examples/java/src/main/java/org/apache/beam/examples/GroupIntoBatchesExample.java
  examples/java/src/main/java/org/apache/beam/examples/KeysExample.java
  examples/java/src/main/java/org/apache/beam/examples/KvSwapExample.java
  examples/java/src/main/java/org/apache/beam/examples/LatestExample.java
  examples/java/src/main/java/org/apache/beam/examples/MapElementsExample.java
  examples/java/src/main/java/org/apache/beam/examples/MaxExample.java
  examples/java/src/main/java/org/apache/beam/examples/MaxPerKeyExample.java
  examples/java/src/main/java/org/apache/beam/examples/MeanExample.java
  examples/java/src/main/java/org/apache/beam/examples/MeanPerKeyExample.java
  examples/java/src/main/java/org/apache/beam/examples/MinExample.java
  examples/java/src/main/java/org/apache/beam/examples/MinPerKeyExample.java
  examples/java/src/main/java/org/apache/beam/examples/MinimalWordCount.java
  examples/java/src/main/java/org/apache/beam/examples/PartitionExample.java
  examples/java/src/main/java/org/apache/beam/examples/RegexExample.java
  examples/java/src/main/java/org/apache/beam/examples/SampleExample.java
  examples/java/src/main/java/org/apache/beam/examples/SumExample.java
  examples/java/src/main/java/org/apache/beam/examples/SumPerKeyExample.java
  examples/java/src/main/java/org/apache/beam/examples/ToStringExample.java
  examples/java/src/main/java/org/apache/beam/examples/TopExample.java
  examples/java/src/main/java/org/apache/beam/examples/ValuesExample.java
  examples/java/src/main/java/org/apache/beam/examples/ViewExample.java
  examples/java/src/main/java/org/apache/beam/examples/WindowExample.java
  examples/java/src/main/java/org/apache/beam/examples/WindowedWordCount.java
  examples/java/src/main/java/org/apache/beam/examples/WordCount.java
  learning/beamdoc/CombinePerKeyExample.java
  learning/beamdoc/FlattenExample.java
  learning/beamdoc/GroupByKeyExample.java
  learning/beamdoc/WithKeysExample.java
Labels: java, examples, learning, Next Action: Reviewers

#27001 Removing an unnecessary dependency
  sdks/java/transform-service/launcher/build.gradle
Labels: java

#26973 [Python] update tags after including guppy in dataflow legacy container
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#26961 [#25896] Add an initial UI to standalone prism command.
  sdks/go/cmd/prism/README.md
  sdks/go/cmd/prism/prism.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management_test.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/server.go
  sdks/go/pkg/beam/runners/prism/internal/web/assets/style.css
  sdks/go/pkg/beam/runners/prism/internal/web/index.html
  sdks/go/pkg/beam/runners/prism/internal/web/jobdetails.html
  sdks/go/pkg/beam/runners/prism/internal/web/web.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/pkg/beam/runners/prism/prism.go
  sdks/go/pkg/beam/runners/universal/extworker/extworker.go
  sdks/go/pkg/beam/runners/universal/universal.go
Labels: go, runners, Next Action: Reviewers

#27016 fix blog links
  website/www/site/content/en/blog/beam-2.47.0.md
  website/www/site/content/en/blog/beam-2.48.0.md
Labels: website

#26970 Added dlq and error metrics to SpannerChangestreamsReadSchemaTransformProvider
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangestreamsReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangestreamsReadDlqTest.java
Labels: java, io, gcp, spanner

#26989 Add metric counting finalized rows as reported by BQ
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiFinalizeWritesDoFn.java
Labels: java, io, gcp, Next Action: Reviewers

#26999 Do not skip latest blog entry from footer
  website/www/site/layouts/index.html
Labels: website, Next Action: Reviewers

#27006 Reduce the number of layers in Python base image.
  sdks/python/container/Dockerfile
Labels: python, docker

#26957 Make sure spark/flink get tagged correctly
  runners/flink/job-server-container/flink_job_server_container.gradle
  runners/spark/job-server/container/spark_job_server_container.gradle
Labels: docker, runners, spark, flink

#26920 Add yaml validation using jsonschema.
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#27017 Use max number of bytes and not max number of messages in Pub/Sub message size check
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
Labels: java, io, gcp, Next Action: Reviewers

#26954 Remove Beam Dependency Report code
  .test-infra/jenkins/README.md
  .test-infra/jenkins/dependency_check/__init__.py
  .test-infra/jenkins/dependency_check/bigquery_client_utils.py
  .test-infra/jenkins/dependency_check/dependency_check_report_generator.py
  .test-infra/jenkins/dependency_check/dependency_check_report_generator_test.py
  .test-infra/jenkins/dependency_check/generate_report.sh
  .test-infra/jenkins/dependency_check/report_generator_config.py
  .test-infra/jenkins/dependency_check/version_comparer.py
  .test-infra/jenkins/dependency_check/version_comparer_test.py
  .test-infra/jenkins/job_Dependency_Check.groovy
  build.gradle.kts
  ownership/JAVA_DEPENDENCY_OWNERS.yaml
  sdks/python/build.gradle
  sdks/python/scripts/run_dependency_check.sh
  sdks/python/test-suites/tox/pycommon/build.gradle
  sdks/python/tox.ini
Labels: python, build, infra

#27011 added initial node count variable
  playground/terraform/infrastructure/cloudbuild-manual-setup/02.builders/locals.tf
  playground/terraform/infrastructure/cloudbuild-manual-setup/02.builders/triggers.tf
  playground/terraform/infrastructure/cloudbuild-manual-setup/02.builders/variables.tf
  playground/terraform/infrastructure/gke/main.tf
  playground/terraform/infrastructure/gke/variables.tf
  playground/terraform/infrastructure/main.tf
  playground/terraform/infrastructure/variables.tf
Labels: Next Action: Reviewers

#26713 Add minimal example for BigQuery usage
  examples/java/src/main/java/org/apache/beam/examples/cookbook/MinimalBigQueryTornadoes.java
  examples/java/src/test/java/org/apache/beam/examples/cookbook/MinimalBigQueryTornadoesTest.java
  playground/terraform/infrastructure/setup/iam.tf
Labels: java, examples, Next Action: Reviewers

#27004 Beam Quest Blogpost
  website/www/site/content/en/blog/beamquest.md
  website/www/site/data/authors.yml
  website/www/site/static/images/blog/apch-beam-w_bdg_c_en.png
Labels: website

#27037 [Go SDK] Lint fixes: receiver consistency.
  sdks/go/pkg/beam/core/timers/timers.go
Labels: go, Next Action: Reviewers

#27053 [prism] Pass reference instead of value to cmp.Diff
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management_test.go
Labels: go, runners

#27035 Reduce container image size
  CHANGES.md
  sdks/python/container/piputil.go
Labels: python, docker

#27051 Beam quest Blog Addon
  website/www/site/content/en/blog/beamquest.md
  website/www/site/static/images/blog/apch-beam-w_bdg_c_en.png
  website/www/site/static/images/blog/beam-badge-image-scaled.png
Labels: website

#27054 Make use of prism in periodic tests not cross compile.
  sdks/go/pkg/beam/transforms/periodic/periodic.go
  sdks/go/pkg/beam/transforms/periodic/periodic_test.go
Labels: go, Next Action: Reviewers

#27018 Move AdaptiveThrottler impl to new Components directory
  sdks/python/apache_beam/io/components/__init__.py
  sdks/python/apache_beam/io/components/adaptive_throttler.py
  sdks/python/apache_beam/io/components/adaptive_throttler_test.py
  sdks/python/apache_beam/io/components/util.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/datastoreio.py
Labels: python, io, gcp

#27047 Enable pubsub dynamic destinations by default
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#27028 [Playground] Make new python examples runnable
  sdks/python/apache_beam/examples/snippets/snippets_examples_wordcount_debugging.py
  sdks/python/apache_beam/examples/snippets/snippets_examples_wordcount_wordcount.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/count_per_element.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/distinct.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupby_global_aggregate.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/keys.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/kvswap.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/map_function.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/map_lambda.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/map_multiple_arguments.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/map_side_inputs_dict.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/map_side_inputs_iter.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/map_side_inputs_singleton.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/map_simple.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/map_tuple.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/tostring_kvs.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/values.py
Labels: python, examples

#27059 Fixes avro nyc trips example integration test case on Spark and Flink
  sdks/python/apache_beam/examples/avro_nyc_trips_it_test.py
Labels: python, examples, Next Action: Reviewers

#26082 Unpin tox version in Beam code base
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/apache_beam/io/azure/integration_test/Dockerfile
  sdks/python/apache_beam/io/hdfs_integration_test/Dockerfile
  sdks/python/scripts/run_tox.sh
  sdks/python/tox.ini
Labels: python, build, io

#27062 Fix direct SDF runner handle_process_outputs
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/direct/sdf_direct_runner.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python

#26997 Add Certification + Beam Quest to Documentation
  website/www/site/content/en/get-started/resources/learning-resources.md
Labels: website

#27073 Add note for changed release tag for 2.48.0
  website/www/site/content/en/blog/beam-2.48.0.md
Labels: website, Next Action: Reviewers

#27066 Quote Addition + Sharing instructions [Beam Quest Blog]
  website/www/site/content/en/blog/beamquest.md
Labels: website

#27072 Update TensorRT dockerfile
  sdks/python/test-suites/containers/tensorrt_runinference/tensor_rt.dockerfile
Labels: python, Next Action: Reviewers

#26962 Option to return timezone aware datetime for to_utc_datetime
  sdks/python/apache_beam/utils/timestamp.py
  sdks/python/apache_beam/utils/timestamp_test.py
Labels: python, Next Action: Reviewers

#27074 Update to Google Cloud libraries-bom 26.16.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#26960 Bigquery schema generation fix
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtilsTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#27042 Github Workflow Replacement for Jenkins Job, beam_PreCommit_Go (Cron, Commit, Phrase)
  .github/workflows/beam_PreCommit_Go.yml
Labels: build, Next Action: Reviewers

#27063 [Playground] [Frontend] FCE updated to v0.3.0, minor improvements
  learning/tour-of-beam/frontend/lib/main.dart
  learning/tour-of-beam/frontend/pubspec.lock
  playground/frontend/integration_test/miscellaneous_ui/output_placement_test.dart
  playground/frontend/integration_test/miscellaneous_ui/resize_output_test.dart
  playground/frontend/integration_test/miscellaneous_ui/shortcuts_modal_test.dart
  playground/frontend/lib/modules/messages/parsers/messages_parser.dart
  playground/frontend/playground_components/lib/src/controllers/code_runner.dart
  playground/frontend/playground_components/pubspec.yaml
  playground/frontend/playground_components_dev/pubspec.yaml
  playground/frontend/pubspec.lock
  playground/frontend/pubspec.yaml
Labels: learning

#27082 [Playground] - New role add
  playground/terraform/infrastructure/setup/iam.tf
Labels: Next Action: Reviewers

#27043 Release Guide update for Playground environment
  website/www/site/content/en/contribute/release-guide.md
Labels: website, Next Action: Reviewers

#27079 Update learning-resources.md with links to video material
  website/www/site/content/en/get-started/resources/learning-resources.md
  website/www/site/layouts/partials/section-menu/en/get-started.html
Labels: website

#27095 Not need to parse key coder for user states
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ParDoBoundMultiTranslator.java
Labels: runners, samza, Next Action: Reviewers

#27089 Add required commands to allowlist_externals in tox.ini
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#27020 Adding error tags in BigQuery Write Transforms
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
Labels: java, io, gcp

#27075 Add notebook for run inference with streaming pipeline example
  examples/notebooks/beam-ml/run_inference_generative_AI.ipynb
Labels: examples

#27027 [Playground] Remove old deployment workflows
  .github/workflows/build_playground_backend.yml
  .github/workflows/build_playground_frontend.yml
  .github/workflows/playground_deploy_backend.yml
  .github/workflows/playground_deploy_examples.yml
  .github/workflows/playground_deploy_infrastructure.yml
  .github/workflows/playground_examples_cd.yml
  .github/workflows/playground_examples_cd_reusable.yml
  .github/workflows/playground_examples_ci.yml
  .github/workflows/playground_examples_ci_reusable.yml
  playground/CI.md
Labels: build, Next Action: Reviewers

#26975 Add upsert and delete support to BigQueryIO
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/DefaultCoderCloudObjectTranslatorRegistrar.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryCoderProviderRegistrar.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/RowMutation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/RowMutationInformation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiCDC.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiConvertMessages.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinations.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsBeamRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsGenericRecord.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsTableRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigqueryClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/TableContainer.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProtoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProtoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkRowUpdateIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, runners, dataflow, gcp, Next Action: Reviewers

#26849 add attribute support to writeAvros and writeProtos
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/ExternalWrite.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PreparePubsubWriteDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#26475 Portable bundle manager in Samza Runner
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/DoFnOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/PortableBundleManager.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/PortableBundleManagerTest.java
Labels: runners, samza, Next Action: Reviewers

#27130 Add OWNERS file for Samza Runner
  runners/samza/OWNERS
Labels: runners, samza, Next Action: Reviewers

#27078 Initial implementation of QuotaEvent
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/logging/BeamFnLoggingClientBenchmark.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/QuotaEvent.java
Labels: java, Next Action: Reviewers

#27132 QuotaEvents for BigQuery
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp, Next Action: Reviewers

#27098 Github Workflow Replacement for Jenkins Job, beam_PreCommit_Website (Cron, Commit, Phrase)
  .github/workflows/beam_PreCommit_Website.yml
Labels: build, Next Action: Reviewers

#27121 Implement Java exception sampling
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistry.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/debug/ElementSample.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/debug/OutputSampler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/debug/OutputSamplerTest.java
Labels: java

#27096 Implement basic mapping capabilities for YAML.
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_mapping.md
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_mapping_test.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python

#27155 Pylint repression same line
  sdks/python/apache_beam/yaml/readme_test.py
Labels: python

#27068 Install release candidates for setupVirtualEnv and instalLGCPTest
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers, slow-review

#27153 Fix Python37 PostCommit azure-cli not support Bookworm
  sdks/python/apache_beam/io/azure/integration_test/docker-compose.yml
  sdks/python/test-suites/direct/common.gradle
  sdks/python/tox.ini
Labels: python, io

#27152 Fix sklearn requirement file in Py311
  sdks/python/apache_beam/examples/inference/sklearn_examples_requirements.txt
  sdks/python/apache_beam/ml/inference/sklearn_inference_it_test.py
Labels: python, examples

#26320 Select dedicated avro datum reader and writer
  CHANGES.md
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/AvroCoderCloudObjectTranslator.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/util/CloudObjectsTest.java
  sdks/java/extensions/avro/build.gradle
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/coders/AvroCoder.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/coders/AvroGenericCoder.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/io/AvroDatumFactory.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/io/AvroIO.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/io/AvroSink.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/io/AvroSource.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/AvroRecordSchema.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroJavaTimeConversions.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroJodaTimeConversions.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
  sdks/java/extensions/avro/src/test/avro/org/apache/beam/sdk/extensions/avro/schemas/test.avsc
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/coders/AvroCoderTest.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/io/AvroIOTest.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/io/AvroSourceTest.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/schemas/TestAvroConversionFactory.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/schemas/TestAvroFactory.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtilsTest.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/AvroWriteSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/ParquetWriteSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/AvroReadSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/AvroWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/ParquetReadSchemaTransformFormatProviderTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
Labels: java, io, extensions, runners, dataflow, gcp, Next Action: Reviewers

#27117 #27115 Add supported Flink versions to website
  website/www/site/content/en/documentation/runners/flink.md
Labels: website

#27173 Avro datum factory fixup
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/AvroCoderCloudObjectTranslator.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
Labels: java, extensions, runners, dataflow, Next Action: Reviewers

#27045 Add initial DLQ router
  sdks/java/io/components/build.gradle
  sdks/java/io/components/src/main/java/org/apache/beam/sdk/io/components/deadletterqueue/DLQRouter.java
  sdks/java/io/components/src/main/java/org/apache/beam/sdk/io/components/deadletterqueue/sinks/ThrowingSink.java
  sdks/java/io/components/src/test/java/org/apache/beam/sdk/io/components/deadletterqueue/DLQRouterTest.java
Labels: java, io, Next Action: Reviewers

#27055 Fix locking race between duplicate PartitionRecords w matching uid
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDao.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDaoTest.java
Labels: java, io, gcp

#27032 Change default work remaining to 0.0 instead of 1.0
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnInvoker.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnInvokersTest.java
Labels: java, io, gcp, Next Action: Reviewers

#27093 Code Completion Plugin: Define Element Pattern for Beam Java SDK
  plugins/beam-code-completion-plugin/build.gradle.kts
  plugins/beam-code-completion-plugin/src/main/java/BeamCompletionConfidence.java
  plugins/beam-code-completion-plugin/src/main/java/BeamCompletionContributor.java
  plugins/beam-code-completion-plugin/src/main/resources/META-INF/plugin.xml
  plugins/beam-code-completion-plugin/src/test/java/BeamCompletionContributorTestCase.java
  plugins/beam-code-completion-plugin/src/test/testData/TestCompletions.java
  plugins/beam-code-completion-plugin/src/test/testData/TestCompletionsWrongClass.java
  plugins/beam-code-completion-plugin/src/test/testData/TestCompletionsWrongMethod.java
Labels: Next Action: Reviewers, slow-review

#27143 Remove obsolete TourOfBeam action
  .github/workflows/tour_of_beam_examples_ci.yml
Labels: build, Next Action: Reviewers

#26978 Issue26977 changing sdk bug
  .github/workflows/playground_frontend_test.yml
  .github/workflows/tour_of_beam_frontend_test.yml
  learning/tour-of-beam/cloudbuild/scripts/tob_deploy_infra_backend.sh
  learning/tour-of-beam/frontend/integration_test/tour_page_test.dart
  learning/tour-of-beam/frontend/lib/cache/unit_content.dart
  learning/tour-of-beam/frontend/lib/models/node.dart
  learning/tour-of-beam/frontend/lib/pages/tour/state.dart
  learning/tour-of-beam/frontend/pubspec.lock
  learning/tour-of-beam/frontend/pubspec.yaml
  playground/frontend/Dockerfile
  playground/frontend/playground_components/pubspec.yaml
  playground/frontend/playground_components_dev/pubspec.yaml
  playground/frontend/pubspec.lock
  playground/frontend/pubspec.yaml
Labels: learning, Next Action: Reviewers

#27087 [Website] add project shield case-study
  website/www/site/content/en/case-studies/projectShield.md
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/projectShield/apache_beam_streaming_log_analytics.png
  website/www/site/static/images/case-study/projectShield/chad_hansen.png
  website/www/site/static/images/case-study/projectShield/marc_howard.jpg
  website/www/site/static/images/case-study/projectShield/project_shield_mechanism.png
  website/www/site/static/images/logos/powered-by/project_shield.png
Labels: website, Next Action: Reviewers

#25186 Ensure that the BeamFnLoggingClient terminates process if stream breaks
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/stream/DirectStreamObserver.java
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/logging/BeamFnLoggingClientBenchmark.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/BeamFnControlClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/BeamFnControlClientTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClientTest.java
Labels: java

#27144 [prism] UI improvements.
  sdks/go/cmd/prism/README.md
  sdks/go/cmd/prism/prism.go
  sdks/go/pkg/beam/runners/prism/internal/README.md
  sdks/go/pkg/beam/runners/prism/internal/doc.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/web/jobdetails.html
  sdks/go/pkg/beam/runners/prism/internal/web/web.go
Labels: go, runners, Next Action: Reviewers

#27186 [Python] Exception handling for loading TF models
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
Labels: python, Next Action: Reviewers

#26145 Add banner and links to Tour of Beam to website (#26113)
  website/www/site/assets/js/sliders/quotes.js
  website/www/site/assets/js/sliders/top-banners.js
  website/www/site/assets/scss/_banner.sass
  website/www/site/assets/scss/_ctas.sass
  website/www/site/assets/scss/_header.sass
  website/www/site/content/en/get-started/_index.md
  website/www/site/i18n/home/en.yaml
  website/www/site/layouts/index.html
  website/www/site/layouts/partials/header.html
  website/www/site/layouts/partials/hooks/body-end.html
  website/www/site/layouts/partials/section-menu/en/get-started.html
  website/www/site/static/images/banners/machine-learning/machine-learning-desktop.jpg
  website/www/site/static/images/banners/machine-learning/machine-learning-mobile.jpg
  website/www/site/static/images/banners/tour-of-beam/tour-of-beam-desktop.png
  website/www/site/static/images/banners/tour-of-beam/tour-of-beam-mobile.png
Labels: website, Next Action: Reviewers, slow-review

#27176 [runners-flink] #27175 fix coder for eagerly bound state
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/state/FlinkStateInternals.java
  website/www/site/layouts/shortcodes/flink_java_pipeline_options.html
  website/www/site/layouts/shortcodes/flink_python_pipeline_options.html
Labels: website, runners, flink

#27030 [Security] Upgrade snappy-java to 1.1.10.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#27204 Revert "Adding error tag and metrics in SpannerWriteSchemaTransformProvider"
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteSchemaTransformProvider.java
Labels: java, io, gcp, spanner

#27131 Add PortableUtils for Samza Runner
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/PortableBundleManager.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ConfigBuilder.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/util/PortableConfigUtils.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/util/PortableConfigUtilsTest.java
Labels: runners, samza, Next Action: Reviewers

#26593 Bigtable Read Xlang Wrapper for Python SDK
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/RowUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadSchemaTransformProviderIT.java
  sdks/python/apache_beam/io/gcp/bigtableio.py
  sdks/python/apache_beam/io/gcp/bigtableio_test.py
Labels: python, java, io, gcp

#27116 [Playground] Decrease severity of not important log messages
  playground/backend/internal/cache/redis/redis_cache.go
  playground/backend/internal/code_processing/code_processing.go
  playground/backend/internal/components/cache_component.go
  playground/backend/internal/db/datastore/datastore_db.go
  playground/backend/internal/utils/file_utils.go
Labels: Next Action: Reviewers

#27139 [Playground] - Cloudfunction rename
  playground/terraform/README.md
  playground/terraform/build.gradle.kts
  playground/terraform/infrastructure/cloudfunctions/main.tf
Labels: Next Action: Reviewers

#27184 Adding error tag and metrics in SpannerWriteSchemaTransformProvider
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteSchemaTransformProvider.java
Labels: java, io, gcp, spanner

#27206 Fixes naming conflict with "Tour of Beam"
  examples/notebooks/interactive-overview/dataframes.ipynb
  examples/notebooks/interactive-overview/getting-started.ipynb
  examples/notebooks/interactive-overview/reading-and-writing-data.ipynb
  examples/notebooks/interactive-overview/windowing.ipynb
  website/www/site/content/en/get-started/an-interactive-overview-of-beam.md
  website/www/site/content/en/get-started/beam-overview.md
  website/www/site/content/en/get-started/quickstart-py.md
  website/www/site/layouts/partials/section-menu/en/get-started.html
Labels: website, examples

#27185 disabling triggers on precommit website due to regression
  .github/workflows/beam_PreCommit_Website.yml
Labels: build

#27192 Improve performance alert tool
  sdks/python/apache_beam/testing/analyzers/constants.py
  sdks/python/apache_beam/testing/analyzers/github_issues_utils.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_utils.py
  sdks/python/apache_beam/testing/analyzers/tests_config.yaml
Labels: python

#27105 Add an affinity concept to yaml providers.
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python

#27209 Update to libraries-bom 26.17.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#25430 Using capabilities instead of the container name to set use_single_core_per_container
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
Labels: runners, dataflow, Next Action: Reviewers

#26705 Add Exception metadata to the data sampling protocol
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
Labels: model

#27235 Add #27000 as a known issue released in Beam 2.48.0
  CHANGES.md
  website/www/site/content/en/blog/beam-2.48.0.md
Labels: website, Next Action: Reviewers

#27157 Python data sampling optimization
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
  sdks/python/apache_beam/runners/worker/data_sampler.py
  sdks/python/apache_beam/runners/worker/data_sampler_test.py
  sdks/python/apache_beam/runners/worker/operations.pxd
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
Labels: python, Next Action: Reviewers

#27056 Improve autoscaler throughput estimates and account for heartbeats
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/FilterForMutationDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/estimator/BytesThroughputEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/estimator/CoderSizeEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/estimator/NullSizeEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/estimator/NullThroughputEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/estimator/SizeEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/StreamProgress.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/FilterForMutationDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/estimator/BytesThroughputEstimatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/estimator/NullSizeEstimatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/ReadChangeStreamPartitionProgressTrackerTest.java
Labels: java, io, gcp

#27145 Basic error handling for yaml.
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python

#27228 Updates Python ExternalTransform to use the transform service when needed
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/utils/transform_service_launcher.py
Labels: python

#26987 Add blog post for Managing Beam dependencies in Java
  website/www/site/content/en/blog/managing-beam-dependencies-in-java.md
  website/www/site/data/authors.yml
Labels: website, Next Action: Reviewers

#27218 [Playground] [Frontend] Brand colors in Playground flutter_code_editor
  learning/tour-of-beam/frontend/lib/components/profile/user_menu.dart
  playground/frontend/playground_components/lib/src/constants/colors.dart
Labels: learning, Next Action: Reviewers

#27118 runner image and arc changes
  .github/gh-actions-self-hosted-runners/arc/config/arc_deployment.tpl
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
  .github/gh-actions-self-hosted-runners/arc/gke.tf
  .github/gh-actions-self-hosted-runners/arc/iam.tf
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
  .github/gh-actions-self-hosted-runners/arc/images/README.md
  .github/workflows/build_runner_image.yml
Labels: build, Next Action: Reviewers

#27212 Code completion plugin: add plugin tests workflow
  .github/workflows/code_completion_plugin_tests.yml
  plugins/beam-code-completion-plugin/build.gradle.kts
  plugins/beam-code-completion-plugin/gradlew
Labels: build, Next Action: Reviewers

#27210 add job rerun action
  .github/actions/rerun-job-action/action.yml
Labels: build, Next Action: Reviewers

#27168 Code completion plugin: Add Java SDK Transform Completions (Hard Coded)
  plugins/beam-code-completion-plugin/src/main/java/BeamCompletionContributor.java
  plugins/beam-code-completion-plugin/src/test/java/BeamCompletionContributorTestCase.java
  plugins/beam-code-completion-plugin/src/test/testData/TestCompletions.java
  plugins/beam-code-completion-plugin/src/test/testData/TestCompletionsWrongClass.java
  plugins/beam-code-completion-plugin/src/test/testData/TestCompletionsWrongMethod.java
Labels: Next Action: Reviewers

#27200 [Website] add hsbc case-study
  website/www/site/content/en/case-studies/hsbc.md
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/hsbc/andrzej_golonka.jpg
  website/www/site/static/images/case-study/hsbc/chup_cheng.jpg
  website/www/site/static/images/case-study/hsbc/scheme-10.png
  website/www/site/static/images/case-study/hsbc/scheme-11.png
  website/www/site/static/images/case-study/hsbc/scheme-9.png
  website/www/site/static/images/logos/powered-by/hsbc.png
Labels: website, Next Action: Reviewers

#27080 [Tour of Beam] add work example
  learning/tour-of-beam/learning-content/io/big-query-io/read-query/go-example/main.go
  learning/tour-of-beam/learning-content/io/big-query-io/read-query/java-example/Task.java
  learning/tour-of-beam/learning-content/io/big-query-io/read-query/python-example/task.py
  learning/tour-of-beam/learning-content/io/big-query-io/read-table/go-example/main.go
  learning/tour-of-beam/learning-content/io/big-query-io/read-table/java-example/Task.java
  learning/tour-of-beam/learning-content/io/big-query-io/read-table/python-example/task.py
Labels: learning, Next Action: Reviewers

#27252 Remove leftover Python 3.7 references
  gradle.properties
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python

#27250 Handling issue where keystore file is empty for MongoDB SSL
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/SSLUtils.java
Labels: java, io, mongodb, Next Action: Reviewers

#27253 Bump worker image dependency
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#27244 Add Tour of Beam Page
  website/www/site/content/en/get-started/tour-of-beam.md
Labels: website

#27248 [prism] Fix linting issue for flag var
  sdks/go/cmd/prism/prism.go
Labels: go, Next Action: Reviewers

#27034 Add notebook for image processing using beam
  examples/notebooks/beam-ml/image_processing_tensorflow.ipynb
Labels: examples, Next Action: Reviewers

#27015 Enable remote caching for Beam builds
  .test-infra/jenkins/CommonJobProperties.groovy
  settings.gradle.kts
Labels: build, infra, Next Action: Reviewers

#27177 Remove some null checks for optional SplunkIO parameters
  sdks/java/io/splunk/src/main/java/org/apache/beam/sdk/io/splunk/SplunkIO.java
Labels: java, io, Next Action: Reviewers

#27251 [Storage API write] Don't error-log expected offset mismatch errors
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#27039 Add error metrics and DLQ support to GCS/File write schema transforms
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/AvroWriteSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/CsvWriteSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformFormatProviders.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/JsonWriteSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/ParquetWriteSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/XmlWriteSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/AvroWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/CsvWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformFormatProvidersTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/JsonWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/ParquetWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/XmlWriteSchemaTransformFormatProviderTest.java
Labels: java, io

#27267 Disable FirestoreIT tests on Dataflow
  runners/google-cloud-dataflow-java/build.gradle
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/BaseFirestoreIT.java
Labels: java, io, runners, dataflow, gcp

#27270 Fix perf tool tests
  .github/workflows/run_perf_alert_tool.yml
  sdks/python/apache_beam/testing/analyzers/perf_analysis.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_test.py
Labels: python, build, Next Action: Reviewers

#27217 renamed dictionary variable addresses #27166
  sdks/python/apache_beam/io/gcp/bigquery_schema_tools.py
Labels: python, io, gcp, Next Action: Reviewers

#27273 Start expansion service containers before the controller container
  sdks/java/transform-service/docker-compose/docker-compose.yml
Labels: java

#27249 Cleanup for GA launch of ReadChangeStream
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/BigtableChangeStreamAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/ChangeStreamDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/DaoFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableAdminDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/InitializeDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/InitializeDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
Labels: java, io, gcp

#27230 [Playground] Decrease run log failure messages severity
  playground/backend/internal/code_processing/code_processing.go
  playground/backend/internal/errors/lifecycle_error.go
Labels: Next Action: Reviewers

#27146 BigTable write SchemaTransform and Python wrapper
  .test-infra/jenkins/job_PostCommit_Python_CrossLanguage_Gcp_Dataflow.groovy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteSchemaTransformProviderIT.java
  sdks/python/apache_beam/io/gcp/bigtableio.py
  sdks/python/apache_beam/io/gcp/bigtableio_it_test.py
  sdks/python/apache_beam/io/gcp/bigtableio_test.py
Labels: python, java, infra, io, gcp, Next Action: Reviewers

#27274 Programmatically choose target Beam version for Automated Expansion Service tests
  sdks/go/test/integration/xlang/expansion_test.go
Labels: go, Next Action: Reviewers

#26982 Add explicit PortablePipelineOptions.enableHeapDumps to control heap dumping.
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PortablePipelineOptions.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/status/MemoryMonitor.java
Labels: java, Next Action: Reviewers, slow-review

#27257 Finish Java Exception Sampling
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistry.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/debug/ElementSample.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/debug/OutputSampler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/debug/OutputSamplerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/status/BeamFnStatusClientTest.java
Labels: java

#27276 [Python] Add note for using TF2 models with TensorFlow Hub
  examples/notebooks/beam-ml/run_inference_with_tensorflow_hub.ipynb
Labels: examples

#26798 Add boilerplate Java21 security properties support for Java SDK containers
  sdks/java/container/java21/java21-security.properties
  sdks/java/container/java21/option-java21-security.json
Labels: java, docker, Next Action: Reviewers

#27287 Fix PostCommit_XVR_JavaUsingPython_Dataflow fail cleanUpDockerJavaImages
  runners/google-cloud-dataflow-java/scripts/cleanup_untagged_gcr_images.sh
Labels: runners, dataflow

#27280 Implement Exception Sampling in the Python SDK
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
  sdks/python/apache_beam/runners/worker/data_sampler.py
  sdks/python/apache_beam/runners/worker/data_sampler_test.py
  sdks/python/apache_beam/runners/worker/operations.pxd
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
Labels: python

#27285 Bump datastore-v1-proto-client dependency to match libraries-bom
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#27291 Cherry pick #27285 into release-2.49.0 branch
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#27293 bump go version to 1.20.5
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/run_with_go_version.sh
Labels: go, build, Next Action: Reviewers

#27202 Simplify SchemaTransform API
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/SchemaTransform.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/SchemaTransformProvider.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProviderTest.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionServiceSchemaTransformProvider.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExpansionServiceSchemaTransformProviderTest.java
  sdks/java/extensions/sql/expansion-service/src/main/java/org/apache/beam/sdk/extensions/sql/expansion/SqlTransformSchemaTransformProvider.java
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformProvider.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumIOMySqlConnectorIT.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumIOPostgresSqlConnectorIT.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformTest.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileReadSchemaTransformProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformProvider.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/AvroReadSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/FileReadSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/JsonReadSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/LineReadSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/ParquetReadSchemaTransformFormatProviderTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryExportReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryFileLoadsWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangestreamsReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryExportReadSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryFileLoadsWriteSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadSchemaTransformProviderIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteSchemaTransformProviderIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProviderIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/ReadWriteIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamsSchemaTransformIT.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcWriteSchemaTransformProvider.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProviderTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcWriteSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/SingleStoreSchemaTransformReadProvider.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/SingleStoreSchemaTransformWriteProvider.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreIOSchemaTransformIT.java
Labels: java, io, extensions, sql, gcp, jdbc, kafka, Next Action: Reviewers, spanner

#27305 Update multi model notebook to remove workarounds
  examples/notebooks/beam-ml/run_inference_multi_model.ipynb
Labels: examples

#27277 Use requirements file as a constraint when building the expansion service container
  sdks/python/expansion-service-container/Dockerfile
Labels: python, Next Action: Reviewers

#27299 [#27207] Update Go quickstart.
  website/www/site/content/en/get-started/quickstart-go.md
Labels: website

#27318 changed rerun logic to accomodate when job is not in check list
  .github/actions/rerun-job-action/action.yml
Labels: build

#26085 Populate getWorkStream latencies in dataflow streaming worker harness
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: runners, dataflow

#27304 BugFix for #27302 DebeziumIO fails to claim records from a database
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/KafkaSourceConsumerFn.java
Labels: java, io, Next Action: Reviewers

#26950 Publish Docker artifacts from build_release_candidate.yml
  .github/workflows/build_release_candidate.yml
Labels: build

#27323 Remove relative imports.
  sdks/python/apache_beam/examples/snippets/snippets_test.py
Labels: python, examples

#26948 Add topicPattern property to KafkaIO.Read to match topics using a regex
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibility.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedSource.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/WatchForKafkaTopicPartitions.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/WatchForKafkaTopicPartitionsTest.java
Labels: java, io, kafka, Next Action: Reviewers
