Repository apache/beam, pull requests merged in 2023-09, with the labels that each got.

#28280 Return new ReflectData for both reflect datum reader and writer
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/io/AvroDatumFactory.java
Labels: java, extensions, avro

#28172 Add Speech Emotion Recognition TensorFlow Notebook
  examples/notebooks/beam-ml/speech_emotion_tensorflow.ipynb
Labels: examples, Next Action: Reviewers

#27984 [Task] Update document for spark runner on a kubernetes cluster
  website/www/site/content/en/documentation/runners/spark.md
Labels: website, Next Action: Reviewers, slow-review

#28166 Fix a couple notebook typos
  examples/notebooks/beam-ml/nlp_tensorflow_streaming.ipynb
Labels: examples

#28251 Add PostCommit Go VR Samza action
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Go_VR_Samza.yml
Labels: build, Next Action: Reviewers

#28193 [prism] Fail jobs on SDK disconnect.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle_test.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker_test.go
  sdks/go/pkg/beam/testing/passert/equals_test.go
Labels: go, runners, Next Action: Reviewers

#28045 Reduce the maximum size of input splits in Flink to better distribute work
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/SourceInputFormat.java
Labels: runners, flink, Next Action: Reviewers

#27982 Add ARM test suite trigger commands to mass comment script
  release/src/main/scripts/github_actions_jobs.txt
  release/src/main/scripts/mass_comment.py
Labels: build, Next Action: Reviewers

#28284 remove src from path and remove link step for src
  .github/workflows/beam_Release_Python_NightlySnapshot.yml
  sdks/python/scripts/run_snapshot_publish.sh
Labels: python, build, Next Action: Reviewers

#28253 Pass runtime configs & variables to BeamSqlSeekableTable
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/BeamSqlSeekableTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/transform/BeamJoinTransforms.java
Labels: java, extensions, sql

#28292 Bump HCLS API [08/2023]
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#28308 Add use_public_ips to Go Dataflow Runner
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/dataflow/dataflow_test.go
Labels: go, runners, dataflow, Next Action: Reviewers

#28285 Various render runner improvements.
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/runners/render.py
  sdks/python/apache_beam/runners/render_test.py
Labels: python, io, Next Action: Reviewers

#28255 adding nightly publish
  .github/workflows/beam_Release_NightlySnapshot.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#28313 Allow customizing log level in beam.LogElements
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python, Next Action: Reviewers

#28311 Better error messages on missing or malformed yaml providers.
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
Labels: python, Next Action: Reviewers

#28250 [Spark, TPCDS] Disable AQE with Spark 3.2 in TPCDS benchmarks to reduce overhead for complex queries
  sdks/java/testing/tpcds/build.gradle
Labels: java

#28291 Fix Java 11 Example PreCommit GItHub Action
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java11.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#28336 Migrate "beam_PreCommit_SQL" Jenkins job to Github Actions
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_SQL.yml
Labels: build, Next Action: Reviewers

#28337 Migrate "beam_PostCommit_Python_Examples_*" Jenkins job to Github Actions
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Python_Examples_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_Examples_Direct.yml
  .github/workflows/beam_PostCommit_Python_Examples_Flink.yml
  .github/workflows/beam_PostCommit_Python_Examples_Spark.yml
Labels: build, Next Action: Reviewers

#28322 Pin orjson dependency.
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#28334 Interpret yaml mapping elements as rows.
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python, Next Action: Reviewers

#28213 [BEAM-11151]Adds the ToStringFn Bundle Processor to Golang
  sdks/go/pkg/beam/core/runtime/exec/to_string.go
  sdks/go/pkg/beam/core/runtime/exec/to_string_test.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
Labels: go

#28343 Retag 2.50.0 RC2 to publish multi-arch containers
  release/src/main/scripts/publish_docker_images.sh
Labels: build

#27991 Refactor ConvertHelpers in "core" to not depend on Avro
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ConvertHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/RowSchemaInformationProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SchemaInformationProvider.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroSchemaInformationProvider.java
Labels: java, extensions

#28257 Add GitHub Workflow Replacement for Jenkins job_PostCommit_Java_Examples_Dataflow_Java11
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_Java11.yml
Labels: build, Next Action: Reviewers

#28348 adds maven to image
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
Labels: build

#28329 Inline publish script
  .github/workflows/beam_Release_NightlySnapshot.yml
Labels: build

#28317 Add buffered logger to the Python bootloader
  sdks/go/container/tools/buffered_logging.go
  sdks/go/pkg/beam/util/execx/exec.go
  sdks/python/container/boot.go
  sdks/python/container/piputil.go
Labels: python, go, docker, Next Action: Reviewers

#28314 Add GitHub Workflow Replacement for Jenkins job_PostCommit_Java_Examples_Dataflow_Java17
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_Java17.yml
Labels: build, Next Action: Reviewers

#28354 Allow users to pass inference args into vertex ai model handler
  CHANGES.md
  sdks/python/apache_beam/ml/inference/vertex_ai_inference.py
Labels: python

#28353 Enable use-implicit-booleaness-not-comparison check
  sdks/python/.pylintrc
  sdks/python/apache_beam/options/pipeline_options.py
Labels: python, Next Action: Reviewers

#28349 Direct Python SDK worker crash logs through Logging API
  sdks/python/container/boot.go
Labels: python, docker, Next Action: Reviewers

#28355 Apply the monkey-patch with backport of newer changes to dill pickler also in Python 3.10.
  sdks/python/apache_beam/internal/dill_pickler.py
Labels: python, Next Action: Reviewers

#28357 updade beam arc env file: new image with maven
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
Labels: build, Next Action: Reviewers

#28356 Undo changes to BeamModulePlugin.groovy
  .github/workflows/beam_Release_NightlySnapshot.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#28360 Edit for clarity
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: website

#28332 Remove mad and tshift when Pandas >= 2.0 as they are removed there.
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#28116 Bump classgraph version to 4.8.162
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/resources/ClasspathScanningResourcesDetectorTest.java
Labels: build, runners, core, Next Action: Reviewers

#28358 Add vertex ai llm example + integration test
  sdks/python/apache_beam/examples/inference/vertex_ai_llm_text_classification.py
  sdks/python/apache_beam/ml/inference/vertex_ai_inference_it_test.py
Labels: python, examples

#28361 Add descriptions for the 2 vertex examples
  sdks/python/apache_beam/examples/inference/README.md
Labels: python, examples

#28042 New MLTransform documentation
  website/www/site/content/en/documentation/ml/data-processing.md
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/content/en/documentation/ml/preprocess-data.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website, Next Action: Reviewers

#28169 [YAML] Implement a consistent BigQuery read and write transform.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_test.py
  sdks/python/apache_beam/typehints/schema_registry.py
  sdks/python/apache_beam/yaml/main.py
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/yaml_io.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, java, io, gcp

#28190 Add some documentation on yaml error handling.
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_errors.md
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python

#28310 Informed choice of yaml provider for root transforms.
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_scope_test.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
Labels: python

#28287 Post 2.50.0 Streamline release guide improvements
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#28303 Add GitHub Workflow Replacement for Jenkins job_PostCommit_Sickbay_Python
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Sickbay_Python.yml
Labels: build, Next Action: Reviewers

#28171 Properly handle in-flight deletes followed by adds in OrderedListState
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternals.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternalsTest.java
Labels: runners, dataflow, Next Action: Reviewers, slow-review

#28369 Github Workflow Replacement for Jenkins Job, beam_PostCommit_XVR_GoUsingJava_Dataflow
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_XVR_GoUsingJava_Dataflow.yml
Labels: build, Next Action: Reviewers

#28300 Github Workflow Replacement for Jenkins Job, beam_PreCommit_Java_GCP_IO_Direct (Cron, Commit, Phrase)
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Java_GCP_IO_Direct.yml
Labels: build, Next Action: Reviewers

#28259 Publish Checkstyle Results
  .github/workflows/beam_PreCommit_Spotless.yml
Labels: build, Next Action: Reviewers

#28344 Github Workflow Replacement for Jenkins Job, beam_PostCommit_TransformService_Direct
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_TransformService_Direct.yml
Labels: build, Next Action: Reviewers

#28304 Github Workflow Replacement for Jenkins Job, beam_PostCommit_Go_VR_Spark
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Go_VR_Spark.yml
Labels: build, Next Action: Reviewers

#28146 Add PostCommit Go VR Flink job
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Go_VR_Flink.yml
Labels: build, Next Action: Reviewers

#28392 Github Workflow Replacement for Jenkins Jobs, beam_PostCommit_Java_Jpms_*
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Jpms_Dataflow_Java11.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Dataflow_Java17.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Direct_Java11.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Direct_Java17.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Flink_Java11.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Spark_Java11.yml
Labels: build, Next Action: Reviewers

#28315 Add GitHub Workflow Replacement for Jenkins job_PostCommit_Java_DataflowV1 and job_PostCommit_Java_DataflowV2
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_DataflowV1.yml
  .github/workflows/beam_PostCommit_Java_DataflowV2.yml
Labels: build, Next Action: Reviewers

#28273 Update Python data sampling algorithm
  sdks/python/apache_beam/runners/worker/data_sampler.py
Labels: python

#28400 Call out fixed security vulnerabilities
  CHANGES.md
  website/www/site/content/en/blog/beam-2.50.0.md
Labels: website

#28381 Fix typos, and clarify playground deploy.
  website/www/site/content/en/contribute/release-guide.md
Labels: website, Next Action: Reviewers

#28404 Bump orjson version
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#28416 increase main pool to 24 and pods to 200
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
Labels: build, Next Action: Reviewers

#28401 Fix whitespace triggers
  .github/workflows/beam_PreCommit_Whitespace.yml
Labels: build

#28414 Remove bootloader naming logic for unsupported Python versions
  sdks/python/container/boot.go
Labels: python, docker, Next Action: Reviewers

#28316 Disable Commit trigger for certain Jenkins precommit
  .test-infra/jenkins/job_PreCommit_PythonDocs.groovy
  .test-infra/jenkins/job_PreCommit_PythonLint.groovy
  .test-infra/jenkins/job_PreCommit_RAT.groovy
  .test-infra/jenkins/job_PreCommit_Spotless.groovy
  .test-infra/jenkins/job_PreCommit_Website.groovy
  .test-infra/jenkins/job_PreCommit_Website_Stage_GCS.groovy
  .test-infra/jenkins/job_PreCommit_Whitespace.groovy
Labels: infra, Next Action: Reviewers

#27767 add getworkermetadata streaming rpc
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/AbstractWindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/ForwardingClientResponseObserver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/StreamObserverFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillEndpoints.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServiceAddress.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcCommitWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcGetDataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcGetWorkerMetadataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcGetWorkerMetadataStreamTest.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill_service.proto
Labels: runners, dataflow, Next Action: Reviewers

#28226 Add govulncheck to Go Tests workflow
  .github/workflows/go_tests.yml
Labels: build, Next Action: Reviewers

#28419 Exclude source-overrides from checkStyle javadocPackage
  sdks/java/build-tools/src/main/resources/beam/checkstyle/suppressions.xml
Labels: java, build

#28266 Feature/automate io performance tests
  .github/workflows/beam_PostCommit_Java_IO_Performance_Tests.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/IoPerformanceTestUtilities.groovy
  it/build.gradle
  it/google-cloud-platform/build.gradle
Labels: build, Next Action: Reviewers

#28421 More targeted workaround for Python 3.11 comprehension bug.
  sdks/python/apache_beam/typehints/trivial_inference.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
Labels: python

#28425 Revert "Add govulncheck to Go Tests workflow (#28226)"
  .github/workflows/go_tests.yml
Labels: build

#28376 Add notebook for RunInference with Hugging Face
  examples/notebooks/beam-ml/README.md
  examples/notebooks/beam-ml/run_inference_huggingface.ipynb
Labels: examples

#28424 Remove Tensorflow from default Beam images.
  CHANGES.md
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#28335 Add script to cache provider artifacts for faster startup.
  sdks/python/apache_beam/yaml/cache_provider_artifacts.py
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python

#28208 Add an annotation to expose transforms to yaml.
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python

#28423 Update Dataflow container used by dev SDKs
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#28391 Github Workflow Replacement for Jenkins Job, beam_PostCommit_Website_Publish
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Website_Publish.yml
  .test-infra/jenkins/job_PostCommit_Website_Publish.groovy
Labels: build, Next Action: Reviewers

#28433 remove sonarqube jenkins report
  .test-infra/jenkins/job_sonarqube_report.groovy
Labels: infra

#28413 Route remaining prints in boot.go through logging service if possible, add periodic flush for PIP invocations
  sdks/go/container/tools/buffered_logging.go
  sdks/go/container/tools/buffered_logging_test.go
  sdks/python/container/boot.go
  sdks/python/container/piputil.go
Labels: python, go, docker, Next Action: Reviewers

#28312 Add file loads streaming integration tests
  runners/google-cloud-dataflow-java/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/FileLoadsStreamingIT.java
Labels: java, io, runners, dataflow, gcp

#28396 Remove append method for Pandas >= 2.0.
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frame_base_test.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#28207 Add GitHub Workflow Replacement for Jenkins job_PostCommit_Java
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java.yml
Labels: build, Next Action: Reviewers

#28196 Add PostCommit Go github action
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Go.yml
Labels: build, Next Action: Reviewers

#28434 Revert "Fix flaky test StreamingDataflowWorkerTest"
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
Labels: runners, dataflow

#28418 Add flag to control automatic exception sampling in Python (disabled)
  sdks/python/apache_beam/runners/worker/data_sampler.py
  sdks/python/apache_beam/runners/worker/data_sampler_test.py
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
Labels: python

#28114 [yaml] Add UDF support to mapping transforms
  sdks/python/apache_beam/utils/python_callable.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_udf_test.py
  sdks/python/container/license_scripts/dep_urls_py.yaml
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#28441 use go 1.21.1 for build
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#28267 Increase transform service timeout
  sdks/java/transform-service/launcher/src/main/java/org/apache/beam/sdk/transformservice/launcher/TransformServiceLauncher.java
  sdks/python/apache_beam/utils/transform_service_launcher.py
Labels: python, java, Next Action: Reviewers

#28440 Fix Java PreCommit Action correct branch to run
  .github/workflows/beam_PreCommit_Java.yml
Labels: build

#28453 Add instructions on manually running jobs
  .github/workflows/README.md
Labels: build

#28427 Remove Jenkins Python Formatter PreCommit
  .test-infra/jenkins/job_PreCommit_CommunityMetrics.groovy
  .test-infra/jenkins/job_PreCommit_Go.groovy
  .test-infra/jenkins/job_PreCommit_Go_Portable.groovy
  .test-infra/jenkins/job_PreCommit_Kotlin_Examples.groovy
  .test-infra/jenkins/job_PreCommit_PythonAutoformatter.groovy
  .test-infra/jenkins/job_PreCommit_Typescript.groovy
Labels: infra

#28458 Consolidate env blocks for stage website precommit
  .github/workflows/beam_PreCommit_Website_Stage_GCS.yml
Labels: build

#28403 Add flag to control automatic exception sampling in Java (disabled)
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/debug/DataSampler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/debug/OutputSampler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/debug/DataSamplerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/debug/OutputSamplerTest.java
Labels: java

#28459 Update website to have Beam College banners
  website/www/site/layouts/partials/header.html
  website/www/site/static/images/college_2023_banner_desktop.png
  website/www/site/static/images/college_2023_banner_mobile.png
Labels: website

#28456 Add official govulncheck action to Go Tests workflow
  .github/workflows/go_tests.yml
Labels: build

#28447 Migrate "beam_PostCommit_PortableJar_*" Jenkins jobs to GitHub Actions
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_PortableJar_Flink.yml
  .github/workflows/beam_PostCommit_PortableJar_Spark.yml
Labels: python, build, Next Action: Reviewers

#28448 Migrate "beam_PostCommit_Python_ValidatesContainer_Dataflow" Jenkins jobs to GitHub Actions
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow_With_RC.yml
Labels: build, Next Action: Reviewers

#28466 Github Workflow Replacement for Jenkins Jobs, beam_PostCommit_Python_Xlang_*
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Python_Xlang_Gcp_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_Xlang_Gcp_Direct.yml
  .github/workflows/beam_PostCommit_Python_Xlang_IO_Dataflow.yml
Labels: build, Next Action: Reviewers

#28432 Github Workflow Replacement for Jenkins Jobs, beam_PostCommit_XVR_*
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_XVR_Direct.yml
  .github/workflows/beam_PostCommit_XVR_Flink.yml
  .github/workflows/beam_PostCommit_XVR_JavaUsingPython_Dataflow.yml
  .github/workflows/beam_PostCommit_XVR_PythonUsingJavaSQL_Dataflow.yml
  .github/workflows/beam_PostCommit_XVR_PythonUsingJava_Dataflow.yml
  .github/workflows/beam_PostCommit_XVR_Samza.yml
  .github/workflows/beam_PostCommit_XVR_Spark3.yml
Labels: build, Next Action: Reviewers

#28409 Migrate "beam_PostCommit_Java_Examples_*" Jenkins jobs to GitHub Actions
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_Java.yml
  .github/workflows/beam_PostCommit_Java_Examples_Direct.yml
  .github/workflows/beam_PostCommit_Java_Examples_Flink.yml
  .github/workflows/beam_PostCommit_Java_Examples_Spark.yml
Labels: build, Next Action: Reviewers

#28444 Prism docker env
  sdks/go/pkg/beam/core/runtime/metricsx/metricsx.go
  sdks/go/pkg/beam/runners/prism/internal/environments.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/artifact.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/server.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/pkg/beam/runners/universal/runnerlib/stage.go
Labels: go, runners, Next Action: Reviewers

#28374 Add mechanism to override bigtable client for testing
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/BigtableChangeStreamAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/BigtableClientOverride.java
Labels: java, io, gcp, Next Action: Reviewers

#28461 Allow dropLataData in GBK for SamzaRunner
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaPipelineOptions.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/GroupByKeyOp.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/GroupByKeyOpTest.java
Labels: runners, samza, Next Action: Reviewers

#28472 Migrate "beam_PostCommit_Python_MongoDBIO_IT" Jenkins job to GitHub Actions
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Python_MongoDBIO_IT.yml
Labels: build, Next Action: Reviewers

#28473 Migrate "beam_PostCommit_Java_Hadoop_Versions" Jenkins job to GitHub Actions
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Hadoop_Versions.yml
Labels: build, Next Action: Reviewers

#28368 Github Workflow Replacement for Jenkins Job, beam_PostCommit_Website_Test
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Website_Test.yml
Labels: build, Next Action: Reviewers

#28479 Remove implicitly defined IOs.
  sdks/python/apache_beam/yaml/yaml_io.py
Labels: python, Next Action: Reviewers

#28484 Update dataflow container version
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#28485 [BEAM-28399] Ensure dataflow experiments are always set when dataflowflow runner is used.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python

#28469 Add GitHub Workflow Replacement for Jenkins job_PostCommit_SQL
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_SQL.yml
Labels: build, Next Action: Reviewers

#28488 Remove extra registrations for createFn.
  sdks/go/pkg/beam/beam.shims.go
  sdks/go/pkg/beam/create.go
  sdks/go/pkg/beam/util.go
Labels: go, Next Action: Reviewers

#28352 Add GitHub Workflow Replacement for Jenkins job_PostCommit_Java_Examples_Dataflow_V2
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_V2.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_V2_Java.yml
Labels: build, Next Action: Reviewers

#28491 [Go SDK]: Retrieve element type from input PCollection in parquetio.Write
  CHANGES.md
  sdks/go/pkg/beam/io/parquetio/parquetio.go
  sdks/go/pkg/beam/io/parquetio/parquetio_test.go
Labels: go, io, Next Action: Reviewers

#28382 Support legacy DATE and TIME logical types in xlang JdbcIO
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTranslationTest.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/LogicalTypes.java
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
  sdks/python/apache_beam/io/jdbc.py
Labels: python, java, io, jdbc, Next Action: Reviewers

#28372 Add Load Tests CoGBK Dataflow Streaming Java github action
  .github/workflows/README.md
  .github/workflows/beam_LoadTests_Java_CoGBK_Dataflow_Streaming.yml
  .github/workflows/load-tests-job-configs/config_CoGBK_Java_Streaming_2GB_MultipleKey.txt
  .github/workflows/load-tests-job-configs/config_CoGBK_Java_Streaming_2GB_Reiteration_10KB.txt
  .github/workflows/load-tests-job-configs/config_CoGBK_Java_Streaming_2GB_Reiteration_2MB.txt
  .github/workflows/load-tests-job-configs/config_CoGBK_Java_Streaming_2GB_SingleKey.txt
Labels: build, Next Action: Reviewers

#28274 Remove TableSchema to JSON conversion.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
Labels: java, io, gcp, Next Action: Reviewers

#28496 RenderRunner cleanup
  sdks/python/apache_beam/runners/render.py
  sdks/python/apache_beam/runners/render_test.py
Labels: python

#28487 [#28187] Add standalone prism validates runner precommit
  .github/workflows/beam_PreCommit_GoPrism.yml
  build.gradle.kts
  sdks/go/README.md
  sdks/go/cmd/prism/prism.go
  sdks/go/pkg/beam/runners/prism/internal/environments.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/pkg/beam/runners/prism/prism.go
  sdks/go/test/build.gradle
  sdks/go/test/integration/integration.go
  sdks/go/test/run_validatesrunner_tests.sh
Labels: go, build, runners, Next Action: Reviewers

#28233 Updating Storage API Autosharding documentation to include that it doesn't work on Runner V2
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: website

#28289 Better errors when inputs are omitted.
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_scope_test.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
Labels: python

#28510 Fix broken link
  website/www/site/content/en/documentation/sdks/python-dependencies.md
Labels: website

#28509 Fix building prism in action.
  sdks/go/test/run_validatesrunner_tests.sh
Labels: go

#28499 Remove internal series.append call from frames.py
  sdks/python/apache_beam/dataframe/frames.py
Labels: python

#28422 Fix numeric_only logic in frames_test for Pandas 2
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frame_base_test.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#28481 Suppress FutureWarnings for Pandas < 2
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#28442 Sets recommended max Xmx 32G when set_recommended_max_xmx experiment is enabled
  sdks/java/container/boot.go
Labels: java, docker, Next Action: Reviewers

#28325 Add PerformanceTests BigQueryIO actions
  .github/workflows/README.md
  .github/workflows/beam_PerformanceTests_BigQueryIO_Batch_Java_Avro.yml
  .github/workflows/beam_PerformanceTests_BigQueryIO_Batch_Java_Json.yml
  .github/workflows/beam_PerformanceTests_BigQueryIO_Streaming_Java.yml
  .github/workflows/performance-tests-job-configs/config_BigQueryIO_Batch_Java_Avro.txt
  .github/workflows/performance-tests-job-configs/config_BigQueryIO_Batch_Java_Json.txt
  .github/workflows/performance-tests-job-configs/config_BigQueryIO_Streaming_Java.txt
Labels: build, Next Action: Reviewers

#28501 update gcloud components in runner
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
Labels: build

#28521 [Go SDK]: Support writes to Postgres with pgx driver
  sdks/go/pkg/beam/io/databaseio/writer.go
  sdks/go/pkg/beam/io/databaseio/writer_test.go
Labels: go, io, Next Action: Reviewers

#28377 Update build.gradle -- remove duplicate deps
  sdks/java/io/google-ads/build.gradle
Labels: java, io, Next Action: Reviewers

#28482 [Document]: `HealthcareApiClient` methods.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareApiClient.java
Labels: java, io, gcp

#28468 Add GitHub Workflow Replacements for Jenkins jobs job_PostCommit_Java_Nexmark
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Nexmark_Dataflow.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Dataflow_V2.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Dataflow_V2_Java.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Direct.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Flink.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Spark.yml
Labels: build, Next Action: Reviewers

#28483 Migrate "beam_PostCommit_Python_Nexmark_Direct" Jenkins jobs to GitHub Actions
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Python_Nexmark_Direct.yml
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow_With_RC.yml
Labels: build, Next Action: Reviewers

#28522 added beam_PostCommit_Javadoc job to GitHub Actions
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Javadoc.yml
Labels: build, Next Action: Reviewers

#28533 Revert "Remove TableSchema to JSON conversion."
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
Labels: java, io, gcp

#28536 Remove inplace argument from set_axis for Pandas 2
  sdks/python/apache_beam/dataframe/frames.py
Labels: python, Next Action: Reviewers

#28500 Fix value_counts for Pandas 2
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#28091 Return errors for insert_rows_json exceptions (#21080)
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
Labels: python, io, gcp

#28511 Updating access modifiers for utility methods
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/SchemaUtil.java
Labels: java, io, jdbc

#28514 Log user code exceptions in Java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/BeamFnControlClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistry.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingMDC.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ExecutionStateSamplerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistryTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClientTest.java
Labels: java

#28515 Log user code exceptions in Python
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/worker/log_handler_test.py
Labels: python

#28534 Add extra marks to VertexAI IT tests
  sdks/python/apache_beam/ml/inference/vertex_ai_inference_it_test.py
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, Next Action: Reviewers

#27942 Create py.typed for use with mypy
  CHANGES.md
  sdks/python/apache_beam/py.typed
Labels: python, Next Action: Reviewers

#28504 Remove unused ToRow, GroupByKey, mark WithSchema as experimental.
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python

#28474 Update HuggingFace api doc and add text2audio pipeline task
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
Labels: python, Next Action: Reviewers

#28538 [prism] Improve prism debugz page.
  sdks/go/pkg/beam/runners/prism/internal/web/assets/style.css
  sdks/go/pkg/beam/runners/prism/internal/web/debugz.go
  sdks/go/pkg/beam/runners/prism/internal/web/debugz.html
  sdks/go/pkg/beam/runners/prism/internal/web/index.html
Labels: go, runners, Next Action: Reviewers

#28486 Add schema-aware text file reading and writing.
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/yaml_io.py
Labels: python

#28539 Enable remote gradle cache and build scan for GitHub Actions workflows
  .github/actions/setup-action/action.yml
  .github/actions/setup-environment-action/action.yml
  .github/workflows/beam_PostCommit_Go_Dataflow_ARM.yml
  .github/workflows/beam_PostCommit_Java_Avro_Versions.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  .github/workflows/beam_PostCommit_Java_Examples_Flink.yml
  .github/workflows/beam_PostCommit_Java_IO_Performance_Tests.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink.yml
  .github/workflows/beam_PostCommit_Python_Examples_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_Examples_Direct.yml
  .github/workflows/beam_PostCommit_Python_Examples_Flink.yml
  .github/workflows/beam_PostCommit_Python_Examples_Spark.yml
  .github/workflows/beam_PostCommit_Python_MongoDBIO_IT.yml
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow_With_RC.yml
  .github/workflows/beam_PostCommit_Python_ValidatesRunner_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_ValidatesRunner_Flink.yml
  .github/workflows/beam_PostCommit_Python_ValidatesRunner_Samza.yml
  .github/workflows/beam_PostCommit_Python_ValidatesRunner_Spark.yml
  .github/workflows/beam_PreCommit_CommunityMetrics.yml
  .github/workflows/beam_PreCommit_Go.yml
  .github/workflows/beam_PreCommit_GoPortable.yml
  .github/workflows/beam_PreCommit_GoPrism.yml
  .github/workflows/beam_PreCommit_ItFramework.yml
  .github/workflows/beam_PreCommit_Java.yml
  .github/workflows/beam_PreCommit_Java_Debezium_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_ElasticSearch_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java17.yml
  .github/workflows/beam_PreCommit_Java_File-schema-transform_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_Flink_Versions.yml
  .github/workflows/beam_PreCommit_Java_PVR_Flink_Batch.yml
  .github/workflows/beam_PreCommit_Python.yml
  .github/workflows/beam_PreCommit_PythonDocker.yml
  .github/workflows/beam_PreCommit_PythonDocs.yml
  .github/workflows/beam_PreCommit_PythonFormatter.yml
  .github/workflows/beam_PreCommit_PythonLint.yml
  .github/workflows/beam_PreCommit_Python_Coverage.yml
  .github/workflows/beam_PreCommit_Python_Dataframes.yml
  .github/workflows/beam_PreCommit_Python_Examples.yml
  .github/workflows/beam_PreCommit_Python_Integration.yml
  .github/workflows/beam_PreCommit_Python_PVR_Flink.yml
  .github/workflows/beam_PreCommit_Python_Runners.yml
  .github/workflows/beam_PreCommit_Python_Transforms.yml
  .github/workflows/beam_PreCommit_RAT.yml
  .github/workflows/beam_PreCommit_Spotless.yml
  .github/workflows/beam_PreCommit_Typescript.yml
  .github/workflows/beam_PreCommit_Website.yml
  .github/workflows/beam_PreCommit_Website_Stage_GCS.yml
  .github/workflows/beam_PreCommit_Whitespace.yml
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
  .github/workflows/beam_Release_NightlySnapshot.yml
  .github/workflows/beam_Release_Python_NightlySnapshot.yml
  .github/workflows/java_tests.yml
  .github/workflows/playground_backend_precommit.yml
  .github/workflows/tour_of_beam_backend_integration.yml
  .github/workflows/update_python_dependencies.yml
Labels: build, Next Action: Reviewers

#28492 Remove deprecated week and weekofyear for Pandas 2
  sdks/python/apache_beam/dataframe/frames.py
Labels: python

#28455 Change pd.core.strings.StringMethods for Pandas 2 compatability.
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#28477 add setJoinSubsetType to inject joinSubsetType to BeamSqlSeekableTable
  CHANGES.md
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/BeamSqlSeekableTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/transform/BeamJoinTransforms.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamSideInputLookupJoinRelTest.java
Labels: java, extensions, sql, Next Action: Reviewers
