Repository apache/beam, pull requests merged in 2023-12, with the labels that each got.

#29578 Fix small doc issues
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery.py
  website/www/site/content/en/blog/beam-2.52.0.md
Labels: python, website, io, gcp, Next Action: Reviewers

#29283 Allow local runners to execute arbitrary cross language pipelines without Docker.
  CHANGES.md
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/EnvironmentsTest.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/DefaultJobBundleFactory.java
  runners/java-job-service/src/main/java/org/apache/beam/runners/jobsubmission/InMemoryJobService.java
  sdks/java/expansion-service/build.gradle
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionServiceOptions.java
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/portability/expansion_service.py
  sdks/python/apache_beam/runners/portability/expansion_service_main.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/python/apache_beam/transforms/environments.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/utils/subprocess_server.py
  sdks/python/apache_beam/utils/subprocess_server_test.py
Labels: python, java, model, runners, dataflow, core, fn-execution, Next Action: Reviewers

#29581 Documents the transform upgrade feature
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website, Next Action: Reviewers

#29588 Fix typos in documentation
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#29586 Consider underlying providers in both directions when doing affinity test.
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#29536 Bump Pyarrow version to include 14.0.0
  sdks/python/apache_beam/io/parquetio_test.py
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, io

#29594 Update Java Healthcare Dependency
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#29542 Use UUIDs instead of object hashes to avoid collisions
  CHANGES.md
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/mltransform_test.py
  sdks/python/apache_beam/ml/transforms/handlers.py
  sdks/python/apache_beam/ml/transforms/handlers_test.py
Labels: python, examples, Next Action: Reviewers

#29620 Escape strings in integrationTestPipelineOptions in Java Tests
  .github/workflows/java_tests.yml
Labels: build, Next Action: Reviewers

#29595 Initial RC Testing Guide Documentation
  contributor-docs/rc-testing-guide.md
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#29366 Dask runner: Use bag sqrt scaling
  sdks/python/apache_beam/runners/dask/transform_evaluator.py
Labels: python, Next Action: Reviewers

#29525 [YAML] - PubSubLite Normalization
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PubsubLiteDlqTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PubsubLiteWriteDlqTest.java
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, gcp, Next Action: Reviewers, yaml

#29164 Feature/dead letter queue core
  CHANGES.md
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PTransform.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/errorhandling/BadRecord.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/errorhandling/BadRecordRouter.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/errorhandling/ErrorHandler.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/errorhandling/package-info.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/errorhandling/BRHEnabledPTransform.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/errorhandling/BadRecordRouterTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/errorhandling/ErrorHandlerTest.java
Labels: java, runners, core

#29625 [yaml] Unmark as experimental
  sdks/python/apache_beam/yaml/README.md
Labels: python, yaml

#29634 fix whitespace check
  sdks/python/apache_beam/yaml/README.md
Labels: python, yaml

#29635 Update dataflow container tag
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#29589 Better introspection of PTransforms defined with @ptransform_fn.
  sdks/python/apache_beam/transforms/ptransform.py
Labels: python

#29548 fix: have a timeout on the wait when closing BigtableIO#Writer
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableService.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteOptions.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImplTest.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#29623 Add buildx install to postcommit_XVR_Go
  .github/workflows/beam_PostCommit_XVR_GoUsingJava_Dataflow.yml
Labels: build, Next Action: Reviewers

#29643 [yaml] fix yaml label appending
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, yaml

#29604 Split BigQuery DatasetService and WriteStreamService
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryStreamingLT.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiFinalizeWritesDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiFlushAndFinalizeDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeBigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilTest.java
Labels: java, io, gcp

#29664 Bugfix/extend java precommit timeout
  .github/workflows/beam_PreCommit_Java.yml
Labels: build

#29642 Add per-worker keys to stateful BatchElements, plumb through batching options to all model handlers
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
  sdks/python/apache_beam/ml/inference/onnx_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
  sdks/python/apache_beam/ml/inference/vertex_ai_inference.py
  sdks/python/apache_beam/ml/inference/xgboost_inference.py
  sdks/python/apache_beam/transforms/util.py
Labels: python, Next Action: Reviewers

#29640 SpannerIO add more logging when Reads fail
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/BatchSpannerRead.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/NaiveSpannerRead.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/ReadOperation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#29652 Remove experimental note about streaming.
  website/www/site/content/en/documentation/runners/direct.md
  website/www/site/content/en/documentation/sdks/python.md
Labels: website

#29651 Add cloud profiler dependency to 3.11 containers.
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#29666 Disable failing mypy check in yaml_io.py
  sdks/python/apache_beam/yaml/yaml_io.py
Labels: python, yaml

#29648 Fix for signature exceptions in ptransform_fn.
  sdks/python/apache_beam/transforms/ptransform.py
Labels: python

#29641 Update to Libraries-Bom 26.28.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#29672 Bump the image used by Dataflow runner in dev SDKs.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#29675 Fix some lint errors in Python.
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#29587 More efficient map side inputs for small maps.
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/MultimapSideInput.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/FakeBeamFnStateClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/MultimapSideInputTest.java
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python, java, model, runners, fn-execution

#29585 [Python][RRIO] Call PTransform with setup teardown
  sdks/python/apache_beam/io/requestresponseio.py
  sdks/python/apache_beam/io/requestresponseio_it_test.py
  sdks/python/apache_beam/io/requestresponseio_test.py
Labels: python, io, Next Action: Reviewers

#29685 Publish job
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
Labels: python

#29590 Add Data Sampling support for periodic sampling
  sdks/go/pkg/beam/core/runtime/exec/datasampler.go
  sdks/go/pkg/beam/core/runtime/exec/datasampler_test.go
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/pcollection.go
  sdks/go/pkg/beam/core/runtime/exec/pcollection_test.go
  sdks/go/pkg/beam/core/runtime/exec/to_string.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/exec/translate_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/harness_test.go
  sdks/go/pkg/beam/core/runtime/harness/init/init.go
  sdks/go/pkg/beam/core/typex/fulltype.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go
Labels: go, runners, dataflow

#29676 Retry building a wheel up to 3 times.
  sdks/python/build.gradle
Labels: python

#29690 Guard keys-values multi map input with a flag.
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/MultimapSideInput.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/MultimapSideInputTest.java
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python, java, runners, fn-execution

#29673 [YAML] Add and cleanup documentation for several builtin transforms.
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/SchemaTransformProvider.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/extensions/sql/expansion-service/src/main/java/org/apache/beam/sdk/extensions/sql/expansion/SqlTransformSchemaTransformProvider.java
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/yaml/standard_providers.yaml
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, java, extensions, sql, yaml

#29692 Mock packages instead of installing in tox pydocs task
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#29606 Pass Java SchemaTransform descriptions to Python SDK
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/SchemaTransformProvider.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
Labels: java, io, gcp

#29563 [runners-flink] #29558 emit watermark before source shutdown
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderBase.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplitEnumerator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/bounded/FlinkBoundedSourceReader.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReader.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderTestBase.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/bounded/FlinkBoundedSourceReaderTest.java
Labels: runners, flink, Next Action: Reviewers

#29696 Add per test timeout in recently changed dataflow legacy worker tests
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/BatchDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowWorkUnitClientTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingSideInputDoFnRunnerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingSideInputFetcherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/logging/DataflowWorkerLoggingInitializerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkStateTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/WeightBoundedQueueTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/sideinput/SideInputStateFetcherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/WindmillStreamPoolTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkerMetadataStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClientTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/WindmillStreamSenderTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternalsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateReaderTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/EvenGetWorkBudgetDistributorTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/GetWorkBudgetRefresherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/GetWorkBudgetTest.java
Labels: runners, dataflow, Next Action: Reviewers

#29564 Support Embeddings in mltransform
  CHANGES.md
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/apache_beam/ml/transforms/embeddings/__init__.py
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface.py
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface_test.py
  sdks/python/apache_beam/ml/transforms/embeddings/vertex_ai.py
  sdks/python/apache_beam/ml/transforms/embeddings/vertex_ai_test.py
  sdks/python/apache_beam/ml/transforms/handlers.py
  sdks/python/apache_beam/ml/transforms/handlers_test.py
  sdks/python/apache_beam/ml/transforms/tft.py
  sdks/python/apache_beam/ml/transforms/tft_test.py
  sdks/python/apache_beam/ml/transforms/utils.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/setup.py
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, docker

#29705 [Python] Log dependencies in runtime environment
  sdks/python/container/boot.go
Labels: python, docker

#29693 Save Job IDs of dataflow load tests
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
Labels: python, Next Action: Reviewers

#29695 Enable keys values multimap protocol based on runner capabilities.
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/MultimapSideInput.java
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
  sdks/python/apache_beam/runners/worker/log_handler_test.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
  sdks/python/gen_protos.py
Labels: python, java, model

#29716 Add InfluxDB credentials as env variables
  .github/workflows/beam_Java_JMH.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Dataflow.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Dataflow_V2.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Dataflow_V2_Java.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Direct.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Flink.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Spark.yml
  .github/workflows/beam_PostCommit_Java_Tpcds_Dataflow.yml
  .github/workflows/beam_PostCommit_Java_Tpcds_Flink.yml
  .github/workflows/beam_PostCommit_Java_Tpcds_Spark.yml
Labels: build, Next Action: Reviewers

#29649 Support BigQuery tables with spaces
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
Labels: java, io, gcp, Next Action: Reviewers

#29709 Update links to point to About Beam ML
  examples/notebooks/beam-ml/README.md
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
  examples/notebooks/beam-ml/mltransform_basic.ipynb
  examples/notebooks/beam-ml/per_key_models.ipynb
  examples/notebooks/beam-ml/run_custom_inference.ipynb
  examples/notebooks/beam-ml/run_inference_pytorch_tensorflow_sklearn.ipynb
  examples/notebooks/beam-ml/speech_emotion_tensorflow.ipynb
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/ml/inference/__init__.py
  sdks/python/apache_beam/ml/inference/base.py
  website/www/site/content/en/documentation/ml/about-ml.md
  website/www/site/content/en/documentation/ml/inference-overview.md
  website/www/site/content/en/documentation/ml/multi-model-pipelines.md
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/content/en/documentation/sdks/python.md
  website/www/site/content/en/documentation/transforms/python/elementwise/runinference.md
  website/www/site/content/en/get-started/resources/learning-resources.md
Labels: python, website, examples

#29122 Fixes dictionary size change in direct runners
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#29500 Add utility method to parse metric labels/base name from a mangled bigquery metric name.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetrics.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
Labels: java, io, gcp

#29484 Add HistogramData::getAndReset method
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/HistogramData.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/HistogramDataTest.java
Labels: java

#29719 Fix syntax
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
Labels: python, Next Action: Reviewers

#29478 Deal with trailing slash in tempRoot
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/TestDataflowRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystems.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/FileSystemsTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtilIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryClusteringIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOJsonIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadTableRowIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryKmsKeyIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryNestedRecordsIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaUpdateOptionsIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryTimePartitioningClusteringIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryToTableIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/storage/GcsKmsKeyIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/storage/GcsMatchIT.java
Labels: java, io, extensions, runners, dataflow, gcp, Next Action: Reviewers, slow-review

#29723 Bump dataflow Legacy Container Version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#29720 Add suffix for vocab files in tft transforms
  sdks/python/apache_beam/ml/transforms/tft.py
  sdks/python/apache_beam/ml/transforms/tft_test.py
Labels: python, Next Action: Reviewers

#29694 fix: optimize segment reader
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImplTest.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#29728 Fix typo in Custom Remote Inference notebook
  examples/notebooks/beam-ml/run_custom_inference.ipynb
Labels: examples

#29743 Upgrade go version to resolve vulnerabilities
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#29725 revert kafka host change
  examples/java/src/main/java/org/apache/beam/examples/KafkaStreaming.java
Labels: java, examples

#29742 Deep-copy the process bundle descriptor when creating a new bundle processor.
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#29727 Add logs to confirm JvmInitializer completed running and Spanner successfully connected.
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/JvmInitializers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
Labels: java, io, gcp, spanner

#29721 Upgrade Debian Bullseye to Bookworm
  release/go-licenses/Dockerfile
  release/src/main/Dockerfile
  sdks/go/container/Dockerfile
  sdks/python/container/Dockerfile
  sdks/python/expansion-service-container/Dockerfile
  sdks/python/test-suites/direct/common.gradle
  website/www/site/content/en/documentation/runtime/environments.md
Labels: python, go, build, website, docker, Next Action: Reviewers

#29592 Per DoFn latency instrumentation
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateSampler.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateTracker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/ActiveMessageMetadata.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateSampler.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateSamplerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkStateTest.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: runners, dataflow, core

#29753 Update Bigtable python client version
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#29732 Pass getPort method through JDBC Resource Managers
  it/jdbc/src/main/java/org/apache/beam/it/jdbc/AbstractJDBCResourceManager.java
Labels: Next Action: Reviewers

#29754 Remove setting _beam_schema_proto
  sdks/python/apache_beam/typehints/schemas.py
Labels: python, Next Action: Reviewers

#29616 Add outputWindowedValue capability to Java SDK
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDoNaiveBounded.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/OutputAndTimeBoundedSplittableProcessElementInvoker.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Create.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFnOutputReceivers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFnTester.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/windowing/GlobalWindow.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/CreateTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/reflect/DoFnInvokersTest.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRel.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
  sdks/java/io/pulsar/src/test/java/org/apache/beam/sdk/io/pulsar/ReadFromPulsarDoFnTest.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFnTest.java
Labels: java, io, extensions, runners, sql, gcp, kafka, core, spanner

#29761 [#29760] Only respond to sampling request while data sampling is enabled
  sdks/go/pkg/beam/core/runtime/harness/harness.go
Labels: go

#29755 [yaml] Normalize drop on MapToFields
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, Next Action: Reviewers, yaml

#29561 Dynamic SchemaTransform wrapper provider
  sdks/java/core/src/main/java/org/apache/beam/sdk/providers/GenerateSequenceSchemaTransformProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/providers/package-info.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/providers/GenerateSequenceSchemaTransformProviderTest.java
  sdks/python/apache_beam/io/external/xlang_kafkaio_it_test.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_schematransform_provider.py
  sdks/python/apache_beam/transforms/external_schematransform_provider_test.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/pytest.ini
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/direct/build.gradle
  sdks/python/test-suites/gradle.properties
  sdks/python/test-suites/xlang/build.gradle
Labels: python, java, io

#29731 Fixes breakages of the upgrade feature
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/TransformUpgrader.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
  sdks/java/io/kafka/upgrade/build.gradle
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslation.java
  sdks/java/io/kafka/upgrade/src/test/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslationTest.java
Labels: java, io, runners, gcp, kafka, core

#29764 [#29760] Only respond to sampling request while data sampling is enabled
  sdks/go/pkg/beam/core/runtime/harness/harness.go
Labels: go

#29765 Add user-agent string for Beam in the GCS request header.
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
  sdks/python/setup.py
Labels: python, io, gcp, Next Action: Reviewers

#29759 [cherry-pick] Remove setting _beam_schema_proto (#29754)
  sdks/python/apache_beam/typehints/schemas.py
Labels: python

#29712 [#28543][prism] Implement State API
  sdks/go/pkg/beam/runners/prism/internal/engine/data.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/engine_test.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/execute_test.go
  sdks/go/pkg/beam/runners/prism/internal/handlepardo.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/unimplemented_test.go
  sdks/go/pkg/beam/runners/prism/internal/urns/urns.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/test/integration/primitives/state.go
Labels: go, runners, Next Action: Reviewers

#29771 Bump Precommit Java Examples Timeouts
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java21.yml
Labels: build

#29774 [Go SDK] Decrease sampling frequency for streaming jobs to avoid oversampling
  sdks/go/pkg/beam/core/runtime/exec/datasink.go
  sdks/go/pkg/beam/core/runtime/exec/pcollection.go
Labels: go

#29744 Ignore testOnNewWorkerMetadata_correctlyRemovesStaleWindmillServers
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClientTest.java
Labels: runners, dataflow

#29781 Add SparkStructuredStreamingRunner to beam_PostCommit_Java_Tpcds_Spark workflow
  .github/workflows/beam_PostCommit_Java_Tpcds_Spark.yml
Labels: build

#29766 Fixes breakages of the upgrade feature (#29731)
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/TransformUpgrader.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
  sdks/java/io/kafka/upgrade/build.gradle
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslation.java
  sdks/java/io/kafka/upgrade/src/test/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslationTest.java
Labels: java, io, runners, gcp, kafka, core

#29763 add alts to grpc vendored lib
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_54_0.groovy
Labels: build, Next Action: Reviewers

#29796 pin dind image temoporarily due to issues #3159
  .github/gh-actions-self-hosted-runners/arc/locals.tf
Labels: build

#29799 getProcessingTimesByStep returns a modifiable map (#29786)
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateSampler.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateSamplerTest.java
Labels: runners, dataflow

#29788 [Go SDK] (delint) make DataSample external
  sdks/go/pkg/beam/core/runtime/exec/datasampler.go
  sdks/go/pkg/beam/core/runtime/exec/datasampler_test.go
Labels: go

#29801 Upgrade download-artifact to v4
  .github/workflows/build_wheels.yml
  .github/workflows/python_tests.yml
Labels: build

#29800 Update python base image dependencies
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#29798 Fix GenerateSequenceSchemaTransformProvider formatting
  sdks/java/core/src/main/java/org/apache/beam/sdk/providers/GenerateSequenceSchemaTransformProvider.java
Labels: java

#29804 [#29803] Fix nil pointer access in logRuntimeDependencies
  sdks/python/container/boot.go
Labels: python, docker

#29806 [release-2.53.0] Fix nil pointer access in logRuntimeDependencies
  sdks/python/container/boot.go
Labels: python, docker

#29773 Adds Kafka upgrade module to the I/O precommit
  build.gradle.kts
Labels: build, Next Action: Reviewers

#29790 Update dataflow container tag
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#29815 Support DatabaseID in Datastore beam connector
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1Test.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/SplitQueryFnIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1ReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1TestUtil.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1WriteIT.java
Labels: java, io, gcp, Next Action: Reviewers

#29821 Build and publish multi-arch wheels separately from main wheels
  .github/workflows/build_wheels.yml
Labels: build

#29827 [YAML] Properly deligate methods for renaming provider.
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#29826 Revert to non-schema-based Sql transform.
  sdks/python/apache_beam/yaml/standard_providers.yaml
Labels: python, yaml

#29836 Remove failing multimap key iteration tests.
  runners/portability/java/build.gradle
Labels: runners, portability

#29831 Revert to non-schema-based Sql transform.
  sdks/python/apache_beam/yaml/standard_providers.yaml
Labels: python, Next Action: Reviewers, yaml

#29837 [release-2.53.0] Remove failing multimap key iteration tests.
  runners/portability/java/build.gradle
Labels: runners, portability

#29841 Fix javadoc action in build-release-candidate
  .github/workflows/build_release_candidate.yml
Labels: build

#29840 Fix input issue and quoting
  .github/workflows/build_release_candidate.yml
Labels: build

#29854 Fix logging/quoting
  .github/workflows/deploy_release_candidate_pypi.yaml
  .github/workflows/finalize_release.yml
Labels: build

#29775 Fix tour of beam co-group-by-key python example
  learning/tour-of-beam/learning-content/core-transforms/map/co-group-by-key/description.md
Labels: learning, Next Action: Reviewers

#29855 [TOB] Fix constructor names
  learning/tour-of-beam/learning-content/core-transforms/map/co-group-by-key/description.md
Labels: learning

#29704 Dataflow Streaming: Add a pipeline option `--desiredNumUnboundedSourceSplits`
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/internal/CustomSources.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
Labels: runners, dataflow

#29791 Change pubsub message cap size from 10MiB to 10MB
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/python/apache_beam/io/gcp/pubsub.py
Labels: python, java, io, gcp

#29785 Fix typos
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslationTest.java
Labels: java, io, gcp

#29864 Update google-api-services-storage to match libraries-bom
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#29865 [Cherry-pick] Update google-api-services-storage to match libraries-bom
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#29562 Bump objsize upper bound
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#29507 DuetAI knowledge lookup prompts
  build.gradle.kts
  learning/prompts/code-explaination/02_io_pubsub.md
  learning/prompts/code-generation/02_io_pubsub.md
  learning/prompts/documentation-lookup/01_basic_learning_apache_beam.md
  learning/prompts/documentation-lookup/02_basic_pipelines.md
  learning/prompts/documentation-lookup/03_basic_configuring_pipelines.md
  learning/prompts/documentation-lookup/04_basic_pcollections.md
  learning/prompts/documentation-lookup/05_basic_ptransforms.md
  learning/prompts/documentation-lookup/06_basic_schema.md
  learning/prompts/documentation-lookup/07_basic_runners.md
  learning/prompts/documentation-lookup/08_basic_windowing.md
  learning/prompts/documentation-lookup/09_basic_triggers.md
  learning/prompts/documentation-lookup/10_basic_metrics.md
  learning/prompts/documentation-lookup/11_basic_state.md
  learning/prompts/documentation-lookup/12_basic_timers.md
  learning/prompts/documentation-lookup/13_advanced_splittable_dofn.md
  learning/prompts/documentation-lookup/14_advanced_pipeline_patterns.md
  learning/prompts/documentation-lookup/15_advanced_xlang.md
  learning/prompts/documentation-lookup/16_advanced_pipeline_lifecycle.md
  learning/prompts/documentation-lookup/17_advanced_ai_ml.md
  learning/prompts/documentation-lookup/19_io_pubsub.md
  learning/prompts/documentation-lookup/20_io_biguery.md
Labels: build, learning, Next Action: Reviewers

#29867 Fix uploadArtifact@4 naming conflict
  .github/workflows/beam_PostCommit_Python.yml
  .github/workflows/beam_PostCommit_Python_Arm.yml
  .github/workflows/beam_PreCommit_Python.yml
  .github/workflows/beam_PreCommit_Python_Dataframes.yml
  .github/workflows/beam_PreCommit_Python_Examples.yml
  .github/workflows/beam_PreCommit_Python_Integration.yml
  .github/workflows/beam_PreCommit_Python_Runners.yml
  .github/workflows/beam_PreCommit_Python_Transforms.yml
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
Labels: build

#29858 Allow large timestamp skew for at-least-once streaming
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
Labels: java, io, gcp

#29872 Update Python container tag
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#29866 add new vendored grpc version
  vendor/grpc-1_54_0/build.gradle
Labels: vendor

#29878 Added some learning doc links
  website/www/site/content/en/get-started/_index.md
  website/www/site/content/en/get-started/resources/learning-resources.md
Labels: website

#29857 Add ComputeAndApplyVocabulary and Scale data notebook
  examples/notebooks/beam-ml/mltransform/compute_and_apply_vocab.ipynb
  examples/notebooks/beam-ml/mltransform/scale_data.ipynb
Labels: examples, Next Action: Reviewers

#29820 Fix race condition in SpannerAccessor
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review, spanner

#29877 Use RemoveSafeDeltaCounterCell for PerWorker counters
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/RemoveSafeDeltaCounterCell.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/RemoveSafeDeltaCounterCellTest.java
Labels: java, runners, dataflow, Next Action: Reviewers

#29880 fix: Fix typo s/commiting/committing/
  .test-infra/jupyter/README.md
  sdks/go/pkg/beam/runners/prism/internal/stage.go
Labels: go, infra, runners, Next Action: Reviewers

#29829 [#29772][Go SDK] Add EventTime Timer tests.
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/exec/window.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/timers.go
  sdks/go/test/integration/primitives/timers_test.go
Labels: go, build, Next Action: Reviewers

#29670 Add Error Handlers to File IO and related IOs (TextIO, AvroIO)
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/errorhandling/ErrorHandler.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/WriteFilesTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/errorhandling/ErrorHandlingTestUtils.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/io/AvroIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
Labels: java, io, extensions, kafka

#29794 Creating a Fully Managed Beam Streaming System with Flink Runner on Kubernetes - Part 2
  website/www/site/content/en/blog/apache-beam-flink-and-kubernetes-part2.md
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part2/adaptive-timeout-kafka.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part2/checkpoint_monitoring-history-subtasks.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part2/flink-backlog-metrics.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part2/flink-partition-assignment.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part2/kafkaio-wait-reader.png
Labels: website, Next Action: Reviewers
