Repository apache/beam, pull requests merged in 2023-10, with the labels that each got.

#28745 Restrict build_runner_image to pull_request instead of pull_request_t…
  .github/workflows/build_runner_image.yml
Labels: build

#28717 Temporarily Ignore 2 FhirIO Integration Tests
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOSearchIT.java
Labels: java, io, gcp

#28513 Report total active threads
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowSystemMetrics.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#28766 Fix dockerhub task
  .github/workflows/build_release_candidate.yml
Labels: build

#28769 runner image to 2b20e26bb3b99d8e4f41a3d1d9d2e7080043de5c
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
Labels: build

#28730 Github Workflow Replacement for Jenkins Jobs, beam_PerformanceTests_xlang_KafkaIO_Python
  .github/workflows/beam_PerformanceTests_xlang_KafkaIO_Python.yml
  .github/workflows/performance-tests-job-configs/xlang_KafkaIO_Python.txt
  .test-infra/jenkins/job_PerformanceTests_xlang_KafkaIO_Python.groovy
  .test-infra/kubernetes/kafka-cluster/04-outside-services/outside-0.yml
  .test-infra/kubernetes/kafka-cluster/04-outside-services/outside-1.yml
  .test-infra/kubernetes/kafka-cluster/04-outside-services/outside-2.yml
Labels: build, infra, Next Action: Reviewers

#28775 Fix input detection.
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python

#28774 Removing Depreciation warning when using pipeline.options
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/interactive_environment.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
Labels: python

#28753 Better flag documentation.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python

#28734 [Blog Post] Apache Beam for a content discovery platform
  website/www/site/content/en/blog/dyi-content-discovery-platform-genai-beam.md
  website/www/site/data/authors.yml
  website/www/site/static/images/blog/dyi-cdp-genai-beam/cdp-arch.png
  website/www/site/static/images/blog/dyi-cdp-genai-beam/cdp-highlevel.png
  website/www/site/static/images/blog/dyi-cdp-genai-beam/pipeline-1.png
  website/www/site/static/images/blog/dyi-cdp-genai-beam/pipeline-2-extractcontent.png
  website/www/site/static/images/blog/dyi-cdp-genai-beam/pipeline-3-errorhandling.png
  website/www/site/static/images/blog/dyi-cdp-genai-beam/pipeline-4-processembeddings1.png
  website/www/site/static/images/blog/dyi-cdp-genai-beam/pipeline-4-processembeddings2.png
  website/www/site/static/images/blog/dyi-cdp-genai-beam/pipeline-5-storecontent.png
  website/www/site/static/images/blog/dyi-cdp-genai-beam/pipeline-6-refresh1.png
  website/www/site/static/images/blog/dyi-cdp-genai-beam/pipeline-6-refresh2.png
  website/www/site/static/images/blog/dyi-cdp-genai-beam/pipeline-6-refresh3.png
Labels: website, Next Action: Reviewers

#28327 Add notebook for per key models
  examples/notebooks/beam-ml/README.md
  examples/notebooks/beam-ml/per_key_models.ipynb
Labels: examples

#28397 BigQuery testing suite that runs against BQ's day 0 region
  .github/workflows/beam_PostCommit_Java_BigQueryEarlyRollout.yml
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TestBigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/common/GcpIoPipelineOptionsRegistrar.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigqueryClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageQueryIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadTableRowIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageWriteIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaUpdateOptionsIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryTimePartitioningClusteringIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryToTableIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/FileLoadsStreamingIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDirectWriteProtosIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkFailedRowsIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkRowUpdateIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkSchemaUpdateIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoIT.java
Labels: java, build, io, gcp

#28804 Revert "assign highmem runner to beam_PostCommit_Python and to beam_PreCommit…"
  .github/workflows/beam_PostCommit_Python.yml
  .github/workflows/beam_PreCommit_Java_GCP_IO_Direct.yml
Labels: build, Next Action: Reviewers

#28813 yaml label
  .github/autolabeler.yml
Labels: build, Next Action: Reviewers

#28751 Fix SpannerChangeStreamErrorTest.java and stop disabling tests
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
Labels: java, io, gcp

#28819 TPC-DS: Fix CSV format
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/SqlTransformRunner.java
Labels: java

#28797 Fix dtype usage
  sdks/python/apache_beam/dataframe/frames.py
Labels: python

#28816 Fix method argument handling for pandas 2.1
  sdks/python/apache_beam/dataframe/frames.py
Labels: python

#28824 [Blog] Quest updated dates
  website/www/site/content/en/blog/beamquest.md
Labels: website

#28729 Add job name and worker id to traceId of AppendRowsRequest.
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GceMetadataUtil.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOMetadata.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: Next Action: Reviewers

#28828 Revert "Bump com.avast.gradle:gradle-docker-compose-plugin (#28465)"
  .github/workflows/beam_PreCommit_CommunityMetrics.yml
  .test-infra/metrics/build.gradle
  buildSrc/build.gradle.kts
Labels: build, infra

#28777 Add num_workers and save_main_session flag to auto_model_refresh notebook
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
Labels: examples

#28831 Fix spotless on master
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOMetadata.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#28756 Gradle 8 support
  buildSrc/build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamDockerPlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamDockerRunPlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/VendorJavaPlugin.groovy
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  playground/kafka-emulator/build.gradle
  sdks/java/container/common.gradle
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, build, docker, io, gcp

#28845 Fix whitespace precommit after gradle 8
  sdks/python/test-suites/tox/py38/build.gradle
Labels: python

#28837 [Fix] Broken Link in Colab Notebook
  examples/notebooks/healthcare/beam_nlp.ipynb
Labels: examples, Next Action: Reviewers

#28671 Support for custom MetricsFetcher in Perf tooling.
  .github/workflows/run_perf_alert_tool.yml
  sdks/python/apache_beam/testing/analyzers/README.md
  sdks/python/apache_beam/testing/analyzers/github_issues_utils.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_test.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_utils.py
  sdks/python/apache_beam/testing/analyzers/tests_config.yaml
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
Labels: python, build

#28823 Add observed=False to be explicit for Pandas 2.1
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#28818 Add map function and skip applymap for 2.1
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#28834 Add Bigtable connector reviewers
  .github/REVIEWERS.yml
  .github/autolabeler.yml
Labels: build

#28798 BigtableIO: Force minimum value of `desiredBundleSizeBytes` to be 1
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp, Next Action: Reviewers

#28794 Add Publish Docker Snapshots workflow
  .github/workflows/beam_Publish_Docker_Snapshots.yml
Labels: build, Next Action: Reviewers

#28843 Do not rewrite project version in BeamModulePlugin
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#28846 Github Workflow Replacement for Jenkins Jobs, beam_LoadTests_Python_Combine_Flink_*
  .github/workflows/beam_LoadTests_Python_Combine_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_Combine_Flink_Streaming.yml
  .github/workflows/load-tests-job-configs/python_Combine_Flink_Batch_2GB_10_byte_records.txt
  .github/workflows/load-tests-job-configs/python_Combine_Flink_Batch_2GB_Fanout_4.txt
  .github/workflows/load-tests-job-configs/python_Combine_Flink_Batch_2GB_Fanout_8.txt
  .github/workflows/load-tests-job-configs/python_Combine_Flink_Streaming_2GB_10_byte_records.txt
  .github/workflows/load-tests-job-configs/python_Combine_Flink_Streaming_2GB_Fanout_4.txt
  .github/workflows/load-tests-job-configs/python_Combine_Flink_Streaming_2GB_Fanout_8.txt
Labels: build, Next Action: Reviewers

#28814 Add Cleanup Dataproc Resources workflow
  .github/workflows/beam_CleanUpDataprocResources.yml
Labels: build, Next Action: Reviewers

#28815 Add rotate credentials workflows
  .github/workflows/beam_IODatastoresCredentialsRotation.yml
  .github/workflows/beam_MetricsCredentialsRotation.yml
Labels: build, Next Action: Reviewers

#28795 Add Publish Beam SDK Snapshots workflow
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
Labels: build, Next Action: Reviewers

#28827 Github Workflow Replacement for Jenkins Jobs, beam_LoadTests_Python_GBK_Dataflow_*
  .github/workflows/beam_LoadTests_Python_GBK_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Python_GBK_Dataflow_Streaming.yml
  .github/workflows/load-tests-job-configs/python_GBK_Dataflow_Batch_2GB_of_100B_records.txt
  .github/workflows/load-tests-job-configs/python_GBK_Dataflow_Batch_2GB_of_100kB_records.txt
  .github/workflows/load-tests-job-configs/python_GBK_Dataflow_Batch_2GB_of_10B_records.txt
  .github/workflows/load-tests-job-configs/python_GBK_Dataflow_Batch_fanout_4_times_with_2GB_10-byte_records_total.txt
  .github/workflows/load-tests-job-configs/python_GBK_Dataflow_Batch_fanout_8_times_with_2GB_10-byte_records_total.txt
  .github/workflows/load-tests-job-configs/python_GBK_Dataflow_Streaming_2GB_of_100B_records.txt
  .github/workflows/load-tests-job-configs/python_GBK_Dataflow_Streaming_2GB_of_100kB_records.txt
  .github/workflows/load-tests-job-configs/python_GBK_Dataflow_Streaming_2GB_of_10B_records.txt
  .github/workflows/load-tests-job-configs/python_GBK_Dataflow_Streaming_fanout_4_times_with_2GB_10-byte_records_total.txt
  .github/workflows/load-tests-job-configs/python_GBK_Dataflow_Streaming_fanout_8_times_with_2GB_10-byte_records_total.txt
Labels: build, Next Action: Reviewers

#28849 Enable typevar-name-mismatch check
  sdks/python/.pylintrc
  sdks/python/apache_beam/typehints/decorators_test.py
Labels: python, Next Action: Reviewers

#28860 Add Java JMH workflow
  .github/workflows/beam_Java_JMH.yml
Labels: build, Next Action: Reviewers

#28665 Add GitHub Action workflows to mass_commit
  .github/workflows/beam_PostCommit_Python.yml
  release/src/main/scripts/github_actions_jobs.txt
  release/src/main/scripts/mass_comment.py
Labels: build

#28754 [YAML] Add JSON parsing to PubSub IO.
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/yaml/json_utils.py
  sdks/python/apache_beam/yaml/yaml_io.py
  sdks/python/apache_beam/yaml/yaml_io_test.py
Labels: python, yaml

#28855 [YAML] Schemify avroio and add a yaml provider.
  sdks/python/apache_beam/io/avroio.py
  sdks/python/apache_beam/io/avroio_test.py
  sdks/python/apache_beam/pvalue.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, io, yaml

#28822 Add python wheel staging to GitHub Actions build_release_candidate
  .github/workflows/build_release_candidate.yml
  release/src/main/scripts/download_github_actions_artifacts.py
Labels: build, Next Action: Reviewers

#28872 Add keyword arg to func call for perf alert tool
  sdks/python/apache_beam/testing/analyzers/perf_analysis.py
Labels: python, Next Action: Reviewers

#28877 [Python]Update state cache size to 100 MB
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
Labels: python

#28874 Cherry-pick #28665 to 2.51.0 release branch: Add GitHub Action workflows to mass_commit
  .github/workflows/beam_PostCommit_Python.yml
  release/src/main/scripts/github_actions_jobs.txt
  release/src/main/scripts/mass_comment.py
Labels: build, Next Action: Reviewers

#28875 Cherrypick #28726 to 2.51.0 release branch: fix JPMS tests
  sdks/java/testing/jpms-tests/build.gradle
Labels: java

#28850 [BEAM-28684] [YAML] Add Parquet reading and writing.
  sdks/python/apache_beam/io/parquetio.py
  sdks/python/apache_beam/io/parquetio_test.py
  sdks/python/apache_beam/typehints/arrow_type_compatibility.py
  sdks/python/apache_beam/typehints/arrow_type_compatibility_test.py
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, io, yaml

#28880 Fix interactive tests for Beam Notebooks release
  sdks/python/apache_beam/runners/interactive/testing/integration/goldens/Linux/29c9237ddf4f3d5988a503069b4d3c47.png
  sdks/python/apache_beam/runners/interactive/testing/integration/goldens/Linux/7a35f487b2a5f3a9b9852a8659eeb4bd.png
  sdks/python/setup.py
Labels: python

#28884 Update executionResult in favor of deprecated of execResult
  sdks/python/apache_beam/testing/load_tests/build.gradle
Labels: python, Next Action: Reviewers

#28780 Add edge segment size to filter out change points that are observed on the data edge
  sdks/python/apache_beam/testing/analyzers/constants.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_test.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_utils.py
Labels: python, Next Action: Reviewers

#28882 Append UUID when test_name is None for perf tool
  sdks/python/apache_beam/testing/analyzers/perf_analysis.py
Labels: python, Next Action: Reviewers

#28889 Add dataclasses to perf alert tool and refactor code.
  sdks/python/apache_beam/testing/analyzers/__init__.py
  sdks/python/apache_beam/testing/analyzers/github_issues_utils.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_test.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_utils.py
  sdks/python/apache_beam/testing/analyzers/tests_config.yaml
Labels: python, Next Action: Reviewers

#28591 Update BigQueryIO Documentation
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: website, Next Action: Reviewers

#28879 Update container version in BeamModulePlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#28435 Reenable TestFhirIO.* on GHA
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/io/fhirio/fhirio_test.go
Labels: go, Next Action: Reviewers

#28896 Catch EOFError along with StopIteration
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#27024 Additional context for decoding errors.
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python

#28380 Add Java variants of WriteTo{Csv,Json}.
  sdks/java/extensions/schemaio-expansion-service/build.gradle
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/providers/CsvWriteTransformProvider.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/providers/package-info.java
  sdks/java/io/json/build.gradle
  sdks/java/io/json/src/main/java/org/apache/beam/sdk/io/json/JsonIO.java
  sdks/java/io/json/src/main/java/org/apache/beam/sdk/io/json/package-info.java
  sdks/java/io/json/src/main/java/org/apache/beam/sdk/io/json/providers/JsonWriteTransformProvider.java
  sdks/java/io/json/src/main/java/org/apache/beam/sdk/io/json/providers/package-info.java
  sdks/java/io/json/src/test/java/org/apache/beam/sdk/io/json/JsonIOWriteTest.java
  sdks/python/apache_beam/yaml/standard_io.yaml
  settings.gradle.kts
Labels: python, java, build, io, extensions

#28512 Populate top-level display data in yaml main.
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/transforms/display.py
  sdks/python/apache_beam/yaml/main.py
Labels: python

#28900 Fix sourceJar task dependencies
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/flink/flink_runner.gradle
  sdks/java/maven-archetypes/examples/build.gradle
  sdks/java/maven-archetypes/gcp-bom-examples/build.gradle
Labels: java, build, runners, flink, Next Action: Reviewers

#28904 Update Dataflow containers
  sdks/python/apache_beam/runners/dataflow/internal/names.py
  website/www/site/content/en/documentation/runtime/environments.md
Labels: python, website, Next Action: Reviewers

#28917 Fix Python Precommit lint
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python, Next Action: Reviewers

#28783 Updates the Transform Service to accept Python extra packages through the Java API
  build.gradle.kts
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/TransformUpgrader.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/transform-service/docker-compose/.env
  sdks/java/transform-service/docker-compose/docker-compose.yml
  sdks/java/transform-service/launcher/build.gradle
  sdks/java/transform-service/launcher/src/main/java/org/apache/beam/sdk/transformservice/launcher/TransformServiceLauncher.java
  sdks/java/transform-service/launcher/src/test/java/org/apache/beam/sdk/transformservice/launcher/TransformServiceLauncherTest.java
  sdks/java/transform-service/src/main/java/org/apache/beam/sdk/transformservice/ExpansionService.java
  sdks/java/transform-service/src/test/java/org/apache/beam/sdk/transformservice/ExpansionServiceTest.java
  sdks/python/apache_beam/utils/transform_service_launcher.py
  sdks/python/expansion-service-container/boot.go
Labels: python, java, build, extensions, runners, core

#28844 Retrieve workflow runs for GA Post-Commits Status dashboard
  .test-infra/metrics/docker-compose.yml
  .test-infra/metrics/sync/github/requirements.txt
  .test-infra/metrics/sync/github/sync_workflows.py
Labels: infra, Next Action: Reviewers

#28928 Run self-assign and pr-updates only in create event
  .github/workflows/pr-bot-pr-updates.yml
  .github/workflows/self-assign.yml
Labels: build

#28942 Fix missing backslash in arguments of job
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow_With_RC.yml
Labels: build

#28920 Enable missing-timeout pylint check
  sdks/python/.pylintrc
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server.py
  sdks/python/apache_beam/testing/analyzers/github_issues_utils.py
  sdks/python/apache_beam/testing/benchmarks/nexmark/nexmark_launcher.py
  sdks/python/apache_beam/testing/load_tests/load_test_metrics_utils.py
Labels: python, Next Action: Reviewers

#28506 move nested windmill state classes to top level files and organize di…
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/Weighers.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternals.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/CachingStateTable.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/ConcatIterables.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/IdTracker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/PagingIterable.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/RangeCoder.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/RangeSetCoder.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/SimpleWindmillState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/StateTag.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/TimestampedValueWithId.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/ToIterableFunction.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/ValuesAndContPosition.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WeightedList.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillBag.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillCombiningState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillMap.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillMultimap.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillOrderedList.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillSet.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateCache.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternals.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateReader.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateUtil.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillValue.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillWatermarkHold.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WrappedFuture.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkStateTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternalsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateReaderTest.java
Labels: runners, dataflow, Next Action: Reviewers

#28929 [prism] Add user counters and msec metrics to prism UI.
  sdks/go/pkg/beam/runners/prism/internal/web/web.go
Labels: go, runners, Next Action: Reviewers

#28927 Add counter for MLTransform and data processing transforms
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/ml/transforms/base_test.py
Labels: python, Next Action: Reviewers

#28863 Remove unnecessary a space character that got through Javadoc CI ;)
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp, Next Action: Reviewers

#28548 [#20970] Fix gRPC leak by closing ResidualSource at BoundedToUnboundedSourceAdapter.Reader#init() in Dataflow worker
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/UnboundedReadFromBoundedSource.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/UnboundedReadFromBoundedSourceTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSources.java
Labels: runners, dataflow, core

#28655 Bump snappy-java version to 1.1.10.4
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#28764 Add GitHub Workflow Replacements for Jenkins job_LoadTests_Python_CoGBK subgroup
  .github/workflows/beam_LoadTests_Python_CoGBK_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Python_CoGBK_Dataflow_Streaming.yml
  .github/workflows/beam_LoadTests_Python_CoGBK_Flink_Batch.yml
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Batch_100b_Multiple_Keys.txt
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Batch_100b_Single_Key.txt
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Batch_10kB.txt
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Batch_2MB.txt
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Flink_Batch_100b_Multiple_Keys.txt
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Flink_Batch_100b_Single_Key.txt
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Flink_Batch_10kB.txt
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Streaming_100b_Multiple_Keys.txt
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Streaming_100b_Single_Key.txt
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Streaming_10kB.txt
  .github/workflows/load-tests-job-configs/python-cogbk/python_CoGBK_Dataflow_Streaming_2MB.txt
Labels: build, Next Action: Reviewers

#28742 Add GitHub Workflow Replacements for Jenkins job_LoadTests_Java_CoGBK
  .github/workflows/beam_LoadTests_Java_CoGBK_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Java_CoGBK_Dataflow_V2_Batch_JavaVersions.yml
  .github/workflows/beam_LoadTests_Java_CoGBK_Dataflow_V2_Streaming_JavaVersions.yml
  .github/workflows/beam_LoadTests_Java_CoGBK_SparkStructuredStreaming_Batch.yml
  .github/workflows/load-tests-job-configs/java_CoGBK_Dataflow_Batch_100b_Multiple_Keys.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_Dataflow_Batch_100b_Single_Key.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_Dataflow_Batch_10kB.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_Dataflow_Batch_2MB.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_Dataflow_V2_Streaming_Java_100b_Multiple_Keys.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_Dataflow_V2_Streaming_Java_100b_Single_Key.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_Dataflow_V2_Streaming_Java_10kB.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_Dataflow_V2_Streaming_Java_2MB.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_SparkStructuredStreaming_Batch_100b_Multiple_Keys.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_SparkStructuredStreaming_Batch_100b_Single_Key.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_SparkStructuredStreaming_Batch_10kB.txt
  .github/workflows/load-tests-job-configs/java_CoGBK_SparkStructuredStreaming_Batch_2MB.txt
Labels: build, Next Action: Reviewers

#28826 Add GitHub Workflow Replacements for Jenkins job_LoadTests_Python_SideInput_Dataflow_Batch
  .github/workflows/beam_LoadTests_Python_SideInput_Dataflow_Batch.yml
  .github/workflows/load-tests-job-configs/python_SideInput_Dataflow_Batch_10gb_1000window_first_iterable.txt
  .github/workflows/load-tests-job-configs/python_SideInput_Dataflow_Batch_10gb_1000window_iterable.txt
  .github/workflows/load-tests-job-configs/python_SideInput_Dataflow_Batch_10gb_1window_first_iterable.txt
  .github/workflows/load-tests-job-configs/python_SideInput_Dataflow_Batch_10gb_1window_iterable.txt
  .github/workflows/load-tests-job-configs/python_SideInput_Dataflow_Batch_1gb_1000window_1key_percent_dict.txt
  .github/workflows/load-tests-job-configs/python_SideInput_Dataflow_Batch_1gb_1000window_99key_percent_dict.txt
  .github/workflows/load-tests-job-configs/python_SideInput_Dataflow_Batch_1gb_1window_1key_percent_dict.txt
  .github/workflows/load-tests-job-configs/python_SideInput_Dataflow_Batch_1gb_1window_99key_percent_dict.txt
  .github/workflows/load-tests-job-configs/python_SideInput_Dataflow_Batch_1gb_1window_first_list.txt
  .github/workflows/load-tests-job-configs/python_SideInput_Dataflow_Batch_1gb_1window_list.txt
Labels: build, Next Action: Reviewers

#28842 Add Community Metrics Prober workflow
  .github/workflows/beam_Prober_CommunityMetrics.yml
Labels: build, Next Action: Reviewers

#28905 [RRIO] Create Caller and SetupTeardown interfaces
  sdks/java/io/rrio/build.gradle
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/Caller.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/SetupTeardown.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/UserCodeExecutionException.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/UserCodeQuotaException.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/UserCodeTimeoutException.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/package-info.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/rrio/CallerTest.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/rrio/SetupTeardownTest.java
Labels: java, Next Action: Reviewers

#28899 [YAML] Avro format for PubSub.
  sdks/python/apache_beam/yaml/yaml_io.py
  sdks/python/apache_beam/yaml/yaml_io_test.py
Labels: python, Next Action: Reviewers, yaml

#28954 Update go_tests.yml to cache Go Deps correctly.
  .github/workflows/go_tests.yml
Labels: build, Next Action: Reviewers

#28800 [Website] Announce Beam 2.51.0
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.51.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#28848 Add new resource hint to all sdks for number of cpus per worker machine
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api_grpc.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/endpoints.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/external_transforms.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/metrics.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/schema.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/standard_window_fns.pb.go
  sdks/go/pkg/beam/options/resource/hint.go
  sdks/go/pkg/beam/options/resource/hint_test.go
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/resourcehints/ResourceHints.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/resourcehints/ResourceHintsTest.java
  sdks/python/apache_beam/transforms/resources.py
  sdks/python/apache_beam/transforms/resources_test.py
Labels: python, java, go, model, Next Action: Reviewers

#28243 Add docs for per key inference
  sdks/python/apache_beam/ml/inference/base.py
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: python, website

#28801 Use latest released beam in notebook
  examples/notebooks/beam-ml/per_key_models.ipynb
Labels: examples

#28949 Editing notebooks to prepare for DevSite import
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
  examples/notebooks/beam-ml/mltransform_basic.ipynb
  examples/notebooks/beam-ml/per_key_models.ipynb
Labels: examples

#28943 Add Inference Python Benchmarks Dataflow workflow
  .github/workflows/beam_Inference_Python_Benchmarks_Dataflow.yml
  .github/workflows/load-tests-job-configs/beam_Inference_Python_Benchmarks_Dataflow_Pytorch_Imagenet_Classification_Resnet_152.txt
  .github/workflows/load-tests-job-configs/beam_Inference_Python_Benchmarks_Dataflow_Pytorch_Imagenet_Classification_Resnet_152_Tesla_T4_GPU.txt
  .github/workflows/load-tests-job-configs/beam_Inference_Python_Benchmarks_Dataflow_Pytorch_Language_Modeling_Bert_Base_Uncased.txt
  .github/workflows/load-tests-job-configs/beam_Inference_Python_Benchmarks_Dataflow_Pytorch_Language_Modeling_Bert_Large_Uncased.txt
  .github/workflows/load-tests-job-configs/beam_Inference_Python_Benchmarks_Dataflow_Pytorch_Vision_Classification_Resnet_101.txt
Labels: build, Next Action: Reviewers

#28966 Remove govulncheck for Go Test workflow
  .github/workflows/go_tests.yml
Labels: build

#28385 Add pyproject.toml
  .github/workflows/beam_PreCommit_Python.yml
  .github/workflows/beam_PreCommit_Python_Coverage.yml
  .github/workflows/beam_PreCommit_Python_Dataframes.yml
  .github/workflows/beam_PreCommit_Python_Examples.yml
  .github/workflows/beam_PreCommit_Python_Runners.yml
  .github/workflows/beam_PreCommit_Python_Transforms.yml
  .github/workflows/build_release_candidate.yml
  .github/workflows/build_wheels.yml
  .github/workflows/dask_runner_tests.yml
  .github/workflows/python_dependency_tests.yml
  .github/workflows/python_tests.yml
  .github/workflows/run_perf_alert_tool.yml
  .github/workflows/typescript_tests.yml
  .test-infra/jenkins/job_PreCommit_Python.groovy
  .test-infra/jenkins/job_PreCommit_Python_Coverage.groovy
  .test-infra/jenkins/job_PreCommit_Python_Dataframes.groovy
  .test-infra/jenkins/job_PreCommit_Python_Examples.groovy
  .test-infra/jenkins/job_PreCommit_Python_Runners.groovy
  .test-infra/jenkins/job_PreCommit_Python_Transforms.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  release/src/main/scripts/build_release_candidate.sh
  sdks/python/apache_beam/coders/slow_coders_test.py
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/kafkataxi/README.md
  sdks/python/apache_beam/io/azure/integration_test/Dockerfile
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/hdfs_integration_test/Dockerfile
  sdks/python/apache_beam/ml/gcp/naturallanguageml_test.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/build-requirements.txt
  sdks/python/build.gradle
  sdks/python/container/Dockerfile
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/gen_protos.py
  sdks/python/pyproject.toml
  sdks/python/scripts/run_pytest.sh
  sdks/python/scripts/run_tox.sh
  sdks/python/setup.py
  sdks/python/test-suites/tox/common.gradle
  sdks/python/test-suites/tox/py310/build.gradle
  sdks/python/test-suites/tox/py311/build.gradle
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/test-suites/tox/py39/build.gradle
  sdks/python/tox.ini
  website/www/site/content/en/documentation/ml/multi-language-inference.md
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: python, build, website, infra, examples, docker, io, gcp, Next Action: Reviewers

#28965 Fix typo and remove extra button
  examples/notebooks/beam-ml/mltransform_basic.ipynb
Labels: examples, Next Action: Reviewers

#28961 Fix publish snapshots github actions
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
  .github/workflows/beam_Publish_Docker_Snapshots.yml
Labels: build, Next Action: Reviewers

#28897 Github Workflow Replacement for Jenkins Jobs, beam_LoadTests_Python_GBK_Flink_Batch; beam_Java_LoadTests_Combine_Smoke_PR
  .github/workflows/beam_Java_LoadTests_Combine_Smoke.yml
  .github/workflows/beam_LoadTests_Python_GBK_Flink_Batch.yml
  .github/workflows/beam_PerformanceTests_xlang_KafkaIO_Python.yml
  .github/workflows/beam_PostCommit_XVR_GoUsingJava_Dataflow.yml
  .github/workflows/load-tests-job-configs/java_LoadTests_Combine_Smoke_CombineLoadTest_load_test_Dataflow-1.txt
  .github/workflows/load-tests-job-configs/java_LoadTests_Combine_Smoke_CombineLoadTest_load_test_Dataflow-2.txt
  .github/workflows/load-tests-job-configs/java_LoadTests_Combine_Smoke_CombineLoadTest_load_test_Dataflow-3.txt
  .github/workflows/load-tests-job-configs/python_GBK_Flink_Batch_2GB_of_100B_records.txt
  .github/workflows/load-tests-job-configs/python_GBK_Flink_Batch_2GB_of_10B_records.txt
  .github/workflows/load-tests-job-configs/python_GBK_Flink_Batch_fanout_4_times_with_2GB_10-byte_records_total.txt
  .github/workflows/load-tests-job-configs/python_GBK_Flink_Batch_fanout_8_times_with_2GB_10-byte_records_total.txt
  .github/workflows/load-tests-job-configs/python_GBK_Flink_Batch_reiterate_4_times_10kB_values.txt
Labels: build, Next Action: Reviewers

#28854 Add GitHub Workflow Replacements for Jenkins job_LoadTests_Python_Smoke and job_LoadTests_Java_GBK_Smoke
  .github/workflows/beam_LoadTests_Java_GBK_Smoke.yml
  .github/workflows/beam_LoadTests_Python_Smoke.yml
  .github/workflows/load-tests-job-configs/java_Smoke_GroupByKey_Dataflow.txt
  .github/workflows/load-tests-job-configs/java_Smoke_GroupByKey_Direct.txt
  .github/workflows/load-tests-job-configs/java_Smoke_GroupByKey_Flink.txt
  .github/workflows/load-tests-job-configs/java_Smoke_GroupByKey_Spark.txt
  .github/workflows/load-tests-job-configs/python_Smoke_GroupByKey_Dataflow.txt
  .github/workflows/load-tests-job-configs/python_Smoke_GroupByKey_Direct.txt
Labels: build, Next Action: Reviewers

#28894 Add GitHub Workflow Replacements for Jenkins job_Python_ParDo_DataFlow and job_Python_ParDo_Flink
  .github/workflows/beam_LoadTests_Python_ParDo_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Dataflow_Streaming.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Flink_Streaming.yml
  .github/workflows/load-tests-job-configs/python_ParDo_Dataflow_Batch_100_Counters.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Dataflow_Batch_10_Counters.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Dataflow_Batch_10_Iterations.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Dataflow_Batch_200_Iterations.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Dataflow_Streaming_100_Counters.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Dataflow_Streaming_10_Counters.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Dataflow_Streaming_10_Iterations.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Dataflow_Streaming_200_Iterations.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Flink_Batch_10_Counters.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Flink_Batch_10_Iterations.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Flink_Batch_200_Iterations.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Flink_Streaming_100_Counters.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Flink_Streaming_10_Counters.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Flink_Streaming_10_Iterations.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Flink_Streaming_200_Iterations.txt
  .github/workflows/load-tests-job-configs/python_ParDo_Flink_Streaming_5_Iterations.txt
Labels: build, Next Action: Reviewers

#28968 Revert "Setup Java 21 container (#28833)"
  .github/workflows/beam_LoadTests_Java_CoGBK_Dataflow_V2_Batch_JavaVersions.yml
  .github/workflows/beam_LoadTests_Java_CoGBK_Dataflow_V2_Streaming_JavaVersions.yml
  .github/workflows/beam_LoadTests_Java_GBK_Dataflow_V2_Batch_Java11.yml
  .github/workflows/beam_LoadTests_Java_GBK_Dataflow_V2_Batch_Java17.yml
  .github/workflows/beam_LoadTests_Java_GBK_Dataflow_V2_Streaming_Java11.yml
  .github/workflows/beam_LoadTests_Java_GBK_Dataflow_V2_Streaming_Java17.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_V2_Java.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Dataflow_Java17.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Direct_Java17.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Dataflow_V2_Java.yml
  .github/workflows/beam_PostCommit_TransformService_Direct.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java11.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java17.yml
  .github/workflows/beam_PreCommit_SQL_Java11.yml
  .github/workflows/beam_PreCommit_SQL_Java17.yml
  .test-infra/jenkins/JavaTestProperties.groovy
  .test-infra/jenkins/NexmarkBuilder.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_Examples_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_PostCommit_Java_Examples_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_Jpms_Dataflow_Java17.groovy
  .test-infra/jenkins/job_PostCommit_Java_Jpms_Direct_Java17.groovy
  .test-infra/jenkins/job_PostCommit_TransformService_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_Examples_Dataflow_Java11.groovy
  .test-infra/jenkins/job_PreCommit_SQL_Java11.groovy
  .test-infra/jenkins/job_PreCommit_SQL_Java17.groovy
  .test-infra/jenkins/job_Precommit_Java_Examples_Dataflow_Java17.groovy
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/EnvironmentsTest.java
  runners/google-cloud-dataflow-java/arm/build.gradle
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/spark/spark_runner.gradle
  sdks/java/container/Dockerfile
  sdks/java/container/common.gradle
  sdks/java/container/java21/build.gradle
  sdks/java/container/java21/option-jamm.json
  sdks/java/testing/jpms-tests/build.gradle
  sdks/java/testing/test-utils/build.gradle
  sdks/java/testing/test-utils/src/test/java/org/apache/beam/sdk/testutils/jvmverification/JvmVerification.java
  settings.gradle.kts
  website/www/site/content/en/roadmap/java-sdk.md
Labels: java, build, website, infra, docker, runners, spark, dataflow, core

#28840 Shutdown more Jenkins PreCommits
  .test-infra/jenkins/job_PreCommit_Java_Examples_Dataflow.groovy
  .test-infra/jenkins/job_PreCommit_Java_Examples_Dataflow_Java11.groovy
  .test-infra/jenkins/job_PreCommit_Java_IOs.groovy
  .test-infra/jenkins/job_PreCommit_Java_PortableValidatesRunner_Flink_Docker.groovy
  .test-infra/jenkins/job_PreCommit_Java_Spark3_Versions.groovy
  .test-infra/jenkins/job_PreCommit_Portable_Python.groovy
  .test-infra/jenkins/job_PreCommit_SQL.groovy
  .test-infra/jenkins/job_PreCommit_SQL_Java11.groovy
  .test-infra/jenkins/job_PreCommit_SQL_Java17.groovy
  .test-infra/jenkins/job_Precommit_Java_Examples_Dataflow_Java17.groovy
Labels: infra, Next Action: Reviewers, slow-review

#28970 Updated the DoFn doc with pickling
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#28744 Add LoadTests Java ParDo Dataflow V2 workflows
  .github/workflows/beam_LoadTests_Java_ParDo_Dataflow_V2_Batch_JavaVersions.yml
  .github/workflows/beam_LoadTests_Java_ParDo_Dataflow_V2_Streaming_JavaVersions.yml
  .github/workflows/load-tests-job-configs/java_ParDo_Dataflow_V2_Batch_JavaVersions_100_counters.txt
  .github/workflows/load-tests-job-configs/java_ParDo_Dataflow_V2_Batch_JavaVersions_10_counters.txt
  .github/workflows/load-tests-job-configs/java_ParDo_Dataflow_V2_Batch_JavaVersions_10_times.txt
  .github/workflows/load-tests-job-configs/java_ParDo_Dataflow_V2_Batch_JavaVersions_200_times.txt
  .github/workflows/load-tests-job-configs/java_ParDo_Dataflow_V2_Streaming_JavaVersions_100_counters.txt
  .github/workflows/load-tests-job-configs/java_ParDo_Dataflow_V2_Streaming_JavaVersions_10_counters.txt
  .github/workflows/load-tests-job-configs/java_ParDo_Dataflow_V2_Streaming_JavaVersions_10_times.txt
  .github/workflows/load-tests-job-configs/java_ParDo_Dataflow_V2_Streaming_JavaVersions_200_times.txt
Labels: build, Next Action: Reviewers

#28861 Github Workflow Replacement for Jenkins Jobs, beam_LoadTests_Python_GBK_reiterate_Dataflow_*, beam_LoadTests_Python_Combine_Dataflow_Streaming
  .github/workflows/beam_LoadTests_Python_Combine_Dataflow_Streaming.yml
  .github/workflows/beam_LoadTests_Python_GBK_reiterate_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Python_GBK_reiterate_Dataflow_Streaming.yml
  .github/workflows/load-tests-job-configs/python_Combine_Dataflow_Streaming_2GB_10_byte_records.txt
  .github/workflows/load-tests-job-configs/python_Combine_Dataflow_Streaming_2GB_Fanout_4.txt
  .github/workflows/load-tests-job-configs/python_Combine_Dataflow_Streaming_2GB_Fanout_8.txt
  .github/workflows/load-tests-job-configs/python_GBK_reiterate_Dataflow_Batch_reiterate_4_times_10kB_values.txt
  .github/workflows/load-tests-job-configs/python_GBK_reiterate_Dataflow_Batch_reiterate_4_times_2MB_values.txt
  .github/workflows/load-tests-job-configs/python_GBK_reiterate_Dataflow_Streaming_reiterate_4_times_10kB_values.txt
  .github/workflows/load-tests-job-configs/python_GBK_reiterate_Dataflow_Streaming_reiterate_4_times_2MB_values.txt
Labels: build, Next Action: Reviewers

#28941 Add CloudML Benchmarks Dataflow workflow
  .github/workflows/beam_CloudML_Benchmarks_Dataflow.yml
  .github/workflows/load-tests-job-configs/beam_CloudML_Benchmarks_Dataflow_arguments.txt
Labels: build, Next Action: Reviewers

#28987 Add KeyedModelHandler content to the multi-model ML page
  website/www/site/content/en/documentation/ml/multi-model-pipelines.md
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#28964 Set MIN_PER_PARTITION_MEMORY to 10 MiB instead of 4 MiB to match the change in the backend limit.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscribeTransform.java
Labels: java, io, gcp, Next Action: Reviewers

#28994 reorder args to avoid newline issues
  .github/actions/gradle-command-self-hosted-action/action.yml
Labels: build

#28950 [RRIO] Stub the RequestResponseIO transform
  sdks/java/io/rrio/build.gradle
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/ApiIOError.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/RequestResponseIO.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponseio/CallerTest.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponseio/SetupTeardownTest.java
Labels: java, io, Next Action: Reviewers

#28999 [JdbcIO] Allow fetchSize to be set for partitioned reads
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#28902 Support metric_name as list for perf alert tool
  .github/workflows/run_perf_alert_tool.yml
  sdks/python/apache_beam/testing/analyzers/README.md
  sdks/python/apache_beam/testing/analyzers/perf_analysis.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_test.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_utils.py
Labels: python, build

#28656 Update Google Cloud Java Libraries BOM from 26.22.0 to 26.23.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: build, Next Action: Reviewers

#28992 Change the if condition to check if build is installed
  sdks/python/apache_beam/runners/portability/stager.py
Labels: python, Next Action: Reviewers

#29023 Revert "Add no-cache-dir to tox install"
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#29021 Fix concurrency groups in Readme
  .github/workflows/README.md
Labels: build

#29012 [RRIO] [CACHE] Stub the CacheWrite transform
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/CacheWrite.java
Labels: java, io, Next Action: Reviewers

#29024 Add no-cache-dir to tox install
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/apache_beam/ml/transforms/base.py
Labels: build, Next Action: Reviewers

#29031 Update the Beam ML readme
  examples/notebooks/beam-ml/README.md
Labels: examples

#29013 Fix publish snapshots Github actions
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
  .github/workflows/beam_Publish_Docker_Snapshots.yml
Labels: build, Next Action: Reviewers

#29036 Fix PreCommit Java PVR Flink Batch job
  .github/workflows/beam_PreCommit_Java_PVR_Flink_Batch.yml
Labels: build, Next Action: Reviewers

#28782 [YAML] Java PubSubIO
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProviderTest.java
Labels: java, io, gcp

#29025 Log warning when gen_protos is not found
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#29006 Fix num workers
  .github/workflows/beam_Inference_Python_Benchmarks_Dataflow.yml
  .github/workflows/load-tests-job-configs/beam_Inference_Python_Benchmarks_Dataflow_Pytorch_Imagenet_Classification_Resnet_152_Tesla_T4_GPU.txt
Labels: build, Next Action: Reviewers

#28988 [Website] add linkedIn case-study
  website/www/site/content/en/case-studies/linkedin.md
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/linkedin/bingfeng-xia.jpg
  website/www/site/static/images/case-study/linkedin/scheme-1.png
  website/www/site/static/images/case-study/linkedin/scheme-2.png
  website/www/site/static/images/case-study/linkedin/scheme-3.png
  website/www/site/static/images/case-study/linkedin/scheme-4.png
  website/www/site/static/images/case-study/linkedin/scheme-5.png
  website/www/site/static/images/case-study/linkedin/scheme-6.png
  website/www/site/static/images/case-study/linkedin/xinyu-liu.jpg
Labels: website, Next Action: Reviewers

#29038 Add cleanup stale k8s namespace to CleanUpGCPResource workflow
  .github/workflows/beam_CancelStaleDataflowJobs.yml
  .github/workflows/beam_CleanUpGCPResources.yml
  .github/workflows/beam_CleanUpPrebuiltSDKImages.yml
  .test-infra/tools/build.gradle
  .test-infra/tools/stale_k8s_workload_cleaner.sh
Labels: build, infra

#28960 Fix beam_LoadTests_Go_GBK_Dataflow_Batch job
  .github/workflows/beam_LoadTests_Go_GBK_Dataflow_Batch.yml
  .github/workflows/load-tests-job-configs/go_GBK_Dataflow_Batch_100b.txt
  .github/workflows/load-tests-job-configs/go_GBK_Dataflow_Batch_100kb.txt
  .github/workflows/load-tests-job-configs/go_GBK_Dataflow_Batch_10b.txt
  .github/workflows/load-tests-job-configs/go_GBK_Dataflow_Batch_Fanout_4.txt
  .github/workflows/load-tests-job-configs/go_GBK_Dataflow_Batch_Fanout_8.txt
  .github/workflows/load-tests-job-configs/go_GBK_Dataflow_Batch_Reiteration_10KB.txt
  .github/workflows/load-tests-job-configs/go_GBK_Dataflow_Batch_Reiteration_2MB.txt
Labels: build, Next Action: Reviewers

#28952 [RRIO] [Call] Create CallShouldBackoff and default implementation
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/CallShouldBackoff.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/CallShouldBackoffBasedOnRejectionProbability.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponseio/CallShouldBackoffBasedOnRejectionProbabilityTest.java
Labels: java, io, Next Action: Reviewers

#29011 [RRIO] [Cache] Stub CacheRead transform
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponseio/CacheRead.java
Labels: java, io, Next Action: Reviewers

#29040 Rename rrio package
  sdks/java/io/rrio/build.gradle
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/ApiIOError.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/CacheRead.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/CacheWrite.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/CallShouldBackoff.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/CallShouldBackoffBasedOnRejectionProbability.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/Caller.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/RequestResponseIO.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/SetupTeardown.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/UserCodeExecutionException.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/UserCodeQuotaException.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/UserCodeTimeoutException.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/package-info.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/CallShouldBackoffBasedOnRejectionProbabilityTest.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/CallerTest.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/SetupTeardownTest.java
Labels: java, io, Next Action: Reviewers

#28864 Add withAppProfileId to BigtableIO Read and Write
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review, bigtable

#28946 [Python] Fail WindowInto when there are no inputs to it
  sdks/python/apache_beam/runners/common.py
Labels: python

#28923 Add MetricsContainer::getPerWorker{Counter|Histogram} (#28903)
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricsContainer.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/NoOpCounter.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/NoOpHistogram.java
Labels: java, runners, dataflow, Next Action: Reviewers

#29053 [RRIO] [Throttle] Stub Enqueue PTransform
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/ThrottleEnqueue.java
Labels: java, io, Next Action: Reviewers

#27851 Remove Avro-related code from Java SDK "core" module
  CHANGES.md
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/AvroCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/AvroGenericCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroSchemaIOProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroSink.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroSource.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/ConstantAvroDestination.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/CountingSource.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/DynamicAvroDestinations.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/SerializableAvroCodecFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/AvroRecordSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/Providers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/io/payloads/AvroPayloadSerializerProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/AvroCoderTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/AvroCoderTestPojo.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/CoderRegistryTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/DefaultCoderTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/MockDefaultCoder.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/AvroIOTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/AvroSchemaIOProviderTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/AvroSourceTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/ReadTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/SerializableAvroCodecFactoryTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/AvroSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaCoderTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/io/AvroPayloadSerializerProviderTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/ConvertTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/AvroGenerators.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/AvroUtilsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/TestJavaBeans.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/coders/DefaultCoderTest.java
  sdks/java/extensions/timeseries/build.gradle
  sdks/java/extensions/zetasketch/build.gradle
  sdks/java/harness/build.gradle
  sdks/java/io/clickhouse/build.gradle
  sdks/java/io/contextualtextio/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/read/SnowflakeIOReadTest.java
  sdks/java/io/thrift/build.gradle
Labels: java, io, extensions, clickhouse, gcp, kafka, zetasketch, Next Action: Reviewers, thrift, timeseries

#29055 Update `google_api_services_healthcare` [10/23]
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#29057 [RRIO] [Throttle] stub the refresh quota transform
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/ThrottleRefreshQuota.java
Labels: java, io, Next Action: Reviewers

#29056 [RRIO] [Throttle] stub the dequeue transform
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/ThrottleDequeue.java
Labels: java, io, Next Action: Reviewers

#28995 Implement java exponential histograms (#28903)
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/HistogramData.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/HistogramDataTest.java
Labels: java

#29035 Disable comment trigger for Performance and Load Tests
  .github/workflows/beam_Java_LoadTests_Combine_Smoke.yml
  .github/workflows/beam_LoadTests_Java_CoGBK_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Java_CoGBK_Dataflow_V2_Batch_JavaVersions.yml
  .github/workflows/beam_LoadTests_Java_CoGBK_Dataflow_V2_Streaming_JavaVersions.yml
  .github/workflows/beam_LoadTests_Java_CoGBK_SparkStructuredStreaming_Batch.yml
  .github/workflows/beam_LoadTests_Java_GBK_Smoke.yml
  .github/workflows/beam_LoadTests_Java_ParDo_Dataflow_V2_Batch_JavaVersions.yml
  .github/workflows/beam_LoadTests_Java_ParDo_Dataflow_V2_Streaming_JavaVersions.yml
  .github/workflows/beam_LoadTests_Python_CoGBK_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Python_CoGBK_Dataflow_Streaming.yml
  .github/workflows/beam_LoadTests_Python_CoGBK_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_Combine_Dataflow_Streaming.yml
  .github/workflows/beam_LoadTests_Python_GBK_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_GBK_reiterate_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Python_GBK_reiterate_Dataflow_Streaming.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Dataflow_Streaming.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Flink_Streaming.yml
  .github/workflows/beam_LoadTests_Python_SideInput_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Python_Smoke.yml
Labels: build, Next Action: Reviewers

#28962 [Security] Bump org.json:json due to CVE-2022-45688
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JsonUtils.java
Labels: java, build, Next Action: Reviewers

#29068 Add link to the Dataflow service options page
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
Labels: runners, dataflow

#29058 Arc network update
  .github/gh-actions-self-hosted-runners/arc/config/arc_autoscaler.tpl
  .github/gh-actions-self-hosted-runners/arc/config/arc_deployment.tpl
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
  .github/gh-actions-self-hosted-runners/arc/gke.tf
  .github/gh-actions-self-hosted-runners/arc/kubernetes.tf
  .github/gh-actions-self-hosted-runners/arc/locals.tf
  .github/gh-actions-self-hosted-runners/arc/network.tf
  .github/gh-actions-self-hosted-runners/arc/outputs.tf
  .github/gh-actions-self-hosted-runners/arc/provider.tf
  .github/gh-actions-self-hosted-runners/arc/variables.tf
Labels: build, Next Action: Reviewers

#29061 Update base image requirements in preparation for next release
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#29034 Fix file paths for test arguments
  .github/workflows/beam_LoadTests_Python_CoGBK_Dataflow_Batch.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Dataflow_Streaming.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Flink_Streaming.yml
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Batch_100b_Multiple_Keys.txt
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Batch_100b_Single_Key.txt
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Batch_10kB.txt
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Batch_2MB.txt
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Flink_Batch_100b_Multiple_Keys.txt
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Flink_Batch_100b_Single_Key.txt
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Flink_Batch_10kB.txt
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Streaming_100b_Multiple_Keys.txt
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Streaming_100b_Single_Key.txt
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Streaming_10kB.txt
  .github/workflows/load-tests-job-configs/python_CoGBK_Dataflow_Streaming_2MB.txt
Labels: build, Next Action: Reviewers

#29067 Fix Python PreCommit GHA recommendations_ai teardown
  sdks/python/apache_beam/ml/gcp/recommendations_ai_test_it.py
Labels: python, Next Action: Reviewers

#29009 Fix and stabilize some GitHub Actions workflows
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Dataflow_JavaVersions.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Direct.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Direct_JavaVersions.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink_Java11.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Spark_Java11.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_ULR.yml
  .github/workflows/beam_PostCommit_Python_Examples_Flink.yml
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow_With_RC.yml
Labels: build, Next Action: Reviewers

#29015 [JdbcIO] Add fetchSize to the schema provider for partitioned reads
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
Labels: java, io, jdbc, Next Action: Reviewers

#29062 Move Java Google BOM to best effort post-release task
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#29079 Remove command prompts from Go quickstart commands
  website/www/site/content/en/get-started/quickstart-go.md
Labels: website

#29051 Make BeamKafkaTable.createKafkaRead to be protected
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaTable.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTestTable.java
Labels: java, extensions, sql, Next Action: Reviewers

#29065 TImeout StreamingDataflowWorkerTest when test stuck
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
Labels: runners, dataflow

#28986 beam_performance_singlestoreio
  .github/workflows/beam_PerformanceTests_SingleStoreIO.yml
  .github/workflows/performance-tests-job-configs/config_PerformanceTests_SingleStoreIO.txt
Labels: build, Next Action: Reviewers

#29094 Editorial pass on content
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
  website/www/site/content/en/documentation/sdks/python-unrecoverable-errors.md
  website/www/site/content/en/get-started/_index.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#29097 Clean up IO PreCommit build configs
  .github/workflows/beam_PreCommit_Java.yml
  .github/workflows/beam_PreCommit_Java_RequestResponse_IO_Direct.yml
  .test-infra/jenkins/job_PreCommit_Java.groovy
  build.gradle.kts
Labels: build, infra
