Repository apache/beam, pull requests merged in 2023-08, with the labels that each got.

#27744 [#23043] Re-enable single iteration for the Go SDK.
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/fullvalue.go
  sdks/go/pkg/beam/core/runtime/exec/fullvalue_test.go
  sdks/go/pkg/beam/core/runtime/exec/plan.go
Labels: go, Next Action: Reviewers

#27763 Inline jwalton/gh-find-current-pr
  .github/workflows/beam_PreCommit_Website_Stage_GCS.yml
Labels: build

#27759 Update Compatibility Matrix for Flink Unbounded SDF
  website/www/site/data/capability_matrix.yaml
  website/www/site/data/capability_matrix_snapshot.yaml
Labels: website, Next Action: Reviewers

#27784 Authenticate to gcr instead of ar in ARM workflow
  .github/workflows/beam_PostCommit_Go_Dataflow_ARM.yml
Labels: build

#27780 Update to libraries-bom 26.21.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#27783 Improve Documentation on DicomClient.py
  sdks/python/apache_beam/io/gcp/healthcare/dicomclient.py
Labels: python, io, gcp

#27789 Update base image requirements for Python SDK container images.
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/container/run_generate_requirements.sh
Labels: python, docker, Next Action: Reviewers

#27723 Add flags to build multiarch Python SDK containers and test
  .github/workflows/README.md
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
  sdks/python/apache_beam/examples/wordcount_it_test.py
  sdks/python/container/common.gradle
  sdks/python/container/run_validatescontainer.sh
  sdks/python/pytest.ini
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, build, examples, docker, Next Action: Reviewers

#27791 Update website with DicomIO
  website/www/site/content/en/documentation/io/connectors.md
Labels: website

#26694 [Java] Track pipeline options revision for idempotent initialization of file systems
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystems.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PipelineOptions.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PipelineOptionsFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/ProxyInvocationHandler.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/options/PipelineOptionsFactoryTest.java
Labels: java, Next Action: Reviewers

#27782 Github Workflow Fix for Jenkins Job, beam_PreCommit_Website_Stage_GCS (Cron, Commit, Phrase)
  .github/workflows/beam_PreCommit_Website_Stage_GCS.yml
Labels: build, Next Action: Reviewers

#27788 Log dataflow messages at appropriate levels
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python, Next Action: Reviewers

#27757 Update playground to require Go 1.20 to match SDK.
  playground/README.md
  playground/backend/containers/go/build.gradle
  playground/backend/containers/java/Dockerfile
  playground/backend/containers/python/Dockerfile
  playground/backend/containers/python/build.gradle
  playground/backend/containers/router/Dockerfile
  playground/backend/containers/router/build.gradle
  playground/backend/containers/scio/Dockerfile
  playground/backend/go.mod
  playground/frontend/playground_components/tools/extract_symbols_go/go.mod
  playground/infrastructure/cloudbuild/playground_ci_examples.sh
Labels: Next Action: Reviewers

#27703 [#24789] Make Prism the default Go SDK runner.
  playground/infrastructure/cloudbuild/playground_ci_examples.sh
  sdks/go/examples/large_wordcount/large_wordcount.go
  sdks/go/examples/minimal_wordcount/minimal_wordcount.go
  sdks/go/examples/snippets/10metrics.go
  sdks/go/pkg/beam/runner.go
  sdks/go/pkg/beam/runners/direct/direct.go
  sdks/go/pkg/beam/runners/prism/README.md
  sdks/go/pkg/beam/testing/ptest/ptest.go
  sdks/go/pkg/beam/testing/ptest/ptest_test.go
  sdks/go/pkg/beam/x/beamx/run.go
  sdks/go/test/integration/integration.go
Labels: go, examples, runners, direct, Next Action: Reviewers

#27399 [Python] Hugging Face pipeline support
  sdks/python/apache_beam/examples/inference/huggingface_question_answering.py
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
  sdks/python/apache_beam/ml/inference/huggingface_inference_it_test.py
  sdks/python/apache_beam/ml/inference/huggingface_tests_requirements.txt
Labels: python, examples, Next Action: Reviewers

#27807 Update script to clean stale containers pushed by GH tests
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: infra, Next Action: Reviewers

#27815 Use correct concurrency condition to avoid incorrect interrupts
  .github/workflows/beam_PostCommit_Go_Dataflow_ARM.yml
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
Labels: build

#27812 Fix bug causing elapsed time to be negative
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
Labels: runners, dataflow, Next Action: Reviewers

#27810 Fix gradle command not found error for Python ValidatesContainer Dataflow ARM
  .github/workflows/README.md
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
  sdks/python/container/run_validatescontainer.sh
Labels: python, build, docker

#27820 Update REVIEWERS.yml
  .github/REVIEWERS.yml
Labels: build, Next Action: Reviewers

#27787 Add Neo4j Resource manager to manage Neo4j resources in tests.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  it/neo4j/build.gradle
  it/neo4j/src/main/java/org/apache/beam/it/neo4j/Neo4jResourceManager.java
  it/neo4j/src/main/java/org/apache/beam/it/neo4j/Neo4jResourceManagerException.java
  it/neo4j/src/main/java/org/apache/beam/it/neo4j/Neo4jResourceManagerUtils.java
  it/neo4j/src/main/java/org/apache/beam/it/neo4j/conditions/Neo4jQueryCheck.java
  it/neo4j/src/main/java/org/apache/beam/it/neo4j/conditions/package-info.java
  it/neo4j/src/main/java/org/apache/beam/it/neo4j/package-info.java
  it/neo4j/src/test/java/org/apache/beam/it/neo4j/Neo4jResourceManagerIT.java
  it/neo4j/src/test/java/org/apache/beam/it/neo4j/Neo4jResourceManagerTest.java
  it/neo4j/src/test/java/org/apache/beam/it/neo4j/Neo4jResourceManagerUtilsTest.java
  settings.gradle.kts
Labels: build

#27760 Add flags to build multiarch Java SDK containers and test
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  runners/google-cloud-dataflow-java/arm/build.gradle
  sdks/java/container/common.gradle
Labels: java, build, docker, runners, dataflow, Next Action: Reviewers

#27777 Add Splunk Resource manager to manage Splunk resources in tests.
  it/splunk/build.gradle
  it/splunk/src/main/java/org/apache/beam/it/splunk/SplunkClientFactory.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/SplunkContainer.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/SplunkResourceManager.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/SplunkResourceManagerException.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/SplunkResourceManagerUtils.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/conditions/SplunkEventsCheck.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/conditions/package-info.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/matchers/SplunkAsserts.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/matchers/package-info.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/package-info.java
  it/splunk/src/test/java/org/apache/beam/it/splunk/SplunkResourceManagerIT.java
  it/splunk/src/test/java/org/apache/beam/it/splunk/SplunkResourceManagerTest.java
  it/splunk/src/test/java/org/apache/beam/it/splunk/SplunkResourceManagerUtilsTest.java
  settings.gradle.kts
Labels: build

#27819 Refactor `dicomio_test.py`
  sdks/python/apache_beam/io/gcp/healthcare/dicomio_test.py
Labels: python, io, gcp

#27482 Github Workflow Replacement for Jenkins Job, beam_PreCommit_GoPortable (Cron, Commit, Phrase)
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_GoPortable.yml
Labels: build, Next Action: Reviewers, slow-review

#27824 Explicitly load go license container locally
  release/go-licenses/common.gradle
Labels: build, Next Action: Reviewers

#27774 Override encoding positions for nested schemas
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/RowCoderCloudObjectTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/SchemaCoderCloudObjectTranslator.java
Labels: runners, dataflow

#27350 Add GitHub Workflow Replacement for Jenkins job_PreCommit_Kotlin_Examples
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Kotlin_Examples.yml
Labels: build, Next Action: Reviewers

#27827 [Security] Upgrade snappy-java to 1.1.10.3
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#27823 Nest all transform-specific arguments in an explicit 'config' parameter.
  sdks/python/apache_beam/yaml/README.md
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_mapping.md
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_mapping_test.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python

#27829 [Python] Add Hugging Face PRs to CHANGES.md
  CHANGES.md
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
Labels: python

#27766 [BEAM-5559] Upgrade version of guava to 32.1.2-jre for all vendored a…
  buildSrc/src/main/groovy/org/apache/beam/gradle/VendorJavaPlugin.groovy
  settings.gradle.kts
  vendor/guava-32_1_2-jre/build.gradle
Labels: build, vendor, Next Action: Reviewers

#27425 Add GitHub Workflow Replacement for Jenkins job_PreCommit_Portable_Python
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Portable_Python.yml
Labels: build, Next Action: Reviewers

#27603 Add model manager class to hold many models at once
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python, Next Action: Reviewers

#27541 Migrate "beam_PreCommit_Java_Examples_Dataflow_Java11" Jenkins job to Github Actions
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java11.yml
Labels: build, Next Action: Reviewers

#27832 [#24789] Missed prism defaults and programming guide changes
  sdks/go/examples/snippets/04transforms.go
  sdks/go/examples/snippets/04transforms_test.go
  sdks/go/pkg/beam/testing/ptest/ptest.go
  sdks/go/pkg/beam/transforms/filter/filter_test.go
Labels: go, examples, Next Action: Reviewers

#27833 Add buildx flag to pick up the load flag.
  release/go-licenses/common.gradle
Labels: build, Next Action: Reviewers

#27835 Enable combiner lifting for the Group transform
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Group.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Combine.java
Labels: java

#27627 Fix Neo4jIO result consumption
  sdks/java/io/neo4j/src/main/java/org/apache/beam/sdk/io/neo4j/Neo4jIO.java
Labels: java, io, Next Action: Reviewers, slow-review

#27840 Push multi-arch Python SDK containers built by GH tests to GCR and remove auto delete
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
  sdks/go/test/run_validatesrunner_tests.sh
  sdks/python/container/run_validatescontainer.sh
Labels: python, go, build, docker

#27776 Bump commons-io to 2.13.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#27845 propagate fewKeys to hot-key path
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Combine.java
Labels: java, Next Action: Reviewers

#27831 Update settings.gradle.kts to include project `arm`
  runners/google-cloud-dataflow-java/arm/build.gradle
  settings.gradle.kts
Labels: build, runners, dataflow, Next Action: Reviewers

#27813 Add logging at error to Bootloader logger
  sdks/go/container/tools/logging.go
  sdks/go/container/tools/logging_test.go
  sdks/python/container/boot.go
  sdks/python/container/piputil.go
Labels: python, go, docker, Next Action: Reviewers

#27850 Allow usage of GCThrashing settings on Fn Harness
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/MemoryMonitor.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/SdkHarnessOptions.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/status/MemoryMonitor.java
Labels: java, runners, dataflow, Next Action: Reviewers

#27855 Make different Java versions ARM tests run in parallel
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
Labels: build

#27837 Rebuild generated protobuf code to reflect fnapi proto update #25065
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api_grpc.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/endpoints.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/external_transforms.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/metrics.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/schema.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/standard_window_fns.pb.go
Labels: go

#27461 Light cache weigher for StateFetchingIterators
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/WeightedList.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/stream/DataStreams.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/stream/DataStreamsTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateFetchingIterators.java
Labels: java

#27863 Add setup Java for different Java versions.
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
Labels: build, Next Action: Reviewers

#27828 Fix google-api-services-bigquery to match new google-cloud-bigquery
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#27412 Fix broken url for 'Tour of Beam'
  examples/notebooks/get-started/learn_beam_basics_by_doing.ipynb
Labels: examples, Next Action: Reviewers

#27865 Update versions based on libraries-bom, and add comment to keep consistency
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#26631 Ensure that if grpc stream terminates that DirectStreamObserver does not block on Phaser.
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/stream/DirectStreamObserver.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/stream/ForwardingClientResponseObserver.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/stream/OutboundObserverFactory.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/stream/DirectStreamObserverTest.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/stream/ForwardingClientResponseObserverTest.java
Labels: java, Next Action: Reviewers

#27860 Fix action run on base branch
  .github/actions/setup-action/action.yml
  .github/workflows/beam_PreCommit_Java_Flink_Versions.yml
Labels: build

#27858 Fix routing header issue in Firestore Beam connector
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreStatefulComponentFactory.java
Labels: java, io, gcp, Next Action: Reviewers

#27881 Bump beam-master legacy container to 20230807
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow, Next Action: Reviewers

#27834 Update example for BundleProcessResponse
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
Labels: model

#27883 Move code contribution guide into repo
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  website/www/site/content/en/contribute/_index.md
  website/www/site/content/en/contribute/get-started-contributing.md
  website/www/site/layouts/partials/section-menu/en/contribute.html
Labels: build, website, Next Action: Reviewers

#27841 Add PIPELINE_OPTIONS_FILE environment variable to allow PIPELINE_OPTIONS to be read from a file
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
Labels: java

#27893 adds check to accomodate startswith filter on matrix jobs
  .github/actions/setup-action/action.yml
Labels: build

#27852 update all jobs with new name and phrase matrix, required for rerun
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Go_Dataflow_ARM.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  .github/workflows/beam_PreCommit_CommunityMetrics.yml
  .github/workflows/beam_PreCommit_Go.yml
  .github/workflows/beam_PreCommit_GoPortable.yml
  .github/workflows/beam_PreCommit_ItFramework.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java11.yml
  .github/workflows/beam_PreCommit_Java_Spark3_Versions.yml
  .github/workflows/beam_PreCommit_Kotlin_Examples.yml
  .github/workflows/beam_PreCommit_Portable_Python.yml
  .github/workflows/beam_PreCommit_Python.yml
  .github/workflows/beam_PreCommit_PythonDocker.yml
  .github/workflows/beam_PreCommit_PythonDocs.yml
  .github/workflows/beam_PreCommit_PythonFormatter.yml
  .github/workflows/beam_PreCommit_PythonLint.yml
  .github/workflows/beam_PreCommit_Python_Coverage.yml
  .github/workflows/beam_PreCommit_Python_Dataframes.yml
  .github/workflows/beam_PreCommit_Python_Examples.yml
  .github/workflows/beam_PreCommit_Python_Integration.yml
  .github/workflows/beam_PreCommit_Python_Runners.yml
  .github/workflows/beam_PreCommit_Python_Transforms.yml
  .github/workflows/beam_PreCommit_RAT.yml
  .github/workflows/beam_PreCommit_SQL_Java11.yml
  .github/workflows/beam_PreCommit_Typescript.yml
  .github/workflows/beam_PreCommit_Website.yml
  .github/workflows/beam_PreCommit_Website_Stage_GCS.yml
  .github/workflows/beam_PreCommit_Whitespace.yml
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
Labels: build, Next Action: Reviewers

#27740 Add integration tests for Storage Write API schema update feature
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/SplittingIterable.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableSchemaUpdateUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/BigqueryClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkSchemaUpdateIT.java
Labels: java, io, gcp, Next Action: Reviewers

#27878 Replace StorageV1 client with GCS client (take 3)
  playground/frontend/playground_components/assets/symbols/python.g.yaml
  sdks/python/apache_beam/examples/complete/game/user_score.py
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
  sdks/python/apache_beam/io/gcp/gcsio_overrides.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/__init__.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/storage_v1_client.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/storage_v1_messages.py
  sdks/python/apache_beam/options/pipeline_options_validator_test.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/mypy.ini
  sdks/python/setup.py
Labels: python, examples, docker, io, gcp, Next Action: Reviewers

#27886 [#24789] Add message for new prism users, in case of failures that might have worked on direct runner.
  sdks/go/pkg/beam/testing/ptest/ptest.go
Labels: go, Next Action: Reviewers

#27885 Temp changes to see the failure of validatesContainer ARM
  sdks/python/container/run_validatescontainer.sh
Labels: python, docker, Next Action: Reviewers

#27894 reset permission on .config
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
Labels: build, Next Action: Reviewers

#27898 add Pod UID to environment
  .github/gh-actions-self-hosted-runners/arc/config/arc_deployment.tpl
Labels: build, Next Action: Reviewers

#27882 Add logs when staging file/artifact can not be found
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/Environments.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/EnvironmentsTest.java
Labels: runners, core, Next Action: Reviewers

#27286 Add PubsubWriteIT tests, with validations to bounded writes
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteIT.java
Labels: java, io, gcp, Next Action: Reviewers

#27902 Fix formatting for Python ValidatesContainer Dataflow ARM
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, Next Action: Reviewers

#27904 Remove extraneous warnings from notebook output
  examples/notebooks/beam-ml/nlp_tensorflow_streaming.ipynb
  examples/notebooks/beam-ml/run_inference_generative_ai.ipynb
  examples/notebooks/healthcare/beam_nlp.ipynb
Labels: examples

#27830 Add `credentials` as a parameter to builder in Resource managers.
  .github/workflows/beam_PreCommit_ItFramework.yml
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/LoadTestBase.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/bigquery/BigQueryResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/bigtable/BigtableResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/dataflow/ClassicTemplateClient.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/dataflow/FlexTemplateClient.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/datagenerator/DataGenerator.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/datastore/DatastoreResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/datastream/DatastreamResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/dlp/DlpResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/kms/KMSResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/monitoring/MonitoringClient.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/pubsub/PubsubResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/secretmanager/SecretManagerResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/storage/GcsResourceManager.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryIOLT.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryResourceManagerTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigtable/BigTableIOLT.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigtable/BigtableResourceManagerIT.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigtable/BigtableResourceManagerTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/dataflow/ClassicTemplateClientTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/dataflow/FlexTemplateClientTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/datastore/DatastoreResourceManagerIT.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/datastream/DatastreamResourceManagerTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/kms/KMSResourceManagerIT.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/kms/KMSResourceManagerTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/pubsub/PubsubResourceManagerTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/secretmanager/SecretManagerResourceManagerTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/storage/FileBasedIOLT.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/storage/GcsResourceManagerTest.java
Labels: build

#27487 Set connection attributes in SingleStoreIO
  .test-infra/jenkins/job_PostCommit_Java_SingleStoreIO_IT.groovy
  .test-infra/kubernetes/singlestore/sdb-cluster.yaml
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/SingleStoreIO.java
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreIOConnectionAttributesIT.java
Labels: java, infra, io, Next Action: Reviewers

#27811 Automatically clean up old metrics containers
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: infra

#27778 Implement go xlang wrapper for reading from Bigtable
  sdks/go/pkg/beam/core/runtime/xlangx/payload.go
  sdks/go/pkg/beam/io/xlang/bigtableio/bigtable.go
  sdks/go/pkg/beam/transforms/xlang/inference/inference.go
  sdks/go/pkg/beam/transforms/xlang/schema/external.go
  sdks/go/test/build.gradle
  sdks/go/test/integration/flags.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/io/xlang/bigtable/bigtable.go
  sdks/go/test/integration/io/xlang/bigtable/bigtable_test.go
Labels: go, io, Next Action: Reviewers

#27901 [Python] Remove harmless warnings from example notebooks
  examples/notebooks/beam-ml/image_processing_tensorflow.ipynb
  examples/notebooks/beam-ml/nlp_tensorflow_streaming.ipynb
  examples/notebooks/beam-ml/run_inference_pytorch_tensorflow_sklearn.ipynb
  examples/notebooks/beam-ml/run_inference_with_tensorflow_hub.ipynb
Labels: examples

#27899 Only include WordCount for PostCommit Java Examples Dataflow ARM.
  runners/google-cloud-dataflow-java/arm/build.gradle
Labels: runners, dataflow, Next Action: Reviewers

#27836 Made changes to scripts to release multi-arch Beam SDK containers
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/container/build.gradle
  sdks/java/container/build.gradle
  sdks/python/container/build.gradle
Labels: python, java, go, build, docker, Next Action: Reviewers

#27900 [#27692] Set non-playground Go versions to use Go 1.21.0
  .github/actions/setup-self-hosted-action/action.yml
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
  .github/workflows/beam_PostCommit_Go_Dataflow_ARM.yml
  .github/workflows/beam_PreCommit_Go.yml
  .github/workflows/beam_PreCommit_SQL_Java11.yml
  .github/workflows/go_tests.yml
  .github/workflows/local_env_tests.yml
  .github/workflows/python_tests.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  dev-support/docker/Dockerfile
  sdks/go/run_with_go_version.sh
Labels: go, build, Next Action: Reviewers

#27907 Replace remaining old guava namespace happens after #27895
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteIT.java
Labels: java, io, gcp

#27846 Add PreCommit Java IO AWS job
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Java_Amazon-Web-Services_IO_Direct.yml
Labels: build, Next Action: Reviewers

#27809 [yaml] Fix BigQueryIO for yaml pipeline compatibility
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_internal.py
Labels: python, io, gcp, Next Action: Reviewers

#27905 Try a second time to delete old images
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: infra

#27922 update runner images to 8b42b8dc
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
Labels: build, Next Action: Reviewers

#27909 Use grafana 10.0.3
  .test-infra/metrics/grafana/Dockerfile
Labels: infra

#27923 expose path to gcloud folder in setup action
  .github/actions/setup-action/action.yml
Labels: build, Next Action: Reviewers

#27681 Add GoogleAdsIO for reading from Google Ads
  .test-infra/jenkins/job_PreCommit_Java.groovy
  .test-infra/jenkins/job_PreCommit_Java_IOs.groovy
  CHANGES.md
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/build-tools/src/main/resources/beam/checkstyle/suppressions.xml
  sdks/java/io/google-ads/build.gradle
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/DefaultGoogleAdsClientFactory.java
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/GoogleAdsClientFactory.java
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/GoogleAdsIO.java
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/GoogleAdsOptions.java
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/GoogleAdsUserCredentialFactory.java
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/GoogleAdsV14.java
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/package-info.java
  sdks/java/io/google-ads/src/test/java/org/apache/beam/sdk/io/googleads/DummyRateLimitPolicy.java
  sdks/java/io/google-ads/src/test/java/org/apache/beam/sdk/io/googleads/GoogleAdsV14Test.java
  sdks/java/io/google-ads/src/test/java/org/apache/beam/sdk/io/googleads/MockGoogleAdsClientFactory.java
  settings.gradle.kts
Labels: java, build, infra, io, Next Action: Reviewers

#27935 Revert "expose path to gcloud folder in setup action"
  .github/actions/setup-action/action.yml
Labels: build

#27931 Unpin google-cloud-storage.
  sdks/python/setup.py
Labels: python

#27934 Fix license script install pyyml in Py311
  sdks/java/container/license_scripts/requirement.txt
Labels: java, docker

#27933 Clean up image cleaner comments
  runners/google-cloud-dataflow-java/arm/build.gradle
  sdks/go/test/run_validatesrunner_tests.sh
  sdks/python/container/run_validatescontainer.sh
Labels: python, go, docker, runners, dataflow

#27862 dataflow runner pydoc fix
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: Next Action: Reviewers

#27937 Clarify timestamp behavior for BatchElements
  sdks/python/apache_beam/transforms/util.py
Labels: python

#27936 Make all Beam released container images multi-arch.
  CHANGES.md
  build.gradle.kts
  runners/flink/job-server-container/flink_job_server_container.gradle
  runners/spark/job-server/container/spark_job_server_container.gradle
  sdks/java/expansion-service/container/build.gradle
  sdks/java/transform-service/controller-container/build.gradle
  sdks/python/expansion-service-container/build.gradle
  sdks/typescript/container/build.gradle
Labels: python, java, build, docker, runners, spark, flink, typescript

#27938 Bump Java containers to beam-master-20230809
  runners/google-cloud-dataflow-java/arm/build.gradle
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#27928 Exclude StorageApiSinkSchemaUpdate integration tests from dataflow postcommit
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#27512 Remove more legacy Runner v1 cruft.
  sdks/python/apache_beam/portability/python_urns.py
  sdks/python/apache_beam/runners/portability/expansion_service.py
  sdks/python/apache_beam/runners/portability/flink_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/apache_beam/runners/portability/spark_runner.py
  sdks/python/apache_beam/runners/runner.py
  sdks/python/apache_beam/transforms/environments.py
Labels: python

#27940 Remove python examples from codecov
  .github/codecov.yml
Labels: build

#27646 Fix stateful processing using direct runner with type checks enabled
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/apache_beam/typehints/typecheck.py
Labels: python

#27939 Update how we specify artifact modes
  sdks/python/apache_beam/examples/ml_transform/ml_transform_basic.py
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/apache_beam/ml/transforms/handlers.py
  sdks/python/apache_beam/ml/transforms/tft_test.py
Labels: python, examples

#27952 add expose gcloud kubelet path to setup action
  .github/actions/setup-action/action.yml
Labels: build

#27947 Pre 2.50.0 Cut: Python image requirements update.
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#27866 Allow writing protos directly to the storage API without conversion
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinations.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsBeamRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsGenericRecord.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsTableRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDirectWriteProtosIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#27954 Fix setup action checkout
  .github/actions/setup-action/action.yml
  .github/workflows/beam_PreCommit_RAT.yml
Labels: build

#27949 Refactor terraform GKE and add bitnami kafka module
  .test-infra/kafka/bitnami/README.md
  .test-infra/kafka/bitnami/kafka.tf
  .test-infra/kafka/bitnami/provider.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/README.md
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/apache-beam-testing.tfvars
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/cluster.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/main.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/01-setup/README.md
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/01-setup/iam.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/01-setup/output.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/02-network/README.md
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/02-network/nat.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/02-network/network.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/02-network/output.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/02-network/provider.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/02-network/services.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/02-network/variables.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/03-cluster/README.md
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/03-cluster/cluster.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/03-cluster/provider.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/03-cluster/variables.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/04-bastion/README.md
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/04-bastion/compute.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/04-bastion/provider.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/04-bastion/services.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/04-bastion/tinyproxy.conf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/modules/04-bastion/variables.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/prerequisites.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/provider.tf
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/variables.tf
Labels: infra

#27956 Update BOM
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#27884 Also use config pattern for yaml providers.
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
  sdks/python/apache_beam/yaml/standard_providers.yaml
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python

#27960 Add missing notebooks to Readme
  examples/notebooks/beam-ml/README.md
Labels: examples

#27946 Adds documentation regarding the Transform Service
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/static/images/transform_service.png
Labels: website

#27632 Initial pass at modernizing the Runner author guide.
  website/www/site/content/en/contribute/runner-guide.md
Labels: website

#27968 Revert #27878
  CHANGES.md
  playground/frontend/playground_components/assets/symbols/python.g.yaml
  sdks/python/apache_beam/examples/complete/game/user_score.py
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
  sdks/python/apache_beam/io/gcp/gcsio_overrides.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/__init__.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/storage_v1_client.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/storage_v1_messages.py
  sdks/python/apache_beam/options/pipeline_options_validator_test.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/mypy.ini
  sdks/python/setup.py
Labels: python, examples, docker, io, gcp

#27970 Cherry-pick: Revert #27878 (#27968)
  CHANGES.md
  playground/frontend/playground_components/assets/symbols/python.g.yaml
  sdks/python/apache_beam/examples/complete/game/user_score.py
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
  sdks/python/apache_beam/io/gcp/gcsio_overrides.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/__init__.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/storage_v1_client.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/storage_v1_messages.py
  sdks/python/apache_beam/options/pipeline_options_validator_test.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/mypy.ini
  sdks/python/setup.py
Labels: python, examples, docker, io, gcp

#27964 Add Java IO Direct jobs: Redis, Solr, Splunk, Thrift, Tika
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Java_Redis_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_Solr_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_Splunk_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_Thrift_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_Tika_IO_Direct.yml
Labels: build, Next Action: Reviewers

#27973 Bump setup-chromedriver to v2
  .github/workflows/playground_frontend_test.yml
  .github/workflows/tour_of_beam_frontend_test.yml
Labels: build

#27974 Move beam website to most recent Hugo release (v0.117.0)
  website/Dockerfile
Labels: website

#27967 [Website] add octo case-study
  website/www/site/content/en/case-studies/octo.md
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/octo/florian-bastin.jpg
  website/www/site/static/images/case-study/octo/godefroy-clair.png
  website/www/site/static/images/case-study/octo/leo-babonnaud.jpg
  website/www/site/static/images/case-study/octo/scheme-14.png
  website/www/site/static/images/logos/powered-by/octo.png
Labels: website, Next Action: Reviewers

#27980 Fix typos in release download links.
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#27857 Add ability to run per key inference
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python, Next Action: Reviewers

#27981 Remove invalid verify release action.
  .github/workflows/verify_release_build.yml
Labels: build

#27977 Fix referenced README url
  .test-infra/terraform/google-cloud-platform/google-kubernetes-engine/README.md
Labels: infra, Next Action: Reviewers

#27484 [AWS SQS] Support strict expiration of SQS batches when writing
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsIO.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsIOWriteBatchesTest.java
Labels: java, io, aws

#27955 Add Java IO Direct jobs: Cdap, HBase, HCatalog, InfluxDb, Kudu
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Java_Cdap_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_HBase_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_HCatalog_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_InfluxDb_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_Kudu_IO_Direct.yml
Labels: build, Next Action: Reviewers

#27988 Remove Pablo from IO reviewers
  .github/REVIEWERS.yml
Labels: build

#27958 Add Vertex AI image classification integration test
  sdks/python/apache_beam/ml/inference/vertex_ai_inference_it_test.py
  sdks/python/apache_beam/ml/inference/vertex_ai_tests_requirements.txt
  sdks/python/pytest.ini
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/direct/common.gradle
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#27621 Remove unused `reverse` argument in SmallestPerKey
  sdks/python/apache_beam/transforms/combiners.py
Labels: python, Next Action: Reviewers

#27976 Added the security section into CHANGES
  CHANGES.md
Labels: Next Action: Reviewers

#27869 Update JavaCC Gradle plugin to latest version (3.0.0)
  buildSrc/build.gradle.kts
  sdks/java/extensions/sql/build.gradle
  sdks/java/io/clickhouse/build.gradle
  settings.gradle.kts
Labels: java, build, io, extensions, sql, clickhouse, Next Action: Reviewers

#27965 Github Workflow Replacement for Jenkins Job, beam_PreCommit_SQL_Java17 (Cron, Commit, Phrase)
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_SQL_Java17.yml
Labels: build

#27993 Add pytest logging in VC tests.
  sdks/python/container/run_validatescontainer.sh
Labels: python, docker

#27593 pull out StreamPool/StreamData from WindmillServerStub file. Organize…
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricTrackingWindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/options/StreamingDataflowWorkerOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/AbstractWindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerBase.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillStreamPool.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/appliance/JniWindmillApplianceServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcCommitWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcGetDataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillStreamPoolTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcWindmillServerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#27997 Bump GCP HCLS API to latest [07/2023]
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#28003 Fix the generated unique tag for Java and Python multi-arch containers
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
Labels: build, Next Action: Reviewers

#27994 Remove legacy path for Go Dataflow post commits.
  build.gradle.kts
  sdks/go/test/build.gradle
Labels: go, build, Next Action: Reviewers

#28015 [#27842] Cherry pick using a file for PipelineOptions.
  sdks/java/container/boot.go
Labels: python, java, examples, docker, io, runners, dataflow, gcp, Next Action: Reviewers

#27578 Transform service test suite
  .test-infra/jenkins/job_PostCommit_TransformService_Direct.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/transform-service/launcher/src/main/java/org/apache/beam/sdk/transformservice/launcher/TransformServiceLauncher.java
  sdks/python/apache_beam/io/gcp/bigtableio_it_test.py
  sdks/python/pytest.ini
  sdks/python/scripts/run_transform_service.sh
  sdks/python/test-suites/direct/xlang/build.gradle
Labels: python, java, build, infra, io, gcp, Next Action: Reviewers

#27996 Add required dependency for Github Actions Java ARM Test Suite.
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  runners/google-cloud-dataflow-java/arm/build.gradle
Labels: build, runners, dataflow, Next Action: Reviewers

#27842 [#27839] Write PipelineOptions to a file instead of an environment variable.
  sdks/java/container/boot.go
Labels: java, docker, Next Action: Reviewers

#28018 Add docker buildx to the release yml file to build multi-arch containers
  .github/workflows/build_release_candidate.yml
Labels: build, Next Action: Reviewers

#27995 Don't fail to acquire multi_process_shared object if some attributes aren't available on a given platform
  sdks/python/apache_beam/utils/multi_process_shared.py
  sdks/python/apache_beam/utils/multi_process_shared_test.py
Labels: python

#28029 Replace usage of deprecated pandas.Int64Index()
  sdks/python/apache_beam/typehints/pandas_type_compatibility_test.py
Labels: python, Next Action: Reviewers

#28028 Fix Pytest Unknown Marker Error for Xlang Kafka IT Test
  sdks/python/pytest.ini
Labels: python, Next Action: Reviewers

#28036 Add libgeos-dev for ARM components of multi-arch Beam SDK Python containers
  sdks/python/container/Dockerfile
Labels: python, docker, Next Action: Reviewers

#28040 Update build_release_candidate.yml publish_java_artifacts to be self hosted.
  .github/workflows/build_release_candidate.yml
Labels: build, Next Action: Reviewers

#28041 Update python-pipeline-dependencies.md
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: website

#27990 Add GitHub Workflow Replacement for Jenkins job_PreCommit_Java_PortableValidatesRunner_Flink_Docker
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Java_PVR_Flink_Docker.yml
Labels: build, Next Action: Reviewers

#28037 Replace deprecated pkg_resources module
  sdks/python/apache_beam/io/parquetio.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/portability/requirements_cache_it_test.py
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/tools/microbenchmarks_test.py
  sdks/python/setup.py
Labels: python, io, Next Action: Reviewers

#27924 Speed up `IntervalWindow` argument construction
  sdks/python/apache_beam/transforms/window.py
Labels: python, Next Action: Reviewers, slow-review

#28033 Add back docker prune step between python container pushes
  sdks/python/container/build.gradle
Labels: python, docker

#28049 Adds the error_prone_annotations dependency used by Guava
  sdks/java/transform-service/launcher/build.gradle
Labels: java, Next Action: Reviewers

#28051 Fix produce/consume pydoc
  sdks/python/apache_beam/ml/transforms/base.py
Labels: python, Next Action: Reviewers
