Repository apache/beam, pull requests merged in 2023-07, with the labels that each got.

#27242 [Tour of Beam] [Frontend] Refinement from 26.06.23
  learning/tour-of-beam/frontend/lib/pages/tour/state.dart
Labels: learning

#27341 add gcloud auth and push to registry on merge PR
  .github/workflows/build_runner_image.yml
Labels: build, Next Action: Reviewers

#27232 Upgrade obsolete Avro plugin to 0.16.0
  buildSrc/build.gradle.kts
  ownership/JAVA_DEPENDENCY_OWNERS.yaml
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
Labels: java, build, Next Action: Reviewers

#27345 Consider beam_services option when determining the expansion service type
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python

#27321 updated go precommit with new condition, re-run action, pull_req_targ…
  .github/actions/rerun-job-action/action.yml
  .github/workflows/beam_PreCommit_Go.yml
Labels: build, Next Action: Reviewers

#27342 adds GitHub CLI to runner image
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
Labels: build, Next Action: Reviewers

#27357 fix repo and add paths to push trigger
  .github/workflows/build_runner_image.yml
Labels: build

#27316 Update Storage Write API Autosharding documentation
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: java, website, io, gcp

#27332 Updates PythonExternalTransform to support IPv6 addresses
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
Labels: java, extensions

#27359 wrong path fix
  .github/workflows/build_runner_image.yml
Labels: build

#24979 Respect BigQuery insert byte size limits
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: python, io, gcp, Next Action: Reviewers

#27358 adding glcoud cli and kubectl
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
Labels: build

#23492 Add Windmill support for MultimapState
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternals.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillStateReader.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateInternalsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateReaderTest.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: runners, dataflow

#27361 Fix windmill proto
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: runners, dataflow

#27297 [Go SDK][Prism] Improve failed pipeline handling
  sdks/go/pkg/beam/runners/prism/internal/execute_test.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/testdofns.go
  sdks/go/pkg/beam/runners/prism/internal/testdofns_test.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
Labels: go, runners, Next Action: Reviewers

#27308 Remove flakes of BeamFnClientLoggingTest
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClientTest.java
Labels: java

#26290 Inherit Generic for TimestampedValue
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/timestamped_value_type_test.py
  sdks/python/apache_beam/transforms/window.py
  sdks/python/apache_beam/typehints/typecheck.py
Labels: python

#27381 Update dataflow container versions
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#27334 Update python options in runners/spark.md.
  website/www/site/content/en/documentation/runners/spark.md
Labels: website, Next Action: Reviewers

#26795 MLTransform
  sdks/python/apache_beam/examples/ml_transform/ml_transform_basic.py
  sdks/python/apache_beam/ml/transforms/__init__.py
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/apache_beam/ml/transforms/handlers.py
  sdks/python/apache_beam/ml/transforms/handlers_test.py
  sdks/python/apache_beam/ml/transforms/tft.py
  sdks/python/apache_beam/ml/transforms/tft_test.py
  sdks/python/apache_beam/ml/transforms/utils.py
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, examples, Next Action: Reviewers

#27369 Arc additional pools
  .github/gh-actions-self-hosted-runners/arc/README.md
  .github/gh-actions-self-hosted-runners/arc/config/arc_autoscaler.tpl
  .github/gh-actions-self-hosted-runners/arc/config/arc_deployment.tpl
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
  .github/gh-actions-self-hosted-runners/arc/gke.tf
  .github/gh-actions-self-hosted-runners/arc/helm.tf
  .github/gh-actions-self-hosted-runners/arc/kubernetes.tf
  .github/gh-actions-self-hosted-runners/arc/variables.tf
Labels: build, Next Action: Reviewers

#27322 Address failing BT read tests in #27319
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadSchemaTransformProviderIT.java
Labels: java, io, gcp

#27365 Automatically use Docker Compose based transform service for PythonExternalTransform when needed.
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/transform-service/launcher/src/main/java/org/apache/beam/sdk/transformservice/launcher/TransformServiceLauncher.java
Labels: java, extensions

#27379 python precommit jobs and readme
  .github/workflows/README.md
  .github/workflows/job_PreCommit_Python.yml
  .github/workflows/job_PreCommit_PythonAutoformatter.yml
  .github/workflows/job_PreCommit_Python_Dataframes.yml
  .github/workflows/job_PreCommit_Python_Examples.yml
  .github/workflows/job_PreCommit_Python_Runners.yml
  .github/workflows/job_PreCommit_Python_Transforms.yml
  .github/workflows/job_Precommit_PythonLint.yml
  .github/workflows/job_Precommit_Python_Coverage.yml
  .github/workflows/job_Precommit_Python_DockerBuild.yml
Labels: build, Next Action: Reviewers

#27388 Revert "Replace StorageV1 client with GCS client"
  playground/frontend/playground_components/assets/symbols/python.g.yaml
  sdks/python/apache_beam/examples/complete/game/user_score.py
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
  sdks/python/apache_beam/io/gcp/gcsio_overrides.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/__init__.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/storage_v1_client.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/storage_v1_messages.py
  sdks/python/apache_beam/options/pipeline_options_validator_test.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
  sdks/python/mypy.ini
  sdks/python/setup.py
Labels: python, examples, io, gcp

#26922 Fix CombineGlobally with GlobalWindows
  sdks/python/apache_beam/transforms/combiners_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python, Next Action: Reviewers

#27386 Restore trailing slash accidentally removed in https://github.com/apache/beam/pull/25665
  sdks/typescript/container/Dockerfile
Labels: typescript

#27392 fixes rerun call in matrix jobs
  .github/workflows/README.md
  .github/workflows/job_PreCommit_Python.yml
  .github/workflows/job_PreCommit_Python_Dataframes.yml
  .github/workflows/job_PreCommit_Python_DockerBuild.yml
  .github/workflows/job_PreCommit_Python_Examples.yml
  .github/workflows/job_PreCommit_Python_Runners.yml
  .github/workflows/job_PreCommit_Python_Transforms.yml
  .github/workflows/job_Precommit_Python_Coverage.yml
Labels: build

#27391 Cherry-pick: Add flag to do a docker system prune between docker push steps (#26967)
  build.gradle.kts
  sdks/python/container/build.gradle
Labels: python, build, docker

#27233 Migrate "beam_PreCommit_Java_Examples_Dataflow" Jenkins job to Github Actions
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
Labels: build, Next Action: Reviewers

#27141 Migrate "beam_PreCommit_Typescript" Jenkins job to Github Actions
  .github/workflows/beam_PreCommit_Typescript.yml
Labels: build, Next Action: Reviewers

#27393 [Release-2.49.0] Restore trailing slash accidentally removed in https://github.com/apache/beam/pull/25665 (#27386)
  sdks/typescript/container/Dockerfile
Labels: typescript

#27394 Fix staged RC source name in GA
  .github/workflows/build_release_candidate.yml
Labels: build

#27398 [Release-2.49.0] Fix staged RC source name in GA (#27394)
  .github/workflows/build_release_candidate.yml
Labels: build

#27403 Ensure CancellableQueue doesn't keep references to logically removed objects
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/CancellableQueue.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/CancellableQueueTest.java
Labels: java

#27420 temporarily disable PreCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
Labels: build

#27418 Fix a typo in the GenAI notebook
  examples/notebooks/beam-ml/run_inference_generative_ai.ipynb
Labels: examples, Next Action: Reviewers

#27419 [Release-2.49.0] Ensure CancellableQueue doesn't keep references to logically removed objects. (#27403)
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/CancellableQueue.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/CancellableQueueTest.java
Labels: java

#27384 [Python] Make BigQuery load job names deterministic for retry resilience
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: python, io, gcp

#27432 Beam pre commit java examples dataflow
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
Labels: build, Next Action: Reviewers

#27431 Add build.gradle.kts to whitespace check
  .test-infra/jenkins/job_PreCommit_Whitespace.groovy
  build.gradle.kts
  learning/tour-of-beam/terraform/build.gradle.kts
  sdks/python/test-suites/tox/py38/build.gradle
Labels: python, build, infra, learning

#27427 Runner image buildx and Website Precommit update
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
  .github/workflows/beam_PreCommit_Website.yml
Labels: build, Next Action: Reviewers

#27389 Refactor MLTrasform BaseOperation class
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/apache_beam/ml/transforms/handlers.py
  sdks/python/apache_beam/ml/transforms/handlers_test.py
  sdks/python/apache_beam/ml/transforms/tft.py
  sdks/python/apache_beam/ml/transforms/utils.py
Labels: python, Next Action: Reviewers

#27407 [API Overuse Study] Implement Go environment variable type
  .test-infra/pipelines/go.mod
  .test-infra/pipelines/go.sum
  .test-infra/pipelines/src/main/go/internal/environment/variable.go
  .test-infra/pipelines/src/main/go/internal/environment/variable_test.go
Labels: infra, Next Action: Reviewers

#27196 Remove unneeded Dataflow Runner v1 code.
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/coders/row_coder_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
  sdks/python/apache_beam/runners/dataflow/internal/names.py
  sdks/python/apache_beam/runners/dataflow/ptransform_overrides.py
Labels: python, Next Action: Author

#27409 [API Overuse Study] Provision a Redis cluster on Kubernetes
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/02.redis/README.md
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/02.redis/common.tfvars
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/02.redis/data.tf
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/02.redis/provider.tf
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/02.redis/redis.tf
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/02.redis/variables.tf
Labels: infra, Next Action: Reviewers

#26946 [AWS Sqs] Add SqsIO.writeBatches for improved performance
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/AsyncBatchWriteHandler.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/ClientConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/AsyncPutRecordsHandler.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsIO.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/common/AsyncBatchWriteHandlerTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/AsyncPutRecordsHandlerTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsIOWriteBatchesTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/testing/SqsIOIT.java
Labels: java, io, aws

#27442 adding main labels to workflows. Updated whitespace job
  .github/workflows/beam_PreCommit_Go.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PreCommit_Typescript.yml
  .github/workflows/beam_PreCommit_Website.yml
  .github/workflows/beam_PreCommit_Whitespace.yml
  .github/workflows/job_PreCommit_Python.yml
  .github/workflows/job_PreCommit_PythonAutoformatter.yml
  .github/workflows/job_PreCommit_Python_Dataframes.yml
  .github/workflows/job_PreCommit_Python_DockerBuild.yml
  .github/workflows/job_PreCommit_Python_Examples.yml
  .github/workflows/job_PreCommit_Python_Runners.yml
  .github/workflows/job_PreCommit_Python_Transforms.yml
  .github/workflows/job_Precommit_PythonLint.yml
  .github/workflows/job_Precommit_Python_Coverage.yml
Labels: build, Next Action: Reviewers

#27447 Fix unused import to unbreak presubmit lint.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python, Next Action: Reviewers

#27451 [Python] Remove python lints
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python, Next Action: Reviewers

#27429 Add tighter bound to VertexAI retry filter
  sdks/python/apache_beam/ml/inference/vertex_ai_inference.py
  sdks/python/apache_beam/ml/inference/vertex_ai_inference_test.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#26889 Update document Storage API Support in `Google BigQuery I/O connector` for Python SDK
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: python, website, examples, Next Action: Reviewers

#27456 [Python] Typo in docstring of UnsplittableRangeTracker
  sdks/python/apache_beam/io/range_trackers.py
Labels: python, io

#27455 Do not prompt yN in gpg sign
  .github/workflows/build_release_candidate.yml
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#27457 Add dockerhub step to release guide
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#27086 [Yaml] Unit Tests for SafeLineLoader and LightweightScope (yaml/yaml_transform.py)
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python

#26543 Remove ValidatesRunner_V1 suite
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow_V2.groovy
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/gradle.properties
Labels: python, infra, pinned

#27441 adding runner image 738c02cac
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
Labels: build

#27464 Some more runner v2 cleanup
  build.gradle.kts
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, build, Next Action: Reviewers

#27458 Allow use of private endpoints for Vertex AI requests
  sdks/python/apache_beam/ml/inference/vertex_ai_inference.py
Labels: python, Next Action: Reviewers

#27444 Remove obsolete native (dataflow) io from Beam Python.
  sdks/python/apache_beam/io/gcp/pubsub.py
  sdks/python/apache_beam/io/iobase.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/dataflow/native_io/__init__.py
  sdks/python/apache_beam/runners/dataflow/native_io/iobase.py
  sdks/python/apache_beam/runners/dataflow/native_io/iobase_test.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/runners/direct/transform_evaluator.py
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
Labels: python, io, gcp, Next Action: Reviewers

#27477 [#27476] Fix BigQuery batch insertion loop
  sdks/go/pkg/beam/io/bigqueryio/bigquery.go
Labels: go, io, gcp, Next Action: Reviewers

#27437 [#27435] Describe the Source and Sink transform and urns in the protos.
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
Labels: model

#27479 Finish removing dataflow runner v1/v2 splits
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow.groovy
  CHANGES.md
  sdks/python/apache_beam/examples/inference/runinference_metrics/pipeline/options.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/dataflow/dataflow_metrics_test.py
  sdks/python/apache_beam/transforms/combinefn_lifecycle_test.py
  sdks/python/scripts/run_integration_test.sh
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/gradle.properties
Labels: python, infra, examples, io, gcp, Next Action: Reviewers

#27467 Add PythonDocs PreCommit job
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_PythonDocs.yml
  .github/workflows/job_PreCommit_PythonLint.yml
  .github/workflows/job_PreCommit_Python_Coverage.yml
Labels: build, Next Action: Reviewers

#27439 [Github Actions]Interrupt previous test runs when a new run kicks off
  .github/workflows/beam_PreCommit_Go.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PreCommit_Typescript.yml
  .github/workflows/beam_PreCommit_Website.yml
  .github/workflows/beam_PreCommit_Whitespace.yml
  .github/workflows/job_PreCommit_Python.yml
  .github/workflows/job_PreCommit_PythonAutoformatter.yml
  .github/workflows/job_PreCommit_PythonLint.yml
  .github/workflows/job_PreCommit_Python_Coverage.yml
  .github/workflows/job_PreCommit_Python_Dataframes.yml
  .github/workflows/job_PreCommit_Python_DockerBuild.yml
  .github/workflows/job_PreCommit_Python_Examples.yml
  .github/workflows/job_PreCommit_Python_Runners.yml
  .github/workflows/job_PreCommit_Python_Transforms.yml
Labels: build

#27491 Revert "[Python] use get_buffer to fetch buffer when the buffer is None"
  CHANGES.md
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python

#27490 Stop release generated kafka-[version] test artifacts
  sdks/java/io/kafka/kafka-integration-test.gradle
Labels: java, io, kafka

#27502 Add branch protection rules via .asf.yaml
  .asf.yaml
  .github/workflows/cut_release_branch.yml
Labels: build

#27288 Append `anomaly` to the right change point index
  sdks/python/apache_beam/testing/analyzers/constants.py
  sdks/python/apache_beam/testing/analyzers/github_issues_utils.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_test.py
Labels: python

#27493 Add ScaleByMinMax and NGrams data processing transformations
  sdks/python/apache_beam/ml/transforms/tft.py
  sdks/python/apache_beam/ml/transforms/tft_test.py
Labels: python, Next Action: Reviewers

#27430 Refactor MLTransform basic example
  sdks/python/apache_beam/examples/ml_transform/ml_transform_basic.py
Labels: python, examples, Next Action: Reviewers

#27496 [#22737] Add Go SDK timers to programming guide
  sdks/go/examples/snippets/04transforms.go
  website/www/site/content/en/documentation/programming-guide.md
Labels: go, website, examples

#27494 Update Python base image requirements.
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#27374 Update Beam website to release 2.49.0
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.49.0.md
  website/www/site/content/en/documentation/io/connectors.md
  website/www/site/content/en/documentation/runners/flink.md
  website/www/site/content/en/get-started/downloads.md
  website/www/site/data/authors.yml
Labels: website

#27195 Report total time at max active threads
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowSystemMetrics.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#27525 Pin Build Python Wheels to Cython < 1
  .github/workflows/build_wheels.yml
  sdks/python/build.gradle
Labels: python, build, Next Action: Reviewers

#27517 Add splitting string for string related data transforms
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/apache_beam/ml/transforms/handlers_test.py
  sdks/python/apache_beam/ml/transforms/tft.py
  sdks/python/apache_beam/ml/transforms/tft_test.py
Labels: python, Next Action: Reviewers

#27366 Moving Pubsub Transforms to beam
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformMessageToRowFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformMessageToRowFactoryTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProviderIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProviderTest.java
Labels: java, io, gcp

#27519 Add PreCommit PythonIT job
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Python_Integration.yml
Labels: build, Next Action: Reviewers

#27466 Add GitHub Workflow Replacement for Jenkins job_PreCommit_Community_Metrics
  .github/workflows/beam_PreCommit_CommunityMetrics.yml
  .test-infra/metrics/build.gradle
Labels: build, infra, Next Action: Reviewers

#27528 Add missing package to imports.
  sdks/typescript/package.json
Labels: typescript

#27543 [Python] Fix python lints
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
  sdks/python/apache_beam/runners/worker/data_sampler_test.py
Labels: python

#27545 Update Dataflow dev container image tag.
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#27548 Various release script fixes
  .github/workflows/cut_release_branch.yml
  .github/workflows/run_rc_validation.yml
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_Release_Gradle_Build.groovy
  examples/java/src/main/java/org/apache/beam/examples/complete/game/injector/InjectorUtils.java
  release/src/main/scripts/jenkins_jobs.txt
  release/src/main/scripts/publish_docker_images.sh
  release/src/main/scripts/run_rc_validation.sh
  release/src/main/scripts/verify_release_build.sh
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/ReadWriteIT.java
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
  website/www/site/content/en/contribute/release-guide.md
Labels: python, java, build, website, infra, examples, io, gcp, Next Action: Reviewers

#27462 add worker metadata to windmill* protos
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill_service.proto
Labels: runners, dataflow, Next Action: Reviewers

#27434 [Java] Cleanup BigQuery write tests
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/DynamicDestinationsHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/UpdateSchemaDestination.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageWriteIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp, Next Action: Reviewers

#27565 Register passert functions & fix up floats.
  sdks/go/pkg/beam/testing/passert/equals_test.go
  sdks/go/pkg/beam/testing/passert/floats.go
  sdks/go/pkg/beam/testing/passert/passert.go
  sdks/go/pkg/beam/testing/passert/passert_test.go
Labels: go

#27571 Drop stray `
  playground/README.md
Labels: Next Action: Reviewers

#27575 [Dataflow Runner] temporarily disable flaky new test case StreamingDataflowWorkerTest#testMaxThreadMetric
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
Labels: runners, dataflow

#27574 [Spark DS Runner] Fix translation to be compatible with Spark 3.1.1
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/GroupByKeyTranslatorBatch.java
Labels: runners, spark

#27459 break up GrpcWindmillServer.java to several files
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/options/StreamingDataflowWorkerOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/AbstractWindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerBase.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/AppendableInputStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GetWorkTimingInfosTracker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcCommitWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcGetDataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcGetDataStreamRequests.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/ThrottleTimer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/grpcclient/GrpcWindmillServerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#27568 Clarify coders for side inputs on err output.
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/sideinput.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
Labels: go, Next Action: Reviewers

#27408 [API Overuse Study] Setup a Kubernetes environment
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/README.md
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/common.tfvars
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/namespace.tf
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/provider.tf
  .test-infra/pipelines/infrastructure/03.io/api-overuse-study/variables.tf
Labels: infra, Next Action: Reviewers

#27563 Update releases 2.33.0 and 2.34.0 to include broken BQ copy jobs in batch as a known issue
  website/www/site/content/en/blog/beam-2.33.0.md
  website/www/site/content/en/blog/beam-2.34.0.md
Labels: website

#27573 [prism] Send job failure message.
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
Labels: go, runners, Next Action: Reviewers

#27577 Reduce Python INFO logging verbosity at start-up
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/container/boot.go
  sdks/python/container/piputil.go
Labels: python, docker, Next Action: Reviewers

#27570 [prism] Universal runner improvements.
  sdks/go/pkg/beam/runners/universal/runnerlib/execute.go
  sdks/go/pkg/beam/runners/universal/runnerlib/job.go
  sdks/go/pkg/beam/runners/universal/universal.go
Labels: go, runners, Next Action: Reviewers

#27572 [prism] Align side input coders & fix progress + split hang
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
Labels: go, runners, Next Action: Reviewers

#27540 Embed public Beam IO Performance Metrics
  website/www/site/content/en/documentation/io/connectors.md
  website/www/site/content/en/performance/_index.md
  website/www/site/content/en/performance/bigquery/_index.md
  website/www/site/content/en/performance/bigtable/_index.md
  website/www/site/content/en/performance/glossary/_index.md
  website/www/site/content/en/performance/textio/_index.md
  website/www/site/data/performance.yaml
  website/www/site/i18n/navbar/en.yaml
  website/www/site/layouts/performance/baseof.html
  website/www/site/layouts/shortcodes/performance_looks.html
Labels: website, Next Action: Reviewers

#27416 Remove SuppressWarnings from NoopLock.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/NoopLock.java
Labels: java, Next Action: Reviewers

#27586 [prism] Registrations for filter and stats transform tests.
  sdks/go/pkg/beam/transforms/filter/filter.go
  sdks/go/pkg/beam/transforms/filter/filter.shims.go
  sdks/go/pkg/beam/transforms/filter/filter_test.go
  sdks/go/pkg/beam/transforms/stats/count_test.go
  sdks/go/pkg/beam/transforms/stats/max_test.go
  sdks/go/pkg/beam/transforms/stats/quantiles.go
  sdks/go/pkg/beam/transforms/stats/quantiles_test.go
Labels: go, Next Action: Reviewers

#27588 [prism] middle sized fixes, avro, datastore, spanner
  sdks/go/pkg/beam/io/avroio/avroio.go
  sdks/go/pkg/beam/io/avroio/avroio_test.go
  sdks/go/pkg/beam/io/datastoreio/datastore_test.go
  sdks/go/pkg/beam/io/spannerio/common.go
  sdks/go/pkg/beam/io/spannerio/read_test.go
  sdks/go/pkg/beam/io/spannerio/write_test.go
Labels: go, io, gcp, Next Action: Reviewers, spanner

#27413 Bugfix for Timestamp Overflow in BigQueryIO's StorageWriteAPI
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#27589 [prism] registrations for Regression tests.
  sdks/go/test/regression/lperror.go
  sdks/go/test/regression/pardo.go
Labels: go, Next Action: Reviewers

#27587 [prism] Simpler io changes to add TestMain.
  sdks/go/pkg/beam/io/bigtableio/bigtable_test.go
  sdks/go/pkg/beam/io/databaseio/database_test.go
  sdks/go/pkg/beam/io/fhirio/deidentify_test.go
  sdks/go/pkg/beam/io/fileio/match_test.go
  sdks/go/pkg/beam/io/parquetio/parquetio_test.go
  sdks/go/pkg/beam/io/textio/textio_test.go
  sdks/go/pkg/beam/x/debug/head_test.go
Labels: go, io, Next Action: Reviewers

#27583 [Python] Create BigQuery wrapper with pipeline options when performing reads
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#27474 [GCP] [BigQuery] Handle `totalBytesProcessed` `NoneType`
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers, slow-review

#27544 Group transformed and non transformed elements using hash in MLTransform TFTProcessHandler
  sdks/python/apache_beam/ml/transforms/handlers.py
  sdks/python/apache_beam/ml/transforms/handlers_test.py
  sdks/python/apache_beam/ml/transforms/tft.py
  sdks/python/apache_beam/ml/transforms/tft_test.py
Labels: python, Next Action: Reviewers

#27604 add the cookbook link
  website/www/site/content/en/get-started/beam-overview.md
  website/www/site/layouts/partials/section-menu/en/get-started.html
Labels: website

#27591 Fix correct netty version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#27596 Remove SuppressWarnings from TransformServiceConfig
  sdks/java/transform-service/src/main/java/org/apache/beam/sdk/transformservice/TransformServiceConfig.java
Labels: java, Next Action: Reviewers

#27585 [prism] Fix top for unfused execution. Move to register.
  sdks/go/pkg/beam/transforms/top/top.go
  sdks/go/pkg/beam/transforms/top/top.shims.go
  sdks/go/pkg/beam/transforms/top/top_test.go
Labels: go, Next Action: Reviewers

#27595 Fix Python Flink runner load tests & Stop publish Python SDK image in beam_portability
  .test-infra/jenkins/LoadTestsBuilder.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Python.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Flink.groovy
  .test-infra/jenkins/job_Publish_Docker_Snapshots.groovy
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/DockerCommand.java
Labels: infra, runners, fn-execution, Next Action: Reviewers

#26193 [Feature Request]: Support detached mode for flink runner (#26158)
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkDetachedRunnerResult.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineExecutionEnvironment.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPortableRunnerResult.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkRunner.java
Labels: runners, flink, Next Action: Reviewers

#27614 add null value edge case to unit test for Row.equals
  sdks/java/core/src/test/java/org/apache/beam/sdk/values/RowTest.java
Labels: java

#27617 Support withFanout and withHotKeyFanout on schema group transform
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Group.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/GroupTest.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamWindowRel.java
Labels: java, extensions, sql

#27590 Properly translate TimestampedValueCoder on runnerv1
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/CloudObjectTranslators.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/DefaultCoderCloudObjectTranslatorRegistrar.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/util/CloudObjectsTest.java
Labels: runners, learning, dataflow, Next Action: Reviewers

#27599 [Python] Create BigQuery wrapper with pipeline options for ReadAllFromBigQuery
  sdks/python/apache_beam/io/gcp/bigquery_read_internal.py
Labels: python, io, gcp

#27516 Healthcare NLP Colab Example
  examples/notebooks/healthcare/beam_nlp.ipynb
Labels: examples

#27629 Remove beta label from playground in a few more spots
  website/www/site/content/en/get-started/try-beam-playground.md
  website/www/site/layouts/index.html
Labels: website

#27580 Vertex AI Model Handler Example Improvements
  sdks/python/apache_beam/examples/inference/vertex_ai_image_classification.py
Labels: python, examples, Next Action: Reviewers

#27472 Clean up pylint disable list
  sdks/python/.pylintrc
Labels: Next Action: Reviewers

#27607 Fix multi_process_shared.py release with AutoProxy
  sdks/python/apache_beam/utils/multi_process_shared.py
  sdks/python/apache_beam/utils/multi_process_shared_test.py
Labels: python, Next Action: Reviewers

#27637 Colab Examples ReadMe Update
  examples/notebooks/README.md
Labels: examples

#26632 [Python] Implemented Hugging Face Model Handler
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/huggingface_language_modeling.py
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
  sdks/python/apache_beam/ml/inference/huggingface_inference_it_test.py
  sdks/python/apache_beam/ml/inference/huggingface_inference_test.py
  sdks/python/apache_beam/ml/inference/huggingface_tests_requirements.txt
  sdks/python/pytest.ini
  sdks/python/test-suites/direct/common.gradle
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, examples, Next Action: Reviewers

#27606 Make class loading consistent for generated Function implementations
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
Labels: java, Next Action: Reviewers

#27642 Add TestContainerResourceManager for third party resources.
  it/testcontainers/build.gradle
  it/testcontainers/src/main/java/org/apache/beam/it/testcontainers/TestContainerResourceManager.java
  it/testcontainers/src/main/java/org/apache/beam/it/testcontainers/TestContainerResourceManagerException.java
  it/testcontainers/src/main/java/org/apache/beam/it/testcontainers/TestContainersIntegrationTest.java
  it/testcontainers/src/main/java/org/apache/beam/it/testcontainers/package-info.java
  it/testcontainers/src/test/java/org/apache/beam/it/testcontainers/TestContainerResourceManagerTest.java
  settings.gradle.kts
Labels: build

#27661 Fix container startup fail when requirement exists
  sdks/python/container/piputil.go
Labels: python, docker, Next Action: Reviewers

#27668 Add trigger phrases link to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build

#27662 Fix failing python postcommits
  sdks/python/apache_beam/io/gcp/bigquery_read_internal.py
Labels: python, io, gcp

#27610 added a simple pub/sub topic for testing
  .test-infra/pubsub/README.md
  .test-infra/pubsub/gcs_image_looper.py
  .test-infra/pubsub/test_image_looper.py
Labels: infra

#27633 Handle types.GenericAlias types properly during validation
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#27673 Add a Dataflow Go postcommit suite on running on ARM machines.
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Go_Dataflow_ARM.yml
  build.gradle.kts
Labels: build

#27686 [AWS] Fix bug in KinesisIOReadTest (closes #27666)
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOReadTest.java
Labels: java, io, aws

#27688 Add worfklow_dispatch triggers to all new jobs
  .github/workflows/beam_PostCommit_Go_Dataflow_ARM.yml
  .github/workflows/beam_PreCommit_Go.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PreCommit_PythonDocs.yml
  .github/workflows/beam_PreCommit_Python_Integration.yml
  .github/workflows/beam_PreCommit_RAT.yml
  .github/workflows/beam_PreCommit_SQL_Java11.yml
  .github/workflows/beam_PreCommit_Typescript.yml
  .github/workflows/beam_PreCommit_Website.yml
  .github/workflows/beam_PreCommit_Whitespace.yml
  .github/workflows/job_PreCommit_Python.yml
  .github/workflows/job_PreCommit_PythonAutoformatter.yml
  .github/workflows/job_PreCommit_PythonLint.yml
  .github/workflows/job_PreCommit_Python_Coverage.yml
  .github/workflows/job_PreCommit_Python_Dataframes.yml
  .github/workflows/job_PreCommit_Python_DockerBuild.yml
  .github/workflows/job_PreCommit_Python_Examples.yml
  .github/workflows/job_PreCommit_Python_Runners.yml
  .github/workflows/job_PreCommit_Python_Transforms.yml
Labels: build

#27687 Add MLTransform to __init__ and change input types of transforms
  sdks/python/apache_beam/ml/__init__.py
  sdks/python/apache_beam/ml/transforms/tft.py
Labels: python, Next Action: Reviewers

#24764 Gradle Build Optimizations
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  sdks/java/build-tools/src/main/resources/beam/checkstyle/checkstyle.xml
  sdks/java/build-tools/src/main/resources/beam/checkstyle/suppressions.xml
Labels: java, build, Next Action: Reviewers

#27659 Add NLP TensorFlow streaming use case
  examples/notebooks/beam-ml/nlp_tensorflow_streaming.ipynb
Labels: Next Action: Reviewers

#27608 explicitly use >=41.0.2 for cryptography
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#27701 Make all Github Action tests to run at minute 0 of every 6 hours
  .github/workflows/beam_PostCommit_Go_Dataflow_ARM.yml
  .github/workflows/beam_PreCommit_CommunityMetrics.yml
  .github/workflows/beam_PreCommit_Go.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PreCommit_PythonDocs.yml
  .github/workflows/beam_PreCommit_Python_Integration.yml
  .github/workflows/beam_PreCommit_RAT.yml
  .github/workflows/beam_PreCommit_SQL_Java11.yml
  .github/workflows/beam_PreCommit_Typescript.yml
  .github/workflows/beam_PreCommit_Website.yml
  .github/workflows/beam_PreCommit_Whitespace.yml
  .github/workflows/job_PreCommit_Python.yml
  .github/workflows/job_PreCommit_PythonAutoformatter.yml
  .github/workflows/job_PreCommit_PythonLint.yml
  .github/workflows/job_PreCommit_Python_Coverage.yml
  .github/workflows/job_PreCommit_Python_Dataframes.yml
  .github/workflows/job_PreCommit_Python_DockerBuild.yml
  .github/workflows/job_PreCommit_Python_Examples.yml
  .github/workflows/job_PreCommit_Python_Runners.yml
  .github/workflows/job_PreCommit_Python_Transforms.yml
Labels: build, Next Action: Reviewers

#27699 Don't make StorageAPI tablerow names case-sensitive
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#27256 Enable FirestoreV1IT to run against a non default host
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreStatefulComponentFactory.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/BaseFirestoreIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/FirestoreTestingHelper.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/FirestoreV1IT.java
Labels: java, io, gcp, Next Action: Reviewers

#27672 [Documentation] Specify version of HCLS API in Documentation
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/DicomIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOPatientEverything.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/HealthcareApiClient.java
Labels: java, io, gcp, Next Action: Reviewers

#27676 Fetch buffer and add it to pcoll_buffer to avoid element duplication when buffer is None
  CHANGES.md
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python

#27671 Change how we interrupt in progress runs
  .github/workflows/beam_PreCommit_CommunityMetrics.yml
  .github/workflows/beam_PreCommit_Go.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PreCommit_PythonDocs.yml
  .github/workflows/beam_PreCommit_Python_Integration.yml
  .github/workflows/beam_PreCommit_RAT.yml
  .github/workflows/beam_PreCommit_SQL_Java11.yml
  .github/workflows/beam_PreCommit_Typescript.yml
  .github/workflows/beam_PreCommit_Website.yml
  .github/workflows/beam_PreCommit_Whitespace.yml
  .github/workflows/build_wheels.yml
  .github/workflows/dask_runner_tests.yml
  .github/workflows/go_tests.yml
  .github/workflows/java_tests.yml
  .github/workflows/job_PreCommit_Python.yml
  .github/workflows/job_PreCommit_PythonAutoformatter.yml
  .github/workflows/job_PreCommit_PythonLint.yml
  .github/workflows/job_PreCommit_Python_Coverage.yml
  .github/workflows/job_PreCommit_Python_Dataframes.yml
  .github/workflows/job_PreCommit_Python_DockerBuild.yml
  .github/workflows/job_PreCommit_Python_Examples.yml
  .github/workflows/job_PreCommit_Python_Runners.yml
  .github/workflows/job_PreCommit_Python_Transforms.yml
  .github/workflows/local_env_tests.yml
  .github/workflows/playground_frontend_test.yml
  .github/workflows/python_dependency_tests.yml
  .github/workflows/python_tests.yml
  .github/workflows/tour_of_beam_backend.yml
  .github/workflows/tour_of_beam_backend_integration.yml
  .github/workflows/tour_of_beam_frontend_test.yml
  .github/workflows/typescript_tests.yml
Labels: build

#27689 Add instructions on adding new Actions workflows
  .github/workflows/README.md
Labels: build

#27710 Add It_Framework PreCommit
  .github/workflows/beam_PreCommit_ItFramework.yml
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/artifacts/utils/ParquetTestUtil.java
Labels: build

#27664 It cassandra
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  it/cassandra/build.gradle
  it/cassandra/src/main/java/org/apache/beam/it/cassandra/CassandraResourceManager.java
  it/cassandra/src/main/java/org/apache/beam/it/cassandra/CassandraResourceManagerException.java
  it/cassandra/src/main/java/org/apache/beam/it/cassandra/CassandraResourceManagerUtils.java
  it/cassandra/src/main/java/org/apache/beam/it/cassandra/matchers/CassandraAsserts.java
  it/cassandra/src/main/java/org/apache/beam/it/cassandra/matchers/package-info.java
  it/cassandra/src/main/java/org/apache/beam/it/cassandra/package-info.java
  it/cassandra/src/test/java/org/apache/beam/it/cassandra/CassandraResourceManagerIT.java
  it/cassandra/src/test/java/org/apache/beam/it/cassandra/CassandraResourceManagerTest.java
  settings.gradle.kts
Labels: build

#27693 Make --dataflowEndpoint a public option
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
Labels: runners, dataflow, Next Action: Reviewers
