Repository apache/beam, pull requests merged in 2023-03, with the labels that each got.

#25673 Fix flaky load_test.go/TestSample test
  learning/tour-of-beam/backend/internal/fs_content/load.go
  learning/tour-of-beam/backend/internal/fs_content/load_test.go
Labels: learning

#25666 Create tft criteo grafana dashboards
  .test-infra/metrics/grafana/dashboards/perftests_metrics/Python_TFT_Criteo_benchmarks.json
  sdks/python/apache_beam/testing/benchmarks/cloudml/cloudml_benchmark_test.py
Labels: python, infra

#25677 Sickbay autosharding test on Dataflow V2
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#25684 Reverts Python Kafka source to use the Java SDF-based implementation
  sdks/python/apache_beam/io/external/xlang_kafkaio_perf_test.py
  sdks/python/apache_beam/io/kafka.py
Labels: python, io, Next Action: Reviewers

#25664 Add timeout to unit tests causing SickBay PostCommit timeout
  .test-infra/jenkins/README.md
  sdks/java/core/src/test/java/org/apache/beam/sdk/PipelineTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/PCollectionCustomCoderTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/AvroIOTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/FileIOTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupIntoBatchesTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/MapElementsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/SplittableDoFnTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ViewTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/WithTimestampsTest.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/io/AvroIOTest.java
Labels: java, infra, extensions, Next Action: Reviewers

#25693 Cherry pick: Sickbay autosharding test on Dataflow V2 (#25677)
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#25697 Temporarily remove dask tests
  sdks/python/test-suites/tox/common.gradle
Labels: python

#25698 Cherry-pick: Remove dask tests (#25697)
  sdks/python/test-suites/tox/common.gradle
Labels: python

#24015 [Bigtable] Migrate BigtableIO to use the veneer client under the hood
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableClientWrapper.java
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableService.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/FixedCredentialFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/VendoredListenableFutureAdapter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/DaoFactory.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/GcpApiSurfaceTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteIT.java
  settings.gradle.kts
Labels: java, build, io, extensions, sql, gcp, Next Action: Reviewers

#25682 changed metric name to be descriptive of the pipeline type
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
Labels: java, io, gcp

#25327 Evaluate removal of RDD caching for MEMORY_ONLY in the Spark Dataset runner
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/PipelineTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
Labels: runners, spark

#25708 Externalize datastore namespace for ToB
  learning/tour-of-beam/backend/README.md
  learning/tour-of-beam/backend/internal/storage/schema.go
Labels: learning

#25716 Stop emitting upon truncate in Java PeriodicSequence
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PeriodicSequence.java
Labels: java

#25624 [Spark Dataset runner] Avoid copying outputs for most cases in ParDo translation
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
Labels: runners, spark

#25732 [Spark Dataset runner] Prevent stackoverflow in ParDo load tests
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
Labels: runners, spark

#25561 Update documentation by adding parameters for Dataflow Runner
  website/www/site/content/en/documentation/ml/large-language-modeling.md
Labels: website

#25357 [Playground] Apache Kafka based Kafka emulator for Playground examples
  playground/backend/cmd/server/controller.go
  playground/backend/containers/go/Dockerfile
  playground/backend/containers/go/build.gradle
  playground/backend/containers/java/Dockerfile
  playground/backend/containers/java/build.gradle
  playground/backend/containers/python/Dockerfile
  playground/backend/containers/python/build.gradle
  playground/backend/containers/scio/Dockerfile
  playground/backend/containers/scio/build.gradle
  playground/backend/internal/code_processing/code_processing.go
  playground/backend/internal/code_processing/code_processing_test.go
  playground/backend/internal/db/mapper/datastore_mapper_test.go
  playground/backend/internal/db/schema/migration/migrations_test.go
  playground/backend/internal/emulators/emulator.go
  playground/backend/internal/emulators/kafka.go
  playground/backend/internal/environment/application.go
  playground/backend/internal/environment/environment_service.go
  playground/backend/internal/environment/environment_service_test.go
  playground/backend/internal/fs_tool/fs.go
  playground/backend/internal/setup_tools/life_cycle/life_cycle_setuper.go
  playground/backend/internal/setup_tools/life_cycle/life_cycle_setuper_test.go
  playground/kafka-emulator/build.gradle
  playground/kafka-emulator/src/main/java/org/apache/beam/playground/KafkaEmulator.java
  playground/kafka-emulator/src/main/java/org/apache/beam/playground/package-info.java
  settings.gradle.kts
Labels: build, Next Action: Reviewers

#25525 [Flink Runner] Add new Source classes that are based on FLIP-27 Source API.
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/FlinkSourceCompat.java
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/SplitEnumeratorCompat.java
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/package-info.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/SourceTestCompat.java
  runners/flink/1.13/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/SplitEnumeratorCompat.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/FlinkSourceCompat.java
  runners/flink/1.14/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/SourceTestCompat.java
  runners/flink/flink_runner.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/utils/SerdeUtils.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSource.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderBase.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplit.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplitEnumerator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/bounded/FlinkBoundedSource.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/bounded/FlinkBoundedSourceReader.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/bounded/package-info.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/impulse/BeamImpulseSource.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/impulse/package-info.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/package-info.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSource.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReader.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/package-info.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/TestBoundedCountingSource.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/TestCountingSource.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderTestBase.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplitEnumeratorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/TestSource.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/bounded/FlinkBoundedSourceReaderTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReaderTest.java
Labels: runners, flink

#25617 Fail when main session cannot be loaded.
  CHANGES.md
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
Labels: python

#25569 Give an option to override the number of shards in BQ streaming insert addresses
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: python, io, gcp, Next Action: Reviewers

#25744 Add more logging to Storage API writes
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#25631 Use credential for mongodb performance tests
  .test-infra/jenkins/job_PerformanceTests_MongoDBIO_IT.groovy
  .test-infra/jenkins/job_PostCommit_Python_MongoDBIO_Load_Test.groovy
  .test-infra/kubernetes/mongodb/load-balancer/mongo.yml
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDBIOIT.java
Labels: java, infra, io, mongodb, Next Action: Reviewers

#25703 Run the quickstart command has incorrect flag name
  website/www/site/content/en/get-started/quickstart/go.md
Labels: website

#25738 [Spark Dataset runner] Change default storage level to Sparks respective default MEMORY_AND_DISK
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkCommonPipelineOptions.java
Labels: runners, spark

#25734 [Spark Dataset runner] Remove obsolete code
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
Labels: runners, spark

#25701 Fix DatastoreIO bug causing low throughput on certain writes
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
Labels: java, io, gcp

#25739 Add support for passing labels as --labels '{ "name": "wrench", "mass": "1_3kg", "count": "3" }'
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python, Next Action: Reviewers

#25766 passing consumer configs from user-passed parameters
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
Labels: java, io, kafka, Next Action: Reviewers

#25759 apache#22695
  website/www/site/i18n/footer/en.yaml
  website/www/site/layouts/partials/footer.html
Labels: website

#25792 Disable Spark UI for load tests
  sdks/java/testing/load-tests/build.gradle
Labels: java

#25694 Update Beam website to release 2.46.0
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.46.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#25786 Accept pymongo 4.x for Python SDK
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#24965 XGBoost modelhandler implementation
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/xgboost_iris_classification.py
  sdks/python/apache_beam/ml/inference/xgboost_inference.py
  sdks/python/apache_beam/ml/inference/xgboost_inference_it_test.py
  sdks/python/apache_beam/ml/inference/xgboost_inference_test.py
  sdks/python/apache_beam/ml/inference/xgboost_tests_requirements.txt
  sdks/python/pytest.ini
  sdks/python/test-suites/direct/common.gradle
  sdks/python/tox.ini
Labels: python, examples, Next Action: Reviewers

#25790 update to new BOM
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PubsubLiteSink.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscribeTransform.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PubsubLiteSinkTest.java
Labels: java, build, docker, io, gcp, Next Action: Reviewers

#25804 Reuse client when constructing StreamWriter
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp, Next Action: Reviewers

#25803 make incoming message public
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClient.java
Labels: java, io, gcp

#25634 Fix most Go SDK compile and bugs on Windows.
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/download_test.go
  sdks/go/pkg/beam/core/util/symtab/symtab_test.go
  sdks/go/pkg/beam/io/filesystem/local/local_test.go
  sdks/go/pkg/beam/io/filesystem/memfs/memory.go
  sdks/go/pkg/beam/io/filesystem/memfs/memory_test.go
  sdks/go/pkg/beam/io/filesystem/util.go
  sdks/go/test/integration/internal/jars/run_nonunix.go
Labels: go, io, Next Action: Reviewers

#25822 Remove save main session option in pubsubio_perf_test
  sdks/python/apache_beam/io/gcp/pubsub_io_perf_test.py
Labels: python, io, gcp, Next Action: Reviewers

#25763 LOG error for illegal ramBytes
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/resourcehints/ResourceHints.java
Labels: java, Next Action: Reviewers

#25706 [25705] Refactor BigQuery SchemaTransforms naming
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryExportReadSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryExportReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryFileLoadsWriteSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryFileLoadsWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryExportReadSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryFileLoadsWriteSchemaTransformProviderTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25826 Corrected GscUtil.RewriteOp.OnFailure() error message
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
Labels: java, extensions, gcp, Next Action: Reviewers

#25805 Fix OutputSampler's coder
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistry.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/debug/OutputSampler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/debug/DataSamplerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/debug/OutputSamplerTest.java
Labels: java, Next Action: Reviewers

#25829 [BEAM-14307] Re-Fix Slow Side input pattern bug in sample
  examples/java/src/main/java/org/apache/beam/examples/snippets/Snippets.java
Labels: java, examples, Next Action: Reviewers

#25798 Add support for common collections.abc types
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
Labels: python

#25827 Improve stage race condition by checking if staged before each try
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/PackageUtil.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/util/PackageUtilTest.java
Labels: runners, dataflow

#21814 Re-enable Storage Write API tests for Runner v2
  runners/google-cloud-dataflow-java/build.gradle
Labels: stale, runners, dataflow

#25800 Drop myself from Java reviewers
  .github/REVIEWERS.yml
Labels: build

#25596 Update release docs with problems encountered during release
  release/src/main/scripts/start_snapshot_build.sh
  website/www/site/content/en/contribute/release-guide.md
Labels: build, website, Next Action: Reviewers

#25821 [Playground][Tour of Beam] Use buf to generate protobuf stubs for ToB backend
  build.gradle.kts
  learning/tour-of-beam/backend/README.md
  learning/tour-of-beam/backend/function.go
  learning/tour-of-beam/backend/integration_tests/client_pg.go
  learning/tour-of-beam/backend/internal/service/content.go
  learning/tour-of-beam/backend/internal/service/mock_helper.go
  learning/tour-of-beam/backend/internal/service/pg_adapter.go
  learning/tour-of-beam/backend/playground_api/api/v1/api.pb.go
  learning/tour-of-beam/backend/playground_api/api/v1/api_grpc.pb.go
  learning/tour-of-beam/backend/playground_api/api/v1/mock.go
  playground/buf.gen.yaml
  playground/infrastructure/api/v1/api_pb2.py
  playground/infrastructure/api/v1/api_pb2.pyi
Labels: build, learning, Next Action: Reviewers

#25700 Reorganizing the ML content
  website/www/site/content/en/documentation/ml/about-ml.md
  website/www/site/content/en/documentation/ml/data-processing.md
  website/www/site/content/en/documentation/ml/inference-overview.md
  website/www/site/content/en/documentation/ml/large-language-modeling.md
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
  website/www/site/content/en/documentation/transforms/python/elementwise/runinference-pytorch.md
  website/www/site/content/en/documentation/transforms/python/elementwise/runinference-sklearn.md
  website/www/site/content/en/documentation/transforms/python/elementwise/runinference.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website

#25762 [Spark Dataset runner] Implement producer-consumer fusion for ParDos
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/PipelineTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/TransformTranslator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnPartitionIteratorFactory.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnRunnerFactory.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnRunnerWithMetrics.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
Labels: runners, spark

#24599 Update Protobuf and GCP dependencies in Beam Python SDK
  sdks/python/apache_beam/coders/proto2_coder_test_messages_pb2.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/datastoreio.py
  sdks/python/apache_beam/io/gcp/datastore/v1new/datastoreio_test.py
  sdks/python/apache_beam/ml/gcp/__init__.py
  sdks/python/apache_beam/ml/gcp/naturallanguageml.py
  sdks/python/apache_beam/ml/gcp/naturallanguageml_test.py
  sdks/python/apache_beam/ml/gcp/videointelligenceml.py
  sdks/python/apache_beam/ml/gcp/videointelligenceml_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_it_test.py
  sdks/python/apache_beam/ml/inference/tensorflow_tests_requirements.txt
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/apache_beam/runners/portability/abstract_job_service.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/python/apache_beam/runners/worker/log_handler.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/build-requirements.txt
  sdks/python/container/Dockerfile
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/license_scripts/dep_urls_py.yaml
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/gen_protos.py
  sdks/python/setup.py
  sdks/python/test-suites/direct/common.gradle
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, docker, io, gcp, Next Action: Reviewers

#25854 Change the type of Samza Runner MaxBundleSize pipeline option to match with Flink Runner
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaPipelineOptions.java
Labels: runners, samza

#25862 Use autoSharding from config when BigQueryIO.Write is created.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaIOProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
Labels: java, io, gcp, Next Action: Reviewers

#25863 Revert "Adding support for DLQ for ZetaSQL (#25426)"
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRel.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRelTest.java
  sdks/java/extensions/sql/zetasql/src/test/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSqlDialectSpecTest.java
Labels: java, extensions, sql, Next Action: Reviewers

#25867 Use self hosted hadoop docker image in hdfsIntegrationTest
  sdks/python/apache_beam/io/hdfs_integration_test/docker-compose.yml
Labels: python, io, Next Action: Reviewers

#25872 Revert "Update sqlalchemy requirement from <2.0,>=1.3 to >=1.3,<3.0 in /sdks/python"
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#25083 Multi language/runinference example
  sdks/python/apache_beam/examples/inference/multi_language_inference/README.md
  sdks/python/apache_beam/examples/inference/multi_language_inference/last_word_prediction/src/main/java/org/apache/beam/examples/MultiLangRunInference.java
  sdks/python/apache_beam/examples/inference/multi_language_inference/multi_language_custom_transform/multi_language_custom_transform/__init__.py
  sdks/python/apache_beam/examples/inference/multi_language_inference/multi_language_custom_transform/multi_language_custom_transform/composite_transform.py
  sdks/python/apache_beam/examples/inference/multi_language_inference/multi_language_custom_transform/setup.py
  website/www/site/content/en/documentation/ml/multi-language-inference.md
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, website, examples, Next Action: Reviewers

#25785 Upgrade tox from 3.x.x to 4.x.x
  .github/workflows/python_tests.yml
  release/src/main/scripts/build_release_candidate.sh
  sdks/python/MANIFEST.in
  sdks/python/gen_protos.py
  sdks/python/tox.ini
Labels: python, build

#25877 Remove changes from MANIFEST.in
  sdks/python/MANIFEST.in
Labels: python

#25871 Update default splitting behavior to get fewer, larger, splits
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
Labels: java

#25866 Make conversion to Iterable tighter
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
Labels: python

#25795 Add support for CPython 3.11 opcodes
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/trivial_inference.py
Labels: python

#25718 Optimize change stream connector with more efficient batching and blind writes, and add transaction/query tags
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/MetadataSpannerConfigFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ChildPartitionsRecordAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDao.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ChildPartitionsRecordActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDaoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25873 Revert "Merge pull request #25863: Revert "Adding support for DLQ for…
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRel.java
Labels: java, extensions, sql, Next Action: Reviewers

#25891 Disable firestore integration tests temporarily
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, io, gcp

#25797 Google Cloud Bigtable Change Stream Connector
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamMutation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/TimestampConverter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/GenerateInitialPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/BigtableChangeStreamAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/ChangeStreamDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/DaoFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableAdminDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/DetectNewPartitionsDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/InitializeDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/encoder/MetadataTableEncoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/encoder/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/PartitionRecord.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/ReadChangeStreamPartitionProgressTracker.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/StreamProgress.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/GcpApiSurfaceTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/TimestampConverterTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/GenerateInitialPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableAdminDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/InitializeDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/ReadChangeStreamPartitionProgressTrackerTest.java
Labels: java, build, io, gcp

#25781 [Go SDK]: Update beam.Pardo doc comment about SDFs
  sdks/go/pkg/beam/pardo.go
Labels: go, Next Action: Reviewers, slow-review

#25352 add write options with create disposition for bigqueryio
  sdks/go/pkg/beam/io/bigqueryio/bigquery.go
  sdks/go/test/integration/io/bigqueryio/bigqueryio_test.go
  sdks/go/test/integration/io/bigqueryio/helper_test.go
Labels: go, io, gcp, Next Action: Reviewers

#25908 Ensure truncate element is wrapped in *FullValue
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/test/integration/primitives/drain.go
Labels: go

#25907 Pubsub test client fixup
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubTestClient.java
Labels: java, io, gcp

#25802 Use the cord ctype for proto generation, where available.
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
Labels: model

#25906 Advance DetectNewPartition's watermark
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDao.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDaoTest.java
Labels: java, io, gcp

#25723 #25722 Add option to propagate successful storage-api writes
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupIntoBatches.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/SplittingIterable.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiConvertMessages.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsBeamRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsGenericRecord.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritePayload.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingWriteTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteResult.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#25914 Update gen_protos to work with new protobuf on os-x.
  sdks/python/gen_protos.py
Labels: python

#25936 Move inference tests from py37 to py38
  build.gradle.kts
Labels: build, Next Action: Reviewers

#24946 [Playground] Resolve issue with SCIO examples failing on start due to a timeout
  playground/README.md
  playground/backend/README.md
  playground/backend/containers/scio/Dockerfile
  playground/backend/internal/code_processing/code_processing.go
  playground/backend/internal/fs_tool/fs.go
  playground/backend/internal/fs_tool/fs_test.go
  playground/backend/internal/setup_tools/life_cycle/life_cycle_setuper.go
  playground/backend/internal/setup_tools/life_cycle/life_cycle_setuper_test.go
  playground/backend/internal/utils/common.go
  playground/backend/internal/utils/common_test.go
  playground/backend/internal/utils/preparers_utils.go
  playground/backend/internal/utils/preparers_utils_test.go
  playground/backend/internal/utils/test_data/JavaFileName.java
  playground/backend/internal/utils/test_data/wordcount.py
  playground/backend/new_scio_project.sh
  playground/docker-compose.local.yaml
Labels: Next Action: Reviewers

#25933 [Python] TF with TFHub Notebook Example
  examples/notebooks/beam-ml/run_inference_tensorflow_with_tensorflowhub.ipynb
Labels: examples

#25920 [Python] Ignore unknown args with single dash
  CHANGES.md
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_test.py
Labels: python

#25935 Add a source and sink option to yaml pipelines.
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python

#25950 Move license to a code block
  examples/notebooks/get-started/learn_beam_basics_by_doing.ipynb
  examples/notebooks/get-started/try-apache-beam-go.ipynb
  examples/notebooks/get-started/try-apache-beam-java.ipynb
  examples/notebooks/get-started/try-apache-beam-py.ipynb
Labels: examples

#25919 Allow PTransforms to be applied directly to dataframes.
  CHANGES.md
  sdks/python/apache_beam/dataframe/convert_test.py
  sdks/python/apache_beam/dataframe/frames.py
Labels: python

#25941 Add typescript docs to beam site.
  website/www/site/content/en/documentation/sdks/typescript.md
  website/www/site/content/en/get-started/_index.md
  website/www/site/content/en/get-started/quickstart/python.md
  website/www/site/content/en/get-started/quickstart/typescript.md
  website/www/site/data/pipelines.yaml
  website/www/site/layouts/partials/section-menu/en/get-started.html
  website/www/site/layouts/partials/section-menu/en/sdks.html
  website/www/site/static/images/logos/sdks/typescript_pipelines.png
Labels: website

#25916 Use built-in csv and json readers.
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python

#25665 [BEAM-20807] Support Beam docker images on ARM64.
  buildSrc/build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/Dockerfile
  sdks/java/container/common.gradle
  sdks/python/container/Dockerfile
  sdks/python/container/common.gradle
  sdks/typescript/container/Dockerfile
  sdks/typescript/container/build.gradle
  sdks/typescript/package-lock.json
Labels: python, java, build, docker, typescript

#25954 [Python] Update tensorflow doc
  CHANGES.md
  website/www/site/content/en/documentation/ml/about-ml.md
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#25868 Fix :examples:java:execute so it can be used on the command line
  examples/java/build.gradle
Labels: java, examples, Next Action: Reviewers

#25903 Add links to tfma notebook for running in colab/github
  examples/notebooks/beam-ml/tfma_beam.ipynb
Labels: examples

#25915 validated the input schema matches with the bigquery output schema
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25938 Lock ReadChangeStreamPartition so only one DoFn can work on one partition
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/ReadChangeStreamPartitionProgressTracker.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/StreamProgress.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/ReadChangeStreamPartitionProgressTrackerTest.java
Labels: java, io, gcp

#25999 Add write permissions to perf analysis yml file
  .github/workflows/run_perf_alert_tool.yml
Labels: build

#25968 Force version of sklearn in examples
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/sklearn_examples_requirements.txt
  sdks/python/apache_beam/examples/inference/sklearn_japanese_housing_regression.py
  sdks/python/apache_beam/examples/inference/sklearn_mnist_classification.py
Labels: python, examples, Next Action: Reviewers

#25998 Deprecate Cloud Debugger and its pipeline options
  CHANGES.md
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/CloudDebuggerOptions.java
Labels: runners, dataflow

#25685 BigQuery Storage Write API wrapper for Python SDK
  .test-infra/jenkins/job_PostCommit_Python_CrossLanguage_Gcp_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_CrossLanguage_Gcp_Direct.groovy
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTest.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExpansionServiceSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/expansion-service/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProtoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_test.py
  sdks/python/pytest.ini
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/direct/common.gradle
  sdks/python/test-suites/xlang/build.gradle
  settings.gradle.kts
Labels: python, java, build, infra, io, gcp

#25955 fix: Porting more BigtableOptions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteOptions.java
Labels: java, io, gcp, Next Action: Reviewers

#25928 [Playground] "always_run" flag in examples' tag
  learning/tour-of-beam/backend/playground_api/api/v1/api.pb.go
  playground/api/v1/api.proto
  playground/backend/internal/api/v1/api.pb.go
  playground/backend/internal/db/dto/precompiled_object.go
  playground/backend/internal/db/entity/example.go
  playground/backend/internal/db/mapper/precompiled_object_mapper.go
  playground/frontend/playground_components/lib/src/api/v1/api.pb.dart
  playground/frontend/playground_components/lib/src/api/v1/api.pbjson.dart
  playground/frontend/playground_components/lib/src/cache/example_cache.dart
  playground/frontend/playground_components/lib/src/controllers/example_loaders/content_example_loader.dart
  playground/frontend/playground_components/lib/src/controllers/snippet_editing_controller.dart
  playground/frontend/playground_components/lib/src/models/example_base.dart
  playground/frontend/playground_components/lib/src/models/example_loading_descriptors/content_example_loading_descriptor.dart
  playground/frontend/playground_components/lib/src/repositories/example_client/grpc_example_client.dart
  playground/frontend/playground_components/test/src/models/example_loading_descriptors/content_example_loading_descriptor_test.dart
  playground/infrastructure/api/v1/api_pb2.py
  playground/infrastructure/api/v1/api_pb2.pyi
  playground/infrastructure/datastore_client.py
  playground/infrastructure/models.py
Labels: learning

#25864 Overload HbaseIO with KV<RowKey, RowMutations>
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseCoderProviderRegistrar.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseIO.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseRowMutationsCoder.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseSharedConnection.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/HBaseCoderProviderRegistrarTest.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/HBaseSharedConnectionTest.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/HbaseIOWriteRowMutationsTest.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/RowMutationsCoderTest.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/utils/HashUtils.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/utils/TestConstants.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/utils/TestHBaseUtils.java
Labels: java, io, hbase, Next Action: Reviewers

#26015 Add explicit language_level=3 arg to Cythonize
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#25937 Fix TestPipeline.runWithAdditionalOptionArgs ignore additionalArgs
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/TestPipeline.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/testing/TestPipelineTest.java
Labels: java, Next Action: Reviewers

#25982 [#22737] Re-write Go SDK data plane to support timers.
  sdks/go/pkg/beam/core/runtime/exec/data.go
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/dynsplit_test.go
  sdks/go/pkg/beam/core/runtime/harness/datamgr.go
  sdks/go/pkg/beam/core/runtime/harness/datamgr_test.go
Labels: go

#26031 [#26030] Add PTransformID to logged messages & add message batching & immeadiate flushing.
  sdks/go/pkg/beam/core/metrics/metrics.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/logging.go
  sdks/go/pkg/beam/core/runtime/harness/logging_test.go
Labels: go

#26033 Fix small doc typo
  website/www/site/content/en/documentation/ml/inference-overview.md
Labels: website

#25893 Recommend `yield from` for emitting elements from iterables.
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#26018 [Python] Separate out tensorflow hub part, single notebook for tensorflow
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow_hub.ipynb
  examples/notebooks/beam-ml/run_inference_with_tensorflow_hub.ipynb
Labels: examples

#26037 BigQueryHelpers: log statuses using PrettyString
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
Labels: java, io, gcp

#25997 Make DetectNewPartitions handle Splits and Merges
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamContinuationTokenHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDao.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamContinuationTokenHelperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDaoTest.java
Labels: java, io, gcp

#25885 Remove unused checkProto2Syntax from ProtobufUtil.java and test.
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtobufUtil.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtobufUtilTest.java
Labels: java, extensions, protobuf, Next Action: Reviewers

#26014 Add pytorch 2.0 tests
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python

#26046 Move BigQuery Xlang tests to apache_beam/io/external/
  sdks/python/apache_beam/io/external/xlang_bigqueryio_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
Labels: python, io, gcp, Next Action: Reviewers

#25947 Add documentation for the auto model updates
  website/www/site/content/en/documentation/ml/side-input-updates.md
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website

#25773 Adding support for GCS-stored files for consumer config overrides
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
Labels: java, io, kafka, Next Action: Reviewers

#26040 Add partition metadata in error logs in the restriction tracker for change streams and delete unused files
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionMode.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionPosition.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestriction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestrictionClaimer.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestrictionMetadata.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestrictionProgressChecker.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestrictionSplitter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestrictionTracker.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/ReadChangeStreamPartitionRangeTracker.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/TimestampRangeTracker.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionPositionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestrictionClaimerTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestrictionProgressCheckerTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestrictionSplitterTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestrictionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/PartitionRestrictionTrackerTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/util/PartitionPositionGenerator.java
Labels: java, io, gcp

#26045 Add partition reconciler to handle known cases where partitions can get stuck
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/reconciler/PartitionReconciler.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/reconciler/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/StreamProgress.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/reconciler/PartitionReconcilerTest.java
Labels: java, io, gcp

#26053 [Go SDK] Update slog in prism to fix breaking changes.
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/runners/prism/internal/coders.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
Labels: go, runners, Next Action: Reviewers

#25972 Revert "Change the type of Samza Runner MaxBundleSize pipeline option (#25854)"
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaPipelineOptions.java
Labels: runners, samza
