Repository apache/beam, pull requests merged in 2023-01, with the labels that each got.

#24854 Support SqlTypes Date in AvroUtils (sync)
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtilsTest.java
Labels: java, extensions

#24855 Revert "Shard python precommit"
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PreCommit_Python.groovy
  .test-infra/jenkins/job_PreCommit_PythonIT.groovy
  .test-infra/jenkins/job_PreCommit_Python_Dataframe.groovy
  .test-infra/jenkins/job_PreCommit_Python_Examples.groovy
  .test-infra/jenkins/job_PreCommit_Python_Runners.groovy
  .test-infra/jenkins/job_PreCommit_Python_Transforms.groovy
  build.gradle.kts
  sdks/python/scripts/run_pytest.sh
  sdks/python/test-suites/tox/common.gradle
  sdks/python/test-suites/tox/py37/build.gradle
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, build, infra

#24810 [Spark Dataset runner] Fix initialization of metrics accumulator on driver
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/SparkStructuredStreamingPipelineResult.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/SparkStructuredStreamingRunner.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/metrics/MetricsAccumulator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/metrics/MetricsContainerStepMapAccumulator.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/metrics/SparkBeamMetric.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/metrics/SparkBeamMetricSource.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/metrics/SparkMetricsContainerStepMap.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnPartitionIteratorFactory.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/DoFnRunnerWithMetrics.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
Labels: runners, spark

#24843 Improve error message
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#24770 Fix beam_CleanUpGCPResources job
  .test-infra/jenkins/README.md
  .test-infra/tools/stale_bq_datasets_cleaner.sh
Labels: infra

#24824 Fix SQLIO Performance Test
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_PerformanceTests_SQLIO_Java.groovy
  sdks/java/extensions/sql/perf-tests/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryIOPushDownIT.java
  sdks/java/extensions/sql/perf-tests/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryPerfTable.java
Labels: java, infra, extensions, sql, Next Action: Reviewers

#24831 Reduce redundant Get API call when creating bq temp dataset
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: python, io, gcp, Next Action: Reviewers

#24769 Disable sonarqube cron job
  .test-infra/jenkins/job_sonarqube_report.groovy
Labels: infra

#24869 [#24801] ValueState.read() should specify returning null since it will if unset
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/ValueState.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#24884 [release-2.44.0]Restrict tox to be in 3.x version (#24601)
  .github/workflows/python_tests.yml
  sdks/python/setup.py
Labels: python, build

#24886 Add links to colab/github repo in notebook
  examples/notebooks/beam-ml/custom_remote_inference.ipynb
  examples/notebooks/beam-ml/dataframe_api_preprocessing.ipynb
  examples/notebooks/beam-ml/run_custom_inference.ipynb
  examples/notebooks/beam-ml/run_inference_multi_model.ipynb
  examples/notebooks/beam-ml/run_inference_pytorch.ipynb
  examples/notebooks/beam-ml/run_inference_pytorch_tensorflow_sklearn.ipynb
  examples/notebooks/beam-ml/run_inference_sklearn.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow_hub.ipynb
Labels: examples

#24875 Remove trailing space breaking website blocks
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#24772 [#21391]Increase unit testing coverage in the exec package
  sdks/go/pkg/beam/core/runtime/exec/translate_test.go
  sdks/go/pkg/beam/core/runtime/exec/userstate_test.go
Labels: go, Next Action: Reviewers

#24900 [Playground] Load categories from BEAM_EXAMPLE_CATEGORIES in checker.py
  .github/workflows/playground_examples_ci_reusable.yml
  playground/infrastructure/checker.py
Labels: build, Next Action: Reviewers

#24881 Reduce lock contention for metrics hashName hasher
  sdks/go/pkg/beam/core/metrics/metrics.go
  sdks/go/pkg/beam/core/metrics/metrics_test.go
Labels: go, Next Action: Reviewers

#24883 [release-2.44.0]Install sklearn < 1.20.0 for sklearn postcommit tests (#24788)
  sdks/python/test-suites/direct/common.gradle
Labels: python

#24888 Print logical identifier in FieldType.toString
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
Labels: java, Next Action: Reviewers

#24619 Add static override for JDK TLS disabled/legacy algorithms in Java container
  CHANGES.md
  sdks/java/container/common.gradle
  sdks/java/container/java11/java11-security.properties
  sdks/java/container/java11/option-java11-security.json
  sdks/java/container/java17/java17-security.properties
  sdks/java/container/java17/option-java17-security.json
  sdks/java/container/java8/java8-security.properties
  sdks/java/container/java8/option-java8-security.json
  sdks/java/core/src/test/java/org/apache/beam/sdk/SdkHarnessEnvironmentTest.java
Labels: java, docker, Next Action: Reviewers

#24879 Remove shuffle mode=appliance in tests
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python_reiterate.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_KafkaIO_IT.groovy
  runners/google-cloud-dataflow-java/build.gradle
  sdks/python/scripts/run_integration_test.sh
Labels: python, infra, runners, dataflow, Next Action: Reviewers

#24073 Sync script for grafana dashboard - github actions postcommit workflows
  .test-infra/metrics/sync/github/sync_workflows.py
Labels: infra

#24588 issue23918 extract java symbols
  .gitignore
  playground/frontend/playground_components/assets/symbols/go.g.yaml
  playground/frontend/playground_components/assets/symbols/java.g.yaml
  playground/frontend/playground_components/assets/symbols/python.g.yaml
  playground/frontend/playground_components/build.gradle.kts
  playground/frontend/playground_components/lib/src/assets/assets.gen.dart
  playground/frontend/playground_components/lib/src/services/symbols/loaders/map.dart
  playground/frontend/playground_components/pubspec.yaml
  playground/frontend/playground_components/test/tools/extract_symbols_java/extract_symbols_java_test.dart
  playground/frontend/playground_components/test/tools/extract_symbols_java/java.golden.yaml
  playground/frontend/playground_components/test/tools/extract_symbols_java/sdk_mock/DefaultClass.java
  playground/frontend/playground_components/test/tools/extract_symbols_java/sdk_mock/KotlinClass.kt
  playground/frontend/playground_components/test/tools/extract_symbols_java/sdk_mock/PrivateClass.java
  playground/frontend/playground_components/test/tools/extract_symbols_java/sdk_mock/PublicClass.java
  playground/frontend/playground_components/test/tools/extract_symbols_java/sdk_mock/Test.java
  playground/frontend/playground_components/test/tools/extract_symbols_java/sdk_mock/directory/ExtendedPublicClass.java
  playground/frontend/playground_components/test/tools/extract_symbols_java/sdk_mock/directory/PublicClass.java
  playground/frontend/playground_components/test/tools/extract_symbols_java/sdk_mock/test/TestFolderPublicClass.java
  playground/frontend/playground_components/tools/extract_symbols_java/build.gradle
  playground/frontend/playground_components/tools/extract_symbols_java/src/main/java/com/playground/extract_symbols/ClassInfo.java
  playground/frontend/playground_components/tools/extract_symbols_java/src/main/java/com/playground/extract_symbols/Main.java
  settings.gradle.kts
Labels: build, Next Action: Reviewers

#24910 Attempt deserialize all non-standard portable logical types from proto
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTranslationTest.java
Labels: java, Next Action: Reviewers

#24382 TFT Criteo benchmarks
  .test-infra/jenkins/job_CloudMLBenchmarkTests_Python.groovy
  sdks/python/apache_beam/testing/benchmarks/cloudml/__init__.py
  sdks/python/apache_beam/testing/benchmarks/cloudml/cloudml_benchmark_constants_lib.py
  sdks/python/apache_beam/testing/benchmarks/cloudml/cloudml_benchmark_test.py
  sdks/python/apache_beam/testing/benchmarks/cloudml/criteo_tft/__init__.py
  sdks/python/apache_beam/testing/benchmarks/cloudml/criteo_tft/criteo.py
  sdks/python/apache_beam/testing/benchmarks/cloudml/pipelines/__init__.py
  sdks/python/apache_beam/testing/benchmarks/cloudml/pipelines/workflow.py
  sdks/python/apache_beam/testing/benchmarks/cloudml/requirements.txt
  sdks/python/pytest.ini
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/gradle.properties
Labels: python, infra

#24646 Add thread prefix for StreamingDataflowWorker work executor
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
Labels: runners, dataflow

#24925 [release-2.44.0] Cherry pick: Attempt deserialize all non-standard portable logical types from proto
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTranslationTest.java
Labels: java, Next Action: Reviewers

#24839 Update quickstart document Java version from 11 to 17
  website/www/site/content/en/get-started/quickstart/java.md
Labels: website

#24853 Modify windmill DirectStreamObserver to call isReady only every 10 messages by default
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/options/StreamingDataflowWorkerOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/DirectStreamObserver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/StreamObserverFactory.java
Labels: runners, dataflow

#24811 [#21384] Add unit tests to the sql package
  sdks/go/pkg/beam/transforms/sql/sql_test.go
Labels: go, Next Action: Reviewers

#24928 [#24927] Ensure the SDK harness handles JCL/log4j/log4j2 messages.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/Dockerfile
  sdks/java/container/boot.go
  sdks/java/container/build.gradle
  sdks/java/container/common.gradle
  sdks/java/core/build.gradle
  sdks/java/core/src/test/java/org/apache/beam/sdk/SdkHarnessEnvironmentTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/testing/ExpectedLogs.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-8/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/build.gradle
Labels: java, build, docker, io, elasticsearch

#24932 [#24931][Go SDK] Make element checkpoints independant
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/exec/plan.go
  sdks/go/pkg/beam/core/runtime/exec/plan_test.go
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
  sdks/go/pkg/beam/core/runtime/exec/unit.go
  sdks/go/pkg/beam/core/runtime/exec/unit_test.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/sdf/lock.go
  sdks/go/pkg/beam/io/rtrackers/offsetrange/offsetrange.go
  sdks/go/pkg/beam/runners/direct/impulse.go
  sdks/go/test/integration/primitives/checkpointing.go
Labels: go, io, runners, direct, Next Action: Reviewers

#24205 Update Kafka watermark based on policy when records poll empty
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka, Next Action: Reviewers

#24176 Grafana dashboard - Github actions postcommit workflows mapping
  .test-infra/metrics/grafana/dashboards/GA-Post-Commits_status_dashboard.json
Labels: infra

#24950 [#21368] Re-apply single executor to storage write API writes
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp, Next Action: Reviewers

#24952 [#21368] Clean-up and use the FixedExecutorProvider
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#24918 JDBC SchemaTransform implementation. Need to break out into a separat…
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcWriteSchemaTransformProvider.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProviderTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcWriteSchemaTransformProviderTest.java
Labels: java, io, jdbc, Next Action: Reviewers

#24885 [WebSite] Add new Go quickstart
  website/www/site/content/en/get-started/quickstart-go.md
  website/www/site/content/en/get-started/quickstart/go.md
  website/www/site/layouts/partials/section-menu/en/get-started.html
Labels: website

#24968 Fix pinning bug in storage-api writes
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#24930 Improve Error Prone configuration
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#24818 [Playground] Add an option for Datastore namespace value for ci_cd.py script
  .github/workflows/playground_deploy_examples.yml
  .github/workflows/playground_examples_cd_reusable.yml
  .github/workflows/playground_examples_ci_reusable.yml
  playground/README.md
  playground/infrastructure/ci_cd.py
  playground/infrastructure/config.py
  playground/infrastructure/datastore_client.py
  playground/infrastructure/test_ci_cd.py
  playground/infrastructure/test_datastore_client.py
Labels: build, Next Action: Reviewers

#24970 [Website] add credit karma case-study card
  website/www/site/assets/scss/_case_study.scss
  website/www/site/content/en/case-studies/creditKarma.md
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/credit_karma/avneesh_pratap.jpeg
  website/www/site/static/images/case-study/credit_karma/raj_katakam.jpeg
  website/www/site/static/images/case-study/credit_karma/scheme-2.png
  website/www/site/static/images/case-study/credit_karma/scheme-3.png
  website/www/site/static/images/case-study/credit_karma/scheme-4.png
  website/www/site/static/images/case-study/credit_karma/scheme-5.png
  website/www/site/static/images/logos/powered-by/credit-karma.png
Labels: website

#24984 [Playground] Fix for failing CI/CD in playground
  .github/workflows/playground_examples_ci_reusable.yml
  playground/infrastructure/ci_cd.py
  playground/infrastructure/test_ci_cd.py
Labels: build

#24975 Add missing dependencies to maven archetype
  sdks/java/maven-archetypes/examples/build.gradle
  sdks/java/maven-archetypes/examples/src/main/resources/archetype-resources/pom.xml
  sdks/java/maven-archetypes/gcp-bom-examples/build.gradle
  sdks/java/maven-archetypes/gcp-bom-examples/src/main/resources/archetype-resources/pom.xml
Labels: java, Next Action: Reviewers

#24844 Improve error message for unencodeable types
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/core/runtime/graphx/serialize.go
  sdks/go/pkg/beam/core/runtime/graphx/serialize_test.go
Labels: go, Next Action: Reviewers

#24988 Add single job to run python coverage
  .test-infra/jenkins/job_PreCommit_Python_Coverage.groovy
  sdks/python/test-suites/tox/common.gradle
  sdks/python/test-suites/tox/py38/build.gradle
Labels: python, infra, Next Action: Reviewers

#24990 Update beam-master version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#25000 Remove datastore intersphinx_dependency to fix docs job.
  sdks/python/scripts/generate_pydoc.sh
Labels: python, Next Action: Reviewers

#25004 Use CC-BY image for custom remote inference notebook
  examples/notebooks/beam-ml/custom_remote_inference.ipynb
Labels: examples

#24964 Fix kafka performance test write failing due to server overwhelmed
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriter.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka

#25008 Adding the registered trademark symbol
  website/www/site/content/en/_index.md
Labels: website

#24862 [Spark Dataset runner] Fix SparkSessionFactory to better support running on a cluster.
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/SparkStructuredStreamingRunner.java
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/SparkSessionFactory.java
  runners/spark/spark_runner.gradle
Labels: runners, spark

#24948 Fix incorrect parsing of None value parameters.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_test.py
Labels: python, Next Action: Reviewers

#25007 Fix PipelineOptionTest.test_display_data
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: python, examples, io, gcp, Next Action: Reviewers

#25013 Set allowDiskUse to true in MongoDB bucketAuto aggregation
  sdks/go/pkg/beam/io/mongodbio/read.go
Labels: go, io

#25044 Add public qualifier to FillGaps methods
  sdks/java/extensions/timeseries/src/main/java/org/apache/beam/sdk/extensions/timeseries/FillGaps.java
Labels: java, extensions

#25043 Add kafka version to pom
  sdks/java/maven-archetypes/examples/src/main/resources/archetype-resources/pom.xml
  sdks/java/maven-archetypes/gcp-bom-examples/src/main/resources/archetype-resources/pom.xml
Labels: java, Next Action: Reviewers

#25047 Properly synchronize pins
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp, Next Action: Reviewers

#25010 enabling public construction of typed schematransforms
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteWriteSchemaTransformProvider.java
Labels: java, io, gcp, Next Action: Reviewers

#24986 Add explicit error for PEP 585 type hints
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#25042 Updated Python Container Dependencies
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#25020 [ToB][Frontend] Display hints and solutions
  learning/tour-of-beam/frontend/assets/svg/hint.svg
  learning/tour-of-beam/frontend/assets/svg/solution.svg
  learning/tour-of-beam/frontend/assets/translations/en.yaml
  learning/tour-of-beam/frontend/lib/assets/assets.gen.dart
  learning/tour-of-beam/frontend/lib/cache/content_tree.dart
  learning/tour-of-beam/frontend/lib/constants/sizes.dart
  learning/tour-of-beam/frontend/lib/models/unit_content.dart
  learning/tour-of-beam/frontend/lib/models/unit_content.g.dart
  learning/tour-of-beam/frontend/lib/pages/tour/screen.dart
  learning/tour-of-beam/frontend/lib/pages/tour/state.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/binary_progress.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/content.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/fraction_progress.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/group_title.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/hints.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/markdown/code_builder.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/markdown/tob_markdown.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/solution_button.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/unit.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/unit_content.dart
  learning/tour-of-beam/frontend/lib/pages/welcome/screen.dart
  learning/tour-of-beam/frontend/pubspec.lock
  learning/tour-of-beam/frontend/pubspec.yaml
  playground/frontend/playground_components/lib/playground_components.dart
  playground/frontend/playground_components/lib/src/constants/sizes.dart
  playground/frontend/playground_components/lib/src/theme/theme.dart
  playground/frontend/playground_components/lib/src/util/string.dart
Labels: learning

#24424 upgrade clickhouse jdbc driver 0.3.2-patch10
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/clickhouse/build.gradle
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIO.java
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseWriter.java
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/TableSchema.java
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/AtomicInsertTest.java
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/BaseClickHouseTest.java
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/TableSchemaTest.java
Labels: java, build, io, clickhouse, Next Action: Reviewers

#24377 Added documentation for SingleStoreIO
  website/www/site/content/en/documentation/io/built-in/singlestore.md
  website/www/site/content/en/documentation/io/connectors.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website

#24757 Adding watermark support to DebeziumIO transform
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/KafkaConnectUtils.java
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/KafkaSourceConsumerFn.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/KafkaConnectSchemaTest.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/KafkaSourceConsumerFnTest.java
Labels: java, io

#25024 Add withDefaultHeaders to connection configuration for ElasticsearchIO
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: java, io, elasticsearch, Next Action: Reviewers

#25050 Fix error message (add proper spacing)
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
Labels: java, io, gcp, Next Action: Reviewers

#25055 Remove trailing whitespace from blog to fix precommit
  website/www/site/content/en/blog/beam-2.44.0.md
Labels: website

#25001 improve some errors from DoFnSignature
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignatures.java
Labels: java, Next Action: Reviewers

#25062 Set maxConnections optional in incoming schema for JdbcSchemaIOProvider
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
Labels: java, io, jdbc

#25060 Document that yield and return shouldn't be mixed.
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#25072 [#25070] Remove Kafka jars from Beam Java SDK Container
  sdks/java/container/Dockerfile
  sdks/java/container/boot.go
  sdks/java/container/build.gradle
  sdks/java/container/common.gradle
Labels: java, docker

#25073 Improves StorageWrite API error logging
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#25086 [Python] Fix input type for num_bytes
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
Labels: python, Next Action: Reviewers

#23956 Add Pyarrow support to Batched DoFn documentation
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#25054 Add support for using builtins typing
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#25009 Increase timeout on test_dynamic_timer_clear_then_set_timer
  sdks/python/apache_beam/transforms/userstate_test.py
Labels: python, Next Action: Reviewers

#25092 Bump timeout for beam_PostCommit_Python_Examples_Dataflow to 3h
  .test-infra/jenkins/job_PostCommit_Python_Examples_Dataflow.groovy
Labels: infra

#25091 Add unit test to cover non built-in GenericAlias types
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python

#25023 [Website] update content of community case study page
  website/www/site/content/en/community/case-study.md
Labels: website

#25088 Eliminate google-python-cloud-debugger dependency in base_image_requirements
  sdks/python/container/base_image_requirements_manual.txt
Labels: python, docker

#24573 Bump httplib2 upper bound to 0.22.0.
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#24834 improve error message for mismatched pipelines
  sdks/python/apache_beam/transforms/util.py
Labels: python, Next Action: Reviewers

#24145 Handle updates to table schema when using Storage API writes.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/SplittingIterable.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinations.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsBeamRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsTableRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritePayload.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25066 [Release-2.45.0] Cherry pick: Set maxConnections optional in incoming schema
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
Labels: java, io, jdbc

#25031 Allow to set timeout for finishing a remote bundle in Samza portable runner
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaPipelineOptions.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaDoFnRunners.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/SdkHarnessDoFnRunnerTest.java
Labels: runners, samza

#25101 Fix truncate copy job when WRITE_TRUNCATE in BigQuery batch load
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
Labels: python, io, gcp

#24933 fix(sec): upgrade torch to 1.13.1
  sdks/python/apache_beam/examples/ml-orchestration/kfp/components/preprocessing/requirements.txt
  sdks/python/apache_beam/examples/ml-orchestration/kfp/components/train/requirements.txt
Labels: python, examples, Next Action: Reviewers

#25068 Samza udf metrics
  CHANGES.md
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaDoFnRunners.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaMetricsBundleProgressHandler.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/SamzaMetricsBundleProgressHandlerTest.java
Labels: runners, samza

#24962 Add I/O Standards Page
  website/www/site/content/en/documentation/io/io-standards.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
  website/www/site/static/images/io-standards/io-connector-guides-screenshot.png
  website/www/site/static/images/io-standards/io-connector-performance-test-dashboard-screenshot.png
  website/www/site/static/images/io-standards/io-connector-relational-features-table.png
  website/www/site/static/images/io-standards/io-supported-via-screenshot.png
  website/www/site/static/images/io-standards/website-built-in-screenshot.png
Labels: website

#25102 [Release-2.45.0] Cherry pick: Fix truncate copy job when WRITE_TRUNCATE
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
Labels: python, io, gcp

#25099 Add more info in documentation
  website/www/site/content/en/documentation/ml/large-language-modeling.md
Labels: website

#25115 Fix Python PreCommit dependency compatibility test not run or redundant setup
  .test-infra/jenkins/README.md
  sdks/python/test-suites/tox/py38/build.gradle
Labels: python, infra

#25106 Move CombineValues override to non portable overrides
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/transforms/combiners_test.py
Labels: python, Next Action: Reviewers

#25121 Exclude UsesMultimapState in Samza validatesPortableRunner tests
  runners/samza/job-server/build.gradle
Labels: runners, samza

#23651 [Website] Add GraalSystems in case studies
  website/www/site/content/en/case-studies/graalsystems.md
  website/www/site/static/images/logos/powered-by/graalsystems.png
Labels: website

#25111 Bump timeout for default transient expansion service
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/PythonExternalTransformTest.java
Labels: java, extensions, Next Action: Reviewers

#22889 #20812 handle @RequiresStableInput in portable flink
  runners/flink/flink_runner.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/utils/FlinkPortableRunnerUtils.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/utils/Locker.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/stableinput/BufferedElements.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/stableinput/BufferingDoFnRunner.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkRequiresStableInputTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkRunnerTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/PortableExecutionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperatorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperatorTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/RequiresStableInputIT.java
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
Labels: python, java, runners, flink

#25108 Remove databaseRole from metadata DB requests in SpannerIO.ReadChange…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
Labels: java, io, gcp, Next Action: Reviewers

#25104 Migrate portable runners to second version of data channel code
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/SdkHarnessClient.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/data/FnDataService.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/data/GrpcDataService.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/DefaultJobBundleFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/SdkHarnessClientTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/data/GrpcDataServiceTest.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataGrpcMultiplexer.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataGrpcMultiplexer2.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataInboundObserver.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundObserver.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/CompletableFutureInboundDataClient.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataGrpcMultiplexerTest.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataInboundObserverTest.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/CompletableFutureInboundDataClientTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/BeamFnDataClient.java
Labels: java, runners, fn-execution, Next Action: Reviewers

#25107 Adding autoservice annotations to all SchemaTransformProviders
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformReadProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/SingleStoreSchemaTransformReadProvider.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/schematransform/SingleStoreSchemaTransformWriteProvider.java
Labels: java, io, gcp, kafka, Next Action: Reviewers

#25081 Add working example for Per Entity Training
  sdks/python/apache_beam/examples/per_entity_training.py
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/content/en/documentation/ml/per-entity-training.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, examples, Next Action: Reviewers

#25071 Restore documentation on typescript IOs.
  website/www/site/content/en/documentation/io/connectors.md
Labels: website

#25148 Adds a reference x-lang RunInference Javadoc
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: website

#25144 Drop '2' from BeamFnDataGrpcMultiplexer2 and BeamFnDataInboundObserver2
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/SdkHarnessClient.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/data/GrpcDataService.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/data/GrpcDataServiceTest.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataGrpcMultiplexer.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataInboundObserver.java
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/InboundDataClient.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataGrpcMultiplexerTest.java
  sdks/java/fn-execution/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataInboundObserverTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/BeamFnDataGrpcClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/BeamFnDataGrpcClientTest.java
Labels: java, runners, fn-execution

#25142 update cloudpickle version
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#25143 update cloudpickle version
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#25141 Remove databaseRole from metadata DB requests in SpannerIO.ReadChange…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
Labels: java, io, gcp, Next Action: Reviewers

#25147 Update typehint code to allow primitive composite types in python 3.9+
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#25159 Fix inconsistent cache bug
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp, Next Action: Reviewers

#25169 Increase default expansion service timeout
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
Labels: java, extensions, Next Action: Reviewers

#25176 Further increase transient expansion service timeout
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
Labels: java, extensions

#25065 Task #25064: Data Sampling proto changes
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
Labels: model

#25153 Initial commit of boilerplate of change stream pipeline for bigtable
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamMutation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/TimestampConverter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/UniqueIdGenerator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/GenerateInitialPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/ChangeStreamDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/DaoFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableAdminDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/DetectNewPartitionsDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/InitializeDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/encoder/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/PartitionRecord.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/ReadChangeStreamPartitionProgressTracker.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/StreamProgress.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/package-info.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/TimestampConverterTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25175 Fix SchemaTransform identifiers
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformReadProvider.java
Labels: java, io, gcp, Next Action: Reviewers

#25188 Fix a couple typos caught by an internal linter
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, Next Action: Reviewers

#25192 Update Dataflow container versions
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#25194 update GCP cloud libraries BOM to 26.5.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#25205 Cherry pick/fix bigquery inconsistent cache
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/SplittingIterable.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinations.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsBeamRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsTableRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritePayload.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25195 Fixing a table existence verifier for BQ
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
Labels: java, io, gcp

#25204 update GCP cloud libraries BOM to 26.5.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#25196 Schema convenience functions
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
Labels: java, Next Action: Reviewers

#25208 Log BatchElement statistics.
  sdks/python/apache_beam/transforms/util.py
Labels: python

#24630 [24469] Implement CsvIO.Write and supporting classes
  sdks/java/io/csv/build.gradle
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIO.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvRowConversions.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/package-info.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOTestData.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOTestJavaBeans.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOWriteTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/RowToCsvCSVFormatTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/RowToCsvPredefinedCSVFormatsTest.java
  settings.gradle.kts
Labels: java, build, io, Next Action: Reviewers

#25160 [Go SDK]: Implement mongodbio.Read with an SDF
  sdks/go/pkg/beam/io/mongodbio/coder.go
  sdks/go/pkg/beam/io/mongodbio/coder_test.go
  sdks/go/pkg/beam/io/mongodbio/common.go
  sdks/go/pkg/beam/io/mongodbio/id_range_restriction.go
  sdks/go/pkg/beam/io/mongodbio/id_range_restriction_test.go
  sdks/go/pkg/beam/io/mongodbio/id_range_split.go
  sdks/go/pkg/beam/io/mongodbio/id_range_split_test.go
  sdks/go/pkg/beam/io/mongodbio/id_range_tracker.go
  sdks/go/pkg/beam/io/mongodbio/id_range_tracker_test.go
  sdks/go/pkg/beam/io/mongodbio/read.go
  sdks/go/pkg/beam/io/mongodbio/read_test.go
Labels: go, io

#25161 Update Github issues link for Go SDK in website
  website/www/site/content/en/documentation/sdks/go.md
Labels: website

#21864 Fix a typo.
  website/www/site/content/en/documentation/transforms/java/elementwise/withkeys.md
Labels: website

#25170 Standardizing naming and URN for Pubsub Read Schema Transform
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformMessageToRowFactory.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubSchemaTransformMessageToRowFactoryTest.java
Labels: java, io, gcp

#25209 Attempt fix GCPIO_Direct tests timeout
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteGroupedRecordsToFiles.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
Labels: java, io, gcp, Next Action: Reviewers

#25234 Fix pulling licenses
  sdks/python/container/license_scripts/dep_urls_py.yaml
Labels: python, docker

#25235 Fix pulling licenses
  sdks/python/container/license_scripts/dep_urls_py.yaml
Labels: python, docker

#25210 Ignore flags for beam_sql magic
  sdks/python/apache_beam/runners/interactive/sql/utils.py
Labels: python, Next Action: Reviewers

#25241 Fix typescript github action failures.
  .github/workflows/typescript_tests.yml
  sdks/typescript/test/primitives_test.ts
Labels: build, Next Action: Reviewers, typescript

#25191 Stop publishing empty test-only artifacts
  sdks/java/extensions/sql/perf-tests/build.gradle
  sdks/java/testing/expansion-service/build.gradle
  sdks/java/testing/kafka-service/build.gradle
Labels: java, extensions, sql

#25243 Fix Debezium expansion service fail to start
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformProvider.java
Labels: java, io
