Repository apache/beam, pull requests merged in 2023-11, with the labels that each got.

#29160 [YAML] - Kafka write and RAW format
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProviderTest.java
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, kafka, Next Action: Reviewers, yaml

#29235 add self to java reviewers to be able to merge and review streaming worker
  .github/REVIEWERS.yml
Labels: build, Next Action: Reviewers

#29243 Remove cred rotation jobs from jenkins
  .test-infra/jenkins/job_IODatastoresCredentialsRotation.groovy
  .test-infra/jenkins/job_MetricsCredentialsRotation.groovy
Labels: infra

#29231 Avoid potential null pointer exceptions in logging.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
Labels: java

#29222 Less frequent reporting of potentially stuck records.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
Labels: java

#29237 [YAML] Remove redundant WithSchema transform
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, yaml

#29244 Bugfix/kafka nullable header coders
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaRecordCoder.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaRecordCoderTest.java
Labels: java, io, kafka

#29175 Implement Cross-Bundle BatchElements
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python

#29169 [YAML] fix javascript UDF output in mapping transforms
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_udf_test.py
Labels: python, yaml

#29226 Add ability to run performance regression checks on Beam IO Load tests.
  sdks/python/apache_beam/testing/analyzers/io_tests_config.yaml
  sdks/python/apache_beam/testing/analyzers/load_test_perf_analysis.py
  sdks/python/apache_beam/testing/analyzers/perf_analysis_utils.py
Labels: python

#29236 [RRIO] [Testing] Mock API integration tests
  .test-infra/mock-apis/README.md
  .test-infra/mock-apis/go.mod
  .test-infra/mock-apis/go.sum
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/123079b5-1e58-4b28-a185-66702e2b10c3/configmap.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/e1064224-3671-46fe-971d-47887fac3d4c/deployment.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-should-exceed-quota/configmap.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-should-exceed-quota/deployment.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-should-exceed-quota/kustomization.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-should-never-exceed-quota/configmap.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-should-never-exceed-quota/deployment.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-should-never-exceed-quota/kustomization.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/f588787b-28f8-4e5f-8335-f862379daf59/configmap.yaml
  .test-infra/mock-apis/src/main/go/internal/service/echo/echo.go
  .test-infra/mock-apis/src/main/go/test/integration/echo/echo_test.go
  .test-infra/mock-apis/src/main/go/test/integration/integration.go
  .test-infra/mock-apis/src/main/go/test/integration/vars.go
Labels: infra

#28596 Improve Coder encode/decode documentation.
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/Coder.java
Labels: java

#29223 [Python] Add device param to HuggingFacePipelineModelHandler
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
Labels: python, Next Action: Reviewers

#29249 Fix bigtable_it_test instance naming
  sdks/python/apache_beam/io/gcp/bigtableio_it_test.py
Labels: python, io, gcp

#28371 Change WindmillStateReader to not batch OrderedListFetches for the same family and tag.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateReader.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WrappedFuture.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateReaderTest.java
Labels: runners, dataflow

#29189 [Go] Update website with supported IOs
  website/www/site/content/en/documentation/io/connectors.md
Labels: website, Next Action: Reviewers

#29258 [Dataframes] Fix Broken Link on Website
  website/www/site/content/en/documentation/dsls/dataframes/overview.md
Labels: website

#29264 Fix ./gradlew spotlessApply fail groovy check
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#29255 Upgrade protobuf version to remediate a leak.
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#29263 [release-2.52.0] CP a protobuf upgrade.
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#29204 [#23893] Support composite scope transform metadata
  sdks/go/pkg/beam/core/graph/graph.go
  sdks/go/pkg/beam/core/graph/scope.go
  sdks/go/pkg/beam/core/runtime/contextreg/contextreg.go
  sdks/go/pkg/beam/core/runtime/contextreg/contextreg_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/pipeline.go
Labels: go, Next Action: Reviewers

#29271 [YAML] fix renaming provider caching and YAML schema validation
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: Next Action: Reviewers

#29256 Fix XVR test fail python docker
  sdks/java/container/common.gradle
  sdks/python/container/common.gradle
Labels: python, java, docker, Next Action: Reviewers

#28050 Don't invalidate streams on quota errors
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp, Next Action: Reviewers

#29270 Organize dashboard and make it more config driven
  .test-infra/metrics/grafana/dashboards/GA-Post-Commits_status_dashboard.json
  .test-infra/metrics/sync/github/sync_workflows.py
Labels: infra

#29274 [YAML] Note about error output schemas.
  sdks/python/apache_beam/yaml/yaml_errors.md
Labels: python, yaml

#29261 [YAML] Fix error handling for KafkaSchemaTransforms
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/providers/ErrorHandling.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaDlqTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProviderTest.java
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, java, io, kafka, yaml

#29281 adjust node limits to accomodate more runners
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
Labels: build

#29273 [YAML] Fix PyPi caching for non-dev beam
  sdks/python/apache_beam/yaml/cache_provider_artifacts.py
Labels: python, Next Action: Reviewers, yaml

#29289 [YAML] Fix error handling for KafkaSchemaTransforms (#29261)
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/providers/ErrorHandling.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaDlqTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProviderTest.java
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, java, io, kafka, yaml

#29290 [YAML] fix renaming provider caching and YAML schema validation (#29271)
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#29292 [YAML] Fix PyPi caching for non-dev beam (#29273)
  sdks/python/apache_beam/yaml/cache_provider_artifacts.py
Labels: python, yaml

#29251 Pass empty_match_treatment flag in MatchFiles
  sdks/python/apache_beam/io/fileio.py
Labels: python, io

#29279 Setup Bigtable instance cleaner
  .test-infra/tools/build.gradle
  .test-infra/tools/stale_cbt_instances_cleaner.sh
  sdks/python/apache_beam/io/gcp/bigtableio_it_test.py
Labels: python, infra, io, gcp

#29295 [RRIO] [Testing] Add a 10/1s Quota Refresher
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-10-per-1s-quota/configmap.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-10-per-1s-quota/deployment.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-10-per-1s-quota/kustomization.yaml
  .test-infra/mock-apis/src/main/go/test/integration/echo/echo_test.go
  .test-infra/mock-apis/src/main/go/test/integration/vars.go
Labels: infra, Next Action: Reviewers

#29129 [RRIO][Python] Add python grpc binding for mock API
  .test-infra/mock-apis/README.md
  .test-infra/mock-apis/buf.gen.yaml
  .test-infra/mock-apis/poetry.lock
  .test-infra/mock-apis/pyproject.toml
  .test-infra/mock-apis/src/main/python/proto/echo/v1/echo_pb2.py
  .test-infra/mock-apis/src/main/python/proto/echo/v1/echo_pb2_grpc.py
Labels: infra, Next Action: Reviewers

#29296 Declare signMavenJavaPublication dependency on copyPom
  sdks/java/bom/build.gradle
Labels: java

#29252 Better error on late use of DoFnContext.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java

#29298 [CP] Declare signMavenJavaPublication dependency on copyPom
  sdks/java/bom/build.gradle
Labels: java

#29300 fix typo in workflow
  .github/workflows/build_wheels.yml
Labels: build

#29301 [cp] fix typo in workflow (#29300)
  .github/workflows/build_wheels.yml
Labels: build

#29302 Enable ssl use for cluster in CassandraIO
  sdks/java/io/cassandra/src/main/java/org/apache/beam/sdk/io/cassandra/CassandraIO.java
  sdks/java/io/cassandra/src/main/java/org/apache/beam/sdk/io/cassandra/ConnectionManager.java
Labels: java, io, cassandra, Next Action: Reviewers

#29299 Fix staging java source/python source
  .github/workflows/build_release_candidate.yml
  release/src/main/scripts/download_github_actions_artifacts.py
Labels: build, Next Action: Reviewers

#29276 [BigQueryIO] Upserts work with CREATE_IF_NEEDED -- doc only PR
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
Labels: java, io, gcp, Next Action: Reviewers

#29311 Update dev container tags.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#29144 [RRIO] [Call] Implement PTransform without adaptive throttling
  sdks/java/io/rrio/build.gradle
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/ApiIOError.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/Call.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/CallTest.java
Labels: java, io, Next Action: Reviewers

#29317 Revert "Support DatabaseID in Datastore beam connector (#27987)"
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1Test.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/SplitQueryFnIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1ReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1TestUtil.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1WriteIT.java
Labels: java, io, gcp

#29318 [CP] Revert "Support DatabaseID in Datastore beam connector (#27987)"
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1Test.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/SplitQueryFnIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1ReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1TestUtil.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1WriteIT.java
Labels: java, io, gcp

#29306 [prism] Add fusion.
  sdks/go/pkg/beam/runners/direct/direct_test.go
  sdks/go/pkg/beam/runners/prism/README.md
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/execute_test.go
  sdks/go/pkg/beam/runners/prism/internal/handlecombine.go
  sdks/go/pkg/beam/runners/prism/internal/handlepardo.go
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess_test.go
  sdks/go/pkg/beam/runners/prism/internal/separate_test.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/unimplemented_test.go
Labels: go, runners, direct, Next Action: Reviewers

#29316 Add action to publish RC to PyPi
  .github/workflows/deploy_release_candidate_pypi.yaml
Labels: build

#29307 [#29210][Go SDK]: Fix SDF progress fraction to not return NaN
  sdks/go/pkg/beam/core/runtime/exec/sdf.go
  sdks/go/pkg/beam/core/runtime/exec/sdf_test.go
Labels: go

#29184 [Go SDK]: Create natsio.Write transform for writing to NATS
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/io/natsio/common.go
  sdks/go/pkg/beam/io/natsio/example_test.go
  sdks/go/pkg/beam/io/natsio/helper_test.go
  sdks/go/pkg/beam/io/natsio/write.go
  sdks/go/pkg/beam/io/natsio/write_option.go
  sdks/go/pkg/beam/io/natsio/write_test.go
Labels: go, io, Next Action: Reviewers

#29320 [RRIO] [testing] Downgrade mock-apis grpcio-tools dependencies to remove Beam SDK version conflict
  .test-infra/mock-apis/poetry.lock
  .test-infra/mock-apis/pyproject.toml
  build.gradle.kts
Labels: build, infra, Next Action: Reviewers

#29321 A couple small fixes to the pypi deploy action
  .github/workflows/deploy_release_candidate_pypi.yaml
Labels: build, Next Action: Reviewers

#29272 Add support for collections.abc.Collection type hints
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#29304 Use RunInference to perform custom inference in custom_inference notebook
  examples/notebooks/beam-ml/custom_remote_inference.ipynb
Labels: examples

#29336 Delete Java11/17 Examples Dataflow PreCommit
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java11.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java17.yml
Labels: build, Next Action: Reviewers

#29334 add mtu to docker comose files in python test suite
  sdks/python/apache_beam/io/azure/integration_test/docker-compose.yml
  sdks/python/apache_beam/io/hdfs_integration_test/docker-compose.yml
Labels: python, io, Next Action: Reviewers

#29262 [RRIO] [Test] Create test Caller and SetupTeardown
  .test-infra/mock-apis/README.md
  sdks/java/build-tools/src/main/resources/beam/checkstyle/suppressions.xml
  sdks/java/io/rrio/build.gradle
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/EchoGRPCCallerWithSetupTeardown.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/EchoGRPCCallerWithSetupTeardownTestIT.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/EchoHTTPCaller.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/EchoHTTPCallerTestIT.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/EchoITOptions.java
Labels: java, build, infra, io, Next Action: Reviewers

#29339 Remove push trigger for non-precommit workflows
  .github/workflows/beam_CloudML_Benchmarks_Dataflow.yml
  .github/workflows/beam_Inference_Python_Benchmarks_Dataflow.yml
  .github/workflows/beam_PerformanceTests_SingleStoreIO.yml
  .github/workflows/beam_PostCommit_BeamMetrics_Publish.yml
  .github/workflows/beam_PostCommit_Go_Dataflow_ARM.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  .github/workflows/beam_PostCommit_Java_IO_Performance_Tests.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java21.yml
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
Labels: build

#29337 revert network name
  sdks/python/apache_beam/io/azure/integration_test/docker-compose.yml
Labels: python, io

#29340 Fix small typo on get_table_schema_from_string
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: python, io, gcp

#29346 set dockerMTU to 1460 to align with GKE
  .github/gh-actions-self-hosted-runners/arc/config/arc_deployment.tpl
Labels: build, Next Action: Reviewers

#29202 Add header removal for TextIO
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextRowCountEstimator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOReadTest.java
Labels: java

#29259 Change BeamFnDataGrpcMultiplexer.onCompleted logging to INFO
  sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataGrpcMultiplexer.java
Labels: java

#29335 Install cbt cli for cleanup gcp resource
  .github/workflows/beam_CleanUpGCPResources.yml
  .test-infra/tools/stale_cbt_instances_cleaner.sh
Labels: build, Next Action: Reviewers

#29348 add missing gradle tasks to postcommit java singlestoreio test
  .github/workflows/beam_PostCommit_Java_SingleStoreIO_IT.yml
Labels: build, Next Action: Reviewers

#29322 Adds a list of requirements to the expansion request
  model/job-management/src/main/proto/org/apache/beam/model/job_management/v1/beam_expansion_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/TransformUpgrader.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/python/apache_beam/runners/portability/expansion_service.py
Labels: python, java, model, runners, core, Next Action: Reviewers

#29367 Update beam_PreCommit_PythonDocker.yml to allow manual triggering
  .github/workflows/beam_PreCommit_PythonDocker.yml
Labels: build

#29370 Add job for validating release snapshots
  .github/workflows/beam_PostRelease_NightlySnapshot.yml
Labels: build

#29371 Fix cleanup script missing scenario
  .test-infra/dataproc/cleanup.sh
  .test-infra/tools/stale_bq_datasets_cleaner.sh
Labels: infra, Next Action: Reviewers

#29373 Fix beam_PostRelease_NightlySnapshot.yml naming
  .github/workflows/beam_PostRelease_NightlySnapshot.yml
Labels: build

#29369 Upgrade go version in python docker build
  .github/workflows/beam_PreCommit_PythonDocker.yml
Labels: build, Next Action: Reviewers

#29353 Add Java21 Example Dataflow Legacy worker PostCommit and ARM PostCommit
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_Java.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/arm/build.gradle
  runners/google-cloud-dataflow-java/examples/build.gradle
Labels: build, runners, dataflow, Next Action: Reviewers

#29197 Sickbay test_bigtable_write on Dataflow runner
  sdks/python/apache_beam/examples/cookbook/bigtableio_it_test.py
Labels: python, examples, Next Action: Reviewers

#29313 Adding support for pg Jsonb datatype in SpannerIO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/MutationSizeEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/MutationSizeEstimatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#29389 Create workflow for finalizing release
  .github/workflows/finalize_release.yml
Labels: build, Next Action: Reviewers

#29384 Followup #29353 fix several test failures
  .github/workflows/beam_PreCommit_Spotless.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/arm/build.gradle
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/examples/build.gradle
Labels: build, runners, dataflow, Next Action: Reviewers

#29100 Involve CheckStopReadingFn class adding a chance to release resources gracefully
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/CheckStopReadingFn.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/CheckStopReadingFnWrapper.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/WatchForKafkaTopicPartitions.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka, Next Action: Reviewers

#29385 Update default Go version to 1.21.4
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#29375 Add some missing finally blocks on context managers.
  sdks/python/apache_beam/dataframe/expressions.py
  sdks/python/apache_beam/dataframe/pandas_docs_test.py
  sdks/python/apache_beam/runners/portability/flink_uber_jar_job_server_test.py
  sdks/python/apache_beam/runners/portability/spark_uber_jar_job_server_test.py
  sdks/python/apache_beam/runners/worker/logger.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/fully_qualified_named_transform.py
Labels: python, Next Action: Reviewers

#29393 Fix MongoDBIO ignore SSL KeyStore not initialized
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/SSLUtils.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/SSLUtilsTest.java
Labels: java, io, mongodb

#29396 Invoke pyarrow_hotfix to alleviate concerns due to CVE-2023-47248.
  sdks/python/apache_beam/__init__.py
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#29403 [release-2.52.0] Cherry-pick MongoDBIO fix.
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/SSLUtils.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/SSLUtilsTest.java
Labels: java, io, mongodb, Next Action: Reviewers

#29406 Update image tag pattern for RCs in release docs
  contributor-docs/release-guide.md
  website/www/site/content/en/blog/validate-beam-release.md
Labels: website

#29368 [YAML] - Kafka Read and Write proto
  sdks/java/extensions/protobuf/build.gradle
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteUtils.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteUtilsTest.java
  sdks/java/extensions/protobuf/src/test/resources/README.md
  sdks/java/extensions/protobuf/src/test/resources/proto_byte/file_descriptor/proto_byte_utils.pb
  sdks/java/extensions/protobuf/src/test/resources/proto_byte/proto_byte_utils.proto
  sdks/java/io/kafka/README.md
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/resources/proto_byte/file_descriptor/proto_byte_utils.pb
  sdks/java/io/kafka/src/test/resources/proto_byte/proto_byte_utils.proto
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, extensions, kafka, protobuf, yaml

#29411 Add getters to CheckResult in IT framework
  it/conditions/src/main/java/org/apache/beam/it/conditions/ConditionCheck.java
Labels: Next Action: Reviewers

#29412 Mark Avro as provided in harness JAR
  sdks/java/harness/build.gradle
Labels: java

#29416 [YAML] Add yaml metadata to provider schema
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
Labels: python, yaml

#29415 Mark Avro as provided in harness JAR (#29412)
  sdks/java/harness/build.gradle
Labels: java

#29417 Establish list to collection compatibility
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python

#29408 Create contributor-spotlight-johanna-ojeling.md
  website/www/site/content/en/blog/contributor-spotlight-johanna-ojeling.md
Labels: website

#29422 Fix the test 'test_user_agent_passed' without skipping it
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
Labels: python, io, gcp, Next Action: Reviewers

#29421 [RRIO] [Call] Define Caller & SetupTeardown interfaces
  sdks/python/apache_beam/io/requestresponseio.py
  sdks/python/apache_beam/io/requestresponseio_it_test.py
Labels: python, io

#29428 [prism] Fix Go Precommits by disabling fusion.
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
Labels: go, runners, Next Action: Reviewers

#29430 Update container tag to 20231113
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#29431 Fix Go Precommit Triggers
  .github/workflows/beam_PreCommit_Go.yml
  .github/workflows/beam_PreCommit_GoPortable.yml
  .github/workflows/beam_PreCommit_GoPrism.yml
Labels: build

#29432 Fix closing parenthesis in beam_Metrics_Report.yml
  .github/workflows/beam_Metrics_Report.yml
Labels: build, Next Action: Reviewers

#29399 Add logging in data plane code when processing is stuck waiting on data for an instruction.
  sdks/python/apache_beam/runners/worker/data_plane.py
Labels: python, Next Action: Reviewers

#29423 [#28543][prism] Garbage collect side inputs.
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager_test.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/execute_test.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker_test.go
Labels: go, runners, Next Action: Reviewers

#29433 Add damondouglas to REVIEWERS
  .github/REVIEWERS.yml
Labels: build, Next Action: Reviewers

#29441 Add random chars as the job name suffix by default on IT, avoid name collision
  it/common/src/main/java/org/apache/beam/it/common/PipelineLauncher.java
Labels: Next Action: Reviewers

#29395 Add custom pubsub source and sink experiment support for runner v2.
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubSubPayloadTranslation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
Labels: java, io, gcp, Next Action: Reviewers

#29098 Implement a handful of perworkermetrics the bigquery sink (#28903).
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/DelegatingCounter.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/DelegatingHistogram.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/FluentBackoff.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/RetryManager.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiFinalizeWritesDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiFlushAndFinalizeDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableDestination.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/RetryManagerTest.java
Labels: java, io, gcp

#29446 Disable remote cache when no credential provided
  settings.gradle.kts
Labels: build

#29444 Fix Dataflow ARM PostCommit failing on Java21
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  examples/java/build.gradle
  runners/google-cloud-dataflow-java/arm/build.gradle
  sdks/java/io/kafka/build.gradle
Labels: java, build, examples, io, runners, dataflow, kafka

#29360 Gcsio migration
  CHANGES.md
  playground/frontend/playground_components/assets/symbols/python.g.yaml
  sdks/python/apache_beam/examples/complete/game/user_score.py
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_integration_test.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
  sdks/python/apache_beam/io/gcp/gcsio_overrides.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/__init__.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/storage_v1_client.py
  sdks/python/apache_beam/io/gcp/internal/clients/storage/storage_v1_messages.py
  sdks/python/apache_beam/options/pipeline_options_validator_test.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/interactive/utils_test.py
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
  sdks/python/mypy.ini
  sdks/python/setup.py
Labels: python, examples, io, gcp, Next Action: Reviewers

#29230 Test sink name
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
Labels: runners, dataflow, Next Action: Reviewers, slow-review

#29457 Update beam-master container tag for python
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#29458 Update splittable-do-fn.md with links to doc
  website/www/site/content/en/blog/splittable-do-fn.md
Labels: website

#29419 Build multi-arch snapshot containers
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamDockerPlugin.groovy
Labels: build, infra

#29459 Add website reviewers
  .github/REVIEWERS.yml
Labels: build

#29277 Make BigtableChangeStreamIT less flaky by adding a short sleep
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/it/BigtableChangeStreamIT.java
Labels: java, io, gcp, Next Action: Reviewers

#29445 Add 'mean' and 'sum of squared deviations' stats to histogram
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/HistogramData.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/HistogramDataTest.java
Labels: java

#29465 Fix stuck nexmark streaming
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReader.java
Labels: runners, flink, Next Action: Reviewers

#29466 Document compact lifecycle method
  sdks/go/examples/snippets/04transforms.go
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  website/www/site/content/en/documentation/programming-guide.md
Labels: python, go, website, examples, Next Action: Reviewers

#29362 Upgrade Kafka read/write transforms without upgrading the pipeline
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/TransformUpgrader.java
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOUtils.java
  sdks/java/io/kafka/upgrade/build.gradle
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslation.java
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/package-info.java
  sdks/java/io/kafka/upgrade/src/test/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslationTest.java
  settings.gradle.kts
Labels: java, build, io, runners, kafka, core, Next Action: Reviewers

#29331 Website updates for the 2.52.0 release
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.52.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#29391 Fix finalize_release
  .github/workflows/finalize_release.yml
Labels: build

#29460 Copy edit the Custom Remote Inference notebook
  examples/notebooks/beam-ml/custom_remote_inference.ipynb
Labels: examples

#29294 Fix a bunch of no-op typos
  examples/java/src/main/java/org/apache/beam/examples/complete/AutoComplete.java
  examples/notebooks/beam-ml/image_processing_tensorflow.ipynb
  examples/notebooks/beam-ml/nlp_tensorflow_streaming.ipynb
  playground/backend/internal/environment/environment_service.go
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/stableinput/BufferingDoFnRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/RandomAccessData.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/TimeUtil.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateRegistry.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/artifact/ArtifactStagingService.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/AtomicCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/IterableLikeCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSink.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/PAssert.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Regex.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Sets.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ApiSurface.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/common/ReflectHelpers.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/BoundedReadFromUnboundedSourceTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/windowing/WindowTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/common/ReflectHelpersTest.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/extensions/euphoria/src/main/java/org/apache/beam/sdk/extensions/euphoria/core/annotation/operator/package-info.java
  sdks/java/extensions/euphoria/src/main/java/org/apache/beam/sdk/extensions/euphoria/core/client/operator/ReduceWindow.java
  sdks/java/extensions/euphoria/src/main/java/org/apache/beam/sdk/extensions/euphoria/core/client/operator/base/Builders.java
  sdks/java/extensions/euphoria/src/main/java/org/apache/beam/sdk/extensions/euphoria/core/translate/JoinTranslator.java
  sdks/java/extensions/euphoria/src/main/java/org/apache/beam/sdk/extensions/euphoria/core/translate/provider/GenericTranslatorProvider.java
  sdks/java/extensions/euphoria/src/test/java/org/apache/beam/sdk/extensions/euphoria/core/docs/DocumentationExamplesTest.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamLogicalConvention.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamUnnestRel.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/udf/BeamSalUhfSpecialTypeAndValueTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigtable/BigtableTableFlatTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTestTable.java
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOMetadata.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryResourceNaming.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/RetryManager.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/BlockingCommitterImplTest.java
  sdks/python/apache_beam/io/gcp/bigquery_avro_tools.py
  sdks/python/apache_beam/testing/analyzers/__init__.py
Labels: python, java, examples, io, extensions, runners, sql, dataflow, elasticsearch, gcp, flink, fn-execution, euphoria, Next Action: Reviewers

#29482 Define PerStepNamespaceMetrics proto that will be used to send metric updates on the GetData heartbeat requests.
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: runners, dataflow, Next Action: Reviewers

#29469 Add type hint changes to CHANGES.md
  CHANGES.md
Labels: Next Action: Reviewers

#29497 [RRIO][Python] Replace call with __call__ to make caller callable
  sdks/python/apache_beam/io/requestresponseio.py
  sdks/python/apache_beam/io/requestresponseio_it_test.py
Labels: python, io, Next Action: Reviewers

#29483 Adding instructions for PMC finalization
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#29495 remove unnecessary ObjectMapper from JdbcDriver
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/JdbcDriver.java
Labels: java, extensions, sql

#29471 Bugfix/override table ref if null
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
Labels: java, io, gcp, Next Action: Reviewers

#29485 Improve File IO Logging
  sdks/python/apache_beam/io/fileio.py
Labels: python, io

#29503 Revert the value of MAX_BATCH_OPERATION_SIZE in gcsio
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, gcp, Next Action: Reviewers

#29443 Collect metric of message size distribution in KafkaIO read.
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, kafka, Next Action: Reviewers

#29506 Propagate correct boundedness when using multiple outputs
  sdks/python/apache_beam/pvalue.py
  sdks/python/apache_beam/transforms/core_test.py
Labels: python, Next Action: Reviewers

#29400 Kafka adaptive timeout implementation to handle empty topic cases
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
Labels: java, io, kafka, Next Action: Reviewers

#29520 Improve actionability on IT errors (with Dataflow job URL)
  it/conditions/src/main/java/org/apache/beam/it/conditions/ConditionCheck.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/dataflow/AbstractPipelineLauncher.java
Labels: Next Action: Reviewers

#29511 Bump grpc_version dependency
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#29475 add canonical link into javadocs when running post commit
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Javadoc.yml
Labels: build, Next Action: Reviewers

#29470 Attach exact cause in RuntimeException raised
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp, Next Action: Reviewers

#29473 add canonical link into javadocs when releasing javadoc
  .github/workflows/build_release_candidate.yml
Labels: build

#29401 [RRIO] [Throttle] [Cache] Implement Throttle and Cache using an external resource.
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-ThrottleWithExternalResourceTestIT-10-per-1s-quota/configmap.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-ThrottleWithExternalResourceTestIT-10-per-1s-quota/deployment.yaml
  .test-infra/mock-apis/infrastructure/kubernetes/refresher/overlays/echo-ThrottleWithExternalResourceTestIT-10-per-1s-quota/kustomization.yaml
  sdks/java/io/rrio/build.gradle
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/Cache.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/CacheRead.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/CacheWrite.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/Call.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/Quota.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/RedisClient.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/ThrottleDequeue.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/ThrottleEnqueue.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/ThrottleRefreshQuota.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/ThrottleWithExternalResource.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/CacheIT.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/CacheTest.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/CallTest.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/EchoGRPCCallerWithSetupTeardownIT.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/EchoHTTPCallerIT.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/EchoITOptions.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/EchoRequestCoder.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/RedisClientIT.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/ThrottleWithExternalResourceIT.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/ThrottleWithExternalResourceTest.java
Labels: java, infra, io, Next Action: Reviewers

#29439 [prism] Fix downstream side input computations.
  sdks/go/pkg/beam/io/fileio/read_test.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/handlecombine.go
  sdks/go/pkg/beam/runners/prism/internal/handlecombine_test.go
  sdks/go/pkg/beam/runners/prism/internal/handlepardo.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess_test.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/util/pubsubx/pubsub_test.go
Labels: go, io, runners, Next Action: Reviewers

#29513 Update Java dependency management page
  website/www/site/content/en/documentation/sdks/java-dependencies.md
Labels: website

#29524 Close the gRPC channel started for the expansion service
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python

#29523 Revert protobuf version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#29517 Change StateBackedIterable to implement ElementByteSizeObservableIterable avoiding iteration to estimate observe bytes.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateBackedIterable.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/StateBackedIterableTest.java
Labels: java, Next Action: Reviewers

#29522 Add bool type to ClickHouse SDK
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIO.java
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseWriter.java
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/TableSchema.java
  sdks/java/io/clickhouse/src/main/javacc/ColumnTypeParser.jj
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIOTest.java
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/TableSchemaTest.java
Labels: java, io, clickhouse, Next Action: Reviewers

#29530 Revert "revert protobuf version (#29523)"
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#29534 Shutdown remaining Jenkins PreCommit and Performance Test jobs
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_Java_Jmh.groovy
  .test-infra/jenkins/job_PreCommit_Java.groovy
  .test-infra/jenkins/job_PreCommit_Java_GCP_IO_Direct.groovy
  .test-infra/jenkins/job_PreCommit_Java_IOs.groovy
  .test-infra/jenkins/job_PreCommit_Java_PortableValidatesRunner_Flink_Batch.groovy
  .test-infra/jenkins/job_PreCommit_Python.groovy
  .test-infra/jenkins/job_PreCommit_PythonIT.groovy
  .test-infra/jenkins/job_PreCommit_Python_Coverage.groovy
  .test-infra/jenkins/job_PreCommit_Python_Dataframes.groovy
  .test-infra/jenkins/job_PreCommit_Python_DockerBuild.groovy
  .test-infra/jenkins/job_PreCommit_Python_Examples.groovy
  .test-infra/jenkins/job_PreCommit_Python_Runners.groovy
  .test-infra/jenkins/job_PreCommit_Python_Transforms.groovy
  .test-infra/jenkins/job_PreCommit_Python_ValidatesRunner_Flink.groovy
Labels: infra

#29533 Clickhouse support low cardinality
  CHANGES.md
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIO.java
  sdks/java/io/clickhouse/src/main/javacc/ColumnTypeParser.jj
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIOTest.java
Labels: java, io, clickhouse, Next Action: Reviewers

#29519 Fix rendering of playground deployment steps
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#29518 Respect useReflectApi parameter
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/coders/AvroCoder.java
Labels: java, extensions, Next Action: Reviewers

#29486 Remove SuppressWarnings nullness from JsonMatcher
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/JsonMatcher.java
Labels: java, Next Action: Reviewers
