Repository apache/beam, pull requests merged in 2023-05, with the labels that each got.

#26449 [release-2.47.0]Lower the lower bound of protobuf. #26446
  sdks/python/setup.py
Labels: python

#26472 [Python] Add saved_weights example to tf notebook
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
Labels: examples

#26467 Revert "Revert "Modify batch IT to use count instead of hash""
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka, Next Action: Reviewers

#26481 Eliminate nullness errors from MongoDbIO
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/FindQuery.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbGridFSIO.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbIO.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/SSLUtils.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/UpdateConfiguration.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/UpdateField.java
Labels: java, io, mongodb, Next Action: Reviewers

#26476 Pass provisioned options via struct.
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/init/init.go
  sdks/go/pkg/beam/runners/universal/extworker/extworker.go
Labels: go, runners, Next Action: Reviewers

#26462 Add warning and extra flag about disabling Dataflow Runner v2 for Python.
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python, Next Action: Reviewers

#25578 Replace more uses of `ClassLoadingStrategy.Default.INJECTION`
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/SelectByteBuddyHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyOnTimerInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ByteBuddyUtils.java
Labels: java

#26489 Bump streaming test timeouts
  sdks/python/apache_beam/examples/streaming_wordcount_it_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_exercise_streaming_metrics_pipeline_test.py
Labels: python, examples, Next Action: Reviewers

#26235 [Playground] Make fields "categories" and "context_line" optional in examples tags
  learning/katas/python/Core Transforms/Combine/Combine PerKey/task.py
  playground/backend/internal/db/mapper/precompiled_object_mapper.go
  playground/backend/internal/db/mapper/precompiled_object_mapper_test.go
  playground/infrastructure/conftest.py
  playground/infrastructure/datastore_client.py
  playground/infrastructure/helper.py
  playground/infrastructure/models.py
  playground/infrastructure/test_helper.py
Labels: python, learning, Next Action: Reviewers, slow-review

#26286 Added dlq and error metrics to pubsublite read schema transform
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PubsubLiteDlqTest.java
Labels: java, io, gcp, Next Action: Reviewers

#26244 Show legend for postcommit job duration.
  .test-infra/metrics/grafana/dashboards/post-commit_tests.json
Labels: infra

#26499 Cherrypick bump streaming test timeouts into 2.47.0 release branch
  sdks/python/apache_beam/examples/streaming_wordcount_it_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_exercise_streaming_metrics_pipeline_test.py
Labels: python, examples

#25927 FileReadSchemaTransform
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JsonUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JsonSchemaConversionTest.java
  sdks/java/io/common/src/test/java/org/apache/beam/sdk/io/common/SchemaAwareJavaBeans.java
  sdks/java/io/common/src/test/java/org/apache/beam/sdk/io/common/SchemaAwareJavaBeansTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOTestData.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOWriteTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/RowToCsvCSVFormatTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/RowToCsvPredefinedCSVFormatsTest.java
  sdks/java/io/file-schema-transform/build.gradle
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/AvroReadSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileReadSchemaTransformConfiguration.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileReadSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileReadSchemaTransformProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/JsonReadSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/LineReadSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/ParquetReadSchemaTransformFormatProvider.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/AvroReadSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/AvroWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/CsvWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/FileReadSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformFormatProviderTestData.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/JsonReadSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/JsonWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/LineReadSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/ParquetReadSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/ParquetWriteSchemaTransformFormatProviderTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/XmlRowValueTest.java
  sdks/java/io/file-schema-transform/src/test/java/org/apache/beam/sdk/io/fileschematransform/XmlWriteSchemaTransformFormatProviderTest.java
Labels: java, io

#26461 Add custom_data field to LogEntry
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
Labels: model

#26484 [prism] Add dynamic channel & sub element splits.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/execute_test.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/metrics.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/metrics_test.go
  sdks/go/pkg/beam/runners/prism/internal/separate_test.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/testdofns.go
  sdks/go/pkg/beam/runners/prism/internal/testdofns_test.go
  sdks/go/pkg/beam/runners/prism/internal/urns/urns.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle_test.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker_test.go
Labels: go, runners, Next Action: Reviewers

#26503 fix dataloss bug in batch Storage API sink.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#26510 [Go SDK] Remove experimental designation from places in the Go SDK.
  sdks/go/examples/native_wordcap/nativepubsubio/native.go
  sdks/go/examples/wasm/wasm.go
  sdks/go/pkg/beam/core/graph/window/trigger/trigger.go
  sdks/go/pkg/beam/core/runtime/xlangx/expansionx/download.go
  sdks/go/pkg/beam/io/fhirio/common.go
  sdks/go/pkg/beam/io/fhirio/deidentify.go
  sdks/go/pkg/beam/io/fhirio/execute_bundles.go
  sdks/go/pkg/beam/io/fhirio/import.go
  sdks/go/pkg/beam/io/fhirio/read.go
  sdks/go/pkg/beam/io/fhirio/search.go
  sdks/go/pkg/beam/pardo.go
  sdks/go/pkg/beam/transforms/sql/sql.go
  sdks/go/pkg/beam/windowing.go
Labels: go, examples, io

#26487 Fix failing GCP Xlang tests
  sdks/python/apache_beam/io/external/xlang_bigqueryio_it_test.py
Labels: python, io

#26496 [Tour of Beam] [Frontend] Markdown selection fix
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/markdown/code_builder.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/markdown/tob_markdown.dart
  learning/tour-of-beam/frontend/pubspec.lock
  learning/tour-of-beam/frontend/pubspec.yaml
  playground/frontend/playground_components/assets/translations/en.yaml
  playground/frontend/playground_components/lib/src/cache/example_cache.dart
  playground/frontend/playground_components/lib/src/controllers/playground_controller.dart
  playground/frontend/playground_components/lib/src/theme/theme.dart
  playground/frontend/playground_components/pubspec.yaml
  playground/frontend/pubspec.lock
Labels: learning

#26506 Update mass_comment.py when we cut release branch
  .github/workflows/cut_release_branch.yml
  build.gradle.kts
  release/src/main/scripts/jenkins_jobs.txt
  release/src/main/scripts/mass_comment.py
  website/www/site/content/en/contribute/release-guide.md
Labels: build, website

#26526 Add timeout parameter to with_exception_handling.
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/ptransform_test.py
Labels: python

#26530 Small release fixes
  release/src/main/scripts/build_release_candidate.sh
  release/src/main/scripts/run_rc_validation.sh
Labels: build

#26517 Run Playground code on Ctrl+Enter on numpad (#26516)
  learning/tour-of-beam/frontend/lib/shortcuts/shortcuts_manager.dart
  learning/tour-of-beam/frontend/pubspec.lock
  playground/frontend/integration_test/standalone_run_shortcuts_test.dart
  playground/frontend/lib/modules/shortcuts/components/shortcuts_manager.dart
  playground/frontend/playground_components/lib/src/models/run_shortcut.dart
  playground/frontend/playground_components/lib/src/widgets/run_button.dart
  playground/frontend/playground_components/pubspec.yaml
  playground/frontend/playground_components_dev/pubspec.yaml
  playground/frontend/pubspec.lock
  playground/frontend/pubspec.yaml
Labels: learning

#26541 [Tour of Beam] [Frontend] Module complexity on the welcome screen
  learning/tour-of-beam/frontend/lib/components/scaffold.dart
  learning/tour-of-beam/frontend/lib/pages/welcome/screen.dart
Labels: learning

#26518 Add watch_pattern keyword arg to RunInference
  sdks/python/apache_beam/ml/inference/base.py
Labels: python

#26525 GCP Libraries BOM version to 26.14.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#26556 Distribute trigger time for daily load tests
  .test-infra/jenkins/job_CloudMLBenchmarkTests_Python.groovy
  .test-infra/jenkins/job_InferenceBenchmarkTests_Python.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_CoGBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Go.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Go.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python_reiterate.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Dataflow_V2_Java11.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Dataflow_V2_Java17.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Flink_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Go.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Java_spark_structured_streaming.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Go.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Python.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Flink_Go.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Go.groovy
  .test-infra/jenkins/job_LoadTests_coGBK_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Java.groovy
  .test-infra/jenkins/job_PerformanceTests_Python.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_Chicago_Taxi_Example_Flink.groovy
Labels: infra

#26512 Cherry-pick #26503: fix dataloss bug in batch Storage API sink.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#26554 Increase streaming wordcount IT timeout
  sdks/python/apache_beam/examples/streaming_wordcount_it_test.py
Labels: python, examples

#26263 Add Gradle sub-projects to enable parallel running of Kafka tests (#2…
  buildSrc/src/main/groovy/org/apache/beam/gradle/kafka/KafkaTestUtilities.groovy
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/kafka-01103/build.gradle
  sdks/java/io/kafka/kafka-100/build.gradle
  sdks/java/io/kafka/kafka-111/build.gradle
  sdks/java/io/kafka/kafka-201/build.gradle
  sdks/java/io/kafka/kafka-211/build.gradle
  sdks/java/io/kafka/kafka-222/build.gradle
  sdks/java/io/kafka/kafka-231/build.gradle
  sdks/java/io/kafka/kafka-241/build.gradle
  sdks/java/io/kafka/kafka-251/build.gradle
  sdks/java/io/kafka/kafka-integration-test.gradle
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  settings.gradle.kts
Labels: java, build, io, kafka, Next Action: Reviewers

#26548 [Python] Added load model args option, unit tests
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
Labels: python

#26491 Add streaming tests to Storage Write API Python wrapper
  .test-infra/jenkins/job_PostCommit_Python_CrossLanguage_Gcp_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_CrossLanguage_Gcp_Direct.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/apache_beam/io/external/xlang_bigqueryio_it_test.py
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, build, infra, io

#26573 Bigtable: enable batch write flow control
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteOptions.java
Labels: java, io, gcp, Next Action: Reviewers

#26553 Adds kwargs to allow env variables to be set for RunInference
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/onnx_inference.py
  sdks/python/apache_beam/ml/inference/onnx_inference_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
  sdks/python/apache_beam/ml/inference/xgboost_inference.py
  sdks/python/apache_beam/ml/inference/xgboost_inference_test.py
Labels: python, Next Action: Reviewers

#26185 add one windowing example
  examples/notebooks/get-started/learn_beam_windowing_by_doing.ipynb
Labels: examples

#25969 Add the example to learn transforms
  examples/notebooks/get-started/learn_beam_transforms_by_doing.ipynb
Labels: examples

#26586 Fix DLPTextOperationsIT.inspectsText
  sdks/java/extensions/ml/src/test/java/org/apache/beam/sdk/extensions/ml/DLPTextOperationsIT.java
Labels: java, extensions

#26206 wait_until_finish always raises the exception
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python

#26544 [Tour of Beam][Playgorund] Fix Gradle executing tasks during initialization time
  learning/tour-of-beam/terraform/build.gradle.kts
  playground/backend/containers/go/build.gradle
  playground/backend/containers/java/build.gradle
  playground/backend/containers/python/build.gradle
  playground/backend/containers/router/build.gradle
  playground/backend/containers/scio/build.gradle
Labels: learning

#26441 Eliminate nullness errors from sdks/java/extensions/ml
  sdks/java/extensions/ml/build.gradle
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateImages.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoBytesWithContextFn.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoFn.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoFromBytesFn.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoFromURIFn.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoURIWithContextFn.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/DLPDeidentifyText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/DLPInspectText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/DLPReidentifyText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/MapStringToDlpRow.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAICreateCatalogItem.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIImportCatalogItems.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIImportUserEvents.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIPredict.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIWriteUserEvent.java
Labels: java, extensions, Next Action: Reviewers

#26562 Remove never-worked githubPush trigger
  .test-infra/jenkins/CommonJobProperties.groovy
  .test-infra/jenkins/CronJobBuilder.groovy
  .test-infra/jenkins/PostcommitJobBuilder.groovy
  .test-infra/jenkins/job_PostCommit_Java_Sickbay.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Dataflow_V2.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Dataflow_V2_Streaming.groovy
  .test-infra/jenkins/job_PostCommit_Python_CrossLanguage_Gcp_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_CrossLanguage_Gcp_Direct.groovy
  .test-infra/jenkins/job_PostCommit_Python_Sickbay.groovy
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/direct/build.gradle
  sdks/python/test-suites/gradle.properties
Labels: python, infra

#26592 Fix website dependency issue
  website/Dockerfile
Labels: website

#26564 [release] Improve Java Artifact Validation Logic
  release/src/main/scripts/run_rc_validation.sh
Labels: build, Next Action: Reviewers

#26505 [Go SDK] Switch sampler to use ticker instead of sleep.
  sdks/go/pkg/beam/core/runtime/harness/sampler.go
Labels: go, Next Action: Reviewers

#26437 #26456 : Basic Transform metric like throughput, watermark progress & latency support for non data shuffle transforms for Samza Runner
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaPipelineOptions.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaRunner.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/TestSamzaRunner.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaInputMetricOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaMetricOpFactory.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaOutputMetricOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaTransformMetricRegistry.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaTransformMetrics.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/SamzaPipelineTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/TranslationContext.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/util/PipelineJsonRenderer.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/metrics/TestSamzaRunnerWithTransformMetrics.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/util/InMemoryMetricsReporter.java
Labels: runners, samza

#26589 Adding links to PTransform Colab Notebook.
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#26529 Clean up small release guide nits and typos
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#26575 Kafka write metrics and tests
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProviderTest.java
Labels: java, io, kafka

#26482 Add Pubsub lite write metrics and DLQ support
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PubsubLiteWriteDlqTest.java
Labels: java, io, gcp

#26629 [Tour of Beam]Use default value for pg_router_host if it's not specified
  learning/tour-of-beam/terraform/build.gradle.kts
Labels: learning

#26617 Fix json int64 serialization for perf alert commenting
  sdks/python/apache_beam/testing/analyzers/github_issues_utils.py
Labels: python, perf-alert

#26620 Revert "Eliminate nullness errors from sdks/java/extensions/ml"
  sdks/java/extensions/ml/build.gradle
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateImages.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoBytesWithContextFn.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoFn.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoFromBytesFn.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoFromURIFn.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateVideoURIWithContextFn.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/DLPDeidentifyText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/DLPInspectText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/DLPReidentifyText.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/MapStringToDlpRow.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAICreateCatalogItem.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIImportCatalogItems.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIImportUserEvents.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIPredict.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/RecommendationAIWriteUserEvent.java
Labels: java, extensions, Next Action: Reviewers

#26439 Beam 2.47.0 Release Website Updates
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.47.0.md
  website/www/site/content/en/get-started/downloads.md
  website/www/site/data/authors.yml
Labels: website

#26142 #25962 Fix for Java SDF-based Kafka ingestion being stuck at certain offsets in certain conditions
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
Labels: java, io, kafka, Next Action: Reviewers

#26355 Add ReadChangeStream end time logic, minor cleanup
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/GenerateInitialPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/BigtableChangeStreamAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/ChangeStreamDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/DetectNewPartitionsDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/PartitionRecord.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/package-info.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/GenerateInitialPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
Labels: java, io, gcp

#25913 Add synchronized to getExtensionRegistry() lazy initialization
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoCoder.java
Labels: java, extensions, protobuf, Next Action: Reviewers

#26645 Fix the GitHub Actions postcommit dashboard
  .test-infra/metrics/grafana/dashboards/GA-Post-Commits_status_dashboard.json
  .test-infra/metrics/sync/github/sync_workflows.py
Labels: python, infra

#26607 Bigtable: add an experiments flag to enable client side metrics
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceFactory.java
Labels: java, io, gcp, Next Action: Reviewers

#26657 Fix FileWriteSchemaTransformProvider
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileWriteSchemaTransformProvider.java
Labels: java, io

#26651 Add max/min batch size to tf model handlers
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
Labels: python

#26670 Configure spanner label
  .github/autolabeler.yml
Labels: build

#26652 Remove fetching committer GitHub account name in seed job
  .test-infra/jenkins/Committers.groovy
  .test-infra/jenkins/committers_list_generator/main.py
  .test-infra/jenkins/job_00_seed.groovy
  .test-infra/jenkins/job_seed_standalone.groovy
Labels: infra

#26590 Enrich docs around rc validations
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#26674 [#26576] Set CGO_ENABLED=0 for go builds.
  sdks/go/pkg/beam/runners/universal/runnerlib/compile.go
  sdks/go/run_with_go_version.sh
  website/www/site/content/en/documentation/sdks/go-cross-compilation.md
Labels: go, website, runners, Next Action: Reviewers

#26676 Exclude google-cloud-bigtable 2.18.0
  sdks/python/setup.py
Labels: python

#26630 [Tour of Beam] [Frontend] Unit navigation
  learning/tour-of-beam/frontend/assets/translations/en.yaml
  learning/tour-of-beam/frontend/integration_test/tour_page_test.dart
  learning/tour-of-beam/frontend/integration_test/welcome_page_test.dart
  learning/tour-of-beam/frontend/lib/components/scaffold.dart
  learning/tour-of-beam/frontend/lib/models/content_tree.dart
  learning/tour-of-beam/frontend/lib/models/node.dart
  learning/tour-of-beam/frontend/lib/models/parent_node.dart
  learning/tour-of-beam/frontend/lib/models/unit.dart
  learning/tour-of-beam/frontend/lib/pages/tour/controllers/content_tree.dart
  learning/tour-of-beam/frontend/lib/pages/tour/page.dart
  learning/tour-of-beam/frontend/lib/pages/tour/path.dart
  learning/tour-of-beam/frontend/lib/pages/tour/state.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/complete_unit_button.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/content_tree.dart
  learning/tour-of-beam/frontend/lib/pages/tour/widgets/unit_content.dart
  learning/tour-of-beam/frontend/lib/pages/welcome/screen.dart
Labels: learning

#26351 Capture build scans on ge.apache.org to benefit from deep build insights
  settings.gradle.kts
Labels: build, Next Action: Reviewers

#25940 Fix triggered side inputs
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/DirectWriteViewVisitor.java
  runners/flink/flink_runner.gradle
  runners/flink/job-server/flink_job_server.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/StreamingViewOverrides.java
  runners/jet/build.gradle
  runners/samza/build.gradle
  runners/samza/job-server/build.gradle
  runners/spark/job-server/spark_job_server.gradle
  runners/spark/spark_runner.gradle
  runners/twister2/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/GenerateSequence.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesTriggeredSideInputs.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/View.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionViews.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ViewTest.java
Labels: java, runners, dataflow, Next Action: Reviewers

#26672 Add all committers manually
  .test-infra/jenkins/Committers.groovy
  .test-infra/jenkins/committers_list_generator/main.py
  .test-infra/jenkins/committers_list_generator/requirements.txt
  .test-infra/jenkins/committers_list_generator/templates/Committers.groovy.template
  website/www/site/content/en/contribute/committer-guide.md
Labels: website, infra

#26430 Add GitHub action for publishing java artifacts
  .github/workflows/build_release_candidate.yml
  release/src/main/scripts/build_release_candidate.sh
  website/www/site/content/en/contribute/release-guide.md
Labels: build, website

#26647 Support ByteBuffer and String objects in BeamRowToStorageApiProto
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProtoTest.java
Labels: java, io, gcp

#26603 More tests and docs update for env_vars in ModelHandler
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/onnx_inference_test.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference_test.py
  sdks/python/apache_beam/ml/inference/xgboost_inference_test.py
  website/www/site/content/en/documentation/sdks/python-machine-learning.md
Labels: python, website

#26666 Support configuration of maxCapacityPerShard when reading from Kinesis with EFO
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/EFOShardSubscriber.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/EFOShardSubscribersPool.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/ShardReadersPool.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOReadTest.java
Labels: java, io, aws

#26464 [Avro] Update Beam documentation
  website/www/site/content/en/documentation/io/connectors.md
  website/www/site/content/en/documentation/io/developing-io-java.md
  website/www/site/content/en/documentation/io/io-standards.md
  website/www/site/content/en/documentation/ml/orchestration.md
Labels: website

#26650 proposal for more reviewers
  .github/REVIEWERS.yml
Labels: build, Next Action: Reviewers

#26684 Fix 2.47.0 release notes
  CHANGES.md
  website/www/site/content/en/blog/beam-2.47.0.md
Labels: website

#26606 [Release] Add build container dockerfile to release code
  release/src/main/Dockerfile
Labels: build, Next Action: Reviewers

#26688 Allow model handlers to request multi_process_shared model
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python, Next Action: Reviewers

#26682 Remove deprecated AWS 2 client providers
  CHANGES.md
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/dynamodb/BasicDynamoDbClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDbClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/AWSClientsProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/BasicKinesisProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisSource.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/BasicSnsClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/BasicSqsClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsUnboundedReader.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/MockClientBuilderFactory.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/dynamodb/BasicDynamoDbClientProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIOReadTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIOWriteTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/dynamodb/StaticDynamoDBClientProvider.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/BasicKinesisClientProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIOReadTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisSourceTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/BasicSnsClientProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/SnsIOTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/BasicSqsClientProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsIOReadTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsIOWriteTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/SqsUnboundedReaderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/StaticSqsClientProvider.java
Labels: java, io, aws, Next Action: Reviewers

#26608 Fix WRITE_EMPTY disposition fail duplicate copy job
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
Labels: python, io, gcp

#26646 [release] Remove generate_release_notes.sh
  release/src/main/scripts/publish_github_release_notes.sh
  website/www/site/content/en/contribute/release-guide.md
Labels: build, website

#25963 ToB Learning materials contribution guide
  learning/tour-of-beam/learning-content/README.md
  learning/tour-of-beam/learning-content/content-tree.png
Labels: learning

#26639 [Go SDK] Resolve go lints
  sdks/go/pkg/beam/core/graph/fn.go
  sdks/go/pkg/beam/core/runtime/exec/timers.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
Labels: go, Next Action: Reviewers

#26524 [Go SDK]: Enable fileio.MatchContinuously to emit duplicate file if modified
  sdks/go/pkg/beam/io/fileio/file.go
  sdks/go/pkg/beam/io/fileio/helper_test.go
  sdks/go/pkg/beam/io/fileio/match.go
  sdks/go/pkg/beam/io/fileio/match_test.go
Labels: go, io

#26700 Add back cloud profiler
  CHANGES.md
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#26712 Explicitly link the license to Keras dependency
  sdks/python/container/license_scripts/dep_urls_py.yaml
Labels: python, docker, Next Action: Reviewers

#26711 Drop deprecated AWS SnsIO.writeAsync
  CHANGES.md
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/BasicSnsAsyncClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsAsyncClientProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsResponse.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsResponseCoder.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/BasicSnsAsyncClientProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/MockSnsAsyncBaseClient.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/MockSnsAsyncClient.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/MockSnsAsyncExceptionClient.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/SnsIOWriteTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/SnsResponseCoderTest.java
Labels: java, io, aws

#26665 Improve ValueError message and docstring in Deduplicate
  sdks/python/apache_beam/transforms/deduplicate.py
Labels: python, Next Action: Reviewers

#26699 Add BigTable batch size and latency metrics for writes
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
Labels: java, io, gcp, Next Action: Reviewers

#26717 Set upperbound for cloud bigtable client
  sdks/python/setup.py
Labels: python

#26715 Remove deprecated AWS coders
  CHANGES.md
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/coders/AwsCoders.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/coders/package-info.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/PublishResponseCoders.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sns/SnsIO.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/coders/AwsCodersTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/PublishResponseCodersTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sns/SnsIOTest.java
Labels: java, io, aws

#26370 Ensure FnApi bag appends are not batched if it would exceed 10MB limit
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ByteStringOutputStream.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/ByteStringOutputStreamTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/BagUserState.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/BagUserStateTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/FakeBeamFnStateClient.java
Labels: java, Next Action: Reviewers

#26701 [Go SDK] Fix poor implementation of type identity checks.
  sdks/go/pkg/beam/core/graph/coder/registry.go
  sdks/go/pkg/beam/core/graph/coder/registry_test.go
  sdks/go/pkg/beam/core/typex/class.go
Labels: go, Next Action: Reviewers

#26683 [Python] Added load model option args for PyTorch Model Handler
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
Labels: python

#26720 Update cloud profile download to use curl instead of wget
  sdks/java/container/build.gradle
Labels: java, docker, Next Action: Reviewers

#26707 Properly tag test so it is excluded on unsupported runners
  runners/portability/java/build.gradle
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ViewTest.java
Labels: java, Next Action: Reviewers

#26454 Update Bigtable Change Stream Connector to include latest features
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ChangeStreamMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/TimestampConverter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/UniqueIdGenerator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/GenerateInitialPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ProcessNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ResumeFromPreviousPipelineAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/BigtableChangeStreamAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/ChangeStreamDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/DaoFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableAdminDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/DetectNewPartitionsDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/InitializeDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/encoder/MetadataTableEncoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/DetectNewPartitionsState.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/InitialPipelineState.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/NewPartition.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/PartitionRecord.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/model/StreamPartitionWithWatermark.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/reconciler/OrphanedMetadataCleaner.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/reconciler/PartitionReconciler.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/DetectNewPartitionsTracker.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/ReadChangeStreamPartitionProgressTracker.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/StreamProgress.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/ByteStringRangeHelperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/TimestampConverterTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/DetectNewPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/GenerateInitialPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ReadChangeStreamPartitionActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/action/ResumeFromPreviousPipelineActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/MetadataTableDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/InitializeDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/reconciler/OrphanedMetadataCleanerTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/reconciler/PartitionReconcilerTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/DetectNewPartitionsTrackerTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/restriction/ReadChangeStreamPartitionProgressTrackerTest.java
Labels: java, io, gcp, Next Action: Reviewers

#26731 [Go SDK]: Fix flaky local fs LastModified test
  sdks/go/pkg/beam/io/filesystem/local/local_test.go
Labels: go, io

#26747 add guppy to py311 requirements/containers
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#26738 Fix Java Dataflow PostCommit
  runners/google-cloud-dataflow-java/build.gradle
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/BaseFirestoreIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadIT.java
Labels: java, io, runners, dataflow, gcp, Next Action: Reviewers

#26727 Spanner - add default retryable codes
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#26744 [Python] Update protobuf version to 4.23
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py37/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#26760 Update cut_release_branch.yml with write permissions
  .github/workflows/cut_release_branch.yml
Labels: build

#26763 Update cut_release_branch.yml with pr creation permissions
  .github/workflows/cut_release_branch.yml
Labels: build

#26690 Colab Notebook Integration Tests
  sdks/python/apache_beam/testing/notebooks/__init__.py
  sdks/python/apache_beam/testing/notebooks/runner.py
  sdks/python/apache_beam/testing/notebooks/testlib.py
  sdks/python/setup.py
Labels: python

#26757 26756-Python-SDK-Harness-Failure-Log-Critical
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
Labels: python, Next Action: Reviewers

#26649 Basic Opeartor Metric Support For Data Shuffle (GBK and Combine Per Key) Operators for Samza Runner
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaGBKMetricOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaInputMetricOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaMetricOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaMetricOpFactory.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaTransformMetricRegistry.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/metrics/SamzaTransformMetrics.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/TranslationContext.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/metrics/TestSamzaRunnerWithTransformMetrics.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/metrics/TestSamzaTransformMetricsRegistry.java
Labels: runners, samza

#26777 Match catch clause in the codepath that reports the error to the worker to a clause that marks the bundle as failed.
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#26753 Don't fail if creating a venv didn't succeed. Also provide a way to disable creating separate venvs.
  sdks/python/container/boot.go
Labels: python, docker

#26752 Only use updated schema if auto update is enabled
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp, Next Action: Reviewers

#26778 Don't fail if creating a venv didn't succeed - CP of #26753
  sdks/python/container/boot.go
Labels: python, docker, runners, dataflow

#26762 [Playground] Always start emulators for all examples
  examples/java/src/main/java/org/apache/beam/examples/KafkaWordCountAvro.java
  examples/java/src/main/java/org/apache/beam/examples/KafkaWordCountJson.java
  playground/backend/cmd/server/controller_test.go
  playground/backend/datasets/CountWordsAvro.avro
  playground/backend/datasets/CountWordsJson.json
  playground/backend/internal/emulators/emulator.go
  playground/backend/internal/setup_tools/life_cycle/life_cycle_setuper.go
  playground/infrastructure/ci_cd.py
  playground/infrastructure/conftest.py
  playground/infrastructure/helper.py
  playground/infrastructure/test_helper.py
Labels: java, examples, Next Action: Reviewers

#26784 Enable local build caching for CI builds
  settings.gradle.kts
Labels: build, Next Action: Reviewers

#26780 Cherrypick #26777 to the release branch.
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#26746 Cache total size in file based source
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/FileBasedSourceTest.java
Labels: java

#26787 bump go version to 1.20.4
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/run_with_go_version.sh
Labels: go, build, Next Action: Reviewers

#26791 Cherry-pick #26752 - Only use updated schema if auto update is enabled
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#26508 Replace another use of `ClassLoadingStrategy.Default.INJECTION`
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ConvertHelpers.java
Labels: java

#26805 Close the iframe tag (#26804)
  website/www/site/layouts/index.html
Labels: website

#26807 Update the 2.47 release notes with the autoUpdateSchema issue
  website/www/site/content/en/blog/beam-2.47.0.md
Labels: website

#26794 #26789 Fix auto schema update when schema order has changed.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableSchemaUpdateUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableSchemaUpdateUtilsTest.java
Labels: java, io, gcp, Next Action: Reviewers

#26797 Restore the behavior that failing to create a venv fails the pipeline.
  CHANGES.md
  sdks/python/container/boot.go
Labels: python, docker

#26799 Cherry-picks #26797 to the release branch.
  CHANGES.md
  sdks/python/container/boot.go
Labels: python, docker, Next Action: Reviewers

#26801 Exclude org.apache.beam.sdk.testing.UsesTriggeredSideInputs in StreamingRunnerV2 suite.
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#26810 [cherry-pick] Merge pull request #26794: #26789 Fix auto schema update when schema …
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableSchemaUpdateUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableSchemaUpdateUtilsTest.java
Labels: java, io, gcp

#25823 Featue/online clustering
  sdks/python/apache_beam/examples/california_housing_clustering.py
  sdks/python/apache_beam/examples/online_clustering.py
Labels: python, examples, Next Action: Reviewers

#26768 fix container environment links in cross-compilation page
  website/www/site/content/en/documentation/sdks/go-cross-compilation.md
Labels: website

#26722 Allow model handlers to consume multi_process_shared for large models
  sdks/python/apache_beam/ml/inference/onnx_inference.py
  sdks/python/apache_beam/ml/inference/onnx_inference_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference_test.py
Labels: python, Next Action: Reviewers

#26821 Migrate Colab Integration Tests
  examples/notebooks/notebook_test_scripts/__init__.py
  examples/notebooks/notebook_test_scripts/runner.py
  examples/notebooks/notebook_test_scripts/testlib.py
Labels: examples

#26771 Allow for same name and type, if it is not ambiguous in yaml inputs
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python

#26823 Fix broken link
  website/www/site/content/en/contribute/release-guide.md
Labels: website

#26820 [Minor] Remove notebook utils from interactive_test
  sdks/python/setup.py
Labels: python

#25113 #25112 No longer use GetTable to implement CREATE_IF_NEEDED to avoid low quotas
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTableDestinations.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTableHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkCreateIfNeededIT.java
Labels: java, io, gcp

#26667 install beam from a released version instead of head
  examples/notebooks/beam-ml/run_inference_xgboost.ipynb
Labels: examples

#26825 Add workflow for staging java artifacts
  .github/workflows/build_release_candidate.yml
Labels: build

#26770 Include "(GPN:Beam)" in user-agent of GCS HTTP request header for Java.
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/Transport.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/TransportTest.java
Labels: java, extensions, gcp, Next Action: Reviewers

#26816 Revert Playground links to prod environment
  website/www/site/content/en/blog/ApachePlayground.md
  website/www/site/content/en/get-started/resources/learning-resources.md
  website/www/site/content/en/get-started/try-beam-playground.md
  website/www/site/layouts/index.html
  website/www/site/layouts/shortcodes/playground.html
  website/www/site/layouts/shortcodes/playground_iframe.html
Labels: website

#25231 #25232 bump log4j2 to 2.20.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#26557 Render inputDir in HadoopFormatIO.Read DisplayData
  sdks/java/io/hadoop-format/src/main/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIO.java
  sdks/java/io/hadoop-format/src/test/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIOReadTest.java
Labels: java, io, hadoop, Next Action: Reviewers

#26273 Use default value true for autoSharding if not configured for BigQuery with STORAGE_WRITE_API
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySchemaIOProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
Labels: java, io, gcp, Next Action: Reviewers

#26869 Push transform service containers with rest of containers
  build.gradle.kts
Labels: build

#26871 Push transform service containers with rest of containers (#26869)
  build.gradle.kts
Labels: build

#26860 Fix Playground on home page with Safari
  website/www/site/assets/js/language-switch-v2.js
  website/www/site/assets/scss/_playground.sass
  website/www/site/layouts/index.html
  website/www/site/layouts/shortcodes/playground.html
Labels: website

#26835 Add fallback reviewers.
  .github/REVIEWERS.yml
Labels: build, Next Action: Reviewers

#26697 Implement a fast (lcg) random generator for Python SyntheticSource
  .test-infra/jenkins/job_LoadTests_Combine_Python.groovy
  .test-infra/jenkins/job_LoadTests_GBK_Python.groovy
  .test-infra/jenkins/job_LoadTests_ParDo_Python.groovy
  .test-infra/jenkins/job_LoadTests_SideInput_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_BigQueryIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_PubsubIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_SpannerIO_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_xlang_KafkaIO_Python.groovy
  sdks/python/apache_beam/testing/fast_test_utils.pxd
  sdks/python/apache_beam/testing/fast_test_utils.pyx
  sdks/python/apache_beam/testing/load_tests/load_test.py
  sdks/python/apache_beam/testing/synthetic_pipeline.py
  sdks/python/apache_beam/testing/test_utils.py
  sdks/python/apache_beam/testing/test_utils_test.py
  sdks/python/scripts/generate_pydoc.sh
Labels: python, infra, Next Action: Reviewers

#25587 minor fix introduction
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/from-memory/description.md
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/from-memory/python-example/from_memory.py
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/reading-from-csv/go-example/csvExample.go
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/reading-from-csv/java-example/CSVExample.java
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/reading-from-text/description.md
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/reading-from-text/go-example/textIo.go
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/reading-from-text/java-example/TextIOExample.java
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/reading-from-text/python-example/textIo.py
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/pipeline-concepts/creating-pipeline/description.md
Labels: learning, Next Action: Reviewers

#26878 make sure that we capture all writes to the failed records in a metric
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#26885 Fix Go Code Coverage.
  .github/workflows/go_tests.yml
Labels: build

#26886 Cherry-pick: Always invalidate write stream (#26872)
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp, Next Action: Reviewers

#26887 Cherry-pick: Capture all writes to the failed records in a metric (#26878)
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp, Next Action: Reviewers
