Repository apache/beam, pull requests merged in 2024-12, with the labels that each got.

#33053 update 2.60.0 changelog to include a fix in Bigtable
  CHANGES.md
  website/www/site/content/en/blog/beam-2.60.0.md
Labels: website, Next Action: Reviewers

#33168 Add safe to ignore category to dashboard/alerting
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/config.yaml
Labels: infra, Next Action: Reviewers

#33257 Revert "bump hadoop version"
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#33259 Revert "SolaceIO.Read: handle occasional cases when finalizeCheckpoint is not executed (#32962)"
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BasicAuthJcsmpSessionService.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/MessageReceiver.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SessionService.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SolaceMessageReceiver.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/SolaceCheckpointMark.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/UnboundedSolaceReader.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockEmptySessionService.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockSessionService.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/SolaceIOReadTest.java
Labels: java, io

#33171 Revert "Revert "Update vllm colab to work with asyncio requirements""
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
Labels: examples

#33261 Remove dupe metadata
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
Labels: examples

#33262 [CHANGES] Add prism note to 2.61 release blog and CHANGES.md
  CHANGES.md
  website/www/site/content/en/blog/beam-2.61.0.md
Labels: website

#33258 Remove unnecessary branches on Python version in typehint code
  sdks/python/apache_beam/typehints/decorators.py
  sdks/python/apache_beam/typehints/decorators_test.py
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/typed_pipeline_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#32769 Propagate gcs-connector options to GcsUtil
  CHANGES.md
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/GcpCoreApiSurfaceTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtilTest.java
Labels: java, extensions, gcp, Next Action: Reviewers, slow-review

#33194 Update republish workflow with latest beam
  .github/workflows/republish_released_docker_containers.yml
Labels: build

#33205 jdbcio write batch config changes
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcWriteSchemaTransformProvider.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProviderTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcWriteSchemaTransformProviderTest.java
  sdks/python/apache_beam/io/jdbc.py
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, jdbc, Next Action: Reviewers, yaml

#33249 Tour of Beam: formatting/typos
  learning/tour-of-beam/learning-content/common-transforms/aggregation/count/description.md
  learning/tour-of-beam/learning-content/common-transforms/aggregation/max/description.md
  learning/tour-of-beam/learning-content/common-transforms/aggregation/min/description.md
  learning/tour-of-beam/learning-content/common-transforms/filter/description.md
  learning/tour-of-beam/learning-content/core-transforms/additional-outputs/description.md
  learning/tour-of-beam/learning-content/core-transforms/branching/description.md
  learning/tour-of-beam/learning-content/core-transforms/combine/combine-per-key/description.md
  learning/tour-of-beam/learning-content/core-transforms/combine/simple-function/description.md
  learning/tour-of-beam/learning-content/core-transforms/composite/description.md
  learning/tour-of-beam/learning-content/core-transforms/flatten/description.md
  learning/tour-of-beam/learning-content/core-transforms/map/co-group-by-key/description.md
  learning/tour-of-beam/learning-content/core-transforms/map/group-by-key/description.md
  learning/tour-of-beam/learning-content/core-transforms/map/map-elements/description.md
  learning/tour-of-beam/learning-content/core-transforms/map/pardo-one-to-one/description.md
  learning/tour-of-beam/learning-content/core-transforms/partition/description.md
  learning/tour-of-beam/learning-content/core-transforms/side-inputs/description.md
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/runner-concepts/description.md
Labels: learning, Next Action: Reviewers

#33184 [yaml] remove PubSubLite from API docs
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteWriteSchemaTransformProvider.java
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
Labels: python, java, io, gcp, yaml

#33225 Changes maxBufferingDuration payload to be taken from millis directly…
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/GroupIntoBatchesTranslation.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/construction/GroupIntoBatchesTranslationTest.java
Labels: java, Next Action: Reviewers, slow-review

#33060 [yaml] error_handling normalization follow-up
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
  sdks/python/apache_beam/yaml/yaml_errors.py
Labels: python, Next Action: Reviewers, yaml

#33278 Use standard sql for BigQuery read schematransform
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryManagedIT.java
Labels: java, io, gcp

#33273 [yaml] Fix YAML join with upstream ReadFromPubSub
  sdks/python/apache_beam/yaml/yaml_join.py
Labels: python, yaml

#33281 Add iceberg gcp dependency
  sdks/java/io/iceberg/build.gradle
Labels: java, io, Next Action: Reviewers

#33280 Fix TypeError: 'type' object is not subscriptable
  sdks/python/apache_beam/metrics/cells.py
Labels: python

#33270 [#32222] Actually maintain the heap invariant for timers.
  CHANGES.md
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
Labels: python, go, runners, prism

#33295 Small string fix for error message
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, yaml

#33298 [#32211] Fail job on SDK worker disconnect, instead of hanging forever.
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
Labels: go, runners, prism

#33288 Synchronize JdbcSchemaIO provider and Python transform configuration field order
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
Labels: python, build, io, Next Action: Reviewers

#33287 [YAML] Document jinja templatization features.
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website

#33190 Enable managed service in Python tests
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Direct.json
  sdks/python/apache_beam/transforms/managed_iceberg_it_test.py
Labels: python, build, Next Action: Reviewers

#33296 [yaml] various inline provider doc fixes
  sdks/python/apache_beam/yaml/yaml_combine.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
Labels: python, yaml

#33311 Add throttling metrics and retries to vertex embeddings
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/ml/transforms/embeddings/vertex_ai.py
Labels: python, build

#33307 Fix FlatMapTuple typehint bug
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/typehints/typed_pipeline_test.py
Labels: python

#33316 Polish FlatMapTuple and MapTuple docstrings
  sdks/python/apache_beam/transforms/core.py
Labels: python, Next Action: Reviewers

#33312 Reapply "bump hadoop version (#33011)"
  .github/trigger_files/beam_PostCommit_Java_Hadoop_Versions.json
  .github/trigger_files/beam_PreCommit_Java_HBase_IO_Direct.json
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/hadoop-common/build.gradle
  sdks/java/io/hadoop-file-system/build.gradle
  sdks/java/io/hadoop-format/build.gradle
  sdks/java/io/hbase/build.gradle
  sdks/java/io/hcatalog/build.gradle
  sdks/java/io/iceberg/build.gradle
Labels: java, build, io, hadoop, hbase, hcatalog, Next Action: Reviewers

#33336 Replace None metric values with 0.0 in Dataflow Cost Benchmark
  sdks/python/apache_beam/testing/load_tests/dataflow_cost_benchmark.py
Labels: python

#33338 Remove the use of google-github-actions/auth@v1
  .github/trigger_files/beam_PostCommit_Java_IO_Performance_Tests.json
  .github/workflows/beam_PostCommit_Java_IO_Performance_Tests.yml
Labels: build, Next Action: Reviewers

#33342 Add hadoop-auth
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Direct.json
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/iceberg/build.gradle
Labels: java, build, io, Next Action: Reviewers

#33302 Remove mandatory beam-sdks-io-kafka dependency for dataflow worker jar
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/StageInfo.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOInitializer.java
Labels: java, io, runners, dataflow, kafka

#33269 Reapply "SolaceIO.Read: handle occasional cases when finalizeCheckpoint is not executed (#32962)" (#33259)
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BasicAuthJcsmpSessionService.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/MessageReceiver.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SessionService.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SolaceMessageReceiver.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/SolaceCheckpointMark.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/UnboundedSolaceReader.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockEmptySessionService.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockSessionService.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/SolaceIOReadTest.java
Labels: java, io

#32674 Update confluent version to fix CVE-2024-26308 CVE-2024-25710
  sdks/java/io/kafka/build.gradle
Labels: java, io, kafka, Next Action: Reviewers

#33196 Add bounded Trie metric type to Python.
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/metrics.proto
  sdks/python/apache_beam/metrics/cells.pxd
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/cells_test.py
  sdks/python/apache_beam/metrics/monitoring_infos.py
Labels: python, model

#33339 Fix custom coder not being used in Reshuffle (global window)
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python

#33337 [#32211] Support OnWindowExpiration in Prism.
  CHANGES.md
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager_test.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
Labels: go, runners, Next Action: Reviewers, prism

#33370 Fix Apache snapshot repo usage
  buildSrc/src/main/groovy/org/apache/beam/gradle/Repositories.groovy
Labels: build, Next Action: Reviewers

#33322 Batch optimized SparkRunner groupByKey
  .github/trigger_files/beam_PostCommit_Java_PVR_Spark_Batch.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark_Java11.json
  CHANGES.md
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/GroupCombineFunctions.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/GroupNonMergingWindowsFunctions.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/GroupNonMergingWindowsFunctionsTest.java
Labels: build, runners, spark, Next Action: Reviewers

#33371 Remove flaky Go DataMGR tests that terminate before read.
  sdks/go/pkg/beam/core/runtime/harness/datamgr_test.go
Labels: go, Next Action: Reviewers

#33354 Clean up Java Tests GitHub workflow
  .github/workflows/java_tests.yml
Labels: build, Next Action: Reviewers

#33363 Fix custom coders not being used in Reshuffle (non global window)
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/typecoders.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/typehints.py
Labels: python

#33377 fix BoundedTrieData get_result return type hint
  sdks/python/apache_beam/metrics/cells.py
Labels: python

#32289 [yaml] Add use cases for Enrichment transform in YAML
  sdks/python/apache_beam/yaml/examples/testing/examples_test.py
  sdks/python/apache_beam/yaml/examples/transforms/ml/bigtable_enrichment.yaml
  sdks/python/apache_beam/yaml/examples/transforms/ml/enrich_spanner_with_bigquery.yaml
Labels: python, Next Action: Reviewers, yaml

#33387 Fix duplicate yml entry causing test result dashboard sync to fail
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink.yml
Labels: build

#33390 Fix yaml error in Flink Java8 ValidatesRunner
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink_Java8.yml
Labels: build

#33282 [YAML] Make datetime available for jinja templatization.
  CHANGES.md
  sdks/python/apache_beam/yaml/main_test.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, yaml

#33283 [YAML] Document the yaml provider include syntax.
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website

#33395 chore: Upgrade google cloud bigdataoss version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#33364 Rag chunking embedding
  sdks/python/apache_beam/ml/rag/__init__.py
  sdks/python/apache_beam/ml/rag/chunking/__init__.py
  sdks/python/apache_beam/ml/rag/chunking/base.py
  sdks/python/apache_beam/ml/rag/chunking/base_test.py
  sdks/python/apache_beam/ml/rag/chunking/langchain.py
  sdks/python/apache_beam/ml/rag/chunking/langchain_test.py
  sdks/python/apache_beam/ml/rag/embeddings/__init__.py
  sdks/python/apache_beam/ml/rag/embeddings/base.py
  sdks/python/apache_beam/ml/rag/embeddings/base_test.py
  sdks/python/apache_beam/ml/rag/embeddings/huggingface.py
  sdks/python/apache_beam/ml/rag/embeddings/huggingface_test.py
  sdks/python/apache_beam/ml/rag/types.py
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface.py
Labels: python

#33382 Faster default coder for unknown windows.
  sdks/python/apache_beam/coders/coder_impl.pxd
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
Labels: python

#33125 Support creating BigLake managed tables
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTableHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkCreateIfNeededIT.java
Labels: java, io, gcp, Next Action: Reviewers

#33378 End to end BoundedTrie metrics through worker and runner APIs.
  sdks/python/apache_beam/metrics/cells.pxd
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/execution.py
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/metrics/metricbase.py
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/apache_beam/runners/direct/direct_metrics.py
  sdks/python/apache_beam/runners/direct/direct_runner_test.py
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/portable_metrics.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: python, runners, prism

#33350 [#32929] Add OrderedListState support to Prism.
  CHANGES.md
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/engine/data.go
  sdks/go/pkg/beam/runners/prism/internal/engine/data_test.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/urns/urns.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
Labels: go, runners, prism

#33391 Add TF MNIST classification cost benchmark
  .github/workflows/beam_Python_CostBenchmarks_Dataflow.yml
  .github/workflows/cost-benchmarks-pipeline-options/python_tf_mnist_classification.txt
  sdks/python/apache_beam/testing/benchmarks/inference/tensorflow_mnist_classification_cost_benchmark.py
Labels: python, build, Next Action: Reviewers

#33402 KafkaIO: Do no throw exceptions if commitSync fails in KafkaUnboundedReader.
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
Labels: java, io, kafka, Next Action: Reviewers

#33403 Add missing to_type_hint to WindowedValueCoder
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test.py
Labels: python

#33359 Python ExternalTransformProvider improvements
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_transform_provider.py
Labels: python, Next Action: Reviewers

#32939 [Managed Iceberg] Support partitioning time types (year, month, day, hour)
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  CHANGES.md
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/SerializableDataFile.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/RecordWriterManagerTest.java
Labels: java, build, io, Next Action: Reviewers

#33208 Validate circular reference for yaml
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python, Next Action: Reviewers, slow-review, yaml

#33267 Added support for SparkRunner streaming stateful processing
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_SparkStructuredStreaming.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark_Java11.json
  CHANGES.md
  runners/spark/spark_runner.gradle
  runners/spark/src/main/java/org/apache/beam/runners/spark/coders/SparkRunnerKryoRegistrator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/stateful/SparkGroupAlsoByWindowViaWindowSet.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/stateful/SparkStateInternals.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/stateful/SparkTimerInternals.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/stateful/StateAndTimers.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/DoFnRunnerWithMetrics.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkInputDataProcessor.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkProcessContext.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/TranslationUtils.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/ParDoStateUpdateFn.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/StatefulStreamingParDoEvaluator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/StreamingTransformTranslator.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/CreateStreamTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/StatefulStreamingParDoEvaluatorTest.java
Labels: build, runners, spark, Next Action: Reviewers

#33386 In contributor docs, don't try to download releases from snapshot repo
  contributor-docs/code-change-guide.md
Labels: Next Action: Reviewers

#33274 [YAML] Better docs for Filter and MapToFields.
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
Labels: python, yaml

#33404 Fix env variable loading in Cost Benchmark workflow
  .github/workflows/beam_Python_CostBenchmarks_Dataflow.yml
  sdks/python/apache_beam/testing/benchmarks/inference/tensorflow_mnist_classification_cost_benchmark.py
Labels: python, build, Next Action: Reviewers

#33414 Revert three commits related to supporting custom coder in reshuffle
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test.py
  sdks/python/apache_beam/coders/typecoders.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/typehints.py
Labels: python

#33401 fix error on start-build-env.sh
  start-build-env.sh
Labels: Next Action: Reviewers

#33294 Bump Iceberg to v1.6.1
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/hive/build.gradle
Labels: java, io, Next Action: Reviewers

#33361 Improve existing Python multi-lang SchemaTransform examples
  examples/multi-language/python/wordcount_external.py
  examples/multi-language/src/main/java/org/apache/beam/examples/multilanguage/schematransforms/ExtractWordsProvider.java
  examples/multi-language/src/main/java/org/apache/beam/examples/multilanguage/schematransforms/JavaCountProvider.java
  examples/multi-language/src/main/java/org/apache/beam/examples/multilanguage/schematransforms/WriteWordsProvider.java
  sdks/python/apache_beam/transforms/external.py
Labels: examples, Next Action: Reviewers

#33381 Migrate lineage counters to bounded tries.
  sdks/python/apache_beam/io/aws/s3filesystem.py
  sdks/python/apache_beam/io/aws/s3filesystem_test.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem_test.py
  sdks/python/apache_beam/io/filebasedsink.py
  sdks/python/apache_beam/io/filebasedsource.py
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/io/filesystems.py
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/localfilesystem.py
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/metrics/metric_test.py
Labels: python, io, aws, gcp

#33431 Update golang.org/x/net to 0.33.0 to avoid a CVE.
  sdks/go.mod
  sdks/go.sum
Labels: go

#33406 [yaml] add RunInference support with VertexAI
  sdks/python/apache_beam/yaml/standard_providers.yaml
  sdks/python/apache_beam/yaml/yaml_ml.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
  sdks/python/apache_beam/yaml/yaml_utils.py
  sdks/python/apache_beam/yaml/yaml_utils_test.py
Labels: python, yaml

#33396 Clean up Python Tests workflow
  .github/workflows/python_tests.yml
Labels: build, Next Action: Reviewers

#33433 [yaml] allow logging bytes in LogForTesting
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, yaml

#33341 Update .GitHub/workflows README.md
  .github/workflows/README.md
Labels: build, Next Action: Reviewers

#33392 [Managed BigQuery] use file loads with Avro format for better performance
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryFileLoadsSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/PortableBigQueryDestinations.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#33332 Support Iceberg partition identity transform
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/ScanTaskReader.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOReadTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/TestDataWarehouse.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/TestFixtures.java
Labels: java, io, Next Action: Reviewers

#33362 [docs] Add new Python SchemaTransform multi-lang guide
  website/www/site/content/en/documentation/sdks/python-custom-multi-language-pipelines-guide.md
Labels: website, Next Action: Reviewers

#32805 BigQueryIO : control StorageWrite parallelism in batch, by reshuffling before write on the number of streams set for BigQueryIO.write() using .withNumStorageWriteApiStreams(numStorageWriteApiStreams)
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryIOLT.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
Labels: java, io, gcp, Next Action: Reviewers

#33458 Clean up Typescript Tests workflow
  .github/workflows/typescript_tests.yml
Labels: build, Next Action: Reviewers

#33444 [Managed Iceberg] refactor integration tests; make it easy to add a new catalog to test suite
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  .github/workflows/IO_Iceberg_Integration_Tests.yml
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/hive/build.gradle
  sdks/java/io/iceberg/hive/src/test/java/org/apache/beam/sdk/io/iceberg/hive/IcebergHiveCatalogIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/HadoopCatalogIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/HiveCatalogIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/IcebergCatalogBaseIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/hiveutils/HiveMetastoreExtension.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/hiveutils/ScriptRunner.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/hiveutils/TestHiveMetastore.java
  sdks/java/io/iceberg/src/test/resources/hive-schema-3.1.0.derby.sql
Labels: java, build, io, Next Action: Reviewers

#33124 [yaml] add mysql, oracle, postgres and sql server providers
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcUtil.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcWriteSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/ReadFromMySqlSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/ReadFromOracleSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/ReadFromPostgresSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/ReadFromSqlServerSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/WriteToMySqlSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/WriteToOracleSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/WriteToPostgresSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/WriteToSqlServerSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/package-info.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProviderTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcWriteSchemaTransformProviderTest.java
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, gcp, jdbc, spanner, yaml

#33455 Remove aws v1 from infrastructure
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Java_Amazon-Web-Services_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_Kinesis_IO_Direct.yml
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/testing/load-tests/build.gradle
  sdks/java/testing/load-tests/src/main/java/org/apache/beam/sdk/loadtests/SyntheticDataPublisher.java
  sdks/java/testing/watermarks/build.gradle
Labels: java, build, io, gcp, Next Action: Reviewers

#33463 Fix typo of output type in the docs.
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/Convert.java
Labels: java

#33462 Fix iceberg ITs
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/build.gradle
Labels: java, io, Next Action: Reviewers

#33436 Implement "stage_file_with_retry" for robust file staging
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python, runners, Next Action: Reviewers, slow-review

#33416 Update xlang kinesis to v2
  .github/trigger_files/beam_PostCommit_Python.json
  CHANGES.md
  sdks/java/io/amazon-web-services2/expansion-service/build.gradle
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/ClientBuilderFactory.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/common/ClientConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisTransformRegistrar.java
  sdks/python/apache_beam/io/external/xlang_kinesisio_it_test.py
  sdks/python/apache_beam/io/kinesis.py
  sdks/python/test-suites/portable/common.gradle
  settings.gradle.kts
Labels: python, java, build, io, aws, Next Action: Reviewers

#33466 Remove aws v1 dependencies
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#33464 Update Java expansion service to use distroless
  sdks/java/expansion-service/container/Dockerfile
Labels: java

#33453 Fix missing worker_id from interceptor
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/worker_status.py
Labels: python, runners, Next Action: Reviewers
