Repository apache/beam, pull requests merged in 2024-08, with the labels that each got.

#32022 Support metrics at Source.split for Direct Runner
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/ExecutorServiceParallelExecutor.java
  runners/flink/flink_runner.gradle
  runners/spark/spark_runner.gradle
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/MetricResultsMatchers.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/MetricsTest.java
Labels: java, runners, spark, direct, flink, Next Action: Reviewers

#32043 Change the gradle task definition in quickstart.
  website/www/site/content/en/get-started/quickstart-java.md
Labels: website, Next Action: Reviewers

#32040 StateWatcher watches and reports changed Pipeline State
  runners/prism/java/build.gradle
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/StateListener.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/StateWatcher.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/StateWatcherTest.java
Labels: runners, prism

#32028 [CsvIO] Create CsvIOParse Class
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIO.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParse.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOStringToCsvRecord.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOStringToCsvRecordTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOTest.java
Labels: java, io, Next Action: Reviewers

#32053 Adds null checks when accessing OperationalLimits in config.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingEngineComputationConfigFetcher.java
Labels: runners, dataflow, Next Action: Reviewers

#32057 [Prism]: Enable ExternalWorkerService during Prism Runner lifecycle
  runners/prism/java/build.gradle
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/WorkerService.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/WorkerServiceTest.java
Labels: runners

#32049 Handle rc container in _update_container_image_for_dataflow
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python, Next Action: Reviewers

#31862 Add some large model troubleshooting steps
  website/www/site/content/en/documentation/ml/large-language-modeling.md
Labels: website

#32065 [#32064][prism] Keep elements heap in sequence order.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/timers.go
Labels: go, runners

#32041 Update top_wikipedia_sessions to be more idiomatic with beam.Map.
  sdks/python/apache_beam/examples/complete/top_wikipedia_sessions.py
  sdks/python/apache_beam/examples/complete/top_wikipedia_sessions_test.py
Labels: python, examples

#32078 Fix error when ActiveWorkRefresher processed empty heartbeat map.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/ActiveWorkRefresher.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/ActiveWorkRefresherTest.java
Labels: runners, dataflow

#31803 Minor optimization for the common case of merging empty string sets.
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/StringSetData.java
Labels: runners, core

#32062 Fix load test dataproc cluster name exceeded allowed length
  .github/workflows/beam_LoadTests_Python_CoGBK_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Flink_Streaming.yml
Labels: build, Next Action: Reviewers

#31925 Beam Website Updates for 2.58.0 Release
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.58.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers, slow-review

#32038 Added support for the TOKENLIST type in Spanner
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#32083 Enforce java.nio.charset.StandardCharsets against guava Charsets
  examples/java/src/main/java/org/apache/beam/examples/complete/kafkatopubsub/transforms/FormatTransform.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/StreamingImpulseSource.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkJobServerDriverTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkPipelineExecutionEnvironmentTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSubmissionTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ExecutableStageDoFnOperatorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/FlinkKeyUtilsTest.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/graph/Nodes.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/common/worker/GroupingShuffleEntryIteratorTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternalsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateReaderTest.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/artifact/ArtifactStagingService.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/state/StateRequestHandlers.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/artifact/ArtifactRetrievalServiceTest.java
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/testing/TestUniversalRunner.java
  sdks/java/build-tools/src/main/resources/beam/checkstyle/checkstyle.xml
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/providers/LoggingTransformProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/errorhandling/BadRecord.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyOnTimerInvokerFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/resourcehints/ResourceHints.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/StructuralByteArrayTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/FileBasedSinkTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/FileIOTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TFRecordIOTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOReadTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOWriteTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextRowCountEstimatorTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/WriteFilesTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/options/PipelineOptionsFactoryTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTranslationTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/BufferedElementCountingOutputStreamTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/ExposedByteArrayInputStreamTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/ExposedByteArrayOutputStreamTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/SerializableUtilsTest.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExpansionServiceTest.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/AvroGenericCoderTranslator.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/io/AvroIOTest.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonService.java
  sdks/java/extensions/sql/jdbc/build.gradle
  sdks/java/extensions/sql/jdbc/src/main/java/org/apache/beam/sdk/extensions/sql/jdbc/BeamSqlLine.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/text/TextTableProviderTest.java
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseWriter.java
  sdks/java/io/contextualtextio/src/test/java/org/apache/beam/sdk/io/contextualtextio/ContextualTextIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/QueryReader.java
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/SqlTransformRunner.java
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/TableSchemaJSONLoader.java
  sdks/java/transform-service/launcher/src/test/java/org/apache/beam/sdk/transformservice/launcher/TransformServiceLauncherTest.java
Labels: java, build, examples, io, extensions, runners, sql, dataflow, clickhouse, gcp, kafka, flink, fn-execution, portability, Next Action: Reviewers

#32084 [Prism] Enable artifact staging during Prism Runner lifecycle
  runners/prism/java/build.gradle
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismArtifactStager.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismArtifactStagerTest.java
Labels: runners

#32068 Add Lineage metrics for BigtableIO
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Lineage.java
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableService.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteIT.java
Labels: java, io, gcp, bigtable

#32037 Add Lineage metrics to PubsubIO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSource.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
Labels: java, io, gcp

#32086 [#32085][prism] Fix session windowing.
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: python, go, runners, Next Action: Reviewers

#32092 [prism] Use non-deprecated docker types in environment.
  CHANGES.md
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/runners/prism/internal/environments.go
Labels: go, runners, Next Action: Reviewers

#32066 Exclude a not yet implemented pandas op from dataframe tests.
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
  sdks/python/setup.py
Labels: python

#32045 [#21515][Go SDK] Update go protobuf package to new version
  CHANGES.md
  sdks/go.mod
  sdks/go/cmd/beamctl/cmd/provision.go
  sdks/go/container/boot_test.go
  sdks/go/container/tools/provision.go
  sdks/go/pkg/beam/artifact/gcsproxy/retrieval.go
  sdks/go/pkg/beam/artifact/gcsproxy/staging.go
  sdks/go/pkg/beam/artifact/materialize.go
  sdks/go/pkg/beam/artifact/materialize_test.go
  sdks/go/pkg/beam/coder.go
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/coder.go
  sdks/go/pkg/beam/core/runtime/graphx/schema/schema.go
  sdks/go/pkg/beam/core/runtime/graphx/schema/schema_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/core/runtime/harness/harness_test.go
  sdks/go/pkg/beam/core/runtime/harness/statemgr.go
  sdks/go/pkg/beam/core/runtime/pipelinex/clone_test.go
  sdks/go/pkg/beam/core/runtime/pipelinex/replace.go
  sdks/go/pkg/beam/core/runtime/pipelinex/replace_test.go
  sdks/go/pkg/beam/core/runtime/pipelinex/util.go
  sdks/go/pkg/beam/core/runtime/xlangx/resolve_test.go
  sdks/go/pkg/beam/core/util/protox/any.go
  sdks/go/pkg/beam/core/util/protox/any_test.go
  sdks/go/pkg/beam/core/util/protox/base64.go
  sdks/go/pkg/beam/core/util/protox/protox.go
  sdks/go/pkg/beam/create_test.go
  sdks/go/pkg/beam/provision/provision.go
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/runners/dataflow/dataflowlib/execute.go
  sdks/go/pkg/beam/runners/universal/runnerlib/job.go
  sdks/go/pkg/beam/runners/universal/runnerlib/stage.go
  sdks/go/pkg/beam/runners/universal/universal.go
  sdks/go/pkg/beam/transforms/xlang/schema/external.go
  sdks/java/container/boot.go
  sdks/python/container/boot.go
Labels: python, java, go, docker, runners, dataflow, Next Action: Reviewers

#32095 Fix Beam Schema to Iceberg Schema ID conversion logic
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergUtils.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergUtilsTest.java
Labels: java, build, io, Next Action: Reviewers

#32091 [Prism] Enable Job management for the Prism runner
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismJobManager.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismJobManagerTest.java
Labels: runners

#31986 Override BQ load job location when necessary
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: python, io, gcp, Next Action: Reviewers

#32100 Fix classifier dropped in artifact pom.xml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#32110 Revert "Update cython requirement from <1 to <4 in /sdks/python (#320…
  sdks/python/container/base_image_requirements_manual.txt
Labels: python, docker

#32111 [Go SDK] s3 filesystem: Fix nilable content length, update deps.
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/io/filesystem/s3/s3.go
Labels: go, io, Next Action: Reviewers

#32122 Fix Lineage name breaking change
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Lineage.java
Labels: java

#32132 Generate python dependencies
  sdks/python/container/license_scripts/dep_urls_py.yaml
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#32135 Bump up google-cloud-storage version to fix data corruption issue
  sdks/python/setup.py
Labels: python

#32109 Expose watermarkIdleDurationThreshold parameter to the user in SolaceIO read connector
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/SolaceIO.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/UnboundedSolaceReader.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/UnboundedSolaceSource.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/WatermarkParameters.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/WatermarkPolicy.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/SolaceIOTest.java
Labels: java, io, Next Action: Reviewers

#32112 Upgrade Apache Beam to use Cython 3.x.
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/stream.pyx
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/execution.py
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/worker/logger.py
  sdks/python/apache_beam/runners/worker/opcounters.py
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/runners/worker/statesampler_fast.pyx
  sdks/python/apache_beam/testing/fast_test_utils.pyx
  sdks/python/apache_beam/transforms/cy_combiners.py
  sdks/python/apache_beam/transforms/cy_dataflow_distribution_counter.pyx
  sdks/python/apache_beam/transforms/stats.py
  sdks/python/apache_beam/utils/counters.py
  sdks/python/apache_beam/utils/windowed_value.py
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/pyproject.toml
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#31494 Create Beam YAML Join documentation
  website/www/site/content/en/documentation/sdks/yaml-join.md
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: website, Next Action: Reviewers

#32140 [#32139] Fail pipelines with Stateful SDFs.
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
Labels: go, runners, Next Action: Reviewers

#32119 [#32115] Fix timer support, support timer clears.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/timers.go
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: python, go, runners

#32052 Managed Iceberg hive support and integration tests
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  .github/workflows/IO_Iceberg_Integration_Tests.yml
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/hive/build.gradle
  sdks/java/io/iceberg/hive/exec/build.gradle
  sdks/java/io/iceberg/hive/src/test/java/org/apache/beam/sdk/io/iceberg/hive/IcebergHiveCatalogIT.java
  sdks/java/io/iceberg/hive/src/test/java/org/apache/beam/sdk/io/iceberg/hive/testutils/HiveMetastoreExtension.java
  sdks/java/io/iceberg/hive/src/test/java/org/apache/beam/sdk/io/iceberg/hive/testutils/ScriptRunner.java
  sdks/java/io/iceberg/hive/src/test/java/org/apache/beam/sdk/io/iceberg/hive/testutils/TestHiveMetastore.java
  sdks/java/io/iceberg/hive/src/test/resources/hive-schema-3.1.0.derby.sql
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergCatalogConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/SchemaTransformConfiguration.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOReadTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOWriteTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergSchemaTransformTranslationTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/ScanSourceTest.java
  settings.gradle.kts
Labels: java, build, io, Next Action: Reviewers

#32142 [CsvIO]: Implement CsvIOParse::withCustomRecordParsing method
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParse.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseConfiguration.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseTest.java
Labels: java, io

#32118 Add support for setting an HTTP read timeout for BigQueryIO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp, Next Action: Reviewers

#32146 fix: cover bigquery datetime fraction 1 to 6 or absent
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
Labels: java, io, gcp, Next Action: Reviewers

#31798 Replace StateTag.StateBinder to top level StateBinder in SparkStateInternals
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_SparkStructuredStreaming.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark_Java11.json
  runners/core-java/src/main/java/org/apache/beam/runners/core/StateTag.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/stateful/SparkStateInternals.java
Labels: runners, spark, core, Next Action: Reviewers

#32145 Fix broken Beam Quest URL in README.md
  README.md
Labels: Next Action: Reviewers

#31657 Added insertion and enrichment pipeline
  examples/notebooks/beam-ml/rag_usecase/beam_rag_notebook.ipynb
  examples/notebooks/beam-ml/rag_usecase/chunks_generation.py
  examples/notebooks/beam-ml/rag_usecase/redis_connector.py
  examples/notebooks/beam-ml/rag_usecase/redis_enrichment.py
Labels: examples

#32160 Update names.py with container image tag
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#31659 Support withFormatRecordOnFailureFunction() for BigQuery STORAGE_WRITE_API and STORAGE_API_AT_LEAST_ONCE methods
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/SplittingIterable.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiConvertMessages.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinations.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsBeamRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsGenericRecord.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsTableRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritePayload.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#32166 Added a data corruption known issue to CHANGES.md and release blogs.
  CHANGES.md
  website/www/site/content/en/blog/beam-2.53.0.md
  website/www/site/content/en/blog/beam-2.54.0.md
  website/www/site/content/en/blog/beam-2.55.0.md
  website/www/site/content/en/blog/beam-2.56.0.md
  website/www/site/content/en/blog/beam-2.57.0.md
  website/www/site/content/en/blog/beam-2.58.0.md
Labels: website

#32074 Fixes GitHub issue #30257
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/SerializableComparator.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/SerializableComparatorTest.java
Labels: java

#32116 Add Lineage metrics to Python BigQueryIO
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/apache_beam/io/gcp/bigquery_read_internal.py
  sdks/python/apache_beam/io/gcp/bigquery_schema_tools_test.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/metrics/metric_test.py
Labels: python, io, gcp, Next Action: Reviewers

#32044 Change FnApiDoFnRunner to skip trySplit checkpoint requests if not draining and nothing has yet been claimed by the tracker.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
Labels: java, Next Action: Reviewers

#32172 Gemma Sentiment and Summarization Example Notebook
  examples/notebooks/beam-ml/gemma_2_sentiment_and_summarization.ipynb
Labels: examples

#32090 Add Lineage metrics to FileSystems
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSink.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSource.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystem.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystems.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/ReadAllViaFileBasedSourceTransform.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Lineage.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/LineageTest.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/storage/GcsFileSystem.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/s3/S3FileSystem.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/S3FileSystem.java
  sdks/java/io/azure/src/main/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystem.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/text/TextIOIT.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageSourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteRename.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSource.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
Labels: java, io, extensions, aws, gcp, tests, bigtable

#32138 Bump to Java11 for GHA runner
  .github/actions/setup-environment-action/action.yml
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
  .github/workflows/README.md
  .github/workflows/beam_LoadTests_Java_GBK_Dataflow_V2_Batch.yml
  .github/workflows/beam_LoadTests_Java_GBK_Dataflow_V2_Streaming.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_Java.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_V2_Java.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Dataflow_JavaVersions.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Direct_JavaVersions.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink_Java8.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Spark_Java8.yml
  .github/workflows/beam_PreCommit_SQL.yml
  .github/workflows/beam_PreCommit_SQL_Java8.yml
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Batch_2GB_of_100B_records.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Batch_2GB_of_100kB_records.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Batch_2GB_of_10B_records.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Batch_fanout_4_times_with_2GB_10-byte_records_total.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Batch_fanout_8_times_with_2GB_10-byte_records_total.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Batch_reiterate_4_times_10kB_values.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Batch_reiterate_4_times_2MB_values.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Streaming_2GB_of_100B_records.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Streaming_2GB_of_100kB_records.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Streaming_2GB_of_10B_records.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Streaming_fanout_4_times_with_2GB_10-byte_records_total.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Streaming_fanout_8_times_with_2GB_10-byte_records_total.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Streaming_reiterate_4_times_10kB_values.txt
  .github/workflows/load-tests-pipeline-options/java_GBK_Dataflow_V2_Streaming_reiterate_4_times_2MB_values.txt
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/DirectRunnerTest.java
  sdks/java/testing/test-utils/build.gradle
  sdks/java/testing/test-utils/src/test/java/org/apache/beam/sdk/testutils/jvmverification/JvmVerification.java
Labels: java, build, runners, direct

#32171 Fix PostCommit Python sklearn on Python3.12
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/examples/inference/sklearn_examples_requirements.txt
Labels: python, build, examples

#32182 [prism] Skip python tests that require an expansion service at this time.
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: python

#32183 Fix verifyJavaVersion in a few places
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/examples/build.gradle
  sdks/java/container/common.gradle
  sdks/java/testing/test-utils/build.gradle
Labels: java, docker, runners, dataflow, Next Action: Reviewers

#32134 Fix configuration of ReadFromKafkaViaSDF which was always enabling redistribute and allowing duplicates instead of basing it on configuration.
  CHANGES.md
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  website/www/site/content/en/blog/beam-2.58.0.md
Labels: java, io, kafka, Next Action: Reviewers

#32188 Copy editing the Gemma notebook
  examples/notebooks/beam-ml/gemma_2_sentiment_and_summarization.ipynb
Labels: examples

#32197 Increase snapshot publish timeout
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
Labels: build, Next Action: Reviewers

#32180 [#32121] Support timers in interval windows.
  sdks/go/pkg/beam/runners/prism/internal/coders.go
  sdks/go/pkg/beam/runners/prism/internal/coders_test.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/timers.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
Labels: go, runners, Next Action: Reviewers

#32203 Update dataflow container versions
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#32202 Cherry pick #32134
  CHANGES.md
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
Labels: java, io, kafka

#32136 Add callback to with_exception_handling
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/core_test.py
Labels: python, Next Action: Reviewers

#32210 [prism] Catch panics in primary execution goroutines.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
Labels: go, runners

#32198 [#31926] [java] call provision service when creating external workers.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/ExternalWorkerService.java
Labels: java

#32184 [#31927,#31928][prism] Support StringSet and Gauge metrics.
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api_grpc.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api.pb.go
  sdks/go/pkg/beam/model/fnexecution_v1/beam_provision_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_artifact_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api_grpc.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/endpoints.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/external_transforms.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/metrics.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/schema.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/standard_window_fns.pb.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/metrics.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/metrics_test.go
Labels: go, runners

#32212 [Java11 Migration] Migrate Go testing to use Java11 container image for xlang
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/examples/kafka/taxi.go
  sdks/go/examples/xlang/bigquery/wordcount.go
  sdks/go/test/build.gradle
Labels: go, build, examples

#32117 [yaml] Doc improvements
  sdks/python/apache_beam/yaml/yaml_combine.py
  website/www/site/content/en/documentation/sdks/yaml-combine.md
  website/www/site/content/en/documentation/sdks/yaml-inline-python.md
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: python, website, yaml

#32200 Update Gemma 2 Notebook
  examples/notebooks/beam-ml/gemma_2_sentiment_and_summarization.ipynb
Labels: examples

#32209 More Java11 test fix
  .github/workflows/beam_PostCommit_Go_VR_Samza.yml
  .github/workflows/beam_PostCommit_Java_PVR_Samza.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Samza.yml
  .github/workflows/beam_PostCommit_Python_ValidatesRunner_Samza.yml
  .github/workflows/beam_PostCommit_XVR_Samza.yml
  .github/workflows/beam_PreCommit_Java_HCatalog_IO_Direct.yml
  .github/workflows/beam_PreCommit_Java_IOs_Direct.yml
  .github/workflows/beam_PreCommit_Java_Spark3_Versions.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#32205 Update website for 2.58.1 release
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.58.1.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#32101 Make BQ file load limit controls public
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
Labels: java, io, gcp, Next Action: Reviewers

#32133 SolaceIO.read: Encode url parameters in REST requests.
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SempBasicAuthClientExecutor.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/broker/SempBasicAuthClientExecutorTest.java
Labels: java, io, Next Action: Reviewers

#32220 update runner image
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
Labels: build

#32233 [prism] rename watermarkRefreshs concept to changedStages.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/teststream.go
Labels: go, runners, Next Action: Reviewers

#32238 Add hard delete function to multi_process_shared
  sdks/python/apache_beam/utils/multi_process_shared.py
  sdks/python/apache_beam/utils/multi_process_shared_test.py
Labels: python, Next Action: Reviewers

#32229 Update ClickHouseIO to use the latest version of the ClickHouse JDBC driver (0.6.4)
  CHANGES.md
  sdks/java/io/clickhouse/build.gradle
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIO.java
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseWriter.java
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIOTest.java
Labels: java, io, clickhouse, Next Action: Reviewers

#32213 feat: optimize Spanner changestream metadata table
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataAdminDao.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataAdminDaoTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#32141 Add basic testing for yaml join docs.
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_join.py
  website/www/site/content/en/documentation/sdks/yaml-join.md
Labels: python, website, yaml

#32240 Update beam-master to 20240819
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#32232 Include Iceberg Hive runtime dependencies in IO expansion service container
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/iceberg/hive/build.gradle
Labels: java, build, io

#32187 Add a pattern for using a shared object as a cache
  website/www/site/content/en/documentation/patterns/overview.md
  website/www/site/content/en/documentation/patterns/shared-class.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website, Next Action: Reviewers

#32244 Bump google-ads API to v17
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/build-tools/src/main/resources/beam/checkstyle/suppressions.xml
  sdks/java/io/google-ads/build.gradle
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/GoogleAdsIO.java
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/GoogleAdsV17.java
  sdks/java/io/google-ads/src/test/java/org/apache/beam/sdk/io/googleads/DummyRateLimitPolicy.java
  sdks/java/io/google-ads/src/test/java/org/apache/beam/sdk/io/googleads/GoogleAdsV17Test.java
  sdks/java/io/google-ads/src/test/java/org/apache/beam/sdk/io/googleads/MockGoogleAdsClientFactory.java
Labels: java, build, io

#32253 Add to ClickHouseIO dedicated useragnet
  CHANGES.md
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIO.java
Labels: java, io, clickhouse, Next Action: Reviewers

#32247 Portable runner fixes
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/JobServicePipelineResult.java
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/PortableRunner.java
  runners/portability/java/src/test/java/org/apache/beam/runners/portability/PortableRunnerTest.java
Labels: runners, portability

#32170 Add Lineage metrics to KafkaIO
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaExactlyOnceSink.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedSource.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriter.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibilityTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
Labels: java, io, kafka

#32093 [yaml] Fix PubSub error message
  sdks/python/apache_beam/yaml/yaml_io.py
Labels: python, yaml

#32239 Add BatchElements overview doc to Beam Website
  website/www/site/content/en/documentation/patterns/batch-elements.md
  website/www/site/content/en/documentation/patterns/overview.md
Labels: website, Next Action: Reviewers

#32246 [#32245][Go SDK] Copy bytes sent over the State API Writer.
  CHANGES.md
  sdks/go/pkg/beam/core/runtime/harness/statemgr.go
Labels: go, Next Action: Reviewers, P1

#32256 Update nltk version to 3.9.1
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#32223 [#32221] [prism] Terminate streams for each timerfamily+transform pair.
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: python, go, runners

#31856 Add ErrorHandler DLQ API to Python
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/error_handling.py
  sdks/python/apache_beam/transforms/error_handling_test.py
Labels: python

#32242 [Managed Iceberg] Support BigQuery Metastore catalog
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/iceberg/bigquerymetastore/bqms-catalog/iceberg-bigquery-catalog-1.5.2-0.1.0.jar
  sdks/java/io/iceberg/bigquerymetastore/build.gradle
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/BigQueryMetastoreCatalogIT.java
  settings.gradle.kts
Labels: java, build, io, Next Action: Reviewers

#32153 Allow setting BigQuery endpoint
  CHANGES.md
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#32262 Fixes a breakage related to Kafka upgrade
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslation.java
Labels: java, io, kafka

#32271 Revert "Portable runner fixes"
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/JobServicePipelineResult.java
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/PortableRunner.java
  runners/portability/java/src/test/java/org/apache/beam/runners/portability/PortableRunnerTest.java
Labels: runners, portability

#32270 Update requests package to 2.32.0
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#32269 Better error when Python xlang download jar not available
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python

#32272 Do not create new Executor everytime createRunner
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/SplittableDoFnOperator.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/SplittableProcessFnFactory.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SplittableParDoProcessKeyedElementsOp.java
Labels: runners, dataflow, flink, samza, Next Action: Reviewers

#32260 Better error message when trying to get Beam Schema from proto schema with Struct
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslator.java
Labels: java, extensions, protobuf, Next Action: Reviewers

#32226 Add SetState support for SparkRunner
  runners/spark/src/main/java/org/apache/beam/runners/spark/stateful/SparkStateInternals.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/stateful/SparkStateInternalsTest.java
Labels: runners, spark, Next Action: Reviewers

#32280 Cherrypick #32276 to 2.59.0 release branch.
  sdks/go/cmd/prism/prism.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/server.go
  sdks/go/pkg/beam/runners/prism/internal/web/web.go
  sdks/go/pkg/beam/runners/prism/prism.go
Labels: go, runners

#32281 Move RunInference GC to finalize_bundle
  sdks/python/apache_beam/ml/inference/base.py
Labels: python

#32285 Check experiment for hotkey logging
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowWorkProgressUpdater.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/StreamingWorkScheduler.java
Labels: runners, dataflow

#32282 Download BQMS catalog jar at build time
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/bigquerymetastore/bqms-catalog/iceberg-bigquery-catalog-1.5.2-0.1.0.jar
  sdks/java/io/iceberg/bigquerymetastore/build.gradle
Labels: java, build, io

#32290 Cherry pick: Check experiment for hotkey logging (#32285)
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowWorkProgressUpdater.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/StreamingWorkScheduler.java
Labels: runners, dataflow

#32287 [CHANGES.md] Add 2.60.0 section.
  CHANGES.md
Labels: build, Next Action: Reviewers

#32299 Disable sickbay scheduled runs
  .github/workflows/beam_PostCommit_Sickbay_Python.yml
Labels: build

#32178 Loose BigQuery GCP project ID regex restrictions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpersTest.java
Labels: java, io, gcp, Next Action: Reviewers

#32297 Parallelize building wheels per language version
  .github/workflows/build_wheels.yml
Labels: build, Next Action: Reviewers

#32301 Rename delimiter to sep to pass to pandas.
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/tests/tsv.yaml
Labels: python, Next Action: Reviewers, yaml

#32298 Fix TextIO.read() split with non-default delimiter
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOReadTest.java
Labels: java, Next Action: Reviewers

#32294 Implement Java TestPrismRunner and PrismRunner
  runners/prism/java/build.gradle
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismExecutor.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismLocator.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismPipelineOptions.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismPipelineResult.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismRunner.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismRunnerRegistrar.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/TestPrismPipelineOptions.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/TestPrismRunner.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismExecutorTest.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismPipelineResultTest.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismRunnerTest.java
Labels: runners

#32304 Cherry Pick #32294 (Java PrismRunner and TestPrismRunner) to the release.
  runners/prism/java/build.gradle
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismExecutor.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismLocator.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismPipelineOptions.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismPipelineResult.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismRunner.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismRunnerRegistrar.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/TestPrismPipelineOptions.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/TestPrismRunner.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismExecutorTest.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismPipelineResultTest.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismRunnerTest.java
Labels: runners, prism

#32293 Make autosharding test more robust
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: python, io, gcp

#32314 Cherry Pick #32178: Loose BigQuery GCP project ID regex restrictions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpersTest.java
Labels: java, io, gcp, Next Action: Reviewers

#32317 Fixed invalid links on `programming-guide.md`
  website/www/site/content/en/documentation/programming-guide.md
Labels: website, Next Action: Reviewers

#32320 Add beam summit banner
  website/www/site/layouts/partials/header.html
  website/www/site/static/images/banner_desktop.png
  website/www/site/static/images/banner_mobile.png
Labels: website

#32008 Add schema to SpannerIO read
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerQuerySourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaRetrievalException.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerTableSourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/StructUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/StructUtilsTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#32323 Move beam summit banner to top of swiper slide
  website/www/site/layouts/partials/header.html
Labels: website

#32216 fix failing ProtoSchemaTranslator on proto3 optional fields
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslator.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslatorTest.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/TestProtoSchemas.java
  sdks/java/extensions/protobuf/src/test/proto/proto3_schema_messages.proto
  sdks/java/extensions/protobuf/src/test/proto/proto3_schema_options.proto
Labels: java, extensions, protobuf, Next Action: Reviewers, slow-review

#32319 Refactor PubsubIO Lineage metrics to work with all runners
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Lineage.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PreparePubsubWriteDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSource.java
Labels: java, io, gcp

#32303 Preserve numeric string literals when reading from json.
  CHANGES.md
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/io/textio_test.py
Labels: python, io

#32337 Add doc string and signature to generated Python wrappers
  sdks/python/apache_beam/transforms/external_transform_provider.py
  sdks/python/apache_beam/transforms/external_transform_provider_it_test.py
  sdks/python/gen_xlang_wrappers.py
Labels: python

#32346 Add quality warnings to pulsar
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/PulsarIO.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/ReadFromPulsarDoFn.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/WriteToPulsarDoFn.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/package-info.java
Labels: java, io

#32348 Fix pr building of wheels
  .github/workflows/build_wheels.yml
Labels: build

#32338 Document dynamic destination key should be unique over the pipeline
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/DynamicDestinations.java
Labels: java, io, gcp

#32347 Filter out old actions runs from dashboard
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/main.py
Labels: infra

#32312 Add predicate to control which columns are propagated when propagating successful rows
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp, Next Action: Reviewers

#32328 Fix remote execution test flakiness in tearDown
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
Labels: runners, fn-execution, Next Action: Reviewers

#32340 Fix BigtableIO.write() client sharing
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceFactory.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableSharedClientTest.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#32353 Fix pr building of wheels
  .github/workflows/build_wheels.yml
Labels: build

#32354 Pause delete images in public AR
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: infra

#32351 Try deflaking test timing
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python

#31682 Remove expensive shuffle of read data in KafkaIO when using sdf and commit offsets
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaCommitOffset.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaCommitOffsetTest.java
Labels: java, io, kafka, Next Action: Reviewers

#32363 Relocate guava in shaded hive-exec
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/hive/exec/build.gradle
Labels: java, build, io

#30666 add ExternalTransformProvider example
  examples/multi-language/README.md
  examples/multi-language/python/wordcount_external.py
  examples/multi-language/src/main/java/org/apache/beam/examples/multilanguage/schematransforms/ExtractWordsProvider.java
  examples/multi-language/src/main/java/org/apache/beam/examples/multilanguage/schematransforms/JavaCountProvider.java
  examples/multi-language/src/main/java/org/apache/beam/examples/multilanguage/schematransforms/WriteWordsProvider.java
  sdks/standard_expansion_services.yaml
Labels: examples

#32369 Updates Python SDK harness HEAD container for Dataflow.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#32345 docs: modernize py dependencies docs and example
  sdks/python/apache_beam/examples/complete/juliaset/pyproject.toml
  sdks/python/apache_beam/examples/complete/juliaset/setup.py
  sdks/python/apache_beam/examples/complete/juliaset/src/__init__.py
  sdks/python/apache_beam/examples/complete/juliaset/src/juliaset/__init__.py
  sdks/python/apache_beam/examples/complete/juliaset/src/juliaset/juliaset.py
  sdks/python/apache_beam/examples/complete/juliaset/src/juliaset/juliaset_test.py
  sdks/python/apache_beam/examples/complete/juliaset/src/juliaset/juliaset_test_it.py
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: python, website, examples

#32356 Fix Dataflow ARM Java Example PostCommit bad gradle cache
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/CoGroup.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Watch.java
Labels: java, build

#32362 Fix using `GcsIO` from a `DoFn`in Python
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, gcp

#32376 Fix BQ storage stream split
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamSource.java
Labels: java, io, gcp, Next Action: Reviewers

#32082 Improve BatchElements documentation
  sdks/python/apache_beam/transforms/util.py
Labels: python, Next Action: Reviewers, slow-review

#32382 Revert "docs: modernize py dependencies docs and example"
  sdks/python/apache_beam/examples/complete/juliaset/juliaset/__init__.py
  sdks/python/apache_beam/examples/complete/juliaset/juliaset/juliaset.py
  sdks/python/apache_beam/examples/complete/juliaset/juliaset/juliaset_test.py
  sdks/python/apache_beam/examples/complete/juliaset/juliaset/juliaset_test_it.py
  sdks/python/apache_beam/examples/complete/juliaset/pyproject.toml
  sdks/python/apache_beam/examples/complete/juliaset/setup.py
  sdks/python/apache_beam/examples/complete/juliaset/src/juliaset/__init__.py
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: python, website, examples

#32386 Temporarily remove BQMS catalog until it is opend-sourced
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/iceberg/bigquerymetastore/build.gradle
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/BigQueryMetastoreCatalogIT.java
  settings.gradle.kts
Labels: java, build, io

#32379 Memoize toString() for MetricKey and MetricName
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricKey.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricName.java
Labels: java, Next Action: Reviewers
