Repository apache/beam, pull requests merged in 2024-11, with the labels that each got.

#32992 fix typo: self.gaguge->self.gauge
  website/www/site/content/en/documentation/programming-guide.md
Labels: website, Next Action: Reviewers

#32970 Update type hinting in Python examples to PEP 585 standards
  sdks/python/apache_beam/examples/complete/estimate_pi.py
  sdks/python/apache_beam/examples/cookbook/bigtableio_it_test.py
  sdks/python/apache_beam/examples/cookbook/datastore_wordcount.py
  sdks/python/apache_beam/examples/cookbook/group_with_coder.py
  sdks/python/apache_beam/examples/inference/huggingface_language_modeling.py
  sdks/python/apache_beam/examples/inference/huggingface_question_answering.py
  sdks/python/apache_beam/examples/inference/onnx_sentiment_classification.py
  sdks/python/apache_beam/examples/inference/pytorch_image_classification.py
  sdks/python/apache_beam/examples/inference/pytorch_image_classification_with_side_inputs.py
  sdks/python/apache_beam/examples/inference/pytorch_image_segmentation.py
  sdks/python/apache_beam/examples/inference/pytorch_language_modeling.py
  sdks/python/apache_beam/examples/inference/pytorch_model_per_key_image_segmentation.py
  sdks/python/apache_beam/examples/inference/run_inference_side_inputs.py
  sdks/python/apache_beam/examples/inference/sklearn_japanese_housing_regression.py
  sdks/python/apache_beam/examples/inference/sklearn_mnist_classification.py
  sdks/python/apache_beam/examples/inference/tensorflow_imagenet_segmentation.py
  sdks/python/apache_beam/examples/inference/tensorflow_mnist_classification.py
  sdks/python/apache_beam/examples/inference/tensorrt_object_detection.py
  sdks/python/apache_beam/examples/inference/tfx_bsl/tensorflow_image_classification.py
  sdks/python/apache_beam/examples/inference/vertex_ai_image_classification.py
  sdks/python/apache_beam/examples/inference/vllm_text_completion.py
  sdks/python/apache_beam/examples/inference/xgboost_iris_classification.py
  sdks/python/apache_beam/examples/kafkataxi/kafka_taxi.py
  sdks/python/apache_beam/examples/wordcount_xlang_sql.py
Labels: python, examples, Next Action: Reviewers

#32979 Support caching in Apache Beam by using relative co_filename paths.
  sdks/python/apache_beam/internal/dill_pickler.py
  sdks/python/apache_beam/internal/pickler_test.py
Labels: python, Next Action: Reviewers

#33002 Temporarily disable TensorRT PostCommit suite
  sdks/python/test-suites/dataflow/common.gradle
Labels: python

#33000 Remove usage of deprecated _serialize
  sdks/python/apache_beam/ml/inference/onnx_inference.py
Labels: python, Next Action: Reviewers

#32956 Add a simple validation transform to yaml.
  sdks/python/apache_beam/yaml/json_utils.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_mapping_test.py
Labels: python, yaml

#32678 Add Managed Iceberg example
  examples/java/build.gradle
  examples/java/src/main/java/org/apache/beam/examples/cookbook/IcebergTaxiExamples.java
Labels: java, examples, Next Action: Reviewers, slow-review

#32880 Update typecheck err msg
  sdks/python/apache_beam/io/gcp/pubsub_test.py
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/typehints/decorators_test.py
  sdks/python/apache_beam/typehints/typed_pipeline_test.py
Labels: python, io, gcp, Next Action: Reviewers

#32910 Remove extraneous/incorrect ValidatesRunner classification from examples unit tests
  examples/java/src/test/java/org/apache/beam/examples/WordCountTest.java
  examples/java/src/test/java/org/apache/beam/examples/complete/TopWikipediaSessionsTest.java
  examples/java/src/test/java/org/apache/beam/examples/complete/game/GameStatsTest.java
  examples/java/src/test/java/org/apache/beam/examples/complete/game/HourlyTeamScoreTest.java
  examples/java/src/test/java/org/apache/beam/examples/complete/game/UserScoreTest.java
  examples/java/src/test/java/org/apache/beam/examples/cookbook/BigQueryTornadoesTest.java
  examples/java/src/test/java/org/apache/beam/examples/cookbook/DistinctExampleTest.java
  examples/java/src/test/java/org/apache/beam/examples/cookbook/FilterExamplesTest.java
  examples/java/src/test/java/org/apache/beam/examples/cookbook/JoinExamplesTest.java
  examples/java/src/test/java/org/apache/beam/examples/cookbook/MaxPerKeyExamplesTest.java
  examples/java/src/test/java/org/apache/beam/examples/cookbook/MinimalBigQueryTornadoesTest.java
  examples/java/src/test/java/org/apache/beam/examples/cookbook/TriggerExampleTest.java
  examples/kotlin/src/test/java/org/apache/beam/examples/kotlin/cookbook/DistinctExampleTest.kt
  examples/kotlin/src/test/java/org/apache/beam/examples/kotlin/cookbook/FilterExamplesTest.kt
  examples/kotlin/src/test/java/org/apache/beam/examples/kotlin/cookbook/JoinExamplesTest.kt
  examples/kotlin/src/test/java/org/apache/beam/examples/kotlin/cookbook/MaxPerKeyExamplesTest.kt
Labels: java, examples, kotlin, Next Action: Reviewers

#33008 Update code-change-guide.md
  contributor-docs/code-change-guide.md
Labels: Next Action: Reviewers

#33018 Update snowflake-jdbc to 3.20
  sdks/java/io/snowflake/build.gradle
Labels: java, io, Next Action: Reviewers

#33016 Upgrade antlr from 4.7 to 4.13.1
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#32879 [Managed Iceberg] Allow updating partition specs during pipeline runtime
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  CHANGES.md
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AppendFilesToTables.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/FileWriteResult.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/SerializableDataFile.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteToDestinations.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/RecordWriterManagerTest.java
Labels: java, build, io

#32940 [Managed Iceberg] bubble up exceptions due to writer close
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriter.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/RecordWriterManagerTest.java
Labels: java, io

#32905 extract semaphore logic out of WeightBoundedQueue to allow for sharing the weigher
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/WeightedBoundedQueue.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/WeightedSemaphore.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/Commits.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingApplianceWorkCommitter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingEngineWorkCommitter.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/WeightBoundedQueueTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingEngineWorkCommitterTest.java
Labels: runners, dataflow, Next Action: Reviewers

#33009 Add Flush Interval to default Buffered Logger
  sdks/go/container/tools/buffered_logging.go
Labels: python, docker, Next Action: Reviewers

#32889 [KafkaIO] Determine partition backlog using endOffsets instead of seek2End and position
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTestTable.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaMocks.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, kafka, Next Action: Reviewers

#32920 [KafkaIO] Remove unused property, assignment in finalize will not be observed
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
Labels: java, io, kafka

#33029 Add buildSrc to trigger path of Java PreCommit
  .github/workflows/beam_PreCommit_Java.yml
Labels: build

#33028 Revert "Upgrade antlr from 4.7 to 4.13.1"
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#32981 Add Kafka 3 to and remove Kafka 0.x and 1.x from compatibility test
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/kafka-01103/build.gradle
  sdks/java/io/kafka/kafka-100/build.gradle
  sdks/java/io/kafka/kafka-111/build.gradle
  settings.gradle.kts
Labels: java, build, io, kafka, Next Action: Reviewers

#32960 Distroless python sdk
  sdks/python/container/Dockerfile
  sdks/python/container/common.gradle
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/gradle.properties
Labels: python, docker, Next Action: Reviewers

#33030 Remove antlr from dependency from java-core pom
  runners/direct-java/build.gradle
  sdks/java/core/build.gradle
Labels: java, runners, direct

#33032 Update run_inference_vllm.ipynb
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
Labels: examples

#32883 Add equals/hashcode to test data class to avoid direct runner coder warning
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/WithKeysTest.java
Labels: java

#33033 Use sys.executable to find python command.
  sdks/python/apache_beam/ml/inference/vllm_inference.py
Labels: python

#33026 Update Java ExpansionService to use arbitrary PipelineOptions set through an ExpansionRequest
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/PipelineOptionsTranslation.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExpansionServiceTest.java
Labels: java

#32980 Bump Hadoop versions for compatibility test
  .github/trigger_files/beam_PostCommit_Java_Hadoop_Versions.json
  sdks/java/io/hadoop-common/build.gradle
  sdks/java/io/hadoop-file-system/build.gradle
  sdks/java/io/hadoop-format/build.gradle
  sdks/java/io/hcatalog/build.gradle
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/parquet/build.gradle
Labels: java, build, io, hadoop, hcatalog, parquet, Next Action: Reviewers

#33058 Don't pin to latest tag
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
Labels: examples

#33047 [yaml] Normalize error_handling docs on API catalog
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
Labels: python, yaml

#33044 [yaml] SpannerIO docs and minor improvments
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteSchemaTransformProvider.java
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, gcp, spanner, yaml

#33042 Simplify MoreFutures.supplyAsync and MoreFutures.runAsync using a wrapper instead of chained stages and multiple completions.
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/MoreFutures.java
Labels: java

#33076 Fix exception sampling logic
  sdks/python/apache_beam/runners/common.py
Labels: python, runners

#33080 Fix antlr analyzeClassesDependencies
  sdks/java/core/build.gradle
Labels: java

#33082 Remove nondeterminism from expansion tests
  sdks/python/apache_beam/transforms/external_test.py
Labels: python

#32973 Optimize proto PubsubMessage to/from conversion to beam PubsubMessage
  sdks/python/apache_beam/io/gcp/pubsub.py
Labels: python, io, gcp, Next Action: Reviewers

#32961 Changes to reduce memory pinned while iterating through state backed iterable
  sdks/java/core/src/main/java/org/apache/beam/sdk/fn/stream/DataStreams.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateFetchingIterators.java
Labels: java

#33061 Fixed the broken beam python on flink with PortableRunner
  runners/flink/job-server-container/Dockerfile
  website/www/site/content/en/documentation/runners/flink.md
Labels: website, docker, runners, flink, Next Action: Reviewers

#33048 Add a guide to build custom Beam Python SDK image
  website/www/site/content/en/documentation/runtime/environments.md
  website/www/site/content/en/documentation/sdks/python-sdk-image-build.md
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: website

#32857 Support poisioning instruction ids to prevent the FnApi data stream from blocking on failed instructions
  sdks/java/core/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataGrpcMultiplexer.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataGrpcMultiplexerTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/BeamFnDataClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/data/BeamFnDataGrpcClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/PTransformRunnerFactoryTestContext.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/BeamFnDataGrpcClientTest.java
Labels: java, Next Action: Reviewers

#33088 Revert PR #32960
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/container/Dockerfile
  sdks/python/container/common.gradle
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/gradle.properties
Labels: python, build, docker, Next Action: Reviewers

#33087 Update Enrichment Handlers to PEP 585 typing
  sdks/python/apache_beam/transforms/enrichment_handlers/bigquery.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/feast_feature_store.py
  sdks/python/apache_beam/transforms/enrichment_handlers/feast_feature_store_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/vertex_ai_feature_store.py
Labels: python, Next Action: Reviewers

#31486 Managed BigQueryIO
  .github/trigger_files/beam_PostCommit_Java_DataflowV2.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/external_transforms.proto
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/expansion-service/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryFileLoadsWriteSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryFileLoadsWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryFileLoadsSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQuerySchemaTransformTranslation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryWriteConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryFileLoadsWriteSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryFileLoadsSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryManagedIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQuerySchemaTransformTranslationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedTransformConstants.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProviderTest.java
  sdks/python/apache_beam/transforms/managed.py
Labels: python, java, build, model, io, gcp

#33089 Change dead partition detection to only look at the current topic
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, kafka

#32988 [JdbcIO] Adding disableAutoCommit flag
  CHANGES.md
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
  sdks/python/apache_beam/io/jdbc.py
Labels: python, java, io, jdbc, Next Action: Reviewers

#32975 Add Kafka tag to review bot
  .github/REVIEWERS.yml
Labels: build, Next Action: Reviewers

#33062 Lineage support for JdbcIO
  sdks/java/io/jdbc/build.gradle
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcUtil.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcUtilTest.java
Labels: java, io, jdbc, Next Action: Reviewers

#32921 [KafkaIO] Fix per-split metric updates for KafkaUnboundedReader and ReadFromKafkaDoFn
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
Labels: java, io, kafka, Next Action: Reviewers

#33059 Introduce pipeline options to disable user counter and user stringset
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystems.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/DelegatingCounter.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Metrics.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/MetricsTest.java
Labels: java

#32060 SolaceIO write connector
  CHANGES.md
  sdks/java/io/solace/build.gradle
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/SolaceIO.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BasicAuthJcsmpSessionService.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BasicAuthJcsmpSessionServiceFactory.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/GCPSecretSessionServiceFactory.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/MessageProducer.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/MessageProducerUtils.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/PublishResultHandler.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SessionService.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SessionServiceFactory.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SolaceMessageProducer.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/data/Solace.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/UnboundedSolaceReader.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/write/AddShardKeyDoFn.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/write/RecordToPublishResultDoFn.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/write/SolaceOutput.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/write/SolaceWriteSessionsHandler.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/write/UnboundedBatchedSolaceWriter.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/write/UnboundedSolaceWriter.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/write/UnboundedStreamingSolaceWriter.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockEmptySessionService.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockProducer.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockSessionService.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockSessionServiceFactory.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/SolaceIOReadTest.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/SolaceIOWriteTest.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/broker/OverrideWriterPropertiesTest.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/data/SolaceDataUtils.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/it/SolaceIOIT.java
Labels: java, io, Next Action: Reviewers

#32928 [KafkaIO] Share size and offset estimators among ReadFromKafkaDoFn instances per PTransform
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
Labels: java, io, extensions, sql, kafka, Next Action: Reviewers

#33017 Portable Managed BigQuery destinations
  CHANGES.md
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryFileLoadsSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryWriteConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/PortableBigQueryDestinations.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryFileLoadsSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryManagedIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
Labels: java, io, gcp

#33099 Disable gradle cache for gcp expansion service
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  .github/trigger_files/beam_PostCommit_TransformService_Direct.json
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/expansion-service/build.gradle
Labels: java, build, io, gcp

#33100 Set streaming engine option to fix V1 tests
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryManagedIT.java
Labels: java, io, gcp

#33098 Update dataframes to PEP 585 typing
  sdks/python/apache_beam/dataframe/convert.py
  sdks/python/apache_beam/dataframe/doctests.py
  sdks/python/apache_beam/dataframe/expressions.py
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/pandas_top_level_functions.py
  sdks/python/apache_beam/dataframe/partitionings.py
  sdks/python/apache_beam/dataframe/schemas.py
  sdks/python/apache_beam/dataframe/transforms.py
Labels: python, Next Action: Reviewers

#33102 Make AvroUtils compatible with older versions of Avro
  .github/trigger_files/beam_PostCommit_Java_Avro_Versions.json
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
Labels: java, build, extensions

#32985 fix JDBC providers
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, yaml

#33031 Add logging to see which topic each split is reading from
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
Labels: java, io, kafka, Next Action: Reviewers

#33106 CP: fix JDBC providers (#32985)
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, yaml

#33107 Update names.py
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners

#33116 Add 2.62.0 to changes
  CHANGES.md
Labels: Next Action: Reviewers

#33118 Fix small typos in release email
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#33108 Adds detailed instructions on how to execute ExampleEchoPipeline.java
  examples/java/src/main/java/org/apache/beam/examples/subprocess/ExampleEchoPipeline.java
  examples/java/src/main/java/org/apache/beam/examples/subprocess/Readme.MD
Labels: java, examples

#33115 Add temp location to batch file loads
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryManagedIT.java
Labels: java, io, gcp

#33114 Build docker RC on self-hosted
  .github/workflows/build_release_candidate.yml
Labels: build, Next Action: Reviewers

#32756 Update the python deps
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#33013 Add ability to encode and decode histogram data to portable runners
  runners/core-java/build.gradle
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodings.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodingsTest.java
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/HistogramData.java
  sdks/java/harness/build.gradle
Labels: java, runners, core, Next Action: Reviewers

#33131 Fix vllm typo
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
Labels: examples, Next Action: Reviewers

#33130 Disable gradle cache for transform service shadowJar
  .github/trigger_files/beam_PostCommit_TransformService_Direct.json
  sdks/java/transform-service/build.gradle
Labels: java, build

#33135 Fix the broken flink tests by optimizing conf
  runners/flink/src/test/resources/flink-conf.yaml
  sdks/python/test-suites/portable/common.gradle
Labels: python, runners, flink, Next Action: Reviewers

#33138 Use highmem for beam_PostCommit_Python_Examples_Flink.yml
  .github/workflows/beam_PostCommit_Python_Examples_Flink.yml
Labels: build, Next Action: Reviewers

#33133 Revert "fix schema inference inside parameterized types"
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/CoderRegistry.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaRegistryTest.java
Labels: java

#33149 docs: missing word
  website/www/site/content/en/get-started/from-spark.md
Labels: website, Next Action: Reviewers

#33134 Enable Dataflow managed service for Python tests
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Direct.json
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/managed_iceberg_it_test.py
Labels: python, build, Next Action: Reviewers

#33147 CP: Revert "Merge pull request #32705: fix schema inference for parameterized types" (#33133)
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/CoderRegistry.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaRegistryTest.java
Labels: java

#33153 Update BEAM_DEV_SDK_CONTAINER_TAG
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners

#33137 numpy.int64 type is not serialized correctly in Python 3.11 and Python 3.12
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders_test.py
Labels: python, Next Action: Reviewers

#33151 Use random gcs bucket name
  sdks/python/apache_beam/ml/transforms/base_test.py
Labels: python

#33156 CP: Plug transform annotations thru cross-lang interface (#33150)
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Direct.json
  sdks/python/apache_beam/transforms/external.py
Labels: python, build

#32941 Windowing Support for the Dask Runner
  .github/workflows/dask_runner_tests.yml
  sdks/python/apache_beam/runners/dask/dask_runner.py
  sdks/python/apache_beam/runners/dask/dask_runner_test.py
  sdks/python/apache_beam/runners/dask/overrides.py
  sdks/python/apache_beam/runners/dask/transform_evaluator.py
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/setup.py
  sdks/python/test-suites/tox/common.gradle
  sdks/python/tox.ini
Labels: python, build, runners, Next Action: Reviewers

#33158 CP: Use random gcs bucket name (#33151)
  sdks/python/apache_beam/ml/transforms/base_test.py
Labels: python

#33157 Don't use __getstate__ for pickling for objects with a custom __reduce__.
  sdks/python/apache_beam/coders/coder_impl.py
Labels: python, Next Action: Reviewers

#32770 Bump avro, fix CVE-2024-47561
  .github/trigger_files/beam_PostCommit_Java_Avro_Versions.json
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#33006 Added replaceGcsFilesWithLocalFiles
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/WordCountIT.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#32872 Modernize python type hints for apache_beam.
  sdks/python/apache_beam/dataframe/doctests.py
  sdks/python/apache_beam/dataframe/expressions.py
  sdks/python/apache_beam/dataframe/transforms.py
  sdks/python/apache_beam/io/avroio_test.py
  sdks/python/apache_beam/io/fileio.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/utils.py
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/typehints/trivial_inference.py
Labels: python, io, runners, gcp

#33143 add case study for yelp streaming
  website/www/site/content/en/case-studies/yelp_streaming.md
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/yelp/existing_streaming_architecture.png
  website/www/site/static/images/case-study/yelp/hpandher.png
  website/www/site/static/images/case-study/yelp/new_streaming_architecture.png
Labels: website, Next Action: Reviewers

#33161 updated the yelp blog
  website/www/site/content/en/case-studies/yelp_streaming.md
Labels: website, Next Action: Reviewers

#33162 Highmem22 runners
  .github/gh-actions-self-hosted-runners/arc/config/arc_autoscaler.tpl
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
  .github/workflows/beam_PostCommit_Python_Examples_Flink.yml
Labels: build, Next Action: Reviewers

#33123 Pin notebook dependencies
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
Labels: examples, Next Action: Reviewers

#33167 Create workflow for republishing released containers
  .github/workflows/republish_released_docker_containers.yml
Labels: build, Next Action: Reviewers

#33122 Update vllm colab to work with asyncio requirements
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
Labels: examples, Next Action: Reviewers

#33170 Revert "Update vllm colab to work with asyncio requirements"
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
Labels: examples

#33046 propogate descriptions for nested Beam Rows during schema translation
  sdks/python/apache_beam/typehints/schemas.py
Labels: python, Next Action: Reviewers

#33169 Publish updated containers regularly
  .github/workflows/republish_released_docker_containers.yml
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/config.yaml
  contributor-docs/release-guide.md
Labels: build, infra

#33172 use the tight range for dask
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#33160 Create Python SDK Distroless variant
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/container/Dockerfile-distroless
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, docker, Next Action: Reviewers

#33178 Revert "Fixed the broken beam python on flink with PortableRunner"
  runners/flink/job-server-container/Dockerfile
  website/www/site/content/en/documentation/runners/flink.md
Labels: website, docker, runners, flink

#33179 CP: Revert "Fixed the broken beam python on flink with PortableRunner"
  runners/flink/job-server-container/Dockerfile
  website/www/site/content/en/documentation/runners/flink.md
Labels: website, docker, runners, flink

#32902 Bump zetasql version to 2024.11.1
  sdks/java/extensions/sql/zetasql/build.gradle
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/AggregateScanConverter.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/translation/ExpressionConverter.java
Labels: java, extensions, sql, Next Action: Reviewers

#33182 Fix the flink runner doc
  website/www/site/content/en/documentation/runners/flink.md
Labels: website, Next Action: Reviewers

#32864 Upgrade GCP-BOM to 26.49.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#33186 [yaml] Enrichment transform doc improvements
  sdks/python/apache_beam/yaml/yaml_enrichment.py
Labels: python, yaml

#33183 Add input boxes for required user inputs
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
  examples/notebooks/beam-ml/bigquery_enrichment_transform.ipynb
  examples/notebooks/beam-ml/bigtable_enrichment_transform.ipynb
  examples/notebooks/beam-ml/data_preprocessing/vertex_ai_text_embeddings.ipynb
  examples/notebooks/beam-ml/dataframe_api_preprocessing.ipynb
  examples/notebooks/beam-ml/gemma_2_sentiment_and_summarization.ipynb
  examples/notebooks/beam-ml/nlp_tensorflow_streaming.ipynb
  examples/notebooks/beam-ml/run_inference_pytorch.ipynb
  examples/notebooks/beam-ml/run_inference_sklearn.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow.ipynb
  examples/notebooks/beam-ml/run_inference_tensorflow_with_tfx.ipynb
  examples/notebooks/beam-ml/run_inference_vertex_ai.ipynb
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
  examples/notebooks/beam-ml/vertex_ai_feature_store_enrichment.ipynb
  examples/notebooks/healthcare/beam_nlp.ipynb
Labels: examples

#33191 Remove the default machine types
  .test-infra/dataproc/flink_cluster.sh
Labels: infra, Next Action: Reviewers

#33173 Enable Java SDK Distroless container image variants.
  .github/trigger_files/beam_PostCommit_Java.json
  .github/trigger_files/beam_PostCommit_Java_DataflowV2.json
  runners/google-cloud-dataflow-java/build.gradle
  sdks/java/container/Dockerfile-distroless
Labels: java, build, docker, runners, dataflow, Next Action: Reviewers

#33200 Remove leftover print statement in SpannerIO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/ReadOperation.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#33206 Add a new precommit workflow to test flink container
  .github/trigger_files/beam_PreCommit_Flink_Container.json
  .github/workflows/beam_PreCommit_Flink_Container.yml
Labels: build, Next Action: Reviewers

#33214 Remove sickbay GitHub Actions
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Sickbay.yml
  .github/workflows/beam_PostCommit_Sickbay_Python.yml
Labels: build

#33110 More complete error message for StripErrorMetadata.
  sdks/python/apache_beam/yaml/yaml_mapping.py
Labels: python, yaml

#33117 Update website for 2.61.0 release
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.61.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#33217 Fixed the new flink container precommit
  .github/trigger_files/beam_PreCommit_Flink_Container.json
  .github/workflows/beam_PreCommit_Flink_Container.yml
Labels: build

#33195 Simplify metrics in preparation for adding another metric type.
  sdks/python/apache_beam/internal/metrics/cells.py
  sdks/python/apache_beam/metrics/cells.pxd
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/runners/direct/direct_metrics.py
Labels: python, runners

#33215 [Accenture Baltics] Case Study
  website/www/site/content/en/case-studies/accenture_baltics.md
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/accenture/Jana_Polianskaja_sm.jpg
  website/www/site/static/images/case-study/accenture/dataflow_grafana.jpg
  website/www/site/static/images/case-study/accenture/dataflow_pipelines.png
Labels: website, Next Action: Reviewers

#33175 Change the Java sdk harness cache timeout for bundle processors to be an hour for streaming pipelines instead of 1 minute.
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/SdkHarnessOptions.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
Labels: java

#33219 Fixed beam_PreCommit_Flink_Container.yml
  .github/workflows/beam_PreCommit_Flink_Container.yml
  .github/workflows/flink-tests-pipeline-options/go_Combine_Flink_Batch_small.txt
  .github/workflows/flink-tests-pipeline-options/java_Combine_Flink_Batch_small.txt
  .github/workflows/flink-tests-pipeline-options/python_Combine_Flink_Batch_small.txt
Labels: build, Next Action: Reviewers

#33121 Make the warning about JSON BigQuery column type more precise
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
Labels: java, io, gcp, Next Action: Reviewers

#33222 updated the pic
  website/www/site/static/images/case-study/accenture/Jana_Polianskaja_sm.jpg
Labels: website

#33223 Increase Go test coverage run timeout to 25 minutes
  .github/workflows/go_tests.yml
Labels: build

#33181 Add beam_PostCommit_Python_ValidatesDistrolessContainer_Dataflow
  .github/trigger_files/beam_PostCommit_Python_ValidatesDistrolessContainer_Dataflow.json
  .github/workflows/beam_PostCommit_Python_ValidatesDistrolessContainer_Dataflow.yml
Labels: build, Next Action: Reviewers

#33187 use direct executor to deflake tests
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillEndpoints.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCache.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/testing/FakeWindmillStubFactory.java
Labels: runners, dataflow, Next Action: Reviewers

#33210 Better error messaging for chain-type pipelines
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
Labels: python, Next Action: Reviewers, yaml

#33228 Fix python distroless workflow
  .github/trigger_files/beam_PostCommit_Python_ValidatesDistrolessContainer_Dataflow.json
  .github/workflows/beam_PostCommit_Python_ValidatesDistrolessContainer_Dataflow.yml
Labels: build

#33218 Cleanup Iceberg test files
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  .github/workflows/IO_Iceberg_Integration_Tests.yml
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
Labels: java, build, io

#33230 Update beam_PreCommit_Flink_Container.yml
  .github/workflows/beam_PreCommit_Flink_Container.yml
Labels: build

#33216 Make the model names unique and fix the tox package deps for tensorflow tests
  .github/trigger_files/beam_PostCommit_Python_Dependency.json
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
  sdks/python/tox.ini
Labels: python, build

#33224 Unpin Dataflow legacy worker container for Nexmark test
  .github/trigger_files/beam_PostCommit_Java_Nexmark_Dataflow.json
  sdks/java/testing/nexmark/build.gradle
Labels: java, build, Next Action: Reviewers

#32400 SolaceIO: refactor to allow inheritance of BasicAuthSempClient
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BasicAuthSempClient.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SempBasicAuthClientExecutor.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/write/AddShardKeyDoFn.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/it/BasicAuthMultipleSempClient.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/it/BasicAuthMultipleSempClientFactory.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/it/SolaceIOMultipleSempIT.java
Labels: java, io

#33234 fixed ML tests
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/apache_beam/ml/transforms/handlers_test.py
  sdks/python/setup.py
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#33239 Remove (long) obsolete declaration of unsupported features that are now supported.
  website/www/site/content/en/documentation/sdks/python-streaming.md
Labels: website, Next Action: Reviewers

#33233 Add Java Distroless Github workflow check
  .github/trigger_files/beam_PostCommit_Java_ValidatesDistrolessContainer_Dataflow.json
  .github/workflows/beam_PostCommit_Java_ValidatesDistrolessContainer_Dataflow.yml
Labels: build, Next Action: Reviewers

#33232 Fix python distroless workflow
  .github/trigger_files/beam_PostCommit_Python_ValidatesDistrolessContainer_Dataflow.json
  .github/workflows/beam_PostCommit_Python_ValidatesDistrolessContainer_Dataflow.yml
Labels: build, Next Action: Reviewers

#33011 bump hadoop version
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers
