Repository apache/beam, pull requests merged in 2024-03, with the labels that each got.

#30475 Make windmill service stream max backoff configurable
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowStreamingPipelineOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
Labels: runners, dataflow

#30476 Add last error time to windmill stream error message
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/AbstractWindmillStream.java
Labels: runners, dataflow

#30455 Unskip test_user_agent_insert_all
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
Labels: python, io, gcp, Next Action: Reviewers

#30481 Add instructions on reviewing Python version updates
  .github/workflows/update_python_dependencies.yml
Labels: build

#30332 Initial prototype of using Beam transforms directly in a Flink pipeline.
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkBatchPortablePipelineTranslator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineRunner.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPortablePipelineTranslator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/BeamAdapterCoderUtils.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/BeamAdapterUtils.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/BeamFlinkDataSetAdapter.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/FlinkInput.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/FlinkOutput.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/package-info.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/adapter/BeamFlinkDataSetAdapterTest.java
Labels: runners, flink

#30420 Duet AI data encoding prompts (no links)
  learning/prompts/README.md
  learning/prompts/code-generation/01_io_kafka.md
  learning/prompts/code-generation/02_io_pubsub.md
  learning/prompts/code-generation/03_io_bigquery.md
  learning/prompts/code-generation/04_io_bigtable.md
  learning/prompts/code-generation/05_io_spanner.md
  learning/prompts/code-generation/06_io_tfrecord.md
  learning/prompts/code-generation/07_io_json.md
  learning/prompts/code-generation/08_io_csv.md
  learning/prompts/code-generation/09_io_avro.md
  learning/prompts/code-generation/10_io_parquet.md
  learning/prompts/code-generation/11_io_jdbc.md
  learning/prompts/documentation-lookup-nolinks/32_data_encoding.md
  learning/prompts/documentation-lookup-nolinks/33_coders_data_encoding.md
  learning/prompts/documentation-lookup-nolinks/34_change_coders_data_encoding.md
Labels: learning, Next Action: Reviewers

#30454 adding github workflow for running nightly playground ci
  .github/workflows/README.md
  .github/workflows/beam_Playground_CI_Nightly.yml
Labels: build, Next Action: Reviewers

#30479 Move credential rotation and gate on beam repo
  .github/workflows/beam_MetricsCredentialsRotation.yml
Labels: build, Next Action: Reviewers

#30421 Duet AI ML data processing prompts (no links)
  learning/prompts/documentation-lookup-nolinks/34_ml_data_preprocessing.md
  learning/prompts/documentation-lookup-nolinks/35_ml_data_exploration.md
  learning/prompts/documentation-lookup-nolinks/47_mltransform.md
Labels: learning, Next Action: Reviewers

#30457 Update triggering frequency doc
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: java, website, io, gcp

#30443 Disable BigQueryStorageStreamSource.splitAtFraction when read api v2 used
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamSource.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadTest.java
Labels: java, io, gcp

#30453 Cleanup bigtable open resources on teardown
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#30491 Make the TransformService test suite not pass trivially.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/apache_beam/io/gcp/bigtableio_it_test.py
Labels: python, build, io, gcp, Next Action: Reviewers

#30468 Fix grafana url for alerts and GA Post-Commits Status dashboard
  .test-infra/metrics/grafana/dashboards/GA-Post-Commits_status_dashboard.json
  .test-infra/metrics/sync/github/github_runs_prefetcher/README.md
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/main.py
  .test-infra/metrics/sync/github/github_runs_prefetcher/function.tf
  .test-infra/tools/flaky_test_detection.py
Labels: infra, Next Action: Reviewers

#30440 Duet AI Prompt - Beam YAML (no links)
  learning/prompts/documentation-lookup-nolinks/50_beam_yaml.md
Labels: learning, Next Action: Reviewers

#30484 Remove JsonIgore for usePublicIps
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineWorkerPoolOptions.java
Labels: runners, dataflow, Next Action: Reviewers

#30490 Document yaml pipeline options
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website

#30501 Update Go Version for artifacts to Go v1.21.8
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/run_with_go_version.sh
Labels: go, build, Next Action: Reviewers

#30485 Expose JmsIO read receive timeout
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsIO.java
Labels: java, io, jms

#30448 fix: support reading arrays of structs from bigquery with schemas
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
Labels: java, io, gcp

#30489 Bigtable: provide a way to override BigtableDataSettings
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslator.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslatorTest.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#30540 Fix website precommit
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website, Next Action: Reviewers

#30535 Revert "Add test code to overwrite SQL in Beam Python JDBC (#30417)"
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
Labels: python, io

#30542 Bigtable: use InstanceBuilder to dynamic load override class
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslator.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslatorTest.java
Labels: java, io, gcp, bigtable

#30458 Fix hdfs integration test
  .github/trigger_files/beam_PostCommit_Python.json
  build.gradle.kts
  sdks/python/apache_beam/io/hdfs_integration_test/docker-compose.yml
  sdks/python/test-suites/direct/common.gradle
Labels: python, build, io

#30388 [Python] Vertex AI Feature Store enrichment handler
  CHANGES.md
  sdks/python/apache_beam/transforms/enrichment.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable.py
  sdks/python/apache_beam/transforms/enrichment_handlers/utils.py
  sdks/python/apache_beam/transforms/enrichment_handlers/vertex_ai_feature_store.py
  sdks/python/apache_beam/transforms/enrichment_handlers/vertex_ai_feature_store_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/vertex_ai_feature_store_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/vertex_ai_feature_store_tests_requirement.txt
  sdks/python/test-suites/direct/common.gradle
Labels: python, build, Next Action: Reviewers

#30488 Reduce nullness checks in flink adapters.
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/BeamAdapterUtils.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/BeamFlinkDataSetAdapter.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/FlinkInput.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/FlinkOutput.java
Labels: runners, flink, Next Action: Reviewers

#30553 Add vertex AI dependency
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#30533 [BEAM-30531] Automatically execute unbounded pipelines in streaming mode.
  CHANGES.md
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python, Next Action: Author

#30532 Add local Run Inference with Gemma notebook
  examples/notebooks/beam-ml/run_inference_gemma.ipynb
Labels: examples

#30551 Fixes an upgrade imcompatiblity of BQ read/write transforms
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/TransformUpgrader.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/construction/TransformUpgraderTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
Labels: java, io, gcp

#30546 Fix internal test failure from PR-30455
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
Labels: python, io, gcp, Next Action: Reviewers

#30561 Bump InfluxDB PostCommit timeout
  .github/workflows/beam_PostCommit_Java_InfluxDbIO_IT.yml
Labels: build

#28564 [Python] Log dependencies installed in submission environment
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/runners/portability/expansion_service.py
  sdks/python/apache_beam/runners/portability/portable_runner_test.py
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/runners/portability/stager_test.py
  sdks/python/apache_beam/transforms/environments_test.py
  sdks/python/container/boot.go
Labels: python, docker, Next Action: Reviewers

#30566 Update image name to the one used by the test.
  sdks/python/test-suites/containers/tensorrt_runinference/README.md
Labels: python

#30552 Do not pre-install beam in tensorrt container
  sdks/python/test-suites/containers/tensorrt_runinference/tensor_rt.dockerfile
Labels: python

#30565 Attempt to install staged Beam SDK if one is available, before checking if Beam is installed.
  sdks/python/container/boot.go
Labels: python, docker

#30562 [Release-2.55] Cherry-pick #30551 into release branch
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/TransformUpgrader.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/construction/TransformUpgraderTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
Labels: java, io, gcp

#30435 Duet AI prompts: containers, hints, external calls (no links)
  learning/prompts/code-explanation/01_io_kafka.md
  learning/prompts/code-explanation/02_io_pubsub.md
  learning/prompts/code-explanation/03_io_bigquery.md
  learning/prompts/code-explanation/04_io_bigtable.md
  learning/prompts/code-explanation/05_io_spanner.md
  learning/prompts/code-explanation/06_io_tfrecord.md
  learning/prompts/code-explanation/07_io_json.md
  learning/prompts/code-explanation/08_io_csv.md
  learning/prompts/code-explanation/09_io_avro.md
  learning/prompts/code-explanation/10_io_parquet.md
  learning/prompts/code-explanation/11_io_jdbc.md
  learning/prompts/documentation-lookup-nolinks/47_batching_for_external_calls.md
  learning/prompts/documentation-lookup-nolinks/48_resource_hints.md
  learning/prompts/documentation-lookup-nolinks/49_container_environments.md
Labels: learning, Next Action: Reviewers

#30574 Fix Dataflow PreCommit on release branch
  runners/google-cloud-dataflow-java/examples/build.gradle
Labels: runners, dataflow

#30430 [RRIO]: Add RequestResponseIO examples and documentation on website for the Java SDK
  examples/java/webapis/build.gradle
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/AdditionalSnippets.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/GeminiAIClient.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/GeminiAIExample.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/GeminiAIOptions.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/GenerateContentRequestCoder.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/GenerateContentResponseCoder.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/HttpImageClient.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/ImageRequest.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/ImageRequestCoder.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/ImageResponse.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/ImageResponseCoder.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/Images.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/Log.java
  examples/java/webapis/src/main/java/org/apache/beam/examples/webapis/UsingHttpClientExample.java
  examples/java/webapis/src/test/java/org/apache/beam/examples/webapis/GeminiAIExampleTest.java
  examples/java/webapis/src/test/java/org/apache/beam/examples/webapis/UsingHttpClientExampleTest.java
  sdks/java/build-tools/src/main/resources/beam/checkstyle/suppressions.xml
  settings.gradle.kts
  website/www/site/content/en/documentation/io/built-in/webapis.md
  website/www/site/content/en/documentation/io/connectors.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: java, build, website, examples, Next Action: Reviewers

#30578 [release-2.55.0] Cherypick #30574 into release branch
  runners/google-cloud-dataflow-java/examples/build.gradle
Labels: runners, dataflow

#30575 [release-2.55.0] Cherrypick #30561 into release branch
  .github/workflows/beam_PostCommit_Java_InfluxDbIO_IT.yml
Labels: build

#30576 [Release-2.55.0] Cherrypick #30568 into release branch
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
Labels: python

#30003 [yaml] Add Beam YAML Examples and Getting started docs
  sdks/python/apache_beam/testing/test_pipeline.py
  sdks/python/apache_beam/yaml/examples/README.md
  sdks/python/apache_beam/yaml/examples/__init__.py
  sdks/python/apache_beam/yaml/examples/examples_test.py
  sdks/python/apache_beam/yaml/examples/regex_matches.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_count_minimal.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_max_minimal.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_mean_minimal.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_min_minimal.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_multiple_aggregations.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_sum.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_sum_minimal.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/group_into_batches.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/top_largest_per_key.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/top_smallest_per_key.yaml
  sdks/python/apache_beam/yaml/examples/transforms/elementwise/explode.yaml
  sdks/python/apache_beam/yaml/examples/transforms/elementwise/filter_callable.yaml
  sdks/python/apache_beam/yaml/examples/transforms/elementwise/map_to_fields_callable.yaml
  sdks/python/apache_beam/yaml/examples/wordcount_minimal.yaml
  sdks/python/apache_beam/yaml/readme_test.py
Labels: python, yaml

#30585 Add info on large_model flag in LLM page
  website/www/site/content/en/documentation/ml/large-language-modeling.md
Labels: website

#30544 Prefer yaml_pipeline in error messages
  sdks/python/apache_beam/yaml/main.py
Labels: python, yaml

#30493 Document requirements cache behavior differences.
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: website

#30499 Duet AI Transform service SDK Harness prompts
  learning/prompts/documentation-lookup-nolinks/48_sdk_harness.md
  learning/prompts/documentation-lookup-nolinks/49_transform_service.md
  learning/prompts/documentation-lookup/48_sdk_harness.md
  learning/prompts/documentation-lookup/49_transform_service.md
Labels: learning, Next Action: Reviewers

#30591 Remove Youtube Embeddings from Website
  website/www/site/content/en/community/youtube-channel.md
  website/www/site/content/en/documentation/ml/overview.md
Labels: website

#30589 Redo spark_runner exclude test
  runners/spark/spark_runner.gradle
Labels: runners, spark

#30598 [Release-2.55.0] Cherry-pick #30589 into release branch
  runners/spark/spark_runner.gradle
Labels: runners, spark

#30560 Make defaults for optional SchemaTransformProvider methods
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/SchemaTransformProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProvider.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProviderIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderIT.java
Labels: java, build, io, gcp, bigtable

#30351 Duet AI documentation lookup prompts for Beam ML
  learning/prompts/documentation-lookup-nolinks/33_ai_ml_pipelines.md
  learning/prompts/documentation-lookup-nolinks/36_ai_kfp_orchestration.md
  learning/prompts/documentation-lookup-nolinks/37_ai_tfx_orchestration.md
  learning/prompts/documentation-lookup-nolinks/38_ai_runinference.md
  learning/prompts/documentation-lookup-nolinks/39_ai_runinference_metrics.md
  learning/prompts/documentation-lookup-nolinks/40_ai_bigquery_ml.md
  learning/prompts/documentation-lookup-nolinks/41_ai_model_refresh.md
  learning/prompts/documentation-lookup-nolinks/42_ai_custom_inference.md
  learning/prompts/documentation-lookup-nolinks/43_ai_llm_inference.md
  learning/prompts/documentation-lookup/33_ai_ml_pipelines.md
  learning/prompts/documentation-lookup/36_ai_kfp_orchestration.md
  learning/prompts/documentation-lookup/37_ai_tfx_orchestration.md
  learning/prompts/documentation-lookup/38_ai_runinference.md
  learning/prompts/documentation-lookup/39_ai_runinference_metrics.md
  learning/prompts/documentation-lookup/40_ai_bigquery_ml.md
  learning/prompts/documentation-lookup/41_ai_model_refresh.md
  learning/prompts/documentation-lookup/42_ai_custom_inference.md
  learning/prompts/documentation-lookup/43_ai_llm_inference.md
Labels: learning, Next Action: Reviewers

#30608 Remove Anand, add Shunping to reviewers
  .github/REVIEWERS.yml
Labels: build

#30615 Add a known issue for gcsio in the notes of 2.53.0 and 2.54.0.
  CHANGES.md
Labels: Next Action: Reviewers

#30604 Skip runner Dataflow v1 steps when a job will run on v2
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
Labels: runners, dataflow

#30614 [Python] Pin keras version for tensorflow inference test
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/ml/inference/tensorflow_tests_requirements.txt
Labels: python, build, Next Action: Reviewers

#30623 [fix postcommit] Rename tests to remove them from dataflow test suite
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProviderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
Labels: java, io, gcp

#30600 [website] Replace website banner auto transition with navigation
  website/www/site/assets/js/sliders/top-banners.js
  website/www/site/layouts/partials/header.html
Labels: website, Next Action: Reviewers

#30587 Properly handle timestamp prefixing of unkown window types.
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/portability/python_urns.py
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/utils/timestamp.py
Labels: python

#30635 Add hamcrest as an implementation dependency
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, io, gcp, Next Action: Reviewers

#30636 Bump Dataflow java container version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#30637 [Release-2.55] Cherrypick #30635 into release branch
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, io, gcp, Next Action: Reviewers

#30588 add flag for direct path that reads from system properties
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowStreamingPipelineOptions.java
Labels: runners, dataflow, Next Action: Reviewers

#30312 Refactor commit logic out of StreamingDataflowWorker
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillComputationKey.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/CloseableStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/WindmillStreamPool.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/Commit.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/CompleteCommit.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingApplianceWorkCommitter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingEngineWorkCommitter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/WorkCommitter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateCache.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingApplianceWorkCommitterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingEngineWorkCommitterTest.java
Labels: runners, dataflow

#30639 Better error message for large elements.
  sdks/python/apache_beam/runners/worker/data_plane.py
Labels: python

#30654 Include byte size of stateKey in estimated weight of WindmillBag, WindmillValue, and WindmillWatermarkHold
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillBag.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillValue.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillWatermarkHold.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternalsTest.java
Labels: runners, dataflow

#30665 [Release-2.55] Cherry pick #30654 into release branch
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillBag.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillValue.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillWatermarkHold.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternalsTest.java
Labels: runners, dataflow

#30664 [Release-2.55] Cherry-pick #30648 into release branch
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateTracker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowOperationContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StackTraceUtil.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateTrackerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowOperationContextTest.java
Labels: runners, dataflow, core

#30425 add a way for channels to be closed manually
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillConnection.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCache.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCachingRemoteStubFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCachingStubFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/IsolationChannel.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillChannelFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClientTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/WindmillStreamSenderTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/testing/FakeWindmillStubFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/EvenGetWorkBudgetDistributorTest.java
Labels: runners, dataflow

#30662 Support ValueProvider for _CustomBigQueryStorageSource
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#30638 update confluent dependency version to 7.6.0
  .github/trigger_files/beam_PostCommit_Java_Avro_Versions.json
  buildSrc/build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/avro/build.gradle
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/GcpApiSurfaceTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProtoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtilsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClientTest.java
  sdks/java/io/kafka/build.gradle
Labels: java, build, io, extensions, gcp, kafka

#30655 Use 50 workers for 2GB 10 bytes combine test
  .github/workflows/beam_LoadTests_Python_Combine_Dataflow_Streaming.yml
  .github/workflows/load-tests-pipeline-options/python_Combine_Dataflow_Streaming_2GB_10_byte_records.txt
Labels: build, Next Action: Reviewers

#30674 Revert "Disable remote gradle cache until it is cleaned (#30584)"
  .github/trigger_files/beam_PostCommit_XVR_PythonUsingJavaSQL_Dataflow.json
  settings.gradle.kts
Labels: build

#30680 Disable unsupported custom window type test on samza and spark.
  sdks/python/apache_beam/runners/portability/samza_runner_test.py
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
Labels: python

#30694 Send email when BQ early rollout workflow fails
  .github/workflows/beam_PostCommit_Java_BigQueryEarlyRollout.yml
Labels: build

#30679 Minimize scope of expensive lock
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python

#30691 Revert "add a way for channels to be closed manually"
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillConnection.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCache.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCachingStubFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/IsolationChannel.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/RemoteWindmillStubFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillChannelFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClientTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/WindmillStreamSenderTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/testing/FakeWindmillStubFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/EvenGetWorkBudgetDistributorTest.java
Labels: runners, dataflow

#30690 Fix mobile gaming tests Google Cloud storage object output clash
  release/src/main/groovy/MobileGamingCommands.groovy
  release/src/main/groovy/mobilegaming-java-dataflow.groovy
  release/src/main/groovy/mobilegaming-java-direct.groovy
Labels: build, Next Action: Reviewers

#30701 Add known python issue
  CHANGES.md
  website/www/site/content/en/blog/beam-2.53.0.md
  website/www/site/content/en/blog/beam-2.54.0.md
Labels: website

#30320 Update BigQuerySinkMetrics for StreamingInserts.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingInsertsMetrics.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImplTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingInsertsMetricsTest.java
Labels: java, io, runners, dataflow, gcp

#30709 Add unique ID to Dataflow BOM tests
  release/src/main/groovy/mobilegaming-java-dataflowbom.groovy
Labels: build, Next Action: Reviewers

#30696 Add warning when retrieving state cache inefficiency detected
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python, Next Action: Reviewers

#30676 Use autovalue's @Memoized in ExponentialBuckets
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/HistogramData.java
Labels: java

#30673 add pythonpath to cloudcoverage tox environment
  .github/workflows/beam_PreCommit_Python_Coverage.yml
  sdks/python/tox.ini
Labels: python, build

#30702 Misc doc and infra fix found in 2.55.0 release
  .github/build.gradle
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Sickbay.yml
  .github/workflows/beam_PostCommit_Sickbay_Python.yml
  .github/workflows/deploy_release_candidate_pypi.yaml
  contributor-docs/release-guide.md
  sdks/java/harness/build.gradle
  sdks/python/apache_beam/examples/cookbook/bigtableio_it_test.py
Labels: python, java, build, examples, Next Action: Reviewers

#30686 Duet AI code-explanation and code-generation prompts basic
  learning/prompts/code-explanation/java/07_io_json.md
  learning/prompts/code-explanation/java/08_io_csv.md
  learning/prompts/code-explanation/java/09_io_avro.md
  learning/prompts/code-explanation/java/10_io_parquet.md
  learning/prompts/code-generation/java/07_io_json.md
  learning/prompts/code-generation/java/08_io_csv.md
  learning/prompts/code-generation/java/09_io_avro.md
  learning/prompts/code-generation/java/10_io_parquet.md
Labels: learning, Next Action: Reviewers

#30706 Revert #30533: Automatically execute unbounded pipelines in streaming mode.
  CHANGES.md
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python, Next Action: Reviewers

#30705 [YAML] Add simple description and doc reference for several transforms.
  sdks/python/apache_beam/yaml/yaml_combine.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#30704 Move dependency tests from PreCommit Coverage to PostCommit
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Python_Dependency.yml
  sdks/python/test-suites/tox/common.gradle
  sdks/python/test-suites/tox/py38/build.gradle
Labels: python, build, Next Action: Reviewers

#30712 Update Beam SDK dependency page and linked material.
  website/www/site/content/en/documentation/sdks/python-dependencies.md
  website/www/site/content/en/get-started/quickstart-py.md
Labels: website

#30718 Remove -PuseWheelDistribution for direct runner workflows
  .github/workflows/beam_PostCommit_Python_Dependency.yml
  .github/workflows/beam_PostCommit_TransformService_Direct.yml
  .github/workflows/beam_PreCommit_Python.yml
  .github/workflows/beam_PreCommit_Python_Coverage.yml
  .github/workflows/beam_PreCommit_Python_Dataframes.yml
  .github/workflows/beam_PreCommit_Python_Examples.yml
  .github/workflows/beam_PreCommit_Python_Runners.yml
  .github/workflows/beam_PreCommit_Python_Transforms.yml
Labels: build

#30719 Randomize object path for validation tasks
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#30723 revert codecov action to v3
  .github/workflows/beam_PreCommit_Python_Coverage.yml
Labels: build, Next Action: Reviewers

#30732 add finalizer removeal to postcommit java singlestoreio it
  .github/workflows/beam_PostCommit_Java_SingleStoreIO_IT.yml
Labels: build, Next Action: Reviewers

#30607 Beam 2.55.0 website updates
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.55.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#30689 [Docs] Add Vertex AI Feature Store enrichment notebook
  examples/notebooks/beam-ml/README.md
  examples/notebooks/beam-ml/vertex_ai_feature_store_enrichment.ipynb
Labels: examples

#30478 Fix all tour examples from part 1
  learning/tour-of-beam/learning-content/common-transforms/aggregation/count/go-example/main.go
  learning/tour-of-beam/learning-content/common-transforms/aggregation/max/go-example/main.go
  learning/tour-of-beam/learning-content/common-transforms/aggregation/mean/go-example/main.go
  learning/tour-of-beam/learning-content/common-transforms/aggregation/min/go-example/main.go
  learning/tour-of-beam/learning-content/common-transforms/aggregation/sum/go-example/main.go
  learning/tour-of-beam/learning-content/common-transforms/filter/go-example/main.go
  learning/tour-of-beam/learning-content/common-transforms/motivating-challenge/go-challenge/main.go
  learning/tour-of-beam/learning-content/common-transforms/motivating-challenge/go-solution/main.go
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/from-memory/go-example/from_memory.go
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/reading-from-csv/go-example/csvExample.go
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/creating-collections/reading-from-text/go-example/textIo.go
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/pipeline-concepts/creating-pipeline/go-example/main.go
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/pipeline-concepts/setting-pipeline/go-example/main.go
Labels: learning, Next Action: Reviewers

#30740 Update documentation link in bigtable_enrichment notebook
  examples/notebooks/beam-ml/bigtable_enrichment_transform.ipynb
Labels: examples, Next Action: Reviewers

#30736 Fix playground build for Beam 2.55.0 change
  playground/backend/containers/java/Dockerfile
Labels: Next Action: Reviewers

#30752 Fix typo in download webpage 2.55.0
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#30739 Fix the gap between flaky_test_detection and workflow_prefetcher scripts
  .test-infra/metrics/grafana/provisioning/alerting/flaky_test.yaml
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/main.py
  .test-infra/tools/flaky_test_detection.py
Labels: infra, Next Action: Reviewers

#30692 [Docs] Beam website doc for vertex ai enrichment handler
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/enrichment.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/enrichment_test.py
  website/www/site/content/en/documentation/transforms/python/elementwise/enrichment-bigtable.md
  website/www/site/content/en/documentation/transforms/python/elementwise/enrichment-vertexai.md
  website/www/site/content/en/documentation/transforms/python/elementwise/enrichment.md
  website/www/site/content/en/documentation/transforms/python/elementwise/runinference.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, website, examples, Next Action: Reviewers

#30681 Deduplicate common environments.
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/common_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
Labels: python

#30738 Duet AI Prompt: Test Your Pipeline
  learning/prompts/documentation-lookup-nolinks/35_coders_data_encoding.md
  learning/prompts/documentation-lookup-nolinks/44_batching_for_external_calls.md
  learning/prompts/documentation-lookup-nolinks/45_mltransform.md
  learning/prompts/documentation-lookup-nolinks/46_ml_data_exploration.md
  learning/prompts/documentation-lookup-nolinks/47_resource_hints.md
  learning/prompts/documentation-lookup-nolinks/51_ml_data_preprocessing.md
  learning/prompts/documentation-lookup-nolinks/52_transform_service.md
  learning/prompts/documentation-lookup-nolinks/56_unit_test_your_pipeline.md
  learning/prompts/documentation-lookup/52_transform_service.md
  learning/prompts/documentation-lookup/53_dataflow_runner.md
  learning/prompts/documentation-lookup/54_spark_runner.md
  learning/prompts/documentation-lookup/55_direct_runner.md
Labels: learning, Next Action: Reviewers

#30759 Copy editing ML notebooks for DevSite import
  examples/notebooks/beam-ml/run_inference_gemma.ipynb
  examples/notebooks/beam-ml/vertex_ai_feature_store_enrichment.ipynb
Labels: examples

#30768 Add link to official reference on beam site.
  website/www/site/content/en/documentation/sdks/yaml.md
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: website

#30695 factor out failure handling logic from StreamingDataflowWorker
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkUnitClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingCounters.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerStatusReporter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/FailureTracker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/HeapDumper.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/StreamingApplianceFailureTracker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/StreamingApplianceStatsReporter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/StreamingEngineFailureTracker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/WorkFailureProcessor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/StreamingApplianceFailureTrackerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/StreamingEngineFailureTrackerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/WorkFailureProcessorTest.java
Labels: runners, dataflow, Next Action: Reviewers

#30780 Fix core SDK misuse of "provided" dep for everit_json_schema
  sdks/java/core/build.gradle
Labels: java, Next Action: Reviewers

#30783 [Docs] Update Bigtable enrichment notebook
  examples/notebooks/beam-ml/bigtable_enrichment_transform.ipynb
Labels: examples

#30687 Fix JaCoCo test report
  .github/codecov.yml
  .github/workflows/beam_PreCommit_Java.yml
  .github/workflows/beam_PreCommit_Java_GCP_IO_Direct.yml
  .github/workflows/beam_PreCommit_SQL.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#30741 Gradle target and script for adding YAML reference manual to site.
  .github/workflows/build_release_candidate.yml
  release/src/main/scripts/build_release_candidate.sh
  sdks/python/build.gradle
Labels: python, build, Next Action: Reviewers

#30677 [Python] Add redis client to python dependencies
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/enrichment_test.py
  sdks/python/apache_beam/io/requestresponse.py
  sdks/python/apache_beam/io/requestresponse_it_test.py
  sdks/python/apache_beam/io/requestresponse_tests_requirements.txt
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/vertex_ai_feature_store_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/vertex_ai_feature_store_tests_requirement.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/pytest.ini
  sdks/python/setup.py
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/direct/common.gradle
Labels: python, build, docker, io, Next Action: Reviewers

#30368 [YAML] Add Partition transform.
  sdks/python/apache_beam/yaml/programming_guide_test.py
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_mapping_test.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/content/en/documentation/sdks/yaml-udf.md
Labels: python, website, Next Action: Reviewers, yaml

#30735 Add Ordered Processing PTransform to Java SDK
  sdks/java/extensions/ordered/build.gradle
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/EventExaminer.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/MutableState.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/OrderedEventProcessor.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/OrderedEventProcessorResult.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/OrderedProcessingHandler.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/OrderedProcessingStatus.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/ProcessingState.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/UnprocessedEvent.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/package-info.java
  sdks/java/extensions/ordered/src/test/java/org/apache/beam/sdk/extensions/ordered/Event.java
  sdks/java/extensions/ordered/src/test/java/org/apache/beam/sdk/extensions/ordered/OrderedEventProcessorTest.java
  sdks/java/extensions/ordered/src/test/java/org/apache/beam/sdk/extensions/ordered/StringBufferOrderedProcessingHandler.java
  sdks/java/extensions/ordered/src/test/java/org/apache/beam/sdk/extensions/ordered/StringBuilderState.java
  sdks/java/extensions/ordered/src/test/java/org/apache/beam/sdk/extensions/ordered/StringEventExaminer.java
  settings.gradle.kts
Labels: java, build, extensions

#30801 Change version of Codecov plugin
  .github/workflows/beam_PreCommit_Java.yml
  .github/workflows/beam_PreCommit_Java_GCP_IO_Direct.yml
  .github/workflows/beam_PreCommit_SQL.yml
Labels: build, Next Action: Reviewers

#29113 [YAML] Basic integration testing framework.
  sdks/python/apache_beam/testing/util.py
  sdks/python/apache_beam/yaml/integration_tests.py
  sdks/python/apache_beam/yaml/tests/bigquery.yaml
  sdks/python/apache_beam/yaml/tests/csv.yaml
  sdks/python/apache_beam/yaml/tests/json.yaml
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#30786 [Dataflow Streaming] Add workToken to thread name for easier debugging
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
Labels: runners, dataflow

#30756 Make GetParser method synchronized, to prevent multiple threads from accessing memoizedParser at the same time
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/DynamicProtoCoder.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoCoder.java
Labels: java, extensions, protobuf, Next Action: Reviewers

#30803 [Python] Update dev SDK container tag for Python SDK
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, build
