Repository apache/beam, pull requests merged in 2024-10, with the labels that each got.

#32591 Fix a bug in _get_function_body_without_inners for module sdks.python.transforms.core
  sdks/python/apache_beam/transforms/core.py
Labels: python, Next Action: Reviewers

#32604 [Java BQ] Default null array in Beam Row to empty array
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProtoTest.java
Labels: java, io, gcp

#32567 Fixes a transform upgrade compatibility issue related to BigqueryIO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
Labels: java, io, gcp, Next Action: Reviewers

#32607 [YAML] - Remove warning message
  sdks/python/apache_beam/yaml/yaml_io.py
Labels: python, Next Action: Reviewers, yaml

#32615 Bump dataflow java container version to beam-master-20240930
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow, Next Action: Reviewers

#32598 Deepcopy combine_fn in PrecombineFn and PostCombineFn.
  sdks/python/apache_beam/transforms/combinefn_lifecycle_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python

#32613 Support string FQN as a way to add lineage information
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/metrics/metric_test.py
Labels: python

#32342 Fix writing raw messages to pubsub
  sdks/python/apache_beam/yaml/yaml_io.py
Labels: python, Next Action: Reviewers, yaml

#32616 [prism][Java] Register option types
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismRegistrar.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismRegistrarTest.java
Labels: runners, prism

#32561 Report Lineage metrics for SpannerIO
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Lineage.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/BatchSpannerRead.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/NaiveSpannerRead.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/ReadOperation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/FakeServiceFactory.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOWriteTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#32619 [prism][java] Update Prism locator to match Python SDK semantics.
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismLocator.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismPipelineOptions.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismLocatorTest.java
  website/www/site/content/en/blog/validate-beam-release.md
Labels: website, runners, prism

#32624 Call out breaking assert_that change more explicitly
  CHANGES.md
  sdks/python/apache_beam/testing/util.py
Labels: python

#32515 BigQuey fix invalid null checks in io translation
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#32626 Fix pull_licenses_java script retry broken for tenacity 8.5
  sdks/java/container/license_scripts/pull_licenses_java.py
Labels: java, docker

#32629 Update building steps to use go 1.23.2
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/run_with_go_version.sh
Labels: go, build

#32630 Move remaining reference of python3.8 docker image to python 3.9
  .github/workflows/load-tests-pipeline-options/python_Combine_Flink_Batch_2GB_10_byte_records.txt
  .github/workflows/load-tests-pipeline-options/python_Combine_Flink_Batch_2GB_Fanout_4.txt
  .github/workflows/load-tests-pipeline-options/python_Combine_Flink_Batch_2GB_Fanout_8.txt
  .github/workflows/load-tests-pipeline-options/python_GBK_Flink_Batch_2GB_of_10B_records.txt
  examples/multi-language/README.md
Labels: build, examples

#32623 [yaml] package kafka_clients 3.1.2 in Kafka Provider jar
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/kafka-312/build.gradle
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
Labels: java, io, kafka

#32634 Revert "Deepcopy combine_fn in PrecombineFn and PostCombineFn."
  sdks/python/apache_beam/transforms/combinefn_lifecycle_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python

#32621 Add Java documentation to IcebergIO
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/SnapshotInfo.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
Labels: java, build, io, Next Action: Reviewers

#32325 Update direct_runner.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
Labels: python, runners, Next Action: Reviewers

#32546 Optimized SparkRunner ParDo Operation
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_SparkStructuredStreaming.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark_Java11.json
  CHANGES.md
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkTransformOverrides.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/TransformTranslator.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/PassThrough.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/RDDNode.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/RDDTreeParser.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/TransformTranslatorTest.java
Labels: runners, spark, Next Action: Reviewers

#32018 Rag opensearch usecase with Beam's MLTransform
  examples/notebooks/beam-ml/rag_usecase/opensearch_connector.py
  examples/notebooks/beam-ml/rag_usecase/opensearch_enrichment.py
  examples/notebooks/beam-ml/rag_usecase/opensearch_rag_pipeline.ipynb
Labels: examples

#32359 Update groupbykey.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupbykey.py
Labels: python, examples

#32143 [#32601][prism] Initial Deep Dive Documentation
  sdks/go/pkg/beam/runners/prism/internal/README.md
Labels: go, runners, Next Action: Reviewers

#32571 Fix counter metrics for ParDo#with_exception_handling(timeout).
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/ptransform_test.py
Labels: python

#32610 Spark Runner: Change to use partitioner in GroupNonMergingWindowsFunctions#groupByKeyInGlobalWindow
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/GroupNonMergingWindowsFunctions.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/GroupNonMergingWindowsFunctionsTest.java
Labels: build, runners, spark, Next Action: Reviewers

#32663 CP iceberg autosharding
  CHANGES.md
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AppendFilesToTables.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AssignDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriter.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteGroupedRowsToFiles.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteToDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteUngroupedRowsToFiles.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOWriteTest.java
Labels: java, io

#32664 Update CHANGES.md add 2.61.0 section and 2.59.0 known issue
  CHANGES.md
  website/www/site/content/en/blog/beam-2.59.0.md
Labels: website

#32644 Improve wheels job name
  .github/workflows/build_wheels.yml
Labels: build, Next Action: Reviewers

#32635 sdks/python/apache_beam/io: add note on `output_fn` ctor arg to indicate that It is unused and only retained for backward compatibility
  sdks/python/apache_beam/io/fileio.py
Labels: python, io, Next Action: Reviewers

#32637 [#28187] Add gradle targets to execute python tests with prism.
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
  sdks/python/pytest.ini
  sdks/python/test-suites/gradle.properties
  sdks/python/test-suites/portable/build.gradle
  sdks/python/test-suites/portable/common.gradle
  sdks/python/tox.ini
Labels: python, runners, Next Action: Reviewers, prism

#32658 Fix linter errors in Go SDK BUILD.md and README.md files
  sdks/go/BUILD.md
  sdks/go/README.md
Labels: go, Next Action: Reviewers

#32676 Update quickstart-java.md , corrected Kotlin syntax
  website/www/site/content/en/get-started/quickstart-java.md
Labels: website, Next Action: Reviewers

#32673 Tags Java SNAPSHOT containers with the '.dev' version
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
Labels: build, Next Action: Reviewers

#32683 Update dataflow container version
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners, Next Action: Reviewers

#32694 Revert "Set setFailIfPoolExhausted in SessionPoolOptions for SpannerA…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessorTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#32679 Support Protobuf 5.x
  sdks/python/apache_beam/transforms/window.py
  sdks/python/apache_beam/utils/proto_utils.py
  sdks/python/apache_beam/utils/proto_utils_test.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#32666 [Managed Iceberg] Make manifest file writes and commits more efficient
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  CHANGES.md
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AppendFilesToTables.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/FileWriteResult.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriter.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/SerializableDataFile.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteGroupedRowsToFiles.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteToDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteUngroupedRowsToFiles.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/RecordWriterManagerTest.java
Labels: java, build, io, Next Action: Reviewers

#32702 Revert "Set setFailIfPoolExhausted in SessionPoolOptions for SpannerAccessor"
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessorTest.java
Labels: java, io, gcp, spanner

#32686 [Managed Iceberg] Create tables if needed
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  CHANGES.md
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOWriteTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/TestDataWarehouse.java
Labels: java, build, io, Next Action: Reviewers

#32682 allow numpy 2.1.x
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#32650 Enforce a size limit on StringSetData
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/StringSetCell.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/StringSetData.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/StringSetDataTest.java
  sdks/python/apache_beam/metrics/cells.pxd
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/cells_test.py
  sdks/python/apache_beam/metrics/execution.py
  sdks/python/apache_beam/metrics/execution_test.py
  sdks/python/apache_beam/metrics/monitoring_infos.py
Labels: python, runners, core, Next Action: Reviewers

#32703 Force kafka 3.1.2 for expansion-service jar
  sdks/java/io/expansion-service/build.gradle
Labels: java, io

#32662 Report File Lineage on directory
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSink.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSource.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystem.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystems.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/ReadAllViaFileBasedSourceTransform.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/storage/GcsFileSystem.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/storage/GcsFileSystemTest.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/s3/S3FileSystem.java
  sdks/java/io/amazon-web-services/src/test/java/org/apache/beam/sdk/io/aws/s3/S3FileSystemTest.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/S3FileSystem.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/S3FileSystemTest.java
  sdks/java/io/azure/src/main/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystem.java
  sdks/java/io/azure/src/test/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystemTest.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/text/TextIOIT.java
  sdks/python/apache_beam/io/aws/s3filesystem.py
  sdks/python/apache_beam/io/aws/s3filesystem_test.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem_test.py
  sdks/python/apache_beam/io/filebasedsink.py
  sdks/python/apache_beam/io/filebasedsource.py
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/io/filesystems.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
Labels: python, java, io, extensions, aws, gcp, tests

#32715 [Dataflow Streaming] Remove call to Thread.setName and track thread name inside Work.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/StreamingWorkScheduler.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutorTest.java
Labels: runners, dataflow

#32706 [Release-2.60.0] Cherry-pick #32662 into the release branch
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSink.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSource.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystem.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileSystems.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/ReadAllViaFileBasedSourceTransform.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/storage/GcsFileSystem.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/storage/GcsFileSystemTest.java
  sdks/java/io/amazon-web-services/src/main/java/org/apache/beam/sdk/io/aws/s3/S3FileSystem.java
  sdks/java/io/amazon-web-services/src/test/java/org/apache/beam/sdk/io/aws/s3/S3FileSystemTest.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/S3FileSystem.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/S3FileSystemTest.java
  sdks/java/io/azure/src/main/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystem.java
  sdks/java/io/azure/src/test/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystemTest.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/text/TextIOIT.java
  sdks/python/apache_beam/io/aws/s3filesystem.py
  sdks/python/apache_beam/io/aws/s3filesystem_test.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem_test.py
  sdks/python/apache_beam/io/filebasedsink.py
  sdks/python/apache_beam/io/filebasedsource.py
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/io/filesystems.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
Labels: python, java, io, extensions, aws, gcp, tests

#32707 [Release-2.60.0] Cherry pick #32650 into the release branch
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/StringSetCell.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/StringSetData.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/StringSetDataTest.java
  sdks/python/apache_beam/metrics/cells.pxd
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/cells_test.py
  sdks/python/apache_beam/metrics/execution.py
  sdks/python/apache_beam/metrics/execution_test.py
  sdks/python/apache_beam/metrics/monitoring_infos.py
Labels: python, runners, core, Next Action: Reviewers

#32708 [Release-2.60.0] Cherry-pick #32703 into the release branch
  sdks/java/io/expansion-service/build.gradle
Labels: java, io

#32594 [Bug] fix fillna function on a single column fail
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/transforms.py
Labels: python, Next Action: Reviewers, slow-review

#32717 Fix assert in TextIOIT
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/text/TextIOIT.java
Labels: java, io, tests

#32632 Bump to Dataproc 2.2 and Flink 1.17 for load tests
  .github/workflows/beam_LoadTests_Go_CoGBK_Flink_batch.yml
  .github/workflows/beam_LoadTests_Go_Combine_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Go_GBK_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Go_ParDo_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Go_SideInput_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_CoGBK_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_Combine_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_Combine_Flink_Streaming.yml
  .github/workflows/beam_LoadTests_Python_GBK_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Flink_Batch.yml
  .github/workflows/beam_LoadTests_Python_ParDo_Flink_Streaming.yml
  .github/workflows/beam_Publish_Docker_Snapshots.yml
  .test-infra/dataproc/flink_cluster.sh
  .test-infra/jenkins/CommonTestProperties.groovy
  .test-infra/jenkins/Flink.groovy
Labels: build, infra, Next Action: Reviewers

#32326 Support ordered list states in python sdk and fnapi runner
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/bundle_processor_test.py
  sdks/python/apache_beam/transforms/userstate.py
  sdks/python/setup.py
Labels: python, runners

#32705 fix schema inference inside parameterized types
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/CoderRegistry.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaRegistryTest.java
Labels: java

#32695 Handle Date type in HCatToRow
  sdks/java/io/hcatalog/src/main/java/org/apache/beam/sdk/io/hcatalog/HCatToRow.java
  sdks/java/io/hcatalog/src/test/java/org/apache/beam/sdk/io/hcatalog/HCatalogIOTest.java
  sdks/java/io/hcatalog/src/test/java/org/apache/beam/sdk/io/hcatalog/test/HCatalogIOTestUtils.java
Labels: java, io, hcatalog, Next Action: Reviewers

#32645 Try deepcopy combine_fn and fallback to pickling if TypeError.
  sdks/python/apache_beam/transforms/combinefn_lifecycle_pipeline.py
  sdks/python/apache_beam/transforms/combinefn_lifecycle_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python, Next Action: Reviewers

#32688 [Managed Iceberg] Add support for TIMESTAMP, TIME, and DATE types
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  CHANGES.md
  sdks/java/io/iceberg/hive/src/test/java/org/apache/beam/sdk/io/iceberg/hive/IcebergHiveCatalogIT.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergUtils.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergUtilsTest.java
Labels: java, build, io, Next Action: Reviewers

#32668 Add support for Read with Meatadata in `MqttIO`
  CHANGES.md
  sdks/java/io/mqtt/src/main/java/org/apache/beam/sdk/io/mqtt/MqttIO.java
  sdks/java/io/mqtt/src/main/java/org/apache/beam/sdk/io/mqtt/MqttRecord.java
  sdks/java/io/mqtt/src/test/java/org/apache/beam/sdk/io/mqtt/MqttIOTest.java
Labels: java, io, mqtt, Next Action: Reviewers

#32736 Attempt to fix the permred "PostCommit Java IO Performance Tests"
  .github/workflows/beam_PostCommit_Java_IO_Performance_Tests.yml
Labels: build, Next Action: Reviewers

#32722 Add Application Default Authentication as an Option for Kafka Clients in KafkaIO When Using Managed Service for Apache Kafka
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka

#32698 Add check to avro and kafka compatibility tests
  buildSrc/src/main/groovy/org/apache/beam/gradle/kafka/KafkaTestUtilities.groovy
  sdks/java/extensions/avro/build.gradle
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/AvroVersionVerificationTest.java
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/kafka-integration-test.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, build, io, extensions, kafka

#32742 Checky-pick https://github.com/apache/beam/pull/32737/
  sdks/python/apache_beam/runners/interactive/dataproc/dataproc_cluster_manager.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
Labels: python, runners, Next Action: Reviewers

#32744 Fix the snapshot publishing script
  sdks/python/scripts/run_snapshot_publish.sh
Labels: python

#32747 Fix Pydoc Precommit
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/setup.py
  sdks/python/tox.ini
Labels: python

#32745 Fixed the tox and pyproject settings for numpy 2
  sdks/python/pyproject.toml
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#32725 Fix build_wheels and build_release_candidate
  .github/workflows/build_release_candidate.yml
  .github/workflows/build_wheels.yml
Labels: build

#32750 Fix docker search
  .github/workflows/finalize_release.yml
Labels: build

#32749 Fix more numpy 2 test issues
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#32752 Do not fail the job when submission_environment_dependencies.txt cannot be loaded
  sdks/python/container/boot.go
Labels: python, docker, Next Action: Reviewers

#32753 Add 2.51->52 breaking incompatibility to CHANGES.md
  CHANGES.md
  website/www/site/content/en/blog/beam-2.52.0.md
Labels: website

#32661 fix: skip close on bundles
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#32751 disable expansion service cache
  sdks/java/expansion-service/build.gradle
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/extensions/sql/expansion-service/build.gradle
  sdks/java/io/expansion-service/build.gradle
  sdks/python/apache_beam/io/filesystems.py
Labels: python, java, io, extensions, sql

#32761 [Release 2.60.0] Cherry-pick #32725 into release branch
  .github/workflows/build_release_candidate.yml
  .github/workflows/build_wheels.yml
Labels: build

#32762 [Release-2.60.0] cherry-pick #32747 into release branch
  sdks/python/apache_beam/dataframe/frame_base.py
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/setup.py
  sdks/python/tox.ini
Labels: python

#32759 [Release-2.60.0] Cherry pick #32661 into the release branch
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
Labels: java, io, gcp, bigtable

#32765 Fix flaky mqtt test
  sdks/java/io/mqtt/src/test/java/org/apache/beam/sdk/io/mqtt/MqttIOTest.java
Labels: java, io, mqtt, Next Action: Reviewers

#32719 Pin protobuf version for TF dependency tests
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#32767 Usse ubuntu-22.04 for release candidate build for now
  .github/workflows/build_release_candidate.yml
Labels: build

#32772 Fix download artifact truncate page
  release/src/main/scripts/download_github_actions_artifacts.py
Labels: build

#32777 plumb backend worker token to work items
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStream.java
Labels: runners, dataflow, Next Action: Reviewers

#32739 Polish .with_exception_handling docstring
  sdks/python/apache_beam/transforms/core.py
Labels: python, Next Action: Reviewers

#32755 Add ordered list state to python capabilities
  sdks/python/apache_beam/transforms/environments.py
Labels: python, Next Action: Reviewers

#32785 Add license to fix RAT failure
  sdks/python/apache_beam/transforms/managed_iceberg_it_test.py
Labels: python

#32687 vLLM model handler efficiency improvements
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/ml/inference/vllm_inference.py
Labels: python, build, Next Action: Reviewers

#32771 Revert disabled Gradle cache in #32751
  sdks/java/expansion-service/build.gradle
  sdks/java/extensions/sql/expansion-service/build.gradle
  sdks/java/io/expansion-service/build.gradle
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, java, io, extensions, sql, Next Action: Reviewers, yaml

#32788 Update CHANGES.md
  CHANGES.md
Labels: Next Action: Reviewers

#32757 Schema inference parameterized types
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/AutoValueSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/FieldValueTypeInformation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/JavaBeanSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/JavaFieldSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaRegistry.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/providers/JavaRowUdf.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AutoValueUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ConvertHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ReflectUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/StaticSchemaInference.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/AutoValueSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaBeanSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaFieldSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtilsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/POJOUtilsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/TestJavaBeans.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/TestPOJOs.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoMessageSchema.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/io/thrift/src/main/java/org/apache/beam/sdk/io/thrift/ThriftSchema.java
Labels: java, io, extensions, protobuf, thrift

#32791 Add the beam summit 2024 overview blog
  website/www/site/content/en/blog/beam-summit-2024-overview.md
Labels: website, Next Action: Reviewers

#32807 Update authors.yml
  website/www/site/data/authors.yml
Labels: website

#32803 Fix StressTests Java BigQueryIO job flakiness
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryIOST.java
Labels: Next Action: Reviewers

#32810 make TransformingMap serializable
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
Labels: java, build

#32823 Correctly propogate retries
  sdks/python/apache_beam/ml/inference/vllm_inference.py
Labels: python, Next Action: Reviewers

#32286 [yaml] Add enrichment transform to Beam YAML
  sdks/python/apache_beam/yaml/integration_tests.py
  sdks/python/apache_beam/yaml/standard_providers.yaml
  sdks/python/apache_beam/yaml/tests/enrichment.yaml
  sdks/python/apache_beam/yaml/yaml_enrichment.py
  sdks/python/apache_beam/yaml/yaml_enrichment_test.py
Labels: python, Next Action: Reviewers, slow-review, yaml

#32837 Move GitHub Actions workflows to Flink 1.19 and remove 1.15 and 1.16
  .github/actions/setup-default-test-properties/test-properties.json
  .github/workflows/beam_LoadTests_Java_GBK_Smoke.yml
  .github/workflows/beam_PostCommit_Java_Examples_Flink.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Flink.yml
  .github/workflows/beam_PostCommit_Java_PVR_Flink_Streaming.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink_Java8.yml
  .github/workflows/beam_PostCommit_XVR_Flink.yml
  .github/workflows/beam_PreCommit_Java_PVR_Flink_Batch.yml
  .github/workflows/beam_PreCommit_Java_PVR_Flink_Docker.yml
Labels: build, Next Action: Reviewers

#32582 feat: add pubsub topic validation
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubTestClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClientTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#32738 2.60.0 Release blog post
  website/www/site/content/en/blog/beam-2.60.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#32839 Use WindowedValueParam for interactive cache.
  sdks/python/apache_beam/runners/interactive/caching/reify.py
Labels: python, runners

#32852 Revert "Update pyproject.toml by using grpcio-tools==1.65.5"
  sdks/python/pyproject.toml
Labels: python, Next Action: Reviewers

#32845 [#32847][prism] Add Github Action for Prism as a Python precommit
  .github/workflows/beam_PreCommit_Prism_Python.yml
Labels: build, Next Action: Reviewers

#32853 Follow up website and change.md after 2.60 release
  CHANGES.md
  website/www/site/config.toml
Labels: website, Next Action: Reviewers

#32834 Note Flink 1.19 support in CHANGES.md
  CHANGES.md
Labels: Next Action: Reviewers

#32859 Add RAG to docs
  website/www/site/content/en/documentation/ml/large-language-modeling.md
Labels: website

#32861 Enrichment pydoc improvements
  sdks/python/apache_beam/yaml/yaml_enrichment.py
Labels: python, Next Action: Reviewers, yaml

#32841 Using single temp maven local repository for release validation tasks
  .github/workflows/beam_PostRelease_NightlySnapshot.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  release/src/main/groovy/TestScripts.groovy
Labels: build, Next Action: Reviewers

#32445 Add various utility meta-transforms to Beam.
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Flatten.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Tee.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/FlattenTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/TeeTest.java
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/scripts/generate_pydoc.sh
  website/www/site/content/en/documentation/programming-guide.md
Labels: python, java, website, examples, Next Action: Reviewers

#32851 Fix failing YAML mapping IT
  sdks/python/apache_beam/yaml/tests/map.yaml
Labels: python, yaml

#32826 [#30703][prism] Update logging handling
  sdks/go.mod
  sdks/go.sum
  sdks/go/cmd/prism/prism.go
  sdks/go/pkg/beam/core/runtime/metricsx/metricsx.go
  sdks/go/pkg/beam/runners/prism/internal/coders.go
  sdks/go/pkg/beam/runners/prism/internal/engine/data.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/environments.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/artifact.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/metrics.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/server.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/separate_test.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/web/web.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
Labels: go, runners, prism

#32689 fix: generate random index name for change streams
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/NameGenerator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/DaoFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataAdminDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataTableNames.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/CleanUpReadChangeStreamDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/InitializeDoFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/NameGeneratorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataAdminDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataTableNamesTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#32775 Simplify budget distribution logic and new worker metadata consumption
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/GlobalDataStreamSender.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingEngineBackends.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/WindmillStreamSender.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillEndpoints.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServiceAddress.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/WindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillStreamFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillChannelFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/EvenGetWorkBudgetDistributor.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/GetWorkBudgetDistributors.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/GetWorkBudgetSpender.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/WindmillStreamSenderTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/EvenGetWorkBudgetDistributorTest.java
Labels: runners, dataflow, Next Action: Reviewers

#32643 Remove Python 3.8 Support from Apache Beam
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
  .github/workflows/build_wheels.yml
  .test-infra/jenkins/metrics_report/tox.ini
  .test-infra/mock-apis/pyproject.toml
  .test-infra/tools/python_installer.sh
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  contributor-docs/release-guide.md
  gradle.properties
  local-env-setup.sh
  playground/infrastructure/cloudbuild/playground_cd_examples.sh
  playground/infrastructure/cloudbuild/playground_ci_examples.sh
  release/src/main/Dockerfile
  release/src/main/python-release/python_release_automation.sh
  sdks/python/apache_beam/__init__.py
  sdks/python/apache_beam/ml/inference/test_resources/vllm.dockerfile
  sdks/python/expansion-service-container/Dockerfile
  sdks/python/setup.py
Labels: python, build, infra

#32888 Move enrichment transformns to examples/notebooks/beam-ml
  examples/notebooks/beam-ml/bigquery_enrichment_transform.ipynb
Labels: examples

#32875 Enable BuildKit on gradle docker task
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamDockerPlugin.groovy
Labels: build

#32843 Drop Flink 1.15 and 1.16 support
  CHANGES.md
  gradle.properties
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/runner-concepts/description.md
  runners/flink/1.15/build.gradle
  runners/flink/1.15/job-server-container/build.gradle
  runners/flink/1.15/job-server/build.gradle
  runners/flink/1.15/src/main/java/org/apache/beam/runners/flink/translation/types/CoderTypeSerializer.java
  runners/flink/1.16/build.gradle
  runners/flink/1.16/job-server-container/build.gradle
  runners/flink/1.16/job-server/build.gradle
  runners/flink/1.17/src/test/java/org/apache/beam/runners/flink/streaming/MemoryStateBackendWrapper.java
  runners/flink/1.17/src/test/java/org/apache/beam/runners/flink/streaming/StreamSources.java
  runners/flink/flink_runner.gradle
  sdks/go/examples/wasm/README.md
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/typescript/src/apache_beam/runners/flink.ts
  settings.gradle.kts
  website/www/site/content/en/documentation/runners/flink.md
Labels: python, go, build, website, examples, runners, learning, flink, typescript

#32876 [prism] Dev prism builds for python and Python Direct Runner fallbacks.
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/runners/portability/prism_runner.py
Labels: python, runners, Next Action: Reviewers, prism

#32782 Remove experiments guarding isolated channels enablement based on jobsettings
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClientTest.java
Labels: runners, dataflow

#32890 Add target parameter to BeamDockerPlugin
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamDockerPlugin.groovy
Labels: build

#32874 Update docs on error handling output schema.
  website/www/site/content/en/documentation/sdks/yaml-errors.md
Labels: website

#32887 Revert "Merge pull request #32757: Schema inference parameterized types"
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/AutoValueSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/FieldValueTypeInformation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/JavaBeanSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/JavaFieldSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaRegistry.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/providers/JavaRowUdf.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AutoValueUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ConvertHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ReflectUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/StaticSchemaInference.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/AutoValueSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaBeanSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JavaFieldSchemaTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtilsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/POJOUtilsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/TestJavaBeans.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/TestPOJOs.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoMessageSchema.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/io/thrift/src/main/java/org/apache/beam/sdk/io/thrift/ThriftSchema.java
Labels: java, io, extensions, protobuf, thrift

#32512 Support Map in BQ for StorageWrites API for Beam Rows
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProtoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
Labels: java, io, gcp, Next Action: Reviewers

#32900 Fix java sdk container dependency for Python PostCommit
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/test-suites/portable/common.gradle
  website/www/site/content/en/documentation/runtime/environments.md
Labels: python, build, website

#32735 [blog] - Beam YAML protobuf blogpost
  website/www/site/content/en/blog/beam-yaml-proto.md
  website/www/site/data/authors.yml
Labels: website, Next Action: Reviewers

#32903 Update generate_pydoc.sh
  sdks/python/scripts/generate_pydoc.sh
Labels: python, Next Action: Reviewers

#32908 Doc fixes after 2.60 release
  .github/workflows/README.md
  contributor-docs/release-guide.md
Labels: build, Next Action: Reviewers

#32402 Kafka metrics
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/StageInfo.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaMetrics.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSinkMetrics.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaMetricsTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaSinkMetricsTest.java
Labels: java, io, runners, dataflow, kafka

#32912 Fix JavaPreCommit on Java11
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismExecutor.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismExecutorTest.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/metrics/TestSamzaRunnerWithTransformMetrics.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/GroupByKeyOpTest.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/SamzaStoreStateInternalsTest.java
Labels: runners, samza, prism

#32909 Test fix after runner bump to Java11
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/RpcQos.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/RpcQosImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangestreamsReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/BaseFirestoreV1WriteFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1FnBatchWriteWithDeadLetterQueueTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1FnBatchWriteWithSummaryTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/RpcQosSimulationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/RpcQosTest.java
  sdks/java/javadoc/build.gradle
Labels: java, io, gcp, spanner

#32882 Increase RemoteExecutionTest sdk start timeout, caused flaky failure.
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
Labels: runners, fn-execution, Next Action: Reviewers

#32923 Update commons-codec to 1.17.1
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#32860 Add a vLLM notebook
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
Labels: examples

#32935 Fix web page references to Flink 1.19 support since it is not released until 2.61.0
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/runner-concepts/description.md
  website/www/site/content/en/documentation/runners/flink.md
Labels: website, learning

#32919 [#28187] Add a Java gradle task to run validates runner tests on Prism.
  .github/workflows/beam_PreCommit_Java_PVR_Prism_Loopback.yml
  runners/prism/build.gradle
  runners/prism/java/build.gradle
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismExecutor.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismLocator.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismPipelineOptions.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismRunner.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismLocatorTest.java
  sdks/go/cmd/prism/prism.go
Labels: go, build, runners, prism

#32926 Fix DebeziumIO JmsIO PreCommit
  sdks/go/test/integration/io/xlang/debezium/debezium_test.go
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumIOPostgresSqlConnectorIT.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformTest.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/JmsIOIT.java
  sdks/python/apache_beam/io/external/xlang_debeziumio_it_test.py
Labels: python, java, go, io, jms, Next Action: Reviewers

#32943 Remove gradle task java8's
  runners/portability/java/build.gradle
  runners/prism/java/build.gradle
Labels: runners, portability, prism

#32871 Modernize type hints for bundle_processor.py.
  sdks/python/apache_beam/runners/worker/bundle_processor.py
Labels: python, runners

#32946 Don't swallow BQ file loads writer errors
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteBundlesToFiles.java
Labels: java, io, gcp

#32927 Fix GCSUtils IT after Gcs gRPC launch
  .github/trigger_files/beam_PostCommit_Java.json
  sdks/java/extensions/google-cloud-platform-core/build.gradle
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtilIT.java
Labels: java, build, extensions, gcp, Next Action: Reviewers

#32947 Fix a few notebook typos
  examples/notebooks/beam-ml/bigquery_enrichment_transform.ipynb
  examples/notebooks/beam-ml/rag_usecase/opensearch_rag_pipeline.ipynb
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
Labels: examples

#32951 Add Python 3.12 to documentation
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/content/en/get-started/quickstart-py.md
Labels: website, Next Action: Reviewers

#32954 Remove duplicate button from notebook
  examples/notebooks/beam-ml/bigquery_enrichment_transform.ipynb
Labels: examples

#32955 Fix gemma notebook formatting
  examples/notebooks/beam-ml/gemma_2_sentiment_and_summarization.ipynb
Labels: examples

#32959 Update discussion docs
  contributor-docs/discussion-docs/2024.md
Labels: Next Action: Reviewers

#32913 Remove remaining Python 3.8 Artifacts
  .github/workflows/update_python_dependencies.yml
  CHANGES.md
  build.gradle.kts
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
  sdks/python/container/build.gradle
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py38/build.gradle
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/dataflow/py38/build.gradle
  sdks/python/test-suites/direct/py38/build.gradle
  sdks/python/test-suites/portable/py38/build.gradle
  sdks/python/test-suites/tox/py38/build.gradle
Labels: python, build, runners, Next Action: Reviewers

#32957 Suppress future warning affecting Dataflow notebook
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization.py
Labels: python, runners, Next Action: Reviewers

#32958 Use beam-vendor-grpc-1_60_1:0.3
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#32966 Disable the Py39embeddingsMLTransform tests in the Dependency Postcommit
  sdks/python/test-suites/tox/py39/build.gradle
Labels: python, Next Action: Reviewers

#32776 Propogate field_descriptions to RowTypeConstraint
  sdks/python/apache_beam/typehints/row_type.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/typehints/schemas_test.py
Labels: python

#32922 fix silent failures in dispatch loop from stalling the pipeline
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowWorkerHarnessHelper.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkerUncaughtExceptionHandler.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/SingleSourceWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingApplianceWorkCommitter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/GetWorkBudgetRefresher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/StreamingWorkScheduler.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingEngineComputationConfigFetcherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/SingleSourceWorkerHarnessTest.java
Labels: runners, dataflow

#32974 Copy in correct requirements file
  .github/trigger_files/beam_PostCommit_TransformService_Direct.json
  sdks/python/expansion-service-container/build.gradle
Labels: python, build

#32081 make FieldValueTypeInformation creators take a TypeDescriptor parameter
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/AutoValueSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/CachingFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/FieldValueGetter.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/FieldValueTypeInformation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/GetterBasedSchemaProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/GetterBasedSchemaProviderV2.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/JavaBeanSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/JavaFieldSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AutoValueUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ByteBuddyUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ReflectUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/common/ReflectHelpers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/RowWithGetters.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/FieldValueTypeInformationTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtilsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/POJOUtilsTest.java
  sdks/java/extensions/arrow/src/main/java/org/apache/beam/sdk/extensions/arrow/ArrowConversion.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/AvroRecordSchema.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoMessageSchema.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsSchemaProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsSchemaUtils.java
  sdks/java/io/thrift/src/main/java/org/apache/beam/sdk/io/thrift/ThriftSchema.java
Labels: java, io, extensions, protobuf, Next Action: Reviewers, thrift

#32976 Bump Flink and Spark job server container base imager to tumerin-11
  .github/trigger_files/beam_PostCommit_Java_PVR_Flink_Batch.json
  .github/trigger_files/beam_PostCommit_Java_PVR_Flink_Docker.json
  .github/trigger_files/beam_PostCommit_Java_PVR_Spark3_Streaming.json
  .github/trigger_files/beam_PostCommit_Java_PVR_Spark_Batch.json
  runners/flink/job-server-container/Dockerfile
  runners/spark/job-server/container/Dockerfile
Labels: build, docker, runners, spark, flink, Next Action: Reviewers

#32978 Upgrade mypy to version 1.13.0
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders_property_based_test.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/ml/inference/xgboost_inference_test.py
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/apache_beam/runners/dataflow/internal/clients/dataflow/__init__.py
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/portability/local_job_service.py
  sdks/python/apache_beam/runners/render.py
  sdks/python/apache_beam/runners/worker/log_handler.py
  sdks/python/apache_beam/runners/worker/opcounters.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
  sdks/python/apache_beam/testing/benchmarks/chicago_taxi/tfdv_analyze_and_validate.py
  sdks/python/apache_beam/testing/benchmarks/chicago_taxi/trainer/taxi.py
  sdks/python/apache_beam/testing/load_tests/sideinput_test.py
  sdks/python/apache_beam/testing/test_stream_service_test.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/display.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/stats.py
  sdks/python/apache_beam/transforms/userstate.py
  sdks/python/apache_beam/utils/profiler.py
  sdks/python/apache_beam/utils/proto_utils.py
  sdks/python/mypy.ini
  sdks/python/tox.ini
Labels: python, runners, Next Action: Reviewers
