Repository apache/beam, pull requests merged in 2024-04, with the labels that each got.

#30779 Include everit_json_schema in schemaio expansion service uber jar
  sdks/java/extensions/schemaio-expansion-service/build.gradle
Labels: java, extensions, Next Action: Reviewers

#30751 add get beam latest release and fix GCP auth
  .github/workflows/beam_PostCommit_Java_IO_Performance_Tests.yml
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryStreamingLT.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigtable/BigTableIOLT.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/storage/FileBasedIOLT.java
Labels: build

#30653 only record per state change processing times for streaming pipelines
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContextTest.java
Labels: runners, dataflow, Next Action: Reviewers

#30817 Fix typo in side-inputs `README.md`
  learning/tour-of-beam/learning-content/core-transforms/side-inputs/description.md
Labels: learning, Next Action: Reviewers

#30812 Don't double-nest display data payloads.
  sdks/python/apache_beam/transforms/display.py
Labels: python

#30749 Duet ai code prompts for gcloud services
  learning/prompts/code-explanation/java/02_io_pubsub.md
  learning/prompts/code-explanation/java/03_io_bigquery.md
  learning/prompts/code-explanation/java/04_io_bigtable.md
  learning/prompts/code-explanation/java/05_io_spanner.md
  learning/prompts/code-generation/java/02_io_pubsub.md
  learning/prompts/code-generation/java/03_io_bigquery.md
  learning/prompts/code-generation/java/04_io_bigtable.md
  learning/prompts/code-generation/java/05_io_spanner.md
Labels: learning, Next Action: Reviewers

#30785 Duet AI code prompts final
  learning/prompts/code-explanation/java/01_io_kafka.md
  learning/prompts/code-explanation/java/06_io_tfrecord.md
  learning/prompts/code-explanation/java/11_io_jdbc.md
  learning/prompts/code-generation/java/01_io_kafka.md
  learning/prompts/code-generation/java/06_io_tfrecord.md
  learning/prompts/code-generation/java/11_io_jdbc.md
Labels: learning, Next Action: Reviewers

#30823 Include everit_json_schema in schemaio expansion service uber jar (#30779)
  sdks/java/extensions/schemaio-expansion-service/build.gradle
Labels: java, extensions

#30800 Add SpannerIO Stress test
  it/google-cloud-platform/build.gradle
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/spanner/SpannerResourceManager.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/spanner/SpannerIOST.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/spanner/SpannerResourceManagerTest.java
Labels: Next Action: Reviewers

#30807 Add WaitOn transform to Python, analogous to Java's Wait.on.
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python, Next Action: Reviewers

#30827 Update dataflow containers on release branch
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#30811 Add cancel button to Prism UI
  sdks/go/pkg/beam/runners/prism/internal/web/assets/job-action.js
  sdks/go/pkg/beam/runners/prism/internal/web/assets/style.css
  sdks/go/pkg/beam/runners/prism/internal/web/jobdetails.html
Labels: go, runners, Next Action: Reviewers

#30833 Add back Avro 1.8.2 to test
  .github/trigger_files/beam_PostCommit_Java_Avro_Versions.json
  CHANGES.md
  sdks/java/extensions/avro/build.gradle
Labels: java, build, extensions, Next Action: Reviewers

#30804 White space Fix log and error messages
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptions.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowStreamingPipelineOptions.java
  runners/twister2/src/main/java/org/apache/beam/runners/twister2/Twister2PipelineResult.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/UnknownCoderWrapper.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/RequiresStableInputIT.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/construction/MorePipelineTest.java
  sdks/java/io/file-schema-transform/src/main/java/org/apache/beam/sdk/io/fileschematransform/FileReadSchemaTransformConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslation.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkOptions.java
Labels: java, io, runners, dataflow, gcp, kafka, twister2, Next Action: Reviewers, healthcare

#30846 update gcloud to 471 in runner image
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
Labels: build, Next Action: Reviewers

#30746 byte-buddy:1.14.12
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#30858 Use empty flags for default expansion service options.
  sdks/python/apache_beam/runners/portability/expansion_service.py
Labels: python

#30439 Tune maximum thread count for streaming dataflow worker executor dynamically.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowWorkUnitClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkUnitClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerStatusReporter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowWorkUnitClientTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerStatusReporterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutorTest.java
Labels: build, runners, dataflow

#30866 update runner image
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
Labels: Next Action: Reviewers

#30857 Implement LengthPrefixCoder.to_type_hint
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test.py
Labels: python

#30826 Docker - Remove Deprecated Types
  sdks/go/pkg/beam/runners/prism/internal/environments.go
Labels: go, runners, Next Action: Reviewers

#30862 [YAML] Interpret PDone as no outputs.
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
Labels: python, yaml

#30842 Proposed edits for Beam YAML overview
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website, Next Action: Reviewers

#27284 Yaml API: Day Zero tutorial notebook
  examples/notebooks/get-started/try-apache-beam-yaml.ipynb
Labels: examples

#30856 Correct the version spec
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#30871 Remove outdated comment about docker.
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website

#30782 Lower various logging statement levels to clean up example printing
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
Labels: python

#30851 Allow lazy iteration for non-reiterables.
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/join/CoGbkResult.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/join/CoGbkResultTest.java
Labels: java

#30864 merging non-canonical environments fails
  sdks/python/apache_beam/runners/common.py
Labels: python

#30863 Adds a bound on pydantic to exclude incompatible versions in the compat test.
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#30744 Add identity function as default to FlatMap
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/flatmap_nofunction.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/flatmap_test.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/core_test.py
  website/www/site/content/en/documentation/transforms/python/elementwise/flatmap.md
Labels: python, website, examples

#30808 [Java] ManagedIO
  build.gradle.kts
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/YamlUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/YamlUtilsTest.java
  sdks/java/managed/build.gradle
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/package-info.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProviderTest.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedTest.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/TestSchemaTransformProvider.java
  sdks/java/managed/src/test/resources/test_config.yaml
  settings.gradle.kts
Labels: java, build

#30839 Patch release website changes
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#30868 Bump GCP-BOM to 26.36.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  scripts/tools/bomupgrader.py
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImplTest.java
Labels: java, build, docker, io, gcp, Next Action: Reviewers

#30802 [Flink] Speed up file write in batch mode by using larger bundle size
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkTransformOverrides.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkPipelineOptionsTest.java
Labels: runners, flink, Next Action: Reviewers

#30769 Implement LockFreeHistogram and use it for PerWorkerHistograms
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/LockFreeHistogram.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/LockFreeHistogramTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#30897 [yaml] remove Combine from yaml_experimental_features
  examples/notebooks/get-started/try-apache-beam-yaml.ipynb
  sdks/python/apache_beam/yaml/examples/README.md
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_count_minimal.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_max_minimal.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_mean_minimal.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_min_minimal.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_multiple_aggregations.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_sum.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_sum_minimal.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/group_into_batches.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/top_largest_per_key.yaml
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/top_smallest_per_key.yaml
  sdks/python/apache_beam/yaml/examples/wordcount_minimal.yaml
  sdks/python/apache_beam/yaml/programming_guide_test.py
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_combine.py
  sdks/python/apache_beam/yaml/yaml_combine_test.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
  website/www/site/content/en/documentation/sdks/yaml-combine.md
Labels: python, website, examples, Next Action: Reviewers, yaml

#30907 Update a restriction for another test suite
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#30877 [bug30870]: make consumer polling timeout configurable for KafkaIO.Read
  CHANGES.md
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibility.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, kafka, Next Action: Reviewers

#30843 [yaml] disable javascript mapping for python >=3.12
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_udf_test.py
  sdks/python/setup.py
Labels: python, yaml

#30672 Correct per-entry HashMap overhead in WindmillStateCache
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateCache.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternalsTest.java
Labels: runners, dataflow

#30917 Remove Bruno from reviewer pool
  .github/REVIEWERS.yml
Labels: build

#30902 [java-extension-sql]Beam Sql doesn't honor aliases because of `BeamAggregateProjectMergeRule` optimization
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/planner/BeamRuleSets.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlAliasTest
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/rule/BeamAggregateProjectMergeRuleTest.java
Labels: java, extensions, sql

#30918 Add snappy to 3.11 containers
  .github/trigger_files/beam_PostCommit_Python_ValidatesContainer_Dataflow.json
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker, Next Action: Reviewers

#30869 Adding support for high priority queries to xlang transforms writing …
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerTransformRegistrar.java
  sdks/python/apache_beam/io/gcp/spanner.py
Labels: python, java, io, gcp, Next Action: Reviewers, spanner

#30896 [yaml] add use-case example
  sdks/python/apache_beam/yaml/examples/simple_filter.yaml
  sdks/python/apache_beam/yaml/examples/simple_filter_and_combine.yaml
  sdks/python/apache_beam/yaml/examples/testing/__init__.py
  sdks/python/apache_beam/yaml/examples/testing/examples_test.py
  sdks/python/apache_beam/yaml/examples/wordcount_minimal.yaml
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, yaml

#30848 Load and Stress Tests: Add workflows, improvements and fixes
  .github/workflows/beam_LoadTests_Java_PubsubIO.yml
  .github/workflows/beam_StressTests_Java_BigQueryIO.yml
  .github/workflows/beam_StressTests_Java_BigTableIO.yml
  .github/workflows/beam_StressTests_Java_KafkaIO.yml
  .github/workflows/beam_StressTests_Java_SpannerIO.yml
  it/google-cloud-platform/build.gradle
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/IOLoadTestBase.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/LoadTestBase.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryIOST.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigtable/BigTableIOST.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/pubsub/PubsubIOLT.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/spanner/SpannerIOST.java
  it/kafka/build.gradle
  it/kafka/src/test/java/org/apache/beam/it/kafka/KafkaIOST.java
Labels: build, Next Action: Reviewers

#30898 [yaml] Add Beam YAML Blog
  website/www/site/content/en/blog/beam-yaml-release.md
  website/www/site/data/authors.yml
Labels: website, Next Action: Reviewers

#30929 Fix cron in github workflow file
  .github/workflows/beam_StressTests_Java_KafkaIO.yml
Labels: build, Next Action: Reviewers

#30931 Remove comma that breaks formatting
  examples/notebooks/get-started/try-apache-beam-yaml.ipynb
Labels: examples

#30874 Add gradle target and github workflow for cross-langauge yaml tests.
  .github/workflows/beam_PreCommit_Yaml_Xlang_Direct.yml
  sdks/python/build.gradle
Labels: python, build, Next Action: Reviewers

#30932 [yaml] Fix Beam YAML blog links
  website/www/site/content/en/blog/beam-yaml-release.md
Labels: website

#30935 Fixup iceberg GitHub Action workflow
  .github/workflows/IO_Iceberg.yml
Labels: build, Next Action: Reviewers

#30886 Add PubSubIO Stress test
  .github/workflows/beam_StressTests_Java_PubSubIO.yml
  it/google-cloud-platform/build.gradle
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/pubsub/PubSubIOST.java
Labels: build

#30919 Update sqlalchemy requirement from >=1.3,<2.0 to >=1.3,<3.0 in /sdks/python
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, build, docker, io

#30912 Upgrade grpcio-tools.
  playground/infrastructure/requirements.txt
  sdks/python/pyproject.toml
Labels: python, Next Action: Reviewers

#30625 Add config validation to kafka read schema transform
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
Labels: java, io, kafka, Next Action: Reviewers, slow-review

#30940 Fix broken lint and improve lint rules.
  .github/workflows/beam_PreCommit_Whitespace.yml
  it/google-cloud-platform/build.gradle
Labels: build

#30893 Support FLOAT32 type in Spanner
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/MutationSizeEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/MutationUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/StructUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/MutationSizeEstimatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/MutationUtilsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/StructUtilsTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#30951 [BEAM-30950] Disable failing test for now.
  sdks/python/build.gradle
Labels: python

#30942 Update java-dependency-guide contributor-doc reflecting gcpbomupgrader script
  contributor-docs/java-dependency-upgrades.md
Labels: Next Action: Reviewers

#30949 Increase the timeout value for LeaderBoard example on DataflowRunner
  release/src/main/groovy/MobileGamingCommands.groovy
Labels: build, Next Action: Reviewers

#30805 Re-add iceberg bounded source; test splitting
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/io/iceberg/IcebergIO.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/io/iceberg/IcebergScanConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/io/iceberg/RecordWriter.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/io/iceberg/RowHelper.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/io/iceberg/ScanSource.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/io/iceberg/ScanTaskReader.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/io/iceberg/ScanTaskSource.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/io/iceberg/SchemaAndRowConversions.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/io/iceberg/SchemaHelper.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/io/iceberg/FileWriteResultTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/io/iceberg/IcebergIOReadTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/io/iceberg/IcebergIOWriteTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/io/iceberg/RowHelperTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/io/iceberg/ScanSourceTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/io/iceberg/SchemaAndRowConversionsTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/io/iceberg/TestFixtures.java
Labels: java, io

#30956 Fix sdist
  sdks/python/pyproject.toml
Labels: python

#30953 Document how to trigger test suites.
  .github/workflows/README.md
Labels: build

#30958 Revert setuptools upperbound since buggy releases are yanked.
  sdks/python/pyproject.toml
Labels: python

#30905 #30903: Do not reemit data from impulse
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSource.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderBase.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplit.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplitEnumerator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/bounded/FlinkBoundedSource.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/bounded/FlinkBoundedSourceReader.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/impulse/BeamImpulseSource.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/bounded/FlinkBoundedSourceReaderTest.java
Labels: runners, flink, Next Action: Reviewers

#30968 change grafana creds to use readonly account for beammetrics cloudsql db
  .test-infra/metrics/kubernetes/beamgrafana-deploy.yaml
Labels: infra, Next Action: Reviewers

#30936 Restore pip logs also for requirements.txt case
  CHANGES.md
  sdks/python/container/piputil.go
Labels: python, docker

#30795 Upload PerWorkerMetrics every 30 second instead of every 10 seconds
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowStreamingPipelineOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerStatusReporter.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerStatusReporterTest.java
Labels: runners, dataflow

#30972 Fix build wheels due to setuptools changed naming
  .github/workflows/build_wheels.yml
Labels: build

#30969 [runners-flink] Fix watermark emission for empty splits (#29816)
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderBase.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplit.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplitEnumerator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReader.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReaderTest.java
Labels: runners, flink

#30796 Move logic to build a Labeled Metric Name to a util file.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverter.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/LabeledMetricNameUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/LabeledMetricNameUtilsTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetrics.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
Labels: java, io, runners, dataflow, gcp

#30971 #29902 finalize checkpoints after checkpoint
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderBase.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplit.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReader.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReaderTest.java
Labels: runners, flink

#30970 remove CLOUDSDK env variable , not needed here
  .github/workflows/beam_PostCommit_XVR_PythonUsingJavaSQL_Dataflow.yml
  .github/workflows/beam_PostCommit_XVR_PythonUsingJava_Dataflow.yml
Labels: build, Next Action: Reviewers

#30959 Automatically execute unbounded pipelines in streaming mode.
  CHANGES.md
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python

#30986 Skip generating docs for yaml/integration_tests.py.
  sdks/python/scripts/generate_pydoc.sh
Labels: python, Next Action: Reviewers

#30915 [#30870]: support consumer polling timeout in KafkaIO expansion service
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOExternalTest.java
  sdks/java/io/kafka/upgrade/src/test/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslationTest.java
  sdks/python/apache_beam/io/kafka.py
Labels: python, java, io, kafka, Next Action: Reviewers

#30934 Add a link to Grafana statistics for flaky workflows
  .test-infra/metrics/grafana/dashboards/GA-Post-Commits_status_dashboard.json
  .test-infra/metrics/grafana/provisioning/alerting/flaky_test.yaml
  .test-infra/tools/flaky_test_detection.py
Labels: infra, Next Action: Reviewers

#30678 replace clock.milliseconds with stopwatch
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/ActiveMessageMetadata.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateSamplerTest.java
Labels: runners, dataflow, Next Action: Reviewers, slow-review

#30974 [Python] Allow lambda function in bigtable handler to build a custom row key
  .github/trigger_files/beam_PostCommit_Python.json
  CHANGES.md
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable_test.py
Labels: python, build, Next Action: Reviewers

#30990 Improvements to GetWorkTimingInfosTracker when there is clock skew between the worker and service.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GetWorkTimingInfosTracker.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
Labels: runners, dataflow

#30993 Fix ConcurrentModification exception possible in DataflowExecutionStateSampler
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateSampler.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateSamplerTest.java
Labels: runners, dataflow

#30939 Move dependency updates to right after branch cut
  .github/workflows/update_python_dependencies.yml
  contributor-docs/release-guide.md
Labels: build

#30996 Follow up of recent GHA breakages
  .github/workflows/beam_PreCommit_Java_Kafka_IO_Direct.yml
  .github/workflows/beam_PreCommit_Yaml_Xlang_Direct.yml
Labels: build, Next Action: Reviewers

#30991 Remove caching of global window side input param when invoking.
  sdks/python/apache_beam/runners/common.py
Labels: python, Next Action: Reviewers

#30961 Add mechanism for skipping batching if your data is prebatched
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python, Next Action: Reviewers

#30913 Skip calling Compute in RemoveSafeDeltaCounterCell if value exists
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/RemoveSafeDeltaCounterCell.java
Labels: runners, dataflow

#30987 [Flink] finalize checkpoint marks in the new Flink source implementation (#30849)
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplit.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReader.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReaderTest.java
Labels: runners, flink

#30979 Add some metrics for CoGBK profiling.
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/join/CoGbkResult.java
Labels: java

#30938 Disable profiling in cythonized code by default.
  CHANGES.md
  sdks/python/apache_beam/coders/coder_impl.pxd
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/worker/opcounters.py
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/runners/worker/statesampler_fast.pyx
  sdks/python/apache_beam/testing/fast_test_utils.pxd
  sdks/python/apache_beam/transforms/cy_dataflow_distribution_counter.pxd
  sdks/python/apache_beam/transforms/cy_dataflow_distribution_counter.pyx
  sdks/python/apache_beam/utils/counters.pxd
  sdks/python/apache_beam/utils/windowed_value.py
Labels: python, Next Action: Reviewers

#30998 [#30941]fix upgrade test due to missed config ConsumerPollingTimeout
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibility.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslation.java
  sdks/python/apache_beam/io/kafka.py
Labels: python, java, io, kafka, Next Action: Reviewers

#31012 fix naming changes caused by setuptools
  .github/workflows/dask_runner_tests.yml
  .github/workflows/python_tests.yml
Labels: build, Next Action: Reviewers

#31004 Downgrade google-api-core to mitigate #30927
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#30895 [yaml] backtick generated aliases on sql mappings
  sdks/python/apache_beam/yaml/integration_tests.py
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_udf_test.py
  website/www/site/content/en/documentation/sdks/yaml-udf.md
Labels: python, website, yaml

#31005 Cache parsed metrics in StreamingStepMetricsContainer
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
Labels: runners, dataflow

#31009 add Yaml_Xlang_Direct PreCommit to README
  .github/workflows/README.md
  .github/workflows/beam_PreCommit_Yaml_Xlang_Direct.yml
Labels: build, Next Action: Reviewers

#30734 Create YAML Join Transform
  sdks/python/apache_beam/yaml/integration_tests.py
  sdks/python/apache_beam/yaml/tests/join.yaml
  sdks/python/apache_beam/yaml/yaml_join.py
  sdks/python/apache_beam/yaml/yaml_join_test.py
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#31010 Revert "Docker - Remove Deprecated Types"
  sdks/go/pkg/beam/runners/prism/internal/environments.go
Labels: go, runners, Next Action: Reviewers

#30825 Add /job/cancel endpoint to prism web server.
  sdks/go/pkg/beam/runners/prism/internal/web/web.go
Labels: go, runners, Next Action: Reviewers

#31000 Use base 2 exponential histograms in BigQuerySinkMetrics
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetrics.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingInsertsMetricsTest.java
Labels: java, io, gcp

#31003 Minor updates to StreamingInsertsMetrics
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingInsertsMetrics.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingInsertsMetricsTest.java
Labels: java, io, gcp

#30988 Remove flink 1.12 1.13
  gradle.properties
  release/build.gradle.kts
  runners/flink/1.12/build.gradle
  runners/flink/1.12/job-server-container/build.gradle
  runners/flink/1.12/job-server/build.gradle
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/AbstractStreamOperatorCompat.java
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/FlinkSourceCompat.java
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/SplitEnumeratorCompat.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/RemoteMiniClusterImpl.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/metrics/MetricGroupWrapper.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/streaming/StreamSources.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/SourceTestCompat.java
  runners/flink/1.13/build.gradle
  runners/flink/1.13/job-server-container/build.gradle
  runners/flink/1.13/job-server/build.gradle
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/types/CoderTypeSerializer.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ProcessingTimeCallbackCompat.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/SplitEnumeratorCompat.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/package-info.java
  runners/flink/1.14/src/test/java/org/apache/beam/runners/flink/MiniClusterCompat.java
  runners/flink/1.14/src/test/java/org/apache/beam/runners/flink/translation/types/CoderTypeSerializerTest.java
  runners/flink/flink_runner.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderBase.java
  sdks/go/examples/stringsplit/stringsplit.go
  sdks/java/testing/nexmark/build.gradle
  sdks/java/testing/tpcds/build.gradle
  settings.gradle.kts
  website/www/site/content/en/documentation/dsls/sql/shell.md
  website/www/site/layouts/shortcodes/flink_java_pipeline_options.html
  website/www/site/layouts/shortcodes/flink_python_pipeline_options.html
Labels: java, go, build, website, examples, runners, flink

#31016 remove CLOUDSDK from javausingpython dataflow xvr workflow
  .github/workflows/beam_PostCommit_XVR_JavaUsingPython_Dataflow.yml
Labels: build, Next Action: Reviewers

#31020 [runners-flink] remove 1.12 and 1.13 runners
  gradle.properties
  release/build.gradle.kts
  runners/flink/1.12/build.gradle
  runners/flink/1.12/job-server-container/build.gradle
  runners/flink/1.12/job-server/build.gradle
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/AbstractStreamOperatorCompat.java
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/FlinkSourceCompat.java
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/SplitEnumeratorCompat.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/RemoteMiniClusterImpl.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/metrics/MetricGroupWrapper.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/streaming/StreamSources.java
  runners/flink/1.12/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/SourceTestCompat.java
  runners/flink/1.13/build.gradle
  runners/flink/1.13/job-server-container/build.gradle
  runners/flink/1.13/job-server/build.gradle
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/types/CoderTypeSerializer.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ProcessingTimeCallbackCompat.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/SplitEnumeratorCompat.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/package-info.java
  runners/flink/1.14/src/test/java/org/apache/beam/runners/flink/MiniClusterCompat.java
  runners/flink/1.14/src/test/java/org/apache/beam/runners/flink/translation/types/CoderTypeSerializerTest.java
  runners/flink/flink_runner.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderBase.java
  sdks/go/examples/stringsplit/stringsplit.go
  sdks/java/testing/nexmark/build.gradle
  sdks/java/testing/tpcds/build.gradle
  settings.gradle.kts
  website/www/site/content/en/documentation/dsls/sql/shell.md
  website/www/site/layouts/shortcodes/flink_java_pipeline_options.html
  website/www/site/layouts/shortcodes/flink_python_pipeline_options.html
Labels: java, go, build, website, examples, runners, flink

#30989 add new user info to metrics Readme
  .test-infra/metrics/README.md
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/main.py
Labels: infra, Next Action: Reviewers

#31013 Change caching of global window inputs to be guarded by experiment
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
Labels: python

#31035 CP #31013: Change caching of global window inputs to be guarded by experiment
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
Labels: python

#30887 Clean doc related to write data in bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#30460 Support BQ clustering with value provider
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/DynamicDestinationsHelpers.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryClusteringIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpersTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryTimePartitioningClusteringIT.java
Labels: java, io, gcp

#30277 Schema field number documentation
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/annotations/SchemaFieldNumber.java
Labels: java

#31039 Cherry picking (#30460) BQ clustering valueprovider
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/DynamicDestinationsHelpers.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryClusteringIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpersTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryTimePartitioningClusteringIT.java
Labels: java, io, gcp

#31041 Bump TPCDS test Flink version
  .github/workflows/beam_PostCommit_Java_Tpcds_Flink.yml
Labels: build, Next Action: Reviewers

#31043 fix url for content security
  website/www/site/static/.htaccess
Labels: Next Action: Reviewers

#31037 Change type for UnboundedReaderMaxReadTimeSec
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSources.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
Labels: runners, dataflow, Next Action: Reviewers

#31029 Updates Python Dev container used by Dataflow
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#31023 Fix typo in count_unique_words()
  sdks/python/apache_beam/ml/transforms/tft.py
Labels: python, Next Action: Reviewers

#30879 Add code change guide contributor-doc
  contributor-docs/code-change-guide.md
Labels: Next Action: Reviewers

#31044 Upgrade the version of GRPC to pick up a fix for #30867
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#31045 [release-2.56.0] Exclude broken versions of GRPCIO and upgrade the base image requirements
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#31026 Add ScaleToGaussian TFTransform
  sdks/python/apache_beam/ml/transforms/tft.py
  sdks/python/apache_beam/ml/transforms/tft_test.py
Labels: python, Next Action: Reviewers

#31042 Better and earlier error for #30994.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowBatchWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/CoderTranslation.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
Labels: java, runners, dataflow

#31019 fix website embedding issue
  website/www/site/content/en/get-started/resources/videos-and-podcasts.md
Labels: website, Next Action: Reviewers

#31058 fix broken links on website
  website/www/site/content/en/get-started/resources/videos-and-podcasts.md
Labels: website

#31046 [#30083][prism] Stabilize additional teststream cases.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/engine_test.go
  sdks/go/pkg/beam/runners/prism/internal/engine/teststream.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/test/integration/primitives/teststream.go
  sdks/go/test/integration/primitives/teststream_test.go
  sdks/go/test/integration/primitives/timers.go
Labels: go, runners, Next Action: Reviewers

#31056 Better and earlier error for missing service loader metadata. (#31042)
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowBatchWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/CoderTranslation.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
Labels: java, runners, dataflow

#31071 Exclude three months old grafana workflow runs
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/main.py
Labels: infra

#31069 Fix test failure due to locale sensitivity.
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/CachesTest.java
Labels: java, Next Action: Reviewers

#31070 Don't use isolated builds when building an sdist for a pipeline package supplied in --setup_file option.
  sdks/python/apache_beam/runners/portability/stager.py
Labels: python

#31072 [release-2.56.0] Cherry-picks #31070
  sdks/python/apache_beam/runners/portability/stager.py
Labels: python

#31068 [YAML] - Normalize YAML PubSub format
  sdks/python/apache_beam/yaml/yaml_io.py
  sdks/python/apache_beam/yaml/yaml_io_test.py
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: python, Next Action: Reviewers, yaml

#31082 Revert "Change type for UnboundedReaderMaxReadTimeSec"
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSources.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
Labels: runners, dataflow

#31084 Fix building release candidate
  .github/workflows/build_release_candidate.yml
Labels: build, Next Action: Reviewers

#31057 [#30083][prism] Refactor Residuals to prepare for processing time scheduling.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager_test.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
Labels: go, runners

#31086 Simplify intermediate data in Iceberg sink; use manifest files
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AppendFilesToTables.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/FileWriteResult.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriter.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteGroupedRowsToFiles.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteUngroupedRowsToFiles.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/FileWriteResultTest.java
Labels: java, io

#31083 Add usage counters to ListView side inputs.
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionViews.java
Labels: java

#31093 Python package string change
  .github/workflows/deploy_release_candidate_pypi.yaml
Labels: build, Next Action: Reviewers

#31088 Mention known issues in release notes.
  CHANGES.md
Labels: Next Action: Reviewers

#30967 use strimzi kafka on beam_utility cluster
  .github/workflows/beam_PerformanceTests_xlang_KafkaIO_Python.yml
Labels: build, Next Action: Reviewers

#31101 Use java 11 for java_tests workflow
  .github/workflows/java_tests.yml
Labels: build

#31052 Add ability to load multiple copies of a model across processes
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
  sdks/python/apache_beam/ml/inference/onnx_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
Labels: python

#31103 Fix :examples:java:twitter:execute task
  examples/java/twitter/build.gradle
Labels: java, examples

#31104 Add ability to load multiple copies of a model across processes (#31052)
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
  sdks/python/apache_beam/ml/inference/onnx_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
Labels: python

#31109 Revert global snake_case convention for SchemaTransforms
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProvider.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProviderTest.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformTranslationTest.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedTest.java
  sdks/java/managed/src/test/resources/test_config.yaml
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigtableio.py
  sdks/python/apache_beam/transforms/external_transform_provider.py
  sdks/python/apache_beam/transforms/external_transform_provider_it_test.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/gen_xlang_wrappers.py
Labels: python, java, build, io, gcp, kafka, yaml, bigtable

#31090 Cherrypick #31086 to release 2.56.X branch
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AppendFilesToTables.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/FileWriteResult.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriter.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteGroupedRowsToFiles.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteUngroupedRowsToFiles.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/FileWriteResultTest.java
Labels: java, io

#31110 Cherry picking snake_case conversions
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProvider.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProviderTest.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformTranslationTest.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedTest.java
  sdks/java/managed/src/test/resources/test_config.yaml
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigtableio.py
  sdks/python/apache_beam/transforms/external_transform_provider.py
  sdks/python/apache_beam/transforms/external_transform_provider_it_test.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/gen_xlang_wrappers.py
Labels: python, java, build, io, gcp, kafka, yaml, bigtable

#31091 Add UnboundedReaderMaxReadTimeMs to DataflowPipelineDebugOptions, deprecate UnboundedReaderMaxReadTimeSec
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSources.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
Labels: runners, dataflow

#31115 Try fixing build wheels
  .github/workflows/build_wheels.yml
Labels: build

#31119 Try fixing build wheels (#31115)
  .github/workflows/build_wheels.yml
Labels: build

#31116 fix test added in "python sdk: fix several bugs regarding avto <-> beam schema conversion"
  sdks/python/apache_beam/io/avroio_test.py
Labels: python, io
