Repository apache/beam, pull requests merged in 2024-01, with the labels that each got.

#29853 Make Neo4JIO streamed (Fixes #29762)
  sdks/java/io/neo4j/src/main/java/org/apache/beam/sdk/io/neo4j/Neo4jIO.java
Labels: java, io, Next Action: Reviewers

#29891 Revert "Bump com.gradle.enterprise from 3.15.1 to 3.16"
  settings.gradle.kts
Labels: build

#29842 [#29848][Go SDK] Fix exec side transform identification.
  .github/trigger_files/beam_PostCommit_Go.json
  .github/trigger_files/beam_PostCommit_Go_VR_Flink.json
  .github/trigger_files/beam_PostCommit_Go_VR_Samza.json
  .github/trigger_files/beam_PostCommit_Go_VR_Spark.json
  sdks/go/pkg/beam/core/runtime/exec/translate.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/timers.go
Labels: go, build, Next Action: Reviewers

#29808 Record mean for underflow/overflow values in HistogramData.
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/HistogramData.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/HistogramDataTest.java
Labels: java

#29883 Clean up settings.kts
  settings.gradle.kts
Labels: build

#29715 Add support for tuple ClickHouse
  CHANGES.md
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIO.java
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/ClickHouseWriter.java
  sdks/java/io/clickhouse/src/main/java/org/apache/beam/sdk/io/clickhouse/TableSchema.java
  sdks/java/io/clickhouse/src/main/javacc/ColumnTypeParser.jj
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIOTest.java
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/TableSchemaTest.java
Labels: java, io, clickhouse, Next Action: Reviewers

#29896 [#29895][Go SDK] Update timer test function names.
  sdks/go/test/integration/primitives/timers.go
  sdks/go/test/integration/primitives/timers_test.go
Labels: go

#29899 Add `svetakvsundhar` to Healthcare reviewer pool
  .github/REVIEWERS.yml
  .github/autolabeler.yml
Labels: build

#29839 Support key iteration in Python ULR.
  runners/portability/java/build.gradle
  sdks/python/apache_beam/runners/portability/fn_api_runner/execution.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
Labels: python, runners, portability, Next Action: Reviewers

#28853 Fix Reshuffle implementation in Java SDK
  runners/flink/flink_runner.gradle
  runners/flink/job-server/flink_job_server.gradle
  runners/samza/src/test/resources/ExpectedDag.json
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Reshuffle.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ReshuffleTest.java
Labels: java, runners, flink, samza

#29905 fix indent in reviewers file
  .github/REVIEWERS.yml
Labels: build

#29828 Allow pulling default beam services from an environment variable.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_test.py
Labels: python, Next Action: Reviewers

#29894 Clean up java PreCommit
  .github/workflows/beam_PreCommit_Java.yml
  .github/workflows/beam_PreCommit_SQL_Java11.yml
  .github/workflows/beam_PreCommit_SQL_Java17.yml
  build.gradle.kts
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/EmbeddedSdkHarness.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/GrpcContextHeaderAccessorProviderTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/ServerFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/artifact/ArtifactRetrievalServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/artifact/ArtifactStagingServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/BundleFinalizationHandlersTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/DefaultJobBundleFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/FnApiControlClientPoolServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/FnApiControlClientTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/ProcessBundleDescriptorsTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/ReferenceCountingExecutableStageContextFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/SdkHarnessClientTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/SingleEnvironmentInstanceJobBundleFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/TimerReceiverFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/data/GrpcDataServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/data/RemoteInputDestinationTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/DockerCommandTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/DockerEnvironmentFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/ProcessEnvironmentFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/ProcessEnvironmentTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/ProcessManagerTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/environment/RemoteEnvironmentTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/logging/GrpcLoggingServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/provisioning/StaticGrpcProvisionServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/state/GrpcStateServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/state/StateRequestHandlersTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/status/BeamWorkerStatusGrpcServiceTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/status/WorkerStatusClientTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/translation/BatchSideInputHandlerFactoryTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/translation/PipelineTranslatorUtilsTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/wire/ByteStringCoderTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/wire/CommonCoderTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/wire/LengthPrefixUnknownCodersTest.java
  sdks/java/extensions/sql/build.gradle
Labels: java, build, extensions, runners, sql, fn-execution

#29904 update bq docs on stable schemas
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: java, website, io, gcp, Next Action: Reviewers

#29619 [Blog Post] Scaling a Dataflow streaming workload
  website/www/site/content/en/blog/scaling-streaming-workload.md
  website/www/site/static/images/blog/scaling-streaming-workload/0-intro.png
  website/www/site/static/images/blog/scaling-streaming-workload/0-pipeline.png
  website/www/site/static/images/blog/scaling-streaming-workload/1-default-ps.png
  website/www/site/static/images/blog/scaling-streaming-workload/1-default-throughput.png
  website/www/site/static/images/blog/scaling-streaming-workload/2-skeys-ps.png
  website/www/site/static/images/blog/scaling-streaming-workload/2-skeys-throughput.png
  website/www/site/static/images/blog/scaling-streaming-workload/3-autoshard-autoscale.png
  website/www/site/static/images/blog/scaling-streaming-workload/3-autoshard-parallelism.png
  website/www/site/static/images/blog/scaling-streaming-workload/3-autoshard-throughput-tr.png
  website/www/site/static/images/blog/scaling-streaming-workload/3-autoshard-tr-input.png
  website/www/site/static/images/blog/scaling-streaming-workload/3-autoshard-tr-output.png
  website/www/site/static/images/blog/scaling-streaming-workload/3-autoshard-tr-overhead.png
  website/www/site/static/images/blog/scaling-streaming-workload/4-format-transformation.png
  website/www/site/static/images/blog/scaling-streaming-workload/4-ingestion-scale.png
  website/www/site/static/images/blog/scaling-streaming-workload/4-throughput.png
  website/www/site/static/images/blog/scaling-streaming-workload/5-format-trasformation.png
  website/www/site/static/images/blog/scaling-streaming-workload/5-ingestion-scale.png
  website/www/site/static/images/blog/scaling-streaming-workload/5-input-size.png
  website/www/site/static/images/blog/scaling-streaming-workload/5-output-size.png
  website/www/site/static/images/blog/scaling-streaming-workload/6-format-transformation.png
  website/www/site/static/images/blog/scaling-streaming-workload/6-ingestion-scale.png
  website/www/site/static/images/blog/scaling-streaming-workload/6-latencies.png
  website/www/site/static/images/blog/scaling-streaming-workload/7-current-input.png
  website/www/site/static/images/blog/scaling-streaming-workload/7-current-shuffle-total.png
  website/www/site/static/images/blog/scaling-streaming-workload/7-latency.png
  website/www/site/static/images/blog/scaling-streaming-workload/7-previous-data-input.png
  website/www/site/static/images/blog/scaling-streaming-workload/7-previous-shuffle-total.png
  website/www/site/static/images/blog/scaling-streaming-workload/7-resources.png
Labels: website

#29907 Switch to use self hosted runners for linux unit tests
  .github/workflows/go_tests.yml
  .github/workflows/java_tests.yml
  .github/workflows/python_tests.yml
Labels: build, Next Action: Reviewers

#29909 raise error if transforms are provided while read mode in MLTransform
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/ml/transforms/base_test.py
Labels: python, Next Action: Reviewers

#29887 Fix: creating templates with the Typescript SDK
  sdks/python/apache_beam/runners/dataflow/dataflow_job_service.py
  sdks/python/apache_beam/runners/dataflow/dataflow_job_service_test.py
Labels: python, Next Action: Reviewers, typescript

#29856 [release] 2.53.0 Website Updates
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.53.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#29920 [release] Add extra context for release branch cut action input
  .github/workflows/cut_release_branch.yml
Labels: build, Next Action: Reviewers

#29919 [release] Update Release Guide Instructions
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#29929 [Typescript] stop service when done
  sdks/typescript/src/apache_beam/runners/dataflow.ts
Labels: runners, Next Action: Reviewers, typescript

#29893 Add notebooks for text embeddings
  examples/notebooks/beam-ml/data_preprocessing/compute_and_apply_vocab.ipynb
  examples/notebooks/beam-ml/data_preprocessing/huggingface_text_embeddings.ipynb
  examples/notebooks/beam-ml/data_preprocessing/scale_data.ipynb
  examples/notebooks/beam-ml/data_preprocessing/vertex_ai_text_embeddings.ipynb
Labels: examples, Next Action: Reviewers

#29934 Install beam from pypi instead of github in mltransform notebooks
  examples/notebooks/beam-ml/data_preprocessing/compute_and_apply_vocab.ipynb
  examples/notebooks/beam-ml/data_preprocessing/huggingface_text_embeddings.ipynb
  examples/notebooks/beam-ml/data_preprocessing/scale_data.ipynb
  examples/notebooks/beam-ml/data_preprocessing/vertex_ai_text_embeddings.ipynb
Labels: examples

#29935 Remove TODO in the notebook
  examples/notebooks/beam-ml/data_preprocessing/vertex_ai_text_embeddings.ipynb
Labels: examples

#29937 Preparing the data processing notebooks for import to devsite
  examples/notebooks/beam-ml/README.md
  examples/notebooks/beam-ml/data_preprocessing/compute_and_apply_vocab.ipynb
  examples/notebooks/beam-ml/data_preprocessing/huggingface_text_embeddings.ipynb
  examples/notebooks/beam-ml/data_preprocessing/scale_data.ipynb
  examples/notebooks/beam-ml/data_preprocessing/vertex_ai_text_embeddings.ipynb
Labels: examples

#29940 Final edit on data preprocessing notebooks
  examples/notebooks/beam-ml/data_preprocessing/compute_and_apply_vocab.ipynb
  examples/notebooks/beam-ml/data_preprocessing/scale_data.ipynb
  examples/notebooks/beam-ml/data_preprocessing/vertex_ai_text_embeddings.ipynb
Labels: examples

#29941 Updated the doc with Security Fixes for 2.53.0
  CHANGES.md
  website/www/site/content/en/blog/beam-2.53.0.md
Labels: website, Next Action: Reviewers

#29918 Update finalize_release.yml
  .github/workflows/finalize_release.yml
Labels: build, Next Action: Reviewers

#29910 Update MLTransform docs
  website/www/site/content/en/documentation/ml/preprocess-data.md
Labels: website

#28820 [Python BQ] Retry get_table for quota errors
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/utils/retry.py
Labels: python, io, gcp, Next Action: Reviewers

#29942 [Typescript] upgrade prettier
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
  sdks/typescript/src/apache_beam/coders/coders.ts
  sdks/typescript/src/apache_beam/coders/required_coders.ts
  sdks/typescript/src/apache_beam/coders/row_coder.ts
  sdks/typescript/src/apache_beam/coders/standard_coders.ts
  sdks/typescript/src/apache_beam/examples/wordcount.ts
  sdks/typescript/src/apache_beam/examples/wordcount_sql.ts
  sdks/typescript/src/apache_beam/examples/wordcount_textio.ts
  sdks/typescript/src/apache_beam/internal/environments.ts
  sdks/typescript/src/apache_beam/internal/pipeline.ts
  sdks/typescript/src/apache_beam/internal/serialize.ts
  sdks/typescript/src/apache_beam/io/avroio.ts
  sdks/typescript/src/apache_beam/io/bigqueryio.ts
  sdks/typescript/src/apache_beam/io/kafka.ts
  sdks/typescript/src/apache_beam/io/parquetio.ts
  sdks/typescript/src/apache_beam/io/pubsub.ts
  sdks/typescript/src/apache_beam/io/pubsublite.ts
  sdks/typescript/src/apache_beam/io/schemaio.ts
  sdks/typescript/src/apache_beam/io/textio.ts
  sdks/typescript/src/apache_beam/pvalue.ts
  sdks/typescript/src/apache_beam/runners/artifacts.ts
  sdks/typescript/src/apache_beam/runners/dataflow.ts
  sdks/typescript/src/apache_beam/runners/direct_runner.ts
  sdks/typescript/src/apache_beam/runners/flink.ts
  sdks/typescript/src/apache_beam/runners/portable_runner/runner.ts
  sdks/typescript/src/apache_beam/runners/runner.ts
  sdks/typescript/src/apache_beam/runners/universal.ts
  sdks/typescript/src/apache_beam/testing/assert.ts
  sdks/typescript/src/apache_beam/testing/multi_pipeline_runner.ts
  sdks/typescript/src/apache_beam/transforms/create.ts
  sdks/typescript/src/apache_beam/transforms/external.ts
  sdks/typescript/src/apache_beam/transforms/flatten.ts
  sdks/typescript/src/apache_beam/transforms/group_and_combine.ts
  sdks/typescript/src/apache_beam/transforms/internal.ts
  sdks/typescript/src/apache_beam/transforms/pardo.ts
  sdks/typescript/src/apache_beam/transforms/python.ts
  sdks/typescript/src/apache_beam/transforms/sql.ts
  sdks/typescript/src/apache_beam/transforms/transform.ts
  sdks/typescript/src/apache_beam/transforms/utils.ts
  sdks/typescript/src/apache_beam/transforms/window.ts
  sdks/typescript/src/apache_beam/transforms/windowings.ts
  sdks/typescript/src/apache_beam/utils/service.ts
  sdks/typescript/src/apache_beam/utils/utils.ts
  sdks/typescript/src/apache_beam/values.ts
  sdks/typescript/src/apache_beam/worker/data.ts
  sdks/typescript/src/apache_beam/worker/external_worker_service.ts
  sdks/typescript/src/apache_beam/worker/logging.ts
  sdks/typescript/src/apache_beam/worker/metrics.ts
  sdks/typescript/src/apache_beam/worker/operators.ts
  sdks/typescript/src/apache_beam/worker/pardo_context.ts
  sdks/typescript/src/apache_beam/worker/state.ts
  sdks/typescript/src/apache_beam/worker/worker.ts
  sdks/typescript/src/apache_beam/worker/worker_main.ts
Labels: io, runners, Next Action: Reviewers, typescript

#29956 Increase granularity of DICOM IO Unit Tests
  sdks/python/apache_beam/io/gcp/healthcare/dicomio_test.py
Labels: python, io, gcp, healthcare

#29871 [Dataflow Streaming] Make SideInputCache bytes and expiry configurable
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/sideinput/SideInputCache.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/sideinput/SideInputStateFetcher.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/sideinput/SideInputStateFetcherTest.java
Labels: runners, dataflow

#29952 fix memory leak caused by ThreadLocal in PipelineOptionFactory
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PipelineOptionsFactory.java
Labels: java

#29964 Bump timeout to 120 minutes
  .github/workflows/beam_PreCommit_Java_Kafka_IO_Direct.yml
Labels: build

#29835 [YAML] - Kafka Proto String schema
  sdks/java/extensions/protobuf/build.gradle
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteUtils.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteUtilsTest.java
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProviderTest.java
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, extensions, kafka, protobuf, Next Action: Reviewers, yaml

#29922 Bump GCP Libraries BOM to v26.29.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#29960 Downgrade artifact version in build_wheels
  .github/workflows/build_wheels.yml
Labels: build

#29969 [YAML] Add AssignTimestamps transform.
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python, Next Action: Reviewers, yaml

#29916 [yaml] Replace pipeline_spec with yaml_pipeline in main.py
  sdks/python/apache_beam/yaml/README.md
  sdks/python/apache_beam/yaml/main.py
Labels: python, yaml

#29859 Allows Java SDK to pass through external coders during proto translation without fully interpretting them
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/CoderTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/UnknownCoderWrapper.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/CoderTranslationTest.java
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/ConsecutivePythonTransformsTest.java
Labels: java, extensions, runners, core, Next Action: Reviewers

#29977 Update python container tag(contains Pandas 2.0)
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#29885 Feature/bigtable error handling
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/errorhandling/BadRecordRouter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableService.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteIT.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#29983 update CHANGES.md with error handling for fileIO and bigtableIO
  CHANGES.md
Labels: Next Action: Reviewers

#29995 Only auth and push on master branch
  .github/workflows/build_runner_image.yml
Labels: build

#29900 [#29772][prism] Handle EventTime Timers.
  sdks/go/pkg/beam/core/timers/timers.go
  sdks/go/pkg/beam/runners/prism/internal/coders.go
  sdks/go/pkg/beam/runners/prism/internal/engine/data.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager_test.go
  sdks/go/pkg/beam/runners/prism/internal/engine/engine_test.go
  sdks/go/pkg/beam/runners/prism/internal/engine/timers.go
  sdks/go/pkg/beam/runners/prism/internal/handlepardo.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/unimplemented_test.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle_test.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker_test.go
  sdks/go/test/integration/integration.go
Labels: go, runners, Next Action: Reviewers

#29958 [YAML] Better support for inline PyTransforms.
  sdks/python/apache_beam/transforms/fully_qualified_named_transform.py
  sdks/python/apache_beam/yaml/inline_python.md
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers, yaml

#29957 [IT] Pub/Sub RM should delete subscriptions that were created by Beam
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/pubsub/PubsubResourceManager.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/pubsub/PubsubResourceManagerTest.java
Labels: Next Action: Reviewers

#29953 Upgrade Parquet to 0.13.1
  sdks/java/io/file-schema-transform/build.gradle
  sdks/java/io/parquet/build.gradle
Labels: java, io, parquet, Next Action: Reviewers

#29830 [YAML] More complete schema validation.
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
  sdks/python/apache_beam/yaml/json_utils.py
  sdks/python/apache_beam/yaml/main.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, yaml

#29968 [#29180][prism] Return total element count to progress loop. Split less aggressively.
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/metrics.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
Labels: go, runners, Next Action: Reviewers

#30006 Change colab links
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
  examples/notebooks/beam-ml/data_preprocessing/compute_and_apply_vocab.ipynb
  examples/notebooks/beam-ml/data_preprocessing/huggingface_text_embeddings.ipynb
  examples/notebooks/beam-ml/data_preprocessing/scale_data.ipynb
  examples/notebooks/beam-ml/data_preprocessing/vertex_ai_text_embeddings.ipynb
Labels: examples, Next Action: Reviewers

#29938 Support DLQ in MLTransform
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface.py
  sdks/python/apache_beam/ml/transforms/embeddings/vertex_ai.py
  sdks/python/apache_beam/ml/transforms/handlers.py
Labels: python

#29662 Add a read timeout and cache BigQueryIOMetadata
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GceMetadataUtil.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOMetadata.java
Labels: java, io, extensions, gcp, Next Action: Reviewers

#29921 Update scaling-streaming-workload.md
  website/www/site/content/en/blog/scaling-streaming-workload.md
Labels: website, Next Action: Reviewers

#29994 sickbay new reshuffle test on runners that do not support it
  runners/portability/java/build.gradle
  runners/samza/job-server/build.gradle
  runners/spark/job-server/spark_job_server.gradle
  runners/spark/spark_runner.gradle
Labels: runners, spark, portability, samza, Next Action: Reviewers

#29928 [Typescript] creating dataflow job template fix
  sdks/python/apache_beam/runners/dataflow/dataflow_job_service.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/portability/local_job_service_main.py
  sdks/python/apache_beam/runners/render.py
Labels: python, Next Action: Reviewers

#29948 Remove INFO from playground python logger
  playground/infrastructure/logger.py
Labels: Next Action: Reviewers

#30021 typo in docs
  website/www/site/content/en/documentation/programming-guide.md
Labels: website, Next Action: Reviewers

#29970 Additional tests for windmill OrderedListState implementation.
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternalsTest.java
Labels: runners, dataflow, Next Action: Reviewers

#29954 Vendor grpc 1.60.1
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_60_1.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/VendorJavaPlugin.groovy
  settings.gradle.kts
  vendor/README.md
  vendor/grpc-1_60_1/build.gradle
Labels: build, vendor

#30013 [YAML] Support comment and delimiter attributes on CSV IO.
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/providers/CsvWriteTransformProvider.java
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, Next Action: Reviewers, yaml

#30026 Fix an edge case of getting duplicated records when using TextIO.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOReadTest.java
Labels: java

#29886 Add withAutosharding flag to textio transform
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/WriteFilesTranslation.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/WriteFilesTranslationTest.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/Pipeline.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/PipelineTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/WriteFilesTest.java
Labels: java, model, runners, dataflow, core, Next Action: Reviewers

#29879 Worker message plumbing
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowWorkUnitClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkUnitClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowWorkUnitClientTest.java
Labels: build, runners, dataflow

#30008 Correct Examples of utilizing `UploadToDicomStore`
  sdks/python/apache_beam/io/gcp/healthcare/dicomio.py
Labels: python, io, gcp, healthcare

#29961 Upgrade checkerframework to 3.42.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/dataflow/AbstractPipelineLauncher.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateSampler.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/metrics/Metrics.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowMetrics.java
  runners/spark/spark_runner.gradle
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/RowWithGetters.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoSchemaTranslator.java
  sdks/java/extensions/sorter/src/main/java/org/apache/beam/sdk/extensions/sorter/BufferedExternalSorter.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsTypes.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/RetryManager.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbGridFSIO.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbIO.java
  sdks/java/io/singlestore/src/main/java/org/apache/beam/sdk/io/singlestore/SingleStoreDefaultRowMapper.java
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/TableSchemaJSONLoader.java
Labels: java, build, io, extensions, runners, spark, dataflow, aws, gcp, jdbc, mongodb, core, flink, protobuf, sorter, Next Action: Reviewers

#30012 Add a enum for the new value capture type NEW_ROW_AND_OLD_VALUES. Als…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/ValueCaptureType.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapperTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#29997 Add a ReadFromTsv example.
  sdks/python/apache_beam/dataframe/io.py
  sdks/python/apache_beam/yaml/inline_python.md
  sdks/python/apache_beam/yaml/readme_test.py
Labels: python, Next Action: Reviewers, yaml

#30001 Enrichment Transform with BigTable handler
  CHANGES.md
  sdks/python/apache_beam/io/requestresponse.py
  sdks/python/apache_beam/io/requestresponse_it_test.py
  sdks/python/apache_beam/io/requestresponse_test.py
  sdks/python/apache_beam/io/requestresponseio.py
  sdks/python/apache_beam/io/requestresponseio_test.py
  sdks/python/apache_beam/transforms/enrichment.py
  sdks/python/apache_beam/transforms/enrichment_handlers/__init__.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable_it_test.py
  sdks/python/apache_beam/transforms/enrichment_it_test.py
  sdks/python/apache_beam/transforms/enrichment_test.py
Labels: python, io

#30028 Update to libraries-bom 26.30.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#30035 [YAML] add time unit suffix to windowing
  sdks/python/apache_beam/yaml/README.md
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_provider_unit_test.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
Labels: python, yaml

#30049 Undeprecate reshuffle
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Reshuffle.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/windowing/ReshuffleTrigger.java
Labels: java

#30052 Add logging to help understand errors from #28131.
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Labels: python, Next Action: Reviewers

#30034 Use official jamm
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/agent/build.gradle
  sdks/java/core/src/test/java/org/apache/beam/sdk/SdkHarnessEnvironmentTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/Caches.java
  sdks/java/io/hadoop-format/build.gradle
Labels: java, build, docker, io, hadoop, Next Action: Reviewers

#30015 [Python BQ] Substitute final destination schema when no input schema is specified
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
Labels: python, io, gcp

#30051 Fix buildx always been true
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamDockerPlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/flink/job-server-container/flink_job_server_container.gradle
  runners/spark/job-server/container/spark_job_server_container.gradle
  sdks/go/container/build.gradle
  sdks/java/container/common.gradle
  sdks/java/expansion-service/container/build.gradle
  sdks/java/transform-service/controller-container/build.gradle
  sdks/python/container/common.gradle
  sdks/python/expansion-service-container/build.gradle
  sdks/typescript/container/build.gradle
Labels: python, java, go, build, docker, runners, spark, flink, typescript

#30030 Exclude newly added failing validation runner tests
  .github/trigger_files/beam_PostCommit_Go.json
  .github/trigger_files/beam_PostCommit_Go_VR_Flink.json
  .github/trigger_files/beam_PostCommit_Go_VR_Samza.json
  .github/trigger_files/beam_PostCommit_Go_VR_Spark.json
  runners/spark/job-server/spark_job_server.gradle
  runners/spark/spark_runner.gradle
Labels: build, runners, spark

#29947 Centralize exec stage urn string
  sdks/python/apache_beam/portability/common_urns.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
  sdks/python/apache_beam/runners/trivial_runner.py
Labels: python, Next Action: Reviewers

#30039 Fix BigtableConfigTranslator
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceFactory.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableConfigTranslatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteIT.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#30061 Automatically enable Dataflow Runner v2 for pipeliens that use the transform upgrade feature
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PipelineTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/TransformUpgrader.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/TransformUpgraderTest.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
Labels: runners, dataflow, core

#30064 Address Feedback from Beam Website Feedback Form.
  website/www/site/content/en/documentation/io/connectors.md
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#30041 Time at max threads fix
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
Labels: runners, dataflow, Next Action: Reviewers

#30023 split write rename and temp table deletion into to dofns with a shuffle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteRename.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp, Next Action: Reviewers

#30075 Fix Cassandra Test
  sdks/java/io/cassandra/build.gradle
Labels: java, io, cassandra

#29963 Heartbeats
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricTrackingWindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/PubsubReader.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/UngroupedWindmillReader.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkItemCancelledException.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSources.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/WindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillStreamFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateCache.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateReader.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkStateTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: runners, dataflow, Next Action: Reviewers

#30070 add remaining metrics
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowWorkUnitClientTest.java
Labels: build, runners, dataflow

#30032 Fixes an upgrade compatibility breakage for the BQ write transform
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PipelineTranslation.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/TransformUpgrader.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/TransformUpgraderTest.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionServiceSchemaTransformProvider.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/JavaClassLookupTransformProvider.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExpansionServiceSchemaTransformProviderTest.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExpansionServiceTest.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExternalTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslationTest.java
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslation.java
  sdks/java/io/kafka/upgrade/src/test/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslationTest.java
  sdks/java/testing/expansion-service/src/test/java/org/apache/beam/sdk/testing/expansion/TestExpansionService.java
Labels: java, io, runners, gcp, kafka, core, Next Action: Reviewers

#30073 Fix Dicom IO Integration Tests
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/DicomIOReadIT.java
Labels: java, io, gcp, Next Action: Reviewers

#30066 [flink] Fix watermark generation for empty UnboundedSource
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderBase.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReader.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/EmptyUnboundedSource.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderTestBase.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReaderTest.java
Labels: runners, flink, P1

#30067 Fix BigQuerySinkMetrics constants and increment metrics in more places.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
Labels: java, io, gcp, Next Action: Reviewers

#30084 Add converter class to convert metrics to PerStepNamespaceMetrics
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverter.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverterTest.java
Labels: runners, dataflow

#30082 Use FileSystems.exist to check the remote the path
  sdks/python/apache_beam/ml/transforms/handlers.py
  sdks/python/apache_beam/ml/transforms/handlers_test.py
Labels: python

#30055 [YAML] Allow windowing to be done in Java or Python.
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/windowing/Window.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/WindowIntoTransformProvider.java
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
Labels: python, java, yaml

#30057 [YAML] Expose flatten implementation from Java.
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/providers/FlattenTransformProvider.java
  sdks/python/apache_beam/yaml/standard_providers.yaml
Labels: python, java, yaml

#30059 [YAML] Require numStreams for unbounded BigQueryStorageWriteApiSchemaTransform xlang transform
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, gcp, yaml

#30079 fix for #30078 [PubsubIO.readMessagesWithAttributesAndMessageIdAndOrderingKey not working]
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
Labels: java, io, gcp, Next Action: Reviewers

#30085 [MLTransform]Throw an error when specifiend columns are not present in the input data
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/ml/transforms/base_test.py
Labels: python, Next Action: Reviewers

#30090 Update container build version to Go 1.21.6
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#30096 Ignore DicomMetadataRead tests
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/DicomIOReadIT.java
Labels: java, io, gcp

#30045 Support dynamic destinations with Python Storage API
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProviderTest.java
  sdks/python/apache_beam/io/external/xlang_bigqueryio_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, java, build, io, gcp, Next Action: Reviewers

#30088 [Python] Add an option to retain timestamp returned from the BigTable row
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable_it_test.py
Labels: python

#30089 Add StreamingStepMetricsContainer::extractPerWorkerMetrics method.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
Labels: runners, dataflow

#30101 [Post Release Cut] CHANGES.md - Add section for 2.55.0, cleanup 2.54.0 due to cut.
  CHANGES.md
Labels: Next Action: Reviewers

#30102 Rename ExternalSchemaTransform to ExternalTransform
  sdks/python/apache_beam/transforms/external_transform_provider.py
  sdks/python/apache_beam/transforms/external_transform_provider_test.py
Labels: python, Next Action: Reviewers

#30113 Decommission all remaining jenkins jobs
  .test-infra/jenkins/README.md
  .test-infra/jenkins/job_00_seed.groovy
  .test-infra/jenkins/job_Inventory.groovy
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_Direct.groovy
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_GoUsingJava_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_CrossLanguageValidatesRunner_PythonUsingJava_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Java_DataflowV2.groovy
  .test-infra/jenkins/job_PostCommit_Java_InfluxDBIO_IT.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Flink_Java11.groovy
  .test-infra/jenkins/job_PostCommit_Python.groovy
  .test-infra/jenkins/job_PostCommit_Python_CrossLanguage_IO_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_Examples_Direct.groovy
  .test-infra/jenkins/job_PostCommit_Python_Examples_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Spark.groovy
  .test-infra/jenkins/job_PostRelease_NightlySnapshot.groovy
  .test-infra/jenkins/job_seed_standalone.groovy
Labels: infra

#30114 Cherry pick ExternalTransform rename (#30102)
  sdks/python/apache_beam/transforms/external_transform_provider.py
  sdks/python/apache_beam/transforms/external_transform_provider_test.py
Labels: python, Next Action: Reviewers

#30103 Don't run DicomIO Integration Tests on GCP DF Runner
  runners/google-cloud-dataflow-java/build.gradle
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/DicomIOReadIT.java
Labels: java, io, runners, dataflow, gcp

#30099 Fix failing python BQ test
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, build, io, gcp, Next Action: Reviewers

#30116 Cherry pick fix for Python postcommits
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, build, io, runners, dataflow, gcp

#30120 [Go SDK] Don't depend on the go 1.21 standard lib yet
  sdks/go/pkg/beam/core/runtime/contextreg/contextreg.go
  sdks/go/pkg/beam/core/runtime/harness/init/init.go
Labels: go

#30122 Don't depend on the go 1.21 standard lib yet
  sdks/go/pkg/beam/core/runtime/contextreg/contextreg.go
  sdks/go/pkg/beam/core/runtime/harness/init/init.go
Labels: go

#30127 Check the issue number type
  sdks/python/apache_beam/testing/analyzers/perf_analysis.py
Labels: python

#30124 Bump Dataflow dev container version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#30126 Update update_python_dependencies.yml with all python versions
  .github/workflows/update_python_dependencies.yml
Labels: build

#29645 Upgrade numpy dependency
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/pyproject.toml
  sdks/python/setup.py
Labels: python, docker

#30119 [#28142][Go SDK] Evict closed readers from the cache.
  sdks/go/pkg/beam/core/runtime/harness/datamgr.go
Labels: go, Next Action: Reviewers

#30132 Fix clean up stale container workflow
  .github/workflows/beam_CancelStaleDataflowJobs.yml
  .github/workflows/beam_CleanUpGCPResources.yml
  .github/workflows/beam_CleanUpPrebuiltSDKImages.yml
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: build, infra

#30143 Add info on getting started contributing
  website/www/site/content/en/contribute/_index.md
Labels: website

#29979 make getProcessingDistributionsForWorkId threadsafe
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateSampler.java
Labels: runners, dataflow, Next Action: Reviewers

#30134 Respect gcloud active configuration, if any, rather than always using default.
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptions.java
Labels: java, extensions, gcp

#30007 [YAML] Several improvements to the documentation.
  sdks/python/apache_beam/yaml/README.md
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_mapping.md
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, yaml

#30144 [Cherry Pick #29979] Fix race condition in Dataflow sampler.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateSampler.java
Labels: runners, dataflow

#30149 Update environments.md
  website/www/site/content/en/documentation/runtime/environments.md
Labels: website, Next Action: Reviewers

#29986 Update 02_io_pubsub.md
  learning/prompts/code-explaination/02_io_pubsub.md
Labels: learning

#30148 Volatile heartbeat
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
Labels: runners, dataflow, Next Action: Reviewers

#30154 Fix Dataproc cleanup race condition
  .github/workflows/README.md
  .github/workflows/beam_CleanUpDataprocResources.yml
  .test-infra/dataproc/cleanup.sh
Labels: build, infra

#30137 Fix a misspelling
  website/www/site/content/en/documentation/dsls/sql/zetasql/overview.md
Labels: website, Next Action: Reviewers

#30160 Bumping timeout for beam_PostCommit_Java_DataflowV2
  .github/workflows/beam_PostCommit_Java_DataflowV2.yml
Labels: build

#30163 [sdks-java-core] Test for Reiterator outside loop in CoGbkResult
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/join/CoGbkResult.java
Labels: java

#30156 Make ReadFromBigQueryRequest id more randomized
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#30158 Fix Fhir IO Search IT
  .github/trigger_files/beam_PostCommit_Java_DataflowV2.json
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/FhirIOSearchIT.java
Labels: java, build, io, gcp

#30147 fix: fix error handling in segment reader and add an integration test
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadIT.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#30171 Fix git trusted directory errors in website build.
  website/Dockerfile
Labels: website, Next Action: Reviewers

#30118 Don't use '-' as a delimiter in BigQuerySinkMetrics
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverter.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetrics.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
Labels: java, io, runners, dataflow, gcp

#30135 Periodically send perWorkerMetrics on the WorkerMessages API
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowWorkUnitClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkUnitClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/StageInfo.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowWorkUnitClientTest.java
Labels: runners, dataflow
