Repository apache/beam, pull requests merged in 2024-05, with the labels that each got.

#31135 Add `.python-version` to .gitignore
  .gitignore
Labels: build, Next Action: Reviewers

#31146 Fix spotbug warning in KafkaIO PreCommit
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibility.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibilityTest.java
Labels: java, io, kafka, Next Action: Reviewers

#31145 Pin tensorflow version in notebook
  examples/notebooks/beam-ml/automatic_model_refresh.ipynb
Labels: examples

#31149 Fix ISM-expecting tests by explicilty requisting random access.
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslatorTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/IsmSideInputReaderTest.java
Labels: runners, dataflow

#31092 FnAPI proto changes for ordered list state.
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
Labels: model

#31143 Limit elasticsearch testing to basic tests when core SDK is modified
  build.gradle.kts
Labels: build, Next Action: Reviewers

#29768 Display current threshold for GC thrashing logs
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/MemoryMonitor.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/status/MemoryMonitor.java
Labels: stale, java, runners, dataflow

#31158 Update gcp bom
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#31094 Add docs/blog for release
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.56.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#31028 [Prism] Connect Web UI cancel requests with backend
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management_test.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/server_test.go
  sdks/go/pkg/beam/runners/prism/internal/web/assets/job-action.js
  sdks/go/pkg/beam/runners/prism/internal/web/jobdetails.html
  sdks/go/pkg/beam/runners/prism/internal/web/web.go
Labels: go, runners, Next Action: Reviewers

#31142 Terraform module to provision a kafka proxy
  .test-infra/kafka/proxy/.terraform.lock.hcl
  .test-infra/kafka/proxy/README.md
  .test-infra/kafka/proxy/common.tfvars
  .test-infra/kafka/proxy/compute.tf
  .test-infra/kafka/proxy/prerequisites.tf
  .test-infra/kafka/proxy/provider.tf
  .test-infra/kafka/proxy/variables.tf
Labels: infra, Next Action: Reviewers

#31136 Add support for int gauge metrics in DataflowRunner
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToCounterUpdateConverter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#31075 [Prism] Enable Java validatesRunner tests on Prism
  runners/portability/java/build.gradle
  runners/prism/build.gradle
  settings.gradle.kts
Labels: build, runners, portability

#31160 Fix blog typo
  website/www/site/content/en/blog/beam-2.55.0.md
  website/www/site/content/en/blog/beam-2.56.0.md
Labels: website

#31024 Re-enable schedule trigger for PostCommit Java IO Performance Tests
  .github/workflows/beam_PostCommit_Java_IO_Performance_Tests.yml
Labels: build

#31162 Adds Managed I/O / Iceberg to 2.56.0 blog and the I/O connectors catalog
  CHANGES.md
  website/www/site/content/en/blog/beam-2.56.0.md
  website/www/site/content/en/documentation/io/connectors.md
Labels: website, Next Action: Reviewers

#31165 Add ordered processing transform to changes/blog
  CHANGES.md
  website/www/site/content/en/blog/beam-2.56.0.md
Labels: website

#31171 Pass location for Vertex endpoint retrieval
  sdks/python/apache_beam/ml/inference/vertex_ai_inference.py
Labels: python, Next Action: Reviewers

#31168 Fix flink versioning issues
  .github/actions/setup-default-test-properties/test-properties.json
  CHANGES.md
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/runner-concepts/description.md
  sdks/go/examples/wasm/README.md
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/typescript/src/apache_beam/runners/flink.ts
  website/www/site/content/en/documentation/runners/flink.md
  website/www/site/content/en/documentation/sdks/java/testing/tpcds.md
Labels: python, go, build, website, examples, runners, learning, typescript

#31163 Add a workaround for BEAM-20873 for optimized list side inputs.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/IsmSideInputReader.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/View.java
Labels: java, runners, dataflow

#31175 Avoid excessive flushing in DataflowWorkerLoggingHandler.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/logging/DataflowWorkerLoggingHandler.java
Labels: runners, dataflow

#31178 Avoid json Unmarshal on proto CancelJobRequest
  sdks/go/pkg/beam/runners/prism/internal/web/web.go
Labels: go, runners, Next Action: Reviewers

#31184 Update hack to make Spark runner happy as well.
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/View.java
Labels: java

#31125 Suppress BigQuery read stream splitAtFraction when API busy call or timeout
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamSource.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadTest.java
Labels: java, io, gcp, Next Action: Reviewers

#31062 [#30789] Add support for Flink 1.18
  .github/workflows/beam_PostCommit_Java_Tpcds_Flink.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink.yml
  CHANGES.md
  gradle.properties
  release/build.gradle.kts
  runners/flink/1.18/build.gradle
  runners/flink/1.18/job-server-container/build.gradle
  runners/flink/1.18/job-server/build.gradle
  runners/flink/flink_runner.gradle
  sdks/go/examples/stringsplit/stringsplit.go
  settings.gradle.kts
Labels: go, build, examples, runners, flink, Next Action: Reviewers

#31186 add support for unaligned checkpoint for flink runner
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
Labels: runners, flink, Next Action: Reviewers

#31185 Upgrade Pandas dependency to 2.1
  sdks/python/apache_beam/dataframe/doctests.py
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/dataframe/pandas_doctests_test.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#31205 Update website runner sections
  website/www/site/content/en/documentation/runners/flink.md
  website/www/site/content/en/documentation/runners/jstorm.md
  website/www/site/content/en/documentation/runners/mapreduce.md
Labels: website, Next Action: Reviewers

#31211 Fix version issue
  .github/actions/setup-environment-action/action.yml
Labels: build

#31208 Updates the error message related to schema-transform discovery
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
Labels: java, Next Action: Reviewers

#31164 Add jinja2 as a dependency for yaml preprocessing.
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#31213 Restore pandas version constraint.
  sdks/python/setup.py
Labels: python

#31166 Stop using KV as the Key for Histogram Metrics
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/LockFreeHistogram.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/LockFreeHistogramTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverterTest.java
Labels: runners, dataflow

#31209 Targeted dependency update for Pandas 2.1
  CHANGES.md
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#31212 Use already-existing and more appropriately alarmist experiment in Python
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
Labels: python

#31221 Fix python_test broke by #31199
  .github/workflows/README.md
  .github/workflows/python_tests.yml
Labels: build

#31197 Fix lint warning: JobId vs JobID
  sdks/go/pkg/beam/runners/prism/internal/web/web.go
Labels: go, runners, Next Action: Reviewers

#30976 [YAML] Add the ability to pre-process yaml files with jinja2.
  CHANGES.md
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/yaml/main.py
  sdks/python/apache_beam/yaml/main_test.py
  sdks/python/scripts/run_pylint.sh
  sdks/python/setup.py
Labels: python, yaml

#31170 Fix trivial inference tests for Python 3.12 support
  sdks/python/apache_beam/typehints/intrinsic_one_ops.py
  sdks/python/apache_beam/typehints/intrinsic_one_ops_test.py
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/trivial_inference.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
Labels: python

#31222 Don't hardcode python version in tox.ini for lint, mypy and docs.
  build.gradle.kts
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/test-suites/tox/pycommon/build.gradle
  sdks/python/tox.ini
Labels: python, build

#31216 Add a container for Python 3.12.
  sdks/python/container/build.gradle
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py312/build.gradle
  settings.gradle.kts
Labels: python, build, docker, Next Action: Reviewers

#31229 Turn off abandoned node enforcement in some Reshuffle unit tests where it is not needed
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ReshuffleTest.java
Labels: java

#31220 Add IcebergIO integration tests
  .github/trigger_files/beam_PostCommit_Java_Hadoop_Versions.json
  .github/workflows/IO_Iceberg_Unit_Tests.yml
  build.gradle.kts
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/SchemaAndRowConversions.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/SchemaAndRowConversionsTest.java
Labels: java, build, io

#31172 Support Kafka Managed IO
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/YamlUtils.java
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProviderTest.java
  sdks/java/managed/build.gradle
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedTransformConstants.java
Labels: java, io, kafka

#31217 [flink] Add documentation for Flink runner versions updates
  .github/actions/setup-default-test-properties/test-properties.json
  sdks/go/examples/wasm/README.md
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/typescript/src/apache_beam/runners/flink.ts
  settings.gradle.kts
  website/www/site/content/en/documentation/runners/flink.md
Labels: python, go, build, website, examples, runners, typescript

#31228 Avoid oversizing batch sizes with size estimation function
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python

#31241 Add new BigQueryIO stress tests for AT_LEAST_ONCE writing method
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryIOST.java
Labels: Next Action: Reviewers

#31237 Publish snapshots for Python 3.12 container images.
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
  sdks/python/container/license_scripts/dep_urls_py.yaml
Labels: python, build, docker, Next Action: Reviewers

#31240 Exclude a test that doesn't pass due to an upstream issue.
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python, Next Action: Reviewers

#31236 Remove a deprecated test helper.
  sdks/python/apache_beam/options/pipeline_options_test.py
  sdks/python/apache_beam/testing/test_pipeline_test.py
Labels: python, Next Action: Reviewers

#31246 Fix Python 3.12 python hinting errors on MacOS
  sdks/python/apache_beam/typehints/intrinsic_one_ops_test.py
  sdks/python/apache_beam/typehints/opcodes.py
Labels: python, Next Action: Reviewers

#31247 [Python] Add retries for flaky test - requestresponse_test.py::TestCaller::test_default_throttler
  sdks/python/apache_beam/io/requestresponse_test.py
Labels: python, io, Next Action: Reviewers

#31248 Update version tag for dataflow dev containers.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#31257 Update try-apache-beam-yaml.ipynb
  examples/notebooks/get-started/try-apache-beam-yaml.ipynb
Labels: examples

#31210 Update yaml to non-beta link
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website

#31265 [Python] Use BufferedLogger instead of logger to log in boot.go
  sdks/python/container/boot.go
Labels: python, docker

#31250 Disclaimer - direct runner result can be different from remote runners
  website/www/site/content/en/documentation/runners/direct.md
Labels: website, Next Action: Reviewers

#31263 Avoid side input issue where Latest.globally produces 2 elements in a window
  examples/java/src/main/java/org/apache/beam/examples/snippets/Snippets.java
Labels: java, examples

#31133 add computation state cache, config loaders, and status pages
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/status/WorkerStatusPages.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationStateCache.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/ComputationConfig.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingApplianceComputationConfigFetcher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingEngineComputationConfigFetcher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingEnginePipelineConfig.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/MetricsDataProvider.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerStatusPages.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/common/worker/WorkExecutor.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerBase.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationStateCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingApplianceComputationConfigFetcherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingEngineComputationConfigFetcherTest.java
Labels: runners, dataflow, Next Action: Reviewers

#31274 Revert Flink 1.18 support
  .github/actions/setup-default-test-properties/test-properties.json
  .github/workflows/beam_PostCommit_Java_Tpcds_Flink.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink.yml
  CHANGES.md
  gradle.properties
  runners/flink/1.18/build.gradle
  runners/flink/1.18/job-server-container/build.gradle
  runners/flink/1.18/job-server/build.gradle
  runners/flink/flink_runner.gradle
  sdks/go/examples/stringsplit/stringsplit.go
  sdks/go/examples/wasm/README.md
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/typescript/src/apache_beam/runners/flink.ts
  website/www/site/content/en/documentation/runners/flink.md
Labels: python, go, build, website, examples, runners, flink, typescript

#31266 Beam YAML day zero notebook save file fix
  examples/notebooks/get-started/try-apache-beam-yaml.ipynb
Labels: examples

#31267 Fix a typo in skip condition.
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python

#31268 Reapply "Add direct Dataflow translation of Redistribute transform"
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow_Streaming.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow_V2.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow_V2_Streaming.json
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/PropertyNames.java
Labels: build, runners, dataflow

#31230 Fix nullness errors in TestPipeline
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/TestPipeline.java
Labels: java

#31283 Revert "Don't specify an unnecessary config given that tox task and gradle config already defines the Python version."
  .github/workflows/beam_PreCommit_Python.yml
  .github/workflows/beam_PreCommit_Python_Dataframes.yml
  .github/workflows/beam_PreCommit_Python_Examples.yml
  .github/workflows/beam_PreCommit_Python_ML.yml
  .github/workflows/beam_PreCommit_Python_Runners.yml
  .github/workflows/beam_PreCommit_Python_Transforms.yml
  sdks/python/apache_beam/transforms/sql.py
Labels: python, build

#31286 Exclude testRedistributePreservesMetadata from Spark PVR batch
  .github/trigger_files/beam_PostCommit_Java_PVR_Spark3_Batch.json
  .github/trigger_files/beam_PostCommit_Java_PVR_Spark_Batch.json
  runners/spark/job-server/spark_job_server.gradle
Labels: build, runners, spark

#31292 Fix post release revert leftover from #31274
  release/build.gradle.kts
  runners/flink/flink_runner.gradle
Labels: build, runners, flink

#31151 ElasticsearchIO: handle org.elasticsearch.client.ResponseException gracefully
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-8/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTestCommon.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTestUtils.java
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: java, io, elasticsearch, Next Action: Reviewers

#31288 Skip tests using TFT in Beam ML unit test suite on Python 3.11+
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface_test.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#31270 Reapply "Add Redistribute translation to Samza runner"
  .github/trigger_files/beam_PostCommit_Java_PVR_Samza.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Samza.json
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/RedistributeByKeyTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ReshuffleTranslator.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/SamzaPipelineTranslator.java
Labels: build, runners, samza

#31306 Fix permared Iceberg unit tests
  .github/workflows/IO_Iceberg_Unit_Tests.yml
Labels: build

#31307 Implement DeduplicateTensorPerRow in MLTransform
  sdks/python/apache_beam/ml/transforms/tft.py
  sdks/python/apache_beam/ml/transforms/tft_test.py
Labels: python, Next Action: Reviewers

#31308 Install Beam from wheels in Dependency Compat Test Suite.
  .github/workflows/beam_PostCommit_Python_Dependency.yml
Labels: build, Next Action: Reviewers

#31314 Fix iceberg unit tests
  .github/trigger_files/IO_Iceberg_Unit_Tests.json
  .github/workflows/IO_Iceberg_Unit_Tests.yml
Labels: build, Next Action: Reviewers

#31128 Create option to specify temp query project, and wire into source tab…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQueryHelper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQuerySourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageQuerySource.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageQueryTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslationTest.java
Labels: java, io, gcp, Next Action: Reviewers

#31120 Update Guava version to match the libraries-bom 26.38.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#31273 [Python] Use retry decorator for retrying
  sdks/python/apache_beam/io/requestresponse_test.py
Labels: python, io

#31316 [Java] Add job name to GCS custom audit info
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/RetryHttpRequestInitializer.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/Transport.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/TransportTest.java
Labels: java, extensions, gcp

#31318 Upgrade GCP BOM to 26.39.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#31321 Upgrade cibuildwheel version.
  sdks/python/build.gradle
Labels: python, Next Action: Reviewers

#31295 [Python] BigQuery handler for enrichment transform
  .github/trigger_files/beam_PostCommit_Python.json
  CHANGES.md
  sdks/python/apache_beam/io/requestresponse.py
  sdks/python/apache_beam/transforms/enrichment.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigquery.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigquery_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigquery_test.py
  sdks/python/scripts/generate_pydoc.sh
Labels: python, build, io

#31324 [Java] Disable soft delete policy when creating a default bucket for a project.
  CHANGES.md
  sdks/java/extensions/google-cloud-platform-core/build.gradle
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptionsIT.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptionsTest.java
Labels: java, extensions, gcp

#31309 Update hamcrest dependency documentation version
  website/www/site/content/en/documentation/pipelines/test-your-pipeline.md
Labels: website, Next Action: Reviewers

#31341 Update beam_Inference_Python_Benchmarks_Dataflow_Pytorch_Imagenet_Cla…
  .github/workflows/load-tests-pipeline-options/beam_Inference_Python_Benchmarks_Dataflow_Pytorch_Imagenet_Classification_Resnet_152_Tesla_T4_GPU.txt
Labels: build, Next Action: Reviewers

#31331 add category where missing in aggregation transforms
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/approximatequantiles.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/approximateunique.py
Labels: python, examples

#31340 [Prism]: Fix unknown coder urn key: beam:coder:nullable:v1
  sdks/go/pkg/beam/runners/prism/internal/coders.go
Labels: go, runners, Next Action: Reviewers

#31304 Make GrpcCommitWorkStream thread-safe as documented by moving batcher out of it.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/WindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingApplianceWorkCommitter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingEngineWorkCommitter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcCommitWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingEngineWorkCommitterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
Labels: runners, dataflow

#31206 PubsubIO: add readMessagesWithAttributesWithCoderAndParseFn
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
Labels: java, io, gcp, Next Action: Reviewers

#31319 [Go SDK] Make it clearer that timers and data don't interact negatively in element batches.
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
Labels: go, Next Action: Reviewers

#31351 Upgrade jetty to latest 9.x for dataflow legacy worker
  runners/google-cloud-dataflow-java/worker/build.gradle
Labels: runners, dataflow, Next Action: Reviewers

#31253 Enable BigQueryIO write throttling detection
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetrics.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilTest.java
Labels: java, io, gcp

#31219 Logging loading filesystems failures.
  sdks/python/apache_beam/io/filesystems.py
Labels: python, io, Next Action: Reviewers, slow-review

#31359 [Python] Skip requests version 2.32.0,2.32.1 from package dependencies
  sdks/python/setup.py
Labels: python

#31344 [Python] Disable soft delete policy when creating new default bucket.
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/setup.py
Labels: python, io, gcp, Next Action: Reviewers

#31358 [Java] Add warning to gcpTempLocation when its bucket has soft delete enabled
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptionsTest.java
Labels: java, extensions, gcp

#31337 Upgrade cibuildwheel in another place as well.
  .github/workflows/build_wheels.yml
  sdks/python/build.gradle
Labels: python, build, Next Action: Reviewers

#31365 Fix DebeziumIO testWrongHost trying to connect real external address
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformTest.java
Labels: java, io, Next Action: Reviewers

#31370 Don't set SETUPTOOLS_USE_DISTUTILS=stdlib
  .github/workflows/build_wheels.yml
  .test-infra/jenkins/CommonJobProperties.groovy
  sdks/python/build.gradle
  sdks/python/setup.py
Labels: python, build, infra, Next Action: Reviewers

#31352 Updates the Java Expansion Service container to support gRPC ALTS authentication
  sdks/java/expansion-service/container/boot.go
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionServiceOptions.java
  sdks/java/io/expansion-service/build.gradle
Labels: java, io, Next Action: Reviewers

#31380 Update README.md (fix typo)
  examples/multi-language/README.md
Labels: examples, Next Action: Reviewers

#31382 Fixed the extension name in Java SDK Ordered Processing extension
  sdks/java/extensions/ordered/build.gradle
Labels: java, extensions, Next Action: Reviewers

#31328 Reapply "[#30789] Add support for Flink 1.18 (#31062)"
  .github/workflows/beam_PostCommit_Java_Tpcds_Flink.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink.yml
  CHANGES.md
  contributor-docs/release-guide.md
  gradle.properties
  release/build.gradle.kts
  release/src/main/groovy/quickstart-java-flinklocal.groovy
  runners/flink/1.18/build.gradle
  runners/flink/1.18/job-server-container/build.gradle
  runners/flink/1.18/job-server/build.gradle
  sdks/go/examples/stringsplit/stringsplit.go
Labels: go, build, examples, runners, flink

#31383 Fix beam quest link
  website/www/site/content/en/blog/beamquest.md
Labels: website

#30828 Add Python 3.12 support
  .github/workflows/beam_PostCommit_Python.yml
  .github/workflows/beam_PostCommit_Python_Arm.yml
  .github/workflows/beam_PostCommit_Python_Examples_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_Examples_Direct.yml
  .github/workflows/beam_PostCommit_Python_Examples_Flink.yml
  .github/workflows/beam_PostCommit_Python_Examples_Spark.yml
  .github/workflows/beam_PostCommit_Python_MongoDBIO_IT.yml
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow_With_RC.yml
  .github/workflows/beam_PostCommit_Python_ValidatesRunner_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_ValidatesRunner_Flink.yml
  .github/workflows/beam_PostCommit_Python_ValidatesRunner_Samza.yml
  .github/workflows/beam_PostCommit_Python_ValidatesRunner_Spark.yml
  .github/workflows/beam_PostCommit_Python_Xlang_Gcp_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_Xlang_Gcp_Direct.yml
  .github/workflows/beam_PostCommit_Python_Xlang_IO_Dataflow.yml
  .github/workflows/beam_PostCommit_Sickbay_Python.yml
  .github/workflows/beam_PostCommit_TransformService_Direct.yml
  .github/workflows/beam_PostCommit_XVR_Direct.yml
  .github/workflows/beam_PostCommit_XVR_Flink.yml
  .github/workflows/beam_PostCommit_XVR_JavaUsingPython_Dataflow.yml
  .github/workflows/beam_PostCommit_XVR_PythonUsingJavaSQL_Dataflow.yml
  .github/workflows/beam_PostCommit_XVR_PythonUsingJava_Dataflow.yml
  .github/workflows/beam_PostCommit_XVR_Samza.yml
  .github/workflows/beam_PostCommit_XVR_Spark3.yml
  .github/workflows/beam_PreCommit_Portable_Python.yml
  .github/workflows/beam_PreCommit_Python.yml
  .github/workflows/beam_PreCommit_PythonDocker.yml
  .github/workflows/beam_PreCommit_Python_Dataframes.yml
  .github/workflows/beam_PreCommit_Python_Examples.yml
  .github/workflows/beam_PreCommit_Python_Integration.yml
  .github/workflows/beam_PreCommit_Python_ML.yml
  .github/workflows/beam_PreCommit_Python_PVR_Flink.yml
  .github/workflows/beam_PreCommit_Python_Runners.yml
  .github/workflows/beam_PreCommit_Python_Transforms.yml
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
  .github/workflows/build_wheels.yml
  .github/workflows/python_dependency_tests.yml
  .github/workflows/python_tests.yml
  .github/workflows/update_python_dependencies.yml
  CHANGES.md
  build.gradle.kts
  gradle.properties
  sdks/python/apache_beam/__init__.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
  sdks/python/setup.py
  sdks/python/test-suites/dataflow/py312/build.gradle
  sdks/python/test-suites/direct/py312/build.gradle
  sdks/python/test-suites/gradle.properties
  sdks/python/test-suites/portable/py312/build.gradle
  sdks/python/test-suites/tox/py312/build.gradle
  sdks/python/tox.ini
  settings.gradle.kts
Labels: python, build

#31386 Don't install TF on Python 3.12, since there is no compatible version atm.
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#31364 added pytest.mark.flaky for test_big_query_write_temp_table_append_sc…
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
Labels: python, io, gcp, Next Action: Reviewers

#31395 Fix an incompatibility with hamcrest 2.2
  sdks/java/core/src/test/java/org/apache/beam/sdk/testing/CoderPropertiesTest.java
Labels: java

#31394 31112 drop flink 1.14
  .github/actions/setup-default-test-properties/test-properties.json
  gradle.properties
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/runner-concepts/description.md
  runners/flink/1.14/build.gradle
  runners/flink/1.14/job-server-container/build.gradle
  runners/flink/1.14/job-server/build.gradle
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/AbstractStreamOperatorCompat.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ProcessingTimeCallbackCompat.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/FlinkSourceCompat.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/SplitEnumeratorCompat.java
  runners/flink/1.14/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/compat/package-info.java
  runners/flink/1.14/src/test/java/org/apache/beam/runners/flink/MiniClusterCompat.java
  runners/flink/1.14/src/test/java/org/apache/beam/runners/flink/metrics/MetricGroupWrapper.java
  runners/flink/1.15/src/main/java/org/apache/beam/runners/flink/translation/types/CoderTypeSerializer.java
  runners/flink/1.15/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/ProcessingTimeCallbackCompat.java
  runners/flink/1.15/src/test/java/org/apache/beam/runners/flink/MiniClusterCompat.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapper.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderBase.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplitEnumerator.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkSavepointTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/RemoteMiniClusterImpl.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/metrics/FlinkMetricContainerTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/streaming/StreamSources.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/types/CoderTypeSerializerTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapperTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderTestBase.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/SourceTestMetrics.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/bounded/FlinkBoundedSourceReaderTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReaderTest.java
  sdks/go/examples/wasm/README.md
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/typescript/src/apache_beam/runners/flink.ts
  settings.gradle.kts
  website/www/site/content/en/documentation/runners/flink.md
  website/www/site/layouts/shortcodes/flink_java_pipeline_options.html
  website/www/site/layouts/shortcodes/flink_python_pipeline_options.html
Labels: python, go, build, website, examples, runners, learning, flink, typescript

#31391 [flink] #31390 emit watermark with empty source
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceReaderBase.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReader.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/EmptyUnboundedSource.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReaderTest.java
Labels: runners, flink

#30172 Clean up stale code in BigtableService
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableService.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImplTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review, bigtable

#31407 Changed the retry order for test_big_query_write_temp_table_append_schema_update
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
Labels: python, io, gcp, Next Action: Reviewers

#31293 remove unused field
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
Labels: runners, dataflow, Next Action: Reviewers

#31401 Add Iceberg workflows
  .github/workflows/IO_Iceberg_Integration_Tests.yml
  .github/workflows/IO_Iceberg_Performance_Tests.yml
  .github/workflows/IO_Iceberg_Unit_Tests.yml
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
Labels: java, build, io

#31376 Add option to disable validation of cloud bigtable change stream IO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#31415 Include Python 3.12 in release validation steps.
  release/src/main/Dockerfile
  release/src/main/python-release/python_release_automation.sh
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#31377 Memoize some dataframes analysis operations.
  sdks/python/apache_beam/dataframe/expressions.py
  sdks/python/apache_beam/dataframe/io_test.py
  sdks/python/apache_beam/dataframe/transforms.py
Labels: python, Next Action: Reviewers

#31284 Better mixed Java/Python error messages for external transforms.
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_test.py
  sdks/python/apache_beam/yaml/tests/sql.yaml
Labels: python, java, yaml

#31424 Add trigger file paths to Iceberg integration and performance tests
  .github/workflows/IO_Iceberg_Integration_Tests.yml
  .github/workflows/IO_Iceberg_Performance_Tests.yml
Labels: build

#31426 Add pull_request_target event to Iceberg tests
  .github/workflows/IO_Iceberg_Integration_Tests.yml
  .github/workflows/IO_Iceberg_Performance_Tests.yml
Labels: build

#31429 Remove bad dialect option.
  sdks/python/apache_beam/yaml/tests/sql.yaml
Labels: python, yaml

#31425 pin the lower bound for typing-extensions
  sdks/python/apache_beam/ml/inference/tensorflow_tests_requirements.txt
Labels: python, Next Action: Reviewers

#31404 enable BigQueryIO Storage Read throttling detection for Python SDK
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#31369 [#29697] Add prism artifact building workflow.
  .github/workflows/build_release_candidate.yml
Labels: build

#30492 [#30083] Add synthetic processing time to prism.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/engine_test.go
  sdks/go/pkg/beam/runners/prism/internal/engine/holds.go
  sdks/go/pkg/beam/runners/prism/internal/engine/processingtime.go
  sdks/go/pkg/beam/runners/prism/internal/engine/processingtime_test.go
  sdks/go/pkg/beam/runners/prism/internal/engine/teststream.go
  sdks/go/pkg/beam/runners/prism/internal/engine/timers.go
  sdks/go/pkg/beam/runners/prism/internal/engine/timers_test.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/timers.go
  sdks/go/test/integration/primitives/timers_test.go
Labels: go, runners

#31410 Add options to specify read and write http timeout for gcs as well as lower batching limit for rewrite operations which are copying.
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/RetryHttpRequestInitializer.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/Transport.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtilTest.java
Labels: java, extensions, gcp

#31427 [YAML] Fix simple YAML mappings type hinting
  sdks/python/apache_beam/yaml/yaml_combine.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_mapping_test.py
Labels: python, yaml

#31442 Add SDK protocol to detect if the SDK Fn Harness data channel is busy
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/external_transforms.pb.go
Labels: go, model

#31323 Refactor RowMutationInformation to use string type
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/RowMutation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/RowMutationInformation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiCDC.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsBeamRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsGenericRecord.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiDynamicDestinationsTableRow.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProtoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BeamRowToStorageApiProtoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/RowMutationInformationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkRowUpdateIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#31396 Add try-excepts around data sampler encoding
  sdks/python/apache_beam/runners/worker/data_sampler.py
Labels: python, Next Action: Reviewers

#31420 Add SDK capability to detect if the SDK Fn Harness data channel is busy or not
  sdks/go/pkg/beam/core/runtime/exec/datasource.go
  sdks/go/pkg/beam/core/runtime/exec/datasource_test.go
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/monitoring.go
  sdks/java/core/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataInboundObserver.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/Environments.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/python/apache_beam/runners/worker/bundle_processor.py
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
  sdks/python/apache_beam/transforms/environments.py
Labels: python, java, go

#31232 Add in-memory variants of side inputs.
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/View.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionViews.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ViewTest.java
Labels: java

#31448 Add docs for YAML AssertThat.
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, yaml

#31444 Update bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: python, io, gcp, Next Action: Reviewers

#31443 Update bigquery.py documentation
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#31008 SpannerIO: support max commit delay
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/test/java/com/google/cloud/spanner/OptionsImposter.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOWriteTest.java
Labels: java, io, gcp, spanner

#31025 Don't re-encode byte[] values in SortValues transform
  sdks/java/extensions/sorter/src/main/java/org/apache/beam/sdk/extensions/sorter/SortValues.java
  sdks/java/extensions/sorter/src/test/java/org/apache/beam/sdk/extensions/sorter/SortValuesTest.java
Labels: java, extensions, sorter, Next Action: Reviewers

#31363 Emit a warning when large elements are detected.
  sdks/python/apache_beam/runners/worker/data_plane.py
Labels: python

#31398 [ManagedIO] pass underlying transform URN as an annotation
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/external_transforms.proto
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/BeamUrns.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/PTransformTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/TransformUpgrader.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformTranslationTest.java
Labels: java, model

#31464 Updating Commons Compress to 1.26.2
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#31449 Pass through docs (and configs) for SqlProviders.
  sdks/python/apache_beam/yaml/yaml_join.py
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, yaml

#31439 Change configurations for stress tests. Fix BigQueryIOST
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryIOST.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigtable/BigTableIOST.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/spanner/SpannerIOST.java
Labels: Next Action: Reviewers

#31451 Updates Expansion Service Container to support upgrading using the schema-transform ID
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/ExternalTranslationOptions.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/PTransformTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/TransformUpgrader.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/construction/TransformUpgraderTest.java
  sdks/java/expansion-service/container/expansion_service_config.yml
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/iceberg/build.gradle
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
Labels: java, build, io
