Repository apache/beam, pull requests merged in 2024-09, with the labels that each got.

#32305 Add WindowedValueParam option to DoFns.
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/transforms/core.py
Labels: python

#32341 [YAML] Better errors for unconsumed error outputs.
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
  website/www/site/content/en/documentation/sdks/yaml-errors.md
Labels: python, website, yaml

#32330 Use proper coders in interactive cache.
  sdks/python/apache_beam/runners/interactive/cache_manager.py
  sdks/python/apache_beam/runners/interactive/cache_manager_test.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/recording_manager_test.py
  sdks/python/apache_beam/runners/interactive/utils.py
Labels: python

#32383 Allow ib.collect to work with non-interactive runners.
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment_test.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
Labels: python

#32391 Upgrade artifact actions to v4
  .github/workflows/build_wheels.yml
  .github/workflows/python_tests.yml
Labels: build, Next Action: Reviewers

#32368 Cherrypicking 32363 hive-exec shading fix
  sdks/java/io/iceberg/hive/exec/build.gradle
Labels: java, io, Next Action: Reviewers

#32336 Colab Notebook for Unit Tests in Beam
  examples/notebooks/blog/unittests_in_beam.ipynb
Labels: examples

#32403 Bump jinja2 to 3.1.4 to resolve vulnerability issue
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#32392 Allow ib.collect(...) to take multiple PCollections.
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/non_interactive_runner_test.py
Labels: python

#32404 Add keyrings.google-artifactregistry-auth
  CHANGES.md
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#32398 Use Knuth–Morris–Pratt algorithm for delimiter search in TextIO
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOReadTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextSourceTest.java
Labels: java

#32407 [Dataflow Streaming] Move `throwExceptionOnLargeOutput` out of OperationalLimits
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/OperationalLimits.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/ComputationWorkExecutorFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
Labels: runners, dataflow

#31987 [yaml] Adding Spanner IO Providers for Beam YAML
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/providers/ErrorHandling.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/MutationUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerWriteSchemaTransformProvider.java
  sdks/python/apache_beam/io/gcp/spanner_wrapper.py
  sdks/python/apache_beam/yaml/integration_tests.py
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/tests/spanner.yaml
  sdks/python/setup.py
Labels: python, java, io, gcp, spanner, yaml

#32377 [yaml] Move js2py package to yaml deps
  sdks/python/setup.py
Labels: python

#31698 Add jobLabelsMap parameter to BigQueryOptions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#32352 Support Zstd codec in SerializableAvroCodecFactory
  CHANGES.md
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/io/SerializableAvroCodecFactory.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/io/SerializableAvroCodecFactoryTest.java
Labels: java, extensions, Next Action: Reviewers

#32381 Move PubsubIO source Lineage report to MapElements
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Lineage.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/metrics/metric_test.py
Labels: python, java, io, gcp

#32413 Upgrade gcp-bom to 26.45.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  scripts/tools/bomupgrader.py
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#32419 Dont run flaky test on windows
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python

#32409 [Python] Add the "no_wait_until_finish" option without waiting
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
Labels: python, Next Action: Reviewers

#32389 Fix RowCoderGenerator to use the encodingPositions when encoding and decoding the bit set representing null fields.
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaCoder.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/RowCoderTest.java
Labels: java

#32423 Disable permared go xlang tests.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#32308 2.59.0 Beam site updates.
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.59.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers, slow-review

#32437 Fixes link typo in 2.59, and fixes archive links.
  website/www/site/content/en/get-started/downloads.md
Labels: website

#32432 Temporarily fix pip check failure on xgboost and grpcio
  .github/trigger_files/beam_PreCommit_Python_ML.json
  .github/workflows/python_tests.yml
  sdks/python/setup.py
  sdks/python/tox.ini
Labels: python, build, Next Action: Reviewers

#32411 Bump spanner max bound back to <4
  sdks/python/setup.py
Labels: python

#32434 Accept runner and options in ib.collect.
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization_test.py
  sdks/python/apache_beam/runners/interactive/interactive_beam.py
  sdks/python/apache_beam/runners/interactive/non_interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_fragment.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
Labels: python

#32412 Unit Testing in Beam Blog Post
  examples/notebooks/blog/unittests_in_beam.ipynb
  website/www/site/content/en/blog/unit-testing-in-beam.md
Labels: website, examples

#32449 downgrade grpc
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py38/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker

#32331 Remove beam summit banner
  website/www/site/layouts/partials/header.html
Labels: website, Next Action: Reviewers

#32430 Add Lineage metrics to Python PubsubIO, BigtableIO, FileIO
  sdks/python/apache_beam/io/aws/s3filesystem.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem.py
  sdks/python/apache_beam/io/filebasedsink.py
  sdks/python/apache_beam/io/filebasedsource.py
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/io/filesystems.py
  sdks/python/apache_beam/io/gcp/bigtableio.py
  sdks/python/apache_beam/io/gcp/bigtableio_test.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/pubsub.py
  sdks/python/apache_beam/io/gcp/pubsub_test.py
Labels: python, io, aws, gcp, Next Action: Reviewers, bigtable

#32444 Update Playground and other location usage of Go to use latest released version by default.
  playground/README.md
  playground/backend/containers/go/build.gradle
  playground/backend/containers/java/Dockerfile
  playground/backend/containers/python/Dockerfile
  playground/backend/containers/python/build.gradle
  playground/backend/containers/router/Dockerfile
  playground/backend/containers/router/build.gradle
  playground/backend/containers/scio/Dockerfile
  playground/backend/playground_functions/Dockerfile
  playground/infrastructure/cloudbuild/playground_ci_examples.sh
  release/go-licenses/Dockerfile
Labels: build, Next Action: Reviewers

#32452 fix: use threadsafe data structure thats shared between threads
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
Labels: java, io, gcp, bigtable

#32455 fix: ensure that non ApiExceptions in handleMutationException are not…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
Labels: java, io, gcp, bigtable

#32453 Bump Python SDK container for Dataflow
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#32459 fix docker compose command
  .github/workflows/tour_of_beam_backend_integration.yml
Labels: build

#32443 Don't override existing consumer config values KafkaIO xlang
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
Labels: java, io, kafka

#32454 fix: ensure that all outstanding future have completed in FinishBundle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableService.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImplTest.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#32460 Add the script to extract docs from the dev list
  contributor-docs/discussion-docs/2016.md
  contributor-docs/discussion-docs/2017.md
  contributor-docs/discussion-docs/2018.md
  contributor-docs/discussion-docs/2019.md
  contributor-docs/discussion-docs/2020.md
  contributor-docs/discussion-docs/2021.md
  contributor-docs/discussion-docs/2022.md
  contributor-docs/discussion-docs/2023.md
  contributor-docs/discussion-docs/2024.md
  contributor-docs/discussion-docs/generate_doc_md.py
Labels: Next Action: Reviewers

#32472 Fix macos tox.ini definition
  sdks/python/tox.ini
Labels: python

#32288 [yaml] Add examples for Spanner IO in YAML
  sdks/python/apache_beam/yaml/examples/io/spanner_read.yaml
  sdks/python/apache_beam/yaml/examples/io/spanner_write.yaml
Labels: python, Next Action: Reviewers, yaml

#32464 Add information on python metrics to the programming guide
  website/www/site/content/en/documentation/programming-guide.md
Labels: website, Next Action: Reviewers

#32344 Fix Kafka with Redistribute
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibilityTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
Labels: java, io, kafka, Next Action: Reviewers, slow-review

#32475 Restore mypy ignore[call-arg] in yaml_io.py
  sdks/python/apache_beam/yaml/yaml_io.py
Labels: python, Next Action: Reviewers, yaml

#32471 Update Dataflow internal client test
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python, Next Action: Reviewers

#32450 `@JsonIgnore` causes emulator endpoint to be missing in DoFn's
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
Labels: java, io, gcp, Next Action: Reviewers

#32488 Update run_inference_huggingface.ipynb
  examples/notebooks/beam-ml/run_inference_huggingface.ipynb
Labels: examples

#32487 Update python SDK container
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#32408 [Dataflow Streaming] Add support to read user worker settings from backend
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/OperationalLimits.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationWorkExecutor.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/ComputationConfig.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/FixedGlobalConfigHandle.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingApplianceComputationConfigFetcher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingEngineComputationConfigFetcher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingGlobalConfig.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingGlobalConfigHandle.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingGlobalConfigHandleImpl.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerStatusPages.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/ComputationWorkExecutorFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/StreamingWorkScheduler.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/config/FixedGlobalConfigHandleTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingApplianceComputationConfigFetcherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingEngineComputationConfigFetcherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingGlobalConfigHandleImplTest.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: build, runners, dataflow

#32484 Warn when using Beam with Python 3.8
  CHANGES.md
  sdks/python/apache_beam/__init__.py
  sdks/python/setup.py
Labels: python

#32489 Fix JmsIO NPE
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsIO.java
Labels: java, io, jms

#32499 Restore release-essential references to 3.8
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
  .github/workflows/build_wheels.yml
  .github/workflows/update_python_dependencies.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  local-env-setup.sh
  release/src/main/Dockerfile
  release/src/main/python-release/python_release_automation.sh
Labels: build

#32478 Better error message for incorrect pipeline options flags.
  sdks/python/apache_beam/options/pipeline_options.py
Labels: python, Next Action: Reviewers

#32428 Add throttling counter in gcsio and refactor retrying
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
  sdks/python/apache_beam/io/gcp/gcsio_retry.py
  sdks/python/apache_beam/io/gcp/gcsio_retry_test.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/options/pipeline_options.py
Labels: python, io, gcp, Next Action: Reviewers

#32501 Update python SDK container
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, Next Action: Reviewers

#32493 Disable a permared suite.
  .github/build.gradle
  .github/workflows/beam_PostCommit_XVR_GoUsingJava_Dataflow.yml
Labels: build

#32491 Publish Java Expansion Service SNAPSHOT containers
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
Labels: build

#32500 Emit warning when Mqtt waiting for connection for extended period of time
  sdks/java/io/mqtt/src/main/java/org/apache/beam/sdk/io/mqtt/MqttIO.java
  sdks/java/io/mqtt/src/test/java/org/apache/beam/sdk/io/mqtt/MqttIOTest.java
Labels: java, io, mqtt, Next Action: Reviewers

#32451 Support Managed Iceberg streaming writes
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/iceberg/hive/exec/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AppendFilesToTables.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriter.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteToDestinations.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOWriteTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
Labels: java, build, io, Next Action: Reviewers

#32507 Add runners/prism/java to java PreCommit
  build.gradle.kts
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismLocatorTest.java
Labels: build, runners

#32505 Change PeriodicSequence to report backlog accurately
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PeriodicSequence.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/PeriodicSequenceTest.java
Labels: java

#32517 [Python] Fix bug where WorkerHandlerManager.close_all re-initialized state with incorrect dict type
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers_test.py
Labels: python, Next Action: Reviewers

#32521 Include jamm as runtime dependency in expansion-service
  sdks/java/expansion-service/build.gradle
Labels: java

#32524 Remove debug leftover
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
Labels: java, io, gcp

#32442 Rollback Bigtable throttling counter
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteOptions.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp, bigtable

#30771 [Python] Add a couple quality-of-life improvemenets to `testing.util.assert_that`
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupby_expr.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupby_global_aggregate.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupby_simple_aggregate.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupby_test.py
  sdks/python/apache_beam/testing/util.py
  sdks/python/apache_beam/testing/util_test.py
  sdks/python/apache_beam/transforms/trigger_test.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python, Next Action: Reviewers

#32526 [#32498][prism] Add split / progress back off + catch-up.
  sdks/go/pkg/beam/runners/prism/internal/preprocess_test.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
Labels: go, runners

#32425 [Prism] Support BundleFinalization DoFn parameter
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/typex/special.go
  sdks/go/pkg/beam/forward.go
  sdks/go/pkg/beam/runners/prism/internal/handlepardo.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/unimplemented_test.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/pardo.go
  sdks/go/test/integration/primitives/pardo_test.go
Labels: go, runners

#32525 Add schrodinger logo
  website/www/site/content/en/case-studies/schrodinger.md
  website/www/site/static/images/logos/powered-by/schrodinger.png
Labels: python, website, Next Action: Reviewers

#32530 Move assert into pipeline
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/ml/gcp/visionml_test_it.py
Labels: python, build

#32518 [GCSIO] Fix internal unit test failure
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_test.py
Labels: python

#32456 ReadFromKafkaDoFn: handle failed seek
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, kafka, Next Action: Reviewers

#32539 Set np printoptions
  sdks/python/apache_beam/dataframe/doctests.py
Labels: python

#32366 Add RowFilter utility
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowFilter.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/RowFilterTest.java
Labels: java, Next Action: Reviewers

#32410 Vllm model handler
  .github/trigger_files/beam_PostCommit_Python.json
  CHANGES.md
  build.gradle.kts
  sdks/python/apache_beam/examples/inference/README.md
  sdks/python/apache_beam/examples/inference/vllm_text_completion.py
  sdks/python/apache_beam/ml/inference/test_resources/vllm.dockerfile
  sdks/python/apache_beam/ml/inference/vllm_inference.py
  sdks/python/setup.py
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, build, examples, Next Action: Reviewers

#32547 Update build.gradle to use 3.12 for metrics report
  .test-infra/jenkins/build.gradle
Labels: infra

#32399 Set a UUID when building a Schema object.
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/OneOfType.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/SchemaTranslationTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/logicaltypes/LogicalTypesTest.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformTranslationTest.java
Labels: java, extensions

#32551 Revert "Bump com.pswidersk.terraform-plugin from 1.0.0 to 1.1.1"
  learning/tour-of-beam/terraform/build.gradle.kts
  playground/terraform/build.gradle.kts
Labels: learning

#32513 Fix backlog reported by periodicsequence in python and go sdks to not include future outputs
  sdks/go/pkg/beam/transforms/periodic/periodic.go
  sdks/go/pkg/beam/transforms/periodic/periodic_test.go
  sdks/python/apache_beam/transforms/periodicsequence.py
  sdks/python/apache_beam/transforms/periodicsequence_test.py
Labels: python, go, Next Action: Reviewers

#32550 Update Python Inference Benchmark Test to Python 3.10
  .github/workflows/beam_Inference_Python_Benchmarks_Dataflow.yml
  sdks/python/test-suites/containers/tensorrt_runinference/tensor_rt.dockerfile
Labels: python, build, Next Action: Reviewers

#32367 Add RowStringInterpolator utility
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowStringInterpolator.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/RowStringInterpolatorTest.java
Labels: java, Next Action: Reviewers

#32557 SolaceIO: deduplicate records in the integration test
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/it/SolaceIOIT.java
Labels: java, io, Next Action: Reviewers

#32465 fix: add topic existing validation
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubTestClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClientTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#32414 [Prism] Remove unused code
  runners/prism/java/build.gradle
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismArtifactResolver.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismArtifactStager.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismJobManager.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/StateListener.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/StateWatcher.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/WorkerService.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismArtifactResolverTest.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismArtifactStagerTest.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismJobManagerTest.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/StateWatcherTest.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/WorkerServiceTest.java
Labels: runners, Next Action: Reviewers

#32511 [Dataflow Streaming] Use separate heartbeat streams based on job settings
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowStreamingPipelineOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/FakeGlobalConfigHandle.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/StreamPoolHeartbeatSender.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/StreamPoolHeartbeatSenderTest.java
Labels: runners, dataflow

#32503 [Dataflow Streaming] Use isolated windmill streams based on job settings
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowStreamingPipelineOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillStubFactoryFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillStubFactoryFactoryImpl.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClientTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/testing/FakeWindmillStubFactoryFactory.java
Labels: runners, dataflow

#32536 Tour of Beam markdown touchups
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/pipeline-concepts/overview-pipeline/description.md
  learning/tour-of-beam/learning-content/introduction/introduction-concepts/runner-concepts/description.md
  learning/tour-of-beam/learning-content/introduction/introduction-guide/description.md
Labels: learning, Next Action: Reviewers

#32545 Log warning if process function return None
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/core_test.py
Labels: python, Next Action: Reviewers

#32570 Add info log between executing work failed and cleanup
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/StreamingWorkScheduler.java
Labels: runners, dataflow

#32572 Revert "fix: add topic existing validation"
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubTestClient.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClientTest.java
Labels: java, io, gcp

#32516 [Python] Allow ints to be considered as floats/complexes and floats as complexes
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/typehints/typed_pipeline_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#32514 BigQuery trim schema with selected fields
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryQuerySourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageSourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryTableSourceDef.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageQueryTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryDirectReadSchemaTransformProviderTest.java
Labels: java, io, gcp, Next Action: Reviewers

#32482 Improve BQ <-> Avro conversions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtilsTest.java
Labels: java, io, gcp, Next Action: Reviewers

#32589 Update python KafkaIO docstring to add the use_deprecated_read option
  sdks/python/apache_beam/io/kafka.py
Labels: python, io, Next Action: Reviewers

#32588 represenation->representation
  sdks/python/apache_beam/transforms/core.py
Labels: python, Next Action: Reviewers

#32575 [Go] Update Go version used by Beam repo to go1.23.1
  .github/actions/setup-default-test-properties/test-properties.json
  .github/actions/setup-environment-action/action.yml
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
  .github/workflows/build_release_candidate.yml
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  dev-support/docker/Dockerfile
  release/src/main/Dockerfile
  sdks/go/run_with_go_version.sh
Labels: go, build

#32585 Keep string FQN as a way to add lineage information
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Lineage.java
Labels: java

#32586 [yaml] Preserve windowing for unbounded input when using FileIO Java providers
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/providers/CsvWriteTransformProvider.java
  sdks/java/io/json/src/main/java/org/apache/beam/sdk/io/json/providers/JsonWriteTransformProvider.java
Labels: java, io

#32602 Reduce the logging severity to remove verbose logging.
  sdks/python/apache_beam/transforms/environments.py
Labels: python, Next Action: Reviewers

#32565 Managed Iceberg dynamic destinations
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowFilter.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowStringInterpolator.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/RowFilterTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/RowStringInterpolatorTest.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AssignDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/DynamicDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/OneTableDynamicDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/PortableIcebergDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteGroupedRowsToFiles.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteToDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/WriteUngroupedRowsToFiles.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOWriteTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
Labels: java, build, io, Next Action: Reviewers
