Repository apache/beam, pull requests merged in 2024-07, with the labels that each got.

#31689 [Dataflow Streaming] Enabled Heartbeat by Default
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#31734 Dont read from cache in sensitive workflows
  .github/workflows/beam_Publish_Website.yml
  .github/workflows/beam_Release_NightlySnapshot.yml
  .github/workflows/deploy_release_candidate_pypi.yaml
  .github/workflows/finalize_release.yml
Labels: build

#31720 [CsvIO] Scaffold CsvIOParseHelpers
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpers.java
Labels: java, io, Next Action: Reviewers

#31713 Remove testRuntimeMigration configuration for test-utils dependencies
  sdks/java/io/bigquery-io-perf-tests/build.gradle
  sdks/java/io/cdap/build.gradle
  sdks/java/io/cdap/src/test/java/org/apache/beam/sdk/io/cdap/CdapIOIT.java
  sdks/java/io/file-based-io-tests/build.gradle
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/avro/AvroIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/parquet/ParquetIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/text/TextIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/tfrecord/TFRecordIOIT.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/xml/XmlIOIT.java
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/hadoop-format/build.gradle
  sdks/java/io/hadoop-format/src/test/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIOIT.java
  sdks/java/io/jdbc/build.gradle
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOIT.java
  sdks/java/io/jms/build.gradle
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/mongodb/build.gradle
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDBIOIT.java
  sdks/java/io/neo4j/build.gradle
  sdks/java/io/singlestore/build.gradle
  sdks/java/io/singlestore/src/test/java/org/apache/beam/sdk/io/singlestore/SingleStoreIOPerformanceIT.java
  sdks/java/io/snowflake/build.gradle
  sdks/java/io/solace/build.gradle
  sdks/java/io/sparkreceiver/2/build.gradle
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIOIT.java
  sdks/java/testing/nexmark/build.gradle
  sdks/java/testing/tpcds/build.gradle
Labels: java, io, gcp, hadoop, jdbc, jms, kafka, mongodb, tests, Next Action: Reviewers

#31738 create CsvIOReadFiles class
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOReadFiles.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOReadFilesTest.java
Labels: java, io, Next Action: Reviewers

#31541 Solace Read connector: adding Basic Authentication support
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BasicAuthJcsmpSessionService.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BasicAuthJcsmpSessionServiceFactory.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SolaceMessageReceiver.java
Labels: java, io

#31711 Set SchemaCoder for key in WithKeys transform
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/WithKeys.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/WithKeysTest.java
Labels: java

#31743 Update joda-time to 2.10.14
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#31747 Update Go Version to 1.22.4
  .github/actions/setup-default-test-properties/test-properties.json
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
  .github/workflows/go_tests.yml
  .github/workflows/local_env_tests.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  dev-support/docker/Dockerfile
  sdks/go/run_with_go_version.sh
Labels: go, build

#31733 Support custom JdbcReadWithPartitionsHelper
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcReadWithPartitionsHelper.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcUtil.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcUtilTest.java
Labels: java, io, jdbc

#31750 Update Staticcheck to 2023.1.7
  .github/workflows/go_tests.yml
Labels: build

#31748 Disable SoftDeletePolicy when creating a default bucket
  sdks/go/pkg/beam/util/gcsx/gcs.go
  sdks/go/pkg/beam/util/gcsx/gcs_test.go
Labels: go, Next Action: Reviewers

#31751 Updates Dataflow service API version.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#31684 Basic yaml-defined provider.
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/yaml/json_utils.py
  sdks/python/apache_beam/yaml/main.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_provider_unit_test.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, yaml

#31760 Use GCP libraries-bom version for all grpc
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#31746 Solace Read connector: Use ByteBuffer instead of BytesString in the Record class
  sdks/java/io/solace/build.gradle
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/data/Solace.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/data/SolaceDataUtils.java
Labels: java, io, Next Action: Reviewers

#31757 [#31756][Prism] Add a test for getting state with MultimapSideInput StateKey
  sdks/go/pkg/beam/runners/prism/internal/worker/worker_test.go
Labels: go, runners, Next Action: Reviewers

#31766 Add SerializableSupplier to the core package.
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/SerializableSupplier.java
Labels: java

#31769 Replace LGPL dep in Go SDK with an MIT alternative
  CHANGES.md
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/core/runtime/xlangx/expand.go
  sdks/go/test/integration/internal/containers/containers.go
Labels: go, Next Action: Reviewers

#31764 Polish DoFn.Setup
  website/www/site/content/en/documentation/programming-guide.md
Labels: website, Next Action: Reviewers

#31770 Fix CHANGES.md from #31769 which incorrectly added to a released version
  CHANGES.md
Labels: Next Action: Reviewers

#31778 Fix playground snippets
  website/www/site/content/en/documentation/transforms/python/elementwise/flatmap.md
  website/www/site/content/en/documentation/transforms/python/elementwise/map.md
Labels: website

#31781 Fix flaky StreamingDataflowWorkerTest which wasn't waiting for enough commits
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#31453 Enable MapState and SetState for dataflow streaming engine pipelines with legacy runner by building on top of MultimapState.
  CHANGES.md
  runners/core-java/src/main/java/org/apache/beam/runners/core/StateTags.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/AbstractWindmillMap.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/CachingStateTable.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillMap.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillMapViaMultimap.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillMultimap.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillSet.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateCache.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternals.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WindmillStateTestUtils.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternalsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/DispatchedActiveWorkRefresherTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/StateSpecs.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, runners, dataflow, core

#31779 Set Snowflake escape char to backslash
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/services/SnowflakeBatchServiceImpl.java
Labels: java, io, Next Action: Reviewers

#31726 Pass-through IcebergIO catalog properties
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  CHANGES.md
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergCatalogConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergSchemaTransformCatalogConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOReadTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOWriteTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergSchemaTransformTranslationTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/ScanSourceTest.java
Labels: java, build, io

#31794 Stage PrismRunner implementation and dependencies
  runners/prism/build.gradle
  runners/prism/java/build.gradle
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismPipelineOptions.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismRunner.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/package-info.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismRunnerTest.java
  settings.gradle.kts
Labels: build, runners, Next Action: Reviewers, prism

#31542 Solace Read connector: adding implementations of SempClient and SempClientFactory
  sdks/java/io/solace/build.gradle
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BasicAuthSempClient.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BasicAuthSempClientFactory.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BrokerResponse.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SempBasicAuthClientExecutor.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/data/Semp.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/broker/SempBasicAuthClientExecutorTest.java
Labels: java, io, Next Action: Reviewers

#31767 Use go 1.22 for self-hosted GHAs
  .github/actions/setup-environment-action/action.yml
  .github/workflows/go_tests.yml
  .github/workflows/local_env_tests.yml
Labels: build, Next Action: Reviewers

#31789 Add support for StringSet metric in Java SDK to track set of unique s…
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/metrics.proto
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/DefaultMetricResults.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricUpdates.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerImpl.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerStepMap.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoConstants.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodings.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/StringSetCell.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/StringSetData.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MetricsContainerImplTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MetricsContainerStepMapTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodingsTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/StringSetCellTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/StringSetDataTest.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/DirectMetrics.java
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/DirectMetricsTest.java
  runners/extensions-java/metrics/src/test/java/org/apache/beam/runners/extensions/metrics/CustomMetricQueryResults.java
  runners/extensions-java/metrics/src/test/java/org/apache/beam/runners/extensions/metrics/MetricsHttpSinkTest.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowMetrics.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowMetricsTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToCounterUpdateConverter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/FailedRunningPipelineResults.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/metrics/JetMetricResults.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/metrics/JetMetricsContainer.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/metrics/StringSetImpl.java
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/PortableMetrics.java
  runners/portability/java/src/test/java/org/apache/beam/runners/portability/PortableRunnerTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricQueryResults.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricResult.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Metrics.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricsContainer.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/StringSet.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/StringSetResult.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesStringSetMetrics.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/MetricsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/StringSetResultTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ExecutionStateSamplerTest.java
Labels: java, model, extensions, runners, dataflow, direct, core, jet, portability

#31806 Add support for WindowStrategy Pane and AllowedLateness features
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
Labels: go, runners, Next Action: Reviewers, prism

#31812 Update Go Version to 1.22.5
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  dev-support/docker/Dockerfile
  sdks/go/run_with_go_version.sh
Labels: go, build

#31801 correctly close the javadoc tag in JmsIO.Write
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsIO.java
Labels: java, io, jms, Next Action: Reviewers

#31543 Solace Read connector: integration tests with testcontainers
  .github/workflows/beam_PreCommit_Java_Solace_IO_Direct.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/solace/build.gradle
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/it/SolaceContainerManager.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/it/SolaceIOIT.java
Labels: java, build, io, Next Action: Reviewers

#31347 Add in redistribute option for Kafka Read
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibility.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOExternalTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibilityTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslation.java
  sdks/java/io/kafka/upgrade/src/test/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslationTest.java
  sdks/python/apache_beam/io/kafka.py
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
Labels: python, java, io, kafka, Next Action: Reviewers

#31810 Don't cache when building release candidates
  .github/actions/setup-environment-action/action.yml
  .github/workflows/build_release_candidate.yml
Labels: build

#31811 Add link to security model
  .github/ACTIONS.md
Labels: build, Next Action: Reviewers

#31579 Avoid length-prefix-bytes substitutions for Flink boundaries.
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/BeamAdapterCoderUtils.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/BeamAdapterUtils.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/BeamFlinkDataSetAdapter.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/adapter/BeamFlinkDataStreamAdapter.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/adapter/BeamFlinkDataSetAdapterTest.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/wire/LengthPrefixUnknownCoders.java
Labels: runners, flink, fn-execution

#31809 Solace Read connector: switch flags to publish the package
  sdks/java/io/solace/build.gradle
Labels: java, io

#31795 Support class executes the Prism binary
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismExecutor.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismExecutorTest.java
Labels: runners, Next Action: Reviewers, prism

#31818 Exclude StringSet tests from portable runners and Dataflow LegacyRunner
  .github/trigger_files/beam_PostCommit_Java_PVR_Flink_Streaming.json
  .github/trigger_files/beam_PostCommit_Java_PVR_Samza.json
  .github/trigger_files/beam_PostCommit_Java_PVR_Spark3_Streaming.json
  .github/trigger_files/beam_PostCommit_Java_PVR_Spark_Batch.json
  runners/flink/job-server/flink_job_server.gradle
  runners/google-cloud-dataflow-java/build.gradle
  runners/portability/java/build.gradle
  runners/samza/job-server/build.gradle
  runners/spark/job-server/spark_job_server.gradle
Labels: build, runners, spark, dataflow, flink, portability, samza

#31819 Remove CsvIOParseResult
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseResult.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOReadFiles.java
Labels: java, io

#31805 Introduce support for emitting lineage in BQ Source
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Lineage.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageSourceBase.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOReadTest.java
Labels: java, io, gcp

#31791 Add missing params to Python Bigtable MutationsBatcher
  sdks/python/apache_beam/io/gcp/bigtableio.py
Labels: python, io, gcp, Next Action: Reviewers, bigtable

#31825 Avoid publishing string set metrics on the Dataflow legacy runner.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
Labels: runners, dataflow

#31826 Solace Read: add changelog notes regarding Solace read connector
  CHANGES.md
Labels: Next Action: Reviewers

#31808 Allow Firestore project to be configurable
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1ReadFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1WriteFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/FirestoreTestingHelper.java
Labels: java, io, gcp, Next Action: Reviewers

#31833 Add doc advising against using IcebergIO directly
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
Labels: java, io

#31834 CP(#31833) Add doc warning against using icebergio directly
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
Labels: java, io

#31823 Add lineage information for BigQuery sinks.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageSourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteRename.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteTables.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#31836 Add lineage information for BigQuery sinks.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageSourceBase.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CreateTables.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteRename.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteTables.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#31796 Locate and download Prism binary
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismLocator.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismLocatorTest.java
Labels: java, runners, Next Action: Reviewers, prism

#31835 Change orphan file log to warning
  sdks/python/apache_beam/io/fileio.py
Labels: python, io

#31843 playground python image update openjdk to 17
  playground/backend/containers/python/Dockerfile
Labels: Next Action: Reviewers

#31844 SnowflakeIO: Use fileNameTemplate attribute for file prefix
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakeIO.java
Labels: java, io, Next Action: Reviewers

#31829 Dedup SerializableSupplier
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/SerializableMatchers.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/SerializableSupplier.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscriptionPartitionLoader.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/FakeSerializable.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/SubscriptionPartitionLoaderTest.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/CommonJms.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/Call.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/DefaultSerializableBackoffSupplier.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/RequestResponseIO.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/SerializableSupplier.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/WindowedCallShouldBackoff.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/RequestResponseIOTest.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/WindowedCallShouldBackoffTest.java
Labels: java, io, gcp, jms, bigtable

#31802 [CsvIO] Implemented CsvIOParseHelpers:parseCell
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpers.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpersTest.java
Labels: java, io, Next Action: Reviewers

#31838 Export string sets in monitoring infos.
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/metrics.proto
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerImpl.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoConstants.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/SimpleMonitoringInfoBuilder.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MetricsContainerImplTest.java
Labels: model, runners, core

#31845 [Release-2.58.0] Cherry-pick #31835 into release branch
  sdks/python/apache_beam/io/fileio.py
Labels: python, io

#31850 Fix Python test auth
  .github/workflows/build_runner_image.yml
  .github/workflows/java_tests.yml
  .github/workflows/python_tests.yml
  .github/workflows/typescript_tests.yml
Labels: build

#31852 [CsvIO] Changed CsvIOParseConfiguration to include DLQ
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseConfiguration.java
Labels: java, io, Next Action: Reviewers

#31853 [CsvIO] Implement CsvIOParseHelpers::validate(CSVFormat)
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIO.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpers.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpersTest.java
Labels: java, io, Next Action: Reviewers

#31721 Add options to control number of Storage API connections when using multiplexing
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#31866 Switch to use self-hosted runner for build_wheels action
  .github/workflows/build_wheels.yml
Labels: build

#31869 [CsvIO] implement CsvIOParseHelpers::validate(CSVFormat, Schema)
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpers.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpersTest.java
Labels: java, io, Next Action: Reviewers

#31878 [CsvIO] Create CsvIOParse scaffold
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParse.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseTest.java
Labels: java, io, Next Action: Reviewers

#31868 Cherrypicking #31721 to release 2.58.0
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#31881 Remove auth@1 in tests running on self hosted runner
  .github/workflows/IO_Iceberg_Integration_Tests.yml
  .github/workflows/IO_Iceberg_Performance_Tests.yml
  .github/workflows/IO_Iceberg_Unit_Tests.yml
  .github/workflows/beam_PerformanceTests_AvroIOIT_HDFS.yml
  .github/workflows/beam_PerformanceTests_Cdap.yml
  .github/workflows/beam_PerformanceTests_Compressed_TextIOIT_HDFS.yml
  .github/workflows/beam_PerformanceTests_HadoopFormat.yml
  .github/workflows/beam_PerformanceTests_JDBC.yml
  .github/workflows/beam_PerformanceTests_Kafka_IO.yml
  .github/workflows/beam_PerformanceTests_ManyFiles_TextIOIT_HDFS.yml
  .github/workflows/beam_PerformanceTests_MongoDBIO_IT.yml
  .github/workflows/beam_PerformanceTests_ParquetIOIT_HDFS.yml
  .github/workflows/beam_PerformanceTests_SingleStoreIO.yml
  .github/workflows/beam_PerformanceTests_SparkReceiver_IO.yml
  .github/workflows/beam_PerformanceTests_TFRecordIOIT_HDFS.yml
  .github/workflows/beam_PerformanceTests_XmlIOIT_HDFS.yml
  .github/workflows/beam_PerformanceTests_xlang_KafkaIO_Python.yml
  .github/workflows/beam_PostCommit_Java_InfluxDbIO_IT.yml
  .github/workflows/beam_PostCommit_Java_SingleStoreIO_IT.yml
  .github/workflows/beam_StressTests_Java_KafkaIO.yml
  .github/workflows/build_runner_image.yml
Labels: build

#31880 [CsvIO] Create scaffold CsvIOParseKV class
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseKV.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseKVTest.java
Labels: java, io, Next Action: Reviewers

#31888 Fix auth for clean up actions
  .github/workflows/beam_CancelStaleDataflowJobs.yml
  .github/workflows/beam_CleanUpGCPResources.yml
  .github/workflows/beam_CleanUpPrebuiltSDKImages.yml
  .test-infra/tools/stale_bq_datasets_cleaner.sh
Labels: build, infra

#31837 Increase retry backoff for Storage API batch to survive AppendRows quota refill
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#31889 [CsvIO] Create CsvIOParseHelpers::mapFieldPositions method
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpers.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpersTest.java
Labels: java, io

#31857 [CsvIO] Create CsvIOStringToCsvRecord Class
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOStringToCsvRecord.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOStringToCsvRecordTest.java
Labels: java, io, Next Action: Reviewers

#31895 Fix ReadAllFromBigQuery leak temp dataset
  sdks/python/apache_beam/io/gcp/bigquery_read_internal.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
Labels: python, io, gcp, Next Action: Reviewers

#31831 Update CHANGES.md with 2.59.0 Section
  CHANGES.md
Labels: Next Action: Reviewers

#31904 Cherrypicking #31837
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#31663 Add SessionPoolOptions.setFailIfPoolExhausted in SpannerAccessor
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessorTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review, spanner

#31849 Export string sets in monitoring infos. (#31838)
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/metrics.proto
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerImpl.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoConstants.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/SimpleMonitoringInfoBuilder.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MetricsContainerImplTest.java
Labels: model, runners, core

#31907 Remove remaining use of setup-cloud@v0 action
  .github/workflows/playground_backend_precommit.yml
  .github/workflows/run_perf_alert_tool.yml
Labels: build

#31909 Fix generateYamlDocs gradle task
  sdks/python/build.gradle
Labels: python

#31916 [Cherrypick] Switch to use self-hosted runner for build_wheels action (#31866)
  .github/workflows/build_wheels.yml
Labels: build

#31840 Improve performance of BigQueryIO connector when withPropagateSuccessfulStorageApiWrites(true) is used
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
Labels: java, io, gcp, Next Action: Reviewers

#31920 [CsvIO] Change method signature of CsvIOStringToCsvRecord class
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOStringToCsvRecord.java
Labels: java, io

#31891 [CsvIO]: update input Pcollection type arguments due to change in impl…
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseKV.java
Labels: java, io, Next Action: Reviewers

#31761 Better assertion error messages for PAssert.thatSingleton
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Direct.json
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/PAssert.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/testing/PAssertTest.java
Labels: java, build

#31934 Disable Dataflow run for java_test and python_test
  .github/workflows/java_tests.yml
  .github/workflows/python_tests.yml
Labels: build

#31933 Update Python artifact name in release process
  contributor-docs/release-guide.md
  release/src/main/scripts/run_rc_validation.sh
Labels: build, Next Action: Reviewers

#31936 Update Dataflow containers
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow, Next Action: Reviewers

#31938 Clean up integration test manual run parameters
  contributor-docs/code-change-guide.md
  runners/google-cloud-dataflow-java/arm/build.gradle
  runners/google-cloud-dataflow-java/build.gradle
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/direct/common.gradle
  sdks/python/test-suites/direct/xlang/build.gradle
Labels: python, runners, dataflow, Next Action: Reviewers

#31619 PubsubMessageWithTopicCoder.of() is returning wrong coder
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageWithTopicCoder.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSinkTest.java
Labels: java, io, gcp, Next Action: Reviewers

#31940 Use default auth for Iceberg integration tests
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
Labels: java, build, io

#31937 [Prism] Implement PrismPipelineResult
  runners/prism/java/build.gradle
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismExecutor.java
  runners/prism/java/src/main/java/org/apache/beam/runners/prism/PrismPipelineResult.java
  runners/prism/java/src/test/java/org/apache/beam/runners/prism/PrismPipelineResultTest.java
Labels: runners, Next Action: Reviewers, prism

#31860 Callout beam-pyio
  website/www/site/content/en/documentation/io/connectors.md
Labels: website

#31944 Update Dataflow containers
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#31947 Add an Infrastructure option to issue template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: build, Next Action: Reviewers

#31952 Add infra option for remaining templates + autolabel
  .github/ISSUE_TEMPLATE/failing_test.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/issue-rules.yml
Labels: build

#31955 Move dataset cleanup to finishBundle for ReadAllFromBigQuery
  sdks/python/apache_beam/io/gcp/bigquery_read_internal.py
Labels: python, io, gcp

#31951 Use correct device ordinal when GPU is detected
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
Labels: python

#31897 remove listing topics when processing each element
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, kafka, Next Action: Reviewers

#31957 [CsvIO]: Expand test coverage of CsvIOStringToCsvRecord
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIO.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpers.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOStringToCsvRecord.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpersTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOStringToCsvRecordTest.java
Labels: java, io

#31966 Auth with project id in our notebook
  examples/notebooks/beam-ml/bigtable_enrichment_transform.ipynb
Labels: examples

#31960 Dedup Lineage and getTableToExtract call in BigQuerySourceBase
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java
Labels: java, io, gcp

#31923 Adds ordered list user state support to fnapi accessor cache.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
Labels: java, Next Action: Reviewers

#31962 Solace Read: Make the SolaceIO.Read constructor private.
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/SolaceIO.java
Labels: java, io, Next Action: Reviewers

#31924 Generic throttling metrics namespace and BigtableIO write throttling counter
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowSystemMetrics.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/StageInfo.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContextTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Metrics.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricsEnvironment.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/StringUtils.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/StringUtilsTest.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/RetryHttpRequestInitializer.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/RampupThrottlingFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
  sdks/java/io/synthetic/src/main/java/org/apache/beam/sdk/io/synthetic/SyntheticStep.java
Labels: java, io, extensions, runners, dataflow, gcp, synthetic, bigtable

#31949 Correct details of Beam PyIO (Collection of Python IO connectors)
  website/www/site/content/en/documentation/io/connectors.md
Labels: website, Next Action: Reviewers

#31974 [yaml] Fix yaml provider schema validation and merging
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, Next Action: Reviewers, yaml

#31978 Use buffered loggers that periodically flush.
  sdks/python/container/piputil.go
Labels: python, docker

#31977 Use buffered loggers that periodically flush.
  sdks/python/container/piputil.go
Labels: python, docker

#31972 [Release-2.58.0] Dedup Lineage and getTableToExtract call in BigQuerySourceBase (#31960)
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java
Labels: java, io, gcp

#31984 [cherrypick][yaml] Fix yaml provider schema validation and merging (#31974)
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, yaml

#31961 Requirements_cache shouldn't create a cache folder when skipped.
  sdks/python/apache_beam/runners/portability/stager.py
Labels: python, Next Action: Reviewers

#31989 [CsvIO]: add Coder and FromRowFn to CsvIOParseConfiguration class.
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParse.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseConfiguration.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOReadFiles.java
Labels: java, io

#31982 Solace Read connector: Explicitly close the FlowReceiver
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/BasicAuthJcsmpSessionService.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/MessageReceiver.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SolaceMessageReceiver.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockSessionService.java
Labels: java, io, Next Action: Reviewers

#31996 [CsvIO]: update class for representing date-time in CsvIOParseHelpers::parseCell(String, Schema.Field)
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpers.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseHelpersTest.java
Labels: java, io, Next Action: Reviewers

#32002 Revert "Avoid publishing string set metrics on the Dataflow legacy runner."
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowMetrics.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
Labels: runners, dataflow

#32009 Update Build Wheels to only build once on RCs
  .github/workflows/build_wheels.yml
Labels: build

#32010 [Cherrypick] Update Build Wheels to only build once on RCs (#32009)
  .github/workflows/build_wheels.yml
Labels: build

#32006 [CsvIO]: add CsvIORecordToObjects Class
  sdks/java/io/common/src/main/java/org/apache/beam/sdk/io/common/SchemaAwareJavaBeans.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParse.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIORecordToObjects.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIORecordToObjectsTest.java
Labels: java, io, Next Action: Reviewers

#31953 SolaceIO.Write: add data classes, connector interface
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/SolaceIO.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/data/Solace.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/write/SolaceOutput.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/write/package-info.java
Labels: java, io, Next Action: Reviewers

#31979 [#31462] [prism] Correctly chose earliest or latest in pane timestamps for aggregations.
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
Labels: go, runners

#32014 Revert "Update Build Wheels to only build once on RCs"
  .github/workflows/build_wheels.yml
Labels: build

#32015 Revert "[Cherrypick] Update Build Wheels to only build once on RCs (#32009)"
  .github/workflows/build_wheels.yml
Labels: build

#32013 Adds ordered list user state support to fnapi accessor cache. (#31923)
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
Labels: java

#31969 Add StringSet metrics to Python SDK
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Metrics.java
  sdks/python/apache_beam/metrics/cells.pxd
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/cells_test.py
  sdks/python/apache_beam/metrics/execution.py
  sdks/python/apache_beam/metrics/execution_test.py
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/metrics/metricbase.py
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/apache_beam/metrics/monitoring_infos_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_metrics.py
  sdks/python/apache_beam/runners/direct/direct_metrics.py
  sdks/python/apache_beam/runners/direct/direct_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/portable_metrics.py
  sdks/python/apache_beam/runners/portability/portable_runner.py
Labels: python, java

#32019 beam-sql-udf-example-mistake
  website/www/site/content/en/documentation/dsls/sql/extensions/user-defined-functions.md
Labels: website, Next Action: Reviewers

#32023 [CsvIO]: Update error and result handling.
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseConfiguration.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseError.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseKV.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseResult.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIORecordToObjects.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOStringToCsvRecord.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIORecordToObjectsTest.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOStringToCsvRecordTest.java
Labels: java, io

#32024 [#31991][prism] Allow Empty Composites
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
Labels: go, runners

#32029 [#32003][prism] Support empty transform input sets, such as for flattens.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
Labels: go, runners, Next Action: Reviewers

#32012 [#32004] Ensure all pcollection coders are length prefixed if necessary.
  sdks/go/pkg/beam/core/runtime/exec/hash.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
Labels: go, runners

#31785 Replace Class with TypeDescriptor in SchemaProvider implementations
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/AutoValueSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/CachingFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Factory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/FromRowUsingCreator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/GetterBasedSchemaProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/GetterBasedSchemaProviderV2.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/JavaBeanSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/JavaFieldSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SetterBasedCreatorFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/annotations/DefaultSchema.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/providers/JavaRowUdf.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AutoValueUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/FieldValueTypeSupplier.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/ReflectUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/StaticSchemaInference.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/RowWithGetters.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/JavaBeanUtilsTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/utils/POJOUtilsTest.java
  sdks/java/extensions/arrow/src/main/java/org/apache/beam/sdk/extensions/arrow/ArrowConversion.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/AvroRecordSchema.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteBuddyUtils.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoMessageSchema.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsSchemaProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsTypes.java
  sdks/java/io/thrift/src/main/java/org/apache/beam/sdk/io/thrift/ThriftSchema.java
Labels: java, io, extensions, aws, protobuf, Next Action: Reviewers, thrift

#32036 update document in `AwsOptions`
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsOptions.java
Labels: java, io, aws, Next Action: Reviewers

#32031 Remove `--impersonate_service_account` whenever PipelineOptions are serialized
  CHANGES.md
  sdks/python/apache_beam/options/pipeline_options.py
  website/www/site/content/en/blog/beam-2.49.0.md
Labels: python, website, Next Action: Reviewers

#32011 Fix Dataflow v2 test failed tag container if project contains colon
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow, Next Action: Reviewers

#31990 Fix row ranges issue in Bigtable Read.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImplTest.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#32042 [#31992][prism] Send side inputs for all SDF phases.
  sdks/go/pkg/beam/runners/prism/internal/handlepardo.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
Labels: go, runners
