Repository apache/beam, pull requests merged in 2024-06, with the labels that each got.

#31468 Set retry policy to DEFAULT_RETRY when initializing BlobWriter.
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, gcp

#31473 Bump Jackson databind to 2.15
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/io/cdap/build.gradle
  sdks/java/io/hadoop-format/build.gradle
Labels: java, build, docker, io, hadoop

#31264 add support for ConnectionFactory ProviderFn in JmsIO
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsIO.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/CommonJms.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/JmsIOIT.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/JmsIOTest.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/MockNonSerializableConnectionFactory.java
Labels: java, io, jms, Next Action: Reviewers

#31454 Update JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc

#31469 Remove excess space from Programming Guide (typo fix)
  website/www/site/content/en/documentation/programming-guide.md
Labels: website, Next Action: Reviewers

#31413 Fix one small typo in build script.
  examples/java/build.gradle
Labels: java, examples, Next Action: Reviewers

#31472 Add Trigger_Never to Prepare features check
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/unimplemented_test.go
Labels: go, runners, Next Action: Reviewers

#31428 Add test of Select type inference.
  sdks/python/apache_beam/transforms/ptransform_test.py
Labels: python

#31276 Add a test for sql dialect.
  sdks/python/apache_beam/yaml/tests/sql.yaml
Labels: python, yaml

#31478 Ensure that BigtableIO closes the stream after reading
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableService.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableServiceImpl.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp, bigtable

#31406 Parse YAML ExpansionService configs directly using SnakeYAML
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/build.gradle
  sdks/java/expansion-service/build.gradle
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/Dependency.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionServiceConfig.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionServiceOptions.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/JavaClassLookupTransformProvider.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExpansionServiceTest.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/JavaClassLookupTransformProviderTest.java
  sdks/java/expansion-service/src/test/resources/test_expansion_service_config.yaml
  sdks/java/transform-service/build.gradle
  sdks/java/transform-service/src/main/java/org/apache/beam/sdk/transformservice/TransformServiceConfig.java
  sdks/java/transform-service/src/main/java/org/apache/beam/sdk/transformservice/TransformServiceOptions.java
  sdks/java/transform-service/src/test/java/org/apache/beam/sdk/transformservice/ExpansionServiceTest.java
  sdks/java/transform-service/src/test/resources/test_transform_service_config.yml
Labels: java, Next Action: Reviewers

#31480 Fix mangled license headers.
  sdks/python/apache_beam/yaml/examples/simple_filter.yaml
  sdks/python/apache_beam/yaml/examples/simple_filter_and_combine.yaml
  sdks/python/apache_beam/yaml/examples/wordcount_minimal.yaml
  sdks/python/apache_beam/yaml/tests/avro.yaml
  sdks/python/apache_beam/yaml/tests/bigquery.yaml
  sdks/python/apache_beam/yaml/tests/csv.yaml
  sdks/python/apache_beam/yaml/tests/java-map.yaml
  sdks/python/apache_beam/yaml/tests/join.yaml
  sdks/python/apache_beam/yaml/tests/json.yaml
  sdks/python/apache_beam/yaml/tests/parquet.yaml
  sdks/python/apache_beam/yaml/tests/sql.yaml
  sdks/python/apache_beam/yaml/tests/text.yaml
  sdks/python/apache_beam/yaml/tests/windowing.yaml
Labels: python, Next Action: Reviewers, yaml

#31483 Remove setup gcp credential step for beam_ workflows running on self-hosted runner
  .github/workflows/beam_PostCommit_Go.yml
  .github/workflows/beam_PostCommit_Go_Dataflow_ARM.yml
  .github/workflows/beam_PostCommit_Java_BigQueryEarlyRollout.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  .github/workflows/beam_PreCommit_CommunityMetrics.yml
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow.yml
  .github/workflows/beam_PreCommit_Java_Spark3_Versions.yml
  .github/workflows/beam_PreCommit_Website_Stage_GCS.yml
  .github/workflows/beam_Publish_BeamMetrics.yml
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
  .github/workflows/beam_Publish_Docker_Snapshots.yml
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
  .github/workflows/beam_Release_Python_NightlySnapshot.yml
Labels: build

#31485 Pins SnakeYAML version to 1.33 for Hadoop Format tests
  sdks/java/io/hadoop-format/build.gradle
Labels: java, io, hadoop

#31487 Extract latest beam version directly from the request
  .github/trigger_files/beam_PostCommit_XVR_Flink.json
  sdks/java/extensions/python/src/main/resources/org/apache/beam/sdk/extensions/python/bootstrap_beam_venv.py
Labels: java, build, extensions, Next Action: Reviewers

#31482 [#27839][Go SDK] Write pipeline options to a file, instead reading from a flag.
  sdks/go/container/boot.go
  sdks/go/container/tools/pipeline_options.go
  sdks/go/pkg/beam/core/runtime/harness/init/init.go
  sdks/java/container/boot.go
Labels: java, go, docker

#31446 [YAML] mark Combine transform as stable
  examples/notebooks/get-started/try-apache-beam-yaml.ipynb
  sdks/python/apache_beam/yaml/examples/simple_filter_and_combine.yaml
  sdks/python/apache_beam/yaml/integration_tests.py
  website/www/site/content/en/documentation/sdks/yaml-combine.md
Labels: python, website, examples, yaml

#31374 Default SchemaTransform configs to snake_case
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  CHANGES.md
  sdks/go/pkg/beam/io/xlang/bigtableio/bigtable.go
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProvider.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/transforms/TypedSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedTransformConstants.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProviderTest.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformTranslationTest.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedTest.java
  sdks/java/managed/src/test/resources/test_config.yaml
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigtableio.py
  sdks/python/apache_beam/transforms/external_transform_provider.py
  sdks/python/apache_beam/transforms/external_transform_provider_it_test.py
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/standard_providers.yaml
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/gen_xlang_wrappers.py
Labels: python, java, go, build, io, gcp, kafka, yaml, bigtable

#31349 Fix iceberg catalog validation
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergSchemaTransformCatalogConfig.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergSchemaTransformTranslationTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
Labels: java, io

#31502 Delete RedistributeByKeyAllowingDuplicates from Redistribute
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Redistribute.java
Labels: java

#31493 fix typescript syntax
  sdks/typescript/src/apache_beam/runners/flink.ts
Labels: runners, typescript

#31470 Simplify Managed API to avoid dealing with PCollectionRowTuple
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionRowTuple.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProviderTest.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedTransformConstants.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformTranslationTest.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedTest.java
Labels: java, io, kafka

#31501 Add base _ImageEmbeddingHandler
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#31508 Update the transform label error message
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
Labels: python, Next Action: Reviewers

#31515 Update Go container build version to 1.21.11
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: go, build

#31362 Kafka SchemaTransform translation
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSchemaTransformTranslation.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaSchemaTransformTranslationTest.java
Labels: java, io, kafka, Next Action: Reviewers

#31516 [Cherrypick][#31515] Update Go container build version to 1.21.11
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#31517 Fix Managed doc
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
Labels: java

#31518 Cherrypick (#31362) kafka schematransform translation
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSchemaTransformTranslation.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaSchemaTransformTranslationTest.java
Labels: java, io, kafka

#31522 Fix issue where manual subsequent label designations were ignored.
  sdks/python/apache_beam/transforms/ptransform.py
Labels: python, Next Action: Reviewers

#31506 Do not suppress downstream Exception in BigQueryIO Storage write API FailedStorageApiInserts Handling
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp, Next Action: Reviewers

#31521 Cherrypicking #31517 Managed doc fixes
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
Labels: java

#31509 [#31475] Filter out test stream using test from spark suite
  sdks/go/test/integration/integration.go
Labels: go

#31533 Add missing import
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
Labels: java, io, kafka

#31514 Implement Vertex AI Image Embedding MLTransform
  sdks/python/apache_beam/ml/transforms/embeddings/vertex_ai.py
  sdks/python/apache_beam/ml/transforms/embeddings/vertex_ai_test.py
Labels: python, Next Action: Reviewers

#31417 retry test_big_query_legacy_sql
  sdks/python/apache_beam/io/gcp/big_query_query_to_table_it_test.py
Labels: python, io, gcp, Next Action: Reviewers, slow-review

#31538 Skip newly added TestStream VR tests for flink runner
  .github/trigger_files/beam_PostCommit_Go_VR_Flink.json
  sdks/go/test/integration/integration.go
Labels: go, build

#31534 Deduplicate Base Embedding Handler Code
  sdks/python/apache_beam/ml/transforms/base.py
Labels: python, Next Action: Reviewers

#31540 BigQueryIOST: fix assert message, fix streaming mode
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryIOST.java
Labels: Next Action: Reviewers

#31546 Fix Python Linting Errors on Master
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/internal/gcp/auth_test.py
Labels: python

#31536 Implement Hugging Face Image Embedding MLTransform
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface.py
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface_test.py
Labels: python, Next Action: Reviewers

#31548 Escape literal tab in error message.
  sdks/python/apache_beam/transforms/external_test.py
Labels: python, Next Action: Reviewers

#31547 [Release-2.57.0] Chery-pick #31538 into release branch
  .github/trigger_files/beam_PostCommit_Go_VR_Flink.json
  sdks/go/test/integration/integration.go
Labels: java, go, build, io, runners, dataflow, kafka

#31458 Allow context managers to be used for setup/teardown.
  CHANGES.md
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/map_context.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/map_test.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/common.pxd
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/scripts/generate_pydoc.sh
  website/www/site/content/en/documentation/transforms/python/elementwise/map.md
  website/www/site/content/en/documentation/transforms/python/elementwise/pardo.md
Labels: python, website, Next Action: Reviewers

#31531 Upgrading testcontainer version to 1.19.7
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/amazon-web-services/src/test/java/org/apache/beam/sdk/io/aws/ITEnvironment.java
Labels: java, build, io, aws, Next Action: Reviewers

#31412 Remove pipeline options override from SpannerIO readChangeStream connector
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#31497 Correct test name to HashStringsTest
  sdks/python/apache_beam/ml/transforms/tft_test.py
Labels: python, Next Action: Reviewers

#31550 [Python] Add warning to temp_location and staging_location when the bucket has soft delete enabled
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/options/pipeline_options.py
Labels: python, io, gcp

#31552 make the table name unique in ReadUsingStorageApiTests
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
Labels: python, io, gcp, Next Action: Reviewers

#31549 Allow flags to be used as jinja template variables.
  sdks/python/apache_beam/yaml/main.py
  sdks/python/apache_beam/yaml/main_test.py
Labels: python, yaml

#31537 Add documentation and types to ReadFrom/WriteToBigQuery.
  sdks/python/apache_beam/yaml/yaml_io.py
Labels: python, Next Action: Reviewers, yaml

#31528 Fix incorrect Work.java cast and logging
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutorTest.java
Labels: runners, dataflow

#31556 Fix Playground scio examples, fix playground lint
  .github/workflows/playground_backend_precommit.yml
  playground/backend/containers/scio/Dockerfile
  playground/backend/env_setup.sh
  playground/backend/new_scio_project.sh
Labels: build, Next Action: Reviewers

#31557 Cherrypick #31555 onto release branch
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
Labels: runners, dataflow, Next Action: Reviewers

#31563 Cherrypick #31546 to 2.57.0 release branch
  sdks/python/apache_beam/internal/gcp/auth.py
  sdks/python/apache_beam/internal/gcp/auth_test.py
Labels: python

#31561 Remove notes now that Dataflow v2 supports BQ autosharding
  website/www/site/content/en/documentation/io/built-in/google-bigquery.md
Labels: website, Next Action: Reviewers

#30002 [YAML] Add MLTransform.
  sdks/python/apache_beam/ml/transforms/handlers.py
  sdks/python/apache_beam/ml/transforms/tft.py
  sdks/python/apache_beam/yaml/standard_providers.yaml
  sdks/python/apache_beam/yaml/yaml_ml.py
  sdks/python/apache_beam/yaml/yaml_ml_test.py
Labels: python, Next Action: Reviewers, yaml

#31455 [YAML] Allow constants and simple comparisons in generic expressions.
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/transforms/providers/JavaMapToFieldsTransformProvider.java
  sdks/python/apache_beam/yaml/standard_providers.yaml
  sdks/python/apache_beam/yaml/tests/map.yaml
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  website/www/site/content/en/documentation/sdks/yaml-udf.md
Labels: python, java, website, yaml

#31566 Solace Read connector - project init
  .github/workflows/beam_PreCommit_Java_Solace_IO_Direct.yml
  sdks/java/io/solace/build.gradle
  settings.gradle.kts
Labels: java, build, io

#31564 Add image embedding support to TFHub MLTransforms
  sdks/python/apache_beam/ml/transforms/embeddings/tensorflow_hub.py
  sdks/python/apache_beam/ml/transforms/embeddings/tensorflow_hub_test.py
Labels: python, Next Action: Reviewers

#31565 Update documentation for new TFT Transforms
  sdks/python/apache_beam/ml/transforms/tft.py
  website/www/site/content/en/documentation/ml/preprocess-data.md
Labels: python, website

#31575 [Cherrypick of #31509] Filter out tests for unsupported features for Spark.
  sdks/go/test/integration/integration.go
Labels: go

#31576 Fix clickhouse tests
  .github/workflows/beam_PreCommit_Java_IOs_Direct.yml
  sdks/java/io/clickhouse/build.gradle
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/BaseClickHouseTest.java
  sdks/java/io/clickhouse/src/test/java/org/apache/beam/sdk/io/clickhouse/ClickHouseIOTest.java
Labels: java, build, io, clickhouse

#31574 Add try-except for process.send_signal so it can work on Windows.
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python, Next Action: Reviewers

#31588 Support Row fields with type ITERABLE in Beam SQL Extension
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamCalcRel.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlDslBase.java
Labels: java, extensions, sql

#31578 Call out enrichment in side input patterns
  website/www/site/content/en/documentation/patterns/side-inputs.md
Labels: website, Next Action: Reviewers

#31580 Fix StreamConstraintsException introduced in jackson 2.15
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJsonUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowJsonCoder.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowJsonCoderTest.java
Labels: java, io, gcp

#30317 Implement ordered list state for FnApi.
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/ParDoTranslation.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/construction/ParDoTranslationTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/OrderedListUserState.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateFetchingIterators.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/FakeBeamFnStateClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/OrderedListUserStateTest.java
Labels: java, model, Next Action: Reviewers

#31591 Clone dataflow containers
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python

#31594 Solace Read connector: SolaceIO PTransform init
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/solace/build.gradle
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/SolaceIO.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SempClientFactory.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SessionServiceFactory.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/package-info.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/data/Solace.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/data/package-info.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/package-info.java
Labels: java, build, io

#31598 [release-2.57.0] Cherrypick #31581 into the release branch.
  sdks/python/apache_beam/runners/worker/data_plane.py
Labels: python

#31589 [Release-2.57.0] Cherry-pick #31580 into release branch
  CHANGES.md
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowJsonUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowJsonCoder.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowJsonCoderTest.java
Labels: java, io, gcp

#31409 Improve javadoc in ParquetIO
  sdks/java/io/parquet/src/main/java/org/apache/beam/sdk/io/parquet/ParquetIO.java
Labels: java, io, parquet

#31496 Update KafkaIO's docstring to match current implementation
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
Labels: java, io, kafka, Next Action: Reviewers

#31602 Fix internal test failure caused by PR 31550
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/options/pipeline_options.py
Labels: python, io, gcp

#31597 Use the original way of validating Bigtable Change Stream table existance to improve compatibility with testing
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#31603 Add try-except block to guard against NotFound exception from GCS delete
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
Labels: python, io, gcp, Next Action: Reviewers

#31599 [Prism] Terminate Job with CancelFn instead of panic
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager_test.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
Labels: go, runners

#31601 Allow compression of Elasticsearch requests
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-8/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTestUtils.java
  sdks/java/io/elasticsearch/build.gradle
  sdks/java/io/elasticsearch/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java
Labels: java, io, elasticsearch, Next Action: Reviewers

#31490 Plumb Redistribute "allow duplicates" property to Dataflow
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow_Streaming.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow_V2.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow_V2_Streaming.json
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/RedistributeByKeyOverrideFactory.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/internal/DataflowGroupByKey.java
Labels: java, build, model, runners, dataflow, Next Action: Reviewers

#31595 Solace Read connector: watermark-calculation related classes
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/WatermarkParameters.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/WatermarkPolicy.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/package-info.java
Labels: java, io

#31562 Cherrypick #31550 and #31602 onto release branch
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/options/pipeline_options.py
Labels: python, io, gcp

#31620 Update bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#31621 Solace Read connector: checkpoint-related classes
  sdks/java/io/solace/build.gradle
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/SolaceCheckpointMark.java
Labels: java, io

#31623 CassandraIO: Fix generic SelectAll clauses provided by ValueProvider<String> causing CassandraIO.read to fail
  sdks/java/io/cassandra/src/main/java/org/apache/beam/sdk/io/cassandra/ReadFn.java
  sdks/java/io/cassandra/src/test/java/org/apache/beam/sdk/io/cassandra/CassandraIOTest.java
Labels: java, io, cassandra

#31636 Solace Read connector: UnboundedSource and UnboundedReader
  sdks/java/io/solace/build.gradle
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/MessageReceiver.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SempClient.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SempClientFactory.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SessionService.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SessionServiceFactory.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/SolaceCheckpointMark.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/UnboundedSolaceReader.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/read/UnboundedSolaceSource.java
Labels: java, io

#31551 warn when using auto_unique_labels
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
Labels: python, Next Action: Reviewers

#31638 Update build_release_candidate.yml to resolve an ordering issue WRT prism dev artifacts.
  .github/workflows/build_release_candidate.yml
Labels: build

#31643 Use correct name for tox doc task.
  .github/workflows/build_release_candidate.yml
Labels: build

#31642 Use correct name for tox doc task.
  .github/workflows/build_release_candidate.yml
Labels: build

#31498 Add counters for bytes read/written per gcs bucket
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/channels/CountingReadableByteChannel.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/channels/CountingSeekableByteChannel.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/channels/CountingWritableByteChannel.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/channels/package-info.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtilTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/channels/CountingChannelsIsOpenCloseMethodsTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/channels/CountingChannelsReadMethodsTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/channels/CountingChannelsWriteMethodsTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/channels/CountingSeekableByteChannelTest.java
Labels: java, extensions, gcp, Next Action: Reviewers

#31466 Feature add metrics counting the number of bytes read/written from/to GCS bucket per job
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
Labels: python, io, gcp, Next Action: Reviewers

#31646 Update the list of reviewers.
  .github/REVIEWERS.yml
Labels: build

#31639 Use intended version for elasticsearch tests
  .github/workflows/beam_PreCommit_Java_ElasticSearch_IO_Direct.yml
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/src/test/contrib/create_elk_container.sh
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOIT.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-5/src/test/resources/clientkeystore
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/src/test/contrib/create_elk_container.sh
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOIT.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/src/test/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTest.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-6/src/test/resources/clientkeystore
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-7/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-8/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/build.gradle
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOITCommon.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTestCommon.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIOTestUtils.java
  sdks/java/io/elasticsearch-tests/elasticsearch-tests-common/src/main/java/org/apache/beam/sdk/io/elasticsearch/package-info.java
  settings.gradle.kts
Labels: java, build, io, elasticsearch

#31647 Fix playground examples
  learning/katas/python/Core Transforms/GroupByKey/GroupByKey/task.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/approximatequantiles.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/approximateunique.py
  website/www/site/content/en/documentation/transforms/python/aggregation/approximatequantiles.md
  website/www/site/content/en/documentation/transforms/python/aggregation/approximateunique.md
  website/www/site/content/en/documentation/transforms/python/aggregation/batchelements.md
  website/www/site/content/en/documentation/transforms/python/aggregation/count.md
  website/www/site/content/en/documentation/transforms/python/aggregation/groupbykey.md
  website/www/site/content/en/documentation/transforms/python/aggregation/tolist.md
  website/www/site/content/en/documentation/transforms/python/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, website, examples, learning

#31654 Update learning-resources.md
  website/www/site/content/en/get-started/resources/learning-resources.md
Labels: website, Next Action: Reviewers

#31626 [release-2.57.0] Cherrypick #31490 into the release branch.
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow_Streaming.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow_V2.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow_V2_Streaming.json
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPipelineTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/RedistributeByKeyOverrideFactory.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/internal/DataflowGroupByKey.java
Labels: build, runners, dataflow, Next Action: Reviewers

#31618 RabbitIO: fix serialization for list type headers
  sdks/java/io/rabbitmq/src/main/java/org/apache/beam/sdk/io/rabbitmq/RabbitMqMessage.java
  sdks/java/io/rabbitmq/src/test/java/org/apache/beam/sdk/io/rabbitmq/RabbitMqMessageTest.java
Labels: java, io, rabbitmq

#31644 [#31403] Relax prism constraints to allow python wordcount to execute.
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
Labels: go, runners

#31604 [YAML] Allow explicitly including external provider lists.
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_provider_unit_test.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, Next Action: Reviewers, yaml

#31662 Update beamquest.md
  website/www/site/content/en/blog/beamquest.md
Labels: website, Next Action: Reviewers

#31632 Handle MultimapKeysSideInput in State GetRequests
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker_test.go
Labels: go, runners

#31637 Solace Read connector: data classes and mapper
  sdks/java/io/solace/build.gradle
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/data/Solace.java
Labels: java, io

#31476 Solace Read connector
  sdks/java/io/solace/build.gradle
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/SolaceIO.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/broker/SessionServiceFactory.java
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/data/Solace.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockEmptySessionService.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockSempClient.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockSempClientFactory.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockSessionService.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/MockSessionServiceFactory.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/SolaceIOTest.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/data/SolaceDataUtils.java
Labels: java, io

#31653 Replace getElementType with getValueType for MAP in AvroGenericRecord…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#31567 Adjust JVM heap size for extremely large memory machine
  sdks/java/container/boot.go
  sdks/java/container/boot_test.go
Labels: java, docker, Next Action: Reviewers

#31539 Solace Read connector: RetryCallable mechanism
  sdks/java/io/solace/build.gradle
  sdks/java/io/solace/src/main/java/org/apache/beam/sdk/io/solace/RetryCallableManager.java
  sdks/java/io/solace/src/test/java/org/apache/beam/sdk/io/solace/RetryCallableManagerTest.java
Labels: java, io

#31617 Expose GroupIntoBatches parameters for WriteFiles auto-sharding transform
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOWriteTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/WriteFilesTest.java
Labels: java

#31675 Fix nullable array issue 31674 in AvroGenericRecordToStorageApiProto
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#31655 Publish a blog post - deploy-python-pipeline-on-flink-runner
  website/www/site/content/en/blog/deploy-python-pipeline-on-flink-runner.md
  website/www/site/data/authors.yml
  website/www/site/static/images/blog/deploy-python-pipeline-on-flink-runner/flink-ui.png
  website/www/site/static/images/blog/deploy-python-pipeline-on-flink-runner/kafka-topics-1.png
  website/www/site/static/images/blog/deploy-python-pipeline-on-flink-runner/kafka-topics-2.png
  website/www/site/static/images/blog/deploy-python-pipeline-on-flink-runner/kafka-ui.png
  website/www/site/static/images/blog/deploy-python-pipeline-on-flink-runner/output-topic-messages.png
Labels: website, Next Action: Reviewers

#31685 Fixes a regression related to BQ read transform upgrade via the TransformService
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
Labels: java, io, gcp

#31683 Add Storage API streaming max retries parameter for BigQueryOptions
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteRecordsInconsistent.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
Labels: java, io, gcp

#31379 Add Histogram combiner
  build.gradle.kts
  sdks/java/extensions/combiners/build.gradle
  sdks/java/extensions/combiners/src/main/java/org/apache/beam/sdk/extensions/combiners/Histogram.java
  sdks/java/extensions/combiners/src/main/java/org/apache/beam/sdk/extensions/combiners/package-info.java
  sdks/java/extensions/combiners/src/test/java/org/apache/beam/sdk/extensions/combiners/HistogramTest.java
  settings.gradle.kts
Labels: java, build, extensions, Next Action: Reviewers

#31667 Blog and site updates for Beam 2.57.0 release
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.57.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#31700 Create CsvIOParseError data class
  sdks/java/io/csv/build.gradle
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseError.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseErrorTest.java
Labels: java, io

#31694 [#28187][Prism] Relax or fix issues in Prism to allow Python pipelines to execute.
  sdks/go/pkg/beam/runners/prism/internal/coders.go
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/unimplemented_test.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
Labels: go, runners, Next Action: Reviewers

#31298 move heartbeat processor to where it is being used
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillStreamFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/WindmillStreamSender.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClientTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/WindmillStreamSenderTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/budget/EvenGetWorkBudgetDistributorTest.java
Labels: runners, dataflow, Next Action: Reviewers

#31669 Add spark mapstate
  runners/core-java/src/test/java/org/apache/beam/runners/core/StateInternalsTest.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/stateful/SparkStateInternals.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/stateful/SparkStateInternalsTest.java
Labels: runners, spark, core, Next Action: Reviewers

#31691 Allow override beam version for PythonExternalTransform via pipeline option
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransformOptions.java
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonService.java
Labels: java, extensions

#31693 Eliminate the use of testRuntimeMigration for sdks:java:io:common
  sdks/java/io/amazon-web-services/build.gradle
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/bigquery-io-perf-tests/build.gradle
  sdks/java/io/cassandra/build.gradle
  sdks/java/io/cdap/build.gradle
  sdks/java/io/common/build.gradle
  sdks/java/io/common/src/main/java/org/apache/beam/sdk/io/common/DatabaseTestHelper.java
  sdks/java/io/common/src/main/java/org/apache/beam/sdk/io/common/HashingFn.java
  sdks/java/io/common/src/main/java/org/apache/beam/sdk/io/common/IOITHelper.java
  sdks/java/io/common/src/main/java/org/apache/beam/sdk/io/common/IOTestPipelineOptions.java
  sdks/java/io/common/src/main/java/org/apache/beam/sdk/io/common/NetworkTestHelper.java
  sdks/java/io/common/src/main/java/org/apache/beam/sdk/io/common/PostgresIOTestPipelineOptions.java
  sdks/java/io/common/src/main/java/org/apache/beam/sdk/io/common/SchemaAwareJavaBeans.java
  sdks/java/io/common/src/main/java/org/apache/beam/sdk/io/common/TestRow.java
  sdks/java/io/common/src/main/java/org/apache/beam/sdk/io/common/package-info.java
  sdks/java/io/csv/build.gradle
  sdks/java/io/debezium/build.gradle
  sdks/java/io/elasticsearch/build.gradle
  sdks/java/io/file-based-io-tests/build.gradle
  sdks/java/io/file-schema-transform/build.gradle
  sdks/java/io/google-ads/build.gradle
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkSchemaUpdateIT.java
  sdks/java/io/hadoop-format/build.gradle
  sdks/java/io/hbase/build.gradle
  sdks/java/io/hcatalog/build.gradle
  sdks/java/io/influxdb/build.gradle
  sdks/java/io/jdbc/build.gradle
  sdks/java/io/jms/build.gradle
  sdks/java/io/json/build.gradle
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kinesis/build.gradle
  sdks/java/io/kudu/build.gradle
  sdks/java/io/mongodb/build.gradle
  sdks/java/io/mqtt/build.gradle
  sdks/java/io/neo4j/build.gradle
  sdks/java/io/rabbitmq/build.gradle
  sdks/java/io/redis/build.gradle
  sdks/java/io/rrio/build.gradle
  sdks/java/io/singlestore/build.gradle
  sdks/java/io/snowflake/build.gradle
  sdks/java/io/solace/build.gradle
  sdks/java/io/sparkreceiver/2/build.gradle
Labels: java, io, aws, cassandra, elasticsearch, gcp, hadoop, hbase, hcatalog, jdbc, jms, kafka, kinesis, kudu, mongodb, mqtt, rabbitmq, redis, tests, Next Action: Reviewers

#31710 Properly close Storage API batch connections
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AppendClientInfo.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
Labels: java, io, gcp

#31706 Create CsvIOParseResult
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/providers/CsvIOParseResult.java
Labels: java, io, Next Action: Reviewers

#31583 [#31403] Python wrapper to download, use, or build and run prism.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/portability/prism_runner.py
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: python, Next Action: Reviewers

#31714 [CsvIO] Create CsvIOParseConfiguration
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseConfiguration.java
  sdks/java/io/csv/src/test/java/org/apache/beam/sdk/io/csv/CsvIOParseConfigurationTest.java
Labels: java, io, Next Action: Reviewers

#31715 Remove excessive logging in test.
  sdks/python/apache_beam/io/parquetio_test.py
Labels: python, io, Next Action: Reviewers

#31722 [CsvIO] Move CsvIOParseResult
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIOParseResult.java
Labels: java, io
