Repository apache/beam, pull requests merged in 2024-02, with the labels that each got.

#30153 Allow stale_bq_datasets_cleaner.sh to run to completion, even when there are failures to grab a dataset
  .test-infra/tools/stale_bq_datasets_cleaner.sh
Labels: infra

#30186 Remove constraint introduced in #30059
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Dataflow.json
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
Labels: java, build, io, gcp

#30129 [YAML] - PubSubLite proto
  sdks/java/extensions/protobuf/build.gradle
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteUtils.java
  sdks/java/extensions/protobuf/src/test/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteUtilsTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsublite/PubsubLiteWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PubsubLiteDlqTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsublite/internal/PubsubLiteWriteDlqTest.java
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, extensions, gcp, protobuf, Next Action: Reviewers, yaml

#30188 gcsio: Support dict as the input of delete_batch
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, gcp, Next Action: Reviewers

#30176 Fix script typos for validating docker licenses.
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#30195 Fix typo on DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
Labels: runners, dataflow

#30194 [Dataflow Streaming] Add a config to use multiple commit threads
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
Labels: runners, dataflow

#29747 Knowledge lookup prompts:
  learning/prompts/README.md
  learning/prompts/code-explanation/01_io_kafka.md
  learning/prompts/code-explanation/02_io_pubsub.md
  learning/prompts/code-explanation/03_io_bigquery.md
  learning/prompts/code-explanation/04_io_bigtable.md
  learning/prompts/code-explanation/05_io_spanner.md
  learning/prompts/code-explanation/06_io_tfrecord.md
  learning/prompts/code-explanation/07_io_json.md
  learning/prompts/code-explanation/08_io_csv.md
  learning/prompts/code-explanation/09_io_avro.md
  learning/prompts/code-explanation/10_io_parquet.md
  learning/prompts/code-explanation/11_io_jdbc.md
  learning/prompts/code-generation/01_io_kafka.md
  learning/prompts/code-generation/03_io_bigquery.md
  learning/prompts/code-generation/04_io_bigtable.md
  learning/prompts/code-generation/05_io_spanner.md
  learning/prompts/code-generation/06_io_tfrecord.md
  learning/prompts/code-generation/07_io_json.md
  learning/prompts/code-generation/08_io_csv.md
  learning/prompts/code-generation/09_io_avro.md
  learning/prompts/code-generation/10_io_parquet.md
  learning/prompts/code-generation/11_io_jdbc.md
  learning/prompts/documentation-lookup/18_io_kafka.md
  learning/prompts/documentation-lookup/21_io_bigtable.md
  learning/prompts/documentation-lookup/22_io_spanner.md
  learning/prompts/documentation-lookup/23_io_gcs.md
  learning/prompts/documentation-lookup/24_io_json.md
  learning/prompts/documentation-lookup/25_io_csv.md
  learning/prompts/documentation-lookup/26_io_avro.md
  learning/prompts/documentation-lookup/27_io_parquet.md
  learning/prompts/documentation-lookup/28_io_jdbc.md
Labels: learning, Next Action: Reviewers

#30193 Remove sdks/java/fn-execution
  build.gradle.kts
  runners/direct-java/build.gradle
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowWorkUnitClientTest.java
  sdks/java/expansion-service/build.gradle
  sdks/java/fn-execution/build.gradle
  sdks/java/harness/build.gradle
  settings.gradle.kts
Labels: java, build, runners, dataflow, direct

#30190 Split standalone transform service application from launcher jar
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/python/build.gradle
  sdks/java/harness/build.gradle
  sdks/java/transform-service/app/build.gradle
  sdks/java/transform-service/launcher/build.gradle
  sdks/python/apache_beam/utils/transform_service_launcher.py
  settings.gradle.kts
  website/www/site/content/en/documentation/programming-guide.md
Labels: python, java, build, website, extensions

#30168 Fix stale dataflow prebuilt image cleaner
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: infra, Next Action: Reviewers

#30204 Try a different approach for cibuildwheel flake.
  sdks/python/build.gradle
Labels: python

#30178 [Prism] Implement jobservices.Server Cancel
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management_test.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/server_test.go
Labels: go, runners, Next Action: Reviewers

#30192 Handle a user whose account was deleted.
  .test-infra/metrics/sync/github/sync_workflows.py
  scripts/ci/pr-bot/updateReviewers.ts
Labels: infra

#30217 [Cherry pick #30156 into 2.54.0] Make ReadFromBigQueryRequest id more randomized
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, java, go, build, io, runners, dataflow, gcp

#30216 [Cherry pick #30148 into 2.54.0] Marks failed bit as volatile since multiple threads read and write it.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
Labels: runners, dataflow

#30221 [CherryPick #30179] Fix JdbcIO PreCommit mysql breaking change
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOAutoPartitioningIT.java
Labels: java, io, jdbc

#30141 Adding a default watermark emit interval for FlinkUnboundedSourceReader
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReader.java
Labels: runners, flink, Next Action: Reviewers

#30215 When failing work items during commit, make sure to call completeWork…
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
Labels: runners, dataflow, Next Action: Reviewers

#30229 [Dataflow Streaming] Invalidate caches and remove work on failure before commit
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
Labels: runners, dataflow

#30227 Fix markdown links
  website/www/site/content/en/contribute/runner-guide.md
Labels: website, Next Action: Reviewers

#30234 [CherryPick #30229] [Dataflow Streaming] Invalidate caches and remove work on failure before commit
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
Labels: runners, dataflow

#30220 Add Default method for OutputReceiver.outputWindowedValue
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/BeamZetaSqlCalcRel.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
  sdks/java/io/pulsar/src/test/java/org/apache/beam/sdk/io/pulsar/ReadFromPulsarDoFnTest.java
  sdks/java/io/sparkreceiver/2/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFnTest.java
Labels: java, io, extensions, runners, sql, gcp, kafka, core, Next Action: Reviewers, spanner

#29860 Creating a Fully Managed Beam Streaming System with Flink Runner on Kubernetes - Part 3
  website/www/site/content/en/blog/apache-beam-flink-and-kubernetes-part3.md
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/adaptive_scheduler_rescale.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/auto-tuned-worker.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/backlog_growth.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/backlog_time.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/cpurate_desired.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/flink-operator-chaining.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/operator-backlog.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/resource-allocation.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/worker_extra.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/worker_require.png
  website/www/site/static/images/blog/apache-beam-flink-and-kubernetes-part3/worker_scaleup.png
Labels: website, Next Action: Reviewers

#30232 Fix to take StreamingDataflowWorkerOptions from external options
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowBatchWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowWorkerHarnessHelper.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkerPipelineOptionsFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowWorkerHarnessHelperTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerPipelineOptionsFactoryTest.java
Labels: runners, dataflow

#30241 [Cherry Pick #30188] gcsio: support dict as the input of delete_batch
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, gcp

#30243 Fix a naming conflict of the TransformService test suite
  .github/workflows/beam_PostCommit_TransformService_Direct.yml
Labels: build, Next Action: Reviewers

#30205 gcsio: reduce number of get requests in function calls
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
Labels: python, io, gcp, Next Action: Reviewers

#30237 Adjust transform-service module names and deps with sdks/java/core
  sdks/java/transform-service/app/build.gradle
  sdks/java/transform-service/build.gradle
  sdks/java/transform-service/launcher/build.gradle
Labels: java

#30138 Add InferenceAPIEmbeddings to huggingface
  .github/workflows/beam_PreCommit_Python_Coverage.yml
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface.py
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface_test.py
  sdks/python/test-suites/tox/common.gradle
  sdks/python/tox.ini
Labels: python, build, Next Action: Reviewers

#30218 Fix Jms drop record
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsCheckpointMark.java
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsIO.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/JmsIOIT.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/JmsIOTest.java
Labels: java, io, jms, Next Action: Reviewers

#30011 [Go SDK] Use distroless:debian12 (no-ssl) as base image.
  CHANGES.md
  sdks/go/container/Dockerfile
Labels: go, docker, Next Action: Reviewers

#30252 Fail later when duplicate transform translators are on the classpath
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformTranslation.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionServiceSchemaTransformProvider.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/JavaClassLookupTransformProvider.java
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/TransformProvider.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExpansionServiceTest.java
  sdks/java/expansion-service/src/test/java/org/apache/beam/sdk/expansion/service/ExternalTest.java
  sdks/java/testing/expansion-service/src/test/java/org/apache/beam/sdk/testing/expansion/TestExpansionService.java
Labels: java, runners, core

#30048 Add support for current active work budget.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkStateTest.java
Labels: runners, dataflow, Next Action: Reviewers, slow-review

#30251 [lint] Doc comment exported ErrCancel.
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
Labels: go, runners

#30157 Add Drain to Job Management proto
  model/job-management/src/main/proto/org/apache/beam/model/job_management/v1/beam_job_api.proto
  sdks/go/pkg/beam/model/fnexecution_v1/beam_fn_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_expansion_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api.pb.go
  sdks/go/pkg/beam/model/jobmanagement_v1/beam_job_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
Labels: go, model, Next Action: Reviewers

#30115 [Proposal] Improve DisplayData support in PTransform API
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PTransform.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/PTransformTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, Next Action: Reviewers

#30161 [YAML] Add documentation to Beam site.
  website/www/site/content/en/documentation/sdks/yaml-combine.md
  website/www/site/content/en/documentation/sdks/yaml-errors.md
  website/www/site/content/en/documentation/sdks/yaml-inline-python.md
  website/www/site/content/en/documentation/sdks/yaml-udf.md
  website/www/site/content/en/documentation/sdks/yaml.md
  website/www/site/data/pipelines.yaml
  website/www/site/layouts/partials/section-menu/en/sdks.html
  website/www/site/static/images/logos/sdks/yaml.png
Labels: website

#30233 Add options giving more isolation between grpc streaming rpcs.
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricTrackingWindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/options/StreamingDataflowWorkerOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/IsolationChannel.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillChannelFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillStubFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/IsolationChannelTest.java
Labels: runners, dataflow

#30260 Downgrade grpc version to 1.60.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#30244 Fix change point analysis unit test
  sdks/python/apache_beam/testing/analyzers/perf_analysis_test.py
Labels: python

#30202 Update artifacts fetcher to download artifacts locally using FileSystems
  sdks/python/apache_beam/examples/ml_transform/ml_transform_it_test.py
  sdks/python/apache_beam/examples/ml_transform/vocab_tfidf_processing.py
  sdks/python/apache_beam/ml/transforms/utils.py
Labels: python, examples, Next Action: Reviewers

#30181 Update to libraries-bom 26.31.0 , Add support for protos and enums for spanner dataflow templates
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/MutationSizeEstimator.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/MutationSizeEstimatorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTest.java
Labels: java, build, docker, io, gcp, Next Action: Reviewers, spanner

#30278 Fix two flaky tests
  sdks/java/core/src/test/java/org/apache/beam/sdk/fn/data/BeamFnDataInboundObserverTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/UnboundedScheduledExecutorServiceTest.java
Labels: java

#30256 Remove unused parameter
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/counters/NameContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/StageInfo.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
Labels: runners, dataflow, Next Action: Reviewers

#30285 fixed documentation in sdks/python/apache_beam/io/gcp/pubsub.py WriteToPubSub
  sdks/python/apache_beam/io/gcp/pubsub.py
Labels: python, io, gcp, Next Action: Reviewers

#30259 [JdbcIO] - Adding option for max batch buffering duration
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#30291 Remove WriteToFiles is experimental.
  sdks/python/apache_beam/io/fileio.py
Labels: python, io

#30270 fix bug in getProcessingTimesByStepCopy
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContext.java
Labels: runners, dataflow

#29082 check for cachetoken representing a retry before activating and completing work
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/WorkId.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkStateTest.java
Labels: runners, dataflow, Next Action: Reviewers

#30246 Only populate DataflowHistogramValue::OutlierStats when overflow/underflow values exist.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverter.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
Labels: runners, dataflow

#30298 Healthcare java package update (Jan)
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#30293 Delete update-reviewers
  .github/workflows/pr-bot-update-reviewers.yml
Labels: build

#30302 Remove python 3.7 from programming guide
  website/www/site/content/en/documentation/programming-guide.md
Labels: website

#30300 Make kafka dependency optional for runner-google-cloud-dataflow-java
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
Labels: runners, dataflow

#30146 Remove CoGBK in MLTransform's TFTProcessHandler
  sdks/python/apache_beam/ml/transforms/handlers.py
Labels: python, Next Action: Reviewers

#30264 Fixes a bug related to upgrading Kafka read transforms using the Transform Service
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslation.java
  sdks/java/io/kafka/upgrade/src/test/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslationTest.java
Labels: java, io, kafka, Next Action: Reviewers

#30290 Add instructions for Go custom container builds, link from 2.55.0 release notes.
  CHANGES.md
  website/www/site/content/en/documentation/runtime/environments.md
Labels: website

#30262 Add an automatic GCP-BOM dependency upgrader
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  scripts/tools/bomupgrader.py
Labels: build

#30201 Beam 2.54.0 release blog.
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.54.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#30245 Extract ThrottleTimeCounter for PerWorkerMetrics
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/StageInfo.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/StageInfoTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetrics.java
Labels: java, io, runners, dataflow, gcp

#30318 Pipeline design documentation update
  website/www/site/content/en/documentation/pipelines/design-your-pipeline.md
Labels: website

#30283 fixed the display issue for impersonateServiceAccount with Java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WorkerPipelineOptionsFactory.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcpOptions.java
  sdks/java/harness/build.gradle
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
Labels: java, extensions, runners, dataflow, gcp

#30187 [Docs] Add transform catalog page for enrichment transform
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/enrichment.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/enrichment_test.py
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/content/en/documentation/transforms/python/elementwise/enrichment.md
  website/www/site/content/en/documentation/transforms/python/elementwise/runinference-pytorch.md
  website/www/site/content/en/documentation/transforms/python/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, website, examples, Next Action: Reviewers

#30315 Add example notebook for bigtable enrichment
  examples/notebooks/beam-ml/bigtable_enrichment_transform.ipynb
Labels: examples

#30284 Duet AI advanced DoFn documentation lookup prompts
  learning/prompts/documentation-lookup/29_advanced_side_inputs.md
  learning/prompts/documentation-lookup/30_advanced_additional_outputs.md
  learning/prompts/documentation-lookup/31_advanced_batched_dofn.md
Labels: learning, Next Action: Reviewers

#30306 Exclude slf4j 2.x for arrow dependency
  sdks/java/extensions/arrow/build.gradle
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, io, extensions, gcp, Next Action: Reviewers

#30324 Update to libraries-bom 26.32.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#30328 Remove a single "-" from test-your-pipeline.md
  website/www/site/content/en/documentation/pipelines/test-your-pipeline.md
Labels: website, Next Action: Reviewers

#30314 [YAML] - Pick file descriptor based on messageName
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoByteUtils.java
Labels: java, extensions, protobuf, Next Action: Reviewers

#30323 Bump PostCommit Java DataflowV1 timeout to 6h
  .github/workflows/beam_PostCommit_Java_DataflowV1.yml
Labels: build

#30046 Update windmill proto definition
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/options/StreamingDataflowWorkerOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/WorkHeartbeatResponseProcessor.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillEndpoints.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServiceAddress.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillStreamFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/RemoteWindmillStubFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillChannelFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillStubFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkerMetadataStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClientTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/testing/FakeWindmillStubFactory.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill_service.proto
Labels: runners, dataflow, Next Action: Reviewers

#30331 Fix post-commit failure after pr/30205.
  sdks/python/apache_beam/io/gcp/gcsio.py
Labels: python, io, gcp, Next Action: Reviewers

#30333 Fix Python postcommits
  .github/trigger_files/beam_PostCommit_Python_Examples_Direct.json
  sdks/java/extensions/python/build.gradle
Labels: java, build, extensions

#30211 [Dataflow Streaming] Add Channelz staus page exporting GRPC channelz data
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowPipelineDebugOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerBase.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/ChannelzServlet.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillChannelFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/ChannelzServletTest.java
Labels: build, runners, dataflow

#30334 Revert "Update to libraries-bom 26.32.0"
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#30253 Introduce JmsIO.Read.requiresDeduping
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsIO.java
  sdks/java/io/jms/src/test/java/org/apache/beam/sdk/io/jms/JmsIOTest.java
Labels: java, io, jms, Next Action: Reviewers

#30072 [#29917][prism] Initial TestStream support
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/engine_test.go
  sdks/go/pkg/beam/runners/prism/internal/engine/teststream.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/unimplemented_test.go
  sdks/go/pkg/beam/testing/teststream/teststream.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/teststream.go
  sdks/go/test/integration/primitives/teststream_test.go
Labels: go, runners

#30335 Upgrade GCP BOM to 26.32.0
  .github/trigger_files/beam_PostCommit_Java_DataflowV2.json
  .github/trigger_files/beam_PostCommit_Python.json
  .github/trigger_files/beam_PostCommit_Python_Examples_Direct.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  scripts/tools/bomupgrader.py
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1TestUtil.java
Labels: java, build, docker, io, gcp

#30287 Implement BigQuery Stress Test
  it/google-cloud-platform/build.gradle
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryIOST.java
Labels: Next Action: Reviewers

#30340 Allow JSON type in TableSchema for WriteToBigQuery with FILE_LOAD method in Python SDK
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#30307 Redis cache support for enrichment transform
  CHANGES.md
  sdks/python/apache_beam/io/requestresponse.py
  sdks/python/apache_beam/io/requestresponse_it_test.py
  sdks/python/apache_beam/io/requestresponse_test.py
  sdks/python/apache_beam/io/requestresponse_tests_requirements.txt
  sdks/python/apache_beam/transforms/enrichment.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable_it_test.py
  sdks/python/apache_beam/transforms/enrichment_it_test.py
  sdks/python/pytest.ini
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/test-suites/dataflow/common.gradle
  sdks/python/test-suites/direct/common.gradle
Labels: python, build, io, Next Action: Reviewers

#30336 Log the resource id when IOException happens in FileBasedSource
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileBasedSource.java
Labels: java

#30322 fix flaky test
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClient.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/StreamingEngineClientTest.java
Labels: runners, dataflow, Next Action: Reviewers

#30081 Feature/add error handling for bqio
  .github/trigger_files/beam_PostCommit_Java.json
  .github/trigger_files/beam_PostCommit_Java_DataflowV1.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Dataflow.json
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/errorhandling/ErrorHandlingTestUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroRowWriter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslation.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryRowWriter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamBundleSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamSource.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiConvertMessages.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowWriter.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteBundlesToFiles.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteGroupedRecordsToFiles.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageQueryIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageQueryTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOStorageReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOTranslationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, build, io, runners, dataflow, gcp, Next Action: Reviewers

#30356 Bump timeout of PostCommit Java PVR Spark3 Streaming to 3h
  .github/workflows/beam_PostCommit_Java_PVR_Spark3_Streaming.yml
Labels: build

#30289 Add TensorflowHub embeddings to MLTransform
  sdks/python/apache_beam/ml/transforms/embeddings/tensorflow_hub.py
  sdks/python/apache_beam/ml/transforms/embeddings/tensorflow_hub_test.py
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/test-suites/tox/py38/build.gradle
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#30294 Add some tolerance for skippped images in cleaner
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: infra

#30198 Add the ability to test examples from yaml docs.
  .gitignore
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_mapping_test.py
  sdks/python/setup.py
Labels: python, build, website, Next Action: Reviewers, yaml

#30268 [YAML] Documentation redirects.
  sdks/python/apache_beam/yaml/README.md
  sdks/python/apache_beam/yaml/inline_python.md
  sdks/python/apache_beam/yaml/yaml_combine.md
  sdks/python/apache_beam/yaml/yaml_errors.md
  sdks/python/apache_beam/yaml/yaml_mapping.md
  website/www/site/content/en/documentation/sdks/yaml-inline-python.md
Labels: python, website, yaml

#30370 Also export AsMultiMap view.
  sdks/python/apache_beam/pvalue.py
Labels: python

#30362 Make state cache optional due to a potential performance regression for some users.
  CHANGES.md
  sdks/python/apache_beam/options/pipeline_options.py
Labels: python

#30327 Metrics prefetcher script
  .gitignore
  .test-infra/metrics/grafana/dashboards/GA-Post-Commits_status_dashboard.json
  .test-infra/metrics/sync/github/github_runs_prefetcher/README.md
  .test-infra/metrics/sync/github/github_runs_prefetcher/bucket.tf
  .test-infra/metrics/sync/github/github_runs_prefetcher/code.tf
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/config.yaml
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/main.py
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/requirements.txt
  .test-infra/metrics/sync/github/github_runs_prefetcher/function.tf
  .test-infra/metrics/sync/github/github_runs_prefetcher/provider.tf
  .test-infra/metrics/sync/github/github_runs_prefetcher/service_account.tf
  .test-infra/metrics/sync/github/sync_workflows.py
Labels: build, infra, Next Action: Reviewers

#30344 Grafana flaky test alert
  .test-infra/metrics/grafana/provisioning/alerts/flaky_test.yaml
  .test-infra/metrics/grafana/provisioning/datasources/beampostgresql.yaml
Labels: infra, Next Action: Reviewers

#30345 Flaky test issue script
  .github/workflows/flaky_test_detection.yml
  .test-infra/tools/flaky_test_detection.py
Labels: build, Next Action: Reviewers

#30387 Restore yaml inline python page.
  website/www/site/content/en/documentation/sdks/yaml-inline-python.md
Labels: website

#30381 [YAML] Add note about running yaml pipelines directly via gcloud.
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website, Next Action: Reviewers

#30371 [YAML] Delete redundant (and now broken) links at bottom of main yaml page.
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website

#30346 Duet AI Prompts: Apache Beam Runners
  learning/prompts/documentation-lookup/03_basic_configuring_pipelines.md
  learning/prompts/documentation-lookup/04_basic_pcollections.md
  learning/prompts/documentation-lookup/12_basic_timers.md
  learning/prompts/documentation-lookup/17_advanced_ai_ml.md
  learning/prompts/documentation-lookup/19_io_pubsub.md
  learning/prompts/documentation-lookup/20_io_biguery.md
  learning/prompts/documentation-lookup/44_dataflow_runner.md
  learning/prompts/documentation-lookup/45_spark_runner.md
  learning/prompts/documentation-lookup/46_direct_runner.md
Labels: learning, Next Action: Reviewers

#30408 Remove the CSP-blocked iframes pointing outside of apache.org
  website/www/site/layouts/index.html
Labels: website

#30378 [YAML] Fix MapToFields error output type inference
  sdks/python/apache_beam/yaml/yaml_mapping.py
Labels: python, yaml

#30411 Update beam-2.54.0.md about v2 default.
  website/www/site/content/en/blog/beam-2.54.0.md
Labels: website

#30406 Use BeamModulePlugin org.json version in extensions/ml
  sdks/java/extensions/ml/build.gradle
Labels: java, extensions, Next Action: Reviewers

#30393 Fix invalid escape sequence '\#'
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#29882 Implementing lull reporting at bundle level processing
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateTracker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowOperationContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StackTraceUtil.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateTrackerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/DataflowOperationContextTest.java
Labels: runners, dataflow, core, Next Action: Reviewers

#30367 Remove some uses of ClassLoadingStrategy.Default.INJECTION
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/AutoValueUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/POJOUtils.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroByteBuddyUtils.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/schemas/AwsSchemaUtils.java
Labels: java, io, extensions, aws

#30418 Force downgrade mpmath to avoid test breakages
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#30265 start to refactor persistence layer to prepare for direct path
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/sideinput/SideInputStateFetcher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateReader.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/sideinput/SideInputStateFetcherTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateReaderTest.java
Labels: runners, dataflow, Next Action: Reviewers

#30409 [Python] Add doc comment for WriteToText.skip_if_empty
  sdks/python/apache_beam/io/textio.py
Labels: python, io, Next Action: Reviewers

#30410 Ensure flatten windows match
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/core_test.py
Labels: python, Next Action: Reviewers

#30431 Make Monitoring build method public
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/Monitoring.java
Labels: java, io, Next Action: Reviewers

#30372 Wire error handling into PubSubIO and add initial tests
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PreparePubsubWriteDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOTest.java
Labels: java, io, gcp, Next Action: Reviewers

#30438 Fix Python PostCommit BigQuery JSON
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/io/gcp/bigquery_json_it_test.py
Labels: python, build, io, gcp, Next Action: Reviewers

#30433 [yaml] fix providers doc
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website

#30380 Fix updating of annotations for explicitly named transforms.
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/ptransform_test.py
Labels: python, Next Action: Reviewers

#30269 Add yaml to programming guide.
  sdks/python/apache_beam/transforms/combiners.py
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/utils/timestamp.py
  sdks/python/apache_beam/yaml/programming_guide_test.py
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_combine.py
  sdks/python/apache_beam/yaml/yaml_combine_test.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  website/www/site/content/en/documentation/programming-guide.md
  website/www/site/layouts/shortcodes/language-switcher.html
Labels: python, website, yaml

#30450 Revise documentation on managing dependencies.
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: website

#30361 Support passing credentials from pipeline options into SpannerIO.readChangeStream
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/MetadataSpannerConfigFactory.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOReadChangeStreamTest.java
Labels: java, io, gcp, spanner

#30390 ActiveWorkRefresh
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/ActiveWorkRefresher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/ActiveWorkRefreshers.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/DispatchedActiveWorkRefresher.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/DispatchedActiveWorkRefresherTest.java
Labels: runners, dataflow, Next Action: Reviewers

#30424 Fix issue creation for grafana alerts
  .github/workflows/flaky_test_detection.yml
  .test-infra/metrics/grafana/dashboards/GA-Post-Commits_status_dashboard.json
  .test-infra/metrics/grafana/provisioning/alerts/flaky_test.yaml
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/main.py
  .test-infra/tools/flaky_test_detection.py
  .test-infra/tools/requirements.txt
Labels: Next Action: Reviewers, bug

#30461 Make the flaky_test_detection script read only by default
  .test-infra/tools/flaky_test_detection.py
Labels: infra

#30462 [Go SDK] filter out TestTestStreamInt16Sequence from flink VR tests.
  sdks/go/test/integration/integration.go
Labels: go

#30464 fix alerting path for grafana provisioning
  .test-infra/metrics/grafana/provisioning/alerting/flaky_test.yaml
Labels: infra, Next Action: Reviewers
