Repository apache/beam, pull requests merged in 2025-10, with the labels that each got.

#36348 Add dill test workflow
  .github/workflows/beam_PreCommit_Python_Dill.yml
Labels: build

#36351 Remove workflow_run.
  .github/workflows/beam_PreCommit_Python_Dill.yml
Labels: build

#36353 Add google-cloud-secret-managager to beam python container deps
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py313/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#36361 Exit gradle process after build complete
  .github/actions/gradle-command-self-hosted-action/action.yml
Labels: Next Action: Reviewers

#36333 [Prism] Support AfterProcessingTime triggers - part 2
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/strategy.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/unimplemented_test.go
  sdks/go/test/integration/integration.go
  sdks/go/test/integration/primitives/windowinto.go
  sdks/go/test/integration/primitives/windowinto_test.go
Labels: go, runners, Next Action: Reviewers, prism

#36352 Fix errorprone move serialization to private method
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtoBeamConverter.java
  sdks/java/extensions/protobuf/src/main/java/org/apache/beam/sdk/extensions/protobuf/ProtobufUtil.java
Labels: java, extensions, protobuf

#36374 Update Python SDK container
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners

#36377 Make ml tests portable
  sdks/python/apache_beam/ml/inference/base_test.py
Labels: python

#36321 Add pipeline option to enforce gbek
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python, Next Action: Reviewers

#36380 Add Jpms tests for Java 25
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Jpms_Dataflow.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Dataflow_Versions.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Direct.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Direct_Java21.yml
  .github/workflows/beam_PostCommit_Java_Jpms_Direct_Versions.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, runners, dataflow

#36335 Implement histogram user metric for python SDK
  sdks/python/apache_beam/internal/metrics/cells.py
  sdks/python/apache_beam/internal/metrics/metric_test.py
  sdks/python/apache_beam/metrics/execution.py
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/metrics/monitoring_infos.py
  sdks/python/apache_beam/metrics/monitoring_infos_test.py
  sdks/python/apache_beam/runners/direct/direct_metrics.py
  sdks/python/apache_beam/utils/histogram.py
Labels: python, runners, Next Action: Reviewers

#36365 feat(subprocess_server): add fallback to Google Maven mirror
  sdks/python/apache_beam/utils/subprocess_server.py
  sdks/python/apache_beam/utils/subprocess_server_test.py
Labels: python

#36251 fix(sdk:python): Avoid AttributeError for transforms without hints
  sdks/python/apache_beam/pipeline.py
Labels: python, Next Action: Reviewers

#36384 [Prism] Handle pending adjustment for processing time bundle correctly
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
Labels: go, runners, prism

#36386 Add back missing licenses
  sdks/python/apache_beam/programming_guide_test.py
Labels: python

#36217 Java GroupByEncryptedKey
  sdks/java/build-tools/src/main/resources/beam/checkstyle/suppressions.xml
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupByEncryptedKey.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/GcpSecret.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/Secret.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupByEncryptedKeyTest.java
Labels: java, build, Next Action: Reviewers

#36332 Add schema provider support for Kafka redistribute options
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
Labels: java, io, kafka

#36388 fix: handle empty requests in milvus search to avoid connection attempts
  sdks/python/apache_beam/ml/rag/enrichment/milvus_search.py
Labels: python

#36406 [Python] cloudsql_it_test fixture runs before setupclass
  sdks/python/apache_beam/transforms/enrichment_handlers/cloudsql_it_test.py
Labels: python

#36401 [Dataflow Streaming] Fix race in GetDataStream that could leave get data requests orphaned on stream errors after half-closing.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStream.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStreamTest.java
Labels: runners, dataflow

#35811 Python examples to use IObase IOs sinks in streaming (and batch)
  sdks/python/apache_beam/examples/sinks/README.md
  sdks/python/apache_beam/examples/sinks/__init__.py
  sdks/python/apache_beam/examples/sinks/generate_event.py
  sdks/python/apache_beam/examples/sinks/test_periodicimpulse.py
  sdks/python/apache_beam/examples/sinks/test_write_bounded.py
  sdks/python/apache_beam/examples/sinks/test_write_unbounded.py
Labels: python, examples, Next Action: Reviewers, reassigned-reviewers

#36393 Per element schema parsing in ConvertToBeamRows
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp

#36416 Fix Python 3.13 workflows
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/apache_beam/examples/inference/anomaly_detection/anomaly_detection_pipeline/setup.py
  sdks/python/apache_beam/examples/inference/sklearn_examples_requirements.txt
  sdks/python/container/ml/py313/ml_image_requirements.txt
  sdks/python/container/py313/base_image_requirements.txt
  sdks/python/test-suites/tox/py313/build.gradle
  website/www/site/content/en/documentation/runtime/environments.md
Labels: python, build, website, examples, docker

#36119 Add ThrottlingSignaler class to the Java SDK
  sdks/java/io/components/src/main/java/org/apache/beam/sdk/io/components/throttling/ThrottlingSignaler.java
Labels: java, io, Next Action: Reviewers, reassigned-reviewers

#36345 Pickle the relative path for code objects when cloudpickle is used to encode special deterministic types.
  sdks/python/apache_beam/coders/coder_impl.pxd
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
Labels: python

#36409 Add Java 25 tests
  .github/workflows/README.md
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_ARM.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_Java.yml
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_V2_Java.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Dataflow_JavaVersions.yml
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Direct_JavaVersions.yml
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/examples/build.gradle
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/CombineTest.java
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformProvider.java
  sdks/java/testing/test-utils/build.gradle
  sdks/java/testing/test-utils/src/test/java/org/apache/beam/sdk/testutils/jvmverification/JvmVerification.java
Labels: java, build, io, runners, dataflow, Next Action: Reviewers

#36426 Allow passing label through GBK
  sdks/python/apache_beam/transforms/core.py
Labels: python

#36346 Add pipeline option to force GBEK (Java)
  .github/trigger_files/beam_PostCommit_Java.json
  .github/trigger_files/beam_PostCommit_Java_DataflowV1.json
  .github/trigger_files/beam_PostCommit_Java_DataflowV2.json
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/internal/DataflowGroupByKey.java
  sdks/java/build-tools/src/main/resources/beam/checkstyle/suppressions.xml
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PipelineOptions.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupByEncryptedKey.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupByKey.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/GcpSecret.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/Secret.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/GroupByKeyTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/PTransformTranslation.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupByKeyIT.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupByKeyTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/SecretTest.java
Labels: java, build, runners, dataflow, Next Action: Reviewers
