Repository apache/beam, pull requests merged in 2025-04, with the labels that each got.

#34461 [Dataflow] Remove unused PhysicalElementCount Counter
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowOutputCounter.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/IntrinsicMapTaskExecutorFactoryTest.java
Labels: runners, dataflow

#34471 Support Time Partitioned Test Tables in BigqueryResourceManager
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/bigquery/BigQueryResourceManager.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryResourceManagerTest.java
Labels: Next Action: Reviewers

#34493 Update reviewers to more accurately match current state of repo
  .github/REVIEWERS.yml
  .github/autolabeler.yml
Labels: build

#34424 Add vendored cloudpickle
  LICENCE.cloudpickle
  build.gradle.kts
  sdks/python/apache_beam/internal/cloudpickle/__init__.py
  sdks/python/apache_beam/internal/cloudpickle/cloudpickle.py
  sdks/python/apache_beam/internal/cloudpickle/cloudpickle_fast.py
  sdks/python/apache_beam/internal/cloudpickle_pickler.py
  sdks/python/apache_beam/ml/anomaly/specifiable_test.py
  sdks/python/apache_beam/typehints/schemas_test.py
  sdks/python/scripts/run_pylint.sh
  sdks/python/setup.py
Labels: python, build, Next Action: Reviewers

#34496 Updated the discussion doc up to Beam 2.64.0
  contributor-docs/discussion-docs/2025.md
Labels: build, Next Action: Reviewers

#34494 minor doc updates
  CHANGES.md
  website/www/site/content/en/blog/beam-2.64.0.md
Labels: build, website, Next Action: Reviewers

#34499 Updated the republished workflow to 2.64.0
  .github/workflows/republish_released_docker_containers.yml
Labels: build, Next Action: Reviewers

#34462 [Go] Fix reshuffle implementation to use the global window for gbk output
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
Labels: go, Next Action: Reviewers

#34501 Update the python deps
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, build, docker, Next Action: Reviewers

#34500 plumb grpc flow control settings via UserWorkerRunnerV1Settings
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: build, runners, dataflow

#34509 Remove social media pieces from release guide
  contributor-docs/release-guide.md
Labels: build

#34514 JDBCIO - handle empty driverjars argument
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcUtil.java
Labels: java, build, io, jdbc, Next Action: Reviewers

#34497 Bump GoogleAdsIO to v19
  CHANGES.md
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/build-tools/src/main/resources/beam/checkstyle/suppressions.xml
  sdks/java/io/google-ads/build.gradle
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/GoogleAdsIO.java
  sdks/java/io/google-ads/src/main/java/org/apache/beam/sdk/io/googleads/GoogleAdsV19.java
  sdks/java/io/google-ads/src/test/java/org/apache/beam/sdk/io/googleads/DummyRateLimitPolicy.java
  sdks/java/io/google-ads/src/test/java/org/apache/beam/sdk/io/googleads/GoogleAdsIOTest.java
  sdks/java/io/google-ads/src/test/java/org/apache/beam/sdk/io/googleads/MockGoogleAdsClientFactory.java
Labels: java, build, io, Next Action: Reviewers

#34302 Add STRING format to ReadFromKafka schema transform.
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
Labels: java, io, kafka, Next Action: Reviewers

#34517 Update beam-master image.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, build, runners, Next Action: Reviewers

#34524 Remove build label exclusion and just use workflows
  .github/autolabeler.yml
Labels: build

#34523 Fix PostCommit Java SingleStoreIO IT job
  .github/actions/setup-k8s-access/action.yml
  .github/workflows/beam_PostCommit_Java_SingleStoreIO_IT.yml
Labels: build

#34522 Add an v-2.XX.0-RC00 tag to master when release branch is cut to enable git describe
  .github/workflows/cut_release_branch.yml
  release/src/main/scripts/set_version.sh
Labels: build

#34521 Upgrade Iceberg BQMS version
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#34283 do not block other threads from health checking if a stream is blocked
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/AbstractWindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcCommitWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillStreamFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/AbstractWindmillStreamTest.java
Labels: runners, dataflow, Next Action: Reviewers

#34534 Avoid calling getStackTrace when results are cached in RowCoderGenerator.generate
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
Labels: java

#34515 Add native Beam schematransform autogen snippet
  website/www/site/content/en/documentation/sdks/python-custom-multi-language-pipelines-guide.md
Labels: build, website, Next Action: Reviewers

#34379 Introduce RemoteModelHandler abstract base class
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/utils/retry.py
Labels: python, Next Action: Reviewers

#34537 Add reducers for threading.Lock and EnumDescriptor.
  sdks/python/apache_beam/internal/cloudpickle_pickler.py
  sdks/python/apache_beam/internal/cloudpickle_pickler_test.py
Labels: python

#34490 Auto-enable allowDuplicates for Redistribute with ALO streaming mode
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/RedistributeByKeyOverrideFactory.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#34219 [Java] Added tests for S3ReadableSeekableByteChannel
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/S3ReadableSeekableByteChannelTest.java
Labels: java, io, aws, Next Action: Reviewers, slow-review

#34395 Issue warnings when dataSourceConfiguration and dataSourceProviderFn are set
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#34512 Fix link typos
  website/www/site/content/en/documentation/sdks/python-custom-multi-language-pipelines-guide.md
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: website, Next Action: Reviewers

#34536 Fix postcommit python flaky tests
  sdks/python/apache_beam/io/gcp/big_query_query_to_table_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
  sdks/python/apache_beam/ml/gcp/recommendations_ai.py
Labels: python, io, gcp, Next Action: Reviewers

#34548 updated the release guide
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#34547 Fix the error for directory separator
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/io/textio_test.py
Labels: python, io

#34476 Add the simple RC workflow to validate Go SDK with wordcount
  .github/workflows/run_rc_validation.yml
  .github/workflows/run_rc_validation_go_wordcount.yml
Labels: build, Next Action: Reviewers

#34559 Fix PostCommit Python Dependency and PreCommit Python ML tests
  sdks/python/apache_beam/ml/rag/chunking/langchain_test.py
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#34556 added the Beam 3.0.0 highlights to the release template
  CHANGES.md
Labels: Next Action: Reviewers

#33713 Fix incorrect nullness in FlinkJobInvoker and JobInvoker
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkJobInvoker.java
  runners/java-job-service/src/main/java/org/apache/beam/runners/jobsubmission/JobInvoker.java
Labels: runners, flink, Next Action: Reviewers

#34566 Fix Prism on handling empty and identity transforms
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess_test.go
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: go, runners, Next Action: Reviewers, prism

#34573 Switch to parquet_version 1.15.1
  CHANGES.md
  sdks/java/io/file-schema-transform/build.gradle
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/parquet/build.gradle
Labels: java, io, parquet, Next Action: Reviewers

#34568 Handle pickling top-level enums.
  sdks/java/extensions/protobuf/src/test/proto/proto2_coder_test_messages.proto
  sdks/python/apache_beam/coders/proto2_coder_test_messages_pb2.py
  sdks/python/apache_beam/internal/cloudpickle_pickler.py
  sdks/python/apache_beam/internal/cloudpickle_pickler_test.py
Labels: python, java, extensions, protobuf

#34322 Add 3 examples in playground SQL transform, schema transform and Composite Combine
  build.gradle.kts
  examples/java/sql/README.md
  examples/java/sql/build.gradle
  examples/java/sql/src/main/java/org/apache/beam/examples/sql/SchemaTransformExample.java
  examples/java/sql/src/main/java/org/apache/beam/examples/sql/SqlTransformExample.java
  examples/java/src/main/java/org/apache/beam/examples/CoCombineTransformExample.java
  settings.gradle.kts
Labels: java, examples, Next Action: Reviewers

#34542 [Bug]: avro_dict_to_beam_row negative integer incorrectly converts to uint
  sdks/python/apache_beam/io/avroio.py
  sdks/python/apache_beam/io/avroio_test.py
Labels: python, java, io, Next Action: Reviewers

#34583 More eagerly merge compatible environments.
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/common.py
  sdks/python/apache_beam/runners/common_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/pipeline_utils.py
  sdks/python/apache_beam/runners/pipeline_utils_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner.py
  sdks/python/apache_beam/runners/runner.py
Labels: python, runners, Next Action: Reviewers

#34589 Remove runtime check in generated test proto stubs to fix internal te…
  sdks/python/apache_beam/coders/proto2_coder_test_messages_pb2.py
Labels: python, Next Action: Reviewers

#34588 Add beam summit/college banners
  website/www/site/layouts/partials/header.html
  website/www/site/static/images/banners/beam-college/beam-college-25-desktop.png
  website/www/site/static/images/banners/beam-college/beam-college-25-mobile.png
  website/www/site/static/images/banners/beam-summit/beam-summit-25-desktop.png
  website/www/site/static/images/banners/beam-summit/beam-summit-25-mobile.png
Labels: website, Next Action: Reviewers

#34591 Upgrade some go dependencies and remove excludes
  sdks/go.mod
  sdks/go.sum
Labels: go, Next Action: Reviewers

#34582 Fix coder corruption in prism while handling flatten
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
Labels: go, runners, Next Action: Reviewers, prism

#34569 Add documentation for Beam YAML testing.
  sdks/python/apache_beam/yaml/main.py
  sdks/python/apache_beam/yaml/main_test.py
  sdks/python/apache_beam/yaml/readme_test.py
  sdks/python/apache_beam/yaml/yaml_testing.py
  sdks/python/apache_beam/yaml/yaml_testing_test.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_utils.py
  sdks/python/apache_beam/yaml/yaml_utils_test.py
  sdks/python/scripts/run_pylint.sh
  website/www/site/content/en/documentation/sdks/yaml-testing.md
  website/www/site/content/en/documentation/sdks/yaml-udf.md
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: python, website, Next Action: Reviewers, yaml

#34593 Fix sql:jdbc tests and shell entry
  .github/trigger_files/beam_PostCommit_SQL.json
  build.gradle.kts
  sdks/java/extensions/sql/jdbc/build.gradle
  sdks/java/extensions/sql/jdbc/src/test/java/org/apache/beam/sdk/extensions/sql/jdbc/BeamSqlLineIT.java
  sdks/java/extensions/sql/shell/build.gradle
  settings.gradle.kts
Labels: java, extensions, sql

#34592 Copy sys.module.items() in case it changes during iteration.
  sdks/python/apache_beam/internal/cloudpickle_pickler.py
Labels: python

#34578 Migrate Vertex AI Model Handler to new base class
  sdks/python/apache_beam/io/requestresponse.py
  sdks/python/apache_beam/ml/inference/vertex_ai_inference.py
Labels: python, io, Next Action: Reviewers

#34528 Add a link to the Beam yaml examples.
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: website, Next Action: Reviewers, slow-review

#34602 Fix a flatten flaky test when two flattens are used sequentially.
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
Labels: go, runners, Next Action: Reviewers, prism

#34584 Update run_rc_validation_go_wordcount.yml
  .github/workflows/run_rc_validation_go_wordcount.yml
  contributor-docs/release-guide.md
Labels: build, Next Action: Reviewers

#34604 [#20489] Add support for re.Pattern and re.Match type checking
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#34580 Bump BQMS version
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#34563 Deprecate ZetaSQL
  CHANGES.md
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/ZetaSQLQueryPlanner.java
  sdks/java/extensions/sql/zetasql/src/main/java/org/apache/beam/sdk/extensions/sql/zetasql/package-info.java
  website/www/site/content/en/documentation/dsls/sql/overview.md
  website/www/site/content/en/documentation/dsls/sql/zetasql/overview.md
Labels: java, website, extensions, sql, Next Action: Reviewers

#34590 Remove ZetaSQL from nexmark and tpcds benchmark suites
  .github/trigger_files/beam_PostCommit_Java_Nexmark_Dataflow.json
  .github/trigger_files/beam_PostCommit_Java_Nexmark_Flink.json
  .github/workflows/beam_PostCommit_Java_Nexmark_Dataflow.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Direct.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Flink.yml
  .github/workflows/beam_PostCommit_Java_Nexmark_Spark.yml
  sdks/java/testing/nexmark/build.gradle
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkLauncher.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkOptions.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/queries/sql/SqlBoundedSideInputJoin.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/queries/sql/SqlQuery0.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/queries/sql/SqlQuery2.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/queries/sql/SqlQuery3.java
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/queries/sql/SqlQueryUtils.java
  sdks/java/testing/nexmark/src/test/java/org/apache/beam/sdk/nexmark/queries/SqlQueryTest.java
  sdks/java/testing/nexmark/src/test/java/org/apache/beam/sdk/nexmark/queries/sql/SqlBoundedSideInputJoinTest.java
  sdks/java/testing/nexmark/src/test/java/org/apache/beam/sdk/nexmark/queries/sql/SqlQuery0Test.java
  sdks/java/testing/nexmark/src/test/java/org/apache/beam/sdk/nexmark/queries/sql/SqlQuery2Test.java
  sdks/java/testing/nexmark/src/test/java/org/apache/beam/sdk/nexmark/queries/sql/SqlQuery3Test.java
  sdks/java/testing/tpcds/README.md
  sdks/java/testing/tpcds/build.gradle
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/BeamSqlEnvRunner.java
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/TpcdsRunResult.java
  sdks/java/testing/tpcds/src/main/resources/queries/query96.sql
Labels: java, build

#34606 Fix coder parsing for any non-standard composite coder types
  sdks/go/pkg/beam/runners/prism/internal/coders.go
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: go, runners, Next Action: Reviewers, prism

#34596 Add YamlTransform to the Java SDK.
  build.gradle.kts
  sdks/java/extensions/python/src/main/java/org/apache/beam/sdk/extensions/python/PythonExternalTransform.java
  sdks/java/extensions/yaml/build.gradle
  sdks/java/extensions/yaml/src/main/java/org/apache/beam/sdk/extensions/yaml/YamlTransform.java
  sdks/java/extensions/yaml/src/main/java/org/apache/beam/sdk/extensions/yaml/package-info.java
  sdks/java/extensions/yaml/src/test/java/org/apache/beam/sdk/extensions/yaml/YamlTransformTest.java
  settings.gradle.kts
Labels: java, extensions, Next Action: Reviewers

#34526 Update illustration for cut_release_branch workflow
  contributor-docs/images/cut-release-branch.png
Labels: Next Action: Reviewers, slow-review

#34607 [IcebergIO] Apply delete/update filter when reading
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/ScanTaskReader.java
Labels: java, io, Next Action: Reviewers

#34615 Use component coder when handling nullable coder in prism.
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/coders.go
Labels: go, runners, Next Action: Reviewers, prism

#34617 use the script when validating the BQ table
  .github/workflows/run_rc_validation_python_mobile_gaming.yml
  scripts/tools/validate_table.sh
Labels: build, Next Action: Reviewers

#34616 Use cached prism binary without re-unzipping by default.
  sdks/python/apache_beam/runners/portability/prism_runner.py
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: python, runners, Next Action: Reviewers, prism

#34620 Update run_rc_validation_python_mobile_gaming.yml
  .github/workflows/run_rc_validation_python_mobile_gaming.yml
Labels: build, Next Action: Reviewers

#34629 Activate service account for Publish Beam SDK Snapshots workflow
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
Labels: build

#34348 Preserve pane index through reshuffle.
  sdks/python/apache_beam/testing/util.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python, Next Action: Reviewers, slow-review

#34631 Revert "Fail Fast if Resources Do Not Exist in Kafka Cluster"
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedSource.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/WatchForKafkaTopicPartitions.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka

#34628 Fix The PostCommit XVR Flink job
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkJobInvoker.java
  runners/java-job-service/src/main/java/org/apache/beam/runners/jobsubmission/JobInvoker.java
Labels: runners, flink

#34411 Normalize tf record io
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TFRecordReadSchemaTransformConfiguration.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TFRecordReadSchemaTransformProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TFRecordSchemaTransformTranslation.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TFRecordWriteSchemaTransformConfiguration.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TFRecordWriteSchemaTransformProvider.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TFRecordSchemaTransformProviderTest.java
  sdks/python/apache_beam/yaml/json_utils.py
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/tests/tfrecord_write.yaml
  sdks/python/apache_beam/yaml/yaml_io.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/standard_external_transforms.yaml
Labels: python, java, Next Action: Reviewers, yaml

#34623 Add an experiment to make prism server a singleton
  sdks/python/apache_beam/runners/portability/prism_runner.py
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: python, runners, Next Action: Reviewers, prism

#34638 Fix new flaky postcommit python tests
  sdks/python/apache_beam/examples/streaming_wordcount_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_read_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery_write_it_test.py
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
Labels: python, examples, io, gcp

#34539 consume flow control settings updates from job settings
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingGlobalConfigHandle.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerStatusPages.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillConnection.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillStreamFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCache.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/IsolationChannel.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillChannelFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillChannels.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillStubFactoryFactoryImpl.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/WindmillStreamSenderTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/testing/FakeWindmillStubFactory.java
Labels: runners, dataflow, Next Action: Reviewers

#34639 Update CHANGES.md
  CHANGES.md
Labels: Next Action: Reviewers

#34641 Inject SDK-side flattens while handling input/output coder mismatch in flattens.
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/python/apache_beam/runners/portability/flink_runner_test.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/samza_runner_test.py
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
Labels: go, runners, Next Action: Reviewers, prism

#34531 Fix FanOutStreamingEngineWorkerHarnessTest - testOnNewWorkerMetadata_redistributesBudget
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/WindmillStreamSender.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
Labels: runners, dataflow, Next Action: Reviewers

#34656 Get rid of unnecessary cogbk when running offline detector.
  sdks/python/apache_beam/ml/anomaly/transforms.py
Labels: python, Next Action: Reviewers

#34651 Make validation for BQ export source configurable
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#34572 Avoid use of deprecated datetime.utcnow().
  sdks/python/apache_beam/examples/cookbook/bigtableio_it_test.py
  sdks/python/apache_beam/examples/online_clustering.py
  sdks/python/apache_beam/io/gcp/bigtableio_it_test.py
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable_it_test.py
Labels: python, examples, io, runners, gcp, Next Action: Reviewers, slow-review

#34666 Regenerate Python requirement
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#34663 Ignore test_flatten_and_gbk for spark and samza runners.
  sdks/python/apache_beam/runners/portability/samza_runner_test.py
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
Labels: python, runners, Next Action: Reviewers

#34667 Back port virtualenv-clone to 2.64 Python SDK container
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, docker

#34570 Update link in yaml-providers.md
  website/www/site/content/en/documentation/sdks/yaml-providers.md
Labels: website, Next Action: Reviewers

#34670 Added run_rc_validation_python_yaml to validate the Beam YAML RC
  .github/workflows/run_rc_validation_python_yaml.yml
  contributor-docs/release-guide.md
Labels: build, Next Action: Reviewers

#34669 Provide kafka unbounded reader to checkpoint mark when offset based deduplication is supported.
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaCheckpointMark.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
Labels: java, io, kafka

#34684 fix the doc
  sdks/python/apache_beam/ml/transforms/embeddings/vertex_ai.py
Labels: python, Next Action: Reviewers

#34618 Minor fixes to yaml testing docs.
  website/www/site/content/en/documentation/sdks/yaml-testing.md
Labels: website, Next Action: Reviewers, slow-review

#33242 Tour of Beam: update GroupByKey example
  learning/tour-of-beam/learning-content/core-transforms/map/group-by-key/description.md
Labels: learning, Next Action: Reviewers

#34681 Update release-guide.md
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#34696 Update REVIEWERS.yml - remove lostluck from fallback
  .github/REVIEWERS.yml
Labels: Next Action: Reviewers

#34662 Add adapters to address output conversion for OfflineDetector.
  sdks/python/apache_beam/ml/anomaly/detectors/offline.py
  sdks/python/apache_beam/ml/anomaly/transforms.py
  sdks/python/apache_beam/ml/anomaly/transforms_test.py
Labels: python, Next Action: Reviewers

#34595 Properly propagate schemas of Beam YAML Partition transform.
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_mapping_test.py
Labels: python, yaml

#34529 Add new resource hints: max active bundles per worker
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/beam_runner_api_grpc.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/external_transforms.pb.go
  sdks/go/pkg/beam/model/pipeline_v1/metrics.pb.go
  sdks/go/pkg/beam/options/resource/hint.go
  sdks/go/pkg/beam/options/resource/hint_test.go
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/resourcehints/ResourceHint.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/resourcehints/ResourceHints.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/resourcehints/ResourceHintsTest.java
  sdks/python/apache_beam/transforms/resources.py
  sdks/python/apache_beam/transforms/resources_test.py
Labels: python, java, go, model, Next Action: Reviewers

#34683 Add some more cloudpickle tests.
  sdks/python/apache_beam/internal/cloudpickle_pickler_test.py
  sdks/python/apache_beam/internal/module_test.py
Labels: python

#34707 [BigQueryIO] support MicrosInstant type (for xlang)
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
Labels: java, io, gcp

#34654 Add core and missing transformers for yaml integration testing - phase 2sh
  sdks/python/apache_beam/yaml/tests/explode.yaml
  sdks/python/apache_beam/yaml/tests/filter.yaml
  sdks/python/apache_beam/yaml/tests/flatten.yaml
  sdks/python/apache_beam/yaml/tests/partition.yaml
  sdks/python/apache_beam/yaml/tests/pytransform.yaml
  sdks/python/apache_beam/yaml/yaml_mapping.py
Labels: python, Next Action: Reviewers, yaml

#34682 Updated the container doc
  website/www/site/content/en/documentation/runtime/environments.md
Labels: website, Next Action: Reviewers

#34713 Use language connector in alloydb colab.
  examples/notebooks/beam-ml/alloydb_product_catalog_embeddings.ipynb
Labels: examples, Next Action: Reviewers

#34710 Add schema definition for yaml test specs.
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
Labels: python, Next Action: Reviewers, yaml

#34692 Phase 1sh - more yaml integration tests
  .github/workflows/beam_PreCommit_Yaml_Xlang_Direct.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/python/apache_beam/yaml/tests/assign_timestamps.yaml
  sdks/python/apache_beam/yaml/tests/create.yaml
  sdks/python/apache_beam/yaml/tests/extract_windowing_Info.yaml
  sdks/python/apache_beam/yaml/tests/ml_transform.yaml
  sdks/python/apache_beam/yaml/tests/validate_with_schema.yaml
Labels: python, build, Next Action: Reviewers, yaml

#34675 Update run_rc_validation_python_yaml.yml
  .github/workflows/run_rc_validation_python_yaml.yml
Labels: build

#34715 Add a md5sum check before overwriting a cached prism file
  sdks/python/apache_beam/runners/portability/prism_runner.py
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: python, runners, Next Action: Reviewers, prism

#34709 Add support and unit test for PyOD models
  sdks/python/apache_beam/ml/anomaly/detectors/pyod_adapter.py
  sdks/python/apache_beam/ml/anomaly/detectors/pyod_adapter_test.py
  sdks/python/apache_beam/ml/anomaly/specifiable.py
  sdks/python/apache_beam/ml/anomaly/transforms.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#34685 Update beam_PreCommit_Java.yml
  .github/workflows/beam_PreCommit_Java.yml
Labels: build, Next Action: Reviewers

#34686 Fix Iceberg Integration tests
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/BigQueryMetastoreCatalogIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/HiveCatalogIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/IcebergCatalogBaseIT.java
Labels: java, io, Next Action: Reviewers

#34719 Update RunInference type hints to PEP 585 standards
  sdks/python/apache_beam/ml/inference/base.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/huggingface_inference.py
  sdks/python/apache_beam/ml/inference/huggingface_inference_test.py
  sdks/python/apache_beam/ml/inference/onnx_inference.py
  sdks/python/apache_beam/ml/inference/pytorch_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference.py
  sdks/python/apache_beam/ml/inference/sklearn_inference_test.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
  sdks/python/apache_beam/ml/inference/tensorrt_inference.py
  sdks/python/apache_beam/ml/inference/utils.py
  sdks/python/apache_beam/ml/inference/vllm_inference.py
  sdks/python/apache_beam/ml/inference/xgboost_inference.py
  sdks/python/apache_beam/ml/inference/xgboost_inference_test.py
Labels: python, Next Action: Reviewers

#34737 Skip this failed test until further investigation is done.
  sdks/python/apache_beam/io/gcp/gcsio_retry_test.py
Labels: python, io, gcp

#34428 Fix IndexOutOfBoundsException invoking expansion service
  sdks/java/expansion-service/src/main/java/org/apache/beam/sdk/expansion/service/ExpansionService.java
Labels: java

#34741 Remove myself from java reviewers and focus on python and go.
  .github/REVIEWERS.yml
Labels: Next Action: Reviewers

#34723 Deep copy PipelineOptions and keep the input intact.
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/interactive/interactive_beam_test.py
Labels: python, runners, Next Action: Reviewers

#34698 Add option to pickler dumps() for best-effort determinism
  sdks/python/apache_beam/internal/cloudpickle_pickler.py
  sdks/python/apache_beam/internal/cloudpickle_pickler_test.py
  sdks/python/apache_beam/internal/dill_pickler.py
  sdks/python/apache_beam/internal/pickler.py
  sdks/python/apache_beam/internal/pickler_test.py
  sdks/python/apache_beam/internal/set_pickler.py
  sdks/python/apache_beam/internal/set_pickler_test.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/runners/pipeline_context.py
  sdks/python/apache_beam/transforms/ptransform.py
Labels: python, runners, Next Action: Reviewers

#34740 Only declare state backed iterables on code channel.
  sdks/python/apache_beam/runners/portability/fn_api_runner/translations.py
Labels: python, runners, Next Action: Reviewers

#34748 Fix SIGINT handler for StopOnExitJobServer
  sdks/python/apache_beam/runners/portability/job_server.py
Labels: python, runners, Next Action: Reviewers

#34754 Add option to create metedata filter with function.
  sdks/python/apache_beam/ml/rag/enrichment/bigquery_vector_search.py
  sdks/python/apache_beam/ml/rag/enrichment/bigquery_vector_search_it_test.py
Labels: python, Next Action: Reviewers

#34695 Enable cloudpickle by default
  .github/trigger_files/beam_PostCommit_Python.json
  .github/trigger_files/beam_PostCommit_Python_ValidatesContainer_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Direct.json
  sdks/python/apache_beam/internal/pickler.py
  sdks/python/apache_beam/internal/pickler_test.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/direct/direct_runner_test.py
  sdks/python/apache_beam/runners/runner.py
Labels: python, runners, Next Action: Reviewers

#34765 Fix The PostCommit Java ValidatesRunner Flink Java8 job
  .github/workflows/beam_PostCommit_Java_ValidatesRunner_Flink_Java8.yml
Labels: build, Next Action: Reviewers

#34751 Use Java 17 for Debezium IO #34747
  .github/workflows/beam_PreCommit_Java_Debezium_IO_Direct.yml
Labels: build, Next Action: Reviewers

#34753 BigQuery embeddings colab
  examples/notebooks/beam-ml/bigquery_vector_ingestion_and_search.ipynb
Labels: examples, Next Action: Reviewers

#34774 pin pip==25.0.1
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#34657 Add reshuffle before triggering load jobs.
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
Labels: python, io, gcp, Next Action: Reviewers

#34778 Fixing Typo on Blog Post
  website/www/site/content/en/blog/apache-beam-flink-and-kubernetes-part2.md
  website/www/site/content/en/blog/apache-beam-flink-and-kubernetes.md
Labels: website, Next Action: Reviewers

#34720 [ManagedIO] Single source of truth for ManagedIO configs
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  .github/workflows/beam_PreCommit_Xlang_Generated_Transforms.yml
  build.gradle.kts
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/utils/YamlUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQuerySchemaTransformTranslationTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaWriteSchemaTransformProviderTest.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedTransformConstants.java
  sdks/java/managed/src/main/resources/available_configs.yaml
  sdks/java/managed/src/main/resources/config_aliases.yaml
  sdks/python/apache_beam/transforms/external_transform_provider_it_test.py
  sdks/python/apache_beam/transforms/managed.py
  sdks/python/build.gradle
  sdks/python/gen_managed_doc.py
  sdks/python/gen_xlang_wrappers.py
  sdks/standard_external_transforms.yaml
  website/www/site/content/en/documentation/io/managed-io.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, java, build, website, io, gcp, kafka, Next Action: Reviewers

#34708 Improve validation error message for chain transform
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
Labels: python, Next Action: Reviewers, yaml

#34780 Improve the apache beam type system to handle TypedDict.
  CHANGES.md
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
Labels: python, Next Action: Reviewers

#31608 Support writing to Pubsub with ordering key; Add PubsubMessage SchemaCoder
  CHANGES.md
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PreparePubsubWriteDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessage.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageSchemaCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageWithAttributesAndMessageIdAndOrderingKeyCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageWithAttributesAndMessageIdCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageWithAttributesCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageWithMessageIdCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageWithTopicCoder.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubTestClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PreparePubsubWriteDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubSubWritePayloadTranslationTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubMessageSchemaCoderTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSinkTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubWriteIT.java
Labels: java, io, runners, dataflow, gcp, Next Action: Reviewers

#34525 [ManagedIO] Fail expansion when encountering extra or unknown configuration
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/testing/TestSchemaTransformProvider.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProviderTest.java
  sdks/python/apache_beam/transforms/managed.py
  sdks/python/apache_beam/transforms/managed_iceberg_it_test.py
Labels: python, java, io, kafka, Next Action: Reviewers

#34331 [KafkaIO] Improve caching in backlog estimation and processing
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOUtils.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, kafka, Next Action: Reviewers

#34560 Spark Runner : Support for Streaming side-inputs for Spark Runner
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark_Java11.json
  CHANGES.md
  runners/spark/spark_runner.gradle
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkTransformOverrides.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/coders/CoderHelpers.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/EvaluationContext.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/MultiDoFnFunction.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SideInputMetadata.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkPCollectionView.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/TransformTranslator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/CreateStreamingSparkView.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/ParDoStateUpdateFn.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/StatefulStreamingParDoEvaluator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/StreamingTransformTranslator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/util/SideInputBroadcast.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/util/SideInputReaderFactory.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/util/SparkSideInputReader.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/StreamingTransformTranslatorTest.java
Labels: runners, spark, Next Action: Reviewers

#34787 [Dataflow Streaming] BoundedQueueExecutor: Add an experiment to use fair monitor
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutorTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/WorkFailureProcessorTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/ActiveWorkRefresherTest.java
Labels: runners, dataflow

#34755 Updates YAML SDK to replace Kafka read/write transforms with equivalent managed transforms
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_test.py
  sdks/python/apache_beam/transforms/managed.py
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/gen_managed_doc.py
Labels: python, Next Action: Reviewers, yaml

#34659 Fail Fast if Resources Do Not Exist in Kafka Cluster.
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOReadImplementationCompatibility.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedSource.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/WatchForKafkaTopicPartitions.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
  sdks/java/io/kafka/upgrade/src/main/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslation.java
  sdks/java/io/kafka/upgrade/src/test/java/org/apache/beam/sdk/io/kafka/upgrade/KafkaIOTranslationTest.java
Labels: java, io, kafka, Next Action: Reviewers

#34790 Adjusting the YAML Kafka Managed I/O compat version
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, yaml

#34791 Update CHANGES.md
  CHANGES.md
Labels: Next Action: Reviewers

#34793 Update CHANGES.md after 2.64 release cut
  CHANGES.md
Labels: Next Action: Reviewers
