Repository apache/beam, pull requests merged in 2025-08, with the labels that each got.

#35728 feat(yaml): add a simple schema unification for Flatten transform
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python, Next Action: Reviewers, yaml

#35764 Remove OSSRH Sonatype from list of repos
  buildSrc/src/main/groovy/org/apache/beam/gradle/Repositories.groovy
Labels: build

#35756 [Yaml] - fix ml embeddings issue round2
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/yaml/yaml_ml.py
  sdks/python/apache_beam/yaml/yaml_ml_test.py
Labels: python, Next Action: Reviewers, yaml

#35766 Fix ValueError affecting XVR tests
  sdks/python/apache_beam/yaml/examples/transforms/ml/taxi_fare/streaming_taxifare_prediction.yaml
Labels: python, yaml

#35781 fix windows slashes for dask (#30528)
  sdks/python/scripts/run_pytest.sh
Labels: python

#35752 Fix race conditions in apache.beam.sdks.schemas
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/CachingFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/FromRowUsingCreator.java
Labels: java

#35770 Fix a split bundle bug when using timers in stateful dofn
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle.go
Labels: go, runners, Next Action: Reviewers, prism

#35785 Fix options.go flag comments
  sdks/go/pkg/beam/options/jobopts/options.go
Labels: go, Next Action: Reviewers

#35722 Metastore example
  examples/java/build.gradle
  examples/java/src/main/java/org/apache/beam/examples/cookbook/IcebergBatchWriteExample.java
Labels: java, examples

#35775 feat(io): Add option to include source filename in file reads
  sdks/python/apache_beam/dataframe/io.py
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/io/textio_test.py
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/tests/csv.yaml
Labels: python, io, Next Action: Reviewers, yaml

#35696 Add BigTableRead connector and new feature implemented
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadSchemaTransformProviderIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableSimpleWriteSchemaTransformProviderIT.java
  sdks/python/apache_beam/io/gcp/bigtableio.py
  sdks/python/apache_beam/pvalue.py
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/tests/bigtable.yaml
Labels: python, java, io, gcp, Next Action: Reviewers, yaml, bigtable

#35799 [Release-2.67] Cherry pick #35743 into release branch
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamCalcRel.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamComplexTypeTest.java
Labels: java, extensions, sql

#35793 [Dataflow Java Streaming] Fix defaulted flow control settings for grpc stream.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCache.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCacheTest.java
Labels: runners, dataflow

#35453 Adding GCP Spanner Change Stream support for Python
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerTransformRegistrar.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerTransformRegistrarTest.java
  sdks/python/apache_beam/io/gcp/spanner.py
Labels: python, java, io, gcp, Next Action: Reviewers, spanner, reassigned-reviewers

#35814 Re-enable parallel for KafkaIO precommit
  .github/workflows/beam_PreCommit_Java_Kafka_IO_Direct.yml
Labels: build

#35825 Fix JdbcIO.read log spam when autocommit disabled
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc

#35798 Added NewFeatures Line to Changes.Md
  CHANGES.md
Labels: Next Action: Reviewers

#35229 Adds support for updating Schema state fields.
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/RowCoderCloudObjectTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/util/SchemaCoderCloudObjectTranslator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java
Labels: java, runners, dataflow, Next Action: Reviewers, slow-review

#35845 Fix API doc index page broken format and link
  sdks/java/javadoc/overview.html
  sdks/python/apache_beam/ml/anomaly/transforms.py
  website/www/site/content/en/get-started/downloads.md
Labels: python, java, website, Next Action: Reviewers

#35757 Fix race condition in FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java, Next Action: Reviewers

#35695 Cloudsql MySQL embeddings colab.
  examples/notebooks/beam-ml/cloudsql_mysql_product_catalog_embeddings.ipynb
Labels: examples

#35846 Bump DF Java Python container tags
  runners/google-cloud-dataflow-java/build.gradle
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners, dataflow, Next Action: Reviewers

#35853 Update Republish Released Docker Containers
  .github/workflows/republish_released_docker_containers.yml
Labels: build, Next Action: Reviewers

#35688 JUnit5 support
  CHANGES.md
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/TestPipeline.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOWriteTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ExecutionStateSamplerTest.java
  sdks/java/testing/junit/build.gradle
  sdks/java/testing/junit/src/main/java/org/apache/beam/sdk/testing/TestPipelineExtension.java
  sdks/java/testing/junit/src/main/java/org/apache/beam/sdk/testing/package-info.java
  sdks/java/testing/junit/src/test/java/org/apache/beam/sdk/testing/TestPipelineExtensionAdvancedTest.java
  sdks/java/testing/junit/src/test/java/org/apache/beam/sdk/testing/TestPipelineExtensionTest.java
  settings.gradle.kts
Labels: java, io, jms, Next Action: Reviewers, reassigned-reviewers

#35855 Update code-change-guide add back build SDK container
  contributor-docs/code-change-guide.md
Labels: Next Action: Reviewers

#35828 Add Action to generate ManagedIO doc PR
  .github/workflows/build_release_candidate.yml
Labels: build

#35774 Fix ml transform
  .github/trigger_files/beam_PostCommit_Yaml_Xlang_Direct.json
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_ml.py
  sdks/python/apache_beam/yaml/yaml_ml_test.py
Labels: python, Next Action: Reviewers, yaml

#35859 Deprecate Python native SpannerIO, with exposed bug fix
  CHANGES.md
  sdks/python/apache_beam/io/gcp/experimental/spannerio.py
  sdks/python/apache_beam/metrics/monitoring_infos.py
Labels: python, io, gcp, spanner

#35862 Fix a bug in cogbk for not using registered coder.
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python, Next Action: Reviewers

#35861 Update Release Guide to add managed-io doc info
  contributor-docs/release-guide.md
  sdks/python/gen_managed_doc.py
  website/www/site/content/en/documentation/io/managed-io.md
Labels: python, website

#35871 Fix Deploy-Update-Playground-environment-stg Cloud Build trigger
  playground/backend/containers/router/Dockerfile
Labels: Next Action: Reviewers

#35883 Pin a mocking test to DirectRunner
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: python, io, gcp

#35874 Add type checking to confirm that the flatten inputs are actually pco…
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/typehints/typecheck_test.py
Labels: python, Next Action: Reviewers

#35880 [Dataflow Java Streaming] Reduce log spam for direct path mode and improve status page.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcCommitWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDispatcherClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkerMetadataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/StreamingWorkScheduler.java
Labels: runners, dataflow

#35872 Remove test forcing Devs to update managed-io doc
  sdks/python/apache_beam/transforms/external_transform_provider_it_test.py
Labels: python

#35856 Update ensurepip to avoid vulnerabilities in wheels
  sdks/python/container/Dockerfile
Labels: python, docker, Next Action: Reviewers

#35730 Controlling reshuffle in `FileIO.MatchAll`
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileIO.java
  sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/text/TextIOIT.java
Labels: java, io, tests, Next Action: Author

#35918 Fix PostCommit Go VR Samza job
  sdks/go/test/integration/integration.go
Labels: go, Next Action: Reviewers

#35923 Update integration.go - filter out TestBagStateBlindWrite from incompatible runners
  sdks/go/test/integration/integration.go
Labels: go

#35915 increase grpc timeouts & force seq exec (#34739)
  .github/workflows/beam_PreCommit_Python.yml
Labels: build

#35908 Runner support status for Beam 3
  CHANGES.md
  release/build.gradle.kts
  runners/samza/src/main/java/org/apache/beam/runners/samza/SamzaRunner.java
  runners/twister2/src/main/java/org/apache/beam/runners/twister2/Twister2Runner.java
  website/www/site/content/en/documentation/runners/nemo.md
  website/www/site/content/en/documentation/runners/samza.md
  website/www/site/content/en/documentation/runners/twister2.md
  website/www/site/content/en/roadmap/nemo-runner.md
  website/www/site/content/en/roadmap/samza-runner.md
  website/www/site/content/en/roadmap/twister2-runner.md
Labels: build, website, runners, samza, twister2, Next Action: Reviewers

#35917 [Python] Deprecate --enable_streaming_engine flag since it is always enabled.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python, runners, Next Action: Reviewers

#35933 [Postrelease-2.67] Remove mysql-connector-python dependency
  sdks/python/apache_beam/yaml/integration_tests.py
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py310/ml_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py311/ml_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py312/ml_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/container/py39/ml_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, yaml

#34398 [1/2] sdks/python: enrich data with CloudSQL [PostgreSQL, MySQL, SQLServer]
  .github/trigger_files/beam_PostCommit_Python.json
  .github/workflows/beam_PreCommit_Python_Transforms.yml
  CHANGES.md
  sdks/python/apache_beam/transforms/enrichment_handlers/cloudsql.py
  sdks/python/apache_beam/transforms/enrichment_handlers/cloudsql_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/cloudsql_test.py
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py310/ml_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py311/ml_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py312/ml_image_requirements.txt
  sdks/python/container/py313/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/container/py39/ml_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers, reassigned-reviewers

#35942 [Java]Fix IllegalStateException in WindmillSink by Clearing Stream Before Encoding (#31914)
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillSink.java
Labels: runners, dataflow, Next Action: Reviewers

#35950 Fix StressTests Java KafkaIO job
  .github/workflows/beam_StressTests_Java_KafkaIO.yml
Labels: build, Next Action: Reviewers

#35956 adds EditorConfig to configure a consistent indent style and size for each file extension
  .editorconfig
Labels: Next Action: Reviewers

#35959 Fix linting breakage in pipeline_instrument_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_instrument_test.py
Labels: python, runners

#35953 ci(workflow): re-enable XVR GoUsingJava Dataflow tests
  .github/trigger_files/beam_PostCommit_XVR_Direct.json
  .github/trigger_files/beam_PostCommit_XVR_Flink.json
  .github/trigger_files/beam_PostCommit_XVR_GoUsingJava_Dataflow.json
  .github/workflows/beam_PostCommit_XVR_GoUsingJava_Dataflow.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/test/integration/expansions.go
  sdks/go/test/integration/expansions_test.go
  sdks/go/test/run_validatesrunner_tests.sh
Labels: go, build

#35899 Introduce Beartype Dependency for Type Checking
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/container/ml/py310/base_image_requirements.txt
  sdks/python/container/ml/py311/base_image_requirements.txt
  sdks/python/container/ml/py312/base_image_requirements.txt
  sdks/python/container/ml/py39/base_image_requirements.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py313/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#35932 Remove mysql-connector-python dependency
  sdks/python/apache_beam/yaml/integration_tests.py
  sdks/python/container/ml/py310/base_image_requirements.txt
  sdks/python/container/ml/py311/base_image_requirements.txt
  sdks/python/container/ml/py312/base_image_requirements.txt
  sdks/python/container/ml/py39/base_image_requirements.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py313/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, yaml

#35958 Fix typos and update test implementation from #35656
  sdks/python/apache_beam/internal/code_object_pickler_test.py
Labels: python, Next Action: Reviewers

#35946 feat(mongodb): upgrade MongoDB Java driver to version 5.5.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  it/mongodb/build.gradle
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/mongodb/MongoDbReadWriteIT.java
  sdks/java/io/mongodb/build.gradle
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/FindQuery.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbGridFSIO.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbIO.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/FindQueryTest.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDBGridFSIOTest.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDbIOTest.java
Labels: java, build, io, extensions, sql, mongodb, Next Action: Reviewers

#35977 [Prism] Fix segv when docker container self-terminated.
  sdks/go/pkg/beam/runners/prism/internal/environments.go
Labels: go, runners, Next Action: Reviewers, prism

#35982 Update Python container
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners

#35945 [YAML]: add import jinja pipeline example
  sdks/python/apache_beam/yaml/examples/README.md
  sdks/python/apache_beam/yaml/examples/testing/examples_test.py
  sdks/python/apache_beam/yaml/examples/testing/input_data.py
  sdks/python/apache_beam/yaml/examples/transforms/jinja/import/README.md
  sdks/python/apache_beam/yaml/examples/transforms/jinja/import/macros/wordCountMacros.yaml
  sdks/python/apache_beam/yaml/examples/transforms/jinja/import/wordCountImport.yaml
Labels: python, Next Action: Reviewers, yaml

#35986 Properly add milvus as extra dependency
  .github/trigger_files/beam_PostCommit_Python.json
  .github/workflows/beam_Infrastructure_SecurityLogging.yml
  .github/workflows/beam_PreCommit_Python_Coverage.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  infra/security/README.md
  infra/security/config.yml
  infra/security/log_analyzer.py
  infra/security/requirements.txt
  it/mongodb/build.gradle
  sdks/go.mod
  sdks/go.sum
  sdks/go/pkg/beam/runners/prism/internal/environments.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/mongodb/MongoDbReadWriteIT.java
  sdks/java/io/mongodb/build.gradle
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/FindQuery.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbGridFSIO.java
  sdks/java/io/mongodb/src/main/java/org/apache/beam/sdk/io/mongodb/MongoDbIO.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/FindQueryTest.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDBGridFSIOTest.java
  sdks/java/io/mongodb/src/test/java/org/apache/beam/sdk/io/mongodb/MongoDbIOTest.java
  sdks/python/apache_beam/internal/code_object_pickler_test.py
  sdks/python/apache_beam/io/parquetio.py
  sdks/python/apache_beam/io/parquetio_test.py
  sdks/python/apache_beam/ml/rag/enrichment/milvus_search.py
  sdks/python/apache_beam/ml/rag/enrichment/milvus_search_it_test.py
  sdks/python/apache_beam/runners/dataflow/internal/names.py
  sdks/python/apache_beam/yaml/examples/README.md
  sdks/python/apache_beam/yaml/examples/testing/examples_test.py
  sdks/python/apache_beam/yaml/examples/testing/input_data.py
  sdks/python/apache_beam/yaml/examples/transforms/jinja/import/README.md
  sdks/python/apache_beam/yaml/examples/transforms/jinja/import/macros/wordCountMacros.yaml
  sdks/python/apache_beam/yaml/examples/transforms/jinja/import/wordCountImport.yaml
  sdks/python/apache_beam/yaml/integration_tests.py
  sdks/python/container/ml/py310/base_image_requirements.txt
  sdks/python/container/ml/py311/base_image_requirements.txt
  sdks/python/container/ml/py312/base_image_requirements.txt
  sdks/python/container/ml/py39/base_image_requirements.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py313/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: python, java, go, build, website, docker, io, extensions, runners, sql, mongodb, yaml, prism

#35962 Fix PostCommit Python Arm job
  sdks/python/apache_beam/examples/complete/juliaset/juliaset/juliaset_test_it.py
  sdks/python/apache_beam/examples/complete/juliaset/juliaset_main.py
  sdks/python/apache_beam/examples/complete/juliaset/requirements.txt
  sdks/python/apache_beam/examples/complete/juliaset/setup.py
Labels: python, examples, Next Action: Reviewers

#35999 update the changes.md for upgrading MongoDB Java driver
  CHANGES.md
Labels: Next Action: Reviewers

#36002 [Prism] Fix an issue when running a pipeline on docker in python
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
Labels: go, runners, Next Action: Reviewers, prism

#35854 Update BOM to 26.65.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/extensions/arrow/src/main/java/org/apache/beam/sdk/extensions/arrow/ArrowConversion.java
  sdks/java/io/google-cloud-platform/build.gradle
Labels: java, build, docker, io, extensions, gcp, Next Action: Reviewers

#35991 [Prism] Fix resource (docker container) leak when shutting down
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/runners/prism/internal/environments.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker_test.go
Labels: go, runners, Next Action: Reviewers, prism

#36010 Fix PreCommit Python ML tests with ML deps installed job
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#35963 Revert "Add AftersynchronizedProcessing Time as continuation trigger"
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/transforms/trigger.py
  sdks/python/apache_beam/transforms/trigger_test.py
Labels: python, Next Action: Reviewers

#36004 fix(mongodb): update filter composition to handle MongoDB 5.x driver
  .github/trigger_files/beam_PostCommit_SQL.json
  sdks/java/extensions/sql/build.gradle
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/mongodb/MongoDbTable.java
Labels: java, extensions, sql, Next Action: Reviewers

#36015 Update beam_PostCommit_Python_Xlang_Gcp_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_Xlang_Gcp_Dataflow.yml
Labels: build

#35960 YAML example suite update
  examples/yaml/README.md
  sdks/python/apache_beam/yaml/examples/transforms/ml/sentiment_analysis/README.md
  sdks/python/apache_beam/yaml/examples/transforms/ml/sentiment_analysis/streaming_sentiment_analysis.yaml
  sdks/python/apache_beam/yaml/examples/transforms/ml/taxi_fare/README.md
  sdks/python/apache_beam/yaml/examples/transforms/ml/taxi_fare/custom_nyc_taxifare_model_deployment.ipynb
  sdks/python/apache_beam/yaml/examples/transforms/ml/taxi_fare/streaming_taxifare_prediction.yaml
Labels: python, examples, yaml

#35725 Pass update compat through as_deterministic_coder and use cloudpickle for deterministic special types.
  .github/trigger_files/beam_PostCommit_Python_ValidatesRunner_Dataflow.json
  sdks/python/apache_beam/coders/coder_impl.pxd
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/coders/typecoders.py
  sdks/python/apache_beam/internal/cloudpickle_pickler.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python

#36016 Fix PostCommit Python ValidatesContainer Dataflow With RC job
  sdks/python/container/common.gradle
  sdks/python/container/run_generate_requirements.sh
Labels: python, docker, Next Action: Reviewers
