Repository apache/beam, pull requests merged in 2025-05, with the labels that each got.

#34802 Revert "[ManagedIO] Fail expansion when encountering extra or unknown configuration"
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/testing/TestSchemaTransformProvider.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProviderTest.java
  sdks/python/apache_beam/transforms/managed.py
  sdks/python/apache_beam/transforms/managed_iceberg_it_test.py
Labels: python, java, io, kafka

#34803 Fix issue link in trivial_inference.py
  sdks/python/apache_beam/typehints/trivial_inference.py
Labels: python, Next Action: Reviewers

#34805 Cherrypick Managed config validation revert
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProvider.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/testing/TestSchemaTransformProvider.java
  sdks/java/managed/src/test/java/org/apache/beam/sdk/managed/ManagedSchemaTransformProviderTest.java
  sdks/python/apache_beam/transforms/managed.py
  sdks/python/apache_beam/transforms/managed_iceberg_it_test.py
Labels: python, java, io, runners, dataflow, kafka, Next Action: Reviewers

#34807 Add name to BQ File Loads lambda to ensure changes are update compatible
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
Labels: python, io, gcp, Next Action: Reviewers

#34813 Add name to BQ File Loads lambda to ensure changes are update compat
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
Labels: python, io, gcp

#34635 Add changes note about TFRecord support in beam yaml and rename integration test.
  CHANGES.md
  sdks/python/apache_beam/yaml/tests/tfrecord.yaml
Labels: python, Next Action: Reviewers, slow-review, yaml

#34678 Fix loopback
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/Environments.java
  sdks/java/extensions/python/build.gradle
  sdks/java/extensions/python/src/test/java/org/apache/beam/sdk/extensions/python/PythonExternalTransformTest.java
Labels: java, extensions, Next Action: Reviewers

#34830 Prism windowed value coder
  .github/trigger_files/beam_PostCommit_Python_ValidatesRunner_Flink.json
  .github/trigger_files/beam_PostCommit_Python_ValidatesRunner_Samza.json
  .github/trigger_files/beam_PostCommit_Python_ValidatesRunner_Spark.json
  sdks/go/pkg/beam/runners/prism/internal/coders.go
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/samza_runner_test.py
Labels: python, go, runners, Next Action: Reviewers, prism

#34837 Add powershell command 32307
  website/www/site/content/en/get-started/quickstart-java.md
Labels: website, Next Action: Reviewers

#34836 Add OrderedList and Set state
  website/www/site/content/en/documentation/programming-guide.md
Labels: website, Next Action: Reviewers

#34835 use batch delete for GCS IO
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
Labels: python, io, gcp, Next Action: Reviewers

#34776 Update code-change-guide.md
  contributor-docs/code-change-guide.md
Labels: Next Action: Reviewers

#34823 Fix Nexmark Dataflow V2 use runner v2
  .github/workflows/beam_PostCommit_Java_Nexmark_Dataflow_V2.yml
Labels: build, Next Action: Reviewers

#34842 Cherrypick - Prism windowed value coder (#34830)
  .github/trigger_files/beam_PostCommit_Python_ValidatesRunner_Flink.json
  .github/trigger_files/beam_PostCommit_Python_ValidatesRunner_Samza.json
  .github/trigger_files/beam_PostCommit_Python_ValidatesRunner_Spark.json
  sdks/go/pkg/beam/runners/prism/internal/coders.go
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/samza_runner_test.py
Labels: python, go, runners, Next Action: Reviewers, prism

#34843 Change Assert to Check instanceof AvroCoder
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
Labels: java, io, kafka, Next Action: Reviewers

#34850 Modify the assert to accept any instance of AvroCoder, including subclasses
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
Labels: java, io, kafka

#34851 Use checkerframework Nullable/NonNull
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkPipelineRunner.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/LazyAggregateCombineFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/RpcQosTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/it/FirestoreTestingHelper.java
Labels: java, io, extensions, runners, spark, sql, gcp

#34857 Revert "Bump @octokit/request and @octokit/rest in /scripts/ci/issue-report"
  scripts/ci/issue-report/package-lock.json
  scripts/ci/issue-report/package.json
Labels: Next Action: Reviewers

#34854 Fix Tour of Beam Go Integration tests
  .github/workflows/tour_of_beam_backend_integration.yml
  learning/tour-of-beam/backend/integration_tests/emulators/firebase/Dockerfile
Labels: build, learning, Next Action: Reviewers

#34866 Add label when PR gets reassigned
  scripts/ci/pr-bot/findPrsNeedingAttention.ts
Labels: Next Action: Reviewers

#34846 Improve clarity of PTransformRunnerFactory in Java SDK harness
  sdks/java/build-tools/src/main/resources/beam/checkstyle/checkstyle.xml
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataReadRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataWriteRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/CombineRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FlattenRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/MapFnRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PTransformRunnerFactory.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/AssignWindowsRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataReadRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataWriteRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/CombineRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FlattenRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/MapFnRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/PTransformRunnerFactoryTestContext.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
Labels: java, build, Next Action: Reviewers

#34867 fix: correct spanner column schema type parser
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTest.java
Labels: java, io, gcp, spanner

#34864 Encode paneinfo with PaneInfoCoder. (#34824)
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/coders/typecoders.py
  sdks/python/apache_beam/coders/typecoders_test.py
Labels: python

#34872 reorder opt-out review comment
  scripts/ci/pr-bot/shared/commentStrings.ts
Labels: Next Action: Reviewers

#34856 [IcebergIO] Support column pruning
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  .github/trigger_files/IO_Iceberg_Integration_Tests_Dataflow.json
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/RowFilter.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/CreateReadTasksDoFn.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergCdcReadSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergScanConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IncrementalScanSource.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/ReadFromTasks.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/ReadUtils.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/ScanSource.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/ScanTaskReader.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/ScanTaskSource.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOReadTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/ReadUtilsTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/IcebergCatalogBaseIT.java
  website/www/site/content/en/documentation/io/managed-io.md
Labels: java, website, io, Next Action: Reviewers

#34875 Replace deprecated model version.
  sdks/python/apache_beam/ml/rag/embeddings/vertex_ai_test.py
  sdks/python/apache_beam/ml/transforms/embeddings/vertex_ai_test.py
Labels: python, Next Action: Reviewers

#34845 [AnomalyDetection] Add a notebook for using iforest for anomaly detection
  examples/notebooks/beam-ml/anomaly_detection/anomaly_detection_iforest.ipynb
Labels: examples, Next Action: Reviewers

#34459 [AnomalyDetection] Add a notebook for anomaly detection with Z-Score
  examples/notebooks/beam-ml/anomaly_detection/anomaly_detection_zscore.ipynb
Labels: examples, Next Action: Reviewers

#34746 Streamline non-cached state backed iterable.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateBackedIterable.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateFetchingIterators.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/StateBackedIterableTest.java
Labels: java

#34884 [AnomalyDetection] Update notebook.
  examples/notebooks/beam-ml/anomaly_detection/anomaly_detection_iforest.ipynb
Labels: examples, Next Action: Reviewers

#34882 Reference managed-io page in our docs
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergIO.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/python/apache_beam/transforms/managed.py
  sdks/python/gen_managed_doc.py
  website/www/site/content/en/documentation/io/managed-io.md
Labels: python, java, website, io, Next Action: Reviewers

#34889 Fix typecoders_test.py formatting
  sdks/python/apache_beam/coders/typecoders_test.py
Labels: python

#34895 Add empty outputs to notebooks which can't run without help
  examples/notebooks/beam-ml/alloydb_product_catalog_embeddings.ipynb
  examples/notebooks/beam-ml/bigquery_enrichment_transform.ipynb
  examples/notebooks/beam-ml/gemma_2_sentiment_and_summarization.ipynb
  examples/notebooks/beam-ml/run_inference_vllm.ipynb
Labels: examples

#33918 Remove type suppressions from MetricsPusher and MetricsSink
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsPusher.java
  runners/extensions-java/metrics/src/main/java/org/apache/beam/runners/extensions/metrics/MetricsGraphiteSink.java
  runners/extensions-java/metrics/src/main/java/org/apache/beam/runners/extensions/metrics/MetricsHttpSink.java
Labels: java, extensions, runners, core, Next Action: Reviewers

#34847 Update Iceberg table field documentation
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  website/www/site/content/en/documentation/io/managed-io.md
Labels: java, website, io, Next Action: Reviewers

#34898 Correcting regex for _PROJECT_PATTERN for bigquery table name (resolv…
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: python, io, gcp, Next Action: Reviewers

#34858 Enable certain Beam module compile with newer Java version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/agent/build.gradle
Labels: java, build, docker

#34901 Revert "Correcting regex for _PROJECT_PATTERN for bigquery table name (resolv…"
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
Labels: python, io, gcp

#34818 use blob.exists to check the GCS file
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
Labels: python, io, gcp, Next Action: Reviewers

#34910 [Python] Added the validate support for ReadAllFromBigQuery
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_read_internal.py
Labels: python, io, gcp, Next Action: Reviewers

#34891 [Dataflow Streaming] Remove unused quota throttling metrics from windmill streams
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowSystemMetrics.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/SingleSourceWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingCounters.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerStatusReporter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/WindmillStreamSender.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerBase.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillServerStub.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/AbstractWindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcCommitWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkerMetadataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillStreamFactory.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/throttling/StreamingEngineThrottleTimers.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/throttling/ThrottleTimer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/throttling/ThrottledTimeTracker.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/SingleSourceWorkerHarnessTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/StreamingWorkerStatusReporterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/WindmillStreamSenderTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/AbstractWindmillStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcCommitWorkStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkerMetadataStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
Labels: runners, dataflow

#34873 34749 added cache for avro coder to reduce memory footprint
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/coders/AvroCoder.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/coders/AvroGenericCoder.java
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/coders/AvroCoderTest.java
Labels: java, extensions, Next Action: Reviewers

#34878 Fix flaky BoundedQueueExecutor test
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutorTest.java
Labels: runners, dataflow, Next Action: Reviewers

#34897 [AnomalyDetection] Support unkeyed input for the transform.
  sdks/python/apache_beam/ml/anomaly/transforms.py
  sdks/python/apache_beam/ml/anomaly/transforms_test.py
Labels: python, Next Action: Reviewers

#34821 Update Beam website to release 2.65.0
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.65.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website

#34886 Prevent ValueError when passing resource_hints in StandardOptions
  sdks/python/apache_beam/transforms/resources.py
  sdks/python/apache_beam/transforms/resources_test.py
Labels: python, Next Action: Reviewers

#34917 Specify pip version for ML and Transformers tests
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#34881 Fix minor issues in various PTransformRunner classes
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/SimpleMonitoringInfoBuilder.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataReadRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataWriteRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/CombineRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
Labels: java, runners, core

#34495 ✨ Upgrade sidepanel extension to JupyterLab 4.x compatibility
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
  CHANGES.md
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/README.md
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/jest.config.js
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/jest.setup.js
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/package.json
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/SidePanel.ts
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/clusters/Clusters.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/common/HtmlView.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InspectableList.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InspectableListItem.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InspectableView.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/Inspectables.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/inspector/InteractiveInspector.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/__tests__/kernel/InterruptKernelButton.test.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/clusters/Clusters.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/common/HtmlView.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InspectableList.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InspectableListItem.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InspectableView.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/Inspectables.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/inspector/InteractiveInspector.tsx
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/src/kernel/InterruptKernelButton.tsx
  sdks/python/tox.ini
Labels: python, runners, Next Action: Reviewers, slow-review

#34923 Add empty outputs.
  examples/notebooks/beam-ml/alloydb_product_catalog_embeddings.ipynb
  examples/notebooks/beam-ml/bigquery_vector_ingestion_and_search.ipynb
Labels: examples, Next Action: Reviewers

#34795 Fix for emojis rendering issue for yaml examples (resolves #34770)
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
Labels: python, Next Action: Author, yaml

#34927 Fix empty outputs.
  examples/notebooks/beam-ml/anomaly_detection/anomaly_detection_iforest.ipynb
  examples/notebooks/beam-ml/anomaly_detection/anomaly_detection_zscore.ipynb
Labels: examples

#34870 Update trivial inference for Python 3.13
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/trivial_inference.py
Labels: python, Next Action: Reviewers

#34935 fix linting
  sdks/python/apache_beam/typehints/trivial_inference.py
Labels: python

#34932 Use a strict upper bound.
  sdks/python/setup.py
Labels: python

#34922 check the audit key exists before adding it
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptions.java
Labels: java, extensions, gcp

#34936 Update republish_released_docker_containers.yml
  .github/workflows/republish_released_docker_containers.yml
Labels: build, Next Action: Reviewers

#34883 Refactor: separate PairWithRestriction from FnApiDoFnRunner
  sdks/java/harness/build.gradle
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/SplittablePairWithRestrictionDoFnRunner.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/NonWindowObservingTestSplittableDoFn.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/SplittablePairWithRestrictionDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/WindowObservingTestSplittableDoFn.java
Labels: java

#34893 Allow psycopg2 2.9.10
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#34931 Add 2.63 breaking incompatibility to CHANGES.md
  CHANGES.md
Labels: Next Action: Reviewers

#34921 Correctly auto-enable prism for some pipelines
  CHANGES.md
  sdks/python/apache_beam/runners/direct/direct_runner.py
Labels: python, runners

#34942 Fix gcs audit custom entries
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_test.py
Labels: python

#34907 Share FnApiStateAccessor initialization across ParDo runners in Java SDK harness
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/SplittablePairWithRestrictionDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
Labels: java

#34944 Change HF inference default api url
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface.py
Labels: python, Next Action: Reviewers

#34812 [BEAM-12164]: Make the spanner change stream connector metadata table ParentTokens column nullable.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataAdminDao.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/InitializeDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/PartitionMetadataMapper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/InitialPartition.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/PartitionMetadata.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/PartitionMetadataTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#34940 [Dataflow Streaming] Refactor ResettableThrowingStreamObserver to inject instead of use factory
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/AbstractWindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/ResettableThrowingStreamObserver.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/ResettableThrowingStreamObserverTest.java
Labels: runners, dataflow

#34934 Disable argument abbreviation in Python
  CHANGES.md
  sdks/python/apache_beam/options/pipeline_options.py
Labels: python

#34700 complete implementation of open ai text embedding with test #new
  sdks/python/apache_beam/ml/transforms/embeddings/open_ai.py
  sdks/python/apache_beam/ml/transforms/embeddings/open_ai_it_test.py
Labels: python, Next Action: Reviewers

#34955 [IcebergIO] Fix Iceberg list conversion
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Direct.json
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergUtils.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergUtilsTest.java
  sdks/python/apache_beam/transforms/managed_iceberg_it_test.py
Labels: python, java, io

#34947 Ignore result of flaky ResumeFromCheckpointStreamingTest.testWithResume
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/ResumeFromCheckpointStreamingTest.java
Labels: runners, spark

#34973 [Spark Runner] ignore flaky test `testStreamingSideInputAsIterableView`
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/StreamingTransformTranslatorTest.java
Labels: runners, spark

#34925 Fix gradle target for Java Examples on Dataflow Runner V2
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_V2.yml
  build.gradle.kts
Labels: build, Next Action: Reviewers

#34970 use avro 1.12.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  it/google-cloud-platform/build.gradle
Labels: build, Next Action: Reviewers

#34974 Fix Flaky PreCommit Spark runner Java version test
  runners/spark/3/build.gradle
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/StreamingTransformTranslatorTest.java
Labels: runners, spark

#34985 Use default CI Java for Spark3 Java Version PreCommit
  .github/workflows/beam_PreCommit_Java_Spark3_Versions.yml
  runners/spark/3/build.gradle
Labels: build, runners, spark

#34986 Revert "use avro 1.12.0"
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  it/google-cloud-platform/build.gradle
Labels: build, Next Action: Reviewers

#34998 [Gradle] Patch testJavaVersion and java17Home for Dataflow runner v2 distroless integration test
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_V2.yml
Labels: build

#34201 [KafkaIO] Remove duplicate offset in range check
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFnTest.java
Labels: java, io, kafka, Next Action: Reviewers, reassigned-reviewers

#35001 Move Java Example distroless Dataflow to Java21 precommit
  .github/workflows/beam_PreCommit_Java_Examples_Dataflow_Java21.yml
  build.gradle.kts
Labels: build, Next Action: Reviewers

#34995 use java 11 for yaml docs
  .github/workflows/build_release_candidate.yml
Labels: build, Next Action: Reviewers

#34971 Update beam_runner_api.proto with element metadata
  model/fn-execution/src/main/proto/org/apache/beam/model/fn_execution/v1/beam_fn_api.proto
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
Labels: model, Next Action: Reviewers

#35005 Always trigger update Python dependency on manual run
  .github/workflows/update_python_dependencies.yml
Labels: build

#35006 Release documents fix post 2.65.0 release
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#34924 Adding support for pyproject.toml file (resolves a part of #32380)
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/runners/portability/stager_test.py
Labels: python, runners, Next Action: Reviewers

#34900 Change ReadFromKafkaViaSDF to use Create instead of deprecated Impulse transform.
  CHANGES.md
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOExternalTest.java
Labels: java, io, kafka, Next Action: Reviewers

#34994 force avro 1.11.4 for the expansion service
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/schemaio-expansion-service/build.gradle
  sdks/java/extensions/sql/expansion-service/build.gradle
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/google-cloud-platform/expansion-service/build.gradle
Labels: java, build, io, extensions, sql, gcp, Next Action: Reviewers

#35004 Update google-apitools to 0.5.32
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#35014 Slide AnyTypeConstraint check after type normalization
  sdks/python/apache_beam/typehints/typehints.py
Labels: python, Next Action: Reviewers

#35016 Remove newline outputs.
  examples/notebooks/beam-ml/alloydb_product_catalog_embeddings.ipynb
Labels: examples

#34975 Upgrade to GCP-BOM 26.60.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#34919 Refactor: separate SplitAndSizeRestriction from FnApiDoFnRunner
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/DoFn.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnInvoker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/DoFnSignature.java
  sdks/java/harness/build.gradle
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/SplitResultsWithStopIndex.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/SplittablePairWithRestrictionDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/SplittableSplitAndSizeRestrictionsDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/WindowedSplitResult.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/FnApiStateAccessor.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/SplittableSplitAndSizeRestrictionsDoFnRunnerTest.java
Labels: java, Next Action: Reviewers

#35015 Fix PostCommit Java Examples Dataflow V2 workflow
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_V2.yml
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, runners, dataflow, Next Action: Reviewers

#34191 Rethrowing Exception from CassandraIO's ReadFn
  CHANGES.md
  sdks/java/io/cassandra/src/main/java/org/apache/beam/sdk/io/cassandra/ReadFn.java
Labels: java, io, cassandra, Next Action: Reviewers, slow-review

#35003 Update GRPC dependencies for Python 3.13
  sdks/python/pyproject.toml
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#34899 Correcting the pipeline object definition
  sdks/python/apache_beam/pipeline.py
Labels: python, Next Action: Reviewers

#34440 Enabling long-running jobs to use federated STS assume role authentication for AWS resources.
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/auth/GoogleADCIdTokenProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/auth/StsAssumeRoleForFederatedCredentialsProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/auth/WebIdTokenProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/auth/package-info.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsModule.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsOptions.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/auth/GoogleADCIdTokenProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/auth/StsAssumeRoleForFederatedCredentialsProviderTest.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/options/AwsModuleTest.java
Labels: java, io, aws, Next Action: Reviewers, reassigned-reviewers

#34841 Update website documentation and add notebook example for python sdk RRIO
  examples/notebooks/documentation/transforms/python/io/RequestResponseIO.ipynb
  website/www/site/content/en/documentation/io/built-in/webapis.md
Labels: website, examples, Next Action: Reviewers, reassigned-reviewers

#35044 fix the IllegalStateException in STORAGE_WRITE_API
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp, Next Action: Reviewers

#35011 Update comment about timeouts in BigtableIO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
Labels: java, io, gcp, bigtable

#35052 added the stale issue checks
  .github/REVIEWERS.yml
  .github/workflows/stale.yml
Labels: build, Next Action: Reviewers

#35057 Some minor fixes after beam 2.65.0 was released.
  examples/notebooks/beam-ml/anomaly_detection/anomaly_detection_iforest.ipynb
Labels: examples

#35040 add doc string to examples test file
  sdks/python/apache_beam/yaml/examples/testing/examples_test.py
Labels: python, Next Action: Reviewers, yaml

#35032 Passing max_retries in WriteToBigquery (resolves #35019)
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
Labels: python, io, gcp, Next Action: Reviewers

#35022 Yaml IT - Phase 3b
  sdks/python/apache_beam/yaml/integration_tests.py
  sdks/python/apache_beam/yaml/tests/kafka.yaml
  sdks/python/apache_beam/yaml/tests/oracle.yaml
  sdks/python/apache_beam/yaml/tests/pubsub.yaml
  sdks/python/apache_beam/yaml/tests/runinference.yaml
  sdks/python/apache_beam/yaml/yaml_ml.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers, yaml

#35074 Clarify dataflow worker jar path
  contributor-docs/code-change-guide.md
Labels: Next Action: Reviewers

#35024 fix prism runner race condition
  sdks/go/pkg/beam/runners/prism/internal/jobservices/artifact.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/server.go
Labels: go, runners, Next Action: Reviewers, prism

#35096 Move recently added yaml tests to tmp folder to lower precommit runtime
  sdks/python/apache_beam/yaml/extended_tests/assign_timestamps.yaml
  sdks/python/apache_beam/yaml/extended_tests/create.yaml
  sdks/python/apache_beam/yaml/extended_tests/extract_windowing_Info.yaml
  sdks/python/apache_beam/yaml/extended_tests/filter.yaml
  sdks/python/apache_beam/yaml/extended_tests/flatten.yaml
  sdks/python/apache_beam/yaml/extended_tests/jdbc.yaml
  sdks/python/apache_beam/yaml/extended_tests/kafka.yaml
  sdks/python/apache_beam/yaml/extended_tests/ml_transform.yaml
  sdks/python/apache_beam/yaml/extended_tests/mysql.yaml
  sdks/python/apache_beam/yaml/extended_tests/oracle.yaml
  sdks/python/apache_beam/yaml/extended_tests/partition.yaml
  sdks/python/apache_beam/yaml/extended_tests/postgres.yaml
  sdks/python/apache_beam/yaml/extended_tests/pubsub.yaml
  sdks/python/apache_beam/yaml/extended_tests/pytransform.yaml
  sdks/python/apache_beam/yaml/extended_tests/runinference.yaml
  sdks/python/apache_beam/yaml/extended_tests/sqlserver.yaml
  sdks/python/apache_beam/yaml/extended_tests/tfrecord.yaml
  sdks/python/apache_beam/yaml/extended_tests/validate_with_schema.yaml
  sdks/python/apache_beam/yaml/extended_tests/windowinto.yaml
Labels: python, yaml

#35089 Prism: Fix event-time timer firing earlier than the time set.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/stage.go
Labels: go, runners, Next Action: Reviewers, prism

#35104 Delete unused page
  website/www/site/content/en/documentation/sdks/feature-comparison.md
Labels: website, Next Action: Reviewers
