Repository apache/beam, pull requests merged in 2025-02, with the labels that each got.

#33825 Add python ml extras
  sdks/python/setup.py
  sdks/python/test-suites/tox/py39/build.gradle
  sdks/python/tox.ini
  website/www/site/content/en/documentation/ml/ml-dependency-extras.md
  website/www/site/content/en/documentation/ml/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, website, Next Action: Reviewers

#33385 Introduce a BoundedTrie metric which is used to efficiently store and…
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/BoundedTrieCell.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/BoundedTrieData.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/DefaultMetricResults.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricUpdates.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerImpl.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerStepMap.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoConstants.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodings.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/SimpleMonitoringInfoBuilder.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/BoundedTrieCellTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/BoundedTrieNodeTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MetricsContainerImplTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MetricsContainerStepMapTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodingsTest.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/DirectMetrics.java
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/DirectMetricsTest.java
  runners/extensions-java/metrics/src/test/java/org/apache/beam/runners/extensions/metrics/CustomMetricQueryResults.java
  runners/extensions-java/metrics/src/test/java/org/apache/beam/runners/extensions/metrics/MetricsHttpSinkTest.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowMetrics.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowMetricsTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/FailedRunningPipelineResults.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/metrics/BoundedTrieImpl.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/metrics/JetMetricResults.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/metrics/JetMetricsContainer.java
  runners/portability/java/src/main/java/org/apache/beam/runners/portability/PortableMetrics.java
  runners/portability/java/src/test/java/org/apache/beam/runners/portability/PortableRunnerTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/Coder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/BoundedTrie.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/BoundedTrieResult.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricQueryResults.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Metrics.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricsContainer.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/UsesBoundedTrieMetrics.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/BoundedTrieResultTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/MetricsTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ExecutionStateSamplerTest.java
Labels: java, extensions, runners, dataflow, direct, core, jet, portability

#33826 Upgrade calcite to 1.37.0 used by io-expansion service
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/hive/build.gradle
Labels: java, build, io, Next Action: Reviewers

#33805 The Bag Partition is now configurable.
  CHANGES.md
  sdks/python/apache_beam/runners/dask/dask_runner.py
  sdks/python/apache_beam/runners/dask/dask_runner_test.py
  sdks/python/apache_beam/runners/dask/transform_evaluator.py
Labels: python, runners, Next Action: Reviewers

#33835 Fix The PostCommit Python ValidatesContainer Dataflow With RC workflow
  sdks/python/container/run_validatescontainer.sh
Labels: python, docker

#33816 Fix Publish Beam SDK Snapshots workflow
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
Labels: build, Next Action: Reviewers

#33837 Fix Playground CI Nightly job
  learning/katas/java/Core Transforms/FlattenWith/FlattenWith/src/org/apache/beam/learning/katas/coretransforms/flattenWith/Task.java
  learning/katas/java/Core Transforms/Tee/Tee/src/org/apache/beam/learning/katas/coretransforms/tee/Task.java
  learning/katas/python/Core Transforms/FlattenWith/FlattenWith/task.py
  learning/katas/python/Core Transforms/Tee/Tee/task.py
  playground/categories.yaml
Labels: python, java, learning

#33672 sdks/python: enable named aggregation to deferred DataFrame groupby
  sdks/python/apache_beam/dataframe/frames.py
  sdks/python/apache_beam/dataframe/frames_test.py
Labels: python, Next Action: Reviewers

#33830 Adding handling of Nulled lists to beam_row_from_dict
  sdks/python/apache_beam/io/gcp/bigquery_tools.py
  sdks/python/apache_beam/io/gcp/bigquery_tools_test.py
Labels: python, io, gcp, Next Action: Reviewers

#33839 License script - fix dependencies installation
  sdks/java/container/license_scripts/license_script.sh
Labels: java, docker, Next Action: Reviewers

#33843 [Prism] Disable trie tests.
  runners/prism/java/build.gradle
Labels: runners, prism

#33829 Update Dataflow api client version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#33457 Btrie disable flag
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Metrics.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/MetricsTest.java
Labels: java

#33847 [Dataflow Streaming] Enable Windmill GetWork Response Batching by default
  CHANGES.md
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowStreamingPipelineOptions.java
Labels: runners, dataflow, Next Action: Reviewers

#33780 Calculate byte size via sampling in StateBackedIterable if size is not cheap to calculate
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateBackedIterable.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/StateBackedIterableTest.java
Labels: java, Next Action: Reviewers

#33838 Revert "[Flink] disable operator chaining in validatesRunner"
  runners/flink/flink_runner.gradle
  runners/flink/src/test/validatesRunnerConfig/flink-conf.yaml
Labels: runners, flink, Next Action: Reviewers

#33755 Optimize failed key processing by indexing workitems by shardingkey + workid
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/WorkHeartbeatResponseProcessor.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/WorkIdWithShardingKey.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkStateTest.java
Labels: runners, dataflow

#33848 Bump beam-master container version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow, Next Action: Reviewers

#33702 Write how-to doc on dataflow cost benchmarking
  sdks/python/apache_beam/testing/benchmarks/README.md
Labels: python, Next Action: Reviewers

#33840 [Go SDK + Protos] Fix Proto Spec for Pane encoding + Go SDK implementation.
  CHANGES.md
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  sdks/go/pkg/beam/core/graph/coder/panes.go
  sdks/go/pkg/beam/core/graph/coder/panes_test.go
  sdks/go/pkg/beam/core/graph/window/trigger/trigger.go
  sdks/go/pkg/beam/core/typex/special.go
Labels: go, model

#33763 [#31438] Trigger Precusor work for Prism.
  sdks/go/pkg/beam/runners/prism/internal/engine/data.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/strategy.go
  sdks/go/pkg/beam/runners/prism/internal/engine/strategy_test.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
Labels: go, runners, prism

#33849 Fix Postcommit Python Arm workflow
  .github/workflows/beam_PostCommit_Python_Arm.yml
  sdks/python/apache_beam/io/gcp/healthcare/dicomio_integration_test.py
Labels: python, build, io, gcp, healthcare

#33856 Fix user mailing list link on contribution page
  CHANGES.md
  website/www/site/content/en/contribute/_index.md
Labels: website, Next Action: Reviewers

#33611 sdks/python: enable recursive deletion for GCSFileSystem Paths
  CHANGES.md
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
Labels: python, io, gcp, Next Action: Reviewers

#33869 Fix cut_release_branch workflow
  .github/workflows/cut_release_branch.yml
Labels: build

#33814 Restore "attributes of a Beam committer" to prior accuracy
  website/www/site/content/en/contribute/attributes.md
  website/www/site/content/en/contribute/become-a-committer.md
Labels: website

#33871 Fix release version
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#33872 Update release branch cut to still update container and snapshot versions to 2.XX.0
  .github/workflows/cut_release_branch.yml
  release/src/main/scripts/set_version.sh
  release/src/main/scripts/verify_release_build.sh
Labels: build

#33841 Add AlloyDB vector writer.
  sdks/python/apache_beam/ml/rag/ingestion/alloydb.py
  sdks/python/apache_beam/ml/rag/ingestion/alloydb_it_test.py
Labels: python

#33876 Update build Go version to 1.23.6
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/run_with_go_version.sh
Labels: go, build

#33877 Cherry pick #33876 - update Go version to 1.23.6
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go/run_with_go_version.sh
Labels: go, build

#33882 Add ALLOYDB_PASSWORD secret to beam_PreCommit_Python_ML.yml.
  .github/workflows/beam_PreCommit_Python_ML.yml
Labels: build

#33884 Force specifying release branch
  .github/workflows/choose_rc_commit.yml
Labels: build

#33880 Cherry-pick: Add AlloyDB vector writer. (#33841)
  sdks/python/apache_beam/ml/rag/ingestion/alloydb.py
  sdks/python/apache_beam/ml/rag/ingestion/alloydb_it_test.py
Labels: python

#33474 Add support for bounded trie metric in legacy worker
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/BoundedTrieCell.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/BoundedTrieData.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/BoundedTrieNodeTest.java
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowMetrics.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowMetricsTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToCounterUpdateConverter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/MetricsToCounterUpdateConverterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateBackedIterable.java
Labels: java, runners, dataflow, core, Next Action: Reviewers

#33888 Reduce time spent backing off dry run query
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
Labels: java, io, gcp

#33019 [java] Add Optional coder
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/CoderRegistry.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/OptionalCoder.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/coders/OptionalCoderTest.java
Labels: java, Next Action: Reviewers

#33547 Build docker artifacts from self-hosted runners
  .github/workflows/build_release_candidate.yml
Labels: build

#33899 Fix PostCommit Java ValidatesRunner ULR job
  runners/portability/java/build.gradle
Labels: runners, portability

#33890 Cherry pick Add support for bounded trie metric in legacy worker
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/BoundedTrieCell.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/BoundedTrieData.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/BoundedTrieNodeTest.java
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowMetrics.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowMetricsTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToCounterUpdateConverter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/MetricsToCounterUpdateConverterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/StateBackedIterable.java
Labels: java, runners, dataflow, core

#33907 Expand yaml provider documentation.
  website/www/site/content/en/documentation/sdks/yaml-providers.md
Labels: website, Next Action: Reviewers

#33906 Reduce frequency of issue report
  .github/workflows/reportGenerator.yml
  scripts/ci/issue-report/generateReport.js
Labels: build, Next Action: Reviewers

#33898 Fix LoadTests Go CoGBK / GBK Flink Batch jobs
  .github/workflows/beam_LoadTests_Go_CoGBK_Flink_batch.yml
  .github/workflows/beam_LoadTests_Go_GBK_Flink_Batch.yml
  .github/workflows/load-tests-pipeline-options/go_CoGBK_Flink_Batch_Reiteration_10KB.txt
  .github/workflows/load-tests-pipeline-options/go_CoGBK_Flink_Batch_Reiteration_2MB.txt
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_100b.txt
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_100kb.txt
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_Fanout_4.txt
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_Fanout_8.txt
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_Reiteration_10KB.txt
Labels: build

#33897 Change the period for checking if the workflow is flaky
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/main.py
Labels: infra, Next Action: Reviewers

#33858 Move interactive-specific TestStreamService to interactive protos.
  model/interactive/src/main/proto/org/apache/beam/model/interactive/v1/beam_interactive_api.proto
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto
  sdks/python/apache_beam/runners/direct/test_stream_impl.py
  sdks/python/apache_beam/testing/test_stream_service.py
  sdks/python/apache_beam/testing/test_stream_service_test.py
Labels: python, model, runners, Next Action: Reviewers

#33927 Add alloydb password secret to Python postcommit test workflow.
  .github/workflows/beam_PostCommit_Python.yml
Labels: build

#33924 Add unassign issue feature
  .github/ACTIONS.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/failing_test.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/workflows/self-assign.yml
  CONTRIBUTING.md
  website/www/site/content/en/contribute/_index.md
Labels: build, website, Next Action: Reviewers

#33926 Fix unsubscribe emails on Contact Us page
  website/www/site/content/en/community/contact-us.md
Labels: website, Next Action: Reviewers

#33930 Fix error in Dataflow Cost Benchmark README
  sdks/python/apache_beam/testing/benchmarks/README.md
Labels: python, Next Action: Reviewers

#33933 Add AlloyDB password to Xlang GCP and Direct Postcommit workflows.
  .github/workflows/beam_PostCommit_Python_Xlang_Gcp_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_Xlang_Gcp_Direct.yml
Labels: build

#33921 Skip BoundedTrie on Dataflow till service is have BoundedTrie
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow.json
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
Labels: build, runners, dataflow, Next Action: Reviewers

#33937 Reduce Iceberg IT parallel forks
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/build.gradle
Labels: java, build, io, Next Action: Reviewers

#33940 Fixing #33934 git task/close workflow breakage
  .github/workflows/self-assign.yml
Labels: build, website, Next Action: Reviewers

#33941 Fix TypeScript Tests job
  .github/workflows/typescript_tests.yml
Labels: build

#33935 Revert emitting lineage as boundedtrie from python
  sdks/python/apache_beam/io/aws/s3filesystem.py
  sdks/python/apache_beam/io/aws/s3filesystem_test.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem.py
  sdks/python/apache_beam/io/azure/blobstoragefilesystem_test.py
  sdks/python/apache_beam/io/filebasedsink.py
  sdks/python/apache_beam/io/filebasedsource.py
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/apache_beam/io/filesystems.py
  sdks/python/apache_beam/io/gcp/bigquery.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem.py
  sdks/python/apache_beam/io/gcp/gcsfilesystem_test.py
  sdks/python/apache_beam/io/localfilesystem.py
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/metric.py
  sdks/python/apache_beam/metrics/metric_test.py
Labels: python, io, aws, gcp

#33936 Improve docstring for fire_interval
  sdks/python/apache_beam/transforms/periodicsequence.py
Labels: python, Next Action: Reviewers

#33945 Cherry picking 33919
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtilsTest.java
Labels: java, io, gcp

#33881 [#31438] Non-processing time triggers pass w/accumulation.
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/engine/data.go
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/engine_test.go
  sdks/go/pkg/beam/runners/prism/internal/engine/strategy.go
  sdks/go/pkg/beam/runners/prism/internal/engine/teststream.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/handlecombine.go
  sdks/go/pkg/beam/runners/prism/internal/handlecombine_test.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/unimplemented_test.go
Labels: go, runners, Next Action: Reviewers, prism

#33947 Cherry-pick skip BoundedTrie on Dataflow till service is have BoundedTrie (#33921) to release 2.63
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow.json
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
Labels: build, runners, dataflow

#33956 Disable PreCommit Flink Container
  .github/workflows/beam_PreCommit_Flink_Container.yml
Labels: build

#33957 Reenable PreCommit Flink Container after Fix cleanup scripts
  .github/autolabeler.yml
  .github/workflows/beam_PreCommit_Flink_Container.yml
  .github/workflows/beam_PreCommit_Java_GCP_IO_Direct.yml
  .github/workflows/beam_PreCommit_Portable_Python.yml
  .github/workflows/beam_PreCommit_Python_PVR_Flink.yml
  .test-infra/dataproc/cleanup.sh
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: build, infra

#33922 sdks/go: utilize `cmp` package for comparison in `fullvalue_test.go`
  sdks/go/pkg/beam/core/runtime/exec/fullvalue_test.go
Labels: go, Next Action: Reviewers

#33968 Fix Postcommit Java Examples Dataflow V2 workflow
  runners/google-cloud-dataflow-java/build.gradle
  sdks/java/container/distroless/common.gradle
Labels: java, docker, runners, dataflow

#33949 sdks/go: add string utf-8 check to vet runner for serialization
  sdks/go/pkg/beam/core/runtime/graphx/serialize.go
  sdks/go/pkg/beam/runners/vet/vet.go
  sdks/go/pkg/beam/runners/vet/vet_test.go
Labels: go, runners, Next Action: Reviewers

#33967 Disable GC before collecting stack frames on Python 3.11
  CHANGES.md
  sdks/python/apache_beam/runners/worker/worker_status.py
Labels: python, runners

#33885 Enable AlloyDB tests.
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  sdks/python/apache_beam/ml/rag/ingestion/alloydb_it_test.py
  sdks/python/scripts/run_integration_test.sh
  sdks/python/scripts/run_pytest.sh
Labels: python, build

#33973 Fix timestamp propagation to successful-loads PCollection.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
Labels: java, io, gcp, Next Action: Reviewers

#33977 do not spam logs when onNext called on closed StreamObserver
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/ResettableThrowingStreamObserver.java
Labels: runners, dataflow

#33978 Fix Republish Released Docker Images workflow
  .github/workflows/republish_released_docker_containers.yml
  sdks/java/container/license_scripts/pull_licenses_java.py
Labels: java, build, docker

#33932 Support custom coders in Reshuffle
  CHANGES.md
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test.py
  sdks/python/apache_beam/coders/typecoders.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/typehints.py
Labels: python

#33929 Update pkglist with more recent python versions matching pythonTips page
  dev-support/docker/pkglist
Labels: Next Action: Reviewers

#33984 Fix an invalid signature in ByteBuddyDoFnInvokerFactory
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
Labels: java

#33954 Make use staged sdk harness effective whenever experiment flag added
  sdks/java/container/boot.go
Labels: java, docker

#33985 Update code-change-guide.md
  contributor-docs/code-change-guide.md
Labels: Next Action: Reviewers

#33990 sdks/java: support non-ascii BigQuery table name
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpersTest.java
Labels: java, io, gcp, Next Action: Reviewers

#33554 [Managed Iceberg] custom equals method for SerializedDataFile
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/SerializableDataFile.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/SerializableDataFileTest.java
Labels: java, build, io, Next Action: Reviewers

#33992 Fix Assign or close an issue job
  .github/workflows/self-assign.yml
Labels: build, Next Action: Reviewers

#33993 Add Lineage known issues for Beam 2.59.0; update blog post
  CHANGES.md
  website/www/site/content/en/blog/beam-2.59.0.md
  website/www/site/content/en/blog/beam-2.60.0.md
  website/www/site/content/en/blog/beam-2.61.0.md
  website/www/site/content/en/blog/beam-2.62.0.md
Labels: website

#33989 Fix never trigger
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/WatermarkCallbackExecutor.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingSideInputFetcher.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/metrics/BoundedTrieImpl.java
  runners/jet/src/main/java/org/apache/beam/runners/jet/metrics/JetMetricsContainer.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/WaitTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/windowing/NeverTest.java
Labels: java, runners, dataflow, direct, jet

#33389 [java] BQ: Add avro schema to BQ TableSchema conversion
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtils.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryAvroUtilsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#34002 log the docker cmd to help debug
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/DockerEnvironmentFactory.java
Labels: runners, fn-execution, Next Action: Reviewers

#34011 Fix race in FanOutStreamingEngineWorkerHarnessTest
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
Labels: runners, dataflow, Next Action: Reviewers

#34013 Fix GrpcDirectGetDataStreamTest waiting for 2 responses instead of the 3 present.
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStreamTest.java
Labels: runners, dataflow

#33905 [Release] Add 2.63.0 to Beam Website
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.63.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#34014 Fix commit message in finalize workflow
  .github/workflows/finalize_release.yml
Labels: build

#34008 Fix Python ValidatesContainer Dataflow ARM workflow
  .github/workflows/beam_Python_ValidatesContainer_Dataflow_ARM.yml
Labels: build

#33994 [AnomalyDetection] Add univariate trackers
  sdks/python/apache_beam/ml/anomaly/specifiable.py
  sdks/python/apache_beam/ml/anomaly/univariate/__init__.py
  sdks/python/apache_beam/ml/anomaly/univariate/base.py
  sdks/python/apache_beam/ml/anomaly/univariate/mean.py
  sdks/python/apache_beam/ml/anomaly/univariate/mean_test.py
  sdks/python/apache_beam/ml/anomaly/univariate/perf_test.py
  sdks/python/apache_beam/ml/anomaly/univariate/quantile.py
  sdks/python/apache_beam/ml/anomaly/univariate/quantile_test.py
  sdks/python/apache_beam/ml/anomaly/univariate/stdev.py
  sdks/python/apache_beam/ml/anomaly/univariate/stdev_test.py
Labels: python

#33868 Add `types.Unalias` to types assertions and types switches to get an underlying type instead of types.Alias
  sdks/go/pkg/beam/util/starcgenx/starcgenx.go
Labels: go, Next Action: Reviewers

#34025 Fix PostCommit Python job
  sdks/python/apache_beam/ml/inference/huggingface_tests_requirements.txt
Labels: python, Next Action: Reviewers

#33953 add endpoint type to WorkerMetadataResponse proto
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: runners, dataflow, Next Action: Reviewers

#34006 add hashcode/equals to WaitTest helper classes to avoid log error
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/WaitTest.java
Labels: java, Next Action: Reviewers

#34027 Add enable_lineage experiment to Dataflow tests
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow.json
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, runners, dataflow, Next Action: Reviewers

#34034 Add UUID support in SpannerSchema
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#34023 Fix performance test dashboard link
  website/www/site/content/en/documentation/io/testing.md
Labels: website, Next Action: Reviewers

#34039 [Go SDK] Add missing type inspection case for Alias types.
  sdks/go/pkg/beam/util/starcgenx/starcgenx.go
Labels: go

#34035 make direct remote channel use manual flow control with a larger flow…
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillChannelFactory.java
Labels: runners, dataflow, Next Action: Reviewers

#34017 Add histogram parsing in runner v2
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/metrics.proto
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodings.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodingsTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/HistogramData.java
Labels: java, model, runners, core, Next Action: Reviewers

#34043 Update SpannerSchema to support postgres tokenlist
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTest.java
Labels: java, io, gcp, spanner

#33931 Create examples/java/webapis/README.md
  examples/java/webapis/README.md
Labels: java, examples, Next Action: Reviewers

#34046 fix side-input existence deadline
  runners/direct-java/src/test/java/org/apache/beam/runners/direct/StatefulParDoEvaluatorFactoryTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowPipelineJobTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/TestDataflowRunnerTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/sideinput/SideInputStateFetcher.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/PartialGroupByKeyParDoFnsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/DockerEnvironmentFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOTest.java
Labels: java, io, runners, dataflow, direct, gcp, jdbc, fn-execution

#33988 sdks/go: require type registrations in Native BigQuery IO
  sdks/go/pkg/beam/io/bigqueryio/bigquery.go
  sdks/go/pkg/beam/io/bigqueryio/bigquery_test.go
Labels: go, io, gcp, Next Action: Reviewers

#34055 Fix PostRelease Nightly Snapshot job
  examples/java/src/main/java/org/apache/beam/examples/complete/game/utils/WriteWindowedToBigQuery.java
  release/src/main/groovy/MobileGamingCommands.groovy
  release/src/main/groovy/mobilegaming-java-dataflow.groovy
  release/src/main/groovy/mobilegaming-java-direct.groovy
Labels: java, build, examples

#33574 Bump SLF4J from 1.7.30 to 2.0.16.
  .github/workflows/beam_PerformanceTests_SparkReceiver_IO.yml
  CHANGES.md
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/spark/3/build.gradle
  runners/spark/spark_runner.gradle
  sdks/java/extensions/arrow/build.gradle
  sdks/java/io/cdap/build.gradle
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/sparkreceiver/3/README.md
  sdks/java/io/sparkreceiver/3/build.gradle
  sdks/java/io/sparkreceiver/3/src/main/java/org/apache/beam/sdk/io/sparkreceiver/HasOffset.java
  sdks/java/io/sparkreceiver/3/src/main/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFn.java
  sdks/java/io/sparkreceiver/3/src/main/java/org/apache/beam/sdk/io/sparkreceiver/ReceiverBuilder.java
  sdks/java/io/sparkreceiver/3/src/main/java/org/apache/beam/sdk/io/sparkreceiver/SparkConsumer.java
  sdks/java/io/sparkreceiver/3/src/main/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIO.java
  sdks/java/io/sparkreceiver/3/src/main/java/org/apache/beam/sdk/io/sparkreceiver/WrappedSupervisor.java
  sdks/java/io/sparkreceiver/3/src/main/java/org/apache/beam/sdk/io/sparkreceiver/package-info.java
  sdks/java/io/sparkreceiver/3/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ArrayBufferDataReceiver.java
  sdks/java/io/sparkreceiver/3/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ByteBufferDataReceiver.java
  sdks/java/io/sparkreceiver/3/src/test/java/org/apache/beam/sdk/io/sparkreceiver/CustomReceiverWithOffset.java
  sdks/java/io/sparkreceiver/3/src/test/java/org/apache/beam/sdk/io/sparkreceiver/IteratorDataReceiver.java
  sdks/java/io/sparkreceiver/3/src/test/java/org/apache/beam/sdk/io/sparkreceiver/RabbitMqReceiverWithOffset.java
  sdks/java/io/sparkreceiver/3/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ReadFromSparkReceiverWithOffsetDoFnTest.java
  sdks/java/io/sparkreceiver/3/src/test/java/org/apache/beam/sdk/io/sparkreceiver/ReceiverBuilderTest.java
  sdks/java/io/sparkreceiver/3/src/test/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIOIT.java
  sdks/java/io/sparkreceiver/3/src/test/java/org/apache/beam/sdk/io/sparkreceiver/SparkReceiverIOTest.java
  settings.gradle.kts
Labels: java, build, io, extensions, runners, spark, dataflow, gcp

#34019 Fix Java GCP-IO Direct job
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkRowUpdateIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkSchemaUpdateIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/RampupThrottlingFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/healthcare/HL7v2IOReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamOrderedWithinKeyIT.java
Labels: java, io, gcp

#34044 Avoid missing hashlib.file_digest for Python < 3.11.
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_provider_unit_test.py
Labels: python, Next Action: Reviewers, yaml

#34036 add equals/hashCode to avoid coder warning
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/KafkaSourceConsumerFn.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/KafkaSourceConsumerFnTest.java
Labels: java, io, Next Action: Reviewers

#34067 Pass extra write args from AlloyDB writer to WriteToJdbc.
  sdks/python/apache_beam/ml/rag/ingestion/alloydb.py
Labels: python

#34051 Add an ExtractWindowingInfo transform.
  sdks/python/apache_beam/yaml/examples/transforms/aggregation/combine_sum_windowed.yaml
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_mapping_test.py
Labels: python, Next Action: Reviewers, yaml

#33995 Preempt issubclass error for generic types
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#33999 Add support for collections.abc.Sequence
  sdks/python/apache_beam/transforms/stats.py
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers, slow-review

#34050 Create a listing of YAML examples for the docs.
  sdks/python/apache_beam/yaml/examples/regex_matches.yaml
  sdks/python/apache_beam/yaml/examples/simple_filter.yaml
  sdks/python/apache_beam/yaml/examples/simple_filter_and_combine.yaml
  sdks/python/apache_beam/yaml/examples/wordcount_minimal.yaml
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
Labels: python, yaml

#34071 Fix Go Load tests CoGBK and GBK
  .github/workflows/beam_LoadTests_Go_CoGBK_Flink_batch.yml
  .github/workflows/beam_LoadTests_Go_GBK_Flink_Batch.yml
  .github/workflows/load-tests-pipeline-options/go_CoGBK_Flink_Batch_MultipleKey.txt
Labels: build, Next Action: Reviewers

#34083 Fix the case when update_compatibility_version is used without argument.
  sdks/python/apache_beam/options/pipeline_options.py
Labels: python

#34082 Enable splitting up docker publish workflow
  build.gradle.kts
Labels: build

#34085 [Cherry pick] Enable splitting up docker publish workflow (#34082)
  build.gradle.kts
Labels: build

#34090 Enable skipping individual python docker images
  sdks/python/container/build.gradle
Labels: python, docker

#34091 [Cherry pick] Enable skipping individual python docker images
  sdks/python/container/build.gradle
Labels: python, docker

#34092 Fix lint errors
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkRowUpdateIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkSchemaUpdateIT.java
Labels: java, io, gcp

#34088 Fix expansion service parsing in Python SDK for rc build
  sdks/python/apache_beam/utils/subprocess_server.py
  sdks/python/apache_beam/utils/subprocess_server_test.py
Labels: python, Next Action: Reviewers

#34062 Allow users to specify custom audit entries in pipeline options.
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_test.py
Labels: python, io, gcp, Next Action: Reviewers

#34079 Update docstring in kafka.py for ReadFromKafka transform.
  sdks/python/apache_beam/io/kafka.py
Labels: python, io, Next Action: Reviewers

#34106 Add alloydb language connector to schemaio expansion service.
  sdks/java/extensions/schemaio-expansion-service/build.gradle
Labels: java, extensions

#34059 (fix #34038) Use CivilTimeEncoder to encode Time values in AvroGenericRecordToStorageApiProto
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#34119 Fix PostRelease Nightly Snapshot job
  release/src/main/groovy/mobilegaming-java-dataflow.groovy
Labels: build

#34054 Bump to Mokito 4
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/flink/flink_runner.gradle
  runners/flink/src/test/java/org/apache/beam/runners/flink/metrics/FlinkMetricContainerTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerStaticTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/util/PackageUtilTest.java
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/HotKeyLoggerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateInternalsTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/BundleFinalizationHandlersTest.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/ClassicBundleManagerTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/SparkExecutableStageFunctionTest.java
  sdks/java/build-tools/src/main/resources/beam/checkstyle/checkstyle.xml
  sdks/java/expansion-service/build.gradle
  sdks/java/io/google-cloud-platform/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1Test.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/firestore/BaseFirestoreV1WriteFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIOExternalTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ChildPartitionsRecordActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDaoTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/testing/BigqueryClientTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/testing/BigqueryMatcherTest.java
  sdks/java/io/hadoop-format/src/test/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIOReadTest.java
  sdks/java/io/influxdb/build.gradle
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaWriter.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOExternalTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/ProducerRecordCoderTest.java
Labels: java, build, io, runners, spark, dataflow, gcp, hadoop, kafka, flink, fn-execution, samza, Next Action: Reviewers

#34103 Update routing of types into convert_to_beam_type in normalize()
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python

#34121 Coherce values in assert_that to lists from iterables
  sdks/python/apache_beam/testing/util.py
Labels: python, Next Action: Reviewers

#34122 Update Dataflow containers
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#34111 Fix flakes in FanOutStreamingEngineWorkerHarnessTest
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
Labels: runners, dataflow, Next Action: Reviewers

#34123 Add log4j2 deps for spark validatesRunner tasks.
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_SparkStructuredStreaming.json
  runners/spark/spark_runner.gradle
Labels: build, runners, spark, Next Action: Reviewers
