Repository apache/beam, pull requests merged in 2025-03, with the labels that each got.

#34137 Update 2024.md
  contributor-docs/discussion-docs/2024.md
Labels: Next Action: Reviewers

#34097 Automatically refresh Performance Metrics Graphs using Looker
  .github/workflows/refresh_looker_metrics.yml
  .test-infra/tools/refresh_looker_metrics.py
Labels: build, infra, Next Action: Reviewers

#34136 Make pydoc docstring reflecting deprecated
  sdks/python/apache_beam/utils/annotations.py
  sdks/python/apache_beam/utils/annotations_test.py
Labels: python, Next Action: Reviewers

#34086 Update republish workflow to split docker pushes
  .github/workflows/republish_released_docker_containers.yml
Labels: build

#34087 Add resource hint capabilities to YAML.
  sdks/python/apache_beam/yaml/examples/transforms/elementwise/map_to_fields_with_resource_hints.yaml
  sdks/python/apache_beam/yaml/main.py
  sdks/python/apache_beam/yaml/pipeline.schema.yaml
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
  website/www/site/content/en/documentation/runtime/resource-hints.md
Labels: python, website, yaml

#34105 Use bigdataoss 3.x-compatible API in BigQueryIO's BatchLoads
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
Labels: java, io, gcp, Next Action: Reviewers

#34080 Spark Runner : Replace queueStream with custom DStream in Spark streaming Flatten transform
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_SparkStructuredStreaming.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark_Java11.json
  runners/spark/src/main/java/org/apache/beam/runners/spark/TestSparkPipelineOptions.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/TestSparkRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SingleEmitInputDStream.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkStreamingPortablePipelineTranslator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/StreamingTransformTranslator.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/SingleEmitInputDStreamTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/StreamingTransformTranslatorTest.java
Labels: build, runners, spark, Next Action: Reviewers

#34128 Add explicit schema support to JdbcIO read and xlang transform.
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProvider.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcSchemaIOProviderTest.java
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
  sdks/python/apache_beam/io/jdbc.py
Labels: python, java, io, jdbc, Next Action: Reviewers

#34163 updated Go to 1.24.0
  .github/actions/setup-environment-action/action.yml
  .github/gh-actions-self-hosted-runners/arc/images/Dockerfile
  .github/workflows/build_release_candidate.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  dev-support/docker/Dockerfile
  playground/infrastructure/cloudbuild/playground_ci_examples.sh
  sdks/go/run_with_go_version.sh
Labels: go, build, Next Action: Reviewers

#34134 [Java] Allow users to specify GCS custom audit entries in pipeline options
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptions.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/Transport.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/options/GcsOptionsTest.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/util/TransportTest.java
Labels: java, extensions, gcp, Next Action: Reviewers

#34133 Add sleep to give enough time for server to be up
  sdks/java/io/mqtt/src/test/java/org/apache/beam/sdk/io/mqtt/MqttIOTest.java
Labels: java, io, mqtt, Next Action: Reviewers

#34153 Enable kafka metrics by default for streaming dataflow jobs on v1
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOInitializer.java
Labels: java, io, kafka, Next Action: Reviewers

#34146 [Java] Fix UnboundedReaderAsSdfFn to avoid using unstarted unbounded reader.
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/Read.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/ReadTest.java
Labels: java, Next Action: Reviewers

#34170 Run Python Postcommit on High mem 22. Increase max nodes and replicas
  .github/gh-actions-self-hosted-runners/arc/environments/beam.env
  .github/workflows/beam_PostCommit_Python.yml
Labels: build

#34102 fix for adding unexpected Empty Records in Nested Arrays in BigQueryIO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#34169 Add Sequences support to Breaking Changes
  CHANGES.md
Labels: Next Action: Reviewers

#34072 Updates Managed Javadocs and pydocs to refer to runner specific features
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/python/apache_beam/transforms/managed.py
Labels: python, java

#33772 [Spark] Skip unused outputs of ParDo in SparkRunner (#33771)
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/ParDoTranslatorBatch.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/DependentTransformsVisitor.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/EvaluationContext.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/TransformTranslator.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/DependentTransformsVisitorTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/RDDTreeParser.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/TransformTranslatorTest.java
Labels: runners, spark, Next Action: Reviewers, slow-review

#34182 Install docker compose in PostCommit Python Xlang Gcp Direct to run xlang_jdbc tests in xlang direct workflow.
  .github/workflows/beam_PostCommit_Python_Xlang_Gcp_Direct.yml
Labels: build

#34185 Fix cleanPython
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#34184 Add AlloyDB embeddings colab.
  examples/notebooks/beam-ml/alloydb_product_catalog_embeddings.ipynb
Labels: examples, Next Action: Reviewers

#34183 Correctly parse labels if they are passed as a single string instead of a list
  sdks/python/apache_beam/runners/dataflow/internal/apiclient.py
  sdks/python/apache_beam/runners/dataflow/internal/apiclient_test.py
Labels: python, runners

#34156 Alloy language connector
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  sdks/python/apache_beam/ml/rag/ingestion/alloydb.py
  sdks/python/apache_beam/ml/rag/ingestion/alloydb_it_test.py
Labels: python, build

#34186 Catch union-of-iterables case in get_yielded_type()
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#34177 Add test ensuring pipeline options observes kwargs.
  sdks/python/apache_beam/options/pipeline_options_test.py
Labels: python, Next Action: Reviewers

#34192 Remove retry count assertion from testInvalidRecordReceived
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
Labels: java, io, gcp

#34180 Fix failing test: Add more time for grpc cleanup
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
Labels: runners, dataflow

#34181 Fix failing test: Increase timeout
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/unbounded/FlinkUnboundedSourceReaderTest.java
Labels: runners, flink, Next Action: Reviewers

#34118 Clarify BigQuery InsertRetryPolicy behavior for non-200 responses
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/InsertRetryPolicy.java
Labels: java, io, gcp, Next Action: Reviewers

#34211 Bump dataflow java container version to beam-master-20250307
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow, Next Action: Reviewers

#34209 Fix PostCommit Java DataflowV2
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkSchemaUpdateIT.java
Labels: java, io, gcp, Next Action: Reviewers

#34232 [AnomalyDetection] Add detectors and some necessary univariate trackers.
  sdks/python/apache_beam/ml/anomaly/base.py
  sdks/python/apache_beam/ml/anomaly/detectors/__init__.py
  sdks/python/apache_beam/ml/anomaly/detectors/iqr.py
  sdks/python/apache_beam/ml/anomaly/detectors/iqr_test.py
  sdks/python/apache_beam/ml/anomaly/detectors/robust_zscore.py
  sdks/python/apache_beam/ml/anomaly/detectors/robust_zscore_test.py
  sdks/python/apache_beam/ml/anomaly/detectors/zscore.py
  sdks/python/apache_beam/ml/anomaly/detectors/zscore_test.py
  sdks/python/apache_beam/ml/anomaly/univariate/base.py
  sdks/python/apache_beam/ml/anomaly/univariate/mad.py
  sdks/python/apache_beam/ml/anomaly/univariate/mad_test.py
  sdks/python/apache_beam/ml/anomaly/univariate/median.py
  sdks/python/apache_beam/ml/anomaly/univariate/median_test.py
  sdks/python/apache_beam/ml/anomaly/univariate/quantile.py
Labels: python

#34237 Clean up ExternalTransformRegistrar
  sdks/java/extensions/schemaio-expansion-service/src/main/java/org/apache/beam/sdk/extensions/schemaio/expansion/ExternalSchemaIOTransformRegistrar.java
Labels: java, extensions, Next Action: Reviewers

#34233 Pin python-snappy==0.6.1
  .github/workflows/python_dependency_tests.yml
  sdks/python/container/base_image_requirements_manual.txt
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
Labels: python, build, docker

#33503 Kafka add counters v1 uw2
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/metrics.proto
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerImpl.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoConstants.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoMetricName.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MetricsContainerImplTest.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MonitoringInfoConstantsTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/DelegatingGauge.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/LabeledMetricNameUtils.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricName.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Metrics.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricsContainer.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/LabeledMetricNameUtilsTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/RpcQosImpl.java
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaMetrics.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSinkMetrics.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaMetricsTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaSinkMetricsTest.java
Labels: java, model, io, runners, dataflow, gcp, kafka, core, Next Action: Reviewers, slow-review

#34241 Update go_tests.yml
  .github/workflows/go_tests.yml
Labels: build, Next Action: Reviewers

#34225 call out the snappy version in the warning message
  sdks/python/apache_beam/io/tfrecordio.py
Labels: python, io, Next Action: Reviewers

#34142 Fix Docker dev environment set up
  dev-support/docker/Dockerfile
  dev-support/docker/pkglist
Labels: Next Action: Reviewers

#34239 Remove obsolete release script.
  release/src/main/scripts/build_release_candidate.sh
Labels: build

#34238 Factor out data file discovery.
  sdks/python/apache_beam/yaml/yaml_io.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_utils.py
Labels: python, Next Action: Reviewers, yaml

#34216 Fix typo on resource hints page.
  website/www/site/content/en/documentation/runtime/resource-hints.md
Labels: website

#34150 Don't attempt to cache the bulk multimap lookup call.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/state/MultimapSideInput.java
Labels: java

#34234 [AnomalyDetection] Add main and auxiliary transforms.
  sdks/python/apache_beam/ml/anomaly/transforms.py
  sdks/python/apache_beam/ml/anomaly/transforms_test.py
Labels: python

#34235 [AnomalyDetection] Refactor code and add more docstrings
  sdks/python/apache_beam/ml/anomaly/aggregations.py
  sdks/python/apache_beam/ml/anomaly/base.py
  sdks/python/apache_beam/ml/anomaly/specifiable.py
  sdks/python/apache_beam/ml/anomaly/thresholds.py
  sdks/python/apache_beam/ml/anomaly/thresholds_test.py
  sdks/python/apache_beam/ml/anomaly/transforms.py
  sdks/python/apache_beam/ml/anomaly/transforms_test.py
Labels: python, Next Action: Reviewers

#34256 Bump dataflow java container version - 20250312
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow, Next Action: Reviewers

#34262 Use same format for next and current release versions
  .github/workflows/cut_release_branch.yml
Labels: build

#34161 Putting the default retry settings which was overridden in Dataflow templates
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#34255 Update DF Python container tag
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners, Next Action: Reviewers

#34217 Add yaml examples generation to the release scripts.
  .github/workflows/build_release_candidate.yml
  sdks/python/build.gradle
Labels: python, build, Next Action: Reviewers

#34140 [Java] Added Metrics Configuration Support to Iceberg Data Writers
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriter.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/RecordWriterManagerTest.java
Labels: java, io, Next Action: Reviewers

#34253 Fix PostCommit Java PVR Spark3 Streaming job
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkStreamingPortablePipelineTranslator.java
Labels: runners, spark

#34231 Update to latest bom
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#34197 Update pinned kafka version to 3.9.0 in Expansion Service.
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Direct.json
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/kafka-390/build.gradle
  settings.gradle.kts
Labels: java, build, io, Next Action: Reviewers

#34246 Fix PostCommit Python ValidatesContainer Dataflow With RC job
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow_With_RC.yml
  sdks/python/container/run_validatescontainer.sh
Labels: python, build, docker

#34266 Update code-change-guide.md
  contributor-docs/code-change-guide.md
Labels: Next Action: Reviewers

#34244 Refactor per worker histogram metrics
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/StageInfoTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/DelegatingHistogram.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricsContainer.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/NoOpGauge.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetrics.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySinkMetricsTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StreamingInsertsMetricsTest.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSinkMetrics.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaMetricsTest.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaSinkMetricsTest.java
Labels: java, io, runners, dataflow, gcp, kafka

#34265 Remove 2.1 and 2.2 and add 2.8 for Kafka compatibility test
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/kafka-211/build.gradle
  sdks/java/io/kafka/kafka-282/build.gradle
  settings.gradle.kts
Labels: java, build, io, kafka, Next Action: Reviewers

#34278 Eliminate springframework dependency in KafkaIO
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ConsumerSpEL.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
Labels: java, io, kafka

#34272 Spark Runner : Fix invalid translateImpulse
  .github/trigger_files/beam_PostCommit_Java_PVR_Spark3_Streaming.json
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkStreamingPortablePipelineTranslator.java
Labels: build, runners, spark, Next Action: Reviewers

#34284 Update join beam doc
  website/www/site/content/en/contribute/attributes.md
  website/www/site/data/en/join_beam.yaml
Labels: website, Next Action: Reviewers

#33891 Use BoundedTrie metric to track lineage in IO
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/Lineage.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/metrics/LineageTest.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/storage/GcsFileSystem.java
  sdks/java/extensions/google-cloud-platform-core/src/test/java/org/apache/beam/sdk/extensions/gcp/storage/GcsFileSystemTest.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/S3FileSystem.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/s3/S3FileSystemTest.java
  sdks/java/io/azure/src/main/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystem.java
  sdks/java/io/azure/src/test/java/org/apache/beam/sdk/io/azure/blobstore/AzureBlobStoreFileSystemTest.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PreparePubsubWriteDoFn.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableReadIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableWriteIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOReadTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOWriteTest.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOTest.java
Labels: java, io, extensions, aws, gcp, jdbc

#34281 Use Avro 1.8-compatible Schema constructors in Storage Write API translator
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
Labels: java, io, gcp, Next Action: Reviewers

#34273 [AnomalyDetection] Support functions and classes as init arguments in specifiable.
  sdks/python/apache_beam/ml/anomaly/specifiable.py
  sdks/python/apache_beam/ml/anomaly/specifiable_test.py
  sdks/python/apache_beam/ml/anomaly/transforms.py
Labels: python, Next Action: Reviewers

#34061 add default port for HostAndPort instances used in Windmill
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/WindmillEndpoints.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/WindmillChannelFactory.java
Labels: runners, dataflow, Next Action: Reviewers

#34297 docs: fix typo in snippets_test.py
  sdks/python/apache_beam/examples/snippets/snippets_test.py
Labels: python, examples, Next Action: Reviewers

#34298 Fix pre/postprocess type hints
  sdks/python/apache_beam/ml/inference/base.py
Labels: python, Next Action: Reviewers

#34304 Better error messages for unavailable providers.
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_test.py
Labels: python, yaml

#34301 Add a STRING format to PubSub reading that interpretes the payload as utf-8 encoded.
  sdks/python/apache_beam/yaml/yaml_io.py
  sdks/python/apache_beam/yaml/yaml_io_test.py
Labels: python, Next Action: Reviewers, yaml

#34306 Add Year and Apache Beam in Copyright
  sdks/python/scripts/generate_pydoc.sh
Labels: python, Next Action: Reviewers

#34313 Honor JAVA_HOME when it is set
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python, Next Action: Reviewers

#34321 Consider workflow flaky if the 5 last runs were failed
  .test-infra/metrics/sync/github/github_runs_prefetcher/code/main.py
Labels: infra, Next Action: Reviewers

#34315 added test_accessing_valueprovider_info_after_run
  sdks/python/apache_beam/examples/snippets/snippets.py
  sdks/python/apache_beam/examples/snippets/snippets_test.py
Labels: python, examples, Next Action: Reviewers

#34320 Fix Precommit SQL
  sdks/java/io/kafka/build.gradle
Labels: java, io, kafka, Next Action: Reviewers

#34328 Bump golang.org/x/net from 0.35.0 to 0.37.0 in /sdks
  sdks/go.mod
  sdks/go.sum
Labels: go

#34165 [KafkaIO] Fix average record size data race and backlog estimation
  build.gradle.kts
  sdks/java/io/kafka/jmh/build.gradle.kts
  sdks/java/io/kafka/jmh/src/main/java/org/apache/beam/sdk/io/kafka/jmh/KafkaIOUtilsBenchmark.java
  sdks/java/io/kafka/jmh/src/main/java/org/apache/beam/sdk/io/kafka/jmh/package-info.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOUtils.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
  settings.gradle.kts
Labels: java, build, io, kafka, Next Action: Reviewers

#34310 [AnomalyDetection] Refactor and improve Specifiable
  sdks/python/apache_beam/ml/anomaly/base.py
  sdks/python/apache_beam/ml/anomaly/specifiable.py
  sdks/python/apache_beam/ml/anomaly/specifiable_test.py
Labels: python

#34073 Allow declaration of external dependencies for YAML UDFs.
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/portability/expansion_service_main.py
  sdks/python/apache_beam/runners/portability/fn_api_runner/worker_handlers.py
  sdks/python/apache_beam/utils/subprocess_server.py
  sdks/python/apache_beam/yaml/examples/testing/examples_test.py
  sdks/python/apache_beam/yaml/examples/transforms/elementwise/map_to_fields_with_deps.yaml
  sdks/python/apache_beam/yaml/examples/transforms/elementwise/map_to_fields_with_java_deps.yaml
  sdks/python/apache_beam/yaml/yaml_enrichment_test.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/setup.py
Labels: python, runners, yaml

#34311 [AnomalyDetection] Support offline detectors
  sdks/python/apache_beam/ml/anomaly/detectors/offline.py
  sdks/python/apache_beam/ml/anomaly/transforms.py
  sdks/python/apache_beam/ml/anomaly/transforms_test.py
Labels: python

#34303 Add option to disable Kafka metrics
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOInitializer.java
Labels: java, io, kafka, Next Action: Reviewers

#34327 Enable xlang access for SQS read functionality
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/providers/SqsReadConfiguration.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/providers/SqsReadSchemaTransformProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/providers/package-info.java
  sdks/java/io/amazon-web-services2/src/test/java/org/apache/beam/sdk/io/aws2/sqs/providers/SqsReadSchemaTransformProviderTest.java
Labels: java, io, aws, Next Action: Reviewers

#34292 [Dataflow Streaming] WindmillTimerInternals: Use a single map to store timer data + liveness
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternals.java
Labels: runners, dataflow

#34057 add equals hashCode to BoundedToUnboundedSourceAdapter
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/construction/UnboundedReadFromBoundedSource.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/construction/UnboundedReadFromBoundedSourceTest.java
Labels: java, Next Action: Reviewers

#34335 Remove cancelled tasks from ReadOperation queue when shutting down
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/common/worker/ReadOperation.java
Labels: runners, dataflow, Next Action: Reviewers

#34305 More precise binary operation inference.
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
Labels: python

#34250 Fix precommit flink container
  .github/workflows/beam_PreCommit_Flink_Container.yml
  .github/workflows/flink-tests-pipeline-options/python_Combine_Flink_Batch_small.txt
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, infra

#34323 Aggregation option in Kinesis Writer Python sdk
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisTransformRegistrar.java
  sdks/python/apache_beam/io/external/xlang_kinesisio_it_test.py
  sdks/python/apache_beam/io/kinesis.py
Labels: python, java, io, aws, Next Action: Reviewers

#34294 Revert Skip BoundedTrie on Dataflow till service is have BoundedTrie …
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Dataflow.json
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainerTest.java
Labels: build, runners, dataflow, Next Action: Reviewers

#34336 Fix pandas doctests sensitive to NumpyExtensionArray formatting.
  sdks/python/apache_beam/dataframe/doctests.py
Labels: python, Next Action: Reviewers

#34351 Fix relative path yaml provider error when no base provided.
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, yaml

#33086 Avoid holding data elements alive via stack frame gc roots.
  sdks/java/core/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataInboundObserver.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
Labels: java

#34359 Remove finalizers from sdb-cluster before deleting singlestoreio namespaces
  .test-infra/tools/stale_k8s_workload_cleaner.sh
Labels: infra, Next Action: Reviewers

#34208 [Python] File staging to user worker support
  CHANGES.md
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/portability/stager.py
  sdks/python/apache_beam/runners/portability/stager_test.py
Labels: python, runners, Next Action: Reviewers

#34364 Revert "Support directory separator for Python local filesystem"
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/io/textio_test.py
Labels: python, io, Next Action: Reviewers

#34366 Kafta Table consumer properties feature for beamSQL
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProvider.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderTest.java
Labels: java, extensions, sql

#34369 update the changes.md by adding 2.65.0
  CHANGES.md
Labels: Next Action: Reviewers

#34275 Add sdf kafka poll latencies
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MetricsContainerImpl.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodings.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
Labels: java, io, runners, kafka, core

#34368 remove private ipv6 check
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
Labels: runners, dataflow

#34371 Fix version on the master
  release/src/main/scripts/set_version.sh
Labels: build, Next Action: Reviewers

#34378 Perform correct release version validation
  release/src/main/scripts/set_version.sh
Labels: build

#34258 Fail Fast if Resources Do Not Exist in Kafka Cluster
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedSource.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/WatchForKafkaTopicPartitions.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, io, kafka, Next Action: Reviewers

#34362 Mention __init__.py, which is customary for packages.
  website/www/site/content/en/documentation/sdks/python-pipeline-dependencies.md
Labels: website

#34382 Update verify_release_build.sh
  release/src/main/scripts/verify_release_build.sh
Labels: build, Next Action: Reviewers

#34251 Add streaming example to AlloyDB colab.
  examples/notebooks/beam-ml/alloydb_product_catalog_embeddings.ipynb
Labels: examples, Next Action: Reviewers

#34375 Fix PostCommit TransformService Direct job
  sdks/python/apache_beam/runners/portability/expansion_service_main.py
Labels: python, runners, Next Action: Reviewers

#34400 CP: Perform correct release version validation (#34378)
  release/src/main/scripts/set_version.sh
Labels: build

#34405 Enforce ordering to avoid svn conflicts
  .github/workflows/build_release_candidate.yml
Labels: build

#34401 Update build.gradle
  sdks/python/build.gradle
Labels: python

#34406 Update build.gradle (#34401)
  sdks/python/build.gradle
Labels: python

#34354 Create a varint32 coder and used it for RowCoder
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  sdks/python/apache_beam/coders/coder_impl.pxd
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/coders/row_coder.py
  sdks/python/apache_beam/coders/row_coder_test.py
  sdks/python/apache_beam/coders/slow_stream.py
  sdks/python/apache_beam/coders/stream.pxd
  sdks/python/apache_beam/coders/stream.pyx
  sdks/python/apache_beam/coders/stream_test.py
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
  sdks/python/apache_beam/utils/subprocess_server.py
Labels: python, build, io

#34404 Factor out a get_default_sql_provider() function.
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#34409 Add warning comment so that folks don't change this
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, yaml

#34418 [Dataflow Streaming] Improve exception handling in PubsubSink to rest stream to prevent precondition exception on reuse
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/PubsubSink.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/PubsubSinkTest.java
Labels: runners, dataflow, Next Action: Reviewers

#34345 Add docs for yaml dependencies.
  CHANGES.md
  sdks/python/apache_beam/yaml/readme_test.py
  website/www/site/content/en/documentation/sdks/yaml-udf.md
Labels: python, website, yaml

#34413 track GetWork from WindmillWorker to UserWorker in proxyless path
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GetWorkTimingInfosTracker.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GetWorkTimingInfosTrackerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
Labels: runners, dataflow, Next Action: Reviewers

#34282 Fix programming guide python reference for combining pcollection into a single value
  website/www/site/content/en/documentation/programming-guide.md
Labels: website, Next Action: Reviewers

#34439 tolerate integer overflow when encoding varint32
  .github/trigger_files/beam_PostCommit_XVR_Direct.json
  .github/trigger_files/beam_PostCommit_XVR_PythonUsingJavaSQL_Dataflow.json
  sdks/python/apache_beam/coders/coder_impl.py
  sdks/python/apache_beam/coders/stream.pxd
  sdks/python/apache_beam/coders/stream.pyx
Labels: python, build

#34442 Remove dependency of core-runners in kafka:io
  sdks/java/io/kafka/build.gradle
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSinkMetrics.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaSinkMetricsTest.java
Labels: java, io, kafka

#34414 Use list instead of set to make type hint serialization deterministic
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python

#34412 Update build.gradle
  sdks/python/build.gradle
Labels: python, Next Action: Reviewers

#34376 [Java] Improve Java FnStatus page to include bundle start time, oldest bundles by start time, and total bundles.
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/status/BeamFnStatusClient.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ExecutionStateSamplerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/status/BeamFnStatusClientTest.java
Labels: java

#34214 Move ExecutionStateTracker.nextBundleLullDurationReportMs reset attempt to resolve race detection
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateTracker.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/common/worker/MapTaskExecutorTest.java
Labels: runners, dataflow, core

#34421 correcting array truncation logic (resolves #34276)
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#34374 adding google-crc32c
  sdks/python/apache_beam/io/tfrecordio.py
Labels: python, io, Next Action: Reviewers

#34399 upgraded gcp-bom to 26.57.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#34449 Add known protobuf issue
  CHANGES.md
  website/www/site/content/en/blog/beam-2.63.0.md
Labels: website

#34453 Update run_rc_validation.yml
  .github/actions/common-rc-validation/action.yaml
  .github/workflows/run_rc_validation.yml
Labels: build, Next Action: Reviewers

#34448 extend timeout for beam_PreCommit_Java_GCP_IO_Direct and beam_PreCommit_Java actions
  .github/workflows/beam_PreCommit_Java.yml
  .github/workflows/beam_PreCommit_Java_GCP_IO_Direct.yml
Labels: build, Next Action: Reviewers

#34024 #34009 avro generic record to beam row conversion added support for a…
  build.gradle.kts
  buildSrc/build.gradle.kts
  sdks/java/extensions/avro/build.gradle
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtils.java
  sdks/java/extensions/avro/src/test/avro/org/apache/beam/sdk/extensions/avro/schemas/logicaltypes/logical-types.avsc
  sdks/java/extensions/avro/src/test/java/org/apache/beam/sdk/extensions/avro/schemas/utils/AvroUtilsTest.java
Labels: java, build, extensions, Next Action: Reviewers

#34443 Remove legacy setup.py clean command
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#34458 Avoid hard dependency on clonevirtualenv.
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, yaml

#34464 Expose drain_mode in windmill proto
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: runners, dataflow

#34466 Update run_rc_validation_java_mobile_gaming.yml
  .github/workflows/run_rc_validation_java_mobile_gaming.yml
Labels: build, Next Action: Reviewers

#34472 added run_rc_validation_python_mobile_gaming.yml
  .github/workflows/run_rc_validation_python_mobile_gaming.yml
Labels: build

#34473 Update run_rc_validation_python_mobile_gaming.yml
  .github/workflows/run_rc_validation_python_mobile_gaming.yml
Labels: build, Next Action: Reviewers

#34422 Added blog post for 2.64.0
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.63.0.md
  website/www/site/content/en/blog/beam-2.64.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#34478 Added a new RC validation workflow for Java quickstart
  .github/workflows/run_rc_validation_java_quickstart.yml
Labels: build, Next Action: Reviewers

#34417 Feature: Yaml JdbcIO partitioning for ReadRows
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProvider.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProviderTest.java
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: java, io, jdbc, Next Action: Reviewers

#34477 warning for copy_tests_from_docs
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#34487 Fix looker metrics
  .github/workflows/refresh_looker_metrics.yml
  website/www/site/data/performance.yaml
Labels: build, website, Next Action: Reviewers

#34489 Fix Spanner NPE when withHost called with null or empty host
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  website/www/site/content/en/blog/beam-2.64.0.md
Labels: java, website, io, gcp, Next Action: Reviewers, spanner

#34491 Adds instructions regarding building the Go SDK harness container for Dataflow
  contributor-docs/code-change-guide.md
  sdks/go/README.md
Labels: go, Next Action: Reviewers
