Repository apache/beam, pull requests merged in 2025-09, with the labels that each got.

#36021 refactor(build): update changelog formatting in gradle task
  CHANGES.md
  build.gradle.kts
  contributor-docs/code-change-guide.md
Labels: Next Action: Reviewers

#35965 Allow stateful exception handling
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/core_test.py
Labels: python, Next Action: Reviewers

#35477 Support Protobuf 6.x.
  sdks/python/apache_beam/runners/worker/data_sampler_test.py
  sdks/python/setup.py
Labels: python, runners, Next Action: Reviewers, slow-review

#36028 [KafkaIO] Only retrieve the shared caches once during setup in ReadFromKafkaDoFn
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/ReadFromKafkaDoFn.java
Labels: java, io, kafka, Next Action: Reviewers

#36050 Comment send email action
  .github/workflows/beam_IODatastoresCredentialsRotation.yml
  .github/workflows/beam_MetricsCredentialsRotation.yml
  .github/workflows/beam_Metrics_Report.yml
  .github/workflows/beam_PostCommit_Java_BigQueryEarlyRollout.yml
Labels: build, Next Action: Reviewers

#36035 Update notebook to use embedding gemma
  examples/notebooks/beam-ml/data_preprocessing/huggingface_text_embeddings.ipynb
Labels: examples

#36036 Add Iceberg to AlloyDB Blueprint
  sdks/python/apache_beam/yaml/examples/testing/examples_test.py
  sdks/python/apache_beam/yaml/examples/transforms/blueprint/iceberg_to_alloydb.yaml
Labels: python, Next Action: Reviewers, yaml

#36012 [YAML] Fraud Detection MLOps Workflow Example
  sdks/python/apache_beam/yaml/examples/transforms/ml/fraud_detection/README.md
  sdks/python/apache_beam/yaml/examples/transforms/ml/fraud_detection/fraud_detection_mlops_beam_yaml_sdk.ipynb
Labels: python, Next Action: Reviewers, yaml

#36052 fix(Partition): support numpy integer types in partition validation
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/core_test.py
Labels: python, Next Action: Reviewers

#36064 Update beam_PreCommit_Whitespace.yml to run validateChanges
  .github/workflows/beam_PreCommit_Whitespace.yml
Labels: build, Next Action: Reviewers

#36074 YAML example suite minor updates
  sdks/python/apache_beam/yaml/examples/README.md
  sdks/python/apache_beam/yaml/examples/transforms/ml/fraud_detection/fraud_detection_mlops_beam_yaml_sdk.ipynb
Labels: python, yaml

#34912 Added documentation for return vs yield usage in DoFn.process()
  website/www/site/content/en/documentation/programming-guide.md
Labels: website, Next Action: Reviewers

#36068 Logs the BigQuery error that caused the load job failure (resolves #1…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java
Labels: java, io, gcp, Next Action: Reviewers

#36056 Fix MqttIO read checkpoint logic
  sdks/java/io/mqtt/src/main/java/org/apache/beam/sdk/io/mqtt/MqttIO.java
  sdks/java/io/mqtt/src/test/java/org/apache/beam/sdk/io/mqtt/MqttIOTest.java
Labels: java, io, mqtt

#36049 Correctly exclude prism when using external transforms
  sdks/python/apache_beam/runners/direct/direct_runner.py
Labels: python, runners

#35561 [GrowableOffsetRangeTracker] Use UnsignedLong instead of BigDecimal to calculate progress
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/GrowableOffsetRangeTracker.java
Labels: java, Next Action: Reviewers, slow-review, reassigned-reviewers

#36098 Fix PostCommit Python job
  sdks/python/test-suites/portable/common.gradle
Labels: python

#36103 Fix JDBC type validation to check for empty strings in Postgres
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/ReadFromPostgresSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/WriteToPostgresSchemaTransformProvider.java
Labels: java, io, jdbc, Next Action: Reviewers

#36104 Cherrypick #36098
  sdks/python/test-suites/portable/common.gradle
Labels: python, Next Action: Reviewers

#36076 [YAML] - update readme to correct pipeline calls
  sdks/python/apache_beam/yaml/examples/transforms/jinja/import/README.md
  sdks/python/apache_beam/yaml/examples/transforms/jinja/include/README.md
Labels: python, Next Action: Reviewers, yaml

#35473 [2/2] sdks/python: enrich data with CloudSQL [PostgreSQL, MySQL, SQLServer]
  .github/workflows/beam_PreCommit_Python_Coverage.yml
  CHANGES.md
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/enrichment.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/enrichment_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/cloudsql.py
  sdks/python/apache_beam/transforms/enrichment_handlers/cloudsql_it_test.py
  sdks/python/tox.ini
  website/www/site/content/en/documentation/transforms/python/elementwise/enrichment-cloudsql.md
  website/www/site/content/en/documentation/transforms/python/elementwise/enrichment.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: python, build, website, examples

#36111 [2.67.0 postrelease] Fix CVE-2025-48734, CVE-2024-13009 (#36106)
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/worker/build.gradle
  sdks/java/extensions/sql/hcatalog/build.gradle
Labels: java, build, extensions, runners, sql, dataflow

#36027 feat(pubsub): support batch mode in WriteToPubSub transform
  .github/trigger_files/beam_PostCommit_Python_ValidatesRunner_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Dataflow.json
  CHANGES.md
  sdks/python/apache_beam/io/gcp/pubsub.py
  sdks/python/apache_beam/io/gcp/pubsub_integration_test.py
  sdks/python/apache_beam/io/gcp/pubsub_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner.py
  sdks/python/apache_beam/runners/dataflow/ptransform_overrides.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
Labels: python, io, runners, gcp, Next Action: Reviewers

#36143 Sort output before comparison in enrichment test
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/enrichment_test.py
Labels: python, examples, Next Action: Reviewers

#36132 [IcebergIO] pin ORC 1.9.6
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  .github/trigger_files/IO_Iceberg_Managed_Integration_Tests_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Direct.json
  sdks/java/io/iceberg/build.gradle
Labels: java, io

#36146 [Prism] Disable combiner lifting for TriggerAlways
  sdks/go/pkg/beam/runners/prism/internal/handlecombine.go
  sdks/go/pkg/beam/runners/prism/internal/handlecombine_test.go
  sdks/go/pkg/beam/runners/prism/internal/unimplemented_test.go
Labels: go, runners, Next Action: Reviewers, prism

#36090 [Python] Fix: Propagate resource hints through with_exception_handling
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/core_test.py
  sdks/python/apache_beam/transforms/ptransform.py
Labels: python, Next Action: Reviewers

#36178 Changes multimap state keys() tests to not care about order.
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/HarnessMonitoringInfosInstructionHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/state/MultimapUserStateTest.java
Labels: java, Next Action: Reviewers

#36124 Set default redistribute key limit for KafkaIO read.
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOTest.java
Labels: java, io, kafka

#36160 Use distroless container built from HEAD in Dataflow V2 integration tests
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#36187 Bump python SDK harness to beam-master-20250917
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners, Next Action: Reviewers

#36194 Only report timeout duration parsing error during harness start.
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/harness_test.go
Labels: go

#36191 [Go SDK] Propagate paneInfo correctly.
  sdks/go/pkg/beam/beam.shims.go
  sdks/go/pkg/beam/core/runtime/exec/emit.go
  sdks/go/pkg/beam/core/runtime/exec/optimized/emitters.go
  sdks/go/pkg/beam/core/runtime/exec/optimized/emitters.tmpl
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/register/emitter.go
  sdks/go/pkg/beam/register/emitter_test.go
  sdks/go/pkg/beam/runners/vet/testpipeline/testpipeline.shims.go
  sdks/go/pkg/beam/testing/passert/passert.shims.go
  sdks/go/pkg/beam/util/shimx/generate.go
  sdks/go/pkg/beam/x/debug/debug.shims.go
Labels: go, runners, Next Action: Reviewers

#36170 [Dataflow Streaming Java] Fix possible IllegalStateException when grpc streams have deadline exceeded.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/ResettableThrowingStreamObserver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/observers/DirectStreamObserver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/observers/StreamObserverCancelledException.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/ResettableThrowingStreamObserverTest.java
Labels: runners, dataflow

#36202 Allow parquet import to be None
  sdks/python/apache_beam/io/parquetio.py
Labels: python, io, Next Action: Reviewers

#36223 Revert "Install go for python unit tests to use prism runner."
  .github/workflows/python_tests.yml
Labels: build

#36227 [Prism] Fix panic in teststream
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/teststream.go
Labels: go, runners, Next Action: Reviewers, prism

#36185 Add support for PROTO format in YAML Pub/Sub transform
  sdks/python/apache_beam/yaml/yaml_io.py
  sdks/python/apache_beam/yaml/yaml_io_test.py
Labels: python, Next Action: Reviewers, yaml

#36220 [python] Fix output pcollections of composite transforms that return DoOutputsTuple
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
Labels: python, Next Action: Reviewers

#35893 Fix bug when execute DataframeTransform a dictionary of Pcoll
  CHANGES.md
  sdks/python/apache_beam/dataframe/transforms.py
  sdks/python/apache_beam/dataframe/transforms_test.py
Labels: python, Next Action: Reviewers, reassigned-reviewers

#36136 Update Beam website to release 2.68.0
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.68.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers, slow-review

#36265 Allow manually running code_completion_plugin_tests.yml
  .github/workflows/code_completion_plugin_tests.yml
Labels: build, Next Action: Reviewers

#36237 Clarify release-guide.md
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#36255 Fix Build Issues with Iceberg Upgrade
  examples/java/build.gradle
  examples/java/common.gradle
  examples/java/iceberg/build.gradle
Labels: java, examples, Next Action: Reviewers

#36055 Support managed jdbc io (SQLServer)
  model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/external_transforms.proto
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/ReadFromSqlServerSchemaTransformProvider.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/SqlServerSchemaTransformTranslation.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/providers/WriteToSqlServerSchemaTransformProvider.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/providers/SqlServerSchemaTransformTranslationTest.java
  sdks/java/managed/src/main/java/org/apache/beam/sdk/managed/Managed.java
  sdks/python/apache_beam/transforms/managed.py
Labels: python, java, model, io, jdbc, Next Action: Reviewers

#36126 [Prism] Support AfterProcessingTime triggers - part 1
  sdks/go/pkg/beam/runners/prism/internal/engine/strategy.go
  sdks/go/pkg/beam/runners/prism/internal/engine/strategy_test.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
Labels: go, runners, Next Action: Reviewers, prism

#36269 Fix CloudML Benchmarks Dataflow job
  sdks/python/apache_beam/testing/benchmarks/cloudml/requirements.txt
Labels: python, Next Action: Reviewers

#36258 Fix JUnit 5 module
  build.gradle.kts
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/TestPipeline.java
  sdks/java/testing/junit/build.gradle
  sdks/java/testing/junit/src/main/java/org/apache/beam/sdk/testing/TestPipelineExtension.java
  sdks/java/testing/junit/src/test/java/org/apache/beam/sdk/testing/TestPipelineExtensionAdvancedTest.java
  sdks/java/testing/junit/src/test/java/org/apache/beam/sdk/testing/TestPipelineExtensionTest.java
Labels: java, Next Action: Reviewers

#36213 Add GroupByEncryptedKey transform
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#36297 Fix broken PreCommit YAML Xlang Direct
  sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/logicaltypes/OneOfType.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/logicaltypes/LogicalTypesTest.java
Labels: java

#36298 Set latest tag based on branch in sdk and docker snapshots
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
  .github/workflows/beam_Publish_Docker_Snapshots.yml
Labels: build, Next Action: Reviewers

#36303 CONTRIBUTING.md: include workflows README doc reference
  CONTRIBUTING.md
Labels: Next Action: Reviewers

#36317 increase timeout for "Publish Beam SDK Snapshots"
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
Labels: build

#36300 Add option to pickle relative filepaths in cloudpickle.
  sdks/python/apache_beam/internal/cloudpickle/cloudpickle.py
Labels: python

#36329 increase timeout for "Publish Beam SDK Snapshots"
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
Labels: build

#36341 Update python SDK container image
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners
