Repository apache/beam, pull requests merged in 2025-01, with the labels that each got.

#33454 [Cherrypick] Managed BigQuery use file loads with Avro format for better performance
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryFileLoadsSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/PortableBigQueryDestinations.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, io, gcp

#33476 Revert "Update Java expansion service to use distroless"
  sdks/java/expansion-service/container/Dockerfile
Labels: java

#33461 fix error on local-env-setup.sh
  .gitignore
  local-env-setup.sh
Labels: build, Next Action: Reviewers

#33470 Stage beam_Publish_Python_SDK_Distroless_Snapshots.yml
  .github/workflows/beam_Publish_Python_SDK_Distroless_Snapshots.yml
Labels: build, Next Action: Reviewers

#33469 Stage beam_Publish_Java_SDK_Distroless_Snapshots.yml
  .github/workflows/beam_Publish_Java_SDK_Distroless_Snapshots.yml
Labels: build, Next Action: Reviewers

#33480 Update BEAM_DEV_SDK_CONTAINER_TAG for deps update.
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners

#33483 Fix bounded trie merge when merging on empty trie
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/cells_test.py
Labels: python

#33192 Update gcp bom to 26.50.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/io/amazon-web-services2/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/firestore/FirestoreV1.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClient.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubJsonClient.java
Labels: java, build, docker, io, aws, gcp, Next Action: Reviewers

#33438 [#32167][Prism] Use the worker-id gRPC metadata
  sdks/go/pkg/beam/runners/prism/internal/environments.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/server.go
  sdks/go/pkg/beam/runners/prism/internal/worker/bundle_test.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker.go
  sdks/go/pkg/beam/runners/prism/internal/worker/worker_test.go
Labels: go, runners, prism

#33487 Better error message on incorrect package listing.
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#33485 [Distroless] Publish Java SDK distroless variants
  .github/workflows/beam_Publish_Java_SDK_Distroless_Snapshots.yml
Labels: build, Next Action: Reviewers

#33486 Fix bounded trie merge when merging on empty trie
  sdks/python/apache_beam/metrics/cells.py
  sdks/python/apache_beam/metrics/cells_test.py
Labels: python

#33432 Use other fallback coders for protobuf message base class
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test.py
Labels: python

#33412 [java] Fix avro bytes conversion for BQ storage
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers, slow-review

#33501 Fix republish docker branch
  .github/workflows/republish_released_docker_containers.yml
Labels: build

#33380 Adds references to KeyCommitTooLargeException docs
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/OutputTooLargeException.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillSink.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/KeyCommitTooLargeException.java
Labels: runners, dataflow, Next Action: Reviewers

#33493 [#31912] Fix bug in finalization for Prism & fix the Java bundle finalizing tests.
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/teststream.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/preprocess.go
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, go, runners, prism

#33505 Build wheels on gha runners instead of local runners
  .github/workflows/build_wheels.yml
Labels: build

#33293 Add support for Iceberg table identifiers with special characters
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AppendFilesToTables.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/FileWriteResult.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergScanConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergUtils.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/OneTableDynamicDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/PortableIcebergDestinations.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOReadTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergUtilsTest.java
Labels: java, io, Next Action: Reviewers

#33502 Update 2024.md
  contributor-docs/discussion-docs/2024.md
Labels: Next Action: Reviewers

#33418 Adds an SdkHarnessOption that controls whether logging is redirected through the FnApi
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/SdkHarnessOptions.java
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/logging/BeamFnLoggingClientBenchmark.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/LoggingClient.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/LoggingClientFactory.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistryTest.java
Labels: java, Next Action: Reviewers

#32474 [feat 32473] Added soft deadline logic to Spanner Change Stream IO connector.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ChildPartitionsRecordAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DataChangeRecordAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/HeartbeatRecordAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/RestrictionInterrupter.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ChildPartitionsRecordActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DataChangeRecordActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/HeartbeatRecordActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/ReadChangeStreamPartitionDoFnTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/restriction/RestrictionInterrupterTest.java
Labels: java, io, gcp, spanner

#33355 Enable caching in Python tests workflow
  .github/actions/setup-environment-action/action.yml
  .github/workflows/python_tests.yml
Labels: build, Next Action: Reviewers

#33427 Update typehinting code to use primitives and collections types as main types over typing variants
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
Labels: python, Next Action: Reviewers

#33516 Documents the connectors supported via the Managed API
  website/www/site/content/en/documentation/io/connectors.md
Labels: website, Next Action: Reviewers

#33525 Pin protobuf for older hadoop tests
  .github/trigger_files/beam_PostCommit_Java_Hadoop_Versions.json
  sdks/java/io/hadoop-file-system/build.gradle
Labels: java, build, io, hadoop

#33524 [#33449] Return zero elements immediately if the requested number of quantiles is 1.
  sdks/go/pkg/beam/transforms/stats/quantiles.go
  sdks/go/pkg/beam/transforms/stats/quantiles_test.go
Labels: go, Next Action: Reviewers

#33515 [#33513][prism]Handle Time sorted requirement and drop late data.
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/handlepardo.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/job.go
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/ParDoTest.java
Labels: java, go, runners, Next Action: Reviewers, prism

#33315 Add Iceberg support for name-based mapping schema
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/ScanTaskReader.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOReadTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/TestDataWarehouse.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/TestFixtures.java
Labels: java, io, Next Action: Reviewers

#33231 [BigQueryIO] fetch updated schema for newly created Storage API stream writers
  .github/trigger_files/beam_PostCommit_Java_DataflowV2.json
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkSchemaUpdateIT.java
Labels: java, build, io, gcp

#33509 [Iceberg] cleanup FileIO resources
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AppendFilesToTables.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriter.java
Labels: java, build, io, Next Action: Reviewers

#33541 Pin protobuf 3 for debezium
  CHANGES.md
  sdks/java/io/debezium/build.gradle
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubGrpcClient.java
Labels: java, io, gcp

#33542 [#31438] WindowingStrategy Plumbing + AllowedLateness + Fixing Session Windows
  runners/prism/java/build.gradle
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/engine/strategy.go
  sdks/go/pkg/beam/runners/prism/internal/engine/strategy_test.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
  sdks/go/pkg/beam/runners/prism/internal/handlerunner.go
  sdks/go/pkg/beam/runners/prism/internal/jobservices/management.go
  sdks/go/pkg/beam/runners/prism/internal/urns/urns.go
  sdks/python/apache_beam/runners/portability/prism_runner_test.py
Labels: python, go, runners, prism

#33535 Cherry pick for BQIO auto-schema update fix
  .github/trigger_files/beam_PostCommit_Java_DataflowV2.json
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServices.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryServicesImpl.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWriteUnshardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiWritesShardedRecords.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/testing/FakeDatasetService.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/StorageApiSinkSchemaUpdateIT.java
Labels: java, build, io, gcp

#33545 Temporarily skip deleting beam-performancetests-singlestoreio-12661373176
  .test-infra/tools/stale_k8s_workload_cleaner.sh
Labels: infra

#33546 Cherry-pick #33505 to 2.62.0 release branch (Build wheels on gha runners instead of local runners)
  .github/workflows/build_wheels.yml
Labels: build

#33384 Fix TextIO not fully reading a GCS file when decompressive transcoding happens
  CHANGES.md
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_integration_test.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
Labels: python, io, gcp, Next Action: Reviewers

#33551 Cherrypick Iceberg partition value race condition
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  CHANGES.md
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOIT.java
Labels: java, build, io

#33552 Revert "Bump yapf from 0.29.0 to 0.43.0 in /sdks/python"
  sdks/python/pyproject.toml
Labels: python

#33508 Support use staged harness for Dataflow runner v2 job
  sdks/java/container/boot.go
Labels: java, docker, Next Action: Reviewers

#33512 [Dataflow Streaming] Support to receive multiple work items in a single StreamingGetWorkResponseChunk
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/options/DataflowStreamingPipelineOptions.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GetWorkResponseChunkAssembler.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillStreamFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
Labels: runners, dataflow

#33079 Add issue link to disabled TensorRT integration test
  sdks/python/test-suites/dataflow/common.gradle
Labels: python, Next Action: Author

#33539 Add retry logic to each batch method of the GCS IO
  CHANGES.md
  sdks/python/apache_beam/io/gcp/gcsio.py
  sdks/python/apache_beam/io/gcp/gcsio_test.py
Labels: python, io, gcp, Next Action: Reviewers

#33557 Use randbytes in custom LCG random generator
  .github/trigger_files/beam_PreCommit_Flink_Container.json
  sdks/python/apache_beam/testing/fast_test_utils.pxd
  sdks/python/apache_beam/testing/fast_test_utils.pyx
  sdks/python/apache_beam/testing/test_utils.py
  sdks/python/apache_beam/testing/test_utils_test.py
Labels: python, build

#33560 Do not publish javadoc jar when exportJavadoc disabled
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#33538 Replace convert_to_typing_type with PEP 585 equivalent
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/fully_qualified_named_transform.py
  sdks/python/apache_beam/typehints/native_type_compatibility.py
  sdks/python/apache_beam/typehints/native_type_compatibility_test.py
  sdks/python/apache_beam/typehints/schemas.py
Labels: python, Next Action: Reviewers

#33494 [Distroless] Reorganize and refactor Distroless build and test details
  .github/trigger_files/beam_PostCommit_Java_Examples_Dataflow_V2.json
  .github/trigger_files/beam_PostCommit_Python_ValidatesContainer_Dataflow.json
  .github/trigger_files/beam_PostCommit_Python_ValidatesDistrolessContainer_Dataflow.json
  .github/workflows/beam_PostCommit_Java_Examples_Dataflow_V2.yml
  .github/workflows/beam_PostCommit_Java_ValidatesDistrolessContainer_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow.yml
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow_With_RC.yml
  .github/workflows/beam_PostCommit_Python_ValidatesDistrolessContainer_Dataflow.yml
  .github/workflows/beam_Publish_Beam_SDK_Snapshots.yml
  .github/workflows/beam_Publish_Python_SDK_Distroless_Snapshots.yml
  runners/google-cloud-dataflow-java/build.gradle
  sdks/java/container/distroless/Dockerfile
  sdks/java/container/distroless/build.gradle
  sdks/java/container/distroless/common.gradle
  sdks/java/container/distroless/java17/build.gradle
  sdks/java/container/distroless/java21/build.gradle
  sdks/python/container/build.gradle
  sdks/python/container/distroless/Dockerfile
  sdks/python/container/distroless/build.gradle
  sdks/python/container/distroless/common.gradle
  sdks/python/container/distroless/py310/build.gradle
  sdks/python/container/distroless/py311/build.gradle
  sdks/python/container/distroless/py312/build.gradle
  sdks/python/container/distroless/py39/build.gradle
  sdks/python/test-suites/dataflow/build.gradle
  sdks/python/test-suites/dataflow/common.gradle
  settings.gradle.kts
Labels: python, java, build, docker, runners, dataflow, Next Action: Reviewers

#33514 Fix log spam when using a JdbcIO DataSource not support Lineage report
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#33565 Fix yaml environment cloning for dev branches.
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#33482 Place bounded lineage metrics under a new name.
  sdks/python/apache_beam/metrics/metric.py
Labels: python

#33572 [Go SDK] Container Worker pool functionality.
  sdks/go/container/boot.go
  sdks/go/container/pool/workerpool.go
  sdks/go/container/pool/workerpool_test.go
  sdks/go/pkg/beam/options/jobopts/options.go
  sdks/go/pkg/beam/runners/prism/internal/environments.go
  sdks/go/pkg/beam/runners/prism/prism.go
Labels: go, docker, runners, prism

#33523 Update Python typehints in Beam YAML
  sdks/python/apache_beam/yaml/json_utils.py
  sdks/python/apache_beam/yaml/yaml_combine.py
  sdks/python/apache_beam/yaml/yaml_enrichment.py
  sdks/python/apache_beam/yaml/yaml_io.py
  sdks/python/apache_beam/yaml/yaml_join.py
  sdks/python/apache_beam/yaml/yaml_mapping.py
  sdks/python/apache_beam/yaml/yaml_ml.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_utils.py
Labels: python, Next Action: Reviewers, yaml

#33081 Update transforms module to PEP 585 type hints
  sdks/python/apache_beam/transforms/batch_dofn_test.py
  sdks/python/apache_beam/transforms/combinefn_lifecycle_pipeline.py
  sdks/python/apache_beam/transforms/combiners.py
  sdks/python/apache_beam/transforms/enrichment.py
  sdks/python/apache_beam/transforms/enrichment_it_test.py
  sdks/python/apache_beam/transforms/environments.py
  sdks/python/apache_beam/transforms/external.py
  sdks/python/apache_beam/transforms/external_transform_provider.py
  sdks/python/apache_beam/transforms/managed.py
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/resources.py
  sdks/python/apache_beam/transforms/sideinputs.py
  sdks/python/apache_beam/transforms/stats.py
  sdks/python/apache_beam/transforms/timestamped_value_type_test.py
  sdks/python/apache_beam/transforms/userstate.py
  sdks/python/apache_beam/transforms/userstate_test.py
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/apache_beam/transforms/window.py
Labels: python, Next Action: Reviewers

#33368 Support gcs-connector 3.x in GcsUtil
  CHANGES.md
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
Labels: java, extensions, gcp

#33522 Improve memory efficiency in FnApiDoFnRunner
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataReadRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataWriteRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/CombineRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PTransformRunnerFactory.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/AssignWindowsRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataReadRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataWriteRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/CombineRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FlattenRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/MapFnRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/PTransformRunnerFactoryTestContext.java
Labels: java, Next Action: Reviewers

#33586 Fix GitHub Actions workflow status badges
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: build

#33571 Update gcp bom to 26.52.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker, Next Action: Reviewers

#33575 Revert "Add support for Iceberg table identifiers with special characters (#33293)"
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/AppendFilesToTables.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/FileWriteResult.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergReadSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergScanConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergUtils.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/OneTableDynamicDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/PortableIcebergDestinations.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergIOReadTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergUtilsTest.java
Labels: java, build, io

#33001 Add option to adjust ReadChangeStream API timeout to allow longer timeout for longer checkpoint durations
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/BigtableChangeStreamAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/changestreams/dao/DaoFactory.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIOTest.java
Labels: java, io, gcp, Next Action: Reviewers, bigtable

#33605 sdks/python: replace `applymap` with `map` in `DataFrame`
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/apache_beam/runners/interactive/display/pcoll_visualization.py
Labels: python, runners, Next Action: Reviewers

#33609 [Go SDK] Update min Go version to 1.22.10 and deps.
  CHANGES.md
  sdks/go.mod
  sdks/go.sum
Labels: go

#33553 Vendor grpc
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_69_0.groovy
  settings.gradle.kts
  vendor/grpc-1_69_0/build.gradle
Labels: build, vendor

#33566 feat: caches watermark for Spanner change streams
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/ChangeStreamsConstants.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/ActionFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DetectNewPartitionsAction.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/cache/AsyncWatermarkCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/cache/CacheFactory.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/cache/NoOpWatermarkCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/cache/WatermarkCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/cache/package-info.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dofn/DetectNewPartitionsDoFn.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/DetectNewPartitionsActionTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/cache/CacheFactoryTest.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#33585 Fix PerformanceTests xlang KafkaIO Python job
  .github/workflows/beam_PerformanceTests_xlang_KafkaIO_Python.yml
  .github/workflows/performance-tests-pipeline-options/xlang_KafkaIO_Python.txt
Labels: build, Next Action: Reviewers

#33581 [Dataflow Streaming] Avoid calling WorkItem::getSerializedSize
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/SingleSourceWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/WorkItemReceiver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/WorkItemScheduler.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/StreamingWorkScheduler.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/WorkFailureProcessor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkStateTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationStateCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/FanOutStreamingEngineWorkerHarnessTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/harness/WindmillStreamSenderTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutorTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingApplianceWorkCommitterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingEngineWorkCommitterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/WorkFailureProcessorTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/ActiveWorkRefresherTest.java
Labels: runners, dataflow

#33561 Fix/enrichment docs #33012
  examples/notebooks/beam-ml/bigtable_enrichment_transform.ipynb
  website/www/site/content/en/documentation/transforms/python/elementwise/enrichment.md
Labels: website, examples, Next Action: Reviewers

#33622 Revert typing changes to stats.py
  sdks/python/apache_beam/transforms/stats.py
Labels: python

#33598 DatastoreV1.Write, DeleteEntity and DeleteKey can optionally return PCollection
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/DatastoreV1Test.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1WriteIT.java
Labels: java, io, gcp, Next Action: Reviewers

#33607 Add langchain dep to ML tests.
  sdks/python/apache_beam/ml/rag/chunking/langchain_test.py
  sdks/python/setup.py
Labels: python

#33579 Support for Iceberg from YAML via ManagedIO.
  sdks/python/apache_beam/yaml/standard_io.yaml
  sdks/python/apache_beam/yaml/tests/iceberg.yaml
  sdks/python/apache_beam/yaml/yaml_io.py
Labels: python, yaml

#33597 [Dataflow Streaming Appliance] Fix per key commit size validation
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/LargeCommitTest.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/OperationalLimits.java
Labels: runners, dataflow

#33630 Expand documentation about YAML providers.
  website/www/site/content/en/documentation/sdks/yaml-providers.md
  website/www/site/content/en/documentation/sdks/yaml.md
  website/www/site/layouts/partials/section-menu/en/sdks.html
Labels: website, Next Action: Reviewers

#33645 Use local loopback worker from Python expansion services.
  sdks/python/apache_beam/transforms/environments.py
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, yaml

#33613 Don't multiply tests on LogForTesting providers.
  sdks/python/apache_beam/yaml/integration_tests.py
Labels: python, Next Action: Reviewers, yaml

#33443 [yaml] propogate error_handling to windowing composite config
  sdks/python/apache_beam/yaml/yaml_transform.py
  sdks/python/apache_beam/yaml/yaml_transform_unit_test.py
Labels: python, yaml

#33651 [GoSDK + Prism] Support Process env execution.
  CHANGES.md
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
  sdks/go/pkg/beam/core/runtime/graphx/translate_test.go
  sdks/go/pkg/beam/runners/prism/internal/environments.go
Labels: go, runners, prism

#33606 [flink] FlinkRunner initializes the same split twice (#31313)
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Flink.json
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSource.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplitEnumerator.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/source/FlinkSourceSplitEnumeratorTest.java
Labels: build, runners, flink, Next Action: Reviewers

#33641 Added the numpy issues to CHANGES.md
  CHANGES.md
  website/www/site/content/en/blog/beam-2.61.0.md
Labels: Next Action: Reviewers

#33631 Update release-guide.md
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#33683 updated the numpy issues
  CHANGES.md
  website/www/site/content/en/blog/beam-2.61.0.md
Labels: website

#33695 Adjust finalize_release workflow for new git tag syntax/semantics
  .github/workflows/finalize_release.yml
Labels: build

#33696 Ignore robots.txt when finalizing release
  .github/workflows/finalize_release.yml
Labels: build

#33567 Blog post and site update for Release 2.62.0
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.62.0.md
  website/www/site/content/en/get-started/downloads.md
Labels: website, Next Action: Reviewers

#33647 Support relative paths for yaml includes and resources.
  sdks/python/apache_beam/yaml/main.py
  sdks/python/apache_beam/yaml/yaml_io.py
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_provider_unit_test.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, yaml

#33658 Updated the python dependencies (targeted for Beam 2.63.0)
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#33682 Upgrade gcp-bom to 26.53.0
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/container/license_scripts/dep_urls_java.yaml
Labels: java, build, docker

#33705 [prism] Support AnyOf in Prism.
  CHANGES.md
  sdks/go/pkg/beam/runners/prism/internal/environments.go
  sdks/go/pkg/beam/runners/prism/internal/environments_test.go
  sdks/go/pkg/beam/runners/prism/internal/urns/urns.go
Labels: go, runners, prism

#33419 Eliminate benign race condition in DirectStreamObserver and make first and subsequent iterations consistent
  sdks/java/core/src/main/java/org/apache/beam/sdk/fn/stream/DirectStreamObserver.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/fn/stream/DirectStreamObserverTest.java
Labels: java

#33688 [Dataflow Streaming] Increase windmill state cache concurrency level
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateCache.java
Labels: runners, dataflow

#33580 [Dataflow Streaming] Code micro optimizations (1/N)
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillComputationKey.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillTimerInternals.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkState.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/ShardedKey.java
Labels: runners, dataflow

#33709 Fix flaky test detection tool labels
  .test-infra/tools/flaky_test_detection.py
Labels: infra

#33703 Fix distroless related Publish Beam SDK Snapshots
  runners/google-cloud-dataflow-java/build.gradle
  sdks/java/container/distroless/common.gradle
Labels: java, docker, runners, dataflow

#33540 Handle error on source split in BigQueryStorageStreamSource
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/common/worker/WorkProgressUpdater.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryStorageStreamSource.java
Labels: java, io, runners, dataflow, gcp, Next Action: Reviewers

#33718 [Go] Use protojson instead.
  sdks/go/pkg/beam/core/runtime/graphx/translate.go
Labels: go

#33716 More complete YAML provider implementation.
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_provider_unit_test.py
  sdks/python/apache_beam/yaml/yaml_transform.py
Labels: python, Next Action: Reviewers, yaml

#33719 Add multi-release to testing expansion service
  sdks/java/testing/expansion-service/build.gradle
Labels: java, Next Action: Reviewers

#33712 [java] Accept byte array from avro fields for BQ
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#33717 Update Python container
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners, Next Action: Reviewers

#33729 [YAML] Add documentation of YAML-defined YAML-providers to the site.
  website/www/site/content/en/documentation/sdks/yaml-providers.md
Labels: website

#33731 [Dataflow] Replace AtomicLong with LongAdder in LongSumCounterValue to reduce contention between harness threads
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/counters/CounterFactory.java
Labels: runners, dataflow

#33686 [Dataflow Streaming] fix max thread time calculation
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutorTest.java
Labels: runners, dataflow

#33668 pin sentence-transformers==3.3.1
  sdks/python/test-suites/tox/py39/build.gradle
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#33467 Update release finalization to push postrelease branch
  .github/workflows/finalize_release.yml
  .github/workflows/republish_released_docker_containers.yml
Labels: build

#33685 Fix Java KafkaIO Performance test job
  .github/workflows/beam_PerformanceTests_Kafka_IO.yml
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java
Labels: java, build, io, kafka

#33701 [IcebergIO] Use InternalRecordWrapper partition util
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/RecordWriterManagerTest.java
Labels: java, build, io, Next Action: Reviewers

#33745 Revert Revert LargeCommitTest
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/LargeCommitTest.java
Labels: runners, dataflow

#33737 [Dataflow] Use ThreadLocalRandom instead of Random in OutputObjectAndByteCountert o reduce contention
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/common/worker/OutputObjectAndByteCounter.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/common/worker/OutputObjectAndByteCounterTest.java
Labels: runners, dataflow

#33736 [Dataflow Streaming] Optimizing work submit loop
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/Work.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/harness/SingleSourceWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/common/worker/OutputReceiver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GetWorkResponseChunkAssembler.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GetWorkTimingInfosTracker.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/WorkItemReceiver.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/WorkItemScheduler.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/StreamingWorkScheduler.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/FakeWindmillServer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContextTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/WorkerCustomSourcesTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ActiveWorkStateTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/streaming/ComputationStateCacheTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutorTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingApplianceWorkCommitterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingEngineWorkCommitterTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/WorkFailureProcessorTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/ActiveWorkRefresherTest.java
Labels: runners, dataflow

#33591 Add offset-based deduplication to Unbounded Source and Dataflow Runner.
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/internal/CustomSources.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingModeExecutionContext.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/WindmillSink.java
  runners/google-cloud-dataflow-java/worker/windmill/src/main/proto/windmill.proto
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/UnboundedSource.java
Labels: java, runners, dataflow

#33687 [Dataflow Streaming] Reduce contention on work submission
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/util/BoundedQueueExecutor.java
Labels: runners, dataflow

#33754 Fix LoadTests Go GBK Flink Batch job
  .github/workflows/beam_LoadTests_Go_GBK_Flink_Batch.yml
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_100b.txt
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_100kb.txt
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_10b.txt
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_Fanout_4.txt
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_Fanout_8.txt
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_Reiteration_10KB.txt
Labels: build

#33626 make Coder.getEncodedElementByteSize public to allow performance improvements in higher level coders
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/Coder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/LengthPrefixCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/CombineFns.java
Labels: java, io, extensions, runners, dataflow, gcp, fn-execution, protobuf, sketching, Next Action: Reviewers

#33700 Remove print in Tee.expand
  sdks/python/apache_beam/transforms/util.py
Labels: python, Next Action: Reviewers

#33740 Fix python postcommit dependency workflow
  sdks/python/apache_beam/dataframe/frames_test.py
  sdks/python/test-suites/tox/py39/build.gradle
  sdks/python/tox.ini
Labels: python, Next Action: Reviewers

#33759 Fix go combine flink batch workflow
  .github/workflows/beam_LoadTests_Go_Combine_Flink_Batch.yml
  .github/workflows/load-tests-pipeline-options/go_Combine_Flink_Batch_10b.txt
  .github/workflows/load-tests-pipeline-options/go_Combine_Flink_Batch_Fanout_4.txt
  .github/workflows/load-tests-pipeline-options/go_Combine_Flink_Batch_Fanout_8.txt
Labels: build

#33715 [YAML] Use hash rather than path when keying on local packages.
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, yaml

#33625 [Iceberg] Add BQMS test that validates using a BQ query
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/BigQueryMetastoreCatalogIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/HadoopCatalogIT.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/IcebergCatalogBaseIT.java
Labels: java, build, io, Next Action: Reviewers

#33760 Fix go sideinput flink batch load test workflow
  .github/workflows/beam_LoadTests_Go_SideInput_Flink_Batch.yml
  .github/workflows/load-tests-pipeline-options/go_SideInput_Flink_Batch_First_Iterable.txt
  .github/workflows/load-tests-pipeline-options/go_SideInput_Flink_Batch_Iterable.txt
Labels: build

#33408 Kafka add gauge v1
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverter.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/StreamingStepMetricsContainer.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/MetricsToPerStepNamespaceMetricsConverterTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/DelegatingGauge.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricsContainer.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/NoOpGauge.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaMetrics.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaSinkMetrics.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaMetricsTest.java
Labels: java, build, io, runners, dataflow, kafka

#33757 Remove unused OrderedCode from Dataflow runner.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/OrderedCode.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/OrderedCodeTest.java
Labels: runners, dataflow

#33762 Remove old vendored grpc files
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/GrpcVendoring_1_60_1.groovy
  settings.gradle.kts
  vendor/grpc-1_60_1/build.gradle
Labels: build, vendor

#33521 [Spark] Restore memory sensitive GBK translation (#33520)
  runners/spark/3/src/main/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/GroupByKeyTranslatorBatch.java
  runners/spark/3/src/test/java/org/apache/beam/runners/spark/structuredstreaming/translation/batch/GroupByKeyTest.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkCommonPipelineOptions.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/SparkRunner.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/EvaluationContext.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/GroupByKeyVisitor.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/TransformTranslator.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/GroupByKeyVisitorTest.java
Labels: runners, spark, Next Action: Reviewers

#33570 Remove Google Analytics from Beam Website - fixes #33569
  website/www/site/layouts/partials/head.html
  website/www/site/layouts/partials/head_homepage.html
Labels: website, Next Action: Reviewers, slow-review

#33773 Exclude SpannerReadIT.testReadFailsBadSession from Dataflow runner
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#33422 [java] Fix avro logical-types conversions for BQ storage
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/AvroGenericRecordToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#33711 [#21384] Increase sql package test coverage from 35% to 70%
  sdks/go/pkg/beam/transforms/sql/sql_test.go
Labels: go, Next Action: Reviewers

#33775 Increase timeouts in CallTest to reduce flakiness
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/Coder.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/CallTest.java
Labels: java, io

#33779 Fix PostRelease Nightly Snapshot job
  release/src/main/groovy/MobileGamingCommands.groovy
Labels: build, Next Action: Reviewers

#33781 Fix PostCommit Python Examples Spark/Direct jobs
  sdks/python/apache_beam/examples/complete/distribopt.py
  sdks/python/apache_beam/examples/complete/distribopt_test.py
Labels: python, examples

#33784 document how to swap in another model like deepseek
  examples/notebooks/beam-ml/run_inference_huggingface.ipynb
Labels: examples, Next Action: Reviewers

#33761 Revert "Add ability to encode and decode histogram data to portable runners (#33013)"
  runners/core-java/build.gradle
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodings.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/metrics/MonitoringInfoEncodingsTest.java
  sdks/java/core/build.gradle
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/HistogramData.java
  sdks/java/harness/build.gradle
Labels: java, runners, core

#33468 Rename release branch to release-2.XX instead of release-2.XX.0
  .github/workflows/cut_release_branch.yml
  contributor-docs/release-guide.md
  release/src/main/scripts/choose_rc_commit.sh
Labels: build

#33714 More complete type inference for fstrings, etc.
  sdks/python/apache_beam/typehints/opcodes.py
  sdks/python/apache_beam/typehints/row_type.py
  sdks/python/apache_beam/typehints/trivial_inference_test.py
Labels: python

#33782 Update container tags
  runners/google-cloud-dataflow-java/build.gradle
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners, dataflow, Next Action: Reviewers

#33319 Allow annotations to be attached to transforms via a context.
  sdks/python/apache_beam/__init__.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/dataflow/dataflow_runner_test.py
Labels: python, runners, Next Action: Reviewers

#33735 [Dataflow Streaming] Optimize WindmillStateUtil.encodeKey by appending directly to ByteStringOutputStream
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillStateUtil.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/ByteStringOutputStream.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/util/ByteStringOutputStreamTest.java
Labels: java, runners, dataflow

#33787 Use cached license files during pulling licenses.
  sdks/java/container/license_scripts/license_script.sh
  sdks/java/container/license_scripts/manual_licenses/cached/015384cc8d2abbc1a73840114bdd30e5
  sdks/java/container/license_scripts/manual_licenses/cached/04d94f51e8b035cffb43c1b0512af110
  sdks/java/container/license_scripts/manual_licenses/cached/2c1a6d2000d8ce40906ea8a2b0740dd1
  sdks/java/container/license_scripts/manual_licenses/cached/35e56c17ab770479c90682931ea95e5f
  sdks/java/container/license_scripts/manual_licenses/cached/3accf0bb7f1c6dc09be806b037dfa9da
  sdks/java/container/license_scripts/manual_licenses/cached/4233b262305abbc7c78d5cadc73fc8bc
  sdks/java/container/license_scripts/manual_licenses/cached/60146d76c408d35814809fed29b266ab
  sdks/java/container/license_scripts/manual_licenses/cached/66bcec0371241dc9d9ef440963842b0f
  sdks/java/container/license_scripts/manual_licenses/cached/67bccc87c2179ac48a33a798ab74671f
  sdks/java/container/license_scripts/manual_licenses/cached/7893488e771bc120945f863257470425
  sdks/java/container/license_scripts/manual_licenses/cached/7c741e563fc0bfd91ac7328bd1b568bb
  sdks/java/container/license_scripts/manual_licenses/cached/7c927f1e9e208c1f9dd4b5748d86c633
  sdks/java/container/license_scripts/manual_licenses/cached/7cea32e87691963cdc726a5e210aea90
  sdks/java/container/license_scripts/manual_licenses/cached/7d2404d208f60109bf46898895332bbb
  sdks/java/container/license_scripts/manual_licenses/cached/81bcdc70eaf3cdfee5830b0420d4ea83
  sdks/java/container/license_scripts/manual_licenses/cached/8dfe3706fbc9ac83e64e7a5567bed814
  sdks/java/container/license_scripts/manual_licenses/cached/9438d0445963896ef37f597915d9e396
  sdks/java/container/license_scripts/manual_licenses/cached/9e117fb8c0b45eb4bef0f779d98343ab
  sdks/java/container/license_scripts/manual_licenses/cached/b2be83719fd6e5c928dc7bc910c2ba28
  sdks/java/container/license_scripts/manual_licenses/cached/b44af795ebe5a76ed40e6745b030780a
  sdks/java/container/license_scripts/manual_licenses/cached/b5dee6769e44de602d2ed6af6f3cf338
  sdks/java/container/license_scripts/manual_licenses/cached/b8dc7150a4d8b438c1887bd97a3c0fc4
  sdks/java/container/license_scripts/manual_licenses/cached/e105842fc727a6c5812cebfae7ac90c4
  sdks/java/container/license_scripts/manual_licenses/cached/eb52eb8ae5ef1781a74209b3c6747df1
  sdks/java/container/license_scripts/manual_licenses/cached/f14351a31fc714d15e2e3a4dd6789e5f
  sdks/java/container/license_scripts/manual_licenses/cached/f3417e7e34f54996c731adbbf114114c
  sdks/java/container/license_scripts/pull_licenses_java.py
Labels: java, docker

#33799 Fix postcommit python arm workflow
  sdks/python/apache_beam/ml/inference/sklearn_inference_it_test.py
Labels: python, Next Action: Reviewers

#33629 Improve global sequence processing in Java SDK's "ordered" extension
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/ContiguousSequenceRange.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/GlobalSequenceTracker.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/GlobalSequencesProcessorDoFn.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/OrderedEventProcessor.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/OrderedEventProcessorResult.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/OrderedProcessingHandler.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/OrderedProcessingStatus.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/PerKeyTickerGenerator.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/ProcessingState.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/ProcessorDoFn.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/combiner/DefaultSequenceCombiner.java
  sdks/java/extensions/ordered/src/main/java/org/apache/beam/sdk/extensions/ordered/combiner/SequenceRangeAccumulator.java
  sdks/java/extensions/ordered/src/test/java/org/apache/beam/sdk/extensions/ordered/ContiguousSequenceRangeTest.java
  sdks/java/extensions/ordered/src/test/java/org/apache/beam/sdk/extensions/ordered/OrderedEventProcessorPerKeySequenceTest.java
  sdks/java/extensions/ordered/src/test/java/org/apache/beam/sdk/extensions/ordered/OrderedEventProcessorTestBase.java
  sdks/java/extensions/ordered/src/test/java/org/apache/beam/sdk/extensions/ordered/combiner/SequenceRangeAccumulatorTest.java
Labels: java, extensions, Next Action: Reviewers

#33804 Skip highly flaky test
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStreamTest.java
Labels: runners, dataflow

#33807 Revert "Increase timeouts in CallTest to reduce flakiness"
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/Coder.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/CallTest.java
Labels: java, io, Next Action: Reviewers

#33798 Fix PostRelease Nightly Snapshot
  examples/java/src/main/java/org/apache/beam/examples/complete/game/utils/WriteToBigQuery.java
  release/src/main/groovy/mobilegaming-java-dataflow.groovy
  release/src/main/groovy/mobilegaming-java-direct.groovy
Labels: java, build, examples

#33808 Fix build-wheels python workflow
  .github/workflows/build_wheels.yml
Labels: build

#33813 Fix PreCommit Java IOs Direct job
  sdks/java/io/mqtt/src/test/java/org/apache/beam/sdk/io/mqtt/MqttIOTest.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/CallTest.java
Labels: java, io, mqtt

#33587 Change Reify.asIterable to GBK in BigQueryIO File loads
  .github/trigger_files/beam_PostCommit_Java_DataflowV1.json
  CHANGES.md
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryOptions.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/CombineAsIterable.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
Labels: java, build, io, gcp, Next Action: Reviewers

#33684 Throw exception if Dataflow template file writing fails.
  CHANGES.md
  runners/google-cloud-dataflow-java/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowRunnerTest.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/options/DataflowPipelineOptionsTest.java
Labels: runners, dataflow, Next Action: Reviewers

#33806 Run a significantly smaller Dask Graph.
  sdks/python/apache_beam/runners/dask/dask_runner.py
  sdks/python/apache_beam/runners/dask/transform_evaluator.py
Labels: python, runners, Next Action: Reviewers

#33803 SnowflakeIO: do not quote empty fields
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/SnowflakeIO.java
  sdks/java/io/snowflake/src/test/java/org/apache/beam/sdk/io/snowflake/test/unit/write/SnowflakeIOWriteTest.java
Labels: java, io, Next Action: Reviewers

#33749 Revert "Pause delete images in public AR"
  .test-infra/tools/stale_dataflow_prebuilt_image_cleaner.sh
Labels: infra, Next Action: Reviewers, slow-review

#33823 Fix failing extractMetricUpdatesStringSet
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/BatchModeExecutionContextTest.java
Labels: runners, dataflow, Next Action: Reviewers
