Repository apache/beam, pull requests merged in 2025-07, with the labels that each got.

#35460 Consider windows with bands outside of [Min, Max] equivalent
  sdks/python/apache_beam/utils/windowed_value.py
Labels: python, Next Action: Reviewers

#35445 Remove unused IOException from Backoff and BackoffUtils.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowBatchWorkerHarness.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/streaming/config/StreamingEngineComputationConfigFetcher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/AbstractWindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServer.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/BackOff.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/BackOffUtils.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/RateLimitPolicyFactory.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/ShardListingUtils.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/datastore/V1TestUtil.java
  sdks/java/io/influxdb/src/test/java/org/apache/beam/sdk/io/influxdb/InfluxDbIOIT.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/Call.java
  sdks/java/io/rrio/src/main/java/org/apache/beam/io/requestresponse/Repeater.java
  sdks/java/io/rrio/src/test/java/org/apache/beam/io/requestresponse/RequestResponseIOTest.java
Labels: java, io, runners, dataflow, aws, gcp, jdbc

#35359 Update Beam website to release 2.66.0
  CHANGES.md
  website/www/site/config.toml
  website/www/site/content/en/blog/beam-2.66.0.md
  website/www/site/content/en/get-started/downloads.md
  website/www/site/data/authors.yml
Labels: website, Next Action: Reviewers, slow-review

#35459 Fix TypeError in avro_union_type_to_beam_type with complex union types
  sdks/python/apache_beam/io/avroio.py
  sdks/python/apache_beam/io/avroio_test.py
Labels: python, io, Next Action: Reviewers

#35497 Revert "Revert "Parse v2 record. (#35408)" (#35469)"
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/ChangeStreamResultSet.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/DataChangeRecord.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/util/TestProtoMapper.java
Labels: java, io, gcp, Next Action: Reviewers, spanner

#35510 Update Republish Released Docker Images
  .github/workflows/republish_released_docker_containers.yml
Labels: build, Next Action: Reviewers

#35505 Fix Debezium xlang
  .github/workflows/beam_PostCommit_Python.yml
  sdks/java/io/debezium/build.gradle
  sdks/java/io/debezium/expansion-service/build.gradle
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/DebeziumTransformRegistrar.java
  sdks/python/apache_beam/io/debezium.py
  sdks/python/apache_beam/io/external/xlang_debeziumio_it_test.py
Labels: python, java, build, io, Next Action: Reviewers

#35496 [IcebergIO] Create tables with Iceberg Table Properties
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  CHANGES.md
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergTableCreateConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/PortableIcebergDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/TestDataWarehouse.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/IcebergCatalogBaseIT.java
  website/www/site/content/en/documentation/io/managed-io.md
Labels: java, website, io

#35511 Fix yaml postcommit test failure
  .github/trigger_files/beam_PostCommit_Yaml_Xlang_Direct.json
  sdks/python/apache_beam/yaml/integration_tests.py
Labels: python, Next Action: Reviewers, yaml

#35499 Update AlloyDB colab notebook
  examples/notebooks/beam-ml/alloydb_product_catalog_embeddings.ipynb
Labels: examples

#35472 Support BigQuery dialect in Beam SQL
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/BeamSqlPipelineOptions.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/JdbcDriver.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/JdbcDriverTest.java
Labels: java, extensions, sql, Next Action: Reviewers

#35471 RabbitMqIO doesn't handle closed channels
  sdks/java/io/rabbitmq/src/main/java/org/apache/beam/sdk/io/rabbitmq/RabbitMqIO.java
Labels: java, io, rabbitmq, Next Action: Reviewers

#35327 [Dataflow Streaming] Modify AbstractWindmillStream to separate logical stream from physical streams.
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/AbstractWindmillStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/AppendableInputStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcCommitWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStreamRequests.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkerMetadataStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/observers/StreamObserverFactory.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/StreamingDataflowWorkerTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/AbstractWindmillStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/WindmillStreamPoolTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/FakeWindmillGrpcService.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcCommitWorkStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStreamRequestsTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetDataStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcGetWorkerMetadataStreamTest.java
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcWindmillServerTest.java
Labels: runners, dataflow

#35506 Fix flake in StreamingEngineWorkCommitterTest by waiting for responses
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/windmill/client/commits/StreamingEngineWorkCommitterTest.java
Labels: runners, dataflow

#35528 Update Python version matrix in .github/workflows/README.md
  .github/workflows/README.md
Labels: build, Next Action: Reviewers

#35516 Refactor PrismJobServer python class
  sdks/python/apache_beam/runners/portability/prism_runner.py
Labels: python, runners, Next Action: Reviewers, prism

#35534 workflows: add `ALLOYDB_PASSWORD` env variable to `beam_PreCommit_Python_Transforms`
  .github/workflows/beam_PreCommit_Python_Transforms.yml
Labels: build, Next Action: Reviewers

#35544 fix endtimestamp issue
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/action/QueryChangeStreamAction.java
Labels: java, io, gcp, spanner

#35565 updates Hazelcast website link in the documentation
  README.md
  website/www/site/data/en/documentation_runners.yaml
Labels: website, Next Action: Reviewers

#35556 Fix PostCommit Python ValidatesContainer Dataflow With RC job
  .github/workflows/beam_PostCommit_Python_ValidatesContainer_Dataflow_With_RC.yml
Labels: build, Next Action: Reviewers

#35579 added the manual check for the Yaml release doc
  contributor-docs/release-guide.md
Labels: Next Action: Reviewers

#35388 Support Docker Compose v2 in Python TransformServiceLauncher
  sdks/python/apache_beam/utils/transform_service_launcher.py
Labels: python, Next Action: Reviewers, reassigned-reviewers

#35559 Move remaining workflow to Java11
  .github/workflows/beam_PostCommit_Go_VR_Samza.yml
  .github/workflows/beam_PostCommit_Python_ValidatesRunner_Samza.yml
  .github/workflows/beam_PostCommit_XVR_Samza.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/samza/job-server/build.gradle
  sdks/go/test/build.gradle
  sdks/go/test/run_validatesrunner_tests.sh
  sdks/python/scripts/run_job_server.sh
  sdks/python/tox.ini
Labels: python, go, build, runners, samza, Next Action: Reviewers

#35386 reconnect when publishMessage in JMS fails
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsIO.java
Labels: java, io, jms, Next Action: Reviewers, slow-review

#35581 Add watermark strategy for BeamSQL Kafka tables
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaCSVTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/BeamKafkaTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProvider.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/NestedPayloadKafkaTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/PayloadSerializerKafkaTable.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/kafka/KafkaTableProviderTest.java
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
Labels: java, website, extensions, sql

#35582 Add glob and single file support to BeamSQL ParquetTable LOCATION
  CHANGES.md
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/parquet/ParquetTable.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/parquet/ParquetTableProviderTest.java
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
Labels: java, extensions, sql, Next Action: Reviewers

#35580 feat(options): add support for comma-separated options
  CHANGES.md
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/options/pipeline_options_test.py
  sdks/python/apache_beam/options/value_provider_test.py
Labels: python, Next Action: Reviewers

#34612 Enable prism by default (where supported)
  .github/trigger_files/beam_PostCommit_Python.json
  .github/trigger_files/beam_PostCommit_Python_Dependency.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Direct.json
  .github/workflows/beam_PostCommit_Python_Dependency.yml
  .github/workflows/beam_PostCommit_Python_Xlang_Gcp_Direct.yml
  CHANGES.md
  sdks/python/apache_beam/coders/coders_test.py
  sdks/python/apache_beam/examples/snippets/snippets_test.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/enrichment_test.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/pardo_dofn_methods.py
  sdks/python/apache_beam/io/fileio_test.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/apache_beam/io/gcp/experimental/spannerio_test.py
  sdks/python/apache_beam/io/parquetio_test.py
  sdks/python/apache_beam/io/requestresponse_test.py
  sdks/python/apache_beam/metrics/metric_test.py
  sdks/python/apache_beam/ml/anomaly/detectors/pyod_adapter_test.py
  sdks/python/apache_beam/ml/anomaly/transforms_test.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/onnx_inference_test.py
  sdks/python/apache_beam/ml/inference/pytorch_inference_test.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
  sdks/python/apache_beam/ml/rag/chunking/langchain_test.py
  sdks/python/apache_beam/ml/rag/enrichment/bigquery_vector_search_it_test.py
  sdks/python/apache_beam/ml/transforms/base_test.py
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface_test.py
  sdks/python/apache_beam/ml/transforms/embeddings/open_ai_it_test.py
  sdks/python/apache_beam/ml/transforms/embeddings/tensorflow_hub_test.py
  sdks/python/apache_beam/ml/transforms/embeddings/vertex_ai_test.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/recording_manager.py
  sdks/python/apache_beam/runners/pipeline_utils_test.py
  sdks/python/apache_beam/testing/util_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigquery_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/vertex_ai_feature_store_it_test.py
  sdks/python/apache_beam/transforms/ptransform.py
  sdks/python/apache_beam/transforms/ptransform_test.py
  sdks/python/apache_beam/transforms/timestamped_value_type_test.py
  sdks/python/apache_beam/transforms/trigger_test.py
  sdks/python/apache_beam/transforms/userstate_test.py
  sdks/python/apache_beam/transforms/util_test.py
  sdks/python/apache_beam/typehints/typecheck_test.py
  sdks/python/apache_beam/yaml/yaml_mapping_test.py
Labels: python, build, examples, io, runners, gcp, yaml

#35597 Fix json schema test
  sdks/java/core/src/test/java/org/apache/beam/sdk/schemas/JsonSchemaConversionTest.java
Labels: java

#35569 Add a flag in PeriodicImpulse to rebase timestamp.
  sdks/python/apache_beam/transforms/periodicsequence.py
  sdks/python/apache_beam/transforms/periodicsequence_test.py
Labels: python, Next Action: Reviewers

#35572 BeamSQL Datagen Table Provider
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datagen/AdvancingTimestampFn.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datagen/DataGeneratorPTransform.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datagen/DataGeneratorRowFn.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datagen/DataGeneratorTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datagen/DataGeneratorTableProvider.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datagen/package-info.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/datagen/DataGeneratorTableProviderTest.java
  website/www/site/content/en/documentation/dsls/sql/extensions/create-external-table.md
Labels: java, website, extensions, sql, Next Action: Reviewers

#35574 retry validateOutputFilePrefixSupported for tempLocation
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
Labels: java, extensions, gcp, Next Action: Reviewers

#35479 added the job id for spanner IO
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerAccessor.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerIOMetadata.java
Labels: java, io, gcp, Next Action: Reviewers, spanner, reassigned-reviewers

#35610 Temporarily move back to fnapi runner as default
  sdks/python/apache_beam/coders/proto2_coder_test_messages_pb2.py
  sdks/python/apache_beam/examples/snippets/transforms/aggregation/groupby_test.py
  sdks/python/apache_beam/io/gcp/experimental/spannerio_test.py
  sdks/python/apache_beam/io/gcp/internal/clients/bigquery/bigquery_v2_client.py
  sdks/python/apache_beam/io/requestresponse_test.py
  sdks/python/apache_beam/ml/anomaly/detectors/pyod_adapter_test.py
  sdks/python/apache_beam/ml/rag/chunking/langchain_test.py
  sdks/python/apache_beam/ml/transforms/embeddings/huggingface_test.py
  sdks/python/apache_beam/runners/dataflow/internal/clients/dataflow/dataflow_v1b3_client.py
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/transforms/enrichment_handlers/bigtable_it_test.py
  sdks/python/apache_beam/transforms/enrichment_handlers/vertex_ai_feature_store_it_test.py
Labels: python, examples, io, runners, gcp

#35426 Another attempt to fix timestamp logical type.
  .github/trigger_files/beam_PostCommit_Python.json
  .github/trigger_files/beam_PostCommit_Python_Xlang_Gcp_Direct.json
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
  sdks/python/apache_beam/io/jdbc.py
  sdks/python/apache_beam/typehints/row_type.py
  sdks/python/apache_beam/typehints/schema_registry.py
  sdks/python/apache_beam/typehints/schemas.py
Labels: python, io, Next Action: Reviewers

#35316 [Spark runner] Support for ProcessingTime Timer for Spark Runner
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark.json
  .github/trigger_files/beam_PostCommit_Java_ValidatesRunner_Spark_Java11.json
  CHANGES.md
  runners/spark/src/main/java/org/apache/beam/runners/spark/stateful/SparkTimerInternals.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/AbstractInOutIterator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/SparkInputDataProcessor.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/TranslationUtils.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/ParDoStateUpdateFn.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/translation/streaming/StatefulStreamingParDoEvaluator.java
  runners/spark/src/main/java/org/apache/beam/runners/spark/util/TimerUtils.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/AbstractInOutIteratorTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/translation/streaming/StatefulStreamingParDoEvaluatorTest.java
  runners/spark/src/test/java/org/apache/beam/runners/spark/util/TimerUtilsTest.java
Labels: runners, spark, Next Action: Reviewers, slow-review

#35620 Actually bump Avro to 1.11.4
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/extensions/avro/build.gradle
  sdks/java/extensions/avro/vendored-test/build.gradle
  settings.gradle.kts
Labels: java, build, extensions

#35629 Use bqms-1.6.1-1.0.1
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  .github/trigger_files/IO_Iceberg_Managed_Integration_Tests_Dataflow.json
  .github/trigger_files/beam_PostCommit_SQL.json
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build

#35612 Update CI.md
  CI.md
Labels: Next Action: Reviewers

#35631 handle flexible BigQuery column names
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProto.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIOWriteTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/TableRowToStorageApiProtoTest.java
Labels: java, io, gcp, Next Action: Reviewers

#35599 Add Iceberg Rest Catalog Example
  examples/java/src/main/java/org/apache/beam/examples/cookbook/IcebergRestCatalogStreamingWriteExample.java
Labels: java, examples, Next Action: Reviewers

#35526 Adding clustering support for python storage write api
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/TableDestination.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryStorageWriteApiSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryWriteConfiguration.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/providers/PortableBigQueryDestinations.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/bigquery/providers/BigQueryManagedIT.java
  sdks/python/apache_beam/io/external/xlang_bigqueryio_it_test.py
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, java, io, gcp, Next Action: Reviewers

#35515 [IcebergIO] robust handling for filtering time types; expose new features to YAML SDK
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/FilterUtils.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/ReadUtils.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/FilterUtilsTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/IcebergCatalogBaseIT.java
  sdks/python/apache_beam/yaml/tests/iceberg.yaml
  sdks/python/apache_beam/yaml/yaml_io.py
Labels: python, java, io, Next Action: Reviewers, yaml

#35085 Extend Schema Registry Support on Managed Kafka I/O to Google's Managed Schema Registry Solution
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProvider.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
Labels: java, io, kafka, Next Action: Reviewers

#35639 Fix typo
  website/www/site/content/en/documentation/ml/overview.md
Labels: website, Next Action: Reviewers

#35645 Include WaitOn in wildcard imports
  sdks/python/apache_beam/transforms/util.py
Labels: python

#35373 Distinguishing bigquery logging failures severities
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers, reassigned-reviewers

#35653 Fix IcebergIO Integration Tests job
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/IcebergCatalogBaseIT.java
Labels: java, io, Next Action: Reviewers

#35558 [Python] Fix WriteToBigQuery transform using CopyJob does not work with WRITE_TRUNCATE write disposition (#34247)
  CHANGES.md
  sdks/python/apache_beam/io/gcp/bigquery_file_loads.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
Labels: python, io, gcp, Next Action: Reviewers

#35641 [Beam SQL] Support DATABASE concept in Beam SQL, with implementation for Iceberg
  .github/trigger_files/beam_PostCommit_SQL.json
  CHANGES.md
  sdks/java/extensions/sql/src/main/codegen/config.fmpp
  sdks/java/extensions/sql/src/main/codegen/includes/parserImpls.ftl
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlCreateDatabase.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlDropDatabase.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlUseDatabase.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/catalog/Catalog.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/catalog/InMemoryCatalog.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergCatalog.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergTableProvider.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlCliDatabaseTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/BeamSqlCliIcebergTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergTableProviderTest.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergCatalogConfig.java
Labels: java, io, extensions, sql

#35601 [Python] Implement combiner deferred side inputs
  sdks/python/apache_beam/runners/direct/direct_runner.py
  sdks/python/apache_beam/runners/direct/helper_transforms.py
  sdks/python/apache_beam/transforms/combiners.py
  sdks/python/apache_beam/transforms/combiners_test.py
  sdks/python/apache_beam/transforms/core.py
Labels: python, runners, Next Action: Reviewers

#35375 [YAML] A Streaming Inference Pipeline - YouTube Comments Sentiment Analysis
  sdks/python/apache_beam/yaml/examples/README.md
  sdks/python/apache_beam/yaml/examples/testing/examples_test.py
  sdks/python/apache_beam/yaml/examples/testing/input_data.py
  sdks/python/apache_beam/yaml/examples/transforms/ml/sentiment_analysis/README.md
  sdks/python/apache_beam/yaml/examples/transforms/ml/sentiment_analysis/streaming_sentiment_analysis.yaml
Labels: python, Next Action: Reviewers, yaml

#35640 Dont fail pipeline on failed stat
  sdks/python/apache_beam/runners/portability/prism_runner.py
Labels: python, runners, Next Action: Reviewers, prism

#35661 vendor calcite 1.40
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/datagen/DataGeneratorRowFn.java
  settings.gradle.kts
  vendor/calcite-1_40_0/build.gradle
Labels: java, vendor, extensions, sql

#35669 Allow setting BatchSize and MaxBufferingDuration in JDBCIO's WriteWithResults
  CHANGES.md
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#35689 Update README.md
  sdks/python/apache_beam/yaml/examples/README.md
Labels: python, yaml

#35687 Cherrypick: Remove tox dependency
  .github/trigger_files/beam_PostCommit_Python_Xlang_IO_Dataflow.json
  sdks/python/setup.py
Labels: python

#35690 Cloudsql pg colab
  examples/notebooks/beam-ml/cloudsql_postgres_product_catalog_embeddings.ipynb
Labels: examples

#35655 sdks/python/scripts: support pytest user markers
  sdks/python/scripts/run_pytest.sh
Labels: python, Next Action: Reviewers

#35694 Upgrade base image for dev-support docker image(Ubuntu 20.04 -> Ubuntu 24.04)
  dev-support/docker/Dockerfile
Labels: Next Action: Reviewers

#35703 fix the version string checks in KafkaIO
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
Labels: java, io, kafka

#35700 Revert "Refactor: separate SplittableTruncateSizedRestrictions"
  sdks/java/core/src/main/java/org/apache/beam/sdk/fn/splittabledofn/RestrictionTrackers.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/splittabledofn/RestrictionTracker.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/Holder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/KV.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/WindowedValue.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/HandlesSplits.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/ProgressUtils.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/SplitResultsWithStopIndex.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/SplittableSplitAndSizeRestrictionsDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/SplittableTruncateSizedRestrictionsDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/WindowedSplitResult.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/ProgressUtilsTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/SplittableTruncateSizedRestrictionsDoFnRunnerTest.java
Labels: java

#35673 [Java] Further simplify MoreFutures usage in case it is cause of issues with ForkJoin pool stuckness
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/MoreFutures.java
  sdks/java/extensions/google-cloud-platform-core/src/main/java/org/apache/beam/sdk/extensions/gcp/util/GcsUtil.java
Labels: java, extensions, gcp

#35721 YAML Test CLI Flag Fix
  sdks/python/apache_beam/yaml/main.py
Labels: python, Next Action: Reviewers, yaml

#35649 Add Example for Iceberg REST Catalog CDC
  examples/java/src/main/java/org/apache/beam/examples/cookbook/IcebergRestCatalogCDCExample.java
  examples/java/src/main/java/org/apache/beam/examples/cookbook/IcebergRestCatalogStreamingWriteExample.java
Labels: java, examples

#35698 workflows: run ML tests requiring docker-in-docker environment on `ubuntu-latest`
  .github/workflows/beam_PostCommit_Python.yml
  .github/workflows/beam_PreCommit_Python_ML.yml
Labels: build, Next Action: Reviewers

#35647 Add documentation for Wait.On and WaitOn transforms
  website/www/site/content/en/documentation/transforms/java/other/wait.md
  website/www/site/content/en/documentation/transforms/java/overview.md
  website/www/site/content/en/documentation/transforms/python/other/waiton.md
  website/www/site/content/en/documentation/transforms/python/overview.md
  website/www/site/layouts/partials/section-menu/en/documentation.html
Labels: website, Next Action: Reviewers

#35734 .github: remove `ubuntu-latest` environment temporary from `beam_PreCommit_Python_ML` and `beam_PostCommit_Python` to make CI green again
  .github/workflows/beam_PostCommit_Python.yml
  .github/workflows/beam_PreCommit_Python_ML.yml
Labels: build, Next Action: Reviewers

#35253 Iobase streaming support in FileBasedSink, exposed in TextIO
  CHANGES.md
  sdks/python/apache_beam/io/filebasedsink.py
  sdks/python/apache_beam/io/textio.py
  sdks/python/apache_beam/io/textio_test.py
Labels: python, io, Next Action: Reviewers, reassigned-reviewers

#35733 sdks/python/scripts: fix posargs for `run_pytest.sh`
  .github/trigger_files/beam_PostCommit_Python.json
  .github/workflows/beam_PostCommit_Python.yml
  .github/workflows/beam_PreCommit_Python_ML.yml
  sdks/python/scripts/run_pytest.sh
Labels: python, build, Next Action: Reviewers

#35709 Fix PostCommit Python job
  sdks/python/apache_beam/examples/inference/gemini_text_classification.py
  sdks/python/apache_beam/io/debezium.py
Labels: python, examples, io

#35715 [yaml] Fix ml embeddings issue
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/yaml/yaml_ml.py
  sdks/python/apache_beam/yaml/yaml_ml_test.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers, yaml

#35568 [YAML] A Streaming Inference Pipeline - Taxi Fare Estimation
  sdks/python/apache_beam/yaml/examples/testing/examples_test.py
  sdks/python/apache_beam/yaml/examples/testing/input_data.py
  sdks/python/apache_beam/yaml/examples/transforms/ml/taxi_fare/README.md
  sdks/python/apache_beam/yaml/examples/transforms/ml/taxi_fare/custom_nyc_taxifare_model_deployment.ipynb
  sdks/python/apache_beam/yaml/examples/transforms/ml/taxi_fare/streaming_taxifare_prediction.yaml
Labels: python, Next Action: Reviewers, yaml

#35751 [Cherrypick] Fix PostCommit Python job (#35709)
  sdks/python/apache_beam/examples/inference/gemini_text_classification.py
  sdks/python/apache_beam/io/debezium.py
Labels: python, examples, io

#35747 chore(JdbcIO): Lower log level for harmless SchemaCoder inference failure in JdbcIO
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#35413 Add dataflow option go
  sdks/go/pkg/beam/core/metrics/sampler.go
  sdks/go/pkg/beam/core/metrics/sampler_test.go
  sdks/go/pkg/beam/core/runtime/harness/harness.go
  sdks/go/pkg/beam/core/runtime/harness/harness_test.go
  sdks/go/pkg/beam/core/runtime/harness/sampler.go
  sdks/go/pkg/beam/options/jobopts/options.go
  sdks/go/pkg/beam/options/jobopts/options_test.go
Labels: go, Next Action: Reviewers

#35120 Add dataflow option
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/SdkHarnessOptions.java
  sdks/java/harness/jmh/src/main/java/org/apache/beam/fn/harness/jmh/control/ExecutionStateSamplerBenchmark.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnHarness.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ExecutionStateSamplerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PCollectionConsumerRegistryTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/data/PTransformFunctionRegistryTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClientTest.java
Labels: java

#35753 Revert #35715 YAML and Python ML
  sdks/python/apache_beam/ml/transforms/base.py
  sdks/python/apache_beam/yaml/yaml_ml.py
  sdks/python/apache_beam/yaml/yaml_ml_test.py
  sdks/python/setup.py
Labels: python, yaml
