Repository apache/beam, pull requests merged in 2025-06, with the labels that each got.

#35097 Update Python container tag
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners, Next Action: Reviewers

#35033 Fix for issue 34772 to include user provided providers
  sdks/python/apache_beam/yaml/generate_yaml_docs.py
Labels: python, Next Action: Reviewers, yaml

#35105 update test your pipeline with TestPipeline and Rule
  website/www/site/content/en/documentation/pipelines/test-your-pipeline.md
Labels: website, Next Action: Reviewers

#35118 Update dataflow containers
  runners/google-cloud-dataflow-java/build.gradle
Labels: runners, dataflow

#34943 [Website] add akvelon case study
  website/www/site/content/en/case-studies/akvelon.md
  website/www/site/data/en/quotes.yaml
  website/www/site/static/images/case-study/akvelon/chitnis.png
  website/www/site/static/images/case-study/akvelon/diagram-01.png
  website/www/site/static/images/case-study/akvelon/diagram-02.png
  website/www/site/static/images/case-study/akvelon/pikle.png
  website/www/site/static/images/case-study/akvelon/terentyev.png
Labels: website, Next Action: Reviewers

#35123 Remove beam college banners
  website/www/site/layouts/partials/header.html
  website/www/site/static/images/banners/beam-college/beam-college-25-desktop.png
  website/www/site/static/images/banners/beam-college/beam-college-25-mobile.png
Labels: website

#35066 Update Custom Remote Inference example to use RemoteModelHandler
  examples/notebooks/beam-ml/custom_remote_inference.ipynb
Labels: examples

#35101 add extra_transforms block documentation to chain transform documentation
  website/www/site/content/en/documentation/sdks/yaml.md
Labels: website, Next Action: Reviewers

#35124 [Java] Explicitly handle singleton iterators instead of using helper and catching exceptions which may be from fetching the iterable.
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/PCollectionViews.java
Labels: java

#35145 Fix tests affected by Java 8 container turn down
  .github/workflows/beam_PostCommit_Go_VR_Samza.yml
  runners/google-cloud-dataflow-java/build.gradle
Labels: build, runners, dataflow, Next Action: Reviewers

#35141 fix jdbc transform validation
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProvider.java
  sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcReadSchemaTransformProviderTest.java
Labels: java, io, jdbc, Next Action: Reviewers

#35154 Fix Java Example ARM PostCommit
  .github/trigger_files/beam_PostCommit_Java_Examples_Dataflow_ARM.json
  runners/google-cloud-dataflow-java/arm/build.gradle
Labels: runners, dataflow

#35163 [Website] update akvelon case study text
  website/www/site/content/en/case-studies/akvelon.md
Labels: website

#35153 Replace usages of deprecated pkg_resources package
  sdks/python/gen_protos.py
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#35156 Improve error message when accidentally using PBegin/Pipeline
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
Labels: python, io, gcp

#34996 Add warning if temp location bucket has soft delete enabled for Go SD…
  sdks/go/pkg/beam/runners/dataflow/dataflow.go
  sdks/go/pkg/beam/util/gcsx/gcs.go
  sdks/go/pkg/beam/util/gcsx/gcs_test.go
Labels: go, runners, dataflow, Next Action: Reviewers

#35084 Constrain DequeCoder type correctly, as it does not support nulls
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/DequeCoder.java
Labels: java, Next Action: Reviewers

#35063 Do not overwrite class states if a cached dynamic class is returned in cloudpickle.load
  CHANGES.md
  sdks/python/apache_beam/internal/cloudpickle/cloudpickle.py
  sdks/python/apache_beam/internal/pickler_test.py
Labels: python, Next Action: Reviewers

#35173 Make SDK harness change effective on Iceberg Dataflow test
  sdks/java/io/iceberg/build.gradle
Labels: java, io, Next Action: Reviewers

#35169 [YAML]: Update postgres IT test and readme
  sdks/python/apache_beam/yaml/README.md
  sdks/python/apache_beam/yaml/extended_tests/postgres.yaml
Labels: python, yaml

#35182 [YAML]: postcommit IT - change to ubuntu-20.04
  .github/workflows/beam_PostCommit_Yaml_Xlang_Direct.yml
Labels: build

#35167 Fix IntelliJ sync project failure due to circular Beam dependency
  examples/java/cdap/hubspot/build.gradle
  examples/java/cdap/salesforce/build.gradle
Labels: java, examples, Next Action: Reviewers

#35166 Add cloudpickle coder.
  sdks/python/apache_beam/coders/coders.py
  sdks/python/apache_beam/coders/coders_test_common.py
  sdks/python/apache_beam/ml/anomaly/transforms.py
Labels: python

#35183 Fix Playground CI Nightly job
  examples/java/sql/src/main/java/org/apache/beam/examples/SchemaTransformExample.java
  examples/java/sql/src/main/java/org/apache/beam/examples/SqlTransformExample.java
Labels: java, examples

#35181 Use staged SDK harness & Dataflow worker jar in JPMS tests
  .github/trigger_files/beam_PostCommit_Java_Jpms_Dataflow_Java11.json
  sdks/java/testing/jpms-tests/build.gradle
Labels: java, Next Action: Reviewers

#35139 Move non-dill specific code out of dill_pickler.py
  sdks/python/apache_beam/internal/code_object_pickler.py
  sdks/python/apache_beam/internal/dill_pickler.py
Labels: python, Next Action: Reviewers

#34956 small filesystem fixes
  sdks/python/apache_beam/io/filesystems.py
  sdks/python/apache_beam/io/localfilesystem.py
  sdks/python/apache_beam/io/localfilesystem_test.py
Labels: python, io, Next Action: Reviewers, reassigned-reviewers

#35187 [YAML] Add a spec provider for transforms taking specifiable arguments
  sdks/python/apache_beam/yaml/yaml_provider.py
  sdks/python/apache_beam/yaml/yaml_specifiable.py
  sdks/python/apache_beam/yaml/yaml_specifiable_test.py
Labels: python, Next Action: Reviewers, yaml

#35184 Fix null check when fetching driverJars from value provider
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#35210 Fix PostCommit Python ValidatesRunner Samza / Spark jobs
  sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py
  sdks/python/apache_beam/runners/portability/portable_runner_test.py
Labels: python, runners, Next Action: Reviewers

#35151 Add more YAML examples involving Kafka and Iceberg
  sdks/python/apache_beam/yaml/examples/README.md
  sdks/python/apache_beam/yaml/examples/testing/examples_test.py
  sdks/python/apache_beam/yaml/examples/testing/input_data.py
  sdks/python/apache_beam/yaml/examples/transforms/io/iceberg_read.yaml
  sdks/python/apache_beam/yaml/examples/transforms/io/iceberg_write.yaml
  sdks/python/apache_beam/yaml/examples/transforms/io/kafka.yaml
Labels: python, Next Action: Reviewers, yaml

#35202 Add a new experiment flag to enable real-time clock as processing time.
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
Labels: go, runners, Next Action: Reviewers, prism

#35219 Force FnApiRunner in cases where prism can't handle use case
  sdks/python/apache_beam/dataframe/transforms_test.py
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/pardo_dofn_methods.py
  sdks/python/apache_beam/io/gcp/bigquery_file_loads_test.py
  sdks/python/apache_beam/io/gcp/bigquery_test.py
  sdks/python/apache_beam/io/gcp/bigtableio_test.py
  sdks/python/apache_beam/io/gcp/experimental/spannerio_test.py
  sdks/python/apache_beam/io/gcp/pubsub_test.py
  sdks/python/apache_beam/ml/gcp/cloud_dlp_test.py
  sdks/python/apache_beam/ml/inference/base_test.py
  sdks/python/apache_beam/ml/inference/tensorflow_inference_test.py
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/pipeline_test.py
  sdks/python/apache_beam/runners/direct/direct_runner_test.py
  sdks/python/apache_beam/runners/interactive/non_interactive_runner_test.py
  sdks/python/apache_beam/runners/runner_test.py
  sdks/python/apache_beam/transforms/trigger_test.py
  sdks/python/apache_beam/typehints/typecheck_test.py
  sdks/python/apache_beam/yaml/readme_test.py
Labels: python, examples, io, runners, gcp, Next Action: Reviewers, yaml

#35164 Fix incorrect typehints generated by FlatMap with default identity function
  sdks/python/apache_beam/transforms/core.py
  sdks/python/apache_beam/transforms/core_test.py
  sdks/python/apache_beam/typehints/decorators.py
  sdks/python/apache_beam/typehints/decorators_test.py
  sdks/python/apache_beam/typehints/typehints.py
  sdks/python/apache_beam/typehints/typehints_test.py
Labels: python, Next Action: Reviewers

#34738 Parse values returned from Dataflow API to BoundedTrieData
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/BoundedTrieData.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowMetrics.java
  runners/google-cloud-dataflow-java/src/test/java/org/apache/beam/runners/dataflow/DataflowMetricsTest.java
Labels: build, runners, dataflow, core, Next Action: Reviewers

#35224 Remove breaking PDone change
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/pipeline_test.py
Labels: python

#35234 Allow only one thread at a time to start the VLLM server.
  sdks/python/apache_beam/ml/inference/vllm_inference.py
Labels: python

#35223 [Beam SQL] Implement Catalog and CatalogManager
  .github/trigger_files/beam_PostCommit_SQL.json
  sdks/java/extensions/sql/src/main/codegen/config.fmpp
  sdks/java/extensions/sql/src/main/codegen/includes/parserImpls.ftl
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/BeamSqlCli.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/SqlTransform.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/BeamCalciteSchema.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/BeamCalciteSchemaFactory.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/BeamSqlEnv.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/JdbcConnection.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/JdbcDriver.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlCreateCatalog.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlCreateExternalTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlDdlNodes.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlDropCatalog.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlSetCatalog.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/catalog/Catalog.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/catalog/CatalogManager.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/catalog/CatalogRegistrar.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/catalog/EmptyCatalogManager.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/catalog/InMemoryCatalog.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/catalog/InMemoryCatalogManager.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/catalog/InMemoryCatalogRegistrar.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/catalog/package-info.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlCliTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/PubsubToBigqueryIT.java
  sdks/java/testing/tpcds/src/main/java/org/apache/beam/sdk/tpcds/BeamSqlEnvRunner.java
Labels: java, extensions, sql

#35246 fix long_description when the md file cannot be found
  sdks/python/setup.py
Labels: python, Next Action: Reviewers

#34966 [IcebergIO] Create tables with a partition spec
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  .github/workflows/IO_Iceberg_Unit_Tests.yml
  CHANGES.md
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergTableCreateConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProvider.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/PartitionUtils.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/PortableIcebergDestinations.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/IcebergWriteSchemaTransformProviderTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/PartitionUtilsTest.java
  sdks/java/io/iceberg/src/test/java/org/apache/beam/sdk/io/iceberg/catalog/IcebergCatalogBaseIT.java
  website/www/site/content/en/documentation/io/managed-io.md
Labels: java, build, website, io, Next Action: Reviewers, reassigned-reviewers

#35251 Fix typo java-dependencies.md
  website/www/site/content/en/documentation/sdks/java-dependencies.md
Labels: website, Next Action: Reviewers

#35243 Fix a logical type issue about JdbcDateType and JdbcTimeType
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/io/external/xlang_jdbcio_it_test.py
  sdks/python/apache_beam/io/jdbc.py
  sdks/python/apache_beam/typehints/schemas.py
  sdks/python/apache_beam/yaml/main.py
Labels: python, io, Next Action: Reviewers

#35092 enable setting max_writer_per_bundle for avroIO and other IO
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/FileIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TFRecordIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TFRecordWriteSchemaTransformConfiguration.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TFRecordWriteSchemaTransformProvider.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextIO.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TFRecordSchemaTransformProviderTest.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/io/TextIOWriteTest.java
  sdks/java/extensions/avro/src/main/java/org/apache/beam/sdk/extensions/avro/io/AvroIO.java
  sdks/java/io/csv/src/main/java/org/apache/beam/sdk/io/csv/CsvIO.java
  sdks/java/io/json/src/main/java/org/apache/beam/sdk/io/json/JsonIO.java
  sdks/standard_external_transforms.yaml
Labels: java, io, extensions, Next Action: Reviewers

#35257 [IcebergIO] update hadoop prefix
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergTableProvider.java
Labels: java, extensions, sql

#35261 Set go version 1.24.4
  .test-infra/mock-apis/go.mod
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/go.mod
  sdks/go/run_with_go_version.sh
Labels: go, build, infra

#35037 upgrade org.apache.parquet:parquet-avro to to 1.15.2
  .github/trigger_files/IO_Iceberg_Integration_Tests.json
  .github/trigger_files/IO_Iceberg_Integration_Tests_Dataflow.json
  .github/trigger_files/IO_Iceberg_Managed_Integration_Tests_Dataflow.json
  it/google-cloud-platform/build.gradle
  sdks/java/io/expansion-service/build.gradle
  sdks/java/io/file-schema-transform/build.gradle
  sdks/java/io/iceberg/build.gradle
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergUtils.java
  sdks/java/io/parquet/build.gradle
Labels: java, io, parquet, Next Action: Reviewers

#35171 [YAML]: add more doc strings for yaml integration tests
  sdks/python/apache_beam/yaml/integration_tests.py
Labels: python, Next Action: Reviewers, yaml

#35260 [yaml]: add free disk space step for post commit yaml workflow
  .github/workflows/beam_PostCommit_Yaml_Xlang_Direct.yml
Labels: build, Next Action: Reviewers

#35278 Polish anomaly detection notebook and get ready to be imported in public devsite.
  examples/notebooks/beam-ml/anomaly_detection/anomaly_detection_zscore.ipynb
Labels: examples

#35274 Suppress Findbugs
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/status/BeamFnStatusClient.java
Labels: java

#34763 [IO] Update Debezium in DebeziumIO to 3.1.1
  CHANGES.md
  sdks/java/io/debezium/build.gradle
  sdks/java/io/debezium/expansion-service/build.gradle
  sdks/java/io/debezium/src/README.md
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/DebeziumIO.java
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformProvider.java
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/KafkaSourceConsumerFn.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumIOMySqlConnectorIT.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumIOPostgresSqlConnectorIT.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumIOTest.java
  sdks/java/io/debezium/src/test/java/org/apache/beam/io/debezium/DebeziumReadSchemaTransformTest.java
Labels: java, build, io, Next Action: Reviewers

#35303 Fix PreCommit Java Solace IO Direct job
  .github/workflows/beam_PreCommit_Java_Solace_IO_Direct.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/auth/GoogleADCIdTokenProvider.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/GetKinesisRecordsResult.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/KinesisPartitioner.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/kinesis/ShardRecordsIterator.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/S3ReadableSeekableByteChannel.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/s3/S3WritableByteChannel.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsIO.java
  sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/sqs/SqsUnboundedReader.java
  sdks/java/io/hadoop-common/src/main/java/org/apache/beam/sdk/io/hadoop/SerializableConfiguration.java
  sdks/java/io/hadoop-format/src/main/java/org/apache/beam/sdk/io/hadoop/format/HadoopFormatIO.java
  sdks/java/io/pulsar/src/main/java/org/apache/beam/sdk/io/pulsar/ReadFromPulsarDoFn.java
Labels: java, build, io, aws, hadoop, Next Action: Reviewers

#35287 feat: Add option to control resource cleanup failure for IT
  it/common/src/main/java/org/apache/beam/it/common/utils/ResourceManagerUtils.java
Labels: Next Action: Reviewers

#35305 Revert "Bump org.ajoberstar.grgit:grgit-gradle from 4.1.1 to 5.3.2"
  buildSrc/build.gradle.kts
Labels: build

#35300 Add PeriodicStream in the new time series folder.
  sdks/python/apache_beam/ml/ts/__init__.py
  sdks/python/apache_beam/ml/ts/util.py
  sdks/python/apache_beam/ml/ts/util_test.py
Labels: python, Next Action: Reviewers

#35289 try buildah to replace kaniko
  .github/trigger_files/beam_PostCommit_Python_ValidatesContainer_Dataflow.json
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
Labels: python, runners, Next Action: Reviewers

#35241 Adding error handler for SpannerReadSchemaTransformProvider and missi…
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerReadSchemaTransformProvider.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTransformProviderTest.java
  sdks/python/apache_beam/yaml/standard_io.yaml
Labels: python, java, io, gcp, Next Action: Reviewers, spanner, yaml

#35308 Bump reqeusts version.
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/setup.py
Labels: python, docker, Next Action: Reviewers

#35307 [IcebergIO] create custom java container image for tests
  .github/trigger_files/IO_Iceberg_Integration_Tests_Dataflow.json
  .github/trigger_files/IO_Iceberg_Managed_Integration_Tests_Dataflow.json
  sdks/java/io/iceberg/build.gradle
Labels: java, io

#35280 [Release-2.66] cherry-pick #35274 into release branch
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/status/BeamFnStatusClient.java
Labels: java

#35313 Fix Spotbugs
  .test-infra/mock-apis/build.gradle
  examples/java/src/main/java/org/apache/beam/examples/KafkaStreaming.java
  examples/java/src/main/java/org/apache/beam/examples/complete/TrafficRoutes.java
  examples/java/src/main/java/org/apache/beam/examples/complete/datatokenization/utils/SchemasUtils.java
  examples/java/src/main/java/org/apache/beam/examples/cookbook/TriggerExample.java
  examples/java/src/main/java/org/apache/beam/examples/subprocess/configuration/SubProcessConfiguration.java
  examples/kotlin/src/main/java/org/apache/beam/examples/kotlin/cookbook/TriggerExample.kt
  it/common/src/main/java/org/apache/beam/it/common/utils/ResourceManagerUtils.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/metrics/ExecutionStateSampler.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/metrics/FileReporter.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowPTransformMatchers.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/container/ContainerCfgLoader.java
  sdks/java/build-tools/src/main/resources/beam/spotbugs-filter.xml
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/CoderProviders.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/DefaultCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/resourcehints/ResourceHints.java
  sdks/java/extensions/ml/src/main/java/org/apache/beam/sdk/extensions/ml/AnnotateImages.java
  sdks/java/io/debezium/build.gradle
  sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/KafkaSourceConsumerFn.java
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
  sdks/java/io/jms/src/main/java/org/apache/beam/sdk/io/jms/JmsIO.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaExactlyOnceSink.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOUtils.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaUnboundedReader.java
  sdks/java/io/snowflake/src/main/java/org/apache/beam/sdk/io/snowflake/KeyPairUtils.java
  sdks/java/io/synthetic/src/main/java/org/apache/beam/sdk/io/synthetic/SyntheticOptions.java
  sdks/java/io/synthetic/src/main/java/org/apache/beam/sdk/io/synthetic/SyntheticStep.java
  sdks/java/testing/jpms-tests/build.gradle
  sdks/java/testing/nexmark/src/main/java/org/apache/beam/sdk/nexmark/NexmarkConfiguration.java
Labels: java, build, infra, examples, io, extensions, runners, dataflow, jdbc, jms, kafka, synthetic, core, flink, samza, kotlin

#35306 Fix PreCommit Java workflow
  sdks/go/pkg/beam/runners/prism/internal/engine/elementmanager.go
  sdks/go/pkg/beam/runners/prism/internal/execute.go
Labels: go, runners, Next Action: Reviewers, prism

#35314 [Beam SQL] Change SET CATALOG to USE CATALOG
  .github/trigger_files/beam_PostCommit_SQL.json
  sdks/java/extensions/sql/src/main/codegen/config.fmpp
  sdks/java/extensions/sql/src/main/codegen/includes/parserImpls.ftl
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlUseCatalog.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlCliTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/PubsubToBigqueryIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/PubsubToIcebergIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergReadWriteIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergTableProviderTest.java
Labels: java, extensions, sql

#35330 Unbreak Playground CI nightly suite
  sdks/python/apache_beam/examples/snippets/transforms/elementwise/pardo_dofn_methods.py
Labels: python, examples

#35311 Fix unstable output of periodic sequence due to precision error.
  sdks/python/apache_beam/ml/ts/util.py
  sdks/python/apache_beam/ml/ts/util_test.py
Labels: python, Next Action: Reviewers

#35331 Fix link to beam_Playground_CI_Nightly
  .github/workflows/README.md
Labels: build

#35315 Blog: My Experience at Beam College 2025 (3rd Place Hackathon Winner)
  website/www/site/content/en/blog/beam-college-2025-anomaflow.md
  website/www/site/data/authors.yml
Labels: website, Next Action: Reviewers

#35333 Cherrypicking #35314
  .github/trigger_files/beam_PostCommit_SQL.json
  sdks/java/extensions/sql/src/main/codegen/config.fmpp
  sdks/java/extensions/sql/src/main/codegen/includes/parserImpls.ftl
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlUseCatalog.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlCliTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/PubsubToBigqueryIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/PubsubToIcebergIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergReadWriteIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergTableProviderTest.java
Labels: java, extensions, sql

#35334 Allow running TFT benchmarks from pr
  .github/trigger_files/beam_CloudML_Benchmarks_Dataflow.json
  .github/workflows/beam_CloudML_Benchmarks_Dataflow.yml
Labels: build

#35292 Add dynamic read support to KafkaIO in Python SDK
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIO.java
  sdks/python/apache_beam/io/kafka.py
Labels: python, java, io, kafka, Next Action: Reviewers

#35284 added timeout for Direct_Read with Bigquery IO
  sdks/python/apache_beam/io/gcp/bigquery.py
Labels: python, io, gcp, Next Action: Reviewers

#35245 Add Async Dofn and Test to BEAM
  sdks/python/apache_beam/transforms/async_dofn.py
  sdks/python/apache_beam/transforms/async_dofn_test.py
Labels: python, Next Action: Reviewers

#35231 Unpin antlr in BeamModulePlugins
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/build.gradle
Labels: java, build, Next Action: Reviewers

#35357 Updates Dataflow Python container
  sdks/python/apache_beam/runners/dataflow/internal/names.py
Labels: python, runners, Next Action: Reviewers

#35214 Allow STRING format in Kafka config
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformConfiguration.java
  sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaReadSchemaTransformProviderTest.java
Labels: java, io, kafka, Next Action: Reviewers

#35354 Cherrypick #35341
  .github/trigger_files/beam_PostCommit_SQL.json
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/parser/SqlCreateExternalTable.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/TableProvider.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergCatalog.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergTableProvider.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/meta/store/InMemoryMetaStore.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/PubsubToIcebergIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergReadWriteIT.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/iceberg/IcebergTableProviderTest.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergCatalogConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/IcebergTableCreateConfig.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/PartitionUtils.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/RecordWriterManager.java
  sdks/java/io/iceberg/src/main/java/org/apache/beam/sdk/io/iceberg/TableAlreadyExistsException.java
Labels: java, io, extensions, sql

#35195 Update JupyterLab Sidepanel yarn.lock file
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/.yarnrc.yml
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/package.json
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/yarn.lock
Labels: python, runners, Next Action: Reviewers

#35372 Fix PubsubIOLT
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/pubsub/PubsubIOLT.java
Labels: Next Action: Reviewers

#35394 Fix suppressed Spotbugs issues
  examples/java/src/main/java/org/apache/beam/examples/complete/datatokenization/utils/SchemasUtils.java
  examples/java/src/main/java/org/apache/beam/examples/subprocess/SubProcessPipelineOptions.java
  examples/java/src/main/java/org/apache/beam/examples/subprocess/configuration/SubProcessConfiguration.java
  examples/kotlin/src/main/java/org/apache/beam/examples/kotlin/cookbook/TriggerExample.kt
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaExactlyOnceSink.java
  sdks/java/io/kafka/src/main/java/org/apache/beam/sdk/io/kafka/KafkaIOUtils.java
  sdks/java/io/synthetic/src/main/java/org/apache/beam/sdk/io/synthetic/SyntheticStep.java
Labels: java, examples, io, kafka, synthetic, kotlin

#35387 Improve LogElements to show pane_info and timestamps in seconds.
  sdks/python/apache_beam/transforms/util.py
  sdks/python/apache_beam/transforms/util_test.py
Labels: python, Next Action: Reviewers

#35403 Improve exception raised from cache
  sdks/python/apache_beam/runners/worker/sdk_worker.py
  sdks/python/apache_beam/runners/worker/sdk_worker_test.py
Labels: python, runners, Next Action: Reviewers

#35405 Reduce issues induced by ordering
  .github/workflows/build_release_candidate.yml
Labels: build, Next Action: Reviewers

#35361 Fix buildx always enabled
  .github/workflows/beam_PreCommit_Flink_Container.yml
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamDockerPlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamJenkinsPlugin.groovy
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Labels: build, Next Action: Reviewers

#35376 added defaultQueryTimeout for jdbc io
  sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java
Labels: java, io, jdbc, Next Action: Reviewers

#35399 ✨[Feature]: Add pip-based install support for JupyterLab side panel extension
  CHANGES.md
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/.gitignore
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/README.md
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/apache_beam_jupyterlab_sidepanel/__init__.py
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/apache_beam_jupyterlab_sidepanel/_version.py
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/package.json
  sdks/python/apache_beam/runners/interactive/extensions/apache-beam-jupyterlab-sidepanel/pyproject.toml
Labels: python, runners, Next Action: Reviewers

#35420 Bump workflow timeout
  .github/workflows/beam_PostCommit_Python_Dependency.yml
  .github/workflows/beam_PostCommit_Python_Xlang_Gcp_Direct.yml
Labels: build, Next Action: Reviewers

#35430 Skip sliding window tests on samza and spark runner test suites
  .github/trigger_files/beam_PostCommit_Python_ValidatesRunner_Samza.json
  .github/trigger_files/beam_PostCommit_Python_ValidatesRunner_Spark.json
  sdks/python/apache_beam/runners/portability/samza_runner_test.py
  sdks/python/apache_beam/runners/portability/spark_runner_test.py
Labels: python, runners

#35404 Disable dependency logging in local envs
  sdks/python/apache_beam/options/pipeline_options.py
  sdks/python/apache_beam/runners/portability/sdk_container_builder.py
  sdks/python/apache_beam/transforms/environments.py
Labels: python, runners, Next Action: Reviewers

#35042 Add filter to GetMinUnfinishedWatermark queryAdd filter tester
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/cache/AsyncWatermarkCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/cache/NoOpWatermarkCache.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/PartitionMetadataDao.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/SpannerChangeStreamErrorTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamOrderedByTimestampAndTransactionIdIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamOrderedWithinKeyGloballyIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamOrderedWithinKeyIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamPostgresIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamTransactionBoundariesIT.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/it/SpannerChangeStreamsSchemaTransformIT.java
Labels: java, io, gcp, Next Action: Reviewers, spanner, reassigned-reviewers

#35135 Fix data race ExecutionStateSampler.java:491 in ExecutionStateImpl.reset()
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ExecutionStateSampler.java
Labels: java

#35447 Bring the Python Tips document into the main repository
  contributor-docs/images/unreleased_changes_screen.png
  contributor-docs/python-tips.md
  sdks/python/README.md
Labels: python, Next Action: Reviewers

#35380 Add display_data to AppliedPTransforms
  sdks/python/apache_beam/pipeline.py
  sdks/python/apache_beam/transforms/display.py
  sdks/python/apache_beam/transforms/display_test.py
Labels: python, Next Action: Reviewers

#35433 Add cross-process determinism check for DeterministicFastPrimitivesCoder.
  sdks/python/apache_beam/coders/coders_test_common.py
Labels: python

#32953 [Java Harness] Improve heap dump support by configuring JVM to dump heap on OOM exceptions
  runners/google-cloud-dataflow-java/worker/src/test/java/org/apache/beam/runners/dataflow/worker/util/MemoryMonitorTest.java
  sdks/java/container/boot.go
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/MemoryMonitorOptions.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/status/MemoryMonitor.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/status/MemoryMonitorTest.java
Labels: java, docker, runners, dataflow

#35374 Fix broad suppression of dataflow worker windmill package.
  runners/google-cloud-dataflow-java/worker/build.gradle
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/DataflowExecutionStateRegistry.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/KeyTokenInvalidException.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/logging/DataflowWorkerLoggingMDC.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/getdata/ApplianceGetDataClient.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/ChannelzServlet.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GetWorkResponseChunkAssembler.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/GrpcDirectGetWorkStream.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/client/grpc/stubs/ChannelCache.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/state/WindmillMapViaMultimap.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/StreamingWorkScheduler.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/processing/failures/WorkFailureProcessor.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/ActiveWorkRefresher.java
  runners/google-cloud-dataflow-java/worker/src/main/java/org/apache/beam/runners/dataflow/worker/windmill/work/refresh/FixedStreamHeartbeatSender.java
Labels: runners, dataflow

#35463 Fix vertex linting
  sdks/python/apache_beam/ml/rag/embeddings/vertex_ai.py
  sdks/python/apache_beam/ml/transforms/embeddings/vertex_ai.py
Labels: python

#35439 Stale claner implementation
  .test-infra/tools/build.gradle
  .test-infra/tools/stale_cleaner.py
  .test-infra/tools/test_stale_cleaner.py
Labels: build, infra, Next Action: Reviewers

#35422 Cloudpickle configurable
  .github/trigger_files/beam_PostCommit_Python.json
  sdks/python/apache_beam/internal/cloudpickle/cloudpickle.py
  sdks/python/apache_beam/internal/cloudpickle_pickler.py
Labels: python

#35469 Revert "Deserialize proto based (mutable key range) change stream return records"
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/dao/ChangeStreamResultSet.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapper.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/model/DataChangeRecord.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/mapper/ChangeStreamRecordMapperTest.java
  sdks/java/io/google-cloud-platform/src/test/java/org/apache/beam/sdk/io/gcp/spanner/changestreams/util/TestProtoMapper.java
Labels: java, build, io, gcp, spanner

#35458 Remove stdout prints from HistogramData
  sdks/java/core/src/main/java/org/apache/beam/sdk/util/HistogramData.java
Labels: java, Next Action: Reviewers

#35464 Drop junit-dep dependency by removing system-rules usage
  sdks/java/container/license_scripts/dep_urls_java.yaml
  sdks/java/core/build.gradle
  sdks/java/core/src/test/java/org/apache/beam/sdk/fn/JvmInitializersTest.java
Labels: java, docker, Next Action: Reviewers

#35465 added waitForConditionAndForceCancel
  it/common/src/main/java/org/apache/beam/it/common/PipelineLauncher.java
  it/common/src/main/java/org/apache/beam/it/common/PipelineOperator.java
  it/common/src/test/java/org/apache/beam/it/common/PipelineOperatorTest.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/dataflow/AbstractPipelineLauncher.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/dataflow/DirectRunnerClient.java
Labels: Next Action: Reviewers

#35438 fixed the beam yaml create issue by creating the full dict
  sdks/python/apache_beam/yaml/tests/create.yaml
  sdks/python/apache_beam/yaml/yaml_provider.py
Labels: python, Next Action: Reviewers, yaml

#35470 Fix flakiness in fuzzy tests and support TimestampTypes in PeriodicImpulse.
  sdks/python/apache_beam/transforms/periodicsequence.py
  sdks/python/apache_beam/transforms/periodicsequence_test.py
Labels: python, Next Action: Reviewers

#35216 [1/3] sdks/python: enrich data with Milvus Search [Vector, Keyword, Hybrid]
  CHANGES.md
  sdks/python/apache_beam/ml/rag/enrichment/bigquery_vector_search.py
  sdks/python/apache_beam/ml/rag/enrichment/milvus_search.py
  sdks/python/apache_beam/ml/rag/enrichment/milvus_search_it_test.py
  sdks/python/apache_beam/ml/rag/enrichment/milvus_search_test.py
  sdks/python/apache_beam/ml/rag/types.py
  sdks/python/container/license_scripts/dep_urls_py.yaml
  sdks/python/container/py310/base_image_requirements.txt
  sdks/python/container/py311/base_image_requirements.txt
  sdks/python/container/py312/base_image_requirements.txt
  sdks/python/container/py39/base_image_requirements.txt
  sdks/python/container/run_generate_requirements.sh
  sdks/python/setup.py
Labels: python, docker, Next Action: Author

#35482 Fix LoadTests Go GBK Flink Batch job
  .github/workflows/load-tests-pipeline-options/go_GBK_Flink_Batch_10b.txt
Labels: Next Action: Reviewers

#35486 Skip test if no python interpreter.
  sdks/python/apache_beam/coders/coders_test_common.py
Labels: python
