Repository apache/beam, changes with the owners that CODEOWNERS names for each.
All owners: @herohde, @person2, @person3, @lukecwik, @kennknowles, @aaltay, @pabloem, @robertwb, @charlesccychen, @person1, @chamikaramj, @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @aromanenko-dev, @jasonkuster, @swegner, @jbonofre, @timrobertson100, @lgajowy, @kkucharc, @melap, @udim

CODEOWNERS:

# This file is used for auto-assigning reviewers to PRs.
#
# The last matching rule wins. For details, see:
# https://help.github.com/articles/about-codeowners/

# Per-language reviewers.
*.go @herohde @person2 @person3
*.java @lukecwik @kennknowles @aaltay
*.py @pabloem @robertwb @aaltay @charlesccychen

# SDK components reviewers.
/sdks/go/ @herohde @person2 @person3

/sdks/java/ @aaltay @kennknowles @person3
/sdks/java/core @lukecwik @person2 @person3
/sdks/java/extensions @person1 @person2 @person3
/sdks/java/extensions/google-cloud-platform-core @lukecwik @chamikaramj @person3
/sdks/java/extensions/jackson @person1 @person2 @person3
/sdks/java/extensions/join-library @person1 @person2 @person3
/sdks/java/extensions/protobuf @person1 @person2 @person3
/sdks/java/extensions/sketching @person1 @person2 @person3
/sdks/java/extensions/sorter @person1 @person2 @person3
/sdks/java/extensions/sql @akedin @apilloud @amaliujia @XuMingmin @xumingming @kennknowles
/sdks/java/container @herohde @aaltay @person3
/sdks/java/fn-execution @lukecwik @person2 @person3
/sdks/java/nexmark @person1 @person2 @aromanenko-dev
/sdks/java/build-tools @jasonkuster @swegner @person3
/sdks/java/harness @lukecwik @person2 @person3
/sdks/java/io @jbonofre @lukecwik @chamikaramj @timrobertson100
/sdks/java/io/parquet @lgajowy @jbonofre @aromanenko-dev
/sdks/java/io/common @chamikaramj @timrobertson100 @person3
/sdks/java/io/file-based-io-tests @lgajowy @kkucharc @chamikaramj @timrobertson100
/sdks/java/io/elasticsearch-tests @timrobertson100 @person2 @person3
/sdks/java/io/amazon-web-services @person1 @person2 @person3
/sdks/java/io/google-cloud-platform @lukecwik @chamikaramj @person3
/sdks/java/io/hadoop-input-format @aromanenko-dev @timrobertson100 @person3
/sdks/java/io/solr @timrobertson100 @person2 @person3
/sdks/java/io/kinesis @aromanenko-dev @person2 @person3
/sdks/java/io/redis @jbonofre @person2 @person3
/sdks/java/io/mongodb @jbonofre @person2 @person3
/sdks/java/io/hcatalog @timrobertson100 @person2 @person3
/sdks/java/io/elasticsearch @jbonofre @timrobertson100 @person3
/sdks/java/io/jdbc @jbonofre @timrobertson100 @person3
/sdks/java/io/mqtt @jbonofre @person2 @person3
/sdks/java/io/hadoop-file-system @timrobertson100 @person2 @person3
/sdks/java/io/amqp @jbonofre @person2 @person3
/sdks/java/io/cassandra @jbonofre @person2 @person3
/sdks/java/io/tika @person1 @person2 @person3
/sdks/java/io/xml @person1 @person2 @person3
/sdks/java/io/kafka @person1 @person2 @person3
/sdks/java/io/jms @jbonofre @person2 @person3
/sdks/java/io/hbase @timrobertson100 @aromanenko-dev @person3
/sdks/java/io/hadoop-common @timrobertson100 @person2 @person3
/sdks/java/maven-archetypes @person1 @person2 @person3
/sdks/java/javadoc @melap @person2 @person3

/sdks/python/ @aaltay @charlesccychen @person3
/sdks/python/scripts @aaltay @person2 @person3
/sdks/python/container @herohde @aaltay @charlesccychen
/sdks/python/apache_beam/runners @pabloem @charlesccychen @person3
/sdks/python/apache_beam/utils @pabloem @charlesccychen @person3
/sdks/python/apache_beam/examples @aaltay @charlesccychen @person3
/sdks/python/apache_beam/internal @aaltay @charlesccychen @person3
/sdks/python/apache_beam/tools @pabloem @charlesccychen @person3
/sdks/python/apache_beam/coders @charlesccychen @person2 @person3
/sdks/python/apache_beam/portability @charlesccychen @robertwb @aaltay
/sdks/python/apache_beam/typehints @charlesccychen @person2 @person3
/sdks/python/apache_beam/options @pabloem @charlesccychen @person3
/sdks/python/apache_beam/transforms @pabloem @aaltay @charlesccychen
/sdks/python/apache_beam/testing @pabloem @aaltay @person3
/sdks/python/apache_beam/metrics @pabloem @aaltay @person3
/sdks/python/apache_beam/io @chamikaramj @aaltay @udim

# Build and test infrastructure reviewers.
/.github @person1 @person2 @person3
/.test-infra @lgajowy @person2 @person3
/.test-infra/jenkins @lgajowy @kkucharc @person3
/.test-infra/jupyter @person1 @person2 @person3
/.test-infra/kubernetes @lgajowy @kkucharc @person3
/buildSrc @lukecwik @person2 @person3
/gradle @lukecwik @person2 @person3
/release @jbonofre @person2 @person3
/release/src @person1 @person2 @person3
/website/.jenkins @person1 @person2 @person3
build.gradle @lukecwik @person2 @person3

# Even more components reviewers.
/runners @person1 @person2 @person3
/runners/samza @person1 @person2 @person3
/runners/gcp @pabloem @herohde @lukecwik @aaltay
/runners/apex @person1 @person2 @person3
/runners/core-java @lukecwik @person2 @person3
/runners/local-java @lukecwik @person2 @person3
/runners/java-fn-execution @lukecwik @person2 @person3
/runners/core-construction-java @lukecwik @person2 @person3
/runners/flink @person1 @person2 @person3
/runners/spark @jbonofre @person2 @person3
/runners/reference @lukecwik @person2 @person3
/runners/gearpump @person1 @person2 @person3
/runners/extensions-java @person1 @person2 @person3
/runners/google-cloud-dataflow-java @pabloem @lukecwik @person3
/runners/direct-java @lukecwik @person2 @person3

/examples @aaltay @person2 @person3
/examples/java @lukecwik @aaltay @person3

/model @herohde @lukecwik @person3
/model/fn-execution @herohde @robertwb @lukecwik
/model/job-management @herohde @robertwb @lukecwik
/model/pipeline @herohde @robertwb @lukecwik

/website @melap @timrobertson100 @person3
/website/src @melap @timrobertson100 @person3

[BEAM-4333] Add integration tests for python mobile games (#5747)
  sdks/python/apache_beam/examples/complete/game/game_stats.py
  sdks/python/apache_beam/examples/complete/game/game_stats_it_test.py
  sdks/python/apache_beam/examples/complete/game/hourly_team_score_it_test.py
  sdks/python/apache_beam/examples/complete/game/leader_board_it_test.py
  sdks/python/apache_beam/examples/complete/game/user_score_it_test.py
Owners: @aaltay, @charlesccychen, @person3

Update Findbugs annotations dependency to version with SuppressFBWarnings
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Owners: @lukecwik, @person2, @person3

Fixes Flink ValidatesRunner and a compile error
  runners/apex/src/main/java/org/apache/beam/runners/apex/translation/operators/ApexParDoOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/SplittableDoFnOperator.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/CombineRunners.java
Owners: @person1, @person2, @person3, @lukecwik

Enable ErrorProne analysis for all Java projects.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  model/fn-execution/build.gradle
  model/job-management/build.gradle
  model/pipeline/build.gradle
Owners: @lukecwik, @person2, @person3, @herohde, @robertwb

[BEAM-4302] Add Jenkins job to check Beam dependencies and generate report
  .test-infra/jenkins/dependency_check/bigquery_client_utils.py
  .test-infra/jenkins/dependency_check/dependency_check_report_generator.py
  .test-infra/jenkins/dependency_check/dependency_check_report_generator_test.py
  .test-infra/jenkins/dependency_check/generate_report.sh
  .test-infra/jenkins/job_Dependency_Check.groovy
  build.gradle
  sdks/python/build.gradle
  sdks/python/scripts/run_dependency_check.sh
Owners: @lgajowy, @kkucharc, @person3, @lukecwik, @person2, @aaltay

Cythonizing a few hot calls (#5733)
  sdks/python/apache_beam/runners/worker/operations.pxd
  sdks/python/apache_beam/runners/worker/operations.py
Owners: @pabloem, @charlesccychen, @person3

Quick fix, removing commented out code.
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FlattenRunnerTest.java
Owners: @lukecwik, @person2, @person3

Fix ErrorProne warnings in sdks-java-core project
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/TextIO.java
Owners: @lukecwik, @person2, @person3

Use ByteBuddy to generate a coder class for a specific Schema.
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/GeneratedRowCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/values/Row.java
Owners: @lukecwik, @person2, @person3

[BEAM-2810] use fastavro-blocks in Avro IO
  .test-infra/jenkins/verify_performance_test_results.py
  sdks/python/apache_beam/examples/avro_bitcoin.py
  sdks/python/apache_beam/io/avroio.py
  sdks/python/apache_beam/io/avroio_test.py
  sdks/python/apache_beam/io/filebasedsource.py
  sdks/python/apache_beam/io/filesystem.py
  sdks/python/setup.py
Owners: @lgajowy, @kkucharc, @person3, @aaltay, @charlesccychen, @chamikaramj, @udim

Fix accidental license header javadoc comments
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rule/BeamCalcRule.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/schema/transform/BeamAggregationTransformTest.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

[BEAM-4606] Pin pytz version (#5751)
  sdks/python/setup.py
Owners: @aaltay, @charlesccychen, @person3

Add bundle-ready SQL shell using application plugin
  sdks/java/extensions/sql/shell/build.gradle
  settings.gradle
Owners: @lukecwik, @person2, @person3

Address code-review comments.
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/RowCoderGenerator.java
Owners: @lukecwik, @person2, @person3

Improve BigQuery write integration tests and support TIMESTAMP SQL type
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/meta/provider/bigquery/BigQueryWriteIT.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles, @lukecwik, @chamikaramj, @person3

[BEAM-4645] Cleanup docker images on failure
  sdks/python/container/run_validatescontainer.sh
Owners: @herohde, @aaltay, @charlesccychen

Run gofmt
  sdks/go/pkg/beam/artifact/materialize_test.go
  sdks/go/pkg/beam/core/runtime/harness/session/session.pb.go
  sdks/go/pkg/beam/create_test.go
Owners: @herohde, @person2, @person3

Subclass proper generic type, removing need for extra typecast.
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/GeneratedRowCoder.java
Owners: @lukecwik, @person2, @person3

Fix HTML error in ApproximateQuantiles
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/ApproximateQuantiles.java
Owners: @lukecwik, @person2, @person3

[BEAM-4661] Define well known timer URN.
  model/pipeline/src/main/proto/beam_runner_api.proto
Owners: @herohde, @robertwb, @lukecwik

Update Pre-commit job names tracked in precommit_job_times.ipynb
  .test-infra/jupyter/precommit_job_times.ipynb
Owners: @person1, @person2, @person3

Reduce stdout spam from BeamModulePlugin
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Owners: @lukecwik, @person2, @person3

Increase website job timeout to 100 by default
  .test-infra/jenkins/common_job_properties.groovy
Owners: @lgajowy, @kkucharc, @person3

Adding flinkMarterUrl as an option
  runners/flink/build.gradle
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkJobInvoker.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkJobServerDriver.java
Owners: @person1, @person2, @person3

Revert "improvements to fanout"
  sdks/python/apache_beam/transforms/core.py
Owners: @pabloem, @aaltay, @charlesccychen

Remove blanket website from rat and add appropriate exclusions.
  build.gradle
Owners: @lukecwik, @person2, @person3

improvements to fanout (#5800)
  sdks/python/apache_beam/transforms/core.py
Owners: @pabloem, @aaltay, @charlesccychen

Rename refactored Precommit source files to remove GradleBuild suffix.
  .test-infra/jenkins/job_PreCommit_Go.groovy
  .test-infra/jenkins/job_PreCommit_Java.groovy
  .test-infra/jenkins/job_PreCommit_Python.groovy
Owners: @lgajowy, @kkucharc, @person3

[BEAM-3261] Fix pipeline failures by waiting for logging server to be ready
  sdks/python/apache_beam/runners/worker/log_handler.py
  sdks/python/apache_beam/runners/worker/sdk_worker_main.py
Owners: @pabloem, @charlesccychen, @person3

Interactive runner and the corresponding tests
  sdks/python/apache_beam/runners/interactive/__init__.py
  sdks/python/apache_beam/runners/interactive/display_manager.py
  sdks/python/apache_beam/runners/interactive/interactive_pipeline_graph.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_graph.py
  sdks/python/setup.py
Owners: @pabloem, @charlesccychen, @person3, @aaltay

[BEAM-4744] Enable parallel publishing/release
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  examples/java/build.gradle
  model/fn-execution/build.gradle
  model/job-management/build.gradle
  model/pipeline/build.gradle
  runners/google-cloud-dataflow-java/examples-streaming/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/ReadTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/internal/CustomSources.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/internal/package-info.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/FnService.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/state/StateRequestHandlers.java
  sdks/java/extensions/sketching/src/main/java/org/apache/beam/sdk/extensions/sketching/package-info.java
  settings.gradle
Owners: @lukecwik, @person2, @person3, @aaltay, @herohde, @robertwb, @pabloem, @person1

[BEAM-4744] Enable parallel publishing/release
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  examples/java/build.gradle
  model/fn-execution/build.gradle
  model/job-management/build.gradle
  model/pipeline/build.gradle
  runners/google-cloud-dataflow-java/examples-streaming/build.gradle
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/ReadTranslator.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/internal/CustomSources.java
  runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/internal/package-info.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/FnService.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/state/StateRequestHandlers.java
  sdks/java/extensions/sketching/src/main/java/org/apache/beam/sdk/extensions/sketching/package-info.java
  settings.gradle
Owners: @lukecwik, @person2, @person3, @aaltay, @herohde, @robertwb, @pabloem, @person1

Interactive runner and corresponding tests
  sdks/python/apache_beam/runners/interactive/__init__.py
  sdks/python/apache_beam/runners/interactive/display_manager.py
  sdks/python/apache_beam/runners/interactive/interactive_pipeline_graph.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_graph.py
  sdks/python/setup.py
Owners: @pabloem, @charlesccychen, @person3, @aaltay

Interactive runner and corresponding tests
  sdks/python/apache_beam/runners/interactive/__init__.py
  sdks/python/apache_beam/runners/interactive/display_manager.py
  sdks/python/apache_beam/runners/interactive/interactive_pipeline_graph.py
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
  sdks/python/apache_beam/runners/interactive/pipeline_graph.py
  sdks/python/setup.py
Owners: @pabloem, @charlesccychen, @person3, @aaltay

Full tracking of Batch side inputs. Performance tests show no regression
  sdks/python/apache_beam/runners/worker/operations.py
  sdks/python/apache_beam/runners/worker/sideinputs.py
  sdks/python/apache_beam/runners/worker/sideinputs_test.py
Owners: @pabloem, @charlesccychen, @person3

[BEAM-4648] Remove experimental Python RPC DirectRunner (#5777)
  sdks/python/apache_beam/runners/experimental/__init__.py
  sdks/python/apache_beam/runners/experimental/python_rpc_direct/__init__.py
  sdks/python/apache_beam/runners/experimental/python_rpc_direct/python_rpc_direct_runner.py
  sdks/python/apache_beam/runners/experimental/python_rpc_direct/server.py
Owners: @pabloem, @charlesccychen, @person3

[BEAM-4648] Remove experimental Python RPC DirectRunner (#5777)
  sdks/python/apache_beam/runners/experimental/__init__.py
  sdks/python/apache_beam/runners/experimental/python_rpc_direct/__init__.py
  sdks/python/apache_beam/runners/experimental/python_rpc_direct/python_rpc_direct_runner.py
  sdks/python/apache_beam/runners/experimental/python_rpc_direct/server.py
Owners: @pabloem, @charlesccychen, @person3
