Repository apache/beam, changes with the owners that CODEOWNERS names for each.
All owners: @herohde, @person2, @person3, @lukecwik, @kennknowles, @aaltay, @pabloem, @robertwb, @charlesccychen, @person1, @chamikaramj, @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @aromanenko-dev, @jasonkuster, @swegner, @jbonofre, @timrobertson100, @lgajowy, @kkucharc, @melap, @udim

CODEOWNERS:

# This file is used for auto-assigning reviewers to PRs.
#
# The last matching rule wins. For details, see:
# https://help.github.com/articles/about-codeowners/

# Per-language reviewers.
*.go @herohde @person2 @person3
*.java @lukecwik @kennknowles @aaltay
*.py @pabloem @robertwb @aaltay @charlesccychen

# SDK components reviewers.
/sdks/go/ @herohde @person2 @person3

/sdks/java/ @aaltay @kennknowles @person3
/sdks/java/core @lukecwik @person2 @person3
/sdks/java/extensions @person1 @person2 @person3
/sdks/java/extensions/google-cloud-platform-core @lukecwik @chamikaramj @person3
/sdks/java/extensions/jackson @person1 @person2 @person3
/sdks/java/extensions/join-library @person1 @person2 @person3
/sdks/java/extensions/protobuf @person1 @person2 @person3
/sdks/java/extensions/sketching @person1 @person2 @person3
/sdks/java/extensions/sorter @person1 @person2 @person3
/sdks/java/extensions/sql @akedin @apilloud @amaliujia @XuMingmin @xumingming @kennknowles
/sdks/java/container @herohde @aaltay @person3
/sdks/java/fn-execution @lukecwik @person2 @person3
/sdks/java/nexmark @person1 @person2 @aromanenko-dev
/sdks/java/build-tools @jasonkuster @swegner @person3
/sdks/java/harness @lukecwik @person2 @person3
/sdks/java/io @jbonofre @lukecwik @chamikaramj @timrobertson100
/sdks/java/io/parquet @lgajowy @jbonofre @aromanenko-dev
/sdks/java/io/common @chamikaramj @timrobertson100 @person3
/sdks/java/io/file-based-io-tests @lgajowy @kkucharc @chamikaramj @timrobertson100
/sdks/java/io/elasticsearch-tests @timrobertson100 @person2 @person3
/sdks/java/io/amazon-web-services @person1 @person2 @person3
/sdks/java/io/google-cloud-platform @lukecwik @chamikaramj @person3
/sdks/java/io/hadoop-input-format @aromanenko-dev @timrobertson100 @person3
/sdks/java/io/solr @timrobertson100 @person2 @person3
/sdks/java/io/kinesis @aromanenko-dev @person2 @person3
/sdks/java/io/redis @jbonofre @person2 @person3
/sdks/java/io/mongodb @jbonofre @person2 @person3
/sdks/java/io/hcatalog @timrobertson100 @person2 @person3
/sdks/java/io/elasticsearch @jbonofre @timrobertson100 @person3
/sdks/java/io/jdbc @jbonofre @timrobertson100 @person3
/sdks/java/io/mqtt @jbonofre @person2 @person3
/sdks/java/io/hadoop-file-system @timrobertson100 @person2 @person3
/sdks/java/io/amqp @jbonofre @person2 @person3
/sdks/java/io/cassandra @jbonofre @person2 @person3
/sdks/java/io/tika @person1 @person2 @person3
/sdks/java/io/xml @person1 @person2 @person3
/sdks/java/io/kafka @person1 @person2 @person3
/sdks/java/io/jms @jbonofre @person2 @person3
/sdks/java/io/hbase @timrobertson100 @aromanenko-dev @person3
/sdks/java/io/hadoop-common @timrobertson100 @person2 @person3
/sdks/java/maven-archetypes @person1 @person2 @person3
/sdks/java/javadoc @melap @person2 @person3

/sdks/python/ @aaltay @charlesccychen @person3
/sdks/python/scripts @aaltay @person2 @person3
/sdks/python/container @herohde @aaltay @charlesccychen
/sdks/python/apache_beam/runners @pabloem @charlesccychen @person3
/sdks/python/apache_beam/utils @pabloem @charlesccychen @person3
/sdks/python/apache_beam/examples @aaltay @charlesccychen @person3
/sdks/python/apache_beam/internal @aaltay @charlesccychen @person3
/sdks/python/apache_beam/tools @pabloem @charlesccychen @person3
/sdks/python/apache_beam/coders @charlesccychen @person2 @person3
/sdks/python/apache_beam/portability @charlesccychen @robertwb @aaltay
/sdks/python/apache_beam/typehints @charlesccychen @person2 @person3
/sdks/python/apache_beam/options @pabloem @charlesccychen @person3
/sdks/python/apache_beam/transforms @pabloem @aaltay @charlesccychen
/sdks/python/apache_beam/testing @pabloem @aaltay @person3
/sdks/python/apache_beam/metrics @pabloem @aaltay @person3
/sdks/python/apache_beam/io @chamikaramj @aaltay @udim

# Build and test infrastructure reviewers.
/.github @person1 @person2 @person3
/.test-infra @lgajowy @person2 @person3
/.test-infra/jenkins @lgajowy @kkucharc @person3
/.test-infra/jupyter @person1 @person2 @person3
/.test-infra/kubernetes @lgajowy @kkucharc @person3
/buildSrc @lukecwik @person2 @person3
/gradle @lukecwik @person2 @person3
/release @jbonofre @person2 @person3
/release/src @person1 @person2 @person3
/website/.jenkins @person1 @person2 @person3
build.gradle @lukecwik @person2 @person3

# Even more components reviewers.
/runners @person1 @person2 @person3
/runners/samza @person1 @person2 @person3
/runners/gcp @pabloem @herohde @lukecwik @aaltay
/runners/apex @person1 @person2 @person3
/runners/core-java @lukecwik @person2 @person3
/runners/local-java @lukecwik @person2 @person3
/runners/java-fn-execution @lukecwik @person2 @person3
/runners/core-construction-java @lukecwik @person2 @person3
/runners/flink @person1 @person2 @person3
/runners/spark @jbonofre @person2 @person3
/runners/reference @lukecwik @person2 @person3
/runners/gearpump @person1 @person2 @person3
/runners/extensions-java @person1 @person2 @person3
/runners/google-cloud-dataflow-java @pabloem @lukecwik @person3
/runners/direct-java @lukecwik @person2 @person3

/examples @aaltay @person2 @person3
/examples/java @lukecwik @aaltay @person3

/model @herohde @lukecwik @person3
/model/fn-execution @herohde @robertwb @lukecwik
/model/job-management @herohde @robertwb @lukecwik
/model/pipeline @herohde @robertwb @lukecwik

/website @melap @timrobertson100 @person3
/website/src @melap @timrobertson100 @person3

[BEAM-4653] Add support to the Java SDK harness to execute timers.
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  sdks/java/harness/build.gradle
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataReadRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataWriteRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BoundedSourceRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/CombineRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/DoFnPTransformRunnerFactory.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FlattenRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/MapFnRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PTransformRunnerFactory.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/SplittableProcessElementsRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataReadRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataWriteRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BoundedSourceRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/CombineRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FlattenRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/MapFnRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
Owners: @lukecwik, @person2, @person3

[BEAM-4653] Add support to the Java SDK harness to execute timers.
  runners/core-java/src/main/java/org/apache/beam/runners/core/SimpleDoFnRunner.java
  sdks/java/harness/build.gradle
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataReadRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BeamFnDataWriteRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/BoundedSourceRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/CombineRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/DoFnPTransformRunnerFactory.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FlattenRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/FnApiDoFnRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/MapFnRunners.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/PTransformRunnerFactory.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/SplittableProcessElementsRunner.java
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/control/ProcessBundleHandler.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataReadRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BeamFnDataWriteRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/BoundedSourceRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/CombineRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FlattenRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FnApiDoFnRunnerTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/MapFnRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/control/ProcessBundleHandlerTest.java
Owners: @lukecwik, @person2, @person3

Adding Sources to produce Synthetic output for Batch pipelines
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/io/synthetic/build.gradle
  sdks/java/io/synthetic/src/main/java/org/apache/beam/sdk/io/synthetic/SyntheticBoundedIO.java
  sdks/java/io/synthetic/src/main/java/org/apache/beam/sdk/io/synthetic/SyntheticOptions.java
  sdks/java/io/synthetic/src/main/java/org/apache/beam/sdk/io/synthetic/SyntheticUtils.java
  sdks/java/io/synthetic/src/main/java/org/apache/beam/sdk/io/synthetic/package-info.java
  sdks/java/io/synthetic/src/test/java/org/apache/beam/sdk/io/synthetic/SyntheticBoundedIOTest.java
  sdks/python/apache_beam/testing/synthetic_pipeline.py
  sdks/python/apache_beam/testing/synthetic_pipeline_test.py
  sdks/python/scripts/generate_pydoc.sh
  sdks/python/setup.py
  settings.gradle
Owners: @lukecwik, @person2, @person3, @jbonofre, @chamikaramj, @timrobertson100, @pabloem, @aaltay, @charlesccychen

[SQL] Default timezone is UTC
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/JdbcDriver.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/JdbcDriverTest.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

[SQL] Default timezone is UTC
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/JdbcDriver.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/impl/JdbcDriverTest.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

Added a ref to BEAM-4755
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
  sdks/python/apache_beam/runners/interactive/interactive_runner_test.py
Owners: @pabloem, @charlesccychen, @person3

[BEAM-2915] Add support for handling bag user state to the java-fn-execution library to support runner integration.
  .gitignore
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/ExecutableStage.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/GreedyPCollectionFusers.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/GreedyStageFuser.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/ImmutableExecutableStage.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/OutputDeduplicator.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/QueryablePipeline.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/UserStateReference.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/ExecutableStageTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/GreedyStageFuserTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/ImmutableExecutableStageTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/OutputDeduplicatorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/functions/FlinkBatchSideInputHandlerFactoryTest.java
  runners/java-fn-execution/build.gradle
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/ProcessBundleDescriptors.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/state/StateRequestHandlers.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/state/StateRequestHandlersTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/TimeDomain.java
  settings.gradle
  vendor/sdks-java-extensions-protobuf/build.gradle
Owners: @herohde, @robertwb, @lukecwik, @person2, @person3, @person1

[BEAM-2915] Add support for handling bag user state to the java-fn-execution library to support runner integration.
  .gitignore
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/ExecutableStage.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/GreedyPCollectionFusers.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/GreedyStageFuser.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/ImmutableExecutableStage.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/OutputDeduplicator.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/QueryablePipeline.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/UserStateReference.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/ExecutableStageTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/GreedyStageFuserTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/ImmutableExecutableStageTest.java
  runners/core-construction-java/src/test/java/org/apache/beam/runners/core/construction/graph/OutputDeduplicatorTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/translation/functions/FlinkBatchSideInputHandlerFactoryTest.java
  runners/java-fn-execution/build.gradle
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/control/ProcessBundleDescriptors.java
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/state/StateRequestHandlers.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/control/RemoteExecutionTest.java
  runners/java-fn-execution/src/test/java/org/apache/beam/runners/fnexecution/state/StateRequestHandlersTest.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/state/TimeDomain.java
  settings.gradle
  vendor/sdks-java-extensions-protobuf/build.gradle
Owners: @herohde, @robertwb, @lukecwik, @person2, @person3, @person1

add testArithmeticOperator
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlDslSqlStdOperatorsTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/integrationtest/BeamSqlArithmeticOperatorsIntegrationTest.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

add testArithmeticOperator
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlDslSqlStdOperatorsTest.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/integrationtest/BeamSqlArithmeticOperatorsIntegrationTest.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

Wait on connection channel to be ready
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Owners: @pabloem, @charlesccychen, @person3

Wait on connection channel to be ready
  sdks/python/apache_beam/runners/worker/sdk_worker.py
Owners: @pabloem, @charlesccychen, @person3

Bumps Dataflow worker container version
  runners/google-cloud-dataflow-java/build.gradle
Owners: @pabloem, @lukecwik, @person3

Bumps Dataflow worker container version
  runners/google-cloud-dataflow-java/build.gradle
Owners: @pabloem, @lukecwik, @person3

[BEAM-4745, BEAM-4016] Reintroduces Setup and TearDown on SplitRestrictionFn and PairWithRestrictionFn
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/SplittableDoFnTest.java
Owners: @lukecwik, @person2, @person3

[BEAM-4745, BEAM-4016] Reintroduces Setup and TearDown on SplitRestrictionFn and PairWithRestrictionFn
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/SplittableDoFnTest.java
Owners: @lukecwik, @person2, @person3

CBO self cost calculations
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamAggregationRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamIOSinkRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamJoinRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamRelNode.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamUnionRel.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamValuesRel.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

simplify unbounded limit
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamEnumerableConverter.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

simplify unbounded limit
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamEnumerableConverter.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

[BEAM-4020] Add an HBaseIO read implementation based on SDF
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseCoderProviderRegistrar.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseQuery.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseQueryCoder.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseReadSplittableDoFn.java
Owners: @timrobertson100, @aromanenko-dev, @person3

[BEAM-4020] Add HBaseIO.readAll() based on SDF
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseIO.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/HBaseIOTest.java
Owners: @timrobertson100, @aromanenko-dev, @person3

[BEAM-4020] Add an HBaseIO read implementation based on SDF
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseCoderProviderRegistrar.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseQuery.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseQueryCoder.java
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseReadSplittableDoFn.java
Owners: @timrobertson100, @aromanenko-dev, @person3

[BEAM-4020] Add HBaseIO.readAll() based on SDF
  sdks/java/io/hbase/src/main/java/org/apache/beam/sdk/io/hbase/HBaseIO.java
  sdks/java/io/hbase/src/test/java/org/apache/beam/sdk/io/hbase/HBaseIOTest.java
Owners: @timrobertson100, @aromanenko-dev, @person3

This is just to run seed job again
  .test-infra/jenkins/job_00_seed.groovy
Owners: @lgajowy, @kkucharc, @person3

updated BoundedPubsubWriter to dynamically flush if queued messages exceed a pre-defined maximum batch byte size
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
Owners: @lukecwik, @chamikaramj, @person3

Added maxPublishBatchSize parameter to PubsubBoundedWriter class.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
Owners: @lukecwik, @chamikaramj, @person3

updated UnboundedPubsubSink to accept new parameters.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
Owners: @lukecwik, @chamikaramj, @person3

updated UnboundedPubsubSink to accept new parameters.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
Owners: @lukecwik, @chamikaramj, @person3

Added maxPublishBatchSize parameter to PubsubBoundedWriter class.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
Owners: @lukecwik, @chamikaramj, @person3

Resolve merging conflicts
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
Owners: @lukecwik, @chamikaramj, @person3

Resolve merging conflicts
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubUnboundedSink.java
Owners: @lukecwik, @chamikaramj, @person3

updated BoundedPubsubWriter to dynamically flush if queued messages exceed a pre-defined maximum batch byte size
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java
Owners: @lukecwik, @chamikaramj, @person3

[BEAM-4691] Rename common_job_properties
  .test-infra/jenkins/CommonJobProperties.groovy
  .test-infra/jenkins/PostcommitJobBuilder.groovy
  .test-infra/jenkins/PrecommitJobBuilder.groovy
  .test-infra/jenkins/job_Dependency_Check.groovy
  .test-infra/jenkins/job_Inventory.groovy
  .test-infra/jenkins/job_PerformanceTests_Dataflow.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT_HDFS.groovy
  .test-infra/jenkins/job_PerformanceTests_HadoopInputFormat.groovy
  .test-infra/jenkins/job_PerformanceTests_JDBC.groovy
  .test-infra/jenkins/job_PerformanceTests_MongoDBIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_Spark.groovy
  .test-infra/jenkins/job_PostCommit_Go_GradleBuild.groovy
  .test-infra/jenkins/job_PostCommit_Java_GradleBuild.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Direct.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Spark.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Apex.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Gearpump.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Samza.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Spark.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesContainer_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_Verify.groovy
  .test-infra/jenkins/job_PostRelease_NightlySnapshot.groovy
  .test-infra/jenkins/job_PreCommit_Website_Merge.groovy
  .test-infra/jenkins/job_PreCommit_Website_Stage.groovy
  .test-infra/jenkins/job_PreCommit_Website_Test.groovy
  .test-infra/jenkins/job_ReleaseCandidate_Python.groovy
  .test-infra/jenkins/job_Release_Gradle_NightlySnapshot.groovy
  .test-infra/jenkins/job_beam_PerformanceTests_Analysis.groovy
Owners: @lgajowy, @kkucharc, @person3

[BEAM-4691] Rename common_job_properties
  .test-infra/jenkins/CommonJobProperties.groovy
  .test-infra/jenkins/PostcommitJobBuilder.groovy
  .test-infra/jenkins/PrecommitJobBuilder.groovy
  .test-infra/jenkins/job_Dependency_Check.groovy
  .test-infra/jenkins/job_Inventory.groovy
  .test-infra/jenkins/job_PerformanceTests_Dataflow.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT_HDFS.groovy
  .test-infra/jenkins/job_PerformanceTests_HadoopInputFormat.groovy
  .test-infra/jenkins/job_PerformanceTests_JDBC.groovy
  .test-infra/jenkins/job_PerformanceTests_MongoDBIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_Spark.groovy
  .test-infra/jenkins/job_PostCommit_Go_GradleBuild.groovy
  .test-infra/jenkins/job_PostCommit_Java_GradleBuild.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Direct.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_Nexmark_Spark.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Apex.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Gearpump.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Samza.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Spark.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesContainer_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_Verify.groovy
  .test-infra/jenkins/job_PostRelease_NightlySnapshot.groovy
  .test-infra/jenkins/job_PreCommit_Website_Merge.groovy
  .test-infra/jenkins/job_PreCommit_Website_Stage.groovy
  .test-infra/jenkins/job_PreCommit_Website_Test.groovy
  .test-infra/jenkins/job_ReleaseCandidate_Python.groovy
  .test-infra/jenkins/job_Release_Gradle_NightlySnapshot.groovy
  .test-infra/jenkins/job_beam_PerformanceTests_Analysis.groovy
Owners: @lgajowy, @kkucharc, @person3

[BEAM-4622] Makes required to call Beam SQL expressions validation
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/BeamSqlFnExecutor.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/map/BeamSqlMapExpression.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/reinterpret/BeamSqlReinterpretExpression.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlMapTest.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

[BEAM-4622] Makes required to call Beam SQL expressions validation
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/BeamSqlFnExecutor.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/map/BeamSqlMapExpression.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/reinterpret/BeamSqlReinterpretExpression.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlMapTest.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

Check number of arguments at first
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/reinterpret/BeamSqlReinterpretExpression.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

Check number of arguments at first
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/reinterpret/BeamSqlReinterpretExpression.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

[BEAM-4764] Fix missing reference to project to be able to refer to the zipTree method.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Owners: @lukecwik, @person2, @person3

[BEAM-4764] Fix missing reference to project to be able to refer to the zipTree method.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
Owners: @lukecwik, @person2, @person3
