Repository apache/beam, changes with the owners that CODEOWNERS names for each.
All owners: @herohde, @person2, @person3, @lukecwik, @kennknowles, @aaltay, @pabloem, @robertwb, @charlesccychen, @person1, @chamikaramj, @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @aromanenko-dev, @jasonkuster, @swegner, @jbonofre, @timrobertson100, @lgajowy, @kkucharc, @melap, @udim

CODEOWNERS:

# This file is used for auto-assigning reviewers to PRs.
#
# The last matching rule wins. For details, see:
# https://help.github.com/articles/about-codeowners/

# Per-language reviewers.
*.go @herohde @person2 @person3
*.java @lukecwik @kennknowles @aaltay
*.py @pabloem @robertwb @aaltay @charlesccychen

# SDK components reviewers.
/sdks/go/ @herohde @person2 @person3

/sdks/java/ @aaltay @kennknowles @person3
/sdks/java/core @lukecwik @person2 @person3
/sdks/java/extensions @person1 @person2 @person3
/sdks/java/extensions/google-cloud-platform-core @lukecwik @chamikaramj @person3
/sdks/java/extensions/jackson @person1 @person2 @person3
/sdks/java/extensions/join-library @person1 @person2 @person3
/sdks/java/extensions/protobuf @person1 @person2 @person3
/sdks/java/extensions/sketching @person1 @person2 @person3
/sdks/java/extensions/sorter @person1 @person2 @person3
/sdks/java/extensions/sql @akedin @apilloud @amaliujia @XuMingmin @xumingming @kennknowles
/sdks/java/container @herohde @aaltay @person3
/sdks/java/fn-execution @lukecwik @person2 @person3
/sdks/java/nexmark @person1 @person2 @aromanenko-dev
/sdks/java/build-tools @jasonkuster @swegner @person3
/sdks/java/harness @lukecwik @person2 @person3
/sdks/java/io @jbonofre @lukecwik @chamikaramj @timrobertson100
/sdks/java/io/parquet @lgajowy @jbonofre @aromanenko-dev
/sdks/java/io/common @chamikaramj @timrobertson100 @person3
/sdks/java/io/file-based-io-tests @lgajowy @kkucharc @chamikaramj @timrobertson100
/sdks/java/io/elasticsearch-tests @timrobertson100 @person2 @person3
/sdks/java/io/amazon-web-services @person1 @person2 @person3
/sdks/java/io/google-cloud-platform @lukecwik @chamikaramj @person3
/sdks/java/io/hadoop-input-format @aromanenko-dev @timrobertson100 @person3
/sdks/java/io/solr @timrobertson100 @person2 @person3
/sdks/java/io/kinesis @aromanenko-dev @person2 @person3
/sdks/java/io/redis @jbonofre @person2 @person3
/sdks/java/io/mongodb @jbonofre @person2 @person3
/sdks/java/io/hcatalog @timrobertson100 @person2 @person3
/sdks/java/io/elasticsearch @jbonofre @timrobertson100 @person3
/sdks/java/io/jdbc @jbonofre @timrobertson100 @person3
/sdks/java/io/mqtt @jbonofre @person2 @person3
/sdks/java/io/hadoop-file-system @timrobertson100 @person2 @person3
/sdks/java/io/amqp @jbonofre @person2 @person3
/sdks/java/io/cassandra @jbonofre @person2 @person3
/sdks/java/io/tika @person1 @person2 @person3
/sdks/java/io/xml @person1 @person2 @person3
/sdks/java/io/kafka @person1 @person2 @person3
/sdks/java/io/jms @jbonofre @person2 @person3
/sdks/java/io/hbase @timrobertson100 @aromanenko-dev @person3
/sdks/java/io/hadoop-common @timrobertson100 @person2 @person3
/sdks/java/maven-archetypes @person1 @person2 @person3
/sdks/java/javadoc @melap @person2 @person3

/sdks/python/ @aaltay @charlesccychen @person3
/sdks/python/scripts @aaltay @person2 @person3
/sdks/python/container @herohde @aaltay @charlesccychen
/sdks/python/apache_beam/runners @pabloem @charlesccychen @person3
/sdks/python/apache_beam/utils @pabloem @charlesccychen @person3
/sdks/python/apache_beam/examples @aaltay @charlesccychen @person3
/sdks/python/apache_beam/internal @aaltay @charlesccychen @person3
/sdks/python/apache_beam/tools @pabloem @charlesccychen @person3
/sdks/python/apache_beam/coders @charlesccychen @person2 @person3
/sdks/python/apache_beam/portability @charlesccychen @robertwb @aaltay
/sdks/python/apache_beam/typehints @charlesccychen @person2 @person3
/sdks/python/apache_beam/options @pabloem @charlesccychen @person3
/sdks/python/apache_beam/transforms @pabloem @aaltay @charlesccychen
/sdks/python/apache_beam/testing @pabloem @aaltay @person3
/sdks/python/apache_beam/metrics @pabloem @aaltay @person3
/sdks/python/apache_beam/io @chamikaramj @aaltay @udim

# Build and test infrastructure reviewers.
/.github @person1 @person2 @person3
/.test-infra @lgajowy @person2 @person3
/.test-infra/jenkins @lgajowy @kkucharc @person3
/.test-infra/jupyter @person1 @person2 @person3
/.test-infra/kubernetes @lgajowy @kkucharc @person3
/buildSrc @lukecwik @person2 @person3
/gradle @lukecwik @person2 @person3
/release @jbonofre @person2 @person3
/release/src @person1 @person2 @person3
/website/.jenkins @person1 @person2 @person3
build.gradle @lukecwik @person2 @person3

# Even more components reviewers.
/runners @person1 @person2 @person3
/runners/samza @person1 @person2 @person3
/runners/gcp @pabloem @herohde @lukecwik @aaltay
/runners/apex @person1 @person2 @person3
/runners/core-java @lukecwik @person2 @person3
/runners/local-java @lukecwik @person2 @person3
/runners/java-fn-execution @lukecwik @person2 @person3
/runners/core-construction-java @lukecwik @person2 @person3
/runners/flink @person1 @person2 @person3
/runners/spark @jbonofre @person2 @person3
/runners/reference @lukecwik @person2 @person3
/runners/gearpump @person1 @person2 @person3
/runners/extensions-java @person1 @person2 @person3
/runners/google-cloud-dataflow-java @pabloem @lukecwik @person3
/runners/direct-java @lukecwik @person2 @person3

/examples @aaltay @person2 @person3
/examples/java @lukecwik @aaltay @person3

/model @herohde @lukecwik @person3
/model/fn-execution @herohde @robertwb @lukecwik
/model/job-management @herohde @robertwb @lukecwik
/model/pipeline @herohde @robertwb @lukecwik

/website @melap @timrobertson100 @person3
/website/src @melap @timrobertson100 @person3

[BEAM-4764] Fix java precommit to ensure that any checks in model/* are run.
  build.gradle
Owners: @lukecwik, @person2, @person3

[BEAM-4764] Fix java precommit to ensure that any checks in model/* are run.
  build.gradle
Owners: @lukecwik, @person2, @person3

[BEAM-3940] Remove reference to updating container version in pom.xml
  website/src/contribute/release-guide.md
Owners: @melap, @timrobertson100, @person3

Fix typos in mobile gaming example
  website/src/get-started/mobile-gaming-example.md
Owners: @melap, @timrobertson100, @person3

Fix typos in programming guide
  website/src/documentation/programming-guide.md
Owners: @melap, @timrobertson100, @person3

[SQL] Apply JDBC rules globally
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/JdbcDriver.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

[SQL] Apply JDBC rules globally
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/JdbcDriver.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

Add a small benchmark for metrics
  sdks/go/pkg/beam/core/metrics/metrics.go
  sdks/go/pkg/beam/core/metrics/metrics_test.go
  sdks/go/pkg/beam/metrics.go
Owners: @herohde, @person2, @person3

Add a small benchmark for metrics
  sdks/go/pkg/beam/core/metrics/metrics.go
  sdks/go/pkg/beam/core/metrics/metrics_test.go
  sdks/go/pkg/beam/metrics.go
Owners: @herohde, @person2, @person3

Avoid redundant computation when invoking ProcessElements in ParDo execution node.
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/pardo_test.go
Owners: @herohde, @person2, @person3

Avoid redundant computation when invoking ProcessElements in ParDo execution node.
  sdks/go/pkg/beam/core/runtime/exec/fn.go
  sdks/go/pkg/beam/core/runtime/exec/fn_test.go
  sdks/go/pkg/beam/core/runtime/exec/pardo.go
  sdks/go/pkg/beam/core/runtime/exec/pardo_test.go
Owners: @herohde, @person2, @person3

Add support for newer dill dependency
  sdks/python/apache_beam/internal/pickler.py
  sdks/python/setup.py
Owners: @aaltay, @charlesccychen, @person3

Use getattr instead of hasattr
  sdks/python/apache_beam/internal/pickler.py
Owners: @aaltay, @charlesccychen, @person3

fix lint error
  sdks/python/apache_beam/internal/pickler.py
Owners: @aaltay, @charlesccychen, @person3

Removed round trip through the runner API
  sdks/python/apache_beam/runners/interactive/interactive_runner.py
Owners: @pabloem, @charlesccychen, @person3

Changes SDF key type again to bytes
  runners/apex/src/main/java/org/apache/beam/runners/apex/translation/operators/ApexParDoOperator.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/DoFnRunners.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/ProcessFnRunner.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SplittableParDoViaKeyedWorkItems.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/SplittableParDoProcessFnTest.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/SplittableProcessElementsEvaluatorFactory.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/portable/SplittableRemoteStageEvaluatorFactory.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/SplittableDoFnOperator.java
Owners: @person1, @person2, @person3, @lukecwik

Changes SDF key type again to bytes
  runners/apex/src/main/java/org/apache/beam/runners/apex/translation/operators/ApexParDoOperator.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/SplittableParDo.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/DoFnRunners.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/ProcessFnRunner.java
  runners/core-java/src/main/java/org/apache/beam/runners/core/SplittableParDoViaKeyedWorkItems.java
  runners/core-java/src/test/java/org/apache/beam/runners/core/SplittableParDoProcessFnTest.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/SplittableProcessElementsEvaluatorFactory.java
  runners/direct-java/src/main/java/org/apache/beam/runners/direct/portable/SplittableRemoteStageEvaluatorFactory.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/SplittableDoFnOperator.java
Owners: @person1, @person2, @person3, @lukecwik

Warn on docker image pull fail
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/DockerCommand.java
Owners: @lukecwik, @person2, @person3

Warn on docker image pull fail
  runners/java-fn-execution/src/main/java/org/apache/beam/runners/fnexecution/environment/DockerCommand.java
Owners: @lukecwik, @person2, @person3

[BEAM-4718]Run gradle build before publish
  .test-infra/jenkins/job_Release_Gradle_NightlySnapshot.groovy
Owners: @lgajowy, @kkucharc, @person3

Fix bug in java mobile gaming example
  examples/java/src/main/java/org/apache/beam/examples/complete/game/LeaderBoard.java
Owners: @lukecwik, @aaltay, @person3

Fix bug in java mobile gaming example
  examples/java/src/main/java/org/apache/beam/examples/complete/game/LeaderBoard.java
Owners: @lukecwik, @aaltay, @person3

Filter pre-commit triggering based on touched files
  .test-infra/jenkins/PrecommitJobBuilder.groovy
  .test-infra/jenkins/common_job_properties.groovy
  .test-infra/jenkins/job_PreCommit_Go_GradleBuild.groovy
  .test-infra/jenkins/job_PreCommit_Java_GradleBuild.groovy
  .test-infra/jenkins/job_PreCommit_Python_GradleBuild.groovy
Owners: @lgajowy, @kkucharc, @person3

[BEAM-4602][BEAM-4598] Date type comparison
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/comparison/BeamSqlCompareExpression.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/comparison/BeamSqlEqualsExpression.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/comparison/BeamSqlGreaterThanExpression.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/comparison/BeamSqlGreaterThanOrEqualsExpression.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/comparison/BeamSqlLessThanExpression.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/comparison/BeamSqlLessThanOrEqualsExpression.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/comparison/BeamSqlLikeExpression.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/interpreter/operator/comparison/BeamSqlNotEqualsExpression.java
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/schema/BeamTableUtils.java
  sdks/java/extensions/sql/src/test/java/org/apache/beam/sdk/extensions/sql/BeamSqlDslSqlStdOperatorsTest.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

Add checkstyle validation to ban usage of @SuppressFBWarnings.
  sdks/java/build-tools/src/main/resources/beam/checkstyle.xml
Owners: @jasonkuster, @swegner, @person3

Remove unused previous names
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Samza.groovy
Owners: @lgajowy, @kkucharc, @person3

[BEAM-4640] Samza runner postcommit ValidatesRunner job
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Samza.groovy
Owners: @lgajowy, @kkucharc, @person3

Fix maven build part 9
  runners/reference/java/pom.xml
Owners: @lukecwik, @person2, @person3

[SQL] Don't wait on Unbounded PCollections
  sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/rel/BeamEnumerableConverter.java
Owners: @akedin, @apilloud, @amaliujia, @XuMingmin, @xumingming, @kennknowles

Removing debug string from UserScore.java
  examples/java/src/main/java/org/apache/beam/examples/complete/game/UserScore.java
Owners: @lukecwik, @aaltay, @person3

Apply rename of JobBuilder to Samza VR job
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Samza.groovy
Owners: @lgajowy, @kkucharc, @person3

improvements to fanout
  sdks/python/apache_beam/transforms/core.py
Owners: @pabloem, @aaltay, @charlesccychen

replace byte[] with String as Map key.
  sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryUtils.java
Owners: @lukecwik, @chamikaramj, @person3

Enable failOnWarnings for all projects.
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  runners/flink/job-server/build.gradle
  runners/google-cloud-dataflow-java/examples-streaming/build.gradle
  runners/google-cloud-dataflow-java/examples/build.gradle
  sdks/java/core/build.gradle
Owners: @lukecwik, @person2, @person3, @person1, @pabloem

Split pre-commit tests into separate jobs based on trigger condition.
  .test-infra/jenkins/PostcommitJobBuilder.groovy
  .test-infra/jenkins/PrecommitJobBuilder.groovy
  .test-infra/jenkins/job_PostCommit_Go_GradleBuild.groovy
  .test-infra/jenkins/job_PostCommit_Java_GradleBuild.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Apex.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Flink.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Gearpump.groovy
  .test-infra/jenkins/job_PostCommit_Java_ValidatesRunner_Spark.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesContainer_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_ValidatesRunner_Dataflow.groovy
  .test-infra/jenkins/job_PostCommit_Python_Verify.groovy
  .test-infra/jenkins/job_PreCommit_Go_GradleBuild.groovy
  .test-infra/jenkins/job_PreCommit_Java_GradleBuild.groovy
  .test-infra/jenkins/job_PreCommit_Python_GradleBuild.groovy
Owners: @lgajowy, @kkucharc, @person3

[BEAM-4615] Flink job server wrapper and shadow jar
  runners/flink/job-server/build.gradle
  settings.gradle
Owners: @person1, @person2, @person3

Rename setPostCommit to setAutoJob
  .test-infra/jenkins/PostcommitJobBuilder.groovy
  .test-infra/jenkins/PrecommitJobBuilder.groovy
  .test-infra/jenkins/common_job_properties.groovy
  .test-infra/jenkins/job_Dependency_Check.groovy
  .test-infra/jenkins/job_PerformanceTests_Dataflow.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_FileBasedIO_IT_HDFS.groovy
  .test-infra/jenkins/job_PerformanceTests_HadoopInputFormat.groovy
  .test-infra/jenkins/job_PerformanceTests_JDBC.groovy
  .test-infra/jenkins/job_PerformanceTests_MongoDBIO_IT.groovy
  .test-infra/jenkins/job_PerformanceTests_Python.groovy
  .test-infra/jenkins/job_PerformanceTests_Spark.groovy
  .test-infra/jenkins/job_PostRelease_NightlySnapshot.groovy
  .test-infra/jenkins/job_Release_Gradle_NightlySnapshot.groovy
  .test-infra/jenkins/job_beam_PerformanceTests_Analysis.groovy
Owners: @lgajowy, @kkucharc, @person3

[BEAM-2937] Comment Combine Grouped Values URN.
  model/pipeline/src/main/proto/beam_runner_api.proto
Owners: @herohde, @robertwb, @lukecwik

[BEAM-2973] Moving CombineValues URN to different enum.
  model/pipeline/src/main/proto/beam_runner_api.proto
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/graph/PipelineValidator.java
  sdks/python/apache_beam/transforms/core.py
Owners: @herohde, @robertwb, @lukecwik, @person2, @person3, @pabloem, @aaltay, @charlesccychen

[BEAM-3708] Adding Combine component implementations to Java SDK
  sdks/java/harness/src/main/java/org/apache/beam/fn/harness/CombineRunners.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/CombineRunnersTest.java
  sdks/java/harness/src/test/java/org/apache/beam/fn/harness/FlattenRunnerTest.java
Owners: @lukecwik, @person2, @person3
